[raw]
<!-- <div class="_js-robot _image-anim" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 300;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/flower.jpg);background-size: cover; background-position: center; position: fixed;">
    <div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
      <div class="white bold font-verdana center" style="margin: 0 auto;float: right;">
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Привет!</span>
        </p>
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Я&nbsp;<span class="font-arial normal">–</span> сайт.</span>
        </p>
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Я живой!!!</span>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold clearfix" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Мои дорогие,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">здравствуйте!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white left font-verdana bold" style="font-size:44px; margin: 0 0 0 0; line-height: 54px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Я&nbsp;– НЕ&nbsp;&nbsp;репетитор.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 200px;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;педагог.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 400px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;психолог.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 600px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;доктор наук.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 800px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;профессор.</span></span></span>
                </p>
              </div>
              <p class="white center font-verdana normal" style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">(Хотя все эти дипломы у&nbsp;меня есть)</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div> -->


      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Я&nbsp;– НЕ&nbsp;&nbsp;репетитор.</span></span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">НЕ&nbsp;&nbsp;педагог.</span></span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">НЕ&nbsp;&nbsp;психолог.</span></span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">НЕ&nbsp;&nbsp;доктор наук.</span></span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">НЕ&nbsp;&nbsp;профессор.</span></span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="white font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Хотя все эти дипломы у&nbsp;меня есть!</span></span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Я&nbsp;– Волшебница.</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Самая настоящая!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Неужели вы в&nbsp;самом деле думаете,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">что нас, волшебников, нет?!!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Так вот. Я&nbsp;– ЕСТЬ!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">У&nbsp;меня есть Волшебная палочка,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">перевитая голубым и&nbsp;белым.</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Я&nbsp;прикасаюсь её золотым кончиком</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">к&nbsp;вашей голове и&nbsp;– ГОТОВО!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Всё, что надо&nbsp;– русский, английский,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">чтение, речь&nbsp;– уже ТАМ,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">у&nbsp;вас в&nbsp;голове!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">А&nbsp;что&nbsp;же мы делаем с&nbsp;вами</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">в&nbsp;оставшееся время?</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;display: inherit;list-style-type: disc;list-style-position: inside;">Пьём чай с&nbsp;конфетами.</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Играем в&nbsp;мяч. Вы будете команда&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">и&nbsp;я&nbsp;команда.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Чья команда победит,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">та и&nbsp;получит приз!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Потом ещё играем в&nbsp;другие игры.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Тоже на&nbsp;приз.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">И&nbsp;все призы&nbsp;– волшебные!</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Потом кушаем суши. Или пиццу.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Как захочется.</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Рисуем. Клеим картинки.</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Кормим с&nbsp;руки диких птиц.</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Смотрим на&nbsp;мою звезду в&nbsp;небе.</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Смеёмся!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 150px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">И&nbsp;вот так проходят все три часа.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Ведь здесь у&nbsp;меня школа волшебников&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">для детей и взрослых!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Вам надо только загадать желание.</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Например...</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold left" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Хочется русский,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 200px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">безупречную грамотность?&nbsp;–</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Запросто!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Красивый почерк?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Пожалуйста!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Чтобы запятые, двоеточия и&nbsp;тире</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">сами прыгали на&nbsp;место?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">С&nbsp;удовольствием!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Писать без ошибок трудные слова?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Сделаем!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold left" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Точное,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 150px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">осмысленное,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 300px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">беглое чтение?&nbsp;–</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Что может быть проще!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold left" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">На высший балл</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 300px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">сдать ГИА, ЕГЭ, ОГЭ?&nbsp;–</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Само собой!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Стать внимательнее, собраннее,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">усидчивее?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Ещё&nbsp;бы!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Безупречно писать диктанты?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Будет исполнено!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Красивую, интонированную речь?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Легче лёгкого!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Научиться писать сочинения,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">изложения, сказки?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">А&nbsp;то!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Немного английского?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string italic" style="display: inherit;line-height: 68px;">No&nbsp;problem!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Снять всякие страхи?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">А&nbsp;мы их прогоним!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Пролечить <span class="tag">школьный</span> невроз,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">дислексию, дисграфию?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Да&nbsp;на&nbsp;здоровье!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Улучшить характер?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Не&nbsp;повредит!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Легко и охотно делать</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">домашние задания?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Разумеется!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Учиться в&nbsp;школе</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">на&nbsp;одни пятёрки?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Чики‑чик, готово!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Правда&nbsp;ли&nbsp;то, что я&nbsp;обещаю?</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Конечно.</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:50px; margin: 0 0 0 0; line-height: 58px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 58px;">Потому что в&nbsp;мудрой пословице говорится:</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;"><span class="tag">Кто хвалится&nbsp;– тот с&nbsp;горы свалится!</span></span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">А&nbsp;я мастер спорта по&nbsp;альпинизму.</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 250px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Раз ещё не&nbsp;свалилась&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">значит, говорю правду!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Хочется чуда?</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:120px; margin: 0 0 30px 0; line-height: 128px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 128px;">ЧУДО БУДЕТ!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 50px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:80px; margin: 0 0 30px 0; line-height: 88px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">А&nbsp;сейчас</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">приготовьтесь</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">и&nbsp;смотрите</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">внимательно!!!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style scoped>
.b-dot-in-text {
    font-size: 20px;
    vertical-align: middle;
}
@media screen and (max-device-width: 700px) {
  .b-dot-in-text {
      font-size: 40px;
  }
}
</style>
[/raw]