[raw]
<!-- <div class="_js-robot _image-anim" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 300;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/flower.jpg);background-size: cover; background-position: center; position: fixed;">
    <div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
      <div class="white bold font-verdana center" style="margin: 0 auto;float: right;">
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Привет!</span>
        </p>
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Я&nbsp;<span class="font-arial normal">–</span> сайт.</span>
        </p>
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Я живой!!!</span>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold clearfix" style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Мои дорогие, здравствуйте!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="margin: 0 auto 30px">
                <p class="gold left font-verdana bold" style="font-size:30px; margin: 0 0 0 0; line-height: 26px; display: inline-block;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Я&nbsp;– НЕ&nbsp;&nbsp;репетитор.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 82px;white-space: nowrap; display: inline-block"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;педагог.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 114px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;психолог.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 144px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;доктор наук.</span></span></span><br>
                  <span class="animate-desc-parent left" style="margin: 0 0 0 174px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">НЕ&nbsp;&nbsp;профессор.</span></span></span>
                </p>
              </div>
              <p class="gold center font-verdana normal" style="font-size:30px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">(Хотя все эти дипломы у&nbsp;меня есть)</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Я&nbsp;– Волшебница. Самая настоящая.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Неужели вы в&nbsp;самом деле думаете,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">что нас, волшебников, нет?!!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Так вот. Я&nbsp;– ЕСТЬ!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">У&nbsp;меня есть Волшебная палочка,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">перевитая голубым и&nbsp;белым.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Я&nbsp;прикасаюсь её золотым кончиком</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">к&nbsp;вашей голове и&nbsp;– ГОТОВО!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Всё, что надо&nbsp;– безупречная грамотность,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">русский, английский, сочинения,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">изложения, ГИА, ЕГЭ, ОГЭ&nbsp;– уже там!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 150px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Вам надо только загадать желание.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Чур, уговор! За&nbsp;один сеанс&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">лишь одно желание.</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Например:</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Хочется безупречную грамотность?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Запросто!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Углублённое изучение</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">русского языка?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Что может быть проще!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Написать идеально</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">сочинение, изложение?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">А&nbsp;то!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Блистательно поставить</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">английскую грамматику?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string italic" style="display: inherit;line-height: 49px;">No&nbsp;problem!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Красивый почерк?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Пожалуйста!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> ГИА, ЕГЭ, ОГЭ‑комплекс?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Будет исполнено!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> ГИА, ЕГЭ, ОГЭ‑экспресс?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Не&nbsp;вопрос!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Пошаговую вдумчивую подготовку?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Мудрое решение!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Обзорные занятия</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">по&nbsp;выбранным темам?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Легче лёгкого!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Повысить выносливость,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">работоспособность?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Обязательно!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Стать внимательнее, собраннее?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Ещё&nbsp;бы!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Снять всякие страхи?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">А&nbsp;мы их прогоним!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Сделать всё это срочно,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">немедленно?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Быстрее молнии!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Получить высший балл?&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Чики‑чик, готово!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">А&nbsp;что&nbsp;же мы делаем с&nbsp;Вами</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">в&nbsp;оставшееся время?</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;display: inherit;list-style-type: disc;list-style-position: inside;"><span class="b-dot-in-text">•</span> Пьём чай с&nbsp;конфетами.</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Играем в&nbsp;мяч. Вы будете команда&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">и&nbsp;я&nbsp;команда.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Чья команда победит,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">та и&nbsp;получит приз!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Потом ещё играем в&nbsp;другие игры.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Тоже на&nbsp;приз.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">И&nbsp;все призы&nbsp;– волшебные!</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Потом кушаем суши. Или пиццу.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Как захочется.</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Рисуем. Клеим картинки.</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Кормим с&nbsp;руки диких птиц.</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Смотрим на&nbsp;мою звезду в&nbsp;небе.</span></span></span>
              </p>
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="b-dot-in-text">•</span> Смеёмся!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 150px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">И&nbsp;вот так проходят все три часа.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Ведь здесь у&nbsp;меня школа</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">юных волшебников!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div> -->





      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 30px 0; line-height: 48px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Правда&nbsp;ли&nbsp;то, что я&nbsp;обещаю?</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Конечно. Потому что в&nbsp;мудрой</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">пословице говорится:</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;"><span class="tag">Кто хвалится&nbsp;– тот с&nbsp;горы свалится!</span></span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">А&nbsp;я&nbsp;мастер спорта по&nbsp;альпинизму.</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">Раз ещё не&nbsp;свалилась&nbsp;–</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 49px;">значит, говорю правду!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:60px; margin: 0 0 30px 0; line-height: 68px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 68px;">Хочется чуда? Берём!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:120px; margin: 0 0 30px 0; line-height: 128px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 128px;">ЧУДО БУДЕТ!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 50px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:80px; margin: 0 0 30px 0; line-height: 88px; display: block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">А&nbsp;сейчас</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">приготовьтесь</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">и&nbsp;смотрите,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">пожалуйста,</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 88px;">внимательно!!!</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style scoped>
.b-dot-in-text {
    font-size: 20px;
    vertical-align: middle;
}
@media screen and (max-device-width: 700px) {
  .b-dot-in-text {
      font-size: 40px;
  }
}
</style>
[/raw]