[raw]
<div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
  <div class="gold font-verdana" style="margin: 0 auto;">
    <p class="center bold" style="font-size: 3.4em;margin: 2.5em 0 0.4em; line-height: normal;">
      <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Врождённая грамотность</span>
    </p>
    <p class="center bold" style="font-size: 2em;margin: 0 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">12&nbsp;занятий&nbsp;– и&nbsp;ошибок нет!!!</span>
    </p>
    <p class="center bold" style="font-size: 1em;margin: 0 0 3em; line-height: 1.5em;">
      Ничего не&nbsp;надо зубрить.<br>
      Ни&nbsp;во&nbsp;что не&nbsp;надо вникать.<br>
      Лёгкость обучения и&nbsp;молниеносный успех!
    </p>
    <p class="center" style="font-size: 1.5em;margin: 0 0 0.85em 0"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 1em; margin: 0 1em 0;"><span class="white bold" style="">Добро&nbsp;пожаловать!</span></a></p>
    <p class="gold normal center font-verdana" style="font-size: 0.8em;margin: -0.4em 0 3.8em;line-height: normal">
      Кликните, пожалуйста, по&nbsp;клавише!
    </p>
    <ul class="" style="display:none; font-size: 1.5em; margin: 20em 0 2em 4em; line-height: normal;">
      <li style="margin-bottom: 1.167em;">Врождённая грамотность</li>
      <li style="margin-bottom: 1.167em;">Врождённая грамотность курсы</li>
      <li style="margin-bottom: 1.167em;">Школа врождённой грамотности</li>
      <li style="margin-bottom: 1.167em;">Школа врождённой грамотности москва</li>
      <li style="margin-bottom: 1.167em;">Курсы врождённой грамотности для школьников</li>
      <li style="margin-bottom: 1.167em;">Врождённая грамотность для школьников</li>
      <li style="margin-bottom: 1.167em;">Школа врождённой грамотности москва кузнецкий мост</li>
      <li>Метод врождённой грамотности</li>
    </ul>
  </div>
</div>
<div class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]