[raw]
<div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
  <div class="gold bold font-verdana center" style="margin: 0 auto;">
    <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Безграмотно пишем?</span>
    </p>
    <p style="font-size: 2em;margin: 0 0 0.4em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Плохо читаем?</span>
    </p>
    <p style="font-size: 2em;margin: 0 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Нет внимательности?</span>
    </p>
    <p style="font-size: 1.5em;margin: 0 0 2em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Один Волшебный сеанс&nbsp;– и&nbsp;беды нет!!!</span>
    </p>
    <div class="clearfix gold bold center font-verdana" style="font-size: 1.1em; margin: 0 0 3em; line-height: normal;">
      <div class="clearfix" style="margin: 0 auto; display: inline-block;">
        <div style="float: left">
          <p style="margin: 0 1em;">Без&nbsp;слёз<br>и&nbsp;зубрёжки</p>
        </div>
        <div style="float: left">
          <p style="margin: 0 1em;">В&nbsp;игре<br>с&nbsp;призами</p>
        </div>
        <div style="float: left">
          <p style="margin: 0 1em;">Уникальный<br>метод</p>
        </div>
        <div style="float: left">
          <p style="margin: 0 1em;">Супер&#8209;<br>эффект</p>
        </div>
      </div>
    </div>
    <p class="gold normal center font-verdana" style="font-size: 0.8em; margin: 0 0 0.85em; line-height: 1.5em;">
      <span class="italic">NL</span>&#8209;коррекция максимальной результативности за 1 сеанс
    </p>
    <p class="center" style="font-size: 1.5em;margin: 0 0 0.85em 0"><a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_predsavlenie; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 1em; margin: 0 1em 0;"><span class="white bold" style="">Давайте познакомимся!</span></a></p>
    <p class="gold normal center font-verdana" style="font-size: 0.8em;margin: -0.4em 0 3.8em;line-height: normal">
      Кликните, пожалуйста, по&nbsp;клавише!
    </p>
  </div>
</div>
<div class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]