<p class="yellow bold size-30 font-verdana center" style="margin: 10px 0 0 0;">
	Арт-терапия
</p>
<div style="width: 960px; height: 350px; padding-top: 45px;">
	<div style="width: 580px; height: 350px; float: left; margin: 0 0 0 -4px;">
		<div class="image-shadow-0" style="width: 580px; height: 334px;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/child.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div style="width: 370px; height: 350px; float: right; padding-right: 0px">
		<p class="blue font-verdana size-24 bold" style="margin: 110px 0 83px 0; line-height: 30px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 66px">Плохие чтение, речь?</span>
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 47px 0 4px 0;">
	Всего один Волшебный сеанс – и проблем нет!
</p>
<p class="yellow size-18 font-verdana center" style="margin: 0 0 41px 0;">
	Полностью игровой – от начала до конца! – уникальный нейролингвистический метод.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Сеанс длится 1-2 часа и предполагает небольшое домашнее задание-игру.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Помогает сеанс и двоечникам, и хорошистам,<br>
	которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 34px 0;">
	<span class="red">Результат:</span> успеваемость по всем гуманитарным предметам повышается на 1-2 балла.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 59px 0 83px 0;">
	Магия, зомбирование и ремень не применяются!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 33px 0;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 69px;">
	<span class="blue">Нейролингвистика</span> – это когда всё понятно и ни слова из <span class="tag">правил</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 69px;">
	<span class="blue">Нейролингвистика</span> – новая современная наука об усвоении информации человеческим<br>
	мозгом. Она родилась на стыке четырёх наук: педагогики, лингвистики (языкознания),<br>
	нейрофизиологии и психологии.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 69px;">
	<span class="blue">Нейролингвистика</span> опирается на вложенные в нас <span class="blue bold">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="red size-15 font-verdana" style="margin: 0 0 76px 69px; line-height: 18px;">
	Пожалуйста, не путайте нейролингвистику с НЛП –	нейролингвистическим программированием!
</p>
<div style="width: 960px; height: 585px;">
	<div style="width: 421px; height: 585px; float: right; margin: 0 55px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 421px; height: 569px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div style="width: 400px; height: 585px; float: left; margin: 0 0 0 78px">
		<p class="yellow size-24 font-verdana bold" style="margin: -4px 0 65px 0;">
			Нейролингвистика:
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 30px 0 22px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 51px 0 40px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 48px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 97px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 151px;">вот её суть!</span>
		</p>
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 62px 47px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-16 font-verdana" style="margin: 0 0 21px 0;">
			Вам нужен всего 1 сеанс.
		</p>
		<p class="red size-24 bold font-verdana center" style="margin: 0 62px 0 0;">
			Чудо будет!
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 80px 0 31px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 16px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 72px 53px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 22px;">
	<span class="blue bold">Метод</span> уникален и запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 22px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – это изобретение первое и пока единственное.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 45px 22px;">
	Международная экспертиза РСТ подтвердила, что оно <span class="red">не имеет аналогов в мире.</span>
</p>
<div style="width: 960px; height: 430px; padding-top: 18px;">
	<div style="width: 258px; height: 380px; float: left; margin: 0 74px 3px 180px; cursor: pointer;">
		<div class="image-shadow-0 in" style="width: 258px; height: 364px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>
		<div class="image-shadow-right-1" style="width: 129px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 129px;">
		</div>
	</div>
	<div style="width: 258px; height: 380px; float: right; margin: 0 190px 3px 0; cursor: pointer;">
		<div class="image-shadow-0 in" style="width: 258px; height: 363px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>
		<div class="image-shadow-right-1" style="width: 129px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 129px;">
		</div>
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 19px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретения.<br>
		<span class="light-blue">Для увеличения кликните по картинке.</span>
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 72px 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 29px 14px;">
	Высочайшее качество подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>.
</p>
<div style="width: 960px; height: 374px;">
	<div style="width: 417px; height: 305px; float: left; margin: 58px 0 0 124px; cursor: pointer;">
		<div class="image-shadow-0 in" style="width: 417px; height: 289px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div style="width: 250px; height: 370px; float: right; margin: 0 117px 0 0; cursor: pointer;">
		<div class="image-shadow-0 in" style="width: 250px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>
		<div class="image-shadow-right-1" style="width: 125px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 125px;">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 1px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="blue size-14 font-arial bold center" style="margin: 0 0 79px 0;">
	Для увеличения кликните по картинке.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 50px 0 0 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; border-bottom: 1px solid; color: #A98700;"><span class="yellow">Сеанс ведёт автор метода</span></a>
</p>
<p class="yellow bold size-18 font-verdana center line-height-23" style="margin: 0 0 32px 0;">
	доктор наук профессор<br>
	Ольга Олеговна Веровенко
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 83px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Благодарности, отзывы</span></a>
</p>
<div style="width: 640px; height: 444px; margin: 0 auto;">
	<div class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<iframe width="640" height="360" src="//www.youtube.com/embed/VtgsXELBKcY?autoplay=1&amp;loop=1&amp;playlist=VtgsXELBKcY&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="image-shadow-right-1">
	</div>
	<div class="image-shadow-left-1">
	</div>
	<p class="dark-blue size-14 bold font-arial center line-height-23" style="margin: 23px 0 17px 0;">
		Папа и сын. Сеанс <span class="tag">Арт-терапии</span>.
	</p>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 45px 0 0 0;">
	Стоимость
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 15px 0 0 0;">
	Обычная стоимость сеанса 20 000 рублей.
</p>
<p class="red bold size-18 font-verdana center" style="margin: 28px 0 0 0;">
	С учётом Рождественской скидки 50-75%:
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 12px 0 46px 0;">
	Дети до 12 лет – 5 000 рублей.<br>
	Остальные – 10 000 рублей.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 45px 40px;">
	<span class="blue bold">Обязательное условие</span><br>
	Скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<p class="blue size-24 font-verdana" style="margin: 0 0 2px 40px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Он лентяй или болен?</span></a> Вам это важно знать!
</p>
<p class="red bold size-24 font-verdana center" style="margin: 87px 0 0 0;">
	Горячая линия
</p>
<p class="blue bold size-30 font-verdana center" style="margin: 12px 0 16px 0;">
	8 (495) 765-2-555
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 45px 0;">
	с 12 до 23 часов без выходных
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 88px 0 19px 0;">
	А вообще-то у нас много чего есть
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 10px 0;">
	НЕВИДАННОГО-НЕСЛЫХАННОГО,
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 10px 0;">
	НЕЖДАННОГО-НЕГАДАННОГО,
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 109px 0;">
	РАДОСТНОГО, ЧУДЕСНОГО И УДИВИТЕЛЬНОГО.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 0 0 70px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>
































































































