<div class="div-wrapper">
	<p class="yellow size-48 font-lobster center" style="margin: 25px 0 0 0; position: relative; line-height: 38px; ">
		Рождественские Бонусы<br>
		<span class="red bold size-18">Уже действуют!</span>
	</p>
	<div style="width: 960px; height: 538px; padding: 44px 0 0 0;">
		<div style="width: 500px; height: 538px; float: left; margin: 0 0 0 0;">
			<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				1. <span class="tag">Нашим умничкам, красавцам и&nbsp;красавицам.</span>
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				Нашим выпускникам прошлых лет, учившимся на&nbsp;курсах <span class="tag red bold">Репетитор</span>. За&nbsp;28&nbsp;лет вас набралось более <span class="blue bold">ста тысяч</span> человек&nbsp;<span class="normal">–</span> население целого города! Мы&nbsp;вас помним и&nbsp;любим.
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				Вам, вашим детям и&nbsp;<span class="bold blue">внукам</span> Бонусная скидка <span class="red bold">75%</span> от&nbsp;Базовой стоимости.
			</p>
			<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				А&nbsp;далее добивайтесь <span class="blue bold">Бонуса 5</span>.
			</p>
			<p class="dark-blue bold size-14 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				Внимание! Информация легко проверяется.
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
				<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
			</p>
		</div>
		<div style="width: 400px; height: 538px; float: right; margin: 0 20px 0 0;">
			<div class="image-shadow-0" style="width: 400px; height: 522px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/rogdestvo/new-year.gif" width="100%" height="100%" alt="С наступающим Новым Годом">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		2. <span class="tag">Здоровье</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Взрослым и&nbsp;школьникам с&nbsp;коэффициентом концентрации внимания 120 (минимальная норма здоровья) и&nbsp;выше.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Судя по&nbsp;всему, у&nbsp;вас нет особых проблем со&nbsp;здоровьем. Дислексии, по&nbsp;крайней мере, у&nbsp;вас точно нет. Результат вашего обучения у&nbsp;нас будет ошеломительно радостным и&nbsp;молниеносным.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Вам Бонусная скидка <span class="red bold">75%</span> от&nbsp;Базовой стоимости.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		А&nbsp;далее добивайтесь <span class="blue bold">Бонуса 5</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Коэффициент концентрации внимания будет измерен во&nbsp;время сеанса <span class="blue bold">Диагностики и&nbsp;тестирования</span>. Для наших будущих студентов этот сеанс бесплатен.
	</p>
	<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 80px 10px 21px 25px;">
		3. <span class="tag">Небольшие проблемы</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Для учащихся с&nbsp;небольшими проблемами обучения и&nbsp;коэффициентом концентрации внимания не&nbsp;ниже&nbsp;50 (120 минимальная норма здоровья).
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Возьмите сеанс <span class="blue bold">Диагностики и&nbsp;тестирования</span>, выполните лёгкое домашнее задание (общей длительностью 2-3 часа), в&nbsp;результате чего ваш коэффициент концентрации внимания резко поднимется, а&nbsp;потом воспользуйтесь <span class="blue bold">Бонусной скидкой 2</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		А&nbsp;далее добивайтесь <span class="blue bold">Бонуса 5</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Коэффициент концентрации внимания будет измерен во&nbsp;время сеанса <span class="blue bold">Диагностики и&nbsp;тестирования</span>. Для наших будущих студентов этот сеанс бесплатен.
	</p>
	<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 80px 10px 21px 25px;">
		4. <span class="tag">Большие проблемы</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Для тех, у&nbsp;кого с&nbsp;обучением проблемы ОГРОМНЫЕ, ЖУТКИЕ, ЧУДОВИЩНЫЕ и&nbsp;прочие НЕОБЪЯТНЫЕ.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Вам Бонусная скидка&nbsp;<span class="red bold">75%</span> на&nbsp;спецкурс <span class="tag red bold">Арт-терапия</span> (коррекционно-обучающая часть курса <span class="red bold tag">Чудо&nbsp;будет!</span>).
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		А&nbsp;далее добивайтесь <span class="blue bold">Бонуса 5</span>.
	</p>
	<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 80px 10px 21px 25px;">
		5. <span class="tag">За волю к победе</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Любому нашему учащемуся, кто ни&nbsp;разу не&nbsp;отменил, не&nbsp;перенёс занятие, кто работал со&nbsp;всем рвением, старанием, усердием.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Вам Бонусная скидка <span class="red bold">75%</span> при&nbsp;желании продолжать обучение и&nbsp;переходе с&nbsp;курса на&nbsp;курс.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Выгодно&nbsp;ли это? Ещё&nbsp;бы! Сравните: стандартная скидка для <span class="red bold">Persona Grata</span> при продолжении обучения <span class="red bold">15-35%</span>, а&nbsp;у&nbsp;вас&nbsp;<span class="red bold">50%</span>!
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Но&nbsp;уговор: взялся за&nbsp;гуж – не&nbsp;говори, что не&nbsp;дюж!
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 80px 10px 21px 25px;">
		6. <span class="tag">Диагностика и тестирование</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Бонусная скидка&nbsp;<span class="red bold">75%</span> от&nbsp;Базовой стоимости.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Для наших будущих студентов этот сеанс совершенно бесплатен, но&nbsp;только в&nbsp;период Рождественских скидок.
	</p>
	<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 80px 10px 21px 25px;">
		7. <span class="tag">Волшебный сеанс</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Для учащихся с&nbsp;проблемами обучения (дислексия, низкая концентрация внимания, рассеянность, медлительность), которые не&nbsp;планируют в&nbsp;ближайшее время заниматься у&nbsp;нас, но&nbsp;хотели&nbsp;бы получить квалифицированную помощь.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Бонусная скидка&nbsp;<span class="red bold">75%</span> на&nbsp;нейролингвистически-коррекционный <span class="tag red bold">Волшебный&nbsp;сеанс</span>. Многие ваши проблемы будут решены!
	</p>
	<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 80px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		8. <span class="tag">Пробный сеанс</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Бонусная скидка&nbsp;<span class="red bold">75%</span> на&nbsp;<span class="tag red bold">Пробный&nbsp;сеанс</span>.
	</p>
	<p class="dark-blue size-14 bold font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Право на&nbsp;этот Бонус имеет только тот, кто внимательно прочитал все <span class="blue bold">статьи</span> и&nbsp;получил статус <span class="red bold">Persona Grata</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 80px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">На&nbsp;главную. Выберите себе курс по&nbsp;душе</span></a>
	</p>
	<p style="margin: 0; "><a style="display: block; padding-top: 86px; margin-top: -86px;" name="poor"></a></p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		9. Для бедных
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Специально для вас мы&nbsp;разработали компьютерную программу бесплатного нейролингвистического игрового обучения на&nbsp;основе наших технологий.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Яркие запоминающиеся картинки сделают это обучение максимально результативным.
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		А&nbsp;главное&nbsp;<span class="normal">–</span> эта программа совершенно бесплатна.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Не бойтесь ошибиться&nbsp;– программа сама будет тренировать вас до&nbsp;победного конца.
	</p>
	<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Играйте. Наслаждайтесь. Обучайтесь.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 10px 21px 25px;">
		Богатым эта программа тоже пойдёт впрок.
	</p>
	<p class="red bold size-24 center font-verdana line-height-23" style="margin: 35px 10px 100px 25px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $english_test; [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold" style="border-bottom: 1px solid #4A4A4A;">Начать игру</span></a>
	</p>
	<div style="margin: 0 0 88px 0; height: 434px;">
	<div style="width: 566px; height: 434px; margin: 0 auto;">
		<div style="width: 566px; height: 434px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/rogdestvo/elka.gif" width="100%" height="100%" alt="Новогодняя елка">
		</div>
	</div>
</div>
</div>