<p class="blue size-18 font-verdana bold" style="margin: -16px 0 0 0;">
	Психология. Психотерапия
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 18px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue size-18 font-verdana bold center" style="margin: 0 0 0 0;">
	(психология-<span class="light-blue italic">NL</span> для взрослых)
</p>
<div style="width: 960px; height: 490px; padding: 44px 0 0 0;">
	<div style="width: 450px; height: 490px; float: left; margin: 0 0 0 22px; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Привлечение всей мощи вашего Подсознания<br>
			и Сверхсознания для решения ваших<br>
			конкректных проблем. Ликвидация неврозов,<br>
			стрессов, страхов. Молниеносный выход из<br>
			любого <span class="tag">тупика</span> развития и кризисной<br>
			ситуации.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Конфиденциальность гарантируется.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="light-blue italic bold">NL</span>-психология для взрослых и детей<br>
			включена в любой длительный комплексный<br>
			курс обучения с проф. О.О.Веровенко<br>
			БЕСПЛАТНО.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 31px 0;">
			Но, если хотите, можете взять сеансы<br>
			<span class="light-blue italic bold">NL</span>-психологии отдельно.
		</p>
		<p class="size-18 font-verdana" style="margin: 0 0 22px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow bold" style="margin: 0 0 0 160px;">Отзывы, благодарности</span></a>
		</p>
	</div>
	<div style="width: 472px; height: 490px; float: right; margin: 0 4px 0 0;">
		<div class="image-shadow-0" style="width: 472px; height: 437px; margin: 0 auto; position: relative; z-index: 1;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/fly-woman.jpg" width="100%" height="100%" alt="Летящяя женщина">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
</div>
<p class="size-18 bold font-verdana center" style="margin: 9px 0 40px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $faq; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Ответы на ваши основные вопросы</span></a>
</p>
