<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, СКИДКИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding">
  <div class="div-shadow_white" style="margin: 9px 0 35px 0;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      Русский язык
    </p>
    <div style="width: 980px; height: 544px; padding: 43px 0 0 0;">
      <div style="width: 394px; height: 544px; float: left; margin: 0 0 0 11px; position: relative; z-index: 2;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Мы&nbsp;готовим к&nbsp;экзаменам <span class="red bold">НА ОТЛИЧНО</span>.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Берём не&nbsp;только отличников и&nbsp;хорошистов,<br>
          но&nbsp;даже очень-очень слабых ребят.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Критерий <span class="light-blue bold">ЕГЭ</span>: наши выпускники поступают на&nbsp;<span class="light-blue bold">бюджетные</span> отделения самых <span class="light-blue bold">престижных</span> вузов.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Критерий <span class="light-blue bold">ГИА, ОГЭ</span>: наш выпускник занимает 1-2 место не&nbsp;только в&nbsp;своём классе, <span class="light-blue bold">но&nbsp;в&nbsp;школе</span>. Троек мы&nbsp;не&nbsp;имеем, четвёрки крайне редки. Только <span class="light-blue bold">пятёрки</span>, только <span class="red bold">ВЫСШИЙ БАЛЛ!</span>
        </p>
        <ul class="yellow bold size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
          <li><span class="yellow">Уникальные технологии обучения.</span></li>
          <li><span class="yellow">Учебники и материалы наивысшего качества.</span></li>
          <li><span class="yellow">Педагоги высшей квалификации.</span></li>
          <li><span class="yellow">VIP. Индивидуальные занятия с&nbsp;автором <span class="tag">Врождённой&nbsp;грамотности</span> <a class="normal" href="[exec] include get_template_directory().'/links.php'; echo $verovenko_kursi; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold">проф.&nbsp;О.О.Веровенко.</span></a></span></li>
        </ul>
        <p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Зубрёжки правил нет.<br>
          Домашние задания минимальны.<br>
          График любой.
        </p>
      </div>
      <div style="width: 535px; height: 544px; float: right; margin: 0 27px 0 0;">
        <div style="width: 535px; height: 360px; float: right; margin: 0 0 25px 0;">
          <div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
            <div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
            </div>
          </div>
          <div style="width: 253px; height: 420px; float: right; margin: 0 0 0 0;">
            <div class="in" style="width: 253px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg" width="100%" height="100%" alt="Учебник"></a>
            </div>
          </div>
        </div>
        <p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
          Уровень 3. Учебник и ключи к занятиям.<br>
          <span class="blue">Для увеличения кликните по картинке.</span>
        </p>
      </div>
    </div>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 11px; line-height: 22px;">
      <span class="size-12 red bold">Русский язык.</span> Безупречная грамотность + сочинения, изложения + русский язык + теория + билеты.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="blue bold">Фундаментальная подготовка.</span> 24-36 занятий по 3&nbsp;ак.&nbsp;часа (72-108&nbsp;ак.&nbsp;часов).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="blue bold">Базовая подготовка.</span> 12-24 занятия по 3&nbsp;ак.&nbsp;часа (36-72&nbsp;ак.&nbsp;часа).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="blue bold">Экспресс-подготовка (только для отличников!).</span> 6-12 занятий по 3&nbsp;ак.&nbsp;часа (18-36&nbsp;ак.&nbsp;часов).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      Занятия <span class="blue bold">индивидуальные</span> или в&nbsp;<span class="blue bold">вашей</span> мини-группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px; padding: 0 0 55px;">
      См. также <span class="red tag bold">ЭКСКЛЮЗИВ. ГИА, ЕГЭ, ОГЭ <span class="normal">–</span> экспресс</span>
    </p>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px 0;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Сочинения, изложения
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/book.jpg" width="530" height="331" alt="Книга">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="size-12 red bold">Сочинения, изложения.</span> Стилистика русского языка + литературное редактирование текста + умение раскрыть тему + развитие творческих способностей.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с <a class="normal" href="[exec] include get_template_directory().'/links.php'; echo $verovenko_kursi; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="dark-blue">проф.&nbsp;О.О.Веровенко</span></a>.<br>
          По стоимости курса <span class="tag red bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 30px 20px; margin: 0 -30px; position: relative;"><span class="light-blue bold">Сочинения, изложения. Подробнее</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px 0;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Английский язык
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/english.jpg" width="530" height="331" alt="Английский">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="size-12 red bold">Английский язык. Академический курс.</span> Безупречная грамматика в полном объеме + много лексики + практика + теория + билеты.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Фундаментальная подготовка.</span> 24-36 занятий по 3&nbsp;ак.&nbsp;часа (72-108&nbsp;ак.&nbsp;часов).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Базовая подготовка.</span> 12-24 занятия по 3&nbsp;ак.&nbsp;часа (36-72&nbsp;ак.&nbsp;часа).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Экспресс-подготовка (только для отличников!).</span> 6-12 занятий по 3&nbsp;ак.&nbsp;часа (18-36&nbsp;ак.&nbsp;часов).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Занятия <span class="blue bold">индивидуальные</span> или в&nbsp;<span class="blue bold">вашей</span> мини-группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="gia-ege"></a></p>
  <div class="div-shadow_white" style="margin: 0 0 35px 0;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
      ЭКСКЛЮЗИВ
    </p>
    <p class="blue bold size-36 font-verdana center" style="margin: 0 0 51px 0;">
      ГИА, ЕГЭ, ОГЭ <span class="normal size-30">–</span> экспресс
    </p>
    <div style="width: 980px; height: 344px; margin: 0 0 0 0; padding: 0 0 55px;">
      <div style="width: 600px; height: 344px; float: left; margin: 0 0 0 11px; position: relative;">
        <div style="width: 600px; height: 344px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/express.jpg" width="600" height="344" alt="Экспресс">
        </div>
      </div>
      <div style="width: 355px; height: 344px; float: right; margin: 0 0 0 0">
        <p class="red size-16 font-verdana bold" style="margin: 7px 0 14px 0; line-height: 20px;">
          Сверхскоростное<br>нейролингвистическое обучение
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Сочинения, изложения + грамотность.<br>
          При необходимости применяется гипноз.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Длительно обучения:<br>
          4-6 сеансов по 3 ак. часа (12-18 ак. часов).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          <span class="blue bold">Условия приёма:</span><br>
          Не более 50 ошибок во вступительном тесте,<br>
          <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
          (подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">здесь</span></a>).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Автор технологии обучения и ваш педагог –<br>
          <a class="normal" href="[exec] include get_template_directory().'/links.php'; echo $verovenko_kursi; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="dark-blue">профессор Ольга Олеговна Веровенко</span></a>.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          По стоимости курса <span class="tag red bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 35px 0 35px 0;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Обзорные занятия
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 414px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 530px; height: 414px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 530px; height: 398px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/alladin.jpg" width="530" height="398" alt="Алладин на ковре-самолете">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 395px; height: 414px; float: left; margin: 0 0 0 21px">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Единичные обзорные занятия по&nbsp;всему курсу русского или английского языков <span class="blue bold">либо</span> по&nbsp;самым сложным темам на&nbsp;ваш выбор.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Длительность: 3&nbsp;ак.&nbsp;часа.
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Индивидуально или в&nbsp;вашей мини-группе.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С&nbsp;<a class="normal" href="[exec] include get_template_directory().'/links.php'; echo $verovenko_kursi; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="dark-blue">проф.&nbsp;О.О.Веровенко</span></a>&nbsp;– по&nbsp;стоимости одного сеанса <span class="tag red bold">Чудо&nbsp;будет!</span>.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С&nbsp;педагогом высшей квалификации&nbsp;– по&nbsp;стоимости одного занятия курсов <span class="tag red bold">Врождённая&nbsp;грамотность</span> или <span class="tag red bold">Вертикальный&nbsp;взлёт</span>.
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="yellow size-48 bold font-verdana center" style="margin: 0 0 0 0; padding: 15px 0 0;">
      ПОДРОБНОСТИ МЕТОДА
    </p>
    <p class="red bold size-24 font-verdana center" style="margin: 0 0 13px 0;">
      СКОРОСТЬ, КАЧЕСТВО, РЕЗУЛЬТАТ!
    </p>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 50px 0 36px 0;">
      Эффективность
    </p>
    <p class="blue size-14 bold font-verdana" style="margin: 0 0 21px 30px; line-height: 17px;">
      Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
      Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
    </p>
    <p class="blue size-14 bold font-verdana" style="margin: 0 20px 21px 30px; line-height: 17px;">
      Вы сэкономите время, силы, деньги.
    </p>
    <p class="light-blue size-14 bold font-verdana" style="margin: 0 20px 34px 30px; line-height: 17px;">
      Результат абсолютно устойчив. Приобретенные навыки останутся с&nbsp;вами на&nbsp;всю жизнь.
    </p>
    <div style="width: 980px; height: 400px; margin: 0;">
      <div id="load-video7" class="load-video" style="width: 640px; height: 400px; float: left; margin: 0 15px 0 10px; position: relative;">
      </div>
      <div style="width: 290px; height: 400px; float: right; margin: 0 0 0 0">
        <ul class="grey size-14 font-verdana bold" style="margin: 120px 0 0 0; line-height: 38px;">
          <li><span class="blue">Зубрёжки правил нет.</span></li>
          <li><span class="blue">Домашние задания минимальны.</span></li>
          <li><span class="blue">Нагрузки посильны.</span></li>
        </ul>
      </div>
    </div>
    <p class="yellow bold size-24 font-verdana center" style="margin: 0 0 56px 0;">
      Магия, зомбирование и ремень в обучении не применяются!
    </p>
    <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
      Уникальность
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
      <span class="blue bold tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России и за рубежом.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 21px 21px; line-height: 22px;">
      В&nbsp;области нейролингвистики&nbsp;– современной науки об усвоении информации человеческим мозгом&nbsp;– это изобретение первое и&nbsp;пока единственное в&nbsp;мире</span>.
    </p>
    <p class="light-blue size-14 font-verdana bold" style="margin: 0 0 46px 21px; line-height: 22px;">
      Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
    </p>
    <div style="width: 980px; height: 500px; padding-top: 18px;">
      <div style="width: 319px; height: 468px; float: left; margin: 0 50px 25px 150px;">
        <div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1.jpg" width="319" height="452" alt="Патент Германия"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 127px;">
        </div>
      </div>
      <div style="width: 319px; height: 468px; float: right; margin: 0 138px 25px 0;">
        <div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2.jpg" width="319" height="452" alt="Патент Россия"></a>
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 16px;">
        Российский и международный патенты на изобретения.<br>
        <span class="light-blue">Оригиналы патентов вы увидите, когда придете.</span>
      </p>
    </div>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 100px 0 29px 0;">
      Гарантии качества
    </p>
    <p class="blue size-14 font-verdana bold center" style="margin: 0 0 0 14px; line-height: 22px;">
      Высочайшее качество обучения подтверждено тремя Знаками Качества Госстандарта РФ с категорией<br>
      <span class="red tag">КАЧЕСТВО НАИВЫСШЕЕ</span>
    </p>
    <div style="width: 980px; height: 433px;">
      <div style="width: 430px; height: 313px; float: left; margin: 99px 0 10px 92px;">
        <div class="image-shadow in" style="width: 430px; height: 297px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1.jpg" width="430" height="297" alt="Сертификат"></a>
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 278px; height: 407px; float: right; margin: 0 84px 10px 0;">
        <div class="image-shadow in" style="width: 278px; height: 391px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2.jpg" width="278" height="391" alt="Сертификат"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 139px; background-position: -181px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 139px;">
        </div>
      </div>
    </div>
    <p class="blue size-14 font-arial bold center" style="margin: -10px 0 0 0; padding: 0 0 0; line-height: 16px;">
      Оригиналы сертификатов вы увидите, когда придете.
    </p>
    <p class="dark-blue size-14 font-arial bold center" style="margin: 15px 0 3px 0;">
      Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
    </p>
    <p class="yellow size-14 font-arial bold center" style="margin: 0 0 0 0; padding: 0 0 40px; line-height: 16px;">
      У нас таких три!<br>
    </p>
  </div>
  <div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
    <p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding-top: 34px;">
      Учебники
    </p>
    <div style="width: 980px; height: 440px; padding: 50px 0 40px 0;">
      <div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
        <div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/textbooks.jpg" width="399" height="398" alt="Учебники">
        </div>
        <p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
      </div>
      <div style="width: 449px; height: 440px; float: right; padding-right: 0px">
        <p class="blue size-26 font-verdana" style="margin: 130px 20px 22px 0; line-height: 30px;">
          Великолепного качества учебники и&nbsp;материалы включены в&nbsp;стоимость и&nbsp;останутся с&nbsp;вами после конца обучения.
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
    <p class="red size-48 font-verdana bold center" style="margin: 0 0 40px; padding-top: 34px;">
      Автор метода и ваш педагог
    </p>
    <div style="width: 916px; height: 900px; margin: 0 auto 0; padding: 0 0 40px;">
      <div style="width: 485px; height: 900px; float: left; margin: 0 0 0 0;">
        <div style="width: 385px; height: 600px; margin: 0 0 0 0;">
          <div class="image-shadow" style="width: 385px; height: 580px; border: 2px solid rgba(170, 168, 168, 1);">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/verovenko.jpg" width="385" height="580" alt="Ольга Олеговна Веровенко">
          </div>
          <div class="image-shadow-right-1">
          </div>
          <div class="image-shadow-left-1">
          </div>
        </div>
        <p class="dark-blue size-16 font-verdana" style="margin: 10px 0 9px; line-height: 20px;">
          Ольга Олеговна Веровенко, <span class="blue bold">педагог</span> (Почётный работник общего образования&nbsp;РФ), <span class="blue bold">филолог</span> (кандидат филологических наук, русский и&nbsp;английский языки), <span class="blue bold">учёный-нейролингвист</span> (автор 26&nbsp;учебников и&nbsp;монографий), <span class="blue bold"><span class="light-blue italic">NL</span>-психолог-психотерапевт</span> (доктор наук международной категории), <span class="blue bold">журналист</span>, <span class="blue bold">телерадиоведущая</span> (член Союза журналистов СССР).
        </p>
        <p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
          Профессор, доктор наук, Doctor, Grand Doctor, Professor, Full Professor.
        </p>
        <p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
          Декан факультета педагогики и&nbsp;психологии Международной докторантуры (Бельгия). Руководитель авторской школы-студии (Россия).
        </p>
        <p class="blue bold size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
          Ваш будущий педагог.
        </p>
      </div>
      <div style="width: 418px; height: 900px; float: right; margin: 0 0 0 0;">
        <p class="blue size-16 font-verdana bold center" style="margin: 0 0 16px; line-height: 21px;">
          Именем Ольги Веровенко названа<br>
          звезда в созвездии Кассиопеи.
        </p>
        <div style="width: 418px; height: 544px; margin: 0 0 0 0;">
          <div class="image-shadow" style="width: 418px; height: 524px; border: 2px solid rgba(170, 168, 168, 1);">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/verovenkostar.jpg" width="418" height="524" alt="Звезда Веровенко">
          </div>
          <div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
          </div>
          <div class="image-shadow-left-1" style="width: 123px;">
          </div>
        </div>
        <p class="blue size-18 font-arial bold center" style="margin: 0 0 0; line-height: 21px;">
          Звезда Ольга Веровенко<br>
          в созвездии Кассиопеи
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
    <p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding-top: 34px;">
      Отзывы, благодарности, награды
    </p>
    <div style="width: 960px; height: 180px; padding: 50px 0 0; margin: 0 10px;">
      <div style="width: 320px; height: 180px; float: left; margin: 0;">
        <div class="image-shadow" style="width: 236px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sobyanin.jpg" width="236" height="180" alt="Собянин">
        </div>
      </div>
      <div style="width: 320px; height: 180px; float: left; padding-right: 0px">
        <div class="image-shadow" style="width: 300px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/luzhkov.jpg" width="300" height="180" alt="Лужков">
        </div>
      </div>
      <div style="width: 320px; height: 180px; float: right; padding-right: 0px">
        <div class="image-shadow in" style="width: 201px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer; margin: 0 auto;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom-big.jpg">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom.jpg" width="201" height="180" alt="Диплом">
          </a>
        </div>
      </div>
    </div>
    <p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding: 40px 0 60px;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Перейти на страницу отзывов</span></a>
    </p>
  </div>
</div>
<div class="compass-wrapper">
  <div class="div-shadow_white" style="margin: 35px 0 0 0; padding: 50px 0;">[exec] include_once get_template_directory().'/compas/compas-all.php'; [/exec]</div>
</div>
<!-- <div class="english-test" style="opacity: 0; position: fixed; z-index: 9999; overflow: hidden; background-color: rgba(237, 28, 36, 0.7); bottom: 40%; right: 5px; padding: 40px; border-radius: 50%;">
  <p class="white font-arial size-36 bold center" style="line-height: 47px; margin: 0 0 0;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_free; [/exec]" style="text-decoration: none; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="white bold" style="background-size: auto 100%;background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 1px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Выиграйте скидку<br>50-75%!<br>Вам сюда</span></a>
  </p>
</div>
<div class="b-banner">
  <div class="b-banner__content">
    <p class="yellow center bold size-48 font-verdana" style="margin: 20px 0 21px 0; line-height: 52px;">
      Здесь<br>
      индивидуальное обучение<br>
      экстра-класса
    </p>
    <p class="blue bold center size-30 font-verdana" style="margin: 0 0 21px 0;line-height: 40px;">
      Уникально результативное, качественное и&nbsp;дорогое.
    </p>
    <p class="blue bold center size-30 font-verdana" style="margin: 0 0 21px 0;">
      Вы искали именно это?
    </p>
    <div style="padding: 0 0 0; overflow: auto;">
      <div style="width: 50%; float: right; margin: 0 0 0 0;">
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
          <a class="b-banner__link" href="" style="cursor: pointer; text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold" style="border-bottom: 1px solid #4A4A4A;"><span class="size-24">Да</span>,<br>мы&nbsp;ищем<br>именно&nbsp;это</span></a>
        </p>
      </div>
    </div>
    <p class="dark-blue bold center size-18 font-verdana" style="margin: -10px 0 42px 0;">
      <a class="b-banner__link_active" href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="cursor: pointer; text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;"><span class="size-24">Бесплатные</span><br>тесты-игры для детей и взрослых.<br>Русский. Английский.<br>Играйте. Наслаждайтесь. Обучайтесь!</span></a>
    </p>
  </div>
</div> -->
<div id="img_container"><img src=""></div>