<p class="light-blue font-verdana size-30 bold center" style="margin: 38px 0 67px 0;">
	Индивидуальное обучение
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 17px;">
	Занятия с квалифицированными педагогами <span class="blue">ВЫСШЕГО РЕЙТИНГА</span>, работающими по<br>
	технологиям проф.О.О.Веровенко.
</p>
<div style="width: 960px; height: 347px; padding: 54px 0 10px 0;">
	<div style="width: 274px; height: 347px; float: left; margin: 0 0 0 112px;">
		<div class="image-shadow" style="width: 270px; height: 347px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl8.jpg);">
		</div>
		<div class="image-shadow-right-1" style="width: 135px; background-position: -181px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 135px;">
		</div>
	</div>
	<div style="width: 448px; height: 347px; float: right; padding-right: 6px">
		<p class="grey size-18 font-verdana line-height-23" style="margin: 125px 0 22px 0;">
			<span class="red"><span class="tag">Врождённая грамотность</span>. Русский язык</span><br>
			(классическая версия)<br>
			Всего 12 занятий - и ошибок нет!
		</p>
	</div>
</div>
<div style="width: 960px; height: 297px; padding: 134px 0 10px 0;">
	<div style="width: 404px; height: 297px; float: left; margin: 0 0 0 56px;">
		<div class="image-shadow" style="width: 400px; height: 281px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran1.jpg);">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div style="width: 396px; height: 297px; float: right; padding-right: 6px">
		<p class="grey size-18 font-verdana line-height-23" style="margin: 86px 0 22px 0;">
			<span class="red"><span class="tag">Вертикальный взлёт</span> (английский язык)</span><br>
			Уникальное сверхскоростное обучение
		</p>
	</div>
</div>
<div style="width: 960px; height: 235px; padding: 119px 0 10px 0;">
	<div style="width: 403px; height: 235px; float: left; margin: 0 0 0 57px;">
		<div class="image-shadow" style="width: 399px; height: 235px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/elf.jpg);">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div style="width: 379px; height: 235px; float: right; padding-right: 6px">
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Спецкурсы заслуженной артистки РФ<br>
			Натальи Леонидовны Ковалёвой:
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="tag">Чтение. Художественное слово</span>
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="tag">Актёрское мастерство</span>.
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="tag">Серебряный и золотой век русской<br>
			литературы</span> (исполнительское мастерство).
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 91px 0 47px 0;">
	Стоимость
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	Длительность любого курса 36 ак.часов (12 занятий по 3 ак.часа каждое + перерывы)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 56px;">
	Полукурс: 18 ак.часов (6 занятий по 3 ак.часа каждое или 9 занятий по 2 ак.часа каждое<br>
	+ перерывы)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	Курс: 5.400 у.е.<br>
	Полукурс: 2.700 у.е.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	При желании продолжать обучение<br>
	или переходе с курса на курс и с<br>
	факультета на факультет:
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	Курс: 4.500 у.е.<br>
	Полукурс: 2.250 у.е.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	Пробный сеанс: 300 у.е.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	Надбавка за выезд к вам 50%
</p>
<p class="center line-height-23" style="margin: 51px 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_stoimost; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24">Вернуться</span></a>
</p>