<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="yellow">ОБ АВТОРЕ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper">
	<p class="yellow bold size-30 font-verdana center" style="margin: 27px 0 59px 0;">
		Искусство видеть мир
	</p>
	<div style="width: 960px; height: 598px; margin: 25px 0 0 0;">
		<div style="width: 441px; height: 598px; float: right; margin: 0 38px 0 0;">
			<div class="image-shadow" style="width: 441px; height: 582px; margin: 0 0 0 0; border: 2px solid rgba(170, 168, 168, 1);">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/kozlov.jpg" width="100%" height="100%" alt="Павел Леонидович Козлов">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
		<div style="width: 460px; height: 598px; float: left; margin: 0 0 0 18px;">
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Когда-то он был лицом нашей школы –<br>
				человек, которого вы видите на обложке<br>
				нашего самого первого буклета (справа).
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Павел Леонидович Козлов. Окончил<br>
				факультет журналистики МГУ и аспирантуру.<br>
				Преподавал там же литературу, а у нас –<br>
				русский язык. Будущему профессору<br>
				открывалось светлое академическое будущее.
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Но талант и призвание диктовали своё.<br>
				Взявши рюкзачок и фотоаппарат, он<br>
				отправился бродить по миру. Год за годом<br>
				появлялись шедевры. Персональные выствки,<br>
				календари, альбомы, книги...
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Сейчас он – всемирно признанный мастер<br>
				художественной фотографии.
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				И вот теперь – новый поворот. Маэстро<br>
				открывает собственную авторскую школу<br>
				художественной фотографии в Геленджике.
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Его курс <span class="tag">Искусство видеть мир</span> – это не<br>
				столько о фотографии, сколько о душе. И для<br>
				души!
			</p>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 17px 0 21px 18px;">
		Когда его однажды спросили, что в его представлении означает быть педагогом, он ответил:<br>
		<span class="tag">Я – тот, кто учит летать!</span>
	</p>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
		Поспешите свидеться с Мастером!
	</p>
	<p class="yellow bold size-24 font-verdana center" style="margin: 103px 0 42px 0;">
		Из дневника Павла Леонидовича:
	</p>
	<p class="dark-blue size-18 font-verdana italic line-height-23" style="margin: 0 0 21px 26px;">
		Смотреть – не значит ВИДЕТЬ. Чем мы заполняем себя? Что остаётся в нашей памяти от<br>
		прожитого дня: мусор повседневности или радость?
	</p>
	<p class="dark-blue size-18 font-verdana italic line-height-23" style="margin: 0 0 21px 26px;">
		Как настроить себя, свой внутренний мир в унисон с реальностью, которая не утомляет,<br>
		а вдохновляет?
	</p>
	<p class="dark-blue size-18 font-verdana italic line-height-23" style="margin: 0 0 21px 26px;">
		Реальность рождается в нас самих – затвор аппарата должен щёлкать именно в то мгновение,<br>
		когда она расширяется до границ шедевра. Порой трёхчасовая прогулка по городу сулит вам<br>
		больше откровений, чем, например, кругосветное путешествие на яхте.
	</p>
	<p class="dark-blue size-18 font-verdana italic line-height-23" style="margin: 0 0 21px 26px;">
		Научиться видеть мир – это и самое простое и самое тонкое искусство. Кто овладеет им –<br>
		тот будет талантлив всегда и во всем...
	</p>
	<p class="dark-blue size-18 font-verdana italic line-height-23" style="margin: 0 0 21px 26px;">
		Главное - не куда смотреть, а как...
	</p>
	<div style="padding-top: 40px; height: 623px;">
		<div style="width: 577px; height: 623px; margin:0 auto;">
			<div class="image-shadow" style="width: 577px; height: 607px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/most.jpg" width="100%" height="100%" alt="Мост под водой">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="width: 960px; height: 583px; margin: 114px 0 0 0;">
		<div style="width: 496px; height: 583px; float: right; margin: 0 16px 0 0;">
			<div class="image-shadow" style="width: 496px; height: 335px; margin: 0 0 0 0;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/girl.jpg" width="100%" height="100%" alt="Кот">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
		<div style="width: 392px; height: 583px; float: left; margin: 0 0 0 32px;">
			<div class="image-shadow" style="width: 392px; height: 567px; margin: 0 0 0 0;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/boy.jpg" width="100%" height="100%" alt="Кот">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="width: 960px; height: 677px; margin: 45px 0 0 0;">
		<div style="width: 393px; height: 677px; float: right; margin: 0 22px 0 0;">
			<div style="width: 393px; height: 597px; float: right; margin: -267px 0 0 0;">
				<div class="image-shadow" style="width: 393px; height: 581px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/boy1.jpg" width="100%" height="100%" alt="Кот">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 305px; height: 343px; float: right; margin: 4px 44px 0 0;">
				<div class="image-shadow" style="width: 305px; height: 327px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/lake.jpg" width="100%" height="100%" alt="Кот">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<div style="width: 496px; height: 677px; float: left; margin: 0 0 0 12px;">
			<div class="image-shadow" style="width: 496px; height: 661px; margin: 0 0 0 0;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/friends.jpg" width="100%" height="100%" alt="Кот">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="padding-top: 118px; height: 457px;">
		<div style="width: 686px; height: 457px; margin:0 auto;">
			<div class="image-shadow" style="width: 686px; height: 441px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/ljagushka.jpg" width="100%" height="100%" alt="Лягушка и одуванчик">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="padding-top: 2px; height: 546px;">
		<div style="width: 523px; height: 546px; margin:0 auto;">
			<div class="image-shadow" style="width: 523px; height: 530px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/kuznechik.jpg" width="100%" height="100%" alt="Кузнечик">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="padding-top: 120px; height: 544px;">
		<div style="width: 523px; height: 544px; margin:0 auto;">
			<div class="image-shadow" style="width: 523px; height: 528px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/cat.jpg" width="100%" height="100%" alt="Кот">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="width: 960px; height: 509px; margin: 9px 0 0 0;">
		<div style="width: 439px; height: 509px; float: right; margin: 0 11px 0 0;">
			<div class="image-shadow" style="width: 439px; height: 493px; margin: 0 0 0 0;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/cat2.jpg" width="100%" height="100%" alt="Кот">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
		<div style="width: 489px; height: 506px; float: left; margin: 0 0 0 0;">
			<div class="image-shadow" style="width: 489px; height: 490px; margin: 0 0 0 0;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/cat1.jpg" width="100%" height="100%" alt="Кот">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="padding-top: 133px; height: 641px;">
		<div style="width: 586px; height: 641px; margin:0 auto;">
			<div class="image-shadow" style="width: 586px; height: 625px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/fizalis.jpg" width="100%" height="100%" alt="Физалис">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="padding-top: 77px; height: 569px;">
		<div style="width: 589px; height: 569px; margin:0 auto;">
			<div class="image-shadow" style="width: 589px; height: 553px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/isskusstvo/siren.jpg" width="100%" height="100%" alt="Сирень">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div class="blue bold size-24 font-verdana line-height-23 center" style="width: 600px; margin: 63px auto 1px; cursor: pointer; height: 70px;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $safari_isskusstvo; [/exec]'">
		<p style="padding: 25px 0 0 0;">
			 <a href="[exec] include get_template_directory().'/links.php'; echo $safari_isskusstvo; [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px;"><span class="blue" style="background-size: auto 100%; background-image: linear-gradient(to top, rgba(74, 74, 74, 1) 0px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Вернуться</span></a>
		</p>
	</div>
</div>