[raw]
<div class="div-wrapper_padding size-16" style="width: 31.25em; z-index: 10; position: relative;">
  <div class="white bold font-verdana center" style="margin: 0 auto;text-shadow: 2px 2px 3px black;">
    <p style="font-size: 3em;margin: 0.8em 0 1em; line-height: normal;">
      О&nbsp;нет, нет, нет...
    </p>
    <p style="font-size: 2.2em;margin: 0 0 1.4em; line-height: normal;">
      Сайты&#8209;блокбастеры с&nbsp;мобильных устройств не&nbsp;смотрят.
    </p>
    <p style="font-size: 2.2em;margin: 0 0 1.4em; line-height: normal;">
      Зайдите к&nbsp;нам с&nbsp;большого компьютера с&nbsp;быстрым интернетом.
    </p>
    <p style="font-size: 2.2em;margin: 0 0 1.4em; line-height: normal;">
      <span>Сохраните наш адрес:</span><br>
      <span>verovenko.com</span><br>
      <span>Будет что посмотреть!</span>
    </p>
    <!-- <p style="font-size: 2.2em;margin: 0 0 0; line-height: normal;">
      Будет что посмотреть!
    </p> -->
  </div>
</div>
<div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/stars.gif);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]