<div class="div-wrapper div-wrapper_volume">
    <div class="b-interview" style="width: 960px; height: 887px; padding: 0 0 100px 0;">
        <div class="b-interview__image _active" style="width: 368px; height: 887px; float: left; margin: 0 0 0 9px;">
            <div class="" style="width: 368px; height: 487px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/novyj-god/ded-moroz-min.png" width="368" height="487" alt="Дед Мороз">
            </div>
        </div>
        <div class="b-interview__image _image-item1" style="width: 368px; height: 887px; float: left; margin: 0 0 0 9px;">
            <div class="" style="width: 320px; height: 487px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/novyj-god/ded-moroz-run-min.png" width="320" height="487" alt="Дед Мороз">
            </div>
        </div>
        <div class="b-interview__image _image-item2" style="width: 368px; height: 887px; float: left; margin: 0 0 0 9px;">
            <div class="" style="width: 320px; height: 487px; margin: 100px 0 0;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/novyj-god/mouse.jpg" width="320" height="487" alt="Мышка">
            </div>
        </div>
        <div class="b-interview__question _active" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 60px 0; line-height: 60px;">
                Рождественские скидки?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">50 процентов</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">А 75 процентов можно?</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="" href="[exec] include get_template_directory().'/links.php'; echo $english_test; [/exec]" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Хочу бесплатно!</span></span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Хотите Рождественские бонусы?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Вот бы получить бесплатное занятие!</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Два бесплатных занятия!</span></span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Для кого ищем?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">1-5 класс</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">6-8 класс</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">9-11 класс</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">ГИА, ЕГЭ, ОГЭ</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Взрослому человеку</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Для занятий в&nbsp;нашей мини-группе (дети с&nbsp;родителями, семья, друзья, коллеги)</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Вам нужен только педагог<br>или&nbsp;психолог тоже?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Только педагог</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">А педагог-психолог есть?</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Дед, давай уж&nbsp;заодно и&nbsp;психотерапевта,<br>причём международной категории!</span></a>
            </p>
        </div>
        <div class="b-interview__question 1234" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Квалификация специалиста?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link _bad-answer" data-image="._image-item1" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Тётка-волосы-мочалкой-голос-скрипучий</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Мне обаятельного<br>профессора и&nbsp;доктора наук!</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Дед, пусть волшебные уроки ведёт<br>твоя внучка Снегурочка!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold" style="margin: 0 0 10px 0; line-height: 60px;">
                Заморозил я её сегодня.
            </p>
            <p class="yellow size-36 font-verdana bold" style="margin: 0 0 10px 0; line-height: 60px;">
                Вредина была и злюка.
            </p>
            <p class="yellow size-36 font-verdana bold" style="margin: 0 0 10px 0; line-height: 60px;">
                Берите мою <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">внучку&nbsp;Снегурочку</span></a> или, на&nbsp;худой конец, <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">квалифицированного профессора</span></a>...
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                СТИЛЬ преподавания?
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Игровой, творчески развивающий, занимательный, с&nbsp;яркими картинками, призами и&nbsp;подарками</span></a>
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Логически выверенный, математически строгий</span></a>
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">С&nbsp;одновременной коррекцией проблем обучения</span></a>
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Скоростной интенсив и&nbsp;<span class="tag">спортивный</span> тренинг</span></a>
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">С&nbsp;одновременными сеансами <span class="blue bold italic">NL</span>-психологии и&nbsp;психотерапии</span></a>
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Под гипнозом</span></a>
            </p>
            <p class="dark-blue size-18 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">С&nbsp;невербальной подачей информации (<span class="tag">эффект телепатии</span>)</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 60px 0; line-height: 60px;">
                Хотелось бы авторскую уникальную методику?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Да, это интересно</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">И автора впридачу!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Само собой,<br>никакой зубрёжки правил,<br>минимум домашних заданий?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Да, это важно</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Вообще никаких домашних заданий!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Какой педагог вам подходит?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Старая перечница, визгливая тетёрка</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Спокойный, мягкий, с&nbsp;повышенным уровнем эмпатии (сочувствия, сострадания, милосердия)</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Строгий, деловито требовательный</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Искромётный, весёлый</span></a>
            </p>

            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 31px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Умеющий всё объяснять без&nbsp;слов</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Телепат-парапсихолог, умеющий передавать знания и&nbsp;навыки из&nbsp;головы в&nbsp;голову</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Должны&nbsp;ли у&nbsp;педагога быть награды, слава, известность?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link _bad-answer" data-image="._image-item2" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Нет, нам <span class="tag">серую мышку</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">О! Педагог&nbsp;– интересный человек, да?</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Желаю, чтобы его имя было вписано в&nbsp;энциклопедию. Чтобы именем моего педагога была названа звезда в&nbsp;небе!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold" style="margin: 0 0 10px 0; line-height: 60px;">
                Съел я мышку.
            </p>
            <p class="yellow size-36 font-verdana bold" style="margin: 0 0 10px 0; line-height: 60px;">
                Вкусная была.
            </p>
            <p class="yellow size-36 font-verdana bold" style="margin: 0 0 10px 0; line-height: 60px;">
                Берите мою <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">внучку&nbsp;Снегурочку</span></a> или, на&nbsp;худой конец, <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">квалифицированного профессора</span></a>...
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Важны&nbsp;ли вам отзывы о&nbsp;педагоге?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Нет</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Да, желательны</span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="" href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Требую отзывов от&nbsp;самых известных людей: актеров, музыкантов и&nbsp;политиков&nbsp;<span class="normal font-arial">–</span> рангом не&nbsp;ниже, чем мэр города!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Выезд педагога к вам?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Да, пусть к нам приезжает</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Нет, сами будем приезжать</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Иногда к вам, иногда к нам</span></span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Результат обучения?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Нам&nbsp;бы хоть чуть с&nbsp;места сдвинуться...</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Блистательный конечный результат при&nbsp;минимуме занятий</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Фантастический результат давай!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Комфорт во&nbsp;время занятий?<br>Как насчёт хорошей<br>чашечки чаю с&nbsp;конфеткой?
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Да, не&nbsp;помешает</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Нет, мы уже пообедали</span></span></a>
            </p>
            <p class="dark-blue size-24 font-verdana" style="margin: 0px 0 51px 0;">
                <a class="b-interview__link" href="" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">А ещё хрустальную люстру, белую мебель и&nbsp;бутерброд с&nbsp;красной икрой!</span></a>
            </p>
        </div>
        <div class="b-interview__question" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0; right: 20px;">
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Ваши пожелания&nbsp;<span class="normal font-arial">–</span><br>
                все без исключения!&nbsp;<span class="normal font-arial">–</span><br>
                учтены<span class="normal">.</span>
            </p>
            <p class="yellow size-36 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px;">
                Ваш педагог вас ждет и уже написал вам письмо!
            </p>
            <p class="dark-blue size-48 font-verdana center" style="margin: 0px 0 51px 0;">
                <a class="" href="[exec] include get_template_directory().'/links.php'; echo $obraschenie; [/exec]" style="cursor: pointer; text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Читать письмо</span></span></a>
            </p>
        </div>
        <div class="b-interview__notice" style="width: 570px; height: 887px; float: right; margin: 0 0 0 0;">
            <p class="b-interview__notice_item light-blue size-36 font-verdana bold center" style="font-size: 90px; margin: 200px 0 30px 0; line-height: 60px;">
                ПРИНЯТО
            </p>
        </div>
    </div>
</div>