<div class="div-wrapper div-wrapper_volume">
    <!-- <p class="red size-48 font-verdana bold center" style="margin: 0 0 44px 0; line-height: 56px;">
        Обучение<br>
        под гипнозом
    </p> -->
    <p class="yellow size-24 font-verdana bold center" style="margin: 22px 0 22px 0;">
        Дорогие мои!
    </p>
    <p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        На&nbsp;наших занятиях не&nbsp;будет:
    </p>
    <ul class="grey size-18 font-verdana" style="margin: 0px 20px 22px 45px; line-height: 40px;">
        <li><span class="blue">Скуки, занудства, перегрузок, слёз и&nbsp;прочих горестей.</span></li>
        <li><span class="blue">Зубрёжки и&nbsp;заучивания. Не&nbsp;последует даже просьбы что-нибудь <span class="tag">запомнить</span>.</span></li>
        <li><span class="blue">Теории, <span class="tag">правил</span>, <span class="tag">вникания</span> и&nbsp;<span class="tag">понимания</span>.</span></li>
    </ul>
    <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        Поверьте&nbsp;– люди, обладающие врождённой грамотностью, в&nbsp;<span class="tag">правила</span> даже не&nbsp;заглядывали, в&nbsp;теорию языка не&nbsp;вникали.
    </p>
    <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        <span class="tag">Да&nbsp;разве это возможно?!</span>&nbsp;– воскликнет кто-то сейчас.
    </p>
    <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        Ещё как возможно. Вспомните: как вы&nbsp;заговорили в&nbsp;детстве на&nbsp;родном языке? Как учились ходить? Или, лёжа в&nbsp;колыбели, вникали в&nbsp;<span class="tag">правила</span>?
    </p>
    <p class="blue bold size-18 font-verdana line-height-23" style="margin: 42px 20px 22px;">
        Теперь о&nbsp;том, что будет.
    </p>
    <p class="yellow bold size-18 font-verdana line-height-23" style="margin: 32px 20px 13px;">
        Русский язык
    </p>
    <ul class="grey size-18 font-verdana" style="margin: 0px 20px 22px 45px; line-height: 40px;">
        <li><span class="blue">Уже на&nbsp;первом занятии вы&nbsp;легко выполните 200-300 довольно сложных заданий (орфография + синтаксис). На&nbsp;третьем&nbsp;– до&nbsp;700. Столько делают в&nbsp;хорошей школе за&nbsp;год.<br>Сравните: год учебы&nbsp;– и&nbsp;одно занятие!</span></li>
        <li><span class="blue">Освоить, разобрать и&nbsp;повторить 20-30 разнообразных тем.</span></li>
        <li><span class="blue">Обработать до&nbsp;10&nbsp;страниц тестовых заданий.</span></li>
        <li><span class="blue">Безошибочно написать сложный диктант.</span></li>
        <li><span class="blue">Освоить теорию языка (10-15&nbsp;тем).</span></li>
    </ul>
    <p class="yellow bold size-18 font-verdana line-height-23" style="margin: 32px 20px 13px;">
        Английский язык
    </p>
    <ul class="grey size-18 font-verdana" style="margin: 0px 20px 22px 45px; line-height: 40px;">
        <li><span class="blue">Уже на&nbsp;первом занятии вы&nbsp;сможете обработать до&nbsp;30&nbsp;страниц компьютерного текста. Перевести его с&nbsp;русского на&nbsp;английский и&nbsp;обратно <span class="bold">без словаря со&nbsp;скоростью беглой речи</span>.</span></li>
        <li><span class="blue">Поговорить. Построить самостоятельно множество разговорных фраз на&nbsp;английском языке.</span></li>
        <li><span class="blue">Грамотное письмо, чтение, произношение.</span></li>
        <li><span class="blue">Много новых слов&nbsp;– более 150&nbsp;на первом&nbsp;же занятии.</span></li>
    </ul>
    <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        Врождённая грамотность&nbsp;– не&nbsp;миф, а&nbsp;встроенная в&nbsp;вас самой природой программа Подсознания. За&nbsp;ней&nbsp;– миллионы лет эволюции. Писать грамотно, овладеть английским так&nbsp;же легко, как дышать!
    </p>
    <p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        Раскрыть данные вам от&nbsp;природы таланты&nbsp;<span class="normal">–</span> моя задача.
    </p>
    <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        Мой метод обучения считается лучшим в&nbsp;мире. Равных ему нет.<br>
        Это не&nbsp;мои слова&nbsp;– это акты международных экспертиз.
    </p>
    <!-- <p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        Какая версия метода вам по душе:
    </p>
    <ul class="grey size-18 font-verdana" style="margin: 0px 20px 22px 45px; line-height: 35px;">
        <li><span class="blue">Игровая, занимательная, с&nbsp;яркими запоминающимися картинками?</span></li>
        <li><span class="blue">Логически выверенная, математически строгая для подготовки к&nbsp;ГИА, ЕГЭ, ОГЭ?</span></li>
        <li><span class="blue">Нейролингвистическая с&nbsp;одновременной коррекцией любых проблем обучения?<br><span class="size-12 dark-blue" style="line-height: 15px; display: block;">Пожалуйста, не&nbsp;путайте нейролингвистику&nbsp;– современную НАУКУ об&nbsp;усвоении информации человеческим мозгом&nbsp;– с&nbsp;NLP (нейролингвистическим программированием)!</span></span></li>
        <li><span class="blue">Скоростной интенсив и&nbsp;<span class="tag">спортивный</span> тренинг?</span></li>
        <li><span class="blue">Творчески развивающая?</span></li>
        <li><span class="blue">С&nbsp;одновременными сеансами <span class="blue bold italic">NL</span>-психологии и&nbsp;психотерапии?</span></li>
        <li><span class="blue">С&nbsp;применением положительной обратной условной связи?</span></li>
        <li><span class="blue bold">Под гипнозом?</span></li>
        <li><span class="blue">С&nbsp;невербальной подачей информации на&nbsp;уровень Подсознания?</span></li>
        <li><span class="blue">А&nbsp;может, просто... классическая?</span></li>
    </ul> -->
    <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 20px 22px;">
        У&nbsp;взрослых и&nbsp;детей&nbsp;– с&nbsp;проблемами обучения и&nbsp;без&nbsp;– результат всегда одинаков: <span class="blue bold">БЛИСТАТЕЛЬНЫЙ</span>.
    </p>
    <p class="yellow size-24 font-verdana center" style="margin: 22px 0 30px 0;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Если вам уже интересно&nbsp;<span class="normal">–</span><br>
        давайте познакомимся!</span></a>
    </p>
    <div style="width: 350px; margin: 0 auto 100px; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
    </div>
</div>
<div class="english-test" style="opacity: 0; position: fixed; z-index: 9999; overflow: hidden; background-color: rgba(237, 28, 36, 0.7); bottom: 60%; right: 5px; padding: 40px; border-radius: 50%;">
    <p class="white font-arial size-36 bold center" style="line-height: 47px; margin: 0 0 0;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_free; [/exec]" style="text-decoration: none; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="white bold" style="background-size: auto 100%;background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 1px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Выиграйте скидку<br>50-75%!<br>Вам сюда</span></a>
    </p>
</div>
<div class="b-banner">
    <div class="b-banner__content">
        <p class="yellow center bold size-48 font-verdana" style="margin: 20px 0 3px 0; line-height: 70px;">
            Протестируемся прямо сейчас?<br>Русский<span class="size-30">.</span> Английский<span class="size-30">.</span>
        </p>
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
            <a class="b-banner__link_active" href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="cursor: pointer; text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold" style="border-bottom: 1px solid #4A4A4A;"><span class="size-24">Вам сюда</span></a>
        </p>
        <p class="yellow center bold size-48 font-verdana" style="margin: 40px 0 10px 0; line-height: 70px;">
            Репетитор экстра-класса<span class="size-30">.</span><br>Уникальное обучение<span class="size-30">.</span>
        </p>
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 51px 0;">
            <a class="b-banner__link" href="" style="cursor: pointer; text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold" style="border-bottom: 1px solid #4A4A4A;"><span class="size-24">Вам сюда</span></a>
        </p>
    </div>
</div>