[raw]<div class="b-main-wrapper" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px; background-color: white;">
  <nav class="b-nav-fillpath">
    <a class="b-button__prev _active"><span class="b-button__icon"></span><h3>Назад</h3></a>
    <a class="b-button__next _active"><span class="b-button__icon"></span><h3>Вперед</h3></a>
  </nav>
  <div class="main-description" style="margin: 0 0 0 0;">
    <div class="description active animate" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: hidden; margin-left: 0; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: auto; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div style="width: 980px; height: 889px; margin: 20px 0 0;">
            <div style="width: 300px; height: 889px; float: right; margin: 0 50px 0 0; position: relative;">
              <div style="width: 300px; height: 407px;">
                <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy9.jpg" width="300" height="407" alt="Мальчик с шариками">
              </div>
            </div>
            <div style="width: 580px; height: 889px; float: left; margin: 0 0 0 45px;">
              <p class="blue size-36 bold font-verdana center" style="margin: 0 0 0 0; line-height: 48px;">
                <span class="animate-desc-parent left size-48" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">Игровая</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">коррекция проблем обучения</span></span><br>
              </p>
              <p class="blue size-30 bold font-verdana center" style="margin: 37px 0 0 0; line-height: 38px;">
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">Приводит в норму</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">деятельность структур мозга,</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">отвечающих за обучаемость</span></span>
              </p>
              <p class="black size-20 bold font-verdana center" style="margin: 50px 0 0 0; line-height: 26px;">
                <span class="animate-desc-parent left size-20" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">Технология запатентована как изобретение</span></span><br>
                <span class="animate-desc-parent left size-20" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">и не имеет аналогов в мире</span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; opacity: 1; top: 0; width: 100%; overflow: auto; margin-left: 100%;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: auto; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div style="width: 980px; height: 889px; margin: 20px 0 0;">
            <div style="width: 300px; height: 889px; float: right; margin: 0 50px 0 0; position: relative;">
              <div style="width: 300px; height: 452px;">
                <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi-slider/verovenko.jpg" width="300" height="452" alt="Ольга Олеговна Веровенко">
              </div>
            </div>
            <div style="width: 580px; height: 889px; float: left; margin: 0 0 0 45px;">
              <p class="red size-36 bold font-verdana center" style="margin: 0 0 0 0; line-height: 48px;">
                <span class="animate-desc-parent left size-48" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden; line-height: 64px;">Чудо будет!</span></span><br>
              </p>
              <p class="blue size-36 bold font-verdana center" style="margin: 32px 0 0 0; line-height: 42px;">
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden;">Сеансы ведёт</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden;">нейролингвист, врач, педагог,</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden;">Doctor, Grand Doctor,</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden;">Professor, Full Professor,</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden;">доктор психологических наук,</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 0; overflow: hidden;">профессор</span></span><br>
                <span class="animate-desc-parent left size-30" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="display: inherit; opacity: 1; overflow: hidden;">Ольга Олеговна Веровенко</span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: auto;  margin-left: 100%; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: auto; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="black font-verdana bold" style="margin: 0 auto; width: 980px;">
            <p class="size-20 blue italic" style="line-height: 26px; margin: 20px 0 0 0">Елена Васильевна Павликова, Москва<br>8-916-583-08-93 Звоните мне, дам отзыв!</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Я&nbsp;мама шестиклассника, который вместо <span class="tag">съехал</span> писал <span class="tag">здыхал</span>. Зеркалил буквы, пропускал слоги, читал еле-еле, с&nbsp;трудом собирая буквы в&nbsp;кучку и&nbsp;безбожно перевирая...</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">У&nbsp;каких только репетиторов, психологов и&nbsp;специалистов мы&nbsp;не&nbsp;побывали! Нам рекомендовали пить витамины, делать дыхательную гимнастику, заставляли пролезать под стулом (при этом глаза надо направить в&nbsp;одну сторону, а&nbsp;высунутый язык&nbsp;- в&nbsp;другую). Один дядечка рассмеялся и&nbsp;говорит: &laquo;Что&nbsp;вы, мамаша, так переживаете, к&nbsp;сорока годам у&nbsp;него это само пройдет!&raquo;</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Я&nbsp;зарыдала и&nbsp;спрашиваю: &laquo;А&nbsp;сейчас-то нам как быть? Как в&nbsp;школе учиться?!&raquo;</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">И&nbsp;вот попали к&nbsp;Ольге Олеговне на&nbsp;&laquo;Волшебный сеанс&raquo;. Само общение с ней было волшебным. А&nbsp;потом мы ещё взяли нейролингвистический курс &laquo;Чудо будет!&raquo;</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Сейчас мой Пашка победитель всех городских олимпиад: по&nbsp;русскому, математике, химии, биологии&nbsp;&mdash; всех! И&nbsp;даже второе место во&nbsp;Всероссийской олимпиаде по&nbsp;истории. Учится только на&nbsp;пять и&nbsp;пять с&nbsp;плюсом. Пятерок с&nbsp;минусом у&nbsp;нас не&nbsp;бывает!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: hidden; margin-left: 100%; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="black font-verdana bold" style="margin: 0 auto; width: 800px;">
            <p class="size-20 blue italic" style="line-height: 26px; margin: 20px 0 0 0">Галина Александровна Подгайская, г. Чернигов, Украина</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Не&nbsp;могу нарадоваться, исчезли не&nbsp;только двойки, но&nbsp;даже троек нет! Сын учится на&nbsp;четыре-пять. Вот&nbsp;уж действительно волшебный сеанс!</p>
            <p class="size-20 blue italic" style="line-height: 26px; margin: 40px 0 0 0">Маргарита Романовна Люмина, Москва</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">По математике у сына одни пятерки, а&nbsp;вот по&nbsp;русскому&nbsp;<span class="normal">–</span> караул! Врачи поставили диагноз&nbsp;<span class="normal">–</span> дислексия. С&nbsp;этим мы и пришли к&nbsp;Ольге Олеговне на&nbsp;<span class="tag">Волшебный сеанс</span>.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Всего два часа очень приятного занятия по&nbsp;уникальной технологии, потом нам дали лёгкое домашнее задание-игру, в&nbsp;которую мы с&nbsp;сыном охотно играли недели три по&nbsp;пять минут в&nbsp;день.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Результат великолепный! Исчезли двойки и&nbsp;тройки. Мальчик легко и&nbsp;хорошо учится по&nbsp;всем предметам.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: hidden; margin-left: 100%; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="black font-verdana bold" style="margin: 0 auto; width: 980px;">
            <p class="size-20 blue italic" style="line-height: 26px; margin: 20px 0 0 0">Галина Ивановна Алмаева, г. Королёв<br>8-915-406-88-91 Звоните мне, дам отзыв!</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Мы&nbsp;с&nbsp;мужем люди небогатые, а&nbsp;дочка упёрлась: "Хочу поступать в&nbsp;ИСАА на&nbsp;японистику!"</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Какой там ИСАА&nbsp;<span class="normal">–</span> в&nbsp;школе одни трояки с&nbsp;минусом, репетиторы семь дней в&nbsp;неделю, все деньги туда уходят, а&nbsp;результат ноль! Вот такая японистика...</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Нашла в&nbsp;интернете информацию о&nbsp;нейролингвисте О.&nbsp;Веровенко. "Поедем, детка, обследуемся, может, с&nbsp;тобой что&nbsp;не&nbsp;так?"</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">И&nbsp;верно. Оказалась у&nbsp;нас оптическая афазия, дефицит концентрации внимания. Не&nbsp;видит, не&nbsp;воспринимает мозг девочки информацию в&nbsp;полном объеме.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Я&nbsp;заплакала, спрашиваю: "Лечится?"&nbsp;<span class="normal">–</span> "Таблетками не&nbsp;лечится, но&nbsp;откорректировать можно".</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Откорректировали! От дюжины репетиторов сразу&nbsp;же отказались за&nbsp;ненадобностью. А&nbsp;через три месяца дочка (уже круглая отличница!) перевелась в&nbsp;прекрасную элитную гимназию, где&nbsp;её, такую умницу, приняли с&nbsp;распростертыми объятиями.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0;">Сейчас дочка учится в&nbsp;МГУ на&nbsp;международном отделении. Побывала не&nbsp;только в&nbsp;Японии, но&nbsp;и&nbsp;поучилась в&nbsp;Америке, Англии по&nbsp;студенческому обмену. Счастливое будущее вот оно, открылось! А&nbsp;не&nbsp;встреть мы Ольгу Олеговну? Страшно подумать!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: hidden; margin-left: 100%; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="black font-verdana bold" style="margin: 20px auto 0; width: 800px;">
            <p class="size-20 blue italic" style="line-height: 26px; margin: 0 0 0 0">Алла Александровна Лейфа, Геленджик<br>8-928-330-95-38 Звоните мне, дам отзыв!</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0"><span class="tag">Волшебный&nbsp;сеанс</span> сэкономил нам самое главное: время, силы, нервы.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Мой ребёнок не&nbsp;бегает теперь после школы по&nbsp;репетиторам, не&nbsp;сидит до&nbsp;ночи за&nbsp;домашними заданиями.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Теперь после школы у&nbsp;нас моделирование, плавание, танцы. Общение с&nbsp;друзьями. Компьютер? Да&nbsp;сколько угодно! Учёба даётся легко, буквально играючи.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">А&nbsp;главное&nbsp;<span class="normal">–</span> ребёнок больше не&nbsp;горбится, как&nbsp;старушка, после очередной двойки. Она&nbsp;распрямилась, её голова гордо поднята.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">А&nbsp;разве чувство собственного достоинства, уверенность в&nbsp;себе, здоровье, радость детства&nbsp;<span class="normal">–</span> не стоят того?!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: auto; margin-left: 100%; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: auto; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="black font-verdana bold" style="margin: 0 auto; width: 800px;">
            <p class="size-20 blue italic" style="line-height: 26px; margin: 20px 0 0 0">Владимир Николаевич Григорьев, Москва<br>8-985-764-31-77 Звоните мне, дам отзыв!</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Думается, дело не только в гениальной технологии коррекции, очень яркой и действенной (что-то вроде интеллектуальной игры), но дело в человеке. В мастере. Это называется ТАЛАНТ.</p>
            <p class="size-20" style="line-height: 26px; margin: 20px 0 0 0">Спасибо за сына, Ольга Олеговна!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 4; top: 0; width: 100%; overflow: auto; margin-left: 100%; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="div-scale" style="z-index: 1; overflow: auto; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="black font-verdana bold" style="margin: 0 auto; width: 800px;">
            <p class="yellow size-48 bold font-verdana center" style="line-height: 48px; margin: 20px 0 0 0"><span class="tag">Волшебный сеанс</span></p>
            <p class="size-20 blue center" style="line-height: 36px; margin: 20px 0 0 0">Повышение концентрации внимания в 2-3 раза<br>за один сеанс</p>
            <p class="size-30 center" style="line-height: 36px; margin: 20px 0 0 0"><a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="b-button normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 10px 30px; margin: 0 -30px 0;"><span class="white bold" style="">Подробнее</span></a></p>
            <p class="yellow size-48 bold font-verdana center" style="line-height: 48px; margin: 60px 0 0 0"><span class="tag">Чудо будет!</span></p>
            <p class="size-20 blue center" style="line-height: 36px; margin: 20px 0 0 0">Коррекция комплекса проблем<br>(дисграфия, дислексия, <span class="tag">школьный</span> невроз)<br>4-12 сеансов</p>
            <p class="size-30 center" style="line-height: 36px; margin: 20px 0 0 0"><a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="b-button normal" style="text-decoration: none; color: #EE1C24; padding: 10px 30px; margin: 0 -30px 0; position: relative;"><span class="white bold" style="">Подробнее</span></a></p>
          </div>
        </div>
      </div>
    </div></div>
</div>
</div>[/raw]