<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">СКИДКИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper div-wrapper_volume">
	<!--<span class='b-vert-flag _subsidiary'>★★★<br>★★</span>-->
	<p class="red size-36 font-verdana bold center" style="margin: 22px 0 35px 0;">
		<span style="font-size: 58px;">Психолог экстра-класса</span><br>
		профессор Ольга Олеговна Веровенко
	</p>
	<div style="width: 960px; height: 642px; padding: 0 0 0 0;">
		<div style="width: 368px; height: 642px; float: left; margin: 0 0 0 39px;">
			<div class="image-shadow-0" style="width: 368px; height: 554px; border: 2px solid rgba(170, 168, 168, 1);">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-14 font-arial center" style="margin: 16px 0 0 0; line-height: 16px;">
				Доктор психологических наук<br>
				профессор Ольга Олеговна Веровенко<br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Подробнее</span></a>
			</p>
		</div>
		<div style="width: 540px; height: 642px; float: right; margin: 0 0 0 0;">
			<p class="light-blue size-48 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 60px; font-size: 42px;">
				Ультрасовременные<br>
				мега-программы
			</p>
			<p class="light-blue size-36 font-verdana bold center" style="margin: 0 0 78px 0; line-height: 48px;">
				реальной психологической<br>
				помощи и первоклассной<br>
				нейролингвистической коррекции<br>
				для взрослых и детей.
			</p>
			<p class="yellow size-36 font-verdana center" style="margin: 0 0 8px 0; line-height: 42px;">
				Выберите свою программу!
			</p>
		</div>
	</div>
	<p class="red size-48 font-verdana bold center" style="margin: 50px 0 35px 0;">
		Дорогие мои!
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Если вы&nbsp;читаете эту страницу&nbsp;– значит, вам <span class="blue bold">ПЛОХО</span>. Плохо вам, или вашим близким, или&nbsp;– не&nbsp;дай Бог! –&nbsp;вашему ребёнку. И&nbsp;<span class="blue bold">ПОМОЩЬ</span> моя вам нужна <span class="blue bold">НЕМЕДЛЕННО</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Именно сейчас вы&nbsp;её&nbsp;и&nbsp;получите. <span class="blue bold">СИЮ СЕКУНДУ</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Звоните. Сеанс (он&nbsp;же диагностика и&nbsp;экстренная помощь) будет проведён по&nbsp;телефону. Сразу станет легче&nbsp;– я&nbsp;вам гарантирую.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Не&nbsp;думайте об&nbsp;оплате. Оплатите потом&nbsp;– и&nbsp;не&nbsp;мне. Когда-нибудь, на&nbsp;досуге, зайдите в&nbsp;церковь или магазин, бросьте несколько монет в&nbsp;благотворительный ящик для обездоленных. Будем считать это оплатой.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		О&nbsp;мега-программах тоже побеседуем в&nbsp;другой раз.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		А&nbsp;сейчас&nbsp;– <span class="blue bold">СЕАНС</span>!
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Потребуется 2-3 часа вашего времени. Будьте дома. Не&nbsp;волнуйтесь&nbsp;– звонок для вас бесплатный.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Вот что будет на&nbsp;этом сеансе.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Работа с&nbsp;Подсознанием. Выход из&nbsp;тупика развития. Очищение жизни от&nbsp;страхов, неуверенности в&nbsp;себе, врагов тайных и&nbsp;явных, ссор, раздоров, обид, от&nbsp;бедности и&nbsp;трудностей, уныния, неврозов, хронической усталости и&nbsp;прочих бед – больших и&nbsp;малых.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Привлечение <span class="blue bold">СЧАСТЬЯ</span>, <span class="blue bold">РАДОСТИ</span>, <span class="blue bold">УДАЧИ</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Расправьте крылья!
	</p>
	<p class="yellow size-30 bold center font-verdana line-height-23" style="margin: 40px 0 40px;">
		Чудо будет!
	</p>
	<p class="blue size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
		<span class="light-yellow">+7</span> <span class="lilac">(985)</span> <span class="blue">7</span><span class="light-blue">6</span><span class="red">5</span>–<span class="green1">2</span><span class="blue">–</span><span class="red">555</span>
	</p>
	<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
		до 22:00
	</p>
	<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 11px 0;">
		Если я не отвечаю – значит, веду сеанс с кем-то другим.<br>Наберитесь терпения. Я обязательно отвечу на ваш звонок.
	</p>
	<p class="red size-14 bold font-verdana center" style="margin: 0 0 33px 0;">
		Звонок бесплатный!
	</p>
	<p class="light-blue font-verdana bold center" style="margin: 100px 0 35px 0; font-size: 52px;">
		Мега-программы
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 50px 0 35px 0; line-height: 44px;">
		Вверх!<br>
		<span class="blue size-18" style="">Для взрослых</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Работа с подсознанием. Суггестия (мягкий гипноз) + <span class="italic bold blue">NL</span>-психология + <span class="italic bold blue">NL</span>-работы.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Выход из любого тупика развития.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Карьера, бизнес, семья, взаимоотношения, счастье.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Очищение жизни от врагов тайных и явных, страхов, конфликтов, ссор, раздоров, обид.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Ликвидация депрессий, неврозов, стрессов.
	</p>
	<p class="blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Возможна дистанционная работа по телефону.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Стоимость сеанса: 900 у.е.<br>
		Длительность: 4-6 сеансов.<br>
		Оплата в рублях по курсу ЦБ, 1 у.е. = 1 евро
	</p>
	<p class="blue bold size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Эти работы могут быть совершенно бесплатными, если ваш ребёнок (или&nbsp;вы) проходите обучение по&nbsp;программе <span class="tag">Четвёртое&nbsp;измерение</span> <span class="light-blue normal">(см. ниже)</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Ваш Мастер</span></a>
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 35px 0; line-height: 44px;">
		Выбор Реальности<br>
		<span class="blue size-18" style="">Для взрослых</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Расширение сознания. Ваши варианты и возможности.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Достижение цели.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Гармонизация жизни. Привлечение потока удачи.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Изменение (улучшение) Реальности. Выход на новый, более высокий уровень развития.
	</p>
	<p class="blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Возможна дистанционная работа по телефону.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Стоимость сеанса: 900 у.е.<br>
		Длительность: 4-6 сеансов.<br>
		Оплата в рублях по курсу ЦБ, 1 у.е. = 1 евро
	</p>
	<p class="blue bold size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Эти работы могут быть совершенно бесплатными, если ваш ребёнок (или&nbsp;вы) проходите обучение по&nbsp;программе <span class="tag">Четвёртое&nbsp;измерение</span> <span class="light-blue normal">(см. ниже)</span>.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Ваш Мастер</span></a>
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 35px 0; line-height: 44px;">
		Телепатия<br>
		<span class="blue size-18" style="">Для взрослых и школьников</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Обучение русскому языку с помощью телепатии.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Ни одно правило не будет произнесено вслух, однако Вы будете писать безупречно правильно, хотя так и не поймете, откуда эта способность у Вас взялась. Навык останется на всю жизнь.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<span class="blue bold">Совершенно бесплатно. Включено в&nbsp;любой курс обучения со&nbsp;мной: <span class="tag">Чудо&nbsp;будет!</span>, <span class="tag">Врождённая&nbsp;грамотность</span>, <span class="tag">Четвёртое&nbsp;измерение</span> и&nbsp;т.д.</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">К обучающим программам</span></a>
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 35px 0; line-height: 44px;">
		Чудо будет!<br>
		<span class="blue size-18" style="">Для школьников</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Игровой мега-курс.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Коррекция <span class="tag">школьного</span> невроза, дислексии, дисграфии + русский, чтение, речь.<br>
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Длительность: 4-8 сеансов.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_chudo; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Подробнее</span></a>
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 35px 0; line-height: 44px;">
		Волшебный сеанс<br>
		<span class="blue size-18" style="">Для школьников</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Работа на уровне Подсознания.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Успеваемость по всем гуманитарным предметам повысится на 1-2 балла <span class="blue bold">за один сеанс</span>. <span class="red size-14">Скидки.</span><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_volshebiy; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Подробнее</span></a>
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 25px 0; line-height: 44px;">
		Четвёртое измерение
	</p>
	<p class="blue size-18 font-verdana bold center" style="margin: 0 0 35px 0; line-height: 21px;">
		Семейная программа<br>
		для школьников и родителей
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Коррекция проблем обучения, поведения + <span class="italic bold blue">NL</span>-обучение (русский, грамотность, чтение, речь) + программа <span class="tag">Вверх!</span> (для родителей).
	</p>
	<p class="blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Работа с эгрегором семьи (коллективное бессознательное). Возможна работа с другим человеком через вас.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Длительность: 4-8 сеансов.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">К обучающим программам</span></a>
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 35px 0; line-height: 44px;">
		Обучение под гипнозом<br>
		<span class="blue size-18" style="">Взрослым, школьникам</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<span class="red bold">1.</span> <span class="blue bold">Творчество.</span> Максимальное раскрытие ваших способностей под гипнозом. Сказки, рассказы, сочинения, изложения.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<span class="red bold">2.</span> <span class="blue bold">Русский язык.</span> Грамотность. Максимально эффективное <span class="italic bold blue">NL</span>-обучение на уровне подсознания под&nbsp;гипнозом.
	</p>
	<p class="blue bold size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Эти работы могут быть совершенно бесплатными, если ваш ребёнок (или&nbsp;вы) проходите обучение по&nbsp;программе <span class="tag">Четвёртое&nbsp;измерение</span> <span class="light-blue normal">(см. выше)</span>.
	</p>
	<p class="light-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Гипноз даётся ТОЛЬКО по вашей просьбе.
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 0 35px 0; line-height: 44px;">
		<span class="italic">NL</span>-обучение<br>
		<span class="blue size-18" style="">Взрослым и школьникам</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<span class="blue bold">Русский язык. Английский язык.</span> Начинающим и продвинутым. ГИА. ЕГЭ.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 25px 21px;">
		Обучение на уровне Подсознания.<br>
		Зубрёжки правил нет.<br>
		Домашние задания минимальны.
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<span class="yellow bold">Блистательный конечный результат</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 25px 21px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">К обучающим программам</span></a>
	</p>
	<p class="yellow bold size-18 font-verdana line-height-23" style="margin: 80px 0 21px 25px;">
		Все авторские технологии обучения и&nbsp;коррекции запатентованы как изобретения и&nbsp;не&nbsp;имеют аналогов в&nbsp;мире.
	</p>
	<p class="red size-48 font-verdana bold center" style="margin: 100px 40px 35px 0; line-height: 44px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: none; color: #ed1c24; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red" style="background-size: auto 100%;background-image: linear-gradient(to top, rgba(237, 28, 36, 1) 2px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Отзывы</span></a>
	</p>
	<p class="blue size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
		<span class="light-yellow">+7</span> <span class="lilac">(985)</span> <span class="blue">7</span><span class="light-blue">6</span><span class="red">5</span>–<span class="green1">2</span><span class="blue">–</span><span class="red">555</span>
	</p>
	<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
		с 12:00 до 22:00
	</p>
	<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">
		ежедневно
	</p>
</div>