<div class="div-wrapper_padding">
	<p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="resultat"></a></p>
	<p class="yellow font-verdana bold center" style="margin: 18px 0 50px 0; font-size: 48px;">
		Результаты обучения:
	</p>
	<p class="red bold size-18 font-verdana center" style="margin: 0 0 19px 0;">
		На входе 105 ошибок, на выходе 0 <span class="normal font-arial">–</span> улучшение в 105 раз!
	</p>
	<div style="width: 960px; height: 400px;">
		<div style="width: 262px; height: 400px; float: left; margin-left: 151px;">
			<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 14px 0;">
				Вступительный тест
			</p>
			<div style="width: 262px; height: 375px; margin:0 auto;">
				<div class="image-shadow" style="width: 262px; height: 359px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test1.jpg" width="262" height="359" alt="Вступительный тест">
				</div>
				<div class="image-shadow-right-1" style="width: 131px; background-position: -186px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 131px;">
				</div>
			</div>
		</div>
		<div style="width: 260px; height: 400px; float: right; margin: 0 169px 0 0;">
			<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 14px 0;">
				Выпускной тест
			</p>
			<div style="width: 260px; height: 376px;">
				<div class="image-shadow" style="width: 260px; height: 360px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test2.jpg" width="260" height="360" alt="Выпускной тест">
				</div>
				<div class="image-shadow-right-1" style="width: 130px; background-position: -186px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 130px;">
				</div>
			</div>
		</div>
	</div>
	<p class="red bold size-18 font-verdana center" style="margin: 107px 0 21px 0;">
		На входе 28 ошибок, на выходе 0 <span class="normal font-arial">–</span> улучшение в 28 раз!
	</p>
	<div style="width: 960px; height: 400px;">
		<div style="width: 234px; height: 400px; float: left; margin-left: 151px;">
			<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 14px 0;">
				Вступительный тест
			</p>
			<div style="width: 266px; height: 365px; margin:0 auto;">
				<div class="image-shadow" style="width: 266px; height: 349px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test3.jpg" width="266" height="349" alt="Вступительный тест">
				</div>
				<div class="image-shadow-right-1" style="width: 133px; background-position: -186px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 133px;">
				</div>
			</div>
		</div>
		<div style="width: 258px; height: 400px; float: right; margin: 0 169px 0 0;">
			<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 14px 0;">
				Выпускной тест
			</p>
			<div style="width: 258px; height: 366px;">
				<div class="image-shadow" style="width: 258px; height: 350px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test4.jpg" width="258" height="350" alt="Выпускной тест">
				</div>
				<div class="image-shadow-right-1" style="width: 129px; background-position: -186px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 129px;">
				</div>
			</div>
		</div>
	</div>
	<p class="red bold size-18 font-verdana center" style="margin: 107px 0 21px 0;">
		На входе 95 ошибок, на выходе 1 <span class="normal font-arial">–</span> улучшение в 95 раз!
	</p>
	<div style="width: 960px; height: 470px;">
		<div style="width: 266px; height: 470px; float: left; margin-left: 151px;">
			<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 14px 0;">
				Вступительный тест
			</p>
			<div style="width: 266px; height: 387px; margin:0 auto;">
				<div class="image-shadow" style="width: 266px; height: 371px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test5.jpg" width="266" height="371" alt="Вступительный тест">
				</div>
				<div class="image-shadow-right-1" style="width: 133px; background-position: -186px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 133px;">
				</div>
			</div>
		</div>
		<div style="width: 269px; height: 470px; float: right; margin: 0 169px 0 0;">
			<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 14px 0;">
				Выпускной тест
			</p>
			<div style="width: 269px; height: 386px;">
				<div class="image-shadow" style="width: 269px; height: 370px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test6.jpg" width="269" height="370" alt="Выпускной тест">
				</div>
				<div class="image-shadow-right-1" style="width: 135px; background-position: -186px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 134px;">
				</div>
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 14px 0 21px 116px; line-height: 22px;">
		У нас подобных тестов – множество. Когда придёте на тестирование и пробное занятие,<br>
		сможете увидеть оригиналы.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 116px; line-height: 22px;">
		Ведь <span class="red bold">за 25 лет</span> мы обучили <span class="red bold">более 100 тысяч</span> человек – население целого города!<br>
		<span class="blue bold">И всегда – с блистательным конечным результатом.</span>
	</p>
	<p class="size-24 font-verdana center" style="margin: 57px 0 12px 0;">
		<a href="#" onClick="history.back()" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px;"><span class="blue" style="background-size: auto 100%; background-image: linear-gradient(to top, rgba(0, 0, 238, 0.6) 0px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Вернуться</span></a>
	</p>
</div>