[raw]
<div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
  <div class="gold bold font-verdana center" style="margin: 0 auto;">
    <p style="font-size: 2em;margin: 1.8em 0 0.4em; line-height: normal;">
      Коли так,<br>у&nbsp;Вас есть шанс<br>получить скидку<br>80%
    </p>
    <p style="font-size: 1.5em;margin: 0 0 1.5em; line-height: normal;">
      Эта скидка не&nbsp;обозначена в&nbsp;прайсе. Она только для&nbsp;Вас.<br>Но&nbsp;при&nbsp;условии, что Вы&nbsp;<span class="font-arial normal">–</span> Persona Grata! И&nbsp;при условии, что вы читали статьи.
    </p>
    <p class="center" style="font-size: 1.5em; margin: 0 0 0.85em 0;"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_grata; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 1em; margin: 0 1em 0; width: 26.875em;"><span class="white bold" style="">Да, я хочу получить статус Persona Grata</span></a></p>
    <p class="center" style="font-size: 1.5em; margin: 0 0 0.85em 0;"><a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_yaga; [/exec]" class="b-button _mix-purple-orange normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 1em; margin: 0 1em 0; width: 26.875em;"><span class="white bold" style="">Не&nbsp;хочу&nbsp;– не&nbsp;буду, не&nbsp;буду&nbsp;– не&nbsp;хочу!</span></a></p>
  </div>
</div>
<div class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]