[raw]
<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: 0px; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]"><span class="yellow">КОНТАКТЫ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_patent; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_patent; [/exec]"><span class="yellow">ПАТЕНТЫ, СЕРТИФИКАТЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper">
  <p class="light-blue size-24 font-verdana bold center" style="margin: -10px 0 5px 0;">
    Профессор Ольга Олеговна Веровенко
  </p>
  <p class="light-blue size-18 font-verdana bold center" style="margin: 0 0 40px 0;">
    и её технологии обучения экстра-класса
  </p>
  <div style="width: 980px; display: inline-block; padding: 0 0 0 0;">
    <div style="width: 270px; float: left; margin: 0 0 0 39px;">
      <div class="image-shadow-0" style="width: 270px; height: 360px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
        Профессор<br>
        Ольга Олеговна Веровенко
      </p>
    </div>
    <div style="width: 630px; float: right; margin: 0 0 0 0;">
      <p class="light-blue size-16 font-verdana bold center" style="margin: -2px 0 8px 0;">
        Веровенко Ольга Олеговна
      </p>
      <p class="blue bold size-14 font-verdana" style="margin: 0 15px 20px 0; line-height: 17px;">
        Педагог, филолог (русский и&nbsp;английские языки), учёный&#8209;нейролингвист (новейшие методы эффективного обучения на уровне Подсознания), <span class="light-blue italic">NL</span>&#8209;психолог (когнитивно&#8209;поведенческая психотерапия), телерадиоведущая.<br>
        Входит в топ&#8209;10 лучших <span class="light-blue italic">NL</span>&#8209;специалистов Европы.
      </p>
      <p class="light-blue size-16 font-verdana bold center" style="margin: 0 0 8px 0;">
        Звания и степени
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 0 0; line-height: 17px;">
        <span class="red" style="font-size: 12px;">Российские:</span> кандидат филологических наук, доктор психологических наук, профессор.<br>
        <span class="red" style="font-size: 12px;">Международные:</span> Doctor, Grand Doctor, Professor, Full Professor.
      </p>
      <p class="dark-blue center size-14 font-verdana" style="margin: 0 15px 20px -29px; line-height: 17px;">
        Почётный работник общего образования России.
      </p>
      <p class="light-blue size-16 font-arial bold center" style="margin: 0 0 8px 0;">
        Образование
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 20px 0; line-height: 17px;">
        Четыре высших образования: МГУ (Москва), университет Цинциннати (США), аспирантура, докторантура (Бельгия). Все защиты по сумме собственных трудов.<br><span class="red" style="font-size: 12px;">Стажировки:</span> США, Франция.
      </p>
      <p class="light-blue size-16 font-arial bold center" style="margin: 0 0 8px 0;">
        Изобретения
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 16px 0; line-height: 17px;">
        Автор уникальных технологий обучения: <span class="tag">Врождённая&nbsp;грамотность</span> (русский язык), <span class="tag">Вертикальный&nbsp;взлёт</span> (английский язык), <span class="tag">Чудо&nbsp;будет!</span> (игровая коррекция проблем).
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 16px 0; line-height: 17px;">
        Эти технологии <span class="red">в&nbsp;15&#8209;20&nbsp;раз</span> <span class="blue">эффективнее, быстрее, мощнее</span> традиционного обучения.
      </p>
      <p class="blue size-14 font-verdana" style="margin: 0 15px 0 0; line-height: 17px;">
        Международная экспертиза PCT подтвердила, что&nbsp;в&nbsp;области нейропсихологии&nbsp;– современной науки об&nbsp;усвоении информации человеческим мозгом&nbsp;– эти&nbsp;технологии <span class="red">не&nbsp;имеют аналогов в&nbsp;мире.</span>
      </p>
    </div>
  </div>
  <div style="width: 960px; display: inline-block; padding: 20px 0 0 0;">
    <div style="width: 610px; float: left; padding-left: 31px">
      <p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 8px 0;">
        Практическая деятельность
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
        Декан факультета педагогики и&nbsp;психологии, сенатор, член учёного совета Международной докторантуры (<span class="blue bold">Бельгия</span>).
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 30px 0; line-height: 17px;">
        Руководитель собственной авторской школы&#8209;студии.<br>
        <span class="blue">Индивидуальное обучение <span class="bold">экстра&#8209;класса</span> для&nbsp;взрослых и&nbsp;школьников. Русский, английский, коррекция любых проблем обучения и&nbsp;поведения (<span class="blue bold">Россия</span>).</span>
      </p>
      <p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 8px 0;">
        Награды
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 30px 0; line-height: 17px;">
        Именем Ольги Веровенко названа звезда в созвездии Кассиопеи.
      </p>
      <p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 8px 0;">
        Спорт
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 30px 0; line-height: 17px;">
        Сёрфинг, яхтинг, горный туризм, альпинизм.
      </p>
      <p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 8px 0;">
        Увлечения
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 30px 0; line-height: 17px;">
        Дружить с&nbsp;людьми, играть с&nbsp;детьми, выращивать цветы.
      </p>
      <p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 8px 0;">
        Уникальный ДАР
      </p>
      <p class="yellow bold size-14 font-verdana" style="margin: 0 0 26px 0; line-height: 17px;">
        Обладает уникальной благоприятной энергетикой, позволяющей молниеносно обучать и&nbsp;лечить людей.
      </p>
    </div>
    <div style="width: 270px; float: right; margin: 0 14px 0 0;">
      <p class="blue size-18 font-arial bold center" style="margin: 10px 0 21px 0; line-height: 21px;">
        Звезда Ольга Веровенко<br>
        в созвездии Кассиопеи
      </p>
      <div class="image-shadow-0" style="width: 270px; height: 338px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko/star.jpg" width="100%" height="100%" alt="Звезда Ольга Веровенко в созвездии Кассиопеи">
      </div>
    </div>
  </div>
  <p class="blue size-18 font-verdana bold" style="margin: 25px 0 30px 44px;">
    Любимые слова Ольги Веровенко:
  </p>
  <p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 30px 0; line-height: 41px;">
    Ты говоришь: <span class="tag">Как высока та гора!</span><br>
    Нет. Это ты стоишь низко.<br>
    Сделай шаг. Видишь, гора стала ниже?<br>
    Шаг. И ещё шаг...<br>
    Из цепочки шагов сложится<br>
    Самый Блистательный Маршрут.<br>
    Пойдём вместе?
  </p>
  <div class="compass-wrapper">
    <div style="position: relative; z-index: 2">
      <p class="blue size-24 font-verdana center bold" style="margin: 60px 0 72px 0;">
        Компас вам в дорогу!
      </p>
    </div>
    [exec] include_once get_template_directory().'/compas/compas-prof.php'; [/exec]
  </div>
</div>
[/raw]