[raw]
<div class="nav3" style="width: 100%; height: 86px; position: relative; z-index: 9999; overflow: hidden; background-color: #001dcc; top: 0px; left: 0; right: 0; border-bottom: 1px solid white;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;height: 86px; overflow: hidden;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: white;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 50px 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $verovenko_new; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span style="font-size: 20px; color:white;font-family: 'Playfair Display'; display: block; margin-bottom: -16px;">ПРИГЛАШАЮ К СОТРУДНИЧЕСТВУ!</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding" style="background-color: #001dcc;">
  <div class="div_dark-blue" style="margin: 30px 0 1500px;">
    <div style="width: 940px; height: 642px; padding: 0 20px 0; margin: 0 0 30px;">
      <div style="width: 270px; height: 642px; float: left; margin: 0 0 0 0;">
        <div class="image-shadow-0" style="width: 270px; height: 360px; border: 2px solid rgb(216, 211, 211);">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
        </div>
        <p class="white size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
          Профессор<br>Ольга Олеговна Веровенко
        </p>
        <p class="white size-12 font-arial center" style="margin: 10px 0 0 0; line-height: 16px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="white">Подробнее</span></a>
        </p>
      </div>
      <div style="width: 624px; height: 642px; float: right; margin: 0 0 0 0;">
        <p class="white size-18 font-verdana" style="margin: 0 0 20px; line-height: 30px;">
          Нейропсихолог, лингвист, педагог.
        </p>
        <p class="white size-18 font-verdana" style="margin: 0 0 20px; line-height: 30px;">
          Доктор психологических наук.<br>
          Кандидат филологических наук.
        </p>
        <p class="white size-18 font-verdana" style="margin: 0 0 20px; line-height: 30px;">
          Doctor, Grand Doctor, Professor, Full Professor.<br>
        </p>
        <p class="white size-18 font-verdana" style="margin: 0 -10px 20px 0; line-height: 30px;">
          Декан факультета психологии и педагогики Международной докторантуры, сенатор, член учёного совета WUDSES (Брюссель).<br>
          Руководитель авторской школы-студии (Москва).
        </p>
        <p class="white size-18 font-verdana" style="margin: 0 0 20px; line-height: 30px;">
          Почётный работник общего образования России.
        </p>
        <p class="size-18 white center" style="line-height: 30px; margin: 0 0 20px -80px;">
          тел. 8-985-765-2555
        </p>
        <p class="size-14 white" style="line-height: 22px; margin: 0 0 10px;">
          Проект. Речь пойдёт о&nbsp;школьниках, испытывающих некоторые трудности при&nbsp;обучении чтению, письму, русскому, английскому. Скорее всего, у&nbsp;них дислексия, дисграфия или&nbsp;<span class="tag">школьный</span> невроз.
        </p>
        <p class="size-14 white" style="line-height: 22px; margin: 0 0 10px;">
          Традиционное обучение здесь бессильно. Эти&nbsp;дети остро нуждаются в&nbsp;помощи нейропсихолога.<br>
          Вы нам – <span class="tag">трудных</span>, мы вам – благотворительность (до 100&nbsp;000 рублей за&nbsp;каждого учащегося по&nbsp;направлению школы).
        </p>
        <p class="size-14 white" style="line-height: 22px; margin: 0 0 20px;">
          Ваши двоечники и&nbsp;троечники вернутся к&nbsp;вам через 1&#8209;12&nbsp;сеансов отличниками!
        </p>
        <p class="size-18 white center" style="line-height: 30px; margin: 0 0 0 -80px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 20px 30px; margin: 0 -30px 0;"><span class="white" style="border-bottom: 1px solid white;">сайт: verovenko.ru</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
[/raw]