[raw]
<div class="nav3" style="width: 100%; height: 86px; position: relative; z-index: 9999; overflow: hidden; background-color: #001dcc; top: 0px; left: 0; right: 0; border-bottom: 1px solid white;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;height: 86px; overflow: hidden;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: white;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span style="color:white;">СКИДКИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span style="color:white;">СМИ</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span style="color:white;">ОТЗЫВЫ И КОНТАКТЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding" style="background-color: #001dcc;">
  <div class="div_dark-blue" style="margin: 9px 0 1500px;">
    <p class="white size-14 font-verdana bold center line-height-23" style="margin: 0 0 30px 0;">
      Педагог, нейропсихолог, лингвист. Кандидат филологических наук, доктор психологических наук.<br>
      Doctor, Grand Doctor, Professor, Full Professor.<br>
      Декан факультета педагогики и&nbsp;психологии Международной докторантуры, сенатор WUDSES (Брюссель).<br>
      Руководитель авторской школы-студии (Москва). Почётный работник общего образования России.
    </p>
    <div style="width: 940px; height: 642px; padding: 0 20px 0;">
      <div style="width: 270px; height: 642px; float: left; margin: 0 0 0 0;">
        <div class="image-shadow-0" style="width: 270px; height: 360px; border: 2px solid rgb(216, 211, 211);">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
        </div>
        <p class="white size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
          Профессор<br>Ольга Олеговна Веровенко
        </p>
        <p class="white size-12 font-arial center" style="margin: 10px 0 0 0; line-height: 16px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="white">Подробнее</span></a>
        </p>
      </div>
      <div style="width: 624px; height: 642px; float: right; margin: 0 0 0 0;">
        <ul class="white size-14 font-verdana" style="margin: 0 0 30px 20px; line-height: 22px;">
          <li style="margin: 0 0 15px 0;"><span class=""><span class="italic bold">NL</span>&#8209;<span class="bold">обучение</span>. Безупречные чтение, речь, русский, английский&nbsp;– почти молниеносно.<br><span class="size-12">Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием)!</span></span></li>
          <li style="margin: 0 0 15px 0;"><span class="">Виртуозная подача информации невербальным путем (<span class="tag">эффект&nbsp;телепатии</span>).</span></li>
          <li style="margin: 0 0 15px 0;"><span class="">Обучение под&nbsp;гипнозом (по&nbsp;желанию). Суперскорость. Суперэффект.</span></li>
          <li style="margin: 0 0 15px 0;"><span class="">Уникальные авторские технологии обучения (<span class="tag">Врождённая грамотность</span>, <span class="tag">Вертикальный взлёт</span>) и&nbsp;коррекции любых проблем (<span class="tag">Чудо будет!</span>), не&nbsp;имеющие равных в&nbsp;мире.</span></li>
          <li style="margin: 0 0 15px 0;"><span class=""><span class="bold">Игровое</span> обучение грамотности, чтению, русскому и&nbsp;английскому.</span></li>
          <li style="margin: 0 0 15px 0;"><span class=""><span class="italic bold">NL</span>&#8209;<span class="bold">коррекция</span>. Ликвидация любых проблем обучения (дислексии, дисграфии, <span class="tag">школьного</span> невроза) за&nbsp;1&#8209;4&nbsp;сеанса.</span></li>
          <li style="margin: 0 0 15px 0;"><span class="">Мощное повышение способностей к&nbsp;языкам (<span class="tag">эффект&nbsp;полиглота</span>). Улучшение памяти. Повышение ментальной выносливости и&nbsp;работоспособности. Привычка к&nbsp;быстрой и&nbsp;точной работе.</span></li>
          <li style="margin: 0 0 15px 0;"><span class="">Раскрытие творческих способностей (сочинения, изложения, сказки) за&nbsp;1&#8209;2&nbsp;сеанса.</span></li>
          <li style="margin: 0 0 15px 0;"><span class="">ГИА, ЕГЭ, ОГЭ. Только высший балл!</span></li>
          <li style="margin: 0 0 15px 0;"><span class=""><span class="italic bold">NL</span>&#8209;<span class="bold">психология</span>. Взрослым. Арсенал средств для&nbsp;решения любых ваших жизненных проблем (карьера, бизнес, семья, взаимоотношения). Выход из&nbsp;тупика развития. Коррекция судьбы с&nbsp;одновременным обучением языкам.</span></li>
        </ul>
        <p class="size-24 center" style="line-height: 30px; margin: 0 0 0 -60px;"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" class="b-button _dark-blue normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Выбрать спецкурс по душе</span></a></p>
      </div>
    </div>
  </div>
</div>
[/raw]