[raw]
<div class="nav3" style="width: 100%; height: 86px; position: relative; z-index: 9999; overflow: hidden; background-color: #001dcc; top: 0px; left: 0; right: 0; border-bottom: 1px solid white;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;height: 86px; overflow: hidden;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: white;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span style="color:white;">УСЛОВИЯ ОБУЧЕНИЯ, КОНТАКТЫ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span style="color:white;">СМИ</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span style="color:white;">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding" style="background-color: #001dcc;">
  <div class="div_dark-blue" style="margin: 30px 0 1500px;">
    <div style="width: 940px; height: 642px; padding: 0 20px 0; margin: 0 0 30px;">
      <div style="width: 270px; height: 642px; float: left; margin: 0 0 0 0;">
        <div class="image-shadow-0" style="width: 270px; height: 360px; border: 2px solid rgb(216, 211, 211);">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
        </div>
        <p class="white size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
          Профессор<br>Ольга Олеговна Веровенко
        </p>
        <p class="white size-12 font-arial center" style="margin: 10px 0 0 0; line-height: 16px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="white">Подробнее</span></a>
        </p>
      </div>
      <div style="width: 624px; height: 642px; float: right; margin: 0 0 0 0;">
        <p class="white size-14 font-verdana" style="margin: 0 0 20px; line-height: 22px;">
          Нейропсихолог, лингвист, педагог.
        </p>
        <p class="white size-14 font-verdana" style="margin: 0 0 20px; line-height: 22px;">
          Доктор психологических наук. Кандидат филологических наук.
        </p>
        <p class="white size-14 font-verdana" style="margin: 0 0 20px; line-height: 22px;">
          Doctor, Grand Doctor, Professor, Full Professor.<br>
        </p>
        <p class="white size-14 font-verdana" style="margin: 0 -10px 20px 0; line-height: 22px;">
          Декан факультета психологии и&nbsp;педагогики Международной докторантуры, сенатор, член учёного совета WUDSES (Брюссель).<br>
          Руководитель авторской школы-студии (Москва).
        </p>
        <p class="white size-14 font-verdana" style="margin: 0 0 20px; line-height: 22px;">
          Почётный работник общего образования России.
        </p>
        <p class="size-14 white" style="line-height: 22px; margin: 0 0 10px;">
          Сеансы. Речь идёт о&nbsp;школьниках, испытывающих некоторые трудности при&nbsp;обучении чтению, письму, русскому, английскому. Скорее всего, у&nbsp;них дислексия, дисграфия или <span class="tag">школьный</span> невроз.
        </p>
        <p class="size-14 white" style="line-height: 22px; margin: 0 0 20px;">
          Традиционное обучение здесь бессмысленно. Остро требуется помощь педагога&#8209;нейропсихолога. Приобретаете три&nbsp;в&nbsp;одном: здоровье&nbsp;+ безупречные знания&nbsp;+ способность к&nbsp;лёгкому обучению ВЕЗДЕ, ВСЕГДА, ВСЕМУ.
        </p>
        <p class="size-24 center" style="line-height: 30px; margin: 0 0 0 -60px;"><a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="b-button _dark-blue normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Курс <span class="tag">Чудо будет!</span></span></a></p>
      </div>
    </div>
  </div>
</div>
[/raw]