		<div id="load-video11" style="width: 640px; height: 360px; overflow: hidden;">
			<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nongrata.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nongrata.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div id="load-video22" style="width: 476px; height: 268px; overflow: hidden;">
	 		<video style="margin: -3px 0 0 0;" width="476" height="274" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/metro.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/metro.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
			<div id="load-video33" style="width: 355px; height: 200px;">
	 			<video style="margin: -2px 0 0 0;" width="355" height="204" autoplay loop>
			 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/price.mp4" type='video/mp4; codecs="avc1, mp4a"'>
					<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/price.webm" type='video/webm; codecs="vp8, vorbis"'>
					<p>not support video</p>
			  	</video>
	 		</div>
	 	<div id="load-video44" style="width: 356px; height: 200px;">
			<video style="margin: 0 0 0 0;" width="356" height="200" autoplay loop>
		 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/znak.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/znak.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
		  	</video>
		</div>
		<div style="width: 355px; height: 200px;">
			<video style="margin: -2px 0 0 0;" width="355" height="204" autoplay loop>
		 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/wow.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/wow.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
		  	</video>
		</div>
	<div id="load-video66" class="safari" style="width: 640px; height: 360px; overflow: hidden; margin:0 auto;">
 		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl.webm" type='video/webm; codecs="vp8, vorbis"'>
			<p>not support video</p>
  		</video>
	</div>
	<div id="load-video77" style="width: 640px; height: 376px; margin:0 auto;">
		<div style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div id="load-video88" class="image-shadow-0" style="width: 521px; height: 292px; border-radius: 0; margin: 7px 0 0 0;">
		<video style="margin: -1px 0 0 0;" width="521" height="296" autoplay loop>
	 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/orel.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/orel.webm" type='video/webm; codecs="vp8, vorbis"'>
			<p>not support video</p>
	  	</video>
	</div>
	<div id="load-video99" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video width="640" height="362" autoplay loop>
	 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/lentjaj/orel.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/lentjaj/orel.webm" type='video/webm; codecs="vp8, vorbis"'>
			<p>not support video</p>
	  	</video>
	</div>
	<div id="load-video1010" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
	 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/clock.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/clock.webm" type='video/webm; codecs="vp8, vorbis"'>
			<p>not support video</p>
	  	</video>
	</div>
	<div id="load-video1111" style="width: 640px; height: 376px; margin:0 auto;">
		<div style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div id="load-video1212" style="width: 640px; height: 376px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="360" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/rosa.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/rosa.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div id="load-video1313" style="width: 521px; height: 309px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 521px; height: 293px; overflow: hidden;">
	 		<video style="margin: -3px 0 0 0;" width="530" height="300" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pavlin.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pavlin.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div id="load-video1414" style="width: 521px; height: 309px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 521px; height: 293px; overflow: hidden;">
	 		<video style="margin: -3px 0 0 0;" width="530" height="300" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/izlozhenija/children.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/izlozhenija/children.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div id="load-video1515" style="width: 521px; height: 309px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 521px; height: 293px; overflow: hidden;">
	 		<video style="margin: -3px 0 0 0;" width="530" height="300" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/film.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/film.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
	</div>
	<div id="load-video1616" style="width: 100%; margin:0 auto;">
		<div style="width: 100%; overflow: hidden;">
	 		<video width="100%" style="margin-bottom: -15px; height: 100%;" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
	</div>
	<div id="load-video1717" style="width: 100%; margin:0 auto;">
		<div style="width: 100%; overflow: hidden;">
	 		<video width="100%" style="margin-bottom: -15px; height: 100%;" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pavlin.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pavlin.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
	</div>