<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]"><span class="yellow">КОНТАКТЫ, ТЕЛЕФОН</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_slider; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_slider; [/exec]"><span class="yellow">ВЕРНУТЬСЯ НА СЛАЙДЕР</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper">
	<p class="light-blue size-30 font-verdana bold center" style="margin: 20px 0 65px 0; line-height: 25px;">
		Волшебный сеанс
	</p>
	<div style="width: 960px; height: 916px; margin: 0 0 70px 0;">
		<div style="width: 462px; height: 916px; float: right; margin: 0 10px 0 0; position: relative; z-index: 5;">
			<div class="image-shadow" style="width: 462px; height: 615px; margin: 0 0 0 0; border: 2px solid #AAA8A8;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy.jpg" width="100%" height="100%" alt="Счастливый мальчик">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 35px 0 0 0;">
				Сеанс ведёт доктор психологических наук<br>
				профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Ольга Олеговна Веровенко</span></a>.
			</p>
		</div>
		<div style="width: 470px; height: 916px; float: left; margin: 0 0 0 9px">
			<p class="blue size-18 font-verdana" style="margin: -2px 0 21px 0; line-height: 28px;">
				Ошеломительно радостный,<br>
				<span style="margin: 0 0 0 57px;">незабываемо яркий сеанс</span><br>
				<span style="margin: 0 0 0 99px;">НАИВЫСШЕЙ РЕЗУЛЬТАТИВНОСТИ.</span>
			</p>
			<p class="red size-18 font-verdana line-height-23" style="margin: -2px 0 21px 0;">
				Диагностика. Нейролингвистическая<br>
				коррекция дислексии, дисграфии,<br>
				других проблем обучения.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Приведение в&nbsp;норму деятельности структур мозга, отвечающих за&nbsp;обучаемость.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Повышение концентрации внимания, без чего<br>
				невозможно грамотное письмо.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Навыки точного, правильного и осмысленного<br>
				чтения.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				<span class="bold">Результат.</span> В&nbsp;2-3 раза повышается способность к&nbsp;усвоению информации. Успеваемость по&nbsp;всем гуманитарным предметам повышается<br>на&nbsp;1-2&nbsp;балла. Домашние задания делаются легко и&nbsp;быстро. Появляется интерес и&nbsp;любовь к&nbsp;учёбе.
			</p>
			<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px">
				Сеанс предполагает небольшое домашнее задание-игру<br>
				(общей длительностью 3-5 часов).
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				<span class="bold">Двоек-троек не будет!</span> Помогает этот сеанс и<br>
				хорошистам, которые <span class="tag">почему-то</span> никак не<br>
				могут выйти в отличники.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				<span class="bold">Аналогичный сеанс</span> существует для&nbsp;изучающих английский язык.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Длительность сеанса 3 ак.часа.
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Стоимость сеанса: <span class="red bold">1.200 у.е.</span>
			</p>
			<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				С учётом Весенней скидки 75% <span class="normal">–</span> <span class="red bold">300 у.е.</span><br>
				Скидка действует до <span class="red bold">15 марта</span>.
			</p>
			<p class="blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Оплата в рублях по курсу ЦБ, 1 у.е. = 1 евро
			</p>
		</div>
	</div>
	<p class="yellow size-48 bold font-verdana center" style="line-height: 48px; margin: 20px 0 0 0">О проблемах обучения</p>
    <p class="size-30 center" style="line-height: 36px; margin: 30px 0 0 0"><a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="b-button normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 5px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Подробнее</span></a></p>
    <p class="yellow size-48 bold font-verdana center" style="line-height: 48px; margin: 60px 0 0 0">Курс <span class="tag">Чудо будет!</span></p>
    <p class="size-30 center" style="line-height: 36px; margin: 30px 0 60px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="b-button normal" style="text-decoration: none; color: #EE1C24; padding: 5px 15px; margin: 0 -15px 0; position: relative;"><span class="white bold" style="">Подробнее</span></a></p>
	<p class="blue size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
		<span class="light-yellow">+7</span> <span class="lilac">(985)</span> <span class="blue">7</span><span class="light-blue">6</span><span class="red">5</span>–<span class="green1">2</span><span class="blue">–</span><span class="red">555</span>
	</p>
	<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
		с 12:00 до 22:00
	</p>
	<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">
		ежедневно
	</p>
</div>