<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, СКИДКИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper_padding">
	<div class="div-shadow_white" style="margin: 9px 0 35px 0;">
		<p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
			НОВИНКА!
		</p>
		<p class="blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
			<span class="tag">Четвёртое измерение</span>
		</p>
		<p class="red size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
			Обучение под гипнозом
		</p>
		<div style="width: 980px; height: 591px; margin: 0 0 0 0; padding: 44px 0 40px;">
			<div style="width: 499px; height: 591px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
				<div class="image-shadow" style="width: 499px; height: 531px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl.jpg" width="499" height="531" alt="Летящая девушка">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 425px; height: 591px; float: left; margin: 0 0 0 21px">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Обучение под гипнозом в&nbsp;мировой практике считается максимально эффективным.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					В&nbsp;связке с&nbsp;нашими технологиями обучения (см.&nbsp;ниже) это даёт <span class="blue bold">ФЕЕРИЧЕСКИЙ</span> результат, многократно превышающий самые смелые ожидания.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вы&nbsp;не&nbsp;спите. Наоборот, вы&nbsp; сосредоточены, увлечены и&nbsp;готовы работать не&nbsp;поднимая головы. Оторвать вас от&nbsp;дела трудно, практически невозможно.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Максимально включаются память, интеллект, способность усваивать информацию. Полученные знания и&nbsp;навыки останутся с&nbsp;вами на&nbsp;всю жизнь. Но&nbsp;главное в&nbsp;другом: обучение под гипнозом позволяет преодолеть глубинные негативные установки Подсознания, которые и&nbsp;приводят к&nbsp;плохой, тяжёлой, трудной обучаемости.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вы&nbsp;получаете&nbsp;то, что просто недостижимо ни&nbsp;при каких других вариантах обучения: легкую обучаемость <span class="blue bold">ВЕЗДЕ</span>, <span class="blue bold">ВСЕГДА</span>, <span class="blue bold">ВСЕМУ</span>.<br>
					<span class="bold yellow">Плюс безупречная грамотность.</span>
				</p>
				<p class="red size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Курс: 4-12 сеансов по 3 ак. часа (12-36 ак. часов)<br>
					<a href="[exec] include get_template_directory().'/links.php'; echo $obraschenie; [/exec]" class="normal" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="red" style="border-bottom: 1px solid #4A4A4A;">с проф. О.О.Веровенко.</span></a>
				</p>
				<p class="light-blue bold size-14 font-verdana line-height-23" style="margin: 0 -200px 21px 0;">
					<span class="red">Протестируйте себя!</span> <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue">Тест-игра</span></a>. Играйте. Наслаждайтесь. Обучайтесь!
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 35px 0 35px 0;">
		<p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
			НОВИНКА!
		</p>
		<p class="blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
			Обучение
		</p>
		<p class="red size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
			с применением <span class="light-blue italic">NL</span>-психологии
		</p>
		<div style="width: 980px; height: 592px; margin: 36px 0 0 0; padding: 0 0 35px;">
			<div style="width: 499px; height: 592px; float: left; margin: 0 0 0 10px;">
				<div class="image-shadow-0" style="width: 499px; height: 531px; border: 2px solid rgba(170, 168, 168, 1);">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl1.jpg" width="499" height="531" alt="Летящая девушка">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 435px; height: 592px; float: right; margin: 0 10px 0 0;">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Эти сеансы хороши для семейной мини-группы (один ребёнок + один взрослый или двое взрослых).
				</p>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Русский язык + <span class="light-blue bold italic">NL</span>-психология + <span class="light-blue bold italic">NL</span>-психотерапия.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					<span class="blue bold">Взрослым.</span>  Молниеносный выход из&nbsp;тупика развития. Карьера, бизнес, семья, взаимоотношения. Ликвидация ссор, конфликтов, врагов тайных и&nbsp;явных. Привлечение удачи. Гармонизация жизни. Конфиденциальность.<br>
					<span class="bold yellow">Плюс безупречная грамотность.</span>
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					<span class="blue bold">У&nbsp;детей:</span> сглаживаются шероховатости характера. Исчезают конфликты и&nbsp;раздоры в&nbsp;семье. Дети охотно помогают родителям по&nbsp;хозяйству, хорошо и&nbsp;вкусно готовят. Помнят дни рождения своих близких и&nbsp;делают им&nbsp;подарки.<br>
					<span class="bold yellow">Плюс безупречная грамотность</span>, коррекция проблем обучения, творчество.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					<span class="light-blue bold italic">NL</span>-сеансы можно взять без обучения русскому (только для взрослых).
				</p>
				<p class="red size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Курс: 4-12 сеансов по 3 ак. часа (12-36 ак. часов)<br>
					<a href="[exec] include get_template_directory().'/links.php'; echo $obraschenie; [/exec]" class="normal" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="red" style="border-bottom: 1px solid #4A4A4A;">с проф. О.О.Веровенко.</span></a>
				</p>
				<p class="light-blue bold size-14 font-verdana line-height-23" style="margin: 0 -200px 21px 0;">
					<span class="red">Протестируйте себя!</span> <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue">Тест-игра</span></a>.<br>
					Играйте. Наслаждайтесь. Обучайтесь!
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px 0;">
		<p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
			НОВИНКА!
		</p>
		<p class="blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
			Безупречный английский
		</p>
		<p class="red size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
			Космические скорости <span class="normal">–</span> фантастический результат!
		</p>
		<div style="width: 980px; height: 525px; margin: 0 0 0 0; padding: 44px 0 40px;">
			<div style="width: 521px; height: 525px; float: left; margin: 0 0 0 10px; position: relative;">
				<div class="image-shadow" style="width: 521px; height: 390px; border: 2px solid #AAA8A8;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/buran.jpg" width="521" height="390" alt="Космический корабль">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="light-blue bold center size-18 font-arial" style="margin: 30px 0;  line-height: 22px;">
					<span class="red">Протестируйте себя!</span> <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue">Тест-игра</span></a>.<br>
					Играйте. Наслаждайтесь. Обучайтесь!
				</p>
				<p class="blue center size-18 font-arial" style="margin: 0 0 0 0;  line-height: 22px;">
					<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="blue tag bold">Вертикальный взлёт</span>. <span class="blue size-14">Подробнее</span></a>
				</p>
			</div>
			<div style="width: 423px; height: 525px; float: right; margin: 0 0 0 0">
				<p class="red size-26 font-arial bold" style="margin: 0 0 21px 0; line-height: 36px;">
					Ультрасовременный<br>мегакурс экстра-класса
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
					Взрослым, школьникам. Начинающим и продвинутым.
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
					Академическая версия <span class="light-blue bold">МОЛНИЕНОСНО</span>. Безупречная<br>
					грамматика. Много лексики. Богатая практика.
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 0 0;  line-height: 22px;">
					<span class="dark-blue normal">Вот что вы&nbsp;сможете уже на&nbsp;первом занятии:</span>
				</p>
				<ul class="grey size-14 font-arial" style="margin: 0px 20px 22px; line-height: 21px;">
					<li><span class="blue">Обработать до&nbsp;30&nbsp;страниц компьютерного текста. Перевести его с&nbsp;русского на&nbsp;английский и&nbsp;обратно <span class="bold">без словаря со&nbsp;скоростью беглой речи</span>.</span></li>
					<li><span class="blue">Поговорить. Построить самостоятельно множество разговорных фраз на&nbsp;английском языке.</span></li>
					<li><span class="blue">Грамотное письмо, чтение, произношение.</span></li>
					<li><span class="blue">Много новых слов&nbsp;– более 150&nbsp;на первом&nbsp;же занятии.</span></li>
				</ul>
				<p class="light-blue bold size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
					Зубрёжки правил нет. Домашние задания минимальны.
				</p>
				<p class="dark-blue size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
					Очень хорошо идут занятия в&nbsp;семейной мини-группе. Слабые участники быстро подтягиваются за&nbsp;более сильными.<br>
					Длительность обучения:<br>
					<span class="blue bold">12-36 занятий по 3 ак. часа (36-108 ак. часов)</span>.
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
		<p class="red size-48 font-verdana bold center" style="margin: 0 0 3px; padding-top: 34px;">
			Чудо будет!
		</p>
		<p class="blue size-18 bold font-verdana center" style="margin: 0 0 41px 0; line-height: 26px;">
			Игровой курс
		</p>
		<div style="width: 980px; height: 670px; padding-bottom: 40px;">
			<div style="width: 484px; height: 670px; float: right; margin: 0 21px 0 0; position: relative;">
				<div class="image-shadow" style="width: 484px; height: 581px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy9.jpg" width="484" height="581" alt="Мальчик с шариками">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="yellow size-14 bold font-verdana" style="margin: 26px 0 0 0; line-height: 22px;">
					Курс позволяет одновременно, без потерь времени и сил,<br>
					корректировать любые проблемы и обучать грамотности.
				</p>
			</div>
			<div style="width: 450px; height: 670px; float: left; margin: 0 0 0 10px">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
					Занимательный русский в&nbsp;игровой форме. Яркие запоминающиеся картинки и&nbsp;рисунки сделают обучение незабываемым!
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 0 10px; line-height: 22px;">
					В программе:
				</p>
				<ul class="grey size-14 font-arial" style="margin: 0px 0 21px 31px; line-height: 21px;">
					<li><span class="blue">Безупречная грамотность. Великолепный русский язык.</span></li>
					<li><span class="blue">Культура устной и письменной речи.</span></li>
					<li><span class="blue">Общее интеллектуальное развитие (будете хорошо разбираться в достоинствах поэзии и прозы).</span></li>
					<li><span class="blue">Коррекция проблем обучения.</span></li>
				</ul>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
					И всё это <span class="normal">–</span> в рамках единого игрового курса!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 10px;">
					Длительность обучения: 8-12 сеансов по 3 ак. часа<br>(24-36 ак. часов).
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
					Программа строится <span class="blue bold">индивидуально</span> с&nbsp;учётом потребностей и&nbsp;уровня подготовки.
				</p>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
					Обучение <span class="red">индивидуальное</span>.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 17px;">
					Автор технологии и педагог –<br>
					профессор Ольга Олеговна Веровенко.
				</p>
				<p class="red size-18 bold font-verdana" style="margin: 0 0 21px 10px;  line-height: 17px;">
					<span class="blue size-14">Смотрите слайдер</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="red bold">Чудо&nbsp;будет!</span></a> <span class="blue size-14">и&nbsp;читайте подробную статью автора.</span><br>
					<span class="dark-blue size-14">Пожалуйста, зайдите со&nbsp;стационарного компьютера.</span>
				</p>
				<p class="light-blue bold size-14 font-verdana line-height-23" style="margin: 0 -200px 21px 10px; padding-bottom: 40px;">
					<span class="red">Протестируйте себя!</span> <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue">Тест-игра</span></a>.<br>
					Играйте. Наслаждайтесь. Обучайтесь!
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px 0;">
		<p class="red bold size-48 font-verdana center" style="margin: 0 0 41px 0; padding: 45px 0 0 0; line-height: 59px;">
			<span class="tag">Врождённая грамотность</span> <span class="normal">–</span><br>бренд навсегда!
		</p>
		<div style="width: 980px; height: 718px; padding: 0 0 21px 0;">
			<div style="width: 350px; height: 654px; float: left; margin: 0 0 0 10px; position: relative; z-index: 2;">
				<p class="red size-26 font-arial bold" style="margin: 0 0 21px 0; line-height: 36px;">
					Ультрасовременный<br>мегакурс экстра-класса
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
					Начинающим и продвинутым.
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
					Академическая версия <span class="light-blue bold">МОЛНИЕНОСНО</span>. Безупречная грамотность. Великолепный русский язык.
				</p>
				<p class="blue bold size-14 font-arial" style="margin: 0 0 0 0;  line-height: 22px;">
					<span class="dark-blue normal">Вот что вы&nbsp;сможете уже на&nbsp;первом занятии:</span>
				</p>
				<ul class="grey size-14 font-arial" style="margin: 0px 20px 22px; line-height: 21px;">
					<li><span class="blue">Легко выполнить 200-300 довольно сложных заданий (орфография + синтаксис). На&nbsp;третьем&nbsp;– до&nbsp;700. Столько делают в&nbsp;хорошей школе за&nbsp;год.<br>Сравните: год учебы&nbsp;– и&nbsp;одно занятие!</span></li>
					<li><span class="blue">Освоить, разобрать и&nbsp;повторить 20-30 разнообразных тем.</span></li>
					<li><span class="blue">Обработать до&nbsp;10&nbsp;страниц тестовых заданий.</span></li>
					<li><span class="blue">Безошибочно написать сложный диктант.</span></li>
					<li><span class="blue">Освоить теорию языка (10-15&nbsp;тем).</span></li>
				</ul>
				<p class="light-blue bold size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
					Зубрёжки правил нет. Домашние задания минимальны.
				</p>
				<p class="dark-blue size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
					Очень хорошо идут занятия в&nbsp;семейной мини-группе. Слабые участники быстро подтягиваются за&nbsp;более сильными.<br>
					Длительность обучения:<br>
					<span class="blue bold">12-24 занятий по 3 ак. часа (36-72 ак. часов)</span>.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					<span class="yellow bold">Блистательный конечный результат мы<br>
					вам	гарантируем.</span>
				</p>
			</div>
			<div style="width: 591px; height: 654px; float: right; margin: 0 20px 0 0;">
				<div style="width: 591px; height: 406px; float: right; margin: 0 0 25px 0;">
					<div style="width: 274px; height: 406px; float: left; margin: 0 0 0 0;">
						<div class="in" style="width: 274px; height: 406px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
							<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2.jpg" width="274" height="406" alt="Ключи к занятиям"></a>
						</div>
					</div>
					<div style="width: 274px; height: 406px; float: right; margin: 0 0 0 0;">
						<div class="in" style="width: 274px; height: 406px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
							<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3.jpg" width="274" height="406" alt="Учебник"></a>
						</div>
					</div>
				</div>
				<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 42px 0; line-height: 22px;">
					Уровень 2. Учебник и ключи к занятиям.<br>
					<span class="blue">Для увеличения кликните по картинке.</span>
				</p>
				<div>
					<div style="float: left; width: 290px; margin: 0 0 0 10px;">
						<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0px; line-height: 22px;">
							<span class="blue bold">Условия приёма:</span><br>
							<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
							(подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">здесь</span></a>).<br>
							Если концентрация недостаточна, вам будет предложен <span class="tag">Волшебный сеанс</span>, либо курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px 10px; margin: 0 -30px 0 -30px; position: relative;"><span class="tag red bold">Чудо будет!</span></a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="resultat"></a></p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 17px;">
			За период обучения количество ошибок в письменных работах снижается <span class="red">до 100 раз</span> от исходного уровня.
		</p>
		<p class="light-blue size-14 font-verdana bold line-height-23" style="margin: 0 0 21px 10px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" class="normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="light-blue bold">Сравните результаты <span class="tag">до</span> и <span class="tag">через 12 занятий</span>.</span></a>
		</p>
		<p class="red size-14 font-verdana bold line-height-23" style="margin: 0 0 21px 10px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="yellow bold">Читайте подробную статью автора о секретах врожденной грамотности.</span></a>
		</p>
		<p class="light-blue bold size-14 font-verdana line-height-23" style="margin: 0 -200px 21px 10px; padding-bottom: 40px;">
			<span class="red">Протестируйте себя!</span> <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue">Тест-игра</span></a>. Играйте. Наслаждайтесь. Обучайтесь!
		</p>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="yellow size-48 bold font-verdana center" style="margin: 0 0 0 0; padding: 15px 0 0;">
			ПОДРОБНОСТИ МЕТОДА
		</p>
		<p class="red bold size-24 font-verdana center" style="margin: 0 0 13px 0;">
			СКОРОСТЬ, КАЧЕСТВО, РЕЗУЛЬТАТ!
		</p>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 50px 0 36px 0;">
			Эффективность
		</p>
		<p class="blue size-14 bold font-verdana" style="margin: 0 0 21px 30px; line-height: 17px;">
			Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
			Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
		</p>
		<p class="blue size-14 bold font-verdana" style="margin: 0 20px 21px 30px; line-height: 17px;">
			Вы сэкономите время, силы, деньги.
		</p>
		<p class="light-blue size-14 bold font-verdana" style="margin: 0 20px 34px 30px; line-height: 17px;">
			Результат абсолютно устойчив. Приобретенные навыки останутся с&nbsp;вами на&nbsp;всю жизнь.
		</p>
		<div style="width: 980px; height: 400px; margin: 0;">
			<div id="load-video7" class="load-video" style="width: 640px; height: 400px; float: left; margin: 0 15px 0 10px; position: relative;">
			</div>
			<div style="width: 290px; height: 400px; float: right; margin: 0 0 0 0">
				<ul class="grey size-14 font-verdana bold" style="margin: 120px 0 0 0; line-height: 38px;">
					<li><span class="blue">Зубрёжки правил нет.</span></li>
					<li><span class="blue">Домашние задания минимальны.</span></li>
					<li><span class="blue">Нагрузки посильны.</span></li>
				</ul>
			</div>
		</div>
		<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 56px 0;">
			Магия, зомбирование и ремень в обучении не применяются!
		</p>
		<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
			Уникальность
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
			<span class="blue bold tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России и за рубежом.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 21px 21px; line-height: 22px;">
			В&nbsp;области нейролингвистики&nbsp;– современной науки об усвоении информации человеческим мозгом&nbsp;– это изобретение первое и&nbsp;пока единственное в&nbsp;мире</span>.
		</p>
		<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 46px 21px; line-height: 22px;">
			Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
		</p>
		<div style="width: 980px; height: 500px; padding-top: 18px;">
			<div style="width: 319px; height: 468px; float: left; margin: 0 50px 25px 150px;">
				<div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
					<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1.jpg" width="319" height="452" alt="Патент Германия"></a>
				</div>
				<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 127px;">
				</div>
			</div>
			<div style="width: 319px; height: 468px; float: right; margin: 0 138px 25px 0;">
				<div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
					<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2.jpg" width="319" height="452" alt="Патент Россия"></a>
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 16px;">
				Российский и международный патенты на изобретения.<br>
				<span class="light-blue">Оригиналы патентов вы увидите, когда придете.</span>
			</p>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 100px 0 29px 0;">
			Гарантии качества
		</p>
		<p class="blue size-14 font-verdana bold center" style="margin: 0 0 0 14px; line-height: 22px;">
			Высочайшее качество обучения подтверждено тремя Знаками Качества Госстандарта РФ с категорией<br>
			<span class="red tag">КАЧЕСТВО НАИВЫСШЕЕ</span>
		</p>
		<div style="width: 980px; height: 433px;">
			<div style="width: 430px; height: 313px; float: left; margin: 99px 0 10px 92px;">
				<div class="image-shadow in" style="width: 430px; height: 297px; cursor: pointer;">
					<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1.jpg" width="430" height="297" alt="Сертификат"></a>
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 278px; height: 407px; float: right; margin: 0 84px 10px 0;">
				<div class="image-shadow in" style="width: 278px; height: 391px; cursor: pointer;">
					<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2.jpg" width="278" height="391" alt="Сертификат"></a>
				</div>
				<div class="image-shadow-right-1" style="width: 139px; background-position: -181px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 139px;">
				</div>
			</div>
		</div>
		<p class="blue size-14 font-arial bold center" style="margin: -10px 0 0 0; padding: 0 0 0; line-height: 16px;">
			Оригиналы сертификатов вы увидите, когда придете.
		</p>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 15px 0 3px 0;">
			Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
		</p>
		<p class="yellow size-14 font-arial bold center" style="margin: 0 0 0 0; padding: 0 0 40px; line-height: 16px;">
			У нас таких три!<br>
		</p>
	</div>
	<div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
		<p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding-top: 34px;">
			Учебники
		</p>
		<div style="width: 980px; height: 440px; padding: 50px 0 40px 0;">
			<div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
				<div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/textbooks.jpg" width="399" height="398" alt="Учебники">
				</div>
				<p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
			</div>
			<div style="width: 449px; height: 440px; float: right; padding-right: 0px">
				<p class="blue size-26 font-verdana" style="margin: 130px 20px 22px 0; line-height: 30px;">
					Великолепного качества учебники и&nbsp;материалы включены в&nbsp;стоимость и&nbsp;останутся с&nbsp;вами после конца обучения.
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
		<p class="red size-48 font-verdana bold center" style="margin: 0 0 40px; padding-top: 34px;">
			Автор метода и ваш педагог
		</p>
		<div style="width: 916px; height: 900px; margin: 0 auto 0;">
			<div style="width: 485px; height: 900px; float: left; margin: 0 0 0 0;">
				<div style="width: 385px; height: 600px; margin: 0 0 0 0;">
					<div class="image-shadow" style="width: 385px; height: 580px; border: 2px solid rgba(170, 168, 168, 1);">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/verovenko.jpg" width="385" height="580" alt="Ольга Олеговна Веровенко">
					</div>
					<div class="image-shadow-right-1">
					</div>
					<div class="image-shadow-left-1">
					</div>
				</div>
				<p class="dark-blue size-16 font-verdana" style="margin: 10px 0 9px; line-height: 20px;">
					Ольга Олеговна Веровенко, <span class="blue bold">педагог</span> (Почётный работник общего образования&nbsp;РФ), <span class="blue bold">филолог</span> (кандидат филологических наук, русский и&nbsp;английский языки), <span class="blue bold">учёный-нейролингвист</span> (автор 26&nbsp;учебников и&nbsp;монографий), <span class="blue bold"><span class="light-blue italic">NL</span>-психолог-психотерапевт</span> (доктор наук международной категории), <span class="blue bold">журналист</span>, <span class="blue bold">телерадиоведущая</span> (член Союза журналистов СССР).
				</p>
				<p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
					Профессор, доктор наук, Doctor, Grand Doctor, Professor, Full Professor.
				</p>
				<p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
					Декан факультета педагогики и&nbsp;психологии Международной докторантуры (Бельгия). Руководитель авторской школы-студии (Россия).
				</p>
				<p class="blue bold size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
					Ваш будущий педагог.
				</p>
			</div>
			<div style="width: 418px; height: 900px; float: right; margin: 0 0 0 0;">
				<p class="blue size-16 font-verdana bold center" style="margin: 0 0 16px; line-height: 21px;">
					Именем Ольги Веровенко названа<br>
					звезда в созвездии Кассиопеи.
				</p>
				<div style="width: 418px; height: 544px; margin: 0 0 0 0;">
					<div class="image-shadow" style="width: 418px; height: 524px; border: 2px solid rgba(170, 168, 168, 1);">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/verovenkostar.jpg" width="418" height="524" alt="Звезда Веровенко">
					</div>
					<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
					</div>
					<div class="image-shadow-left-1" style="width: 123px;">
					</div>
				</div>
				<p class="blue size-18 font-arial bold center" style="margin: 0 0 0; line-height: 21px;">
					Звезда Ольга Веровенко<br>
					в созвездии Кассиопеи
				</p>
			</div>
		</div>
		<p class="yellow center size-48 font-verdana" style="margin: 40px 0 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $obraschenie; [/exec]" class="normal" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Как это работает?</span></a>
		</p>
		<p class="dark-blue center size-14 font-verdana" style="margin: 0 0 5px 0; padding: 0 0 40px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $obraschenie; [/exec]" class="normal" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="dark-blue bold" style="border-bottom: 1px solid #4A4A4A;">Прочтите, пожалуйста!</span></a>
		</p>
	</div>
	<div class="div-shadow_white div-shadow_first" style="margin: 0 0 35px 0;">
		<p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding-top: 34px;">
			Отзывы, благодарности, награды
		</p>
		<div style="width: 960px; height: 180px; padding: 50px 0 0; margin: 0 10px;">
			<div style="width: 320px; height: 180px; float: left; margin: 0;">
				<div class="image-shadow" style="width: 236px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sobyanin.jpg" width="236" height="180" alt="Собянин">
				</div>
			</div>
			<div style="width: 320px; height: 180px; float: left; padding-right: 0px">
				<div class="image-shadow" style="width: 300px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/luzhkov.jpg" width="300" height="180" alt="Лужков">
				</div>
			</div>
			<div style="width: 320px; height: 180px; float: right; padding-right: 0px">
				<div class="image-shadow in" style="width: 201px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer; margin: 0 auto;">
					<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom-big.jpg">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom.jpg" width="201" height="180" alt="Диплом">
					</a>
				</div>
			</div>
		</div>
		<p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding: 40px 0 60px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Перейти на страницу отзывов</span></a>
		</p>
	</div>
</div>
<div class="compass-wrapper">
	<div class="div-shadow_white" style="margin: 35px 0 0 0; padding: 50px 0;">[exec] include_once get_template_directory().'/compas/compas-all.php'; [/exec]</div>
</div>
<!-- <div class="english-test" style="opacity: 0; position: fixed; z-index: 9999; overflow: hidden; background-color: rgba(237, 28, 36, 0.7); bottom: 40%; right: 5px; padding: 40px; border-radius: 50%;">
	<p class="white font-arial size-36 bold center" style="line-height: 47px; margin: 0 0 0;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_free; [/exec]" style="text-decoration: none; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="white bold" style="background-size: auto 100%;background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 1px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Выиграйте скидку<br>50-75%!<br>Вам сюда</span></a>
	</p>
</div> -->
<div class="b-banner">
  <div class="b-banner__content">
    <p class="yellow center bold size-48 font-verdana" style="margin: 20px 0 21px 0; line-height: 52px;">
      Здесь<br>
      индивидуальное обучение<br>
      экстра-класса
    </p>
    <p class="blue bold center size-30 font-verdana" style="margin: 0 0 21px 0;line-height: 40px;">
      Уникально результативное, качественное и&nbsp;дорогое.
    </p>
    <p class="blue bold center size-30 font-verdana" style="margin: 0 0 21px 0;">
      Вы искали именно это?
    </p>
    <div style="padding: 0 0 0; overflow: auto;">
      <div style="width: 50%; float: right; margin: 0 0 0 0;">
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
          <a class="b-banner__link" href="" style="cursor: pointer; text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold" style="border-bottom: 1px solid #4A4A4A;"><span class="size-24">Да</span>,<br>мы&nbsp;ищем<br>именно&nbsp;это</span></a>
        </p>
      </div>
    </div>
    <p class="dark-blue bold center size-18 font-verdana" style="margin: -10px 0 42px 0;">
      <a class="b-banner__link_active" href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="cursor: pointer; text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;"><span class="size-24">Бесплатные</span><br>тесты-игры для детей и взрослых.<br>Русский. Английский.<br>Играйте. Наслаждайтесь. Обучайтесь!</span></a>
    </p>
  </div>
</div>
<div id="img_container"><img src=""></div>