[raw]
<div class="b-nav">
  <div class="b-nav__top">
    <div class="b-nav__top-center">
      <div class="b-nav-top">
        <div class="b-nav-top__brand">
          <div class="b-brand">
            <a class="b-brand__link" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]">Olga Verovenko</a>
          </div>
        </div>
        <div class="b-nav-top__icon-menu">
          <input type="checkbox" id="toggle-menu"/>
          <label for="toggle-menu">
            <span class="menu-icon"></span>
          </label>
        </div>
        <div class="b-nav-top__menu">
          <ul class="b-menu">
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-menu__link">ОТЗЫВЫ</a></li>
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" class="b-menu__link">СМИ О НАС</a></li>
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_robot; [/exec]" class="b-menu__link">СКИДКИ, УСЛОВИЯ ОБУЧЕНИЯ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="b-nav__mobile">
    <ul class="b-menu-mobile">
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-menu-mobile__link">ОТЗЫВЫ, БЛАГОДАРНОСТИ</a></li>
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" class="b-menu-mobile__link">СМИ О НАС</a></li>
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_robot; [/exec]" class="b-menu-mobile__link">СКИДКИ, УСЛОВИЯ ОБУЧЕНИЯ</a></li>
    </ul>
  </div>
</div>
<div class="b-content">
  <div class="b-unit">
    <!-- <p class="b-text _yellow _arial _bold _size-18 _lh-20 _mg-t-20 _mg-b-10 _center">
      Авторская&nbsp;школа-студия&nbsp;профессора Ольги&nbsp;Олеговны&nbsp;Веровенко
    </p> -->
    <p class="b-text _blue _arial _bold _size-14 _lh-20 _mg-t-20 _mg-b-20 _center">
      Индивидуальное обучение экстра&#8209;класса
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _5l-xs _7l-md">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/girl5.jpg" width="100%" alt="Счастливая девочка">
      </div>
      <div class="b-double-block__item _7-xs _5-md">
        <p class="b-text _sans _size-22 _bold _mg-t-20-ph _mp-b-20 _light-blue _center">
          <span class="b-text _tag">Врождённая&nbsp;грамотность</span>
        </p>
        <p class="b-text _yellow _size-30 _lh-38 _center _mg-t-20 _mg-b-20 _bold _sans">
          Всего 4&#8209;12 занятий&nbsp;<span class="b-text __normal">–</span><br>
          и ошибок нет!
        </p>
        <p class="b-text _blue _size-18 _lh-28 _mg-t-20 _mg-b-20 _verdana _center">
          Безупречная грамотность.<br>
          Чтение, речь, литература.<br>
          Коррекция дислексии, дисграфии,<br>
          <span class="b-text _tag">школьного</span> невроза.<br>
          Сочинения, изложения, творчество.<br>
          Поддержка психолога.<br>
          ГИА, ЕГЭ.
        </p>
        <p class="b-text _blue _center _size-14 _verdana _bold">
          Крутите вниз до конца!
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _light-blue _size-26 _verdana _bold _center _mg-b-40 _mg-t-40">
      Эффективность
    </p>
    <p class="b-text _blue _size-14 _bold _verdana _mg-b-30 _lh-20">
      <span class="b-text _tag">Врождённая грамотность</span> <span class="b-text _red">в 15&#8209;20 раз</span> <span class="b-text _blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
      Вы достигнете желаемого <span class="b-text _red">в 15&#8209;20 раз</span> быстрее, легче, проще.
    </p>
    <div class="b-double-block _mg-b-40">
      <div id="load-video16" class="b-double-block__item _7-xs _8-md load-video _mg-b-20-ph">
      </div>
      <div class="b-double-block__item _5l-xs _4l-md">
        <ul class="b-text _ul _grey _size-14 _verdana _bold _lh-20 _mg-t-20-xs _mg-t-100-md">
          <li class="b-text _mg-b-20"><span class="b-text _blue">Зубрёжки правил нет.</span></li>
          <li class="b-text _mg-b-20"><span class="b-text _blue">Домашние задания минимальны.</span></li>
          <li><span class="b-text _blue">Нагрузки посильны.</span></li>
        </ul>
      </div>
    </div>
    <p class="b-text _yellow _bold _size-20 _size-24-md _verdana _center _mg-b-70">
      Магия, зомбирование и&nbsp;ремень в&nbsp;обучении не&nbsp;применяются!
    </p>
    <p class="b-anchor"><a class="b-anchor__link" name="patent"></a></p>
    <p class="b-text _light-blue _bold _size-24 _verdana _center _mg-b-20">
      Уникальность
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      <span class="b-text _blue _bold _tag">Врождённая грамотность</span> уникальна и&nbsp;запатентована как изобретение в&nbsp;России и&nbsp;за&nbsp;рубежом.
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      В&nbsp;области нейролингвистики&nbsp;– современной науки об усвоении информации человеческим мозгом&nbsp;– это изобретение первое и&nbsp;пока единственное в&nbsp;мире</span>.
    </p>
    <p class="b-text _light-blue _size-14 _verdana _bold _lh-20 _mg-b-20 _mg-b-60-md">
      Международная экспертиза РСТ подтвердила&nbsp;– <span class="b-text _red">ничего подобного в&nbsp;мире нет!</span>
    </p>
    <div class="b-block-wrap _offset-1-xs _10-xs _mg-b-20">
      <div class="b-double-block">
        <div class="b-double-block__item _6 _gt-3 in">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1-big.jpg"><img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1.jpg" width="100%" alt="Патент Германия"></a>
        </div>
        <div class="b-double-block__item _6l _gt-3 in">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2-big.jpg"><img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2.jpg" width="100%" alt="Патент Россия"></a>
        </div>
      </div>
    </div>
    <p class="b-text _dark-blue _size-14 _arial _bold _center _lh-16 _mg-b-80">
        Российский и&nbsp;международный патенты на&nbsp;изобретения.
      </p>
    <p class="b-text _light-blue _size-24 _verdana _bold _center _mg-b-30">
      Гарантии качества
    </p>
    <p class="b-text _blue _size-14 _verdana _bold _center _lh-20 _mg-b-20">
      Высочайшее качество обучения подтверждено тремя Знаками Качества Госстандарта РФ с&nbsp;категорией<br>
      <span class="b-text _red _tag">КАЧЕСТВО&nbsp;НАИВЫСШЕЕ</span>
    </p>
    <div class="b-block-wrap _offset-0_5-xs _11-xs _mg-b-20">
      <div class="b-double-block">
        <div class="b-double-block__item _7 _offset-0-5l _gt-3 in">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1-big.jpg"><img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1.jpg" width="100%" alt="Сертификат"></a>
        </div>
        <div class="b-double-block__item _4l _offset-0-5r _gt-3 in">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2-big.jpg"><img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2.jpg" width="95%" alt="Сертификат"></a>
        </div>
      </div>
    </div>
    <p class="b-text _dark-blue _size-14 _arial _bold _center _lh-16">
      Знак Качества, Сертификат и&nbsp;Акт экспертизы Госстандарта&nbsp;РФ с&nbsp;категорией <span class="b-text _tag">Качество&nbsp;наивысшее</span>.
    </p>
    <p class="b-text _yellow _size-14 _arial _bold _center _lh-16 _mg-b-40">
      У нас таких три!
    </p>
  </div>
  <div class="b-unit">
    <p class="b-text _red _verdana _bold _size-24 _size-48-md _mg-t-40 _mg-b-40 _center">
      Учебники
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _5-xs _6-md _offset-0-5l-md">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/textbooks.jpg" width="100%" alt="Учебники">
        <p class="b-text _blue _bold _size-14 _arial _italic _center _hidden-sm _mg-t-5 _mg-b-20-ph">Для увеличения кликните по картинке!</p>
      </div>
      <div class="b-double-block__item _7l-xs _6l-md">
        <p class="b-text _blue _size-20 _size-26-md _lh-24 _lh-30-md _verdana _mg-t-40-xs _mg-t-120-md _mg-l-20-md">
          Великолепного&nbsp;качества учебники&nbsp;и&nbsp;материалы включены&nbsp;в&nbsp;стоимость и&nbsp;останутся с&nbsp;вами&nbsp;после конца&nbsp;обучения.
        </p>
      </div>
    </div>
  </div>
  <p class="b-anchor"><a class="b-anchor__link" name="chudo-budet"></a></p>
  <div class="b-unit">
    <p class="b-text _red _verdana _bold _size-48 _mg-t-40 _mg-b-20 _center">
      Чудо будет!
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _mg-b-40">
      Игровой курс грамотности
    </p>
    <div class="b-double-block">
      <div class="b-double-block__item _6l-xs">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy9.jpg" width="100%" alt="Мальчик с шариками">
        <p class="b-text _italic _yellow _size-14 _bold _verdana _lh-20 _mg-b-40-ph _mg-t-10">
          Курс позволяет одновременно, без&nbsp;потерь времени и&nbsp;сил, корректировать любые проблемы и&nbsp;обучать грамотности.
        </p>
      </div>
      <div class="b-double-block__item _6-xs">
        <p class="b-text _yellow _size-16 _bold _verdana _lh-20 _mg-b-30">
          Индивидуальное обучение экстра&#8209;класса
        </p>
        <div class="_mg-l-50">
          <p class="b-text _blue _size-14 _bold _verdana _lh-20 _mg-b-10">
            Не надо быть семи пядей во лбу.
          </p>
          <p class="b-text _blue _size-14 _bold _verdana _lh-20 _mg-b-10">
            Ни во что не надо вникать.
          </p>
          <p class="b-text _blue _size-14 _bold _verdana _lh-20 _mg-b-30">
            Ничего не надо зубрить.
          </p>
          <p class="b-text _light-blue _size-14 _bold _verdana _lh-20 _mg-b-20">
            Цвет,<br>
            <span class="b-text _red _mg-l-40">свет,</span><br>
            <span class="b-text _green _mg-l-80">игра –</span><br>
            <span class="b-text _lilac _mg-l-120">вот его суть!</span>
          </p>
        </div>
        <p class="b-text _blue _size-14 _bold _verdana _center _mg-b-40 _lh-20">
          Лёгкость обучения<br>
          и молниеносный успех!
        </p>
        <p class="b-text _blue _bold _size-14 _arial _lh-20">
          В программе всё, о чём вам мечталось:
        </p>
        <ul class="b-text _ul _grey _size-14 _arial _lh-20 _mg-b-20">
          <li><span class="b-text _blue">Безупречная грамотность. Великолепный русский язык.</span></li>
          <li><span class="b-text _blue">Чтение, речь.</span></li>
          <li><span class="b-text _blue">Сочинения, изложения.</span></li>
          <li><span class="b-text _blue">Творческие диктанты.</span></li>
          <li><span class="b-text _blue">Дивной красоты творческие работы по&nbsp;русскому, английскому, литературе.</span></li>
          <li><span class="b-text _blue">Коррекция дислексии, дисграфии, <span class="b-text _tag">школьного</span> невроза.</span></li>
          <li><span class="b-text _blue">Повышение концентрации внимания.</span></li>
          <li><span class="b-text _blue">Поддержка психолога.</span></li>
        </ul>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          И&nbsp;всё это&nbsp;<span class="_normal">–</span> в&nbsp;рамках единого игрового курса!
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Длительность обучения: 4&#8209;12 сеансов <nobr>по 3 ак. часа</nobr> <nobr>(12&#8209;36 ак. часов).</nobr>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Программа строится <span class="_blue _bold">индивидуально</span> с&nbsp;учётом возраста, потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Обучение <span class="b-text _red">индивидуальное</span> с&nbsp;активным участием родителей.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Автор технологии и&nbsp;педагог&nbsp;–<br>
          профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" class="b-text _link __normal _dark-blue"><span class="b-text _dark-blue _size-14">Ольга Олеговна Веровенко</span></a>.
        </p>
      </div>
    </div>
    <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-40">
      Смотрите слайдер <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="b-text _link __normal _red"><span class="b-text _red _bold _size-18">Чудо&nbsp;будет!</span></a> и&nbsp;читайте подробную статью автора.
    </p>
  </div>
  <p class="b-anchor"><a class="b-anchor__link" name="volshebniy"></a></p>
  <div class="b-unit">
    <p class="b-text _red _verdana _bold _size-48 _mg-t-40 _mg-b-20 _center">
      Волшебный сеанс
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Коррекция проблем за&nbsp;один сеанс
    </p>
    <div class="b-double-block _mg-b-20">
      <div class="b-double-block__item _6l-xs _7l-md">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/ship.jpg" width="100%" alt="Корабль">
        <p class="b-text _blue _size-14 _verdana _center _lh-20 _mg-t-10 _mg-b-40-ph">
          Сеанс ведёт доктор психологических наук профессор <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _red">Ольга&nbsp;Олеговна&nbsp;Веровенко</span></a>.
        </p>
      </div>
      <div class="b-double-block__item _6-xs _5-md">
        <p class="b-text _blue _size-14 _verdana _lh-20 _mg-b-20">
          <nobr>Ошеломительно радостный,</nobr><br>
          <span class="b-text _mg-l-40-ph _mg-l-20-xs _mg-l-50-md"><nobr>незабываемо яркий сеанс</nobr></span><br>
          <span class="b-text _mg-l-80-ph _mg-l-40-xs _mg-l-100-md"><nobr>НАИВЫСШЕЙ РЕЗУЛЬТАТИВНОСТИ.</nobr></span>
        </p>
        <p class="b-text _light-red _bold _size-14 _verdana _lh-20 _mg-b-20">
          Сеанс уникален!
        </p>
        <ul class="b-text _ul _red _size-14 _arial _lh-20 _mg-b-20">
          <li><span class="b-text _blue">Повышение концентрации внимания, без чего невозможно грамотное письмо.</span></li>
          <li><span class="b-text _blue">Навыки точного, правильного и&nbsp;осмысленного чтения.</span></li>
        </ul>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _red _bold">Результат.</span> В 2&#8209;3&nbsp;раза повышается способность к&nbsp;усвоению информации. Успеваемость по&nbsp;всем гуманитарным предметам повышается на&nbsp;1&#8209;2&nbsp;балла. Домашние задания выполняются легко и&nbsp;быстро, как по&nbsp;мановению волшебной палочки.<br>
          <span class="b-text _yellow _bold">И всё это – за один сеанс!</span><br>
          <span class="b-text _red _bold">Двоек&#8209;троек не будет!</span> Помогает этот сеанс и&nbsp;хорошистам, которые <span class="b-text _tag">почему&#8209;то</span> никак не&nbsp;могут выйти в&nbsp;отличники.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Сеанс предполагает небольшое домашнее задание&#8209;игру (общей длительностью 2&#8209;3&nbsp;часа).
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          Длительность сеанса 3&nbsp;ак.часа.
        </p>
      </div>
    </div>
    <p class="b-text _yellow _bold _size-14 _verdana _lh-20 _mg-b-20">
      Что такое концентрация внимания и&nbsp;как она влияет на&nbsp;обучаемость. Читайте статью <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]"><span class="b-text _blue _bold _tag"><nobr>Он лентяй или болен?</nobr></span></a>
    </p>
    <p class="b-text _blue _bold _size-12 _verdana _lh-20 _mg-b-40">
      Еще спецкурсы для младших школьников&nbsp;<span class="b-text _normal">–</span> крутите вниз до&nbsp;конца
    </p>
  </div>
  <p class="b-anchor"><a class="b-anchor__link" name="vrozhdennaya"></a></p>
  <div class="b-unit">
    <p class="b-text _red _bold _size-24 _size-48-md _verdana _center _mg-t-40 _mg-b-20">
      <span class="b-text _tag">Врождённая грамотность</span>&nbsp;<span class="b-text _normal">–</span> бренд&nbsp;навсегда!
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _mg-b-40">
      Всего 12 занятий&nbsp;<span class="b-text _normal">–</span> и&nbsp;ошибок нет!
    </p>
    <div class="b-double-block _mg-b-20">
      <div class="b-double-block__item _5-xs _mg-b-20-ph">
        <p class="b-text _blue _bold _size-14 _arial _lh-20 _mg-b-20">
          Школьникам начиная с 7&#8209;го класса, взрослым.
        </p>
        <p class="b-text _yellow _bold _size-14 _arial _lh-20 _mg-b-20">
          Академическая версия <span class="_light-blue _bold">МОЛНИЕНОСНО</span>. Безупречная грамотность. Великолепный русский язык.<br>
          Идеально для&nbsp;ГИА, ЕГЭ, ОГЭ.
        </p>
        <p class="b-anchor"><a class="b-anchor__link" name="resultat"></a></p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          За&nbsp;период обучения количество ошибок в&nbsp;письменных работах снижается <span class="b-text _red">до&nbsp;100&nbsp;раз</span> от&nbsp;исходного уровня.
        </p>
        <p class="b-text _red _size-14 _verdana _bold _lh-20 _mg-b-20">
          <a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" class="b-text _link _black _normal"><span class="b-text _red _bold">Сравните результаты <span class="b-text _tag">до</span> и&nbsp;<span class="_tag">через 12&nbsp;занятий</span>.</span></a>
        </p>
        <p class="b-text _blue _bold _size-14 _arial _lh-20">
          <span class="_dark-blue _normal">Вот что вы&nbsp;сможете уже на&nbsp;первом занятии:</span>
        </p>
        <ul class="b-text _ul _grey _size-14 _arial _lh-20 _mg-b-20">
          <li><span class="b-text _blue">Легко выполнить 200&#8209;300 довольно сложных заданий (орфография&nbsp;+ синтаксис). На&nbsp;третьем&nbsp;– до&nbsp;700. Столько делают в&nbsp;хорошей школе за&nbsp;год.<br>Сравните: год учебы&nbsp;– и&nbsp;одно занятие!</span></li>
          <li><span class="b-text _blue">Освоить, разобрать и&nbsp;повторить 20&#8209;30 разнообразных тем.</span></li>
          <li><span class="b-text _blue">Обработать до&nbsp;10&nbsp;страниц тестовых заданий.</span></li>
          <li><span class="b-text _blue">Безошибочно написать сложный диктант.</span></li>
          <li><span class="b-text _blue">Освоить теорию языка (10&#8209;15&nbsp;тем).</span></li>
        </ul>
        <p class="b-text _light-blue _bold _size-14 _arial _lh-20 _mg-b-20">
          Зубрёжки правил нет.<br>Домашние задания минимальны.
        </p>
        <p class="b-text _dark-blue _size-14 _arial _lh-20 _mg-b-20">
          Длительность обучения:<br>
          <span class="b-text _blue _bold"><nobr>12 занятий</nobr> <nobr>по 3 ак. часа</nobr> <nobr>(36 ак. часов)</nobr></span>.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          <span class="b-text _yellow _bold">Блистательный конечный результат мы вам гарантируем.</span>
        </p>
      </div>
      <div class="b-double-block__item _7l-xs _no-gutter">
        <div class="b-double-block _mg-b-20">
          <div class="b-double-block__item _6 in">
            <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2-big.jpg"><img class="b-image _volume-shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2.jpg" width="95%" alt="Ключи к занятиям"></a>
          </div>
          <div class="b-double-block__item _6l in">
            <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3-big.jpg"><img class="b-image _volume-shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3.jpg" width="95%" alt="Учебник"></a>
          </div>
        </div>
        <p class="b-text _dark-blue _size-14 _arial _bold _center _lh-20 _mg-t-20 _mg-b-40">
          Уровень&nbsp;2. Учебник и&nbsp;ключи к&nbsp;занятиям.<br>
          <span class="b-text _blue _hidden-sm">Для&nbsp;увеличения кликните по&nbsp;картинке.</span>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="_blue _bold">Условия приёма:</span><br>
          <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]"><span class="b-text _dark-blue">концентрация внимания от 120</span></a> (подробнее&nbsp;– см.&nbsp;<a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]"><span class="b-text _dark-blue">здесь</span></a>).<br>
          Если концентрация недостаточна, вам будет предложен <span class="b-text _tag">Волшебный&nbsp;сеанс</span> (см. ниже), либо курс <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="b-text _normal"><span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span></a>.
        </p>
        <!-- <div class="b-double-block">
          <div class="b-double-block__item _6-md">
            <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
              Школьники 2&#8209;6 классов берут курс <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span> (<span class="b-text _tag _blue">Врождённая грамотность</span> для&nbsp;детей). Взрослым и&nbsp;старшеклассникам рекомендуем также курс&#8209;новинку <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_vzroslym; [/exec]"><span class="b-text _tag _blue">Практическая грамотность для&nbsp;жизни</span></a>.
            </p>
          </div>
          <div class="b-double-block__item _6l-md">
            <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
              <span class="_blue _bold">Условия приёма:</span><br>
              <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]"><span class="b-text _dark-blue">концентрация внимания от 120</span></a><br>
              (подробнее – см. <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]"><span class="b-text _dark-blue">здесь</span></a>).<br>
              Если концентрация недостаточна, вам будет предложен <span class="b-text _tag">Волшебный сеанс</span> (см. ниже), либо курс <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="b-text _normal"><span class="b-text _tag _red _bold">Чудо будет!</span></a>.
            </p>
          </div>
        </div> -->
      </div>
    </div>
    <p class="b-text _red _size-14 _verdana _bold _lh-20 _mg-b-40">
      <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="b-text _link _black _normal"><span class="b-text _yellow _bold">Читайте подробную статью автора о&nbsp;секретах врожденной грамотности.</span></a>
    </p>
  </div>
  <div class="b-unit">
    <p class="b-text _red _verdana _bold _size-48 _mg-t-40 _mg-b-40 _center">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy2.jpg" width="100%" alt="Мальчик в поле">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _yellow _bold _size-24 _verdana _center _mg-t-30 _mg-t-100-xs">
          <a class="b-text _link-border _black _normal" href="[exec] include get_template_directory().'/links.php'; echo $gia_ege; [/exec]"><span class="b-text _blue _bold _border">Подробнее</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _verdana _bold _size-48 _mg-t-40 _mg-b-40 _center">
      Спецкурсы для младших школьников
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/knight.jpg" width="100%" alt="Рыцарь">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _yellow _bold _size-24 _verdana _center _mg-t-30 _mg-t-100-xs">
          <a class="b-text _link-border _black _normal" href="[exec] include get_template_directory().'/links.php'; echo $shkolnikam; [/exec]"><span class="b-text _blue _bold _border">Подробнее</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _verdana _bold _size-24 _size-48-md _mg-t-40 _mg-b-40 _center">
      Специализированное обучение для&nbsp;взрослых
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl.jpg" width="100%" alt="Летящая девушка">
      </div>
      <div class="b-double-block__item _6-xs">
        <ul class="b-text _ul _grey _size-14 _verdana _bold _lh-20 _mg-t-20-ph _mg-t-100-md">
          <li class="b-text _mg-b-20"><span class="b-text _blue">Обучение под гипнозом. Суперскорость. Суперэффект.</span></li>
          <li class="b-text _mg-b-20"><span class="b-text _blue">Сверхскоростное нейролингвистическое обучение.</span></li>
          <li><span class="b-text _blue"><span class="b-text _light-blue _bold _italic">NL</span>&#8209;психология.</span></li>
        </ul>
        <p class="b-text _yellow _bold _size-24 _verdana _center _mg-t-30 _mg-t-40-xs">
          <a class="b-text _link-border _black _normal" href="[exec] include get_template_directory().'/links.php'; echo $vzroslym; [/exec]"><span class="b-text _blue _bold _border">Подробнее</span></a>
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20 _mg-b-40-md">
      НОВИНКА!
    </p>
    <p class="b-text _blue _bold _size-48 _verdana _center _mg-b-20">
      Обучение
    </p>
    <p class="b-text _red _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      с применением нейропсихологии
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl1.jpg" width="100%" alt="Летящая девушка">
      </div>
      <div class="b-double-block__item _6l-xs">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Эти сеансы хороши для семейной мини&#8209;группы (один ребёнок&nbsp;+ один взрослый или двое взрослых).
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Русский язык&nbsp;+ нейропсихология&nbsp;+ <span class="b-text _light-blue _bold _italic">NL</span>&#8209;психотерапия.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Взрослым.</span>  Молниеносный выход из&nbsp;тупика развития. Карьера, бизнес, семья, взаимоотношения. Ликвидация ссор, конфликтов, врагов тайных и&nbsp;явных. Привлечение удачи. Гармонизация жизни. Конфиденциальность.<br>
          <span class="b-text _bold _yellow">Плюс безупречная грамотность.</span>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">У&nbsp;детей:</span> сглаживаются шероховатости характера. Исчезают конфликты и&nbsp;раздоры в&nbsp;семье. Дети охотно помогают родителям по&nbsp;хозяйству, хорошо и&nbsp;вкусно готовят. Помнят дни рождения своих близких и&nbsp;делают им&nbsp;подарки.<br>
          <span class="b-text _bold _yellow">Плюс безупречная грамотность</span>, коррекция проблем обучения, творчество.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _light-blue _bold _italic">NL</span>&#8209;сеансы можно взять без обучения русскому (только для взрослых).
        </p>
        <p class="b-text _red _size-14 _verdana _lh-20">
          Длительность сеанса 3 ак. часа<br>
          с проф. О.О.Веровенко.
        </p>
      </div>
    </div>
  </div>
  <p class="b-anchor"><a class="b-anchor__link" name="izmerenie"></a></p>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20 _mg-b-40-md">
      НОВИНКА!
    </p>
    <p class="b-text _blue _bold _size-48 _verdana _center _mg-b-20">
      <span class="b-text _tag">Четвёртое измерение</span>
    </p>
    <p class="b-text _red _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Обучение под гипнозом
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl.jpg" width="100%" alt="Летящая девушка">
      </div>
      <div class="b-double-block__item _6-xs">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Обучение под гипнозом в&nbsp;мировой практике считается максимально эффективным.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          В&nbsp;связке с&nbsp;нашими технологиями это даёт <span class="b-text _blue _bold">ФЕЕРИЧЕСКИЙ</span> результат, многократно превышающий самые смелые ожидания.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Вы&nbsp;не&nbsp;спите. Наоборот, вы&nbsp; сосредоточены, увлечены и&nbsp;готовы работать не&nbsp;поднимая головы. Оторвать вас от&nbsp;дела трудно, практически невозможно.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Максимально включаются память, интеллект, способность усваивать информацию. Полученные знания и&nbsp;навыки останутся с&nbsp;вами на&nbsp;всю жизнь. Но&nbsp;главное в&nbsp;другом: обучение под гипнозом позволяет преодолеть глубинные негативные установки Подсознания, которые и&nbsp;приводят к&nbsp;плохой, тяжёлой, трудной обучаемости.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Вы&nbsp;получаете&nbsp;то, что просто недостижимо ни&nbsp;при каких других вариантах обучения: легкую обучаемость <span class="b-text _blue _bold">ВЕЗДЕ</span>, <span class="b-text _blue _bold">ВСЕГДА</span>, <span class="b-text _blue _bold">ВСЕМУ</span>.
        </p>
        <p class="b-text _red _size-14 _verdana _lh-20">
          Длительность сеанса 3&nbsp;ак.&nbsp;часа<br>
          с&nbsp;проф.&nbsp;О.О.Веровенко.
        </p>
      </div>
    </div>
  </div> -->
  <div class="b-unit">
    <p class="b-text _blue _bold _size-14 _size-18-md _verdana _mg-t-20 _mg-b-20 _mg-b-40-md">
      НОВИНКА!
    </p>
    <p class="b-text _red _bold _size-48 _verdana _center _mg-b-20">
      Безупречный английский
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Космические скорости <span class="_normal">–</span> фантастический результат!
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs">
        <img class="_mg-b-30" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/buran.jpg" width="100%" alt="Космический корабль">
        <p class="b-text _blue _center _size-18 _arial _mg-b-40-ph">
          <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]"><span class="b-text _blue _tag _bold">Вертикальный взлёт</span>. <span class="b-text _blue _size-14">Подробнее</span></a>
        </p>
      </div>
      <div class="b-double-block__item _6l-xs">
        <p class="b-text _red _size-26 _arial _bold _lh-36 _mg-b-20">
          Ультрасовременный мегакурс&nbsp;экстра&#8209;класса
        </p>
        <p class="b-text _blue _bold _size-14 _arial _lh-20 _mg-b-20">
          Взрослым, школьникам. Начинающим и&nbsp;продвинутым.
        </p>
        <p class="b-text _blue _bold _size-14 _arial _lh-20 _mg-b-20">
          Академическая версия <span class="b-text _light-blue _bold">МОЛНИЕНОСНО</span>. Безупречная грамматика. Много лексики. Богатая практика.
        </p>
        <p class="b-text _dark-blue _blue _size-14 _arial _lh-20">
          Вот что сможет новичок уже на&nbsp;первом занятии:
        </p>
        <ul class="b-text _ul _grey _size-14 _arial _lh-20 _mg-b-20">
          <li><span class="b-text _blue">Обработать до&nbsp;30&nbsp;страниц компьютерного текста. Перевести его с&nbsp;русского на&nbsp;английский и&nbsp;обратно <span class="b-text _bold">без&nbsp;словаря со&nbsp;скоростью беглой речи</span>.</span></li>
          <li><span class="b-text _blue">Поговорить. Построить самостоятельно множество разговорных фраз на&nbsp;английском языке.</span></li>
          <li><span class="b-text _blue">Грамотное письмо, чтение, произношение.</span></li>
          <li><span class="b-text _blue">Много новых слов&nbsp;– более 150&nbsp;на первом&nbsp;же занятии.</span></li>
        </ul>
        <p class="b-text _light-blue _bold _size-14 _arial _lh-20 _mg-b-20">
          Зубрёжки правил нет. Домашние задания минимальны.
        </p>
        <p class="b-text _dark-blue _size-14 _arial _lh-20 _mg-b-20">
          Очень хорошо идут занятия в&nbsp;семейной мини&#8209;группе. Слабые участники быстро подтягиваются за&nbsp;более сильными.<br>
          Длительность обучения:<br>
          <span class="b-text _blue _bold">12&#8209;36 занятий по 3 ак. часа (36&#8209;108 ак. часов)</span>.
        </p>
      </div>
    </div>
  </div>
  <!-- <p class="b-anchor"><a class="b-anchor__link" name="vzroslym"></a></p>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Практическая грамотность для&nbsp;жизни
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Взрослым
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _5-xs">
        <p class="b-text _light-red size-16 _arial _bold _mg-t-20 _mg-b-40">
          Уникальный мегакурс экстра&#8209;класса
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-16 _mg-b-20">
          Безупречная грамотность –
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-16 _mg-b-20 _mg-l-20">
          <span>на уровне</span><br>
          <span class="b-text _mg-l-40">навыка,</span><br>
          <span class="b-text _mg-l-80">рефлекса,</span><br>
          <span class="b-text _mg-l-120">автоматизма –</span>
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _right _mg-b-30">
          на&nbsp;уровне Подсознания.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <nobr>4-6 сеансов</nobr> <nobr>по 3 ак. часа</nobr> <nobr>(12-18 ак. часов)</nobr>
          <nobr>с проф. О.О.Веровенко.</nobr>
          <nobr>По стоимости курса</nobr> <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Программа строится <span class="b-text _blue _bold">индивидуально</span> с&nbsp;учётом возраста, потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Обучение <span class="b-text _red">индивидуальное</span> или <span class="b-text _red">в&nbsp;вашей</span> мини&#8209;группе. Небольшая разница в&nbsp;уровне подготовки значения не&nbsp;имеет.
        </p>
        <p class="b-text _blue _bold _size-12 _verdana _lh-20" style="margin: 0 -200px 21px 0;">
          Еще спецкурсы для&nbsp;взрослых <span class="_normal">–</span> крутите вниз до&nbsp;конца
        </p>
      </div>
      <div class="b-double-block__item _7l-xs _no-gutter">
        <div class="b-double-block _mg-b-20">
          <div class="b-double-block__item _6">
            <img class="b-image _volume-shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik5.jpg" width="95%" alt="Ключи к занятиям">
          </div>
          <div class="b-double-block__item _6l">
            <img class="b-image _volume-shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik6.jpg" width="92%" alt="Учебник">
          </div>
        </div>
        <p class="b-text _dark-blue _size-14 _arial _bold _lh-20 _center">
          Уровень&nbsp;4. Учебник и&nbsp;ключи к&nbsp;занятиям.
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Русский язык
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _5-xs">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Мы&nbsp;готовим к&nbsp;экзаменам <span class="b-text _red _bold">НА&nbsp;ОТЛИЧНО</span>.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Берём не&nbsp;только отличников и&nbsp;хорошистов, но&nbsp;даже очень&#8209;очень слабых ребят.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Критерий подготовки: наш выпускник (даже самый слабый) занимает 1&#8209;2 место не&nbsp;только в&nbsp;своём классе, <span class="b-text _light-blue _bold">но&nbsp;в&nbsp;школе</span>. Троек мы&nbsp;не&nbsp;имеем, четвёрки крайне редки. Только <span class="b-text _light-blue _bold">пятёрки</span>, только <span class="b-text _red _bold">ВЫСШИЙ&nbsp;БАЛЛ!</span>
        </p>
        <p class="b-text _yellow _bold _size-14 _verdana _lh-20 _mg-b-20">
          Уникальные технологии обучения.<br>
          Учебники и материалы наивысшего качества.<br>
          Педагоги высшей квалификации.
        </p>
        <ul class="b-text _ul _grey _size-14 _verdana _lh-20 _mg-b-20-ph">
          <li><span class="b-text _blue">Зубрёжки правил нет.</span></li>
          <li><span class="b-text _blue">Домашние задания минимальны.</span></li>
          <li><span class="b-text _blue">График любой.</span></li>
        </ul>
      </div>
      <div class="b-double-block__item _7l-xs _no-gutter">
        <div class="b-double-block _mg-b-20">
          <div class="b-double-block__item _6 in">
            <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik-big.jpg"><img class="b-image _volume-shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik.jpg" width="91%" alt="Ключи к занятиям"></a>
          </div>
          <div class="b-double-block__item _6l in">
            <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg"><img class="b-image _volume-shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg" width="95%" alt="Учебник"></a>
          </div>
        </div>
        <p class="b-text _dark-blue _size-14 _arial _bold _center _lh-20">
          Уровень 3. Учебник и ключи к занятиям.<br>
          <span class="b-text _blue">Для увеличения кликните по картинке.</span>
        </p>
      </div>
    </div>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      <span class="b-text _red _bold">Русский язык.</span> Безупречная грамотность&nbsp;+ сочинения, изложения&nbsp;+ русский язык&nbsp;+ теория&nbsp;+ билеты.
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      <span class="b-text _blue _bold">Фундаментальная подготовка.</span> 24&#8209;36 занятий по&nbsp;3&nbsp;ак.&nbsp;часа (72&#8209;108&nbsp;ак.&nbsp;часов).
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      <span class="b-text _blue _bold">Базовая подготовка.</span> 12&#8209;24 занятия по&nbsp;3&nbsp;ак.&nbsp;часа (36&#8209;72&nbsp;ак.&nbsp;часа).
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      <span class="b-text _blue _bold">Экспресс-подготовка (только для отличников!).</span> 6&#8209;12 занятий по&nbsp;3&nbsp;ак.&nbsp;часа (18&#8209;36&nbsp;ак.&nbsp;часов).
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
      Занятия <span class="_blue _bold">индивидуальные</span> или в&nbsp;<span class="_blue _bold">вашей</span> мини&#8209;группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
    </p>
    <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-40">
      См.&nbsp;также <span class="b-text _red _tag _bold"><nobr>ЭКСКЛЮЗИВ. ГИА, ЕГЭ, ОГЭ <span class="b-text _normal">–</span> экспресс</nobr></span>
    </p>
  </div> -->
  <!-- <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Сочинения, изложения
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/book.jpg" width="100%" alt="Книга">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _red _bold">Сочинения, изложения.</span> Стилистика русского языка&nbsp;+ литературное редактирование текста&nbsp;+ умение раскрыть тему&nbsp;+ развитие творческих способностей.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          4&#8209;6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Возможно обучение под&nbsp;гипнозом (по&nbsp;желанию). Максимальное раскрытие творческих способностей за 1&#8209;2 сеанса.
        </p>
        <p class="b-text _yellow _size-14 _verdana _lh-20">
          <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]"><span class="b-text _yellow _bold">Галерея творческих работ,<br>написанных под&nbsp;гипнозом.<br>Подробнее</span></a>
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Английский язык
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/english.jpg" width="100%" alt="Английский">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _red _bold">Английский язык. Академический курс.</span> Безупречная грамматика в&nbsp;полном объеме&nbsp;+ много лексики&nbsp;+ практика&nbsp;+ теория&nbsp;+ билеты.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Фундаментальная подготовка.</span> 24&#8209;36 занятий по&nbsp;3&nbsp;ак.&nbsp;часа (72&#8209;108&nbsp;ак.&nbsp;часов).
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Базовая подготовка.</span> 12&#8209;24 занятия по&nbsp;3&nbsp;ак.&nbsp;часа (36&#8209;72&nbsp;ак.&nbsp;часа).
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Экспресс&#8209;подготовка (только для отличников!).</span> 6&#8209;12&nbsp;занятий по&nbsp;3&nbsp;ак.&nbsp;часа (18&#8209;36&nbsp;ак.&nbsp;часов).
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          Занятия <span class="b-text _blue _bold">индивидуальные</span> или в&nbsp;<span class="b-text _blue _bold">вашей</span> мини&#8209;группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
        </p>
      </div>
    </div>
  </div> -->
  <!-- <p class="b-anchor"><a class="b-anchor__link" name="gia-ege"></a></p>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20 _mg-b-40-md">
      ЭКСКЛЮЗИВ
    </p>
    <p class="b-text _blue _bold _size-36 _verdana _center _mg-b-40">
      ГИА, ЕГЭ, ОГЭ <span class="b-text _normal size-30">–</span> экспресс
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/express.jpg" width="100%" alt="Экспресс">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _red size-16 _verdana _bold _lh-20 _mg-b-20">
          Сверхскоростное нейропсихологическое&nbsp;обучение
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Сочинения, изложения&nbsp;+ грамотность.<br>
          При необходимости применяется гипноз.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Длительно обучения:<br>
          <nobr>4-6 сеансов</nobr> <nobr>по 3 ак. часа</nobr> <nobr>(12-18 ак. часов).</nobr>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Условия приёма:</span><br>
          Не&nbsp;более 50&nbsp;ошибок во&nbsp;вступительном тесте, <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]"><span class="b-text _dark-blue">концентрация внимания от&nbsp;120</span></a> <nobr>(подробнее&nbsp;– см.&nbsp;<a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]"><span class="b-text _dark-blue">здесь</span></a>).</nobr>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Автор технологии обучения и&nbsp;ваш педагог –<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          По стоимости курса <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Обзорные занятия
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs _7l-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/alladin.jpg" width="100%" alt="Алладин на ковре-самолете">
      </div>
      <div class="b-double-block__item _6-xs _5-md">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Единичные обзорные занятия по&nbsp;всему курсу русского или английского языков <span class="b-text _blue _bold">либо</span> по&nbsp;самым сложным темам на&nbsp;ваш выбор.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Длительность: 3&nbsp;ак.&nbsp;часа.
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Индивидуально или в&nbsp;вашей мини-группе.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          С&nbsp;проф. О.О.Веровенко&nbsp;– по&nbsp;стоимости одного сеанса <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span>.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          С&nbsp;педагогом высшей квалификации&nbsp;– по&nbsp;стоимости одного занятия курсов <span class="b-text _tag _red _bold">Врождённая&nbsp;грамотность</span> или <span class="b-text _tag _red _bold">Вертикальный&nbsp;взлёт</span>.
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Деловая переписка
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Взрослым<br>
      <span class="b-text _yellow size-16">Не показывайте зубы деловым партнерам!</span>
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/cat.jpg" width="100%" alt="Кот показывает зубы">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _yellow size-16 _verdana _bold _lh-20 _mg-b-20">
          Деловое письмо на&nbsp;русском языке.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Стилистическое построение и&nbsp;литературное редактирование текста, синтаксис, безупречная грамотность.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Этикет деловой переписки, психология взаимоотношений. Разрушение когнитивного диссонанса.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          4&#8209;6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Педагог&nbsp;– проф. О.О.Веровенко.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          По стоимости курса <span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div> -->
  <div class="b-unit">
    <p class="b-text _red _bold _size-30 _verdana _center _mg-t-40 _mg-b-40">
      Диагностика
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/heart.jpg" width="100%" alt="Сердце и разум">
      </div>
      <div class="b-double-block__item _6-xs">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Диагностика <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]"><span class="b-text _dark-blue">проблем&nbsp;обучения</span></a> (дислексия, дисграфия, <span class="b-text _tag">школьный</span> невроз и&nbsp;т.д.). Нейролингвистические методы тестирования.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Пути выхода из&nbsp;тупика. Консультации. Рекомендации. Подбор и&nbsp;<span class="b-text _tag">примерка</span> идеально подходящей для&nbsp;вас технологии обучения и&nbsp;коррекции.
        </p>
        <p class="b-text _light-blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Сеанс диагностики проходит в&nbsp;игровой форме. Родители не&nbsp;только присутствуют на&nbsp;сеансе, но&nbsp;играют и&nbsp;веселятся вместе со&nbsp;своими детьми!
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Приём ведёт доктор наук профессор<br>
          <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _dark-blue">Ольга Олеговна Веровенко.</span></a>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          Длительность 3&nbsp;ак.&nbsp;часа.
        </p>
        <!-- <p class="_red _bold _size-18 _verdana _lh-20" style="margin: 0 0 0 0;">
          С учётом Осенней скидки 50% <span class="_arial _normal">–</span> 300 у.е.
        </p> -->
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _bold _size-30 _verdana _center _mg-t-40 _mg-b-40">
      Пробный сеанс
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _5-md _offset-1l-md">
        <p class="b-text _red _bold _size-18 _verdana _lh-20 _mg-b-20 _mg-t-100-md">
          Попробуйте&nbsp;<span class="b-text _arial _normal">–</span> понравится!
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Сеанс бесплатен, если вы оплачиваете два курса обучения сразу.
        </p>
        <p class="b-text _blue _size-14 _verdana _lh-20 _mg-b-20">
          Вас примет автор технологий обучения профессор&nbsp;Ольга&nbsp;Олеговна&nbsp;Веровенко.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          Запишитесь, пожалуйста, заранее!
        </p>
      </div>
      <div class="b-double-block__item _hidden-xs _4l-md _offset-2r-md">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy4.jpg" width="100%" alt="Официант">
      </div>
    </div>
  </div>
  <div class="b-unit _gutter-6em-xs">
    <p class="b-text _red _bold _size-30 _verdana _center _mg-t-40 _mg-b-40">
      Осторожно: пираты!
    </p>
    <img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pirati.jpg" width="100%" alt="Опасайтесь мошенников">
    <p class="b-text _blue _size-14 _verdana _bold _lh-20 _mg-b-40 _mg-t-20">
      Творческая <span class="b-text _light-blue _italic">NL</span>&#8209;работа. Чтобы&nbsp;не&nbsp;путать попугая с&nbsp;пиратом...
    </p>
  </div>
  <div class="b-unit">
    <p class="b-text _red _size-24 _size-48-md _verdana _bold _center _mg-t-40 _mg-b-20">
      Отзывы, благодарности, награды
    </p>
    <div class="b-triple-block">
      <div class="b-triple-block__left _4">
        <img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sobyanin.jpg" height="auto" width="78%" alt="Собянин">
      </div>
      <div class="b-triple-block__center _4">
        <img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/luzhkov.jpg" height="auto" width="100%" alt="Лужков">
      </div>
      <div class="b-triple-block__right _4">
        <div class="in">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom-big.jpg">
            <img class="b-image _shadow" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom.jpg" height="auto" width="67%" alt="Диплом">
          </a>
        </div>
      </div>
    </div>
    <p class="b-text _red _size-24 _size-48-md _verdana _bold _center _mg-t-20 _mg-b-60">
      <a class="b-text _link-border" href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-text _yellow _normal"><span class="b-text _link _border _yellow _bold">Перейти на&nbsp;страницу отзывов</span></a>
    </p>
  </div>
  <div class="b-unit _gutter-6em-xs _hidden-sm-larger">
    <div class="">
      <ul class="b-menu-mobile" style="text-align: center">
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-menu-mobile__link">ОТЗЫВЫ, БЛАГОДАРНОСТИ</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" class="b-menu-mobile__link">СМИ О НАС</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $stati; [/exec]" class="b-menu-mobile__link">Статьи</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_robot; [/exec]" class="b-menu-mobile__link">СКИДКИ</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" class="b-menu-mobile__link">К НАВИГАЦИИ</a></li>
      </ul>
    </div>
  </div>
  <div class="b-unit _hidden-sm _no-gutter">
    [exec] include_once get_template_directory().'/compas/compas-all-responsive.php'; [/exec]
  </div>
</div>
[/raw]