[raw]
<div class="b-nav">
  <div class="b-nav__top">
    <div class="b-nav__top-center">
      <div class="b-nav-top">
        <div class="b-nav-top__brand">
          <div class="b-brand">
            <a class="b-brand__link" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]">Olga Verovenko</a>
          </div>
        </div>
        <div class="b-nav-top__icon-menu">
          <input type="checkbox" id="toggle-menu"/>
          <label for="toggle-menu">
            <span class="menu-icon"></span>
          </label>
        </div>
        <div class="b-nav-top__menu">
          <ul class="b-menu">
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-menu__link">ОТЗЫВЫ, БЛАГОДАРНОСТИ</a></li>
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" class="b-menu__link">СМИ О НАС</a></li>
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" class="b-menu__link">СКИДКИ</a></li>
            <li class="b-menu__item"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" class="b-menu__link">К НАВИГАЦИИ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="b-nav__mobile">
    <ul class="b-menu-mobile">
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-menu-mobile__link">ОТЗЫВЫ, БЛАГОДАРНОСТИ</a></li>
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" class="b-menu-mobile__link">СМИ О НАС</a></li>
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" class="b-menu-mobile__link">СКИДКИ</a></li>
      <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" class="b-menu-mobile__link">К НАВИГАЦИИ</a></li>
    </ul>
  </div>
</div>
<div class="b-content">
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _size-38-ph _verdana _center _mg-t-40 _mg-b-20">
      Занимательный русский
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Школьникам 3&#8209;7 классов
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6-xs _7-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/knight.jpg" width="100%" alt="Рыцарь">
      </div>
      <div class="b-double-block__item _6l-xs _5l-md">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Для учащихся 3&#8209;7 классов без признаков проблем обучения. Только русский&nbsp;– ярко, необычно, занимательно.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Программа строится <span class="b-text _blue _bold">индивидуально</span> с&nbsp;учётом возраста, потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          4-6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _dark-blue">О.О.Веровенко</span></a>.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          Занимательный русский входит в&nbsp;программу курса <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]"><span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span></a>, но&nbsp;вы&nbsp;можете взять его отдельно.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Речь
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Речь&nbsp;<span class="_normal">–</span> ваша визитная карточка,<br>
      не правда ли?
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs _7l-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/parrot.jpg" width="100%" alt="Попугай">
      </div>
      <div class="b-double-block__item _6-xs _5-md">
        <p class="b-text _yellow size-16 _verdana _bold _lh-20 _mg-b-20">
          Техника и&nbsp;культура речи.
        </p>
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Для учащихся любого возраста.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Навык правильной, выразительной, красивой речи. Произношение, дикция, артикуляция.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Манера держаться и&nbsp;разговаривать. Раскрепощение. Навык публичных выступлений (в&nbsp;том числе у&nbsp;доски).
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          4-6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _dark-blue">О.О.Веровенко</span></a>.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          С&nbsp;ребёнком один из&nbsp;родителей ходит на&nbsp;занятия бесплатно.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Чтение
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Школьникам 2-5 классов
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs _7l-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/elephant.jpg" width="100%" alt="Слон и зебра">
      </div>
      <div class="b-double-block__item _6-xs _5-md">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Навык правильного, осмысленного, интонированного чтения, без чего невозможно грамотное письмо.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Повышение концентрации внимания.
        </p>
        <p class="b-text _size-14 _verdana _lh-20 _mg-b-20">
          <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]"><span class="b-text _blue _bold">Что такое концентрация внимания и&nbsp;как она влияет на&nbsp;обучаемость.</span></a>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Чтение введено в полную программу курса <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]"><span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span></a>, но вы можете взять его отдельно.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          4&#8209;6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _dark-blue">О.О.Веровенко</span></a>.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Творческие диктанты
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Их любят все&nbsp;<span class="b-text _normal">–</span><br>
      взрослые и&nbsp;дети!
    </p>
    <div class="b-double-block _mg-b-40">
      <div class="b-double-block__item _6l-xs _7l-md">
        <img class="_mg-b-20-ph" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pumpkin.jpg" width="100%" alt="Стрекоза">
      </div>
      <div class="b-double-block__item _6-xs _5-md">
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Яркие, красивые, интересные диктанты любой сложности для&nbsp;любого возраста.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Развитие фонематического слуха (основа врождённой грамотности), повышение концентрации внимания, красивый почерк, коррекция дисграфии, навык безошибочных диктантов.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Повышение концентрации внимания.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]"><span class="b-text _blue _bold">Что такое концентрация внимания и&nbsp;как она влияет на&nbsp;обучаемость.</span></a>
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Творческие диктанты введены в&nbsp;полную программу курса <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]"><span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span></a>, но&nbsp;вы&nbsp;можете взять их отдельно.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          4&#8209;6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _dark-blue">О.О.Веровенко</span></a>.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit">
    <p class="b-text _red _bold _size-48 _verdana _center _mg-t-40 _mg-b-20">
      Арт&#8209;терапия
    </p>
    <p class="b-text _blue _size-18 _bold _verdana _center _lh-26 _mg-b-40">
      Ваш ребёнок&nbsp;<span class="_normal">–</span> гений!
    </p>
    <div class="b-double-block _mg-b-40">
      <div id="load-video17" class="b-double-block__item _6l-xs _7l-md load-video _mg-b-20-ph">
      </div>
      <div class="b-double-block__item _6-xs _5-md">
        <p class="b-text _blue _bold _size-14 _verdana _lh-20 _mg-b-20">
          Для&nbsp;учащихся любого возраста.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Арт&#8209;терапия.</span> Коррекция <span class="b-text _tag">школьного</span> невроза, страхов, неуверенности и&nbsp;других проблем обучения и&nbsp;поведения.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          <span class="b-text _blue _bold">Психотерапия (комплекс работ).</span> Выработка положительной обратной условной связи.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Дивной красоты <span class="b-text _blue _bold">творческие работы</span> по&nbsp;русскому, английскому, литературе.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Приходит уверенность в&nbsp;себе и&nbsp;своих силах. Появляется интерес и&nbsp;любовь к&nbsp;учебе.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20 _mg-b-20">
          Творческие работы введены в&nbsp;полную программу курса <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]"><span class="b-text _tag _red _bold">Чудо&nbsp;будет!</span></a>, но&nbsp;вы&nbsp;можете взять их отдельно.
        </p>
        <p class="b-text _dark-blue _size-14 _verdana _lh-20">
          4&#8209;6 сеансов по 3 ак. часа (12&#8209;18 ак. часов)<br>
          с проф. <a class="b-text _link _black" href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="b-text _dark-blue">О.О.Веровенко</span></a>.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit _gutter-6em-xs _hidden-sm-larger">
    <div class="">
      <ul class="b-menu-mobile" style="text-align: center">
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="b-menu-mobile__link">ОТЗЫВЫ, БЛАГОДАРНОСТИ</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" class="b-menu-mobile__link">СМИ О НАС</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $stati; [/exec]" class="b-menu-mobile__link">Статьи</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" class="b-menu-mobile__link">СКИДКИ</a></li>
        <li class="b-menu-mobile__item"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]" class="b-menu-mobile__link">К НАВИГАЦИИ</a></li>
      </ul>
    </div>
  </div>
  <div class="b-unit _hidden-sm _no-gutter">
    [exec] include_once get_template_directory().'/compas/compas-all-responsive.php'; [/exec]
  </div>
</div>
[/raw]