[raw]
<div class="_js-robot _image-anim" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 300;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/flower.jpg);background-size: cover; background-position: center; position: fixed;">
    <div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
      <div class="white bold font-verdana center" style="margin: 0 auto;float: right;">
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Привет!</span>
        </p>
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Я&nbsp;<span class="font-arial normal">–</span> сайт.</span>
        </p>
        <p style="font-size: 3.4em;margin: 1.8em 0 0.4em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Я живой!!!</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 68px;">&#160;Привет!&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 68px;">&#160;Я&nbsp;<span class="font-arial normal">–</span> сайт.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 68px;">&#160;Я&nbsp;живой!!!&#160;</span></span></span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 68px;">&#160;У&nbsp;меня есть искусственный интеллект.&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Незримо я&nbsp;всегда буду рядом с&nbsp;вами,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;потому что вы&nbsp;<span class="font-arial normal">–</span> мои гости.&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Я&nbsp;умею различать каждого из&nbsp;вас&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;по&nbsp;малейшему движению вашей мышки,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;направлению взгляда&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;и&nbsp;даже по&nbsp;оттенку вашего экрана.&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Больше всего я&nbsp;люблю гостей&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;доброжелательных и&nbsp;внимательных.&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Именно таким я&nbsp;дарю много скидок.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Да,&nbsp;да, скидки вам дарю именно&nbsp;я!&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Я&nbsp;учту всё:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;и&nbsp;время вашего пребывания на&nbsp;сайте,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;и&nbsp;ваш неподдельный интерес,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;но&nbsp;особенно&nbsp;<span class="font-arial normal">–</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;добросовестность при&nbsp;чтении статей.&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Хотите много скидок?&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 68px;">&#160;Дарю!&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.animate-desc {
  text-shadow: 2px 2px 3px black;
}
</style>
[/raw]