[raw]
<!-- <div class="_js-robot _image-anim _js-link _js-back-url" data-link="http://verovenko.com/usloviya-obucheniya-planeta" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 300;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/flower.jpg);background-size: cover; background-position: center; position: fixed;">
    <div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
      <div class="white bold font-verdana center" style="margin: 0 auto;float: right;">
        <p style="font-size: 3.4em;margin: 2.5em 0 0; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Привет!</span>
        </p>
        <p style="font-size: 3.4em;margin: 0.5em 0 0; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Я&nbsp;<span class="font-arial normal">–</span> сайт.</span>
        </p>
        <p style="font-size: 3.4em;margin: 0.5em 0 0; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Я живой!!!</span>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="_js-robot _image-anim _js-link _js-has-link _js-no-reverse _no-redirect" data-link="http://verovenko.com/usloviya-obucheniya-planeta" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 5;">
      <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/flower.jpg);background-size: cover; background-position: center; position: fixed;">
        <div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
          <div class="white bold font-verdana center" style="margin: 0 auto;float: right;">
            <p style="font-size: 3.4em;margin: 2.5em 0 0; line-height: normal;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Привет!</span>
            </p>
            <p style="font-size: 3.4em;margin: 0.5em 0 0; line-height: normal;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Я&nbsp;<span class="font-arial normal">–</span> сайт.</span>
            </p>
            <p style="font-size: 3.4em;margin: 0.5em 0 0; line-height: normal;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Я живой!!!</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;z-index: 4;">
      <div class="description active animate" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:50px; margin: 0 0 50px 0; line-height: 58px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 58px;">Надeюсь, вы подобрали себе</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span class="animate-string" style="display: inherit;line-height: 58px;">тариф по душе?</span>
                  </span>
                </span>
              </p>
              <p class="white center font-verdana bold" style="font-size:30px; margin: 0 0 0 0; line-height: 58px; display: inline-block;">
                <a class="_js-price-url" href="[exec] include get_template_directory().'/links.php'; echo $persona_grata_vibor; [/exec]" style="text-decoration: none; color: white; padding: 2em 1.875em; margin: 0; position: relative;">
                  <span style="font-size: 1em;text-shadow: 2px 2px 3px black;"><span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 40px;border-bottom: 1px solid white;">Persona Grata</span></span></span></span>
                </a>
                <a class="_js-nongrata-url" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_stoimost_non_grata; [/exec]" style="text-decoration: none; color: white; padding: 2em 1.875em; margin: 0; position: relative;">
                  <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="animate-string" style="display: inherit;line-height: 40px;border-bottom: 1px solid white;">Persona non Grata</span></span></span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.animate-desc {
  text-shadow: 2px 2px 3px black;
}
</style>
[/raw]