<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 25px 28px;">
        Александр Блок
    </p>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
        Незнакомка
    </p>
    <div style="width: 960px; height: 530px; padding: 22px 0 80px 0;">
        <div style="width: 300px; height: 530px; float: left; padding-left: 169px;">
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                По вечерам над ресторанами<br>
                Горячий воздух дик и глух,<br>
                И правит окриками пьяными<br>
                Весенний и тлетворный дух.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                Вдали над пылью переулочной,<br>
                Над скукой загородных дач,<br>
                Чуть золотится крендель булочной,<br>
                И раздается детский плач.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                И каждый вечер, за шлагбаумами,<br>
                Заламывая котелки,<br>
                Среди канав гуляют с дамами<br>
                Испытанные остряки.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                Над озером скрипят уключины<br>
                И раздается женский визг,<br>
                А в небе, ко всему приученный<br>
                Бессмысленно кривится диск.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                И каждый вечер друг единственный<br>
                В моем стакане отражен<br>
                И влагой терпкой и таинственной<br>
                Как я, смирён и оглушён.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                А рядом у соседних столиков<br>
                Лакеи сонные торчат,<br>
                И пьяницы с глазами кроликов<br>
                «In vino veritas!»* кричат.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
                И каждый вечер, в час назначенный<br>
                (Иль это только снится мне?),<br>
                Девичий стан, шелками схваченный,<br>
                В туманном движется окне.
            </p>
        </div>
        <div style="width: 399px; height: 530px; float: right; margin: 0 0 0 0;">
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                И медленно, пройдя меж пьяными,<br>
                Всегда без спутников, одна<br>
                Дыша духами и туманами,<br>
                Она садится у окна.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                И веют древними поверьями<br>
                Её упругие шелка,<br>
                И шляпа с траурными перьями,<br>
                И в кольцах узкая рука.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                И странной близостью закованный,<br>
                Смотрю за тёмную вуаль,<br>
                И вижу берег очарованный<br>
                И очарованную даль.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                Глухие тайны мне поручены,<br>
                Мне чьё-то солнце вручено,<br>
                И все души моей излучины<br>
                Пронзило терпкое вино.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
                И перья страуса склонённые<br>
                В моём качаются мозгу,<br>
                И очи синие бездонные<br>
                Цветут на дальнем берегу.
            </p>
            <p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
                В моей душе лежит сокровище,<br>
                И ключ поручен только мне!<br>
                Ты право, пьяное чудовище!<br>
                Я знаю: истина в вине.
            </p>
        </div>
    </div>
    <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse_blok; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Вернуться</span></a></p>
</div>










