<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <p class="blue size-18 font-verdana" style="margin: 0 0 23px 28px;">
        Афанасий Фет
    </p>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
        Шёпот, робкое дыханье...
    </p>
    <div style="width: 960px; height: 420px; padding: 21px 0 80px 0;">
        <div style="width: 320px; height: 420px; padding-left: 52px; margin: 0 auto;">
            <p class="dark-blue size-14 font-verdana" style="line-height: 28px; margin: -5px 0 36px 25px;">
                Шёпот, робкое дыханье,<br>
                Трели соловья,<br>
                Серебро и колыханье<br>
                Сонного ручья.
            </p>
            <p class="dark-blue size-14 font-verdana" style="line-height: 28px; margin: 0 0 36px 25px;">
                Свет ночной, ночные тени,<br>
                Тени без конца,<br>
                Ряд волшебных изменений<br>
                Милого лица,
            </p>
            <p class="dark-blue size-14 font-verdana" style="line-height: 28px; margin: 0 0 0 25px;">
                В дымных тучках пурпур розы,<br>
                Отблеск янтаря,<br>
                И лобзания, и слёзы,<br>
                И заря, заря!..
            </p>
        </div>
    </div>
    <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse_fet; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Вернуться</span></a></p>
</div>