<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <p class="blue size-18 font-verdana" style="margin: 0 0 11px 20px;">
        Николай Гумилёв
    </p>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
        Крест
    </p>
    <div style="width: 960px; height: 300px; padding: 22px 0 80px 0;">
        <div style="width: 400px; height: 300px; float: left; padding-left: 57px;">
            <p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
                Так долго лгала мне за картою карта,<br>
                Что я уж не мог опьяниться вином.<br>
                Холодные звёзды тревожного марта<br>
                Бледнели одна за другой за окном.
            </p>
            <p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
                В холодном безумьи, в тревожном азарте<br>
                Я чувствовал, будто игра эта – сон.<br>
                «Весь банк, – закричал, – покрываю я в карте!»<br>
                И карта убита, и я побежден.
            </p>
            <p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
                Я вышел на воздух. Рассветные тени<br>
                Бродили так нежно по нежным снегам.<br>
                Не помню я сам, как я пал на колени,<br>
                Мой крест золотой прижимая к губам.
            </p>
        </div>
        <div style="width: 400px; height: 300px; float: right; margin: 0 59px 0 0;">
            <p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
                – Стать вольным и чистым, как звёздное небо,<br>
                Твой посох принять, о сестра Нищета,<br>
                Бродить по дорогам, выпрашивать хлеба,<br>
                Людей заклиная святыней креста!
            </p>
            <p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
                Мгновенье… и в зале весёлой и шумной<br>
                Все стихли и встали испуганно с мест,<br>
                Когда я вошёл, воспалённый, безумный,<br>
                И молча на карту поставил мой крест.
            </p>
        </div>
    </div>
    <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Вернуться</span></a></p>
</div>










