[raw]
<!-- <div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 12;">
  <p class="bold" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
    <a href="/" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Olga Verovenko</span></a>
  </p>
</div> -->
<div class="div-wrapper_padding size-16 _js-blur _js-scale-font-size _js-blur-opacity" data-redirect-mobile="1" style="width: 61.25em; z-index: 12; position: relative;margin: 0 auto;overflow: unset; opacity: 0;">
  <p class="white bold font-verdana center" style="font-size: 2.5em; margin: 1.5em 0 0.5em; line-height: normal; opacity: 1;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><span class="italic">NL</span>-студия</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 5em; margin: 0 0 0.66em; line-height: normal; opacity: 1;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><span class="tag">Король Казимир</span></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1.5em; margin: 0 0 2.8em; line-height: normal; opacity: 1;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистические</span><br>
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">сайты Premium</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1.2em;margin: 0 0 1.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Сайт от 1 000 000 у.е.</span><br>
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистическая составляющая – слайдер – от 40 000 у.е.</span><br>
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Landing от 10 000 у.е.</span>
  </p>
  <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">
      <nobr>1 у.е. = 1 евро</nobr>
    </span>
  </p>
  <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 3.45em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (495) 765-2-555</nobr></span>
  </p>
  <!-- <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.5em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Портфолио</span></a>
  </p> -->
  <!-- <p class="white bold font-verdana center" style="font-size: 5em;margin: -1.71em 0 0; line-height: normal; opacity: 0;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Совершенство</span><br>
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;font-size: 1.1em;">во всём</span>
  </p> -->
  <!-- <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 12em; line-height: 2em; opacity: 0;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Команда:</span><br>
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Сеньор Программист</span><br>
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Эксперт-Дизайнер</span><br>
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Мастер-Нейролингвист</span>
  </p> -->


  <!-- <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Телефон</span>
  </p> -->
  <!-- <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 1em; line-height: normal; opacity: 0;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
  </p> -->
</div>
<div class="_js-blur-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 0;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/king/human1.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
</div>
<div class="b-video-back" data-video-name="king/human1" data-video-id="video-human1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/king/human1.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]