[raw]
<div class="_js-multi" style="z-index: 89;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_zombie; [/exec]"
    data-redirect-delay="30000" style="width: 62.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.85em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Вы&nbsp;посмотрели один из&nbsp;НАИКРАСИВЕЙШИХ сайтов мира&nbsp;– и&nbsp;поэтому вы&nbsp;здесь.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Сайт не&nbsp;просто красив&nbsp;– он&nbsp;нейролингвистичен.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Проникая в&nbsp;глубины Подсознания, он&nbsp;гипнотизирует
          и&nbsp;завораживает, никогда не&nbsp;забывается и&nbsp;заставляет возвращаться снова и&nbsp;снова...</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">И&nbsp;ПРОДАЁТ он&nbsp;в&nbsp;100&#8209;150&nbsp;раз лучше обычного.</span>
        </span>
      </p>
      <!--<p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Несколько ТЫСЯЧ часов работы королей своего дела вложено в&nbsp;этот сайт.<br>Гениальный программист, уникальный дизайнер и&nbsp;международного класса нейролингвист&nbsp;– специалист по&nbsp;работе с&nbsp;Подсознанием.</span>
        </span>
      </p>-->
      <p class="white left bold" style="font-size: 2.2em;line-height: 2em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Короли своего дела:<br><span style="margin-left: 1em;"><span style="font-weight: normal;">–</span>&nbsp;гениальный программист</span><br><span style="margin-left: 2em;"><span style="font-weight: normal;">–</span>&nbsp;уникальный дизайнер</span><br><span style="margin-left: 3em;"><span style="font-weight: normal;">–</span>&nbsp;международного класса нейролингвист</span><br><span style="margin-left: 4em;"><span style="font-weight: normal;">(</span>специалист по&nbsp;работе с&nbsp;Подсознанием<span style="font-weight: normal;">)</span></span><br>вложили ТЫСЯЧИ часов труда в&nbsp;этот сайт.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Выверяется каждый кадр&nbsp;– и&nbsp;по&nbsp;силе воздействия равных нейролингвистическим сайтам нет.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Сколько стоит такой сайт?<br>В&nbsp;Америке, Италии&nbsp;– до&nbsp;миллиона долларов. У&nbsp;нас столько&nbsp;же.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Но&nbsp;вы&nbsp;можете взять только часть, причём самую важную&nbsp;– НЕЙРОЛИНГВИСТИЧЕСКУЮ СОСТАВЛЯЮЩУЮ.<br>Можете применять её&nbsp;как отдельно, в&nbsp;виде самостоятельного мини&#8209;сайта, так и&nbsp;для оживления вашего старого сайта.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Это в&nbsp;разы дешевле! И&nbsp;потрясающе действенно.</span>
        </span>
      </p>
      <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">О&nbsp;дополнительных скидках договоримся!</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2.2em;line-height: 1.5em;margin: 2em 0 5em;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio_price; [/exec]" style="text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">
            <span class="white" style="border-bottom: 1px solid white;">Вам&nbsp;сюда</span>
          </span>
        </span>
        </a>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/king/human1.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]
[/raw]