[raw]
<div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $obshchee_predsavlenie; [/exec]"
  data-redirect-delay="10" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
  <div class="white font-verdana" style="margin: 0 auto;">
    <p class="white bold" style="width:50%;font-size: 2em;line-height: 1.5em;margin: 1.75em 0 0; text-transform: uppercase;">
      <span class="_js-span-anim-roll left" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Текст далее</span>
      </span>
      <br>
      <span class="_js-span-anim-roll left" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">только для&nbsp;взрослых!</span>
      </span>
    </p>
    <p class="white bold" style="width:50%;font-size: 2em;line-height: 1.5em;margin: 6em 0 0 0; text-transform: uppercase;">
      <span class="_js-span-anim-roll left" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Любое юное создание,</span>
      </span>
      <br>
      <span class="_js-span-anim-roll left" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">которое сунет любопытный</span>
      </span>
      <br>
      <span class="_js-span-anim-roll left" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">нос дальше, превратится</span>
      </span>
      <br>
      <span class="_js-span-anim-roll _anim-scale left" data-speed="0.7" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
        <span style="font-size: 2.5em;white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">в&nbsp;лягушонка!</span>
      </span>
    </p>
  </div>
</div>
<div class="_js-blur-back" data-disappear-blur="true" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/frog.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
</div>
<div class="b-video-back" data-video-start-delay="3500" data-video-name="volshebnica/frog" data-video-id="video-frog" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/frog"
  data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/frog.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]