[raw]
<div class="div-wrapper" style="box-shadow: none;border: none;">
  <p class="grey size-20 font-arial" style="line-height: normal;margin: 45px 70px 54px;">
    И&nbsp;то&nbsp;верно. Не&nbsp;ходи к&nbsp;Волшебнице. Злыдня она. Как возьмёт свою волшебную дубину, как начнёт ею размахивать! Враз читать&#8209;писать выучишься и&nbsp;по&#8209;аглицки говорить...<br>
    То&nbsp;ли дело у&nbsp;меня. Садись&#8209;ка на&nbsp;лопату...
  </p>
  <div class="clearfix-hook" style="margin-top: 30px;">
    <div class="clearfix-hook" style="float: left;width: 320px; margin-left: 52px;">
      <p class="red font-arial" style="font-size: 28px;line-height: normal;margin: 0 0 50px 0;">
        Окончательный выбор:
      </p>
      <p class="blue size-20 font-arial" style="line-height: normal;margin: 0 0 40px 0;">
        Путь к Волшебнице. <a href="//verovenko.ru/usloviya-pered-statyami" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue size-16" style="border-bottom: 1px solid #0065ab;">Вам сюда</span></a>
      </p>
      <p class="blue size-20 font-arial" style="line-height: normal;margin: 0 0 40px 0;">
        Путь к Бабе-Яге. <a href="http://verovenko.ru/usloviya-posle-baby-yagi" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue size-16" style="border-bottom: 1px solid #0065ab;">Вам сюда</span></a>
      </p>
    </div>
    <div class="clearfix-hook" style="padding: 0; float: right;width: 598px;">
      <img src="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/yaga-2.jpg" width="100%" height="100%" alt="Баба-Яга">
    </div>
  </div>
</div>
[/raw]