[raw]
<div class="div-wrapper_padding size-16" style="width: 71.25em; z-index: 10; position: relative;text-shadow: 2px 2px 3px black;">
  <a href="//verovenko.com" style="text-decoration: none;position: relative;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3.5em;line-height: normal;margin: 5em 0 0;">
        Щас на&nbsp;тебе женюсь!..
      </p>
      <div class="clearfix-hook" style="margin-top: 30px;">
          <div class="clearfix-hook" style="margin: 0 auto;">
            <p class="white bold center size-20" style="line-height: normal;margin: 0 0 40px 0;">
              Спасение&nbsp;– <span class="white" style="border-bottom: 1px solid white;">Вам сюда</span><br>
              Смотреть с интересом, читать вдумчиво!
            </p>
          </div>
      </div>
    </div>
  </a>
</div>
<div data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/tree" class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/tree.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]