[raw]
<div class="b-volshebnica__wrap-full-screen-video" style="position: fixed; top: 0; z-index: 5; height: 100%; width: 100%; left: 0; right: 0; margin: 0 auto;background-color: black; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/harts.jpg);background-size: cover; background-position: center;">
  <!-- <video class="b-volshebnica__full-screen-video" video autobuffer loop autoplay>
    <source id="mp4" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/harts.mp4" type="video/mp4">
  </video> -->
  <div class="b-volshebnica__score" style="display:table;width:100%;height:100%;z-index: 9;position: relative;">
    <div style="display:table-cell;vertical-align:middle;">
      <div style="margin-left:auto;margin-right:auto; text-align: center; color: #00a6da;">3</div>
    </div>
  </div>
</div>
<div class="_js-link" data-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro.'?target=chudo'; [/exec]"
  style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/scene.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
      <div class="_next" data-video-id="video-star" data-video-name="slider-chudo/star" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 4; opacity: 0; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/star.jpg);background-size: cover; background-position: center; ">
      </div>
      <div class="_js-blur-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 0;">
        <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/scene.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
      </div>
    </div>
    <div style="opacity: 1; z-index: 9998; position: absolute;bottom: 70px;
    width: 100%;text-align: center;">
      <p class="yellow center font-verdana bold _js-show-2" style="font-size:23px; margin: 0 -150px 0 0; line-height: 32px; display: inline-block;text-shadow: 2px 2px 3px black;opacity: 0;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $obshchee_predsavlenie; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 0; margin: 0 0 0;">
          <span class="white bold" style="color: #ffe57f;border-bottom: 1px solid #ffe57f;">Подробнее<br>Только для взрослых!</span>
        </a>
      </p>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate _image-anim" style="position: absolute; z-index: 3; top: 0;width:90%;height:100%; left: 5%; margin: 0; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="width: 620px; float: left; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 620px; height: 800px;box-shadow: 2px 2px 3px black;">
                  <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/verovenko-big.jpg"
                    width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
                </div>
                <p class="yellow center font-verdana bold" style="font-size:47px; margin: 15px 0 0; line-height: 56px; display: inline-block;color: #ffe57f;text-shadow: 2px 2px 3px black; opacity: 0;">
                  <a href="[exec] include get_template_directory().'/links.php'; echo $obshchee_predsavlenie; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 0; margin: 0 0 0;">
                    <span class="yellow bold" style="color: #ffe57f;border-bottom: 1px solid #ffe57f;">Подробнее<br>Только для взрослых!</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 210px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="yellow center font-verdana bold " style="font-size:60px; margin: 0 -250px 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Ольга Олеговна&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 120px;">&#160;Веровенко&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -250px 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Ольга Олеговна</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Веровенко</span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 230px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="yellow center font-verdana bold " style="font-size:100px; margin: 0 -200px 0 0; line-height: 110px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 77px;">&#160;Волшебница&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -300px 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Педагог-нейролингвист</span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 130px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="yellow center font-verdana bold " style="font-size:60px; margin: 0 -150px 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;Входит в ТОП-10&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:80px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 89px;">&#160;лучших&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;волшебниц&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 120px;">&#160;МИРА&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -250px 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Входит в ТОП-10</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="font-size:80px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 89px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">лучших</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">нейролингвистов</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">мира</span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; top: 130px;width:100%;height:100%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:50px; margin: 0 -350px 0 0; line-height: 58px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 58px;">&#160;Создала уникальные методы&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:87px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale anime-zero-delay bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 97px;text-transform: uppercase;">&#160;волшебного&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 120px;text-transform: uppercase;">&#160;обучения&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -300px 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Создала методы</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">уникально эффективного обучения:</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Чудо будет!</span>
                      </span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Врождённая грамотность</span>
                      </span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Вертикальный взлёт</span>
                      </span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; top: 120px;width:100%;height:100%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:50px; margin: 0 -350px 0 0; line-height: 58px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 -565px;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 58px;">&#160;Среди них:&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size: 60px; margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 70px;" class="tag">Врождённая грамотность</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size: 60px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 70px;" class="tag">Вертикальный взлёт</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size: 60px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 70px;" class="tag">Чудо будет!</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size: 60px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 70px;" class="tag">Дислексия, брысь!</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -300px 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Создала методы</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">уникально эффективного обучения:</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Чудо будет!</span>
                      </span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Врождённая грамотность</span>
                      </span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Вертикальный взлёт</span>
                      </span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; top: 120px;width:100%;height:100%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:50px; margin: 0 -350px 0 0; line-height: 58px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 58px;">&#160;А также уникальные методы&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:87px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale anime-zero-delay bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 97px;text-transform: uppercase;">&#160;волшебной&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 120px;text-transform: uppercase;">&#160;коррекции&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="marign: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 58px;">&#160;дислексии, дисграфии,&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="marign: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 58px;">&#160;<span class="tag">школьного</span> невроза&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -300px 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Создала методы</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">уникально эффективного обучения:</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Чудо будет!</span>
                      </span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Врождённая грамотность</span>
                      </span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">
                        <span class="tag">Вертикальный взлёт</span>
                      </span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 150px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -200px 60px 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Международная&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;экспертиза РСТ&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;подтвердила:&#160;</span>
                  </span>
                </span>
              </p>
              <p class="white center font-verdana bold " style="font-size:100px; margin: 0 0 0 0; line-height: 100px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="font-size:100px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 100px;">&#160;ЛУЧШЕГО В МИРЕ НЕТ!&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="width: 100%;font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Международная экспертиза РСТ</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">подтвердила:</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">ЛУЧШЕГО В МИРЕ НЕТ!</span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 180px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -350px 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Профессор, доктор наук&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Doctor, Grand Doctor&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;Professor, Full Professor&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;волшебных наук&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="width: 100%;font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Международная экспертиза РСТ</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">подтвердила:</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">ЛУЧШЕГО В МИРЕ НЕТ!</span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 180px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 -350px 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Именем Ольги Веровенко&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;названа звезда&#160;</span>
                  </span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
                    <span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;в созвездии Кассиопеи&#160;</span>
                  </span>
                </span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">Именем Ольги Веровенко</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">названа звезда</span>&#160;</span>
                  </span>
                </span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                  <span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;">
                    <span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;
                      <span class="b-explode-text" style="opacity: 0">в созвездии Кассиопеи</span>&#160;</span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _toggle-back" data-start-video="1" data-delay-click="10" data-delay-click-mobile="2" style="position: absolute; z-index: 4; width:100%;height:100%;  margin: 0; top: 0;">
        <div class="white size-16 clearfix" style="position: relative;z-index: 9;">
          <p class="bold center" style="font-size:2.5em;margin: 1em 0.5em 0.3em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
            <a style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Звезда Ольга Веровенко в&nbsp;созвездии Кассиопеи</span>
            </a>
          </p>
        </div>
        <div class="div-wrapper_padding size-16" style="width: 61.25em; z-index: 10; position: relative;">
          <div class="white font-verdana" style="margin: 0 auto;">
            <p class="bold font-verdana center" style="font-size: 1.5em;margin: 6em 15em 0 0; line-height: normal;text-shadow: 2px 2px 3px black;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
              <img class="lazy-ignore" src="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/star1.png" style="display: block;margin: 0 auto 1em;width: 70px;"
              />
              <a style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
                Magnitude 10.3
                <br> &beta;
                <span class="normal">=</span> +62&deg; 04&prime; 23&Prime;
                <span style="margin-left: -0.333em;">.</span>0
                <br> &alpha;
                <span class="normal">=</span> 00
                <sup>h</sup> 10
                <sup>m</sup> 18
                <sup>s</sup>
                <span style="margin-left: -0.333em;">.</span>51
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .animate-desc {
    text-shadow: 2px 2px 3px black;
  }
</style>
[/raw]