[raw]
<div class="div-wrapper">
  <p id="anim-stoimost" class="yellow size-30 font-verdana center bold" style="margin: 40px 0 10px 0; opacity: 0;">
    СКИДКИ
  </p>
  <div style="margin-top: 0; height: 496px;">
    <div style="width: 600px; height: 496px; margin:0 auto;">
      <div style="width: 600px; height: 496px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/yagoda.jpg" width="100%" height="100%" alt="Ягоды">
      </div>
    </div>
  </div>
  <p class="yellow size-36 font-verdana bold center" style="margin: 68px 0 58px 0; position: relative; line-height: 44px;">
    Базовая стоимость
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 25px;">
    <span class="blue bold">Базовая стоимость</span> столь велика, что под силу только Кащею.
  </p>
  <div class="clearfix" style="padding: 50px 0 15px;">
    <div style="width: 600px; margin:0 auto;">
      <div style="width: 600px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/kaschey.jpg" width="100%" alt="Кащей">
      </div>
    </div>
  </div>
  <p class="blue size-12 center font-verdana line-height-23" style="margin: 0 0 50px;">
    Там царь Кащей над златом чахнет...
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 25px;">
    Что делать? Вам нужно обрести статус <span class="red bold">Persona&nbsp;Grata</span>.
  </p>
  <p class="yellow size-36 font-verdana bold center" style="margin: 120px 0 58px 0; position: relative; line-height: 44px;">
    Преимущества, которыми пользуется<br><span class="red">Persona&nbsp;Grata</span>
  </p>
  <ul class="yellow size-18 font-verdana" style="margin: 0 0 0 40px; line-height: 21px;">
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="red bold">50%</span> скидка от&nbsp;<span class="blue bold">Базовой стоимости</span>. Даётся круглый год.</span></li>
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="red bold">75%</span>&nbsp;– сезонная скидка. Действует до&nbsp;конца сентября.<br><span class="size-12 blue">Чтобы получить эту скидку, вам необходимо позвонить в&nbsp;сентябре, записаться на&nbsp;пробный сеанс в&nbsp;сентябре-октябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span></span></li>
    <!-- <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="red bold">85%</span>&nbsp;– сезонная. Действует до&nbsp;31&nbsp;августа. Даётся особо одарённым и&nbsp;трудолюбивым учащимся (не&nbsp;ниже твёрдой четвёрки по&nbsp;предмету).<br><span class="size-12 red"><span class="bold">Внимание!</span> Информация легко проверяется.</span><br><span class="size-12 blue">Чтобы получить эту скидку, вам необходимо позвонить до&nbsp;конца августа, записаться на&nbsp;пробный сеанс в&nbsp;сентябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span></span></span></li>
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="red bold">85%</span>&nbsp;– для&nbsp;учащихся с&nbsp;проблемами обучения. Действует до&nbsp;31&nbsp;августа.<br><span class="size-12 blue">Чтобы получить эту скидку, вам необходимо позвонить до&nbsp;конца августа, записаться на&nbsp;пробный сеанс в&nbsp;сентябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span></span></span></li> -->
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="blue bold">Бесплатные</span> бонусные занятия.</span></li>
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="blue bold">Бесплатный</span> пробный сеанс.</span></li>
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="blue bold">Беспроцентная</span> рассрочка платежа.</span></li>
    <li style="margin-bottom: 30px;"><span class="dark-blue"><span class="blue bold">Дополнительные</span> скидки при&nbsp;переходе с&nbsp;курса на&nbsp;курс.</span></li>
    <li style="margin-bottom: 30px;"><span class="dark-blue">Шикарные учебники и&nbsp;материалы <span class="blue bold">бесплатно</span>.</span></li>
    <li><span class="dark-blue"><span class="blue bold">Особое</span> отношение с&nbsp;нашей стороны.</span></li>
  </ul>
  <!-- <div class="clearfix" style="padding: 0 0 0; margin-top: -290px;">
    <div style="width: 570px; float: right;">
      <div style="width: 570px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/cat.jpg" width="100%" alt="Кот">
      </div>
    </div>
  </div> -->
  <p class="yellow size-36 font-verdana bold center" style="margin: 120px 0 58px 0; position: relative; line-height: 44px;">
    Первый шаг к обретению статуса<br><span class="red">Persona Grata</span><br>
    <span class="size-24 blue">Сделайте его сейчас!</span>
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 25px;">
    Статус <span class="red bold">Persona Grata</span> получает только тот, кто внимательно ознакомился с&nbsp;материалами сайта: не&nbsp;только с&nbsp;условиями обучения и&nbsp;ценами, но&nbsp;прежде всего со&nbsp;статьями. Этот человек отчётливо представляет, <span class="blue bold">ЧТО</span> мы&nbsp;делаем, <span class="blue bold">ПОЧЕМУ</span> это у&nbsp;нас получается, <span class="blue bold">КАК</span> творится чудо.
  </p>
  <div class="clearfix" style="padding: 50px 0 0;">
    <div style="width: 600px; margin:0 auto;">
      <div style="width: 600px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/reading.jpg" width="100%" alt="Кащей">
      </div>
    </div>
  </div>
  <p class="yellow size-36 font-verdana bold center line-height-23" style="margin: 120px 0 58px 0; position: relative;">
    Почему это нужно делать?
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 25px;">
    <span class="blue bold">Во-первых.</span> О&nbsp;проблемах вашего ребёнка (и&nbsp;ваших собственных!) вы&nbsp;обязаны <span class="blue bold">знать всё</span>.
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 25px;">
    Только ваша <span class="blue bold">полная информированность</span>, активное и&nbsp;осознанное сотрудничество с&nbsp;нами приведёт к&nbsp;<span class="blue bold">блистательному</span> результату.
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 63px 25px;">
    <span class="blue bold">Во-вторых.</span> Это <span class="blue bold">этично</span>. Вы бережёте наше время, силы, нервы. Мы <span class="blue bold">благодарим</span> вас за&nbsp;это огромными скидками.
  </p>
  <p class="blue size-12 bold font-arial line-height-23" style="margin: 0 0 35px 25px;">
    Детям эти статьи читать не нужно.
  </p>
  <p class="dark-blue size-20 font-arial center line-height-23" style="margin: 0 0 35px;">
    Пожалуйста, <span class="blue bold">ИСКРЕННЕ</span> и&nbsp;<span class="blue bold">ЧЕСТНО</span> выберите клавишу и&nbsp;кликните по&nbsp;ней:
  </p>
  <p class="size-30 center" style="line-height: 36px; margin: 0 0 21px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $stati; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="white bold" style="">Да, мы охотно ознакомимся со&nbsp;статьями</span></a></p>
  <p class="size-30 center" style="line-height: 36px; margin: 0 0 50px 0"><a href="http://verovenko.com/volshebnica-yaga" class="b-button _mix-purple-orange normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="white bold" style="">Не&nbsp;хочу&nbsp;– не&nbsp;буду, не&nbsp;буду&nbsp;– не&nbsp;хочу!</span></a></p>
  <div style="height: 558px; padding: 0 0 82px;">
    <div style="width: 539px; height: 558px; margin:0 auto;">
      <div style="width: 539px; height: 542px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" height="100%" alt="Яблоко">
      </div>
    </div>
  </div>
</div>
<div id="img_container"><img src=""></div>
[/raw]

































