[raw]
<div class="div-wrapper_padding" style="width: 500px; height: 700px; z-index: 2; position: relative;">
  <div class="b-volshebnica__content" style="position: fixed; z-index: 2;">
    <p class="font-akrobat size-32 size-72-lg" style="color: #d8492d; margin: 6px 10px 0.313em 60px; line-height: 0.813em;">
      Русский язык<br>
      <span class="font-akrobat size-22 size-48-lg" style="color: #dcbc2b;">с Волшебницей</span>
    </p>
    <p class="font-akrobat size-16 size-32-lg" style="color: #caf4f3; margin: 0 10px 0.250em 60px; line-height: 1.125em;">
      Безупречная<br>
      грамотность!
    </p>
    <p class="font-akrobat size-14 size-28-lg" style="color: #dcbc2b; margin: 0 10px 1.786em 60px; line-height: 1.286em;">
      <a href="http://verovenko.com/volshebnica-vzroslym" style="text-decoration: none; padding: 0.714em 30px 0; margin: 0 -30px; position: relative; display: inline-block;"><span style="border-bottom: 1px solid #dcbc2b; color: #dcbc2b;">Взрослым</span></a><br>
      <a href="http://verovenko.com/volshebnica-shkolnikam" style="text-decoration: none; padding: 0 30px; margin: 0 -30px; position: relative; display: inline-block;"><span style="border-bottom: 1px solid #dcbc2b; color: #dcbc2b;">Старшеклассникам</span></a><br>
      <a href="http://verovenko.com/volshebnica-shkolnikam-ml" style="text-decoration: none; padding: 0 30px; margin: 0 -30px; position: relative; display: inline-block;"><span style="border-bottom: 1px solid #dcbc2b; color: #dcbc2b;">Младшим школьникам</span></a><br>
      <a href="http://verovenko.com/volshebnica-gia-ege-oge" style="text-decoration: none; padding: 0 30px; margin: 0 -30px; position: relative; display: inline-block;"><span style="border-bottom: 1px solid #dcbc2b; color: #dcbc2b;">ГИА, ЕГЭ, ОГЭ</span></a><br/>
      <!-- <a href="http://verovenko.com/volshebnica-disgrafija" style="text-decoration: none; padding: 0 30px 10px; margin: 0 -30px; position: relative; display: inline-block;"><span style="border-bottom: 1px solid #dcbc2b; color: #dcbc2b;">Коррекция дислексии,<br>дисграфии</span></a> -->
    </p>
    <p class="font-akrobat white size-14 size-28-lg center hidden-hint b-volshebnica__button" style="margin: 0 10px 8.571em 60px; opacity: 0;display: inline-block; background-color: #f8a431; color: #dce5e6; padding: 0.429em 3.571em; border-radius: 0.714em;">
      Кликните по ссылке
    </p>
    <p class="font-akrobat size-22 size-36-lg" style="color: #72c9f5; margin: 0 10px 25px 160px; line-height: 1.091em;">
      Люди,<br>
      которые пишут грамотно,<br>
      ОЧАРОВАТЕЛЬНЫ!!!
    </p>
  </div>
</div>
<div style="position: fixed; top: 0; z-index: 1; height: 100%; width: 100%; overflow: hidden; background-color: #0d131f;">
  <div class="b-volshebnica__back" style="position: fixed; top: 0; z-index: 1; width: 100%; left: 0; right: 0; margin: 0 auto; position: fixed;  background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/volshebstvo_luna1.jpg); background-position: center center; background-size: cover;">

  </div>
</div>
[/raw]