[raw]
<div class="div-wrapper" style="box-shadow: none;border: none;width: 1200px;">
  <div class="clearfix-hook" style="margin-top: 30px;">
    <div class="clearfix-hook" style="float: left;width: 450px;">
      <p class="red bold center font-arial" style="font-size: 28px;line-height: 32px;margin: 0 0 60px 0;">
        От скидок отказываешься?!!<br>Садись-ка на лопату да в печь<br>полезай!
      </p>
      <p class="grey size-20 bold center font-arial" style="line-height: 32px;margin: 0 0 40px 0;">
        Выберите вариант ответа:
      </p>
      <p class="blue size-20 bold center font-arial" style="line-height: normal;margin: 0 0 42px 0;">
        1. Старая карга!<br>Ты бы меня сперва<br>напоила-накормила, спать уложила,<br>а потом читать заставляла!<br>
        <a href="http://verovenko.com/volshebnica-otdyh" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue size-16 bold" style="border-bottom: 1px solid #0065ab;">Вам сюда</span></a>
      </p>
      <p class="blue size-22 bold center font-arial" style="line-height: normal;margin: 0 0 50px 0;">
        2. Абсолютно поддерживаю<br>первый вариант ответа!<br>
        <a href="http://verovenko.com/volshebnica-otdyh" class="normal" style="text-decoration: none; color: white; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue size-16 bold" style="border-bottom: 1px solid #0065ab;">Вам сюда</span></a>
      </p>
    </div>
    <div class="clearfix-hook" style="padding: 0; float: right;width: 677px;">
      <div style="margin:0 auto;">
        <div style="">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/yaga.jpg" width="100%" height="100%" alt="Баба-Яга">
        </div>
      </div>
    </div>
  </div>
</div>
[/raw]