[raw]
<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="display: inherit;line-height: 120px;">&#160;ЧУДО БУДЕТ!&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:120px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 120px;">&#160;<span class="b-explode-text" style="opacity: 0">111111111111111ЧУДО БУДЕТ!111111111111111</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; top: 200px;width:100%;height:100%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold" style="font-size:120px; margin: 0 0 0 0; line-height: 150px; display: inline-block;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 120px;">&#160;ВОЛШЕБНИЦА!&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 150px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 120px;">&#160;<span class="b-explode-text" style="opacity: 0">111111111111111ВОЛШЕБНИЦА!111111111111111</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="gold center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="display: inherit;line-height: 120px;">&#160;ВСТРЕЧАЙТЕ!!!&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:120px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">111111111111111ВСТРЕЧАЙТЕ!!!111111111111111</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
[/raw]