<div class="div-wrapper">
  <p class="red font-verdana size-24 bold center" style="margin: 40px 0 7px;">
    Persona Grata
  </p>
  <div style="width: 960px; height: 740px; padding: 36px 0 44px 0;">
    <div style="width: 477px; height: 740px; float: left; margin: 0 0 0 18px;">
      <p class="dark-blue size-14 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> – это наши любимые ученики.<br>
        Доброжелательны, приветливы,  этичны, благодарны, <br>
        чистоплотны, очень точны.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> делает свой выбор <span class="yellow bold">ОСОЗНАННО</span>, поэтому<br>
        основательно и внимательно ознакомилась с материалами<br>
        сайта.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> живо интересуется нашим творчеством и<br>
        трудом и прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это<br>
        получается.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> уважает наш труд, заранее нас любит и хочет<br>
        учиться у нас и только у нас!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> <span class="yellow bold">– ЛИЧНОСТЬ.</span><br>
        Учится потому, что СОВЕРШЕНСТВУЕТ СЕБЯ.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> учится с видимым старанием, рвением,<br>
        усердием, всё делает охотно и хочет ещё!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Рядом с вами приятно быть, вас хочется любить и учить<br>
        хорошо-хорошо...
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
        При таком отношении к миру и жизни всё у вас получится.<br>
        Пусть низок начальный уровень – роскошный конечный<br>
        результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
      </p>
      <p class="blue size-18 bold font-verdana" style="margin: 0 0 0 91px; line-height: 28px;">
        Ведь реальность <span class="normal">–</span> зеркало.<br>
        <span style="margin-left: 80px;">Ваше зеркало.</span>
      </p>
    </div>
    <div style="width: 439px; height: 740px; float: right; margin: 0 26px 0 0;">
      <div class="image-shadow" style="width: 439px; height: 571px; border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="red size-18 font-verdana center" style="margin: 17px 0 0 0;">
        Persona Grata
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="nongrata"></a></p>
  <p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
    Persona non Grata
  </p>
  <div style="padding-top: 33px; height: 360px;">
    <div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin:0 auto;">
      <p>Could`t load video</p>
    </div>
  </div>
  <p class="size-14 font-arial bold center" style="margin: 28px 0 45px 0; color: #4A4A4A;">
    Persona non Grata
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным, пропускать занятия,<br>
    опаздывать, безбожно врать...
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    <span class="blue">Обучение для вас только по базовой стоимости, без скидок.</span><br>
    Впрочем, первый сеанс, скорее всего, окажется и последним.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 44px; line-height: 22px;">
    <span class="blue">Материалы сайта, само собой, вы не читали.</span> Но если вам НЕ ИНТЕРЕСНЫ ни наш виртуозный труд, ни проблемы<br>
    вашего собственного ребёнка, то вы нам НЕ ИНТЕРЕСНЫ тоже.
  </p>
  <p class="blue font-verdana bold center" style="font-size: 20px; margin: 0 0 101px 0; line-height: 25px;">
    Ведь реальность <span class="normal">–</span> зеркало.<br>
    Ваше зеркало.
  </p>
</div>