[raw]
<div class="_js-multi" data-disappear-link="true" style="z-index: 90;position: relative;">
  <div class="div-wrapper_padding size-16" style="width: 75em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black; opacity: 1;">
    <div class="clearfix-hook" style="margin: 1em 0 2em;">
      <div class="clearfix-hook" style="width: 31%;float: left; overflow: hidden; height: 31.7em;">
        <img src="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/verovenko-big.jpg" alt="">
      </div>
      <div class="clearfix-hook" style="width: 64%;float: right;">
        <p class="white center bold font-verdana" style="font-size: 3em;margin: 0 0 0.7em;">
          Веровенко Ольга Олеговна
        </p>
        <ul class="white font-verdana" style="font-size: 1.5em; margin: 0 0 1.6em 1em; line-height: 2.1em;">
          <li class="left">
            <span style="font-size: 1.15em;">Педагог (Почётный работник общего образования России)
            </span>
          </li>
          <li class="left">
            <span style="font-size: 1.15em;">Лингвист, филолог (русский и&nbsp;английский языки)</span>
          </li>
          <li class="left">
            <span style="font-size: 1.15em;">Психолог,
              <span class="bold italic">NL</span>&#8209;психолог, гипнолог, психотерапевт</span>
          </li>
          <li class="left">
            <span style="font-size: 1.15em;">Журналист, телерадиоведущая (член Союза журналистов СССР)</span>
          </li>
          <li class="left">
            <span style="font-size: 1.15em;">Учёный&#8209;нейролингвист (автор 26&nbsp;учебников и&nbsp;монографий)</span>
          </li>
        </ul>
      </div>
    </div>
    <p class="white center font-verdana" style="font-size: 2.2em;margin: 0 auto 2em; line-height: 1.5em; width: 22em;">Является одним из&nbsp;основоположников нейролингвистики
      <span class="normal font-arial">–</span>
      <br>современной науки об&nbsp;усвоении информации человеческим мозгом</p>
    <p class="white center bold font-verdana" style="font-size: 3em;margin: 0 0 1.175em; line-height: 1.5em;">
      Входит в&nbsp;ТОП-10 ведущих нейролингвистов МИРА
    </p>
    <p class="white bold center font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
      Звания и&nbsp;степени
    </p>
    <p class="white bold font-verdana" style="font-size: 1.5em;margin: 0 0 0; line-height: 1.5em;">
      Российские:
    </p>
    <p class="white font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
      Профессор, кандидат филологических наук, доктор психологических наук
    </p>
    <p class="white bold font-verdana" style="font-size: 1.5em;margin: 0 0 0; line-height: 1.5em;">
      Международные:
    </p>
    <p class="white font-verdana" style="font-size: 2.2em;margin: 0 0 1.9em; line-height: 1.5em;">
      Doctor, Grand Doctor, Professor, Full Professor
    </p>
    <p class="white bold center font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
      Образование
    </p>
    <p class="white bold font-verdana" style="font-size: 1.5em;margin: 0 0 0.9em; line-height: 1.5em;">
      Четыре высших образования:
    </p>
    <ul class="white font-verdana" style="font-size: 1.5em; margin: 0 0 1.6em 1em; line-height: 2em;">
      <li class="left">
        <span style="font-size: 1.5em;">МГУ
          <span class="normal">(</span>Москва
          <span class="normal">)</span>
        </span>
      </li>
      <li class="left">
        <span style="font-size: 1.5em;">Университет Цинциннати
          <span class="normal">(</span>США
          <span class="normal">)</span>
        </span>
      </li>
      <li class="left">
        <span style="font-size: 1.5em;">аспирантура, докторантура
          <span class="normal">(</span>Бельгия
          <span class="normal">)</span>
        </span>
      </li>
    </ul>
    <p class="white bold font-verdana" style="font-size: 1.5em;margin: 0 0 0.9em; line-height: 1.5em;">
      Стажировки:
    </p>
    <ul class="white font-verdana" style="font-size: 1.5em; margin: 0 0 2.65em 1em; line-height: 2em;">
      <li class="left">
        <span style="font-size: 1.5em;">США</span>
      </li>
      <li class="left">
        <span style="font-size: 1.5em;">Франция (дважды)</span>
      </li>
    </ul>
    <p class="white bold center font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
      Изобретения
    </p>
    <p class="white bold font-verdana" style="font-size: 1.5em;margin: 0 0 0.9em; line-height: 1.5em;">
      Создала уникальные технологии
      <span class="italic bold">NL</span>-обучения:
    </p>
    <ul class="white font-verdana" style="font-size: 1.5em; margin: 0 0 2em 1em; line-height: 2em;">
      <li class="left">
        <span class="tag" style="font-size: 1.5em;">Чудо&nbsp;будет!</span>
      </li>
      <li class="left">
        <span class="tag" style="font-size: 1.5em;">Врождённая&nbsp;грамотность</span>
      </li>
      <li class="left">
        <span class="tag" style="font-size: 1.5em;">Вертикальный&nbsp;взлёт</span>
      </li>
      <li class="left">
        <span class="tag" style="font-size: 1.5em;">Дислексия, брысь!</span>
      </li>
    </ul>
    <p class="white center bold font-verdana" style="font-size: 1.75em;margin: 0 0 2.9em; line-height: 1.5em;">
      Эти технологии запатентованы как изобретения в&nbsp;России и&nbsp;за&nbsp;рубежом.
      <br> В&nbsp;области нейролингвистики эти изобретения первые
      <br> и&nbsp;пока единственные в&nbsp;мире.
      <br> Международная экспертиза PCT подтвердила: лучшего в&nbsp;мире нет!
    </p>
    <p class="white bold center font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
      Практическая деятельность
    </p>
    <ul class="white font-verdana" style="font-size: 1.5em; margin: 0 0 2.65em 1em; line-height: 2em;">
      <li class="left">
        <span style="font-size: 1.5em;">Декан факультета педагогики и&nbsp;психологии Международной докторантуры
          <span class="normal">(</span>Бельгия, Брюссель
          <span class="normal">)</span>
        </span>
      </li>
      <li class="left">
        <span style="font-size: 1.5em;">Руководитель авторской
          <span class="italic bold">NL</span>‑студии, практикующий специалист
          <span class="normal">(</span>Россия, Москва
          <span class="normal">)</span>
        </span>
      </li>
    </ul>
    <p class="white center bold font-verdana" style="font-size: 2.2em;margin: 0 0 0.925em; line-height: 1.5em;">
      Спорт:
    </p>
    <p class="white center font-verdana" style="font-size: 2.2em;margin: 0 0 1.9em; line-height: 1.5em;">
      Альпинизм, яхтинг, сёрфинг
    </p>
    <p class="white center bold font-verdana" style="font-size: 2.2em;margin: 0 0 0.925em; line-height: 1.5em;">
      Увлечения:
    </p>
    <p class="white center font-verdana" style="font-size: 2.2em;margin: 0 0 1.675em; line-height: 1.5em;">
      Дружить с&nbsp;людьми, играть с&nbsp;детьми, выращивать цветы
    </p>
    <p class="white center bold font-verdana" style="font-size: 3em;margin: 0 0 2.5em; line-height: 1.5em;">
      Именем Ольги Веровенко названа звезда в&nbsp;созвездии Кассиопеи
    </p>
    <p class="center" style="font-size: 3em;margin: 0 0 0.1em 0">
      <a class="_js-multi-next" data-next-multi-id="3" href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_zvezda; [/exec]"
        class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 1em; margin: 0 1em 0;">
        <span class="gold bold" style="border-bottom: 1px solid #ffe57f;">Смотреть далее</span>
      </a>
    </p>
    <p class="gold normal center font-verdana" style="font-size: 0.8em;margin: 0 0 20em;line-height: normal">
      Кликните, пожалуйста, по&nbsp;ссылке!
    </p>
  </div>
  <div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/scene.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<!-- <div class="_js-multi" data-disappear="true" data-disappear-delay="1" style="z-index: 80;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 61.25em; z-index: 11; position: relative;">
    <div class="white font-verdana" style="margin: 0 auto;text-shadow: 2px 2px 3px black;">
      <p class="white" style="width:50%;font-size: 1.25em;line-height: 1.5em;margin: 1.75em 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Любимые слова Ольги Веровенко:</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 1.85em;line-height: 1.75em;margin: 0.5em 0 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Ты говоришь:
            <span class="tag">Как высока та гора!</span>
          </span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Нет. Это ты стоишь низко.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Сделай шаг. Видишь, гора стала ниже?</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Шаг. И ещё шаг...</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Из цепочки шагов сложится</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Самый Блистательный Маршрут.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Пойдём вместе?</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-video-name="volshebnica/ray" data-video-id="video-ray" data-video-start="0.01" data-video-start-delay="10"
    style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div> -->
<div class="_js-multi" style="z-index: 60;position: fixed; width: 100%;">
  <div class="white size-16 clearfix _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro.'?target=zastavka'; [/exec]" data-redirect-delay="8" style="position: relative;z-index: 12;">
    <p class="bold center" style="font-size:2.5em;margin: 1em 0.5em 0.3em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Звезда Ольга Веровенко в&nbsp;созвездии Кассиопеи</span>
    </p>
  </div>
  <div class="div-wrapper_padding size-16" style="width: 61.25em; z-index: 11; position: relative;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <!-- <p class="bold font-verdana center" style="font-size: 2em;margin: 0.2em 0 3em; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Звезда Ольга Веровенко<br>в созвездии Кассиопеи</span></a>
      </p> -->
      <p class="bold font-verdana center" style="font-size: 1.5em;margin: 6em 15em 0 0; line-height: normal;text-shadow: 2px 2px 3px black;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
        <!-- <span style="display: block;margin: 0 0 0 1em;">X</span><br> -->
        <img class="lazy-ignore" src="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/star1.png" style="display: block;margin: 0 auto 1em;width: 70px;"
        />
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro.'?target=zastavka'; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          Magnitude 10.3
          <br> &beta;
          <span class="normal">=</span> +62&deg; 04&prime; 23&Prime;
          <span style="margin-left: -0.333em;">.</span>0
          <br> &alpha;
          <span class="normal">=</span> 00
          <sup>h</sup> 10
          <sup>m</sup> 18
          <sup>s</sup>
          <span style="margin-left: -0.333em;">.</span>51
        </a>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-video-name="slider-chudo/star" data-video-id="video-star" data-video-start="0.01" data-video-start-delay="10"
    style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/star.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]