[raw]
<div class="b-volshebnica__wrap-full-screen-video" style="position: fixed; top: 0; z-index: 5; height: 100%; width: 100%; left: 0; right: 0; margin: 0 auto;background-color: black; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/harts.jpg);background-size: cover; background-position: center;">
  <!-- <video class="b-volshebnica__full-screen-video" video autobuffer loop autoplay>
    <source id="mp4" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/harts.mp4" type="video/mp4">
  </video> -->
  <div class="b-volshebnica__score" style="display:table;width:100%;height:100%;z-index: 9;position: relative;">
    <div style="display:table-cell;vertical-align:middle;">
      <div style="margin-left:auto;margin-right:auto; text-align: center; color: #00a6da;">3</div>
    </div>
  </div>
</div>
<div class="_js-link" data-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_vibor; [/exec]" style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/scene.jpg);background-size: cover; background-position: center; position: fixed;">
      </div>
      <div class="next" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 2; opacity: 0; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; ">
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 1; z-index: 9999">
      <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate _image-anim" style="position: absolute; z-index: 3; top: 20px;width:90%;height:100%; left: 5%; margin: 0; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="width: 420px; float: left; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 420px; height: 610px;box-shadow: 2px 2px 3px black;">
                  <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/verovenko-big.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="yellow center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Профессор&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Ольга Олеговна&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 120px;">&#160;Веровенко&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Профессор</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Ольга Олеговна</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Веровенко</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="yellow center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;Входит в ТОП-10&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;лучших <span class="italic">NL</span>-специалистов&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size:120px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 120px;">&#160;МИРА&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Входит в ТОП-10</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">лучших <span class="italic">NL</span>-специалистов</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">мира</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; top: 200px;width:100%;height:100%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Создала методы&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 49px;">&#160;уникально эффективного обучения:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;font-size:60px;">&#160;<span class="tag">Чудо будет!</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;font-size:60px;">&#160;<span class="tag">Врождённая грамотность</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;font-size:60px;">&#160;<span class="tag">Вертикальный взлёт</span>&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Создала методы</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">уникально эффективного обучения:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Чудо будет!</span></span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Врождённая грамотность</span></span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Вертикальный взлёт</span></span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Эти методы в 15‑20 раз&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;эффективнее, быстрее, легче&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;традиционного обучения&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Эти методы в 15‑20 раз</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">эффективнее, быстрее, легче</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">традиционного обучения</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 2px 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Вы достигнете желаемого&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size: 72px;margin: 0 0 12px 0;white-space: nowrap; display: inline-block;"><span class="animate-desc  anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 82px;">&#160;в 15-20 раз&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;быстрее, легче, проще&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style="border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Вы достигаете желаемого</span>&#160;</span></span></span><br>
                <span class="left" style="font-size: 72px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 82px;">&#160;<span class="b-explode-text" style="opacity: 0">в 15-20 раз</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">быстрее, легче, проще</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Методы запатентованы&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;как изобретения&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;в России и за рубежом&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Метод запатентован как изобрение</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">в России и за рубежом</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _image-anim _bottom-left" style="position: absolute; z-index: 3; top: 80px;width:90%;height:100%; left: 5%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div class="clearfix" style="position: relative;margin-left: auto;margin-right: auto; width: 650px;">
              <div style="float: left; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 300px;box-shadow: 2px 2px 3px black;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1-big.jpg" height="100%" width="100%" alt="Патент">
                </div>
              </div>
              <div style="float: right; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 300px;box-shadow: 2px 2px 3px black;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2-big.jpg" height="100%" width="100%" alt="Патент">
                </div>
              </div>
            </div>
            <p class="white size-18 font-arial bold center" style="margin: 16px 0 0 0; line-height: 21px;">
              Российский и международный патенты на изобретения.
            </p>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Международная&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;экспертиза РСТ&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 69px;">&#160;подтвердила:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size:100px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="background-color: rgba(64,45,42,0); border-radius: 30px; display: inherit;line-height: 100px;">&#160;ЛУЧШЕГО В МИРЕ НЕТ!&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Международная экспертиза РСТ</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">подтвердила:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">ЛУЧШЕГО В МИРЕ НЕТ!</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Три Знака Качества&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Госстандарта РФ с категорией&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size:100px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-zero-delay bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="display: inherit;line-height: 110px;">&#160;КАЧЕСТВО&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size:100px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="display: inherit;line-height: 110px;">&#160;НАИВЫСШЕЕ&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Международная</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">экспертиза РСТ</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">подтвердила:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">ЛУЧШЕГО В МИРЕ НЕТ!</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _image-anim _bottom-right" style="position: absolute; z-index: 3; top: 80px;width:90%;height:100%; left: 5%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div class="clearfix" style="position: relative;margin-left: auto;margin-right: auto; width: 1050px;">
              <div style="width: 660px; float: left; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 660px; height: 450px;box-shadow: 2px 2px 3px black;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1-big.jpg" height="100%" alt="Сертификат">
                </div>
              </div>
              <div style="width: 330px; float: right; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 330px; height: 450px;box-shadow: 2px 2px 3px black;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2-big.jpg" height="100%" alt="Сертификат">
                </div>
              </div>
            </div>
            <p class="white size-18 font-arial bold center" style="margin: 16px 0 0 0; line-height: 21px;">
              Знак Качества, Сертификат и Акт экспертизы<br>
              Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
            </p>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Именем Ольги Веровенко&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;названа звезда&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;в созвездии Кассиопеи&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Именем Ольги Веровенко</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">названа звезда</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">в созвездии Кассиопеи</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _image-anim _top-right" style="position: absolute; z-index: 3; top: 20px;width:90%;height:100%; left: 5%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="width: 450px; float: right; margin: 0 0 0 0;">
                <p class="white size-18 font-arial bold center" style="margin: 0 0 21px 0; line-height: 21px;">
                  Звезда Ольга Веровенко<br>
                  в созвездии Кассиопеи
                </p>
                <div class="image-shadow-0" style="width: 450px; height: 565px;box-shadow: 2px 2px 3px black;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/star-big.jpg" width="100%" height="100%" alt="Звезда Ольга Веровенко в созвездии Кассиопеи">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Педагог.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Почётный работник&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;общего образования России&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Педагог.</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Почётный работник</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">общего образования России</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 64px 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Учёный-нейролингвист&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Автор 26 учебников и монографий&#160;</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;Журналист, телерадиоведущая&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 64px 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Учёный-нейролингвист</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Автор 26 учебников и монографий</span>&#160;</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Журналист, телерадиоведущая</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 50px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 37px 0; line-height: 48px; display: block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Звания и степени:&#160;</span></span></span>
              </p><br>
              <p class="white left font-verdana bold " style="font-size:40px; margin: 0 0 80px 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="font-size: 30px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 39px;">&#160;Международные:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 30px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal font-arial">–</span> Doctor, Grand Doctor,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 30px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal font-arial">–</span> Professor, Full Professor&#160;</span></span></span>
              </p><br>
              <p class="white left font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="font-size: 30px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 39px;">&#160;Российские:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 30px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal font-arial">–</span> доктор наук,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 30px;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal font-arial">–</span> профессор&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 37px 0; line-height: 48px; display: block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Звания и степени</span>&#160;</span></span></span>
              </p>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 80px 0; line-height: 48px; display: inline-block;">
                <span class="left" style="font-size:30px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 39px;">&#160;<span class="b-explode-text" style="opacity: 0">Международные:</span>&#160;</span></span></span>
              </p><br>
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Звания и степени</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Четыре высших образования:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;МГУ <span class="normal">(</span>Москва<span class="normal">)</span>,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;университет Цинциннати <span class="normal">(</span>США<span class="normal">)</span>,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;аспирантура, докторантура <span class="normal">(</span>Бельгия<span class="normal">)</span>&#160;</span></span></span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Стажировки: США, Франция&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Четыре высших образования:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">МГУ (Москва),</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">университет Цинциннати (США),</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">аспирантура, докторантура (Бельгия)</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Стажировки: США, Франция</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Декан факультета педагогики&#160;</span></span></span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;и психологии&#160;</span></span></span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Международной докторантуры&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal">(</span>Бельгия<span class="normal">)</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Практикующий педагог&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Руководитель авторской школы‑студии&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal">(</span>Россия<span class="normal">)</span>&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Декан факультета педагогики</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">и психологии,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Международной докторантуры</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">(Бельгия).</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Практикующий педагог</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Руководитель авторской школы‑студии</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">(Россия)</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 49px; font-size: 40px;">&#160;Увлечения:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;дружить с людьми, играть с детьми,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;выращивать цветы&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:60px; margin: 0 0 0 0; line-height: 68px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">Увлечения:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">дружить с людьми, играть с детьми,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">выращивать цветы</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _toggle-back" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 20px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana" style="font-size:30px; margin: 0 0 0 0; line-height: 49px; display: inline-block;">
                <span class="animate-desc-parent left size-22" style="margin: 0 0 0 -800px;white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style=" display: inherit;line-height: 49px;">&#160;Любимые слова Ольги Веровенко:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Ты говоришь: <span class="tag">Как высока та гора!</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Нет. Это ты стоишь низко.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Сделай шаг. Видишь, гора стала ниже?&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Шаг. И ещё шаг...&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Из цепочки шагов сложится&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Самый Блистательный Маршрут.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size: 70px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="display: inherit;line-height: 79px;">&#160;Пойдём вместе?&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.animate-desc {
  text-shadow: 2px 2px 3px black;
}
</style>
[/raw]