[raw]
<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/scene.jpg);background-size: cover; background-position: center; position: fixed;"></div>
      </div>
      <div class="next" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 2; opacity: 0;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0; z-index: 9999">
      <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0; position: absolute;height: 100%;width: 100%;top: 0;">
      <div class="description active animate _image-anim" style="position: absolute; z-index: 3; top: 20px;width:90%;height:100%; left: 5%; margin: 0; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="width: 420px; float: left; margin: 0 0 0 0;">
                <div class="image-shadow-0" style="width: 420px; height: 610px;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/verovenko-big.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
                </div>
                <p class="white size-18 font-arial bold center" style="margin: 16px 0 0 0; line-height: 21px;">
                  Профессор<br>
                  Ольга Олеговна Веровенко
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; margin: 0; top: 200px;width:100%;height:100%;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="yellow center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6); border-radius: 30px; display: inherit;line-height: 49px;">&#160;Входит в ТОП-10&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6); border-radius: 30px; display: inherit;line-height: 49px;">&#160;лучших <span class="italic">NL</span>-специалистов&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6); border-radius: 30px; display: inherit;line-height: 49px;">&#160;мира&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Входит в ТОП-10</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">лучших <span class="italic">NL</span>-специалистов</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">мира</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; top: 200px;width:100%;height:100%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold" style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Создала уникальные методы&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6); border-radius: 30px; display: inherit;line-height: 49px;">&#160;эффективной коррекции&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6); border-radius: 30px; display: inherit;line-height: 49px;">&#160;дислексии, дисграфии:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="tag">Волшебный сеанс</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="tag">Чудо будет!</span>&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Создала уникальные методы</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">эффективной коррекции</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">дислексии, дисграфии:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Волшебный сеанс</span></span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="size-48 bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Чудо будет!</span></span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;До этого в мире не существовало&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;гарантированно эффективных&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;методов лечения&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;этих заболеваний&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">До этого в мире не существовало</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">гарантированно эффективных</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">методов лечения</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">этих заболеваний  </span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:50px; margin: 0 0 0 0; line-height: 58px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 59px;">&#160;Теперь они есть!&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:50px; margin: 0 0 0 0; line-height: 58px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 59px;">&#160;<span class="b-explode-text" style="opacity: 0">Теперь они есть!</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="tag">Волшебный сеанс</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;избавляет от дислексии&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="font-size:60px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 69px;">&#160;за один день&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Волшебный сеанс</span></span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">подтвердила:</span>&#160;</span></span></span><br>
                <span class="left" style="font-size:60px;margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 69px;">&#160;<span class="b-explode-text" style="opacity: 0">за один день</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="tag">Чудо будет!</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;избавляет от целого комплекса проблем&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;за 4-12 сеансов&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="tag">Чудо будет!</span></span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">избавляет от целого комплекса проблем</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">за 4-12 сеансов</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Всё это происходит&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;с одновременным обучением &#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;русскому языку, чтению, речи,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;безупречной грамотности&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Всё это происходит</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">с одновременным обучением </span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">русскому языку, чтению, речи,</span>&#160;</span></span></span>
                <br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">безупречной грамотности</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Международная экспертиза РСТ&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;подтвердила:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;ЛУЧШЕГО В МИРЕ НЕТ!&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Международная экспертиза РСТ</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 60px 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">подтвердила:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">ЛУЧШЕГО В МИРЕ НЕТ!</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Именем Ольги Веровенко&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;названа звезда&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;в созвездии Кассиопеи&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Именем Ольги Веровенко</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">названа звезда</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">в созвездии Кассиопеи</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _image-anim _top-left" style="position: absolute; z-index: 3; top: 20px;width:90%;height:100%; left: 5%; margin: 0;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%; opacity: 0;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <div style="width: 450px; float: right; margin: 0 0 0 0;">
                <p class="white size-18 font-arial bold center" style="margin: 0 0 21px 0; line-height: 21px;">
                  Звезда Ольга Веровенко<br>
                  в созвездии Кассиопеи
                </p>
                <div class="image-shadow-0" style="width: 450px; height: 565px;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/star-big.jpg" width="100%" height="100%" alt="Звезда Ольга Веровенко в созвездии Кассиопеи">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Звания и степени:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Grand Doctor, Full Professor,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;доктор наук, профессор&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Звания и степени:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Grand Doctor, Full Professor,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">доктор наук, профессор</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Учёный-нейропсихолог, лингвист.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Автор 26 учебников&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;и монографий&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Учёный-нейропсихолог, лингвист.</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Автор 26 учебников</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">и монографий</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Психотерапевт, гипнолог,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="italic">NL</span>-психолог&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Психотерапевт, гипнолог,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0"><span class="italic">NL</span>-психолог</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Педагог.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Почётный работник&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;общего образования России&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Педагог.</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Почётный работник</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">общего образования России</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Четыре высших образования:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;МГУ <span class="normal">(</span>Москва<span class="normal">)</span>,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;университет Цинциннати <span class="normal">(</span>США<span class="normal">)</span>,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;аспирантура, докторантура-Бельгия.&#160;</span></span></span>
                <br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Все защиты по сумме собственных трудов.&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Четыре высших образования:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">МГУ <span class="normal">(</span>Москва<span class="normal">)</span>,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">университет Цинциннати <span class="normal">(</span>США<span class="normal">)</span>,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">аспирантура, докторантура-Бельгия.</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Все защиты по сумме собственных трудов.</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Стажировки: США, Франция&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Стажировки: США, Франция</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Практикующий нейролингвист.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Руководитель авторской <span class="italic">NL</span>‑студии&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal">(</span>Россия<span class="normal">)</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Декан факультета&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;педагогики и психологии&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Международной докторантуры &#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="normal">(</span>Бельгия<span class="normal">)</span>.&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Практикующий нейролингвист.</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Руководитель авторской <span class="italic">NL</span>‑студии</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">(Россия)</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Декан факультета</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0"> педагогики и психологии,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Международной докторантуры</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">(Бельгия).</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Спорт:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;альпинизм, яхтинг, сёрфинг&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Спорт:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">альпинизм, яхтинг, сёрфинг</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Увлечения:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;дружить с людьми, играть с детьми,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;выращивать цветы&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Увлечения:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">дружить с людьми, играть с детьми,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">выращивать цветы</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 200px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;color: #ffe57f;">
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;Волшебный Дар:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;молниеносно обучать,&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;лечить и гармонизировать&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(64,45,42,0.6);  border-radius: 30px; display: inherit;line-height: 49px;">&#160;жизнь людей&#160;</span></span></span>
              </p>
            </div>
            <div style="position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana bold " style="font-size:40px; margin: 0 0 0 0; line-height: 48px; display: inline-block;">
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">Волшебный Дар:</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">молниеносно обучать,</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">лечить и гармонизировать</span>&#160;</span></span></span><br>
                <span class="left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="bold" style="margin: 0 0 0 0;white-space: nowrap;display: inline-block;"><span style=" border-radius: 30px; display: inherit;line-height: 49px;">&#160;<span class="b-explode-text" style="opacity: 0">жизнь людей</span>&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="description _toggle-back" style="position: absolute; z-index: 3; width:100%;height:100%;  margin: 0; top: 100px;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <div style="position: relative;margin-left: auto;margin-right: auto;">
              <p class="white center font-verdana" style="font-size:30px; margin: 0 0 0 0; line-height: 49px; display: inline-block;">
                <span class="animate-desc-parent left size-22" style="margin: 0 0 24px -600px;white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style=" display: inherit;line-height: 49px;">&#160;Любимые слова Ольги Веровенко:&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Ты говоришь: <span class="tag">Как высока та гора!</span>&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Нет. Это ты стоишь низко.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Сделай шаг. Видишь, гора стала ниже?&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Шаг. И ещё шаг...&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Из цепочки шагов сложится&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Самый Блистательный Маршрут.&#160;</span></span></span><br>
                <span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc bold" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="display: inherit;line-height: 49px;">&#160;Пойдём вместе?&#160;</span></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
[/raw]