[raw]
<div class="div-wrapper" style="box-shadow: none;border: none;width: 980px;">
  <div class="clearfix-hook" style="margin: 30px 0 35px;">
    <div class="clearfix-hook" style="float: left;">
      <img style="height: 220px;" src="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/food.jpg" height="220" alt="Баба-Яга">
      <p class="grey size-18 center font-verdana" style="line-height: normal;margin: 14px 0 0;">
        Откушать
      </p>
    </div>
    <div class="clearfix-hook" style="float: left; margin: 0 23px;">
      <img style="height: 220px;" src="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/banya.jpg" height="220" alt="Баба-Яга">
      <p class="grey size-18 center font-verdana" style="line-height: normal;margin: 14px 0 0;">
        Попариться
      </p>
    </div>
    <div class="clearfix-hook" style="float: right;">
      <img style="height: 220px;" src="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/bed.jpg" height="220" alt="Баба-Яга">
      <p class="grey size-18 center font-verdana" style="line-height: normal;margin: 14px 0 0;">
        Баиньки
      </p>
    </div>
  </div>
  <p class="red size-26 center font-verdana" style="line-height: 33px;margin: 0 0 22px 0;">
    А теперь-то твоя душенька довольна?<br>
    Читать будешь?
  </p>
  <p class="grey size-18 center font-verdana" style="line-height: normal;margin: 0 0 20px 0;">
    Выберите вариант ответа:
  </p>
  <p class="blue size-26 center font-verdana" style="line-height: normal;margin: 0 0 30px 0;">
    1. <a href="//verovenko.ru/usloviya-pered-statyami" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue" style="border-bottom: 1px solid #0065ab;">Ладно, уговорила...</span></a>
  </p>
  <p class="blue size-26 center font-verdana" style="line-height: normal;margin: 0 0 42px 0;">
    2. <a href="//verovenko.com/volshebnica-posledniy-vibor" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue" style="border-bottom: 1px solid #0065ab;">Отстань!</span></a>
  </p>
</div>
[/raw]