[raw]
<div class="div-wrapper_padding" id="parallax" style="width: 500px; z-index: 10; position: relative;">
  <p class="red bold center size-24 bold font-verdana" style="margin: 10px 0 30px; line-height: 30px;">
    Мои дорогие, здравствуйте!
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 0 70px; line-height: 34px;">
    Я&nbsp;– <span class="light-blue">НЕ</span>&nbsp;&nbsp;репетитор.<br>
    <span class="light-blue" style="margin-left: 68px;">НЕ</span>&nbsp;&nbsp;педагог.<br>
    <span class="light-blue" style="margin-left: 83px;">НЕ</span>&nbsp;&nbsp;психолог.<br>
    <span class="light-blue" style="margin-left: 98px;">НЕ</span>&nbsp;&nbsp;доктор наук.<br>
    <span class="light-blue" style="margin-left: 113px;">НЕ</span>&nbsp;&nbsp;профессор.
  </p>
  <p class="red size-20 bold font-verdana center" style="margin: 0 0 30px; line-height: 30px;">
    (Хотя все эти дипломы у&nbsp;меня есть)
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    Я&nbsp;– Волшебница. Самая настоящая. Неужели Вы в&nbsp;самом деле думаете, что нас, волшебников, нет?!!
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 22px;">
    Так вот. Я&nbsp;– ЕСТЬ!
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    Поэтому откиньте страхи, сомнения и&nbsp;предэкзаменационный трепет.
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    У&nbsp;меня есть Волшебная палочка, перевитая голубым и&nbsp;белым.<br>
    Я&nbsp;прикасаюсь её золотым кончиком к&nbsp;Вашей голове и&nbsp;– ГОТОВО! Всё, что надо&nbsp;– безупречная грамотность, русский, английский, сочинения, изложения, <span class="light-blue">ГИА, ЕГЭ, ОГЭ</span>&nbsp;– уже там!
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    А&nbsp;что&nbsp;же мы делаем с&nbsp;Вами в&nbsp;оставшееся время?
  </p>
  <div class="clearfix" style="padding: 0 0 0 0;">
    <div style="margin: 0 0 0 10px;">
      <ul class="grey size-20 font-verdana" style="margin: 0px 10px 30px 45px; line-height: 30px;">
        <li style="margin-bottom: 15px;"><span class="blue">Пьём чай с&nbsp;конфетами.</span></li>
        <li style="margin-bottom: 15px;"><span class="blue">Играем в&nbsp;мяч. Вы будете команда&nbsp;– и&nbsp;я&nbsp;команда. Чья команда победит, та и&nbsp;получит приз!</span></li>
        <li style="margin-bottom: 15px;"><span class="blue">Потом ещё играем в&nbsp;другие игры. Тоже на&nbsp;приз. И&nbsp;все призы&nbsp;– волшебные!</span></li>
        <li style="margin-bottom: 15px;"><span class="blue">Потом кушаем суши. Или пиццу. Как захочется.</span></li>
        <li style="margin-bottom: 15px;"><span class="blue">Рисуем. Клеим картинки.</span></li>
        <li style="margin-bottom: 15px;"><span class="blue">Кормим с&nbsp;руки диких птиц.</span></li>
        <li style="margin-bottom: 15px;"><span class="blue">Смотрим на&nbsp;мою звезду в&nbsp;небе.</span></li>
        <li><span class="blue">Смеёмся!</span></li>
      </ul>
    </div>
  </div>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    И&nbsp;вот так проходят все три часа. Ведь здесь у&nbsp;меня школа волшебников!
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    Вам надо только загадать желание.
  </p>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    Чур, уговор! За&nbsp;один сеанс&nbsp;– лишь одно желание. Например:
  </p>
  <ul class="grey size-20 font-verdana" style="margin: 0px 10px 30px 45px; line-height: 30px;">
    <li style="margin-bottom: 15px;"><span class="blue">Хочется русский, безупречную грамотность?&nbsp;– Запросто!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Чтобы запятые, двоеточия и&nbsp;тире сами прыгали на&nbsp;место?&nbsp;– С&nbsp;удовольствием!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Писать грамотно слова?&nbsp;– Сделаем!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Углублённое изучение русского языка?&nbsp;– Что может быть проще!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Написать красиво сочинение, изложение, рассуждение, эссе?&nbsp;– А&nbsp;то!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Блистательно поставить английскую грамматику?&nbsp;– <span class="italic">No&nbsp;problem!</span></span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Красивый почерк?&nbsp;– Пожалуйста!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Повысить выносливость, работоспособность?&nbsp;– Обязательно!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Стать внимательнее, собраннее?&nbsp;– Ещё&nbsp;бы!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">ГИА, ЕГЭ, ОГЭ&#8209;комплекс?&nbsp;– Будет исполнено!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">ГИА, ЕГЭ, ОГЭ&#8209;экспресс?&nbsp;– Нет проблем!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Пошаговую вдумчивую подготовку?&nbsp;– Мудрое решение!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Обзорные занятия по&nbsp;выбранным темам?&nbsp;– Легче лёгкого!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Снять всякие страхи?&nbsp;– А&nbsp;мы их прогоним!</span></li>
    <li style="margin-bottom: 15px;"><span class="blue">Сделать всё это быстро, срочно, немедленно?&nbsp;– Быстрее молнии!</span></li>
    <li><span class="blue">ВЫСШИЙ БАЛЛ?&nbsp;– Чики&#8209;чик, готово!</span></li>
  </ul>
  <p class="blue size-24 bold font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    Правда&nbsp;ли&nbsp;то, что я&nbsp;обещаю? Конечно. Потому что в&nbsp;мудрой пословице говорится: <span class="tag">Кто хвалится&nbsp;– тот с&nbsp;горы свалится!</span> А&nbsp;я&nbsp;мастер спорта по&nbsp;альпинизму. Раз ещё не&nbsp;свалилась&nbsp;– значит, говорю правду!
  </p>
  <p class="blue size-24 bold center font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    Хочется чуда? Берём!
  </p>
  <p class="blue size-24 bold center font-verdana" style="margin: 10px 10px 30px; line-height: 30px;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_volshebnica; [/exec]" style="text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red" style="border-bottom: 1px solid black;">ЧУДО&nbsp;БУДЕТ!</span></a><br>
    <span class="size-14 normal">Перейдите, пожалуйста, по ссылке</span>
  </p>
</div>
<div style="position: absolute; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/sky.jpg); background-size: cover; top: 0; z-index: 1; height: 100%; width: 100%; padding-bottom: 150px; overflow: hidden;" id="content1" data-stellar-background-ratio="0.3">
  <div style="position: absolute; top: 0; z-index: 1; height: 100%; width: 1200px; left: 0; right: 0; margin: 0 auto;" id="content2">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 100px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 0px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 200px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 100px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 200px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 400px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 300px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 500px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 400px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 500px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 700px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 600px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 800px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 700px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 800px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1000px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 900px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1100px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1000px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1100px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1300px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1200px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1400px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1300px; left: 1000px;">

    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 0px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 100px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 0px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 200px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 400px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 300px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 500px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 400px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 600px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 800px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 700px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 900px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 800px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1000px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1200px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1100px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1300px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1200px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1400px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1600px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1500px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1700px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1600px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1800px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 2000px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1900px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 2100px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 2000px; left: 900px;">
  </div>
</div>
[/raw]