[raw]
<div style="z-index: 2; position: relative;">
  <div class="blue size-18 bold font-verdana center" style="margin: 20px auto; line-height: 29px;">
    <p class="red size-30 center" style="margin: 0 0 25px; line-height: 40px;">
      Русский язык<br>с&nbsp;Волшебницей
    </p>
    <p class="size-30 center" style="margin: 0 0 25px">
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_vzr; [/exec]" style="text-decoration: none; padding: 10px 30px; margin: 0 -30px; position: relative; display: inline-block;"><span class="blue" style="border-bottom: 1px solid black;">Взрослым</span></a><br>
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_starsh; [/exec]" style="text-decoration: none; padding: 10px 30px; margin: 0 -30px; position: relative; display: inline-block;"><span class="blue" style="border-bottom: 1px solid black;">Старшеклассникам</span></a><br>
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_ml; [/exec]" style="text-decoration: none; padding: 10px 30px; margin: 0 -30px; position: relative; display: inline-block;"><span class="blue" style="border-bottom: 1px solid black;">Младшим школьникам</span></a><br>
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_gia; [/exec]" style="text-decoration: none; padding: 10px 30px; margin: 0 -30px; position: relative; display: inline-block;"><span class="blue" style="border-bottom: 1px solid black;">ГИА, ЕГЭ, ОГЭ</span></a><br>
      <!-- <a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_disgr; [/exec]" style="text-decoration: none; padding: 10px 30px; margin: 0 -30px; position: relative; display: inline-block;"><span class="blue" style="border-bottom: 1px solid black;">Коррекция<br><span class="size-24">дислексии, дисграфии,<br><span class="tag">школьного</span> невроза</span></span></a> -->
    </p>
    <p class="red size-12 bold center" style="margin: 0 0 25px;">
      Перейдите, пожалуйста, по&nbsp;ссылке!
    </p>
    <p class="blue size-30 center" style="margin: 0 0 25px; line-height: 40px;">
      Люди,<br>
      которые пишут грамотно,<br>
      ОЧАРОВАТЕЛЬНЫ!!!
    </p>
  </div>
</div>
<div style="position: absolute; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/sky.jpg); background-size: cover; top: 0; z-index: 1; height: 100%; width: 100%; overflow: hidden;" id="parallax2" class="has-images" data-parallax-background-ratio="0.3">
  <div style="position: absolute; top: 0; z-index: 1; height: 100%; width: 1200px; left: 0; right: 0; margin: 0 auto;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 100px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 0px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 200px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 100px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 200px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 400px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 300px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 500px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 400px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 500px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 700px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 600px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 800px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 700px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 800px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1000px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 900px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1100px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1000px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1100px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1300px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1200px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1400px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1300px; left: 1000px;">

    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 0px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 100px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 0px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 200px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 400px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 300px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 500px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 400px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 600px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 800px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 700px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 900px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 800px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1000px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1200px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1100px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1300px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1200px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1400px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1600px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1500px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1700px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1600px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1800px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 2000px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-green.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 1900px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-red.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 2100px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/balloon-blue.png" data-parallax-ratio="1.3" alt="" style="opacity: 0.3; height: 70px; width: 70px; position:absolute;
    top: 2000px; left: 900px;">
  </div>
</div>
[/raw]