[raw]
<div class="_js-link" data-link="//verovenko.com/volshebnica-posledniy-vibor-2"
  style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
  <div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
    <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
      <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-otdyh/food.jpg);background-size: cover; background-position: center;"></div>
      </div>
      <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-otdyh/sauna.jpg);background-size: cover;"></div>
      </div>
      <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-otdyh/bed.jpg);background-size: cover;"></div>
      </div>
      <div class="animation-opacity _imidiate-next _no-scale" data-scale-position="1.02" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-otdyh/bed.jpg);background-size: cover;"></div>
      </div>
    </div>
    <div class="buttons-slider" style="opacity: 0;">
      <span class="button-slider active">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
      <span class="button-slider">•</span>
    </div>
    <div style="margin: 0 0 0 0;">
      <div class="description active animate" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden; margin: 0; opacity: 1;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <p class="white font-verdana bold center" style="font-size:80px; line-height: 90px; margin: 0 0 50px 0;">
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc" style="line-height: 90px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Покушать...&#160;</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="description" data-delay-click="1" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <p class="white font-verdana bold center" style="font-size:80px; line-height: 90px; margin: 0 0 50px 0;">
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc" style="line-height: 90px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Попариться...&#160;</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="description" data-delay-click="1" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <p class="white font-verdana bold center" style="font-size:80px; line-height: 90px; margin: 0 0 50px 0;">
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc" style="line-height: 90px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Баиньки...&#160;</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="description" data-delay-click="600000" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
        <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
          <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
            <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 50px 0;">
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc anim-fadein anime-imidiate" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;А теперь-то твоя&#160;</span>
              </span>
              <br>
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc anim-fadein anime-imidiate" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;душенька довольна?&#160;</span>
              </span>
              <br>
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc anim-fadein anime-imidiate" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Смотреть будешь?&#160;</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="font-size:40px; line-height: 70px; margin: 0 0 0 0;">
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc anim-fadein anime-imidiate" style="line-height: 60px;display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">1.
                <a href="//verovenko.com/volshebnica-posledniy-vibor-2" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;">
                  <span class="white bold" style="border-bottom: 2px solid white;">Отвали!</span>
                </a></span>
              </span>
              <br>
              <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                <span class="animate-desc anim-fadein anime-imidiate" style="line-height: 60px;display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">2.
                <a href="//verovenko.com/volshebnica-posledniy-vibor-2" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;">
                  <span class="white bold" style="border-bottom: 2px solid white;">Отстань!</span>
                </a></span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="position: absolute;width: 100%;">
  <div class="_js-choice _js-scale-font-size white size-16" data-active-module="_js-choice" style="position: relative;z-index: 11; opacity: 0; display: none;">
    <p class="bold" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Olga Verovenko</span>
      </a>
    </p>
  </div>
  <div style="position: relative; float: right; right: 50%">
    <div style="position: relative; float: left; left: 50%;">
      <div class="div-wrapper_padding size-16 _js-choice _js-scale-font-size" style="width: 70em; z-index: 11; position: relative;margin: 4.5em auto 0;overflow: unset; opacity: 0; display: none;">
        <div class="white font-verdana" style="margin: 0;width: 50%;float: left;">
          <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Тесты-игры</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Играйте, наслаждайтесь,</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">обучайтесь!!!</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Английский язык</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Вертикальный взлёт</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Взрослым, школьникам, ГИА, ЕГЭ, ОГЭ</span>
            </a>
          </p>
        </div>
        <div class="white font-verdana" style="margin: 0;width: 50%;float: right;">
          <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span class="tag" style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Чудо будет!</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Игровой курс</span>
            </a>
          </p>
          <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">для детей и&nbsp;родителей</span>
            </a>
          </p>
          <div style="margin-left: 4em;">
            <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
              <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
                <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Стоимость, скидки</span>
              </a>
            </p>
            <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
              <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
                <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Врождённая грамотность</span>
              </a>
            </p>
            <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
              <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
                <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Информация, телефон</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="b-video-back _js-choice" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth"
        style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10; opacity: 0; display: none;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth.jpg);background-size: cover; background-position: center; position: fixed;"></div>
        <div class="white center size-16 _js-ignore-z-index" style="position: absolute;z-index: 9999; bottom: 3em; left: 3em;">
          <p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span class="" style="font-size: 1.5em; border-bottom: 1px solid white;">&copy; "Король Казимир"</span>
            </a>
            <br>
            <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span>Нейролингвистические сайты Premium</span>
            </a>
            <br>
            <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
              <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Вам сюда</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
[/raw]