[raw]
<div class="white size-16 clearfix _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_vibor; [/exec]" data-redirect-delay="8" style="position: relative;z-index: 12;">
  <p class="bold center" style="font-size:2.5em;margin: 1em 0.5em 0.3em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Звезда Ольга Веровенко в&nbsp;созвездии Кассиопеи</span>
    </a>
  </p>
</div>
<div class="div-wrapper_padding size-16" style="width: 61.25em; z-index: 11; position: relative;">
  <div class="white font-verdana" style="margin: 0 auto;">
    <!-- <p class="bold font-verdana center" style="font-size: 2em;margin: 0.2em 0 3em; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Звезда Ольга Веровенко<br>в созвездии Кассиопеи</span></a>
    </p> -->
    <p class="bold font-verdana center" style="font-size: 1.5em;margin: 6em 15em 0 0; line-height: normal;text-shadow: 2px 2px 3px black;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <!-- <span style="display: block;margin: 0 0 0 1em;">X</span><br> -->
      <img class="lazy-ignore" src="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/star1.png" style="display: block;margin: 0 auto 1em;width: 70px;"
      />
      <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        Magnitude 10.3
        <br> &beta;
        <span class="normal">=</span> +62&deg; 04&prime; 23&Prime;
        <span style="margin-left: -0.333em;">.</span>0
        <br> &alpha;
        <span class="normal">=</span> 00
        <sup>h</sup> 10
        <sup>m</sup> 18
        <sup>s</sup>
        <span style="margin-left: -0.333em;">.</span>51
      </a>
    </p>
  </div>
</div>
<div class="b-video-back" data-video-name="slider-chudo/star" data-video-id="video-star" data-video-start="0.01" data-video-start-delay="10"
  style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/star.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]