<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
  <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
    <div class="animation__result _next" data-video-id="video-shooter" data-video-name="all-tests/shooter"  style="z-index: 9001; opacity: 1; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; display: none;"><div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/all-tests/shooter.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/1.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/6.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/8.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
  </div>
  <div class="buttons-slider" style="opacity: 0; z-index: 0;">
    <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
  </div>
  <div class="score" style="position: absolute; z-index: 9000; top: 30px; right: 30px; overflow: hidden; margin: 0; opacity: 1;">
    <div style="float: left; position: relative;">
      <p class="white font-verdana size-18" style="margin: 16px 13px 0 0;">Ваш счёт</p>
    </div>
    <div style="float: right; width: 122px; height: 102px; position: relative;">
      <div style="width: 102px; height: 122px; transform: rotate(90deg) translate(-10px, -10px);">
      <svg version="1.1" style="fill: white; position: absolute; width: 102px; height: 122px;top: 0; right: 0; bottom: 0; left: 0; margin: auto;z-index: 10;" xmlns="http://www.w3.org/2000/svg" data-original-aspect-ratio="0.8404908056820426"><g transform="translate(-18.51840591430664,-7.352762222290039)"><path d="M108.711668 7.852762H30.306752c-3.926381 0,-11.288345 2.331289,-11.288345 11.288345v70.552155c0 3.926381,2.331289 11.288345,11.288345 11.288345h4.785277c0 0,0 0,0 0h4.907976l4.417178 24.417181l0.368098 0.368098c0.245399 0.245399,2.08589 2.08589,4.785277 2.08589c1.595092 0,3.190184 -0.736196,4.539878 -2.08589l16.073621 -24.785279h38.404912c3.926381 0,11.288345 -2.331289,11.288345 -11.288345V19.141106C119.877314 15.214726,117.546025 7.852762,108.711668 7.852762zM116.809829 89.693261c0 7.852762,-7.361964 8.22086,-8.22086 8.22086H68.711664l-0.490798 0.613497c-0.122699 0.122699,-0.245399 0.245399,-0.245399 0.368098l-16.196321 24.907978c-0.736196 0.736196,-1.472393 0.981595,-2.208589 0.981595c-0.981595 0,-1.840491 -0.490798,-2.331289 -0.858896l-4.17178 -22.822088h9.938651c0.858896 0,1.595092 -0.736196,1.595092 -1.595092s-0.736196 -1.595092,-1.595092 -1.595092h-10.552148l0 0h-12.26994c-7.852762 0,-8.22086 -7.361964,-8.22086 -8.22086V19.141106c0 -7.852762,7.361964 -8.22086,8.22086 -8.22086h78.404917c7.852762 0,8.22086 7.361964,8.22086 8.22086V89.693261z"></path></g></svg></div>
      <div class="current-score center" style="position: absolute; top: 4px; right: 0; width: 94px;z-index: 1;-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
      <div class="new-score center" style="position: absolute; top: 4px; right: 0; width: 94px; opacity: 1;z-index: 3; -webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;transform: rotateX(90deg) skew(25deg, 0deg);"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
    </div>
  </div>
  <div class="main-description" style="margin: 0 0 0 0;text-shadow: 2px 2px 3px black;">
    <div class="answer" style="position: absolute; z-index: 1; top: 230px; width: 100%; height: 100%; overflow: hidden; margin: 0; opacity: 1;">
      <div class="right-answer" style="position: absolute; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:170px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ОТЛИЧНО!</span></p>
      </div></div>
      <div class="wrong-answer" style="position: relative; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:130px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НЕПРАВИЛЬНО</span></p>
      </div></div>
    </div>
    <div class="description description__result" style="position: absolute; z-index: 9001; top: 0; height: 100%; width: 100%; overflow: hidden; margin: 0; opacity: 0; display: none;">
      <div class="center size-16 _js-ignore-z-index _js-king" style="opacity: 0;color:black;position: absolute;z-index: 9999; bottom: 3em; left: 3em;"><p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;"><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="" style="font-size: 1.5em; border-bottom: 1px solid black;">&copy; "Король Казимир"</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span>Нейролингвистические сайты Premium</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid black;">Вам сюда</span></a></p></div>
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-arial size-48 bold" style="margin: 0 auto; color: black;text-shadow: 2px 2px 3px black;"><p class="center" style="line-height: 72px; margin: 0 0 40px 0;">Ваш результат: <span class="span__result" style="font-size: 60px;">8</span> из <span class="span__attemts" style="font-size: 60px;">8</span><br><span class="span__phrase">Блестяще!</span></p><p class="center font-verdana size-30" style="white-space: nowrap; margin: 0 0 0 0; line-height: 72px;"><a href="[exec] include get_template_directory().'/links.php'; echo $english_test; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Повторить этот тест ещё раз</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Пройти другой тест</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal _js-prev-url" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Вернуться на сайт</span></a></p></div></div></div></div>
    <div class="description active animate" style="position: absolute; z-index: 4; opacity: 1; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="white font-arial size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 35px; margin: 50px 800px 0 0">Тест<br>на знание<br>английского</p></div>
        <div class="" style="margin: 0 auto; display: inline-block;">
          <p class="white left font-verdana size-20 bold" style="margin: 330px 0 0 0;">My dear Watson, try a little analysis <span class="normal" style="">____.</span></p>
          <p class="white left font-verdana size-16" style="margin: 19px 0 0 0;">Мой дорогой Ватсон, пытайтесь немного анализировать сами.</p>
          <p class="white left font-verdana size-18 active-item" style="margin: 14px 0 0 0;"><a href="#" class="normal active true" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Yourself</span></a> <a href="#" class="normal active" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 0 0 0; cursor: pointer;"><span class="white">2. Themselves</span></a></p>
        </div></div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Conan Doyle<br><span class="tag">Sherlock Holmes</span></p></div>
      <div style="width: 1053px; height: 404px; padding: 47px 0 3px 0; margin: 0 auto;">
        <div style="width: 345px; height: 404px; float: left; padding-right: 0px">
          <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;"><span class="tag">Shall we turn back?</span></p>
          <p class="white left font-verdana size-20 bold" style="margin: 18px 0 0 0;"><span class="tag">No, by thunder! Come <span class="normal">___</span>!</span></p>
          <p class="white left font-verdana size-16" style="margin: 21px 0 0 0; line-height: 19px;">– Мы вернёмся назад?<br>– Нет, чёрт побери! Вперёд!</p>
          <p class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 0; line-height: 44px;"><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. On</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Off</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. Ничего не надо вставлять</span></a></p>
        </div>
        <div style="width: 688px; height: 404px; float: right; margin: 1px; position: relative; border: 1px solid white;">
          <div class="image-shadow-0" style="width: 647px; height: 363px; margin: 20px;">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/2.jpg" width="647" height="363" alt="Шерлок Холмс и Доктор Ватсон">
          </div>
        </div>
      </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Conan Doyle<br><span class="tag">Sherlock Holmes</span></p></div>
      <div style="width: 1053px; height: 341px; padding: 47px 0 3px 0; margin: 0 auto;">
        <div style="width: 470px; height: 341px; float: right; padding-right: 0px; margin: 0 0 0 0;">
          <p class="white left font-verdana size-20 bold" style="margin: 33px 0 0 0; line-height: 25px;">She has the face <span class="normal">____</span> most beautiful of<br>women and the mind <span class="normal">____</span> most resolute<br>of men.</p>
          <p class="white left font-verdana size-16" style="margin: 23px 0 0 0; line-height: 19px;">У неё лицо наипрекраснейшей из женщин и ум<br>решительнейшего из мужчин.</p>
          <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Of</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. The</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. Of the</span></a></p>
        </div>
        <div style="width: 541px; height: 341px; float: left; margin: 1px; position: relative; border: 1px solid white;">
          <div class="image-shadow-0" style="width: 500px; height: 300px; margin: 20px;">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/3.gif" width="500" height="300" alt="Шерлок Холмс и Доктор Ватсон">
          </div>
        </div>
      </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By H. G. Wells<br><span class="tag">The War of the Worlds</span></p></div>
      <div style="width: 1125px; height: 500px; padding: 47px 0 3px 0; margin: 0 auto;">
        <div style="width: 468px; height: 500px; float: left; padding-right: 0px; margin: 0 0 0 0;">
          <p class="white left font-verdana size-20 bold" style="margin: 50px 0 0 0; line-height: 25px;"><span class="tag">Ulla, ulla, ulla, ulla,</span> wailed that <span class="normal">___</span><br>superhuman note...</p>
          <p class="white left font-verdana size-16" style="margin: 23px 0 0 0; line-height: 19px;"><span class="tag">Улла, улла, улла, улла</span>, – раздавался этот<br>невыносимый для человеческого уха звук.</p>
          <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. A</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. The</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. Ничего не надо вставлять</span></a></p>
        </div>
        <div style="width: 652px; height: 500px; float: right; margin: 1px; position: relative; border: 1px solid white;">
          <div class="image-shadow-0" style="width: 611px; height: 459px; margin: 20px;">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/4.jpg" width="611" height="459" alt="Война миров">
          </div>
        </div>
      </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 0; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <div style="width: 940px; height: 645px; padding: 47px 0 3px 0; margin: 0 auto;">
        <div style="width: 430px; height: 645px; float: right; padding-right: 0px; margin: 0 0 0 0;">
          <p class="center font-verdana size-30 bold" style="line-height: 37px; margin: 21px 0 0 0; color: #FFCC00;">By Lewis Carroll<br><span class="tag">Alice in Wonderland</span></p>
          <p class="white left font-verdana size-20 bold" style="margin: 179px 0 0 0; line-height: 25px;">But do cats <span class="normal">___</span> bats, I wonder?</p>
          <p class="white left font-verdana size-16" style="margin: 23px 0 0 0; line-height: 19px;">Интересно, кушают кошки летучих мышек?</p>
          <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 180px; line-height: 44px;"><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. eat</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. eats</span></a></p>
        </div>
        <div style="width: 462px; height: 644px; float: left; margin: 1px; position: relative; border: 1px solid white;">
          <div class="image-shadow-0" style="width: 421px; height: 604px; margin: 20px;">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/5.jpg" width="421" height="604" alt="Алиса в Стране Чудес">
          </div>
        </div>
      </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 0; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div style="width: 1386px; height: 644px; padding: 47px 0 3px 0; margin: 0 auto;">
          <div style="width: 490px; height: 644px; float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 60px 0 0 0; line-height: 25px;">Would you like cats<br>if you were <span class="normal">___</span>?</p>
            <p class="white left font-verdana size-16" style="margin: 23px 0 0 0; line-height: 19px;">А ты бы любила кошек на моём месте?</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 30px; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white bold">1. I</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white bold">2. me</span></a></p>
          </div>
          <div style="width: 461px; height: 644px; float: left; margin: 0 0 0 0; position: relative;">
            <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;"><span style="background-color: rgba(0, 0, 0, 0.6); border-radius: 15px;">By Lewis Carroll</span><br><span class="tag" style="background-color: rgba(0, 0, 0, 0.6); border-radius: 15px;">Alice in Wonderland</span></p></div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Lewis Carroll<br><span class="tag">Alice in Wonderland</span></p></div>
        <div style="width: 1170px; height: 466px; padding: 47px 0 3px 0; margin: 0 auto;">
          <div style="width: 500px; height: 466px; float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 21px 0 0 0; line-height: 25px;">I am older than you, and must know <span class="normal">_____</span>.</p>
            <p class="white left font-verdana size-16" style="margin: 23px 0 0 0; line-height: 19px;">Я старше тебя, значит, я лучше знаю.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 180px; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. more good</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. the best</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. better</span></a></p>
          </div>
          <div style="width: 640px; height: 466px; float: right; margin: 0; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 600px; height: 426px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/7.jpg" width="600" height="426" alt="Алиса в Стране Чудес">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Robert Stevenson<br><span class="tag">Treasure Island</span></p></div>
        <div style="width: 1000px; height: 466px; padding: 270px 0 3px 0; margin: 0 auto;">
          <div style="width: 1000px; height: 466px; float: left; padding-right: 0px; margin: 0 0 0 0;">
            <div style="float: left; background-color: rgba(2,2,2,0.7); border-radius: 25px;">
              <div style="margin: 0 20px;">
                <p class="white left font-verdana size-20 bold" style="margin: 21px 0 0 0; line-height: 25px;"><span class="tag">You have heard of this Flint, I suppose.</span></p>
                <p class="white left font-verdana size-20 bold" style="margin: 21px 0 0 0; line-height: 25px;"><span class="tag">Heard of him!</span> cried the squire. <span class="tag">Heard of him, you say!<br>He <span class="normal">____</span> the buccaneer. Blackbeard <span class="normal">____</span> a child to Flint.</span></p>
                <p class="white left font-verdana size-14" style="margin: 20px 0 0 0; line-height: 19px;">– Вы слышали об этом Флинте, я полагаю?</p>
                <p class="white left font-verdana size-14" style="margin: 15px 0 0 0; line-height: 17px;">– Слышал ли я о нём! – воскликнул сквайр. – Слышал ли я о нём, вы спрашиваете! Он был<br>пиратом. Чёрная Борода был ребёнком по сравнению с Флинтом.</p>
                <p class="white left font-verdana size-18 active-item" style="margin: 21px 0 0 250px; line-height: 44px;"><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Was</span></a> <a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px ; margin: 0 0 0 0; cursor: pointer;"><span class="white">2. Were</span></a></p>
              </div>
            </div>
          </div>
        </div>
    </div></div></div>
  </div>
</div>
</div>