<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
  <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
    <div class="animation__result _next" data-video-id="video-shooter" data-video-name="all-tests/shooter"  style="z-index: 9001; opacity: 1; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; display: none;"><div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/all-tests/shooter.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; opacity: 1;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/11.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/13.jpg);background-size: cover; background-position: 50% 0%;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
  </div>
  <div class="buttons-slider" style="opacity: 0; z-index: 0;">
    <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
  </div>
  <div class="score" style="position: absolute; z-index: 9000; top: 30px; right: 30px; overflow: hidden; margin: 0; opacity: 1;">
    <div style="float: left; position: relative;">
      <p class="white font-verdana size-18" style="margin: 16px 13px 0 0;">Ваш счёт</p>
    </div>
    <div style="float: right; width: 122px; height: 102px; position: relative;">
      <div style="width: 102px; height: 122px; transform: rotate(90deg) translate(-10px, -10px);">
      <svg version="1.1" style="fill: white; position: absolute; width: 102px; height: 122px;top: 0; right: 0; bottom: 0; left: 0; margin: auto;z-index: 10;" xmlns="http://www.w3.org/2000/svg" data-original-aspect-ratio="0.8404908056820426"><g transform="translate(-18.51840591430664,-7.352762222290039)"><path d="M108.711668 7.852762H30.306752c-3.926381 0,-11.288345 2.331289,-11.288345 11.288345v70.552155c0 3.926381,2.331289 11.288345,11.288345 11.288345h4.785277c0 0,0 0,0 0h4.907976l4.417178 24.417181l0.368098 0.368098c0.245399 0.245399,2.08589 2.08589,4.785277 2.08589c1.595092 0,3.190184 -0.736196,4.539878 -2.08589l16.073621 -24.785279h38.404912c3.926381 0,11.288345 -2.331289,11.288345 -11.288345V19.141106C119.877314 15.214726,117.546025 7.852762,108.711668 7.852762zM116.809829 89.693261c0 7.852762,-7.361964 8.22086,-8.22086 8.22086H68.711664l-0.490798 0.613497c-0.122699 0.122699,-0.245399 0.245399,-0.245399 0.368098l-16.196321 24.907978c-0.736196 0.736196,-1.472393 0.981595,-2.208589 0.981595c-0.981595 0,-1.840491 -0.490798,-2.331289 -0.858896l-4.17178 -22.822088h9.938651c0.858896 0,1.595092 -0.736196,1.595092 -1.595092s-0.736196 -1.595092,-1.595092 -1.595092h-10.552148l0 0h-12.26994c-7.852762 0,-8.22086 -7.361964,-8.22086 -8.22086V19.141106c0 -7.852762,7.361964 -8.22086,8.22086 -8.22086h78.404917c7.852762 0,8.22086 7.361964,8.22086 8.22086V89.693261z"></path></g></svg></div>
      <div class="current-score center" style="position: absolute; top: 4px; right: 0; width: 94px;z-index: 1;-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
      <div class="new-score center" style="position: absolute; top: 4px; right: 0; width: 94px; opacity: 1;z-index: 3; -webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;transform: rotateX(90deg) skew(25deg, 0deg);"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
    </div>
  </div>
  <div class="main-description" style="margin: 0 0 0 0;text-shadow: 2px 2px 3px black;">
    <div class="answer" style="position: absolute; z-index: 1; top: 230px; width: 100%; height: 100%; overflow: hidden; margin: 0; opacity: 1;">
      <div class="right-answer" style="position: absolute; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:170px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ОТЛИЧНО!</span></p>
      </div></div>
      <div class="wrong-answer" style="position: relative; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:130px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НЕПРАВИЛЬНО</span></p>
      </div></div>
    </div>
    <div class="description description__result" style="position: absolute; z-index: 9001; top: 0; height: 100%; width: 100%; overflow: hidden; margin: 0; opacity: 0; display: none;">
      <div class="center size-16 _js-ignore-z-index _js-king" style="opacity: 0;color:black;position: absolute;z-index: 9999; bottom: 3em; left: 3em;"><p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;"><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="" style="font-size: 1.5em; border-bottom: 1px solid black;">&copy; "Король Казимир"</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span>Нейролингвистические сайты Premium</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid black;">Вам сюда</span></a></p></div>
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-arial size-48 bold" style="margin: 0 auto; color: black;text-shadow: 2px 2px 3px black;"><p class="center" style="line-height: 72px; margin: 0 0 40px 0;">Ваш результат: <span class="span__result" style="font-size: 60px;">8</span> из <span class="span__attemts" style="font-size: 60px;">8</span><br><span class="span__phrase">Блестяще!</span></p><p class="center font-verdana size-30" style="white-space: nowrap; margin: 0 0 0 0; line-height: 72px;"><a href="[exec] include get_template_directory().'/links.php'; echo $english_test2; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Повторить этот тест ещё раз</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Пройти другой тест</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal _js-prev-url" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Вернуться на сайт</span></a></p></div></div></div></div>
    <div class="description active animate" style="position: absolute; z-index: 4; opacity: 1; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div style="width: 663px; height: 425px; margin: 0 auto; position: relative; border: 1px solid white;">
          <div class="image-shadow-0" style="width: 622px; height: 385px; margin: 20px;">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/9.jpg" width="622" height="385" alt="Остров сокровищ">
          </div>
        </div>
        <div style="padding: 0px 0 3px 0; margin: 0 auto;">
          <div class="left" style="padding-right: 0px; margin: 0 0 0 0;">
            <p class="white font-verdana size-18 bold" style="margin: 38px 0 0 0; line-height: 23px;">Then, <span class="normal">___</span> a pistol in either hand, I addressed him. <span class="tag">One more step, Mr. Hands</span>, said I,<br><span class="tag">and I'll blow your brains out! Dead men don't bite, you know</span>, I added.</p>
            <p class="white font-verdana size-14" style="margin: 20px 0 0 0; line-height: 19px;">Потом, с пистолетом в каждой руке, я обратился к нему. <span class="tag">Ещё один шаг, мистер Хэндс, – сказал я, – и я вышибу вам<br>мозги! Мёртвые не кусаются, как вы знаете</span>.</p>
            <p class="white font-verdana size-18 center active-item" style="margin: 21px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px; margin: 0 60px 0 -30px; cursor: pointer;"><span class="white">1. Which</span></a><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px ; margin: 0 60px 0 0; cursor: pointer;"><span class="white">2. With</span></a><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px ; margin: 0 0 0 0; cursor: pointer;"><span class="white">3. Wish</span></a></p>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Robert Stevenson<br><span class="tag">Treasure Island</span></p></div>
        <div style="width: 874px; height: 410px; padding: 78px 0 3px 0; margin: 0 auto;">
          <div style="width: 430px; height: 410px; float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 0 0 0 0; line-height: 25px;">Fifteen <span class="normal">___</span> on the dead man's chest</p>
            <p class="white left font-verdana size-20 bold" style="margin: 21px 0 0 0; line-height: 25px;">Yo-ho-ho, and a bottle of rum!</p>
            <p class="white left font-verdana size-14" style="margin: 41px 0 0 0; line-height: 19px;">Пятнадцать человек на сундук мертвеца</p>
            <p class="white left font-verdana size-14" style="margin: 14px 0 0 0; line-height: 19px;">Йо-хо-хо, и бутылка рому!</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Man</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Mans</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. Men</span></a></p>
          </div>
          <div style="width: 378px; height: 410px; float: right; margin: 0 0 0 0; position: relative;">
            <div class="image-shadow-0" style="width: 378px; height: 410px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/10.jpg" width="378" height="410" alt="Остров сокровищ">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 19px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div style="width: 836px; padding: 0 0 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="center font-verdana size-30 bold" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Ian Fleming<br><span class="tag">Diamonds are Forever</span></p>
            <p class="white left font-verdana size-20 bold" style="margin: 184px 0 0 0; line-height: 25px;"><span class="tag">Tell me something, Felix</span>, said Bond.<br><span class="tag">Who are you working <span class="normal">__</span> these days?<br>Still the CIA?</span></p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">– Скажи мне кое-что, Феликс, – сказал Бонд. – На кого ты<br>сейчас работаешь? Всё ещё на ЦРУ?</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Off</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Of</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. For</span></a></p>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Ian Fleming<br><span class="tag">Diamonds are Forever</span></p></div>
        <div style="width: 950px; height: 414px; padding: 30px 0 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 81px 0 0 0; line-height: 25px;">Bond felt that<br>
            he was <span class="normal">____</span> watched.</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">Бонд чувствовал, что за ним следят.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Ничего не надо вставлять</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Been</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. Being</span></a></p>
          </div>
          <div style="width: 614px; float: right; margin: 0 0 0 0; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 573px; height: 374px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/12.jpg" width="573" height="374" alt="Diamonds are Forever">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 23px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Agatha Christie<br><span class="tag">Sparkling cyanide</span></p></div>
        <div style="width: 960px; height: 466px; padding: 61px 0 3px 0; margin: 0 auto;">
          <div style="width: 370px; float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 0 0 0 0; line-height: 25px;">What damned silly things <span class="normal">___</span><br>said when <span class="normal">___</span> was in love!</p>
            <p class="white left font-verdana size-18" style="margin: 21px 0 0 0; line-height: 23px;">Какие чертовски глупые вещи<br>говоришь, когда влюблён!</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 21px 0 0 133px; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. You</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px ; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. They</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. One</span></a></p>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Agatha Christie<br><span class="tag">Sparkling cyanide</span></p></div>
        <div style="width: 1003px; height: 348px; padding: 65px 0 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 81px 0 0 0; line-height: 25px;">George Barton died of cyanid<br>poisoning <span class="normal">– ____</span> thing as his<br>wife a year ago.</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">Джордж Бартон умер от отравления цианидом –<br>точно так же, как его жена год назад.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Some</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Same</span></a></p>
          </div>
          <div style="float: right; margin: 0 0 0 0; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 584px; height: 328px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/14.jpg" width="584" height="328" alt="Агата Кристи">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div style="width: 938px; height: 610px; padding: 0 150px 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="center font-verdana size-30 bold" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Ernest Hemingway<br><span class="tag">The Snow of Kilimanjaro</span></p>
            <p class="white left font-verdana size-20 bold" style="margin: 77px 0 0 0; line-height: 25px;"><span class="tag">You <span class="normal">___</span> talk to me like that again,<br>will you? Promise me?</span></p>
            <p class="white left font-verdana size-20 bold" style="margin: 23px 0 0 0; line-height: 25px;"><span class="tag">No</span>, he said. <span class="tag">I don't remember<br>what I said. I love you really. You<br>know I love you.</span></p>
            <p class="white left font-verdana size-16" style="margin: 46px 0 0 0; line-height: 20px;">– Не говори мне больше подобных вещей,<br>ладно? Обещаешь?</p>
            <p class="white left font-verdana size-16" style="margin: 18px 0 0 0; line-height: 20px;">– Нет, – ответил он. – Я не помню, что я<br>говорил. Я действительно тебя люблю. Ты<br>знаешь – я люблю тебя.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. Won't</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Want</span></a></p>
          </div>
          <div style="width: 420px; height: 609px; float: right; margin: 1px; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 379px; height: 569px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/15.jpg" width="379" height="569" alt="Снега Килиманджаро">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Jerome K. Jerome<br><span class="tag">Three Men in a Boat <span class="size-24">(to Say Nothing of the Dog)</span></span></p></div>
        <div style="width: 1140px; height: 469px; padding: 30px 0 3px 0; margin: 0 auto;">
          <div style="float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-18 bold" style="margin: 45px 0 0 0; line-height: 23px;">Give us a hand here, can't you, you cuckoo;<br>standing there like a mummy, when you see we<br>are <span class="normal">____</span> being suffocated, you dummy!</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">Дай же нам руку, ты, придурок; стоишь здесь, как мумия, когда<br>видишь, что мы оба задыхаемся, болван!</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active true" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. both</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. bath</span></a></p>
          </div>
          <div style="float: left; margin: 0 0 0 0; position: relative; border: 1px solid white; width: 608px;">
            <div class="image-shadow-0" style="width: 567px; height: 428px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/16.jpg" width="567" height="428" alt="Трое в лодке">
            </div>
          </div>
        </div>
    </div></div></div>
  </div>
</div>
</div>