<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
  <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
    <div class="animation__result _next" data-video-id="video-shooter" data-video-name="all-tests/shooter"  style="z-index: 9001; opacity: 1; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; display: none;"><div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/all-tests/shooter.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; opacity: 1;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/20.jpg);background-size: cover; background-position: 50% 0%;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
  </div>
  <div class="buttons-slider" style="opacity: 0; z-index: 0;">
    <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
  </div>
  <div class="score" style="position: absolute; z-index: 9000; top: 30px; right: 30px; overflow: hidden; margin: 0; opacity: 1;">
    <div style="float: left; position: relative;">
      <p class="white font-verdana size-18" style="margin: 16px 13px 0 0;">Ваш счёт</p>
    </div>
    <div style="float: right; width: 122px; height: 102px; position: relative;">
      <div style="width: 102px; height: 122px; transform: rotate(90deg) translate(-10px, -10px);">
      <svg version="1.1" style="fill: white; position: absolute; width: 102px; height: 122px;top: 0; right: 0; bottom: 0; left: 0; margin: auto;z-index: 10;" xmlns="http://www.w3.org/2000/svg" data-original-aspect-ratio="0.8404908056820426"><g transform="translate(-18.51840591430664,-7.352762222290039)"><path d="M108.711668 7.852762H30.306752c-3.926381 0,-11.288345 2.331289,-11.288345 11.288345v70.552155c0 3.926381,2.331289 11.288345,11.288345 11.288345h4.785277c0 0,0 0,0 0h4.907976l4.417178 24.417181l0.368098 0.368098c0.245399 0.245399,2.08589 2.08589,4.785277 2.08589c1.595092 0,3.190184 -0.736196,4.539878 -2.08589l16.073621 -24.785279h38.404912c3.926381 0,11.288345 -2.331289,11.288345 -11.288345V19.141106C119.877314 15.214726,117.546025 7.852762,108.711668 7.852762zM116.809829 89.693261c0 7.852762,-7.361964 8.22086,-8.22086 8.22086H68.711664l-0.490798 0.613497c-0.122699 0.122699,-0.245399 0.245399,-0.245399 0.368098l-16.196321 24.907978c-0.736196 0.736196,-1.472393 0.981595,-2.208589 0.981595c-0.981595 0,-1.840491 -0.490798,-2.331289 -0.858896l-4.17178 -22.822088h9.938651c0.858896 0,1.595092 -0.736196,1.595092 -1.595092s-0.736196 -1.595092,-1.595092 -1.595092h-10.552148l0 0h-12.26994c-7.852762 0,-8.22086 -7.361964,-8.22086 -8.22086V19.141106c0 -7.852762,7.361964 -8.22086,8.22086 -8.22086h78.404917c7.852762 0,8.22086 7.361964,8.22086 8.22086V89.693261z"></path></g></svg></div>
      <div class="current-score center" style="position: absolute; top: 4px; right: 0; width: 94px;z-index: 1;-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
      <div class="new-score center" style="position: absolute; top: 4px; right: 0; width: 94px; opacity: 1;z-index: 3; -webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;transform: rotateX(90deg) skew(25deg, 0deg);"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
    </div>
  </div>
  <div class="main-description" style="margin: 0 0 0 0;text-shadow: 2px 2px 3px black;">
    <div class="answer" style="position: absolute; z-index: 1; top: 230px; width: 100%; height: 100%; overflow: hidden; margin: 0; opacity: 1;">
      <div class="right-answer" style="position: absolute; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:170px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ОТЛИЧНО!</span></p>
      </div></div>
      <div class="wrong-answer" style="position: relative; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:130px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НЕПРАВИЛЬНО</span></p>
      </div></div>
    </div>
    <div class="description description__result" style="position: absolute; z-index: 9001; top: 0; height: 100%; width: 100%; overflow: hidden; margin: 0; opacity: 0; display: none;">
      <div class="center size-16 _js-ignore-z-index _js-king" style="opacity: 0;color:black;position: absolute;z-index: 9999; bottom: 3em; left: 3em;"><p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;"><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="" style="font-size: 1.5em; border-bottom: 1px solid black;">&copy; "Король Казимир"</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span>Нейролингвистические сайты Premium</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid black;">Вам сюда</span></a></p></div>
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-arial size-48 bold" style="margin: 0 auto; color: black;text-shadow: 2px 2px 3px black;"><p class="center" style="line-height: 72px; margin: 0 0 40px 0;">Ваш результат: <span class="span__result" style="font-size: 60px;">8</span> из <span class="span__attemts" style="font-size: 60px;">8</span><br><span class="span__phrase">Блестяще!</span></p><p class="center font-verdana size-30" style="white-space: nowrap; margin: 0 0 0 0; line-height: 72px;"><a href="[exec] include get_template_directory().'/links.php'; echo $english_test3; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Повторить этот тест ещё раз</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Пройти другой тест</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal _js-prev-url" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Вернуться на сайт</span></a></p></div></div></div></div>
    <div class="description active animate" style="position: absolute; z-index: 4; opacity: 1; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Jerome K. Jerome<br><span class="tag">Three Men in a Boat <span class="size-24">(to Say Nothing of the Dog)</span></span></p></div>
        <div style="width: 1140px; height: 465px; padding: 40px 0 3px 0; margin: 0 auto;">
          <div style="float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-18 bold" style="margin: 55px 0 0 0; line-height: 23px;">They asked if it was a meeting;<br>or, if not, who was being <span class="normal">______</span>, and why?</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">Спрашивали, не митинг ли это, а если нет, то кого убивают и за<br>что?</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. murder</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. murdered</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. murdering</span></a></p>
          </div>
          <div style="float: left; margin: 0 0 0 0; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 582px; height: 424px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/17.jpg" width="582" height="424" alt="Трое в лодке">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Jack London<br><span class="tag">Stories</span></p></div>
        <div style="width: 1130px; height: 480px; padding: 40px 0 3px 0; margin: 0 auto;">
          <div style="float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-18 bold" style="margin: 45px 0 0 0; line-height: 23px;"><span class="tag">I'll thrash you. This <span class="normal">___</span> California.<br>I'll beat you to a jelly with my two fists</span>.</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">Я прибью тебя! Это тебе не Калифорния. Я сделаю из<br>тебя желе собственными руками.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. not</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. isn't</span></a></p>
          </div>
          <div style="width: 670px; float: left; padding: 1px; position: relative; border: 1px solid white; width: 670px;">
            <div class="image-shadow-0" style="width: 629px; height: 438px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/18.jpg" width="629" height="438" alt="Джек Лондон. Истории">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Jack London<br><span class="tag">Stories</span></p></div>
        <div style="width: 1185px; height: 460px; padding: 40px 0 3px 0; margin: 0 auto;">
          <div style="float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-18 bold" style="margin: 55px 0 0 0; line-height: 23px;"><span class="tag">If you do, I'll call <span class="normal">____</span> meeting and see you strung<br>up to the nearest tree. As you said, this is not<br>California</span>.</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">Попробуй только – я позову старателей и увижу тебя вздёрнутым на<br>ближайшем дереве. Как ты сказал, здесь не Калифорния.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. miner's</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. miners'</span></a></p>
          </div>
          <div style="float: left; margin: 1px; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 574px; height: 420px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/19.jpg" width="574" height="420" alt="Джек Лондон. Истории">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 18px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Jack London<br><span class="tag">White Fang</span></p></div>
        <div style="width: 1170px; height: 466px; padding: 35px 0 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="black left font-verdana size-20 bold" style="margin: 0 0 0 0; line-height: 25px;"><span class="tag">How <span class="normal">___</span> dogs ’ve we got, Henry?</span><br><span class="tag">Six.</span></p>
            <p class="black left font-verdana size-18" style="margin: 21px 0 0 0; line-height: 23px;">– Сколько у нас собак. Генри?<br>– Шесть.</p>
            <p class="black left font-verdana size-18 active-item" style="margin: 21px 0 0 55px; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="black bold">1. Much</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="black bold">2. Many</span></a></p>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div style="width: 860px; height: 617px; padding: 10px 170px 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="center font-verdana size-30 bold" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Jack London<br><span class="tag">Stories</span></p>
            <p class="white left font-verdana size-18 bold" style="margin: 42px 0 0 0; line-height: 23px;"><span class="tag">You can't <span class="normal">__</span> stop here</span>.</p>
            <p class="white left font-verdana size-18 bold" style="margin: 21px 0 0 0; line-height: 23px;"><span class="tag">Yes, I can</span>.</p>
            <p class="white left font-verdana size-18 bold" style="margin: 21px 0 0 0; line-height: 23px;"><span class="tag">I won't let you</span>.</p>
            <p class="white left font-verdana size-18 bold" style="margin: 21px 0 0 0; line-height: 23px;"><span class="tag">I'll stay anyway</span>.</p>
            <p class="white left font-verdana size-18 bold" style="margin: 21px 0 0 0; line-height: 23px;"><span class="tag">I'll put you out</span>.</p>
            <p class="white left font-verdana size-18 bold" style="margin: 21px 0 0 0; line-height: 23px;"><span class="tag">I'll come back</span>.</p>
            <p class="white left font-verdana size-14" style="margin: 42px 0 0 0; line-height: 17px;">– Ты не можешь здесь оставаться.<br>– Могу.<br>– Я тебе не позволю.<br>– Я всё равно останусь.<br>– А я тебя вышвырну.<br>– А я вернусь.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. To</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. Ничего не надо вставлять</span></a></p>
          </div>
          <div style="float: right; margin: 10px 0 0 0; padding: 1px; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 454px; height: 550px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/21.jpg" width="454" height="550" alt="Джек Лондон. Истории">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div style="width: 825px; height: 556px; padding: 10px 50px 3px 0; margin: 0 auto;">
          <div style="float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="center font-verdana size-30 bold" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By Stephen Fry<br><span class="tag">Making History</span></p>
            <p class="white left font-verdana size-18 bold" style="margin: 59px 0 0 0; line-height: 23px;"><span class="tag">What <span class="normal">___</span> he say?<br>He says you have talent and enthusiasm</span>.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. did</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. does</span></a></p>
          </div>
          <div style="float: left; margin: 10px 0 0 0; position: relative; border: 1px solid white; width: 357px;">
            <div class="image-shadow-0" style="width: 316px; height: 504px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/22.jpg" width="316" height="504" alt="Making History">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By O'Henry<br><span class="tag">The Ransom of Red Chief</span></p></div>
        <div style="width: 1150px; height: 374px; padding: 55px 0 3px 0; margin: 0 auto;">
          <div style="float: right; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-18 bold" style="margin: 30px 0 0 0; line-height: 23px;"><span class="tag">One more night of this kid will send me <span class="normal">__</span><br>a bed in Bedlam</span>, said Bill.</p>
            <p class="white left font-verdana size-14" style="margin: 23px 0 0 0; line-height: 19px;">– Ещё одна ночь с этим ребёнком отправит меня в психушку, –<br>сказал Билл.</p>
            <p class="white left font-verdana size-18 active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. in</span></a><br><a href="#" class="normal active" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">2. on</span></a><br><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">3. to</span></a></p>
          </div>
          <div style="float: left; margin: 0 0 0 0; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 596px; height: 334px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/23.jpg" width="596" height="334" alt="Вождь краснокожих">
            </div>
          </div>
        </div>
    </div></div></div>
    <div class="description" style="position: absolute; z-index: 2; top: 42px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-verdana size-30 bold" style="margin: 0 auto;"><p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">By James Joyce<br><span class="tag">Dubliners</span></p></div>
        <div style="width: 1125px; height: 351px; padding: 55px 0 3px 0; margin: 0 auto;">
          <div style="float: left; padding-right: 0px; margin: 0 0 0 0;">
            <p class="white left font-verdana size-20 bold" style="margin: 0 0 0 0; line-height: 25px;"><span class="tag">I won't be <span class="normal">_____</span> him in his cup of<br>beeftea any more, nor you, ma'am,<br>sending him his snuff. Ah, poor James</span>.</p>
            <p class="white left font-verdana size-20 bold" style="margin: 23px 0 0 0; line-height: 25px;"><span class="tag">The Lord have mercy on his soul!</span> said<br>my aunt.</p>
            <p class="white left font-verdana size-14" style="margin: 42px 0 0 0; line-height: 17px;">– Не носить мне ему больше бульону в чашке, ни вам, мэм, не<br>послать ему табачку. Ах, бедный Джеймс!</p>
            <p class="white left font-verdana size-14" style="margin: 15px 0 0 0; line-height: 19px;">– Господи, помилуй его душу! – сказала тётя.</p>
            <p class="white font-verdana size-18 center active-item" style="margin: 27px 0 0 0; line-height: 44px;"><a href="#" class="normal active" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">1. bring</span></a><a href="#" class="normal active true" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 0; cursor: pointer;"><span class="white">2. bringing</span></a></p>
          </div>
          <div style="float: right;padding: 1px; width: 624px; margin: 0 0 0 0; position: relative; border: 1px solid white;">
            <div class="image-shadow-0" style="width: 583px; height: 308px; margin: 20px;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/english-test/24.jpg" width="583" height="308" alt="Dubliners">
            </div>
          </div>
        </div>
    </div></div></div>
  </div>
</div>
</div>