<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
  <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
    <div class="animation__result _next" data-video-id="video-shooter" data-video-name="all-tests/shooter"  style="z-index: 9001; opacity: 1; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; display: none;"><div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/all-tests/shooter.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; opacity: 1;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-color: black;"></div></div>
  </div>
  <div class="buttons-slider" style="opacity: 0; z-index: 0;">
    <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
  </div>
  <div class="score" style="position: absolute; z-index: 9000; top: 30px; right: 30px; overflow: hidden; margin: 0; opacity: 1;">
    <div style="float: left; position: relative;">
      <p class="white font-verdana size-18" style="margin: 16px 13px 0 0;">Ваш счёт</p>
    </div>
    <div style="float: right; width: 122px; height: 102px; position: relative;">
      <div style="width: 102px; height: 122px; transform: rotate(90deg) translate(-10px, -10px);">
      <svg version="1.1" style="fill: white; position: absolute; width: 102px; height: 122px;top: 0; right: 0; bottom: 0; left: 0; margin: auto;z-index: 10;" xmlns="http://www.w3.org/2000/svg" data-original-aspect-ratio="0.8404908056820426"><g transform="translate(-18.51840591430664,-7.352762222290039)"><path d="M108.711668 7.852762H30.306752c-3.926381 0,-11.288345 2.331289,-11.288345 11.288345v70.552155c0 3.926381,2.331289 11.288345,11.288345 11.288345h4.785277c0 0,0 0,0 0h4.907976l4.417178 24.417181l0.368098 0.368098c0.245399 0.245399,2.08589 2.08589,4.785277 2.08589c1.595092 0,3.190184 -0.736196,4.539878 -2.08589l16.073621 -24.785279h38.404912c3.926381 0,11.288345 -2.331289,11.288345 -11.288345V19.141106C119.877314 15.214726,117.546025 7.852762,108.711668 7.852762zM116.809829 89.693261c0 7.852762,-7.361964 8.22086,-8.22086 8.22086H68.711664l-0.490798 0.613497c-0.122699 0.122699,-0.245399 0.245399,-0.245399 0.368098l-16.196321 24.907978c-0.736196 0.736196,-1.472393 0.981595,-2.208589 0.981595c-0.981595 0,-1.840491 -0.490798,-2.331289 -0.858896l-4.17178 -22.822088h9.938651c0.858896 0,1.595092 -0.736196,1.595092 -1.595092s-0.736196 -1.595092,-1.595092 -1.595092h-10.552148l0 0h-12.26994c-7.852762 0,-8.22086 -7.361964,-8.22086 -8.22086V19.141106c0 -7.852762,7.361964 -8.22086,8.22086 -8.22086h78.404917c7.852762 0,8.22086 7.361964,8.22086 8.22086V89.693261z"></path></g></svg></div>
      <div class="current-score center" style="position: absolute; top: 4px; right: 0; width: 94px;z-index: 1;-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
      <div class="new-score center" style="position: absolute; top: 4px; right: 0; width: 94px; opacity: 1;z-index: 3; -webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);transition: translate3d(0,0,0);-moz-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transform-style: preserve-3d;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000; transform-origin: top;transition-property: transform;-webkit-transition-duration: 0.7s;-moz-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;transition-timing-function: ease-in;transform: rotateX(90deg) skew(25deg, 0deg);"><p class="font-verdana" style="font-size: 60px; color: #7FCCFF; margin: 0;">0</p></div>
    </div>
  </div>
  <div class="main-description" style="margin: 0 0 0 0;text-shadow: 2px 2px 3px black;">
    <div class="answer" style="position: absolute; z-index: 1; top: 230px; width: 100%; height: 100%; overflow: hidden; margin: 0; opacity: 1;">
      <div class="right-answer" style="position: absolute; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:170px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ОТЛИЧНО!</span></p>
      </div></div>
      <div class="wrong-answer" style="position: relative; float: right; right: 50%;"><div class="center" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <p class="white font-verdana bold center animate-desc-parent" style="font-size:130px; margin: 0; margin: 0 0 0 0;">
          <span class="" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НЕПРАВИЛЬНО</span></p>
      </div></div>
    </div>
    <div class="description description__result" style="position: absolute; z-index: 9001; top: 0; height: 100%; width: 100%; overflow: hidden; margin: 0; opacity: 0; display: none;">
      <div class="center size-16 _js-ignore-z-index _js-king" style="opacity: 0;color:black;position: absolute;z-index: 9999; bottom: 3em; left: 3em;"><p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;"><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="" style="font-size: 1.5em; border-bottom: 1px solid black;">&copy; "Король Казимир"</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span>Нейролингвистические сайты Premium</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid black;">Вам сюда</span></a></p></div>
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
        <div class="font-arial size-48 bold" style="margin: 0 auto; color: black;text-shadow: 2px 2px 3px black;"><p class="center" style="line-height: 72px; margin: 0 0 40px 0;">Ваш результат: <span class="span__result" style="font-size: 60px;">8</span> из <span class="span__attemts" style="font-size: 60px;">8</span><br><span class="span__phrase">Блестяще!</span></p><p class="center font-verdana size-30" style="white-space: nowrap; margin: 0 0 0 0; line-height: 72px;"><a href="[exec] include get_template_directory().'/links.php'; echo $rus_test2; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Повторить этот тест ещё раз</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Пройти другой тест</span></a><br><a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" class="normal _js-prev-url" style="text-decoration: none; color: black; padding: 20px 30px; margin: 0 0 0 -30px; cursor: pointer;"><span style="border-bottom: 1px solid black;">Вернуться на сайт</span></a></p></div></div></div></div>
    <div class="description active animate" style="position: absolute; z-index: 4; opacity: 1; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 409px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 455px; height: 409px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">Но <span class="normal">____</span> Печкин отстал.</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">всё таки</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">всё-таки</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 543px; height: 409px; float: right; margin: 1px; position: relative;">
              <div style="width: 543px; height: 409px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/9.jpg" width="543" height="409" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 402px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 400px; height: 402px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">Это кто <span class="normal">____</span> с ума сошёл?</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">у вас тут</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">у вас-тут</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 600px; height: 402px; float: right; margin: 1px; position: relative;">
              <div style="width: 600px; height: 402px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/10.jpg" width="600" height="402" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 431px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 415px; height: 431px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">Только отнять у Хватайки <span class="normal">____</span><br>не так-то просто было.</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">что-либо</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">что либо</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 583px; height: 431px; float: right; margin: 1px; position: relative;">
              <div style="width: 583px; height: 431px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/11.jpg" width="583" height="431" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 414px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 450px; height: 414px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">Вылез он <span class="normal">____</span> на берег,<br>стыдно ему стало.</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">кое-как</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">кое как</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 548px; height: 414px; float: right; margin: 1px; position: relative;">
              <div style="width: 548px; height: 414px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/12.jpg" width="548" height="414" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 420px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 440px; height: 420px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">– <span class="normal">____</span> у&nbsp;нас кошачьим духом пахнет. Не&nbsp;иначе как дядя Федор кота притащил.</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">Что-то</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">Что то</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 556px; height: 420px; float: right; margin: 1px; position: relative;">
              <div style="width: 556px; height: 420px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/13.jpg" width="556" height="420" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 421px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 440px; height: 421px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">Ведь родился-то он охотничьей собакой, а&nbsp;не&nbsp;<span class="normal">____</span> другой.</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">какой-нибудь</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">какой нибудь</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 557px; height: 421px; float: right; margin: 1px; position: relative;">
              <div style="width: 557px; height: 421px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/14.jpg" width="557" height="421" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 422px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 440px; height: 422px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;">Корова смотрит на него так,<br><span class="normal">____</span> все поняла.</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">буд-то</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">будто</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">буд то</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 557px; height: 422px; float: right; margin: 1px; position: relative;">
              <div style="width: 557px; height: 422px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/15.jpg" width="557" height="422" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 2; top: 30px; width: 100%; overflow: hidden; margin: 0;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <div class="font-verdana size-30 bold" style="margin: 0 auto;">
            <p class="center" style="line-height: 37px; margin: 0 0 0 0; color: #FFCC00;">Эдуард Успенский<br><span class="tag">Дядя Фёдор, пёс и кот</span></p>
          </div>
          <div style="width: 1020px; height: 419px; padding: 47px 0 3px 0; margin: 0 auto;">
            <div style="width: 440px; height: 419px; float: left; padding-right: 0px">
              <p class="white left font-verdana size-20 bold" style="margin: 22px 0 0 0;"><span class="normal">____</span> кто-то дрова распиливает:<br>др-др… др-др…</p>
              <ul class="white left font-verdana size-18 active-item" style="margin: 32px 0 0 35px; line-height: 48px;">
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 20px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">Как буд-то</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active true size-20" style="text-decoration: none; padding: 10px 30px 10px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">Как будто</span></a>
                </li>
                <li class="">
                  <a href="#" class="normal active size-20" style="text-decoration: none; padding: 10px 30px 20px; margin: 0 0 0 -30px; cursor: pointer;"><span class="white">Как-будто</span></a>
                </li>
              </ul>
            </div>
            <div style="width: 557px; height: 419px; float: right; margin: 1px; position: relative;">
              <div style="width: 557px; height: 419px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkiy-test/16.jpg" width="557" height="419" alt="Дядя Фёдор, пёс и кот">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>
</div>
</div>