[raw]
<div class="div-wrapper_padding size-16 _js-scale-font-size _js-back-url" style="width: 100%; z-index: 10; position: relative;">
  <div class="white font-arial bold" style="margin: 0 auto;font-size: 0.5em;">
    <p class="center" style="font-size: 5em;white-space: nowrap; line-height: 1em; margin: 0.8em 0 2.5em 0;text-shadow: 2px 2px 3px black;">
      Играйте. Наслаждайтесь. Обучайтесь<span class="normal">!</span>
    </p>
    <div style="overflow: hidden; margin: 2.5em 0 0;text-shadow: 2px 2px 3px black;">
      <div class="center" style="margin: 0 -92em 0 0; font-size: 1.1em;">
        <p class="center" style="font-size: 2.7em;white-space: nowrap; line-height: 1em; margin: 0 0 1.25em 0;text-shadow: 2px 2px 3px black;">Нейролингвистические<br><span style="font-size: 0.625em;">тесты-игры для детей и взрослых</span></p>
        <p class="center" style="font-size: 1.875em;white-space: nowrap; line-height: 1.2em; margin: 1em 0 2em 0;text-shadow: 2px 2px 3px black;">Не бойтесь ошибиться!<br>Программа будет тренировать вас<br>до полного усвоения материала<span class="normal">.</span></p>
        <p class="white bold center" style="font-size: 1.875em;white-space: nowrap; line-height: 1.2em; margin: 0;">Английский язык</p>
        <ul class="white left font-verdana" style="font-size: 1.125em; margin: 0.667em 0 2em 2em; line-height: 2.667em; display: inline-block;">
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $english_test; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 1</span></a>
          </li>
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $english_test2; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 2</span></a>
          </li>
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $english_test3; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 3</span></a>
          </li>
        </ul>
        <p class="white bold center" style="font-size: 1.875em;white-space: nowrap; line-height: 1.2em; margin: 0;">Русский язык</p>
        <ul class="white left font-verdana" style="font-size: 1.125em; margin: 0.667em 0 0 2em; line-height: 2.667em; display: inline-block;">
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $rus_test; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 1</span></a>
          </li>
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $rus_test2; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 2</span></a>
          </li>
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $rus_test3; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 3</span></a>
          </li>
          <li>
            <a href="[exec] include get_template_directory().'/links.php'; echo $rus_test4; [/exec]" class="normal" style="font-size: 1.334em; text-decoration: none; padding: 0.667em 1em; margin: 0 0 0 -1em; cursor: pointer;"><span class="white" style="border-bottom: 1px solid white;">Тест 4</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/all-tests/man" class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/all-tests/man.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  <div class="white center size-16 _js-ignore-z-index _js-scale-font-size" style="position: absolute;z-index: 9999; bottom: 3em; left: 3em;">
    <p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <span class="" style="font-size: 1.5em; border-bottom: 1px solid white;">&copy; "Король Казимир"</span><br>
      <span>Нейролингвистические сайты Premium</span><br>
      <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Вам сюда</span></a>
    </p>
  </div>
</div>
[/raw]