<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <p class="light-blue size-24 font-verdana bold center" style="margin: 30px 0 0 0;">
        <span class="tag">Крест</span>
    </p>
    <p class="blue size-18 font-verdana center" style="margin: 0 0 24px 0;">
        Анализ, восприятие, истолкование, оценка
    </p>
    <p class="lilac size-12 font-verdana center" style="margin: 0 0 18px 0;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $stihi; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 50px;"><span class="lilac">Читать стихотворение Н.Гумилёва</span></a>
    </p>
    <div style="width: 960px; height: 100px; padding: 20px 0 0 0;">
        <div style="width: 188px; height: 100px; float: left;">
            <p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 13px; text-align: right;">
                Володя Гранкин,<br>
                10-й класс
            </p>
        </div>
        <div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
            <p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 67px;">
                Я обманут моей унылой,<br>
                Переменчивой, злой судьбой.
            </p>
            <p class="blue size-14 font-verdana" style="margin: 0 74px 0 0; text-align: right; line-height: 17px;">
                Анна Ахматова,<br>
                <span class="tag">Песня последней встречи</span>
            </p>
        </div>
    </div>
    <div style="width: 960px; height: 430px; padding: 22px 0 0 0;">
        <div style="width: 468px; height: 430px; float: left; padding-left: 0;">
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; text-indent: 65px; line-height: 22px;">
                Человек и рок, человек и его злая судьба... Можно<br>
                ли как-то обойти её, или сразиться с ней, или, на худой<br>
                конец, обыграть в карты?
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
                Николай Гумилёв использует потрясающей силы и<br>
                выразительности <span class="light-blue bold">омонимы</span>.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 16px; text-indent: 78px; line-height: 22px;">
                Крест – как злая судьба, как страсть к игре в<br>
                карты, терзающая лирического героя. И эту зависимость,<br>
                свою несвободу лирический герой осознаёт, ощущает как<br>
                своё <span class="blue tag">холодное безумье</span>, <span class="blue tag">тревожный азарт</span>. Ему хотелось<br>
                бы стать <span class="blue tag">вольным и чистым, как звёздное небо</span>, но<br>
                принять <span class="blue tag">посох сестры Нищеты</span> он, конечно, не может и не<br>
                хочет.
            </p>
        </div>
        <div style="width: 448px; height: 448px; float: right; margin: 0 43px 0 0;">
            <div class="image-shadow" style="width: 448px; height: 432px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/aaaa.jpg" width="100%" height="100%" alt="Карты">
            </div>
            <div class="image-shadow-right-1">
            </div>
            <div class="image-shadow-left-1">
            </div>
        </div>
    </div>
    <div style="width: 960px; height: 550px; padding: 0 0 0 0;">
        <div style="width: 525px; height: 550px; float: left; margin: -61px 0 0 16px;">
            <div class="image-shadow" style="width: 525px; height: 341px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/krestme.jpg);">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/krest.jpg" width="100%" height="100%" alt="Крест">
            </div>
            <div class="image-shadow-right-1">
            </div>
            <div class="image-shadow-left-1">
            </div>
            <p class="dark-blue size-14 font-verdana" style="margin: 32px 0 0 0; text-indent: 78px; line-height: 22px;">
                Крест – это и нательный <span class="blue tag">крест золотой</span>, который можно<br>
                прижать к губам в самую тяжёлую минуту глубочайшего отчаяния.<br>
                И этот крест, осознаваемый лирическим героем как <span class="blue tag">святыня</span>,<br>
                всегда был рядом, поддерживая его, как самый верный друг.
            </p>
        </div>
        <div style="width: 324px; height: 520px; float: right; margin: 1px 70px 0 0;">
            <div class="image-shadow" style="width: 324px; height: 491px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/ruletka.jpg" width="100%" height="100%" alt="Рулетка">
            </div>
            <div class="image-shadow-right-1">
            </div>
            <div class="image-shadow-left-1">
            </div>
        </div>
    </div>
    <div style="width: 960px; height: 538px; padding: 5px 0 16px 0;">
        <div style="width: 486px; height: 538px; float: left; margin: 0 0 0 13px;">
            <div class="image-shadow" style="width: 486px; height: 416px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/mill.jpg" width="486" height="416" alt="Мельница">
            </div>
            <div class="image-shadow-right-1">
            </div>
            <div class="image-shadow-left-1">
            </div>
        </div>
        <div style="width: 434px; height: 538px; float: right; margin: 0 0 0 0;">
            <p class="dark-blue size-14 font-verdana" style="margin: 10px 0 21px 15px; text-indent: 60px; line-height: 22px;">
                Что же поставил на карту в конце<br>
                стихотворения наш герой: злую судьбу или<br>
                верного друга? Или то и другое вместе?
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 60px; line-height: 22px;">
                Многозначность омонима даёт возможность<br>
                каждому из нас домыслить это.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 60px; line-height: 22px;">
                Осуждаю ли я лирического героя, брошу<br>
                ли в него камень? Ответить хочется словами<br>
                Иисуса Христа: <span class="blue tag italic">Кто сам без греха, первым брось<br>
                камень</span>.
            </p>
        </div>
    </div>
    <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="blok"></a></p>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 0 0;">
        <span class="tag">Незнакомка</span>
    </p>
    <p class="blue size-18 font-verdana center" style="margin: 0 0 24px 0;">
        Анализ, восприятие, истолкование, оценка
    </p>
    <p class="lilac size-12 font-verdana center" style="margin: 0 0 18px 0;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $stihi_blok; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 50px;"><span class="lilac">Читать стихотворение А.Блока</span></a>
    </p>
    <div style="width: 960px; height: 100px; padding: 20px 0 0 0;">
        <div style="width: 192px; height: 100px; float: left;">
            <p class="lilac size-18 font-verdana line-height-23" style="margin: 0 12px 36px 0; text-align: right;">
                Володя Гранкин,<br>
                10-й класс
            </p>
        </div>
        <div style="width: 430px; height: 100px; float: right; margin: 0 0 0 0;">
            <p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 17px 0;">
                Пей! Чёрт тебя доведёт до конца.<br>
                Йо-хо-хо, и бутылка рому!
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 77px 0 0; text-align: right; line-height: 17px;">
                Роберт Стивенсон,<br>
                <span class="tag">Остров сокровищ</span>
            </p>
        </div>
    </div>
    <div style="width: 960px; height: 447px; padding: 32px 0 0 0;">
        <div style="width: 568px; height: 447px; float: left; margin: 0 0 0 12px;">
            <div class="image-shadow" style="width: 568px; height: 431px; position: relative;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/eye1.jpg" width="100%" height="100%" alt="Взгляд">
            </div>
            <div class="image-shadow-right-1">
            </div>
            <div class="image-shadow-left-1">
            </div>
        </div>
        <div style="width: 376px; height: 447px; float: right;">
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
                Он беспредельно виноват, лирический<br>
                герой стихотворения <span class="blue tag">Незнакомка</span>.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
                Свою вину – перед собой, своей судьбой –<br>
                он прекрасно чувствует и понимает.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
                Его вина и в том, что у него остался <span class="blue tag">друг<br>
                единственный</span> – его собственное отражение в<br>
                бокале вина.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 15px; text-indent: 35px; line-height: 22px;">
                И в том, что он оказался здесь, <span class="blue tag">над скукой<br>
                загородных дач</span> (прекрасная метафора<br>
                обочины жизни!).
            </p>
        </div>
    </div>
    <div style="width: 960px; height: 520px; padding: 0 0 0 0;">
        <div style="width: 463px; height: 520px; float: left; padding-left: 7px;">
            <p class="dark-blue size-14 font-verdana" style="margin: 20px 0 21px 0; text-indent: 35px; line-height: 22px;">
                Но главная его вина – перед Ней, таинственной<br>
                Незнакомкой. Кто она?
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
                Она – его Сокровище, его Душа, прекрасная,<br>
                романтичная, необыкновенная, одинокая, как и он.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
                Но почему же у неё <span class="blue tag">шляпа с траурными перьями</span>? Да<br>
                просто она, его Душа, скорбит! Скорбит об упущенных<br>
                возможностях, о неизведанных далях, где <span class="blue tag">берег<br>
                очарованный</span>.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
                Блок применяет <span class="blue bold">омоформы</span> – удивительную<br>
                разновидность омонимов, совпадающих только в предложном<br>
                падеже: <span class="blue"><span class="tag">вино</span> и <span class="tag">вина</span></span>, и блистательно обыгрывает их.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
                Но осознание вины и покаяние, звучащие в конце<br>
                стихотворения – уже путь к искуплению и возрождению, не<br>
                так ли?
            </p>
        </div>
        <div style="width: 478px; height: 520px; float: right; margin: -40px 11px 0 0;">
            <div class="image-shadow" style="width: 478px; height: 504px;">
                <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/wineglass.jpg" width="100%" height="100%" alt="Бокал вина">
            </div>
            <div class="image-shadow-right-1">
            </div>
            <div class="image-shadow-left-1">
            </div>
        </div>
    </div>
    <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="fet"></a></p>
    <p class="light-blue size-24 font-verdana bold center" style="margin: 87px 0 0 0;">
        <span class="tag">Шёпот, робкое дыханье...</span>
    </p>
    <p class="blue size-18 font-verdana center" style="margin: 0 0 24px 0;">
        Анализ, восприятие, истолкование, оценка
    </p>
    <p class="lilac size-12 font-verdana center" style="margin: 0 0 18px 0;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $stihi_fet; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 50px;"><span class="lilac">Читать стихотворение А.Фета</span></a>
    </p>
    <div style="width: 960px; height: 100px; padding: 20px 0 0 0;">
        <div style="width: 320px; height: 100px; float: left; padding-left: 26px;">
            <p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 25px;">
                Родион Власюк,<br>
                11-й класс<br>
                (ныне врач)
            </p>
        </div>
        <div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
            <p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 14px 25px;">
                Там шепчутся белые ночи мои<br>
                О чьей-то высокой и тайной любви.
            </p>
            <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 265px;">
                Анна Ахматова
            </p>
        </div>
    </div>
    <p class="dark-blue size-14 font-verdana" style="margin: 28px 0 24px 51px; text-indent: 65px; line-height: 22px;">
        Стихотворение посвящено свиданию влюблённой пары, которое начинается весенним вечером, когда запевает<br>
        соловей, и заканчивается на утренней заре.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
        Стоит поэтическое время года, когда поздняя весна перетекает в раннее лето: ещё не замолкли птицы, но уже<br>
        расцвели розы. Ночи тёплые и короткие, почти как в знаменитых стихах Пушкина:
    </p>
    <p class="blue size-14 font-verdana center" style="margin: 0 0 42px 0; line-height: 22px;">
        Одна заря сменить другую<br>
        Спешит, дав ночи полчаса...
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
         Здесь присутствует вся романтика, свойственная любовному свиданию: тут и «ночные тени, тени без конца», и<br>
         «ряд волшебных изменений милого лица», и, конечно же:
    </p>
    <p class="blue size-14 font-verdana center" style="margin: 0 0 42px 0; line-height: 22px;">
        И лобзания, и слёзы,<br>
        И заря, заря!..
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 77px 51px; text-indent: 65px; line-height: 22px;">
         Читая это стихотворение, я чувствую себя в картинной галерее и вижу, как одно живописное полотно сменяется<br>
         другим. А.А.Фет пером поэта рисует то, что делает художник кистью и красками.
    </p>
    <div id="load-video12" class="load-video"  style="padding-top: 1px; height: 373px;">
    </div>
    <p class="dark-blue size-14 font-verdana" style="margin: 50px 0 21px 51px; text-indent: 65px; line-height: 22px;">
         В этом стихотворении нет ни одного глагола. Однако каждая строфа здесь излучает движение, всё в нём живёт,<br>
         меняется и изменяется.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
         Основной признак глагола – движение. И в стихотворении <span class="blue">«Шёпот, робкое дыханье»</span> эту роль<br>
         выполняют отглагольные существительные. Например, вместо фразы <span class="blue">«серебрится и колышется сонный ручей»</span> Фет<br>
         употребляет <span class="blue">«серебро и колыханье сонного ручья»</span>, вместо <span class="blue">«изменяется милое лицо»</span> поэт пишет <span class="blue">«ряд волшебных<br>
         изменений милого лица»</span>.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
         <span class="bold">Афанасий Фет</span> также использует другой приём: переводит прилагательные в существительные, которые потом<br>
         несут функцию прямого дополнения. Например, вместо <span class="blue">«соловьиные трели»</span> употребляет <span class="blue">«трели соловья»</span>, вместо<br>
         <span class="blue">«янтарные отблески»</span> – <span class="blue">«отблеск янтаря»</span>.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
         Всё это стихотворение, состоящее из трёх четверостиший, представляет собой одно восклицательное<br>
         предложение, что создаёт дополнительный эффект струения, перетекания, изменения – такого же плавного, как в самом<br>
         стихотворении вечер перетекает в ночь, ночь – в рассвет, рассвет – в зарю.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
         Фет был не единственным русским поэтом, который владел этими приёмами. Вот одно из самых любимых моих<br>
         стихотворений <span class="bold">Марины Цветаевой</span>:
    </p>
    <p class="blue size-14 font-verdana" style="margin: 0 0 42px 337px; line-height: 22px;">
        По пескам – жадным и ржавым,<br>
        Под лучом – жгучим и пьющим,<br>
        Сапожком – робким и кротким -<br>
        За плащом – следом и следом.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
         В этом стихотворении тоже отсутствуют глаголы, но оно также полно движения и динамики.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
         А вот <span class="bold">Константин Бальмонт</span> в стихотворении <span class="blue">«Кто кого»</span>, наоборот, использует одни глаголы, и вы<br>
         посмотрите, сколько тут движения:
    </p>
    <div style="position:relative; z-index: 2; padding: 0 0 50px;">
        <p class="blue size-14 font-verdana" style="margin: 0 0 42px 457px; line-height: 22px;">
            Настигаю.<br>
            <span style="margin: 0 0 0 42px;">Настигаю.</span><br>
            <span style="margin: 0 0 0 84px;">Огибаю.</span><br>
            <span style="margin: 0 0 0 126px;">Обгоню...</span>
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 51px; line-height: 22px;">
             Конечно, обгонит. Верхом-то на Пегасе!..
        </p>
    </div>
    <div style="width: 980px; overflow: hidden;">
        <div style="width: 50%; float: left;">
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Сочинения по литературе</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Изложения</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _blue _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Эссе</span></a></p>
        </div>
        <div style="width: 50%; float: right;">
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame_skazka; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Волшебные сказки</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Мультфильмы</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $triller; [/exec]" class="b-button _mix-purple-orange _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Фантастический триллер</span></a></p>
        </div>
    </div>
</div>