<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper div-wrapper_volume">
    <p class="yellow blue size-24 font-verdana bold center" style="margin: 0 0 0 0;">
        Лучшие работы учащихся
    </p>
    <p class="blue size-14 font-verdana center" style="margin: 0 0 0 0;">
        в рамках курса
    </p>
    <p class="blue size-18 font-verdana bold center line-height-23" style="margin: 3px 0 40px 0;">
        <span class="tag">Развитие творческих способностей<br>
        под гипнозом. Раскрепощение</span>
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 40px 20px;">
        Каждая из работ написана СОВЕРШЕННО САМОСТОЯТЕЛЬНО за 1 (один) сеанс.<br>
        Раскрывшись, творческие способности сохраняются НАВСЕГДА.
    </p>
    <div style="width: 980px; overflow: hidden;">
        <div style="width: 50%; float: left;">
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Сочинения по литературе</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Изложения</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _blue _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Эссе</span></a></p>
        </div>
        <div style="width: 50%; float: right;">
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame_skazka; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Волшебные сказки</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Мультфильмы</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $triller; [/exec]" class="b-button _mix-purple-orange _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Фантастический триллер</span></a></p>
        </div>
    </div>
</div>