<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper">
	<p class="lilac size-18 font-verdana line-height-23" style="margin: 58px 0 19px 5px;">
		Гоша Гранкин,<br>
		10 лет, 4-й класс
	</p>
	<div style="padding-top: 22px; height: 196px;">
		<div style="width: 600px; height: 196px; margin: 0 auto;">
			<div style="width: 600px; height: 196px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/nupogodi1.jpg);">
			</div>
		</div>
	</div>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 33px 0 75px 0;">
		Новая серия<br>
		про приставки
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 109px 70px; line-height: 27px;">
		Однажды Зайчик <span class="yellow bold">ВЫ</span><span class="light-blue bold">ШЕЛ</span> из дома и <span class="yellow bold">ПО</span><span class="light-blue bold">ШЁЛ</span> в парк покататься на качелях. Он <span class="yellow bold">ПРО</span><span class="light-blue bold">ШЁЛ</span> по аллее, <span class="yellow bold">ПЕРЕ</span><span class="light-blue bold">ШЁЛ</span> через<br>
		ручей по мостику, <span class="yellow bold">СО</span><span class="light-blue bold">ШЁЛ</span> с тропинки и <span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span> к аттракционам.
	</p>
	<div style="width: 513px; height: 349px; margin: 0 auto; perspective: 800px; padding-top: 25px;">
		<div id="anim-mult" class="cube1" style="width: 513px; height: 349px; opacity: 0; margin: 0 0 0 0; position: absolute;">
			<img class="image-text lazy-ignore" alt="" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/zayac.jpg" style="margin-top: 0px; margin-left: 0px; width: 100%; height: 100%;">
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 47px 0 86px 70px;">
		А Волк <span class="light-blue bold">ШЁЛ</span> всё время за ним следом.
	</p>
	<div style="padding-top: 25px; height: 402px;">
		<div style="width: 507px; height: 402px; margin: 0 auto;">
			<div id="hide1" class="image-shadow" style="width: 507px; height: 386px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk.jpg); opacity: 0;">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 16px 0 20px 70px;">
		Зайчик <span class="yellow bold">ЗА</span><span class="light-blue bold">ШЁЛ</span> на площадку, сел на качели и стал раскачиваться.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 75px 70px;">
		Волк <span class="yellow bold">ОТО</span><span class="light-blue bold">ШЁЛ</span> в кусты и начал за ним следить.
	</p>
	<div style="padding-top: 25px; height: 256px; position:relative; z-index: 1;">
		<div class="transdiv7" style="width: 320px; height: 256px; margin: 0 auto; position:relative; z-index: 1;  perspective: 800px;">
			<div class="trans5" style="width: 320px; height: 256px; opacity: 0; margin: 0 0 0 0; position:relative; z-index: 3; max-width: 320px; max-height: 256px;">
				<div class="image-shadow" style="width: 320px; height: 240px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk1.jpg); background-size: cover;">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 27px 0 59px 70px;">
		Зайчик так <span class="yellow bold">РАЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span>, что слетел с качелей и улетел в кусты, где сидел Волк.
	</p>
	<div style="padding-top: 25px; height: 385px;">
		<div style="width: 251px; height: 385px; margin: 0 auto;">
			<div id="rotateimg2" style="width: 125px; height: 192px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/zayac1.jpg); opacity: 0;">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 100px 0 54px 70px;">
		Волк так перепугался, что еле <span class="yellow bold">ДО</span><span class="light-blue bold">ШЁЛ</span> до своего дома.
	</p>
	<div style="padding-top: 25px; height: 192px; position:relative; z-index: 1;">
		<div class="transdiv1" style="width: 316px; height: 192px; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
			<div class="trans6" style="width: 316px; height: 192px; opacity: 0; margin: -300px 0 0 300px; position:relative; z-index: 3;">
				<div class="image-shadow" style="width: 316px; height: 176px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk2.jpg); background-size: cover;">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 77px 0 60px 70px;">
		Волк <span class="yellow bold">ИЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span> мыслями, раздумывая, как поймать Зайчика.
	</p>
	<div class="transdiv2" style="padding-top: 25px; height: 329px;">
		<div style="width: 469px; height: 329px; margin: 0 auto;">
			<div style="width: 469px; height: 329px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk3.jpg);">
			</div>
		</div>
	</div>
	<div style="height: 0; position:relative; z-index: 1;">
		<div style="width: 469px; height: 0; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
			<div class="trans7" style="width: 469px; height: 329px; margin: -330px 0 0 0; position:relative; z-index: 3; background-color: white; background-size: cover;">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 91px 0 58px 70px;">
		И наконец <span class="yellow bold">ПРЕВЗО</span><span class="light-blue bold">ШЁЛ</span> самого себя.
	</p>
	<div style="padding-top: 25px; height: 442px;">
		<div style="width: 294px; height: 442px; margin: 0 auto;">
			<div class="hide1" style="width: 294px; height: 442px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk4.jpg); opacity: 0">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 25px 0 50px 70px;">
		Он построил космический корабль, <span class="yellow bold">ВО</span><span class="light-blue bold">ШЁЛ</span> в него и стал ждать.
	</p>
	<div class="transdiv3" style="padding-top: 25px; height: 387px;">
		<div style="width: 496px; height: 387px; margin: 0 auto;">
			<div class="trans8" style="width: 496px; height: 387px; margin: 0 0 0 500px; opacity: 0">
				<div class="image-shadow" style="width: 496px; height: 371px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk5.jpg);">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 88px 0 16px 70px;">
		Зайчик <span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span> к ракете, <span class="yellow bold">ОБО</span><span class="light-blue bold">ШЁЛ</span> её и <span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span> длинный стартовый фитиль.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 54px 70px;">
		Зайчик поджёг фитиль и быстро <span class="yellow bold">ВЗО</span><span class="light-blue bold">ШЁЛ</span> на корабль.
	</p>
	<div class="transdiv4" style="padding-top: 25px; height: 300px;">
		<div style="width: 217px; height: 300px; margin: 0 auto;">
			<div style="width: 217px; height: 300px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/zayac2.jpg);">
			</div>
		</div>
	</div>
	<div style="height: 0; position:relative; z-index: 1;">
		<div style="width: 217px; height: 0; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
			<div class="trans9" style="width: 217px; height: 300px; margin: -300px 0 0 0; position:relative; z-index: 3; background-color: white; background-size: cover;">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 105px 0 79px 70px;">
		Увидев Волка, он испугался, но сразу <span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span> и успел выпрыгнуть.
	</p>
	<div style="padding-top: 25px; height: 346px; position:relative; z-index: 1;">
		<div class="transdiv5" style="width: 374px; height: 346px; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
			<div class="trans10" style="width: 125px; height: 115px; opacity: 0; margin: 0 auto; position:relative; z-index: 3; max-width: 374px; max-height: 346px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/volk-zayac.jpg); background-size: cover;">
			</div>
		</div>
	</div>
	<div style="position:relative; z-index: 3;">
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 122px 0 10px 70px;">
			Корабль взлетел и <span class="yellow bold">У</span><span class="light-blue bold">ШЁЛ</span> в космическое пространство.
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 0 70px;">
			Волк летел и кричал:
		</p>
	</div>
	<div style="height: 84px;">
		<div style="width: 260px; height: 84px; margin: 0 auto;">
			<div id="rotateimg5" style="width: 260px; height: 84px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/nupogodi2.jpg); opacity: 0;">
			</div>
		</div>
	</div>
	<div style="padding-top: 100px; height: 419px;">
		<div style="width: 571px; height: 419px; margin: 0 auto;">
			<div class="image-shadow-0" style="width: 571px; height: 403px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/multfilm/zayac3.jpg);">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 113px 0 61px 0;">
		Index
	</p>
	<div style="width: 960px; height: 300px; padding: 0 0 106px 0;">
		<div style="width: 150px; height: 300px; float: left; padding-left: 232px;">
			<p class="dark-blue size-18 font-verdana" style="margin: 0 0 0 0; line-height: 29px;">
				<span class="yellow bold">ВЫ</span><span class="light-blue bold">ШЕЛ</span><br>
				<span class="yellow bold">ПО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ПРО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ПЕРЕ</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">СО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ЗА</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ОТО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">РАЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span>
			</p>
		</div>
		<div style="width: 150px; height: 300px; float: right; margin: 0 193px 0 0;">
			<p class="dark-blue size-18 font-verdana" style="margin: 0 0 0 0; line-height: 29px;">
				<span class="yellow bold">ДО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ИЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span><br>
				<span class="yellow bold">ПРЕВЗО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ВО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ОБО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">ВЗО</span><span class="light-blue bold">ШЁЛ</span><br>
				<span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span><br>
				<span class="yellow bold">У</span><span class="light-blue bold">ШЁЛ</span>
			</p>
		</div>
	</div>
	<div id="load-video15" class="load-video"  style="padding: 1px 0 50px; height: 309px;">
	</div>
	<div style="width: 980px; overflow: hidden;">
		<div style="width: 50%; float: left;">
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Сочинения по литературе</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Изложения</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _blue _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Эссе</span></a></p>
		</div>
		<div style="width: 50%; float: right;">
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame_skazka; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Волшебные сказки</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Мультфильмы</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $triller; [/exec]" class="b-button _mix-purple-orange _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Фантастический триллер</span></a></p>
		</div>
	</div>
</div>