<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper">
	<!-- <p class="blue size-24 font-verdana bold center" style="margin: 30px 0 39px 0;">
		Дорогие мои!
	</p>
	<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
		Хорошо пишет тот, кто хорошо думает, не так ли?
	</p>
	<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
		Все эти сочинения, изложения, эссе,	сказки написали мои ученики.
	</p>
	<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
		Почитайте. Понравится <span class="normal">–</span> приходите. Научу.
	</p>
	<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
		Ещё обещаю безупречные русский и английский. На экзаменах вы<br>
		получите высший бал, даже если сегодня об этом не мечтаете. Ведь моя<br>
		профессия <span class="normal">–</span> творить чудеса, и мне это нравится.
	</p>
	<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
		Я предложу вам самые современные технологии обучения, и вы усвоите<br>
		всё молниеносно <span class="normal">–</span> без зубрёжки и домашних заданий. Можно под<br>гипнозом <span class="normal">–</span> так быстрее и ярче <span class="normal">–</span> можно без.
	</p>
	<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 72px 56px; line-height: 25px;">
		Полученные навыки останутся с вами на всю жизнь. Пригодятся!
	</p>
	<!--<div id="anim-skazka-dop" style="height: 0; width: 900px;">
		<div style="height: 130px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
	</div>-->
	<!--<p class="blue size-18 font-verdana bold" style="padding-bottom: 100px; margin: 0 0 0 630px; line-height: 23px;">
		Профессор<br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" class="normal" style="text-decoration: underline; color: black; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="blue bold">Ольга Веровенко</span></a>
	</p> -->
	<p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="volshebnaya"></a></p>
	<div style="height: 477px;">
		<div style="width: 492px; height: 477px; margin: 0 auto;">
			<div class="image-shadow" style="width: 488px; height: 461px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/skazka.jpg" width="100%" height="100%" alt="Волшебная сказка">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<div style="width: 960px; height: 80px; padding: 60px 0 38px 0;">
		<div style="width: 300px; height: 80px; float: left;">
			<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 52px;">
				Оленька Н.,<br>
				когда ей было 15 лет
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 52px; line-height: 22px;">
		Жили-были царь и царица в сказочном царстве с двумя дочками. Это были две красивые взрослые девушки. В то лето<br>
		им исполнилось двадцать лет, причём в один день и в один час, потому что царевны были близнецами.
	</p>
	<div style="padding-top: 45px; height: 465px;">
		<div style="width: 510px; height: 465px; margin: 0 auto;">
			<div class="image-shadow" style="width: 510px; height: 449px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/bashnya.jpg" width="100%" height="100%" alt="Башня">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 10px 0 53px 0;">
		Сказочное царство
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 49px; line-height: 22px;">
		Принцессы были так похожи, что их путали даже папа и мама – наши сказочные царь и царица. Если бы не милая<br>
		маленькая родинка на щеке, которая у Жасмин была с правой стороны, а у Лизы с левой, все были бы уверены, что<br>
		это один человек.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 49px; line-height: 22px;">
		Царевны были весёлые, жизнерадостные и очень умелые: такие искусницы в вышивании, что славились на всё свое<br>
		царство и на соседнее королевство. А стоило им сесть верхом на лошадь во время царской охоты – даже умелые<br>
		наездники склоняли головы перед ними.
	</p>
	<div style="width: 960px; height: 540px; padding-top: 20px;">
		<div style="width: 387px; height: 539px; float: left; margin-left: 84px;">
			<div class="image-shadow" style="width: 383px; height: 523px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/princessa.jpg" width="100%" height="100%" alt="Принцесса">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
		<div style="width: 376px; height: 540px; float: right; margin: 0 53px 0 0;">
			<div class="image-shadow" style="width: 372px; height: 524px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/princessa1.jpg" width="100%" height="100%" alt="Принцесса">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 25px 0 53px 0;">
		Принцессы на охоте
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px 65px; line-height: 22px;">
		Всё было бы хорошо, если бы не проклятие, наложенное на царский род несколько веков назад обиженным<br>
		колдуном, который хотел жениться на одной из прапрабабушек наших царевен, которая тогда была юной<br>
		царевной, но получил отказ: царевне не нравилось, что колдун весь в бородавках, а ещё он был грубым,<br>
		жестоким и жадным.
	</p>
	<div style="width: 960px; height: 900px; padding-top: 23px;">
		<div style="width: 369px; height: 600px; float: left; margin: 263px 0 0 13px;">
			<div class="image-shadow" style="width: 365px; height: 437px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/koldun.jpg" width="100%" height="100%" alt="Влюблённый колдун">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 16px 0 53px 0;">
				Влюблённый колдун
			</p>
		</div>
		<div style="width: 585px; height: 483px; float: right; margin: 0 0 0 -10px;">
			<div class="image-shadow" style="width: 581px; height: 419px; margin: 0 0 0 -24px; position: relative;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/prababushka.jpg" width="100%" height="100%" alt="Юная прабабушка">
			</div>
			<div class="image-shadow-right-1" style="margin: 0 30px 0 0;">
			</div>
			<div class="image-shadow-left-1" style="margin: 0 0 0 -30px;">
			</div>
			<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 8px 0 53px 0;">
				Юная прабабушка
			</p>
		</div>
		<div style="width: 455px; height: 417px; float: right; margin: 0 68px 0 0;">
			<div class="image-shadow" style="width: 451px; height: 355px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/tree1.jpg" width="100%" height="100%" alt="Злое заклятье">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
				Злое заклятье
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 26px 0 21px 55px; line-height: 22px;">
		Заклятье было в том, что царский род закончится, когда появятся на свет царевны-близнецы. С принцами,<br>
		просящими их руку и сердце, будут происходить неприятности и беды, и в конце концов царевны останутся одни и<br>
		не смогут продолжить род.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 55px; line-height: 22px;">
		А снять проклятие можно было только тем, что царевны должны были, оставив царскую гордость, подойти к<br>
		избранникам и самим объясниться в любви, предложив себя в жёны.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 55px; line-height: 22px;">
		И во всех царствах и государствах знали о том, что если выйдет замуж хоть одна из царевен, то значит, она<br>
		переступила свою гордость. А какая она после этого царица?!
	</p>
	<div style="padding-top: 0; height: 487px;">
		<div style="width: 259px; height: 487px; margin: 0 auto;">
			<div style="width: 259px; height: 487px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/gordost.jpg" width="100%" height="100%" alt="Царская гордость">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 64px 0;">
		Царская гордость
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 23px; line-height: 22px;">
		Женихов у наших царевен было во множестве, но ждали женихи, когда царевны сами придут и принесут свою любовь.
	</p>
	<div style="padding-top: 36px; height: 493px;">
		<div style="width: 378px; height: 493px; margin: 0 auto;">
			<div class="image-shadow" style="width: 374px; height: 477px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/jenih.jpg" width="100%" height="100%" alt="Надменный жених">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 6px 0 49px 0;">
		Надменный жених
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
		И тогда царевны решили женихов своих попытать: переоделись нищенками и пошли пешком в соседнее королевство<br>
		к первому жениху.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 57px; line-height: 22px;">
		А пока по дороге шли, всё людей расспрашивали: каков этот жених? И от людей слышали, что королевич этот груб,<br>
		хитёр и наглый.
	</p>
	<div style="padding-top: 0; height: 510px;">
		<div style="width: 490px; height: 510px; margin: 0 auto;">
			<div style="width: 490px; height: 510px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/knife.jpg" width="100%" height="100%" alt="Хитрый жених">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 19px 0 53px 30px;">
		Хитрый жених
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 53px; line-height: 22px;">
		Царевны подумали-подумали, да и пошли к другому жениху.
	</p>
	<div style="padding-top: 28px; height: 462px;">
		<div style="width: 511px; height: 462px; margin: 0 auto;">
			<div class="image-shadow" style="width: 507px; height: 446px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/road.jpg" width="100%" height="100%" alt="Дорога к жениху">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
		Дорога к жениху
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
		О другом женихе они не слышали ни плохого, ни хорошего. Пришли царевны к нему во дворец. Сидит королевич на<br>
		троне – высокий, красивый да статный. Увидел он, что царевны нищенками одеты, и погнал их прочь от себя. Поняли<br>
		царевны, что не их любил жених, а богатство их, и пошли дальше.
	</p>
	<div style="padding-top: 36px; height: 443px;">
		<div style="width: 572px; height: 443px; margin: 0 auto;">
			<div style="width: 572px; height: 443px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/jenih1.jpg" width="100%" height="100%" alt="Жадный жених">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 50px 54px 63px 0;">
		Жадный жених
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 22px;">
		Идут, а навстречу им два парня: очень бедно одеты, но глаза умные и добрые. И так друг на друга похожи, что не<br>
		отличить. Удивились царевны наши разумности речей странников, и уму, и доброте душевной их. И подумали<br>
		царевны: <span class="tag">Зачем нам искать женихов титулованных, злых да жадных, если есть на свете хорошие, добрые, умные,<br>
		пусть и без титула царского?</span>
	</p>
	<div style="padding-top: 49px; height: 492px;">
		<div style="width: 388px; height: 492px; margin: 0 0 0 145px;;">
			<div style="width: 388px; height: 492px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/jenih2.jpg" width="100%" height="100%" alt="Хороший жених без титула">
			</div>
		</div>
	</div>
	<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 24px 0 54px 0;">
		Хороший жених без титула
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 59px; line-height: 22px;">
		И поняли наши царевны, что полюбили они странников с первого взгляда, и увидели, что чувства взаимны.<br>
		Набрались царевны смелости и первыми в любви объяснились, и предложили стать рядом с ними на престоле,<br>
		чтобы царством править и род продолжить.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 59px; line-height: 22px;">
		Обрадовались странники, сбросили с себя одежду нищенскую, а там одеяния царские. И говорят странники: <span class="tag">Мы<br>
		царевичи-близнецы. Ищем невест, которые полюбят нас  в нищенском одеянии, ибо таково заклятие, наложенное<br>
		на наш род злым колдуном много веков назад. Но сегодня заклятие рухнуло.</span>
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 56px 59px; line-height: 22px;">
		Тут и две свадьбы сыграли, и был пир на весь мир, и царский род продолжился.
	</p>
	<div style="height: 175px;">
		<div style="width: 349px; height: 175px; margin: 0 auto;">
			<div style="width: 349px; height: 175px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/korona.jpg" width="100%" height="100%" alt="Корона">
			</div>
		</div>
	</div>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 106px 0 0 0;">
		Красавицы и чудовище
	</p>
	<div style="width: 960px; height: 80px; padding: 60px 0 38px 0;">
		<div style="width: 300px; height: 80px; float: left;">
			<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 59px;">
				Антоша Мартынов,<br>
				когда ему было 14 лет
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
		Жило-было чудище морское в&nbsp;океане эльфов, и&nbsp;имело оно три жены: одна&nbsp;&mdash; красавица-кикимора, вторая&nbsp;&mdash; прекрасная чёрная дева из&nbsp;Марокко, а&nbsp;третья&nbsp;&mdash; свет души его Алиса. И дрались красавицы частенько за&nbsp;любовь и&nbsp;сердце чудища морского. А&nbsp;дело в&nbsp;том, что имело чудище морское полную власть над океаном эльфов и&nbsp;городом, что стоял в&nbsp;центре океана. И&nbsp;каждая из&nbsp;жён хотела, став первою, получить хоть кусочек этой власти.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
		Коварством, хитростью красавица-кикимора заполучила трон и&nbsp;звание &laquo;Первой леди&raquo; и&nbsp;изгнала двух других жён не&nbsp;только из&nbsp;города, но&nbsp;даже из&nbsp;океана. Причём гнала с&nbsp;позором, бросивши им&nbsp;на&nbsp;прощание всего один медный грош. Девицы плакали, рыдали, но&nbsp;такова судьба была. И&nbsp;решили устроиться к&nbsp;предпринимателю на&nbsp;работу. Платили им&nbsp;мало: всего полсеребра в&nbsp;год, и&nbsp;они еле-еле сводили концы с&nbsp;концами.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
		И вот однажды они увидели кикимору, которая шла мимо их&nbsp;офиса в&nbsp;соседний ювелирный магазин. И&nbsp;злоба, ненависть их&nbsp;охватили. Решили они ей&nbsp;отомстить. Подослали они к&nbsp;ней тут&nbsp;же красавца-юриста со&nbsp;своей фирмы, и&nbsp;влюбилась в&nbsp;него кикимора, хоть и&nbsp;была замужем. А&nbsp;этот красавец-юрист так её&nbsp;очаровал, что она забыла про всё на&nbsp;свете и&nbsp;бросилась к&nbsp;нему в&nbsp;объятия.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
		В&nbsp;это время её&nbsp;муж захотел купить ей&nbsp;кольцо в&nbsp;подарок, но&nbsp;увидел эту картину и&nbsp;разгневался. Увидела кикимора своего мужа и&nbsp;упала в&nbsp;обморок. И&nbsp;случилось это всё на&nbsp;глазах всего города эльфов. Тут прибежали две бывшие жены и&nbsp;закричали: &laquo;Мы&nbsp;всё видели!&raquo;
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
		Чудище морское пнуло юриста, оттолкнуло кикимору и&nbsp;снова взяло в&nbsp;жёны прекрасную чёрную деву из&nbsp;Марокко и&nbsp;свет его души Алису. После чего заключили они мирный договор, что никогда не&nbsp;будут ссориться.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 15px 50px 59px; line-height: 22px;">
		А&nbsp;кикимору даже&nbsp;юрист отверг. Но&nbsp;вымолила кикимора у&nbsp;чудища морского прощение, и&nbsp;женился он&nbsp;на&nbsp;ней снова потому, что продолжал её&nbsp;любить. И&nbsp;жили они все долго и&nbsp;счастливо, потому что никогда друг с&nbsp;другом не&nbsp;воевали.
	</p>
	<div style="width: 980px; overflow: hidden;">
		<div style="width: 50%; float: left;">
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Сочинения по литературе</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Изложения</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _blue _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Эссе</span></a></p>
		</div>
		<div style="width: 50%; float: right;">
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame_skazka; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Волшебные сказки</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Мультфильмы</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $triller; [/exec]" class="b-button _mix-purple-orange _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Фантастический триллер</span></a></p>
		</div>
	</div>
</div>


