<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper">
	<p class="blue size-24 font-verdana bold" style="margin: 2px 0 34px 11px;">
		Сочинение по литературе
	</p>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 67px 0 0 0;">
		Дуэль Павла Петровича и Базарова
	</p>
	<div style="width: 960px; height: 551px; padding: 60px 0 0 0;">
		<div style="width: 411px; height: 551px; float: left; margin: 0 0 0 47px;">
			<div class="image-shadow-0" style="width: 411px; height: 486px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/almaeva.jpg);">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-14 font-verdana bold center" style="margin: 25px 0 0 0; line-height: 16px;">
				Юля Алмаева, 10 класс<br>
				(ныне студентка МГУ)
			</p>
		</div>
		<div style="width: 448px; height: 551px; float: right;">
			<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 11px 0;">
				Дуэль – крайняя форма проявления разницы во<br>
				взглядах.
			</p>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 63px 260px;">
				Игорь Дуэль, писатель
			</p>
			<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 46px 0;">
				Лошадь сказала,<br>
				<span style="margin: 0 0 0 150px">взглянув на</span><br>
				<span style="margin: 0 0 0 240px">верблюда:</span><br>
				«Какая гигантская<br>
				<span style="margin: 0 0 0 150px">лошадь –</span><br>
				<span style="margin: 0 0 0 240px">ублюдок».</span><br>
				<span style="margin: 0 0 0 0">Верблюд же вскричал:</span><br>
				<span style="margin: 0 0 0 150px">«Да лошадь</span><br>
				<span style="margin: 0 0 0 240px">разве ты?!</span><br>
				<span style="margin: 0 0 0 0">Ты просто-напросто –</span><br>
				<span style="margin: 0 0 0 150px">верблюд</span><br>
				<span style="margin: 0 0 0 240px">недоразвитый».</span>
			</p>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 0 259px;">
				Владимир Маяковский
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 33px 0 55px 82px; line-height: 28px;">
		…И стрелялись лошадь с верблюдом, и было смешно, и было дико. Потому что каковы дуэлянты – такова и дуэль.<br>
		Онегин и Ленский, Пушкин и Дантес… Какой накал страстей, искренних чувств, попранной чести! Трагедия.<br>
		Печорин и Грушницкий, Лермонтов и Мартынов… Злая интрига, печальный конец.<br>
		Поручик Ржевский и гусар-девица… Комедия «Гусарская баллада». Фарс.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 88px; line-height: 28px;">
		Базаров и Павел Петрович… Что это, зачем, почему?! Что за нелепица? Ведь они по	человеческой сути своей<br>
		– одинаковые! Абсолютное зеркало друг друга.
	</p>
	<div style="padding-top: 0; height: 442px;">
		<div style="width: 596px; height: 442px; margin: 0 auto;">
			<div class="image-shadow" style="width: 596px; height: 426px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/galstuk.jpg" width="100%" height="100%" alt="Дуэль на галстуках">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 41px 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Позиция Базарова: <span class="blue">«Всё, что не понимаю – отрицаю и уничтожаю. Словом и поступком»</span>.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Позиция Павла Петровича: <span class="blue">«Всех, кого не понимаю – отрицаю и уничтожаю. Пистолетом»</span>.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Это поединок, в котором реально сошлись лошадь с верблюдом. Поработать бы каждому над собой, гармонично<br>
		сочетая труд внешний и внутренний! Да куда тут!..
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Дуэль проиграли оба. Базаров – когда решился взять в руки пистолет. Неправильно	выбрал! Его дуэльное<br>
		оружие – слово, что посильнее пистолета!
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Павел Петрович проиграл, когда вызвал Базарова. Да где это видано, чтобы стрелялись князь с мужиком, князь<br>
		с сыном уездного лекаря?!
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Именно фактом вызова на дуэль, самим поступком этим признал аристократ Павел Петрович – и не усомнился!<br>
		– в нигилисте Базарове РАВНОГО себе. Тут и проиграл! А Базаров ещё и посочувствовал этому <span class="blue">«невольнику чести»</span>.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Сцена дуэли является кульминацией спора Базарова с Павлом Петровичем, который длится на протяжении<br>
		всего романа, отображая нам скрытые черты и чувства	героев, ранее не проглядываемые в произведении.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Их дуэль похожа на революцию: когда один уже не может терпеть поступки второго,	а второй уже перешел все<br>
		грани дозволенного поведения. Говоря словами Ленина, <span class="blue">«низы не хотят, верхи не могут»</span>.
	</p>
	<div style="padding-top: 59px; height: 390px;">
		<div style="width: 544px; height: 390px; margin: 0 auto;">
			<div class="image-shadow" style="width: 544px; height: 376px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/matrix.jpg" width="100%" height="100%" alt="Матрица">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 49px 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Что хотел Тургенев показать фактом этой дуэли? Конфликт класса аристократии с молодым, нарождающимся<br>классом	разночинной интеллигенции? Возможно.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Сам автор описывает дуэль как-то иронично, нелепо, словно соглашаясь с мнением Базарова на ее счёт,<br>
		представляет её как пережиток прошлого, никак не уместного в настоящем.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Да вся беда в том, что полыхнула от этого базарного конфликта («Базаров»- не даром «говорящая» фамилия;<br>
		где бы ни появился – везде базар, вокзал, революция) и тысяч подобных конфликтов, случившихся в тот момент, как от<br>
		спускового курка пистолета, всем дуэлям ДУЭЛЬ. Полыхнула в полмира и смела и дуэлянтов, и секундантов, и<br>
		соглядатаев.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		…И мечется в огне и дыму гражданской войны <span class="blue">Юрий Живаго</span> (доктор Базаров – доктор Живаго – случайное ли<br>
		совпадение?), пытаясь защитить и спасти любимых, друзей, страну… <span class="blue">«Авва Отче! Чашу эту мимо пронеси!»</span>
	</p>
	<div style="padding-top: 23px; height: 400px;">
		<div style="width: 596px; height: 400px; margin: 0 auto;">
			<div class="image-shadow" style="width: 596px; height: 334px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/vsadnik.jpg" width="100%" height="100%" alt="Всадники">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-14 font-arial bold center" style="margin: 25px 0 0 0; line-height: 16px;">
				Всадники Апокалипсиса
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 23px 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Остановить бы дуэлянтов, но поздно, поздно, поздно… <span class="blue">«И неотвратим конец пути»</span>. Стрелялись они –<br>
		проиграла Россия.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		И какими мелкими и ничтожными кажутся на фоне этой ЛИЧНОСТИ аристократа-интеллигента (ВНУКА!) –<br>
		доктора Живаго – и конфликт <span class="blue">«отцов и детей»</span>, и личности обоих	горе-дуэлянтов!
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 47px; text-indent: 70px; line-height: 22px;">
		Возвращаясь к главным персонажам – Базарову и Павлу Петровичу, – закончить хочется опять-таки словами<br>
		Маяковского:
	</p>
	<p class="blue size-14 font-verdana line-height-23" style="margin: 0 0 30px 447px; line-height: 17px;">
		И знал  лишь<br>
		<span style="margin: 0 0 0 68px">бог седобородый,</span><br>
		<span style="margin: 0 0 0 15px">что это –</span><br>
		<span style="margin: 0 0 0 68px">животные</span><br>
		<span style="margin: 0 0 0 120px">разной породы.</span><br>
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
		Где одно из слов хотелось бы выделить особо.
		<div style="width: 289px; height: 179px; float: right; margin: -21px 86px 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/dinozavr.jpg" width="100%" height="100%" alt="Динозавры">
		</div>
	</p>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 314px 0 9px 0;">
		Петербург Достоевского
	</p>
	<div style="width: 960px; height: 80px; padding: 60px 0 38px 0;">
		<div style="width: 300px; height: 80px; float: left;">
			<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 39px;">
				Юля Алмаева,<br>
				11-й класс,<br>
				(ныне студентка МГУ)
			</p>
		</div>
		<div style="width: 389px; height: 80px; float: right; margin: 0 0 0 0;">
			<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 0;">
				Узнавай же скорее декабрьский денёк,<br>
				Где к зловещему дёгтю подмешан желток.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 22px 0 0; text-align: right; line-height: 17px;">
				Осип Мандельштам
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 26px 0 21px 39px; text-indent: 70px; line-height: 22px;">
		Петербург Достоевского жёлт.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; text-indent: 70px; line-height: 22px;">
		Нет-нет, это не золотисто-царственный Петербург царей и декабристов, Онегина и Татьяны, высшего<br>
		света, так любимый и воспетый Пушкиным. Не золотисто-искрящийся, как у Игоря Северянина (<span class="blue tag">Ананасы в<br>
		шампанском!</span> – кто не помнит?). Нет! Петербург Достоевского уныло-жёлт, грязно-жёлт, беспросветно жёлт, как<br>
		простыня <span class="tag">жёлтой</span> бульварной газеты, перемалывающей кости и души.
	</p>
	<div style="padding-top: 21px; height: 440px;">
		<div style="width: 696px; height: 440px; margin: 0 auto;">
			<div class="image-shadow" style="width: 696px; height: 374px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/dali.jpg" width="100%" height="100%" alt="Сальвадор Дали. Окрестности города">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-14 font-verdana bold center" style="margin: 23px 0 0 0; line-height: 16px;">
				Сальвадор Дали. <span class="tag">Окрестности города</span>
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 17px 0 21px 39px; text-indent: 75px; line-height: 22px;">
		Мир бесов – раскольниковых и свидригайловых, проституток и убийц, униженных и оскорблённых<br>
		идиотов, да и просто духовно бедных людей – он жёлт отчаянной тоской безумия.
	</p>
	<div style="padding-top: 54px; height: 520px;">
		<div style="width: 636px; height: 520px; margin: 0 auto;">
			<div class="image-shadow" style="width: 636px; height: 465px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/dali1.jpg" width="100%" height="100%" alt="Сальвадор Дали. Бесы">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-14 font-verdana bold center" style="margin: 23px 0 0 0; line-height: 16px;">
				Сальвадор Дали. Бесы.
			</p>
		</div>
	</div>
	<p class="dark-blue size-14 font-verdana" style="margin: 35px 0 21px 39px; text-indent: 70px; line-height: 22px;">
		Здесь творятся жестокие преступления без наказания и не менее жестокие наказания за малейшую вину, а<br>
		иногда и вовсе без вины.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; text-indent: 70px; line-height: 22px;">
		Именно этот горячечно-жёлтый мир породил идею о <span class="blue tag">тварях дрожащих и право имеющих</span> –<br>
		вот уж воистину <span class="blue tag">великую</span> идею! Самые кровавые преступления, от которых	содрагался мир, – будь то Холокост<br>
		или Архипелаг Гулаг – всегда прикрывались "великой идеей". И рождаются подобные идеи не в Петербурге, не в<br>
		Германии. Их территория – душа человека. А душе этой – чернее чёрного! – легче и проще убить и отобрать, чем<br>
		проявить хотя бы малый труд этой самой души – внешний или внутренний.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; text-indent: 70px; line-height: 22px;">
		Ни одна "великая идея" не стоит слезинки ребёнка! Именно этому учил великий	гуманист Фёдор<br>
		Михайлович Достоевский. Учил здесь, в Петербурге. Ведь город - это не только величайшее архитектурное<br>
		наследие. Город – это люди, которые существуют в нём, со всеми их проблемами, страданиями, радостями и<br>
		умыслами. Так как же видит Достоевский людей в нём?
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 7px 39px; text-indent: 70px; line-height: 22px;">
		Писатель в полной мере изучил внутреннее содержание, скрытое в тени	искрящихся фасадов, познал его<br>
		безумие, похоть, алчность, аморальность и злобу. Петербург Достоевского подобен сумасшедшему дому, где<br>
		достигли крайней точки безумия все, включая лекарей.
	</p>
	<div style="width: 960px; height: 550px; padding: 116px 0 50px 0;">
		<div style="width: 440px; height: 550px; float: left; padding-left: 24px;">
			<p class="dark-blue size-14 font-verdana" style="margin: 75px 0 21px 15px; text-indent: 70px; line-height: 22px;">
				Уникальны были мысли Гоголя:<br>
				<span class="tag">Санкт-Петербург двулик – под искрящейся<br>
				роскошью томится точно обратный его красоте<br>
				ужас и тлен, разложение, покрытое красивой<br>
				оболочкой</span>.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 70px; line-height: 22px;">
				Такие же мрачные, угрюмые описания<br>
				Петербурга можно отметить и в стихах Бориса<br>
				Пастернака:
			</p>
			<p class="blue size-14 font-verdana italic center" style="margin: 0 43px 62px 0; line-height: 22px;">
				Тучи, как волосы, встали дыбом<br>
				Над дымной, бледной Невой.<br>
				Кто ты? О, кто ты? Кто бы ты ни был,<br>
				Город – вымысел твой.
			</p>
		</div>
		<div style="width: 373px; height: 550px; float: right; margin: 0 123px 0 0;">
			<div class="image-shadow" style="width: 373px; height: 506px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/krik.jpg" width="100%" height="100%" alt="Э. Мунк. Крик">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
			<p class="dark-blue size-14 font-verdana bold center line-height-23" style="margin: 16px 0 22px 0;">
				Э. Мунк. <span class="tag">Крик</span>.
			</p>
		</div>
	</div>
	<div style="width: 980px; overflow: hidden;">
		<div style="width: 50%; float: left;">
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Сочинения по литературе</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Изложения</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _blue _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Эссе</span></a></p>
		</div>
		<div style="width: 50%; float: right;">
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame_skazka; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Волшебные сказки</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Мультфильмы</span></a></p>
			<p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $triller; [/exec]" class="b-button _mix-purple-orange _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Фантастический триллер</span></a></p>
		</div>
	</div>
</div>









