<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ, ТЕЛЕФОН</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper">
    <p class="light-blue size-24 font-verdana bold center" style="margin: 30px 0 0 0;">
        Кошмар в Монте-Карло
    </p>
    <div style="width: 960px; height: 80px; padding: 60px 0 38px 0;">
        <div style="width: 300px; height: 80px; float: left;">
            <p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 59px;">
                Марат,<br>
                6-й класс
            </p>
        </div>
    </div>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Я&nbsp;проснулся за&nbsp;час до&nbsp;рассвета в&nbsp;холодном поту в&nbsp;своём большом загородном доме. Я&nbsp;лежал у&nbsp;себя на&nbsp;постели. Одна подушка валялась на&nbsp;полу, а&nbsp;та, что поменьше&nbsp;&mdash; в&nbsp;ногах. Скомканное одеяло громоздилось рядом, не&nbsp;накрывая меня.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Этот жуткий и&nbsp;пугающий кошмар, где я&nbsp;на&nbsp;своём &laquo;Феррари&raquo; лечу в&nbsp;пропасть, не&nbsp;давал мне уснуть уже полгода. Невыносимая жажда мучила меня, как хищник жертву. Пришлось отправиться за&nbsp;водой на&nbsp;кухню.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Проходя по&nbsp;коридору, я&nbsp;обратил внимание на&nbsp;открытое окно. Из&nbsp;него открывался прекраснейший вид на&nbsp;озарённую луной бухту. Луна казалась мне больше и&nbsp;красивее обычного. Миновав гостиную, где стоял бильярдный стол, я&nbsp;очутился рядом с&nbsp;кухней и&nbsp;вздрогнул.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Из-за закрытой двери отчётливо слышалось жужжание открытого холодильника и&nbsp;хлопание дверцами. А&nbsp;ведь я&nbsp;был дома один!
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Вооружившись кием, я&nbsp;начал потихоньку открывать дверь. Моё сердце билось так сильно, что я&nbsp;боялся его стуком вспугнуть&nbsp;то, что находилось за&nbsp;дверью.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Открыв дверь, я&nbsp;увидел нечто, походившее больше на&nbsp;шар, чем на&nbsp;преступника. Из-за темноты я&nbsp;не&nbsp;мог толком разглядеть это существо. Все шкафы на&nbsp;кухне были открыты, кухонная техника сломана, а&nbsp;дверцы от&nbsp;холодильника и&nbsp;в&nbsp;помине не&nbsp;было. Жуткий&nbsp;и, как мне тогда показалось, очень долгий, протяжный скрип нарушил ночную тишь. &laquo;Ну, всё!&nbsp;&mdash; подумал&nbsp;я. &mdash;&nbsp;Мне конец!&raquo; Шарообразное Нечто обернулось.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Я&nbsp;отчетливо увидел его бездонные глаза. В&nbsp;них застыл панический страх и&nbsp;ужас. А&nbsp;ещё в&nbsp;них была злоба и&nbsp;ненависть. Я&nbsp;замер в&nbsp;ожидании. Теперь, когда мои глаза привыкли к&nbsp;темноте, мне удалось разглядеть его получше: маленький изуродованный рот, большие светящиеся глаза и&nbsp;два непонятных отростка вместо рук.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Прицелившись, я&nbsp;нанёс точный колющий удар кием. Существо взвизгнуло, словно поросёнок, уменьшилось раза в&nbsp;четыре и&nbsp;устремилось к&nbsp;раковине. Я&nbsp;попытался нанести ещё один удар и&nbsp;даже попал&nbsp;бы, но&nbsp;существо растворилось во&nbsp;мраке сливной трубы.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Убегая, напоследок существо выпустило какой-то пар. В&nbsp;глазах у&nbsp;меня помутнело, и&nbsp;после нескольких попыток сохранить равновесие я&nbsp;упал и&nbsp;потерял сознание.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 21px 59px; line-height: 22px;">
        Очнулся я&nbsp;уже на&nbsp;рассвете. На&nbsp;лбу и&nbsp;подбородке запеклась кровь. Звонить в&nbsp;полицию? Глупо. Что я&nbsp;им&nbsp;скажу? Что на&nbsp;меня напали инопланетяне? Призрак в&nbsp;летнюю ночь? Они&nbsp;же подумают, что я&nbsp;сумасшедший.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 15px 50px 59px; line-height: 22px;">
        Нет уж! Пусть всё это останется в&nbsp;тайне. Но&nbsp;теперь каждую ночь вместо кошмара с&nbsp;&laquo;Феррари&raquo; мне снится ОНО!!!
    </p>
    <div style="width: 980px; overflow: hidden;">
        <div style="width: 50%; float: left;">
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Сочинения по литературе</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" class="b-button _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Изложения</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $esse; [/exec]" class="b-button _blue _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Эссе</span></a></p>
        </div>
        <div style="width: 50%; float: right;">
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame_skazka; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Волшебные сказки</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" class="b-button _mix-green-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Мультфильмы</span></a></p>
            <p class="size-30 center" style="line-height: 36px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $triller; [/exec]" class="b-button _mix-purple-orange _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Фантастический триллер</span></a></p>
        </div>
    </div>
</div>