<div class="div-wrapper">
  <p class="red bold center size-36 font-verdana" style="margin: 10px 0 5px 0; line-height: 42px;">
    Чудо будет!
  </p>
  <p class="light-blue bold center size-18 font-verdana" style="margin: 0 0 51px 0;">
    Подробности <span class="red italic">NL</span>&#8209;обучения
  </p>
  <div class="clearfix" style="width: 960px; padding: 0 0 0 0;">
    <div class="clearfix-hook" style="width: 630px;float: left; margin: 0 0 0 10px;">
      <p class="blue bold size-24 font-verdana" style="margin: 0 0 21px 0;">
        Не<span class="red">й</span>ролингвистика:
      </p>
      <p class="blue bold size-20 font-verdana" style="margin: 0 0 21px 0;">
        способность мозга к&nbsp;молниеносному обучению
      </p>
      <p class="blue bold size-20 font-verdana" style="margin: 0 0 21px 200px;">
        <span style="color: rgb(18, 184, 13);">Везде,</span>
        <span class="red" style="margin-left: 60px;">всегда,</span>
        <span class="light-blue" style="margin-left: 120px;">всему!</span>
      </p>
      <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Никакой зубрёжки. Знания каким&#8209;то волшебным образом оказываются в&nbsp;голове сами, и&nbsp;удивлению вашему нет предела.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        В&nbsp;основе&nbsp;– природная способность мозга к&nbsp;молниеносному обучению...
      </p> -->
      <p class="blue size-12 font-verdana" style="margin: 0 0 0; line-height: 22px;">
        Пожалуйста, не&nbsp;путайте нейролингвистику с&nbsp;NLP (нейролингвистическим программированием)!
      </p>
    </div>
    <div class="clearfix-hook" style="width: 300px; float: right; margin: 0 0 0 0;">
      <div class="image-shadow">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/butterfly2.jpg" width="100%" alt="Бабочка">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="blue bold center size-36 font-verdana" style="margin: 68px 0 5px 0; line-height: 42px;">
    Он лентяй или болен?
  </p>
  <p class="dark-blue center size-18 font-verdana" style="margin: 0 0 51px 0;">
    Коррекция проблем обучения
  </p>
  <div style="width: 980px; height: 315px;">
    <div style="width: 522px; height: 315px; float: left; margin: 0 0 0 1px; position: relative;">
      <div class="image-shadow" style="width: 522px; height: 299px; border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy-lent.jpg" width="522" height="299" alt="Плачущий мальчик">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 410px; height: 315px; float: right; margin: 0 30px 0 0">
      <p class="yellow size-20 center font-verdana bold" style="margin: 70px 0 21px 0; line-height: 31px;">
        О дислексии,<br>
        дисграфии,<br>
        <span class="tag">школьном</span> неврозе,<br>
        низкой концентрации внимания<br>
        и других проблемах<br>
        обучения
      </p>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 55px 0 24px 8px; line-height: 17px;">
    <span class="yellow size-20 bold tag">Мой меч – твоя голова с плеч!</span> – этот подход в данном случае неприемлем.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 12px 0 26px 8px; line-height: 17px;">
    Давайте разберёмся в проблеме, после чего наилучший способ её решения сам <span class="tag">прыгнет</span> вам в руки – в виде какой-либо<br>
    из наших технологий обучения.
  </p>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 50px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="blue bold center size-36 font-verdana" style="margin: 68px 0 5px 0; line-height: 42px;">
    <span class="tag">Врождённая грамотность</span>
  </p>
  <p class="dark-blue center size-18 font-verdana" style="margin: 0 0 51px 0;">
    Подробности курса
  </p>
  <div class="clearfix" style="width: 960px; padding: 0 0 0 0;">
    <div class="clearfix-hook" style="width: 630px; float: left; margin: 0 0 0 10px;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Мы&nbsp;берём за&nbsp;основу существующий в&nbsp;реальной жизни феномен&nbsp;– врождённую грамотность.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Речь идёт о&nbsp;людях, зачастую весьма поверхностно знающих правила, но&nbsp;тем не    менее практически не&nbsp;делающих ошибок при письме. Они обладают <span class="blue bold">врождённой грамотностью</span>.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Что же это за феномен такой?
      </p>
    </div>
    <div class="clearfix-hook" style="width: 300px; float: right; margin: 0 0 0 0;">
      <div class="image-shadow">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/wall.jpg" width="100%" alt="Грамотность. Китайская стена?..">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
        Грамотность. Китайская стена?..
      </p>
    </div>
  </div>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 60px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="light-blue bold size-36 font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; line-height: 52px;">
    Безупречный английский
  </p>
  <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
    <span class="light-blue italic">NL</span>&#8209;обучение
  </p>
  <div class="clearfix" style="width: 980px; margin: 0 0 0 0; padding: 44px 0 0;">
    <div class="clearfix-hook" style="width: 300px; float: left; margin: 0 0 0 10px; position: relative;">
      <div class="image-shadow" style="border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/buran.jpg" width="100%" alt="Космический корабль">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div class="clearfix-hook" style="width: 630px; float: right; margin: 0 0 0 0">
      <p class="red size-26 font-arial bold" style="margin: 0 0 21px 0; line-height: 36px;">
        Ультрасовременный мегакурс экстра&#8209;класса
      </p>
      <p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
        Академическая версия <span class="light-blue bold">МОЛНИЕНОСНО</span>. Безупречная грамматика. Много лексики. Богатая практика.
      </p>
      <p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="dark-blue normal">Вот что сможет новичок уже на&nbsp;первом занятии...</span>
      </p>
      <p class="size-18 center" style="line-height: 30px; margin: 0 0 37px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_vertical; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
    </div>
  </div>
</div>