<div class="div-wrapper">
    <p class="blue font-verdana size-30 bold center" style="margin: 17px 0 40px 0;">
        Деревянный
    </p>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d1.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d2.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d3.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d4.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d5.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d6.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/d7.jpeg" width="100%" height="100%" alt="">
    </div>
    <p class="blue font-verdana size-30 bold center" style="margin: 60px 0 40px 0;">
        Оловянный
    </p>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/o1.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/o2.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/o3.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/o4.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/o5.JPG" width="100%" height="100%" alt="">
    </div>
    <p class="blue font-verdana size-30 bold center" style="margin: 60px 0 40px 0;">
        Румяный
    </p>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r1.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r2.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r3.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r4.png" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r5.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r6.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r7.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/r8.jpeg" width="100%" height="100%" alt="">
    </div>
    <p class="blue font-verdana size-30 bold center" style="margin: 60px 0 40px 0;">
        Стеклянный
    </p>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s1.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s2.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s3.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s4.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s5.jpg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s6.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s7.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s8.jpeg" width="100%" height="100%" alt="">
    </div>
    <div class="image-shadow center" style="width: 522px; border: 2px solid #AAA8A8; margin: 0 auto 20px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3/s9.jpeg" width="100%" height="100%" alt="">
    </div>
</div>