<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: _normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="_yellow">К НАВИГАЦИИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="_yellow">СКИДКИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="_yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="_yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding">
  <div class="b-unit" style="margin: 9px 0 35px;">
    <p class="_yellow font-sans-font _size-18 _center" style="margin: 0 0 12px 0; padding: 20px 0 0; font-size: 18px;">
      Авторская школа-студия профессора Ольги Олеговны Веровенко
    </p>
    <div style="width: 980px; height: 420px; padding: 25px 0 3px 0;">
      <div style="width: 411px; height: 420px; float: left; padding-right: 0px; margin: 0 0 0 10px;">
        <p class="_light-blue font-sans-font _center" style="margin: 0 0 20px 0; font-size: 28px;">
          <span class="_tag">Врождённая грамотность</span>
        </p>
        <p class="_yellow font-sans-font" style="margin: 26px 0 27px 6px; line-height: 38px; font-size: 30px;">
          Всего 4-12 занятий <span class="_normal">–</span><br>
          <span style="margin: 0 0 0 175px">и ошибок нет!</span>
        </p>
        <p class="_blue _size-18 _verdana _center" style="margin: 0 0 23px 0; line-height: 27px;">
          Безупречная грамотность.<br>
          Чтение, речь, литература.<br>
          Коррекция дислексии, дисграфии.<br>
          Сочинения, изложения, творчество.<br>
          Поддержка психолога.<br>
          ГИА, ЕГЭ.
        </p>
        <p class="_blue _center _size-14 _verdana _bold" style="margin: 0 0 0 0; line-height: 17px;">
          Крутите вниз до конца!
        </p>
      </div>
      <div style="width: 540px; height: 420px; float: right; margin: 0 19px 0 0; position: relative;">
        <div class="image-shadow" style="width: 540px; height: 373px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/girl5.jpg" width="540" height="373" alt="Счастливая девочка">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
    </div>
    <p class="_yellow _bold size-36 _verdana _center" style="margin: 0 0 13px 0; padding: 0 0 50px;">
      ОБУЧЕНИЕ ЭКСТРА-КЛАССА
    </p>
  </div>
  <div class="b-unit" style="margin: 0 0 35px;">
    <p class="_light-blue _size-24 _verdana _bold _center" style="margin: 35px 0 36px 0; padding: 30px 0 0;">
      Эффективность
    </p>
    <p class="_blue _size-14 _bold _verdana" style="margin: 0 0 34px 30px; line-height: 17px;">
      <span class="_tag">Врождённая грамотность</span> <span class="_red">в 15-20 раз</span> <span class="_blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
      Вы достигнете желаемого <span class="_red">в 15-20 раз</span> быстрее, легче, проще.
    </p>
    <div style="width: 980px; height: 400px; margin: 0;">
      <div id="load-video7" class="load-video" style="width: 640px; height: 400px; float: left; margin: 0 15px 0 10px; position: relative;">
      </div>
      <div style="width: 290px; height: 400px; float: right; margin: 0 0 0 0">
        <ul class="_grey _size-14 _verdana _bold" style="margin: 120px 0 0 0; line-height: 38px;">
          <li><span class="_blue">Зубрёжки правил нет.</span></li>
          <li><span class="_blue">Домашние задания минимальны.</span></li>
          <li><span class="_blue">Нагрузки посильны.</span></li>
        </ul>
      </div>
    </div>
    <p class="_yellow _bold _size-24 _verdana _center" style="margin: 0 0 56px 0;">
      Магия, зомбирование и ремень в обучении не применяются!
    </p>
    <p class="_light-blue _bold _size-24 _verdana _center" style="margin: 0 0 22px 0;">
      Уникальность
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
      <span class="_blue _bold _tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России и за рубежом.
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 21px 21px; line-height: 22px;">
      В&nbsp;области нейролингвистики&nbsp;– современной науки об усвоении информации человеческим мозгом&nbsp;– это изобретение первое и&nbsp;пока единственное в&nbsp;мире</span>.
    </p>
    <p class="_light-blue _size-14 _verdana _bold" style="margin: 0 0 46px 21px; line-height: 22px;">
      Международная экспертиза РСТ подтвердила – <span class="_red">ничего подобного в мире нет!</span>
    </p>
    <div style="width: 980px; height: 500px; padding-top: 18px;">
      <div style="width: 319px; height: 468px; float: left; margin: 0 50px 25px 150px;">
        <div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1.jpg" width="319" height="452" alt="Патент Германия"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 127px;">
        </div>
      </div>
      <div style="width: 319px; height: 468px; float: right; margin: 0 138px 25px 0;">
        <div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2.jpg" width="319" height="452" alt="Патент Россия"></a>
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <p class="_dark-blue _size-14 _arial _bold _center" style="margin: 31px 0 0 0; line-height: 16px;">
        Российский и международный патенты на изобретения.<br>
        <span class="_light-blue">Оригиналы патентов вы увидите, когда придете.</span>
      </p>
    </div>
    <p class="_light-blue _size-24 _verdana _bold _center" style="margin: 100px 0 29px 0;">
      Гарантии качества
    </p>
    <p class="_blue _size-14 _verdana _bold _center" style="margin: 0 0 0 14px; line-height: 22px;">
      Высочайшее качество обучения подтверждено тремя Знаками Качества Госстандарта РФ с категорией<br>
      <span class="_red _tag">КАЧЕСТВО НАИВЫСШЕЕ</span>
    </p>
    <div style="width: 980px; height: 433px;">
      <div style="width: 430px; height: 313px; float: left; margin: 99px 0 10px 92px;">
        <div class="image-shadow in" style="width: 430px; height: 297px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1.jpg" width="430" height="297" alt="Сертификат"></a>
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 278px; height: 407px; float: right; margin: 0 84px 10px 0;">
        <div class="image-shadow in" style="width: 278px; height: 391px; cursor: pointer;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2.jpg" width="278" height="391" alt="Сертификат"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 139px; background-position: -181px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 139px;">
        </div>
      </div>
    </div>
    <p class="_blue _size-14 _arial _bold _center" style="margin: -10px 0 0 0; padding: 0 0 0; line-height: 16px;">
      Оригиналы сертификатов вы увидите, когда придете.
    </p>
    <p class="_dark-blue _size-14 _arial _bold _center" style="margin: 15px 0 3px 0;">
      Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="_tag">Качество наивысшее</span>.
    </p>
    <p class="_yellow _size-14 _arial _bold _center" style="margin: 0 0 0 0; padding: 0 0 40px; line-height: 16px;">
      У нас таких три!<br>
    </p>
  </div>
  <div class="b-unit div-shadow_first" style="margin: 0 0 35px 0;">
    <p class="_red _size-48 _verdana _bold _center" style="margin: 0 0 3px 0; padding-top: 34px;">
      Учебники
    </p>
    <div style="width: 980px; height: 440px; padding: 50px 0 40px 0;">
      <div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
        <div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/textbooks.jpg" width="399" height="398" alt="Учебники">
        </div>
        <p class="_blue _bold _size-14 _arial _center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
      </div>
      <div style="width: 449px; height: 440px; float: right; padding-right: 0px">
        <p class="_blue _size-26 _verdana" style="margin: 130px 20px 22px 0; line-height: 30px;">
          Великолепного качества учебники и&nbsp;материалы включены в&nbsp;стоимость и&nbsp;останутся с&nbsp;вами после конца обучения.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit div-shadow_first" style="margin: 0 0 35px 0;">
    <p class="_red _size-48 _verdana _bold _center" style="margin: 0 0 3px 0; padding-top: 34px;">
      Отзывы, благодарности, награды
    </p>
    <div style="width: 960px; height: 180px; padding: 50px 0 0; margin: 0 10px;">
      <div style="width: 320px; height: 180px; float: left; margin: 0;">
        <div class="image-shadow" style="width: 236px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sobyanin.jpg" width="236" height="180" alt="Собянин">
        </div>
      </div>
      <div style="width: 320px; height: 180px; float: left; padding-right: 0px">
        <div class="image-shadow" style="width: 300px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/luzhkov.jpg" width="300" height="180" alt="Лужков">
        </div>
      </div>
      <div style="width: 320px; height: 180px; float: right; padding-right: 0px">
        <div class="image-shadow in" style="width: 201px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer; margin: 0 auto;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom-big.jpg">
            <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom.jpg" width="201" height="180" alt="Диплом">
          </a>
        </div>
      </div>
    </div>
    <p class="_red _size-48 _verdana _bold _center" style="margin: 0 0 3px 0; padding: 40px 0 60px;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" class="_normal" style="text-decoration: none; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="_yellow _bold" style="border-bottom: 1px solid #4A4A4A;">Перейти на страницу отзывов</span></a>
    </p>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="vrozhdennaya"></a></p>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 23px 0; padding: 45px 0 0 0; line-height: 59px;">
      <span class="_tag">Врождённая грамотность</span> <span class="_normal">–</span><br>бренд навсегда!
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 41px 0; line-height: 26px;">
      Взрослым и школьникам 7-11 классов
    </p>
    <div style="width: 980px; height: 739px; padding: 0 0 21px 0;">
      <div style="width: 350px; height: 739px; float: left; margin: 0 0 0 10px; position: relative; z-index: 2;">
        <p class="_red _size-26 _arial _bold" style="margin: 0 0 21px 0; line-height: 36px;">
          Ультрасовременный<br>мегакурс экстра-класса
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 21px 0;  line-height: 22px;">
          Школьникам начиная с 7-го класса, взрослым.<br>
          Начинающим и продвинутым.
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 21px 0;  line-height: 22px;">
          Академическая версия <span class="_light-blue _bold">МОЛНИЕНОСНО</span>. Безупречная грамотность. Великолепный русский язык.
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 0 0;  line-height: 22px;">
          <span class="_dark-blue _normal">Вот что вы&nbsp;сможете уже на&nbsp;первом занятии:</span>
        </p>
        <ul class="_grey _size-14 _arial" style="margin: 0px 20px 22px; line-height: 21px;">
          <li><span class="_blue">Легко выполнить 200-300 довольно сложных заданий (орфография + синтаксис). На&nbsp;третьем&nbsp;– до&nbsp;700. Столько делают в&nbsp;хорошей школе за&nbsp;год.<br>Сравните: год учебы&nbsp;– и&nbsp;одно занятие!</span></li>
          <li><span class="_blue">Освоить, разобрать и&nbsp;повторить 20-30 разнообразных тем.</span></li>
          <li><span class="_blue">Обработать до&nbsp;10&nbsp;страниц тестовых заданий.</span></li>
          <li><span class="_blue">Безошибочно написать сложный диктант.</span></li>
          <li><span class="_blue">Освоить теорию языка (10-15&nbsp;тем).</span></li>
        </ul>
        <p class="_light-blue _bold _size-14 _arial" style="margin: 0 0 21px 0; line-height: 22px;">
          Зубрёжки правил нет. Домашние задания минимальны.
        </p>
        <p class="_dark-blue _size-14 _arial" style="margin: 0 0 21px 0; line-height: 22px;">
          Очень хорошо идут занятия в&nbsp;семейной мини-группе. Слабые участники быстро подтягиваются за&nbsp;более сильными.<br>
          Длительность обучения:<br>
          <span class="_blue _bold">12-24 занятий по 3 ак. часа (36-72 ак. часов)</span>.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_yellow _bold">Блистательный конечный результат мы<br>
          вам гарантируем.</span>
        </p>
      </div>
      <div style="width: 591px; height: 739px; float: right; margin: 0 20px 0 0;">
        <div style="width: 591px; height: 406px; float: right; margin: 0 0 25px 0;">
          <div style="width: 274px; height: 406px; float: left; margin: 0 0 0 0;">
            <div class="in" style="width: 274px; height: 406px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2.jpg" width="274" height="406" alt="Ключи к занятиям"></a>
            </div>
          </div>
          <div style="width: 274px; height: 406px; float: right; margin: 0 0 0 0;">
            <div class="in" style="width: 274px; height: 406px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3.jpg" width="274" height="406" alt="Учебник"></a>
            </div>
          </div>
        </div>
        <p class="_dark-blue _size-14 _arial _bold _center" style="margin: 22px 0 42px 0; line-height: 22px;">
          Уровень 2. Учебник и ключи к занятиям.<br>
          <span class="_blue">Для увеличения кликните по картинке.</span>
        </p>
        <div>
          <div style="float: left; width: 290px; margin: 0 0 0 10px;">
            <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0px; line-height: 22px;">
              Школьники 2-6 классов берут курс <span class="_tag _red _bold">Чудо будет!</span> (<span class="_tag _blue">Врождённая грамотность для детей</span>). Взрослым и&nbsp;старшеклассникам рекомендуем также курс-новинку <span class="_tag _blue">Практическая грамотность для жизни</span> (см. ниже).
            </p>
          </div>
          <div style="float: right; width: 290px;">
            <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0px; line-height: 22px;">
              <span class="_blue _bold">Условия приёма:</span><br>
              <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="_dark-blue">концентрация внимания от 120</span></a><br>
              (подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="_dark-blue">здесь</span></a>).<br>
              Если концентрация недостаточна, вам будет предложен <span class="_tag">Волшебный сеанс</span> (см. ниже), либо курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="_normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px 10px; margin: 0 -30px 0 -30px; position: relative;"><span class="_tag _red _bold">Чудо будет!</span></a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="resultat"></a></p>
    <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 17px;">
      За период обучения количество ошибок в письменных работах снижается <span class="_red">до 100 раз</span> от исходного уровня.
    </p>
    <p class="_red _size-14 _verdana _bold _lh-20" style="margin: 0 0 21px 10px;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" class="_normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="_red _bold">Сравните результаты <span class="_tag">до</span> и <span class="_tag">через 12 занятий</span>.</span></a>
    </p>
    <p class="_red _size-14 _verdana _bold _lh-20" style="margin: 0 0 0 10px; padding: 0 0 40px 0;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="_normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="_yellow _bold">Читайте подробную статью автора о секретах врожденной грамотности.</span></a>
    </p>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="chudo-budet"></a></p>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _size-48 _verdana _bold _center" style="margin: 0 0 3px; padding-top: 34px;">
      Чудо будет!
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 41px 0; line-height: 26px;">
      <span class="_tag">Врождённая грамотность</span> для детей
    </p>
    <div style="width: 980px; height: 889px;">
      <div style="width: 484px; height: 889px; float: right; margin: 0 21px 0 0; position: relative;">
        <div class="image-shadow" style="width: 484px; height: 581px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy9.jpg" width="484" height="581" alt="Мальчик с шариками">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
        <p class="_yellow _size-14 _bold _verdana" style="margin: 26px 0 0 0; line-height: 22px;">
          Курс позволяет одновременно, без потерь времени и сил,<br>
          корректировать любые проблемы и обучать грамотности.
        </p>
      </div>
      <div style="width: 450px; height: 889px; float: left; margin: 0 0 0 10px">
        <p class="_yellow size-16 _bold _verdana" style="margin: 0 0 32px 38px; line-height: 20px;">
          Полностью игровой – от начала до конца! –<br>
          мегакурс экстра-класса.
        </p>
        <p class="_blue _size-14 _bold _verdana _lh-20" style="margin: 0 0 10px 85px">
          Не надо быть семи пядей во лбу.
        </p>
        <p class="_blue _size-14 _bold _verdana _lh-20" style="margin: 0 0 10px 85px;">
          Ни во что не надо вникать.
        </p>
        <p class="_blue _size-14 _bold _verdana _lh-20" style="margin: 0 0 17px 85px;">
          Ничего не надо зубрить.
        </p>
        <p class="_light-blue _size-14 _bold _verdana" style="margin: 32px 0 24px 85px; line-height: 20px;">
          Цвет,<br>
          <span class="_red" style="margin-left: 36px;">свет,</span><br>
          <span style="color: rgb(18, 184, 13); margin-left: 76px;">игра –</span><br>
          <span style="color: rgb(163, 26, 163);  margin-left: 121px;">вот его суть!</span>
        </p>
        <p class="_blue _size-14 _bold _verdana _center" style="margin: 0 0 41px 3px; line-height: 22px;">
          Лёгкость обучения<br>
          и молниеносный успех!
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 0 10px; line-height: 22px;">
          В программе всё, о чём вам мечталось:
        </p>
        <ul class="_grey _size-14 _arial" style="margin: 0px 0 21px 31px; line-height: 21px;">
          <li><span class="_blue">Безупречная грамотность. Великолепный русский язык.</span></li>
          <li><span class="_blue">Чтение, речь.</span></li>
          <li><span class="_blue">Сочинения, изложения.</span></li>
          <li><span class="_blue">Творческие диктанты.</span></li>
          <li><span class="_blue">Дивной красоты творческие работы по&nbsp;русскому, английскому, литературе.</span></li>
          <li><span class="_blue">Коррекция дислексии, дисграфии, <span class="_tag">школьного</span> невроза.</span></li>
          <li><span class="_blue">Повышение концентрации внимания.</span></li>
          <li><span class="_blue">Поддержка психолога.</span></li>
        </ul>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          И всё это <span class="_normal">–</span> в рамках единого игрового курса!
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 10px;">
          Длительность обучения: 4-12 сеансов по 3 ак. часа<br>(12-36 ак. часов).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          Программа строится <span class="_blue _bold">индивидуально</span> с&nbsp;учётом возраста,<br>
          потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          Обучение <span class="_red">индивидуальное</span> с активным участием<br>
          родителей.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 23px 10px; line-height: 17px;">
          Автор технологии и педагог –<br>
          профессор Ольга Олеговна Веровенко.
        </p>
      </div>
    </div>
    <p class="_red _size-18 _bold _verdana" style="margin: 19px 0 27px 20px; padding-bottom: 40px; line-height: 17px;">
      <span class="_blue _size-14">Смотрите слайдер</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="_normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="_red _bold">Чудо будет!</span></a> <span class="_blue _size-14">и читайте подробную статью автора.</span><br>
      <span class="_dark-blue _size-14">Пожалуйста, зайдите со стационарного компьютера.</span>
    </p>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _size-48 _verdana _bold _center" style="margin: 0 0 3px; padding-top: 34px;">
      Чудо будет!
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 41px 0; line-height: 26px;">
      Взрослым
    </p>
    <div style="width: 980px; height: 670px; padding-bottom: 40px;">
      <div style="width: 484px; height: 670px; float: right; margin: 0 21px 0 0; position: relative;">
        <div class="image-shadow" style="width: 484px; height: 581px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy9.jpg" width="484" height="581" alt="Мальчик с шариками">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
        <p class="_yellow _size-14 _bold _verdana" style="margin: 26px 0 0 0; line-height: 22px;">
          Курс позволяет одновременно, без потерь времени и сил,<br>
          корректировать любые проблемы и обучать грамотности.
        </p>
      </div>
      <div style="width: 450px; height: 670px; float: left; margin: 0 0 0 10px">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          Занимательный русский в&nbsp;игровой форме. Яркие запоминающиеся картинки и&nbsp;рисунки сделают обучение незабываемым!
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 0 10px; line-height: 22px;">
          В программе:
        </p>
        <ul class="_grey _size-14 _arial" style="margin: 0px 0 21px 31px; line-height: 21px;">
          <li><span class="_blue">Безупречная грамотность. Великолепный русский язык.</span></li>
          <li><span class="_blue">Культура устной и письменной речи.</span></li>
          <li><span class="_blue">Общее интеллектуальное развитие (будете хорошо разбираться в достоинствах поэзии и прозы).</span></li>
          <li><span class="_blue">Коррекция проблем обучения.</span></li>
        </ul>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          И всё это <span class="_normal">–</span> в рамках единого игрового курса!
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 10px;">
          Длительность обучения: 8-12 сеансов по 3 ак. часа<br>(24-36 ак. часов).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          Программа строится <span class="_blue _bold">индивидуально</span> с&nbsp;учётом потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
          Обучение <span class="_red">индивидуальное</span>.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 23px 10px; line-height: 17px;">
          Автор технологии и педагог –<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="_red _size-18 _bold _verdana" style="margin: 0 0 21px 10px; padding-bottom: 40px; line-height: 17px;">
          <span class="_blue _size-14">Смотрите слайдер</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="_normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="_red _bold">Чудо&nbsp;будет!</span></a> <span class="_blue _size-14">и&nbsp;читайте подробную статью автора.</span><br>
          <span class="_dark-blue _size-14">Пожалуйста, зайдите со&nbsp;стационарного компьютера.</span>
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="volshebniy"></a></p>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      ВОЛШЕБНЫЙ СЕАНС
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Небольшие проблемы с обучением?<br>
      Возьмите это!
    </p>
    <div style="width: 980px; height: 543px; margin: 0 0 0 0; padding: 44px 0 0;">
      <div style="width: 521px; height: 543px; float: right; margin: 0 15px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 521px; height: 346px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/ship.jpg" width="100%" height="100%" alt="Корабль">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
        <p class="_blue _size-18 _verdana _lh-20 _center" style="margin: 35px 0 0 0;">
          Сеанс ведёт доктор психологических наук<br>
          профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="_red">Ольга Олеговна Веровенко</span></a>.
        </p>
      </div>
      <div style="width: 390px; height: 543px; float: left; margin: 0 0 0 27px">
        <p class="_bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px; color: #ff6947">
          Сеанс уникален!
        </p>
        <p class="_blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Ошеломительно радостный,<br>
          <span style="margin: 0 0 0 57px;">незабываемо яркий сеанс</span><br>
          <span style="margin: 0 0 0 99px;">НАИВЫСШЕЙ РЕЗУЛЬТАТИВНОСТИ.</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Повышение концентрации внимания, без чего невозможно грамотное письмо. Навыки точного, правильного и&nbsp;осмысленного чтения.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_red _bold">Результат.</span> В 2-3 раза повышается способность<br>
          к усвоению информации. Успеваемость по всем<br>
          гуманитарным предметам повышается на 1-2 балла. Домашние задания выполняются легко и&nbsp;быстро, как по&nbsp;мановению волшебной палочки.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px">
          Сеанс предполагает небольшое домашнее<br>
          задание-игру (общей длительностью 2-3 часа).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_red _bold">Двоек-троек не будет!</span> Помогает этот сеанс и<br>
          хорошистам, которые <span class="_tag">почему-то</span> никак не<br>
          могут выйти в отличники.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Длительность сеанса 3 ак.часа.
        </p>
      </div>
    </div>
    <p class="_yellow _bold _size-14 _verdana" style="margin: 0 0 21px 27px; line-height: 22px;">
      Что такое концентрация внимания и&nbsp;как она влияет на&nbsp;обучаемость. Читайте статью&nbsp;<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="_blue _bold _tag">Он лентяй или болен?</span></a>
    </p>
    <p class="_blue _bold _size-12 _verdana" style="margin: 0 0 21px 27px; padding: 0 0 55px; line-height: 22px;">
      Еще спецкурсы для младших школьников <span class="_normal">–</span> крутите вниз до конца
    </p>
  </div>
  <div class="b-unit" style="margin: 35px 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
      НОВИНКА!
    </p>
    <p class="_blue _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
      Обучение
    </p>
    <p class="_red _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      с применением <span class="_light-blue _italic">NL</span>-психологии
    </p>
    <div style="width: 980px; height: 550px; margin: 36px 0 0 0; padding: 0 0 35px;">
      <div style="width: 499px; height: 550px; float: left; margin: 0 0 0 10px;">
        <div class="image-shadow-0" style="width: 499px; height: 531px; border: 2px solid rgba(170, 168, 168, 1);">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl1.jpg" width="499" height="531" alt="Летящая девушка">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 435px; height: 550px; float: right; margin: 0 10px 0 0;">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Эти сеансы хороши для семейной мини-группы (один ребёнок + один взрослый или двое взрослых).
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Русский язык + <span class="_light-blue _bold _italic">NL</span>-психология + <span class="_light-blue _bold _italic">NL</span>-психотерапия.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">Взрослым.</span>  Молниеносный выход из&nbsp;тупика развития. Карьера, бизнес, семья, взаимоотношения. Ликвидация ссор, конфликтов, врагов тайных и&nbsp;явных. Привлечение удачи. Гармонизация жизни. Конфиденциальность.<br>
          <span class="_bold _yellow">Плюс безупречная грамотность.</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">У&nbsp;детей:</span> сглаживаются шероховатости характера. Исчезают конфликты и&nbsp;раздоры в&nbsp;семье. Дети охотно помогают родителям по&nbsp;хозяйству, хорошо и&nbsp;вкусно готовят. Помнят дни рождения своих близких и&nbsp;делают им&nbsp;подарки.<br>
          <span class="_bold _yellow">Плюс безупречная грамотность</span>, коррекция проблем обучения, творчество.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_light-blue _bold _italic">NL</span>-сеансы можно взять без обучения русскому (только для взрослых).
        </p>
        <p class="_red _size-14 _verdana" style="margin: 0 0 0 0; line-height: 22px;">
          Длительность сеанса 3 ак. часа<br>
          с проф. О.О.Веровенко.
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="izmerenie"></a></p>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
      НОВИНКА!
    </p>
    <p class="_blue _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
      <span class="_tag">Четвёртое измерение</span>
    </p>
    <p class="_red _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Обучение под гипнозом
    </p>
    <div style="width: 980px; height: 547px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 499px; height: 547px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 499px; height: 531px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl.jpg" width="499" height="531" alt="Летящая девушка">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 425px; height: 547px; float: left; margin: 0 0 0 21px">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Обучение под гипнозом в&nbsp;мировой практике считается максимально эффективным.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          В&nbsp;связке с&nbsp;нашими технологиями это даёт <span class="_blue _bold">ФЕЕРИЧЕСКИЙ</span> результат, многократно превышающий самые смелые ожидания.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Вы&nbsp;не&nbsp;спите. Наоборот, вы&nbsp; сосредоточены, увлечены и&nbsp;готовы работать не&nbsp;поднимая головы. Оторвать вас от&nbsp;дела трудно, практически невозможно.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Максимально включаются память, интеллект, способность усваивать информацию. Полученные знания и&nbsp;навыки останутся с&nbsp;вами на&nbsp;всю жизнь. Но&nbsp;главное в&nbsp;другом: обучение под гипнозом позволяет преодолеть глубинные негативные установки Подсознания, которые и&nbsp;приводят к&nbsp;плохой, тяжёлой, трудной обучаемости.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Вы&nbsp;получаете&nbsp;то, что просто недостижимо ни&nbsp;при каких других вариантах обучения: легкую обучаемость <span class="_blue _bold">ВЕЗДЕ</span>, <span class="_blue _bold">ВСЕГДА</span>, <span class="_blue _bold">ВСЕМУ</span>.
        </p>
        <p class="_red _size-14 _verdana" style="margin: 0 0 0 0; line-height: 22px;">
          Длительность сеанса 3 ак. часа<br>
          с проф. О.О.Веровенко.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
      НОВИНКА!
    </p>
    <p class="_blue _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
      Безупречный английский
    </p>
    <p class="_red _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Космические скорости <span class="_normal">–</span> фантастический результат!
    </p>
    <div style="width: 980px; height: 525px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 521px; height: 525px; float: left; margin: 0 0 0 10px; position: relative;">
        <div class="image-shadow" style="width: 521px; height: 390px; border: 2px solid #AAA8A8;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/buran.jpg" width="521" height="390" alt="Космический корабль">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
        <p class="_blue _center _size-18 _arial" style="margin: 30px 0;  line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $english_test; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="_red _bold">Пройти тест по английскому сейчас</span></a>
        </p>
        <p class="_blue _center _size-18 _arial" style="margin: 0 0 0 0;  line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="_blue _tag _bold">Вертикальный взлёт</span>. <span class="_blue _size-14">Подробнее</span></a>
        </p>
      </div>
      <div style="width: 423px; height: 525px; float: right; margin: 0 0 0 0">
        <p class="_red _size-26 _arial _bold" style="margin: 0 0 21px 0; line-height: 36px;">
          Ультрасовременный<br>мегакурс экстра-класса
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 21px 0;  line-height: 22px;">
          Взрослым, школьникам. Начинающим и продвинутым.
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 21px 0;  line-height: 22px;">
          Академическая версия <span class="_light-blue _bold">МОЛНИЕНОСНО</span>. Безупречная<br>
          грамматика. Много лексики. Богатая практика.
        </p>
        <p class="_blue _bold _size-14 _arial" style="margin: 0 0 0 0; line-height: 22px;">
          <span class="_dark-blue _normal">Вот что вы&nbsp;сможете уже на&nbsp;первом занятии:</span>
        </p>
        <ul class="_grey _size-14 _arial" style="margin: 0px 20px 22px; line-height: 21px;">
          <li><span class="_blue">Обработать до&nbsp;30&nbsp;страниц компьютерного текста. Перевести его с&nbsp;русского на&nbsp;английский и&nbsp;обратно <span class="_bold">без словаря со&nbsp;скоростью беглой речи</span>.</span></li>
          <li><span class="_blue">Поговорить. Построить самостоятельно множество разговорных фраз на&nbsp;английском языке.</span></li>
          <li><span class="_blue">Грамотное письмо, чтение, произношение.</span></li>
          <li><span class="_blue">Много новых слов&nbsp;– более 150&nbsp;на первом&nbsp;же занятии.</span></li>
        </ul>
        <p class="_light-blue _bold _size-14 _arial" style="margin: 0 0 21px 0; line-height: 22px;">
          Зубрёжки правил нет. Домашние задания минимальны.
        </p>
        <p class="_dark-blue _size-14 _arial" style="margin: 0 0 21px 0; line-height: 22px;">
          Очень хорошо идут занятия в&nbsp;семейной мини-группе. Слабые участники быстро подтягиваются за&nbsp;более сильными.<br>
          Длительность обучения:<br>
          <span class="_blue _bold">12-36 занятий по 3 ак. часа (36-108 ак. часов)</span>.
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="vzroslym"></a></p>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Практическая<br>грамотность для жизни
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Взрослым
    </p>
    <div style="width: 980px; height: 530px; padding: 36px 0 40px 0;">
      <div style="width: 372px; height: 530px; float: left; margin: 0 0 0 15px; position: relative; z-index: 2;">
        <p class="_yellow size-16 _arial _bold" style="margin: 20px 0 42px 0; line-height: 18px; color: rgb(237, 95, 28);">
          Уникальный<br>мегакурс экстра-класса
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Безупречная грамотность –
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          <span style="margin: 0 0 0 36px;">на уровне</span><br>
          <span style="margin: 0 0 0 96px;">навыка,</span><br>
          <span style="margin: 0 0 0 146px;">рефлекса,</span><br>
          <span style="margin: 0 0 0 201px;">автоматизма –</span>
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 32px 134px; line-height: 17px;">
          на уровне Подсознания.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Программа строится <span class="_blue _bold">индивидуально</span> с&nbsp;учётом<br>
          возраста, потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Обучение <span class="_red">индивидуальное</span> или <span class="_red">в&nbsp;вашей</span> мини-группе. Небольшая разница в&nbsp;уровне подготовки значения не&nbsp;имеет.
        </p>
        <p class="_blue _bold _size-12 _verdana" style="margin: 0 -200px 21px 0; line-height: 22px;">
          Еще спецкурсы для взрослых <span class="_normal">–</span> крутите вниз до конца
        </p>
      </div>
      <div style="width: 567px; height: 530px; float: right; margin: 0 25px 0 0;">
        <div style="width: 567px; height: 400px; float: right; margin: 0 0 25px 0;">
          <div style="width: 280px; height: 400px; float: left; margin: 0 0 0 0;">
            <div style="width: 280px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik5.jpg" width="100%" height="100%" alt="Ключи к занятиям">
            </div>
          </div>
          <div style="width: 272px; height: 400px; float: right; margin: 0 0 0 0;">
            <div style="width: 272px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik6.jpg" width="100%" height="100%" alt="Учебник">
            </div>
          </div>
        </div>
        <p class="_dark-blue _size-14 _arial _bold _center" style="margin: 22px 0 0 0; line-height: 22px;">
          Уровень 4. Учебник и ключи к занятиям.<br>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 35px 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Русский язык
    </p>
    <div style="width: 980px; height: 465px; padding: 43px 0 0 0;">
      <div style="width: 394px; height: 465px; float: left; margin: 0 0 0 11px; position: relative; z-index: 2;">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Мы&nbsp;готовим к&nbsp;экзаменам <span class="_red _bold">НА ОТЛИЧНО</span>.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Берём не&nbsp;только отличников и&nbsp;хорошистов,<br>
          но&nbsp;даже очень-очень слабых ребят.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Критерий подготовки: наш выпускник (даже самый слабый) занимает 1-2 место не&nbsp;только в&nbsp;своём классе, <span class="_light-blue _bold">но&nbsp;в&nbsp;школе</span>. Троек мы&nbsp;не&nbsp;имеем, четвёрки крайне редки. Только <span class="_light-blue _bold">пятёрки</span>, только <span class="_red _bold">ВЫСШИЙ БАЛЛ!</span>
        </p>
        <p class="_yellow _bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Уникальные технологии обучения.<br>
          Учебники и материалы наивысшего качества.<br>
          Педагоги высшей квалификации.
        </p>
        <ul class="_grey _size-14 _verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
          <li><span class="_blue">Зубрёжки правил нет.</span></li>
          <li><span class="_blue">Домашние задания минимальны.</span></li>
          <li><span class="_blue">График любой.</span></li>
        </ul>
      </div>
      <div style="width: 535px; height: 465px; float: right; margin: 0 27px 0 0;">
        <div style="width: 535px; height: 360px; float: right; margin: 0 0 25px 0;">
          <div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
            <div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
            </div>
          </div>
          <div style="width: 253px; height: 420px; float: right; margin: 0 0 0 0;">
            <div class="in" style="width: 253px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg" width="100%" height="100%" alt="Учебник"></a>
            </div>
          </div>
        </div>
        <p class="_dark-blue _size-14 _arial _bold _center" style="margin: 22px 0 0 0; line-height: 22px;">
          Уровень 3. Учебник и ключи к занятиям.<br>
          <span class="_blue">Для увеличения кликните по картинке.</span>
        </p>
      </div>
    </div>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 11px; line-height: 22px;">
      <span class="_size-12 _red _bold">Русский язык.</span> Безупречная грамотность + сочинения, изложения + русский язык + теория + билеты.
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="_blue _bold">Фундаментальная подготовка.</span> 24-36 занятий по 3&nbsp;ак.&nbsp;часа (72-108&nbsp;ак.&nbsp;часов).
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="_blue _bold">Базовая подготовка.</span> 12-24 занятия по 3&nbsp;ак.&nbsp;часа (36-72&nbsp;ак.&nbsp;часа).
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="_blue _bold">Экспресс-подготовка (только для отличников!).</span> 6-12 занятий по 3&nbsp;ак.&nbsp;часа (18-36&nbsp;ак.&nbsp;часов).
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 11px 21px; line-height: 22px;">
      Занятия <span class="_blue _bold">индивидуальные</span> или в&nbsp;<span class="_blue _bold">вашей</span> мини-группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
    </p>
    <p class="_dark-blue _size-14 _verdana" style="margin: 0 11px 21px; line-height: 22px; padding: 0 0 55px;">
      См. также <span class="_red _tag _bold">ЭКСКЛЮЗИВ. ГИА, ЕГЭ, ОГЭ <span class="_normal">–</span> экспресс</span>
    </p>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Сочинения, изложения
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/book.jpg" width="530" height="331" alt="Книга">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_size-12 _red _bold">Сочинения, изложения.</span> Стилистика русского языка + литературное редактирование текста + умение раскрыть тему + развитие творческих способностей.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 30px 20px; margin: 0 -30px; position: relative;"><span class="_light-blue _bold">Сочинения, изложения. Подробнее</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Английский язык
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/english.jpg" width="530" height="331" alt="Английский">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_size-12 _red _bold">Английский язык. Академический курс.</span> Безупречная грамматика в полном объеме + много лексики + практика + теория + билеты.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">Фундаментальная подготовка.</span> 24-36 занятий по 3&nbsp;ак.&nbsp;часа (72-108&nbsp;ак.&nbsp;часов).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">Базовая подготовка.</span> 12-24 занятия по 3&nbsp;ак.&nbsp;часа (36-72&nbsp;ак.&nbsp;часа).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">Экспресс-подготовка (только для отличников!).</span> 6-12 занятий по 3&nbsp;ак.&nbsp;часа (18-36&nbsp;ак.&nbsp;часов).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Занятия <span class="_blue _bold">индивидуальные</span> или в&nbsp;<span class="_blue _bold">вашей</span> мини-группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="gia-ege"></a></p>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
      ЭКСКЛЮЗИВ
    </p>
    <p class="_blue _bold size-36 _verdana _center" style="margin: 0 0 51px 0;">
      ГИА, ЕГЭ, ОГЭ <span class="_normal size-30">–</span> экспресс
    </p>
    <div style="width: 980px; height: 344px; margin: 0 0 0 0; padding: 0 0 55px;">
      <div style="width: 600px; height: 344px; float: left; margin: 0 0 0 11px; position: relative;">
        <div style="width: 600px; height: 344px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/express.jpg" width="600" height="344" alt="Экспресс">
        </div>
      </div>
      <div style="width: 355px; height: 344px; float: right; margin: 0 0 0 0">
        <p class="_red size-16 _verdana _bold" style="margin: 7px 0 14px 0; line-height: 20px;">
          Сверхскоростное<br>нейролингвистическое обучение.
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Сочинения, изложения + грамотность.<br>
          При необходимости применяется гипноз.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Длительно обучения:<br>
          4-6 сеансов по 3 ак. часа (12-18 ак. часов).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          <span class="_blue _bold">Условия приёма:</span><br>
          Не более 50 ошибок во вступительном тесте,<br>
          <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="_dark-blue">концентрация внимания от 120</span></a><br>
          (подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="_dark-blue">здесь</span></a>).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Автор технологии обучения и ваш педагог –<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 35px 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Обзорные занятия
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 414px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 530px; height: 414px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 530px; height: 398px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/alladin.jpg" width="530" height="398" alt="Алладин на ковре-самолете">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 395px; height: 414px; float: left; margin: 0 0 0 21px">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Единичные обзорные занятия по&nbsp;всему курсу русского или английского языков <span class="_blue _bold">либо</span> по&nbsp;самым сложным темам на&nbsp;ваш выбор.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Длительность: 3&nbsp;ак.&nbsp;часа.
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Индивидуально или в&nbsp;вашей мини-группе.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С&nbsp;проф. О.О.Веровенко&nbsp;– по&nbsp;стоимости одного сеанса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С&nbsp;педагогом высшей квалификации&nbsp;– по&nbsp;стоимости одного занятия курсов <span class="_tag _red _bold">Врождённая&nbsp;грамотность</span> или <span class="_tag _red _bold">Вертикальный&nbsp;взлёт</span>.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Занимательный русский
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Школьникам 3-7 классов
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/knight.jpg" width="530" height="331" alt="Рыцарь">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Для учащихся 3-7 классов без признаков проблем обучения. Только русский&nbsp;– ярко, необычно, занимательно.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Программа строится <span class="_blue _bold">индивидуально</span> с&nbsp;учётом возраста, потребностей и&nbsp;уровня подготовки.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Занимательный русский входит в&nbsp;программу курса <span class="_tag _red _bold">Чудо будет!</span>, но&nbsp;вы&nbsp;можете взять его отдельно.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 35px 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Речь
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Речь <span class="_normal">–</span> ваша визитная карточка,<br>
      не правда ли?
    </p>
    <div style="width: 980px; height: 370px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 530px; height: 370px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 530px; height: 297px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/parrot.jpg" width="530" height="297" alt="Попугай">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 395px; height: 370px; float: left; margin: 0 0 0 21px">
        <p class="_yellow size-16 _verdana _bold" style="margin: 0 0 21px 0; line-height: 22px;">
          Техника и культура речи.
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Для учащихся любого возраста.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Навык правильной, выразительной, красивой речи. Произношение, дикция, артикуляция.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Манера держаться и&nbsp;разговаривать. Раскрепощение. Навык публичных выступлений (в&nbsp;том числе у&nbsp;доски).
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С ребёнком один из родителей ходит на занятия бесплатно.
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 35px 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Чтение
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Школьникам 2-5 классов
    </p>
    <div style="width: 980px; height: 331px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 530px; height: 331px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 530px; height: 315px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/elephant.jpg" width="530" height="315" alt="Слон и зебра">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 395px; height: 331px; float: left; margin: 0 0 0 21px">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Навык правильного, осмысленного, интонированного чтения, без чего невозможно грамотное письмо.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Повышение концентрации внимания.
        </p>
        <p class="_dark-blue _size-14 _verdana _lh-20" style="margin: 0 0 21px 0; line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="_blue _bold">Что такое концентрация внимания и&nbsp;как она влияет на&nbsp;обучаемость.</span></a>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Чтение введено в полную программу курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>, но вы можете взять его отдельно.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Творческие диктанты
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Их любят все <span class="_normal">–</span><br>
      взрослые и дети!
    </p>
    <div style="width: 980px; height: 430px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 530px; height: 430px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 530px; height: 315px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pumpkin.jpg" width="530" height="315" alt="Слон и зебра">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 395px; height: 430px; float: left; margin: 0 0 0 21px">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Яркие, красивые, интересные диктанты любой сложности для любого возраста.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Развитие фонематического слуха (основа врождённой грамотности), повышение концентрации внимания, красивый почерк, коррекция дисграфии, навык безошибочных диктантов.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Повышение концентрации внимания.
        </p>
        <p class="_dark-blue _size-14 _verdana _lh-20" style="margin: 0 0 21px 0; line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="_blue _bold">Что такое концентрация внимания и&nbsp;как она влияет на&nbsp;обучаемость.</span></a>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Творческие диктанты введены в&nbsp;полную программу курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>, но&nbsp;вы&nbsp;можете взять их отдельно.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Арт-терапия
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Ваш ребёнок <span class="_normal">–</span> гений!
    </p>
    <div style="width: 980px; height: 480px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div id="load-video13" class="load-video" style="width: 521px; height: 480px; float: right; margin: 0 18px 0 0; position: relative;">
      </div>
      <div style="width: 395px; height: 480px; float: left; margin: 0 0 0 21px">
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Для учащихся любого возраста.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">Арт-терапия.</span> Коррекция <span class="_tag">школьного</span> невроза, страхов, неуверенности и других проблем обучения и поведения.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="_blue _bold">Психотерапия (комплекс работ).</span> Выработка положительной обратной условной связи.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Дивной красоты <span class="_blue _bold">творческие работы</span> по русскому, английскому, литературе.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Приходит уверенность в себе и своих силах. Появляется интерес и любовь к учебе.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Творческие работы введены в&nbsp;полную программу курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>, но&nbsp;вы&nbsp;можете взять их отдельно.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-48 _verdana _center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
      Деловая переписка
    </p>
    <p class="_blue _size-18 _bold _verdana _center" style="margin: 0 0 0 0; line-height: 26px;">
      Взрослым<br>
      <span class="_yellow size-16">Не показывайте зубы деловым партнерам!</span>
    </p>
    <div style="width: 980px; height: 375px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 570px; height: 375px; float: left; margin: 0 0 0 11px; position: relative;">
        <div style="width: 570px; height: 375px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/cat.jpg" width="570" height="375" alt="Кот показывает зубы">
        </div>
      </div>
      <div style="width: 365px; height: 375px; float: right; margin: 0 10px 0 0">
        <p class="_yellow size-16 _verdana _bold" style="margin: 7px 0 21px 0; line-height: 22px;">
          Деловое письмо на русском языке.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Стилистическое построение и литературное редактирование текста, синтаксис, безупречная грамотность.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Этикет деловой переписки, психология взаимоотношений. Разрушение когнитивного диссонанса.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="_tag _red _bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Педагог – проф. О.О.Веровенко.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          По стоимости курса <span class="_tag _red _bold">Чудо будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold size-30 _verdana _center" style="margin: 0 0 44px 0; padding: 30px 0 0; position: relative; z-index: 1;">
      Диагностика
    </p>
    <div style="width: 960px; height: 380px; margin: 59px 0 0 0;">
      <div style="width: 465px; height: 380px; float: right; margin: 0 12px 0 -12px; position: relative;">
        <div style="width: 465px; height: 295px; margin: 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/heart.jpg" width="100%" height="100%" alt="Сердце и разум">
        </div>
      </div>
      <div style="width: 500px; height: 380px; float: left; margin: 0 0 0 16px; position: absolute;">
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          Диагностика <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="_dark-blue">проблем обучения</span></a> (дислексия, дисграфия, <span class="_tag">школьный</span> невроз и&nbsp;т.д.). Нейролингвистические методы тестирования.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          Пути выхода из тупика. Консультации. Рекомендации.<br>
          Подбор и <span class="_tag">примерка</span> идеально подходящей для вас технологии<br>
          обучения и коррекции.
        </p>
        <p class="_light-blue _bold _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          Сеанс диагностики проходит в игровой форме.<br>
          Родители не только присутствуют на сеансе,<br>
          но играют и веселятся вместе со своими детьми!
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          Приём ведёт доктор наук профессор<br>
          <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="_dark-blue">Ольга Олеговна Веровенко.</span></a>
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          Длительность 3 ак. часа.
        </p>
        <!-- <p class="_red _bold _size-18 _verdana _lh-20" style="margin: 0 0 0 0;">
          С учётом Осенней скидки 50% <span class="_arial _normal">–</span> 300 у.е.
        </p> -->
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-24 _verdana _center" style="margin: 0 0 44px 0; padding: 30px 0 0; position: relative; z-index: 1;">
      Пробный сеанс
    </p>
    <div style="width: 980px; height: 442px; margin: 10px 0 0 0;">
      <div style="width: 256px; height: 442px; float: right; margin: 0 0 0 0; position: relative;">
        <div style="width: 288px; height: 433px; margin: -72px 0 0 -198px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy4.jpg" width="100%" height="100%" alt="Официант">
        </div>
      </div>
      <div style="width: 435px; height: 442px; float: left; margin: 0 0 0 245px; position: relative;">
        <p class="_red _bold _size-18 _verdana _lh-20" style="margin: 0 0 85px 108px;">
          Попробуйте <span class="_arial _normal">–</span> понравится!
        </p>
        <p class="_blue _bold _size-14 _verdana" style="margin: 0 0 22px 0; line-height: 22px;">
          Сеанс бесплатен, если вы оплачиваете<br>
          два курса обучения сразу.
        </p>
        <p class="_blue _size-14 _verdana" style="margin: 0 0 22px 0; line-height: 22px;">
          Вас примет автор технологий обучения<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="_dark-blue _size-14 _verdana" style="margin: 0 0 75px 0; line-height: 17px;">
          Запишитесь, пожалуйста, заранее!
        </p>
      </div>
    </div>
  </div>
  <div class="b-unit" style="margin: 0 0 35px 0;">
    <p class="_red _bold _size-24 _verdana _center" style="margin: 0 0 44px 0; padding: 30px 0 0;">
      Осторожно: пираты!
    </p>
    <div style="padding-top: 0; height: 602px;">
      <div style="width: 839px; height: 602px; margin: 0 auto;">
        <div class="image-shadow" style="width: 839px; height: 586px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pirati.jpg" width="839" height="586" alt="Опасайтесь мошенников">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
    </div>
    <p class="_blue _size-14 _verdana _bold" style="margin: 29px 0 13px 66px; padding: 0 0 40px; line-height: 22px;">
      Творческая <span class="_light-blue _italic">NL</span>-работа. Чтобы не путать попугая с пиратом...
    </p>
  </div>
  <div class="b-unit" style="margin: 0 0 0 0; padding: 50px 0;">[exec] include_once get_template_directory().'/compas/compas-all.php'; [/exec]</div>
</div>
<div id="img_container"><img src=""></div>