[raw]
<div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $obshchee_predsavlenie; [/exec]"
  data-redirect-delay="10000" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
  <div class="white font-verdana" style="margin: 0 auto;">
  </div>
</div>
<div class="b-video-back-no" data-video-name="neiro/script" data-video-id="video-script" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/script"
  data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/pig.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]