jQuery("div.trans2").animate({top:"300"},1000).delay(1000).animate({top:"-500"},1000);

<div style="height: 227px;">	
	<div style="display:block; width:235px;height:227px; position:absolute; top:-500px; left:50%;margin-left:-250px;background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/horseshoe.jpg); z-index: 2;">
	</div>		
</div>

	jQuery("div.trans2").click(function () {
      	jQuery("div.trans2").effect("transfer", { to: "div.trans1" }, 2000);
    });

{duration: 300, step: function go();}
6	        // тут и обрабатывайте все что нужно, каждый шаг
7	    }

<div style="padding-top: 33px; height: 336px;">
	<div style="width: 568px; height: 336px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 568px; height: 320px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/phone.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>