<div style="width: 300px; margin-left: 18px; height: 378px; float: right;">
	<p class="red size-30 font-verdana center" style="margin-bottom: 0px; line-height: 7px; text-align: left;">
		<a href="http://www.neirolingva.ru/#!neirolingvistika/c19yq" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana font-sans-font">Подробности курса</span></a><br>
		<a rel="nofollow" href="http://www.neirolingva.ru/#!neirolingvistika/c19yq" target="_self" style="cursor: pointer; text-decoration:underline; color: #717070;"><span class="blue font-arial size-14 bold">Кликните, пожалуйста, по ссылке!</span></a>
	</p>	
</div>

	<a href="http://www.neirolingva.ru/#!neirolingvistika/c19yq" style="text-decoration: underline; color: #4A4A4A;">
		<span class="light-blue font-verdana font-sans-font">
			VIP-обучение. Занятия с автором технологий профессором Ольгой Олеговной Веровенко.
		</span>
	</a>

<a href="http://www.neirolingva.ru/#!neirolingvistika/c19yq" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-18 bold tag">Арт-терапии</span></a>

<embed src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/1.flv" type="video/flv" width="640" height="357" allowscriptaccess="always" allowfullscreen="true" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
<object width="640" height="357" data="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.mp4" type="video/mp4"><param name="movie" value="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.mp4"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="flashvars" value="comment=non-grata&amp;m=video&amp;file=http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.mp4" /></object>