<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/back-slider.jpg); top: 0; left: 0;">
<div class="slider" style="width: 1279px; height: 706px; position: absolute; z-index: 4; overflow: hidden; top: 0px; left: 50%; margin-left: -640px;">	
	<div class="slider-content" style="width: 1279px; height: 706px; margin: 0 0 0 0;">
		<div class="animation-opacity active" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/1.jpg" width="100%" height="100%" alt="Мальчик">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/2.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/3.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/4.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/5.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/6.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/7.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/8.jpg" width="100%" height="100%" alt="Алладин">
		</div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 30px; left: 0px; width: 100%; text-align: center;">
		<p class="size-26 font-verdana" style="color: white; margin: 0 0 10px 0">Сверхскоростное нейролингвистическое обучение</p>
		<p class="font-verdana bold tag" style="font-size: 36px; color: white;"><span class="tag">Вертикальный взлёт</span></p>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; top: 550px; left: 0px; width: 100%; text-align: center;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration:underline; color: white;"><span class="size-24 font-verdana bold" style="color: white;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 270px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 260px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод-новинка от профессора О.О.Веровенко.<br>
				Вместо долгих лет труда – 12 занятий.<br>
				Безупречный английский!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 272px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космические скорости</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод в 15-20 раз эффективнее, мощнее и ярче<br>
				всего того, к чему вы привыкли. Вы достигнете<br>
				желаемого в 15-20 раз быстрее, легче, проще.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 185px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Уникальность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод запатентован как изобретение. Экспертиза<br>
				PCT подтвердила: ничего подобного в мире нет!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 315px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический результат</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Безупречная грамматика. Много лексики. Особая<br>
				система запоминания слов. Синхронный перевод.<br>
				Чтение. Письмо. Произношение. Живая речь.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 300px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Индивидуальный подход</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Программа строится индивидуально в<br>
				зависимости от возраста, уровня подготовки и<br>
				ваших пожеланий.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 305px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Качественная технология</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Качество обучения НАИВЫСШЕЕ. Это<br>
				подтверждено тремя Знаками Качества<br>
				Госстандарта РФ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 170px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космонавты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Принимаются взрослые и школьники, начинающие<br>
				и продвинутые. Индивидуально и в мини-группах.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Подарок судьбы</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Зубрёжки правил нет. Домашние задания<br>
				минимальны. Лёгкость обучения и молниеносный<br>
				успех!</p></div></div>
	</div>








</div>
</div>