	<div id="load-video11" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
	 		<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/clock.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/clock.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe style="margin: 4px 0 0 0;" width="640" height="360" src="//www.youtube.com/embed/TSg6gGqs6Cs?autoplay=1&amp;loop=1&amp;playlist=TSg6gGqs6Cs&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
		<div id="load-video22" class="image-shadow-0" style="width: 513px; height: 287px; border-radius: 0; margin: 15px 0 0 0;">
			<video style="margin: -1px 0 0 0;" width="513" height="291" autoplay loop>
		 		<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/orel.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/orel.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="513" height="290" src="//www.youtube.com/embed/O1S6lTD6Ges?autoplay=1&amp;loop=1&amp;playlist=O1S6lTD6Ges&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		  	</video>
			<iframe width="513" height="287" src="//www.youtube.com/embed/O1S6lTD6Ges?autoplay=1&amp;loop=1&amp;playlist=O1S6lTD6Ges&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		</div>
	<div id="load-video33" style="width: 640px; height: 376px; margin:0 auto;">
		<div style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
		