<p class="light-blue bold font-sans-font center" style="margin: -16px 0 33px 0; font-size: 30px; line-height: 35px;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<div style="width: 960px; height: 362px; padding: 3px 0 25px 0;">	
	<div style="width: 490px; height: 362px; float: left; margin: 0 0 0 5px;">
		<div class="image-shadow-0" style="width: 490px; height: 346px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 458px; height: 373px; float: right; margin: 0 0 0 0;">
		<p class="yellow font-arial bold size-30" style="margin: 30px 0 49px 32px; line-height: 34px;">
			Английский<br>
			<span style="margin: 0 0 0 67px">на уровне подсознания</span>
		</p>
		<p class="red size-18 font-verdana center" style="margin: 0 0 42px 0; line-height: 29px;">
			Всего 12 занятий –<br>
			и ваш английский обретёт систему!
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Уникальный<br>
			авторский метод<br>
			профессора Ольги Олеговны Веровенко
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 40px 0 41px 0;">
	Метод <span class="tag">Вертикального взлёта</span>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 30px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 14px 12px;">
	<span class="tag">Вертикальный взлёт</span> запатентован как изобретение в России и за рубежом. Международная<br>
	экспертиза PCT подтвердила, что в области нейролингвистики – современной науки об усвоении<br>
	информации человеческим мозгом – <span class="blue bold">метод не имеет аналогов в мире</span>.
</p>
<p class="blue size-15 font-verdana line-height-23" style="margin: 0 0 13px 12px;">
	Пожалуйста, не путайте нейролингвистику с НЛП – нейролингвистическим программированием!
</p>
<p class="size-18 font-verdana" style="margin: 0 0 53px 12px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Нейролингвистика. Что это?</span></a>
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 31px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 16px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 16px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новой технологии<br>
	нейролингвистического преподавания – метода <span class="tag">Вертикального взлёта</span>.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 37px 53px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="yellow bold size-24 font-verdana center" style="margin: 55px 0 30px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 17px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red bold tag">КАЧЕСТВО НАИВЫСШЕЕ</span>.
</p>
<p class="size-18 font-verdana" style="margin: 0 0 33px 17px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Патенты, сертификаты, акты экспертиз.</span></a>
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 43px 17px;">
	Автор метода <span class="tag">Вертикального взлёта</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 89px 0 31px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	К обучению принимаются <span class="blue">взрослые</span> и школьники <span class="blue">начиная с 5-го класса</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<span class="blue bold">Уровень 4.</span> Уровень виртуозов. Безупречная грамматика. Синхронный перевод. Огранка<br>
	<span style="margin: 0 0 0 118px;">языка. Принимаются <span class="blue bold">наши выпускники Уровня 3</span> или выпускники</span><br>
	<span style="margin: 0 0 0 118px;">английских спецшкол (с твёрдой пятёркой по английскому), а также студенты</span><br>
	<span style="margin: 0 0 0 118px;">профильных вузов.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<span class="blue bold">Уровень 3.</span> Продвинутый уровень. Гармоничное сочетание грамматики и лексики.<br>
	<span style="margin: 0 0 0 118px;">Принимаются <span class="blue bold">наши выпускники Уровня 2</span> или учащиеся спецшкол, а также</span><br>
	<span style="margin: 0 0 0 118px;">взрослые, совершенствующие свой и без того неплохой английский.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<span class="blue bold">Уровень 2.</span> Для начинающих взрослых и школьников. Расширенная базовая грамматика,<br>
	<span style="margin: 0 0 0 118px;">очень много лексики, чтение, письмо, навыки синхронного перевода,</span><br>
	<span style="margin: 0 0 0 118px;">аудирование. По вашему желанию акцент может быть смещён на живую</span><br>
	<span style="margin: 0 0 0 118px;">английскую речь.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Уровень 1.</span> Коррекционно-обучающий уровень для учащихся всех возрастов, кому<br>
	<span style="margin: 0 0 0 118px;">обучение языкам даётся с очень большим трудом.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span style="margin: 0 0 0 118px;"><span class="blue bold">В программе:</span> обучение английскому + коррекция проблем. Повышение</span><br>
	<span style="margin: 0 0 0 118px;">концентрации внимания, ментальной выносливости и работоспособности.</span><br>
	<span style="margin: 0 0 0 118px;">Чтение, письмо, базовая грамматика, много лексики.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<span style="margin: 0 0 0 118px;"><span class="blue bold">Появляется способность легко воспринимать и усваивать любые языки.</span></span><br>
	<span style="margin: 0 0 0 118px;">Через 4-6 занятий учащийся переводится на Уровень 2.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<span class="blue bold">Длительность каждого курса обучения:</span> 12-36 ак.часов (4-12 занятий по 3 ак.часа).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Занятия индивидуальные</span> или в ваших мини-группах (родители с детьми, друзья,<br>
	коллеги). Возможен выезд к вам.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 56px 0 29px 0;">
	Пробное занятие
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 21px 0;">
	Приходите и пробуйте. Понравится!
</p>
<p class="red size-30 bold font-verdana center" style="margin: 43px 0 38px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 32px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 75px 0 54px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 50px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]