<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">	
	<div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
		<div class="animation-opacity animation-opacity-zoom active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/1.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/2.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/3.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/4.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/5.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/6.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/7.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/8.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/9.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/10.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/11.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/12.jpg);background-size: cover; background-position: center;"></div></div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 30px; left: 0px; width: 100%; text-align: center;">
		<p class="size-26 font-verdana" style="color: white; margin: 0 0 10px 0">Сверхскоростное нейролингвистическое обучение</p>
		<p class="font-verdana bold tag" style="font-size: 36px; color: white;"><span class="tag">Вертикальный взлёт</span></p>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; text-align: center;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]" style="text-decoration:underline; color: white;"><span class="font-arial bold" style="font-size: 30px; color: white;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 260px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Безупречный английский на уровне навыка<br>
				и рефлекса – на уровне ПОДСОЗНАНИЯ –<br>
				с космической скоростью. Смотрите слайдер!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 180px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Невесомость</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Зубрёжки правил нет. Домашние задания<br>
				минимальны. Нагрузки посильны.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Эффективность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод в 15-20 раз эффективнее и мощнее того,<br>
				к чему вы привыкли. Вы достигнете желаемого<br>
				В 15-20 РАЗ БЫСТРЕЕ, ЛЕГЧЕ, ПРОЩЕ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 255px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Со скоростью света</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Обучение стремительно. Результат молниеносен.<br>
				Вместо долгих лет труда – ВСЕГО 12 ЗАНЯТИЙ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 235px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Лёгкость контакта</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Много лексики. Особая система БЫСТРОГО<br>
				ЗАПОМИНАНИЯ НОВЫХ СЛОВ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 320px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космические перспективы</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">ГРАММАТИЧЕСКИЕ СИНХРОНЫ дают навык<br>
				беглой, безупречно правильной английской речи.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 325px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Расширение пространства</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Встроенная в обучение система лексических<br>
				синхронов МНОГОКРАТНО УЛУЧШАЕТ ПАМЯТЬ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Антигравитация</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Специальная программа отталкивает трудности,<br>
				связанные с восприятием иностранных языков.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 190px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Уникальность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод запатентован как изобретение.<br>
				Международная экспертиза PCT подтвердила:<br>
				НИЧЕГО ПОДОБНОГО В МИРЕ НЕТ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 260px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Внеземное качество</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Качество обучения НАИВЫСШЕЕ. Это<br>
				подтверждено тремя Знаками Качества<br>
				Госстандарта РФ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 170px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космонавты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Принимаются взрослые и школьники, начинающие<br>
				и продвинутые. Индивидуально и в мини-группах.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Подарок судьбы</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Рождественские скидки до 75%. Скорее узнавайте<br>
				подробности (ссылка справа)!</p></div></div>
	</div>








</div>
</div>
<p style="margin: 0; height: 0;"><script charset="utf-8" type="text/javascript" src="http://verovenko.org/wp-content/themes/twentyfourteen/js/slider1.js"></script></p>