<div class="trans23" style="opacity: 0; position: relative; z-index: 1; margin: 8px 0 21px 0;">
	<p class="light-blue bold font-sans-font center" style="margin: 0 0 0 0; font-size: 30px; line-height: 35px;">
		Сверхскоростное<br>
		нейролингвистическое обучение
	</p>
</div>
<div style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
	<div class="trans21" style="height: 35px; width: 700px; margin: -89px auto 0 330px; z-index: 5; position: relative; background: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bg-main.jpg) repeat-x 0 -28px;">
	</div>
	<div class="trans22" style="height: 35px; width: 820px; margin: 0 auto 0 210px; z-index: 5; position: relative; background: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bg-main.jpg) repeat-x 0 -60px;">
	</div>
</div>
<div class="cubeWrapper" style="width: 960px; height: 390px; padding: 0 0 53px 0;">	
	<div class="rotator" style="width: 494px; height: 390px; float: left; margin: 0 0 0 5px;">
		<div style="width: 494px; height: 358px;">
			<div style="width: 494px; height: 358px; perspective: 800px; position: absolute;">
				<div class="cube image-shadow-0" style="width: 494px; height: 358px; opacity: 0; margin: 0 0 0 0; position: absolute;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
				</div></div>
		</div>
		<div class="image-shadow-right-1 cube1" style="opacity: 0;">			
		</div>
		<div class="image-shadow-left-1 cube1" style="opacity: 0;">			
		</div>
	</div>
	<div style="width: 433px; height: 390px; float: right; margin: 0 0 0 0;">
		<p class="yellow bold size-24 font-verdana" style="margin: 27px 0 37px 0;">
			Безупречный английский:
		</p>
		<p class="yellow bold size-20 font-verdana" style="margin: 0 0 39px 0; line-height: 36px;">
			на уровне<br>
			<span style="margin: 0 0 0 96px;">навыка,</span><br>
			<span style="margin: 0 0 0 178px;">рефлекса,</span><br>
			<span style="margin: 0 0 0 245px;">автоматизма –</span>
		</p>
		<p class="yellow bold size-24 font-verdana" style="margin: 5px 0 50px 20px;">
			НА УРОВНЕ ПОДСОЗНАНИЯ!
		</p>
		<div style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
			<div class="trans24" style="height: 380px; width: 433px; margin: -380px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 33px 0;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – это когда всё понятно и ни слова из <span class="tag">правил</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – новая современная наука об усвоении информации человеческим мозгом. Она родилась на стыке<br>
	четырёх наук: педагогики, лингвистики (языкознания), нейрофизиологии и психологии.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> опирается на вложенные в нас <span class="blue bold">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="red size-14 font-verdana" style="margin: 0 0 85px 42px; line-height: 22px;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).
</p>
<div style="width: 960px; height: 470px;">	
	<div style="width: 336px; height: 470px; float: right; margin: 0 96px 0 0; position: relative;">
		<div class="image-shadow" style="width: 336px; height: 454px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 470px; float: left; margin: 0 0 0 78px">
		<p class="yellow size-18 font-verdana bold" style="margin: 0 0 22px 4px;">
			Нейролингвистика:
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-14 bold font-verdana line-height-23" style="margin: 30px 0 22px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 35px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 75px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 120px;">вот её суть!</span>
		</p>
		<p class="blue size-14 bold font-verdana center line-height-23" style="margin: 0 116px 47px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="red size-18 bold font-verdana center" style="margin: 0 116px 0 0;">
			Чудо будет!
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana" style="margin: 42px 0 88px 47px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 73px 0;">
	Особенности <span class="tag">Вертикального взлёта</span>
</p>
<div style="width: 960px; height: 332px;">	
	<div style="width: 319px; height: 332px; float: left; margin: 0 0 0 33px; position: relative;">
		<div style="width: 319px; height: 332px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
	<div style="width: 600px; height: 332px; float: right; margin: 0 0 0 0">
		<ul class="blue size-14 font-verdana" style="margin: -20px 0 0 17px;">
			<li><span class="blue bold">Особая система запоминания слов</span> <span class="dark-blue">позволяет усваивать лексику</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				МОЛНИЕНОСНО, практически с первого предъявления.
			</p>
			<li><span class="blue bold">Система грамматических синхронов</span> <span class="dark-blue">позволяет обрести навык</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
				беглой, безупречно правильной английской речи на уровне НАВЫКА,<br>
				РЕФЛЕКСА, АВТОМАТИЗМА – НА УРОВНЕ ПОДСОЗНАНИЯ.
			</p>
			<li style="margin: 0 0 21px 0;"><span class="blue bold">Система лексических синхронов</span> <span class="dark-blue">многократно улучшает память.</span></li>
			<li><span class="dark-blue">Встроенная в обучение <span class="blue bold">Специальная Программа</span> позволяет</span></li>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				одновременно, без потерь времени и сил, обучать английскому и<br>
				корректировать любые проблемы, связанные с плохим восприятием<br>
				иностранных языков.
			</p>
		</ul>
	</div>
</div>
<div style="width: 960px; height: 325px; margin: 10px 0 0 0;">	
	<div style="width: 323px; height: 325px; float: right; margin: -44px 33px 0 0; position: relative;">
		<div style="width: 323px; height: 325px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin1.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
	<div style="width: 600px; height: 325px; float: left; margin: 0 0 0 0">
		<p class="red size-14 font-verdana bold" style="margin: 0 0 22px 43px;">
			Вот что даёт <span class="tag">Вертикальный взлёт</span>:
		</p>
		<ul class="grey size-14 font-verdana" style="margin: 0 0 0 68px;">
			<li style="margin: 0 0 22px 0;"><span class="blue bold">Безупречный английский</span> <span class="dark-blue">(само собой!)</span></li>
			<li style="margin: 0 0 22px 0;"><span class="blue bold">Улучшается память</span> <span class="dark-blue">(многократно!)</span></li>
			<li><span class="blue bold">Эффект полиглота:</span> <span class="dark-blue">изучение любых языков</span></li>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 25px 0; line-height: 22px;">
				становится для вас лёгким, молниеносным.
			</p>
		</ul>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 33px;">
			<span class="blue bold">Версии метода:</span><br>
			<span class="blue tag">Вертикальный взлёт – классика</span> – для индивидуального обучения.<br>
			<span class="blue tag">Вертикальный взлёт – Шаттл</span> – для обучения в мини-группах.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 56px 0 28px 0;">
	Эффективность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 16px; line-height: 43px;">
	Метод <span class="red">в 15-20 раз</span> эффективнее, мощнее, ярче всего того, к чему вы привыкли.<br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<ul class="grey size-14 font-verdana bold" style="margin: 0 0 61px 53px; line-height: 38px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 46px 0;">
	Уникальность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
	<span class="blue bold tag">Вертикальный взлёт</span> уникален и запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – это изобретение первое и пока единственное.
</p>
<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 41px 21px; line-height: 22px;">
	Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 254px; height: 376px; float: left; margin: 0 74px 14px 182px;">
		<div class="image-shadow in" style="width: 254px; height: 360px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 127px;">			
		</div>				
	</div>
	<div style="width: 254px; height: 376px; float: right; margin: 0 192px 14px 0;">
		<div class="image-shadow in" style="width: 254px; height: 360px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 127px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 21px;">
		Российский и международный патенты на изобретения.<br>
		<span class="light-blue">Для увеличения кликните по картинке.</span>
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 76px 0 78px 14px;">
	Автор <span class="tag">Вертикального взлёта</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 37px 14px; line-height: 22px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ с категорией<br>
	<span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 360px;">	
	<div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 131px;">
		<div class="image-shadow-0 in" style="width: 413px; height: 285px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 246px; height: 344px; float: right; margin: 0 124px 10px 0;">
		<div class="image-shadow-0 in" style="width: 246px; height: 344px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 123px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 3px 0 3px 0;">
	Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 77px 0; line-height: 16px;">
	У нас таких три!<br>
	<span class="light-blue">Для увеличения кликните по картинке.</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уровень 4
</p>
<div style="width: 960px; height: 311px; padding: 24px 0 0 0;">	
	<div style="width: 370px; height: 311px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 19px 0;">
			Уровень 4.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 22px 0;">
			Огранка языка.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для взрослых и старшеклассников, кто уже<br>
			неплохо владеет языком, но хотел бы<br>
			улучшить свой и без того неплохой<br>
			английский.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак. часов<br>
			(4-12 занятий по 3 ак. часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
			Длительность обучения зависит от уровня<br>
			начальной подготовки и поставленных задач.
		</p>	
	</div>
	<div style="width: 547px; height: 311px; float: right; margin: 0 0 0 0;">
		<div style="width: 547px; height: 311px; float: right; margin: 0 0 0 0;">
			<div style="width: 242px; height: 311px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 311px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 222px; height: 309px; float: right; margin: 0 24px 0 0;">
				<div class="in" style="width: 222px; height: 309px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor1.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
	</div>
</div>
<div style="width: 960px; height: 306px; padding: 54px 0 0 0;">	
	<div style="width: 370px; height: 306px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-verdana" style="margin: -37px 0 21px 0; line-height: 22px;">
			Материал может подаваться очень сжато либо<br>
			очень подробно – в зависимости от ваших<br>
			потребностей и пожеланий.
		</p>
		<p class="red size-14 font-verdana" style="margin: 0 0 157px 0; line-height: 22px;">
			Всего 4-12 занятий – и ваш английский<br>
			ОБРЕТЁТ СИСТЕМУ!
		</p>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 21px 6px; line-height: 30px;">
			Уровень 4. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 547px; height: 306px; float: right; margin: 0 0 0 0;">
		<div style="width: 547px; height: 306px; float: right; margin: 0 0 0 0;">
			<div style="width: 242px; height: 304px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 304px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor2.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 232px; height: 306px; float: right; margin: 0 14px 0 0;">
				<div class="in" style="width: 232px; height: 306px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor3.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 135px 0 30px 0;">
	Уровень 3
</p>
<div style="width: 960px; height: 332px; padding: 24px 0 0 0;">	
	<div style="width: 600px; height: 332px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 17px 0;">
			Уровень 3.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 19px 0;">
			Безупречная грамматика.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Идеально для <span class="light-blue bold">ГИА</span>, <span class="light-blue bold">ЕГЭ</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для старшеклассников и взрослых, серьёзно изучающих английский язык.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак. часов (4-12 занятий по 3 ак. часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Длительность обучения зависит от уровня начальной подготовки<br>
			и поставленных задач.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Материал может подаваться очень сжато либо очень подробно –<br>
			в зависимости от ваших потребностей и пожеланий.
		</p>		
	</div>
	<div style="width: 238px; height: 332px; float: right; margin: 0 48px 0 0;">
		<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor4.jpg" width="100%" height="100%" alt="Учебник">
		</div>	
	</div>
</div>
<div style="width: 960px; height: 334px; padding: 32px 0 0 0;">	
	<div style="width: 370px; height: 334px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 144px 0 21px 0; line-height: 22px;">
			Уровень 3. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 582px; height: 334px; float: right; margin: 0 0 0 0;">
		<div style="width: 582px; height: 334px; float: right; margin: 0 0 0 0;">
			<div style="width: 238px; height: 334px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 238px; height: 334px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor5.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 238px; height: 332px; float: right; margin: 0 48px 0 0;">
				<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor6.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 103px 0 30px 0;">
	Уровень 2
</p>
<div style="width: 960px; height: 332px; padding: 49px 0 0 0;">	
	<div style="width: 600px; height: 332px; float: left; margin: 0 0 0 25px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: -14px 0 17px 0;">
			Уровень 2.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 19px 0;">
			Для начинающих и среднего уровня.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Взрослым и школьникам.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Много лексики. Расширенная грамматическая база.<br>
			Основной упор на живую речь.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак. часов (4-12 занятий по 3 ак. часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Длительность обучения зависит от уровня начальной подготовки<br>
			и поставленных задач.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Материал может подаваться очень сжато либо очень подробно –<br>
			в зависимости от ваших потребностей и пожеланий.
		</p>		
	</div>
	<div style="width: 238px; height: 332px; float: right; margin: 0 43px 0 0;">
		<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor7.jpg" width="100%" height="100%" alt="Учебник">
		</div>	
	</div>
</div>
<div style="width: 960px; height: 332px; padding: 45px 0 0 0;">	
	<div style="width: 370px; height: 332px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 137px 0 21px 20px; line-height: 22px;">
			Уровень 2. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 566px; height: 332px; float: right; margin: 0 0 0 0;">
		<div style="width: 566px; height: 332px; float: right; margin: 0 0 0 0;">
			<div style="width: 238px; height: 332px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 238px; height: 334px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor8.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 238px; height: 332px; float: right; margin: 0 43px 0 0;">
				<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor9.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 112px 0 30px 0;">
	Уровень 1
</p>
<div style="width: 960px; height: 332px; padding: 29px 0 0 0;">	
	<div style="width: 600px; height: 332px; float: left; margin: 0 0 0 26px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 17px 0;">
			Уровень 1.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 17px 0;">
			Детская игровая версия.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px 0; line-height: 22px;">
			Для школьников 5-7 классов.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 0; line-height: 22px;">
			Курс: 12-36 ак. часов (4-12 занятий по 3 ак. часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Длительность обучения зависит от уровня начальной подготовки<br>
			и поставленных задач.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Материал может подаваться очень сжато либо очень подробно –<br>
			в зависимости от ваших потребностей и пожеланий.
		</p>		
	</div>
	<div style="width: 238px; height: 332px; float: right; margin: 0 61px 0 0;">
		<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor10.jpg" width="100%" height="100%" alt="Учебник">
		</div>	
	</div>
</div>
<div style="width: 960px; height: 332px; padding: 37px 0 0 0;">	
	<div style="width: 370px; height: 332px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 141px 8px 21px 0; line-height: 22px;">
			Уровень 1. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 582px; height: 332px; float: right; margin: 0 0 0 0;">
		<div style="width: 582px; height: 332px; float: right; margin: 0 0 0 0;">
			<div style="width: 238px; height: 332px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor11.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 238px; height: 332px; float: right; margin: -5px 61px 0 0;">
				<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor12.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 91px 0 23px 0;">
	Уровень 0
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 46px 0;">
	Программа <span class="tag">Вверх!</span>
</p>
<div style="width: 640px; height: 360px; margin: 0 auto;">
	<div class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<iframe width="640" height="360" src="//www.youtube.com/embed/7HsxPzU_TLw?autoplay=1&amp;loop=1&amp;playlist=7HsxPzU_TLw&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 52px 0 21px 27px; line-height: 22px;">
	Если у вас есть ребёнок 8-12 лет и вам хотелось бы самостоятельно подтянуть его в английском –<br>
	вам нужна <span class="light-blue bold italic">NL</span>-технология <span class="tag">Вверх!</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 27px; line-height: 22px;">
	Возьмите у нас один сеанс-тренинг, приобретите необходимые вам специальные <span class="light-blue bold italic">NL</span>-тренажёры и занимайтесь<br>
	с ребёнком 10-15 минут в день. <span class="blue bold">Через неделю он будет лучшим в классе!</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 27px; line-height: 22px;">
	Технология игровая.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 79px 0 9px 0;">
	Программа <span class="tag">Шаттл</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 29px 0;">
	Английский в мини-группах.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 27px; line-height: 22px;">
	Максимальный эффект <span class="blue bold">программа <span class="tag">Шаттл</span></span> даёт в вашей мини-группе из 2-3 человек (родители и дети, супруги,<br>
	друзья, коллеги, близкие люди).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 27px; line-height: 22px;">
	Это связано с выполнением особого домашнего задания – игрового, очень спортивного, длительностью 5-15 минут<br>
	в день (без зубрёжки), которое необходимо выполнять всем вместе.
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 65px 0 65px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 91px 0 92px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>