<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">	
	<div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
		<div class="animation-opacity animation-opacity-zoom active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/1.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/2.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/3.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/4.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/5.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/6.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/7.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/8.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/9.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/10.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/11.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/12.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/13.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/14.jpg);background-size: cover; background-position: center;"></div></div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 30px; left: 0px; width: 100%; text-align: center;">
		<p class="size-26 font-verdana" style="color: white; margin: 0 0 10px 0">Сверхскоростное нейролингвистическое обучение</p>
		<p class="font-verdana bold tag" style="font-size: 36px; color: white;"><span class="tag">Вертикальный взлёт</span></p>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; text-align: center;cursor: pointer; height: 70px;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]'">
		<a><span class="font-arial bold" style="font-size: 30px; color: white; text-decoration:underline; line-height: 60px;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 360px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический курс-новинка</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Безупречный английский на уровне инстинкта,<br>
				рефлекса, автоматизма – на уровне Подсознания.<br>
				СУПЕРСКОРОСТЬ. КАЧЕСТВО. РЕЗУЛЬТАТ.<br>
				Смотрите слайдер до конца!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 190px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Уникальность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод запатентован как изобретение.<br>
				Международная экспертиза PCT подтвердила:<br>
				НИЧЕГО ПОДОБНОГО В МИРЕ НЕТ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Эффективность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод в 15-20 раз эффективнее и мощнее того,<br>
				к чему вы привыкли. Вы достигнете желаемого<br>
				В 15-20 РАЗ БЫСТРЕЕ, ЛЕГЧЕ, ПРОЩЕ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 255px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Со скоростью света</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Обучение молниеносно. Вместо долгих лет труда –<br>
				ВСЕГО НЕСКОЛЬКО ЗАНЯТИЙ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 265px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Неизведанные миры</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Безупречная грамматика в полном объёме.<br>
				Много лексики. Чтение. Речь. Письмо. Перевод.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 235px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Лёгкость контакта</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Живая беглая речь на уровне навыка, рефлекса,<br>
				автоматизма – НА УРОВНЕ ПОДСОЗНАНИЯ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 155px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">На орбите</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Особая система БЫСТРОГО ЗАПОМИНАНИЯ<br>
				НОВЫХ СЛОВ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 320px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космические перспективы</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">ГРАММАТИЧЕСКИЕ СИНХРОНЫ сделают ваш<br>
				английский безупречным.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Антигравитация</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Специальная программа отталкивает любые<br>
				трудности, связанные с плохим восприятием<br>
				иностранных языков.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 325px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Расширение пространства</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Cистема лексических синхронов<br>
				МНОГОКРАТНО УЛУЧШАЕТ ПАМЯТЬ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 260px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Внеземное качество</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Качество обучения НАИВЫСШЕЕ.<br>
				Это подтверждено тремя Знаками Качества<br>
				Госстандарта РФ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 175px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космонавты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Принимаются взрослые и школьники, начинающие<br>
				и продвинутые. Индивидуально и в мини-группах.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 220px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Подарок судьбы</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Зубрёжки правил нет. Домашние задания<br>
				минимальны. ПОДРОБНОСТИ СПРАВА.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 230px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Приближая мечту</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Воплотите вашу мечту в жизнь!<br>
				ПОДРОБНОСТИ СПРАВА.</p></div></div>
	</div>








</div>
</div>
<p style="margin: 0; height: 0;"><script charset="utf-8" type="text/javascript" src="http://verovenko.org/wp-content/themes/twentyfourteen/js/slider1.js"></script></p>