<p class="yellow size-18 font-verdana bold" style="margin: -16px 0 0 0;">
	Английский язык
</p>
<p class="light-blue bold font-sans-font center" style="margin: 10px 0 27px 0; font-size: 30px;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<div style="width: 960px; height: 373px; padding: 6px 0 25px 0;">	
	<div style="width: 506px; height: 373px; float: left; margin: 0 0 0 13px;">
		<div class="image-shadow" style="width: 506px; height: 357px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 430px; height: 373px; float: right; margin: 0 -9px 0 0;">
		<p class="yellow font-arial bold size-30" style="margin: 53px 0 93px 0; line-height: 34px;">
			Английский<br>
			<span style="margin: 0 0 0 67px">на уровне подсознания</span>
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Уникальный<br>
			авторский метод<br>
			профессора Ольги Олеговны Веровенко
		</p>
	</div>
</div>
<p class="red bold size-26 font-arial center" style="margin: 18px 0 69px 0;">
	Всего 12 занятий – и ваш английский обретёт систему!
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 36px 0;">
	Метод <span class="tag">Вертикального взлёта</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 75px 21px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 31px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 16px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новой технологии<br>
	преподавания – метода <span class="tag">Вертикальный взлёт</span>.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 37px 53px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="yellow bold size-24 font-verdana center" style="margin: 51px 0 30px 0;">
	Уникальность и гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 17px;">
	<span class="tag">Вертикальный взлёт</span> запатентована как изобретение в России и за рубежом и не имеет аналогов<br>
	в мире.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 17px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red bold tag">КАЧЕСТВО НАИВЫСШЕЕ</span>.
</p>
<p class="size-18 font-verdana" style="margin: 0 0 33px 17px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Патенты, сертификаты, акты экспертиз.</span></a>
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 43px 17px;">
	Автор метода <span class="tag">Врождённой грамотности</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<div style="padding-top: 0; height: 540px;">
	<div style="width: 685px; height: 498px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 685px; height: 482px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/pirati.jpg" width="100%" height="100%" alt="Опасайтесь мошенников">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 15px 0 0 0;">
		Творческая <span class="blue italic">NL</span>-работа. Чтобы не путать попугая с пиратом...
	</p>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 58px 0 31px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	К обучению принимаются <span class="blue">взрослые</span> и школьники <span class="blue">начиная с 5-го класса</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	<span class="blue bold">Уровень 2.</span> Для начинающих (взрослые и школьники). Акцент на живую речь.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	<span class="blue bold">Уровень 3.</span> Продвинутый уровень. Гармоничное сочетание грамматики и лексики.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	<span class="blue bold">Уровень 4.</span> Безупречная грамматика. Синхронный перевод. Огранка языка.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<span class="bold">ГИА, ЕГЭ</span> и любые другие экзамены, в том числе самые сложные.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	Длительность каждого курса обучения 12-36 ак.часов (4-12 занятий по 3 ак.часа каждое<br>
	в зависимости от вашего исходного уровня, способностей и пожеланий).
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 44px;">
	Ваш исходный уровень определяется во время пробного занятия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	Занятия индивидуальные или в ваших мини-группах (родители с детьми, друзья, коллеги).
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 39px 0 29px 0;">
	Пробное занятие
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 21px 0;">
	Приходите и пробуйте. Понравится!
</p>
<p class="red size-30 bold font-verdana center" style="margin: 54px 0 31px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 23px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 59px 0 54px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 14px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]