<div class="trans23" style="opacity: 0; position: relative; z-index: 1; margin: 8px 0 32px 0;">
	<p class="light-blue bold font-sans-font center" style="margin: 0 0 0 0; font-size: 30px; line-height: 35px;">
		Сверхскоростное<br>
		нейролингвистическое обучение
	</p>
</div>
<div style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
	<div class="trans21" style="height: 35px; width: 700px; margin: -100px auto 0 330px; z-index: 5; position: relative; background: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bg-main.jpg) repeat-x 0 -28px;">
	</div>
	<div class="trans22" style="height: 35px; width: 820px; margin: 0 auto 0 210px; z-index: 5; position: relative; background: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bg-main.jpg) repeat-x 0 -60px;">
	</div>
</div>
<div class="cubeWrapper" style="width: 960px; height: 390px; padding: 3px 0 58px 0;">	
	<div class="rotator" style="width: 494px; height: 390px; float: left; margin: 0 0 0 5px;">
		<div style="width: 494px; height: 358px;">
			<div style="width: 494px; height: 358px; perspective: 800px; position: absolute;">
				<div class="cube image-shadow-0" style="width: 494px; height: 358px; opacity: 0; margin: 0 0 0 0; position: absolute;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
				</div></div>
		</div>
		<div class="image-shadow-right-1 cube1" style="opacity: 0;">			
		</div>
		<div class="image-shadow-left-1 cube1" style="opacity: 0;">			
		</div>
	</div>
	<div style="width: 435px; height: 390px; float: right; margin: 0 0 0 0;">
		<p class="yellow bold size-24 font-verdana center" style="margin: 5px 0 29px 0;">
			Уникальность
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 12px;">
			<span class="blue bold tag">Вертикальный взлёт</span> запатентован<br>
			как изобретение в России и за рубежом.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 12px;">
			Международная экспертиза PCT<br>
			подтвердила, что в области<br>
			нейролингвистики – современной науки<br>
			об усвоении	информации человеческим<br>
			мозгом – <span class="blue bold">метод не имеет аналогов<br>
			в мире</span>.
		</p>
		<p class="blue size-15 font-verdana" style="margin: 0 0 27px 12px; line-height: 18px;">
			Пожалуйста, не путайте нейролингвистику с НЛП –<br>
			нейролингвистическим программированием!
		</p>
		<p class="size-18 font-verdana" style="margin: 0 0 53px 12px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Нейролингвистика. Что это?</span></a>
		</p>	
	</div>
</div>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 31px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 16px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 37px 53px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="yellow bold size-24 font-verdana center" style="margin: 55px 0 30px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 17px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red bold tag">КАЧЕСТВО НАИВЫСШЕЕ</span>.
</p>
<p class="size-18 font-verdana" style="margin: 0 0 33px 17px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Патенты, сертификаты, акты экспертиз.</span></a>
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 43px 17px;">
	Автор метода <span class="tag">Вертикального взлёта</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 83px 0 31px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	К обучению принимаются <span class="blue">взрослые</span> и школьники <span class="blue">начиная с 5-го класса</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Длительность курса обучения:</span> 36 ак.часов (12 занятий по 3 ак.часа).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Полукурс</span> или вариант рассрочки: 18 ак.часов (6 занятий по 3 ак.часа).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Занятия индивидуальные</span> или в ваших мини-группах. Возможен выезд к вам.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 82px 0 11px 0;">
	<span class="tag">Вертикальный взлёт</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 20px 0;">
	(Классическая версия)
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 29px 0;">
	Всего 12 занятий – и ваш английский обретёт систему!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 27px 21px;">
	<span class="blue bold">Безупречная грамматика. Много лексики. Чтение. Речь. Письмо. Синхронный перевод.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 21px;">
	Эта программа предназначена для тех, кому иностранные языки даются без особого труда.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 21px;">
	Для тех, кому иностранные языки даются тяжело, медленно, скучно, предназначена<br>
	программа <span class="tag">Шаттл</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 21px;">
	<span class="blue bold">Программа <span class="tag">Шаттл</span>: ещё ярче, ещё интереснее!</span>
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 92px 0 1px 0;">
	Программа <span class="tag">Шаттл</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 33px 0;">
	(<span class="tag">Вертикальный взлёт-<span class="light-blue bold italic">NL</span></span>)
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 44px;">
	Для тех, кто учил-учил лет 15-20, а всё никак... 
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 44px;">
	Для начинающих и слабых.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Для сильных учащихся тоже.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Безупречная грамматика. Много лексики. Чтение. Речь. Письмо. Синхронный<br>
	перевод. Особая система запоминания слов.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Технология позволяет одновременно, без потерь времени и сил, обучать английскому и<br>
	корректировать любые проблемы, связанные с плохим восприятием иностранных языков.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Идёт мощнейшая проработка <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">зоны Вернике</span></a>, которая отвечает за лёгкость усвоения<br>
	иностранных языков, терминологию, успех в образовании и <span class="blue bold">память</span>.
</p>
<p class="red size-18 font-verdana line-height-23" style="margin: 0 0 11px 44px;">
	Вот что даёт программа <span class="tag">Шаттл</span>:
</p>
<ul class="grey font-verdana" style="margin: 0 0 37px 69px; line-height: 42px; font-size: 13px;">
	<li><span class="blue bold size-18">Эффект полиглота:</span> <span class="dark-blue size-18">изучение любых языков становится для вас лёгким, молниеносным.</span></li>
	<li><span class="blue bold size-18">Улучшается память</span> <span class="dark-blue size-18">(многократно!)</span></li>
	<li><span class="blue bold size-18">Безупречный английский</span> <span class="dark-blue size-18">(само собой!)</span></li>
</ul>
<p class="yellow bold size-24 font-verdana center" style="margin: 70px 0 39px 0;">
	Максимальный эффект
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Максимальный эффект <span class="blue bold">программа <span class="tag">Шаттл</span></span> даёт в семейной мини-группе из 2-3 человек<br>
	(родители и дети, супруги, близкие люди – то есть те, кто проживает под одной крышей). 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Это связано с выполнением особого домашнего задания – игрового, очень спортивного,<br>
	нескучного, длительностью 5-15 минут в день (без зубрёжки и вникания во что-либо).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Других домашних заданий нет.<br>
	Небольшие домашние задания могут быть даны только по вашему желанию.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 94px 0 29px 0;">
	Пробное занятие
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 21px 0;">
	Приходите и пробуйте. Понравится!
</p>
<p class="red size-30 bold font-verdana center" style="margin: 43px 0 38px 0;">
	Рождественские скидки до 75%
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 68px 0 54px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 78px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]