<div class="trans23" style="opacity: 0; position: relative; z-index: 1; margin: 8px 0 21px 0;">
	<p class="light-blue bold font-sans-font center" style="margin: 0 0 0 0; font-size: 30px; line-height: 35px;">
		Сверхскоростное<br>
		нейролингвистическое обучение
	</p>
</div>
<div style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
	<div class="trans21" style="height: 35px; width: 700px; margin: -89px auto 0 330px; z-index: 5; position: relative; background: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bg-main.jpg) repeat-x 0 -28px;">
	</div>
	<div class="trans22" style="height: 35px; width: 820px; margin: 0 auto 0 210px; z-index: 5; position: relative; background: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bg-main.jpg) repeat-x 0 -60px;">
	</div>
</div>
<div class="cubeWrapper" style="width: 960px; height: 390px; padding: 0 0 54px 0;">	
	<div class="rotator" style="width: 494px; height: 390px; float: left; margin: 0 0 0 5px;">
		<div style="width: 494px; height: 358px;">
			<div style="width: 494px; height: 358px; perspective: 800px; position: absolute;">
				<div class="cube image-shadow-0" style="width: 494px; height: 358px; opacity: 0; margin: 0 0 0 0; position: absolute;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
				</div></div>
		</div>
		<div class="image-shadow-right-1 cube1" style="opacity: 0;">			
		</div>
		<div class="image-shadow-left-1 cube1" style="opacity: 0;">			
		</div>
	</div>
	<div style="width: 433px; height: 390px; float: right; margin: 0 0 0 0;">
		<p class="yellow bold size-24 font-verdana" style="margin: 27px 0 37px 0;">
			Безупречный английский:
		</p>
		<p class="yellow bold size-20 font-verdana" style="margin: 0 0 39px 0; line-height: 36px;">
			на уровне<br>
			<span style="margin: 0 0 0 96px;">навыка,</span><br>
			<span style="margin: 0 0 0 178px;">рефлекса,</span><br>
			<span style="margin: 0 0 0 245px;">автоматизма –</span>
		</p>
		<p class="yellow bold size-24 font-verdana" style="margin: 5px 0 50px 20px;">
			НА УРОВНЕ ПОДСОЗНАНИЯ!
		</p>
		<div style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
			<div class="trans24" style="height: 380px; width: 433px; margin: -380px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 33px 0;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 69px;">
	<span class="blue">Нейролингвистика</span> – это когда всё понятно и ни слова из <span class="tag">правил</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 27px 69px;">
	<span class="blue">Нейролингвистика</span> опирается на вложенные в нас <span class="blue bold">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="blue size-15 font-verdana" style="margin: 0 0 84px 69px; line-height: 18px;">
	Пожалуйста, не путайте нейролингвистику с НЛП –	нейролингвистическим программированием!
</p>
<div style="width: 960px; height: 585px;">	
	<div style="width: 421px; height: 585px; float: right; margin: 0 55px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 421px; height: 569px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 585px; float: left; margin: 0 0 0 78px">
		<p class="yellow size-24 font-verdana bold" style="margin: -10px 0 65px 0;">
			Нейролингвистика:
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 30px 0 22px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 51px 0 40px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 48px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 97px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 151px;">вот её суть!</span>
		</p>
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 62px 29px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-16 font-verdana" style="margin: 0 0 39px 0;">
			Длительность 12 сеансов.
		</p>
		<p class="red size-24 bold font-verdana center" style="margin: 0 62px 0 0;">
			Чудо будет!
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana" style="margin: 66px 0 89px 47px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 31px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 16px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 72px 53px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 22px;">
	<span class="blue bold tag">Вертикальный взлёт</span> уникален и запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 22px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – это изобретение первое и пока единственное.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 45px 22px;">
	Международная экспертиза РСТ подтвердила, что оно <span class="red">не имеет аналогов в мире.</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 258px; height: 380px; float: left; margin: 0 74px 3px 180px;">
		<div class="image-shadow-0 in" style="width: 258px; height: 364px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1" style="width: 129px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 129px;">			
		</div>				
	</div>
	<div style="width: 258px; height: 380px; float: right; margin: 0 190px 3px 0;">
		<div class="image-shadow-0 in" style="width: 258px; height: 363px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>	
		<div class="image-shadow-right-1" style="width: 129px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 129px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 19px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретения.
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 57px 0 74px 14px;">
	Автор <span class="tag">Вертикального взлёта</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 29px 14px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 374px;">	
	<div style="width: 417px; height: 305px; float: left; margin: 58px 0 0 124px;">
		<div class="image-shadow-0 in" style="width: 417px; height: 289px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 250px; height: 370px; float: right; margin: 0 117px 0 0;">
		<div class="image-shadow-0 in" style="width: 250px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 125px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 125px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 1px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 84px 0;">
	У нас таких три!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 83px 0 31px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	К обучению принимаются <span class="blue">взрослые</span> и школьники <span class="blue">начиная с 5-го класса</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Длительность курса обучения:</span> 36 ак.часов (12 занятий по 3 ак.часа).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Полукурс</span> или вариант рассрочки: 18 ак.часов (6 занятий по 3 ак.часа).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	<span class="blue bold">Занятия индивидуальные</span> или в ваших мини-группах. Возможен выезд к вам.
</p>
<p class="yellow bold size-18 font-verdana line-height-23" style="margin: 0 0 21px 44px;">
	Программа строится индивидуально с учётом возраста и ваших пожеланий.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 82px 0 11px 0;">
	<span class="tag">Вертикальный взлёт</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 39px 0;">
	(Классическая версия)
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 29px 0;">
	Всего 12 занятий – и ваш английский обретёт систему!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 27px 21px;">
	<span class="blue bold">Безупречная грамматика. Много лексики. Чтение. Речь. Письмо. Синхронный перевод.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 21px;">
	Эта программа предназначена для тех, кому иностранные языки даются без особого труда.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 21px;">
	Для тех, кому иностранные языки даются тяжело, медленно, скучно, предназначена<br>
	программа <span class="tag">Шаттл</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 21px;">
	<span class="blue bold">Программа <span class="tag">Шаттл</span>: ещё ярче, ещё интереснее!</span>
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 99px 0 1px 0;">
	Программа <span class="tag">Шаттл</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 38px 0;">
	(<span class="tag">Вертикальный взлёт-<span class="light-blue bold italic">NL</span></span>)
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 50px;">
	Для тех, кто учил-учил лет 15-20, а всё никак... 
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 50px;">
	Для начинающих и слабых.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	Для сильных учащихся тоже.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	Безупречная грамматика. Много лексики. Чтение. Письмо. Синхронный перевод.<br>
	Навыки живой беглой речи.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Особая система запоминания слов</span> позволяет усваивать лексику МОЛНИЕНОСНО,<br>
	практически с первого предъявления.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	Встроенная в обучение <span class="blue bold">система лексичских синхронов</span> МНОГОКРАТНО УЛУЧШАЕТ ПАМЯТЬ.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Система грамматических синхронов</span> позволяет обрести навык беглой, безупречно<br>
	правильной английской речи на уровне НАВЫКА, РЕФЛЕКСА, АВТОМАТИЗМА – НА УРОВНЕ<br>
	ПОДСОЗНАНИЯ.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	Встроенная в обучение <span class="blue bold">специальная программа</span> позволяет одновременно, без потерь<br>
	времени и сил, обучать английскому и КОРРЕКТИРОВАТЬ ЛЮБЫЕ ПРОБЛЕМЫ, СВЯЗАННЫЕ С<br>
	ПЛОХИМ ВОСПРИЯТИЕМ ИНОСТРАННЫХ ЯЗЫКОВ.
</p>
<p class="red size-18 font-verdana line-height-23" style="margin: 0 0 11px 50px;">
	Вот что даёт программа <span class="tag">Шаттл</span>:
</p>
<ul class="grey font-verdana" style="margin: 0 0 37px 75px; line-height: 42px; font-size: 13px;">
	<li><span class="blue bold size-18">Безупречный английский</span> <span class="dark-blue size-18">(само собой!)</span></li>
	<li><span class="blue bold size-18">Улучшается память</span> <span class="dark-blue size-18">(многократно!)</span></li>
	<li><span class="blue bold size-18">Эффект полиглота:</span> <span class="dark-blue size-18">изучение любых языков становится для вас лёгким, молниеносным.</span></li>
</ul>
<p class="yellow bold size-24 font-verdana center" style="margin: 70px 0 39px 0;">
	Максимальный эффект
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	Максимальный эффект <span class="blue bold">программа <span class="tag">Шаттл</span></span> даёт в семейной мини-группе из 2-3 человек<br>
	(родители и дети, супруги, близкие люди – то есть те, кто проживает под одной крышей). 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	Это связано с выполнением особого домашнего задания – игрового, очень спортивного,<br>
	нескучного, длительностью 5-15 минут в день (без зубрёжки и вникания во что-либо).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 101px 50px;">
	Других домашних заданий нет.<br>
	Небольшие домашние задания могут быть даны только по вашему желанию.
</p>
<p class="red font-verdana size-30 bold center" style="margin-bottom: 49px;">
	Как получить скидку до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Скидки</span> – <span class="blue bold">обычная</span> <span class="red">до 55%</span> <span class="blue bold">и Рождественская</span> <span class="red">до 75%</span> – предназначены только<br>
	для <span class="red bold">Persona Grata</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Чтобы обрести этот статус, вам необходимо соблюдать все условия,<br>
	предъявляемые к</span> <span class="red bold">Persona Grata</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Условие первое:</span> <span class="red bold">Persona Grata</span> внимательно ознакомилась с <a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">материалами сайта</span></a><br>
	и <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">условиями обучения</span></a>. 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Остальные условия</span> узнаете, читая материалы сайта.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 73px 50px;">
	<span class="blue bold">Альтернатива:</span> оплата по базовой стоимости, без скидок.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 29px 0;">
	Пробное занятие
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 0 0;">
	Приходите и пробуйте. Понравится!
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 64px 0 54px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 73px 0 80px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>