<h2 class="heading green size-30">За гранью возможного</h2>
<div style="padding-top: 58px; height: 676px;">
	<div style="width: 937px; height: 676px; margin: 0 auto;">
		<div class="image-shadow" style="width: 933px; height: 660px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-32 font-verdana center" style="margin: 88px 0 19px 0; line-height: 40px;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<p class="dark-blue bold size-24 font-verdana center" style="margin: 22px 0 19px 0;">
	Безупречный английский
</p>
<div style="width: 960px; height: 852px; padding-top: 91px;">	
	<div style="width: 486px; height: 852px; float: left; margin-left: 10px;">
		<div class="image-shadow-0" style="width: 486px; height: 617px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/kosmos.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>
		<p class="light-blue size-24 bold font-verdana" style="margin: 69px 0 31px 0;">
			Скорость
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 81px 0;">
			<span class="tag">Вертикальный взлёт</span> <span class="blue bold">в 15-20 раз</span> эффективнее,<br>
			мощнее, ярче всего того, к чему вы привыкли. Вы<br>
			достигнете великолепного результата <span class="blue">в 15-20 раз</span><br>
			быстрее, легче, проще.
		</p>				
	</div>
	<div style="width: 448px; height: 852px; float: right; margin: 0 4px 0 0;">
		<p class="light-blue size-24 bold font-verdana" style="margin: 0 0 23px 15px;">
			Уникальность
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 81px 15px;">
			Эта уникальная технология<br>
			скоростного <span class="light-blue bold" style="font-style: italic;">NL</span>-обучения<br>
			запатентована как изобретение<br>
			в России и за рубежом.<br>
			Международная экспертиза РСТ<br>
			подтвердила: ничего подобного<br>
			в мире нет.
		</p>
		<p class="light-blue size-24 bold font-verdana" style="margin: 0 0 48px 15px; line-height: 26px;">
			Зубрёжки правил нет<br>
			<span class="size-18 dark-blue">Домашние задания минимальны</span>
		</p>		
		<div class="image-shadow-0" style="width: 448px; height: 389px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/kosmos1.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
</div>
<div style="padding-top: 16px; height: 474px;">
	<div style="width: 820px; height: 474px; margin: 0 0 0 10px;">
		<div class="image-shadow-0" style="width: 820px; height: 458px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/kosmoship.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 675px; padding-top: 91px;">	
	<div style="width: 395px; height: 675px; float: left; margin-left: 10px;">
		<p class="light-blue size-24 bold font-verdana" style="margin: 0 0 15px 0;">
			Безупречная грамматика
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 102px 0;">
			Безупречная грамматика в полном<br>
			объёме.
		</p>
		<p class="light-blue size-24 bold font-verdana" style="margin: 69px 0 15px 0;">
			Много лексики
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Уникальная система молниеносного<br>
			запоминания слов.
		</p>
		<div class="image-shadow-0" style="width: 395px; height: 333px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sky.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 484px; height: 675px; float: right; margin: 0 48px 0 0;">		
		<div class="image-shadow-0" style="width: 484px; height: 543px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sky1.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 69px 0 23px 0;">
	Произношение, речь, письмо
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 49px;">
	Навык хорошего произношения, беглой речи, грамотного письма и скоростного<br>
	синхронного перевода с английского на русский и обратно (аудирование) начиная с<br>
	первого занятия.
</p>
<div style="padding-top: 2px; height: 519px;">
	<div style="width: 863px; height: 519px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 863px; height: 503px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/kosmos2.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 622px; padding-top: 41px;">	
	<div style="width: 532px; height: 622px; float: left; margin-left: 49px;">
		<div class="image-shadow-0" style="width: 532px; height: 606px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/cosmonaut.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 372px; height: 622px; float: right; margin: 0 4px 0 0;">
		<p class="light-blue size-24 bold font-verdana" style="margin: 0 0 15px 15px;">
			Космонавты
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 290px 15px;">
			В полёт приглашаются взрослые и<br>
			школьники начиная с 5-го класса.<br>
			Занятия индивидуальные или в<br>
			вашем отряде космонавтов (семья,<br>
			друзья, коллеги).<br>
			<span class="blue bold">Возможен вылет к вам.</span>
		</p>
		<p class="light-blue size-24 bold font-verdana" style="margin: 0 0 23px 15px;">
			Уровни подготовки
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 81px 15px;">
			- для запредельно сильных,<br>
			- для середнячков,<br>
			- для совсем слабых.
		</p>
	</div>
</div>
<div style="padding-top: 35px; height: 512px;">
	<div style="width: 715px; height: 475px; margin: 0 0 0 231px;">
		<div class="image-shadow-0" style="width: 715px; height: 459px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sputnik.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 458px; padding-top: 0;">	
	<div style="width: 587px; height: 458px; float: left; margin-left: 11px;">
		<div class="image-shadow-0" style="width: 587px; height: 442px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/clock.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 355px; height: 458px; float: right; margin: 0 0 0 0;">
		<p class="light-blue size-24 bold font-verdana" style="margin: 0 0 15px 15px;">
			Длительность курса
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 15px;">
			Длительность одного курса<br>
			обучения (уровня) 36 ак.часов &ndash; 12<br>
			занятий по 3 ак.часа каждое.<br>
			Полукурс: 18 ак.часов - 6 занятий<br>
			по 3 ак.часа каждое.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 94px 0 59px 0;">
	Звуки Вселенной
</p>
<div style="width: 960px; height: 295px; padding-top: 20px;">	
	<div style="width: 270px; height: 295px; float: left; margin-left: 130px;">
		<div class="image-shadow" style="width: 266px; height: 259px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/earth.jpg);">
		</div>	
		<div class="image-shadow-right-1" style="width: 133px; background-position: -181px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 133px;">			
		</div>				
	</div>
	<div style="width: 483px; height: 295px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Звук атмосферы Земли
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153456367&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<div style="width: 960px; height: 214px; padding-top: 120px;">	
	<div style="width: 281px; height: 214px; float: left; margin-left: 130px;">
		<div class="image-shadow-0" style="width: 281px; height: 198px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/saturn.jpg);">
		</div>	
		<div class="image-shadow-right-1" style="width: 140px; background-position: -175px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 141px;">			
		</div>				
	</div>
	<div style="width: 483px; height: 214px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Радиосигналы Сатурна
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153459154&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<div style="width: 960px; height: 227px; padding-top: 120px;">	
	<div style="width: 285px; height: 227px; float: left; margin-left: 130px;">
		<div class="image-shadow-0" style="width: 285px; height: 211px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/upiter.jpg);">
		</div>	
		<div class="image-shadow-right-1" style="width: 143px; background-position: -175px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 142px;">			
		</div>				
	</div>
	<div style="width: 483px; height: 227px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Магнитосфера Юпитера
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153462598&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<div style="width: 960px; height: 251px; padding-top: 120px;">	
	<div style="width: 293px; height: 251px; float: left; margin-left: 130px;">
		<div class="image-shadow" style="width: 289px; height: 235px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/svistuni.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1" style="width: 144px;">			
		</div>				
	</div>
	<div style="width: 483px; height: 251px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Свистуны
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153463513&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<div style="width: 960px; height: 245px; padding-top: 120px;">	
	<div style="width: 291px; height: 245px; float: left; margin-left: 130px;">
		<div class="image-shadow" style="width: 287px; height: 229px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/pulsar.jpg);">
		</div>	
		<div class="image-shadow-right-1" style="width: 144px; background-position: -171px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 143px;">			
		</div>				
	</div>
	<div style="width: 483px; height: 245px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Звук пульсара
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153465215&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<div style="width: 960px; height: 283px; padding-top: 120px;">	
	<div style="width: 281px; height: 283px; float: left; margin-left: 130px;">
		<div class="image-shadow-0" style="width: 281px; height: 267px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/boom.jpg);">
		</div>	
		<div class="image-shadow-right-1" style="width: 141px; background-position: -175px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 140px;">			
		</div>				
	</div>
	<div style="width: 483px; height: 283px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Остатки Большого Взрыва
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153465504&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<div style="width: 960px; height: 280px; padding-top: 120px;">	
	<div style="width: 294px; height: 244px; float: left; margin-left: 130px;">
		<div class="image-shadow" style="width: 290px; height: 228px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/star-verovenko.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 483px; height: 280px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 15px 15px;">
			Звезда Ольга Веровенко
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 15px 15px;">
			Звезда названа в честь <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-18">автора<br>
			метода</span></a> <span class="tag">Вертикальный взлёт</span>
		</p>
		<div style="width: 345px; height: 166px;">	
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153465504&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>
</div>
<p class="light-blue size-30 bold font-verdana center" style="margin: 108px 0 54px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 115px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class="red size-24 font-verdana center bold" style="margin: 65px 0 -3px 0;">
	Нам 25 лет!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 font-verdana center bold" style="margin: 7px 0 31px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="blue">Отзывы, благодарности, поздравления.</span></a>
</p>	
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px; margin-top: 45px;">
	О нас писали
</p>
<p class="size-18 font-verdana center line-height-23" style="margin-bottom: 30px;">
	<a href="http://verovenko.ru/o-nas-pisali/" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="dark-blue">Публикации о нашем опыте<br>в советской, российской и зарубежной прессе</span></a>
</p>
<div style="width: 527px; height: 422px; margin:0 auto;">
	<div class="image-shadow" style="width: 487px; margin-left: 20px; height: 406px; border: 0px solid #717070; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/globe.jpg);">
	</div>
	<div class="image-shadow-right">			
	</div>
	<div class="image-shadow-left">			
	</div>
</div>
<p class=" blue size-24 bold font-verdana center" style="margin-top: 26px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению компаса.<br>
	<span class="red">Счастливого пути!
</span></p>