<p class="light-blue font-sans-font center" style="margin: 9px 0 12px 0; font-size: 30px;">
	<span class="tag">Врождённая грамотность</span>. Бренд навсегда!
</p>
<div style="width: 960px; height: 389px; padding: 47px 0 3px 0;">	
	<div style="width: 411px; height: 389px; float: left; padding-right: 0px">
		<p class="yellow font-sans-font" style="margin: 26px 0 27px 6px; line-height: 38px; font-size: 30px;">
			Всего 12 занятий –<br>
			<span style="margin: 0 0 0 175px">и ошибок нет!</span>
		</p>
		<p class="blue size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 27px;">
			Безупречная грамотность.<br>
			Чтение, речь, литература.<br>
			Коррекция дислексии, дисграфии.<br>
			Сочинения, изложения, творчество.<br>
			Поддержка психолога.<br>
			ГИА, ЕГЭ.
		</p>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 26px; line-height: 17px;">
			Индивидуально и в мини-группах.<br>
			Возможен выезд к вам.
		</p>
		<div id="anim-vertvzlet" style="height: 0; width: 430px;">
			<div style="height: 40px; width: 300px; position: absolute; background-color: white; margin: -350px 0 0 0;"></div>
			<div style="height: 40px; width: 300px; position: absolute; background-color: white; margin: -310px 0 0 170px;"></div>
			<div style="height: 250px; width: 430px; position: absolute; background-color: white; margin: -250px 0 0 0;"></div>
		</div>		
	</div>
	<div style="width: 540px; height: 389px; float: right; margin: 0 9px 0 0; position: relative;">
		<div class="image-shadow" style="width: 540px; height: 373px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl5.jpg" width="100%" height="100%" alt="Счастливая девочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-14 font-verdana" style="margin: 0 0 88px 105px; line-height: 17px;">
	Взрослым и школьникам,<br>
	<span style="margin: 0 0 0 110px;">младшим и старшим,</span><br>
	<span style="margin: 0 0 0 170px;">отличникам и отстающим –</span><br>
	<span style="margin: 0 0 0 290px;">каждому своя версия!</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 36px 0 17px 0;">
	<span class="tag">Врождённая грамотность</span>: скорость, качество, результат
</p>
<p class="blue bold size-18 font-verdana center line-height-23" style="margin: 0 0 42px 0;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin: 0 auto;">
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 79px 0 30px 0;">
	Эффективность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 34px 40px; line-height: 17px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 34px 40px; line-height: 17px;">
	За период обучения количество ошибок в письменных работах учащихся снижается <span class="red">до 100 раз</span> от<br>
	исходного уровня.
</p>
<ul class="grey size-14 font-verdana bold" style="margin: 0 0 59px 73px; line-height: 38px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уникальность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 21px; line-height: 17px;">
	<span class="blue bold tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 32px 21px; line-height: 17px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим мозгом – это изобретение<br>
	первое и пока единственное.
</p>
<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 46px 21px; line-height: 17px;">
	Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 254px; height: 376px; float: left; margin: 0 74px 7px 182px;">
		<div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent1-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent1.jpg" width="100%" height="100%" alt="Патент Германия"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 127px;">			
		</div>				
	</div>
	<div style="width: 254px; height: 376px; float: right; margin: 0 192px 7px 0;">
		<div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent2.jpg" width="100%" height="100%" alt="Патент Россия"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 127px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретения.<br>
		<span class="light-blue">Для увеличения кликните по картинке.</span>
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 64px 0 80px 14px;">
	Автор <span class="tag">Врождённой грамотности</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 37px 14px; line-height: 22px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ с категорией<br>
	<span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 360px;">	
	<div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 131px;">
		<div class="image-shadow in" style="width: 413px; height: 285px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate1-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate1.jpg" width="100%" height="100%" alt="Сертификат"></a>
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 246px; height: 344px; float: right; margin: 0 124px 10px 0;">
		<div class="image-shadow in" style="width: 246px; height: 344px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate2.jpg" width="100%" height="100%" alt="Сертификат"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 123px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 15px 0 3px 0;">
	Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 55px 0; line-height: 16px;">
	У нас таких три!<br>
	<span class="blue">Для увеличения кликните по картинке.</span>
</p>
<p class="yellow bold size-24 font-verdana" style="margin: 0 0 101px 60px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 0 0;">
	Уровень 4
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 0 0;">
	Мастер-класс
</p>
<div style="width: 960px; height: 490px; padding: 50px 0 0 0;">	
	<div style="width: 360px; height: 490px; float: left; margin: 0 0 0 10px; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 19px 0 18px 0;">
			<span class="blue bold">Уровень 4.</span> <span class="size-14">Мастер-класс.</span>
		</p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 14px 0; line-height: 17px;">
			Комплексная подготовка к ГИА, ЕГЭ<br>
			<span style="margin: 0 0 0 142px;">на пять!</span>
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			Сочинения, изложения, эссе.<br>
			Стилистика. Литературное редактирование.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 37px 0; line-height: 22px;">
			Русский язык. Теория и практика.<br>
			Грамотность. Синтаксис и орфография<br>
			повышенной сложности.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Курс: 12-24 ак.часа<br>
			(4-8 занятий по 3 ак.часа каждое).
		</p>
		<p class="font-verdana bold" style="margin: 0 0 21px 0; font-size: 12px; line-height: 18px; color: rgb(237, 95, 28);">
			Занятия ведёт автор метода <span class="tag">Врождённой<br>
			грамотности</span> проф. О.О.Веровенко.
		</p>	
	</div>
	<div style="width: 574px; height: 490px; float: right; margin: 0 15px 0 0;">
		<div style="width: 574px; height: 400px; float: right; margin: 0 0 25px 0;">
			<div style="width: 280px; height: 400px; float: left; margin: 0 0 0 0;">
				<div style="width: 280px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/uchebnik5.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 272px; height: 400px; float: right; margin: 0 0 0 0;">
				<div style="width: 272px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/uchebnik6.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
			Уровень 4. Учебник и ключи к занятиям.<br>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 48px 0 0 0;">
	Уровень 3
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 0 0;">
	Идеально для ГИА, ЕГЭ.
</p>
<div style="width: 960px; height: 490px; padding: 56px 0 0 0;">	
	<div style="width: 390px; height: 490px; float: left; margin: 0 0 0 7px; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 23px 0;">
			<span class="blue bold">Уровень 3.</span>
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Школьникам 9-11 классов.<br>
			Идеально для ГИА, ЕГЭ.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак.часов<br>
			(4-12 занятий по 3 ак.часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Результаты обучения говорят сами за себя!</span><br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Сравните результаты тестов <span class="tag">до</span> и <span class="tag">после</span>.</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Условия приёма: <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
			(минимальная норма здоровья). Определяется во<br>
			время тестирования.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если концентрация недостаточна, вам будет<br>
			предложен сеанс <span class="light-blue bold italic">NL</span>-психолога (см. ниже), либо<br>
			курс <span class="red bold tag">Чудо будет!</span>, который позволяет<br>
			одновременно, без потерь времени и сил,<br>
			корректировать проблемы и обучать грамотности.
		</p>	
	</div>
	<div style="width: 536px; height: 490px; float: right; margin: 0 22px 0 0;">
		<div style="width: 536px; height: 360px; float: right; margin: 0 0 25px 0;">
			<div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 253px; height: 420px; float: right; margin: 0 0 0 0;">
				<div class="in" style="width: 253px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik1.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik1.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
			Уровень 3. Учебник и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 96px 0 70px 0;">
	Уровень 2
</p>
<div style="width: 960px; height: 490px; padding: 0 0 0 0;">	
	<div style="width: 390px; height: 490px; float: left; margin: 0 0 0 8px; position: relative; z-index: 2;">
		<p class="blue bold size-16 font-verdana line-height-23" style="margin: 0 0 23px 0;">
			Уровень 2.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Школьникам 7-8 классов.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 36 ак.часов<br>
			(12 занятий по 3 ак.часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Результаты обучения говорят сами за себя!</span><br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Сравните результаты тестов <span class="tag">до</span> и <span class="tag">после</span>.</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Условия приёма: <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
			(минимальная норма здоровья). Определяется во<br>
			время тестирования.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если концентрация недостаточна, вам будет<br>
			предложен сеанс <span class="light-blue bold italic">NL</span>-психолога (см. ниже), либо<br>
			курс <span class="red bold tag">Чудо будет!</span>, который позволяет<br>
			одновременно, без потерь времени и сил,<br>
			корректировать проблемы и обучать грамотности.
		</p>	
	</div>
	<div style="width: 526px; height: 490px; float: right; margin: 0 15px 0 0;">
		<div style="width: 526px; height: 360px; float: right; margin: 0 0 25px 0;">
			<div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik2.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 242px; height: 360px; float: right; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik3-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik3.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
			Уровень 2. Учебник и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 51px 0 5px 0;">
	<span class="tag">Чудо будет!</span>
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 48px 0; line-height: 26px;">
	(<span class="tag">Врождённая грамотность для детей</span>)<br>
	ещё ярче, ещё интереснее!
</p>
<div style="width: 960px; height: 526px;">	
	<div style="width: 376px; height: 526px; float: right; margin: 0 63px 0 0; position: relative;">
		<div class="image-shadow" style="width: 376px; height: 510px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 439px; height: 526px; float: left; margin: 0 0 0 38px">
		<p class="yellow size-16 bold font-verdana" style="margin: 0 0 32px 0; line-height: 20px;">
			Полностью игровой – от начала до конца! –<br>
			курс для школьников 3-7 классов.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 48px">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 48px;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 17px 48px;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-14 bold font-verdana" style="margin: 37px 0 24px 48px; line-height: 20px;">
			Цвет,<br>
			<span class="red" style="margin-left: 36px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 76px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 121px;">вот его суть!</span>
		</p>
		<p class="blue size-14 bold font-verdana center" style="margin: 0 62px 29px 0; line-height: 22px;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-14 font-arial center" style="margin: 0 62px 33px 0;">
			Курс 4-12 сеансов по 3 ак.часа.
		</p>
		<p class="red size-18 bold font-verdana" style="margin: 0 0 27px 0;">
			<span class="blue size-14">Зайдите, пожалуйста:</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #EE1C24;"><span class="red">Чудо будет!</span></a><br>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 17px;">
			Автор технологии и педагог –<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p class="yellow size-16 bold font-verdana" style="margin: 33px 0 44px 199px; line-height: 25px;">
	Курс позволяет одновременно, без потерь времени и сил,<br>
	корректировать любые проблемы и обучать грамотности.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 9px 38px; line-height: 22px;">
	<span class="blue bold">В программе всё, о чём вам мечталось:</span> безупречная грамотность, чтение, речь, сочинения, изложения,<br>
	творческие диктанты, дивной красоты творческие работы по русскому, английскому, литературе, коррекция<br>
	дислексии, дисграфии, <span class="tag">школьного</span> невроза, повышение концентрации внимания, поддержка психолога.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 38px; line-height: 22px;">
	И всё это – в рамках единого игрового курса!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 97px 0 5px 0;">
	Арт-талант
</p>
<p class="dark-blue size-16 font-verdana center" style="margin: 0 0 39px 0;">
	Творчески-игровой курс для школьников 1-3 классов.
</p>
<p class="blue size-20 font-verdana" style="margin: 0 0 30px 24px; line-height: 25px;">
	Вам говорят, что он – тупой?<br>
	<span style="margin: 0 0 0 84px;">Вам говорят, что он – лентяй?</span><br>
	<span style="margin: 0 0 0 169px;">Вам говорят, что она – егоза?</span>
</p>
<p class="red size-24 font-verdana bold center" style="margin: 0 80px 30px 26px; line-height: 25px;">
	НЕПРАВДА!
</p>
<p class="blue size-20 font-verdana" style="margin: 0 0 54px 24px; line-height: 25px;">
	<span style="margin: 0 0 0 496px;">Ваш ребёнок – <span class="bold">ТАЛАНТ!</span></span>
</p>
<div id="load-video2" class="load-video" style="width: 640px; height: 368px; margin: 0 auto;">	
</div>
<p class="blue bold size-18 font-verdana" style="margin: 55px 0 19px 80px;">
	Полностью игровой – от начала до конца! – курс.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Усидчивость, выносливость, работоспособность, внимательность.<br>
	Чтение, речь, письмо, творчество.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Ликвидация признаков дислексии, дисграфии, <span class="tag">школьного</span> невроза.<br>
	Поддержка психолога (доктор наук).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Интерес и любовь к учёбе появляются с первого занятия. 
</p>
<p class="blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	<span class="bold">Обязательное условие:</span> родители не только присутствуют на занятиях, но	играют, обучаются и<br>
	веселятся вместе со своими детьми!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 80px; line-height: 22px;">
	Курс: 4 занятия по 2 ак.часа каждое.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 80px; line-height: 22px;">
	Автор технологии и педагог –<br>
	профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 94px 0 7px 0;">
	Творческие диктанты
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 52px 0;">
	Их любят все – взрослые и дети!
</p>
<div style="width: 960px; height: 395px; margin: 0 0 0 0;">	
	<div style="width: 507px; height: 395px; float: right; margin: 0 24px 0 0; position: relative;">
		<div class="image-shadow" style="width: 507px; height: 379px; margin: 0 0 0 0;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/butterfly3.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 380px; height: 395px; float: left; margin: 0 0 0 42px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Творческие диктанты включены в курс<br>
			<span class="tag">Чудо будет!</span>, но можете взять их<br>
			отдельно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 0; line-height: 22px;">
			Грамотность, повышение концентрации<br>
			внимания. Развитие фонематического<br>
			слуха (основа врождённой грамотности).<br>
			Творчество. Коррекция <span class="tag">школьного</span><br>
			невроза. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 54px 0; line-height: 22px;">
			Курс: 4 занятия по 3 ак.часа каждое.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			Автор технологии и педагог –<br>
			профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 110px 0 13px 0;">
	Чтение, речь
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 57px 0;">
	Техника и культура речи с элементами игры и актёрского мастерства.
</p>
<div style="width: 960px; height: 368px;">	
	<div style="width: 248px; height: 368px; float: right; margin: 0 120px 0 0; position: relative;">
		<div class="in" style="width: 248px; height: 368px; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik4-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik4.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>
	</div>
	<div style="width: 471px; height: 368px; float: left; margin: 0 0 0 95px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Раскрепощение. Работа с голосом и речью.<br>
			Художественное слово. Навыки правильного<br>
			осмысленного интонированного чтения.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Для любого возраста.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Навыки чтения и речи включены в курс<br>
			<span class="tag">Чудо будет!</span>, но можете взять отдельный курс.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0;  line-height: 22px;">
			Курс: 4 занятия по 2 ак.часа каждое.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 17px;">
			Автор технологии и педагог –<br>
			журналист, телерадиоведущая,<br>
			профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">О.О.Веровенко</span></a>.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 25px 0 0 466px; line-height: 22px;">
	<span class="tag">Техника речи</span>. Учебник.<br>
	<span class="blue">Для увеличения кликните по картинке.</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 72px 0 18px 0;">
	Литература
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 47px 0;">
	<span class="tag">Золотой век</span> и <span class="tag">Серебряный век</span> русской литературы.
</p>
<div style="width: 960px; height: 383px;">	
	<div style="width: 332px; height: 383px; float: left; margin: 0 0 0 77px; position: relative;">
		<div class="image-shadow" style="width: 332px; height: 383px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/girl-with-book.jpg" width="100%" height="100%" alt="Девочка с книгой">
		</div>
	</div>
	<div style="width: 432px; height: 383px; float: right; margin: 0 0 0 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Дивной красоты творческие исследовательские<br>
			работы по литературе и литературоведению.<br>
			Развитие творческого мышления. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Появляется интерес к чтению	художественной<br>
			литературы.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Навык подобных работ включён в курс <span class="tag">Чудо<br>
			будет!</span>, но можете взять отдельный курс.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Навык гениальных сочинений,	изложений,<br>
			сказок - см. курс <span class="tag">Творчество</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 37px 0;  line-height: 22px;">
			Курс: 4-8 занятий по 4-5 ак.часов каждое.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 17px;">
			Автор технологии и педагог –<br>
			профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 165px 0 20px 0;">
	Сочинения, изложения
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 28px 0;">
	Навык гениальных сочинений, изложений, сказок, эссе.
</p>
<div style="width: 960px; height: 376px;">	
	<div style="width: 605px; height: 376px; float: left; margin: 0 0 0 -9px; position: relative;">
		<div style="width: 605px; height: 376px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/pegas.jpg" width="100%" height="100%" alt="Пегас">
		</div>
	</div>
	<div style="width: 340px; height: 376px; float: right; margin: 0 0 0 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 43px 0 21px 0;  line-height: 22px;">
			Для любого возраста.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Навыки творчества включены в курс<br>
			<span class="tag">Чудо будет!</span>, но можете взять отдельно<br>
			усиленный курс.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 0;  line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Курс <span class="tag">Творчество</span>:</span></a> 4 занятия<br>
			по 4-5 ак.часов каждое.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Автор технологии и педагог –<br>
			журналист, телерадиоведущая,<br>
			профессор О.О.Веровенко.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 121px 0 7px 0;">
	Врождённая грамотность-NL
</p>
<p class="dark-blue size-16 font-verdana center" style="margin: 0 0 29px 0;">
	Практическая грамотность для жизни.
</p>
<p class="blue bold size-18 font-verdana center line-height-23" style="margin: 0 0 52px 0;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<div id="load-video3" class="load-video" style="width: 640px; height: 360px; margin: 0 auto;">
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 41px 0 21px 280px; line-height: 22px;">
	Суперкурс-новинка для взрослых и старшеклассников.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 280px; line-height: 22px;">
	<span class="yellow bold">Практическая грамотность для жизни.</span><br>
	Сверхскоростное нейролингвистическое обучение.
</p>
<p class="blue bold size-16 font-verdana" style="margin: 0 0 17px 280px; line-height: 22px;">
	Безупречная грамотность –
</p>
<p class="blue bold size-16 font-verdana" style="margin: 0 0 17px 312px; line-height: 20px;">
	на уровне<br>
	<span style="margin: 0 0 0 64px;">навыка,</span><br>
	<span style="margin: 0 0 0 119px;">рефлекса,</span><br>
	<span style="margin: 0 0 0 179px;">автоматизма –</span>
</p>
<p class="blue bold size-16 font-verdana" style="margin: 0 0 31px 508px; line-height: 22px;">
	на уровне Подсознания.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 280px; line-height: 22px;">
	Курс: 4-8 занятий по 3 ак.часа каждое.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 280px; line-height: 22px;">
	Длительность обучения зависит от уровня начальной подготовки<br>
	и поставленных задач.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 280px; line-height: 22px;">
	Материал может подаваться очень сжато либо очень подробно –<br>
	в зависимости от ваших потребностей и пожеланий. 
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 280px; line-height: 22px;">
	Автор технологии и педагог –<br>
	профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
</p>
<p class="blue size-18 bold font-verdana" style="margin: 49px 0 42px 54px; line-height: 22px;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 54px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – это когда всё понятно и ни слова из <span class="tag">правил</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 54px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – новая современная наука об усвоении информации человеческим мозгом. Она родилась на стыке<br>
	четырёх наук: педагогики, лингвистики (языкознания), нейрофизиологии и психологии.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 54px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> опирается на вложенные в вас <span class="blue bold">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="red size-14 font-verdana" style="margin: 0 0 21px 54px; line-height: 22px;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 82px 0 5px 0;">
	<span class="italic">NL</span>-психология
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 35px 0;">
	Освободитесь от проблем!
</p>
<div style="width: 960px; height: 400px; margin: 0 0 0 0;">	
	<div id="load-video4" class="load-video" style="width: 521px; height: 400px; float: right; margin: 0 10px 0 0; position: relative;">
	</div>
	<div style="width: 380px; height: 400px; float: left; margin: 0 0 0 27px">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 25px 0; line-height: 22px;">
			Сеанс действительно уникален!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
			Коррекция признаков дислексии, дисграфии и<br>
			других проблем обучения. Навыки правильного<br>
			беглого чтения, без чего невозможно грамотное<br>
			письмо. Повышение концентрации внимания. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			Успеваемость по всем гуманитарным предметам<br>
			повышается на 1-2 балла.
		</p>
		<p class="yellow bold size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="yellow">И всё это – за один сеанс!</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			О проблемах обучения см. в статье<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue tag">Он лентяй или болен?.</span></a> Вам это важно знать!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			Автор технологии и ведущая сеанса<br>
			доктор психологических наук<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 64px 0 13px 0;">
	А ещё...
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 50px 0;">
	Безупречный английский.
</p>
<div style="width: 960px; height: 369px;">	
	<div style="width: 472px; height: 369px; float: left; margin: 0 0 0 26px; position: relative;">
		<div class="image-shadow" style="width: 472px; height: 353px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/buran.jpg" width="100%" height="100%" alt="Космический корабль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 422px; height: 369px; float: right; margin: 0 0 0 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 0;  line-height: 22px;">
			Для взрослых и школьников.
		</p>
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Скорость. Качество. Результат.
		</p>
		<p class="dark-blue bold size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Зубрёжки правил нет.<br>
			Домашние задания минимальны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 22px;">
			Уникальная скоростная технология похожа на<br>
			спортивную игру.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0;  line-height: 22px;">
			Безупречный английский в полном объёме с<br>
			космической скоростью.
		</p>
		<p class="blue size-18 font-verdana center" style="margin: 0 0 21px 0;  line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold">Курс чудо как хорош!</span></a>
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 119px 0 29px 0;">
	Пробное занятие
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 100px; line-height: 22px;">
	Всех учащихся с проблемами обучения (дисграфия, дислексия, <span class="tag">школьный</span> невроз) принимает<br>
	профессор Ольга Олеговна Веровенко.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 100px; line-height: 22px;">
	Диагностика, тестирование, консультация, рекомендации, подбор наилучшей для вас технологии<br>
	и пробный сеанс. Длительность 2 часа. Присутствие родителей обязательно.
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 21px 0; line-height: 22px;">
	Запишитесь, пожалуйста, заранее!
</p>
<p class="red bold size-24 font-verdana center" style="margin: 78px 0 61px 0;">
	Как получить скидку 50 процентов?
</p>
<div style="width: 960px; height: 200px;">	
	<div id="load-video5" class="load-video" style="width: 356px; height: 200px; float: left; margin: 0 0 0 26px; position: relative;">
	</div>
	<div style="width: 532px; height: 200px; float: right; margin: 0 0 0 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			<span class="blue bold">Скидку 50 процентов</span> и более получает только тот, кто внимательно<br>
			ознакомился с материалами сайта и знает ответы на все основные<br>
			вопросы – не только о стоимости, скидках и графиках занятий,<br>
			но прежде всего о том, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			По телефону этого не расскажешь. Это можно только увидеть,<br>
			прочувстовать, осознать. Посмотрите, почитайте!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Всё доступно и ярко изложено в статьях.
		</p>
	</div>
</div>
<div style="width: 960px; height: 200px; margin: 44px 0 0 0;">	
	<div id="load-video6" class="load-video" style="width: 355px; height: 200px; float: right; margin: 0 56px 0 0; position: relative; overflow: hidden;">
	</div>
	<div style="width: 524px; height: 200px; float: left; margin: 0 0 0 0">
		<p class="red size-18 bold font-verdana center" style="margin: 34px 0 22px 0;  line-height: 22px;">
			Только до 10 марта!
		</p>
		<p class="blue size-18 font-verdana center" style="margin: 0 0 22px 0;  line-height: 22px;">
			Оплачивайте обучение бонусами<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">нашей викторины</span></a>!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0;  line-height: 17px;">
			Это ещё 50-70% дополнительной скидки.<br>
			Конечно, только для тех, кто читал материалы сайта.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 123px 0 44px 0;">
	Что почитать
</p>
<p class="yellow size-18 bold font-verdana" style="margin: 0 0 26px 23px;">
	Статья <span class="tag">У кого есть глупо дитятко? У кого их только нет...</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 23px; line-height: 22px;">
	Ваш ребёнок – хороший человечек, пятёрочник по физике, математике, истории, чему угодно, кроме русского языка. Ну не<br>
	может он писать без ошибок!<br>
	Вот с такой проблемой приходят к нам на курсы «Врождённой грамотности».
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 23px; line-height: 22px;">
	Мы берём за основу существующий в реальной жизни феномен – врождённую грамотность.
</p>
<div style="width: 960px; height: 395px; margin: 0 0 0 0;">	
	<div style="width: 534px; height: 395px; float: right; margin: 0 10px 0 0; position: relative;">
		<div class="image-shadow" style="width: 534px; height: 321px; margin: 10px 0 0 0;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/boy.jpg" width="100%" height="100%" alt="Мальчик у стены">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 bold font-arial center" style="margin: 16px 0 0 0; line-height: 22px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
	<div style="width: 380px; height: 395px; float: left; margin: 0 0 0 23px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Речь идёт о людях, зачастую весьма<br>
			поверхностно знающих правила, но тем не<br>
			менее практически не делающих ошибок при<br>
			письме.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Они обладают врождённой грамотностью.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Что же это за феномен такой?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 44px 0; line-height: 22px;">
			О методе <span class="tag">Врождённой грамотности</span> и<br>
			других наших технологиях обучения читайте<br>
			подробную статью
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">У кого есть глупо дитятко?...</span></a>
		</p>
	</div>
</div>
<p class="yellow size-18 bold font-verdana" style="margin: 49px 0 45px 15px;">
	Статья <span class="tag">Он лентяй или болен?</span>
</p>
<div style="width: 960px; height: 315px;">	
	<div style="width: 522px; height: 315px; float: left; margin: 0 0 0 15px; position: relative;">
		<div class="image-shadow" style="width: 522px; height: 299px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/boy1.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 389px; height: 315px; float: right; margin: 0 0 0 0">
		<p class="blue size-18 font-verdana bold" style="margin: 120px 0 21px 0;  line-height: 23px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 123px;">Плохие чтение, речь?</span>
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 32px 0 16px 15px; line-height: 17px;">
	О дисграфии, дислексии, <span class="tag">школьном</span> неврозе и других проблемах обучения и о том, как их преодолеть с помощью наших<br>
	<span class="light-blue bold italic">NL</span>-технологий читайте в статье
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">Он лентяй или болен?</span></a>
</p>
<p class="yellow size-18 bold font-verdana" style="margin: 97px 0 44px 15px;">
	Статья <span class="tag">Чудо будет!</span>
</p>
<div style="padding-top: 0; height: 382px;">
	<div style="width: 524px; height: 382px; margin: 0 auto;">
		<div class="image-shadow" style="width: 524px; height: 366px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/butterfly.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 34px 0 13px 15px; line-height: 22px;">
	О связи игрового творческого обучения с особенностями вашего Подсознания читайте в статье
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">Чудо будет!</span></a>
</p>
<p class="red bold size-24 font-verdana center" style="margin: 104px 0 52px 0;">
	Осторожно: пираты!
</p>
<div style="padding-top: 0; height: 602px;">
	<div style="width: 839px; height: 602px; margin: 0 auto;">
		<div class="image-shadow" style="width: 839px; height: 586px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/pirati.jpg" width="100%" height="100%" alt="Опасайтесь мошенников">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 9px 0 13px 66px; line-height: 22px;">
	Творческая <span class="light-blue italic">NL</span>-работа. Чтобы не путать попугая с пиратом...
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 84px 0 81px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>