<div style="opacity: 1; position: relative; z-index: 1; margin: 8px 0 51px 0;">
	<p class="light-blue bold font-sans-font center" style="margin: 0 0 0 0; font-size: 30px; line-height: 35px;">
		Сверхскоростное<br>
		нейролингвистическое обучение
	</p>
</div>
<div style="width: 960px; height: 405px; padding: 0 0 0 0;">	
	<div style="width: 472px; height: 405px; float: left; margin: 0 0 0 16px;">
		<div style="width: 472px; height: 353px;">
			<div style="width: 472px; height: 353px; perspective: 800px; position: absolute;">
				<div class="image-shadow-0" style="width: 472px; height: 353px; margin: 0 0 0 0; position: absolute; border: 2px solid rgba(170, 168, 168, 1);">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
				</div></div>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 433px; height: 405px; float: right; margin: 0 0 0 0;">
		<p class="yellow bold size-24 font-verdana" style="margin: -8px 0 37px 0;">
			Безупречный английский:
		</p>
		<p class="yellow bold size-20 font-verdana" style="margin: 0 0 39px 0; line-height: 36px;">
			на уровне<br>
			<span style="margin: 0 0 0 96px;">инстинкта,</span><br>
			<span style="margin: 0 0 0 178px;">рефлекса,</span><br>
			<span style="margin: 0 0 0 245px;">автоматизма –</span>
		</p>
		<p class="yellow bold size-24 font-verdana" style="margin: 5px 0 25px 20px;">
			НА УРОВНЕ ПОДСОЗНАНИЯ!
		</p>
		<div id="anim-angl" style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
			<div class="trans24" style="height: 40px; width: 433px; margin: -320px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans25" style="height: 40px; width: 433px; margin: 35px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans26" style="height: 40px; width: 140px; margin: -5px 0 0 91px; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans27" style="height: 40px; width: 140px; margin: 0 0 0 173px; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans28" style="height: 40px; width: 190px; margin: -5px 0 0 240px; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans29" style="height: 40px; width: 433px; margin: 30px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
		</div>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 5px 0 0 0;">
			Индивидуально и в мини-группах.<br>
			Возможен выезд к вам.
		</p>
		
	</div>
</div>
<p class="blue size-14 font-verdana" style="margin: 0 0 78px 245px; line-height: 17px;">
	Взрослым и школьникам,<br>
	<span style="margin: 0 0 0 110px;">младшим и старшим,</span><br>
	<span style="margin: 0 0 0 170px;">отличникам и отстающим –</span><br>
	<span style="margin: 0 0 0 290px;">каждому своя версия!</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 36px 0 17px 0;">
	Нейролингвистика: скорость, качество, результат
</p>
<p class="blue bold size-18 font-verdana center line-height-23" style="margin: 0 0 42px 0;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin: 0 auto;">
</div>
<p class="blue size-18 bold font-verdana" style="margin: 63px 0 42px 42px; line-height: 22px;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – это когда всё понятно и ни слова из <span class="tag">правил</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – новая современная наука об усвоении информации человеческим мозгом. Она родилась на стыке<br>
	четырёх наук: педагогики, лингвистики (языкознания), нейрофизиологии и психологии.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> опирается на вложенные в вас <span class="blue bold">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="red size-14 font-verdana" style="margin: 0 0 0 42px; line-height: 22px;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 78px 0 50px 0;">
	Уровень подсознания
</p>
<p class="blue size-18 bold font-verdana" style="margin: 0 0 28px 42px; line-height: 22px;">
	Уровень Подсознания – как это?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	Информация подаётся сразу на уровень Подсознания определённым образом в определённой последовательности.<br>
	Вы этого не замечаете. На уровень Сознания и Осмысления (на уровень слов, правил и объяснений) это не выводится.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	Просто вы что-то раскрашиваете, рисуете, подчёркиваете, выделяете, повторяете вслед за педагогом. Причём всё это<br>
	в очень быстром темпе. Это более похоже на детскую игру.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	Но через 2-3 часа подобной игры оказывается, что всё усвоено на уровне самой Сути – на уровне навыка, рефлекса,<br>
	автоматизма, на уровне безупречного владения предметом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 40px 42px; line-height: 22px;">
	Объём и скорость усвоения информации при этом возрастают в 15-20 раз по сравнению с традиционным обучением.<br>
	Усвоенный навык со временем не исчезает, он остаётся с вами навсегда.
</p>
<p class="yellow bold size-24 font-verdana" style="margin: 0 0 114px 49px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 73px 0;">
	Особенности <span class="tag">Вертикального взлёта</span>
</p>
<div style="width: 960px; height: 513px;">	
	<div style="width: 319px; height: 513px; float: left; margin: 0 0 0 33px; position: relative;">
		<div style="width: 319px; height: 332px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
	<div style="width: 600px; height: 513px; float: right; margin: 0 0 0 0">
		<ul class="blue size-14 font-verdana" style="margin: -20px 0 0 17px;">
			<li><span class="dark-blue">Метод гармонично сочетает в себе огромную лексическую базу</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
				и безупречную грамматику в полном объёме; перевод, чтение, речь,<br>
				письмо, синхронирование, аудирование - всё то, что входит<br>
				в понятие <span class="blue bold tag">безупречный английский</span>.
			</p>
			<li><span class="dark-blue">Нейролингвичность, яркость, сочетание цвета и спортивно-игровых</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				приёмов делают метод <span class="red">в 15-20 раз</span> эффективнее, мощнее и<br>
				результативнее всего того, к чему вы привыкли. <span class="red">10</span> наших занятий<br>
				заменяют примерно <span class="red">150-200</span> занятий традицоинного обучения.
			</p>
			<p class="blue size-14 bold font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
				Зубрёжки правил нет.<br>
				Домашние задания минимальны.
			</p>
			<li><span class="blue bold">Особая система запоминания слов</span> <span class="dark-blue">позволяет усваивать лексику</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				МОЛНИЕНОСНО, практически с первого предъявления.
			</p>
			<li><span class="blue bold">Система грамматических синхронов</span> <span class="dark-blue">позволяет обрести навык</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
				беглой, безупречно правильной английской речи на уровне НАВЫКА,<br>
				РЕФЛЕКСА, АВТОМАТИЗМА – НА УРОВНЕ ПОДСОЗНАНИЯ.
			</p>
			<li style="margin: 0 0 21px 0;"><span class="blue bold">Система лексических синхронов</span> <span class="dark-blue">многократно улучшает память.</span></li>
			<li><span class="dark-blue">Встроенная в обучение Специальная Система <span class="blue bold tag">"Полиглот"</span> позволяет </span></li>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				одноврменно, без потерь времени и сил, обучать английскому и<br>
				корректировать любые проблемы, связанные с плохим восприятием<br>
				иностранных языков (дислексия, дисграфия, "школьный" невроз,<br>
				низкая концентрация внимания и т.д.).
			</p>
		</ul>
	</div>
</div>
<div style="width: 960px; height: 327px; margin: 36px 0 122px 0;">	
	<div style="width: 300px; height: 327px; float: right; margin: 0 51px 0 0; position: relative;">
		<div style="width: 300px; height: 302px; margin: 25px 0 0 0;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin1.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
	<div style="width: 600px; height: 327px; float: left; margin: 0 0 0 0">
		<p class="red size-14 font-verdana bold" style="margin: 25px 0 22px 26px;">
			Вот что даёт <span class="tag">Вертикальный взлёт</span>:
		</p>
		<ul class="grey size-14 font-verdana" style="margin: 0 0 0 51px;">
			<li style="margin: 0 0 22px 0;"><span class="blue bold">Безупречный английский</span> <span class="dark-blue">(само собой!)</span></li>
			<li style="margin: 0 0 22px 0;"><span class="blue bold">Улучшается память</span> <span class="dark-blue">(многократно!)</span></li>
			<li><span class="blue bold">Эффект полиглота:</span> <span class="dark-blue">изучение любых языков</span></li>
			<p class="dark-blue size-14 font-verdana" style="margin: 1px 0 34px 0; line-height: 22px;">
				становится для вас лёгким, молниеносным.
			</p>
		</ul>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 33px;">
			<span class="blue bold">Версии метода:</span><br>
			<span class="blue tag">Вертикальный взлёт – классика</span> – для индивидуального обучения.<br>
			<span class="blue tag">Вертикальный взлёт &#8211; Шаттл</span> – для обучения в мини-группах.
		</p>
	</div>
</div>
<p style="margin: 0;"><a name="unikalnost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 35px 0;">
	Уникальность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
	<span class="blue bold tag">Вертикальный взлёт</span> уникален и запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
	В области <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_neiro; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">нейролингвистики</span></a> – современной науки об усвоении информации человеческим мозгом – это изобретение первое<br>
	и пока единственное.
</p>
<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 41px 21px; line-height: 22px;">
	Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 254px; height: 376px; float: left; margin: 0 74px 14px 182px;">
		<div class="image-shadow in" style="width: 254px; height: 360px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/patent1-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 127px;">			
		</div>				
	</div>
	<div style="width: 254px; height: 376px; float: right; margin: 0 192px 14px 0;">
		<div class="image-shadow in" style="width: 254px; height: 360px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/patent2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 127px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 21px;">
		Российский и международный патенты на изобретения.<br>
		<span class="light-blue">Для увеличения кликните по картинке.</span>
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 76px 0 78px 14px;">
	Автор <span class="tag">Вертикального взлёта</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 37px 14px; line-height: 22px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ с категорией<br>
	<span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 360px;">	
	<div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 131px;">
		<div class="image-shadow-0 in" style="width: 413px; height: 285px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/certificate1-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate1.jpg" width="100%" height="100%" alt="Сертификат"></a>
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 246px; height: 344px; float: right; margin: 0 124px 10px 0;">
		<div class="image-shadow-0 in" style="width: 246px; height: 344px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/certificate2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate2.jpg" width="100%" height="100%" alt="Сертификат"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 123px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 3px 0 3px 0;">
	Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 101px 0; line-height: 16px;">
	У нас таких три!<br>
	<span class="blue">Для увеличения кликните по картинке.</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уровень 4
</p>
<div style="width: 960px; height: 333px; padding: 24px 0 0 0;">	
	<div style="width: 370px; height: 333px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 19px 0;">
			Уровень 4. Мастер-класс
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 22px 0;">
			Безупречная грамматика. Огранка языка.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для взрослых, серьёзно изучающих<br>
			английский язык, студентов профильных<br>
			ВУЗов, старшеклассников (имеющих не ниже<br>
			твёрдой пятёрки по английскому в школе).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак. часов<br>
			(4-12 занятий по 3 ак. часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
			Длительность обучения зависит от уровня<br>
			начальной подготовки и поставленных задач.
		</p>	
	</div>
	<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
		<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 333px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 333px; float: right; margin: 0 24px 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big1.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor1.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="width: 960px; height: 333px; padding: 38px 0 0 0;">	
	<div style="width: 370px; height: 333px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-verdana" style="margin: -43px 0 21px 0; line-height: 22px;">
			Домашних заданий нет.
		</p>
		<p class="red size-14 font-verdana" style="margin: 0 0 85px 0; line-height: 22px;">
			Несколько занятий – и ваш английский<br>
			ОБРЕТЁТ СИСТЕМУ!
		</p>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 30px 21px 0; line-height: 30px;">
			Уровень 4. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
		<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 333px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big2.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor2.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 333px; float: right; margin: 0 24px 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big3.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor3.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 115px 0 44px 0;">
	Уровень 3
</p>
<div style="width: 960px; height: 335px; padding: 24px 0 0 0;">	
	<div style="width: 600px; height: 335px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: -9px 0 17px 0;">
			Уровень 3.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 19px 0;">
			Для взрослых и старшеклассников, кто учил-учил, а всё никак...
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 36 ак. часов (12 занятий по 3 ак.часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Гармоничное сочетание лексики и грамматики. Быстрое продвижение вперёд.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Версия максимально нейролингвистична.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Домашние задания длительностью 10-15 минут (без зубрёжки).
		</p>		
	</div>
	<div style="width: 239px; height: 335px; float: right; margin: 0 48px 0 0;">
		<div class="in" style="width: 239px; height: 335px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big4.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor4.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>	
	</div>
</div>
<div style="width: 960px; height: 335px; padding: 47px 0 0 0;">	
	<div style="width: 370px; height: 335px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 140px 0 21px 0; line-height: 22px;">
			Уровень 3. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 582px; height: 335px; float: right; margin: 0 0 0 0;">
		<div style="width: 582px; height: 335px; float: right; margin: 0 0 0 0;">
			<div style="width: 239px; height: 335px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 239px; height: 335px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big5.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor5.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 239px; height: 335px; float: right; margin: 0 48px 0 0;">
				<div class="in" style="width: 239px; height: 335px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big6.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor6.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 114px 0 36px 0;">
	Уровень 2
</p>
<div style="width: 960px; height: 340px; padding: 49px 0 0 0;">	
	<div style="width: 600px; height: 340px; float: left; margin: 0 0 0 25px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: -31px 0 17px 0;">
			Уровень 2.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 19px 0;">
			Начинающим.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для взрослых и школьников начиная с 5-го класса.<br>
			<span class="blue">Спортивно-игровая версия.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Много лексики. Расширенная грамматическая база.<br>
			Основной упор на живую речь. Чтение. Письмо. Аудирование.<br>
			Синхронный перевод (с русского на английский и обратно).
		</p>
		<p class="blue size-14 bold font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Зубрёжки правил нет.<br>
			Домашние задания минимальны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Особая система запоминания слов.</span> Грамматические синхроны.<br>
			Лексические синхроны. Система <span class="tag">Полиглот</span> (см. "Особенности метода").
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 36 ак. часов (12 занятий по 3 ак.часа каждое).
		</p>		
	</div>
	<div style="width: 240px; height: 340px; float: right; margin: 0 31px 0 0;">
		<div class="in" style="width: 240px; height: 340px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big7.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor7.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>	
	</div>
</div>
<div style="width: 960px; height: 340px; padding: 45px 0 0 0;">	
	<div style="width: 370px; height: 340px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 137px 0 21px 20px; line-height: 22px;">
			Уровень 2. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 566px; height: 340px; float: right; margin: 0 0 0 0;">
		<div style="width: 566px; height: 340px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 340px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 240px; height: 340px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big8.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor8.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 340px; float: right; margin: 0 31px 0 0;">
				<div class="in" style="width: 240px; height: 340px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big9.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor9.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 116px 0 30px 0;">
	Уровень 1
</p>
<div style="width: 960px; height: 337px; padding: 29px 0 0 0;">	
	<div style="width: 600px; height: 337px; float: left; margin: 0 0 0 26px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 30px 0;">
			Уровень 1.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если у вас есть ребёнок младшего школьного<br>
			возраста и вам хотелось бы самостоятельно<br>
			подтянуть его в английском – вам нужна
			<span class="light-blue bold italic">NL</span>-технология <span class="blue bold tag">Вверх!</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Возьмите у нас один сеанс-тренинг, приобретите<br>
			необходимые вам специальные <span class="light-blue bold italic">NL</span>-тренажёры.<br>
			Играйте с ребёнком 5-7 минут в день.<br>
			<span class="blue bold">Через неделю он будет лучшим в классе!</span>
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Версия спортивно-игровая.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Подходит она и взрослым, начинающим с <span class="tag">0</span>.
		</p>		
	</div>
	<div style="width: 240px; height: 337px; float: right; margin: 0 51px 0 0;">
		<div class="in" style="width: 240px; height: 337px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big10.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor10.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>	
	</div>
</div>
<div style="width: 960px; height: 337px; padding: 45px 0 0 0;">	
	<div style="width: 370px; height: 337px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 136px 0 21px 20px; line-height: 22px;">
			Уровень 1. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 582px; height: 337px; float: right; margin: 0 0 0 0;">
		<div style="width: 582px; height: 337px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 337px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big11.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor11.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 337px; float: right; margin: 0 51px 0 0;">
				<div class="in" style="width: 240px; height: 337px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big12.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor12.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 123px 0 9px 0;">
	Программа <span class="tag">Шаттл</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 10px 0;">
	Английский в мини-группах.
</p>
<div style="padding: 0; height: 300px;">
	<div style="width: 300px; height: 300px; margin: 0 auto;">
		<div style="width: 300px; height: 300px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin3.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: -36px 0 21px 12px; line-height: 22px;">
	Для взрослых и школьников начиная с 5-го класса.<br>
	<span class="blue">Спортивно-игровая версия.</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	Максимальный эффект <span class="blue bold">программа <span class="tag">Шаттл</span></span> даёт в вашей мини-группе из 2-3 человек (родители и дети, супруги,<br>
	друзья, коллеги, близкие люди – т.е. те, кто имеет возможность выполнять домашние задания вместе).<br>
	Разница в возрасте и уровне подготовки большого значения не имеет.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	Домашние задания – игровые, очень спортивные, длительностью 5-15 минут (без зубрёжки).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	Много лексики. Расширенная грамматическая база. Основной упор на живую речь. Чтение. Письмо. Аудирование<br>
	(восприятие на слух). Синхронный перевод с первого занятия (с русского на английский и обратно).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	<span class="blue bold">Особая система запоминания слов.</span> Грамматические синхроны. Лексические синхроны. Система <span class="tag">Полиглот</span><br>
	(см. <span class="tag">Особенности метода</span> вверху).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 12px; line-height: 22px;">
	Курс: 36 ак. часов (12 занятий по 3 ак.часа каждое).
</p>
<p class="blue size-14 bold font-verdana center" style="margin: 0 0 21px 0; line-height: 17px;">
	Зубрёжки правил нет.<br>
	Домашние задания минимальны.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 87px 0 5px 0;">
	<span class="italic">NL</span>-психология
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 59px 0;">
	Освободитесь от проблем!
</p>
<div style="width: 960px; height: 330px; margin: 0 0 0 0;">	
	<div id="load-video2" class="load-video" style="width: 513px; height: 330px; float: right; margin: 0 25px 0 0; position: relative;">
	</div>
	<div style="width: 400px; height: 330px; float: left; margin: 0 0 0 12px">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 25px 0; line-height: 22px;">
			Сеанс действительно уникален!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Для тех, кому изучение английского языка даётся<br>
			тяжело.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 0; line-height: 22px;">
			Коррекция признаков дислексии, дисграфии и<br>
			других проблем обучения. Навыки скоростной<br>
			идентификации лингвистической информации (без<br>
			чего невозможно лёгкое усвоение английского).<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Повышение концентрации внимания.</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 21px;">
			Успеваемость по английскому языку повышается<br>
			на 1-2 балла.
		</p>
		<p class="yellow bold size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="yellow">И всё это – за один сеанс!</span></a>
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 9px 0 20px 12px; line-height: 22px;">
	О проблемах обучения см. в статье <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue tag">Он лентяй или болен?</span></a>. Вам это важно знать!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 12px; line-height: 22px;">
	Автор технологии и ведущая сеанса доктор психологических наук профессор Ольга Олеговна Веровенко.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 76px 0 13px 0;">
	Пробное занятие
</p>
<p class="blue bold size-14 font-verdana center" style="margin: 0 0 12px 0;">
	Попробуйте. Понравится!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Консультация, тестирование. Диагностика проблем. <span class="tag">Примерка</span> технологии. Точный подбор начального уровня.
</p>
<p class="red bold size-24 font-verdana center" style="margin: 78px 0 61px 0;">
	Как получить скидку 50 процентов?
</p>
<div style="width: 960px; height: 200px;">	
	<div id="load-video3" class="load-video" style="width: 356px; height: 200px; float: left; margin: 0 0 0 26px; position: relative;">
	</div>
	<div style="width: 532px; height: 200px; float: right; margin: 0 0 0 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			<span class="blue bold">Скидку 50 процентов</span> и более получает только тот, кто внимательно<br>
			ознакомился с материалами сайта и знает ответы на все основные<br>
			вопросы – не только о стоимости, скидках и графиках занятий,<br>
			но прежде всего о том, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			По телефону этого не расскажешь. Это можно только увидеть,<br>
			прочувстовать, осознать. Посмотрите, почитайте!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0;  line-height: 22px;">
			Всё доступно и ярко изложено в статьях.
		</p>
	</div>
</div>
<div style="width: 960px; height: 200px; margin: 44px 0 0 0;">	
	<div id="load-video5" class="load-video" style="width: 355px; height: 200px; float: right; margin: 0 56px 0 0; position: relative; overflow: hidden;">
	</div>
	<div style="width: 524px; height: 200px; float: left; margin: 0 0 0 0">
		<p class="red size-18 bold font-verdana center" style="margin: 34px 0 22px 0;  line-height: 22px;">
			Только до 10 марта!
		</p>
		<p class="blue size-18 font-verdana center" style="margin: 0 0 22px 0;  line-height: 22px;">
			Оплачивайте обучение бонусами<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">нашей викторины</span></a>!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0;  line-height: 17px;">
			Это ещё 50-70% дополнительной скидки.<br>
			Конечно, только для тех, кто читал материалы сайта.
		</p>
	</div>
</div>
<div class="light-blue size-30 bold font-verdana center" style="width: 600px; margin: 67px auto 48px; cursor: pointer; height: 70px;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'">
	<p style="padding: 10px 0 0 0;">
		<span style="border-bottom: 1px solid #4A4A4A;">Поехали!..</span>
	</p>
</div>
<div id="load-video4" class="load-video" style="padding-top: 0; height: 376px;">
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 91px 0 92px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>