<div class="trans23" style="opacity: 1; position: relative; z-index: 1; margin: 8px 0 21px 0;">
	<p class="light-blue bold font-sans-font center" style="margin: 0 0 0 0; font-size: 30px; line-height: 35px;">
		Сверхскоростное<br>
		нейролингвистическое обучение
	</p>
</div>
<div class="cubeWrapper" style="width: 960px; height: 483px; padding: 17px 0 60px 0;">	
	<div class="rotator" style="width: 415px; height: 483px; float: left; margin: 0 0 0 88px;">
		<div style="width: 415px; height: 483px;">
			<div style="width: 415px; height: 483px; perspective: 800px; position: absolute;">
				<div class="cube" style="width: 415px; height: 483px; opacity: 0; margin: 0 0 0 0; position: absolute;">
					<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin2.jpg" width="100%" height="100%" alt="Инопланетянин">
				</div></div>
		</div>
	</div>
	<div style="width: 433px; height: 483px; float: right; margin: 0 0 0 0;">
		<p class="yellow bold size-24 font-verdana" style="margin: 5px 0 37px 0;">
			Безупречный английский:
		</p>
		<p class="yellow bold size-20 font-verdana" style="margin: 0 0 39px 0; line-height: 36px;">
			на уровне<br>
			<span style="margin: 0 0 0 96px;">навыка,</span><br>
			<span style="margin: 0 0 0 178px;">рефлекса,</span><br>
			<span style="margin: 0 0 0 245px;">автоматизма –</span>
		</p>
		<p class="yellow bold size-24 font-verdana" style="margin: 5px 0 50px 20px;">
			НА УРОВНЕ ПОДСОЗНАНИЯ!
		</p>
		<div id="anim-angl" style="height: 0; margin: 0 auto; padding: 1px 0 0 0;">
			<div class="trans24" style="height: 40px; width: 433px; margin: -345px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans25" style="height: 40px; width: 433px; margin: 35px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans26" style="height: 40px; width: 110px; margin: -5px 0 0 91px; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans27" style="height: 40px; width: 140px; margin: 0 0 0 173px; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans28" style="height: 40px; width: 190px; margin: -5px 0 0 240px; z-index: 5; position: relative; background-color: white;">
			</div>
			<div class="trans29" style="height: 40px; width: 433px; margin: 30px 0 0 0; z-index: 5; position: relative; background-color: white;">
			</div>
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 73px 0;">
	Особенности <span class="tag">Вертикального взлёта</span>
</p>
<div style="width: 960px; height: 440px;">	
	<div style="width: 319px; height: 440px; float: left; margin: 0 0 0 33px; position: relative;">
		<div style="width: 319px; height: 332px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
	<div style="width: 600px; height: 440px; float: right; margin: 0 0 0 0">
		<ul class="blue size-14 font-verdana" style="margin: -20px 0 0 17px;">
			<li><span class="dark-blue">Метод <span class="red">в 15-20 раз</span> эффективнее, мощнее, ярче всего того, к чему вы </span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				привыкли. <span class="red">10</span> наших занятий заменяют примерно <span class="red">150-200</span> занятий<br>
				традицоинного обучения.
			</p>
			<p class="blue size-14 bold font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
				Зубрёжки правил нет.<br>
				Домашние задания минимальны.
			</p>
			<li><span class="blue bold">Особая система запоминания слов</span> <span class="dark-blue">позволяет усваивать лексику</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				МОЛНИЕНОСНО, практически с первого предъявления.
			</p>
			<li><span class="blue bold">Система грамматических синхронов</span> <span class="dark-blue">позволяет обрести навык</span></li>
			<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
				беглой, безупречно правильной английской речи на уровне НАВЫКА,<br>
				РЕФЛЕКСА, АВТОМАТИЗМА – НА УРОВНЕ ПОДСОЗНАНИЯ.
			</p>
			<li style="margin: 0 0 21px 0;"><span class="blue bold">Система лексических синхронов</span> <span class="dark-blue">многократно улучшает память.</span></li>
			<li><span class="dark-blue">Встроенная в обучение Специальная Система <span class="blue bold tag">"Полиглот"</span> позволяет </span></li>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				одноврменно, без потерь времени и сил, обучать английскому и<br>
				корректировать любые проблемы, связанные с плохим восприятием<br>
				иностранных языков (дислексия, дисграфия, "школьный" невроз, низкая<br>
				концентрация внимания и т.д.).
			</p>
		</ul>
	</div>
</div>
<div style="width: 960px; height: 325px; margin: 36px 0 0 0;">	
	<div style="width: 323px; height: 325px; float: right; margin: 0 33px 0 0; position: relative;">
		<div style="width: 323px; height: 325px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin1.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
	<div style="width: 600px; height: 325px; float: left; margin: 0 0 0 0">
		<p class="red size-14 font-verdana bold" style="margin: 0 0 22px 43px;">
			Вот что даёт <span class="tag">Вертикальный взлёт</span>:
		</p>
		<ul class="grey size-14 font-verdana" style="margin: 0 0 0 68px;">
			<li style="margin: 0 0 22px 0;"><span class="blue bold">Безупречный английский</span> <span class="dark-blue">(само собой!)</span></li>
			<li style="margin: 0 0 22px 0;"><span class="blue bold">Улучшается память</span> <span class="dark-blue">(многократно!)</span></li>
			<li><span class="blue bold">Эффект полиглота:</span> <span class="dark-blue">изучение любых языков</span></li>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 25px 0; line-height: 22px;">
				становится для вас лёгким, молниеносным.
			</p>
		</ul>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 33px;">
			<span class="blue bold">Версии метода:</span><br>
			<span class="blue tag">Вертикальный взлёт – классика</span> – для индивидуального обучения.<br>
			<span class="blue tag">Вертикальный взлёт &#8211; Шаттл</span> – для обучения в мини-группах.
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana" style="margin: 58px 0 96px 47px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p style="margin: 0;"><a name="unikalnost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 35px 0;">
	Уникальность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
	<span class="blue bold tag">Вертикальный взлёт</span> уникален и запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
	В области <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_neiro; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">нейролингвистики</span></a> – современной науки об усвоении информации человеческим мозгом – это изобретение первое<br>
	и пока единственное.
</p>
<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 41px 21px; line-height: 22px;">
	Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 254px; height: 376px; float: left; margin: 0 74px 14px 182px;">
		<div class="image-shadow in" style="width: 254px; height: 360px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 127px;">			
		</div>				
	</div>
	<div style="width: 254px; height: 376px; float: right; margin: 0 192px 14px 0;">
		<div class="image-shadow in" style="width: 254px; height: 360px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 127px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 21px;">
		Российский и международный патенты на изобретения.<br>
		<span class="light-blue">Для увеличения кликните по картинке.</span>
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 76px 0 78px 14px;">
	Автор <span class="tag">Вертикального взлёта</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 37px 14px; line-height: 22px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ с категорией<br>
	<span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 360px;">	
	<div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 131px;">
		<div class="image-shadow-0 in" style="width: 413px; height: 285px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 246px; height: 344px; float: right; margin: 0 124px 10px 0;">
		<div class="image-shadow-0 in" style="width: 246px; height: 344px; border: 2px solid rgba(170, 168, 168, 1); cursor: pointer;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 123px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 3px 0 3px 0;">
	Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 101px 0; line-height: 16px;">
	У нас таких три!<br>
	<span class="blue">Для увеличения кликните по картинке.</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уровень 4
</p>
<div style="width: 960px; height: 333px; padding: 24px 0 0 0;">	
	<div style="width: 370px; height: 333px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 19px 0;">
			Уровень 4. Мастер-класс
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 22px 0;">
			Безупречная грамматика. Огранка языка.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для взрослых, серьёзно изучающих<br>
			английский язык, студентов профильных<br>
			ВУЗов, старшеклассников (имеющих не ниже<br>
			твёрдой пятёрки по английскому в школе).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак. часов<br>
			(4-12 занятий по 3 ак. часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 0; line-height: 22px;">
			Длительность обучения зависит от уровня<br>
			начальной подготовки и поставленных задач.
		</p>	
	</div>
	<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
		<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 333px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 333px; float: right; margin: 0 24px 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big1.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor1.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="width: 960px; height: 333px; padding: 38px 0 0 0;">	
	<div style="width: 370px; height: 333px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-verdana" style="margin: -43px 0 21px 0; line-height: 22px;">
			Домашних заданий нет.
		</p>
		<p class="red size-14 font-verdana" style="margin: 0 0 85px 0; line-height: 22px;">
			Несколько занятий – и ваш английский<br>
			ОБРЕТЁТ СИСТЕМУ!
		</p>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 30px 21px 0; line-height: 30px;">
			Уровень 4. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
		<div style="width: 547px; height: 333px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 333px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big2.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor2.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 333px; float: right; margin: 0 24px 0 0;">
				<div class="in" style="width: 240px; height: 333px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big3.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor3.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 115px 0 44px 0;">
	Уровень 3
</p>
<div style="width: 960px; height: 335px; padding: 24px 0 0 0;">	
	<div style="width: 600px; height: 335px; float: left; margin: 0 0 0 13px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: -9px 0 17px 0;">
			Уровень 3.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 19px 0;">
			Для взрослых и старшеклассников, кто учил-учил, а всё никак...
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 36 ак. часов (12 занятий по 3 ак.часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Гармоничное сочетание лексики и грамматики. Быстрое продвижение вперёд.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Версия максимально нейролингвистична.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Домашние задания длительностью 10-15 минут (без зубрёжки).
		</p>		
	</div>
	<div style="width: 239px; height: 335px; float: right; margin: 0 48px 0 0;">
		<div class="in" style="width: 239px; height: 335px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big4.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor4.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>	
	</div>
</div>
<div style="width: 960px; height: 335px; padding: 47px 0 0 0;">	
	<div style="width: 370px; height: 335px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 140px 0 21px 0; line-height: 22px;">
			Уровень 3. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 582px; height: 335px; float: right; margin: 0 0 0 0;">
		<div style="width: 582px; height: 335px; float: right; margin: 0 0 0 0;">
			<div style="width: 239px; height: 335px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 239px; height: 335px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big5.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor5.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 239px; height: 335px; float: right; margin: 0 48px 0 0;">
				<div class="in" style="width: 239px; height: 335px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big6.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor6.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 114px 0 36px 0;">
	Уровень 2
</p>
<div style="width: 960px; height: 340px; padding: 49px 0 0 0;">	
	<div style="width: 600px; height: 340px; float: left; margin: 0 0 0 25px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: -31px 0 17px 0;">
			Уровень 2.
		</p>	
		<p class="red size-14 font-verdana bold" style="margin: 0 0 19px 0;">
			Начинающим.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для взрослых и школьников начиная с 5-го класса.<br>
			<span class="blue">Спортивно-игровая версия.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Много лексики. Расширенная грамматическая база.<br>
			Основной упор на живую речь. Чтение. Письмо. Аудирование.<br>
			Синхронный перевод (с русского на английский и обратно).
		</p>
		<p class="blue size-14 bold font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Зубрёжки правил нет.<br>
			Домашние задания минимальны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Особая система запоминания слов.</span> Грамматические синхроны.<br>
			Лексические синхроны. Система <span class="tag">Полиглот</span> (см. "Особенности метода").
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 36 ак. часов (12 занятий по 3 ак.часа каждое).
		</p>		
	</div>
	<div style="width: 240px; height: 340px; float: right; margin: 0 31px 0 0;">
		<div class="in" style="width: 240px; height: 340px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big7.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor7.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>	
	</div>
</div>
<div style="width: 960px; height: 340px; padding: 45px 0 0 0;">	
	<div style="width: 370px; height: 340px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 137px 0 21px 20px; line-height: 22px;">
			Уровень 2. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 566px; height: 340px; float: right; margin: 0 0 0 0;">
		<div style="width: 566px; height: 340px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 340px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 240px; height: 340px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big8.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor8.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 340px; float: right; margin: 0 31px 0 0;">
				<div class="in" style="width: 240px; height: 340px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big9.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor9.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 116px 0 30px 0;">
	Уровень 1
</p>
<div style="width: 960px; height: 337px; padding: 29px 0 0 0;">	
	<div style="width: 600px; height: 337px; float: left; margin: 0 0 0 26px; position: relative; z-index: 2;">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 30px 0;">
			Уровень 1.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если у вас есть ребёнок младшего школьного<br>
			возраста и вам хотелось бы самостоятельно<br>
			подтянуть его в английском – вам нужна
			<span class="light-blue bold italic">NL</span>-технология <span class="blue bold tag">Вверх!</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Возьмите у нас один сеанс-тренинг, приобретите<br>
			необходимые вам специальные <span class="light-blue bold italic">NL</span>-тренажёры.<br>
			Играйте с ребёнком 5-7 минут в день.<br>
			<span class="blue bold">Через неделю он будет лучшим в классе!</span>
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Версия спортивно-игровая.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Подходит она и взрослым, начинающим с <span class="tag">0</span>.
		</p>		
	</div>
	<div style="width: 240px; height: 337px; float: right; margin: 0 51px 0 0;">
		<div class="in" style="width: 240px; height: 337px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
			<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big10.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor10.jpg" width="100%" height="100%" alt="Учебник"></a>
		</div>	
	</div>
</div>
<div style="width: 960px; height: 337px; padding: 45px 0 0 0;">	
	<div style="width: 370px; height: 337px; float: left; margin: 0 0 0 0; position: relative; z-index: 2;">	
		<p class="dark-blue size-14 font-arial bold center" style="margin: 136px 0 21px 20px; line-height: 22px;">
			Уровень 1. Учебники и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>	
	</div>
	<div style="width: 582px; height: 337px; float: right; margin: 0 0 0 0;">
		<div style="width: 582px; height: 337px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 337px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 238px; height: 332px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big11.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor11.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 240px; height: 337px; float: right; margin: 0 51px 0 0;">
				<div class="in" style="width: 240px; height: 337px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor-big12.jpg"><img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/repetitor12.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 123px 0 9px 0;">
	Программа <span class="tag">Шаттл</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 10px 0;">
	Английский в мини-группах.
</p>
<div style="padding: 0; height: 356px;">
	<div style="width: 356px; height: 356px; margin: 0 auto;">
		<div style="width: 356px; height: 356px;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/inoplanetyanin3.jpg" width="100%" height="100%" alt="Инопланетянин">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: -11px 0 21px 12px; line-height: 22px;">
	Для взрослых и школьников начиная с 5-го класса.<br>
	<span class="blue">Спортивно-игровая версия.</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	Максимальный эффект <span class="blue bold">программа <span class="tag">Шаттл</span></span> даёт в вашей мини-группе из 2-3 человек (родители и дети, супруги,<br>
	друзья, коллеги, близкие люди – т.е. те, кто имеет возможность выполнять домашние задания вместе).<br>
	Разница в возрасте и уровне подготовки большого значения не имеет.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	Домашние задания – игровые, очень спортивные, длительностью 5-15 минут (без зубрёжки).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	Много лексики. Расширенная грамматическая база. Основной упор на живую речь. Чтение. Письмо. Аудирование<br>
	(восприятие на слух). Синхронный перевод с первого занятия (с русского на английский и обратно).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 12px; line-height: 22px;">
	<span class="blue bold">Особая система запоминания слов.</span> Грамматические синхроны. Лексические синхроны. Система <span class="tag">Полиглот</span><br>
	(см. <span class="tag">Особенности метода</span>).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 12px; line-height: 22px;">
	Курс: 36 ак. часов (12 занятий по 3 ак.часа каждое).
</p>
<p class="blue size-14 bold font-verdana center" style="margin: 0 0 21px 0; line-height: 17px;">
	Зубрёжки правил нет.<br>
	Домашние задания минимальны.
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 94px 0 99px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 91px 0 92px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>