<div style="width: 100%; height: 150%; position: fixed; z-index: 4; overflow: hidden; background-color: white; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/back-slider.jpg); top: 0; left: 0;">
<div class="slider" style="width: 1279px; height: 706px; position: absolute; z-index: 4; overflow: hidden; top: 0px; left: 50%; margin-left: -640px;">	
	<div class="slider-content" style="width: 1279px; height: 706px; margin: 0 0 0 0;">
		<div class="animation-top active" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/1.jpg" width="100%" height="100%" alt="Мальчик">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/2.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/3.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/4.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/5.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/6.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/7.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/8.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/9.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/10.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/11.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.org/wp-content/themes/twentyfourteen/images/slider/12.jpg" width="100%" height="100%" alt="Алладин">
		</div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 30px; left: 0px; width: 100%; text-align: center;">
		<p class="size-26 font-verdana" style="color: white; margin: 0 0 10px 0">Сверхскоростное нейролингвистическое обучение</p>
		<p class="font-verdana bold tag" style="font-size: 36px; color: white;"><span class="tag">Вертикальный взлёт</span></p>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; top: 358px; left: 351px; width: 100%; text-align: center;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]" style="text-decoration:underline; color: white;"><span class="size-24 font-arial bold" style="color: white;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 260px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Уникальный метод от профессора О.О.Веровенко.<br>
				БЕЗУПРЕЧНЫЙ АНГЛИЙСКИЙ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 305px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Сверхсветовые скорости</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Вместо долгих лет труда – ВСЕГО 12 ЗАНЯТИЙ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 185px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Уникальность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод запатентован как изобретение.<br>
				Международная экспертиза PCT подтвердила:<br>
				НИЧЕГО ПОДОБНОГО В МИРЕ НЕТ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 210px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Эффективность</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод в 15-20 раз эффективнее и мощнее того,<br>
				к чему вы привыкли. Вы достигнете желаемого<br>
				В 15-20 РАЗ БЫСТРЕЕ, ЛЕГЧЕ, ПРОЩЕ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 290px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космические горизонты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Безупречная грамматика. Синхронный перевод.<br>
				Чтение. Письмо. Произношение. Живая речь.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 150px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Феерично</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Много лексики. Особая система БЫСТРОГО<br>
				ЗАПОМИНАНИЯ НОВЫХ СЛОВ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 305px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Дополнительный эффект</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Встроенная в обучение система синхронов<br>
				МНОГОКРАТНО УЛУЧШАЕТ ПАМЯТЬ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 245px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Программа <span class="tag">Шаттл</span></p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Встроенная в обучение программа <span class="tag">Шаттл</span><br>
				корректирует любые проблемы, связанные с<br>
				плохим восприятием иностранных языков.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 300px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Индивидуальный подход</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Программа строится индивидуально в<br>
				зависимости от возраста, уровня подготовки и<br>
				ваших пожеланий.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 310px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Качественная технология</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Качество обучения НАИВЫСШЕЕ. Это<br>
				подтверждено тремя Знаками Качества<br>
				Госстандарта РФ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 170px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Космонавты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Принимаются взрослые и школьники, начинающие<br>
				и продвинутые. Индивидуально и в мини-группах.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 210px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Подарок судьбы</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Зубрёжки правил нет. Домашние задания<br>
				минимальны. Лёгкость обучения и<br>
				МОЛНИЕНОСНЫЙ УСПЕХ!</p></div></div>
	</div>








</div>
</div>