<p class="light-blue size-24 font-verdana bold center" style="margin: 38px 0 39px 0;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – это когда всё понятно и ни слова из <span class="tag">правил</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> – новая современная наука об усвоении информации человеческим мозгом. Она родилась на стыке<br>
	четырёх наук: педагогики, лингвистики (языкознания), нейрофизиологии и психологии.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 42px; line-height: 22px;">
	<span class="blue">Нейролингвистика</span> опирается на вложенные в нас <span class="blue bold">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="red size-14 font-verdana" style="margin: 0 0 85px 42px; line-height: 22px;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).
</p>
<div style="width: 960px; height: 470px;">	
	<div style="width: 336px; height: 470px; float: right; margin: 0 96px 0 0; position: relative;">
		<div class="image-shadow" style="width: 336px; height: 454px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 470px; float: left; margin: 0 0 0 78px">
		<p class="yellow size-18 font-verdana bold" style="margin: 0 0 22px 4px;">
			Нейролингвистика:
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-14 bold font-verdana line-height-23" style="margin: 30px 0 22px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 35px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 75px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 120px;">вот её суть!</span>
		</p>
		<p class="blue size-14 bold font-verdana center line-height-23" style="margin: 0 116px 47px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="red size-18 bold font-verdana center" style="margin: 0 116px 0 0;">
			Чудо будет!
		</p>
	</div>
</div>
<p class="blue size-24 font-verdana center" style="margin: 50px 0 78px 14px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2_unikalnost; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Вернуться</span></a>
</p>