<p class="light-blue bold font-sans-font center" style="margin: 11px 0 27px 0; font-size: 30px;">
	Сверхскоростное нейролингвистическое обучение
</p>
<div style="width: 960px; height: 373px; padding: 6px 0 25px 0;">	
	<div style="width: 506px; height: 373px; float: left; margin: 0 0 0 13px;">
		<div class="image-shadow" style="width: 506px; height: 357px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran2.jpg" width="100%" height="100%" alt="Космический корабль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 430px; height: 373px; float: right; margin: 0 -9px 0 0;">
		<p class="yellow font-arial bold size-30" style="margin: 53px 0 93px 0; line-height: 34px;">
			Английский<br>
			<span style="margin: 0 0 0 67px">на уровне подсознания</span>
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Уникальный<br>
			авторский метод<br>
			профессора Ольги Олеговны Веровенко
		</p>
	</div>
</div>
<p class="yellow bold size-26 font-arial center" style="margin: 18px 0 46px 0;">
	Всего 12 занятий – и ваш английский обретёт систему!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 33px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новой технологии<br>
	преподавания – метода <span class="tag">Вертикальный взлёт</span>.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 37px 70px; line-height: 44px;">
	<li><span class="light-blue">Зубрёжки правил нет.</span></li>
	<li><span class="light-blue">Домашние задания минимальны.</span></li>
	<li><span class="light-blue">Нагрузки посильны.</span></li>
</ul>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 33px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="red bold size-24 font-verdana center" style="margin: 39px 0 59px 0;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 59px 0 43px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 11px;">
	Предлагаемый вам метод <span class="blue bold italic">NL</span>-обучения запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 11px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим мозгом – это изобретение первое и пока единственное в мире.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 11px;">
	Международная экспертиза РСТ подтвердила, что они не имеют аналогов.		
</p>
<div style="width: 960px; height: 570px; padding-top: 38px;">	
	<div style="width: 361px; height: 550px; float: left; margin: 0 80px 0 90px;">
		<div class="image-shadow-0" style="width: 361px; height: 510px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 363px; height: 550px; float: right; margin: 0 66px 0 0;">
		<div class="image-shadow-0" style="width: 363px; height: 511px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретение.
	</p>
</div>
<p class="light-blue size-24 font-sans-font bold center" style="margin: 80px 0 30px 0;">
	Гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 57px 23px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя</span> экспертизами, сертификатами и <span class="blue">Знаками<br>
	Качества</span> Госстандарта РФ (в системе МОЛСЕМ) с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 373px;">	
	<div style="width: 515px; height: 373px; float: left; margin-left: 42px;">
		<div class="image-shadow-0" style="width: 515px; height: 357px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 255px; height: 370px; float: right; margin: 0 30px 0 0;">
		<div class="image-shadow-0" style="width: 255px; height: 354px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 128px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 12px 0 11px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
	У нас таких три!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 57px 0 31px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	К обучению принимаются <span class="bold">взрослые</span> и школьники <span class="bold">начиная с 5-го</span> класса.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	<span class="blue bold">Уровень 2.</span> Для начинающих взрослых и школьников. Акцент на живую речь.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	<span class="blue bold">Уровень 3.</span> Продвинутый уровень.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	<span class="blue bold">Уровень 4.</span> Безупречная грамматика. Синхронный перевод. Огранка языка.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 44px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $gia_ege; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue bold">ГИА, ЕГЭ и любые другие экзамены, в том числе самые сложные..</span></a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	Длительность каждого курса обучения 12-36 ак.часов (4-12 занятий по 3 ак.часа каждое<br>
	в зависимости от вашего исходного уровня, способностей и пожеланий).
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 44px;">
	Ваш исходный уровень определяется во время пробного занятия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 44px;">
	Занятия индивидуальные или в ваших мини-группах (родители с детьми, друзья, коллеги).
</p>
<p class="red size-36 bold font-verdana center" style="margin: 74px 0 51px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 22px 40px; line-height: 26px;">
	Такие скидки получает только <span class="yellow bold">Persona Grata</span>.<br>
	<span class="yellow bold">Persona Grata – </span><span class="red bold">ЛИЧНОСТЬ.</span><br>
	<span class="yellow bold">Persona Grata</span> учится потому, что совершенствует себя.<br>
	<span class="yellow bold">Persona Grata</span> делает свой выбор осознанно, поэтому <span class="blue bold">внимательно ознакомилась<br>
	с материалами сайта.</span><br>
	<span class="yellow bold">Persona Grata</span> интересуется прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается. <br>
	Мы <span class="blue bold">благодарим</span> вас за это огромными скидками.
</p>
<p class="light-blue size-30 bold font-verdana center" style="margin: 79px 0 54px 0;">
	Поехали!..
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 84px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]