<p class="yellow bold size-30 font-verdana center" style="margin: 10px 0 0 0;">
	Арт-терапия
</p>
<div style="width: 960px; height: 350px; padding-top: 45px;">	
	<div style="width: 580px; height: 350px; float: left; margin: 0 0 0 -4px;">
		<div class="image-shadow-0" style="width: 580px; height: 334px;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/child.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 370px; height: 350px; float: right; padding-right: 0px">
		<p class="blue font-verdana size-24 bold" style="margin: 110px 0 83px 0; line-height: 30px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 66px">Плохие чтение, речь?</span>
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 47px 0 57px 0;">
	Всего один Волшебный сеанс – и проблем нет!
</p>
<p class="blue size-20 font-verdana" style="margin: 0 0 30px 77px; line-height: 25px;">
	Вам говорят, что он – тупой?<br>
	<span style="margin: 0 0 0 84px;">Вам говорят, что он – лентяй?</span><br>
	<span style="margin: 0 0 0 169px;">Вам говорят, что она – егоза?</span>
</p>
<p class="red size-24 font-verdana bold center" style="margin: 0 0 30px 26px; line-height: 25px;">
	НЕПРАВДА!
</p>
<p class="blue size-20 font-verdana" style="margin: 0 0 23px 77px; line-height: 25px;">
	<span style="margin: 0 0 0 496px;">Ваш ребёнок – <span class="bold">ТАЛАНТ!</span></span>
</p>
<p class="yellow bold size-30 font-verdana center" style="margin: 59px 0 8px 0;">
	Арт-терапия
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 54px 0;">
	Коррекция проблем обучения и поведения за один сеанс.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Сеанс длится 1-2 часа и предполагает небольшое домашнее задание-игру.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 50px 0;">
	Помогает сеанс и двоечникам,<br>
	и хорошистам, которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
</p>
<p class="red size-18 bold font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Магия, зомбирование и ремень не применяются!
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 50px 0 82px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; border-bottom: 1px solid; color: #A98700;"><span class="yellow">Сеанс ведёт Волшебница</span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 17px 60px;">
	Кто хочет знать подробности, читает статьи:
</p>
<p class="size-18 font-verdana" style="margin: 0 0 2px 60px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Он лентяй или болен?</span></a>
</p>
<p class="size-18 font-verdana" style="margin: 0 0 6px 60px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">У кого есть глупо дитятко?..</span></a>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 70px 0 19px 0;">
	А вообще-то у нас много чего есть
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 10px 0;">
	НЕВИДАННОГО-НЕСЛЫХАННОГО,
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 10px 0;">
	НЕЖДАННОГО-НЕГАДАННОГО,
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 15px 0;">
	РАДОСТНОГО, ЧУДЕСНОГО И УДИВИТЕЛЬНОГО.
</p>
<p class="red size-18 bold font-verdana center" style="margin: 56px 0 51px 0;">
	Вам очень понравятся Рождественские скидки до 75%
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 0 0 70px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]

































































































