<div class="art-main" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: 0; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; padding: 25px 80px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;">Olga Verovenko</div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px;"><a href="http://verovenko.ru/usloviya-obucheniya/"><span>УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a href="http://verovenko.net/"><span>СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a href="http://verovenko.com/"><span>ОБ АВТОРЕ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first" href=""><span>АРТ-ТЕРАПИЯ</span></a></div>
		</div>
	</div>
</div>
<div class="main-cont" id="parallax-bg1" style="width: 100%; height: 100%; position: absolute; overflow: hidden; background-color: #fff; left: 0; top: 0; opacity: 0;">
	<div class="art-zag" style="position: relative; top: 37%; text-align: center; z-index: 5;">
		<p style="font-size: 72px; margin: 0 0 17px 0;">ART-TALANT</p>
		<p class="size-18 italic normal" style="margin: 0 0 33px 0;">Всего один Волшебный сеанс <span style="font-family: 'lato';">–</span> и проблем нет<span class="font-verdana">!</span></p>
		<p class="size-18 normal" style="line-height: 27px; margin: 0 0 33px 0;">Вам говорят, что он <span style="font-family: 'lato';">–</span> тупой<span style="font-family: 'lato';">?</span> Вам говорят, что он <span style="font-family: 'lato';">–</span> лентяй<span style="font-family: 'lato';">?</span> Вам говорят,<br>
		что она <span style="font-family: 'lato';">–</span> егоза<span style="font-family: 'lato';">?</span> <span class="italic">Неправда<span class="font-verdana">!</span> Ваш ребёнок <span style="font-family: 'lato';">–</span> Талант<span class="font-verdana">!</span></span></p>
		<p class="size-18 normal">Инновационное обучение от профессора О.О. Веровенко</p>
	</div>
</div>
<div id="parallax-bg2" style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: #fff; left: 0; top: 0; background-image: url(http://verovenko.pw/wp-content/themes/twentyfourteen/images/child-new.jpg);background-size: cover; background-position: center;">
</div>
<div class="main-cont" id="parallax-bg3" style="width: 100%; height: 1471px; position: absolute; overflow: hidden; background-color: #fff; left: 0; z-index: 6; opacity: 0;">
	<div style="position: relative; padding: 72px 8% 100px; margin: 0 auto; max-width: 960px; z-index: 5;">
		<div style="margin: 0 0 32px 0;position: relative;height: 120px;">
			<p class="bold" style="font-family: 'PT Serif'; font-size: 60px; margin: 0 0 0 0; line-height: 75px;">Art-Talant</p>
			<p style="font-family: 'PT Serif'; font-size: 30px;">Коррекция проблем обучения и поведения за один игровой сеанс.</p>
		</div>
		<div style="margin: 0 0 12px 0;position: relative;height: 310px;">
			<div style="font-family: 'PT Sans'; font-size: 19px; line-height: 31px; float: left; padding: 0 117px 0 0;">
				<p style="margin: 0 0 19px 0;">Сеанс длится 1-2 часа и предполагает небольшое<br>
				домашнее задание-игру. Помогает сеанс<br>
				и двоечникам, и хорошистам, которые почему-то<br>
				никак не могут выйти в отличники.</p>
				<p style="margin: 0 0 19px 0;"><a href="">Сеанс ведёт Волшебница</a></p>
				<p>Результат: успеваемость по всем гуманитарным<br>
				предметам повышается на 1-2 балла. Полностью<br>
				ИГРОВОЙ – от начала до конца! – сеанс.</p>
			</div>
			<div class="italic" style="font-family: 'PT Sans'; font-size: 19px; line-height: 31px; float: left;">
				<p style="margin: 19px 0 19px 0;">Магия, зомбирование и ремень<br>
				не применяются!</p>
				<p style="margin: 0 0 19px 0;">Кто хочет знать подробности,<br>
				читает статьи: </p>
				<p><a href="http://verovenko.pw/on-lentjaj-ili-bolen/">Он лентяй или болен?</a><br><a href="http://verovenko.info/">У кого есть глупо дитятко?..</a></p>
			</div>
		</div>
		<div><hr style="color: #bbb; background-color: #bbb;"></div>
		<div style="margin: 0 0 25px 0;position: relative;height: 350px; padding: 20px 0 0 0;">
			<div style="width: 460px; height: 350px; float: left; padding: 0 74px 0 0;">
				<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/child-new1.jpg" width="100%" height="100%" alt="Летящий мальчик">
			</div>
			<div style="font-family: 'PT Sans'; font-size: 19px; line-height: 31px; float: left;width: 405px;">
				<p style="margin: 0 0 31px 0;">А вообще-то у нас много чего есть:</p>
				<p style="line-height: 33px; margin: 0 0 33px 0;">НЕВИДАННОГО-НЕСЛЫХАННОГО,<br>
				НЕЖДАННОГО-НЕГАДАННОГО,<br>
				РАДОСТНОГО, ЧУДЕСНОГО И<br>
				УДИВИТЕЛЬНОГО.</p>
				<p class="italic" style="color: #09c; margin: 0 0 19px 0;">Вам очень понравятся Рождественские<br>
				скидки до 75%.</p>
				<p class="italic">Стоимость сеанса с учётом <span style="color: #09c;">Рождественской<br>
				скидки</span> 10 000 рублей.</p>
			</div>
		</div>
		<div class="center" style="font-family: 'PT Sans'; font-size: 19px;"><a href="http://verovenko.net/">Отзывы, благодарности</a></div>
	</div>
	<div id="art-footer" style="width: 100%; height: 337px; position: absolute; overflow: hidden; background-color: #171717; z-index: 6; color: #FFF; text-align: center;">
		<div style="position: relative; padding: 10px 8%; margin: 0 auto; max-width: 960px; z-index: 5;">
			<p style="font-family: 'PT Serif'; font-size: 30px; margin: 69px 0 19px 0;">Профессор Ольга Олеговна Веровенко</p>
			<p style="font-family: 'PT Sans'; font-size: 20px; line-height: 31px;">+7 (495) 765-2-555<br>
			olgaverovenko@gmail.com</p>
		</div>
	</div>
</div>
</div>