<p class="light-blue bold size-30 font-verdana center" style="margin: 15px 0 0 0;">
	Арт-терапия
</p>
<p class="yellow size-18 font-verdana bold center" style="margin: 0 0 24px 0;">
	(Повышение способностей к обучению)
</p>
<div style="width: 960px; height: 350px; padding-top: 28px;">	
	<div style="width: 580px; height: 350px; float: left; margin: 0 0 0 -4px;">
		<div class="image-shadow-0" style="width: 580px; height: 334px;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/child.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 370px; height: 350px; float: right; padding-right: 0px">
		<p class="yellow font-verdana size-24 bold" style="margin: 110px 0 83px 0; line-height: 30px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 66px">Плохие чтение, речь?</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 20px 0 28px 0;">
	Всего один сеанс <span class="tag">Арт-терапии</span> – и двоек-троек нет!
</p>
<p class="black size-18 font-verdana center" style="margin: 0 0 23px 0;">
	Уникальный сеанс повышает способности к обучению<br>
	и усвоению информации.
</p>
<p class="yellow bold size-24 font-verdana" style="margin: 58px 0 46px 54px;">
	В результате сеанса:
</p>
<ol class="red bold size-18 font-verdana line-height-23" style="margin: 0 0 0 85px;">
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Чтение (в том числе чтение вслух) станет беглым, точным и правильным, без запинок<br>
	и ошибок; многократно вырастет его скорость.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Улучшится восприятие художественных книг и школьных учебников.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Возрастёт скорость усвоения информации.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Исчезнут описки и <span class="tag">глупые</span> ошибки в письменных работах.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Учащийся будет видеть собственные ошибки при письме.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Исчезнут признаки дисграфии, дислексии (в первую очередь оптической).</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Многократно возрастёт <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_deficit; [/exec]" style="text-decoration: underline; color: #0099FF;"><span class="light-blue bold">концентрация внимания, которая напрямую связана<br>
	с врождённой грамотностью</span></a>.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Возрастёт ментальная выносливость и работоспособность.</span></li>
	<li style="margin: 0 0 21px 0;"><span class="dark-blue size-18 font-verdana normal">Домашние задания выполнять будет легче и проще. Появится навык вдумчивой<br>
	и сосредоточенной работы.</span></li>
	<li style="margin: 0 0 21px 12px;"><span class="dark-blue size-18 font-verdana normal">Исчезнут многие <span class="tag">шероховатости</span> характера и конфликты, связанные с учёбой.</span></li>
	<li style="margin: 0 0 21px 12px;"><span class="dark-blue size-18 font-verdana normal">Обучение станет лёгким и быстрым. Появится интерес к чтению и учёбе.</span></li>
	<li style="margin: 0 0 21px 12px;"><span class="dark-blue size-18 font-verdana normal">Успеваемость по всем гуманитарным предметам вырастет на 1-2 балла.</span></li>
</ol>
<p class="yellow bold size-24 font-verdana center" style="margin: 105px 0 32px 0;">
	Мамы и папы, дедушки и бабушки!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 101px;">
	Ликвидация лёгких и средних проблем обучения <span class="blue bold">действительно</span> происходит<br>
	за 1 сеанс <span class="red bold tag">Арт-терапии</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 101px;">
	<span class="yellow bold">Это не вопрос веры. Это научный факт,</span> неотделимый от метода <span class="tag">Врождённой<br>
	грамотности</span> как уникального изобретения, запатентованного в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 33px 101px;">
	Для ликвидации тяжёлых проблем потребуется 4-12 сеансов вместе с обучением.<br>
	См. курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold tag">Чудо будет!</span></a> (<span class="blue tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>).
</p>
<p class="yellow size-18 font-verdana center bold line-height-23" style="margin: 35px 0 62px 0;">
	Автор уникальной технологии и ведущая сеанса<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="yellow font-verdana bold">нейропсихолог профессор Ольга Олеговна Веровенко</span></a>
</p>
<p class="red bold size-24 font-verdana center" style="margin: 55px 0 53px 0; line-height: 30px;">
	Магия, гипноз, зомбирование и ремень<br>
	не применяются!
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Сеанс длится 1 час и предполагает небольшое домашнее задание-игру.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Помогает <span class="tag">Арт-терапия</span> и двоечникам, и хорошистам,<br>
	которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
</p>
<p class="red size-18 font-verdana center" style="margin: 0 0 78px 0;">
	Повторный сеанс вам не потребуется!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 7px 0;">
	Кот и хвост
</p>
<div style="width: 960px; height: 400px; padding: 43px 0 0 0;">	
	<div style="width: 529px; height: 400px; float: left; margin: 0 0 0 62px; position: relative; z-index: 2;">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 40px 0 22px 0;">
			Дорогие мамы и папы, бабушки и дедушки!
		</p>	
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Корректировать и обучать детей до 12 лет<br>
			относительно легко.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Старше 12 лет – намного труднее.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Приготовьтесь к тому, что у вас уйдёт в 3-5 раз<br>
			больше времени, сил и, естественно, денег.
		</p>
		<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Так что не тяните кота...
		</p>	
	</div>
	<div style="width: 304px; height: 460px; float: right; margin: -81px 58px 0 0;">
		<div style="width: 304px; height: 460px; margin: 0 auto; position: relative; z-index: 1;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/cat2.jpg" width="100%" height="100%" alt="Кот с хвостом">
		</div>
	</div>
</div>
<p class="yellow size-18 font-verdana center line-height-23" style="margin: 0 0 71px 0;">
	<span class="bold">Иногородние учащиеся</span> могут приехать в любой день, в том числе праздничный,<br>
	по предварительной договорённости. <span class="bold">Вас примут!</span>
</p>
<p class="size-24 font-verdana bold" style="margin: 0 0 6px 60px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Он лентяй или болен?</span></a>
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 56px 60px;">
	<span class="dark-blue">Вам это важно знать!</span> О некоторых проблемах обучения детей в школе.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 86px 0 18px 0; line-height: 30px;">
	<span style="margin: 0 68px 0 0;">У кого есть глупо дитятко?</span><br>
	<span style="margin: 0 0 0 296px;">У кого их только нет...</span>
</p>
<div style="width: 960px; height: 370px; padding: 30px 0 19px 0;">	
	<div style="width: 387x; height: 370px; float: left; margin: 0 0 0 23px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Ваш ребёнок – хороший человечек,<br>
			пятёрочник по физике, математике,<br>
			истории, чему угодно, кроме русского<br>
			языка. Ну не может он писать без<br>
			ошибок!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Вот с такой проблемой приходят к нам<br>
			на курсы «Врождённой грамотности».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Мы берём за основу существующий в<br>
			реальной жизни феномен –<br>
			врождённую грамотность.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Подробности читайте в статье<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: rgb(0, 101, 169);"><span class="blue bold tag">У кого есть глупо дитятко?<br><span style="margin: 0 0 0 94px">У кого их только нет...</span></span></a>
		</p>		
	</div>
	<div style="width: 528px; height: 370px; float: right; margin: 0 22px 0 0;">
		<div class="image-shadow-0" style="width: 528px; height: 330px;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/wall.jpg" width="100%" height="100%" alt="Китайская стена">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="red size-24 bold font-verdana center" style="margin: 48px 0 1px 0;">
	Нам 25 лет!
</p>
<p class="yellow size-18 bold font-verdana center" style="margin: 0 0 0 0;">
	Юбилейный сайт
</p>
<p class="size-24 bold font-verdana center" style="margin: 0 0 31px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue">Отзывы, благодарности, поздравления. СМИ о нас.</span></a>
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="red size-30 bold font-verdana center" style="margin: 24px 0 31px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 27px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>


































































































