<p class="light-blue bold size-24 font-verdana center" style="margin: 27px 0 0 0;">
	Арт-терапия
</p>
<p class="yellow size-18 font-verdana bold center" style="margin: 0 0 31px 0;">
	(Повышение способности к обучению)
</p>
<div style="width: 960px; height: 350px; padding-top: 28px;">	
	<div style="width: 580px; height: 350px; float: left; margin: 0 0 0 -4px;">
		<div class="image-shadow-0" style="width: 580px; height: 334px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/child.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 370px; height: 350px; float: right; padding-right: 0px">
		<p class="yellow font-verdana size-24 bold" style="margin: 110px 0 83px 0; line-height: 30px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 66px">Плохие чтение, речь?</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 37px 0 44px 0;">
	Всего один сеанс <span class="tag">Арт-терапии</span> – и двоек-троек нет!
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 23px 0;">
	Уникальный нейролингвистический сеанс повышает способности к обучению<br>
	и усвоению информации.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	<span class="red bold">За один сеанс:</span><br>
	корректируется дислексия, дисграфия, повышается<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="dark-blue">концентрация внимания</span></a>.<br>
	Прививается навык правильного беглого чтения.
</p>
<p class="red size-18 font-verdana center" style="margin: 0 0 19px 0;">
	Повторный сеанс вам не потребуется!
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Результат: успеваемость по всем предметам повышается на 1-2 балла.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Помогает этот разовый сеанс и хорошистам,<br>
	которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Сеанс <span class="tag">Арт-терапии</span> предполагает небольшое домашнее задание-игру.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Если же вам хочется коррекции проблем с одновременным обучением (русский,<br>
	грамотность, литература, сочинения, английский + психология),<br>
	возьмите курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="red font-verdana bold tag">Чудо будет!</span></a> (4-12 сеансов).
</p>
<p class="yellow size-18 font-verdana center bold line-height-23" style="margin: 0 0 76px 0;">
	Автор уникальной технологии и ведущая сеанса<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="yellow font-verdana bold">профессор Ольга Олеговна Веровенко</span></a>
</p>
<p class="size-24 font-verdana bold" style="margin: 0 0 6px 60px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Он лентяй или болен?</span></a>
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 56px 60px;">
	О некоторых проблемах обучения детей в школе.
</p>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 51px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 22px 40px; line-height: 26px;">
	Такие скидки получает только <span class="yellow bold">Persona Grata</span>.<br>
	<span class="yellow bold">Persona Grata – </span><span class="red bold">ЛИЧНОСТЬ.</span><br>
	<span class="yellow bold">Persona Grata</span> учится потому, что совершенствует себя.<br>
	<span class="yellow bold">Persona Grata</span> делает свой выбор осознанно, поэтому <span class="blue bold">внимательно ознакомилась<br>
	с материалами сайта.</span><br>
	<span class="yellow bold">Persona Grata</span> интересуется прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается. <br>
	Мы <span class="blue bold">благодарим</span> вас за это огромными скидками.
</p>
<p class="size-24 bold font-verdana center" style="margin: 27px 0 12px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_danila; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue">Отзывы, благодарности, поздравления. СМИ о нас.</span></a>
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>


































































































