<h2 class="heading green size-30">За гранью возможного</h2>
<div style="width: 960px; height: 350px; padding-top: 28px;">	
	<div style="width: 620px; height: 350px; float: left; margin-left: -20px;">
		<div class="image-shadow" style="width: 580px; height: 334px; margin-left: 20px; border: 1px solid #CFCFCF; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/child.jpg);">
		</div>
		<div class="image-shadow-right">			
		</div>
		<div class="image-shadow-left">			
		</div>
	</div>
	<div style="width: 340px; height: 350px; float: right; padding-right: 0px">
		<p class="red size-18 font-verdana bold" style="margin-top: 129px; margin-bottom: 17px; line-height: normal; text-align: left;">
			Наивысшее зло творится там,<br>
			где льются слёзы ребёнка.	
		</p>	
		<p class="dark-blue size-14 font-arial bold" style="margin-right: 30px; line-height: normal; text-align: right;">
			По Ф.М.Достоевскому	
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana" style="margin: 6px 0 66px 0;">
	Безграмотно пишем? Плохие чтение, речь?
</p>
<p class="red size-24 bold font-verdana center" style="margin-bottom: 31px;">
	Всего один сеанс "Арт-терапии" - и двоек-троек нет!
</p>
<ul class="size-18 font-verdana bold" style="margin-left: 48px; margin-bottom: 33px; line-height: 2.5em; letter-spacing: normal;">
	<li style="margin-bottom: 12px; line-height: normal; letter-spacing: normal;"><span class="blue">Повторный сеанс вам не потребуется. Как и любые репетиторы, врачи,<br>психологи.</span></li>
	<li><span class="blue">Успеваемость по всем гуманитарным предметам повысится на 1-2 балла.</span></li>
	<li><span class="blue">Сеанс помогает и хорошистам, желающим стать отличниками.</span></li>
</ul>
<p class="light-blue size-18 font-verdana bold" style="margin: 0 0 51px 16px; line-height: 23px;">
	<span class="red normal">Приём ведёт</span><br>
	педагог-нейролингвист,<br>
	доктор психологических наук международной категории,<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="red">профессор Ольга Олеговна Веровенко.</span></a><br>
</p>
<p class="size-24 font-verdana bold" style="margin: 0 0 9px 16px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Он лентяй или болен?</span></a>
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 75px 16px;">
	Статья о некоторых проблемах обучения детей в школе.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin-bottom: 50px;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class="red size-24 font-verdana center bold" style="margin: 65px 0 19px 0;">
	Нам 25 лет!
</p>
<p class="size-24 font-verdana center bold" style="margin-bottom: 31px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="blue">Отзывы, благодарности, поздравления.</span></a>
</p>	
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px; margin-top: 45px;">
	О нас писали
</p>
<p class="size-18 font-verdana center line-height-23" style="margin-bottom: 30px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $o_nas_pisali; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="dark-blue">Публикации о нашем опыте<br>в советской, российской и зарубежной прессе</span></a>
</p>
<div style="width: 527px; height: 422px; margin:0 auto;">
	<div class="image-shadow" style="width: 487px; margin-left: 20px; height: 406px; border: 0px solid #717070; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/globe.jpg);">
	</div>
	<div class="image-shadow-right">			
	</div>
	<div class="image-shadow-left">			
	</div>
</div>
<p class=" blue size-24 bold font-verdana center" style="margin-top: 26px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению компаса.<br>
	Счастливого пути!
</p>


































































































