<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/back-slider.jpg); top: 0; left: 0;">
<div class="slider" style="width: 1279px; height: 706px; position: absolute; z-index: 4; overflow: hidden; top: 0px; left: 50%; margin-left: -640px;">	
	<div class="slider-content" style="width: 1279px; height: 706px; margin: 0 0 0 0;">
		<div class="animation-left active" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/1.jpg" width="100%" height="100%" alt="Мальчик">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/8.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/11.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/10.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/9.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/6.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/5.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/7.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/13.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/2.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/3.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/12.jpg" width="100%" height="100%" alt="Алладин">
		</div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 71px; left: 0px; width: 100%; text-align: center;">
		<span class="font-verdana bold" style="font-size: 48px; color: white;">Чудо будет!</span>
		<span class="size-24 font-verdana tag" style="color: white;">Врождённая грамотность-<span class="bold italic">NL</span></span>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; top: 358px; left: 351px; width: 100%; text-align: center;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" style="text-decoration:underline; color: white;"><span class="size-24 font-verdana bold" style="color: white;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 295px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Курс вашей мечты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Уникальный метод от автора <span class="tag">Врождённой<br>
				грамотности</span> профессора О.О.Веровенко для<br>
				взрослых и детей. В рамках единого курса –<br>
				ВСЁ, О ЧЁМ ВАМ МЕЧТАЛОСЬ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 170px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Романтично</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Навык гениальных сказок, сочинений, изложений.<br>
				Развитие творческих способностей.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 180px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастично</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Русский язык без ошибок. Безупречная<br>
				грамотность. Красивый почерк.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 140px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Сказочно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Неповторимые ТВОРЧЕСКИЕ ДИКТАНТЫ.<br>
				Их любят все: взрослые и дети.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Завораживающе</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Дивной красоты ТВОРЧЕСКИЕ РАБОТЫ<br>
				по русскому, английскому, литературе.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 110px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Дивно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Речь – ваша визитная карточка, не так ли?<br>
				НАВЫКИ ПРАВИЛЬНОЙ КРАСИВОЙ РЕЧИ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 130px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Чудесно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Правильное, интонированное, беглое,<br>
				ОСМЫСЛЕННОЕ ЧТЕНИЕ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 175px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Добрый курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Коррекция дислексии, дисграфии, <span class="tag">школьного</span><br>
				невроза. АРТ-ТЕРАПИЯ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 200px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Восхитетельно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Повышается интеллект и способность к лёгкому,<br>
				быстрому обучению ВСЕГДА, ВЕЗДЕ, ВСЕМУ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 150px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Волшебно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Ничего не надо зубрить. Лёгкость обучения и<br>
				МОЛНИЕНОСНЫЙ УСПЕХ ЗА 4-12 СЕАНСОВ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 145px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Радостно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Родители младших школьников присутствуют на<br>
				занятиях, играют, обучаются и веселятся<br>
				ВМЕСТЕ СО СВОИМИ ДЕТЬМИ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 130px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Взлётно</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Поддержка психолога (доктор наук). Исчезают<br>
				<span class="tag">шероховатости</span> характера. Воспитание и огранка<br>
				ЛИЧНОСТИ.</p></div></div>
	</div>








</div>
</div>