<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">	
	<div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
		<div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/1.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/2.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/3.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/4.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/5.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/6.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/7.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/8.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/9.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/10.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/11.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/12.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/13.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/14.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/15.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/16.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/17.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/18.jpg);background-size: cover; background-position: center;"></div></div>
	</div>
	<div class="buttons-slider" style="opacity: 0;">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active animate" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden; margin: 0; opacity: 1;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold animate-desc-parent" style="font-size:130px; margin: 0 auto;"><span  class="left animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;transform: scale(0);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;">Чудо  будет!</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: -6px 0 0 0; display: inline-block;"><span class="left animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Курс вашей мечты</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0 52px 0 0; line-height: 62px; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; line-height: 49px; display: inherit;">&#160;Фантастически&#160;</span><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-top-left-radius: 15px; border-bottom-left-radius: 3px; line-height: 63px; display: inherit;">результативный,</span>&#160;</span><br>
				<span class="animate-desc" style="margin: -4px 0 0 119px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; line-height: 49px; display: inherit;">&#160;ошеломительно&#160;</span><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-top-left-radius: 15px; border-bottom-left-radius: 3px; line-height: 63px; display: inherit;">радостный,</span>&#160;</span><br>
				<span class="animate-desc" style="margin: -4px 0 0 271px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; line-height: 49px; display: inherit;">&#160;незабываемо&#160;</span><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-top-left-radius: 15px; border-bottom-left-radius: 3px; line-height: 63px; display: inherit;">яркий&#160;</span></span><br>
				<span class="animate-desc" style="margin: -4px 0 0 423px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; border-top-right-radius: 15px; border-bottom-right-radius: 3px; line-height: 63px; display: inherit;">&#160;игровой</span><span style="background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; line-height: 49px; display: inherit;">&#160;курс обучения&#160;</span></span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:60px; margin: 95px 0 0 0; line-height: 70px;display: inline-block;"><span class="animate-desc" style="background-color: rgba(0,101,169,0.6); border-radius: 30px; white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">&#160;для детей и взрослых&#160;</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 46px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 72px; display: inline-block;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(108,17,108,0.6);border-radius: 30px; line-height: 49px; display: inherit;">Не надо быть семи пядей во лбу.</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 8px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(108,17,108,0.6);border-radius: 30px; line-height: 49px; display: inherit;">Ни во что не надо вникать.</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 15px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="dfdf" style="background-color: rgba(108,17,108,0.6);border-radius: 30px; line-height: 49px; display: inherit;">Ничего не надо зубрить.</span></span></p>
				<p class="white font-verdana bold center" style="font-size:60px; margin: 174px 0 0 0; line-height: 70px; display: inline-block;"><span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(108,17,108,0.6); border-radius: 30px; line-height: 56px; display: inherit;">Лёгкость обучения</span></span></span><br><span class="left animate-desc-parent" style="white-space: nowrap; margin: -8px 0 0 0; display: inline-block; display: inline-block;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(108,17,108,0.6); border-radius: 30px; line-height: 56px;">и молниеносный успех!</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 50px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:72px; margin: 0 374px 0 0; line-height: 89px; display: inline-block;"><span class="animate-desc" style="font-size: 72px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Нейролингвистика</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 55px; margin: 43px 0 0 0;">
				<span class="animate-desc" style="margin:0 0 0 144px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Цвет,</span><br>
				<span class="animate-desc" style="margin:0 0 0 260px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">свет,</span><br>
				<span class="animate-desc" style="margin:0 0 0 396px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">игра <span class="normal font-arial">–</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 548px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">вот её суть!</span></p>
				<p class="white font-verdana bold center" style="font-size:48px; margin: 64px 0 0 0; line-height: 52px;"><span class="left animate-desc-parent" style="display: inline-block;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Вместо долгих лет труда <span class="normal font-arial">–</span></span></span><br><span class="left animate-desc-parent" style="display: inline-block; margin: -3px 0 0 0;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">всего 4-12 сеансов!</span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 180px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 70px; margin: 0 0 0 30px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Русский язык без ошибок.</span><br>
				<span class="animate-desc" style="margin:0 0 0 193px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Красивый почерк.</span><br>
				<span class="animate-desc anim-scale" style="margin:0 0 0 319px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;">БЕЗУПРЕЧНАЯ  ГРАМОТНОСТЬ.</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 98px 0 0 0; line-height: 60px;"><span class="animate-desc" style="margin: 0 0 0 750px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">А ещё...</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 68px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: 0 726px 0 0;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Дивной красоты</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:72px; margin: 0; line-height: 86px; margin: -9px 0 0 123px;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">творческие работы</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 24px 0 0 301px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">по русскому,</span><br>
				<span class="animate-desc" style="margin:-9px 0 0 138px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">английскому,</span><br>
				<span class="animate-desc" style="margin:-9px 0 0 297px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">литературе.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 39px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 74px 1px 0; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: 0 0 0 0;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Неповторимые</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:60px; margin: 0; line-height: 86px; margin: -12px 0 0 318px;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">творческие диктанты.</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 78px; margin: 136px 0 0 7px;">
				<span class="animate-desc" style="margin:0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Их любят все:</span><br>
				<span class="animate-desc" style="margin:1px 0 0 435px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">взрослые и дети.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 30px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 6px 1px 0; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: 0 0 0 0;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Речь <span class="normal font-arial">–</span> ваша визитная карточка,</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: -28px 0 0 547px;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">не так ли?</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 52px; margin: 251px 0 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">НАВЫКИ ПРАВИЛЬНОЙ</span><br>
				<span class="animate-desc" style="margin:0 0 0 640px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">КРАСИВОЙ РЕЧИ.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 363px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 141px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Правильное,</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 214px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">интонированное,</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 589px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">беглое,</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: -25px 0 0 179px;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">ОСМЫСЛЕННОЕ ЧТЕНИЕ.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 280px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 0 0 32px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Повышение</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 197px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">КОНЦЕНТРАЦИИ ВНИМАНИЯ,</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">без чего невозможно</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 394px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">грамотное письмо</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 116px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 89px; margin: 0 134px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Улучшение</span><br>
				<span class="animate-desc" style="margin:0 0 0 148px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">фонематического слуха</span><br>
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">(основа врождённой грамотности).</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 140px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 57px; margin: 0 78px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Коррекция проблем обучения <span class="normal font-arial">–</span></span><br>
				<span class="animate-desc" style="margin:-15px 0 0 180px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">дислексии,</span><br>
				<span class="animate-desc" style="margin:-15px 0 0 344px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">дисграфии,</span><br>
				<span class="animate-desc" style="margin:-15px 0 0 476px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span class="tag">школьного</span> невроза.</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: 32px 0 0 0;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Поддержка психолога. АРТ-ТЕРАПИЯ.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 137px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 89px; margin: 0 70px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">НАИВЫСШЕЕ КАЧЕСТВО ОБУЧЕНИЯ</span><br>
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">подтверждено тремя Знаками Качества</span><br>
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Госстандарта России.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 114px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 194px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Зубрёжки правил нет.</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Домашние задания минимальны.</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Нагрузки посильны.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 44px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 0 0 24px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Метод запатентован как изобретение</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">в России и за рубежом.</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 43px 0 0 24px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Международная экспертиза PCT</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">подтвердила:</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:60px; margin: 51px 0 0 0; line-height: 59px;">
				<span class="animate-desc" style="margin:0 0 0 44px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">НИЧЕГО ПОДОБНОГО В МИРЕ НЕТ!</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 44px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 0 0 24px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Главный результат <span class="normal font-arial">–</span> лёгкая обучаемость.</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 46px 0 0 0;">
				<span class="animate-desc" style="margin:0 0 0 680px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Всегда,</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 843px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">везде,</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 975px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">всему!</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 211px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 0 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Курс ведёт автор <span class="normal font-arial">–</span></span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">профессор Ольга Олеговна Веровенко.</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 44px 0 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Совместные занятия детей и родителей.</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 157px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 130px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Сейчас будет</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">подробная статья автора о методе.</span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Читайте внимательно <span class="normal font-arial">–</span> и...</span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:130px; margin: 0; margin: 21px 0 0 0;">
				<span class="animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;">Чудо  будет!</span></p></div></div></div>
	</div>








</div>
</div>