<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">	
	<div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
		<div class="animation-opacity animation-opacity-zoom active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/1.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/2.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/3.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/4.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/5.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/6.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/7.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/8.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/9.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/10.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/11.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/12.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/13.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/14.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/15.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/16.jpg);background-size: cover; background-position: center;"></div></div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 71px; left: 0px; width: 100%; text-align: center;">
		<span class="font-verdana bold" style="font-size: 48px; color: white;">Чудо будет!</span>
		<span class="size-24 font-verdana tag" style="color: white;">Врождённая грамотность-<span class="bold italic">NL</span></span>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; text-align: center; cursor: pointer; height: 70px;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]'">
		<a><span class="font-arial bold" style="font-size: 34px;color: white; text-decoration:underline; line-height: 60px;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 240px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Курс вашей мечты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Игровой – от начала до конца! – курс грамотности.<br>
				А ещё в нём есть всё, о чём вам только мечталось.<br>
				Смотрите слайдер до конца!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 265px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Русский язык без ошибок. Красивый почерк.<br>
				БЕЗУПРЕЧНАЯ ГРАМОТНОСТЬ. </p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 210px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Сказочный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Неповторимые ТВОРЧЕСКИЕ ДИКТАНТЫ.<br>
				Их любят все: взрослые и дети.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 285px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Завораживающий курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Дивной красоты ТВОРЧЕСКИЕ РАБОТЫ<br>
				по русскому, английскому, литературе.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Радостный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Навык гениальных сказок, сочинений, изложений.<br>
				РАЗВИТИЕ ТВОРЧЕСКИХ СПОСОБНОСТЕЙ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 200px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Чудесный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Правильное, интонированное, беглое и<br>
				ОСМЫСЛЕННОЕ ЧТЕНИЕ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 180px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Дивный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Речь – ваша визитная карточка, не так ли?<br>
				НАВЫКИ ПРАВИЛЬНОЙ КРАСИВОЙ РЕЧИ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 180px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Добрый курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Коррекция дислексии, дисграфии, <span class="tag">школьного</span><br>
				невроза и любых других проблем обучения.<br>
				Поддержка психолога. АРТ-ТЕРАПИЯ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Роскошный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Программа каждый раз строится индивидуально<br>
				в зависимости от возраста и ваших пожеланий.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 200px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Взлётный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Зубрёжки правил нет. Домашние задания<br>
				минимальны.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 225px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Уникальный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод запатентован как изобретение в России<br>
				и за рубежом. Международная экспертиза PCT<br>
				подтвердила: НИЧЕГО ПОДОБНОГО В МИРЕ НЕТ!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 250px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Эффективный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод в 15-20 раз эффективнее и мощнее того,<br>
				к чему вы привыкли. Вы достигнете желаемого<br>
				В 15-20 РАЗ БЫСТРЕЕ, ЛЕГЧЕ, ПРОЩЕ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 225px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Волшебный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Вместо долгих лет труда – ВСЕГО 4-12 ЗАНЯТИЙ<br>
				Метод подходит и школьникам, и взрослым.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 270px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Восхитительный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Качество обучения НАИВЫСШЕЕ.<br>
				Это подтверждено тремя Знаками Качества<br>
				Госстандарта РФ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 225px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Интересный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Самое интересное о методе рассказывает автор –<br>
				профессор О.О.Веровенко в статье <span class="tag">Чудо будет!</span>.<br>
				ПОДРОБНОСТИ СПРАВА.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 170px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Чудо будет!</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Подарите этот праздник себе и своему ребёнку!<br>
				ПОДРОБНОСТИ СПРАВА.</p></div></div>
	</div>








</div>
</div>
<p style="margin: 0; height: 0;"><script charset="utf-8" type="text/javascript" src="http://verovenko.name/wp-content/themes/twentyfourteen/js/slider1.js"></script></p>