<p class="center red bold size-30 font-verdana" style="margin: -13px 0 0 0;">
	Чудо будет!
</p>
<p class="center blue size-18 font-verdana" style="margin: 0 0 26px 0;">
	Суперкурс-новинка, о котором мечтали все!
</p>
<p class="blue bold size-14 font-arial" style="margin:0 0 18px 37px;">
	В рамках единого курса:
</p>
<div class="trans" style="padding: 1px 0 20px 0; height: 48px;">
	<div class="trans4" style="height: 48px; width: 960px; opacity: 0; margin: 0 0 0 0; position: absolute; z-index: 3;">
		<p class="dark-blue size-14 font-arial" style="margin:0 0 35px 37px; line-height: 16px;">
			русский, грамотность + красивый почерк + творческие диктанты + творческие работы по русскому, английскому, литературе +<br>
			чтение + речь + навык сочинений, изложений, эссе, сказок + развитие творческого мышления + ликвидация дислексии, дисграфии,<br>
			<span class="tag">школьного</span> невроза + арт-терапия + повышение концентрации внимания + психология, психотерапия + становление ЛИЧНОСТИ.
		</p>	
	</div>
</div>
<div class="center">
	<img class="image-text" alt="" src="http://verovenko.name/wp-content/themes/twentyfourteen/images/elephant.jpg" style="margin-top: 0px; margin-left: 0px; width: 709px; height: 523px;">
</div>
<p class="light-blue size-24 bold center font-verdana" style="margin: 57px 0 12px 0; line-height: normal;">Нейролингвистика</span>
	<span class="light-blue size-18 font-verdana bold center">(<span class="tag">Врождённая грамотность-<span class="italic">NL</span></span>)</span>
</p>
<div class="blue size-16 bold center font-arial">
	Развитие ваших сверхспособностей к молниеносному обучению
</div>
<div style="padding-top: 65px; width: 960px; height: 645px;">
	<div style="width: 517px; height: 605px; float: right; margin: 0 22px 0 0;">
		<div style="width: 517px; height: 589px;">
			<img class="image-text image-shadow-0" alt="" src="http://verovenko.name/wp-content/themes/twentyfourteen/images/zebra.jpg" style="width: 517px; height: 589px;">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>	
	<div style="width: 401px; height: 605px; float: left; margin: 0 0 0 2px;">
		<p class="blue size-18 bold font-verdana" style="line-height: normal; margin-bottom: 23px;">
			В рамках единого курса:
		</p>
		<ul class="blue size-18 font-verdana" style="margin: 0 0 62px 32px; letter-spacing: normal; line-height: 29px;">
			<li style="margin: 0 0 7px 0;">русский язык, грамотность</li>
			<li style="margin: 0 0 10px 0; line-height: 23px;">творческие диктанты (их любят<br>
			все: взрослые и дети!)</li>
			<li style="margin: 0 0 10px 0; line-height: 23px;">дивной красоты творческие работы<br>
			(русский, английский, литература)</li>
			<li style="margin: 0 0 7px 0; line-height: 23px;">навык гениальных сочинений,<br>
			изложений, сказок, эссе</li>
			<li>правильная, красивая речь</li>
			<li style="margin: 0 0 7px 0;">осмысленное беглое чтение,</li>
			<li style="margin: 0 0 10px 0; line-height: 23px;">коррекция дислексии, дисграфии<br>
			<span class="tag">школьного</span> невроза</li>
			<li style="margin: 0 0 7px 0; line-height: 23px;">повышение концентрации<br>
			<span style="line-height: 16px;">внимания, ментальной<br>
			выносливости и работоспособности</span></li>
			<li style="margin: 0 0 4px 0;">арт-терапия</li>
			<li style="margin: 0 0 4px 0;">поддержка психолога,</li>
			<li>психотерапия.</li>
		</ul>
		<p class="blue size-18 font-verdana" style="margin: 0 0 0 34px">
			А также:
		</p>
	</div>
</div>
<p class="yellow size-18 bold font-verdana center" style="line-height: 1.7; margin: 27px 0 0 0;">
	творческое, интеллектуальное, психологическое развитие личности<br>
	и ваших сверхспособностей к молниеносному обучению всему на свете.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 13px 0 22px 0;">
	Предлагаемый вам метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
	Метод запатентован как изобретение в России и за рубежом и не имеет аналогов в мире.<br>
	Удостоен трёх Знаков Качества Госстандарта РФ с категорией <span class="red tag">КАЧЕСТВО НАИВЫСШЕЕ</span>.
</p>
<p class="size-24 font-verdana center" style="margin: 47px 0 49px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $programma_kursa; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="light-blue font-sans-font">Программа курса и условия приёма</span></a>
</p>
<p class="red size-24 bold font-verdana center" style="margin-bottom: 33px;">
	Внимание!
</p>
<p class="dark-blue size-18 font-verdana" style="padding-left: 23px; margin-bottom: 0px; line-height: 23px">
	Этот курс предназначен для тех, кто ставит себе в жизни высокие цели. Или, на худой	конец,<br>
	просто желает выйти в отличники – твёрдо и бесповоротно. Каким бы плачевным ни был ваш<br>
	начальный уровень, блистательный конечный результат <span class="blue bold">обеспечен</span>.
</p>
<div style="padding-top: 50px; height: 495px;">
	<div style="width: 535px; height: 495px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 535px; height: 479px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/apple-tree.jpg" width="100%" height="100%" alt="Дерево с яблоками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 32px 0 22px 23px;">
	Курс позволяет одновременно, без потерь времени и сил, ликвидировать проблемы<br>
	(дислексия, дисграфия, <span class="tag">школьный</span> невроз, ридингфобия, лень, отвращение к учёбе и т.д.)<br>
	и обучиться всему (русский, грамотность, чтение, речь, английский, сочинения, изложения,<br>
	литература).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 23px;">
	Главное же достоинство курса в том, что он повышает способности к обучению:<br>
	восприимчивость, концентрацию внимания, ментальную выносливость и работоспособность,<br>
	скорость усвоения информации. Развиваются творческие способности и таланты.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 62px 23px;">
	Курс прививает любовь к учёбе, снимает страхи и <span class="tag">шероховатости</span> характера, дарует радость<br>
	и полноту жизни.
</p>
<p class="red size-30 font-verdana center bold" style="margin-bottom: 54px;">
	За чудесами – вперёд!
</p>
<div style="width: 960px; height: 378px;">	
	<div style="width: 525px; margin-left: 18px; height: 378px; float: left; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/miracle.jpg);">
	</div>
	<div style="width: 300px; margin-left: 18px; height: 378px; float: right; padding-right: 64px">
		<p class="red size-30 font-verdana center" style="margin-top: 155px; line-height: 7px; text-align: left;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="light-blue font-verdana font-sans-font">Подробности курса</span></a><br>
			<a rel="nofollow" href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue font-arial size-14 bold">Кликните, пожалуйста, по ссылке!</span></a>
		</p>	
	</div>
</div>