<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">	
	<div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
		<div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/1.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/2.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/3.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/4.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/5.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/6.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/7.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/8.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/9.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/10.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/11.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/19.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/12.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/13.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/14.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/15.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/16.jpg);background-size: cover;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/17.jpg);background-size: cover; background-position: center;"></div></div>
		<div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/slider-chudo/18.jpg);background-size: cover; background-position: center;"></div></div>
	</div>
	<div class="buttons-slider" style="opacity: 0;">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active animate" style="position: absolute; z-index: 3; top: 30px; width: 100%; overflow: hidden; margin: 0; opacity: 1;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<div class="white font-verdana bold animate-desc-parent" style="font-size:170px; margin: 0 auto; line-height: 233px;"><p  class="left animate-desc anim-scale" style="opacity: 0;transform: scale(0.3);-webkit-transition-property: opacity,transform;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">Чудо  будет!</p></div>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:36px; margin: -11px 0 0 0; display: inline-block;"><span class="left animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Курс вашей мечты</span></p>
				<p class="font-verdana bold left animate-desc-parent" style="font-size:30px; margin: 180px 0 0 0;color: #3A0105; line-height: 35px;"><span class="left animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">В 15-20 раз эффективнее,</span><br><span class="left animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0; margin-top: -4px;">легче, ярче всего того,</span><br><span class="left animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0; margin-top: -4px;">к чему вы привыкли<span style="font-size: 30px;">.</span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 80px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white center font-verdana bold " style="font-size:48px; margin: 0 0 0 0; line-height: 62px; display: inline-block;"><span class="animate-desc-parent left" style="margin: 0 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; line-height: 49px; display: inherit;">&#160;Фантастически&#160;</span><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-top-left-radius: 15px; border-bottom-left-radius: 3px; line-height: 63px; display: inherit;">результативный,&#160;</span></span></span><br>
				<span class="animate-desc-parent left" style="margin: -4px 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; line-height: 49px; display: inherit;">&#160;ошеломительно&#160;</span><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-top-left-radius: 15px; border-bottom-left-radius: 3px; line-height: 63px; display: inherit;">радостный,&#160;</span></span></span><br>
				<span class="animate-desc-parent left" style="margin: -4px 0 0 0;white-space: nowrap; display: inline-block;"><span class="animate-desc anime-non-delay" style="margin: 0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-top-left-radius: 30px; border-bottom-left-radius: 30px; line-height: 49px; display: inherit;">&#160;незабываемо&#160;</span><span style="font-size: 60px; background-color: rgba(0,101,169,0.6); border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-top-left-radius: 15px; border-bottom-left-radius: 3px; line-height: 63px; display: inherit;">яркий&#160;</span></span></span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:136px; margin: 0 0 0 0; display: inline-block;"><span class="animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.5);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">игровой курс</span></p>
				<p class="white font-verdana bold left" style="font-size:48px; margin: 4px 0 0 0; display: inline-block;"><span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anime-scale-cascade" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(0,101,169,0.6); border-radius: 30px; line-height: 49px; display: inherit;">&#160;для детей и взрослых&#160;</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 20px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 63px; display: inline-block;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(108,17,108,0.6);border-radius: 30px; line-height: 49px; display: inherit;">&#160;Не надо быть семи пядей во лбу<span style="font-size: 30px;">.</span>&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 279px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span style="background-color: rgba(108,17,108,0.6);border-radius: 30px; line-height: 49px; display: inherit;">&#160;Ни во что не надо вникать<span style="font-size: 30px;">.</span>&#160;</span></span><br>
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 551px;white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;"><span class="dfdf" style="background-color: rgba(108,17,108,0.6);border-radius: 30px; line-height: 49px; display: inherit;">&#160;Ничего не надо зубрить<span style="font-size: 30px;">.</span>&#160;</span></span></p>
				<p class="white font-verdana bold center" style="font-size: 87px; margin: 200px 0 0 0; line-height: 89px; display: inline-block;"><span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-fast1" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="font-size: 60px; line-height: 64px; display: inherit;">&#160;Лёгкость обучения&#160;</span></span></span><br><span class="left animate-desc-parent" style="white-space: nowrap; margin: 0 0 0 0; display: inline-block;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="line-height: 73px; display: inherit;">&#160;и молниеносный успех!&#160;</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 50px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:72px; margin: 0 374px 0 0; line-height: 89px; display: inline-block;"><span class="animate-desc" style="font-size: 72px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span class="italic">NL</span>-обучение</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 55px; margin: 43px 0 0 0;">
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(12,87,5,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Цвет,&#160;</span></span><br>
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 130px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(12,87,5,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;свет,&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 250px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(12,87,5,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;игра <span class="normal font-arial">–</span>&#160;</span></span><br>
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 389px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(12,87,5,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;вот его суть!&#160;</span></span></p>
				<p class="white font-verdana bold center" style="font-size:48px; margin: 64px 0 0 0; line-height: 52px;"><span class="left animate-desc-parent" style="display: inline-block;"><span class="animate-desc anim-scale anime-scale-fast1" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="background-color: rgba(12,87,5,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Вместо долгих лет труда <span class="normal font-arial">–</span>&#160;</span></span></span><br><span class="left animate-desc-parent" style="display: inline-block; margin: 0 0 0 0;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="background-color: rgba(12,87,5,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;всего 4-12 сеансов!&#160;</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 70px; margin: 0 470px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(151,154,170,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Русский язык без ошибок<span style="font-size: 30px;">.</span>&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 209px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(151,154,170,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Красивый почерк<span style="font-size: 30px;">.</span>&#160;</span></span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:90px; margin: 40px 0 0 0; display: inline-block; line-height: 112px;"><span class="animate-desc anim-scale anime-scale-fast1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.4);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">БЕЗУПРЕЧНАЯ</span><br>
				<span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="font-size:126px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ГРАМОТНОСТЬ</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 68px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: 0 0 0 75px;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(151,154,170,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Дивной красоты&#160;</span></span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:176px; margin: -89px 0 0 0; display: inline-block; line-height: 220px;"><span class="animate-desc anim-scale anime-scale-fast1" style="line-height: 220px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.4);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">творческие</span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:176px; margin: -70px 0 0 0; display: inline-block; line-height: 150px;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1 anime-non-delay" style="margin: -100px 0 0 0; font-size:120px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">работы</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: -22px 0 0 0; line-height: 59px; margin: 24px 0 0 301px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(151,154,170,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;по русскому,&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 275px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(151,154,170,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;английскому,&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 510px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(151,154,170,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;литературе&#160;<span style="font-size: 30px;">.</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 39px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px 0; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 74px; margin: 0 750px 0 0;"><span class="animate-desc anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(26,46,12,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Неповторимые&#160;</span></span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:176px; margin: 0 0 0 0; display: inline-block; line-height: 167px;"><span class="animate-desc anim-scale anime-scale-fast1" style="line-height: 120px; font-size:100px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.4);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">творческие</span><br>
				<span class="animate-desc anim-scale anime-scale-fast1" style="margin:-20px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">диктанты</span></p>
				<p class="white font-verdana bold center" style="font-size:48px; margin: 0; line-height: 62px; margin: 100px 0 0 0;">
				<span class=" animate-desc-parent left" style="margin:0 0 0 0;white-space: nowrap; overflow: hidden; display: inline-block;"><span class="animate-desc anime-scale-cascade left" style="opacity: 0;white-space: nowrap; overflow: hidden; display: inline-block;"><span style="background-color: rgba(26,46,12,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Их любят все: взрослые и дети&#160;</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 30px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 6px 1px 0; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: 0 0 0 0;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(116,191,202,0.8); border-radius: 30px; line-height: 50px; display: inherit;">&#160;Речь <span class="normal font-arial">–</span> ваша визитная карточка,&#160;</span></span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 86px; margin: -41px 0 0 857px;"><span class="animate-desc anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(116,191,202,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;не правда ли?&#160;</span></span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:80px; margin: 0; line-height: 85px; margin: 264px 0 0 0;">
				<span class="animate-desc anim-scale anime-scale-fast1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НАВЫКИ ПРАВИЛЬНОЙ</span><br>
				<span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="margin: 0 0 0 493px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">КРАСИВОЙ РЕЧИ</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 300px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 60px; margin: 0 0 0 390px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(149,188,109,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Правильное,&#160;</span></span><br>
				<span class="animate-desc" style="margin: 0 0 0 214px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(149,188,109,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;интонированное,&#160;</span></span><br>
				<span class="animate-desc anime-non-delay" style="margin: 0 0 0 639px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(149,188,109,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;беглое,&#160;</span></span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:90px; margin: 0; margin: -6px 0 0 0;"><span class="animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ОСМЫСЛЕННОЕ ЧТЕНИЕ</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 70px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 59px; margin: 0 0 0 52px;">
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(34,31,40,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Повышение&#160;</span></span></p>
				<p class="white font-verdana bold" style="font-size:110px; margin: 49px 0 0 0;">
				<span class="animate-desc-parent left" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-fast1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">КОНЦЕНТРАЦИИ</span></span></p>
				<p class="white font-verdana bold" style="font-size:110px; margin: -68px 0 0 0;"><span class="animate-desc-parent left" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1 anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">ВНИМАНИЯ<span style="font-size: 50px;">,</span></span></span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 59px; margin: 29px 0 0 0;">
				<span class="animate-desc anime-scale-cascade" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(34,31,40,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;без чего невозможно грамотное письмо&#160;</span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 90px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 89px; margin: 0 0 0 50px;">
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(196,149,29,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Улучшение&#160;</span></span></p>
				<p class="white font-verdana bold" style="font-size:120px; margin: 5px 0 0 0; line-height: 130px; margin: 0 0 0 0;">
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-fast1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">фонематического</span></span><br>
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1 anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">слуха</span></span></p>
				<p class="white font-verdana bold" style="font-size:48px; margin: 44px 0 0 0; line-height: 89px;">
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(102,71,27,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;<span class="normal">(</span>основа врождённой грамотности<span class="normal">)</span><span style="font-size: 30px;">.</span>&#160;</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:40px; line-height: 70px; margin: 0 0 0 138px;">
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="line-height: 56px; display: inherit;">Повышается ментальная</span></span></p>
				<p class="white font-arial bold center animate-desc-parent" style="font-size:125px; margin: 38px 0 0 0; display: inline-block; line-height: 180px;"><span class="animate-desc anime-non-delay anim-scale anime-scale-fast1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.4);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">работоспособность</span><br>
				<span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="font-size:150px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">и выносливость</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 40px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 81px; margin: 0 0 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(61,153,76,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Коррекция дислексии, дисграфии,<span class="normal font-arial">–</span>&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 482px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(61,153,76,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;<span class="tag">школьного</span> невроза<span style="font-size: 30px;">.</span>&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 617px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(61,153,76,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Поддержка психолога<span style="font-size: 30px;">.</span>&#160;</span></span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:145px; margin: 100px 0 0 0;"><span class="animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">АРТ-ТЕРАПИЯ</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 50px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 89px; margin: 0 0 0 0;">
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 43px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(136,74,25,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;КАЧЕСТВО ОБУЧЕНИЯ&#160;</span></span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:150px; line-height: 160px; margin: 19px 0 0 35px;">
				<span class="animate-desc anim-scale anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НАИВЫСШЕЕ</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 66px; margin: 123px 0 0 0;">
				<span class="animate-desc anime-scale-cascade" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(136,74,25,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Это подтверждено тремя Знаками Качества&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(136,74,25,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Госстандарта России&#160;<span style="font-size: 30px;">.</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 70px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:36px; margin: 0; line-height: 74px; margin: 0 0 0 100px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(2,38,62,0.6); border-radius: 30px; line-height: 47px; display: inherit;">&#160;Зубрёжки правил нет<span style="font-size: 30px;">.</span>&#160;</span></span><br>
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(2,38,62,0.6); border-radius: 30px; line-height: 47px; display: inherit;">&#160;Домашние задания минимальны<span style="font-size: 30px;">.</span>&#160;</span></span><br>
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(2,38,62,0.6); border-radius: 30px; line-height: 47px; display: inherit;">&#160;Нагрузки посильны<span style="font-size: 30px;">.</span>&#160;</span></span></p>
				<p class="white font-arial bold" style="font-size: 60px; margin: 144px 0 0 0; line-height: 62px;">
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-fast1 anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="line-height: 56px; display: inherit;">Магия, зомбирование и ремень в обучении</span></span></span></span><br>
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="line-height: 56px; display: inherit;">не применяются!</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 80px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 0 0 54px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(58,35,0,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Метод запатентован как изобретение&#160;</span></span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(58,35,0,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;в России и за рубежом<span style="font-size: 30px;">.</span>&#160;</span></span></p>
				<p class="white font-verdana bold" style="font-size:48px; margin: 112px 0 0 0; line-height: 59px;">
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(58,35,0,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Международная экспертиза PCT&#160;</span></span></span><br>
				<span class="left animate-desc-parent" style="margin:-11px 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anime-non-delay" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(58,35,0,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;подтвердила:&#160;</span></span></span></p>
				<p class="white font-verdana bold" style="font-size:65px; margin: 51px 0 0 0; line-height: 59px;">
				<span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">НИЧЕГО ПОДОБНОГО В МИРЕ НЕТ!</span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 44px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 70px; margin: 0 0 0 74px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Главный результат <span class="normal font-arial">–</span> искренний интерес,</span><br>
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 700px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">увлечённость</span><br>
				<span class="animate-desc anime-non-delay" style="margin:0 0 0 587px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">и лёгкая обучаемость:</span></p>
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 76px; margin: 110px 0 0 0;">
				<span class="animate-desc anim-scale anime-scale-fast1" style="margin:0 0 0 680px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">всегда,</span><br>
				<span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="font-size:54px;margin:0 0 0 843px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">везде,</span><br>
				<span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="font-size:62px;margin:0 0 0 975px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">всему!</span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 120px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0 0 0 70px; line-height: 92px;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(15,48,59,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Курс ведёт автор <span class="normal font-arial">–</span>&#160;</span></span><br>
				<span class="animate-desc anime-non-delay" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(15,48,59,0.6); border-radius: 30px; line-height: 56px; display: inherit;">&#160;доктор психологических наук&#160;</span></span></p>
				<p class="white font-verdana bold center" style="font-size: 80px; margin: 3px 0 0 0; line-height: 97px; display: inline-block;"><span class="left animate-desc-parent" style="white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale anime-scale-fast1" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="font-size: 63px; line-height: 67px; display: inherit;">профессор</span></span></span><br><span class="left animate-desc-parent" style="white-space: nowrap; margin: 0 0 0 0; display: inline-block;"><span class="animate-desc anim-scale anime-scale-cascade1 anime-scale-fast1" style="margin: 0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;"><span style="line-height: 67px; display: inherit;">Ольга Олеговна Веровенко</span></span></span></p></div></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 120px; width: 100%; overflow: hidden; margin: 0;">
			<div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
				<p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; margin: 0; line-height: 59px; margin: 0 130px 0 0;">
				<span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(46,18,40,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;Читайте&#160;</span></span><br>
				<span class="animate-desc" style="margin:-11px 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(46,18,40,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;подробную статью автора о методе,&#160;</span></span><br>
				<span class="animate-desc" style="margin:-11px 0 0 556px; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="background-color: rgba(46,18,40,0.8); border-radius: 30px; line-height: 56px; display: inherit;">&#160;и<span style="font-size: 30px;">...</span>&#160;</span></span></p>
				<p class="white font-verdana bold center animate-desc-parent" style="font-size:170px; margin: 0; margin: 0 0 0 0;">
				<span class="animate-desc anim-scale" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">Чудо  будет!</span></p></div></div></div>
	</div>








</div>
</div>