<h2 class="heading green size-30">За гранью возможного</h2>
<p class="light-blue size-24 font-verdana bold center" style="margin: 47px 0 64px 0;">
	Творческие сочинения-эссе по литературе
</p>
<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 32px;">
	Позвольте напомнить вам содержание некоторых прекрасных стихотворений поэтов<br>
	<span class="tag">Серебряного века</span>.
</p>
<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 32px;">
	Ниже каждого из них – сочинение-эссе. Написал их Володя Гранкин, ученик 10-го класса.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 89px 32px;">
	Хорошо пишет тот, кто хорошо думает, не так ли?
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 9px 0 13px 37px;">
	Николай Гумилёв
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 29px 0 44px 0;">
	Крест
</p>
<div style="width: 960px; height: 430px; padding: 9px 0 0 0;">	
	<div style="width: 490px; height: 430px; float: left; padding-left: 0;">
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 36px 15px;">
			Так долго лгала мне за картою карта,<br>
			Что я уж не мог опьяниться вином.<br>
			Холодные звёзды тревожного марта<br>
			Бледнели одна за другой за окном.
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 36px 15px;">
			В холодном безумьи, в тревожном азарте<br>
			Я чувствовал, будто игра эта – сон.<br>
			«Весь банк, – закричал, – покрываю я в карте!»<br>
			И карта убита, и я побежден.
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 0 15px;">
			Я вышел на воздух. Рассветные тени<br>
			Бродили так нежно по нежным снегам.<br>
			Не помню я сам, как я пал на колени,<br>
			Мой крест золотой прижимая к губам.
		</p>		
	</div>
	<div style="width: 436px; height: 430px; float: right; margin: 0 34px 0 0;">
		<div class="image-shadow-0" style="width: 436px; height: 414px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/aaaa.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 600px; padding: 0 0 25px 0;">	
	<div style="width: 498px; height: 600px; float: left; margin: -50px 0 0 17px;">
		<div class="image-shadow-0" style="width: 498px; height: 315px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/krest.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 35px 0 36px 0;">
			– Стать вольным и чистым, как звёздное небо,<br>
			Твой посох принять, о сестра Нищета,<br>
			Бродить по дорогам, выпрашивать хлеба,<br>
			Людей заклиная святыней креста!
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 36px 0;">
			Мгновенье… и в зале весёлой и шумной<br>
			Все стихли и встали испуганно с мест,<br>
			Когда я вошёл, воспалённый, безумный,<br>
			И молча на карту поставил мой крест.
		</p>
	</div>
	<div style="width: 328px; height: 600px; float: right; margin: 34px 64px 0 0;">
		<div class="image-shadow-0" style="width: 328px; height: 495px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/ruletka.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-18 font-verdana line-height-23" style="margin: 9px 0 13px 25px;">
	Володя Гранкин
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 12px 0;">
	<span class="tag">Крест</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<p class="light-blue size-18 font-verdana bold center" style="margin: 0 0 30px 0;">
	(сочинение-эссе)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 14px 525px;">
	Я обманут моей унылой,<br>
	Переменчивой, злой судьбой.
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 69px 525px;">
	Анна Ахматова, <span class="tag">Песня последней встречи</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px; text-indent: 78px;">
	Человек и рок, человек и его злая судьба... Можно ли как-то обойти её, или<br>
	сразиться с ней, или, на худой конец, обыграть в карты?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px; text-indent: 78px;">
	Николай Гумилёв использует потрясающей силы и выразительности омонимы.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px; text-indent: 78px;">
	Крест – как злая судьба, как страсть к игре в карты, терзающая лирического<br>
	героя. И эту зависимость, свою несвободу лирический герой осознаёт, ощущает как своё<br>
	<span class="blue tag">холодное безумье</span>, <span class="blue tag">тревожный азарт</span>. Ему хотелось бы стать <span class="blue tag">вольным и чистым, как<br>
	звёздное небо</span>, но принять <span class="blue tag">посох сестры Нищеты</span> он, конечно, не может и не хочет.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px; text-indent: 78px;">
	Крест – это и нательный <span class="blue tag">крест золотой</span>, который можно прижать к губам в самую<br>
	тяжёлую минуту глубочайшего отчаяния. И этот крест, осознаваемый лирическим героем<br>
	как <span class="blue tag">святыня</span>, всегда был рядом, поддерживая его, как самый верный друг.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px; text-indent: 78px;">
	Что же поставил на карту в конце стихотворения наш герой: злую судьбу или<br>
	верного друга? Или и то, и другое вместе?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px; text-indent: 78px;">
	Многозначность омонима даёт возможность каждому из нас домыслить это.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 111px 45px; text-indent: 78px;">
	Осуждаю ли я лирического героя, брошу ли в него камень? Ответить хочется<br>
	словами Иисуса Христа: <span class="blue italic tag">Кто сам без греха, первым брось камень</span>.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 45px;">
	Александр Блок
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 25px 0 44px 0;">
	Незнакомка
</p>
<div style="width: 960px; height: 476px; padding: 23px 0 25px 0;">	
	<div style="width: 609px; height: 476px; float: left; margin: 0 0 0 22px;">
		<div class="image-shadow-0" style="width: 609px; height: 460px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/eye1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 274px; height: 476px; float: right;">
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			По вечерам над ресторанами<br>
			Горячий воздух дик и глух,<br>
			И правит окриками пьяными<br>
			Весенний и тлетворный дух.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			Вдали над пылью переулочной,<br>
			Над скукой загородных дач,<br>
			Чуть золотится крендель булочной,<br>
			И раздается детский плач.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И каждый вечер, за шлагбаумами,<br>
			Заламывая котелки,<br>
			Среди канав гуляют с дамами<br>
			Испытанные остряки.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			Над озером скрипят уключины<br>
			И раздается женский визг,<br>
			А в небе, ко всему приученный<br>
			Бессмысленно кривится диск.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И каждый вечер друг единственный<br>
			В моем стакане отражен<br>
			И влагой терпкой и таинственной<br>
			Как я, смирён и оглушён.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			А рядом у соседних столиков<br>
			Лакеи сонные торчат,<br>
			И пьяницы с глазами кроликов<br>
			«In vino veritas!»* кричат.
		</p>
	</div>
</div>
<div style="width: 960px; height: 562px; padding: 4px 0 124px 0;">	
	<div style="width: 320px; height: 562px; float: left; padding-left: 74px;">
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И каждый вечер, в час назначенный<br>
			(Иль это только снится мне?),<br>
			Девичий стан, шелками схваченный,<br>
			В туманном движется окне.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И медленно, пройдя меж пьяными,<br>
			Всегда без спутников, одна<br>
			Дыша духами и туманами,<br>
			Она садится у окна.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И веют древними поверьями<br>
			Её упругие шелка,<br>
			И шляпа с траурными перьями,<br>
			И в кольцах узкая рука.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И странной близостью закованный,<br>
			Смотрю за тёмную вуаль,<br>
			И вижу берег очарованный<br>
			И очарованную даль.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			Глухие тайны мне поручены,<br>
			Мне чьё-то солнце вручено,<br>
			И все души моей излучины<br>
			Пронзило терпкое вино.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			И перья страуса склонённые<br>
			В моём качаются мозгу,<br>
			И очи синие бездонные<br>
			Цветут на дальнем берегу.
		</p>
		<p class="grey size-14 font-arial line-height-23" style="margin: 0 0 16px 0; line-height: 16px;">
			В моей душе лежит сокровище,<br>
			И ключ поручен только мне!<br>
			Ты право, пьяное чудовище!<br>
			Я знаю: истина в вине.
		</p>		
	</div>
	<div style="width: 524px; height: 562px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow-0" style="width: 524px; height: 546px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/wineglass.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 52px;">
	Володя Гранкин
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 25px 0 24px 0;">
	<span class="tag">Незнакомка</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<p class="light-blue size-18 font-verdana bold center" style="margin: 0 0 37px 0;">
	(сочинение-эссе)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 35px 557px;">
	In vino veritas.<br>
	<span class="size-16">Истина – в вине (лат.)</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 557px;">
	Пей! Чёрт тебя доведёт до конца.<br>
	Йо-хо-хо, и бутылка рому!
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 48px 557px;">
	Роберт Стивенсон, <span class="tag">Остров сокровищ</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 35px; text-indent: 84px;">
	Он беспредельно виноват, лирический герой стихотворения <span class="blue tag">Незнакомка</span>.<br>
	Свою вину – перед собой, своей судьбой – он прекрасно чувствует и понимает. Его вина<br>
	и в том, что у него остался <span class="blue tag">друг единственный</span> – его собственное отражение в бокале<br>
	вина. И в том, что оказался здесь, <span class="blue tag">над скукой загородных дач</span> (прекрасная метафора<br>
	обочины жизни).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 35px; text-indent: 84px;">
	Но главная его вина – перед Ней, таинственной Незнакомкой. Кто она?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 35px; text-indent: 84px;">
	Она – его Сокровище, его Душа, прекрасная, романтичная, необыкновенная,<br>
	одинокая, как и он.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 35px; text-indent: 84px;">
	Но почему же у неё <span class="blue tag">шляпа с траурными перьями</span>? Да просто она, его Душа,<br>
	скорбит! Скорбит об упущенных возможностях, о неизведанных далях, где <span class="blue tag">берег<br>
	очарованный</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 35px; text-indent: 84px;">
	Блок применяет омоформы – удивительную разновидность омонимов,<br>
	совпадающих только в предложном падеже: <span class="blue"><span class="tag">вино</span> и <span class="tag">вина</span></span>, и блистательно обыгрывает<br>
	их.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 35px; text-indent: 84px;">
	Но осознание вины и покаяние, звучащие в конце стихотворения – уже путь к<br>
	искуплению и возрождению, не так ли?
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 84px 0 44px 0;">
	Эссе
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 0 0;">
	Родику (10-й класс, будущий врач) в школе задали написать<br>
	сочинение-исследование по стихотворению А.А. Фета "Шёпот, робкое дыханье..."<br>
	Вот это стихотворение:
</p>
<div style="width: 960px; height: 524px; padding: 65px 0 8px 0;">	
	<div style="width: 320px; height: 524px; float: left; padding-left: 60px;">
		<p class="blue size-18 font-verdana" style="line-height: 37px; margin: 0 0 36px 25px;">
			Шёпот, робкое дыханье,<br>
			Трели соловья,<br>
			Серебро и колыханье<br>
			Сонного ручья.
		</p>
		<p class="blue size-18 font-verdana" style="line-height: 37px; margin: 0 0 36px 25px;">
			Свет ночной, ночные тени,<br>
			Тени без конца,<br>
			Ряд волшебных изменений<br>
			Милого лица,
		</p>
		<p class="blue size-18 font-verdana" style="line-height: 37px; margin: 0 0 0 25px;">
			В дымных тучках пурпур розы,<br>
			Отблеск янтаря,<br>
			И лобзания, и слёзы,<br>
			И заря, заря!..
		</p>		
	</div>
	<div style="width: 367px; height: 524px; float: right; margin: 0 103px 0 0;">
		<div class="image-shadow-0" style="width: 367px; height: 508px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/rodik.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 78px 0 22px 36px;">
	Вот что написал Родик (мы с ним применили необычный приём — <span class="tag">литература в контексте</span>):
</p>
<p class="light-blue size-18 font-verdana bold center" style="margin: 42px 0 20px 0;">
	Стихотворение<br>
	«Шёпот, робкое дыханье»<br>
	Афанасий Афанасьевич Фет<br>
	(восприятие, истолкование, оценка)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Великими русскими поэтами написано немало стихотворений, которые прекрасны по<br>
	содержанию, но необычны по форме. Одно из таких стихотворений «Шёпот, робкое<br>
	дыханье».
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Оно посвящено свиданию влюблённой пары, которое начинается весенним вечером, когда<br>
	запевает соловей, и заканчивается на утренней заре.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Стоит поэтическое время года, когда поздняя весна перетекает в раннее лето: ещё не<br>
	замолкли  птицы, но уже расцвели розы. Ночи тёплые и короткие, почти как в знаменитых<br>
	стихах Пушкина:
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Одна заря сменить другую<br>
	Спешит, дав ночи полчаса...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	В стихотворении «Шёпот, робкое дыханье» присутствует вся романтика, свойственная<br>
	любовному свиданию: тут и «ночные тени, тени без конца», и «ряд волшебных изменений<br>
	милого лица», и, конечно же:
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	И лобзания, и слёзы,<br>
	И заря, заря!..
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Читая это стихотворение, я чувствую себя в картинной галерее и вижу, как одно<br>
	живописное полотно сменяется другим. А. А. Фет пером поэта рисует то, что делает<br>
	художник кистью и красками.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	В этом стихотворении нет ни одного глагола и ни одного сказуемого, даже составного<br>
	именного! Однако каждая строфа здесь излучает движение, всё в нём живёт, меняется и<br>
	изменяется.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Основной признак глагола – движение. И в стихотворении «Шёпот, робкое дыханье» эту<br>
	роль выполняют отглагольные существительные. Например, вместо фразы «серебрится и<br>
	колышется сонный ручей» Фет употребляет «серебро и колыханье сонного ручья», вместо<br>
	«изменяется милое лицо» поэт пишет «ряд волшебных изменений милого лица».
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	А.А.Фет также использует другой приём: переводит прилагательные в существительные,<br>
	которые потом несут функцию прямого дополнения. Например, вместо «соловьиные трели»<br>
	употребляет «трели соловья», вместо «янтарные отблески» – «отблеск янтаря».
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Всё это стихотворение, состоящее из трёх четверостиший, представляет собой одно<br>
	восклицательное предложение, составленное из двенадцати простых назывных,<br>
	соединённых сочинительной связью. И эта связь одного предложения с другим, которую Фет<br>
	делает с помощью запятых, создаёт дополнительный эффект струения, перетекания,<br>
	изменения – такого же плавного, как в самом стихотворении вечер перетекает в ночь, ночь<br>
	– в рассвет, рассвет – в зарю.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Фет был не единственным русским поэтом, который владел этими приёмами. Марина<br>
	Цветаева в одном из самых любимых моих стихотворений, которое особо насыщено<br>
	динамикой действия и движения, пишет:
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 337px;">
	По пескам – жадным и ржавым,<br>
	Под лучом – жгучим и пьющим,<br>
	Сапожком – робким и кротким -<br>
	За плащом – следом и следом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	В этом стихотворении тоже отсутствуют глаголы, но оно также полно движения и динамики.<br>
	А вот Константин Бальмонт в стихотворении «Кто кого», наоборот, использует одни глаголы,<br>
	и вы посмотрите, сколько тут движения:
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 430px;">
	Настигаю.<br>
	<span style="margin: 0 0 0 50px;">Настигаю.</span><br>
	<span style="margin: 0 0 0 100px;">Огибаю.</span><br>
	<span style="margin: 0 0 0 150px;">Обгоню...</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Использование таких сложных литературных приёмов свидетельствует о высоком<br>
	мастерстве русских поэтов.
</p>
<p class="blue size-24 font-sans-font bold center" style="margin: 104px 0 7px 0;">
	Дуэль Павла Петровича и Базарова
</p>
<p class="size-18 font-verdana center" style="margin: 0 0 0 0; color: rgb(0, 0, 0);">
	(Сочинение по литературе)
</p>
<div style="width: 960px; height: 536px; padding: 60px 0 25px 0;">	
	<div style="width: 411px; height: 536px; float: left; margin: 0 0 0 54px;">
		<div class="image-shadow-0" style="width: 411px; height: 486px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/almaeva.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0;">
			Юля Алмаева, 10 класс, абитуриентка ИСАА
		</p>
	</div>
	<div style="width: 448px; height: 536px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Дуэль – крайняя форма проявления разницы<br>
			во взглядах.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 61px 208px;">
			Игорь Дуэль, писатель
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 46px 0;">
			Лошадь сказала,<br>
			<span style="margin: 0 0 0 150px">взглянув на</span><br>
			<span style="margin: 0 0 0 240px">верблюда:</span><br>
			«Какая гигантская<br>
			<span style="margin: 0 0 0 150px">лошадь –</span><br>
			<span style="margin: 0 0 0 240px">ублюдок».</span><br>
			<span style="margin: 0 0 0 0">Верблюд же вскричал:</span><br>
			<span style="margin: 0 0 0 150px">«Да лошадь</span><br>
			<span style="margin: 0 0 0 240px">разве ты?!</span><br>
			<span style="margin: 0 0 0 0">Ты просто-напросто –</span><br>
			<span style="margin: 0 0 0 150px">верблюд</span><br>
			<span style="margin: 0 0 0 240px">недоразвитый».</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 174px;">
			Владимир Маяковский
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 33px 0 22px 48px; text-indent: 25px;">
	…И стрелялись лошадь с верблюдом, и было смешно, и было дико. Потому что каковы<br>
	дуэлянты – такова и дуэль.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Онегин и Ленский, Пушкин и Дантес… Какой накал страстей, искренних чувств,<br>
	попранной чести! Трагедия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Онегин и Ленский, Пушкин и Дантес…Какой накал страстей, искренних чувств,<br>
	попранной чести! Трагедия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Печорин и Грушницкий, Лермонтов и Мартынов… Злая интрига, печальный конец.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Поручик Ржевский и гусар-девица… Комедия «Гусарская баллада». Фарс.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Базаров и Павел Петрович… Что это, зачем, почему?! Что за нелепица? Ведь они по<br>
	человеческой сути своей – одинаковые! Абсолютное зеркало друг друга.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Позиция Базарова: <span class="blue">«Всё, что не понимаю – отрицаю и уничтожаю. Словом и<br>
	поступком»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Позиция Павла Петровича: <span class="blue">«Всех, кого не понимаю – отрицаю и уничтожаю.<br>
	Пистолетом»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Это поединок, в котором реально сошлись лошадь с верблюдом. Поработать бы<br>
	каждому над собой, гармонично сочетая труд внешний и внутренний! Да куда тут!..
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Дуэль проиграли оба. Базаров – когда решился взять в руки пистолет. Неправильно<br>
	выбрал! Его дуэльное оружие – слово, что посильнее пистолета!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Павел Петрович проиграл, когда вызвал Базарова. Да где это видано, чтобы<br>
	стрелялись князь с мужиком, князь с сыном уездного лекаря?!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Именно фактом вызова на дуэль, самим поступком этим признал аристократ Павел<br>
	Петрович – и не усомнился! – в нигилисте Базарове РАВНОГО себе. Тут и проиграл! А<br>
	Базаров ещё и посочувствовал этому <span class="blue">«невольнику чести»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Сцена дуэли является кульминацией спора Базарова с Павлом Петровичем,<br>
	который длится на протяжении всего романа, отображая нам скрытые черты и чувства<br>
	героев, ранее не проглядываемые в произведении.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Их дуэль похожа на революцию: когда один уже не может терпеть поступки<br>
	второго, а второй уже перешел все грани дозволенного поведения. Говоря словами Ленина,<br>
	<span class="blue">«низы не хотят, верхи не могут»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Что хотел Тургенев показать фактом этой дуэли? Конфликт класса аристократии с<br>
	молодым, нарождающимся классом разночинной интеллигенции? Возможно.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Сам автор описывает дуэль как-то иронично, нелепо, словно соглашаясь с мнением<br>
	Базарова на ее счёт, представляет её как пережиток прошлого, никак не уместного в<br>
	настоящем.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Да вся беда в том, что полыхнула от этого базарного конфликта («Базаров»- не<br>
	даром «говорящая» фамилия; где бы ни появился – везде базар, вокзал, революция) и<br>
	тысяч подобных конфликтов, случившихся в тот момент, как от спускового курка<br>
	пистолета, всем дуэлям ДУЭЛЬ. Полыхнула в полмира и смела и дуэлянтов, и секундантов,<br>
	и соглядатаев.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 70px;">
	…И мечется в огне и дыму гражданской войны <span class="blue">Юрий Живаго</span> (доктор Базаров – доктор<br>
	Живаго – случайное ли совпадение?), пытаясь защитить и спасти любимых, друзей,<br>
	страну… <span class="blue">«Авва Отче! Чашу эту мимо пронеси!»</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Остановить бы дуэлянтов, но поздно, поздно, поздно… <span class="blue">«И неотвратим конец пути»</span>.<br>
	Стрелялись они – проиграла Россия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	И какими мелкими и ничтожными кажутся на фоне этой ЛИЧНОСТИ аристократа-<br>
	интеллигента (ВНУКА!) – доктора Живаго – и конфликт <span class="blue">«отцов и детей»</span>, и личности обоих<br>
	горе-дуэлянтов!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Возвращаясь к главным персонажам – Базарову и Павлу Петровичу, – закончить<br>
	хочется опять-таки словами Маяковского:
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 424px;">
	«И знал  лишь<br>
	<span style="margin: 0 0 0 86px">бог седобородый,</span><br>
	<span style="margin: 0 0 0 20px">что это –</span><br>
	<span style="margin: 0 0 0 86px">животные</span><br>
	<span style="margin: 0 0 0 120px">разной породы».</span><br>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px;">
	Где одно из слов хотелось бы выделить особо.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 95px 0 34px 0;">
	Петербург Достоевского
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px; text-indent: 84px;">
	Петербург Достоевского жёлт. Нет-нет, это не золотисто-царственный Петербург<br>
	царей и декабристов, Онегина и Татьяны, высшего света, так любимый и воспетый<br>
	Пушкиным. Не золотисто-искрящийся, как у Игоря Северянина (<span class="tag blue">Ананасы в<br>
	шампанском!</span>) – нет. Петербург Достоевского уныло-жёлт, грязно-жёлт, беспросветно<br>
	жёлт, как простыня <span class="tag">жёлтой</span> бульварной газеты, перемалывающей кости и души.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px; text-indent: 84px;">
	Мир бесов – раскольниковых и свидригайловых, проституток и убийц,<br>
	униженных и оскорблённых идиотов, да и просто духовно бедных людей – он жёлт<br>
	отчаянной тоской безумия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px; text-indent: 84px;">
	Здесь творятся жестокие преступления без наказания и не менее жестокие<br>
	наказания за малейшую вину, а иногда и вовсе без вины.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px; text-indent: 84px;">
	Именно этот горячечно-жёлтый мир породил идею о <span class="blue tag">тварях дрожащих и право<br>
	имеющих</span> – вот уж воистину <span class="blue tag">великую</span> идею! Самые кровавые преступления, от которых<br>
	содрагался мир, – будь то Холокост или Архипелаг Гулаг – всегда прикрывались <span class="tag">великой<br>
	идеей</span>. И рождаются подобные идеи не в Петербурге, не в Германии. Их территория –<br>
	душа человека. А душе этой – чернее чёрного! – легче и проще убить и отобрать, чем<br>
	проявить хотя бы малый труд этой самой души – внешний или внутренний.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px; text-indent: 84px;">
	Ни одна <span class="tag">великая идея</span> не стоит слезинки ребёнка! Именно этому учил великий<br>
	гуманист Фёдор Михайлович Достоевский. Учил здесь, в Петербурге. Ведь город - это не<br>
	только величайшее архитектурное наследие. Город – это люди, которые существуют в<br>
	нём, со всеми их проблемами, страданиями, радостями и умыслами. Так как же видит<br>
	Достоевский людей в нём? Писатель в полной мере изучил внутреннее содержание,<br>
	скрытое в тени искрящихся фасадов, познал его безумие, похоть, алчность,<br>
	аморальность и злобу. Петербург Достоевского подобен сумасшедшему дому, где<br>
	достигли крайней точки безумия все, включая лекарей.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px; text-indent: 84px;">
	Уникальны были мысли Гоголя: <span class="blue italic tag">Санкт-Петербург двулик – под искрящейся<br>
	роскошью томится точно обратный его красоте ужас и тлен, разложение, покрытое<br>
	красивой оболочкой</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 60px; text-indent: 84px;">
	Такие же мрачные, угрюмые описания Петербурга можно отметить и в стихах<br>
	Бориса Пастернака: 
</p>
<p class="blue size-18 font-verdana italic center" style="margin: 0 0 22px 0; line-height: 37px;">
	Тучи, как волосы, встали дыбом<br>
	Над дымной, бледной Невой.<br>
	Кто ты? О, кто ты? Кто бы ты ни был,<br>
	Город – вымысел твой. 
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 80px 0 40px 0;">
	Стихотворения
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 86px;">
	Заслуженная артистка РФ Наталья Леонидовна Ковалёва применяет творчески-развивающую игру <span class="tag">Допиши стихотворение</span>. Педагог даёт четверостишие, его нужно продолжить и закончить.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 41px 86px;">
	Эти стихотворения дописала и сочинила Юля Алмаева.
</p>
<p class="blue size-18 font-verdana italic bold center" style="margin: 0 0 36px 0; line-height: 37px;">
	Есть тихая роща у быстрых ключей;<br>
	И днём там и ночью поёт соловей;<br>
	Там светлые воды приветно текут,<br>
	Там алые розы, красуясь, цветут.
</p>
<p class="blue size-18 font-verdana italic center" style="margin: 0 0 36px 0; line-height: 37px;">
	Там есть на пологе сомкнувшихся крон<br>
	Брильянты деревьев и листьев мильон.<br>
	Там ветры спокойно и лёгко плывут<br>
	И музыку птиц за собою несут. 
</p>
<p class="blue size-18 font-verdana italic center" style="margin: 0 0 36px 0; line-height: 37px;">
	Несут в отдалённые дали Земли,<br>
	Где жили, быть может, когда-то али,<br>
	Где солнца лучи ни за что не сверкнут,<br>
	Где древа в степи никогда не взрастут. 
</p>
<p class="blue size-18 font-verdana italic center" style="margin: 0 0 37px 0; line-height: 37px;">
	Но может, когда-то и резвый ручей<br>
	Достигнет тех мест захудалых плечей<br>
	И землю сухую напоит водой,<br>
	И древа росток нам покажет свой бой. 
</p>
<p class="grey size-18 font-verdana italic center" style="margin: 0 0 38px 0; line-height: 37px;">
	***
</p>
<p class="blue size-18 font-verdana italic bold center" style="margin: 0 0 36px 0; line-height: 37px;">
	Уж Солнца раскалённый шар<br>
	С главы своей Земля скатила,<br>
	И мирный вечера пожар<br>
	Волна морская поглотила.
</p>
<p class="blue size-18 font-verdana italic center" style="margin: 0 0 36px 0; line-height: 37px;">
	Уж лик свой златый и рябой<br>
	Луна пред нами облачила<br>
	И разлила ночною мглой<br>
	По небу яркие светила. 
</p>
<p class="blue size-18 font-verdana italic center" style="margin: 0 0 36px 0; line-height: 37px;">
	И потекла рекой млечной<br>
	Спокойно, медленно, учтиво<br>
	Благая ночь. И мы с тобой<br>
	На всё взираем молчаливо. 
</p>
<p class="center" style="margin: 104px 0 22px 0;">
	<a href="http://verovenko.name/nejrolingvistika/" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24 bold">Сказки. Творческие работы. См. <span class="tag">Нейролингвистика</span></span></a>
</p>
<p class="center" style="margin: 72px 0 22px 0;">
	<a href="http://verovenko.ru/russkij-yazik#result" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24 bold">Вернуться</span></a>
</p>