<p class="light-blue bold size-24 font-verdana center" style="margin: 21px 0 54px 0;">
	ГИА, ЕГЭ
</p>
<div style="width: 960px; height: 438px; padding: 6px 0 25px 0;">	
	<div style="width: 596px; height: 438px; float: left; margin: 0 0 0 34px;">
		<div class="image-shadow" style="width: 596px; height: 422px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/gia-ege/girl-books.jpg" width="100%" height="100%" alt="Девочка с книгами">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 307px; height: 438px; float: right; margin: 0 0 0 0;">
		<p class="yellow font-verdana bold size-24" style="margin: 68px 0 93px 0; line-height: 30px;">
			Высший балл?<br>
			<span style="margin: 0 0 0 197px">Легко!</span>
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 59px 0 58px 0;">
	Обучение класса <span class="tag">Premium</span>
</p>
<p class="blue bold size-24 font-verdana center" style="margin: 18px 0 13px 0;">
	Комплексный курс
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Русский + грамотность + сочинения, изложения + литература + английский +<br>
	коррекция проблем обучения<br>
	(при необходимости) + поддержка психолога.
</p>
<p class="dark-blue size-18 bold font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Отчаянные двоечники принимаются охотно: высший балл всё равно будет!
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 84px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Занятия с проф. О.О.Веровенко</span></a>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 18px 0 51px 0; line-height: 28px;">
	Занятия с педагогами высшего рейтинга,<br>
	<span class="size-16">работающими по технологиям проф. О.О.Веровенко</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 18px 0 13px 0;">
	Литература, сочинения, изложения
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 35px 0;">
	Литература (восприятие, анализ, оценка) + сочинения, изложения<br>
	+ стилистика русского языка + умение правильно и точно<br>
	излагать свои мысли.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko_kozlov; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Занятия с педагогом высшего рейтинга П.Л.Козловым</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 66px 0 33px 0;">
	Английский язык
</p>
<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 0 16px 0;">
	Безупречная грамматика. Метод <span class="tag">Вертикальный взлёт</span>.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 48px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko_kirsh; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Занятия с педагогом высшего рейтинга Е.А.Кирш.</span></a>
</p>
<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 0 16px 0;">
	Огранка языка (только для виртуозов).
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko_karahanov; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Занятия с педагогом высшего рейтинга П.Г.Карахановым.</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 82px 0 25px 0;">
	Русский язык
</p>
<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	<span class="tag">Врождённая грамотность</span> – бренд навсегда!
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko_agafonova; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Занятия с педагогом высшего рейтинга Т.И.Агафоновой.</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 79px 0 41px 0;">
	Актёрское мастерство
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 71px;">
	Актёрское мастерство + художественное слово + чтение + речь + навык публичных<br>
	выступлений (в том числе у школьной доски) + раскрепощение + литература<br>
	(<span class="tag">Золотой</span> и <span class="tag">Серебряный</span> век).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 71px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko_kovaleva; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Занятия с Заслуженной артисткой РФ, педагогом высшего рейтинга Н.Л.Ковалёвой.</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 91px 0 42px 0;">
	Длительность обучения
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 71px;">
	Длительность обучения зависит от начального уровня подготовки и поставленных вами<br>
	целей.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 71px;">
	Более точно длительность обучения будет определена во время тестирования<br>
	и пробного сеанса.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 71px;">
	Всех абитуриентов консультирует, тестирует и принимает научный руководитель<br>
	школы-студии профессор Ольга Олеговна Веровенко.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 71px;">
	Запишитесь на консультацию и пробный сеанс!
</p>
<p class="red size-36 bold font-verdana center" style="margin: 68px 0 51px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 22px 67px; line-height: 26px;">
	Такие скидки получает только <span class="yellow bold">Persona Grata</span>.<br>
	<span class="yellow bold">Persona Grata – </span><span class="red bold">ЛИЧНОСТЬ.</span><br>
	<span class="yellow bold">Persona Grata</span> учится потому, что совершенствует себя.<br>
	<span class="yellow bold">Persona Grata</span> делает свой выбор осознанно, поэтому <span class="blue bold">внимательно ознакомилась<br>
	с материалами сайта.</span><br>
	<span class="yellow bold">Persona Grata</span> интересуется прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается. <br>
	Мы <span class="blue bold">благодарим</span> вас за это огромными скидками.
</p>
<p class="size-24 bold font-verdana center" style="margin: 79px 0 31px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue">Отзывы, благодарности, поздравления. СМИ о нас.</span></a>
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 bold font-verdana center" style="margin: 28px 0 12px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">К навигации</span></a>
</p>