<p class="light-blue bold size-24 font-verdana center" style="margin: 36px 0 45px 0; line-height: 33px;">
	<span class="size-36">Сверхскоростное</span><br>
	нейролингвистическое обучение
</p>
<div style="padding-top: 0; height: 425px;">
	<div style="width: 734px; height: 425px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 734px; height: 409px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/invite.jpg" width="100%" height="100%" alt="Приглашение">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue bold size-14 font-verdana center" style="margin: 14px 0 4px 0;">
	Русский. Грамотность. Английский. Литература. Сочинения. Изложения. Чтение.<br>
	Речь.Творчество. ГИА. ЕГЭ. Арт-терапия. Коррекция проблем. Поддержка психолога.
</p>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 0 0 37px 0; line-height: 17px;">
	Любой возраст. Любой уровень подготовки. Индивидуально и в мини-группах.
</p>
<p class="yellow size-20 font-verdana bold center" style="margin: 0 0 22px 0; line-height: 36px;">
	Качество наивысшее.<br>
	Технологии обучения уникальны.<br>
	Эффективность запредельна.
</p>
<p class="red bold size-24 font-verdana" style="margin: 73px 0 39px 33px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 33px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новых уникальных<br>
	нейролингвистических технологий преподавания.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 20px 70px; line-height: 44px;">
	<li><span class="light-blue">Зубрёжки правил нет.</span></li>
	<li><span class="light-blue">Домашние задания минимальны.</span></li>
	<li><span class="light-blue">Нагрузки посильны.</span></li>
</ul>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 33px;">
	Наши технологии <span class="light-blue bold italic">NL</span>-обучения <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того,<br>
	к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.<br>
	Результат абсолютно устойчив.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 72px 0 31px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 28px;">
	Предлагаемые вам уникальные технологии <span class="light-blue bold italic">NL</span>-обучения запатентован как изобретение<br>
	в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 28px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – эти изобретения первые и пока единственные.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 28px;">
	Международная экспертиза РСТ подтвердила, что они <span class="red">не имеют аналогов в мире</span>.		
</p>
<div style="width: 960px; height: 489px; padding-top: 38px;">	
	<div style="width: 310px; height: 469px; float: left; margin: 0 127px 0 108px;">
		<div class="image-shadow-0" style="width: 310px; height: 438px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 313px; height: 469px; float: right; margin: 0 100px 0 0;">
		<div class="image-shadow-0" style="width: 313px; height: 441px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретение.
	</p>
</div>
<p class="yellow bold size-18 font-verdana center" style="margin: 63px 0 81px 0;">
	Автор уникальных технологий обучения – профессор Ольга Олеговна Веровенко.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 30px 0;">
	Гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 34px 23px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя</span> экспертизами, сертификатами и <span class="blue">Знаками<br>
	Качества</span> Госстандарта РФ (в системе МОЛСЕМ) с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 373px;">	
	<div style="width: 501px; height: 373px; float: left; margin-left: 62px;">
		<div class="image-shadow-0" style="width: 501px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 250px; height: 370px; float: right; margin: 0 77px 0 0;">
		<div class="image-shadow-0" style="width: 250px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 125px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 125px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 11px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="red size-14 font-arial bold center" style="margin: 0 0 0 0;">
	У нас таких три!
</p>
<p class="red size-36 bold font-verdana center" style="margin: 50px 0 51px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 22px 40px; line-height: 26px;">
	Такие скидки получает только <span class="yellow bold">Persona Grata</span>.<br>
	<span class="yellow bold">Persona Grata – </span><span class="red bold">ЛИЧНОСТЬ.</span><br>
	<span class="yellow bold">Persona Grata</span> учится потому, что совершенствует себя.<br>
	<span class="yellow bold">Persona Grata</span> делает свой выбор осознанно, поэтому <span class="blue bold">внимательно ознакомилась<br>
	с материалами сайта.</span><br>
	<span class="yellow bold">Persona Grata</span> интересуется прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается. <br>
	Мы <span class="blue bold">благодарим</span> вас за это огромными скидками.
</p>
<p class="yellow size-30 font-verdana bold center" style="margin: 68px 0 30px 0; line-height: 37px;">
	Если вам всё это интересно,<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow">давайте познакомимся!</span></a>
</p>
<p class="blue size-16 bold font-verdana center" style="margin: 16px 0 33px 0;">
	Добро пожаловать! Welcome!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 bold font-verdana center" style="margin: 28px 0 12px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_danila; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue">Отзывы, благодарности, поздравления. СМИ о нас.</span></a>
</p>
