<h2 class="heading green size-30">За гранью возможного</h2>
<p class="light-blue bold size-24 font-verdana center" style="margin: 44px 0 19px 0;">
	Уникальное<br>
	сверхскоростное обучение
</p>
<div style="padding-top: 12px; height: 564px;">
	<div style="width: 865px; height: 564px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 865px; height: 548px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/light.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 58px 0 39px 0;">
	<span style="font-style: italic;">NL</span>-обучение - что это?
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 32px;">
	<span class="light-blue bold" style="font-style: italic;">Нейролингвистика</span> - новая современная наука об усвоении информации человеческим<br>
	мозгом, раздел <span class="bold">классической</span> нейрофизиологии.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 26px 32px;">
	<span class="light-blue bold" style="font-style: italic;">NL</span>-обучение родилось на стыке четырёх наук: нейрофизиологии, педагогики, лингвистики<br>
	и психологии.
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 47px 0;">
	Пожалуйста, не путайте <span class="light-blue bold" style="font-style: italic;">нейролингвистику и NL-обучение</span> с NLP -<br>
	нейролингвистическим программированием!
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 17px 0;">
	Подробности о наших методиках и <span class="light-blue bold" style="font-style: italic;">NL</span>-обучении см. в статьях:
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 65px 0; text-decoration: underline;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24 tag">Чудо будет!</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24 tag">У кого есть глупо дитятко?</span></a>
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 45px 30px;">
	<span class="light-blue bold" style="font-style: italic;">NL</span>-обучение основано на раскрытии <span class="light-blue bold" style="font-style: italic;">ваших природных способностей</span> к молниеносному<br>
	обучению ВЕЗДЕ, ВСЕГДА, ВСЕМУ.
</p>
<div style="width: 960px; height: 666px;">	
	<div style="width: 493px; height: 666px; float: right; margin: 0 17px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 493px; height: 666px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy6.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 666px; float: left;">
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 65px 0 22px 30px">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 30px;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 30px;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 36px 0 22px 30px;">
			Цвет,<br>
			<span class="red" style="margin-left: 42px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 91px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 145px;">вот его суть!</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 510px; padding-top: 28px;">	
	<div style="width: 496px; height: 430px; float: left; margin: -149px 0 0 8px;">
		<div class="image-shadow-0" style="width: 496px; height: 430px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl6.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 450px; height: 281px; float: right;">
		<p class="blue size-18 bold font-verdana line-height-23 center" style="margin: -18px 107px 22px 30px;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
	</div>
	<div>
		<p class="light-blue size-24 font-sans-font bold center" style="margin: 292px 0 43px 0;">
			Эффективность
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			<span class="light-blue bold" style="font-style: italic;">NL</span>-обучение <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
			Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			Один сеанс <span class="light-blue bold" style="font-style: italic;">NL</span> заменяет примерно <span class="blue">15-20 занятий</span> привычного вам традиционного обучения.<br>
			4 сеанса заменят 60-80,<br>
			12 наших сеансов заменят 180-240 занятий!
		</p>
	</div>
</div>
<ul class="grey size-18 font-verdana bold line-height-23" style="margin: 33px 0 0 58px;">
	<li><span class="light-blue">Зубрёжки правил нет.</span></li>
	<li><span class="light-blue">Домашние задания минимальны.</span></li>
	<li><span class="light-blue">Нагрузки посильны.</span></li>
</ul>
<p class="red bold size-24 font-verdana center" style="margin: 43px 0 39px 0;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 79px 0 43px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 38px 17px;">
	Предлагаемые вам методики <span class="light-blue bold" style="font-style: italic;">NL</span>-обучения запатентованы как изобретения в России и за рубежом. Эти изобретения первые и пока единственные в мире.		
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 17px;">
	Международная экспертиза РСТ подтвердила, что они не имеют аналогов.		
</p>
<div style="width: 960px; height: 511px; padding-top: 45px;">	
	<div style="width: 361px; height: 510px; float: left; margin-left: 90px;">
		<div class="image-shadow-0" style="width: 361px; height: 510px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/patent1.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 363px; height: 511px; float: right; margin: 0 66px 0 0;">
		<div class="image-shadow-0" style="width: 363px; height: 511px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/patent2.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
</div>
<p class="light-blue size-24 font-sans-font bold center" style="margin: 104px 0 46px 0;">
	Гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 38px 23px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя</span> экспертизами, сертификатами и <span class="blue">Знаками<br>
	Качества</span> Госстандарта РФ (в системе МОЛСЕМ) с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 373px; padding-top: 5px;">	
	<div style="width: 515px; height: 373px; float: left; margin-left: 24px;">
		<div class="image-shadow-0" style="width: 515px; height: 357px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/certificate1.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 255px; height: 370px; float: right; margin: 0 71px 0 0;">
		<div class="image-shadow-0" style="width: 255px; height: 354px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/certificate2.jpg);">	
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 128px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 27px 0 38px 11px;">
	Обучение у нас прошли тысячи человек с блистательным конечным результатом!		
</p>
<p class="red size-24 font-verdana bold center" style="margin: 75px 0 46px 0;">
	Если вам всё это интересно,<br>
	давайте познакомимся:
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 53px 0 5px 0;">
	Профессор Ольга Олеговна Веровенко
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 46px 0;">
	и её <span class="light-blue bold" style="font-style: italic;">NL</span>-технологии скоростного обучения
</p>
<div style="width: 960px; height: 736px; padding: 12px 0 25px 0;">	
	<div style="width: 437px; height: 736px; float: left; margin: 0 0 0 -8px;">
		<div class="image-shadow-0" style="width: 437px; height: 656px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/verovenko2.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0; line-height: 16px;">
			Профессор Ольга Веровенко<br>
			Фото с урока.
		</p>
	</div>
	<div style="width: 520px; height: 736px; float: right; padding-right: 0;">
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Веровенко  Ольга Олеговна
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 0;">
			Учёный-нейролингвист, педагог, психолог, журналист.<br>
			Автор 26 учебников и монографий.<br>
			Является одним из основоположников<br>
			современной <span class="light-blue bold" style="font-style: italic;">NL</span>-науки.
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Знания и степени:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 0;">
			<span class="blue">Международные:</span> Doctor, Grand Doctor, Professor, Full<br>
			Professor.<br>
			<span class="blue">Российские:</span> Доктор психологических наук,<br>
			кандидат филологических наук, профессор. 
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Образование:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 0;">
			Четыре высших образования: МГУ (Москва),<br>
			университет Цинциннати (США), аспирантура,<br>
			докторантура (Бельгия). Все защиты по сумме<br>
			собственных трудов.
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Стажировки:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23 center" style="margin: 0 0 24px 0;">
			США, Франция (дважды).
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Изобретения
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 0;">
			<span class="tag">Способ идентификации объектов</span> Международная экспертиза PCT подтвердила, что это изобретение в области скоростного обучения не имеет аналогов в мире.
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Автор технологий скоростного обучения:
		</p>
	</div>
</div>
<ul class="grey size-18 font-verdana line-height-23" style="margin: 1px 0 0 85px;">
	<li><span class="blue"><span class="tag">Врождённая грамотность</span> <span class="dark-blue size-14 font-arial bold">(русский язык);</span></span></li>
	<li><span class="blue"><span class="tag">Вертикальный взлёт</span> <span class="dark-blue size-14 font-arial bold">(английский язык);</span></span></li>
	<li><span class="blue"><span class="tag">Нейролингвистика</span> <span class="dark-blue size-14 font-arial bold">(творчески-игровой метод обучения грамотности);</span></span></li>
	<li><span class="blue"><span class="tag">Арт-терапия</span> <span class="dark-blue size-14 font-arial bold">(коррекция проблем обучения).</span></span></li>
	<li><span class="blue"><span class="tag">Журналистика. Творчество</span> <span class="dark-blue size-14 font-arial bold">(навык написания собственных текстов, развитие творческого мышления).</span></span></li>
	<li><span class="blue"><span class="tag">Техника и культура речи</span>, <span class="tag">Чтение</span>.</span></li>
</ul>
<div style="width: 960px; height: 678px; padding: 26px 0 8px 0;">	
	<div style="width: 500px; height: 678px; float: left; padding-right: 0px">
		<p class="red size-14 font-arial bold center" style="margin: 27px 0 10px 0;">
			Практическая деятельность:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 31px;">
			Сенатор, декан факультета педагогики и<br>
			психологии, член учёного совета<br>
			Международной докторантуры (Бельгия). 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 31px;">
			Научный руководитель собственной авторской<br>
			школы-студии (ранее курсы <span class="tag">Репетитор</span>,<br>
			Россия). 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 31px;">
			Преподаёт, консультирует, создаёт новые<br>
			технологии. Контролирует качество обучения<br>
			каждого учащегося. 
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Спорт:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 31px;">
			Сёрфинг, яхтинг, горный туризм, альпинизм.
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Увлечения:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23 center" style="margin: 0 0 24px 0;">
			Играть с детьми, выращивать цветы.
		</p>
		<p class="red size-14 font-arial bold center" style="margin: 0 0 10px 0;">
			Награды:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 31px; letter-spacing: -1px;">
			Почётный работник общего образования РФ.<br>
			Диплом мэра Москвы <span class="tag">За вклад в развитие столицы</span><br>
			Имя Ольги Веровенко внесено в энциклопедию.<br>
			Её именем названа звезда в созвездии<br>
			Кассиопеи, видимая с Земли невооружённым<br>
			глазом.
		</p>		
	</div>
	<div style="width: 452px; height: 678px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 font-verdana line-height-23 center" style="margin: 0 0 22px 0;">
			Звезда Ольга Веровенко<br>
			в созвездии Кассиопеи
		</p>
		<div class="image-shadow-0" style="width: 452px; height: 578px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/star.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="red size-14 font-arial bold center" style="margin: 0 0 34px 0;">
	Уникальный ДАР:
</p>
<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 0 23px;">
	Обладает уникальной благоприятной энергетикой (эмпатия), позволяющей молниеносно<br>
	обучать, передавать знания и навыки, снимая все проблемы обучения.
</p>
<p class="blue size-18 font-verdana bold center" style="margin: 50px 0 38px 0;">
	Любимые слова Ольги Веровенко:
</p>
<p class="light-blue size-18 font-verdana bold center" style="margin: 0 0 46px 0; line-height: 37px;">
	Ты говоришь: <span class="tag">Как высока та гора!</span><br>
	Нет. Это ты стоишь низко.<br>
	Сделай шаг. Видишь, гора стала ниже?<br>
	Шаг. И ещё шаг...<br>
	Из цепочки шагов сложится<br>
	Самый Блистательный Маршрут.<br>
	Пойдём вместе?
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 81px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class="red size-24 font-verdana center bold" style="margin: 65px 0 -3px 0;">
	Нам 25 лет!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 font-verdana center bold" style="margin: 7px 0 31px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="blue">Отзывы, благодарности, поздравления.</span></a>
</p>	
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px; margin-top: 45px;">
	О нас писали
</p>
<p class="size-18 font-verdana center line-height-23" style="margin-bottom: 30px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $o_nas_pisali; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="dark-blue">Публикации о нашем опыте<br>в советской, российской и зарубежной прессе</span></a>
</p>
<div style="width: 527px; height: 422px; margin:0 auto;">
	<div class="image-shadow" style="width: 487px; margin-left: 20px; height: 406px; border: 0px solid #717070; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/globe.jpg);">
	</div>
	<div class="image-shadow-right">			
	</div>
	<div class="image-shadow-left">			
	</div>
</div>
<p class=" blue size-24 bold font-verdana center" style="margin-top: 26px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению компаса.<br>
	<span class="red">Счастливого пути!
</span></p>