<p class="yellow size-18 font-verdana bold" style="margin: -16px 0 0 0;">
	Русский язык.  Английский язык.  Чтение.  Речь.  Творчество.  Арт-терапия. Психолог.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 45px 0 45px 0; line-height: 33px;">
	<span class="size-36">Сверхскоростное</span><br>
	нейролингвистическое обучение
</p>
<div style="padding-top: 0; height: 425px;">
	<div style="width: 734px; height: 425px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 734px; height: 409px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/invite.jpg" width="100%" height="100%" alt="Приглашение">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="yellow size-20 font-verdana bold center" style="margin: 32px 0 60px 0; line-height: 36px;">
	Качество наивысшее.<br>
	Технологии обучения уникальны.<br>
	Эффективность запредельна.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 33px 0;">
	Нейролингвистика – что это?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 51px;">
	Нейролингвистика опирается на вложенные в вас <span class="blue">самой природой</span> способности<br>
	к молниеносному обучению. Здесь нет <span class="tag">неспособных</span>. Здесь талантливы все.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 101px 51px;">
	Нейролингвистика – это когда всё понятно и ни слова из <span class="tag">правил</span>.<br>
	<span class="blue size-15">Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).</span>
</p>
<div style="width: 960px; height: 585px; padding: 0 0 119px 0;">	
	<div style="width: 421px; height: 585px; float: right; margin: 0 66px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 421px; height: 569px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 585px; float: left; margin: 0 0 0 67px">
		<p class="light-blue size-24 font-verdana bold" style="margin: 0 0 44px 0;">
			Нейролингвистика
		</p>		
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 54px 0 22px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 51px 0 40px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 48px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 97px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 151px;">вот его суть!</span>
		</p>
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 62px 29px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-16 font-verdana" style="margin: 0 0 39px 0;">
			Длительность любого курса 4-12 занятий.
		</p>
		<p class="yellow size-24 bold font-verdana center" style="margin: 0 62px 0 0;">
			Чудо будет!
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="effektivnost"></a></p>
<p class="red bold size-24 font-verdana" style="margin: 0 0 39px 33px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 33px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новых уникальных<br>
	нейролингвистических технологий преподавания.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 20px 70px; line-height: 44px;">
	<li><span class="light-blue">Зубрёжки правил нет.</span></li>
	<li><span class="light-blue">Домашние задания минимальны.</span></li>
	<li><span class="light-blue">Нагрузки посильны.</span></li>
</ul>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 33px;">
	Наши технологии <span class="light-blue bold italic">NL</span>-обучения <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того,<br>
	к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p style="margin: 0 0 0 0;"><a name="unikalnost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 59px 0 31px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 28px;">
	Предлагаемые вам технологии <span class="light-blue bold italic">NL</span>-обучения уникальны и запатентованы как изобретения<br>
	в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 28px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – эти изобретения первые и пока единственные.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 28px;">
	Международная экспертиза РСТ подтвердила, что они <span class="red">не имеют аналогов в мире</span>.		
</p>
<div style="width: 960px; height: 489px; padding-top: 38px;">	
	<div style="width: 310px; height: 469px; float: left; margin: 0 127px 0 108px;">
		<div class="image-shadow-0" style="width: 310px; height: 438px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 313px; height: 469px; float: right; margin: 0 100px 0 0;">
		<div class="image-shadow-0" style="width: 313px; height: 441px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретение.
	</p>
</div>
<p class="yellow bold size-18 font-verdana center" style="margin: 63px 0 71px 0;">
	Автор уникальных технологий обучения – профессор Ольга Олеговна Веровенко.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 41px 0;">
	Гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 34px 23px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя</span> экспертизами, сертификатами и <span class="blue">Знаками<br>
	Качества</span> Госстандарта РФ (в системе МОЛСЕМ) с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 373px;">	
	<div style="width: 501px; height: 373px; float: left; margin-left: 62px;">
		<div class="image-shadow-0" style="width: 501px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 250px; height: 370px; float: right; margin: 0 77px 0 0;">
		<div class="image-shadow-0" style="width: 250px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 125px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 125px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 1px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 0 0;">
	У нас таких три!
</p>
<p class="red size-30 bold font-verdana center" style="margin: 78px 0 38px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 32px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 88px 0 68px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
