<p class="light-blue bold size-24 font-verdana center" style="margin: 36px 0 50px 0;">
	Сверхскоростное<br>
	нейролингвистическое обучение
</p>
<div style="padding-top: 0; height: 460px;">
	<div style="width: 700px; height: 460px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 700px; height: 444px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/invite.jpg" width="100%" height="100%" alt="Приглашение">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-18 font-verdana bold center" style="margin: 44px 0 22px 0; line-height: 29px;">
	Качество наивысшее.<br>
	Технологии обучения уникальны.<br>
	Эффективность запредельна.<br>
	Зубрёжки правил нет.<br>
	Домашние задания минимальны.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 80px 0 31px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 28px;">
	Предлагаемый вам метод <span class="light-blue bold italic">NL</span>-обучения запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 28px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – это изобретение первое и пока единственное в мире.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 28px;">
	Международная экспертиза РСТ подтвердила, что они не имеют аналогов.		
</p>
<div style="width: 960px; height: 570px; padding-top: 38px;">	
	<div style="width: 361px; height: 550px; float: left; margin: 0 80px 0 90px;">
		<div class="image-shadow-0" style="width: 361px; height: 510px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 363px; height: 550px; float: right; margin: 0 66px 0 0;">
		<div class="image-shadow-0" style="width: 363px; height: 511px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретение.
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 60px 0 30px 0;">
	Гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 57px 23px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя</span> экспертизами, сертификатами и <span class="blue">Знаками<br>
	Качества</span> Госстандарта РФ (в системе МОЛСЕМ) с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 373px;">	
	<div style="width: 515px; height: 373px; float: left; margin-left: 42px;">
		<div class="image-shadow-0" style="width: 515px; height: 357px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 255px; height: 370px; float: right; margin: 0 30px 0 0;">
		<div class="image-shadow-0" style="width: 255px; height: 354px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 128px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 12px 0 11px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
	У нас таких три!
</p>
<p class="yellow size-30 font-verdana bold center" style="margin: 61px 0 26px 0; line-height: 25px;">
	Дорого<br>
	<span class="size-18">(как всё уникальное)</span>
</p>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 23px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 147px;">
	Такие скидки получает только <span class="red bold">Persona Grata</span>.
	<span class="red bold">Persona Grata</span> <span class="blue bold">внимательно</span> ознакомилась с материалами сайта.<br>
	<span class="yellow bold">Это этично.</span> <span class="red bold">Persona Grata</span> бережёт наше время, силы, нервы.<br>
	Мы <span class="blue bold">БЛАГОДАРИМ</span> за это огромными скидками.
</p>
<p class="yellow size-30 font-verdana bold center" style="margin: 68px 0 29px 0; line-height: 30px;">
	Если вам всё это интересно,<br>
	давайте познакомимся!
</p>
<p class="size-24 bold font-verdana center" style="margin: 0 0 66px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Ваш ведущий педагог</span></a>
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="blue size-24 bold font-arial center" style="margin: 16px 0 66px 0;">
	Добро пожаловать! Welcome!
</p>
