<div style="height: 378px;">	
	<div style="width: 525px; margin-left: 18px; height: 378px; float: left; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/miracle.jpg);">
	</div>
</div>