<div style="padding-top: 65px; height: 495px;">
	<div style="width: 575px; height: 495px; margin:0 auto;">
		<div class="image-shadow" style="width: 535px; margin-left: 20px; height: 479px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/apple-tree.jpg);">
		</div>
		<div class="image-shadow-right">			
		</div>
		<div class="image-shadow-left">			
		</div>
	</div>
</div>

<div style="padding-top: 65px; height: 495px;">
	<div style="width: 575px; height: 495px; margin:0 auto;">
		<div class="image-shadow" style="width: 535px; height: 479px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/apple-tree.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>