<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]"><span class="yellow">МУЛЬТФИЛЬМ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]"><span class="yellow">СОЧИНЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]"><span class="yellow">СКАЗКА</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>ИЗЛОЖЕНИЯ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуйте<br>
		бесплатно!
	</p>
</div>
<p class="lilac size-18 font-verdana line-height-23" style="margin: 39px 0 19px 37px;">
	Антоша Гранкин,<br>
	10 лет, 4-й класс
</p>		
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 0 0;">
	Долгая дорога домой
</p>
<p class="blue size-18 font-verdana bold center" style="margin: 0 0 41px 0;">
	(изложение)
</p>
<div style="width: 960px; height: 460px; padding: 0 0 25px 0;">	
	<div style="width: 430px; height: 460px; float: left; padding-left: 22px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Солнце скрылось за тёмными и мрачными<br>
			тучами. Вдалеке исчезали горы, словно таяли в<br>
			серебряной дымке.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Ни одно растение не шевелится в	такую<br>
			пасмурную погоду, лишь осенние листья изредка<br>
			позвякивают на ветру.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			И вдруг полил сильный дождь. Мы увидели<br>
			маленькую пещеру и решили переждать непогоду в<br>
			ней, хотя нам надо было пройти долгий путь домой<br>
			сначала	по каменному бездорожью, потом по шоссе,<br>
			которое проходит через деревню Подъярёмное.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Дождь лил как из ведра целых полтора часа.<br>
			<span class="tag">Скоро ненастье закончится,</span> – сказал один из наших<br>
			спутников. Мы рассмеялись.
		</p>		
	</div>
	<div style="width: 482px; height: 460px; float: right; margin: 0 13px 0 0;">
		<div class="image-shadow" style="width: 482px; height: 435px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/pole.jpg" width="100%" height="100%" alt="Дуэль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 37px; text-indent: 35px; line-height: 22px;">
	Однако он был прав: несмотря на наши унылые предположения, ливень вскоре затих. Мы решили не медлить и<br>
	продолжить путь, и через два часа уже появились дома зверосовхоза <span class="tag">Ровесник</span>. Мы увидели седого сторожа в резиновой<br>
	накидке. Это был первый человек, которого мы встретили за время путешествия.
</p>
<div style="padding-top: 1px; height: 373px;">
	<div style="width: 480px; height: 373px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 480px; height: 357px;">
		<div style="width: 640px; height: 480px; margin: -60px 0 0 -60px;">
	 		<iframe width="640" height="480" src="//www.youtube.com/embed/HgV5zqrxeAc?autoplay=1&amp;loop=1&amp;playlist=HgV5zqrxeAc&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	 	</div>	
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 75px 0 0 0;">
	Стилистический анализ текста
</p>
<div style="width: 612px; height: 750px; padding: 34px 0 0 0; margin: 0 auto;">	
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Эпитетов
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			7
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Фразеологизмов
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Сравнений
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Прямая речь
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Однородных членов
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			6
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Придаточных предложений
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			4
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Сложносочинённых с запятой перед <span class="tag">и</span>
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Двоеточие в бессоюзном предложении
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Обособленное обстоятельство
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Конструкция с <span class="tag">ни</span> - <span class="tag">не</span>
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			1
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Точных названий
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			2 (из 2)
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Всего слов
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			128
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Заголовок придуман самим Антошей
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 209px; font-size: 19px; font-style: italic;">
			
		</p>
	</div>
	<div style="width: 45px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px 0px;">
	</div>
	<div style="width: 522px; height: 29px; float: left; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 0px -29px;">
	</div>
	<div style="width: 45px; height: 29px; float: right; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/fade_line.png); background-position: 100% 0px;">
	</div>
	<div style="width: 306px; height: 26px; float: left;">
		<p class="dark-blue size-15 font-arial bold">
			Длительность написания черновика
		</p>		
	</div>
	<div style="width: 306px; height: 26px; float: right;">
		<p class="dark-blue size-19 font-sans-font" style="margin: 0 0 0 180px; font-size: 19px; font-style: italic;">
			18,5 минут	
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 78px 0 39px 0;">
	Ещё работы учащихся
</p>
<div style="height: 44px;">
	<div style="width: 178px; height: 44px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 178px; height: 44px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="center line-height-23" style="margin: 12px 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18">Новая серия<br>про приставки</span></a>
</p>
<p style="margin: 0 0 42px 311px; line-height: 39px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> ГЛАВНУЮ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ МУЛЬТФИЛЬМОВ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ СОЧИНЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
</p>