<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]"><span class="yellow">ИЗЛОЖЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]"><span class="yellow">СОЧИНЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]"><span class="yellow">СКАЗКА</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>МУЛЬТФИЛЬМ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуйте<br>
		бесплатно!
	</p>
</div>
<p class="lilac size-18 font-verdana line-height-23" style="margin: 58px 0 19px 5px;">
	Гоша Гранкин,<br>
	10 лет, 4-й класс
</p>
<div style="padding-top: 22px; height: 196px;">
	<div style="width: 600px; height: 196px; margin: 0 auto;">
		<div style="width: 600px; height: 196px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi1.jpg);">
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 33px 0 75px 0;">
	Новая серия<br>
	про приставки
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 109px 70px; line-height: 27px;">
	Однажды Зайчик <span class="yellow bold">ВЫ</span><span class="light-blue bold">ШЕЛ</span> из дома и <span class="yellow bold">ПО</span><span class="light-blue bold">ШЁЛ</span> в парк покататься на качелях. Он <span class="yellow bold">ПРО</span><span class="light-blue bold">ШЁЛ</span> по аллее, <span class="yellow bold">ПЕРЕ</span><span class="light-blue bold">ШЁЛ</span> через<br>
	ручей по мостику, <span class="yellow bold">СО</span><span class="light-blue bold">ШЁЛ</span> с тропинки и <span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span> к аттракционам.
</p>
<div style="width: 513px; height: 349px; margin: 0 auto; perspective: 800px; padding-top: 25px;">
	<div class="cube1" style="width: 513px; height: 349px; opacity: 0; margin: 0 0 0 0; position: absolute;">
		<img class="image-text" alt="" src="http://verovenko.me/wp-content/themes/twentyfourteen/images/zayac.jpg" style="margin-top: 0px; margin-left: 0px; width: 100%; height: 100%;">	
	</div>	
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 47px 0 86px 70px;">
	А Волк <span class="light-blue bold">ШЁЛ</span> всё время за ним следом.
</p>
<div style="padding-top: 25px; height: 402px;">
	<div style="width: 507px; height: 402px; margin: 0 auto;">
		<div id="hide1" class="image-shadow" style="width: 507px; height: 386px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk.jpg); opacity: 0;">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 16px 0 20px 70px;">
	Зайчик <span class="yellow bold">ЗА</span><span class="light-blue bold">ШЁЛ</span> на площадку, сел на качели и стал раскачиваться.
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 75px 70px;">
	Волк <span class="yellow bold">ОТО</span><span class="light-blue bold">ШЁЛ</span> в кусты и начал за ним следить.
</p>
<div style="padding-top: 25px; height: 256px; position:relative; z-index: 1;">
	<div class="transdiv7" style="width: 320px; height: 256px; margin: 0 auto; position:relative; z-index: 1;  perspective: 800px;">
		<div class="trans5" style="width: 320px; height: 256px; opacity: 0; margin: 0 0 0 0; position:relative; z-index: 3; max-width: 320px; max-height: 256px;">
			<div class="image-shadow" style="width: 320px; height: 240px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk1.jpg); background-size: cover;">
			</div>	
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 27px 0 59px 70px;">
	Зайчик так <span class="yellow bold">РАЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span>, что слетел с качелей и улетел в кусты, где сидел Волк.
</p>
<div style="padding-top: 25px; height: 385px;">
	<div style="width: 251px; height: 385px; margin: 0 auto;">
		<div id="rotateimg2" style="width: 125px; height: 192px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/zayac1.jpg); opacity: 0;">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 100px 0 54px 70px;">
	Волк так перепугался, что еле <span class="yellow bold">ДО</span><span class="light-blue bold">ШЁЛ</span> до своего дома.
</p>
<div style="padding-top: 25px; height: 192px; position:relative; z-index: 1;">
	<div class="transdiv1" style="width: 316px; height: 192px; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
		<div class="trans6" style="width: 316px; height: 192px; opacity: 0; margin: -300px 0 0 300px; position:relative; z-index: 3;">
			<div class="image-shadow" style="width: 316px; height: 176px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk2.jpg); background-size: cover;">
			</div>	
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 77px 0 60px 70px;">
	Волк <span class="yellow bold">ИЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span> мыслями, раздумывая, как поймать Зайчика.
</p>
<div class="transdiv2" style="padding-top: 25px; height: 329px;">
	<div style="width: 469px; height: 329px; margin: 0 auto;">
		<div style="width: 469px; height: 329px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk3.jpg);">
		</div>
	</div>
</div>
<div style="height: 0; position:relative; z-index: 1;">
	<div style="width: 469px; height: 0; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
		<div class="trans7" style="width: 469px; height: 329px; margin: -330px 0 0 0; position:relative; z-index: 3; background-color: white; background-size: cover;">
		</div>	
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 91px 0 58px 70px;">
	И наконец <span class="yellow bold">ПРЕВЗО</span><span class="light-blue bold">ШЁЛ</span> самого себя.
</p>
<div style="padding-top: 25px; height: 442px;">
	<div style="width: 294px; height: 442px; margin: 0 auto;">
		<div class="hide1" style="width: 294px; height: 442px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk4.jpg); opacity: 0">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 25px 0 50px 70px;">
	Он построил космический корабль, <span class="yellow bold">ВО</span><span class="light-blue bold">ШЁЛ</span> в него и стал ждать.
</p>
<div class="transdiv3" style="padding-top: 25px; height: 387px;">
	<div style="width: 496px; height: 387px; margin: 0 auto;">
		<div class="trans8" style="width: 496px; height: 387px; margin: 0 0 0 500px; opacity: 0">
			<div class="image-shadow" style="width: 496px; height: 371px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk5.jpg);">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 88px 0 16px 70px;">
	Зайчик <span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span> к ракете, <span class="yellow bold">ОБО</span><span class="light-blue bold">ШЁЛ</span> её и <span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span> длинный стартовый фитиль.
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 54px 70px;">
	Зайчик поджёг фитиль и быстро <span class="yellow bold">ВЗО</span><span class="light-blue bold">ШЁЛ</span> на корабль.
</p>
<div class="transdiv4" style="padding-top: 25px; height: 300px;">
	<div style="width: 217px; height: 300px; margin: 0 auto;">
		<div style="width: 217px; height: 300px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/zayac2.jpg);">
		</div>
	</div>
</div>
<div style="height: 0; position:relative; z-index: 1;">
	<div style="width: 217px; height: 0; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
		<div class="trans9" style="width: 217px; height: 300px; margin: -300px 0 0 0; position:relative; z-index: 3; background-color: white; background-size: cover;">
		</div>	
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 105px 0 79px 70px;">
	Увидев Волка, он испугался, но сразу <span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span> и успел выпрыгнуть.
</p>
<div style="padding-top: 25px; height: 346px; position:relative; z-index: 1;">
	<div class="transdiv5" style="width: 374px; height: 346px; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
		<div class="trans10" style="width: 125px; height: 115px; opacity: 0; margin: 0 auto; position:relative; z-index: 3; max-width: 374px; max-height: 346px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/volk-zayac.jpg); background-size: cover;">
		</div>	
	</div>
</div>
<div style="position:relative; z-index: 3;">
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 122px 0 10px 70px;">
		Корабль взлетел и <span class="yellow bold">У</span><span class="light-blue bold">ШЁЛ</span> в космическое пространство.
	</p>
	<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 0 70px;">
		Волк летел и кричал:
	</p>
</div>
<div style="height: 84px;">
	<div style="width: 260px; height: 84px; margin: 0 auto;">
		<div id="rotateimg4" style="width: 260px; height: 84px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi2.jpg); opacity: 0;">
		</div>
	</div>
</div>
<div style="padding-top: 100px; height: 419px;">
	<div style="width: 571px; height: 419px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 571px; height: 403px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/zayac3.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 113px 0 61px 0;">
	Index
</p>
<div style="width: 960px; height: 300px; padding: 0 0 106px 0;">	
	<div style="width: 150px; height: 300px; float: left; padding-left: 232px;">
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 0 0; line-height: 29px;">
			<span class="yellow bold">ВЫ</span><span class="light-blue bold">ШЕЛ</span><br>
			<span class="yellow bold">ПО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ПРО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ПЕРЕ</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">СО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ЗА</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ОТО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">РАЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span>
		</p>		
	</div>
	<div style="width: 150px; height: 300px; float: right; margin: 0 193px 0 0;">
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 0 0; line-height: 29px;">
			<span class="yellow bold">ДО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ИЗО</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span><br>
			<span class="yellow bold">ПРЕВЗО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ВО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ПОДО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ОБО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">ВЗО</span><span class="light-blue bold">ШЁЛ</span><br>
			<span class="yellow bold">НА</span><span class="light-blue bold">ШЁЛ</span><span class="blue bold">СЯ</span><br>
			<span class="yellow bold">У</span><span class="light-blue bold">ШЁЛ</span>
		</p>	
	</div>
</div>
<div style="padding-top: 1px; height: 373px;">
	<div style="width: 480px; height: 373px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 480px; height: 357px;">
		<div style="width: 640px; height: 480px; margin: -60px 0 0 -60px;">
	 		<iframe width="640" height="480" src="//www.youtube.com/embed/L8GWqGrmUAQ?autoplay=1&amp;loop=1&amp;playlist=L8GWqGrmUAQ&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	 	</div>	
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p style="margin: 86px 0 42px 311px; line-height: 39px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> ГЛАВНУЮ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ИЗЛОЖЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ СОЧИНЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
</p>