<h2 class="heading green" style="font-size: 23px; margin: -11px 0 0 0;">За гранью возможного</h2>
<div class="blue size-18 bold font-verdana line-height-23 neiro" style="padding: 50px 0 0 80px; line-height: 29px;">    
	<p style="margin: 0 0 44px">
		… Вот стоят люди у иконы и молятся.</span><br>
		<span style="margin-left: 90px">Кому машину, кому квартиру.</span><br>
		<span style="margin-left: 180px">Кому должность, кому благополучия.</span><br>
		<span style="margin-left: 270px">Кому белку, кому – свисток…</span>
	</p>
	<div style="height: 0; padding: 1px 0 0 0;">
		<div class="trans30" style="height: 30px; position: relative; width: 600px; margin: -160px 0 0 0; background-color: #FFFFFF;"></div>
		<div class="trans31" style="height: 30px; position: relative; width: 600px; margin: 0 0 0 80px; background-color: #FFFFFF;"></div>
		<div class="trans32" style="height: 30px; position: relative; width: 600px; margin: 0 0 0 170px; background-color: #FFFFFF;"></div>
		<div class="trans33" style="height: 30px; position: relative; width: 600px; margin: 0 0 0 260px; background-color: #FFFFFF;"></div></div>
	<div class="hide1" style="opacity: 0;">
		<p>	
			Икона горестно смотрит и думает:</span><br>
			<span style="margin-left: 90px">“Хоть бы ума кто попросил!</span><br>
			<span class="red" style="margin-left: 140px">Будут мозги</span> – будет вам и белка, будет и свисток.</span><br>
			<span style="margin-left: 192px">И президентство в корпорации, и бассейн с дельфином…”</span>
		</p>
	</div>
</div>
<div class="hide2" style="opacity: 0;">
	<p class="center red bold size-30 font-verdana" style="margin: 31px 0 43px 0;">
		Чудо будет!
	</p>
</div>
<div style="width: 709px; height: 523px; perspective: 800px; margin: 0 auto;">
	<div class="cube1" style="width: 709px; height: 523px; opacity: 0; margin: 0 0 0 0; position: absolute;">
		<img class="image-text" alt="" src="http://verovenko.name/wp-content/themes/twentyfourteen/images/elephant.jpg" style="margin-top: 0px; margin-left: 0px; width: 709px; height: 523px;">
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 67px 0 58px 0;">
	Эпиграф
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 136px 22px 32px; text-align: right; line-height: 20px;">
	И сотворил Бог человека по образу Своему.<br>
	<span class="blue bold size-14">Первая книга Моисеева, <span class="tag">Бытие</span></span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 136px 22px 32px; text-align: right;">
	...И даровал ему, вдобавок к <span class="light-blue bold">Разуму</span>, два крыла:<br>
	<span class="light-blue bold">Подсознание</span> и <span class="light-blue bold">Сверхсознание</span>.<br>
	Зачем ползать, если можно летать?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 136px 22px 32px; text-align: right;">
	– Так кто же из вас, – с усилием проговорил Мак, – Бог?<br>
	– Я, – ответили <span class="light-blue bold">все трое</span> хором.<br>
	<span class="blue size-14 bold">Уильям Пол Янг, <span class="tag">Хижина</span>.</span>
</p>
<div style="padding-top: 54px; height: 505px;">
	<div style="width: 699px; height: 505px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 699px; height: 489px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/butterfly2.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center" style="margin: 32px 0 73px 0;">
	Сознание, Подсознание, Сверхсознание – триединство, дарующее Полёт.
</p>
<p class="light-blue bold size-30 font-verdana center" style="margin: 44px 0 21px 0;">
	Не<span class="red">й</span>ролингвистика
</p>
<p class="blue size-18 font-verdana bold center" style="margin: 0 0 6px 0;">
	Ваши природные способности к молниеносному обучению
</p>
<p class="dark-blue font-verdana center" style="font-size: 12px; margin: 0 0 35px 0;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием)!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 109px;">
	Детей нельзя учить, как взрослых. С детьми можно только играть. В том<br>
	числе в русский, английский, чтение. Они будут делать это самозабвенно,<br>
	забывая всё на свете.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 109px;">
	<span class="tag">Гм, – сказали взрослые, серьёзные и умные, – мы тоже не прочь... так<br>
	сказать... поиграть... м-да!</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 70px 109px;">
	Так оформились (на базе <span class="tag">Врождённой грамотности</span>) технологии<br>
	<span class="light-blue bold italic">NL</span>-обучения – яркие, интересные, игровые, необычайно результативные.
</p>
<p class="bold size-24 font-verdana center" style="margin: 0 0 13px 0; color: rgb(57, 207, 39);">
	Не<span class="red">й</span>ролингвистика – что это?
</p>
<p class="size-18 font-verdana bold center" style="margin: 0 0 53px 0; color: rgb(84, 67, 0);">
	Это когда всё понятно – и ни одного слова из <span class="tag">правил</span>.
</p>
<div style="width: 960px; height: 775px; padding: 0 0 0 0;">	
	<div style="width: 380px; height: 775px; float: left; padding-right: 0px">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 63px 0 22px 51px;">
			С., подполковник полиции<br>
			(были некоторые проблемы с<br>
			грамотностью).  
		</p>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px;">
			А вот творческий <span class="light-blue bold italic">NL</span>-диктант<br>
			без единой ошибки. 
		</p>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 0 51px;">
			В аспирантуру грамотного<br>
			подполковника-красавицу<br>
			внесли на руках<br>
			(в буквальном смысле). 
		</p>		
	</div>
	<div style="width: 500px; height: 775px; float: right; margin: 0 80px 0 0;">
		<p class="size-20 font-verdana bold center" style="margin: 0 0 32px 0; color: rgb(238, 167, 14);">
			<span class="tag">Мадагаскар</span>
		</p>
		<div class="image-shadow-0" style="width: 500px; height: 693px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/africa.jpg" width="100%" height="100%" alt="Мадагаскар">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 71px 0 0 0; line-height: 16px;">
	Н., педагог. Блистательная <span style="font-style: italic;">NL</span>-работа на <span class="tag">ЖИ-ШИ</span>.<br>
	Два листочка цветной бумаги и несколько штрихов фломастером.
</p>
<div style="padding-top: 26px; height: 507px;">
	<div style="width: 697px; height: 507px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 697px; height: 491px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/shishka.jpg" width="100%" height="100%" alt="Шишка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 44px 0 32px 0;">
	Верный друг
</p>
<div style="width: 960px; height: 392px; padding: 17px 0 13px 0;">	
	<div style="width: 384px; height: 392px; float: left; margin: 0 0 0 129px;">
		<div class="image-shadow-0" style="width: 384px; height: 352px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/boy7.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1" style="width: 140px; background-position: -175px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 140px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 14px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 400px; height: 392px; float: right; margin: 0 13px 0 0;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Третий класс. Талантливые глаза.<br>
			Немногословен.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Загадочно спрашиваю:<br>
			– Как объяснить правило малышу,<br>
			чтобы он понял?<br>
			– Совсем маленькому?<br>
			– Лет пяти. А потом я тебя с ним<br>
			познакомлю.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Три секунды размышлений, и –<br>
			озарение в глазах.<br>
			– На-ри-со-вать!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Он не сказал «написать». Рисунок,<br>
			картинка – вот язык малыша!
		</p>
	</div>
</div>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 42px;">
	И мы нарисовали, <span class="light-blue bold">коне<span class="red">чн</span>о</span>, <span class="light-blue bold">кала<span class="red">нч</span>у</span>, <span class="light-blue bold">бара<span class="red">нч</span>ика </span> и <span class="light-blue bold">коле<span class="red">чк</span>о</span>. Рассматриваем.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 42px;">
	– Твой вывод?<br>
	– Понял! В сочетаниях чн, нч, чк нету мягкого знака! Теперь не забуду! А где малыш?<br>
	– Внутри тебя, деточка. Это твоё Подсознание. Великий и могущественный малыш...<br>
	Самая древняя форма разума на Земле. Без его ведома и волос с головы не упадёт! Он<br>
	руководит твоим сердцебиением, дыханием, сужением и расширением зрачков... Много<br>
	чем. Ведь ты всё это не можешь делать своей волей?<br>
	– Нет... <br>
	– А он может. Ты идёшь и не задумываешься, как согласовать тысячи микродвижений<br>
	мышц – а он согласует. Представляешь, какой там «компьютер»?<br>
	– А научить меня писать без ошибок он может?<br>
	– Безусловно. Он ведь этим заведует. И грамотностью, и любым обучением.<br>
	– И он – мой?<br>
	– Конечно! Вот тебе друг – самый верный, самый надёжный.<br>
	– А как с ним общаться?<br>
	– Я тебя научу. Ты уже знаешь, что он любит красивые картинки...
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 48px 0 64px 0;">
	Девиз <span class="light-blue italic">NL</span>:<br>
	Лучше один раз увидеть, чем сто раз услышать.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 27px 0;">
	Подражание
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 30px;">
	Подражание – мощнейший природный инстинкт. Всё, что делаете с удовольствием вы –<br>
	пишете, читаете, рисуете, учитесь – с удовольствием и легко будет делать ваш ребёнок.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 30px;">
	Так легко и естественно идёт обучение в природе – среди птиц, животных и нас, людей. Этой<br>
	<span class="tag">методике</span> много миллионов лет. Естественный путь – самый правильный.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 30px;">
	Вот почему на <span class="light-blue bold italic">NL</span>-сеансах мы просим родителей творить вместе с детьми. Включается<br>
	инстинкт.
</p>
<div style="width: 960px; height: 604px; padding-top: 45px;">	
	<div style="width: 402px; height: 604px; float: left; margin-left: 3px;">
		<div class="image-shadow-0" style="width: 402px; height: 588px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 537px; height: 604px; float: right; margin: 0 0 0 0;">
		<div class="image-shadow-0" style="width: 537px; height: 371px;">	
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo1.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 61px 0 22px 14px;">
			Ася и Даня, мама и сын. Ни одной ошибки!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 14px;">
			В Данечкиной семье у меня учились все – мама,<br>
			папа, тётя, дядя, двоюродный брат. В разные годы,<br>
			конечно. Воспоминания о них самые приятные.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 108px 0 37px 0;">
	Творческие диктанты
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 47px 33px;">
	Их любят все: взрослые и дети. В творческом диктанте можно всё: писать справа,<br>
	слева, хоть по кругу.
</p>
<p class="dark-blue size-14 font-arial bold" style="margin: 0 0 0 33px; line-height: 16px;">
	Эти диктанты творил Гошан. Гошенька... Он вместо <span class="tag">всё равно</span> писал <span class="tag">сявно</span>.<br>
	Через месяц у нас была <span class="tag">почти пятёрка</span> в годовой контрольной. 
</p>
<div style="width: 960px; height: 631px; padding-top: 28px;">	
	<div style="width: 435px; height: 631px; float: left; margin-left: 33px;">
		<div class="image-shadow-0" style="width: 435px; height: 615px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo2.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 432px; height: 631px; float: right; margin: 0 15px 0 0;">
		<div class="image-shadow-0" style="width: 432px; height: 615px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo3.jpg" width="100%" height="100%" alt="Плачущий мальчик">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<div style="padding-top: 87px; height: 586px;">
	<div style="width: 800px; height: 586px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 800px; height: 568px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo4.jpg" width="100%" height="100%" alt="Письмо">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 10px 0 0 33px; line-height: 16px;">
	Павлик Павликов. 6 класс. Творческий диктант.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 80px 0 25px 0;">
	Идентификация
</p>
<div style="width: 960px; height: 392px; padding: 0 0 8px 0;">	
	<div style="width: 620px; height: 392px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 5px 0 22px 60px;">
			Оборотил царь своих дочерей голубицами и говорит:<br>
			– Ну, Иван-царевич, сумеешь различить среди них свою<br>
			Марью-царевну – быть свадьбе; не сумеешь – голову с<br>
			плеч! 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px;">
			Смотрит Иван-царевич: сидят на жёрдочке тридцать три<br>
			голубицы – цвет в цвет, перо к перу, хвост к хвосту...<br>
			Не различить! А душа так и рвётся к одной из них,<br>
			только к одной...
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px;">
			– Вот она, моя суженая, сердцем чую!<br>
			– Молодец, Иван-царевич, умеешь невест выбирать, –<br>
			говорит царь.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px;">
			Тут и свадебку сладили, и жили они долго и счастливо.
		</p>		
	</div>
	<div style="width: 300px; height: 392px; float: right; margin: 0 16px 0 0;">
		<div class="image-shadow-0" style="width: 300px; height: 376px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/woman.jpg" width="100%" height="100%" alt="Парящая женщина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 382px; padding: 39px 0 0 0;">	
	<div style="width: 433px; height: 382px; float: left; margin: 0 0 0 55px;">
		<div class="image-shadow-0" style="width: 433px; height: 306px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/eye.jpg" width="100%" height="100%" alt="Идентификация">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 11px 0 0 0;">
			Идентификация
		</p>
	</div>
	<div style="width: 441px; height: 382px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="light-blue bold">Идентификация</span> – способность сличать и<br>
			различать <span class="light-blue bold">на уровне Подсознания</span><br>
			(<span class="tag">сердцем чую!</span>), а не на уровне<br>
			размышления (ментального процесса).<br>
			У Ивана-царевича способность<br>
			к идентификации, видимо, особо хороша<br>
			была.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			В обучении языкам как <span class="light-blue bold">НАВЫКАМ</span><br>
			идентификация, на наш взгляд, играет<br>
			главную роль.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 0;">
			Именно на ней основаны наши	технологии –<br>
			<span class="tag">Врождённая грамотность</span> и <span class="tag">Вертикальный<br>
			взлёт</span> (английский язык).
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 31px 72px;">
	Хорошо поданная идентификация позволяет сразу пройти (на уровне подсознания) на<br>
	<span class="light-blue bold">МЫСЛЕОБРАЗ</span>, на <span class="light-blue bold">ПОНЯТИЙНЫЙ УРОВЕНЬ</span>, где слов и формулировок нет, но есть<br>
	понятие самой сути.
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 65px 0;">
	А там, где есть понятие сути – всё усвоено раз и навсегда!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 6px 0;">
	Визуализация
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 42px 0;">
	(<span class="light-blue italic">NL</span>-психология)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 13px 17px;">
	А теперь я достаю свою волшебную палочку (я же Волшебница! Настоящая!) и прикасаюсь<br>
	к вашему красивому диктанту или <span class="light-blue italic bold">NL</span>-работе. Как там надо говорить... кажется, так:<br>
	– Крибле, крабле, бумс!
</p>
<div style="padding-top: 29px; height: 312px;">
	<div id="hide1" style="opacity: 0; width: 539px; height: 312px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 539px; height: 296px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/stick.jpg" width="100%" height="100%" alt="Вольшебная палочка">	
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 42px 0 22px 17px;">
	Этот диктант, желательно в рамочке, вы повесите дома на стену. И почаще будете на него<br>
	смотреть, всем показывать, радоваться и гордиться.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 17px;">
	И теперь – о, что будет! – пятёрки по всем предметам так и начнут прыгать в детский<br>
	дневник. Одна за другой! Притягиваются, знаете ли, на волшебную палочку...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 52px 17px;">
	Сила <span class="blue">ВИЗУАЛИЗАЦИИ</span> огромна. А вот механизм... Говорю же: волшебная палочка действует!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 6px 0;">
	Левой-правой
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 30px 0 22px 17px;">
	Представьте себе: вас заставили попрыгать на одной левой ножке стометровку. А назад на<br>
	одной правой ножке. Ну и каково – еле дышите и всё болит?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 17px;">
	А если попробовать ту же стометровочку двумя ногами? Левой-правой, левой-правой...<br>
	Говорите, что легко хоть километр?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 17px;">
	Так вот: языками заведует левое полушарие головного мозга, рисунком, творчеством,<br>
	пространственным воображением и связью со Сверхсознанием – правое. Левым-правым,<br>
	левым-правым – за одно занятие мы <span class="tag">скачем</span> <span class="blue bold">раз в 15-20</span> дольше и дальше. И никто не<br>
	устаёт!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 17px;">
	Вот почему наши <span class="light-blue bold italic">NL</span>-технологии <span class="blue bold">в 15-20 раз эффективнее, мощнее, ярче всего того,<br>
	к чему вы привыкли.</span> Вы достигнете желаемого <span class="blue bold">в 15-20 раз</span> быстрее, легче, проще.
</p>
<div style="padding-top: 38px; height: 402px;">
	<div style="width: 354px; height: 402px; margin: 0 auto;">
		<div style="width: 354px; height: 386px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/brain.jpg" width="100%" height="100%" alt="Мозг">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 24px 0 22px 17px;">
	Кстати, вы замечали, что на скучных совещаниях, планёрках люди что-то чертят и<br>
	рисуют? Особенность мозга у нас такая – мы не выносим долгого напряжения на одну<br>
	ногу – простите, полушарие...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 58px 17px;">
	К тому же никто не отменял особенностей мощнейшего восприятия периферийным и<br>
	ассоциативным зрением, что проявляется именно в момент рисования и раскрашивания<br>
	наших учебников.
</p>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 0 33px; line-height: 16px;">
	Павлик Павликов, 6 класс. Рабочая тетрадь по русскому языку.
</p>
<div style="width: 960px; height: 616px; padding-top: 25px;">	
	<div style="width: 424px; height: 616px; float: left; margin-left: 36px;">
		<div class="image-shadow-0" style="width: 424px; height: 600px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo5.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 424px; height: 616px; float: right; margin: 0 41px 0 0;">
		<div class="image-shadow-0" style="width: 424px; height: 600px;">	
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo6.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 90px 0 6px 0;">
	Чудеса без решета
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 46px 0;">
	(<span class="light-blue italic">NL</span>-психология, суггестия)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Реальность можно изменить. Реальность нужно изменить!<br>
	В лучшую сторону, конечно.<br>
	Надо сказать, что к приёмам <span class="light-blue italic bold">NL</span>-психологии я прибегаю крайне редко, но тут...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Шурик был дислексиком. Хроническим, неисправимым. Один сеанс, другой – и никаких<br>
	подвижек!<br>
	– Давай улучшим будущее, Шурик!<br>
	– А разве будущее существует?<br>
	– Согласно Эйнштейну – да. Но оно многовариантно.<br>
	– И можно выбирать?<br>
	– Конечно. Выбери самый лучший, самый счастливый вариант твоего будущего, а в этом<br>
	будущем – самый счастливый год и день!<br>
	(Тут подробности того, как мы выбирали, я опускаю).<br>
	– А теперь позволь мне поговорить с тобой... то есть, с ним... с тем человеком, кем ты<br>
	будешь.<br>
	– Как?<br>
	– Мысленно отступи внутри себя в сторонку, на полшага, позволь мне пройти и поговорить<br>
	с ним.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Подробности снова опускаю. Обычная моя работа как <span class="light-blue bold italic">NL</span>-психолога. Но тут! Иногда такое<br>
	сотворишь, что самой себе чудом кажется!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Я вздрогнула – Шурика не было. Передо мной сидел молодой красивый мужчина,<br>
	подтянутый, с талантливыми и какими-то удивительно лучистыми глазами, спокойным<br>
	чувством собственного достоинства.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	<span class="blue">Я.</span>   З-здравствуйте... Как вас зовут?<br>
	<span class="blue">Он.</span> Александр.<br>
	<span class="blue">Я.</span>   Александр? Не Шурик?<br>
	<span class="blue">Он.</span> Александр. Шуриком меня звали в детстве. Никогда не любил это имя – Шурик... Я –<br>
	&nbsp;&nbsp;&nbsp;&nbsp;Александр.<br>
	<span class="blue">Я.</span>   Сколько вам сейчас лет?<br>
	<span class="blue">Он.</span> Сорок два.<br>
	<span class="blue">Я.</span>   Кто вы по профессии?<br>
	<span class="blue">Он.</span> Художник-дизайнер. Мне кажется, я состоялся – как человек, как личность,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;как профессионал.<br>
	<span class="blue">Я.</span>   Вы всемирно известны?<br>
	<span class="blue">Он.</span> Ну... Я бы так не сказал. Но в России – да, очень известен. Есть выставки, награды,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;книги, альбомы.<br>
	<span class="blue">Я.</span>   А в личном?<br>
	<span class="blue">Он.</span> Счастливо женат. Двое детей. Загородный коттедж. Квартира в Москве. Объездил<br>
	&nbsp;&nbsp;&nbsp;&nbsp;полмира.<br>
	<span class="blue">Я.</span>   А мама?<br>
	<span class="blue">Он.</span> Со мной! Горестных потерь не было.<br>
	<span class="blue">Я.</span>   Скажите, есть ли у вас проблемы с грамотностью?<br>
	<span class="blue">Он.</span> Никаких! Я очень грамотно пишу.<br>
	<span class="blue">Я.</span>   Прошу вас, Александр... Помогите Шурику без ошибок написать диктант! И всегда<br>
	&nbsp;&nbsp;&nbsp;&nbsp;помогайте. Всегда и во всём.<br>
	<span class="blue">Он.</span> Нет проблем!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Дальше я закрепила за Шуриком его <span class="light-blue bold">СЧАСТЛИВУЮ СУДЬБУ</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 73px 57px;">
	И вот что получилось.
</p>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 0 33px; line-height: 16px;">
	Слева – типичный диктант Шурика до сеанса <span class="blue italic">NL</span>-психологии, справа – минут через 30 после сеанса. Очень<br>
	талантливым оказался этот... Александр!
</p>
<div style="width: 960px; height: 523px; padding-top: 25px;">	
	<div style="width: 458px; height: 514px; float: left; margin-left: 10px;">
		<div class="image-shadow-0" style="width: 458px; height: 498px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo7.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 462px; height: 512px; float: right; margin: 0 3px 0 0;">
		<div class="image-shadow-0" style="width: 462px; height: 496px;">	
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/pismo8.jpg" width="100%" height="100%" alt="Письмо">
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 42px 0 6px 0;">
	Продолжение истории
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 29px 0 22px 21px;">
	Через пару месяцев позвонила мама Шурика-Александра.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 21px;">
	– У него изменился почерк! Он пишет без ошибок! Его хвалят в школе!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 21px;">
	– Прекрасно!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 21px;">
	– Да не это! Не это! Меня вызвала педагог по живописи и показала его работы последних двух<br>
	месяцев – они сейчас на серьёзных выставках! Она говорит, что это словно другой человек<br>
	рисовал – взрослый, опытный. Рука, совсем другая рука, понимаете?! Она стала талантливой,<br>
	гениальной! Его рука – вот что главное!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 21px;">
	– А... что ещё удивительного?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 21px;">
	– Ну... Он совсем не откликается на имя <span class="tag">Шурик</span>. Как не слышит. Уверяет всех, что он<br>
	Александр.
</p>
<p class="light-blue size-24 font-sans-font bold center" style="margin: 73px 0 6px 0;">
	Творчество
</p>
<div style="width: 960px; height: 450px; padding: 34px 0 24px 0;">	
	<div style="width: 262px; height: 450px; float: left; margin: 0 0 0 53px;">
		<div style="width: 262px; height: 401px; float: right; margin: 0 0 6px 0;">
			<div class="image-shadow-0" style="width: 262px; height: 385px;">
				<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/girl7.jpg" width="100%" height="100%" alt="Наши принцы и принцессы">
			</div>
			<div class="image-shadow-right-1" style="width: 119px; background-position: -195px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 119px;">			
			</div>
		</div>
		<p class="blue size-16 font-verdana line-height-23 center" style="margin: 0 0 0 0;">
			Наши принцы и принцессы.
		</p>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 576px; height: 450px; float: right; margin: 0 13px 0 0;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 10px 0;">
			– Ну, детка, что мы сегодня будем творить: сочинение,<br>
			изложение, контрольную?<br>
			– Ох!.. Ну...<br>
			– Может, сказку?<br>
			– Сказку?! Я не умею...<br>
			– А мы попробуем. Помнишь, как сказки начинаются?<br>
			– Жили-были...<br>
			– Кто?<br>
			– Допустим, царь с царицей...<br>
			– Вот так и пиши. А где они жили?<br>
			– В сказочном царстве с двумя дочками. Это были две<br>
			красивые взрослые девушки.<br>
			– Отлично! Здорово! Ты пиши, пиши!<br>
			– Да пишу, пишу... В то лето им исполнилось двадцать лет,<br>
			причём в один день и в один час... а вот тут запятая перед<br>
			«причём», я так думаю... потому что царевны были<br>
			близнецами...<br>
			И вот какая волшебная сказка про принцесс у нас<br>
			получилась.
		</p>
	</div>
</div>
<p class="red font-verdana size-18" style="margin: 0 0 7px 371px;">
	Волшебная сказка. Почитайте – не пожалеете!
</p>
<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 22px 327px;">
	(Ссылку на страницу <span class="tag">Творчество</span> найдёте на Компасе-навигаторе).
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 327px;">
	Вообще-то там вы найдёте целый вернисаж детских работ:<br>
	сочинений, изложений, эссе, сказок и даже киносценарий.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 54px 327px;">	
	Особенности стиля и синтаксиса сохранены.
</p>
<p style="margin: 0 0 0 0;"><a name="zombie"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 49px 0;">
	<span class="tag">Зомби</span>
</p>
<div style="position:relative; z-index: 3; width: 960px; height: 230px;">
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 57px;">
	Позвонил очень сердитый человек:<br>
	– По какому праву людей зомбируете?<br>
	– ?!<br>
	– Зомбируете! Все знают, что нейролингвистика – это зомбирование!<br>
	– А давайте откроем словарь...<br>
	– Какой ещё словарь?!<br>
	– Да любой, лучше толковый. Вот написано: <span class="tag">Нейролингвистика – раздел<br>
	нейрофизиологии...</span><br>
	– Нейрофизиологии, значит... – стушевался человек. – А люди такое говорят... Вот ведь<br>
	врать горазды!
</p></div>
<div style="padding-top: 0px; width: 960px; height: 504px; ">
	<div class="trans" style="width: 430px; height: 503px; margin: 0 auto; padding-top: 1px;">
		<div class="trans3" style="width: 430px; height: 503px; opacity: 0; margin: 0 0 0 0; z-index: 4; position: absolute; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/zombie.jpg);"></div>
	</div>
</div>
<p class="grey size-18 font-verdana bold center" style="margin: 0 0 30px 0;">
	Я – зомби!
</p>
<p style="margin: 0 0 0 0;"><a name="chto-eto"></a></p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	<span class="light-blue bold">Дорогие читатели!</span> Чтобы в дальнейшем у вас не возникало вопросов и сомнений, лучше<br>
	давайте вместе разберёмся.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Нейролингвистика – новая современная наука об усвоении информации человеческим мозгом. В недавнем прошлом она была разделом классической нейрофизиологии.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 78px 57px;">
	Ныне <span class="light-blue bold italic">NL</span> – вполне самостоятельная дисциплина на стыке четырёх наук: педагогики,<br>
	психологии, нейрофизиологии и лингвистики.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Нейролингвистика опирается на вложенные в нас самой природой способности к<br>
	молниеносному обучению.
</p>
<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 53px 0 128px 328px;">
	<span style="color: rgb(18, 184, 13);">Цвет,</span><br>
	<span class="red" style="margin-left: 42px;">свет,</span><br>
	<span style="margin-left: 91px;">игра <span style="color: rgb(163, 26, 163);">– вот её суть!</span></span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 89px 0; line-height: 46px;">
	<span class="red bold">Дорогие мои!</span> Настраивайте себя на добро и счастье!<br>
	Почаще говорите себе: <span class="tag">Я могу! Я хочу! Я буду!</span>.<br>
	Почаще хвалите себя и своего ребёнка.<br>
	Почаще говорите: <span class="tag">Ты можешь! Молодец! Ты талантлив!</span><br>
	Так творится будущее и Реальность.<br>
	Ведь в самом начале тоже было только <span class="red bold">СЛОВО</span>.
</p>
<p style="margin: 0 0 0 0;"><a name="istorija"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 41px 0;">
	О нас
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 65px;">
	Самая первая в мире обучающая <span class="light-blue bold italic">NL</span>-технология, получившая мировое признание и<br>
	запатентованная как изобретение в России и за рубежом  –  <span class="tag">Врождённая грамотность</span><br>
	(автор – проф. О.О.Веровенко). Вот тут мы реально оказались <span class="tag">поперёд планеты всей</span>, что<br>
	и подтвердила международная экспертиза РСТ: ничего подобного в мире не было и нет.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 65px;">
	С этого момента, пожалуй, и можно вести отсчёт <span class="light-blue bold italic">NL</span> как самостоятельной науки, когда она<br>
	вдруг оперилась и буквально ворвалась в реальность – живая, действующая, нужная и<br>
	полезная людям.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 65px;">
	Вот что даёт <span class="light-blue bold italic">NL</span>: вместо десятилетий обучения нужны единичные занятия, от силы 4-12!<br>
	И автор заслуженно и с гордостью относит себя к основоположникам этой самой <span class="light-blue bold italic">NL</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 65px;">
	Оглушительная слава <span class="tag">Врождённой грамотности</span> началась, пожалуй, с первой<br>
	сенсационной публикации о нас в газете <span class="tag">Правда</span> – главной газете тех лет. И тут же<br>
	последовала лавина других публикаций – наших и зарубежных. О <span class="tag">русском чуде</span> начал<br>
	писать весь мир –  Canton News, Chicago Tribune, Los Angeles Times, телевидение и радио.<br>
	На нашем добром счету более ста тысяч (население целого города!) учеников.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 65px;">
	<span class="light-blue bold italic">NL</span> –  это технология обучения, где не бывает неудач. Лёгкое, естественное, опирающееся на данные от природы каждому человеку способности обучаться молниеносно, без зубрёжки правил, без затрат сил и времени.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 96px 0 35px 0;">
	Почему мы не учим правила из учебника
</p>
<p class="dark-blue size-18 font-verdana italic line-height-23" style="margin: 0 0 22px 65px;">
	«В полных формах страдательных причастий прошедшего времени, образованных от<br>
	глаголов совершенного вида, как приставочных, так и бесприставочных, пишется два<br>
	«н», а с одним «н» в виде исключения пишутся полностью утратившие связь с<br>
	причастиями отглагольные, образованные от совершенного вида прилагательные».
</p>
<p class="dark-blue size-18 font-arial line-height-23" style="margin: 0 50px 40px 0; text-align: right;">
	Школьный учебник.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 65px;">
	Когда будете защищать докторскую диссертацию по русскому языку, вы это правило<br>
	ещё, возможно, оцените. А пока воспользуйтесь нашим <span class="tag">переводом</span> на язык <span class="light-blue bold italic">NL</span>:
</p>
<p class="red bold size-18 font-verdana center" style="margin: 62px 0 41px 0;">
	Правило гостя
</p>
<div style="width: 960px; height: 143px; padding-top: 0;">	
	<div style="width: 150px; height: 143px; float: left; margin-left: 280px;">
		<p class="blue size-18 font-verdana center" style="margin: 0 0 0 0;">
			Хороший гость:
		</p>
		<p class="green size-18 font-verdana center" style="margin: 40px 0 0 0;">
			ЖЕЛАННЫЙ
		</p>						
	</div>
	<div style="width: 150px; height: 143px; float: right; margin: 0 280px 0 0;">
		<p class="blue size-18 font-verdana center" style="margin: 0 0 0 0;">
			Плохой гость:
		</p>
		<p class="green size-18 font-verdana center" style="margin: 30px 0 0 0;">
			НЕЗВАНЫЙ<br>
			НЕПРОШЕНЫЙ
		</p>					
	</div>
</div>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 41px 0;">
	Правило: плохой гость больше одной <span class="tag">н</span> не заслуживает!
</p>
<p class="dark-blue size-14 font-arial bold" style="margin: 67px 0 0 102px; line-height: 16px;">
	Кирилл Касаткин. Творческая <span class="italic">NL</span>-работа <span class="tag">Собезьянничать</span>.<br>
	Очень трудное слово: два <span class="tag">Н</span> и два мягких знака. Но все почему-то пишут твёрдый.<br>
	Но ведь обезьяна же?..
</p>
<div style="padding-top: 23px; height: 495px;">
	<div style="width: 752px; height: 495px; margin: 0 auto;">
		<div style="width: 752px; height: 495px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/train.jpg" width="100%" height="100%" alt="Трамвай">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 74px 0 32px 0;">
	Правило бухгалтера
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 203px;">
	В одном числительном <span class="blue bold">один</span> мягкий знак. Где поставить?<br>
	Произнесите громко:
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 203px;">
	ВОСЕМ<span class="red bold">Ь</span>ДЕСЯТ<br>
	ВОСЕМДЕСЯТ<span class="red bold">Ь</span>
</p>
<p class="yellow bold size-18 font-verdana line-height-23" style="margin: 0 0 22px 203px;">
	Правило: хороший бухгалтер говорит без акцента!
</p>
<p class="dark-blue size-14 font-arial bold" style="margin: 69px 0 0 123px; line-height: 16px;">
	Кирилл Касаткин. Творческая работа  <span class="tag">Длинношеее</span>.<br>
	Ну в каком ещё слове на конце три <span class="tag">е</span> подряд?..
</p>
<div style="padding-top: 14px; height: 530px;">
	<div style="width: 715px; height: 530px; margin: 0 auto;">
		<div style="width: 715px; height: 530px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/giraffe.jpg" width="100%" height="100%" alt="Жираф">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 86px 0 41px 0;">
	А как же освоить теорию?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 68px;">
	Теорию языка – и русского, и английского – тоже проще осваивать в виде сказок<br>
	и творческих <span class="light-blue bold italic">NL</span>-работ.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 68px;">
	Когда шестиклассник Павлик Павликов написал эту сказку-книжку про приставки,<br>
	мы с его мамой хором воскликнули: <span class="tag">Улёт!!!</span></p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 68px;">
	Взгляните – порадуйтесь!
</p>
<div style="padding-top: 14px; height: 352px;">
	<div id="rotator" class="image-shadow-0" style="width: 480px; height: 352px; margin: 0 auto;">
		<ul style="margin: 0 0 0 0;">
    		<li class="show"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/001.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/002.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/01.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/02.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/03.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/04.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/05.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/06.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/07.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/09.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/10.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/11.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/12.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/13.jpg" width="480" height="352"  alt="" /></li>
    		<li><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/Puh/14.jpg" width="480" height="352"  alt="" /></li>
  		</ul>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 90px 0 31px 0;">
	Зеркало реальности
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 76px;">
	Мозг одного человека биоэнергетически и телепатически связан с мозгом другого<br>
	человека. Сравнительно недавнее открытие <span class="blue">зеркальных нейронов</span> мозга подтвердило эту<br>
	догадку.
</p>
<div style="width: 960px; height: 484px; padding: 19px 0 0 0;">	
	<div style="width: 345px; height: 484px; float: left; margin: 0 0 0 76px;">
		<div class="image-shadow-0" style="width: 345px; height: 428px;;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/neuron.jpg" width="100%" height="100%" alt="Нейроны">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0;">
			Зеркальный нейрон
		</p>
	</div>
	<div style="width: 479px; height: 484px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="light-blue bold">Зеркальные нейроны</span> отвечают за <span class="blue">эмпатию</span> –<br>
			очень сложный механизм, позволяющий<br>
			обучаться навыкам (а язык – навык)<br>
			непосредственно, т.е. на уровне Подсознания.<br>
			<span class="blue">Сознание и воля в этом совсем не участвуют!</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="blue">Эмпатия</span>, будучи <span class="blue">особым образом тренированной<br>
			у педагога</span>, даёт возможность передачи навыков<br>
			на уровне Подсознания <span class="light-blue bold">молниеносно</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Другими словами, мне не нужно специально<br>
			обучать вас или вашего ребёнка грамотности.<br>
			Просто присутствуя рядом, играя и творя<br>
			<span class="light-blue bold">вместе</span> со мной, и ребёнок, и вы обучитесь<br>
			всему.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Вы не будете знать, «откуда вы знаете», но<br>
			делать всё будете верно.
		</p>
	</div>
</div>
<div style="width: 960px; height: 375px; padding: 0 0 8px 0;">	
	<div style="width: 420px; height: 375px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 5px 0 22px 55px;">
			Механизм эмпатии: <span class="blue">Доброта, Любовь,<br>
			Милосердие, Сострадание,<br>
			внутренняя Тишина и Покой.</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 55px;">
			Как вы уже поняли, главным<br>
			«инструментом» здесь является не<br>
			методика, не учебник, а психика –<br>
			точно, правильно, безупречно<br>
			настроенная психика. Несущим<br>
			энергополем будет мощнейшая<br>
			энергетика творчества, симпатии,<br>
			увлечённости, игры.
		</p>
		<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 55px;">
			Напрямую – из мозга в мозг, из<br>
			души в душу.
		</p>		
	</div>
	<div style="width: 503px; height: 375px; float: right; margin: 0 11px 0 0;">
		<div style="width: 503px; height: 310px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/heart.jpg" width="100%" height="100%" alt="Дружба сердца и мозга">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0;">
			Эмпатия. Нерушимая связь
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 36px 0 42px 0;">
	<span class="tag">Ошибка</span> Эйнштейна
</p>
<div style="width: 960px; height: 550px; padding: 0 0 8px 0;">	
	<div style="width: 540px; height: 550px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 85px;">
			– Пап, а пап... я построю такой<br>
			пребольшущий звездолёт и разгонюсь<br>
			сильно-пресильно, быстрее света! Я полечу<br>
			к звёздам!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 85px;">
			– Эйнштейна почитай! Я тебе авторитетно<br>
			говорю: ни одно тело, обладающее массой,<br>
			не может двигаться быстрее света. Никто и<br>
			ни что!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 85px;">
			Детские глаза печально взглянули на меня.<br>
			Говорю папе:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 85px;">
			– Вот как раз <span class="tag">НИЧТО</span>, наверное, может.<br>
			Там ведь нет массы?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 85px;">
			– Нет массы... значит... может, –<br>
			ошарашенно отвечает отец.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 85px;">
			– Вот видишь, пап! Ошибся твой Эйнштейн –<br>
			местоимения движутся быстрее света! 
		</p>		
	</div>
	<div style="width: 376px; height: 550px; float: right; margin: 0 40px 0 0;">
		<div class="image-shadow-0" style="width: 376px; height: 511px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/einshtein.jpg" width="100%" height="100%" alt="Эйнштейн">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0;">
			Ошибка гения?
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 40px 0 38px 0;">
	Любовь и радость
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Когда они маленькие и любят вас, они дарят красивые цветы. Иногда – деревья. С<br>
	корнями! 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Когда вырастают, дарят радость. Не проходит нескольких дней, чтобы не раздался<br>
	телефонный звонок: «Ольга Олеговна! А я уже пишу кандидатскую! По филологии!»<br>
	«А я уже снимаю свой первый (пятый-десятый) фильм!»<br>
	«А я уже журналист (дизайнер, врач)... Спасибо за всё!» 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Бывший двоечник Сашка сбежал ко мне. За ним – его девочка. Родители настаивали<br>
	на поступлении в какой-то технический вуз. Сашка шумел: «Буду педагогом,<br>
	как Ольга Олеговна!» 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Таки он им стал. Причём роскошным, от Бога. Но очень хочет, чтобы его детей (да-да,<br>
	время летит, у них уже дети!) учила я и только я. 
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 72px 0 30px 0;">
	Выбор
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Я никогда не считала своё дело работой и никогда не относилась к своему занятию как к работе. Для меня это Радость, Созидание, Творчество. 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Наш язык очень хорошо отражает  разницу этих слов. Сравните: <span class="bold">раб</span>ота,<br>
	за<span class="bold">раб</span>оток, <span class="bold">раб</span>очий – от слова «<span class="bold">раб</span>». Однокоренные слова. 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 77px;">
	Творчество – от слова «<span class="light-blue bold">Творец</span>». Со<span class="blue">твор</span>ить ЧЕЛОВЕКА... Между <span class="light-blue bold">ТВОРЦОМ</span> и <span class="bold">рабом</span> –<br>
	какой тут ещё может быть выбор? 
</p>
<div style="padding-top: 24px; height: 550px;">
	<div style="width: 667px; height: 550px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 667px; height: 496px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/bird1.jpg" width="100%" height="100%" alt="Птичка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
			Алисия, дошкольница. <span class="tag">Птичка на песке</span>.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 51px 0 28px 18px; line-height: 50px;">
	Провожая ребёнка в жизнь,<br>
	Что дадите ему в дорогу:<br>
	Квартиру?<br>
	Машину?<br>
	Деньги?<br>
	Дайте детям хорошее образование –<br>
	И они добьются всего сами!
</p>
<p class="blue size-20 font-arial" style="margin: 0 0 0 494px; line-height: 30px;">
	<span class="blue font-verdana bold">Ольга Веровенко,</span><br>
	<span style="margin-left: 100px;">ваш друг,</span><br>
	<span style="margin-left: 140px;">ваш педагог,</span><br>
	<span style="margin-left: 180px;">ваш Мастер.</span>
</p>
<p class="yellow size-30 font-verdana bold center" style="margin: 59px 0 30px 0; line-height: 37px;">
	Если вам всё это интересно,<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: black; border-bottom: 1px solid;"><span class="yellow">давайте познакомимся!</span></a>
</p>
<p class="blue size-16 bold font-verdana center" style="margin: 16px 0 33px 0;">
	Добро пожаловать! Welcome!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="red size-30 bold font-verdana center" style="margin: 42px 0 27px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 56px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
