<p class="yellow bold size-24 font-verdana" style="margin: -13px 0 37px 14px;">
	<span class="italic">NL</span>-психология – освободитесь от проблем!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 16px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 45px 0;">
	(психология-<span class="light-blue bold italic">NL</span> для взрослых)
</p>
<div style="width: 960px; height: 449px; margin: 0 0 0 0;">	
	<div style="width: 468px; height: 449px; float: right; margin: 0 17px 0 0; position: relative;">
		<div class="image-shadow" style="width: 468px; height: 433px; margin: 0 0 0 0;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/nlpsy/flygirl.jpg" width="100%" height="100%" alt="Летящая девушка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 450px; height: 449px; float: left; margin: 0 0 0 14px">
		<p class="dark-blue size-14 font-verdana" style="margin: 14px 0 21px 0; line-height: 22px;">
			Привлечение всей мощи вашего Подсознания и<br>
			Сверхсознания для решения ваших конкректных проблем.<br>
			Ликвидация неврозов, стрессов, страхов. Молниеносный<br>
			выход из любого <span class="tag">тупика</span> развития и кризисной ситуации.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Конфиденциальность гарантируется. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="light-blue bold italic">NL</span>-психология для взрослых и детей включена в любой<br>
			длительный комплексный курс обучения<br>
			с проф. О.О.Веровенко БЕСПЛАТНО.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но, если хотите, можете взять сеансы <span class="light-blue bold italic">NL</span>-психологии<br>
			отдельно.
		</p>
		<p class="red size-14 font-verdana center" style="margin: 0 0 23px 0; line-height: 22px;">
			Пожалуйста, не путайте NL-психологию с НЛП<br>
			(нейролингвистическим программированием)!
		</p>
	</div>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 115px 0 38px 0; line-height: 30px;">
	Чем может помочь нейролингвистическая психология<br>
	в обучении?
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 16px 0 8px 0;">
	Сеанс <span class="italic">NL</span>-коррекции
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 63px 0;">
	Освободитесь от проблем!
</p>
<div style="width: 640px; height: 360px; margin: 0 auto;">
	<div class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<iframe width="640" height="360" src="//www.youtube.com/embed/O1S6lTD6Ges?autoplay=1&amp;loop=1&amp;playlist=O1S6lTD6Ges&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<p class="blue bold size-14 font-verdana" style="margin: 64px 0 21px 32px; line-height: 22px;">
	Сеанс уникален!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 32px; line-height: 22px;">
	Коррекция признаков дислексии, дисграфии и других проблем обучения.<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_deficit; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Повышение концентрации внимания.</span></a>
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 32px; line-height: 22px;">
	Сеанс предполагает небольшое домашнее задание-игру.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 32px; line-height: 22px;">
	Успеваемость по всем гуманитарным предметам повышается на 1-2 балла.
</p>
<p class="yellow bold size-14 font-verdana" style="margin: 0 0 21px 32px; line-height: 22px;">
	И всё это – за один сеанс!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 32px; line-height: 22px;">
	<span class="blue bold">Внимание!</span> Второго сеанса не будет ни при каком условии. Вам действительно достаточно только <span class="blue bold">одного</span>.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 9px 32px; line-height: 22px;">
	Аналогичный сеанс существует для изучающих английский язык.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 32px; line-height: 22px;">
	Навыки скоростной идентификации лингвистической информации (без чего невозможно лёгкое усвоение<br>
	английского). <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_deficit; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Повышение концентрации внимания.</span></a>
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 45px 0; line-height: 22px;">
	Автор технологии и ведущая сеанса<br>
	доктор психологических наук профессор<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A"><span class="blue">Ольга Олеговна Веровенко</span></a>.
</p>
<p class="blue size-24 font-verdana" style="margin: 0 0 0 32px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration:underline; color: #0065A9;"><span class="blue">Он лентяй или болен?</span></a> <span class="size-18" style="margin: 0 0 0 11px;">Вам это важно знать! Статья.</span>
</p>
<p class="red bold size-24 font-verdana center" style="margin: 92px 0 51px 0;">
	Как получить скидку 50 процентов?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 92px; line-height: 22px;">
	Скидку 50 процентов и более получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы – не только о стоимости, скидках и графиках занятий,<br>
	но прежде всего о том, ЧТО мы делаем и КАК у нас это получается.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 67px 92px; line-height: 22px;">
	Это <span class="blue bold">ЭТИЧНО</span>. Вы бережёте наше время, силы, нервы. Мы благодарим вас за это огромными скидками.<br>
	Всё доступно и ярко изложено в статьях. Смотрите <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Компас</span></a>!
</p>
