<p class="blue font-verdana size-36 normal center" style="margin: 36px 0 60px 0;">
	Он лентяй или болен?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Большинство людей пишет грамотно, не обременяя себя изучением каких-либо правил	грамматики. Эта грамотность<br>
	называется <span class="tag">врождённой</span>. Она является <span class="blue bold">нормой</span>, присущей мозгу здорового человека.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Здоровый человек легко и просто обучается речи, чтению, письму, грамотности, иностранным языкам. Это<br>
	<span class="blue bold">природная, врождённая</span> функция человеческого мозга.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Нарушение природных функций
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 81px 41px; line-height: 22px;">
	Природные функции человеческого мозга у некоторых людей нарушены в силу разных причин, основная из которых –<br>
	дефицит концентрации внимания.
</p>
<p style="margin: 0 0 0 0;"><a name="deficit"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0px 0 36px 0;">
	Дефицит концентрации внимания
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 41px; line-height: 22px;">
	Дефицит концентрации внимания – пожалуй, самая распространённая причина плохой успеваемости в школе.<br>
	Дефицитом концентрации внимания в той или иной степени страдает каждый третий учащийся. Если концентрация<br>
	внимания:
</p>
<ul class="grey size-14 font-verdana" style="margin: 0 0 46px 80px; line-height: 22px;">
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Чуть выше нормы</span> <span class="dark-blue size-14 font-verdana">(коэффициент 127-128 в наших тестах). Это истинный золотомедалист. Может «бить<br>
	баклуши», учиться «левой пяткой», но его отметка никогда не будет ниже «пятёрки». Почему так происходит, он<br>
	сам не понимает и очень	удивляется, что у других так не получается. Высокая концентрация внимания дана ему<br>
	либо от природы, либо поставлена талантливыми педагогами в начальной школе.</span></li>
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Норма</span> <span class="dark-blue size-14 font-verdana">(коэффициент 120 – минимальная норма здоровья). Учащийся с таким коэффициентом может быть<br>
	двоечником или хорошистом в зависимости от характера<br>
	и психологической установки, но способен легко, почти молниеносно, обучаться<br>
	в благоприятных условиях.</span></li>
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Чуть ниже нормы.</span> <span class="dark-blue size-14 font-verdana">Коэффициент ниже 110 говорит о некоторых проблемах развития зон Брока-Вернике. Это<br>
	хронический «троечник». Особенно тяжело с грамотностью.	Может трудиться 25 часов в сутки, но «четвёрка»<br>
	недосягаема, хотя по математике	может учиться вполне хорошо.</span></li>
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Всего 10 % от нормы или ещё ниже.</span><span class="dark-blue size-14 font-verdana">Коэффициент ниже 10 (что мы довольно часто	встречаем в нашей<br>
	практике) говорит о серьёзных проблемах развития зон Брока-Вернике и очень тяжёлых заболеваниях –<br>
	дислексии, дисграфии.</span></li>
</ul>
<a name="koncentracija"></a>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 31px 0; line-height: 30px;">
	Концентрация внимания приводится в норму<br>
	за 1 сеанс <a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: none; border-bottom: 1px solid; color: #0099FF;"><span class="light-blue italic">NL</span></a><a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: none; border-bottom: 1px solid; color: #A98700;"><span class="yellow">-психологии</span></a>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Дислексия, дисграфия
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Дислексия, дисграфия – общие термины, означающие неспособность легко обучаться чтению, речи, письму,<br>
	иностранным языкам человеку, совершенно здоровому во всех других отношениях, в силу специфических заболеваний<br>
	или аномалий развития зон Брока-Вернике.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Зоны Брока-Вернике
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Зона Брока – довольно обширная часть мозга в левом полушарии, которая отвечает за родную речь, чтение и<br>
	грамотность. За обучение иностранным языкам, как считается,	отвечает зона Вернике.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Аномальное развитие или незначительное повреждение этих зон мозга в результате заболеваний или травм (в том<br>
	числе родовых), стрессовых ситуаций приводит к проблемам при обучении речи, грамотности, чтению, иностранным<br>
	языкам. В основе дислексии,	дисграфии, как правило, лежит афазия.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Афазия
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Афазия (<span class="tag">не-фаза</span>) – очень серьёзное заболевание зон Брока-Вернике, препятствующее обучению языкам, речи,<br>
	чтению, письму. Может быть наследственным заболеванием или приобретённым в результате травмы. Подразделяется<br>
	на оптическую (аноминация из-за	отсутствия зрительного образа); акустическую (аноминация из-за отсутствия<br>
	звукового образа); амнестическую (замена нужного слова близким по структуре и значению); афферентную моторную<br>
	(парафразия слов и букв); эфферентную моторную (нарушение смены артикулем). Необходима коррекция.<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Курс </span><span class="red font-verdana tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Фонематический слух
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Фонематический слух даёт <span class="tag">чутьё</span> языка, интуицию, которая позволяет схватывать язык <span class="tag">на лету</span>, не вдаваясь в<br>
	правила. Можно смело сказать, что фонематический слух (не путать с музыкальным) – основа врождённой грамотности<br>
	и успеха в изучении	иностранных языков. И наоборот: плохо поставленный, не проработанный с детства,	<span class="tag">хилый</span><br>
	фонематический слух даёт большие проблемы в обучении. Необходима коррекция.	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Курс </span><span class="red font-verdana tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Ассоциативная слепота
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Ассоциативная слепота – это отсутствие ассоциаций со зрительным образом. Человек понимает смысл фразы, но<br>
	совершенно не в состоянии представить или описать <span class="tag">картинку</span>. Это препятствие в обучении языкам. Необходима<br>
	коррекция. <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Курс </span><span class="red font-verdana tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Нарушения идентификации
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Идентификация – способность сличать и различать объекты, в том числе лингвистические. Нарушение зрительной<br>
	идентификации выглядит так: ученик вызубрил все правила, но	грамотно писать не может. Он помнит, например, что<br>
	вводные слова надо выделять	запятыми, но не может этого сделать – не видит, не воспринимает, не различает<br>
	вводное	слово как лингвистический объект среди прочих слов. Коррекция требуется обязательно.<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Курс </span><span class="red font-verdana tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	<span class="tag">Школьный</span> невроз
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	<span class="tag">Школьный</span> невроз возникает как противоречие между предъявляемыми требованиями (например, обучаться чему-<br>
	либо) и полной невозможностью эти требования выполнить (например, в силу дислексии). <span class="tag">Школьный</span> невроз –<br>
	тяжелейшее заболевание. Само по	себе не пройдёт. Необходима коррекция.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	<span class="tag">Школьный</span> невроз у каждого человека проявляется по-разному. Это может быть лень, <span class="tag">нерадивость</span>, агрессивное<br>
	нежелание учиться или апатия, равнодушие, <span class="tag">уход в компьютер</span>, слезливость, неуравновешенность, лживость,<br>
	трусливость. Всё это может перерасти в необратимые изменения психики и в конечном счёте – изломанный характер и<br>
	такую же судьбу.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	В тяжёлых случаях <span class="tag">школьный</span> невроз может перерасти в фобию.<br>
	Необходима коррекция. <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Курс </span><span class="red font-verdana tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Фобии
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Фобия – это интенсивный, иррациональный или неадекватный страх перед предметом,	человеком или ситуацией,<br>
	достигающий такой степени, которая препятствует нормальной<br>
	жизни больного.
</p>
<ul class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 80px; line-height: 22px;">
	<li>Галофобия – страх говорить.</li>
	<li>Фонофобия – страх говорить громко.</li>
	<li>Алофобия – страх публичных выступлений (в том числе в школе у доски).</li>
	<li>Схолионофобия – страх школы.</li>
	<li>Ридингфобия – страх чтения.</li>
	<li>Графофобия – страх письма.</li>
</ul>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red font-verdana">Курс <span class="tag">Чудо будет!</span></span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Стресс
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	В результате стрессов грамотность и речь резко ухудшаются. Это доказано ещё Зигмундом Фрейдом. Неблагоприятная<br>
	обстановка в семье, пережитые трагические события, грубость, обиды, жёсткое воспитание могут служить причинами<br>
	плохой успеваемости.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red font-verdana">Курс <span class="tag">Чудо будет!</span></span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Наказание
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Если вместо квалифицированной помощи нейролингвиста ребёнок подвергается порицаниям, ругани, обвинениям в<br>
	лени и нерадивости, то это усугубляет и без того тяжёлую ситуацию.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red font-verdana">Статья <span class="tag">У кого есть глупо дитятко?..</span></span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Нейролингвистика
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Нейролингвистика – это сочетание психологии, лингвистики и неврологии, которая рассматривает усвоение и<br>
	обработку языка, а также корректирует проблемы, связанные с	нарушениями природных функций.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Устраняя и корректируя специфические проблемы, нейролингвистика даст вам самое главное – здоровье и<br>
	способность легко обучаться всему: языкам, чтению, грамотности,	речи, <span class="blue bold">как задумано и положено самой<br>
	природой</span>.
</p>
<p class="red size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0; position: relative; z-index: 5;">
	Гипнотерапия
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; position: relative; z-index: 5; line-height: 22px;">
	Гипнотерапия – одна из форм психотерапии, при которой используется гипноз. Гипноз –	наведённое особое состояние<br>
	сознания, промежуточное между сном и бодрствованием, при котором тормозятся многие ментальные функции, что<br>
	позволяет подсознанию приблизиться к поверхности сознания. Гипнотерапия, как показывает опыт, может служить<br>
	хорошим инструментом для проникновения в подсознательное, что позволяет исцелить застарелые психические<br>
	травмы.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; position: relative; z-index: 5; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red font-verdana">Курс <span class="tag">Чудо будет!</span></span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 88px 0 30px 0; position: relative; z-index: 5;">
	Возраст коррекции
</p>
<div style="width: 960px; height: 331px; padding: 37px 0 0 0;">	
	<div style="width: 550px; height: 331px; float: left; margin: 0 0 0 78px; position: relative; z-index: 2;">
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Дорогие мамы и папы, бабушки и дедушки!
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Корректировать и обучать детей до 12 лет относительно легко.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Старше 12 лет – намного труднее и дольше.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Так что не тяните кота...
		</p>	
	</div>
	<div style="width: 282px; height: 427px; float: right; margin: -133px 41px 0 0;">
		<div class="trans54" style="width: 282px; height: 427px; margin: 0 auto; position: relative; z-index: 1;">
			<img class="trans55" style="margin: -800px 0 0 -800px; opacity: 0;" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/cat2.jpg" width="100%" height="100%" alt="Кот с хвостом">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 31px 100px 16px 0; line-height: 30px;">
	У кого есть глупо дитятко?
	<span style="margin: 0 0 0 364px;">У кого их только нет...</span>
</p>
<p class="blue size-14 font-verdana bold center" style="margin: 0 0 53px 0;">
	Подробная статья о проблемах обучения в школе и о том, как их преодолеть.
</p>
<div style="width: 960px; height: 342px; margin: 0 0 0 0;">	
	<div style="width: 524px; height: 342px; float: right; margin: 0 7px 0 0; position: relative;">
		<div class="image-shadow" style="width: 524px; height: 326px; margin: 0 0 0 0;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/on-lent/boy.jpg" width="100%" height="100%" alt="Мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 342px; float: left; margin: 0 0 0 23px">
		<p class="dark-blue size-14 font-verdana" style="margin: -5px 0 21px 0; line-height: 22px;">
			Ваш ребёнок – хороший человечек, пятёрочник по<br>
			физике, математике, истории, чему угодно, кроме<br>
			русского языка. Ну не может он писать без ошибок!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Вот с такой проблемой приходят к нам на курсы<br>
			«Врождённой грамотности». 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Мы берём за основу существующий в реальной<br>
			жизни феномен – врождённую грамотность.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Подробности читайте в статье<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue bold tag">У кого есть глупо дитятко?<br>
			<span style="margin: 0 0 0 75px;">У кого их только нет...</span></span></a>
		</p>
	</div>
</div>
<p class="red bold size-24 font-verdana center" style="margin: 86px 0 40px 0;">
	Как получить скидку 50 процентов?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	Скидку 50 процентов и более получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает	ответы на все основные вопросы – прежде всего о том, ЧТО мы делаем и КАК у нас это получается.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 88px 47px; line-height: 22px;">
	Это <span class="blue bold">ЭТИЧНО</span>. Вы бережёте наше время, силы, нервы. Мы благодарим вас за это огромными скидками.<br>
	Всё	доступно и ярко изложено в статьях. Смотрите Компас!
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 0 0 84px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]