<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 0;"><a class="first"><span>КОРРЕКЦИЯ ПРОБЛЕМ ОБУЧЕНИЯ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуй<br>
		бесплатно!
	</p>
</div>
<p class="blue font-verdana size-24 bold center" style="margin: 32px 0 50px 0; line-heigh: 26px;">
	<span style="margin: 0 326px 0 0;">У кого есть глупо дитятко?</span><br>
	<span style="margin: 0 0 0 264px;">У кого их только нет...</span>
</p>
<div style="width: 960px; height: 315px;">	
	<div style="width: 522px; height: 315px; float: left; margin: 0 0 0 1px; position: relative;">
		<div class="image-shadow" style="width: 522px; height: 299px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/boy1.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 410px; height: 315px; float: right; margin: 0 0 0 0">
		<p class="yellow size-20 font-verdana bold" style="margin: 84px 0 21px 0;  line-height: 31px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 56px;">Плохие чтение, речь?</span><br>
			<span style="margin: 0 0 0 134px;">Он лентяй или болен?!</span>
		</p>
		<div id="anim-lentjaj" style="width: 410px; height: 0;">
			<div style="width: 410px; height: 30px; background-color: white; position: relative; margin: -112px 0 0 0;"></div>
			<div style="width: 410px; height: 30px; background-color: white; position: relative; margin: 0 0 0 50px;"></div>
			<div style="width: 410px; height: 30px; background-color: white; position: relative; margin: 0 0 0 128px;"></div>
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 55px 0 24px 8px; line-height: 17px;">
	<span class="yellow size-20 bold tag">Мой меч – твоя голова с плеч!</span> – этот подход в данном случае неприемлем.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 12px 0 16px 8px; line-height: 17px;">
	Давайте разберёмся в проблеме, после чего наилучший способ её решения сам <span class="tag">прыгнет</span> вам в руки – в виде какой-либо<br>
	из наших технологий обучения.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 69px 0 36px 0;">
	Здоровье и обучаемость
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Большинство людей пишет грамотно, не обременяя себя изучением каких-либо правил	грамматики. Эта грамотность<br>
	называется <span class="tag">врождённой</span>. Она является <span class="blue bold">нормой</span>, присущей мозгу здорового человека.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Здоровый человек легко и просто обучается речи, чтению, письму, грамотности, иностранным языкам. Это<br>
	<span class="blue bold">природная, врождённая</span> функция человеческого мозга.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Нарушение природных функций
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 81px 41px; line-height: 22px;">
	Природные функции человеческого мозга у некоторых людей нарушены в силу разных причин, основная из которых –<br>
	дефицит концентрации внимания.
</p>
<p style="margin: 0 0 0 0;"><a name="deficit"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0px 0 36px 0;">
	Дефицит концентрации внимания
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 41px; line-height: 22px;">
	Дефицит концентрации внимания – пожалуй, самая распространённая причина плохой успеваемости в школе.<br>
	Дефицитом концентрации внимания в той или иной степени страдает каждый третий учащийся. Если концентрация<br>
	внимания:
</p>
<ul class="grey size-14 font-verdana" style="margin: 0 0 16px 80px; line-height: 22px;">
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Чуть выше нормы</span> <span class="dark-blue size-14 font-verdana">(коэффициент 127-128 в наших тестах). Это истинный золотомедалист. Может «бить<br>
	баклуши», учиться «левой пяткой», но его отметка никогда не будет ниже «пятёрки». Почему так происходит, он<br>
	сам не понимает и очень	удивляется, что у других так не получается. Высокая концентрация внимания дана ему<br>
	либо от природы, либо поставлена талантливыми педагогами в начальной школе.</span></li>
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Норма</span> <span class="dark-blue size-14 font-verdana">(коэффициент 120 – минимальная норма здоровья). Учащийся с таким коэффициентом может быть<br>
	двоечником или хорошистом в зависимости от характера<br>
	и психологической установки, но способен легко, почти молниеносно, обучаться<br>
	в благоприятных условиях.</span></li>
	<li style="margin: 0 0 23px 0;"><span class="blue bold">Чуть ниже нормы.</span> <span class="dark-blue size-14 font-verdana">Коэффициент ниже 110 говорит о некоторых проблемах развития зон Брока-Вернике. Это<br>
	хронический «троечник». Особенно тяжело с грамотностью.	Может трудиться 25 часов в сутки, но «четвёрка»<br>
	недосягаема, хотя по математике	может учиться вполне хорошо.</span></li>
	<li style="margin: 0 0 0 0;"><span class="blue bold">Всего 10 % от нормы или ещё ниже.</span> <span class="dark-blue size-14 font-verdana">Коэффициент ниже 10 (что мы довольно часто	встречаем в нашей<br>
	практике) говорит о серьёзных проблемах развития зон Брока-Вернике и очень тяжёлых заболеваниях –<br>
	дислексии, дисграфии.</span></li>
</ul>
<p style="margin: 0;">
	<a name="koncentracija"></a>
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 69px 0; line-height: 28px;">
	Концентрацию внимания можно привести в норму за один<br>
	<span class="blue">Волшебный сеанс.</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 16px 0 8px 0;">
	Волшебный сеанс
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 53px 0;">
	Освободитесь от проблем!
</p>
<div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin: 0 auto;">
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 47px 0 21px 26px; line-height: 22px;">
	<span class="blue bold">Сеанс действительно уникален!</span><br>
	Повышается концентрация внимания, появляется навык правильного беглого чтения, исчезают признаки<br>
	дислексии, дисграфии. Испаряются <span class="tag">глупые</span> ошибки и описки, обучение становится лёгким.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	Успеваемость по всем гуманитарным предметам повышается на 1-2 балла.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	Помогает этот сеанс и хорошистам, которыео "почему-то" никак не могут выйти в отличники.
</p>
<p class="yellow bold size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	И всё это – за один сеанс!
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 26px; line-height: 22px;">
	Сеанс предполагает небольшое домашнее задание-игру.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 9px 26px; line-height: 22px;">
	Аналогичный сеанс существует для изучающих английский язык.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 43px 26px; line-height: 22px;">
	Навыки скоростной идентификации лингвистической информации (без чего невозможно лёгкое усвоение<br>
	английского). Повышение концентрации внимания.
</p>
<p class="red size-16 font-verdana center" style="margin: 0 0 44px 0; line-height: 22px;">
	Гипноз, магия, зомбирование и ремень во время сеанса не применяются!
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 45px 0; line-height: 22px;">
	Автор технологии и ведущая сеанса<br>
	доктор психологических наук профессор<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A"><span class="blue">Ольга Олеговна Веровенко</span></a>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 93px 0 36px 0;">
	Дислексия, дисграфия
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Дислексия, дисграфия – общие термины, означающие неспособность легко обучаться чтению, речи, письму,<br>
	иностранным языкам человеку, совершенно здоровому во всех других отношениях, в силу специфических заболеваний<br>
	или аномалий развития зон Брока-Вернике.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Зоны Брока-Вернике
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Зона Брока – довольно обширная часть мозга в левом полушарии, которая отвечает за родную речь, чтение и<br>
	грамотность. За обучение иностранным языкам, как считается,	отвечает зона Вернике.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Аномальное развитие или незначительное повреждение этих зон мозга в результате заболеваний или травм (в том<br>
	числе родовых), стрессовых ситуаций приводит к проблемам при обучении речи, грамотности, чтению, иностранным<br>
	языкам. В основе дислексии,	дисграфии, как правило, лежит афазия.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Афазия
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Афазия (<span class="tag">не-фаза</span>) – очень серьёзное заболевание зон Брока-Вернике, препятствующее обучению языкам, речи,<br>
	чтению, письму. Может быть наследственным заболеванием или приобретённым в результате травмы. Подразделяется<br>
	на оптическую (аноминация из-за	отсутствия зрительного образа); акустическую (аноминация из-за отсутствия<br>
	звукового образа); амнестическую (замена нужного слова близким по структуре и значению); афферентную моторную<br>
	(парафразия слов и букв); эфферентную моторную (нарушение смены артикулем). Необходима коррекция.<br>
	Советуем курс <span class="red font-verdana tag">Чудо будет!</span>
</p>
<p class="red size-24 font-verdana bold center" style="margin: 86px 0 5px 0;">
	<span class="tag">Чудо будет!</span>
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 55px 0; line-height: 26px;">
	(<span class="tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>)
</p>
<div style="width: 960px; height: 526px;">	
	<div style="width: 376px; height: 526px; float: right; margin: 0 58px 0 0; position: relative;">
		<div class="image-shadow" style="width: 376px; height: 510px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 479px; height: 526px; float: left; margin: 0 0 0 38px">
		<p class="yellow size-16 bold font-verdana" style="margin: 0 0 32px 0; line-height: 20px;">
			Полностью игровой – от начала до конца! – курс.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 48px">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 48px;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 17px 48px;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-14 bold font-verdana" style="margin: 37px 0 24px 48px; line-height: 20px;">
			Цвет,<br>
			<span class="red" style="margin-left: 36px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 76px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 121px;">вот его суть!</span>
		</p>
		<p class="blue size-14 bold font-verdana center" style="margin: 0 102px 29px 0; line-height: 22px;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-14 font-arial center" style="margin: 0 102px 33px 0;">
			Курс 4-12 сеансов по 3 ак.часа.
		</p>
		<p class="red size-18 bold font-verdana" style="margin: 0 0 27px 0;">
			<span class="blue size-14">Зайдите, пожалуйста:</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #EE1C24;"><span class="red">Чудо будет!</span></a><br>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 17px;">
			Автор технологии и педагог –<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p class="yellow size-16 bold font-verdana" style="margin: 42px 0 44px 199px; line-height: 25px;">
	Курс позволяет одновременно, без потерь времени и сил,<br>
	корректировать любые проблемы и обучать грамотности.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 9px 38px; line-height: 22px;">
	<span class="blue bold">В программе всё, о чём вам мечталось:</span> безупречная грамотность, чтение, речь, сочинения, изложения,<br>
	творческие диктанты, дивной красоты творческие работы по русскому, английскому, литературе, коррекция<br>
	дислексии, дисграфии, <span class="tag">школьного</span> невроза, повышение концентрации внимания, поддержка психолога.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 38px; line-height: 22px;">
	И всё это – в рамках единого игрового курса!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 80px 0 36px 0;">
	Фонематический слух
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Фонематический слух даёт <span class="tag">чутьё</span> языка, интуицию, которая позволяет схватывать язык <span class="tag">на лету</span>, не вдаваясь в<br>
	правила. Можно смело сказать, что фонематический слух (не путать с музыкальным) – основа врождённой грамотности<br>
	и успеха в изучении	иностранных языков. И наоборот: плохо поставленный, не проработанный с детства,	<span class="tag">хилый</span><br>
	фонематический слух даёт большие проблемы в обучении. Необходима коррекция.<br>
	Советуем курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red font-verdana tag">Чудо будет!</span></a> или <span class="red tag">Творческие диктанты</span>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 59px 0 6px 0;">
	Творческие диктанты
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 43px 0;">
	Их любят все – взрослые и дети!
</p>
<div style="width: 960px; height: 395px; margin: 0 0 0 0;">	
	<div style="width: 507px; height: 395px; float: right; margin: 0 33px 0 0; position: relative;">
		<div class="image-shadow" style="width: 507px; height: 379px; margin: 0 0 0 0;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/butterfly3.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 380px; height: 395px; float: left; margin: 0 0 0 33px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Творческие диктанты включены в курс<br>
			<span class="tag">Чудо будет!</span>, но можете взять их<br>
			отдельно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 0; line-height: 22px;">
			Грамотность, повышение концентрации<br>
			внимания. Развитие фонематического<br>
			слуха (основа врождённой грамотности).<br>
			Творчество. Коррекция <span class="tag">школьного</span><br>
			невроза. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 54px 0; line-height: 22px;">
			Курс: 4 занятия по 3 ак.часа каждое.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			Автор технологии и педагог –<br>
			профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Ассоциативная слепота
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Ассоциативная слепота – это отсутствие ассоциаций со зрительным образом. Человек понимает смысл фразы, но<br>
	совершенно не в состоянии представить или описать <span class="tag">картинку</span>. Это препятствие в обучении языкам. Необходима<br>
	коррекция. Советуем <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">курс </span><span class="red font-verdana tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Нарушения идентификации
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Идентификация – способность сличать и различать объекты, в том числе лингвистические. Нарушение зрительной<br>
	идентификации выглядит так: ученик вызубрил все правила, но	грамотно писать не может. Он помнит, например, что<br>
	вводные слова надо выделять	запятыми, но не может этого сделать – не видит, не воспринимает, не различает<br>
	вводное	слово как лингвистический объект среди прочих слов. Коррекция требуется обязательно.<br>
	Советуем курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red font-verdana tag">Чудо будет!</span></a>, или <a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: black;"><span class="red font-verdana tag">Врождённая грамотность</span></a>, или <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" style="text-decoration: underline; color: black;"><span class="red font-verdana tag">Вертикальный взлёт</span></a> (английский язык).
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 84px 0 51px 0; line-height: 25px;">
	<span class="tag">Врождённая грамотность</span>. <span class="tag">Вертикальный взлёт</span>.
</p>
<div style="width: 960px; height: 350px; padding: 0 0 0 0;">	
	<div style="width: 323px; height: 350px; float: left; margin: 0 0 0 64px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]'">
		<div style="width: 323px; height: 243px; margin: 0 0 0 0;">
			<div style="width: 323px; height: 243px; margin: 0 auto 16px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.jpg" width="100%" height="100%" alt="Космонавт">
			</div>
			<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
				<span class="tag">Вертикальный взлёт</span><br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Английский язык. ГИА, ЕГЭ.</span></a>
			</p>
			<p class="dark-blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px;">
				Сверхскоростное нейролингвистическое<br>
				обучение на уровне Подсознания.
			</p>
		</div>
	</div>
	<div style="width: 328px; height: 350px; float: right; margin: 15px 52px 0 0; position: relative; z-index: 2; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'">
		<div style="width: 328px; height: 226px; float: left; margin: 0 0 18px 0;">
			<div style="width: 328px; height: 226px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl2.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
			<span class="tag">Врождённая грамотность</span>
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Русский язык. ГИА, ЕГЭ.</span></a>
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px;">
			Всего 12 занятий – и ошибок нет!
		</p>	
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 70px 0 36px 0;">
	<span class="tag">Школьный</span> невроз
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	<span class="tag">Школьный</span> невроз возникает как противоречие между предъявляемыми требованиями (например, обучаться чему-<br>
	либо) и полной невозможностью эти требования выполнить (например, в силу дислексии). <span class="tag">Школьный</span> невроз –<br>
	тяжелейшее заболевание. Само по	себе не пройдёт. Необходима коррекция.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	<span class="tag">Школьный</span> невроз у каждого человека проявляется по-разному. Это может быть лень, <span class="tag">нерадивость</span>, агрессивное<br>
	нежелание учиться или апатия, равнодушие, <span class="tag">уход в компьютер</span>, слезливость, неуравновешенность, лживость,<br>
	трусливость. Всё это может перерасти в необратимые изменения психики и в конечном счёте – изломанный характер и<br>
	такую же судьбу.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	В тяжёлых случаях <span class="tag">школьный</span> невроз может перерасти в фобию. Необходима коррекция.<br>
	Советуем курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red font-verdana tag">Чудо будет!</span></a> или <span class="red tag">Арт-терапия</span>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 85px 0 40px 0;">
	Арт-терапия
</p>
<div id="load-video2" class="load-video" style="width: 640px; height: 360px; margin: 0 auto;">
</div>
<p class="dark-blue size-14 bold font-arial center line-height-23" style="margin: 16px 0 49px 0;">
	Папа и сын. Сеанс <span class="tag">Арт-терапии</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 10px 0 21px 39px; line-height: 22px;">
	Для любого возраста. 
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; line-height: 22px;">
	Страхи, стрессы, неврозы снимаются как рукой. Характер становится мягче и пластичнее. Гармонизируются<br>
	взаимоотношения в семье. Приходит вера в себя и свои силы. Плюс немного русского, грамотности, красивого почерка,<br>
	литературы, чтения, речи. И	много-много ИГРЫ и ТВОРЧЕСТВА.
</p>
<p class="blue size-14 font-verdana" style="margin: 0 0 21px 39px; line-height: 22px;">
	<span class="bold">Обязательное условие:</span> родители не только присутствуют на занятиях, но играют,	обучаются и веселятся вместе со<br>
	своими детьми!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; line-height: 22px;">
	<span class="tag">Арт-терапия</span> включена в курс <span class="tag">Чудо будет!</span>, но можете взять её отдельно.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 39px; line-height: 22px;">
	Курс: 4 занятия по 3 ак.часа каждое. Выраженный эффект уже после первого. 
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 39px; line-height: 22px;">
	Автор технологии и педагог –<br>
	профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Стресс
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	В результате стрессов грамотность и речь резко ухудшаются. Это доказано ещё Зигмундом Фрейдом. Неблагоприятная<br>
	обстановка в семье, пережитые трагические события, грубость, обиды, жёсткое воспитание могут служить причинами<br>
	плохой успеваемости.<br>
	Советуем курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red tag">Чудо будет!</span></a>, или <span class="red tag">Арт-терапия</span>, или <span class="red tag">Арт-талант</span> (для младших школьников)
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 88px 0 5px 0;">
	Арт-талант
</p>
<p class="dark-blue size-16 font-verdana center" style="margin: 0 0 39px 0;">
	Творчески-игровой курс для школьников 1-3 классов.
</p>
<p class="blue size-20 font-verdana" style="margin: 0 0 30px 24px; line-height: 25px;">
	Вам говорят, что он – тупой?<br>
	<span style="margin: 0 0 0 84px;">Вам говорят, что он – лентяй?</span><br>
	<span style="margin: 0 0 0 169px;">Вам говорят, что она – егоза?</span>
</p>
<p class="red size-24 font-verdana bold center" style="margin: 0 80px 30px 26px; line-height: 25px;">
	НЕПРАВДА!
</p>
<p class="blue size-20 font-verdana" style="margin: 0 0 54px 24px; line-height: 25px;">
	<span style="margin: 0 0 0 496px;">Ваш ребёнок – <span class="bold">ТАЛАНТ!</span></span>
</p>
<div id="load-video3" class="load-video" style="width: 640px; height: 360px; margin: 0 auto;">	
</div>
<p class="blue bold size-18 font-verdana" style="margin: 55px 0 19px 80px;">
	Полностью игровой – от начала до конца! – курс.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Усидчивость, выносливость, работоспособность, внимательность.<br>
	Чтение, речь, письмо, творчество.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Ликвидация признаков дислексии, дисграфии, <span class="tag">школьного</span> невроза.<br>
	Поддержка психолога (доктор наук).
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Интерес и любовь к учёбе появляются с первого занятия. 
</p>
<p class="blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	<span class="bold">Обязательное условие:</span> родители не только присутствуют на занятиях, но	играют, обучаются и<br>
	веселятся вместе со своими детьми!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 80px; line-height: 22px;">
	Курс: 4 занятия по 2 ак.часа каждое.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 80px; line-height: 22px;">
	Автор технологии и педагог –<br>
	профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="dark-blue">Ольга Олеговна Веровенко</span></a>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Фобии
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Фобия – это интенсивный, иррациональный или неадекватный страх перед предметом,	человеком или ситуацией,<br>
	достигающий такой степени, которая препятствует нормальной<br>
	жизни больного.
</p>
<ul class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 80px; line-height: 22px;">
	<li>Галофобия – страх говорить.</li>
	<li>Фонофобия – страх говорить громко.</li>
	<li>Алофобия – страх публичных выступлений (в том числе в школе у доски).</li>
	<li>Схолионофобия – страх школы.</li>
	<li>Ридингфобия – страх чтения.</li>
	<li>Графофобия – страх письма.</li>
</ul>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 80px; line-height: 22px;">
	Советуем курс <span class="red tag">Чудо будет!</span> или <span class="red tag">Четвёртое измерение</span> (см.ниже)
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Скука, лень, отсутствие интереса к учёбе
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Эти симптомы означают, что у вашего ребёнка выработалась <span class="blue bold">отрицательная</span> услованя обратная связь на уровне<br>
	Подсознания.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Чтобы заменить её на <span class="blue bold">положительную</span> (интерес и любовь к учёбе, собранность, аккуратность, работоспособность),<br>
	советуем взять наши игровые курсы обучения: <span class="red tag">Чудо будет!</span>, или <span class="red tag">Арт-терапия</span>, или <span class="red tag">Арт-талант</span>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Наказание
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Если вместо квалифицированной помощи нейролингвиста ребёнок подвергается порицаниям, ругани, обвинениям в<br>
	лени и нерадивости, то это усугубляет и без того тяжёлую ситуацию.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px;">
	Подробнее об этом читайте в статье <a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: none; color: #4A4A4A;"><span class="red tag">У кого есть глупо дитятко?..</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0;">
	Нейролингвистика
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Нейролингвистика – это сочетание психологии, лингвистики и неврологии, которая рассматривает усвоение и<br>
	обработку языка, а также корректирует проблемы, связанные с	нарушениями природных функций.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Устраняя и корректируя специфические проблемы, нейролингвистика даст вам самое главное – здоровье и<br>
	способность легко обучаться всему: языкам, чтению, грамотности,	речи, <span class="blue bold">как задумано и положено самой<br>
	природой</span>.
</p>
<p class="red size-14 font-verdana" style="margin: 0 0 21px 41px; line-height: 22px;">
	Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 36px 0; position: relative; z-index: 5;">
	Гипнотерапия
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; position: relative; z-index: 5; line-height: 22px;">
	Гипнотерапия – одна из форм психотерапии, при которой используется гипноз. Гипноз –	наведённое особое состояние<br>
	сознания, промежуточное между сном и бодрствованием, при котором тормозятся многие ментальные функции, что<br>
	позволяет подсознанию приблизиться к поверхности сознания. Гипнотерапия, как показывает опыт, может служить<br>
	хорошим инструментом для проникновения в подсознательное, что позволяет исцелить застарелые психические<br>
	травмы.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 41px; position: relative; z-index: 5; line-height: 22px;">
	Курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red tag">Чудо будет!</span></a> или <span class="red">Четвёртое измерение</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 79px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 45px 0;">
	(психология-<span class="light-blue bold italic">NL</span> для взрослых)
</p>
<div style="width: 960px; height: 449px; margin: 0 0 0 0;">	
	<div style="width: 468px; height: 449px; float: right; margin: 0 17px 0 0; position: relative; z-index: 5;">
		<div class="image-shadow" style="width: 468px; height: 433px; margin: 0 0 0 0;">
			<img src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/nlpsy/flygirl.jpg" width="100%" height="100%" alt="Летящая девушка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 450px; height: 449px; float: left; margin: 0 0 0 14px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Привлечение всей мощи вашего Подсознания и<br>
			Сверхсознания для решения ваших конкректных проблем.<br>
			Ликвидация неврозов, стрессов, страхов. Молниеносный<br>
			выход из любого <span class="tag">тупика</span> развития и кризисной ситуации.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Конфиденциальность гарантируется. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="light-blue bold italic">NL</span>-психология для взрослых и детей включена в любой<br>
			длительный комплексный курс обучения<br>
			с проф. О.О.Веровенко БЕСПЛАТНО.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но, если хотите, можете взять сеансы <span class="light-blue bold italic">NL</span>-психологии<br>
			отдельно.
		</p>
		<p class="red size-14 font-verdana center" style="margin: 0 0 23px 0; line-height: 22px;">
			Пожалуйста, не путайте NL-психологию с НЛП<br>
			(нейролингвистическим программированием)!
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 112px 0 23px 0; position: relative; z-index: 5;">
	Кот и хвост
</p>
<div style="width: 960px; height: 380px; padding: 0 0 0 0;">	
	<div style="width: 550px; height: 331px; float: left; margin: 0 0 0 62px; position: relative; z-index: 2;">
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Дорогие мамы и папы, бабушки и дедушки!
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Корректировать и обучать детей до 12 лет относительно легко.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Старше 12 лет – намного труднее. Вам потребуется в 2-3 раза<br>
			больше времени, сил и, естественно, денег.
		</p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Так что не тяните кота...
		</p>	
	</div>
	<div style="width: 282px; height: 427px; float: right; margin: -50px 54px 0 0;">
		<div class="trans54" style="width: 282px; height: 427px; margin: 0 auto; position: relative; z-index: 1;">
			<img class="trans55" style="margin: -800px 0 0 -800px; opacity: 0;" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/cat2.jpg" width="100%" height="100%" alt="Кот с хвостом">
		</div>
	</div>
</div>
<p class="yellow bold size-24 font-verdana center" style="margin: 32px 0 23px 0; position: relative; z-index: 5; line-height: 30px;">
	Сеансы ведёт<br>
	доктор психологических наук профессор<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; border-bottom: 1px solid #A98700;"><span class="yellow">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 110px 0 44px 0;">
	Что почитать
</p>
<p class="yellow size-18 bold font-verdana" style="margin: 0 0 10px 23px;">
	Статья <span class="tag">У кого есть глупо дитятко? У кого их только нет...</span>
</p>
<p class="blue size-14 font-verdana bold" style="margin: 0 0 21px 23px; line-height: 22px;">
	Полезные советы родителям. Читайте внимательно!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 23px; line-height: 22px;">
	Ваш ребёнок – хороший человечек, пятёрочник по физике, математике, истории, чему угодно, кроме русского языка. Ну не<br>
	может он писать без ошибок!<br>
	Вот с такой проблемой приходят к нам на курсы «Врождённой грамотности».
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 23px; line-height: 22px;">
	Мы берём за основу существующий в реальной жизни феномен – врождённую грамотность.
</p>
<div style="width: 960px; height: 395px; margin: 0 0 0 0;">	
	<div style="width: 534px; height: 395px; float: right; margin: 0 10px 0 0; position: relative;">
		<div class="image-shadow" style="width: 534px; height: 321px; margin: 10px 0 0 0;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/boy.jpg" width="100%" height="100%" alt="Мальчик у стены">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 bold font-arial center" style="margin: 16px 0 0 0; line-height: 22px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
	<div style="width: 380px; height: 395px; float: left; margin: 0 0 0 23px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Речь идёт о людях, зачастую весьма<br>
			поверхностно знающих правила, но тем не<br>
			менее практически не делающих ошибок при<br>
			письме.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Они обладают врождённой грамотностью.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Что же это за феномен такой?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 44px 0; line-height: 22px;">
			О методе <span class="tag">Врождённой грамотности</span> и<br>
			других наших технологиях обучения читайте<br>
			подробную статью
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">У кого есть глупо дитятко?...</span></a>
		</p>
	</div>
</div>
<p class="yellow size-18 bold font-verdana" style="margin: 55px 0 44px 15px;">
	Статья <span class="tag">Чудо будет!</span>
</p>
<div style="padding-top: 0; height: 382px;">
	<div style="width: 524px; height: 382px; margin: 0 auto;">
		<div class="image-shadow" style="width: 524px; height: 366px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/butterfly.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 27px 0 32px 15px; line-height: 22px;">
	О вашем ребёнке: проблемах обучения и поведения. психике и наших чудесах.<br>
	О связи игрового творческого обучения с особенностями вашего Подсознания читайте в статье
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 91px 0; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">Чудо будет!</span></a>
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 0 0 84px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]