<p class="blue font-verdana size-36 normal center" style="margin: 36px 0 60px 0;">
	Он лентяй или болен?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Большинство людей пишет грамотно, не обременяя себя изучением каких-либо правил<br>
	грамматики. Эта грамотность называется <span class="tag">врождённой</span>. Она является <span class="blue bold">нормой</span>, присущей<br>
	мозгу здорового человека.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Здоровый человек легко и просто обучается речи, чтению, письму, грамотности,<br>
	иностранным языкам. Это <span class="blue bold">природная, врождённая</span> функция человеческого мозга.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Нарушение природных функций
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Природные функции человеческого мозга у некоторых людей нарушены в силу разных<br>
	причин, основная из которых - дефицит концентрации внимания.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Дефицит концентрации внимания
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Дефицит концентрации внимания – пожалуй, самое распространенная причина плохой<br>
	успеваемости в школе. Дефицитом концентрации внимания в той или иной степени<br>
	страдает каждый третий учащийся. Если концентрация внимания:
</p>
<ul class="grey size-18 font-verdana line-height-23" style="margin: 0 0 0 80px;">
	<li style="margin: 0 0 22px 0;"><span class="blue bold">Чуть выше нормы</span> <span class="dark-blue size-18 font-verdana">(коэффициент 127-128 в наших тестах).  Это истинный<br>
	золотомедалист. Может «бить баклуши», учиться «левой пяткой», но его отметка<br>
	никогда не будет ниже «пятёрки». Почему так происходит, он сам не понимает и очень<br>
	удивляется, что у других так не получается. Высокая концентрация внимания дана ему<br>
	либо от природы, либо поставлена талантливыми педагогами в начальной школе.</span></li>
	<li style="margin: 0 0 22px 0;"><span class="blue bold">Норма</span> <span class="dark-blue size-18 font-verdana">(коэффициент 120 – минимальная норма здоровья). Учащийся с таким<br>
	коэффициентом может быть двоечником или хорошистом в зависимости от характера и<br>
	психологической установки, но способен легко, почти молниеносно, обучаться в<br>
	благоприятных условиях.</span></li>
	<li style="margin: 0 0 22px 0;"><span class="blue bold">Чуть ниже нормы.</span> <span class="dark-blue size-18 font-verdana">Коэффициент ниже 110 говорит о некоторых проблемах развития<br>
	зон Брока-Вернике. Это хронический «троечник». Особенно тяжело с грамотностью.<br>
	Может трудиться 25 часов в сутки, но «четвёрка» недосягаема, хотя по математике<br>
	может учиться вполне хорошо.</span></li>
	<li style="margin: 0 0 22px 0;"><span class="blue bold">Всего 10 % от нормы или ещё ниже.</span><span class="dark-blue size-18 font-verdana">Коэффициент ниже 10 (что мы довольно часто<br>
	встречаем в нашей практике) говорит о серьёзных проблемах развития зон Брока-<br>
	Вернике и очень тяжёлых заболеваниях - дислексии, дисграфии.</span></li>
</ul>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Дислексия, дисграфия
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Дислексия, дисграфия – общие термины, означающие неспособность легко обучаться<br>
	чтению, речи, письму, иностранным языкам человеку, совершенно здоровому во всех<br>
	других отношениях, в силу специфических заболеваний или аномалий развития зон<br>
	Брока-Вернике.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Зоны Брока-Вернике
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Зона Брока – довольно обширная часть мозга в левом полушарии, которая отвечает за<br>
	родную речь, чтение и грамотность. За обучение иностранным языкам, как считается,<br>
	отвечает зона Вернике.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Аномальное развитие или незначительное повреждение этих зон мозга в результате<br>
	заболеваний или травм (в том числе родовых), стрессовых ситуаций приводит к<br>
	проблемам при обучении речи, грамотности, чтению, иностранным языкам. В основе<br>
	дислексии, дисграфии, как правило, лежит афазия.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Афазия
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Афазия (<span class="tag">не-фаза</span>) – очень серьёзное заболевание зон Брока-Вернике, препятствующее<br>
	обучению языкам, речи, чтению, письму. Может быть наследственным заболеванием или<br>
	приобретенным в результате травмы. Подразделяется на оптическую (аноминация из-за<br>
	отсутствия зрительного образа); акустическую (аноминация из-за отсутствия звукового<br>
	образа); амнестическую (замена нужного слова близким по структуре и значению);<br>
	афферентную моторную (парафразия слов и букв); эфферентную моторную (нарушение<br>
	смены артикулем). Необходима коррекция.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Фонематический слух
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Фонематический слух даёт <span class="tag">чутьё</span> языка, интуицию, которая позволяет схватывать язык<br>
	<span class="tag">на лету</span>, не вдаваясь в правила. Можно смело сказать, что фонематический слух (не<br>
	путать с музыкальным) – основа врождённой грамотности и успеха в изучении<br>
	иностранных языков. И наоборот: плохо поставленный, не проработанный с детства,<br>
	<span class="tag">хилый</span> фонематический слух даёт большие проблемы в обучении. Необходима<br>
	коррекция.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Ассоциативная слепота
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Ассоциативная слепота – это отсутствие ассоциаций со зрительным образом. Человек<br>
	понимает смысл фразы, но совершенно не в состоянии представить или описать<br>
	<span class="tag">картинку</span>. Большое препятствие в обучении языкам. Необходима коррекция.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Нарушения идентификации
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Идентификация – способность сличать и различать объекты, в том числе лингвистические.<br>
	Нарушение зрительной идентификации выглядит так: ученик вызубрил все правила, но<br>
	грамотно писать не может. Он помнит, например, что вводные слова надо выделять<br>
	запятыми, но не может этого сделать – не видит, не воспринимает, не различает вводное<br>
	слово как лингвистический объект среди прочих слов. Коррекция требуется обязательно.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	<span class="tag">Школьный</span> невроз
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	<span class="tag">Школьный</span> невроз возникает как противоречие между предъявляемыми требованиями<br>
	(например, обучаться чему-либо) и полной невозможностью эти требования выполнить<br>
	(например, в силу дислексии). <span class="tag">Школьный</span> невроз – тяжелейшее заболевание. Само по<br>
	себе не пройдёт. Необходима коррекция.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	<span class="tag">Школьный</span> невроз у каждого человека проявляется по-разному. Это может быть лень,<br>
	<span class="tag">нерадивость</span>, агрессивное нежелание учиться или апатия, равнодушие,<br>
	уход <span class="tag">в компьютер</span>, слезливость, неуравновешенность, лживость, трусливость. Всё это<br>
	может перерасти в необратимые изменения психики и в конечном счёте – изломанный<br>
	характер и такую же судьбу.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	В тяжёлых случаях <span class="tag">школьный</span> невроз может перерасти в фобию.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Фобии
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Фобия – это интенсивный, иррациональный или неадекватный страх перед предметом,<br>
	человеком или ситуацией, достигающий такой степени, которая препятствует нормальной<br>
	жизни больного.
</p>
<ul class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 80px;">
	<li>Галофобия – страх говорить.</li>
	<li>Фонофобия – страх говорить громко.</li>
	<li>Алофобия – страх публичных выступлений (в том числе в школе у доски).</li>
	<li>Схолионофобия – страх школы.</li>
	<li>Ридингфобия – страх чтения.</li>
	<li>Графофобия - страх письма.</li>
</ul>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Стресс
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	В результате стрессов грамотность и речь резко ухудшаются. Это доказано ещё Зигмундом<br>
	Фрейдом. Неблагоприятная обстановка в семье, пережитые трагические события,<br>
	грубость, обиды, жёсткое воспитание – одна из причин плохой успеваемости.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Наказание
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Если вместо квалифицированной помощи нейролингвиста ребёнок подвергается<br>
	порицаниям, ругани, обвинениям в лени и нерадивости, то это усугубляет и без того<br>
	тяжёлую ситуацию.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Нейролингвистика
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Нейролингвистика – это сочетание психологии, лингвистики и неврологии, которая<br>
	рассматривает усвоение и обработку языка, а также корректирует проблемы, связанные с<br>
	нарушениями природных функций.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Устраняя и корректируя специфические проблемы, нейролингвистика даст вам самое<br>
	главное – здоровье и способность легко обучаться всему: языкам, чтению, грамотности,<br>
	речи, <span class="blue bold">как задумано и положено самой природой</span>.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Гипнотерапия
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Гипнотерапия – одна из форм психотерапии, при которой используется гипноз. Гипноз –<br>
	наведенное особое состояние сознания, промежуточное между сном и бодрствованием,<br>
	при котором тормозятся многие ментальные функции, что позволяет подсознанию<br>
	приблизиться к поверхности сознания. Гипнотерапия, как показывает опыт, может служить<br>
	хорошим инструментом для проникновения в подсознательное, что позволяет исцелить<br>
	застарелые психические травмы.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Возраст коррекции
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	<span class="blue bold">Любые проблемы обучения корректируются.</span> У детей до 12 лет – относительно легко и быстро, после 12 лет – труднее и дольше, но...
</p>
<p class="red bold size-24 font-verdana center" style="margin: 39px 0 48px 0;">
	Чудо будет!
</p>
<p class="red size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Вас примет<br>
	специалист международного класса в области ликвидации проблем обучения<br>
	нейролингвист, доктор наук, профессор
</p>
<p class="bold size-24 font-verdana center" style="margin: 19px 0 59px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Ольга Олеговна Веровенко</span></a>
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 17px 0;">
	Подробности о наших методиках и <span class="light-blue bold" style="font-style: italic;">NL</span>-обучении см. в статьях:
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 65px 0; text-decoration: underline;">
	<span class="tag">Чудо будет!</span><br>
	<span class="tag">У кого есть глупо дитятко?</span>
</p>