<p class="yellow size-24 font-verdana bold" style="margin: -8px 0 0 0;">
	Ответы на ваши основные вопросы
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 62px 0 35px 0;">
	Финансовые
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 80px;">
	1. Как получить скидку до <span class="red">55% и Рождественскую до 75%</span>?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 80px;">
	Обрести статус <span class="red bold">Persona Grata</span>. Для этого надо выполнить все требования, предъявляемые<br>
	к <span class="red bold">Persona Grata</span>. Первое из них – внимательно ознакомиться с материалами сайта.
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 17px 80px;">
	Статус надо постоянно поддерживать. <span class="blue">Альтернатива: оплата по базовой стоимости.</span>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 80px;">
	Подробно о статусе <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_grata; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red">Persona Grata</span></a>.
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 80px;">
	2. Порядок оплаты
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 40px 80px;">
	Предоплата <span class="red bold">100%</span> (за курс или полукурс). Оплата по занятиям возможна только по<br>
	базовой стоимости, что в 2 раза дороже.
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 40px 80px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_stoimost; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">4. Сколько стоит?</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 80px;">
	5. Рассрочка платежа.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 80px;">
	Рассрочка платежа предусмотрена. Можно оплачивать за <a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_ind_stoimost; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="dark-blue ">полукурс</span></a>.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 96px 0 35px 0;">
	Организационные
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 40px 40px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_adres; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">1. Где проходят занятия?</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 40px 40px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_viezd; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">2. Выезд к вам.</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 40px;">
	3. Графики занятий.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 40px 40px;">
	Графики занятий – любые. Составив график, <span class="red bold">Persona Grata</span> строго его придерживается.<br>
	Свободный график возможен, но оплата только по базовой стоимости.
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 40px 40px;">
	<span class="bold">4. Длительность занятия (сеанса):</span> <span class="red">3 ак.часа</span> <span class="dark-blue">(2 часа 15 минут + перерывы).</span>
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 40px 40px;">
	<span class="bold">5. Длительность курса:</span> <span class="red">4-12 занятий</span> <span class="dark-blue">в зависимости от факультета или предмета.<br>
	Возможен полукурс из 6 занятий.</span>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 40px;">
	6. Тестирование, пробное занятие.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 40px 40px;">
	Тестирование идёт во время пробного занятия. Пробное занятие оплачивается отдельно.<br>
	Его стоимость значительно ниже стоимости обычного занятия.
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 40px 40px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_bronirovanie; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">7. Бронирование места.</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 40px;">
	8. Иногородние учащиеся.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 40px 40px;">
	Иногородние учащиеся могут приехать по предварительной договорённости и	заниматься в<br>
	любом удобном для себя графике, в том числе ежедневно.
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 40px;">
	9. Пропуски занятий.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 40px 40px;">
	Для <span class="red bold">Persona Grata</span> в течение одного учебного курса допускается только 1 (один) перенос<br>
	занятия по любой причине (падение метеорита, баланс, свадьба, прилёт инопланетян и т.д.).<br>
	Опоздание – не более чем на 15 мин.<br>
	Мы можем глубоко сочувствовать вам, но всё остальное за ваш счёт. <br>
	<span class="blue bold">Альтернатива:</span> статус <span class="bold" style="color: black;">Persona non Grata</span> и занятия по базовой стоимости, без скидок.
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 19px 40px;">
	10. Учебники и учебные материалы.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 40px 40px;">
	Шикарные учебники и учебные материалы выдаются бесплатно.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 96px 0 35px 0;">
	Обучение
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	1. Что есть для младших школьников (2-3 класс)?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 38px 87px;">
	<span class="red bold tag">Арт-талант</span> (усидчивость, внимательность, чтение, речь, письмо, русский, развитие<br>
	творческого мышления, психология + коррекция проблем).
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	2. Что есть для младших школьников 3-6 классов?
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Чудо будет!</span></a> (<span class="tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>: обучение + коррекция проблем).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Арт-терапия</span></a> (ликвидация дисграфии, дислексии за 1 сеанс).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Вертикальный взлёт</span></a> (английский + повышение концентрации внимания).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">Психолог, доктор наук.</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	3. Что есть для школьников 7-11 классов?
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Врождённая грамотность.</span> <span class="red bold">ГИА, ЕГЭ-комплекс.</span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">Творчество</span></a> (сочинения, изложения, эссе).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Вертикальный взлёт</span></a> (английский язык).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Арт-терапия</span></a> (ликвидация дисграфии, дислексии за 1 сеанс).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Чудо будет!</span></a> (<span class="tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>: обучение + коррекция проблем).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">Психолог, доктор наук.</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	4. Что есть для взрослых?
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 4px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Вертикальный взлёт</span></a> (английский язык на уровне подсознания).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Врождённая грамотность для взрослых</span></a> (практическая грамотность для жизни,<br>
	речь, раскрепощение + <span class="light-blue bold italic">NL</span>-психология).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chetvertoe_izmerenie; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Четвёртое измерение</span></a> (сеансы <span class="light-blue bold italic">NL</span>-психологии).
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 17px 87px;">
	5. Что есть для учащихся с проблемами обучения <span class="normal dark-blue">(дислексия, дисграфия,<br>
	<span class="tag">школьный</span> невроз)?</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 2px 87px;">
	<span class="red bold tag">Арт-талант</span> (усидчивость, внимательность, чтение, речь, письмо, русский, развитие<br>
	творческого мышления, психология + коррекция проблем).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Арт-терапия</span></a> (ликвидация дисграфии, дислексии за 1 сеанс).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Чудо будет!</span></a> (<span class="tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>: обучение + коррекция проблем).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Вертикальный взлёт</span></a> (английский + повышение концентрации внимания).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">Психолог, доктор наук.</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	6. Что подходит для индивидуального обучения?
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	Любой курс. Качество наивысшее!
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	7. Что подходит для совместных занятий родителей с детьми?
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">Английский язык <span class="dark-blue normal">(программа <span class="tag">Шаттл</span>).</span></span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold tag">Чудо будет!</span></a>
</p>
<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 87px;">
	8. Что есть для занятий в мини-группе?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 38px 87px;">
	Занятия возможны в мини-группе, сформированной вами (друзья, супруги, коллеги).<br>
	Подходит любой курс. Очень выгодная цена.<br>
	<span class="blue size-16">Сами групп мы не формируем уже много лет.</span>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 96px 0 35px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja_unikalnost; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">1. Патенты, награды, сертификаты Качества Госстандарта РФ.</span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja_effektivnost; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">2. Эффективность.</span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">3. Результаты обучения</span></a> (на примере русского языка).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">4. Персональный куратор</span></a> (контролирует качество обучения каждого учащегося).
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">5. СМИ о нас.</span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika_istorija; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">6. Наша история.</span></a>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 38px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">7. Отзывы, благодарности, поздравления.</span></a> <span class="blue bold">Нам 25 лет! Юбилейный сайт.</span>
</p>

<p class="light-blue size-24 font-verdana bold center" style="margin: 96px 0 35px 0;">
	Что почитать?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 4px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">1. <span class="tag">Он лентяй или болен?</span></span></a> <span class="blue bold">Вам это важно знать!</span><br>
	О некоторых проблемах обучения детей в школе.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">2. <span class="tag">У кого есть глупо дитятко?</span></span></a> О связи Подсознания и способностей к обучению.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="red bold">3. <span class="tag">Чудо будет!</span></span></a> Самая современная игровая технология обучения.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 96px 0 35px 0;">
	Разное
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 15px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika_zombie; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue bold">1. Зомбируете ли вы?</span></a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 2px 87px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika_chto_eto; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue bold">2. Что такое нейролингвистика?</span></a><br>
	<span class="blue size-15">Пожалуйста, не путайте нейролингвистику с NLP (нейролингвистическим программированием).</span>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 88px 0 35px 0;">
	С чего начать?
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 15px 87px;">
	С записи на приём и пробный сеанс к профессору <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" target="_self" style="text-decoration:underline; color: #0065B1;"><span class="blue bold">Ольге Олеговне Веровенко</span></a>.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 74px 0 35px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="light-blue bold">Телефон</span></a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 63px 87px;">
	<span class="blue bold">Дорогие мои!</span> Буду рада ответить на все ваши <span class="red">ДОПОЛНИТЕЛЬНЫЕ</span> вопросы. Надеюсь<br>
	на то, что с <span class="red">ОСНОВНЫМИ</span> вы всё-таки ознакомились сами.
</p>
<p class="yellow bold size-18 font-verdana line-height-23" style="margin: 0 0 15px 0; text-align: right;">
	<span style="margin: 0 81px 0 0;">Всегда рада вам,</span><br>
	<span style="margin: 0 43px 0 0;">ваша Ольга Олеговна.</span>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 47px 0 35px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue bold">К навигации</span></a>
</p>