<p style="margin: 0 0 0 0;"><a name="nesterenko"></a></p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 22px 0 5px 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<div style="width: 960px; height: 530px; padding: 46px 0 7px 0;">	
	<div style="width: 415px; height: 530px; float: left; margin: 0 0 0 31px;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 20px 22px 0;">
			Дорогая Ольга Олеговна!<br>
			Вы – настоящая добрая волшебница!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ваши работы по <span class="tag">Четвёртому измерению</span><br>
			(психология-<span class="light-blue bold italic">NL</span>) запустили во мне<br>
			сильнейшие преобразования: захотелось<br>
			очистить от ненужных накоплений свою<br>
			квартиру, своё тело и свою душу. Это<br>
			помогает всей моей семье: у сына<br>
			отступила смертельно опасная болезнь.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Измени Реальность вокруг себя – и эта<br>
			волна докатится до окружающих. Будь на<br>
			волне! Лови Поток! Это внушает большие<br>
			надежды и вдохновляет на новые<br>
			свершения.
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Резко возросла производительность<br>
			радостного труда, как интеллектуального,<br>
			так и физического.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Благодарю! Благодарю! Благодарю!
		</p>		
	</div>
	<div style="width: 468px; height: 530px; float: right; margin: 0 17px 0 0;">
		<div class="image-shadow-0" style="width: 468px; height: 352px; margin: 70px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/nesterenko.jpg" width="100%" height="100%" alt="Ольга Нестеренко, выпускница МГУТУ имени К.Г.Разумовского, педагог-психолог">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 34px 0 0 0; text-align: right;">
			Ольга Нестеренко,<br>
			выпускница МГУТУ имени<br>
			К.Г.Разумовского, педагог-психолог
		</p>
	</div>
</div>
<p class="size-24 bold font-verdana center" style="margin: 27px 0 12px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Ещё отзывы, благодарности, поздравления</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">СМИ о нас</span></a>
</p>