<div style="width: 960px; height: 50px; margin: -15px 0 0 0;">	
	<div style="width: 400px; height: 50px; float: left; margin: 0 0 0 0;">
		<p class="blue size-30 font-verdana bold" style="margin: 0 0 0 0;">
			Юбилейный сайт
		</p>
	</div>
	<div style="width: 419px; height: 50px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 13px 0 0 0;">
			Поздравления, отзывы, благодарности
		</p>
	</div>
</div>
<p class="yellow bold size-18 font-verdana center" style="margin: 20px 0 0 0;">
	Авторской школе профессора Ольги Олеговны Веровенко
</p>
<p class="red bold size-30 font-verdana center" style="margin: 0 0 0 0;">
	25 лет!
</p>
<div style="width: 960px; height: 417px; padding: 55px 0 25px 0;">	
	<div style="width: 526px; height: 417px; float: left; margin: 0 0 0 22px;">
		<div class="image-shadow-0" style="width: 526px; height: 401px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/sobyanin.jpg" width="100%" height="100%" alt="Сергей Собянин">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 417px; float: right; margin: 0 -9px 0 0;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Уважаемая Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Сердечно поздравляю Вас с<br>
			наступающим Новым годом!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Спасибо за участие в развитии городской<br>
			образовательной среды. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Для меня лично важно<br>
			Ваше активное участие<br>
			в жизни нашего любимого города.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Желаю Вам, Вашим родным и близким<br>
			здоровья, счастья и благополучия в<br>
			Новом году.
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 5px 0 0; text-align: right;">
			Ваш Мэр<br>
			Сергей Собянин
		</p>
	</div>
</div>
<div style="width: 960px; height: 321px; padding: 28px 0 8px 0;">	
	<div style="width: 404px; height: 321px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 111px 0 44px 0;">
			Примите пожелания счастья,<br>
			здоровья, мира и благополучия!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 22px 0 0; text-align: right;">
			Юрий Михайлович Лужков
		</p>	
	</div>
	<div style="width: 531px; height: 321px; float: right; margin: 0 11px 0 0;">
		<div class="image-shadow-0" style="width: 531px; height: 321px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/luzhkov.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 89px 0 0 0;">
	Диплом Правительства Москвы
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 0 0;">
	<span class="tag">За вклад в развитие столицы России</span>
</p>
<div style="width: 960px; height: 489px; padding: 54px 0 8px 0;">	
	<div style="width: 300px; height: 489px; float: left; padding-right: 0px">
		<p class="yellow size-18 font-verdana bold center line-height-23" style="margin: 175px 0 0 0;">
			<span class="tag">ИСКРЕННЕ БЛАГОДАРИМ<br>
			ВАС ЗА ВАШЕ ВНИМАНИЕ<br>
			К МОСКВЕ И ВАШ ВКЛАД<br>
			В РАЗВИТИЕ СТОЛИЦЫ<br>
			РОССИИ.</span>
		</p>	
	</div>
	<div style="width: 629px; height: 505px; float: right; margin: 0 22px 0 0;">
		<div class="image-shadow-0" style="width: 629px; height: 489px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/diplom.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="padding-top: 99px; height: 160px;">
	<div style="width: 768px; height: 160px; margin: 0 0 0 28px;">
		<div style="width: 768px; height: 160px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/muradyan.jpg);">
		</div>
	</div>
</div>
<div style="width: 960px; height: 445px; padding: 0 0 25px 0;">	
	<div style="width: 294px; height: 445px; float: left; margin: 0 0 0 28px;">
		<div class="image-shadow-0" style="width: 294px; height: 429px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/muradyan1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 467px; height: 445px; float: right; margin: 0 164px 0 0;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 69px 0 22px 0;">
			Дорогая Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
			Желаем Вам счастья и процветания<br>
			Вашему благородному Делу!
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 44px 0;">
			Добро, посеянное Вами,<br>
			даёт благодатные всходы!<br>
			Обнимаем Вас, 
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 0 0 0; text-align: right;">
			Тигран Мурадян, обладатель титула<br>
			<span class="tag">Музыкант Мира</span> ЮНЕСКО (виолончель),<br>
			и Роза Сергеевна, его мама.
		</p>
	</div>
</div>
<div style="width: 960px; height: 686px; padding: 104px 0 8px 0;">	
	<div style="width: 522px; height: 686px; float: left; padding-right: 0px">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Ольге Олеговне Веровенко – по случаю...
		</p>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 0; text-align: right;">
			Не всякая страна достойна человека.<br>
			Не всякий человек подходит для страны.<br>
			И ищем мы душой свою святую Мекку,<br>
			Где не живём, но жить заслуженно должны.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 38px;">
			Когда у женщины величественна стать,<br>
			А мудростью она – соперница Платону,<br>
			Велит тогда сам Бог ей королевой стать<br>
			И с гордостью носить английскую корону...<br>
			И даже если ей корону не достать,<br>
			И жить приходится в стране с чужим укладом,<br>
			Никто не запретит об Англии мечтать:<br>
			Бродить, как по аллеям собственного сада.<br>
			Слова: <span class="tag">Глаза в глаза глаза не увидать,<br>
			Большое видится на расстоянии</span> –<br>
			Звук не пустой, и верно: можно обладать<br>
			Страной, вкусив заочное о ней познание.<br>
			К тому же, если где-то рядом ходит Некто,<br>
			Кто давней дружбе верен и всегда<br>
			Готов принять участие в любом проекте,<br>
			Он ей подарит горы, реки, города<br>
			Страны, в которую она мечтой стремится,<br>
			Страны, в которой райский её сад.<br>
			И всё пре-всё, о чём мечтается, случится.<br>
			И Некто будет этому безмерно рад.
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 22px 0 0; text-align: right;">
			Борис Николаевич Борисов, актер МХАТ.
		</p>	
	</div>
	<div style="width: 409px; height: 686px; float: right; margin: 0 0 0 0;">
		<div class="image-shadow-0" style="width: 409px; height: 670px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/borisov.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 418px; padding: 107px 0 25px 0;">	
	<div style="width: 370px; height: 418px; float: left; margin: 0 0 0 28px;">
		<div class="image-shadow-0" style="width: 370px; height: 368px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/friend.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Пусть всегда твои друзья<br>
			Будут верными, как я!
		</p>
	</div>
	<div style="width: 487px; height: 418px; float: right;">
		<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 0;">
			Посвящается Ольге Олеговне Веровенко
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Все в мире вертится, и рано или поздно<br>
			Всему однажды предстоит забыться.<br>
			Нетленными останутся лишь Звезды,<br>
			И это значит, нужно к ним стремиться!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 0;">
			Ведь жизнь сложна одной закономерностью –<br>
			С теченьем лет она все сгладит без следа...<br>
			И чтобы не граничить с безызвестностью,<br>
			Должна у избранных быть личная звезда!!! 
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 35px 0 0;  text-align: right;">
			Антоша Мартынов,<br>
			8-й класс.
		</p>
	</div>
</div>
<div style="width: 960px; height: 463px; padding: 78px 0 8px 0;">	
	<div style="width: 470px; height: 463px; float: left; padding-right: 0px">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 44px 0;">
			Привет из Америки!
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
			Я занимался с Ольгой Олеговной – и<br>
			сдал экзамен на отлично!
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
			Спасибо огромное! Самые искренние<br>
			поздравления Школе в связи с<br>
			Юбилеем!
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 44px 0;">
			Сейчас учусь в Академии в городе<br>
			Керри (штат Северная Каролина).<br>
			Приеду в Россию – увидимся!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 60px 0 0; text-align: right;">
			Ваня Аставин, 15 лет,<br>
			США
		</p>	
	</div>
	<div style="width: 443px; height: 463px; float: right; margin: 0 43px 0 0;">
		<div class="image-shadow-0" style="width: 443px; height: 447px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/astavin.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 666px; padding: 98px 0 0 0;">	
	<div style="width: 421px; height: 666px; float: left; margin: 0 0 0 15px;">
		<div class="image-shadow-0" style="width: 421px; height: 610px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/karahanov.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 496px; height: 666px; float: right;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Привет с Олимпиады!<br>
			Дорогая Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span style="margin: 0 0 0 48px;">Я горжусь тем, что стоял бок о бок с Вами в</span><br>
			период становления и развития курсов и<br>
			проработал под Вашим умелым руководством<br>
			больше 10 лет – с 1989 по 2000 годы. Я помню,<br>
			как много было у нас смелых и творческих<br>
			решений, незабываемых встреч с учениками из<br>
			России и США, помню, как по Вашему<br>
			распоряжению я прошёл стажировку в штате<br>
			Коннектикут, что дало мне неоценимую помощь в<br>
			моей дальнейшей карьере.
			<span style="margin: 0 0 0 48px;">Я и моя семья никогда не забудем Вашу</span><br>
			моральную поддержку в трудные годы<br>
			перестройки в нашей стране, когда Вы делали всё<br>
			возможное, чтобы мои знания и умения<br>
			проявились в полную силу, направляя меня<br>
			преподавать в самые разные по уровню знаний<br>
			группы, которые были организованы как в школе,<br>
			так и в различных офисах и компаниях, а весь<br>
			наш дружный коллектив с большой энергией<br>
			работал под руководством такого замечательного<br>
			человека, как Вы, человека, в котором<br>
			прекрасные организаторские способности и<br>
			талант преподавателя сочетались таким образом,<br>
			что курсы <span class="tag">Репетитор</span> в России были и остаются в<br>
			лидерах, не сходят со страниц газет и журналов и<br>
			всегда на устах многих тысяч учеников.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 19px;">
	<span style="margin: 0 0 0 48px;">Последние 8 лет я работаю в оргкомитете по подготовке Зимних Олимпийских игр в Сочи</span><br>
	в качестве специалиста по иностранным языкам в функции <span class="tag">Language services</span>, где тоже<br>
	начинал с истоков, ещё с заявочного комитета, когда мы готовились представить Сочи как<br>
	претендента на право проведения игр в 2014 году и победили в 2007 в далёкой Гватемале.<br>
	За это время мне удалось познакомиться со многими известными людьми, выдающимися<br>
	спортсменами и их наставниками, поработать на Зимних Олимпийских играх в Ванкувере в<br>
	2010 году.<br>
	И вот теперь Зимние Олимпийские игры в Сочи. Это на сегодняшний день один из самых<br>
	крупных проектов страны. И в том, что я причастен к этому, есть немалая Ваша заслуга,<br>
	дорогая Ольга Олеговна.<br>
	<span style="margin: 0 0 0 48px;">Ещё раз от всей души поздравляю Вас и весь Ваш коллектив с юбилеем и желаю, чтобы</span><br>
	перед вами открылись новые, поистине олимпийские возможности и сбылись самые заветные<br>
	мечты! 
</p>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 36px 0 0; text-align: right;">
	С уважением,<br>
	Караханов Павел<br>
	Руководитель проекта по лингвистике<br>
	Оргкомитет «Сочи-2014»
</p>
<div style="width: 960px; height: 1170px; padding-top: 87px;">	
	<div style="width: 486px; height: 1170px; float: left; margin-left: 19px;">
		<div style="width: 486px; height: 629px;">
			<div class="image-shadow-0" style="width: 486px; height: 613px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/klokov.jpg);">
			</div>	
			<div class="image-shadow-right-1">	
			</div>	
			<div class="image-shadow-left-1">			
			</div>
		</div>
		<div style="width: 420px; height: 315px; margin: 79px 0 0 33px;">
			<div class="image-shadow-0" style="width: 420px; height: 315px;">
				<iframe width="420" height="315" src="//www.youtube.com/embed/pfJ-ZZTe1Vk" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="image-shadow-right-1">	
			</div>	
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
	<div style="width: 431px; height: 1170px; float: right; margin: 0 0 0 0;">
		<div style="width: 311px; height: 518px; margin: 0 auto;">
			<div class="image-shadow-0" style="width: 311px; height: 502px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/borisova.jpg);">	
			</div>	
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">				
			</div>
		</div>
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 23px 0 22px 0;">
			Эффект Моцарта
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 13px;">
			Огромное спасибо за психологические<br>
			экзерсисы, которые, как моцартовский<br>
			эффект – секрет целительной энергии –<br>
			восстановили внутреннюю гармонию!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 13px 77px 0; text-align: right;">
			Анна Борисова,<br>
			музыкант<br>
			(орган, фортепиано)
		</p>
		<p class="red size-18 font-verdana bold center line-height-23" style="margin: 0 13px 22px 0;">
			Подарок к юбилею
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 34px;">
			Для всех выпускников, учеников и<br>
			педагогов школы-студии звучит
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 34px;">
			A. Vivaldi – Bassoon Concerto in<br>
			C Minor RV 480, <span class="yellow">ART VERUM<br>
			DUO</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 587px; padding: 32px 0 25px 0;">	
	<div style="width: 436px; height: 587px; float: left; margin: 0 0 0 33px;">
		<div class="image-shadow-0" style="width: 436px; height: 447px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/fomina.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 473px; height: 587px; float: right;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Бесценная Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Занятия в Вашей школе по методу «Врождённая<br>
			грамотность» открыли мне путь в науку.<br>
			Благодаря Вашей системе обучения я смогла<br>
			сдать экзамен по литературе и поступить в<br>
			университет им.М.В.Ломоносова<br>
			на исторический факультет!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			На протяжении всего обучения в университете и<br>
			при написании диссертации на соискание<br>
			учёной степени кандидата исторических наук я<br>
			всегда с благодарностью вспоминала занятия в<br>
			Вашей школе. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Считаю, что Ваше открытие новой системы<br>
			обучения грамотности – настоящая сенсация!<br>
			Уверена, что ещё много поколений детей, попав<br>
			в Вашу школу, смогут избавиться от комплекса<br>
			неудачника, поверить в себя и кардинально<br>
			изменить свою жизнь. 
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 0 0 0; text-align: right;">
			Всегда Ваша,<br>
			Ольга Фомина, кандидат исторических наук,<br>
			Экскурсовод Музеев Московского Кремля
		</p>
	</div>
</div>
<div style="width: 960px; height: 531px; padding: 40px 0 8px 0;">	
	<div style="width: 500px; height: 531px; float: left; padding-left: 33px;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 58px 44px 0;">
			Дорогая Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Поздравляю Вас и всех Ваших соратников с<br>
			замечательным Юбилеем Вашей Школы.
		</p>
		<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 0;">
			Такой хороший Юбилей<br>
			У школы Радости моей!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Вы в жизнь открыли дверь и дали Путь – и<br>
			дочери, и внуку.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 0;">
			От всей семьи желаю  творческих<br>
			достижений, успехов, удачи в претворении<br>
			задуманного и отличного здоровья!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 58px 0 0; text-align: right;">
			С низким поклоном и благодарностью,<br>
			Ваша<br>
			Светлана Фроловна,<br>
			(на фото в центре), врач
		</p>	
	</div>
	<div style="width: 419px; height: 531px; float: right; margin: 0 7px 0 0;">
		<div class="image-shadow-0" style="width: 419px; height: 515px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/frolovna.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 680px; padding: 116px 0 25px 0;">	
	<div style="width: 478px; height: 680px; float: left; margin: 0 0 0 15px;">
		<div class="image-shadow-0" style="width: 478px; height: 428px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bedina.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 449px; height: 680px; float: right;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Спасибо за чудеса!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			На курсы <span class="tag">Репетитор</span> меня привела<br>
			подружка. Мы тогда заканчивали школу.<br>
			Впереди было поступление в институт, а моя<br>
			грамотность не просто хромала – она ездила<br>
			на инвалидной коляске. Появилась стойкая<br>
			ненависть к учебному процессу, к учебникам<br>
			русского языка, к Розенталю. И вдруг эти<br>
			курсы!  Туда мы просто летели – никакой<br>
			зубрежки, нескучный учитель как-то так все<br>
			объяснял, что русский язык перестал быть<br>
			вражеским.<br>
			На вступительный диктант в ИнЯз Мориса<br>
			Тореза я шла с полной уверенностью, что все<br>
			смогу. Теперь у меня за плечами почти<br>
			двадцать лет переводческой работы.<br>
			Я бесконечно благодарна Вам за тот<br>
			счастливый билет, который я вытащила в<br>
			далеком 90 году. Спасибо за чудеса, которые<br>
			вы творите!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 7px 22px 0; text-align: right;">
			С уважением,<br>
			Христина Бедина,<br>
			переводчик.
		</p>
		<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 0 0;">
			P.S. Педагогом Христины был Олег<br>
			Анатольевич Корионов (см.ниже). Вот и<br>
			свиделись!
		</p>
	</div>
</div>
<div style="width: 960px; height: 632px; padding: 28px 0 8px 0;">	
	<div style="width: 454px; height: 632px; float: left; padding-left: 28px;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			ПЕРВАЯ ЧЕТВЕРТЬ - НА УРА!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Как же классно и весело было делать первые<br>
			шаги с <span class="tag">Врождённой грамотностью</span>!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Всё просто: тест – на входе, тест – на выходе.<br>
			Никакой зауми: ни для учеников, ни для<br>
			преподавателей. Методика – как хорошая<br>
			машина: сел и поехал.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			... Цифра 25 состоит из двойки и пятёрки.<br>
			Символично: тысячи и тысячи школяров<br>
			благодаря методике Ольги Веровенко<br>
			превратились за эти годы из двоечников в<br>
			отличников!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Первая четверть – на ура! Вторая только<br>
			начинается.
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 8px 44px 0; text-align: right;">
			Олег Корионов,<br>
			педагог курсов <span class="tag">Репетитор</span> первого<br>
			состава,<br>
			а ныне писатель и драматург.
		</p>
		<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 0 0;">
			P.S. Христина, я тебя узнал. Какая ты<br>
			стала красивая!
		</p>	
	</div>
	<div style="width: 417px; height: 632px; float: right; margin: 0 28px 0 0;">
		<div class="image-shadow-0" style="width: 417px; height: 482px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/korionov.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 758px; padding: 64px 0 25px 0;">	
	<div style="width: 418px; height: 758px; float: left; margin: 0 0 0 28px;">
		<div class="image-shadow-0" style="width: 418px; height: 548px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/duel.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 498px; height: 758px; float: right;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 42px 22px 0;">
			От дислексии к нейролингвистике
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Лет 20 назад выяснилось, что мой младший сын<br>
			страдает хронической безграмотностью. Тут<br>
			узнали про Веровенко. Первые её объяснения<br>
			своего метода показались мне<br>
			неубедительными.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Но вскоре сын стал писать почти стопроцентно<br>
			грамотно. Кто был прав в нашей полемике,<br>
			сомнений не осталось. Тогда же – именно от<br>
			Ольги Олеговны – узнал я слово «дислексия».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			А года два назад обнаружилось, что мой<br>
			старший внук вполне может написать слово<br>
			«собака» с буквой «а» в первом слоге. Да ещё<br>
			почему-то щека у красивого отрока дёргается<br>
			от нервного тика. Мы эти неурядицы не<br>
			связывали. А Ольга Олеговна связала. Так я<br>
			узнал ещё одно новое слово –<br>
			«нейролингвистика».<br>
			Какие результаты получились – понятно. Если б<br>
			Веровенко не справилась, с какой стати стал<br>
			бы я это писать в Юбилейном панегирике?!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			С четвертьвековым юбилеем Вас, Ольга<br>
			Олеговна! Новых Вам удач и новых слов,<br>
			вбирающих в себя незнакомые прежде<br>
			словесникам понятия.
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 40px 0 0; text-align: right;">
			Член Союза писателей Москвы<br>
			Игорь Дуэль,<br>
			осчастливленный Вами отец и дед
		</p>
	</div>
</div>
<div style="width: 960px; height: 452px; padding: 60px 0 8px 0;">	
	<div style="width: 700px; height: 452px; float: left; padding-right: 0px">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Человек – это возможность, а жизнь – это творчество!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 15px;">
			Милая, нежная, умная и прекрасная, эмоциональная и, самое<br>
			главное, интеллигентная Ольга Олеговна!<br>
			Как хорошо звучит Ваше имя: Ольга! Да ещё и Олеговна!!<br>
			Русь!!!<br>
			Вашей школе – четверть века. Я в три раза старше. Ещё четверть<br>
			века – и могу отмечать 100 лет. А вы – полувековой юбилей. И вы<br>
			будете молоды (вы же сохраните задор юности)!<br>
			Как там говорил мой знаменитый тёзка Владимир Владимирович?<br>
			«Лет до ста расти нам без старости. Год от года расти нашей<br>
			бодрости».<br>
			Я знаю Вас очень давно. Студентка. Я казался Вам старым. А совсем<br>
			недавно Вы мне звонили – и мы выяснили с Вами, что мы оба молоды.<br>
			Так держать!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 10px 0 0; text-align: right;">
			Владимир Владимирович Шахиджанян,<br>
			Преподаватель МГУ им. Ломоносова,<br>
			<a class="yellow" href="http://nabiraem.ru/" style="text-decoration: underline; color: rgb(169, 135, 0);"><span class="yellow font-verdana size-18 bold">nabiraem.ru</span></a>
		</p>	
	</div>
	<div style="width: 211px; height: 452px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow-0" style="width: 211px; height: 312px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/shahidjanyan.jpg);">
		</div>
		<div class="image-shadow-right-1" style="width: 105px; background-position: -211px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 106px;">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 461px; padding: 102px 0 25px 0;">	
	<div style="width: 466px; height: 461px; float: left; margin: 0 0 0 33px;">
		<div class="image-shadow-0" style="width: 466px; height: 401px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/tatjanchenko.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 422px; height: 461px; float: right;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 12px 22px 0;">
			Спортсмены желают успеха!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 0;">
			Я и мои воспитанники от всей души<br>
			поздравляем Ольгу Олеговну с юбилеем<br>
			курсов <span class="tag">Репетитор</span>, желаем дальнейшего<br>
			процветания, творческих успехов!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 66px 0;">
			На фото: Сборная Олимпийского резерва<br>
			по плаванию во главе с тренером.
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 13px 22px 0; text-align: right;">
			С уважением,
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 13px 22px 0; text-align: right;">
			Старший тренер СДЮШОР плавания<br>
			и прыжков в воду ЦСКА, Судья<br>
			международной категории
		</p>	
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 13px 0 0; text-align: right;">	
			Сергей Татьянченко
		</p>
	</div>
</div>
<div style="width: 960px; height: 468px; padding: 28px 0 8px 0;">	
	<div style="width: 470px; height: 468px; float: left; padding-right: 0px">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 14px;">
			Желаем здоровья!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 19px;">
			Глубокоуважаемая  Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 19px;">
			Большое Вам спасибо за помощь, поддержку и<br>
			понимание!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 19px;">
			Желаем дальнейшего процветания Школе, а<br>
			Вам лично – успехов  и здоровья!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 89px 11px 22px 0; text-align: right;">
			С уважением,<br>
			Реваз Мукерия, врач-кардиолог, и Анна<br>
			Феликсовна, его мама,
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 11px 0 0; text-align: right;">
			врач-онколог, доктор медицинских наук.
		</p>	
	</div>
	<div style="width: 459px; height: 468px; float: right; margin: 0 13px 0 0;">
		<div class="image-shadow-0" style="width: 459px; height: 378px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/mukeria.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0; line-height: 16px;">
			Реваз Мукерия (справа) рядом с академиком Лео Бокерия,<br>
			директором института им. Бакулева.<br>
			19-й Всероссийский конгресс кардиологов, декабрь 2013.
		</p>
	</div>
</div>
<div style="width: 960px; height: 530px; padding: 40px 0 25px 0;">	
	<div style="width: 380px; height: 530px; float: left; margin: 0 0 0 19px;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 20px 22px 0;">
			Поздравляю Школу Ольги<br>
			Олеговны Веровенко с Юбилеем!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Я училась на курсах <span class="tag">Репетитор</span> по<br>
			методу <span class="tag">Врожденная грамотность</span> в<br>
			95-96 гг.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			После Ваших чудо-курсов я приобрела<br>
			уверенность в своих силах, поверила<br>
			в себя. Результат был уникальный! На<br>
			всю жизнь запомнилась фраза<br>
			школьного учителя по русскому<br>
			языку: <span class="tag">Тебе нужно поставить<br>
			памятник. Это первый случай в моей<br>
			40-летней практике.</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Она-то не знала, что памятник нужно<br>
			поставить Вам, Ольга Олеговна!
		</p>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 13px 0 0; text-align: right;">
			Анастасия Вишнякова,<br>
			юрист
		</p>		
	</div>
	<div style="width: 549px; height: 530px; float: right; margin: 0 9px 0 0;">
		<div class="image-shadow-0" style="width: 549px; height: 397px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/vishnyakova.jpg" width="100%" height="100%" alt="Анастасия Вишнякова, юрист">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 22px 0 5px 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<div style="width: 960px; height: 530px; padding: 46px 0 84px 0;">	
	<div style="width: 415px; height: 530px; float: left; margin: 0 0 0 31px;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 20px 22px 0;">
			Дорогая Ольга Олеговна!<br>
			Вы – настоящая добрая волшебница!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ваши работы по <span class="tag">Четвёртому измерению</span><br>
			(психология-<span class="light-blue bold italic">NL</span>) запустили во мне<br>
			сильнейшие преобразования: захотелось<br>
			очистить от ненужных накоплений свою<br>
			квартиру, своё тело и свою душу. Это<br>
			помогает всей моей семье: у сына<br>
			отступила смертельно опасная болезнь.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Измени Реальность вокруг себя – и эта<br>
			волна докатится до окружающих. Будь на<br>
			волне! Лови Поток! Это внушает большие<br>
			надежды и вдохновляет на новые<br>
			свершения.
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Резко возросла производительность<br>
			радостного труда, как интеллектуального,<br>
			так и физического.
		</p>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Благодарю! Благодарю! Благодарю!
		</p>		
	</div>
	<div style="width: 468px; height: 530px; float: right; margin: 0 17px 0 0;">
		<div class="image-shadow-0" style="width: 468px; height: 352px; margin: 70px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/nesterenko.jpg" width="100%" height="100%" alt="Ольга Нестеренко, выпускница МГУТУ имени К.Г.Разумовского, педагог-психолог">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 34px 0 0 0; text-align: right;">
			Ольга Нестеренко,<br>
			выпускница МГУТУ имени<br>
			К.Г.Разумовского, педагог-психолог
		</p>
	</div>
</div>
<div style="width: 960px; height: 505px; padding: 0 0 25px 0;">	
	<div style="width: 378px; height: 505px; float: left; margin: 0 0 0 16px;">
		<div class="image-shadow-0" style="width: 378px; height: 489px; background-image: url(http://verovenko.net/wp-content/themes/twentyfourteen/images/kudryavcev.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 537px; height: 505px; float: right;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 68px 25px 0;">
			Низкий Вам поклон!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Помню, как мне трудно было улучшить свой<br>
			уровень русского языка в школе по стандартным<br>
			программам. Много методик было перепробовано,<br>
			со многими преподавателями усердно занимался,<br>
			но ожидаемого результата не было.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Спасибо Ольге Олеговне за её собственную<br>
			методику, которая позволила буквально за две<br>
			недели существенно улучшить мою грамотность<br>
			и правописание, а через два месяца стать<br>
			лучшим в гимназии!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			До сих пор с радостью вспоминаю наши<br>
			интересные и увлекательные занятия!
		</p>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Спасибо Вам и низкий поклон, Ольга Олеговна!
		</p>	
		<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 67px 0 0; text-align: right;">	
			Алексей Кудрявцев
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 91px 0 58px 0;">
	Мы любим Вас!
</p>
<div style="width: 960px; height: 1000px; padding: 0 0 25px 0;">	
	<div style="width: 457px; height: 1000px; float: left; margin: 0 0 0 5px;">
		<div class="image-shadow-0" style="width: 457px; height: 342px; background-image: url(http://verovenko.net/wp-content/themes/twentyfourteen/images/elena-pavlikova.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 57px 0 21px 0;">
			Спасибо за радость и любовь, которые Вы<br>
			дарите каждую минуту, и за тот неиссякаемый<br>
			источник вдохновения, которым Вы делитесь<br>
			с нами.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Вы наполнили нашу жизнь счастьем и научили<br>
			нас творить это счастье каждую минуту.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Подобно тому как Вы зажгли звёздочки в<br>
			наших душах, мы научились оставлять свет в<br>
			душах других людей.
		</p>
		<div style="width: 382px; height: 270px; padding: 29px 0 0 32px">
			<div class="image-shadow-0" style="width: 382px; height: 254px; background-image: url(http://verovenko.net/wp-content/themes/twentyfourteen/images/cvety.jpg);">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
	<div style="width: 479px; height: 1000px; float: right;">
		<div class="image-shadow-0" style="width: 479px; height: 342px; background-image: url(http://verovenko.net/wp-content/themes/twentyfourteen/images/pavlik-pavlikov.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 57px 0 21px 12px;">
			Огромное Вам спасибо, Ольга Олеговна!<br>
			За Ваше человеческое отношение, доброту,<br>
			любовь, помощь и понимание.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 12px;">
			Вы помогли мне посмотреть на мир новыми<br>
			глазами. После Ваших занятий у меня<br>
			повысилась успеваемость, теперь у меня<br>
			одни пятёрки!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 56px 12px;">
			Вы делаете людей счастливыми даже своим<br>
			присутствием. Наша страна гордится Вами!
		</p>
		<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 42px 0;">
			Вы для нас больше, чем просто учитель!<br>
			Мы любим Вас!
		</p>	
		<p class="yellow size-18 font-verdana bold center line-height-23" style="margin: 0 0 0 0;">	
			Елена Васильевна и Павлик Павликовы
		</p>
		<p class="blue size-14 font-arial bold" style="margin: 99px 0 0 -43px; line-height: 16px;">	
			Этот цветочек с бабочками мы сфотографировали сами.<br>
			Это наш Вам подарок!
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 71px 0 52px 0;">
	БЛАГОСЛОВИ ВАС ГОСПОДЬ И ВСЕ ВАШИ ТРУДЫ!
</p>
<div style="width: 960px; height: 503px; padding: 0 0 51px 0;">	
	<div style="width: 803px; height: 503px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 803px; height: 487px;">
			<iframe width="803" height="487" src="//www.youtube.com/embed/U8JLxtuE8bE?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 21px 0;">
	Глубокоуважаемая<br>
	Ольга Олеговна!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 54px; text-indent: 63px;">
	Спасибо Вам огромное и всем	вашим педагогам не только за уроки грамотности,<br>
	правильного русского и английского языков, но и за доброту, свет, любовь и радость,<br>
	которые Вы дарите людям.
</p>
<p class="red size-18 font-verdana bold center line-height-23" style="margin: 0 0 66px 0;">
	БЛАГОСЛОВИ<br>
	ВАС ГОСПОДЬ<br>
	И ВСЕ ВАШИ ТРУДЫ!
</p>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 18px 22px 0; text-align: right;">
	Даниил Загребаев, 14 лет
</p>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 18px 99px 0; text-align: right;">
	Чемпион России и Москвы по большому теннису;<br>
	Чемпион Москвы по настольному теннису среди школьных команд;<br>
	Чемпион Москвы по волейболу и баскетболу среди школьных команд;<br>
	Чемпион Москвы по забегу на 3 км среди школьных команд;<br>
	Чемпион Пресненского района по мини-футболу;<br>
	Капитан сборной команды школы по волейболу;<br>
	Звонарь и алтарник храма Рождества Пресвятой Богородицы.
</p>
<a name="smi"></a>
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px;">
	О нас писали
</p>
<div style="width: 570px; height: 473px; margin:0 auto;">
	<div class="image-shadow-0" style="width: 570px; height: 457px;">
		<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/globe2.jpg" width="100%" height="100%" alt="Пресса">
	</div>
	<div class="image-shadow-right-1">			
	</div>
	<div class="image-shadow-left-1">			
	</div>
</div>
<p class="red size-18 font-verdana bold line-height-23" style="margin: 69px 20px 31px 20px;">
	Публикации в советской и российской прессе
</p>
<ol class="grey size-18 font-verdana line-height-23" style="margin: 1px 0 0 61px;">
	<li><span class="blue bold">«Правда»</span><span class="dark-blue size-18 font-verdana">, газета, 9 апреля 1989.</span></li>
	<li><span class="blue bold">«Труд»</span><span class="dark-blue size-18 font-verdana">, газета, 8 декабря 1989.</span></li>
	<li><span class="blue bold">«Московский комсомолец»</span><span class="dark-blue size-18 font-verdana">, газета, 6 ноября 1989.</span></li>
	<li><span class="blue bold">«Московская правда»</span><span class="dark-blue size-18 font-verdana">, газета,13 января 1990.</span></li>
	<li><span class="blue bold">«Московский комсомолец»</span><span class="dark-blue size-18 font-verdana">, газета, 27 февраля 1990.</span></li>
	<li><span class="blue bold">«Неделя»</span><span class="dark-blue size-18 font-verdana">, газета, № 18, 1990.</span></li>
	<li><span class="blue bold">«Голос Родины»</span><span class="dark-blue size-18 font-verdana">, газета, № 10, 1990.</span></li>
	<li><span class="blue bold">«Коммерсантъ»</span><span class="dark-blue size-18 font-verdana">, газета, № 31, 1991.</span></li>
	<li><span class="blue bold">«Собеседник»</span><span class="dark-blue size-18 font-verdana">, еженедельник, № 41, 1991.</span></li>
	<li><span class="blue bold">«Литературная газета»</span><span class="dark-blue size-18 font-verdana">, № 24, 1992..</span></li>
	<li><span class="blue bold">«Юность»</span><span class="dark-blue size-18 font-verdana">, журнал, 1992.</span></li>
	<li><span class="blue bold">«Собеседник»</span><span class="dark-blue size-18 font-verdana">, еженедельник, № 44, 1993.</span></li>
	<li><span class="blue bold">«Учительская газета»</span><span class="dark-blue size-18 font-verdana">, 23 января 1996.</span></li>
	<li><span class="blue bold">«Учительская газета»</span><span class="dark-blue size-18 font-verdana">, № 18, 1997.</span></li>
	<li><span class="blue bold">«Изобретатель и рационализатор»</span><span class="dark-blue size-18 font-verdana">, журнал, № 1, 1997.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-18 font-verdana">, газета, № 40, 1998.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-18 font-verdana">, газета, № 41, 1998.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-18 font-verdana">, газета, № 42, 1998.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-18 font-verdana">, газета, № 43, 1998.</span></li>
	<li><span class="blue bold">«Семейный совет»</span><span class="dark-blue size-18 font-verdana">, газета, № 1, 1999.</span></li>
	<li><span class="blue bold">«Лики возрождения»</span><span class="dark-blue size-18 font-verdana">, энциклопедия, том II, М., Витязь-пресс, 1999.</span></li>
	<li><span class="blue bold">«Элитное образование»</span><span class="dark-blue size-18 font-verdana">, журнал, М., № 12, 2001.</span></li>
	<li><span class="blue bold">«Элитное образование»</span><span class="dark-blue size-18 font-verdana">, журнал, М., № 2, 2002.</span></li>
</ol>
<div style="width: 960px; height: 252px; padding: 42px 0 43px 0;">	
	<div style="width: 550px; height: 252px; float: left; padding-right: 0px">
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 5px 0 22px 30px;">
			Публикации в зарубежной прессе: 
		</p>
		<ol class="grey size-18 font-verdana line-height-23" style="margin: 1px 0 0 61px;">
			<li><span class="blue bold">Canton news</span><span class="dark-blue size-18 font-verdana">, October 18, 1990.</span></li>
			<li><span class="blue bold">Chicago Tribune</span><span class="dark-blue size-18 font-verdana">, August 20, 1991</span></li>
		</ol>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 44px 0 22px 30px;">
			Научные публикации:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 30px;">
			<span class="blue bold">Бородюк Н.Р.</span> Биоэнергетические механизмы<br>
			приспособительных реакций. Монография.<br>
			М., Эльф-М, 2000, глава 8.2.
		</p>		
	</div>
	<div style="width: 357px; height: 252px; float: right; margin: 0 46px 0 0;">
		<div class="image-shadow-0" style="width: 357px; height: 236px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/news.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana bold center line-height-23" style="margin: 46px 0 28px 0;">
	Юбилейная почта: olgaverovenko@gmail.com
</p>
<p class="dark-blue font-verdana size-18 center line-height-23" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow bold font-verdana size-18">Профессор Ольга Олеговна Веровенко</span></a>
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 92px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]