<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 31px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0;">
		Выиграйте<br>
		4.000 евро!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline;">
		Участвуй бесплатно!
	</p>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 33px 0 0 0;">
	Диплом Правительства Москвы
</p>
<p class="blue bold size-18 font-verdana center" style="margin: -5px 0 0 0;">
	<span class="tag">За вклад в развитие столицы России</span>
</p>
<div style="width: 960px; height: 534px; padding: 46px 0 8px 0;">	
	<div style="width: 320px; height: 534px; float: left; padding-right: 0px">
		<p class="yellow size-14 font-verdana bold center" style="margin: 173px 0 0 27px; line-height: 22px;">
			<span class="tag">ИСКРЕННЕ БЛАГОДАРИМ ВАС<br>
			ЗА ВАШЕ ВНИМАНИЕ К МОСКВЕ<br>
			И ВАШ ВКЛАД В РАЗВИТИЕ<br>
			СТОЛИЦЫ	РОССИИ.</span>
		</p>	
	</div>
	<div style="width: 579px; height: 534px; float: right; margin: 0 48px 0 0;">
		<div class="image-shadow in" style="width: 579px; height: 518px; cursor: pointer;">
			<a href="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/diplom-big.jpg"><img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/diplom.jpg" width="100%" height="100%" alt="Диплом"></a>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 333px; padding: 128px 0 8px 0;">	
	<div style="width: 404px; height: 333px; float: left; padding-right: 0px">
		<p class="dark-blue size-14 font-verdana center" style="margin: 103px 20px 41px 0; line-height: 22px;">
			Примите пожелания счастья, здоровья,<br>
			мира и благополучия!
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 32px 0 0; text-align: right;">
			Юрий Михайлович Лужков
		</p>	
	</div>
	<div style="width: 527px; height: 333px; float: right; margin: 0 15px 0 0;">
		<div class="image-shadow" style="width: 527px; height: 317px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/luzhkov.jpg" width="100%" height="100%" alt="Юрий Лужков">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 501px; padding: 151px 0 25px 0;">	
	<div style="width: 374px; height: 501px; float: left; margin: 0 0 0 36px;">
		<div class="image-shadow" style="width: 374px; height: 485px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/kudryavcev.jpg" width="100%" height="100%" alt="Алексей Кудрявцев">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 517px; height: 501px; float: right;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: -20px 68px 21px 0;">
			Низкий Вам поклон!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Помню, как мне трудно было улучшить свой уровень русского<br>
			языка в школе по стандартным программам. Много методик<br>
			было перепробовано, со многими преподавателями усердно<br>
			занимался, но ожидаемого результата не было.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Спасибо Ольге Олеговне за её собственную методику, которая<br>
			позволила буквально за две недели существенно улучшить мою<br>
			грамотность и правописание, а через два месяца стать лучшим<br>
			в гимназии!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			До сих пор с радостью вспоминаю наши интересные и<br>
			увлекательные занятия!
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Спасибо Вам и низкий поклон, Ольга Олеговна!
		</p>	
		<p class="yellow size-14 font-verdana bold" style="margin: 0 40px 0 0; text-align: right; line-height: 22px;">	
			Алексей Кудрявцев
		</p>
	</div>
</div>
<div style="width: 960px; height: 418px; padding: 92px 0 25px 0;">	
	<div style="width: 366px; height: 418px; float: left; margin: 0 0 0 36px;">
		<div class="image-shadow" style="width: 366px; height: 364px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/friend.jpg" width="100%" height="100%" alt="Собака - друг человека">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Пусть всегда твои друзья<br>
			Будут верными, как я!
		</p>
	</div>
	<div style="width: 479px; height: 418px; float: right;">
		<p class="light-blue size-14 font-verdana bold" style="margin: 10px 0 42px 0; line-height: 22px;">
			Посвящается Ольге Олеговне Веровенко
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Все в мире вертится, и рано или поздно<br>
			Всему однажды предстоит забыться.<br>
			Нетленными останутся лишь Звезды,<br>
			И это значит, нужно к ним стремиться!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Ведь жизнь сложна одной закономерностью –<br>
			С теченьем лет она все сгладит без следа...<br>
			И чтобы не граничить с безызвестностью,<br>
			Должна у избранных быть личная звезда!!! 
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 27px 0 0; text-align: right; line-height: 22px;">
			Антоша Мартынов,<br>
			8-й класс.
		</p>
	</div>
</div>
<div style="width: 960px; height: 720px; padding: 38px 0 0 0;">	
	<div style="width: 417px; height: 720px; float: left; margin: 0 0 0 12px;">
		<div class="image-shadow" style="width: 417px; height: 606px; margin: 81px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/karahanov.jpg" width="100%" height="100%" alt="Караханов Павел">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 489px; height: 720px; float: right;">
		<p class="light-blue size-14 font-verdana bold center" style="margin: 0 0 21px 0; line-height: 22px;">
			Привет с Олимпиады!<br>
			Дорогая Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span style="margin: 0 0 0 35px;">Я горжусь тем, что стоял бок о бок с Вами в период</span><br>
			становления и развития курсов и	проработал под Вашим умелым<br>
			руководством больше 10 лет – с 1989 по 2000 годы. Я помню,<br>
			как много было у нас смелых и творческих решений,<br>
			незабываемых встреч с учениками из России и США, помню, как<br>
			по Вашему распоряжению я прошёл стажировку в штате<br>
			Коннектикут, что дало мне неоценимую помощь в моей<br>
			дальнейшей карьере.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">	
			<span style="margin: 0 0 0 35px;">Я и моя семья никогда не забудем Вашу моральную</span><br>
			поддержку в трудные годы перестройки в нашей стране, когда<br>
			Вы делали всё возможное, чтобы мои знания и умения<br>
			проявились в полную силу, направляя меня преподавать в самые<br>
			разные по уровню знаний	группы, которые были организованы<br>
			как в школе, так и в различных офисах и компаниях, а весь наш<br>
			дружный коллектив с большой энергией работал под<br>
			руководством такого замечательного человека, как Вы, человека,<br>
			в котором прекрасные организаторские способности и талант<br>
			преподавателя сочетались таким образом,	что курсы <span class="tag">Репетитор</span><br>
			в России были и остаются в лидерах, не сходят со страниц газет<br>
			и журналов и всегда на устах многих тысяч учеников.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 13px 0 21px 28px; line-height: 22px;">
	<span style="margin: 0 0 0 35px;">Последние 8 лет я работаю в оргкомитете по подготовке Зимних Олимпийских игр в Сочи в качестве специалиста по</span><br>
	иностранным языкам в функции <span class="tag">Language services</span>, где тоже начинал с истоков, ещё с заявочного комитета, когда мы<br>
	готовились представить Сочи как претендента на право проведения игр в 2014 году и победили в 2007 в далёкой<br>
	Гватемале.
</p>	
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 28px; line-height: 22px;">
	<span style="margin: 0 0 0 35px;">За это время мне удалось познакомиться со многими известными людьми, выдающимися спортсменами и их</span><br>
	наставниками, поработать на Зимних Олимпийских играх в Ванкувере в 2010 году.<br>
	И вот теперь Зимние Олимпийские игры в Сочи. Это на сегодняшний день один из самых крупных проектов страны. И в<br>
	том, что я причастен к этому, есть немалая Ваша заслуга, дорогая Ольга Олеговна.<br>
</p>	
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 28px; line-height: 22px;">	
	<span style="margin: 0 0 0 35px;">Ещё раз от всей души поздравляю Вас и весь Ваш коллектив с юбилеем и желаю, чтобы перед вами открылись</span><br>
	новые, поистине олимпийские возможности и сбылись самые заветные мечты! 
</p>
<p class="yellow size-14 font-verdana bold" style="margin: 0 27px 0 0; text-align: right; line-height: 22px;">
	С уважением,<br>
	Караханов Павел<br>
	Руководитель проекта по лингвистике<br>
	Оргкомитет «Сочи-2014»
</p>
<p class="size-24 font-verdana center" style="margin: 119px 0 78px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_eche; [/exec]" style="text-decoration: none; color: #4A4A4A; border-bottom: 1px solid #4A4A4A;"><span class="blue font-verdana">Вернуться</span></a>
</p>
<div id="img_container"><img src=""></div>