<p style="margin: 0 0 0 0;"><a name="danila"></a></p>
<p class="yellow size-24 bold font-verdana center line-height-23" style="margin: 29px 0 35px 0;">
	БЛАГОСЛОВИ ВАС ГОСПОДЬ И ВСЕ ВАШИ ТРУДЫ!
</p>
<div style="width: 960px; height: 400px; padding: 11px 0 25px 0;">	
	<div style="width: 618px; height: 400px; float: left; margin: 0 0 0 22px;">
		<div class="image-shadow-0" style="width: 618px; height: 346px;">
			<iframe width="618" height="346" src="//www.youtube.com/embed/U8JLxtuE8bE?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 24px 0 0 0;">
			Малиновый звон. Данечка звонит в колокола для вас!
		</p>
	</div>
	<div style="width: 300px; height: 400px; float: right; padding-right: 4px;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Глубокоуважаемая<br>
			Ольга Олеговна!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 0;">
			Спасибо Вам огромное и всем<br>
			вашим педагогам не только за<br>
			уроки грамотности,<br>
			правильного русского и<br>
			английского языков, но и за<br>
			доброту, свет, любовь и<br>
			радость, которые Вы дарите<br>
			людям.
		</p>
		<p class="red size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			БЛАГОСЛОВИ<br>
			ВАС ГОСПОДЬ<br>
			И ВСЕ ВАШИ ТРУДЫ!
		</p>		
	</div>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 18px 22px 0; text-align: right;">
	Даниил Загребаев, 14 лет
</p>
<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 18px 46px 0; text-align: right;">
	<span class="bold">Чемпион</span> России и Москвы по большому теннису;<br>
	<span class="bold">Чемпион</span> Москвы по настольному теннису среди школьных команд;<br>
	<span class="bold">Чемпион</span> Москвы по волейболу и баскетболу среди школьных команд;<br>
	<span class="bold">Чемпион</span> Москвы по забегу на 3 км среди школьных команд;<br>
	<span class="bold">Чемпион</span> Пресненского района по мини-футболу;<br>
	<span class="bold">Капитан</span> сборной команды школы по волейболу;<br>
	<span class="bold">Звонарь и алтарник</span> храма Рождества Пресвятой Богородицы.
</p>
<p class="size-24 bold font-verdana center" style="margin: 27px 0 12px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Ещё отзывы, благодарности, поздравления</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">СМИ о нас</span></a>
</p>