<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 80px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: black;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span>К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span>СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>БЛАГОДАРНОСТИ ПОЗДРАВЛЕНИЯ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 960px; height: 50px; margin: -15px 0 0 0;">	
	<div style="width: 400px; height: 50px; float: left; margin: 0 0 0 0;">
		<p class="blue size-30 font-verdana bold" style="margin: 0 0 0 0;">
			Юбилейный сайт
		</p>
	</div>
	<div style="width: 419px; height: 50px; float: right; margin: 0 0 0 0;">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 13px 0 0 0;">
			Поздравления, отзывы, благодарности
		</p>
	</div>
</div>
<p class="yellow bold size-18 font-verdana center" style="margin: 20px 0 0 0;">
	Авторской школе профессора Ольги Олеговны Веровенко
</p>
<p class="red bold size-30 font-verdana center" style="margin: 0 0 0 0;">
	25 лет!
</p>
<div style="width: 960px; height: 400px; padding: 55px 0 25px 0;">	
	<div style="width: 505px; height: 400px; float: left; margin: 0 0 0 22px;">
		<div class="image-shadow" style="width: 505px; height: 384px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/sobyanin.jpg" width="100%" height="100%" alt="Сергей Собянин">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 400px; float: right; margin: 0 -9px 0 0;">
		<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 22px 0;">
			Уважаемая Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Сердечно поздравляю Вас<br>
			с наступающим Новым годом!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Спасибо за участие в развитии городской<br>
			образовательной среды. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Для меня лично важно<br>
			Ваше активное участие<br>
			в жизни нашего любимого города.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Желаю Вам, Вашим родным и близким здоровья,<br>
			счастья и благополучия в Новом году.
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 5px 0 0; text-align: right; line-height: 22px;">
			Ваш Мэр<br>
			Сергей Собянин
		</p>
	</div>
</div>
<div style="padding-top: 110px; height: 160px;">
	<div style="width: 768px; height: 160px; margin: 0 0 0 28px;">
		<div style="width: 768px; height: 160px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/muradyan.jpg" width="100%" height="100%" alt="Тигран Мурадян">
		</div>
	</div>
</div>
<div style="width: 960px; height: 441px; padding: 0 0 25px 0;">	
	<div style="width: 290px; height: 441px; float: left; margin: 0 0 0 28px;">
		<div class="image-shadow" style="width: 290px; height: 425px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/muradyan1.jpg" width="100%" height="100%" alt="Тигран Мурадян">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 467px; height: 441px; float: right; margin: 0 164px 0 0;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 68px 0 21px 0;">
			Дорогая Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0; line-height: 22px;">
			Желаем Вам счастья и процветания<br>
			Вашему благородному Делу!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 48px 0; line-height: 22px;">
			Добро, посеянное Вами,<br>
			даёт благодатные всходы!<br>
			Обнимаем Вас, 
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 0 0 0; text-align: right; line-height: 22px;">
			Тигран Мурадян, обладатель титула<br>
			<span class="tag">Музыкант Мира</span> ЮНЕСКО (виолончель),<br>
			и Роза Сергеевна, его мама.
		</p>
	</div>
</div>
<div style="width: 960px; height: 686px; padding: 92px 0 8px 0;">	
	<div style="width: 526px; height: 686px; float: left; padding-right: 0px">
		<p class="light-blue size-14 font-verdana bold line-height-23" style="margin: -9px 0 21px 28px;">
			Ольге Олеговне Веровенко – по случаю...
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 41px 0; text-align: right; line-height: 22px;">
			Не всякая страна достойна человека.<br>
			Не всякий человек подходит для страны.<br>
			И ищем мы душой свою святую Мекку,<br>
			Где не живём, но жить заслуженно должны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 28px; line-height: 22px;">
			Когда у женщины величественна стать,<br>
			А мудростью она – соперница Платону,<br>
			Велит тогда сам Бог ей королевой стать<br>
			И с гордостью носить английскую корону...<br>
			И даже если ей корону не достать,<br>
			И жить приходится в стране с чужим укладом,<br>
			Никто не запретит об Англии мечтать:<br>
			Бродить, как по аллеям собственного сада.<br>
			Слова: <span class="tag">Глаза в глаза глаза не увидать,<br>
			Большое видится на расстоянии</span> –<br>
			Звук не пустой, и верно: можно обладать<br>
			Страной, вкусив заочное о ней познание.<br>
			К тому же, если где-то рядом ходит Некто,<br>
			Кто давней дружбе верен и всегда<br>
			Готов принять участие в любом проекте,<br>
			Он ей подарит горы, реки, города<br>
			Страны, в которую она мечтой стремится,<br>
			Страны, в которой райский её сад.<br>
			И всё пре-всё, о чём мечтается, случится.<br>
			И Некто будет этому безмерно рад.
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 82px 0 0; text-align: right;">
			Борис Николаевич Борисов, актер МХАТ.
		</p>	
	</div>
	<div style="width: 409px; height: 682px; float: right; margin: 0 -4px 0 0;">
		<div class="image-shadow" style="width: 405px; height: 666px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/borisov.jpg" width="100%" height="100%" alt="Борис Николаевич Борисов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 473px; padding: 97px 0 8px 0;">	
	<div style="width: 451px; height: 473px; float: left; padding-right: 0px">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 0 0 42px 0;">
			Привет из Америки!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0; line-height: 22px;">
			Я занимался с Ольгой Олеговной – и сдал<br>
			экзамен на отлично!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0; line-height: 22px;">
			Спасибо огромное! Самые искренние<br>
			поздравления Школе в связи с Юбилеем!
		</p>
		<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 43px 0; line-height: 22px;">
			Сейчас учусь в Академии в городе Керри (штат<br>
			Северная Каролина).	Приеду в Россию –<br>
			увидимся!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 46px 0 0; text-align: right; line-height: 22px;">
			Ваня Аставин, 15 лет,<br>
			США
		</p>	
	</div>
	<div style="width: 428px; height: 473px; float: right; margin: 0 52px 0 0;">
		<div class="image-shadow" style="width: 428px; height: 443px; margin: 14px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/astavin.jpg" width="100%" height="100%" alt="Ваня Аставин">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 1170px; padding-top: 105px;">	
	<div style="width: 486px; height: 1170px; float: left; margin-left: 17px;">
		<div style="width: 486px; height: 629px;">
			<div class="image-shadow-0" style="width: 486px; height: 613px;">
				<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/klokov.jpg" width="100%" height="100%" alt="Вадим Клоков">
			</div>	
		</div>
		<div style="width: 420px; height: 315px; margin: 71px 0 0 39px;">
			<div class="image-shadow-0" style="width: 420px; height: 315px;">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/pfJ-ZZTe1Vk" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div style="width: 431px; height: 1170px; float: right; margin: 0 0 0 0;">
		<div style="width: 307px; height: 514px; margin: 0 0 0 58px;">
			<div class="image-shadow" style="width: 307px; height: 498px;">
				<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/borisova.jpg" width="100%" height="100%" alt="Анна Борисова">
			</div>	
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">				
			</div>
		</div>
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 2px 0 21px 0;">
			Эффект Моцарта
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 17px; line-height: 22px;">
			Огромное спасибо за психологические	экзерсисы,<br>
			которые, как моцартовский эффект – секрет<br>
			целительной энергии – восстановили внутреннюю<br>
			гармонию!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 13px 56px 0; text-align: right; line-height: 22px;">
			Анна Борисова,<br>
			музыкант<br>
			(орган, фортепиано)
		</p>
		<p class="red size-14 font-verdana bold center line-height-23" style="margin: 0 5px 21px 0;">
			Подарок к юбилею
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 38px; line-height: 22px;">
			Для всех выпускников, учеников и педагогов<br>
			школы-студии звучит
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 38px; line-height: 22px;">
			A. Vivaldi – Bassoon Concerto in<br>
			C Minor RV 480, <span class="yellow">ART VERUM DUO</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 459px; padding: 15px 0 25px 0;">	
	<div style="width: 432px; height: 459px; float: left; margin: 0 0 0 33px;">
		<div class="image-shadow" style="width: 432px; height: 443px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/fomina.jpg" width="100%" height="100%" alt="Ольга Фомина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 473px; height: 459px; float: right;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 0 0 21px 0;">
			Бесценная Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Занятия в Вашей школе по методу «Врождённая	грамотность»<br>
			открыли мне путь в науку. Благодаря Вашей системе обучения<br>
			я смогла сдать экзамен по литературе и поступить в<br>
			университет им.М.В.Ломоносова на исторический факультет!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			На протяжении всего обучения в университете и при<br>
			написании диссертации на соискание учёной степени<br>
			кандидата исторических наук я всегда с благодарностью<br>
			вспоминала занятия в Вашей школе. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Считаю, что Ваше открытие новой системы	обучения<br>
			грамотности – настоящая сенсация! Уверена, что ещё много<br>
			поколений детей, попав в Вашу школу, смогут избавиться от<br>
			комплекса неудачника, поверить в себя и кардинально<br>
			изменить свою жизнь. 
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 0 0 0; text-align: right; line-height: 22px;">
			Всегда Ваша,<br>
			Ольга Фомина, кандидат исторических наук,<br>
			Экскурсовод Музеев Московского Кремля
		</p>
	</div>
</div>
<div style="width: 960px; height: 527px; padding: 79px 0 8px 0;">	
	<div style="width: 500px; height: 527px; float: left; padding-left: 33px;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 0 58px 42px 0;">
			Дорогая Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Поздравляю Вас и всех Ваших соратников с замечательным<br>
			Юбилеем Вашей Школы.
		</p>
		<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 21px 0; line-height: 22px;">
			Такой хороший Юбилей<br>
			У школы Радости моей!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Вы в жизнь открыли дверь и дали Путь – и дочери, и внуку.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			От всей семьи желаю  творческих	достижений, успехов,<br>
			удачи в претворении	задуманного и отличного здоровья!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 58px 0 0; text-align: right; line-height: 22px;">
			С низким поклоном и благодарностью,<br>
			Ваша<br>
			Светлана Фроловна,<br>
			(на фото в центре), врач
		</p>	
	</div>
	<div style="width: 419px; height: 527px; float: right; margin: 0 7px 0 0;">
		<div class="image-shadow" style="width: 415px; height: 511px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/frolovna.jpg" width="100%" height="100%" alt="Ольга Фомина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 520px; padding: 91px 0 25px 0;">	
	<div style="width: 478px; height: 520px; float: left; margin: 0 0 0 15px;">
		<div class="image-shadow" style="width: 474px; height: 424px; margin: 53px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/bedina.jpg" width="100%" height="100%" alt="Христина Бедина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 449px; height: 474px; float: right;">
		<p class="light-blue size-14 font-verdana bold center" style="margin: 0 0 21px 0; line-height: 22px;">
			Спасибо за чудеса!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			На курсы <span class="tag">Репетитор</span> меня привела подружка. Мы тогда<br>
			заканчивали школу. Впереди было поступление в институт,<br>
			а моя грамотность не просто хромала – она ездила на<br>
			инвалидной коляске. Появилась стойкая ненависть к<br>
			учебному процессу, к учебникам русского языка, к<br>
			Розенталю. И вдруг эти курсы!  Туда мы просто летели –<br>
			никакой	зубрежки, нескучный учитель как-то так все<br>
			объяснял, что русский язык перестал быть вражеским.<br>
			На вступительный диктант в ИнЯз Мориса Тореза я шла с<br>
			полной уверенностью, что все смогу. Теперь у меня за<br>
			плечами почти двадцать лет переводческой работы.<br>
			Я бесконечно благодарна Вам за тот счастливый билет,<br>
			который я вытащила в далеком 90 году. Спасибо за чудеса,<br>
			которые	вы творите!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 7px 21px 0; text-align: right; line-height: 22px;">
			С уважением,<br>
			Христина Бедина,<br>
			переводчик.
		</p>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			P.S. Педагогом Христины был Олег Анатольевич<br>
			Корионов (см.ниже). Вот и свиделись!
		</p>
	</div>
</div>
<div style="width: 960px; height: 494px; padding: 70px 0 8px 0;">	
	<div style="width: 454px; height: 494px; float: left; padding-left: 28px;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 0 0 21px 0;">
			ПЕРВАЯ ЧЕТВЕРТЬ - НА УРА!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Как же классно и весело было делать первые шаги с<br>
			<span class="tag">Врождённой грамотностью</span>!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Всё просто: тест – на входе, тест – на выходе. Никакой<br>
			зауми: ни для учеников, ни для преподавателей. Методика –<br>
			как хорошая	машина: сел и поехал.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			... Цифра 25 состоит из двойки и пятёрки. Символично:<br>
			тысячи и тысячи школяров благодаря методике Ольги<br>
			Веровенко превратились за эти годы из двоечников в<br>
			отличников!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Первая четверть – на ура! Вторая только начинается.
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 8px 42px 0; text-align: right; line-height: 22px;">
			Олег Корионов,<br>
			педагог курсов <span class="tag">Репетитор</span> первого состава,<br>
			а ныне писатель и драматург.
		</p>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			P.S. Христина, я тебя узнал. Какая ты стала красивая!
		</p>	
	</div>
	<div style="width: 413px; height: 494px; float: right; margin: 0 33px 0 0;">
		<div class="image-shadow" style="width: 414px; height: 478px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/korionov.jpg" width="100%" height="100%" alt="Олег Корионов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 615px; padding: 100px 0 25px 0;">	
	<div style="width: 415px; height: 615px; float: left; margin: 0 0 0 28px;">
		<div class="image-shadow" style="width: 415px; height: 544px; margin: 55px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/duel.jpg" width="100%" height="100%" alt="Игорь Дуэль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 498px; height: 615px; float: right;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 0 42px 21px 0;">
			От дислексии к нейролингвистике
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Лет 20 назад выяснилось, что мой младший сын страдает<br>
			хронической безграмотностью. Тут узнали про Веровенко.<br>
			Первые её объяснения своего метода показались мне<br>
			неубедительными.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но вскоре сын стал писать почти стопроцентно грамотно. Кто<br>
			был прав в нашей полемике, сомнений не осталось. Тогда же –<br>
			именно от Ольги Олеговны – узнал я слово «дислексия».
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			А года два назад обнаружилось, что мой старший внук вполне<br>
			может написать слово «собака» с буквой «а» в первом слоге.<br>
			Да ещё почему-то щека у красивого отрока дёргается от<br>
			нервного тика. Мы эти неурядицы не связывали. А Ольга<br>
			Олеговна связала. Так я узнал ещё одно новое слово –<br>
			«нейролингвистика».<br>
			Какие результаты получились – понятно. Если б Веровенко не<br>
			справилась, с какой стати стал бы я это писать в Юбилейном<br>
			панегирике?!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			С четвертьвековым юбилеем Вас, Ольга Олеговна! Новых Вам<br>
			удач и новых слов, вбирающих в себя незнакомые прежде<br>
			словесникам понятия.
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 40px 0 0; text-align: right; line-height: 22px;">
			Член Союза писателей Москвы<br>
			Игорь Дуэль,<br>
			осчастливленный Вами отец и дед
		</p>
	</div>
</div>
<div style="width: 960px; height: 452px; padding: 100px 0 8px 0;">	
	<div style="width: 720px; height: 452px; float: left; padding-right: 0px">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: 0 0 21px 0;">
			Человек – это возможность, а жизнь – это творчество!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; line-height: 22px;">
			Милая, нежная, умная и прекрасная, эмоциональная и, самое главное, интеллигентная<br>
			Ольга Олеговна!<br>
			Как хорошо звучит Ваше имя: Ольга! Да ещё и Олеговна!!<br>
			Русь!!!<br>
			Вашей школе – четверть века. Я в три раза старше. Ещё четверть века – и могу отмечать<br>
			100 лет. А вы – полувековой юбилей. И вы будете молоды (вы же сохраните задор<br>
			юности)!<br>
			Как там говорил мой знаменитый тёзка Владимир Владимирович?<br>
			«Лет до ста расти нам без старости. Год от года расти нашей	бодрости».<br>
			Я знаю Вас очень давно. Студентка. Я казался Вам старым. А совсем недавно Вы мне<br>
			звонили – и мы выяснили с Вами, что мы оба молоды.<br>
			Так держать!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 30px 0 0; text-align: right; line-height: 22px;">
			Владимир Владимирович Шахиджанян,<br>
			Преподаватель МГУ им. Ломоносова,<br>
			<a class="yellow" href="http://nabiraem.ru/" style="text-decoration: underline; color: rgb(169, 135, 0);"><span class="yellow font-verdana size-14 bold">nabiraem.ru</span></a>
		</p>	
	</div>
	<div style="width: 207px; height: 452px; float: right; margin: 0 30px 0 0;">
		<div class="image-shadow" style="width: 207px; height: 308px; margin: 8px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/shahidjanyan.jpg" width="100%" height="100%" alt="Владимир Владимирович Шахиджанян">
		</div>
		<div class="image-shadow-right-1" style="width: 103px; background-position: -211px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 104px;">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 413px; padding: 93px 0 25px 0;">	
	<div style="width: 462px; height: 413px; float: left; margin: 0 0 0 33px;">
		<div class="image-shadow" style="width: 462px; height: 397px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/tatjanchenko.jpg" width="100%" height="100%" alt="Сергей Татьянченко">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 422px; height: 413px; float: right;">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: -7px 12px 21px 0;">
			Спортсмены желают успеха!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Я и мои воспитанники от всей души поздравляем Ольгу<br>
			Олеговну с юбилеем курсов <span class="tag">Репетитор</span>, желаем<br>
			дальнейшего процветания, творческих успехов!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 62px 0; line-height: 22px;">
			На фото: Сборная Олимпийского резерва по плаванию<br>
			во главе с тренером.
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 13px 21px 0; text-align: right;">
			С уважением,
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 13px 21px 0; text-align: right;">
			Старший тренер СДЮШОР плавания и прыжков в<br>
			воду ЦСКА, Судья международной категории
		</p>	
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 13px 0 0; text-align: right;">	
			Сергей Татьянченко
		</p>
	</div>
</div>
<div style="width: 960px; height: 468px; padding: 137px 0 8px 0;">	
	<div style="width: 470px; height: 468px; float: left; padding-right: 0px">
		<p class="light-blue size-14 font-verdana bold center line-height-23" style="margin: -5px 0 21px 14px;">
			Желаем здоровья!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 19px; line-height: 22px;">
			Глубокоуважаемая  Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 19px; line-height: 22px;">
			Большое Вам спасибо за помощь, поддержку и понимание!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 19px; line-height: 22px;">
			Желаем дальнейшего процветания Школе, а Вам лично –<br>
			успехов  и здоровья!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 85px 11px 22px 0; text-align: right; line-height: 22px;">
			С уважением,<br>
			Реваз Мукерия, врач-кардиолог, и Анна Феликсовна,<br>
			его мама,
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 11px 0 0; text-align: right; line-height: 22px;">
			врач-онколог, доктор медицинских наук.
		</p>	
	</div>
	<div style="width: 459px; height: 468px; float: right; margin: 0 13px 0 0;">
		<div class="image-shadow" style="width: 455px; height: 374px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/mukeria.jpg" width="100%" height="100%" alt="Реваз Мукерия">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 24px 0 0 0; line-height: 16px;">
			Реваз Мукерия (справа) рядом с академиком Лео Бокерия,<br>
			директором института им. Бакулева.<br>
			19-й Всероссийский конгресс кардиологов, декабрь 2013.
		</p>
	</div>
</div>
<div style="width: 960px; height: 409px; padding: 88px 0 25px 0;">	
	<div style="width: 380px; height: 409px; float: left; margin: 0 0 0 19px;">
		<p class="light-blue size-14 font-verdana bold center" style="margin: 0 8px 21px 0; line-height: 22px;">
			Поздравляю Школу Ольги Олеговны<br>
			Веровенко с Юбилеем!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Я училась на курсах <span class="tag">Репетитор</span> по методу<br>
			<span class="tag">Врожденная грамотность</span> в 95-96 гг.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			После Ваших чудо-курсов я приобрела<br>
			уверенность в своих силах, поверила	в себя.<br>
			Результат был уникальный! На всю жизнь<br>
			запомнилась фраза школьного учителя по<br>
			русскому языку: <span class="tag">Тебе нужно поставить памятник.<br>
			Это первый случай в моей 40-летней практике.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Она-то не знала, что памятник нужно поставить<br>
			Вам, Ольга Олеговна!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 13px 0 0; text-align: right; line-height: 22px;">
			Анастасия Вишнякова,<br>
			юрист
		</p>		
	</div>
	<div style="width: 545px; height: 409px; float: right; margin: 0 12px 0 0;">
		<div class="image-shadow" style="width: 545px; height: 393px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/vishnyakova.jpg" width="100%" height="100%" alt="Анастасия Вишнякова, юрист">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 92px 0 7px 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<div style="width: 960px; height: 500px; padding: 46px 0 84px 0;">	
	<div style="width: 444px; height: 500px; float: left; margin: 0 0 0 31px;">
		<p class="light-blue size-14 font-verdana bold center" style="margin: 0 20px 21px 0; line-height: 22px;">
			Дорогая Ольга Олеговна!<br>
			Вы – настоящая добрая волшебница!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Ваши работы по <span class="tag">Четвёртому измерению</span> (психология-<span class="light-blue bold italic">NL</span>)<br>
			запустили во мне сильнейшие преобразования:<br>
			захотелось очистить от ненужных накоплений свою<br>
			квартиру, своё тело и свою душу. Это помогает всей<br>
			моей семье: у сына отступила смертельно опасная<br>
			болезнь.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Измени Реальность вокруг себя – и эта волна докатится<br>
			до окружающих. Будь на волне! Лови Поток! Это<br>
			внушает большие надежды и вдохновляет на новые<br>
			свершения.
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Резко возросла производительность радостного труда,<br>
			как интеллектуального, так и физического.
		</p>
		<p class="blue size-14 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Благодарю! Благодарю! Благодарю!
		</p>		
	</div>
	<div style="width: 464px; height: 500px; float: right; margin: 0 21px 0 0;">
		<div class="image-shadow" style="width: 464px; height: 348px; margin: 0 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/nesterenko.jpg" width="100%" height="100%" alt="Ольга Нестеренко, выпускница МГУТУ имени К.Г.Разумовского, педагог-психолог">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="yellow size-14 font-verdana bold" style="margin: 34px 0 0 0; text-align: right; line-height: 22px;">
			Ольга Нестеренко,<br>
			выпускница МГУТУ имени К.Г.Разумовского,<br>
			педагог-психолог
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 58px 0;">
	Мы любим Вас!
</p>
<div style="width: 960px; height: 1000px; padding: 0 0 25px 0;">	
	<div style="width: 453px; height: 1000px; float: left; margin: 0 0 0 5px;">
		<div class="image-shadow" style="width: 453px; height: 338px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/elena-pavlikova.jpg" width="100%" height="100%" alt="Елена Павликов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 57px 0 21px 0; line-height: 22px;">
			Спасибо за радость и любовь, которые Вы	дарите каждую<br>
			минуту, и за тот неиссякаемый источник вдохновения,<br>
			которым Вы делитесь	с нами.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Вы наполнили нашу жизнь счастьем и научили нас творить<br>
			это счастье каждую минуту.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 19px 0; line-height: 22px;">
			Подобно тому как Вы зажгли звёздочки в наших душах, мы<br>
			научились оставлять свет в душах других людей.
		</p>
		<div style="width: 378px; height: 266px; padding: 62px 0 0 32px;">
			<div class="image-shadow" style="width: 378px; height: 250px;">
				<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/cvety.jpg" width="100%" height="100%" alt="Цветы">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
	<div style="width: 475px; height: 1000px; float: right;">
		<div class="image-shadow" style="width: 475px; height: 338px;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/pavlik-pavlikov.jpg" width="100%" height="100%" alt="Елена Павликов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 57px 0 21px 8px; line-height: 22px;">
			Огромное Вам спасибо, Ольга Олеговна!<br>
			За Ваше человеческое отношение, доброту, любовь,<br>
			помощь и понимание.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 8px; line-height: 22px;">
			Вы помогли мне посмотреть на мир новыми глазами.<br>
			После Ваших занятий у меня повысилась успеваемость,<br>
			теперь у меня одни пятёрки!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 64px 8px; line-height: 22px;">
			Вы делаете людей счастливыми даже своим<br>
			присутствием. Наша страна гордится Вами!
		</p>
		<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 0 33px 42px 0;">
			Вы для нас больше, чем просто учитель!<br>
			Мы любим Вас!
		</p>	
		<p class="yellow size-18 font-verdana bold center" style="margin: 0 14px 0 0; line-height: 22px;">	
			Елена Васильевна и Павлик Павликовы
		</p>
		<p class="blue size-14 font-arial bold" style="margin: 99px 0 0 -43px; line-height: 16px;">	
			Этот цветочек с бабочками мы сфотографировали сами.<br>
			Это наш Вам подарок!
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 57px 0 53px 0;">
	БЛАГОСЛОВИ ВАС ГОСПОДЬ И ВСЕ ВАШИ ТРУДЫ!
</p>
<div style="width: 960px; height: 487px; padding: 0 0 67px 0;">	
	<div style="width: 803px; height: 487px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 803px; height: 487px;">
			<iframe width="803" height="487" src="//www.youtube.com/embed/U8JLxtuE8bE?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<p class="blue size-14 font-verdana bold center" style="margin: 0 0 21px 0; line-height: 22px;">
	Глубокоуважаемая<br>
	Ольга Олеговна!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 54px; text-indent: 63px; line-height: 22px;">
	Спасибо Вам огромное и всем	вашим педагогам не только за уроки грамотности, правильного русского и<br>
	английского языков, но и за доброту, свет, любовь и радость, которые Вы дарите людям.
</p>
<p class="red size-14 font-verdana bold center" style="margin: 0 0 96px 0; line-height: 22px;">
	БЛАГОСЛОВИ<br>
	ВАС ГОСПОДЬ<br>
	И ВСЕ ВАШИ ТРУДЫ!
</p>
<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 18px 21px 0; text-align: right; line-height: 22px;">
	Даниил Загребаев, 14 лет
</p>
<p class="yellow size-14 font-verdana bold" style="margin: 0 18px 84px 0; text-align: right; line-height: 22px;">
	Чемпион России и Москвы по большому теннису;<br>
	Чемпион Москвы по настольному теннису среди школьных команд;<br>
	Чемпион Москвы по волейболу и баскетболу среди школьных команд;<br>
	Чемпион Москвы по забегу на 3 км среди школьных команд;<br>
	Чемпион Пресненского района по мини-футболу;<br>
	Капитан сборной команды школы по волейболу;<br>
	Звонарь и алтарник храма Рождества Пресвятой Богородицы.
</p>
<a name="eche"></a>
<p class="size-24 font-verdana" style="margin: 0 0 78px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi2; [/exec]" style="text-decoration: none; color: #4A4A4A; border-bottom: 1px solid #4A4A4A;"><span class="blue font-verdana">Ещё отзывы, благодарности, поздравления</span></a>
</p>
<a name="smi"></a>
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 44px;">
	О нас писали
</p>
<div style="width: 504px; height: 419px; margin:0 auto;">
	<div class="image-shadow" style="width: 504px; height: 403px;">
		<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/globe2.jpg" width="100%" height="100%" alt="Пресса">
	</div>
	<div class="image-shadow-right-1">			
	</div>
	<div class="image-shadow-left-1">			
	</div>
</div>
<p class="red size-18 font-verdana bold line-height-23" style="margin: 93px 20px 33px 18px;">
	Публикации в советской и российской прессе
</p>
<ol class="grey size-14 font-verdana" style="margin: 1px 0 0 61px; line-height: 24px;">
	<li><span class="blue bold">«Правда»</span><span class="dark-blue size-14 font-verdana">, газета, 9 апреля 1989.</span></li>
	<li><span class="blue bold">«Труд»</span><span class="dark-blue size-14 font-verdana">, газета, 8 декабря 1989.</span></li>
	<li><span class="blue bold">«Московский комсомолец»</span><span class="dark-blue size-14 font-verdana">, газета, 6 ноября 1989.</span></li>
	<li><span class="blue bold">«Московская правда»</span><span class="dark-blue size-14 font-verdana">, газета,13 января 1990.</span></li>
	<li><span class="blue bold">«Московский комсомолец»</span><span class="dark-blue size-14 font-verdana">, газета, 27 февраля 1990.</span></li>
	<li><span class="blue bold">«Неделя»</span><span class="dark-blue size-14 font-verdana">, газета, № 18, 1990.</span></li>
	<li><span class="blue bold">«Голос Родины»</span><span class="dark-blue size-14 font-verdana">, газета, № 10, 1990.</span></li>
	<li><span class="blue bold">«Коммерсантъ»</span><span class="dark-blue size-14 font-verdana">, газета, № 31, 1991.</span></li>
	<li><span class="blue bold">«Собеседник»</span><span class="dark-blue size-14 font-verdana">, еженедельник, № 41, 1991.</span></li>
	<li><span class="blue bold">«Литературная газета»</span><span class="dark-blue size-14 font-verdana">, № 24, 1992..</span></li>
	<li><span class="blue bold">«Юность»</span><span class="dark-blue size-14 font-verdana">, журнал, 1992.</span></li>
	<li><span class="blue bold">«Собеседник»</span><span class="dark-blue size-14 font-verdana">, еженедельник, № 44, 1993.</span></li>
	<li><span class="blue bold">«Учительская газета»</span><span class="dark-blue size-14 font-verdana">, 23 января 1996.</span></li>
	<li><span class="blue bold">«Учительская газета»</span><span class="dark-blue size-14 font-verdana">, № 18, 1997.</span></li>
	<li><span class="blue bold">«Изобретатель и рационализатор»</span><span class="dark-blue size-14 font-verdana">, журнал, № 1, 1997.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 40, 1998.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 41, 1998.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 42, 1998.</span></li>
	<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 43, 1998.</span></li>
	<li><span class="blue bold">«Семейный совет»</span><span class="dark-blue size-14 font-verdana">, газета, № 1, 1999.</span></li>
	<li><span class="blue bold">«Лики возрождения»</span><span class="dark-blue size-14 font-verdana">, энциклопедия, том II, М., Витязь-пресс, 1999.</span></li>
	<li><span class="blue bold">«Элитное образование»</span><span class="dark-blue size-14 font-verdana">, журнал, М., № 12, 2001.</span></li>
	<li><span class="blue bold">«Элитное образование»</span><span class="dark-blue size-14 font-verdana">, журнал, М., № 2, 2002.</span></li>
</ol>
<div style="width: 960px; height: 252px; padding: 24px 0 43px 0;">	
	<div style="width: 550px; height: 252px; float: left; padding-right: 0px">
		<p class="red size-14 font-verdana bold line-height-23" style="margin: 5px 0 22px 30px;">
			Публикации в зарубежной прессе: 
		</p>
		<ol class="grey size-14 font-verdana" style="margin: 1px 0 0 61px; line-height: 24px;">
			<li><span class="blue bold">Canton news</span><span class="dark-blue size-14 font-verdana">, October 18, 1990.</span></li>
			<li><span class="blue bold">Chicago Tribune</span><span class="dark-blue size-14 font-verdana">, August 20, 1991</span></li>
		</ol>
		<p class="red size-14 font-verdana bold line-height-23" style="margin: 40px 0 20px 30px;">
			Научные публикации:
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 22px 30px;">
			<span class="blue bold">Бородюк Н.Р.</span> Биоэнергетические механизмы<br>
			приспособительных реакций. Монография.<br>
			М., Эльф-М, 2000, глава 8.2.
		</p>		
	</div>
	<div style="width: 343px; height: 252px; float: right; margin: 0 38px 0 0;">
		<div class="image-shadow" style="width: 343px; height: 195px; margin: 51px 0 0 0;">
			<img src="http://verovenko.net/wp-content/themes/twentyfourteen/images/otzivi/news.jpg" width="100%" height="100%" alt="Новости">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana bold center line-height-23" style="margin: 99px 0 28px 0;">
	Юбилейная почта: olgaverovenko@gmail.com
</p>
<p class="dark-blue font-verdana size-18 center line-height-23" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow bold font-verdana size-18">Профессор Ольга Олеговна Веровенко</span></a>
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 92px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]