<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 80px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]"><span class="yellow">ОБ АВТОРЕ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>САФАРИ-ПАРК</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуйте<br>
		бесплатно!
	</p>
</div>
<p class="blue bold size-24 font-verdana" style="margin: -9px 0 27px 11px;">
	Сафари-парк
</p>
<div id="anim-safari" style="height: 0; width: 900px;">
	<div style="height: 40px; width: 400px; position: relative; background-color: white; margin: 0 0 0 300px;"></div>
	<div style="height: 40px; width: 400px; position: relative; background-color: white; margin: 3px 0 0 300px;"></div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 7px 0;">
	Обучение + отдых
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 0 0;">
	у моря всей семьёй!
</p>
<div style="padding-top: 52px; height: 442px;">
	<div style="width: 632px; height: 442px; margin:0 auto;">
		<div class="image-shadow" style="width: 632px; margin-left: 0; height: 426px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/girl.jpg" width="100%" height="100%" alt="Девочка у моря">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 51px 0 21px 11px;">
	<span class="bold">Никаких групповых занятий</span> с посторонними людьми! Только вы, ваша семья и ваш ребёнок.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Милое дело:</span> утром море-пляж-завтрак, катание на яхте или джипе, в полуденные часы сиесты –<br>
	занятия где-нибудь в прохладном месте, например, в тенёчке под сосной. Помещения с<br>
	кондиционерами у нас, конечно, тоже есть. Но под сосной ведь интереснее?
</p>
<p style="margin: 0;"><a name="isskusstvo"></a></p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Какой курс обучения выбрать?</span> Конечно, игровой! Подойдут начальные и средние уровни<br>
	английского (они спортивно-игровые), само собой, курс <span class="tag">Чудо будет!</span> (вот уж где наиграемся!),<br>
	там чтение, речь, русский, творчество... Особо рекомендуем <a href="[exec] include get_template_directory().'/links.php'; echo $isskusstvo; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue bold tag">Искусство видеть мир</span></a>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Мы окажем вам реальную помощь</span> и дадим совет: где лучше всего поселиться, покушать,<br>
	куда сходить (а куда не следует), на какую экскурсию поехать.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Лучшее время для наших программ –</span> конец апреля, май, июнь. Неплохо – лето, осень.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 74px 11px;">
	<span class="bold">Мы сделаем всё</span>, чтобы ваш отдых был незабываем!
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 63px 0;">
	Геленджик (Россия) – элитный современный курорт.
</p>
<p class="light-blue size-24 bold font-verdana center" style="margin-bottom: 0px;">
	Море, пляж, природа
</p>
<div style="height: 970px; padding-top: 57px;">	
	<div style="width: 478px; height: 970px; float: left; margin-left: 20px">
		<div style="width: 478px; height: 380px; margin:0 auto;">
			<div class="image-shadow" style="width: 478px; height: 364px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/shell.jpg); border: 2px solid rgba(170, 168, 168, 1);">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
		<p class="dark-blue size-18 font-verdana center  line-height-23" style="margin: 22px 0 44px 66px; text-align: left;">
			Пляжи есть песчаные,<br>
         	<span style="margin-left: 53px">а есть с мелкой галечкой...</span>
        </p>
        <div style="width: 465px; height: 533px; margin: 0 0 0 7px;">
			<div class="image-shadow" style="width: 465px; height: 415px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/wave.jpg);">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left">			
			</div>
		</div>	
	</div>
	<div style="width: 428px; height: 970px; float: right; margin: 0 22px 0 0;">
		<div style="width: 428px; height: 600px; margin: 0 0 0 0;">
			<div class="image-shadow" style="width: 428px; height: 600px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/puppy.jpg); border: 2px solid rgba(170, 168, 168, 1);">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
		<p class="dark-blue size-18 font-verdana center  line-height-23" style="margin: 67px 0 120px 0;">
			Вода в бухте кристально чистая, особенно<br>
			по утрам, и всегда на 1-2 градуса теплее,<br>
			чем в открытом море.
		</p>
		<p class="dark-blue size-18 font-verdana center  line-height-23" style="margin: 67px 0 72px 0;">
			Закат<br>
			в окрестностях<br>
			Геленджика
		</p>	
	</div>
</div>
<div style="width: 960px; height: 331px;">	
	<div style="width: 520px; height: 331px; float: right; padding-right: 4px; margin-top: 0;">
		<div class="image-shadow" style="width: 520px; height: 315px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/meadow.jpg); border: 2px solid rgba(170, 168, 168, 1);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 247px; height: 331px; float: left;">	
	</div>
</div>
<div style="width: 960px; height: 200px; padding-top: 0;">	
	<div style="width: 524px; height: 200px; float: left; margin: 0 0 0 27px;">
		<div class="image-shadow" style="width: 524px; height: 343px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/waterfall.jpg); margin: -245px 0 0 0;">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 200px; float: right;">
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 31px 159px 22px 0;">
			Водопады. Эта красота<br>
			совсем рядом	
		</p>	
	</div>
</div>
<div style="padding-top: 7px; height: 555px;">
	<div style="width: 596px; height: 555px; margin:0 auto;">
		<div class="image-shadow" style="width: 596px; height: 539px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/skala.jpg" width="100%" height="100%" alt="Скала Парус">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 6px 0 113px 0;">
	Скала <span class="tag">Парус</span>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 24px 0 0 0;">
	Развлечения
</p>
<div style="height: 791px; padding-top: 60px;">	
	<div style="width: 486px; height: 791px; float: left; margin-left: 1px">
		<div style="width: 475px; height: 344px; margin: 0 0 0 0; position: relative;">
			<div class="image-shadow" style="width: 475px; height: 328px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/naberegnaja.jpg" width="100%" height="100%" alt="Набережная на закате">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 9px 32px 21px 0;">
			Набережная на закате – и ночью (ниже).
		</p>
        <div style="width: 486px; height: 364px; margin:0 auto;">
			<div class="image-shadow" style="width: 486px; height: 348px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/fakir.jpg" width="100%" height="100%" alt="Набережная на ночью">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
	<div style="width: 441px; height: 791px; float: right; margin: 0 2px 0 0;">
		<div style="width: 436px; height: 791px; margin: 0 0 0 0;">
			<div class="image-shadow" style="width: 436px; height: 553px; border: 2px solid rgba(170, 168, 168, 1);">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/dolphin.jpg" width="100%" height="100%" alt="Дельфины">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
			<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 29px 40px 0 0;">
				Во время катания на яхте<br>
				дельфины сопровождают вас.
	        </p>
        </div>	
	</div>
</div>
<div style="width: 960px; height: 680px; margin: 25px 0 0 0;">	
	<div style="width: 520px; height: 680px; float: right; margin: 0 1px 0 0;">
		<div class="image-shadow" style="width: 520px; height: 583px; margin: 10px 0 0 0; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/yahta.jpg" width="100%" height="100%" alt="Вечерняя прогулка на яхте">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 23px 0 21px 0;">
			Вечерняя прогулка на яхте.
		</p>
	</div>
	<div style="width: 435px; height: 680px; float: left; margin: 0 0 0 0">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Утришский дельфинарий</span><br>
			в Геленджике – один из лучших в мире<br>
			(если не самый лучший).Посетите<br>
			обязательно!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Аквапарк</span> – 2-й в Европе по величине<br>
			и разнообразию водных аттракционов.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Несколько фуникулёров</span> в горы.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Сафари-парк.</span> Львы, медведи, орлы...<br>
			Много забавных детёнышей.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Пещеры,</span> сталактиты и сталагмиты.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Океанариум.</span> Волшебный подводный мир.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Парк бабочек.</span> Они садятся вам на плечи<br>
			и машут крылышками.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Музей восковых фигур.</span> Там забавно!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Морская рыбалка</span> на ставридку.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Мороженое-пирожное-шашлыки</span><br>
			в неограниченном количестве.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold tag">Сан-Мишель</span> считается самым лучшим<br>
			рестораном на всём Черноморском<br>
			побережье. Средиземноморская кухня.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 29px 0 21px 11px;">
	<span class="bold tag">Савой</span> – обязательно посетите его открытую веранду и насладитесь чашечкой кофе<br>
	с ледяным фруктовым коктейлем!
</p>
<div style="width: 960px; height: 532px; margin: 36px 0 0 0;">	
	<div style="width: 596px; height: 532px; float: left; margin: 0 0 0 0;">
		<div class="image-shadow" style="width: 596px; height: 430px; margin: 0 0 0 0; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/safari/spa.jpg" width="100%" height="100%" alt="СПА на горных озёрах">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 23px 0 21px 0;">
			СПА на горных озёрах.
		</p>
	</div>
	<div style="width: 355px; height: 532px; float: right; margin: 0 0 0 0">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: -3px 0 21px 11px;">
			<span class="bold">СПА и лечение.</span> Врачи очень<br>
			высокой квалификации любого<br>
			профиля. Огромное количество<br>
			санаториев, медицинских центров,<br>
			частных клиник. Блестящая<br>
			диагностическая база.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Крытые бассейны</span> с морской<br>
			водой, спортивные площадки,<br>
			тренажёрные залы – на случай<br>
			плохой погоды. Хотя она там<br>
			хорошая 320 дней в году.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold">Терринкуры.</span> Для прогулок и<br>
			пробежек. Город весь утопает в<br>
			реликтовых соснах и цветах.<br>
			Воздух упоителен!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
			<span class="bold tag">Олимп</span> – новый огромный<br>
			концертный зал под открытым<br>
			небом. Второе место в Европе.<br>
			Гастролируют лучшие артисты.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Отели:</span> есть пятизвёздные (<a href="http://kempinski-gelendzhik.ru/" style="color: #717070;"><span class="blue tag font-arial size-18">Кемпински Гранд Отель</span></a>), четырёхзвёздные (<a href="http://www.primore.ru/" style="color: #717070;"><span class="blue tag font-arial size-18">Приморье</span></a>), трёхзвёздные.<br>
	<span class="blue bold">Если обратитесь к нам заранее</span>, мы поможем вам очень хорошо устроиться в частном секторе –<br>
	например, в большой трёхкомнатной квартире с евроремонтом в лучшей части города.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Яхтинг.</span> Арендуйте яхту с опытным капитаном на 2-3 часа и насладитесь морской прогулкой<br>
	в сопровождении дельфинов.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Джипинг.</span> Открытый джип с профессиональным водителем доставит вас в горы, к водопадам,<br>
	ручьям, древним крепостям, дольменам, пещерам...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 101px 11px;">
	<span class="bold">Дельтаплан. Параплан.</span> Для экстремалов.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin-top: 18px;">
	Как добраться
</p>
<div style="width: 960px; height: 396px; margin: 25px 0 0 0;">	
	<div style="width: 537px; height: 396px; float: right; margin: 0 24px 0 0; position: relative;">
		<div class="image-shadow" style="width: 537px; height: 380px; margin: 0 0 0 0; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/airplane.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 380px; height: 396px; float: left; margin: 0 0 0 0">
		<p class="dark-blue size-18 center font-verdana line-height-23" style="margin: 202px 0 21px 14px;">
			От Москвы 1 час 50 минут – <br>
			и вы на месте!
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 172px 0 40px;">
	Отзыв нашей ученицы
</p>
<div style="padding-top: 22px; height: 494px;">
	<div style="width: 653px; height: 494px; margin:0 auto;">
		<div class="image-shadow" style="width: 653px; height: 478px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/nastja.jpg); border: 2px solid rgba(170, 168, 168, 1);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 23px 0 22px 118px;">
	Настя – наша ученица, умница и красавица, отдыхала на лучших курортах<br>
	мира. По её словам, отдых с нами в Геленджике стал <span class="blue bold tag">самым ярким<br>
	и незабываемым впечатлением в жизни</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin-left: 118px;">
	Обратите внимание: Настя сидит внутри кроны той самой сосны, под которой<br>
	так хорошо идут занятия.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 93px 0 20px;">
	Море, горы, воздух...  Едем вместе?
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin-left: 0;">
	Надбавка за выезд московского педагога – от 0%.
</p>
<div id="load-video6" class="load-video" style="padding-top: 37px; height: 360px;">
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 105px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]