<p class="red bold size-30 font-verdana" style="margin: 0 0 0 0;">
	Чудо будет!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 2px 0 0 0;">
	<span class="tag">Врождённая грамотность-<span class="italic">NL</span></span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 0 0;">
	В рамках единого курса:
</p>
<div style="height: 125px;">
	<div style="width: 114px; height: 125px;">
		<div style="width: 114px; height: 125px; margin: -91px 0 0 750px;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/light-boy.png" width="100%" height="100%" alt="Солнечный зайчик">
		</div>
	</div>
</div>
<p style="margin: 0; height: 0;"><script charset="utf-8" type="text/javascript" src="http://verovenko.name/wp-content/themes/twentyfourteen/js/jquery.waterwheelCarousel.min.js"></script>
<script charset="utf-8" type="text/javascript" src="http://verovenko.name/wp-content/themes/twentyfourteen/js/carousel-prog.js"></script></p>
<div id="carousel" style="margin: 0 auto;">
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog1.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog2.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog3.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog4.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog5.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog6.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog7.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog8.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog9.jpg" alt="Image 5" /></div>
	<div style="width: 400px; height: 248px;"><img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/programma-kursa/prog10.jpg" alt="Image 5" /></div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
	Длительность курса 4-12 сеансов (в зависимости от возраста). Сеансы идут блоками по 4.<br>
	Между блоками можно делать перерыв. Длительность каждого сеанса 3 ак.часа (2 часа 15<br>
	мин. + перерывы).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
	Программа курса всякий раз строится индивидуально в зависимости от возраста, уровня<br>
	подготовки и ваших пожеланий.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
	Обучение индивидуальное. Родители не только присутствуют на занятиях, но играют,<br>
	обучаются и веселятся вместе со своими детьми.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue bold">Подробности курса</span></a>
</p>