<p style="margin: 0;"><a name="resultat"></a></p>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 5px 0;">
	Результаты обучения говорят сами за себя!
</p>
<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 55px 18px;">
	Сравните, пожалуйста, результаты входного и выходного тестов:
</p>
<p class="red bold size-16 font-verdana center" style="margin: 0 0 32px 0;">
	На входе 105 ошибок, на выходе 0. Улучшение в 105 раз!
</p>
<div style="width: 960px; height: 400px; padding-top: 9px;">	
	<div style="width: 224px; height: 400px; float: left; margin-left: 229px;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 8px 0;">
			Вступительный тест
		</p>
		<div style="width: 224px; height: 343px; margin:0 auto;">
			<div class="image-shadow" style="width: 224px; height: 327px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test1.jpg" width="100%" height="100%" alt="Вступительный тест">
			</div>
			<div class="image-shadow-right-1" style="width: 112px; background-position: -200px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 112px;">			
			</div>
		</div>	
	</div>
	<div style="width: 224px; height: 400px; float: right; margin: 0 205px 0 0;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 8px 0;">
			Выпускной тест
		</p>
		<div style="width: 224px; height: 343px;">
			<div class="image-shadow" style="width: 224px; height: 327px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test2.jpg" width="100%" height="100%" alt="Выпускной тест">
			</div>
			<div class="image-shadow-right-1" style="width: 112px; background-position: -200px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 112px;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-16 font-verdana center" style="margin: 51px 0 32px 0;">
	На входе 28 ошибок, на выходе 0.  Улучшение в 28 раз!
</p>
<div style="width: 960px; height: 400px; padding-top: 9px;">	
	<div style="width: 234px; height: 400px; float: left; margin-left: 229px;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 8px 0;">
			Вступительный тест
		</p>
		<div style="width: 234px; height: 343px; margin:0 auto;">
			<div class="image-shadow" style="width: 234px; height: 327px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test3.jpg" width="100%" height="100%" alt="Вступительный тест">
			</div>
			<div class="image-shadow-right-1" style="width: 117px; background-position: -195px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 117px;">			
			</div>
		</div>	
	</div>
	<div style="width: 234px; height: 400px; float: right; margin: 0 205px 0 0;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 8px 0;">
			Выпускной тест
		</p>
		<div style="width: 234px; height: 343px;">
			<div class="image-shadow" style="width: 234px; height: 327px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test4.jpg" width="100%" height="100%" alt="Выпускной тест">
			</div>
			<div class="image-shadow-right-1" style="width: 117px; background-position: -195px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 117px;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-16 font-verdana center" style="margin: 51px 0 32px 0;">
	На входе 95 ошибок, на выходе 1.  Улучшение в 95 раз!
</p>
<div style="width: 960px; height: 400px; padding-top: 9px;">	
	<div style="width: 234px; height: 400px; float: left; margin-left: 229px;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 8px 0;">
			Вступительный тест
		</p>
		<div style="width: 234px; height: 343px; margin:0 auto;">
			<div class="image-shadow" style="width: 234px; height: 327px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test5.jpg" width="100%" height="100%" alt="Вступительный тест">
			</div>
			<div class="image-shadow-right-1" style="width: 117px; background-position: -195px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 117px;">			
			</div>
		</div>	
	</div>
	<div style="width: 234px; height: 400px; float: right; margin: 0 205px 0 0;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 8px 0;">
			Выпускной тест
		</p>
		<div style="width: 234px; height: 343px;">
			<div class="image-shadow" style="width: 234px; height: 327px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/resultat/test6.jpg" width="100%" height="100%" alt="Выпускной тест">
			</div>
			<div class="image-shadow-right-1" style="width: 117px; background-position: -195px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 117px;">			
			</div>
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 14px 0 21px 78px; line-height: 22px;">
	У нас подобных тестов – множество. Когда придёте на тестирование и пробное занятие,<br>
	сможете увидеть оригиналы.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 78px; line-height: 22px;">
	Ведь <span class="red bold">за 25 лет</span> мы обучили <span class="red bold">более 100 тысяч</span> человек – население целого города!<br>
	<span class="blue bold">И всегда – с блистательным конечным результатом.</span>
</p>
<p class="size-24 font-verdana center" style="margin: 27px 0 12px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_resultat; [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px;"><span class="blue" style="background-size: auto 100%; background-image: linear-gradient(to top, rgba(0, 0, 238, 0.6) 0px, rgba(0, 0, 0, 0) 1px, transparent 3px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 10px);">Вернуться</span></a><br>
</p>