<p class="red size-30 font-verdana bold" style="margin: 0 0 0 0;">
	Рождественские скидки
</p>
<p class="yellow size-36 italic center" style="margin: 46px 0 11px 0; font-family: lobster, cursive; letter-spacing: 3.59999990463257px;">
	Всем нашим выпускникам прошлых лет!
</p>
<div style="width: 960px; height: 538px; padding: 44px 0 0 0;">	
	<div style="width: 460px; height: 538px; float: left; margin: 0 0 0 41px;">
		<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 21px 0;">
			Наши умницы, красавцы и красавицы!
		</p>	
		<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 63px 0;">
			Мы вас помним и любим!
		</p>
		<p class="yellow size-18 font-verdana bold center line-height-23" style="margin: 0 0 21px 0;">
			Вам, вашим детям и внукам:
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
			<span class="red bold">очень тёплый Рождественский</span><br>
			приём у Ольги Олеговны Веровенко.
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
			Бесплатный пробный сеанс, диагностика,<br>
			<span class="tag">Арт-терапия</span>.
		</p>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 84px 0;">
			Дальнейшее обучение, естественно, с<br>
			приятнейшими скидками.
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Всем остальным учащимся – нашим будущим<br>
			умницам и красавицам – тоже скидки<br>
			(см. ниже).
		</p>	
	</div>
	<div style="width: 400px; height: 538px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow-0" style="width: 400px; height: 522px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/rogdestvo/new-year.gif" width="100%" height="100%" alt="С наступающим Новым Годом">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 67px 0 1px 0;">
	Арт-терапия
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 31px 0;">
	Ликвидация проблем обучения за 1 сеанс
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 23px 56px;">
	<span class="red size-30 bold" style="font-family: lobster, cursive;">75% </span> Диагностика и коррекция. Уникальный нейролингвистический сеанс для учащихся всех<br>
	возрастов <span class="red">с профессором Ольгой Олеговной Веровенко.</span> Длительность 1 час. Стоимость сеанса с<br>
	учётом скидки 187 у.е. Ст.м.<span class="tag">Молодёжная</span>.
</p>
<p class="yellow size-18 font-verdana bold center" style="margin: 0 0 0 0;">
	Всего 1 сеанс – и проблем нет!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 68px 0 1px 0;">
	Английский язык
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 31px 0;">
	Сверхскоростное нейролингвистическое обучение
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 21px 37px;">
	<span class="red size-30 bold" style="font-family: lobster, cursive;">75% </span> Занятия только по будним дням утром или днём. Стоимость курса (36 ак.часов, 12 занятий<br>
	по 3 ак.часа каждое) 2 250 у.е. Стоимость ак.часа 62,5 у.е. (включая стоимость учебников).<br>
</p>	
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 19px 37px;">
	Вечера, субботние и воскресные дни оставлены для ваших мини-групп (родители с детьми, супруги,<br>
	друзья, коллеги). Очень большие скидки уже <a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_individualnoe; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">заложены в стоимость</span></a>. Занятия у м.<span class="span tag">Щёлковская</span>.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 68px 0 1px 0;">
	<span class="tag">Врождённая грамотность</span>. ГИА, ЕГЭ
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 31px 0;">
	Индивидуальное обучение
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 19px 20px;">
	<span class="red size-30 bold" style="font-family: lobster, cursive;">50% </span> Занятия раз в неделю по субботам или воскресеньям в удобные дневные часы. Стоимость курса<br>
	(36 ак.часов, 12 занятий по 3 ак.часа каждое) 4 500 у.е. Стоимость ак.часа 125 у.е. (включая стоимость<br>
	учебников). Занятия у м.<span class="tag">Крылатское</span>.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 68px 0 1px 0;">
	<span class="tag">Чудо будет!</span>
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 31px 0;">
	Индивидуальное обучение
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 19px 20px;">
	<span class="red size-30 bold" style="font-family: lobster, cursive;">50-55% </span> Сеансы идут блоками строго через день. Стоимость первого блока (4 сеанса по 3 ак.часа каждый)<br>
	3 000 у.е. Стоимость второго блока 2 700 у.е. <span class="red">Занятия с проф. О.О.Веровенко.</span> Ст. м.<span class="tag">Молодёжная</span>.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 68px 0 4px 0; line-height: 30px;">
	<span class="tag">Врождённая грамотность для<br>
	взрослых</span>
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 31px 0;">
	Сверхскоростное обучение на уровне подсознания
</p>
<p class="dark-blue size-16 font-verdana line-height-23" style="margin: 0 0 19px 40px;">
	<span class="red size-30 bold" style="font-family: lobster, cursive;">50% </span> Любой удобный вам график. Стоимость блока (4 сеанса по 3 ак. часа каждый) 3000 у.е.<br>
	<span class="red">Занятия с проф. О.О.Веровенко.</span> Ст. м.<span class="tag">Молодёжная</span>.
</p>
<p class="yellow size-30 bold font-verdana center" style="margin: 52px 0 48px 0;">
	Раз... Два... Три... Ёлочка, гори!
</p>
<div style="margin: 0 0 88px 0; height: 434px;">
	<div style="width: 566px; height: 434px; margin: 0 auto;">
		<div style="width: 566px; height: 434px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/rogdestvo/elka.gif" width="100%" height="100%" alt="Новогодняя елка">
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 60px 0 74px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class=" blue size-24 bold font-verdana center" style="margin: 52px 0 19px 0;">
	Кликните, пожалуйста, по выбранному направлению компаса.
</p>
<div style="width: 408px; margin: 0 auto; height: 59px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/rogdestvo/ded-moroz.gif);">
</div>
<p class="red size-24 bold font-verdana center" style="margin-top: 24px;">
	Счастливого пути!
</p>
