<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]"><span class="yellow">АНГЛИЙСКИЙ</span></a></div>
			<div style="float: right;margin: 0 0 0 0;"><a class="first"><span class="first-span">РУССКИЙ ЯЗЫК</span></a></div>
		</div>
	</div>
</div>
<div class="picture-full-screen" style="position: absolute; top: 0; left: 0; width: 100%; height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/girl51.jpg); background-size: cover; background-position: center 0;">
	<div class="div-scale" style="position: relative; float: right; right: 50%;">
		<div style="position: relative; float: left; left: 50%;">
			<p class="yellow center font-verdana size-24 bold" style="margin: 4px 115px 50px;">Нейролингвистические технологии обучения профессора Ольги Веровенко</p>
			<div style="margin: 0 0 30px; float: right; background-color: rgba(60,39,14,0.35); border-radius: 15px; padding: 10px 10px 20px;">
				<p class="white size-24 bold font-verdana" style="margin: 0 0 28px; line-height: 30px;">
					Обучение под гипнозом и без
				</p>
				<p class="white size-24 bold font-verdana" style="margin: 0 0 28px; line-height: 30px;">
					Нейролингвистика
				</p>
				<p class="white size-24 bold font-verdana" style="margin: 0 0 28px; line-height: 30px;">
					Игровые и сверхскоростные<br>технологии
				</p>
				<p class="white size-24 bold font-verdana" style="margin: 0 0 28px; line-height: 30px;">
					Блистательный конечный<br>результат
				</p>
				<p class="white size-24 bold font-verdana" style="margin: 0 0 28px; line-height: 30px;">
					Любой возраст,<br>любой уровень проблем
				</p>
				<p class="white size-30 bold font-verdana" style="margin: 0 0 0; line-height: 30px;">	
					Крутите вниз!
				</p></div>
			<p class="yellow center font-sans-font bold" style="font-size: 50px; clear: both;">Русский язык. Безупречная грамотность.</p>
		</div>
	</div>
</div>
<div class="div-shadow_white div-shadow_first">
	<p class="red size-48 font-verdana bold center" style="margin: 0 0 3px 0; padding-top: 34px;">
		Чудо будет!
	</p>
	<p class="blue size-18 bold font-verdana center" style="margin: 0 0 41px 0; line-height: 26px;">
		Младшим школьникам
	</p>
	<div style="width: 980px; height: 667px;">	
		<div style="width: 484px; height: 667px; float: right; margin: 0 21px 0 0; position: relative;">
			<div class="image-shadow" style="width: 484px; height: 581px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/boy9.jpg" width="484" height="581" alt="Мальчик с шариками">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
			<p class="yellow size-14 bold font-verdana" style="margin: 26px 0 0 0; line-height: 22px;">
				Курс позволяет одновременно, без потерь времени и сил,<br>
				корректировать любые проблемы и обучать грамотности.
			</p>
		</div>
		<div style="width: 450px; height: 667px; float: left; margin: 0 0 0 10px">
			<p class="yellow size-16 bold font-verdana" style="margin: 0 0 32px 38px; line-height: 20px;">
				Полностью игровой – от начала до конца! –<br>
				нейролингвистический курс.
			</p>
			<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 85px">
				Не надо быть семи пядей во лбу.
			</p>
			<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 85px;">
				Ни во что не надо вникать.
			</p>
			<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 17px 85px;">
				Ничего не надо зубрить.
			</p>
			<p class="light-blue size-14 bold font-verdana" style="margin: 32px 0 24px 85px; line-height: 20px;">
				Цвет,<br>
				<span class="red" style="margin-left: 36px;">свет,</span><br>
				<span style="color: rgb(18, 184, 13); margin-left: 76px;">игра –</span><br>
				<span style="color: rgb(163, 26, 163);  margin-left: 121px;">вот его суть!</span>
			</p>
			<p class="blue size-14 bold font-verdana center" style="margin: 0 0 41px 3px; line-height: 22px;">
				Лёгкость обучения<br>
				и молниеносный успех!
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 9px 10px; line-height: 22px;">
				<span class="blue bold">В программе всё, о чём вам мечталось:</span><br>
				безупречная грамотность, чтение, речь, сочинения,<br>
				изложения, творческие диктанты, дивной красоты<br>
				творческие работы по русскому, английскому, литературе,<br>
				коррекция дислексии, дисграфии, <span class="tag">школьного</span> невроза,<br>
				повышение концентрации внимания, поддержка психолога.
			</p>
			<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 10px; line-height: 22px;">
				И всё это <span class="normal">–</span> в рамках единого игрового курса!
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 10px;">
				Длительность обучения: 4-12 сеансов (по 3 ак. часа).
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 10px; line-height: 17px;">
				Автор технологии и педагог –<br>
				профессор Ольга Олеговна Веровенко.
			</p>
		</div>
	</div>
	<p class="red size-18 bold font-verdana" style="margin: 0 0 27px 20px; padding-bottom: 55px;">
		<span class="blue size-14">Смотрите слайдер</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="red bold">Чудо будет!</span></a> <span class="blue size-14">и читайте подробную статью автора.</span>
	</p>
</div>
<p style="margin: 0;"><a name="resultat"></a></p>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 23px 0; padding: 45px 0 0 0; line-height: 59px;">
		<span class="tag">Врождённая грамотность</span> <span class="normal">–</span><br>бренд навсегда!
	</p>
	<p class="blue size-18 bold font-verdana center" style="margin: 0 0 41px 0; line-height: 26px;">
		Старшеклассникам
	</p>
	<div style="width: 980px; height: 550px; padding: 0 0 0 0;">	
		<div style="width: 340px; height: 550px; float: left; margin: 0 0 0 10px; position: relative; z-index: 2;">
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				Школьникам начиная с 7-го класса.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				Курс: 36 ак.часов<br>
				(12 занятий по 3 ак.часа каждое).
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				<span class="blue bold">Условия приёма:</span><br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
				(подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">здесь</span></a>).
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				Если  концентрация недостаточна, вам будет<br>
				предложен <span class="tag">Волшебный сеанс</span> (см. ниже),<br>
				либо курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="tag red bold">Чудо будет!</span></a>.
			</p>	
		</div>
		<div style="width: 591px; height: 550px; float: right; margin: 0 20px 0 0;">
			<div style="width: 591px; height: 406px; float: right; margin: 0 0 25px 0;">
				<div style="width: 274px; height: 406px; float: left; margin: 0 0 0 0;">
					<div class="in" style="width: 274px; height: 406px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik2.jpg" width="274" height="406" alt="Ключи к занятиям"></a>
					</div>
				</div>
				<div style="width: 274px; height: 406px; float: right; margin: 0 0 0 0;">
					<div class="in" style="width: 274px; height: 406px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik3.jpg" width="274" height="406" alt="Учебник"></a>
					</div>
				</div>
			</div>
			<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
				Уровень 2. Учебник и ключи к занятиям.<br>
				<span class="blue">Для увеличения кликните по картинке.</span>
			</p>
		</div>
	</div>
	<p class="red bold size-30 font-verdana center" style="margin: 0 0 1px 0;">
		<span class="tag">Врождённая грамотность</span>:
	</p>
	<p class="red bold size-24 font-verdana center" style="margin: 0 0 13px 0;">
		скорость, качество, результат
	</p>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 56px 0 36px 0;">
		Эффективность
	</p>
	<p class="blue size-14 bold font-verdana" style="margin: 0 0 34px 30px; line-height: 17px;">
		Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
		Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
	</p>
	<div style="width: 980px; height: 400px; margin: 0;">	
		<div id="load-video7" class="load-video" style="width: 640px; height: 400px; float: left; margin: 0 15px 0 10px; position: relative;">
		</div>
		<div style="width: 290px; height: 400px; float: right; margin: 0 0 0 0">
			<ul class="grey size-14 font-verdana bold" style="margin: 120px 0 0 0; line-height: 38px;">
				<li><span class="blue">Зубрёжки правил нет.</span></li>
				<li><span class="blue">Домашние задания минимальны.</span></li>
				<li><span class="blue">Нагрузки посильны.</span></li>
			</ul>
		</div>
	</div>
	<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 15px; line-height: 17px;">
		За период обучения количество ошибок в письменных работах снижается <span class="red">до 100 раз</span> от	исходного уровня.
	</p>
	<p class="red size-14 font-verdana bold line-height-23" style="margin: 0 0 36px 15px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" class="normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="red bold">Сравните результаты <span class="tag">до</span> и <span class="tag">через 12 занятий</span>.</span></a>
	</p>
	<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 56px 0;">
		Магия, зомбирование и ремень в обучении не применяются!
	</p>
	<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
		Уникальность
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 21px; line-height: 17px;">
		<span class="blue bold tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России и за рубежом.
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 32px 21px; line-height: 17px;">
		В области нейролингвистики – современной науки об усвоении информации человеческим мозгом – это изобретение<br>
		первое и пока единственное в мире.
	</p>
	<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 46px 21px; line-height: 17px;">
		Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
	</p>
	<div style="width: 980px; height: 500px; padding-top: 18px;">	
		<div style="width: 319px; height: 468px; float: left; margin: 0 50px 25px 150px;">
			<div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
				<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent1.jpg" width="319" height="452" alt="Патент Германия"></a>
			</div>	
			<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">	
			</div>	
			<div class="image-shadow-left-1" style="width: 127px;">			
			</div>				
		</div>
		<div style="width: 319px; height: 468px; float: right; margin: 0 138px 25px 0;">
			<div class="image-shadow in" style="width: 319px; height: 452px; cursor: pointer;">
				<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/patent2.jpg" width="319" height="452" alt="Патент Россия"></a>
			</div>	
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">				
			</div>		
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 16px;">
			Российский и международный патенты на изобретения.<br>
			<span class="light-blue">Для увеличения кликните по картинке.</span>
		</p>
	</div>
	<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 86px 0 21px 14px;">
		Автор <span class="tag">Врождённой грамотности</span> <span class="normal">–</span> профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" class="normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>.
	</p>
	<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 70px 14px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" class="normal" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="blue font-verdana bold">Читайте подробную статью автора о методе.</span></a>
	</p>
	<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
		Гарантии качества
	</p>
	<p class="blue size-14 font-verdana bold center" style="margin: 0 0 0 14px; line-height: 22px;">
		Высочайшее качество обучения подтверждено тремя Знаками Качества Госстандарта РФ с категорией<br>
		<span class="red tag">КАЧЕСТВО НАИВЫСШЕЕ</span>.		
	</p>
	<div style="width: 980px; height: 433px;">	
		<div style="width: 430px; height: 313px; float: left; margin: 99px 0 10px 92px;">
			<div class="image-shadow in" style="width: 430px; height: 297px; cursor: pointer;">
				<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate1.jpg" width="430" height="297" alt="Сертификат"></a>
			</div>	
			<div class="image-shadow-right-1">	
			</div>	
			<div class="image-shadow-left-1">			
			</div>				
		</div>
		<div style="width: 278px; height: 407px; float: right; margin: 0 84px 10px 0;">
			<div class="image-shadow in" style="width: 278px; height: 391px; cursor: pointer;">
				<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/certificate2.jpg" width="278" height="391" alt="Сертификат"></a>
			</div>	
			<div class="image-shadow-right-1" style="width: 139px; background-position: -181px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 139px;">				
			</div>		
		</div>
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 15px 0 3px 0;">
		Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
	</p>
	<p class="yellow size-14 font-arial bold center" style="margin: 0 0 0 0; line-height: 16px;">
		У нас таких три!<br>
		<span class="blue">Для увеличения кликните по картинке.</span>
	</p>
	<p class="red bold size-24 font-verdana center" style="margin: 87px 0 44px 0;">
		Осторожно: пираты!
	</p>
	<div style="padding-top: 0; height: 602px;">
		<div style="width: 839px; height: 602px; margin: 0 auto;">
			<div class="image-shadow" style="width: 839px; height: 586px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/pirati.jpg" width="839" height="586" alt="Опасайтесь мошенников">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
	</div>
	<p class="blue size-14 font-verdana bold" style="margin: 29px 0 13px 66px; padding: 0 0 80px; line-height: 22px;">
		Творческая <span class="light-blue italic">NL</span>-работа. Чтобы не путать попугая с пиратом...
	</p>
</div>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
		ГИА, ЕГЭ
	</p>
	<p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
		Фундаментальная подготовка
	</p>
	<div style="width: 980px; height: 490px; padding: 43px 0 0 0;">	
		<div style="width: 405px; height: 490px; float: left; margin: 0 0 0 11px; position: relative; z-index: 2;">
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				Версия <span class="tag">Врождённой грамотности</span>, предназначенная<br>
				для тех, кто желает сдать ГИА, ЕГЭ <span class="red size-18 bold">на отлично</span>.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				<span class="blue bold">Условия приёма:</span><br>
				Не более 50 ошибок во вступительном тесте,<br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
				(подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">здесь</span></a>).
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				Если  концентрация недостаточна, вам будет<br>
				предложен <span class="tag">Волшебный сеанс</span> (см. ниже), либо<br>
				курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="text-decoration: underline; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="tag red bold">Чудо будет!</span></a>.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				Курс: 36 ак.часов<br>
				(12 занятий по 3 ак.часа каждое).
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				См. также <span class="tag red bold">ГИА, ЕГЭ – экспресс</span> в разделе<br>
				<span class="tag blue bold">Эксклюзив</span>.
			</p>
		</div>
		<div style="width: 535px; height: 490px; float: right; margin: 0 27px 0 0;">
			<div style="width: 535px; height: 360px; float: right; margin: 0 0 25px 0;">
				<div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
					<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
					</div>
				</div>
				<div style="width: 253px; height: 420px; float: right; margin: 0 0 0 0;">
					<div class="in" style="width: 253px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg" width="100%" height="100%" alt="Учебник"></a>
					</div>
				</div>
			</div>
			<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
				Уровень 3. Учебник и ключи к занятиям.<br>
				<span class="blue">Для увеличения кликните по картинке.</span>
			</p>
		</div>
	</div>
</div>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 38px 0 0 0;">
		ЭКСКЛЮЗИВ
	</p>
	<p class="blue bold size-36 font-verdana center" style="margin: 0 0 51px 0;">
		ГИА, ЕГЭ <span class="normal size-30">–</span> экспресс
	</p>
	<div style="width: 980px; height: 344px; margin: 0 0 0 0; padding: 0 0 60px;">	
		<div style="width: 600px; height: 344px; float: left; margin: 0 0 0 11px; position: relative;">
			<div style="width: 600px; height: 344px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/express.jpg" width="600" height="344" alt="Экспресс">
			</div>
		</div>
		<div style="width: 355px; height: 344px; float: right; margin: 0 0 0 0">
			<p class="red size-16 font-verdana bold" style="margin: 7px 0 14px 0; line-height: 20px;">
				Сверхскоростное<br>нейролингвистическое обучение.
			</p>
			<p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
				Сочинения, изложения + грамотность.<br>
				При необходимости применяется гипноз.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
				Длительно обучения:<br>
				4-6 сеансов по 3 ак. часа.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
				<span class="blue bold">Условия приёма:</span><br>
				Не более 50 ошибок во вступительном тесте,<br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
				(подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">здесь</span></a>).
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
				Автор технологии обучения и ваш педагог –<br>
				профессор Ольга Олеговна Веровенко.
			</p>
		</div>
	</div>
</div>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 31px 0; padding: 38px 0 0 0;">
		ЭКСКЛЮЗИВ
	</p>
	<p class="blue bold size-36 font-verdana center" style="margin: 0 0 5px 0;">
		Волшебный сеанс
	</p>
	<p class="blue size-18 font-verdana center" style="margin: 0 0 35px 0;">
		Освободитесь от проблем!
	</p>
	<div style="width: 980px; height: 400px; margin: 0 0 0 0;">	
		<div id="load-video8" class="load-video" style="width: 521px; height: 400px; float: right; margin: 0 15px 0 0; position: relative;">
		</div>
		<div style="width: 390px; height: 400px; float: left; margin: 0 0 0 27px">
			<p class="blue bold size-18 font-verdana" style="margin: 0 0 25px 0; line-height: 22px;">
				Сеанс уникален!
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
				Коррекция дислексии, дисграфии и других проблем<br>
				обучения. Навыки правильного беглого чтения, без<br>
				чего невозможно грамотное письмо. <span class="red bold">Повышение<br>
				концентрации внимания.</span> 
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
				Успеваемость по всем гуманитарным предметам<br>
				повышается на 1-2 балла.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
				Автор технологии и ведущая сеанса<br>
				доктор психологических наук<br>
				профессор Ольга Олеговна Веровенко.
			</p>
			<p class="blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
				Читайте статью <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 0 0 -30px; position: relative;"><span class="blue tag bold">Он лентяй или болен?</span></a><br>
				о проблемах обучения детей в школе.
			</p>
		</div>
	</div>
</div>
<p style="margin: 0;"><a name="izmerenie"></a></p>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 31px 0; padding: 38px 0 0 0;">
		ЭКСКЛЮЗИВ
	</p>
	<p class="blue bold size-36 font-verdana center" style="margin: 0 0 5px 0;">
		<span class="tag">Четвёртое измерение</span>
	</p>
	<p class="blue bold size-18 font-verdana center" style="margin: 0 0 64px 0;">
		обучение с применением <span class="light-blue italic">NL</span>-психологии
	</p>
	<div style="width: 980px; height: 547px; margin: 0 0 0 0; padding: 0 0 50px;">	
		<div style="width: 499px; height: 547px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
			<div class="image-shadow" style="width: 499px; height: 531px; margin: 0 0 0 0;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl.jpg" width="499" height="531" alt="Летящая девушка">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
		<div style="width: 438px; height: 547px; float: left; margin: 0 0 0 21px">
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				<span class="blue bold">Для школьников:</span> сглаживаются шероховатости<br>
				характера. Исчезают конфликты и раздоры в семье. Дети<br>
				охотно помогают родителям по хозяйству, хорошо и<br>
				вкусно готовят. Помнят дни рождения своих близких и<br>
				делают им подарки.<br>
				<span class="bold yellow">Плюс безупречная грамотность</span>, коррекция проблем<br>
				обучения, творчество и т.д.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				<span class="blue bold">Для взрослых:</span> выход из любого тупика развития.<br>
				Карьера, бизнес, семья, взаимоотношения, конфликтные<br>
				ситуации, понятие врага тайного и явного. Ликвидация<br>
				стрессов, неврозов. Гипнотерапия.<br>
				<span class="bold yellow">Плюс безупречная грамотность.</span>
			</p>
			<p class="red bold size-14 font-verdana" style="margin: 0 0 28px 0; line-height: 22px;">
				Применяется гипноз и весь арсенал NL-психологии.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
				<span class="blue bold">Обязательное условие:</span><br>
				родители школьников не только присутствуют на<br>
				занятиях, но играют, обучаются и веселятся вместе со<br>
				своими детьми!
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
				Автор технологии обучения и ваш педагог –<br>
				профессор Ольга Олеговна Веровенко.
			</p>
		</div>
	</div>
</div>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 45px 0 0 0; line-height: 59px;">
		Взрослым
	</p>
	<p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
		Курс практической грамотности для жизни
	</p>
	<div style="width: 980px; height: 490px; padding: 36px 0 30px 0;">	
		<div style="width: 340px; height: 490px; float: left; margin: 0 0 0 15px; position: relative; z-index: 2;">
			<p class="blue size-16 font-arial bold" style="margin: 20px 0 42px 0; line-height: 18px;">
				Сверхскоростное<br>нейролингвистическое обучение.
			</p>
			<p class="bold size-14 font-verdana" style="margin: 0 0 32px 0; line-height: 17px; color: rgb(237, 95, 28);">
				Практическая грамотность для жизни.
			</p>
			<p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
				Безупречная грамотность –
			</p>
			<p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
				<span style="margin: 0 0 0 36px;">на уровне</span><br>
				<span style="margin: 0 0 0 96px;">навыка,</span><br>
				<span style="margin: 0 0 0 146px;">рефлекса,</span><br>
				<span style="margin: 0 0 0 201px;">автоматизма –</span>
			</p>
			<p class="blue bold size-14 font-verdana" style="margin: 0 0 32px 134px; line-height: 17px;">
				на уровне Подсознания.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
				Курс: 4-12 занятий по 3 ак.часа каждое.
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 19px 0; line-height: 19px;">
				Автор технологии обучения и ваш педагог –<br>
				профессор Ольга Олеговна Веровенко.
			</p>
			<p class="blue font-verdana bold" style="margin: 0 0 21px 0; font-size: 12px; line-height: 18px;">
				Как вариант: взрослые могут взять курс
				<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_resultat; [/exec]" style="text-decoration: underline; color: #0065A9; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="blue tag">Врождённой грамотности</span></a>.
			</p>	
		</div>
		<div style="width: 584px; height: 490px; float: right; margin: 0 35px 0 0;">
			<div style="width: 584px; height: 400px; float: right; margin: 0 0 25px 0;">
				<div style="width: 280px; height: 400px; float: left; margin: 0 0 0 0;">
					<div style="width: 280px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik5.jpg" width="100%" height="100%" alt="Ключи к занятиям">
					</div>
				</div>
				<div style="width: 272px; height: 400px; float: right; margin: 0 0 0 0;">
					<div style="width: 272px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik6.jpg" width="100%" height="100%" alt="Учебник">
					</div>
				</div>
			</div>
			<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
				Уровень 4. Учебник и ключи к занятиям.<br>
			</p>
		</div>
	</div>
</div>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">
	<p class="red bold size-48 font-verdana center" style="margin: 0 0 31px 0; padding: 38px 0 0 0;">
		А ещё...
	</p>
	<p class="blue bold size-36 font-verdana center" style="margin: 0 0 51px 0;">
		Безупречный английский
	</p>
	<div style="width: 980px; height: 406px; margin: 0 0 0 0; padding: 0 0 60px;">	
		<div style="width: 521px; height: 406px; float: left; margin: 0 0 0 10px; position: relative;">
			<div class="image-shadow" style="width: 521px; height: 390px; border: 2px solid #AAA8A8;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/buran.jpg" width="521" height="390" alt="Космический корабль">
			</div>
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>
		<div style="width: 423px; height: 369px; float: right; margin: 0 0 0 0">
			<p class="red size-24 font-arial bold" style="margin: 20px 0 35px 0; line-height: 36px;">
				Сверхскоростное<br>нейролингвистическое обучение.
			</p>
			<p class="blue bold size-14 font-arial" style="margin: 0 0 40px 0;  line-height: 22px;">
				Взрослым, школьникам.
			</p>
			<p class="blue bold size-14 font-arial" style="margin: 0 0 23px 0;  line-height: 22px;">
				<span class="normal dark-blue">Длительность обучения:</span><br>
				12-36 занятий по 3 ак. часа.
			</p>
			<p class="blue size-18 font-arial" style="margin: 0 0 30px 0;  line-height: 22px;">
				<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px;"><span class="blue tag bold">Вертикальный взлёт</span></a>
			</p>
			<p class="dark-blue size-18 font-arial bold" style="margin: 0 0 29px 0;  line-height: 27px;">
				Космические скорости <span class="normal">–</span><br>
				<span style="margin: 0 0 0 160px;">фантастический результат!</span>
			</p>
		</div>
	</div>
</div>
<div class="div-shadow_white" style="margin: 35px 0 0 0;">[exec] include_once get_template_directory().'/compas/compas-rus.php'; [/exec]</div>
<div id="img_container"><img src=""></div>