<h2 class="heading green size-30">За гранью возможного</h2>
<div style="width: 960px; height: 350px; padding: 44px 0 19px 0;">	
	<div style="width: 420px; height: 350px; float: left; padding-right: 0px">
		<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 22px 0 57px 18px;">
			Провожая ребёнка в жизнь,<br>
			Что дадите ему в дорогу:<br>
			Квартиру?<br>
			Машину?<br>
			Деньги?<br>
			Дайте детям хорошее образование —<br>
			И они добьются всего сами!
		</p>
		<p class="blue size-18 font-arial line-height-23" style="margin: 0 0 0 139px;">
			<span class="bold">Ольга Веровенко,</span><br>
			<span style="margin-left: 100px;">ваш друг,</span><br>
			<span style="margin-left: 120px;">ваш педагог,</span><br>
			<span style="margin-left: 140px;">ваш Мастер.</span>
		</p>		
	</div>
	<div style="width: 500px; height: 350px; float: right; margin: 0 0 0 0;">
		<div class="image-shadow-0" style="width: 500px; height: 333px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl4.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-sans-font center" style="margin: 51px 0 0 0;">
	<span class="tag">Врождённая грамотность</span>
</p>
<p class="red bold size-30 bols font-arial center" style="margin: 2px 0 57px 0;">
	Всего 12 занятий - и ошибок нет!
</p>
<p class="green bold size-24 font-sans-font center" style="margin: 0 0 0 0;">
	Результаты обучения<br>
	говорят сами за себя
</p>
<p class="blue font-sans-font bold center" style="margin: 0 0 42px 0; font-size: 18px;">
	(сравните итоги входного и выходного тестирований)
</p>
<p class="red bold size-18 font-verdana center" style="margin: 51px 0 10px 0;">
	На входе 105 ошибок, на выходе 0. Улучшение в 105 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 363px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test1.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 165px 0 0;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 264px; height: 420px;">
			<div class="image-shadow-0" style="width: 264px; height: 364px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test2.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 132px; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 132px;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 33px 0 10px 0;">
	На входе 28 ошибок, на выходе 0. Улучшение в 28 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 349px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 262px; height: 420px;">
			<div class="image-shadow-0" style="width: 262px; height: 354px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 27px 0 10px 0;">
	На входе 95 ошибок, на выходе 1. Улучшение в 95 раз!
</p>
<div style="width: 960px; height: 440px; padding-top: 9px;">	
	<div style="width: 270px; height: 440px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 270px; height: 440px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 270px; height: 375px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test5.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 273px; height: 440px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-14 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 273px; height: 440px;">
			<div class="image-shadow-0" style="width: 273px; height: 374px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test6.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="light-blue bold size-24 font-sans-font center" style="margin: 63px 0 40px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	К обучению принимаются взрослые и школьники начиная с 7-го класса.<br>
	Младшие школьники и учащиеся с проблемами обучения (дислексия, <span class="tag">школьный</span> невроз)<br>
	поступают на <span class="blue bold">курс <span class="tag">Чудо будет!</span></span>, который позволяет одновременно обучать и<br>
	корректировать проблемы, или берут сеанс <a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue bold tag">Арт-терапии</span></a>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 32px 47px;">
	Занятия у ст.м. <span class="tag">Крылатское</span>. Возможен выезд педагога к вам.
</p>
<p class="bold size-24 font-verdana" style="margin: 76px 0 35px 47px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue">Подробно о <span class="tag">Врождённой грамотности</span> Статья</span></a>
</p>
<p class="bold size-24 font-verdana" style="margin: 0 0 40px 47px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue">Он лентяй или болен?</span></a> <span class="blue size-18 normal">Статья о некоторых проблемах обучения детей в школе.</span>
</p>
<p class="blue font-sans-font bold center" style="margin: 69px 0 17px 0;">
	ГИА, ЕГЭ-комплекс
</p>
<div style="padding-top: 12px; height: 360px;">
	<div style="width: 550px; height: 360px; margin: 0 auto;">
		<div class="image-shadow" style="width: 546px; height: 340px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/book.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="red size-18 font-verdana bold center" style="margin: 14px 0 11px 0;">
	Высший балл? Легко!
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	1-4 сеанса<br>
	Безупречная грамотность + блистательные сочинения, изложения, эссе<br>
	+ поддержка профессионального психолога.
</p>
<p class="blue font-verdana size-24 bold center" style="margin: 84px 0 5px 0;">
	Сочинения,
</p>
<p class="blue font-sans-font bold center" style="margin: 0 0 33px 0; font-size: 18px;">
	изложения, эссе, сказки, рассказы, творчество
</p>
<div style="padding-top: 12px; height: 426px;">
	<div style="width: 534px; height: 426px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 534px; height: 410px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/tree.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 16px 0 42px 0;">
	Пишем блистательно!
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Навык собственных текстов за 1-4 сеанса.
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 41px 0;">
	Автор и ведущая - профессор Ольга Олеговна Веровенко,<br>
	<span class="dark-blue">член Союза журналистов СССР</span>
</p>
<p class="size-24 font-verdana center" style="margin: 0 0 8px 0;">
	<a name="result" href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Вот какой результат. Взгляните, пожалуйста!</span></a>
</p>
<p class="light-blue font-verdana size-24 bold center" style="margin: 0 0 26px 0;">
	Чтение<br>
	Повышение концентрации внимания
</p>
<div style="padding-top: 12px; height: 466px;">
	<div style="width: 652px; height: 466px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 652px; height: 450px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl5.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="size-24 font-verdana center" style="margin: 36px 0 0 0; line-height: 31px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $speckursy; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Спецкурсы <span class="tag">Чтение</span>, <span class="tag">Художественное слово</span>,<br><span class="tag">Арт-терапия</span>, <span class="tag">Актёрское мастерство</span>, <span class="tag">Литература</span></span></a>
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 81px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class="red size-24 font-verdana center bold" style="margin: 65px 0 -3px 0;">
	Нам 25 лет!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 font-verdana center bold" style="margin: 7px 0 31px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="blue">Отзывы, благодарности, поздравления.</span></a>
</p>	
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px; margin-top: 45px;">
	О нас писали
</p>
<p class="size-18 font-verdana center line-height-23" style="margin-bottom: 30px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $o_nas_pisali; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="dark-blue">Публикации о нашем опыте<br>в советской, российской и зарубежной прессе</span></a>
</p>
<div style="width: 527px; height: 422px; margin:0 auto;">
	<div class="image-shadow" style="width: 487px; margin-left: 20px; height: 406px; border: 0px solid #717070; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/globe.jpg);">
	</div>
	<div class="image-shadow-right">			
	</div>
	<div class="image-shadow-left">			
	</div>
</div>
<p class=" blue size-24 bold font-verdana center" style="margin-top: 26px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению компаса.<br>
	<span class="red">Счастливого пути!
</span></p>
