	<div id="load-video11" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
	 		<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/clock.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/clock.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe style="margin: 4px 0 0 0;" width="640" height="360" src="//www.youtube.com/embed/TSg6gGqs6Cs?autoplay=1&amp;loop=1&amp;playlist=TSg6gGqs6Cs&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
	<div id="load-video22" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
	 		<source src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/pavlin.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/pavlin.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe style="margin: 4px 0 0 0;" width="640" height="360" src="//www.youtube.com/embed/zgRms-xOLUg?autoplay=1&amp;loop=1&amp;playlist=zgRms-xOLUg&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
	<div id="load-video33" class="image-shadow-0" style="width: 521px; height: 292px; border-radius: 0; margin: 7px 0 0 0;">
		<video style="margin: -1px 0 0 0;" width="521" height="296" autoplay loop>
	 		<source src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/orel.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/orel.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe width="521" height="295" src="//www.youtube.com/embed/O1S6lTD6Ges?autoplay=1&amp;loop=1&amp;playlist=O1S6lTD6Ges&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
		
