<p class="yellow size-18 font-verdana bold" style="margin: -16px 0 0 0;">
	Русский язык – грамотность – ГИА, ЕГЭ – сочинения, изложения
</p>
<p class="light-blue font-sans-font center" style="margin: 30px 0 15px 0; font-size: 30px;">
	<span class="tag">Врождённая грамотность</span>. Бренд навсегда!
</p>
<div style="width: 960px; height: 389px; padding: 44px 0 44px 0;">	
	<div style="width: 411px; height: 389px; float: left; padding-right: 0px">
		<p class="yellow font-sans-font" style="margin: 53px 0 83px 6px; line-height: 34px; font-size: 30px;">
			Всего 12 занятий –<br>
			<span style="margin: 0 0 0 175px">и ошибок нет!</span>
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Уникальный<br>
			авторский метод<br>
			профессора Ольги Олеговны Веровенко
		</p>		
	</div>
	<div style="width: 540px; height: 389px; float: right; margin: 0 9px 0 0;">
		<div class="image-shadow-0" style="width: 540px; height: 373px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl5.jpg" width="100%" height="100%" alt="Счастливая девочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 36px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 57px;">
	За период обучения количество ошибок в письменных работах учащихся снижается<br>
	<span class="red">до 100 раз</span> от исходного уровня.
</p>
<p style="margin: 0;"><a name="resultat"></a></p>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 38px 0;">
	Результаты обучения говорят сами за себя!
</p>
<p class="blue size-18 font-verdana" style="margin: 0 0 48px 57px;">
	Сравните, пожалуйста, результаты входного и выходного тестов.
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 12px 0;">
	На входе 105 ошибок, на выходе 0 – улучшение в 105 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 363px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test1.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 165px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 264px; height: 420px;">
			<div class="image-shadow-0" style="width: 264px; height: 364px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test2.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 132px; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 132px;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 67px 0 24px 0;">
	На входе 28 ошибок, на выходе 0 – улучшение в 28 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 349px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 262px; height: 420px;">
			<div class="image-shadow-0" style="width: 262px; height: 354px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 60px 0 28px 0;">
	На входе 95 ошибок, на выходе 1 – улучшение в 95 раз!
</p>
<div style="width: 960px; height: 440px; padding-top: 9px;">	
	<div style="width: 270px; height: 440px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 270px; height: 440px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 270px; height: 375px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test5.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 273px; height: 440px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 273px; height: 440px;">
			<div class="image-shadow-0" style="width: 273px; height: 374px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test6.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-24 font-verdana" style="margin: 62px 0 26px 32px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 33px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новой технологии<br>
	преподавания – метода <span class="tag">Врождённой грамотности</span>.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 37px 70px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="yellow bold size-24 font-verdana center" style="margin: 51px 0 30px 0;">
	Уникальность и гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 17px;">
	<span class="tag">Врождённая грамотность</span> запатентована как изобретение в России и за рубежом и не имеет<br>
	аналогов в мире.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 17px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red bold tag">КАЧЕСТВО НАИВЫСШЕЕ</span>.
</p>
<p class="size-18 font-verdana" style="margin: 0 0 33px 17px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $glavnaja; [/exec]" style="text-decoration:underline; color: #4A4A4A;"><span class="blue">Патенты, сертификаты, акты экспертиз.</span></a>
</p>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 0 0 43px 17px;">
	Автор метода <span class="tag">Врождённой грамотности</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #A98700;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 70px 0 49px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 28px;">
	К обучению принимаются взрослые люди и школьники <span class="black bold">без признаков</span> <span class="blue">дислексии, дисграфии,<br>
	<span class="tag">школьного</span> невроза, гиперактивности и других проблем обучения,</span><br>
	<span class="blue bold">с нормальным уровнем</span> <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_deficit; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue bold">концентрации внимания</span></a>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 28px;">
	Учащиеся всех возрастов (взрослые и школьники) <span class="black bold">с проблемами обучения</span>, дислексией,<br>
	дисграфией, <span class="tag">школьным</span> неврозом, низким уровнем концентрации внимания <span class="black bold">поступают</span> на<br>
	курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold tag">Чудо будет!</span></a> (<span class="blue tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>), <span class="black bold">который позволяет одновременно</span>,<br>
	без потерь времени и сил, <span class="black bold">обучать и корректировать проблемы</span>, либо берут сеанс<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold tag">Арт-терапии</span></a>, после которого можно поступать на любой	подходящий вам уровень.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 28px;">
	<span class="blue bold">Уровень 3.</span> Школьники 9-11 классов (36 ак.часов, 12 занятий по 3 ак.часа каждое).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 28px;">
	<span class="blue bold">Уровень 2.</span> Школьники 7-8 классов (36 ак.часов, 12 занятий по 3 ак.часа каждое).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 28px;">
	<span class="blue bold">Уровень 1.</span> <span class="blue bold tag">Врождённая грамотность для детей</span> (3-6 класс).<br>
	Творчески-игровой интеллектуально развивающий и обучающий курс. Грамотность, русский,<br>
	чтение (в том числе вслух), повышение концентрации внимания, развитие творческого<br>
	мышления.
</p>
<p class="blue size-16 font-verdana" style="margin: 0 0 42px 28px; line-height: 20px;">
	Обучение идёт блоками. Блок – 12 ак.часов (4 занятия по 3 ак.часа каждое). Между блоками<br>
	можно делать перерыв.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 28px;">
	<span class="blue bold">Творчество.</span> <a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue font-verdana size-18">Навык гениальных изложениий, сочинений, эссе, сказок (1-4 сеанса)</span></a>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 28px;">
	<span class="blue bold">ГИА, ЕГЭ-комплекс.</span> 4-6 занятий на базе <span class="tag">Врождённой грамотности</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 28px;">
	<span class="red bold"><span class="tag">Врождённая грамотность для взрослых</span>.</span> Практическая грамотность для жизни +<br>
	<span class="light-blue bold italic">NL</span>-психология. Длительность 4-8 сеансов (по 3 ак.часа каждый). Лёгкое, естественное<br>
	сверхскоростное обучение на уровне подсознания. <span class="red size-16">Занятия с проф. О.О.Веровенко.</span>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 60px 0 29px 0;">
	Пробное занятие
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 39px 0;">
	Приходите и пробуйте. Понравится!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 56px;">
	Всех учащихся <span class="black bold">с проблемами обучения</span> принимает автор метода <span class="tag">Врождённой<br>
	грамотности</span> доктор наук профессор Ольга Олеговна Веровенко. Возьмите сеанс<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold tag">Арт-терапии</span></a> или <span class="blue bold">Пробный сеанс.</span>
</p>
<p class="dark-blue size-16 font-verdana" style="margin: 0 0 21px 56px; line-height: 20px;">
	В программе: диагностика, тестирование, консультации, рекомендации, коррекция проблем, сеанс<br>
	<span class="tag">Арт-терапии</span>, <span class="tag">примерка</span> подходящей технологии обучения.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 69px 0 0 0;">
	Подробно о <span class="tag">Врождённой грамотности</span>
</p>
<div style="width: 960px; height: 370px; padding: 49px 0 0 0;">	
	<div style="width: 411px; height: 370px; float: left; margin: 0 0 0 17px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ваш ребёнок – хороший человечек,<br>
			пятёрочник по физике, математике,<br>
			истории, чему угодно, кроме русского<br>
			языка. Ну не может он писать без<br>
			ошибок!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Вот с такой проблемой приходят к нам<br>
			на курсы «Врождённой грамотности».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Мы берём за основу существующий в<br>
			реальной жизни феномен –<br>
			врождённую грамотность.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Подробности читайте в статье<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: rgb(0, 101, 169);"><span class="blue bold tag">У кого есть глупо дитятко?<br><span style="margin: 0 0 0 94px">У кого их только нет...</span></span></a>
		</p>		
	</div>
	<div style="width: 504px; height: 370px; float: right; margin: 0 28px 0 0;">
		<div class="image-shadow-0" style="width: 504px; height: 303px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/wall.jpg" width="100%" height="100%" alt="Китайская стена">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 16px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
</div>
<p class="yellow size-24 font-verdana bold center" style="margin: 81px 0 5px 0;">
	Курс-новинка <span class="red tag">Чудо будет!</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 46px 0; line-height: 29px;">
	(<span class="tag">Врождённая грамотность-<span class="bold italic">NL</span></span>)<br>
	ещё ярче, ещё интереснее!
</p>
<div style="width: 960px; height: 585px;">	
	<div style="width: 421px; height: 585px; float: right; margin: 0 66px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 421px; height: 569px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 585px; float: left; margin: 0 0 0 67px">
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 54px 0 22px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 66px 0 70px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 48px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 97px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 151px;">вот его суть!</span>
		</p>
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 62px 29px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-16 font-verdana" style="margin: 0 0 39px 0;">
			Длительность курса 4-12 сеансов.
		</p>
		<p class="red size-24 bold font-verdana" style="margin: 0 0 0 0;">
			<span class="blue size-14 font-arial bold">Зайдите, пожалуйста:</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red size-24 bold">Чудо будет!</span></a><br>
		</p>
	</div>
</div>
</p>
<p class="red size-30 bold font-verdana center" style="margin: 82px 0 31px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 23px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 60px 0 26px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
