<p class="light-blue font-sans-font center" style="margin: 1px 0 15px 0; font-size: 30px;">
	<span class="tag">Врождённая грамотность</span>. Бренд навсегда!
</p>
<div style="width: 960px; height: 389px; padding: 47px 0 83px 0;">	
	<div style="width: 411px; height: 389px; float: left; padding-right: 0px">
		<p class="yellow font-sans-font" style="margin: 53px 0 110px 6px; line-height: 34px; font-size: 30px;">
			Всего 12 занятий –<br>
			<span style="margin: 0 0 0 175px">и ошибок нет!</span>
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Уникальный<br>
			авторский метод<br>
			профессора Ольги Олеговны Веровенко
		</p>		
	</div>
	<div style="width: 540px; height: 389px; float: right; margin: 0 9px 0 0;">
		<div class="image-shadow-0" style="width: 540px; height: 373px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl5.jpg" width="100%" height="100%" alt="Счастливая девочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 30px 0;">
	Эффективность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 57px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 17px 57px;">
	За период обучения количество ошибок в письменных работах учащихся<br>
	снижается <span class="red">до 100 раз</span> от исходного уровня.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 69px 90px; line-height: 44px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p style="margin: 0;"><a name="resultat"></a></p>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 9px 0;">
	Результаты обучения говорят сами за себя!
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 44px 18px;">
	Сравните, пожалуйста, результаты входного и выходного тестов:
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 12px 0;">
	На входе 105 ошибок, на выходе 0. Улучшение в 105 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 363px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test1.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 165px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 264px; height: 420px;">
			<div class="image-shadow-0" style="width: 264px; height: 364px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test2.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 132px; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 132px;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 67px 0 24px 0;">
	На входе 28 ошибок, на выходе 0. Улучшение в 28 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 349px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 262px; height: 420px;">
			<div class="image-shadow-0" style="width: 262px; height: 354px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 60px 0 28px 0;">
	На входе 95 ошибок, на выходе 1. Улучшение в 95 раз!
</p>
<div style="width: 960px; height: 440px; padding-top: 9px;">	
	<div style="width: 270px; height: 440px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 270px; height: 440px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 270px; height: 375px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test5.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 273px; height: 440px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 273px; height: 440px;">
			<div class="image-shadow-0" style="width: 273px; height: 374px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test6.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="yellow bold size-24 font-verdana" style="margin: 35px 0 75px 32px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 22px;">
	<span class="blue bold tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России <br>
	и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 22px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – это изобретение первое и пока единственное.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 22px;">
	Международная экспертиза РСТ подтвердила, что оно <span class="red">не имеет аналогов в мире.</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 258px; height: 380px; float: left; margin: 0 74px 3px 180px;">
		<div class="image-shadow-0" style="width: 258px; height: 364px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1" style="width: 129px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 129px;">			
		</div>				
	</div>
	<div style="width: 258px; height: 380px; float: right; margin: 0 190px 3px 0;">
		<div class="image-shadow-0" style="width: 258px; height: 363px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
		</div>	
		<div class="image-shadow-right-1" style="width: 129px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 129px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 19px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретения.
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 57px 0 74px 14px;">
	Автор <span class="tag">Врождённой грамотности</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 29px 14px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ<br>
	с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 374px;">	
	<div style="width: 417px; height: 305px; float: left; margin: 58px 0 0 124px;">
		<div class="image-shadow-0" style="width: 417px; height: 289px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 250px; height: 370px; float: right; margin: 0 117px 0 0;">
		<div class="image-shadow-0" style="width: 250px; height: 347px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 125px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 125px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 1px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 84px 0;">
	У нас таких три!
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 49px 0;">
	Условия приёма
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 28px;">
	<span class="dark-blue">К обучению принимаются взрослые и школьники начиная с 7-го класса без признаков</span><br>
	дислексии, дисграфии, <span class="tag">школьного</span> невроза, гиперактивности и других проблем обучения,<br>
	с нормальным уровнем концентрации внимания.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 97px 28px;">
	<span class="blue bold">Младшие школьники</span> и учащиеся всех возрастов <span class="blue bold">с проблемами обучения поступают</span> на<br>
	курс <span class="red bold tag">Чудо будет!</span> (<span class="blue">см.ниже</span>), который позволяет одновременно, без	потерь времени и сил,<br>
	обучать и корректировать проблемы, либо берут сеанс <a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold tag">Арт-терапии</span></a>.
</p>
<p class="red size-24 font-verdana bold center" style="margin: 0 0 5px 0;">
	Курс <span class="tag">Чудо будет!</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 46px 0; line-height: 29px;">
	(<span class="tag">Врождённая грамотность-<span class="light-blue bold italic">NL</span></span>)<br>
	ещё ярче, ещё интереснее!
</p>
<div style="width: 960px; height: 585px;">	
	<div style="width: 421px; height: 585px; float: right; margin: 0 66px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 421px; height: 569px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 585px; float: left; margin: 0 0 0 67px">
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 30px 0 22px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 66px 0 70px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 48px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 97px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 151px;">вот его суть!</span>
		</p>
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 62px 29px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-16 font-verdana" style="margin: 0 0 39px 0;">
			Длительность курса 4-12 сеансов.
		</p>
		<p class="red size-24 bold font-verdana" style="margin: 0 0 0 0;">
			<span class="blue size-14 font-arial bold">Зайдите, пожалуйста:</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: none; color: #4A4A4A; border-bottom: 1px solid;"><span class="red size-24 bold">Чудо будет!</span></a><br>
		</p>
	</div>
</div>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 89px 0 18px 0;">
	ГИА, ЕГЭ
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 77px 60px;">
	<span class="blue bold">Творчество.</span> <a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue font-verdana size-18">Навык гениальных изложений, сочинений, эссе, сказок</span></a>.
</p>
<p class="red font-verdana size-30 bold center" style="margin-bottom: 45px;">
	Как получить скидку до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Скидки</span> – <span class="blue bold">обычная</span> <span class="red">до 55%</span> <span class="blue bold">и Рождественская</span> <span class="red">до 75%</span> – предназначены только<br>
	для <span class="red bold">Persona Grata</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Чтобы обрести этот статус, вам необходимо соблюдать все условия,<br>
	предъявляемые к</span> <span class="red bold">Persona Grata</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Условие первое:</span> <span class="red bold">Persona Grata</span> внимательно ознакомилась с <a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">материалами сайта</span></a><br>
	и условиями обучения. 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 50px;">
	<span class="blue bold">Остальные условия</span> узнаете, читая материалы сайта.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 76px 50px;">
	<span class="blue bold">Альтернатива:</span> оплата по базовой стоимости, без скидок.
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 29px 0;">
	Пробное занятие
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 0 0;">
	Приходите и пробуйте. Понравится!
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 69px 0 26px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
