<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]"><span class="yellow">АНГЛИЙСКИЙ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>РУССКИЙ ЯЗЫК</span></a></div>
		</div>
	</div>
</div>
<p class="light-blue font-sans-font center" style="margin: 9px 0 12px 0; font-size: 30px;">
	<span class="tag">Врождённая грамотность</span>. Бренд навсегда!
</p>
<div style="width: 960px; height: 389px; padding: 47px 0 3px 0;">	
	<div style="width: 411px; height: 389px; float: left; padding-right: 0px">
		<p class="yellow font-sans-font" style="margin: 26px 0 27px 6px; line-height: 38px; font-size: 30px;">
			Всего 12 занятий –<br>
			<span style="margin: 0 0 0 175px">и ошибок нет!</span>
		</p>
		<p class="blue size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 27px;">
			Безупречная грамотность.<br>
			Чтение, речь, литература.<br>
			Коррекция дислексии, дисграфии.<br>
			Сочинения, изложения, творчество.<br>
			Поддержка психолога.<br>
			ГИА, ЕГЭ.
		</p>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 26px; line-height: 17px;">
			Индивидуально и в мини-группах.<br>
			Возможен выезд к вам.
		</p>
		<div id="anim-vertvzlet" style="height: 0; width: 430px;">
			<div style="height: 40px; width: 300px; position: absolute; background-color: white; margin: -350px 0 0 0;"></div>
			<div style="height: 40px; width: 300px; position: absolute; background-color: white; margin: -310px 0 0 170px;"></div>
			<div style="height: 250px; width: 430px; position: absolute; background-color: white; margin: -250px 0 0 0;"></div>
		</div>		
	</div>
	<div style="width: 540px; height: 389px; float: right; margin: 0 9px 0 0; position: relative;">
		<div class="image-shadow" style="width: 540px; height: 373px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl5.jpg" width="100%" height="100%" alt="Счастливая девочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-14 font-verdana" style="margin: 0 0 43px 105px; line-height: 17px;">
	Взрослым и школьникам,<br>
	<span style="margin: 0 0 0 110px;">младшим и старшим,</span><br>
	<span style="margin: 0 0 0 170px;">отличникам и отстающим –</span><br>
	<span style="margin: 0 0 0 290px;">каждому своя версия!</span>
</p>
<p class="red size-16 font-verdana" style="margin: 0 0 0 26px; line-height: 20px;">
	<span class="bold">Скидка 50% – не всем!</span><br>
	Скидка 50% только тем, кто внимательно читал материалы сайта.
</p>
<p class="light-blue bold size-30 font-verdana center" style="margin: 68px 0 50px 0;">
	Уровень 1
</p>
<p class="red size-24 font-verdana bold center" style="margin: 0 0 5px 0;">
	Чудо будет!
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 48px 0; line-height: 26px;">
	Врождённая грамотность для детей
</p>
<div style="width: 960px; height: 526px;">	
	<div style="width: 376px; height: 526px; float: right; margin: 0 63px 0 0; position: relative;">
		<div class="image-shadow" style="width: 376px; height: 510px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 439px; height: 526px; float: left; margin: 0 0 0 38px">
		<p class="yellow size-16 bold font-verdana" style="margin: 0 0 32px 0; line-height: 20px;">
			Полностью игровой – от начала до конца! –<br>
			курс для школьников 2-9 классов.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 48px">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 10px 48px;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-14 bold font-verdana line-height-23" style="margin: 0 0 17px 48px;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-14 bold font-verdana" style="margin: 37px 0 24px 48px; line-height: 20px;">
			Цвет,<br>
			<span class="red" style="margin-left: 36px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 76px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 121px;">вот его суть!</span>
		</p>
		<p class="blue size-14 bold font-verdana center" style="margin: 0 62px 29px 0; line-height: 22px;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="dark-blue size-14 font-arial center" style="margin: 0 62px 33px 0;">
			Курс 4-12 сеансов по 3 ак.часа.
		</p>
		<p class="red size-18 bold font-verdana" style="margin: 0 0 27px 0;">
			<span class="blue size-14">Зайдите, пожалуйста:</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #EE1C24; padding: 15px 0 15px 0;"><span class="red">Чудо будет!</span></a><br>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 17px;">
			Автор технологии и педагог –<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p class="yellow size-16 bold font-verdana" style="margin: 33px 0 44px 199px; line-height: 25px;">
	Курс позволяет одновременно, без потерь времени и сил,<br>
	корректировать любые проблемы и обучать грамотности.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 9px 38px; line-height: 22px;">
	<span class="blue bold">В программе всё, о чём вам мечталось:</span> безупречная грамотность, чтение, речь, сочинения, изложения,<br>
	творческие диктанты, дивной красоты творческие работы по русскому, английскому, литературе, коррекция<br>
	дислексии, дисграфии, <span class="tag">школьного</span> невроза, повышение концентрации внимания, поддержка психолога.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 38px; line-height: 22px;">
	И всё это – в рамках единого игрового курса!
</p>
<p class="light-blue bold size-30 font-verdana center" style="margin: 85px 0 9px 0;">
	Уровень 2
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 66px 0; line-height: 26px;">
	Классическая версия
</p>
<div style="width: 960px; height: 490px; padding: 0 0 0 0;">	
	<div style="width: 390px; height: 490px; float: left; margin: 0 0 0 8px; position: relative; z-index: 2;">
		<p class="blue bold size-16 font-verdana line-height-23" style="margin: 0 0 15px 0;">
			Уровень 2.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Школьникам начиная с 7-го класса.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 36 ак.часов<br>
			(12 занятий по 3 ак.часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Результаты обучения говорят сами за себя!</span><br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 0 15px 0;"><span class="dark-blue">Сравните результаты тестов <span class="tag">до</span> и <span class="tag">после</span>.</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Условия приёма: <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 0 15px 0;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
			(минимальная норма здоровья). Определяется во<br>
			время тестирования.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если концентрация недостаточна, вам будет<br>
			предложен <span class="tag">Волшебный сеанс</span> <span class="light-blue bold italic">NL</span>-психолога<br>
			(см. ниже), либо курс <span class="red bold tag">Чудо будет!</span>, который<br>
			позволяет одновременно, без потерь времени и<br>
			сил, корректировать проблемы и обучать<br>
			грамотности.
		</p>	
	</div>
	<div style="width: 526px; height: 490px; float: right; margin: 0 15px 0 0;">
		<div style="width: 526px; height: 360px; float: right; margin: 0 0 25px 0;">
			<div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik2.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 242px; height: 360px; float: right; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik3-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik3.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
			Уровень 2. Учебник и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 29px 0 1px 0;">
	Уровень 3
</p>
<p class="blue size-16 font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
	Классическая версия
</p>
<div style="width: 960px; height: 490px; padding: 56px 0 0 0;">	
	<div style="width: 410px; height: 490px; float: left; margin: 0 0 0 7px; position: relative; z-index: 2;">
		<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 23px 0;">
			Уровень 3. Мастер-класс.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Школьникам 9-11 классов.<br>
			<span class="blue bold">Идеально для ГИА, ЕГЭ.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс: 12-36 ак.часов<br>
			(4-12 занятий по 3 ак.часа каждое).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Результаты обучения говорят сами за себя!</span><br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 0 15px 0;"><span class="dark-blue">Сравните результаты тестов <span class="tag">до</span> и <span class="tag">после</span>.</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Условия приёма: <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 0 15px 0;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
			(минимальная норма здоровья). Определяется во<br>
			время тестирования.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если концентрация недостаточна, вам будет<br>
			предложен <span class="tag">Волшебный сеанс</span> <span class="light-blue bold italic">NL</span>-психолога<br>
			(см. ниже), либо курс <span class="red bold tag">Чудо будет!</span>, который<br>
			позволяет одновременно, без потерь времени и сил,<br>
			корректировать проблемы и обучать грамотности.
		</p>	
	</div>
	<div style="width: 520px; height: 490px; float: right; margin: 0 22px 0 0;">
		<div style="width: 520px; height: 360px; float: right; margin: 0 0 25px 0;">
			<div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
				<div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
				</div>
			</div>
			<div style="width: 253px; height: 420px; float: right; margin: 0 0 0 0;">
				<div class="in" style="width: 253px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
					<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik1.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/uchebnik1.jpg" width="100%" height="100%" alt="Учебник"></a>
				</div>
			</div>
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
			Уровень 3. Учебник и ключи к занятиям.<br>
			<span class="blue">Для увеличения кликните по картинке.</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 51px 0 0 0;">
	Уровень 4
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 0 0;">
	Практическая грамотность для жизни.
</p>
<div style="width: 960px; height: 490px; padding: 50px 0 0 0;">	
	<div style="width: 360px; height: 490px; float: left; margin: 0 0 0 10px; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 19px 0 19px 0;">
			<span class="blue bold">Уровень 4. Новинка!
		</p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			Для взрослых и старшеклассников.
		</p>	
		<p class="bold size-14 font-verdana" style="margin: 0 0 32px 0; line-height: 17px; color: rgb(237, 95, 28);">
			Практическая грамотность для жизни.
		</p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			Безупречная грамотность –
		</p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			<span style="margin: 0 0 0 36px;">на уровне</span><br>
			<span style="margin: 0 0 0 96px;">навыка,</span><br>
			<span style="margin: 0 0 0 146px;">рефлекса,</span><br>
			<span style="margin: 0 0 0 201px;">автоматизма –</span>
		</p>
		<p class="blue bold size-14 font-verdana" style="margin: 0 0 32px 134px; line-height: 17px;">
			на уровне Подсознания.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Курс: 12-24 ак.часа<br>
			(4-8 занятий по 3 ак.часа каждое).
		</p>
		<p class="font-verdana bold" style="margin: 0 0 21px 0; font-size: 12px; line-height: 18px; color: rgb(237, 95, 28);">
			Занятия ведёт автор метода <span class="tag">Врождённой<br>
			грамотности</span> проф. О.О.Веровенко.
		</p>	
	</div>
	<div style="width: 574px; height: 490px; float: right; margin: 0 15px 0 0;">
		<div style="width: 574px; height: 400px; float: right; margin: 0 0 25px 0;">
			<div style="width: 280px; height: 400px; float: left; margin: 0 0 0 0;">
				<div style="width: 280px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/uchebnik5.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
			</div>
			<div style="width: 272px; height: 400px; float: right; margin: 0 0 0 0;">
				<div style="width: 272px; height: 400px; margin: 0 auto; position: relative; z-index: 1; box-shadow: 15px 15px 20px 0px #777;">
					<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/uchebnik6.jpg" width="100%" height="100%" alt="Учебник">
				</div>
			</div>
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
			Уровень 4. Учебник и ключи к занятиям.<br>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 74px 0 5px 0;">
	Волшебный сеанс
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 35px 0;">
	Освободитесь от проблем!
</p>
<div style="width: 960px; height: 400px; margin: 0 0 0 0;">	
	<div id="load-video3" class="load-video" style="width: 521px; height: 400px; float: right; margin: 0 10px 0 0; position: relative;">
	</div>
	<div style="width: 380px; height: 400px; float: left; margin: 0 0 0 27px">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 25px 0; line-height: 22px;">
			Сеанс уникален!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
			Коррекция признаков дислексии, дисграфии и<br>
			других проблем обучения. Навыки правильного<br>
			беглого чтения, без чего невозможно грамотное<br>
			письмо. Повышение концентрации внимания. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			Успеваемость по всем гуманитарным предметам<br>
			повышается на 1-2 балла.
		</p>
		<p class="yellow bold size-14 font-verdana" style="margin: 0 0 20px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 15px 0 15px 0;"><span class="yellow">И всё это – за один сеанс!</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			Автор технологии и ведущая сеанса<br>
			доктор психологических наук<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p style="margin: 0;"><a name="izmerenie"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: -45px 0 0 0; padding: 100px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: -2px 0 72px 0;">
	обучение с применением <span class="light-blue italic">NL</span>-психологии
</p>
<div style="width: 960px; height: 449px; margin: 0 0 0 0;">	
	<div style="width: 468px; height: 449px; float: right; margin: 0 2px 0 0; position: relative; z-index: 5;">
		<div class="image-shadow" style="width: 468px; height: 433px; margin: 0 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/flygirl.jpg" width="100%" height="100%" alt="Летящая девушка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 450px; height: 449px; float: left; margin: 0 0 0 29px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Для школьников:</span> сглаживаются шероховатости<br>
			характера. Исчезают конфликты и раздоры в семье. Дети<br>
			охотно помогают родителям по хозяйству, хорошо и<br>
			вкусно готовят. Помнят дни рождения своих близких и<br>
			делают им подарки.<br>
			<span class="bold yellow">Плюс безупречная грамотность</span>, коррекция проблем<br>
			обучения, творчество и т.д.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Для взрослых:</span> выход из любого тупика развития.<br>
			Карьера, бизнес, семья, взаимоотношения, конфликтные<br>
			ситуации, понятие врага тайного и явного. Ликвидация<br>
			стрессов, неврозов. Гипнотерапия.<br>
			<span class="bold yellow">Плюс безупречная грамотность.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Обязательное условие:</span><br>
			родители школьников не только присутствуют на<br>
			занятиях, но играют, обучаются и веселятся вместе со<br>
			своими детьми!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
			Курс (4-12 сеансов) ведёт доктор психологических наук<br>
			проф. <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 0 15px 0;"><span class="blue">О.О.Веровенко.</span></a>.
		</p>
	</div>
</div>
<p class="yellow bold size-30 font-verdana center" style="margin: 131px 0 1px 0;">
	<span class="tag">Врождённая грамотность</span>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 13px 0;">
	Скорость, качество, результат
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 56px 0 30px 0;">
	Эффективность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 34px 40px; line-height: 17px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 34px 40px; line-height: 17px;">
	За период обучения количество ошибок в письменных работах учащихся снижается <span class="red">до 100 раз</span> от<br>
	исходного уровня.
</p>
<ul class="grey size-14 font-verdana bold" style="margin: 0 0 67px 73px; line-height: 38px;">
	<li><span class="blue">Зубрёжки правил нет.</span></li>
	<li><span class="blue">Домашние задания минимальны.</span></li>
	<li><span class="blue">Нагрузки посильны.</span></li>
</ul>
<p class="yellow bold size-24 font-verdana" style="margin: 0 0 104px 49px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 22px 0;">
	Уникальность
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 21px; line-height: 17px;">
	<span class="blue bold tag">Врождённая грамотность</span> уникальна и запатентована как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 32px 21px; line-height: 17px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим мозгом – это изобретение<br>
	первое и пока единственное.
</p>
<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 46px 21px; line-height: 17px;">
	Международная экспертиза РСТ подтвердила – <span class="red">ничего подобного в мире нет!</span>
</p>
<div style="width: 960px; height: 400px; padding-top: 18px;">	
	<div style="width: 254px; height: 376px; float: left; margin: 0 74px 7px 182px;">
		<div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent1-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent1.jpg" width="100%" height="100%" alt="Патент Германия"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">	
		</div>	
		<div class="image-shadow-left-1" style="width: 127px;">			
		</div>				
	</div>
	<div style="width: 254px; height: 376px; float: right; margin: 0 192px 7px 0;">
		<div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/patent2.jpg" width="100%" height="100%" alt="Патент Россия"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 127px;">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретения.<br>
		<span class="light-blue">Для увеличения кликните по картинке.</span>
	</p>
</div>
<p class="yellow size-18 font-verdana bold line-height-23" style="margin: 64px 0 80px 14px;">
	Автор <span class="tag">Врождённой грамотности</span> – профессор <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 0 15px 0"><span class="yellow font-verdana bold">Ольга Олеговна Веровенко</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 29px 0;">
	Гарантии качества
</p>
<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 37px 14px; line-height: 22px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя Знаками Качества</span> Госстандарта РФ с категорией<br>
	<span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 360px;">	
	<div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 131px;">
		<div class="image-shadow in" style="width: 413px; height: 285px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate1-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate1.jpg" width="100%" height="100%" alt="Сертификат"></a>
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 246px; height: 344px; float: right; margin: 0 124px 10px 0;">
		<div class="image-shadow in" style="width: 246px; height: 344px; cursor: pointer;">
			<a href="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate2-big.jpg"><img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/certificate2.jpg" width="100%" height="100%" alt="Сертификат"></a>
		</div>	
		<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 123px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 15px 0 3px 0;">
	Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="yellow size-14 font-arial bold center" style="margin: 0 0 77px 0; line-height: 16px;">
	У нас таких три!<br>
	<span class="blue">Для увеличения кликните по картинке.</span>
</p>
<p class="red bold size-24 font-verdana center" style="margin: 91px 0 52px 0;">
	Осторожно: пираты!
</p>
<div style="padding-top: 0; height: 602px;">
	<div style="width: 839px; height: 602px; margin: 0 auto;">
		<div class="image-shadow" style="width: 839px; height: 586px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/pirati.jpg" width="100%" height="100%" alt="Опасайтесь мошенников">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 9px 0 13px 66px; line-height: 22px;">
	Творческая <span class="light-blue italic">NL</span>-работа. Чтобы не путать попугая с пиратом...
</p>
<p style="margin: 0;"><a name="chto-pochitat"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: -9px 0 44px 0; padding: 100px 0 0 0;">
	Что почитать
</p>
<p class="yellow size-18 bold font-verdana" style="margin: 0 0 26px 23px;">
	Статья <span class="tag">У кого есть глупо дитятко? У кого их только нет...</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 23px; line-height: 22px;">
	Ваш ребёнок – хороший человечек, пятёрочник по физике, математике, истории, чему угодно, кроме русского языка. Ну не<br>
	может он писать без ошибок!<br>
	Вот с такой проблемой приходят к нам на курсы «Врождённой грамотности».
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 23px; line-height: 22px;">
	Мы берём за основу существующий в реальной жизни феномен – врождённую грамотность.
</p>
<div style="width: 960px; height: 395px; margin: 0 0 0 0;">	
	<div style="width: 534px; height: 395px; float: right; margin: 0 10px 0 0; position: relative;">
		<div class="image-shadow" style="width: 534px; height: 321px; margin: 10px 0 0 0;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/boy.jpg" width="100%" height="100%" alt="Мальчик у стены">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 bold font-arial center" style="margin: 16px 0 0 0; line-height: 22px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
	<div style="width: 380px; height: 395px; float: left; margin: 0 0 0 23px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Речь идёт о людях, зачастую весьма<br>
			поверхностно знающих правила, но тем не<br>
			менее практически не делающих ошибок при<br>
			письме.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Они обладают врождённой грамотностью.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Что же это за феномен такой?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 44px 0; line-height: 22px;">
			О методе <span class="tag">Врождённой грамотности</span> и<br>
			других наших технологиях обучения читайте<br>
			подробную статью
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">У кого есть глупо дитятко?...</span></a>
		</p>
	</div>
</div>
<p class="yellow size-18 bold font-verdana" style="margin: 49px 0 45px 15px;">
	Статья <span class="tag">Он лентяй или болен?</span>
</p>
<div style="width: 960px; height: 315px;">	
	<div style="width: 522px; height: 315px; float: left; margin: 0 0 0 15px; position: relative;">
		<div class="image-shadow" style="width: 522px; height: 299px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/boy1.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 389px; height: 315px; float: right; margin: 0 0 0 0">
		<p class="blue size-18 font-verdana bold" style="margin: 120px 0 21px 0;  line-height: 23px;">
			Безграмотно пишем?<br>
			<span style="margin: 0 0 0 123px;">Плохие чтение, речь?</span>
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 32px 0 16px 15px; line-height: 17px;">
	О дисграфии, дислексии, <span class="tag">школьном</span> неврозе и других проблемах обучения и о том, как их преодолеть с<br>
	помощью наших <span class="light-blue bold italic">NL</span>-технологий читайте в статье
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">Он лентяй или болен?</span></a>
</p>
<p class="yellow size-18 bold font-verdana" style="margin: 97px 0 44px 15px;">
	Статья <span class="tag">Чудо будет!</span>
</p>
<div style="padding-top: 0; height: 382px;">
	<div style="width: 524px; height: 382px; margin: 0 auto;">
		<div class="image-shadow" style="width: 524px; height: 366px;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/butterfly.jpg" width="100%" height="100%" alt="Бабочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 34px 0 13px 36px; line-height: 22px;">
	О связи игрового творческого обучения с особенностями вашего Подсознания читайте в статье
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold tag">Чудо будет!</span></a>
</p>
<p class="light-blue bold size-30 font-verdana center" style="margin: 127px 0 10px 0;">
	А ещё у нас...
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 0 0 50px 0;">
	Безупречный английский.
</p>
<div style="width: 960px; height: 369px;">	
	<div style="width: 472px; height: 369px; float: left; margin: 0 0 0 14px; position: relative;">
		<div class="image-shadow" style="width: 472px; height: 353px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/buran.jpg" width="100%" height="100%" alt="Космический корабль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 428px; height: 369px; float: right; margin: 0 0 0 0">
		<p class="blue bold size-18 font-verdana" style="margin: 0 0 34px 0;  line-height: 22px;">
			Скорость. Качество. Результат.
		</p>
		<p class="dark-blue bold size-14 font-verdana center" style="margin: 0 0 40px 0;  line-height: 22px;">
			Зубрёжки правил нет.<br>
			Домашние задания минимальны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 0;  line-height: 22px;">
			<span class="blue bold">Классическая версия.</span> Для школьников. ГИА, ЕГЭ.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 58px 0;  line-height: 22px;">
			<span class="blue bold">Нейролингвистическая версия.</span> Сверхскоростное обучение на уровне Подсознания. Для взрослых.
		</p>
		<p class="blue size-18 font-verdana center" style="margin: 0 0 21px 0;  line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 15px 0 15px 0;"><span class="blue bold">Курс чудо как хорош!</span></a>
		</p>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 84px 0 81px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
<div id="img_container"><img src=""></div>