<p class="yellow size-18 font-verdana bold" style="margin: -16px 0 0 0;">
	Русский язык
</p>
<p class="light-blue font-sans-font center" style="margin: 14px 0 15px 0; font-size: 30px;">
	<span class="tag">Врождённая грамотность</span>. Бренд навсегда!
</p>
<div style="width: 960px; height: 389px; padding: 44px 0 59px 0;">	
	<div style="width: 411px; height: 389px; float: left; padding-right: 0px">
		<p class="yellow font-sans-font" style="margin: 53px 0 83px 6px; line-height: 34px; font-size: 30px;">
			Всего 12 занятий –<br>
			<span style="margin: 0 0 0 175px">и ошибок нет!</span>
		</p>
		<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0;">
			Уникальный<br>
			авторский метод<br>
			профессора Ольги Олеговны Веровенко
		</p>		
	</div>
	<div style="width: 540px; height: 389px; float: right; margin: 0 9px 0 0;">
		<div class="image-shadow-0" style="width: 540px; height: 373px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl5.jpg" width="100%" height="100%" alt="Счастливая девочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="yellow size-24 font-verdana bold center" style="margin: 0 0 19px 0;">
	Результаты обучения:
</p>
<p class="red bold size-18 font-verdana center" style="margin: 50px 0 44px 0;">
	На входе 105 ошибок, на выходе 0 – улучшение в 105 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 363px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test1.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 165px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 264px; height: 420px;">
			<div class="image-shadow-0" style="width: 264px; height: 364px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test2.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 132px; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 132px;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 67px 0 24px 0;">
	На входе 28 ошибок, на выходе 0 – улучшение в 28 раз!
</p>
<div style="width: 960px; height: 420px; padding-top: 9px;">	
	<div style="width: 267px; height: 420px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 267px; height: 420px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 267px; height: 349px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test3.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 264px; height: 420px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 262px; height: 420px;">
			<div class="image-shadow-0" style="width: 262px; height: 354px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 60px 0 28px 0;">
	На входе 95 ошибок, на выходе 1 – улучшение в 95 раз!
</p>
<div style="width: 960px; height: 440px; padding-top: 9px;">	
	<div style="width: 270px; height: 440px; float: left; margin-left: 151px;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Вступительный тест
		</p>
		<div style="width: 270px; height: 440px; margin:0 auto;">
			<div class="image-shadow-0" style="width: 270px; height: 375px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test5.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 134px; background-position: -181px 0px;">			
			</div>
			<div class="image-shadow-left-1" style="width: 133px;">			
			</div>
		</div>	
	</div>
	<div style="width: 273px; height: 440px; float: right; margin: 0 163px 0 0;">
		<p class="light-blue bold size-16 font-verdana" style="margin: 0 0 17px 0;">
			Выпускной тест
		</p>
		<div style="width: 273px; height: 440px;">
			<div class="image-shadow-0" style="width: 273px; height: 374px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/test6.jpg);">
			</div>
			<div class="image-shadow-right-1" style="width: 131px;; background-position: -185px 0px;">
			</div>
			<div class="image-shadow-left-1" style="width: 131px;;">			
			</div>
		</div>		
	</div>
</div>
<p class="red bold size-24 font-verdana" style="margin: 56px 0 59px 33px;">
	Магия, зомбирование и ремень в обучении не применяются!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 18px 33px;">
	Эффект достигается за счёт профессионализма, доброжелательности и новой технологии<br>
	преподавания – метода <span class="tag">Врождённой грамотности</span>.
</p>
<ul class="grey size-18 font-verdana bold" style="margin: 0 0 37px 70px; line-height: 44px;">
	<li><span class="light-blue">Зубрёжки правил нет.</span></li>
	<li><span class="light-blue">Домашние задания минимальны.</span></li>
	<li><span class="light-blue">Нагрузки посильны.</span></li>
</ul>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 33px;">
	Метод <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span><br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 43px 0;">
	Уникальность
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 11px;">
	Предлагаемый вам метод <span class="light-blue bold italic">NL</span>-обучения запатентован как изобретение в России и за рубежом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 37px 11px;">
	В области нейролингвистики – современной науки об усвоении информации человеческим<br>
	мозгом – это изобретение первое и пока единственное в мире.
</p>
<p class="light-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 11px;">
	Международная экспертиза РСТ подтвердила, что они не имеют аналогов.		
</p>
<div style="width: 960px; height: 570px; padding-top: 38px;">	
	<div style="width: 361px; height: 550px; float: left; margin: 0 80px 0 90px;">
		<div class="image-shadow-0" style="width: 361px; height: 510px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 363px; height: 550px; float: right; margin: 0 66px 0 0;">
		<div class="image-shadow-0" style="width: 363px; height: 511px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/patent2.jpg" width="100%" height="100%" alt="Патент Россия">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>		
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
		Российский и международный патенты на изобретение.
	</p>
</div>
<p class="light-blue size-24 font-sans-font bold center" style="margin: 80px 0 30px 0;">
	Гарантии высочайшего качества
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 57px 23px;">
	Высочайшее качество обучения подтверждено <span class="blue">тремя</span> экспертизами, сертификатами и <span class="blue">Знаками<br>
	Качества</span> Госстандарта РФ (в системе МОЛСЕМ) с категорией <span class="red tag bold">КАЧЕСТВО НАИВЫСШЕЕ</span>		
</p>
<div style="width: 960px; height: 373px;">	
	<div style="width: 515px; height: 373px; float: left; margin-left: 42px;">
		<div class="image-shadow-0" style="width: 515px; height: 357px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 255px; height: 370px; float: right; margin: 0 30px 0 0;">
		<div class="image-shadow-0" style="width: 255px; height: 354px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
		</div>	
		<div class="image-shadow-right-1" style="width: 127px; background-position: -191px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 128px;">				
		</div>		
	</div>
</div>
<p class="dark-blue size-14 font-arial bold center" style="margin: 12px 0 11px 0;">
	Знак качества и Сертификат Госстандарта РФ с категорией <span class="tag">Качество наивысшее</span>.
</p>
<p class="blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
	У нас таких три!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 63px 0 40px 0;">
	Условия приёма
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	К обучению принимаются <span class="bold">взрослые</span> и школьники <span class="bold">начиная с 7-го класса</span>. Курс рассчитан на<br>
	12 занятий по 3 ак.часа каждое (36 ак.часов).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	<span class="blue bold">Уровень 2.</span> Практическая грамотность.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	<span class="blue bold">Уровень 3.</span> Мастер-класс. Подготовка к экзаменам. <a href="[exec] include get_template_directory().'/links.php'; echo $gia_ege; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">ГИА</span>, <span class="light-blue bold">ЕГЭ</span><span class="dark-blue">-комплекс.</span></a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	<span class="blue bold">Творчество.</span> Гениальные изложения, сочинения. Можете взять вместе с русским, а можете<br>
	отдельно <a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="dark-blue font-verdana size-18">(1-4 сеанса)</span></a>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	Младшие школьники и учащиеся <span class="bold">с проблемами обучения</span> (дислексия, <span class="tag">школьный</span><br>
	невроз) поступают на курс <span class="red bold tag">Чудо будет!</span>, который позволяет одновременно обучать и<br>
	корректировать проблемы, либо проходят <span class="red bold tag">Арт-терапию</span> (коррекция дислексии,<br>
	дисграфии за 1 сеанс).
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 68px 0 0 0;">
	Подробно о <span class="tag">Врождённой грамотности</span>
</p>
<div style="width: 960px; height: 370px; padding: 51px 0 19px 0;">	
	<div style="width: 411px; height: 370px; float: left; margin: 0 0 0 17px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ваш ребёнок – хороший человечек,<br>
			пятёрочник по физике, математике,<br>
			истории, чему угодно, кроме русского<br>
			языка. Ну не может он писать без<br>
			ошибок!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Вот с такой проблемой приходят к нам<br>
			на курсы «Врождённой грамотности».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Мы берём за основу существующий в<br>
			реальной жизни феномен –<br>
			врождённую грамотность.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Подробности читайте в статье<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: rgb(0, 101, 169);"><span class="blue bold tag">У кого есть глупо дитятко?<br><span style="margin: 0 0 0 94px">У кого их только нет...</span></span></a>
		</p>		
	</div>
	<div style="width: 504px; height: 370px; float: right; margin: 0 28px 0 0;">
		<div class="image-shadow-0" style="width: 504px; height: 303px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/wall.jpg" width="100%" height="100%" alt="Китайская стена">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 16px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
</div>
<p class="yellow size-24 font-verdana bold center" style="margin: 81px 0 5px 0;">
	Курс-новинка <span class="red tag">Чудо будет!</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 46px 0; line-height: 29px;">
	(<span class="tag">Врождённая грамотность-<span class="bold italic">NL</span></span>)<br>
	ещё ярче, ещё интереснее!
</p>
<div style="width: 960px; height: 585px;">	
	<div style="width: 421px; height: 585px; float: right; margin: 0 66px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 421px; height: 569px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик с шариками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 400px; height: 585px; float: left; margin: 0 0 0 67px">
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 54px 0 22px 0">
			Не надо быть семи пядей во лбу.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ни во что не надо вникать.
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ничего не надо зубрить.
		</p>
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 66px 0 70px 0;">
			Цвет,<br>
			<span class="red" style="margin-left: 48px;">свет,</span><br>
			<span style="color: rgb(18, 184, 13); margin-left: 97px;">игра -</span><br>
			<span style="color: rgb(163, 26, 163);  margin-left: 151px;">вот его суть!</span>
		</p>
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 62px 29px 0;">
			Лёгкость обучения<br>
			и молниеносный успех!
		</p>
		<p class="red size-24 bold font-verdana" style="margin: 0 0 0 0;">
			<span class="blue size-14 font-arial bold">Зайдите, пожалуйста:</span> <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red size-24 bold">Чудо будет!</span></a><br>
		</p>
	</div>
</div>
</p>
<p class="red size-36 bold font-verdana center" style="margin: 101px 0 51px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 22px 40px; line-height: 26px;">
	Такие скидки получает только <span class="yellow bold">Persona Grata</span>.<br>
	<span class="yellow bold">Persona Grata – </span><span class="red bold">ЛИЧНОСТЬ.</span><br>
	<span class="yellow bold">Persona Grata</span> учится потому, что совершенствует себя.<br>
	<span class="yellow bold">Persona Grata</span> делает свой выбор осознанно, поэтому <span class="blue bold">внимательно ознакомилась<br>
	с материалами сайта.</span><br>
	<span class="yellow bold">Persona Grata</span> интересуется прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается. <br>
	Мы <span class="blue bold">благодарим</span> вас за это огромными скидками.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 58px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]
