<div style="width: 960px; height: 600px; padding: 34px 0 0 0;">	
	<div style="width: 407px; height: 600px; float: left; margin: 0 0 0 0;">
		<div class="image-shadow" style="width: 407px; height: 545px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/verovenko3.jpg" width="100%" height="100%" alt="Счастливая девочка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 474px; height: 600px; float: right; padding-right: 0;">
		<p class="blue size-24 font-verdana bold center" style="margin: -3px 42px 39px 0;">
			Дорогие мои!
		</p>
		<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 0; line-height: 25px;">
			Хорошо пишет тот, кто хорошо<br>
			думает, не так ли?
		</p>
		<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 0; line-height: 25px;">
			Все эти сочинения, изложения, эссе,<br>
			сказки написали мои ученики.
		</p>
		<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 0; line-height: 25px;">
			Почитайте.<br>
			Понравится – приходите. Научу.
		</p>
		<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 82px 0;">
			Всегда рада вам!
		</p>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 42px 10px 0; text-align: right;">
			<span class="bold">Ольга Олеговна Веровенко,</span><br>
			специальный корреспондент,<br>
			телерадиоведущая с 15-летним стажем,<br>
			член Союза журналистов СССР,<br>
			профессор, доктор наук.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 40px 0 44px 0;">
	Творческие сочинения-эссе по литературе
</p>
<p class="blue size-18 font-verdana" style="margin: 60px 0 11px 32px;">
	Николай Гумилёв
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Крест
</p>
<div style="width: 960px; height: 300px; padding: 22px 0 52px 0;">	
	<div style="width: 400px; height: 300px; float: left; padding-left: 69px;">
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Так долго лгала мне за картою карта,<br>
			Что я уж не мог опьяниться вином.<br>
			Холодные звёзды тревожного марта<br>
			Бледнели одна за другой за окном.
		</p>	
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			В холодном безумьи, в тревожном азарте<br>
			Я чувствовал, будто игра эта – сон.<br>
			«Весь банк, – закричал, – покрываю я в карте!»<br>
			И карта убита, и я побежден.
		</p>
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Я вышел на воздух. Рассветные тени<br>
			Бродили так нежно по нежным снегам.<br>
			Не помню я сам, как я пал на колени,<br>
			Мой крест золотой прижимая к губам.
		</p>	
	</div>
	<div style="width: 400px; height: 300px; float: right; margin: 0 47px 0 0;">
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			– Стать вольным и чистым, как звёздное небо,<br>
			Твой посох принять, о сестра Нищета,<br>
			Бродить по дорогам, выпрашивать хлеба,<br>
			Людей заклиная святыней креста!
		</p>
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Мгновенье… и в зале весёлой и шумной<br>
			Все стихли и встали испуганно с мест,<br>
			Когда я вошёл, воспалённый, безумный,<br>
			И молча на карту поставил мой крест.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 12px 0;">
	<span class="tag">Крест</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 10px 0 0 0;">	
	<div style="width: 188px; height: 100px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 25px; text-align: right;">
			Володя Гранкин,<br>
			10-й класс
		</p>		
	</div>
	<div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 79px;">
			Я обманут моей унылой,<br>
			Переменчивой, злой судьбой.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 62px 0 0; text-align: right; line-height: 17px;">
			Анна Ахматова,<br>
			<span class="tag">Песня последней встречи</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 430px; padding: 24px 0 0 0;">	
	<div style="width: 480px; height: 430px; float: left; padding-left: 0;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 28px; text-indent: 78px;">
			Человек и рок, человек и его злая<br>
			судьба... Можно ли как-то обойти её, или<br>
			сразиться с ней, или, на худой конец,<br>
			обыграть в карты? 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 28px;">
			Николай Гумилёв использует потрясающей<br>
			силы и выразительности <span class="light-blue bold">омонимы</span>. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 28px; text-indent: 78px;">
			Крест – как злая судьба, как страсть<br>
			к игре в карты, терзающая лирического<br>
			героя. И эту зависимость, свою несвободу<br>
			лирический герой осознаёт, ощущает как<br>
			своё <span class="blue tag">холодное безумье</span>, <span class="blue tag">тревожный азарт</span>.<br>
			Ему хотелось бы стать <span class="blue tag">вольным и чистым,<br>
			как звёздное небо</span>, но принять <span class="blue tag">посох сестры<br>
			Нищеты</span> он, конечно, не может и не хочет.
		</p>		
	</div>
	<div style="width: 452px; height: 452px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow-0" style="width: 452px; height: 436px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/aaaame.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 550px; padding: 0 0 0 0;">	
	<div style="width: 529px; height: 550px; float: left; margin: -65px 0 0 28px;">
		<div class="image-shadow-0" style="width: 529px; height: 345px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/krestme.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 32px 0 0 0; text-indent: 78px;">
			Крест – это и нательный <span class="blue tag">крест золотой</span>,<br>
			который можно прижать к губам в самую тяжёлую<br>
			минуту глубочайшего отчаяния. И этот крест,<br>
			осознаваемый лирическим героем как <span class="blue tag">святыня</span>,<br>
			всегда был рядом, поддерживая его, как самый<br>
			верный друг.
		</p>
	</div>
	<div style="width: 328px; height: 550px; float: right; margin: -3px 54px 0 0;">
		<div class="image-shadow-0" style="width: 328px; height: 495px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/ruletka.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 463px; padding: 0 0 0 0;">	
	<div style="width: 490px; height: 436px; float: left; margin: -70px 0 0 25px;">
		<div class="image-shadow-0" style="width: 490px; height: 420px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/mill.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 65px 0 0 28px;">
			Александр Блок
		</p>
	</div>
	<div style="width: 420px; height: 400px; float: right; margin: -7px 2px 0 0;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 0 15px; text-indent: 78px;">
			Что же поставил на карту в<br>
			конце стихотворения наш герой: злую<br>
			судьбу или верного друга? Или то и<br>
			другое вместе?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 0 15px; text-indent: 78px;">
			Многозначность омонима даёт<br>
			возможность каждому из нас<br>
			домыслить это.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 0 15px; text-indent: 78px;">
			Осуждаю ли я лирического<br>
			героя, брошу ли в него камень?<br>
			Ответить хочется словами Иисуса<br>
			Христа: <span class="blue tag italic">Кто сам без греха, первым брось камень</span>.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Незнакомка
</p>
<div style="width: 960px; height: 530px; padding: 22px 0 0 0;">	
	<div style="width: 300px; height: 530px; float: left; padding-left: 169px;">
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			По вечерам над ресторанами<br>
			Горячий воздух дик и глух,<br>
			И правит окриками пьяными<br>
			Весенний и тлетворный дух.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Вдали над пылью переулочной,<br>
			Над скукой загородных дач,<br>
			Чуть золотится крендель булочной,<br>
			И раздается детский плач.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И каждый вечер, за шлагбаумами,<br>
			Заламывая котелки,<br>
			Среди канав гуляют с дамами<br>
			Испытанные остряки.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Над озером скрипят уключины<br>
			И раздается женский визг,<br>
			А в небе, ко всему приученный<br>
			Бессмысленно кривится диск.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И каждый вечер друг единственный<br>
			В моем стакане отражен<br>
			И влагой терпкой и таинственной<br>
			Как я, смирён и оглушён.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			А рядом у соседних столиков<br>
			Лакеи сонные торчат,<br>
			И пьяницы с глазами кроликов<br>
			«In vino veritas!»* кричат.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
			И каждый вечер, в час назначенный<br>
			(Иль это только снится мне?),<br>
			Девичий стан, шелками схваченный,<br>
			В туманном движется окне.
		</p>
	</div>
	<div style="width: 399px; height: 530px; float: right; margin: 0 0 0 0;">
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И медленно, пройдя меж пьяными,<br>
			Всегда без спутников, одна<br>
			Дыша духами и туманами,<br>
			Она садится у окна.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И веют древними поверьями<br>
			Её упругие шелка,<br>
			И шляпа с траурными перьями,<br>
			И в кольцах узкая рука.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И странной близостью закованный,<br>
			Смотрю за тёмную вуаль,<br>
			И вижу берег очарованный<br>
			И очарованную даль.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Глухие тайны мне поручены,<br>
			Мне чьё-то солнце вручено,<br>
			И все души моей излучины<br>
			Пронзило терпкое вино.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И перья страуса склонённые<br>
			В моём качаются мозгу,<br>
			И очи синие бездонные<br>
			Цветут на дальнем берегу.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
			В моей душе лежит сокровище,<br>
			И ключ поручен только мне!<br>
			Ты право, пьяное чудовище!<br>
			Я знаю: истина в вине.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 72px 0 24px 0;">
	<span class="tag">Незнакомка</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 36px 0 0 0;">	
	<div style="width: 192px; height: 100px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 25px; text-align: right;">
			Володя Гранкин,<br>
			10-й класс
		</p>		
	</div>
	<div style="width: 430px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 0;">
			Пей! Чёрт тебя доведёт до конца.<br>
			Йо-хо-хо, и бутылка рому!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 65px 0 0; text-align: right; line-height: 17px;">
			Роберт Стивенсон,<br>
			<span class="tag">Остров сокровищ</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 451px; padding: 33px 0 0 0;">	
	<div style="width: 572px; height: 451px; float: left; margin: 0 0 0 24px;">
		<div class="image-shadow-0" style="width: 572px; height: 435px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/eye1me.jpg); position: relative;">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 364px; height: 451px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 15px; text-indent: 42px;">
			Он беспредельно виноват,<br>
			лирический герой стихотворения<br>
			<span class="blue tag">Незнакомка</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 41px;">
			Свою вину – перед собой, своей<br>
			судьбой – он прекрасно чувствует и<br>
			понимает.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 42px;">
			Его вина и в том, что у него<br>
			остался <span class="blue tag">друг единственный</span> – его<br>
			собственное отражение в бокале<br>
			вина.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 0 15px; text-indent: 42px;">
			И в том, что он оказался здесь,<br>
			<span class="blue tag">над скукой загородных дач</span><br>
			(прекрасная метафора обочины<br>
			жизни!).
		</p>
	</div>
</div>
<div style="width: 960px; height: 524px; padding: 0 0 0 0;">	
	<div style="width: 475px; height: 524px; float: left; padding-left: 4px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 42px;">
			Но главная его вина – перед Ней,<br>
			таинственной Незнакомкой. Кто она?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 42px;">
			Она – его Сокровище, его Душа,<br>
			прекрасная, романтичная, необыкновенная,<br>
			одинокая, как и он.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 42px;">
			Но почему же у неё <span class="blue tag">шляпа с траурными<br>
			перьями</span>? Да просто она, его Душа, скорбит!<br>
			Скорбит об упущенных возможностях, о<br>
			неизведанных далях, где <span class="blue tag">берег очарованный</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 42px;">
			Блок применяет <span class="blue bold">омоформы</span> –<br>
			удивительную разновидность омонимов,<br>
			совпадающих только в предложном падеже:<br>
			<span class="blue"><span class="tag">вино</span> и <span class="tag">вина</span></span>, и блистательно обыгрывает их.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 42px;">
			Но осознание вины и покаяние, звучащие<br>
			в конце стихотворения – уже путь к<br>
			искуплению и возрождению, не так ли?
		</p>		
	</div>
	<div style="width: 482px; height: 524px; float: right; margin: -45px -5px 0 0;">
		<div class="image-shadow-0" style="width: 482px; height: 508px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/wineglassme.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-24 font-verdana bold center" style="margin: 72px 0 24px 0;">
	Сочинения на вольную тему
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 50px 0 9px 0;">
	Петербург Достоевского
</p>
<div style="width: 960px; height: 80px; padding: 36px 0 38px 0;">	
	<div style="width: 300px; height: 80px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 51px;">
			Юля Алмаева,<br>
			11-й класс,<br>
			(ныне студентка МГУ)
		</p>		
	</div>
	<div style="width: 417px; height: 80px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 0;">
			Узнавай же скорее декабрьский денёк,<br>
			Где к зловещему дёгтю подмешан желток.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 50px 0 0; text-align: right; line-height: 17px;">
			Осип Мандельштам
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 25px 0 22px 51px; text-indent: 84px;">
	Петербург Достоевского жёлт.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 84px;">
	Нет-нет, это не золотисто-царственный Петербург царей и декабристов, Онегина<br>
	и Татьяны, высшего света, так любимый и воспетый Пушкиным. Не золотисто-<br>
	искрящийся, как у Игоря Северянина (<span class="blue tag">Ананасы в шампанском!</span> – кто не помнит?). Нет!<br>
	Петербург Достоевского уныло-жёлт, грязно-жёлт, беспросветно жёлт, как простыня<br>
	<span class="tag">жёлтой</span> бульварной газеты, перемалывающей кости и души.
</p>
<div style="padding-top: 16px; height: 440px;">
	<div style="width: 700px; height: 440px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 700px; height: 378px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/dali.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center" style="margin: 23px 0 0 0; line-height: 16px;">
			Сальвадор Дали. <span class="tag">Окрестности города</span>
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 28px 0 22px 51px; text-indent: 84px;">
	Мир бесов – раскольниковых и свидригайловых, проституток и убийц,<br>
	униженных и оскорблённых идиотов, да и просто духовно бедных людей – он жёлт<br>
	отчаянной тоской безумия.
</p>
<div style="padding-top: 17px; height: 520px;">
	<div style="width: 640px; height: 520px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 640px; height: 469px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/dali1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center" style="margin: 23px 0 0 0; line-height: 16px;">
			Сальвадор Дали. Бесы.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 35px 0 22px 51px; text-indent: 84px;">
	Здесь творятся жестокие преступления без наказания и не менее жестокие<br>
	наказания за малейшую вину, а иногда и вовсе без вины.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 84px;">
	Именно этот горячечно-жёлтый мир породил идею о <span class="blue tag">тварях дрожащих и право<br>
	имеющих</span> – вот уж воистину <span class="blue tag">великую</span> идею! Самые кровавые преступления, от которых<br>
	содрагался мир, – будь то Холокост или Архипелаг Гулаг – всегда прикрывались "великой<br>
	идеей". И рождаются подобные идеи не в Петербурге, не в Германии. Их территория –<br>
	душа человека. А душе этой – чернее чёрного! – легче и проще убить и отобрать, чем<br>
	проявить хотя бы малый труд этой самой души – внешний или внутренний.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 84px;">
	Ни одна "великая идея" не стоит слезинки ребёнка! Именно этому учил великий<br>
	гуманист Фёдор Михайлович Достоевский. Учил здесь, в Петербурге. Ведь город - это не<br>
	только величайшее архитектурное наследие. Город – это люди, которые существуют в<br>
	нём, со всеми их проблемами, страданиями, радостями и умыслами. Так как же видит<br>
	Достоевский людей в нём?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 7px 51px; text-indent: 84px;">
	Писатель в полной мере изучил внутреннее содержание, скрытое в тени<br>
	искрящихся фасадов, познал его безумие, похоть, алчность, аморальность и злобу.<br>
	Петербург Достоевского подобен сумасшедшему дому, где достигли крайней точки<br>
	безумия все, включая лекарей.
</p>
<div style="width: 960px; height: 526px; padding: 0 0 0 0;">	
	<div style="width: 440px; height: 526px; float: left; padding-left: 36px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 84px;">
			Уникальны были мысли<br>
			Гоголя: <span class="blue tag">Санкт-Петербург двулик –<br>
			под искрящейся роскошью томится<br>
			точно обратный его красоте ужас и<br>
			тлен, разложение, покрытое красивой<br>
			оболочкой</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px; text-indent: 84px;">
			Такие же мрачные, угрюмые<br>
			описания Петербурга можно отметить<br>
			и в стихах Бориса Пастернака:
		</p>
		<p class="blue size-18 font-verdana italic center" style="margin: 0 43px 62px 0; line-height: 37px;">
			Тучи, как волосы, встали дыбом<br>
			Над дымной, бледной Невой.<br>
			Кто ты? О, кто ты? Кто бы ты ни был,<br>
			Город – вымысел твой. 
		</p>
		<p class="dark-blue size-14 font-verdana bold line-height-23" style="margin: 16px 18px 22px 15px; text-align: right;">
			Э. Мунк. <span class="tag">Крик</span>.
		</p>		
	</div>
	<div style="width: 377px; height: 526px; float: right; margin: 0 107px 0 0;">
		<div class="image-shadow-0" style="width: 377px; height: 510px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/krik.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 83px 0 19px 0;">
	Сказки
</p>
<div style="width: 960px; height: 80px; padding: 36px 0 0 0;">	
	<div style="width: 300px; height: 80px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 78px;">
			Оля <span class="italic">N</span>.,<br>
			9-й класс,<br>
			(ныне топ-менеджер)
		</p>		
	</div>
</div>
<div style="padding-top: 55px; height: 477px;">
	<div style="width: 492px; height: 477px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 488px; height: 461px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 64px 0 22px 41px;">
	Жили-были царь и царица в сказочном царстве с двумя дочками. Это были две красивые<br>
	взрослые девушки. В то лето им исполнилось двадцать лет, причём в один день и в один<br>
	час, потому что царевны были близнецами.
</p>
<div style="padding-top: 20px; height: 465px;">
	<div style="width: 514px; height: 465px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 510px; height: 449px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/bashnya.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 10px 0 53px 0;">
	Сказочное царство
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Принцессы были так похожи, что их путали даже папа и мама – наши сказочные царь и<br>
	царица. Если бы не милая маленькая родинка на щеке, которая у Жасмин была с правой<br>
	стороны, а у Лизы с левой, все были бы уверены, что это один человек.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Царевны были весёлые, жизнерадостные и очень умелые: такие искусницы в вышивании,<br>
	что славились на всё свое царство и на соседнее королевство. А стоило им сесть верхом<br>
	на лошадь во время царской охоты – даже умелые наездники склоняли головы перед ними.
</p>
<div style="width: 960px; height: 540px; padding-top: 13px;">	
	<div style="width: 387px; height: 539px; float: left; margin-left: 78px;">
		<div class="image-shadow-0" style="width: 383px; height: 523px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/princessa.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 376px; height: 540px; float: right; margin: 0 59px 0 0;">
		<div class="image-shadow-0" style="width: 372px; height: 524px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/princessa1.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 25px 0 53px 0;">
	Принцессы на охоте
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 11px 41px;">
	Всё было бы хорошо, если бы не проклятие, наложенное на царский род несколько<br>
	веков назад обиженным колдуном, который хотел жениться на одной из<br>
	прапрабабушек наших царевен, которая тогда была юной царевной, но получил отказ:<br>
	царевне не нравилось, что колдун весь в бородавках, а ещё он был грубым, жестоким<br>
	и жадным.
</p>
<div style="width: 960px; height: 900px; padding-top: 0;">	
	<div style="width: 369px; height: 600px; float: left; margin: 263px 0 0 7px;">
		<div class="image-shadow-0" style="width: 365px; height: 437px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/koldun.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 16px 0 53px 0;">
			Влюблённый колдун
		</p>				
	</div>
	<div style="width: 585px; height: 483px; float: right; margin: 0 0 0 -10px;">
		<div class="image-shadow-0" style="width: 581px; height: 419px; margin: 0 0 0 -30px; position: relative; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/prababushka.jpg);">	
		</div>	
		<div class="image-shadow-right-1" style="margin: 0 30px 0 0;">
		</div>
		<div class="image-shadow-left-1" style="margin: 0 0 0 -30px;">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
			Юная прабабушка
		</p>
	</div>	
	<div style="width: 455px; height: 417px; float: right; margin: 0 74px 0 0;">
		<div class="image-shadow-0" style="width: 451px; height: 355px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/tree1.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
			Злое заклятье
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 26px 0 22px 41px;">
	Заклятье было в том, что царский род закончится, когда появятся на свет царевны-<br>
	близнецы. С принцами, просящими их руку и сердце, будут происходить неприятности и<br>
	беды, и в конце концов царевны останутся одни и не смогут продолжить род.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	А снять проклятие можно было только тем, что царевны должны были, оставив царскую<br>
	гордость, подойти к избранникам и самим объясниться в любви, предложив себя в жёны.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	И во всех царствах и государствах знали о том, что если выйдет замуж хоть одна из<br>
	царевен, то значит, она переступила свою гордость. А какая она после этого царица?!
</p>
<div style="padding-top: 22px; height: 584px;">
	<div style="width: 348px; height: 584px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 348px; height: 584px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/gordost.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 9px 0 64px 0;">
	Царская гордость
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Женихов у наших царевен было во множестве, но ждали женихи, когда царевны сами<br>
	придут и принесут свою любовь.
</p>
<div style="padding-top: 12px; height: 493px;">
	<div style="width: 378px; height: 493px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 374px; height: 477px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/jenih.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 6px 0 76px 0;">
	Надменный жених
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	И тогда царевны решили женихов своих попытать: переоделись нищенками и пошли<br>
	пешком в соседнее королевство к первому жениху.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	А пока по дороге шли, всё людей расспрашивали: каков этот жених? И от людей<br>
	слышали, что королевич этот груб, хитёр и наглый.
</p>
<div style="padding-top: 27px; height: 526px;">
	<div style="width: 490px; height: 526px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 490px; height: 510px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/knife.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 5px 0 53px 0;">
	Хитрый жених
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Царевны подумали-подумали, да и пошли к другому жениху.
</p>
<div style="padding-top: 26px; height: 462px;">
	<div style="width: 511px; height: 462px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 507px; height: 446px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/road.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
	Дорога к жениху
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	О другом женихе они не слышали ни плохого, ни хорошего. Пришли царевны к нему во<br>
	дворец. Сидит королевич на троне – высокий, красивый да статный. Увидел он, что царевны<br>
	нищенками одеты, и погнал их прочь от себя. Поняли царевны, что не их любил жених, а<br>
	богатство их, и пошли дальше.
</p>
<div style="padding-top: 12px; height: 443px;">
	<div style="width: 572px; height: 443px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 572px; height: 443px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/jenih1me.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 50px 0 63px 0;">
	Жадный жених
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Идут, а навстречу им два парня: очень бедно одеты, но глаза умные и добрые. И так<br>
	друг на друга похожи, что не отличить. Удивились царевны наши разумности речей<br>
	странников, и уму, и доброте душевной их. И подумали царевны: <span class="tag">Зачем нам искать<br>
	женихов титулованных, злых да жадных, если есть на свете хорошие, добрые, умные,<br>
	пусть и без титула царского?</span>
</p>
<div style="padding-top: 8px; height: 508px;">
	<div style="width: 388px; height: 508px; margin: 0 0 0 145px;;">
		<div class="image-shadow-0" style="width: 388px; height: 492px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/jenih2.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 8px 0 54px 0;">
	Хороший жених без титула
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	И поняли наши царевны, что полюбили они странников с первого взгляда, и увидели, что чувства взаимны. Набрались царевны смелости и первыми в любви объяснились, и предложили стать рядом с ними на престоле, чтобы царством править и род продолжить.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Обрадовались странники, сбросили с себя одежду нищенскую, а там одеяния царские. И говорят странники: <span class="tag">Мы царевичи-близнецы. Ищем невест, которые полюбят нас  в нищенском одеянии, ибо таково заклятие, наложенное на наш род злым колдуном много веков назад. Но сегодня заклятие рухнуло.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 8px 41px;">
	Тут и две свадьбы сыграли, и был пир на весь мир, и царский род продолжился.
</p>
<div style="height: 175px;">
	<div style="width: 349px; height: 175px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 349px; height: 175px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/koroname.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 64px 0 42px 0;">
	Итак...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 60px;">
	Понравилось? Приходите! Не боги горшки обжигают.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 60px;">
	Есть уникальные авторские методики, которые <span class="bold">молниеносно</span> развивают творческое<br>
	мышление, язык, стилистику.
</p>
<div style="width: 960px; height: 366px; padding: 0 0 0 0;">	
	<div style="width: 480px; height: 366px; float: left; padding-left: 45px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 15px;">
			Можете взять курс <span class="tag">Творчество</span> <span class="lilac size-16">(творческие<br>
			работы по литературе + сочинения, изложения)</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 22px 15px;">
			Но самый шикарный вариант – комплексный<br>
			курс <span class="tag">Чудо будет!</span> <span class="lilac size-16">(русский, грамотность +<br>
			литература + изложения, сочинения + чтение +<br>
			речь + коррекция проблем обучения + поддержка<br>
			психолога + развитие личности через творчество)</span>.<br>
			Эти спецкурсы веду лично я.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 15px 15px;">
			А вообще-то у нас много чего ещё<br>
			интересного. Зайдите на сайт моей авторской<br>
			школы-студии (см. <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-18">на моей странице</span></a>).
		</p>			
	</div>
	<div style="width: 403px; height: 366px; float: right; margin: 0 29px 0 0;">
		<div class="image-shadow-0" style="width: 403px; height: 299px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/pencil.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 39px 0;">
	Ещё работы учащихся
</p>
<div style="height: 44px;">
	<div style="width: 178px; height: 44px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 178px; height: 44px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="center line-height-23" style="margin: 12px 0 39px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18">Новая серия<br>про приставки</span></a>
</p>
<p style="margin: 0 0 42px 311px; line-height: 29px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ МУЛЬТФИЛЬМОВ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ИЗЛОЖЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ СОЧИНЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ О.О.ВЕРОВЕНКО</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ОТЗЫВОВ И БЛАГОДАРНОСТЕЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
</p>


