<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]"><span class="yellow">МУЛЬТФИЛЬМ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]"><span class="yellow">ИЗЛОЖЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]"><span class="yellow">СОЧИНЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>СКАЗКИ</span></a></div>
		</div>
	</div>
</div>
<p class="blue size-24 font-verdana bold center" style="margin: 30px 0 39px 0;">
	Дорогие мои!
</p>
<!--<div id="anim-skazka" style="height: 0; width: 900px;">
	<div style="height: 40px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
	<div style="height: 40px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
	<div style="height: 40px; width: 900px; position: relative; background-color: white; margin: 10px 0 0 0;"></div>
</div>-->
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Хорошо пишет тот, кто хорошо думает, не так ли?
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Все эти сочинения, изложения, эссе,	сказки написали мои ученики.
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Почитайте. Понравится <span class="normal">–</span> приходите. Научу.
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Ещё обещаю безупречные русский и английский. На экзаменах вы<br>
	получите высший бал, даже если сегодня об этом не мечтаете. Ведь моя<br>
	профессия <span class="normal">–</span> творить чудеса, и мне это нравится.
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Я предложу вам самые современные технологии обучения, и вы усвоите<br>
	всё молниеносно <span class="normal">–</span> без зубрёжки и домашних заданий. Можно под<br>гипнозом <span class="normal">–</span> так быстрее и ярче <span class="normal">–</span> можно без.
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 72px 56px; line-height: 25px;">
	Полученные навыки останутся с вами на всю жизнь. Пригодятся!
</p>
<!--<div id="anim-skazka-dop" style="height: 0; width: 900px;">
	<div style="height: 130px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
</div>-->
<p class="blue size-18 font-verdana bold" style="margin: 0 0 0 630px; line-height: 23px;">
	Профессор<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" class="normal" style="text-decoration: underline; color: black; padding: 20px 30px; margin: 0 -30px 0 -30px; position: relative;"><span class="blue bold">Ольга Веровенко</span></a>
</p>
<p style="margin: 0;"><a name="volshebnaya"></a></p>
<div style="padding-top: 100px; height: 477px;">
	<div style="width: 492px; height: 477px; margin: 0 auto;">
		<div class="image-shadow" style="width: 488px; height: 461px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/skazka.jpg" width="100%" height="100%" alt="Волшебная сказка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 35px 0 22px 52px; line-height: 22px;">
	Жили-были царь и царица в сказочном царстве с двумя дочками. Это были две красивые взрослые девушки. В то лето<br>
	им исполнилось двадцать лет, причём в один день и в один час, потому что царевны были близнецами.
</p>
<div style="padding-top: 45px; height: 465px;">
	<div style="width: 510px; height: 465px; margin: 0 auto;">
		<div class="image-shadow" style="width: 510px; height: 449px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/bashnya.jpg" width="100%" height="100%" alt="Башня">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 10px 0 53px 0;">
	Сказочное царство
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 49px; line-height: 22px;">
	Принцессы были так похожи, что их путали даже папа и мама – наши сказочные царь и царица. Если бы не милая<br>
	маленькая родинка на щеке, которая у Жасмин была с правой стороны, а у Лизы с левой, все были бы уверены, что<br>
	это один человек.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 49px; line-height: 22px;">
	Царевны были весёлые, жизнерадостные и очень умелые: такие искусницы в вышивании, что славились на всё свое<br>
	царство и на соседнее королевство. А стоило им сесть верхом на лошадь во время царской охоты – даже умелые<br>
	наездники склоняли головы перед ними.
</p>
<div style="width: 960px; height: 540px; padding-top: 20px;">	
	<div style="width: 387px; height: 539px; float: left; margin-left: 84px;">
		<div class="image-shadow" style="width: 383px; height: 523px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/princessa.jpg" width="100%" height="100%" alt="Принцесса">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 376px; height: 540px; float: right; margin: 0 53px 0 0;">
		<div class="image-shadow" style="width: 372px; height: 524px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/princessa1.jpg" width="100%" height="100%" alt="Принцесса">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 25px 0 53px 0;">
	Принцессы на охоте
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px 65px; line-height: 22px;">
	Всё было бы хорошо, если бы не проклятие, наложенное на царский род несколько веков назад обиженным<br>
	колдуном, который хотел жениться на одной из прапрабабушек наших царевен, которая тогда была юной<br>
	царевной, но получил отказ: царевне не нравилось, что колдун весь в бородавках, а ещё он был грубым,<br>
	жестоким и жадным.
</p>
<div style="width: 960px; height: 900px; padding-top: 23px;">	
	<div style="width: 369px; height: 600px; float: left; margin: 263px 0 0 13px;">
		<div class="image-shadow" style="width: 365px; height: 437px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/koldun.jpg" width="100%" height="100%" alt="Влюблённый колдун">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 16px 0 53px 0;">
			Влюблённый колдун
		</p>				
	</div>
	<div style="width: 585px; height: 483px; float: right; margin: 0 0 0 -10px;">
		<div class="image-shadow" style="width: 581px; height: 419px; margin: 0 0 0 -24px; position: relative;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/prababushka.jpg" width="100%" height="100%" alt="Юная прабабушка">	
		</div>	
		<div class="image-shadow-right-1" style="margin: 0 30px 0 0;">
		</div>
		<div class="image-shadow-left-1" style="margin: 0 0 0 -30px;">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 8px 0 53px 0;">
			Юная прабабушка
		</p>
	</div>	
	<div style="width: 455px; height: 417px; float: right; margin: 0 68px 0 0;">
		<div class="image-shadow" style="width: 451px; height: 355px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/tree1.jpg" width="100%" height="100%" alt="Злое заклятье">		
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
			Злое заклятье
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 26px 0 21px 55px; line-height: 22px;">
	Заклятье было в том, что царский род закончится, когда появятся на свет царевны-близнецы. С принцами,<br>
	просящими их руку и сердце, будут происходить неприятности и беды, и в конце концов царевны останутся одни и<br>
	не смогут продолжить род.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 55px; line-height: 22px;">
	А снять проклятие можно было только тем, что царевны должны были, оставив царскую гордость, подойти к<br>
	избранникам и самим объясниться в любви, предложив себя в жёны.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 55px; line-height: 22px;">
	И во всех царствах и государствах знали о том, что если выйдет замуж хоть одна из царевен, то значит, она<br>
	переступила свою гордость. А какая она после этого царица?!
</p>
<div style="padding-top: 0; height: 487px;">
	<div style="width: 259px; height: 487px; margin: 0 auto;">
		<div style="width: 259px; height: 487px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/gordost.jpg" width="100%" height="100%" alt="Царская гордость">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 64px 0;">
	Царская гордость
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 23px; line-height: 22px;">
	Женихов у наших царевен было во множестве, но ждали женихи, когда царевны сами придут и принесут свою любовь.
</p>
<div style="padding-top: 36px; height: 493px;">
	<div style="width: 378px; height: 493px; margin: 0 auto;">
		<div class="image-shadow" style="width: 374px; height: 477px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/jenih.jpg" width="100%" height="100%" alt="Надменный жених">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 6px 0 49px 0;">
	Надменный жених
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
	И тогда царевны решили женихов своих попытать: переоделись нищенками и пошли пешком в соседнее королевство<br>
	к первому жениху.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 57px; line-height: 22px;">
	А пока по дороге шли, всё людей расспрашивали: каков этот жених? И от людей слышали, что королевич этот груб,<br>
	хитёр и наглый.
</p>
<div style="padding-top: 0; height: 510px;">
	<div style="width: 490px; height: 510px; margin: 0 auto;">
		<div style="width: 490px; height: 510px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/knife.jpg" width="100%" height="100%" alt="Хитрый жених">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 19px 0 53px 30px;">
	Хитрый жених
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 53px; line-height: 22px;">
	Царевны подумали-подумали, да и пошли к другому жениху.
</p>
<div style="padding-top: 28px; height: 462px;">
	<div style="width: 511px; height: 462px; margin: 0 auto;">
		<div class="image-shadow" style="width: 507px; height: 446px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/road.jpg" width="100%" height="100%" alt="Дорога к жениху">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
	Дорога к жениху
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	О другом женихе они не слышали ни плохого, ни хорошего. Пришли царевны к нему во дворец. Сидит королевич на<br>
	троне – высокий, красивый да статный. Увидел он, что царевны нищенками одеты, и погнал их прочь от себя. Поняли<br>
	царевны, что не их любил жених, а богатство их, и пошли дальше.
</p>
<div style="padding-top: 36px; height: 443px;">
	<div style="width: 572px; height: 443px; margin: 0 auto;">
		<div style="width: 572px; height: 443px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/jenih1.jpg" width="100%" height="100%" alt="Жадный жених">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 50px 54px 63px 0;">
	Жадный жених
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 22px;">
	Идут, а навстречу им два парня: очень бедно одеты, но глаза умные и добрые. И так друг на друга похожи, что не<br>
	отличить. Удивились царевны наши разумности речей странников, и уму, и доброте душевной их. И подумали<br>
	царевны: <span class="tag">Зачем нам искать женихов титулованных, злых да жадных, если есть на свете хорошие, добрые, умные,<br>
	пусть и без титула царского?</span>
</p>
<div style="padding-top: 49px; height: 492px;">
	<div style="width: 388px; height: 492px; margin: 0 0 0 145px;;">
		<div style="width: 388px; height: 492px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/jenih2.jpg" width="100%" height="100%" alt="Хороший жених без титула">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 24px 0 54px 0;">
	Хороший жених без титула
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 59px; line-height: 22px;">
	И поняли наши царевны, что полюбили они странников с первого взгляда, и увидели, что чувства взаимны.<br>
	Набрались царевны смелости и первыми в любви объяснились, и предложили стать рядом с ними на престоле,<br>
	чтобы царством править и род продолжить.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 59px; line-height: 22px;">
	Обрадовались странники, сбросили с себя одежду нищенскую, а там одеяния царские. И говорят странники: <span class="tag">Мы<br>
	царевичи-близнецы. Ищем невест, которые полюбят нас  в нищенском одеянии, ибо таково заклятие, наложенное<br>
	на наш род злым колдуном много веков назад. Но сегодня заклятие рухнуло.</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 56px 59px; line-height: 22px;">
	Тут и две свадьбы сыграли, и был пир на весь мир, и царский род продолжился.
</p>
<div style="height: 175px;">
	<div style="width: 349px; height: 175px; margin: 0 auto;">
		<div style="width: 349px; height: 175px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/korona.jpg" width="100%" height="100%" alt="Корона">
		</div>
	</div>
</div>
<p class="blue size-14 font-verdana bold" style="margin: 83px 0 21px 50px; line-height: 17px;">
	Это сказку писала Оленька Н., когда ей было 15.<br>
	Ныне она уже взрослая и успешная – топ-менеджер крупной фирмы.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 100px 0 0 0;">
	<span class="tag">Крест</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: -5px 0 24px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $stihi; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 50px;"><span class="blue">По стихотворению Н.Гумилёва</span></a>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 12px 0 0 0;">	
	<div style="width: 188px; height: 100px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 13px; text-align: right;">
			Володя Гранкин,<br>
			10-й класс
		</p>		
	</div>
	<div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 67px;">
			Я обманут моей унылой,<br>
			Переменчивой, злой судьбой.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 74px 0 0; text-align: right; line-height: 17px;">
			Анна Ахматова,<br>
			<span class="tag">Песня последней встречи</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 430px; padding: 22px 0 0 0;">	
	<div style="width: 468px; height: 430px; float: left; padding-left: 0;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; text-indent: 65px; line-height: 22px;">
			Человек и рок, человек и его злая судьба... Можно<br>
			ли как-то обойти её, или сразиться с ней, или, на худой<br>
			конец, обыграть в карты? 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
			Николай Гумилёв использует потрясающей силы и<br>
			выразительности <span class="light-blue bold">омонимы</span>. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 16px; text-indent: 78px; line-height: 22px;">
			Крест – как злая судьба, как страсть к игре в<br>
			карты, терзающая лирического героя. И эту зависимость,<br>
			свою несвободу лирический герой осознаёт, ощущает как<br>
			своё <span class="blue tag">холодное безумье</span>, <span class="blue tag">тревожный азарт</span>.	Ему хотелось<br>
			бы стать <span class="blue tag">вольным и чистым, как звёздное небо</span>, но<br>
			принять <span class="blue tag">посох сестры	Нищеты</span> он, конечно, не может и не<br>
			хочет.
		</p>		
	</div>
	<div style="width: 448px; height: 448px; float: right; margin: 0 43px 0 0;">
		<div class="image-shadow" style="width: 448px; height: 432px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/aaaa.jpg" width="100%" height="100%" alt="Карты">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 550px; padding: 0 0 0 0;">	
	<div style="width: 525px; height: 550px; float: left; margin: -61px 0 0 16px;">
		<div class="image-shadow" style="width: 525px; height: 341px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/krestme.jpg);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/krest.jpg" width="100%" height="100%" alt="Крест">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 32px 0 0 0; text-indent: 78px; line-height: 22px;">
			Крест – это и нательный <span class="blue tag">крест золотой</span>, который можно<br>
			прижать к губам в самую тяжёлую	минуту глубочайшего отчаяния.<br>
			И этот крест, осознаваемый лирическим героем как <span class="blue tag">святыня</span>,<br>
			всегда был рядом, поддерживая его, как самый верный друг.
		</p>
	</div>
	<div style="width: 324px; height: 520px; float: right; margin: 1px 70px 0 0;">
		<div class="image-shadow" style="width: 324px; height: 491px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/ruletka.jpg" width="100%" height="100%" alt="Рулетка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 538px; padding: 5px 0 0 0;">	
	<div style="width: 486px; height: 538px; float: left; margin: 0 0 0 13px;">
		<div class="image-shadow" style="width: 486px; height: 416px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/mill.jpg" width="100%" height="100%" alt="Мельница">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 434px; height: 538px; float: right; margin: 0 0 0 0;">
		<p class="dark-blue size-14 font-verdana" style="margin: 10px 0 21px 15px; text-indent: 60px; line-height: 22px;">
			Что же поставил на карту в конце<br>
			стихотворения наш герой: злую судьбу или<br>
			верного друга? Или то и	другое вместе?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 60px; line-height: 22px;">
			Многозначность омонима даёт	возможность<br>
			каждому из нас домыслить это.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 60px; line-height: 22px;">
			Осуждаю ли я лирического героя, брошу<br>
			ли в него камень? Ответить хочется словами<br>
			Иисуса Христа: <span class="blue tag italic">Кто сам без греха, первым брось<br>
			камень</span>.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 16px 0 0 0;">
	<span class="tag">Незнакомка</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: -1px 0 25px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $stihi_blok; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 50px;"><span class="blue">По стихотворению А.Блока</span></a>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 36px 0 0 0;">	
	<div style="width: 192px; height: 100px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 12px 36px 0; text-align: right;">
			Володя Гранкин,<br>
			10-й класс
		</p>		
	</div>
	<div style="width: 430px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 17px 0;">
			Пей! Чёрт тебя доведёт до конца.<br>
			Йо-хо-хо, и бутылка рому!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 77px 0 0; text-align: right; line-height: 17px;">
			Роберт Стивенсон,<br>
			<span class="tag">Остров сокровищ</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 447px; padding: 32px 0 0 0;">	
	<div style="width: 568px; height: 447px; float: left; margin: 0 0 0 12px;">
		<div class="image-shadow" style="width: 568px; height: 431px; position: relative;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/eye1.jpg" width="100%" height="100%" alt="Взгляд">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 376px; height: 447px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Он беспредельно виноват, лирический<br>
			герой стихотворения <span class="blue tag">Незнакомка</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Свою вину – перед собой, своей судьбой –<br>
			он прекрасно чувствует и понимает.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Его вина и в том, что у него остался <span class="blue tag">друг<br>
			единственный</span> – его собственное отражение в<br>
			бокале вина.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 15px; text-indent: 35px; line-height: 22px;">
			И в том, что он оказался здесь, <span class="blue tag">над скукой<br>
			загородных дач</span> (прекрасная метафора<br>
			обочины	жизни!).
		</p>
	</div>
</div>
<div style="width: 960px; height: 520px; padding: 0 0 0 0;">	
	<div style="width: 463px; height: 520px; float: left; padding-left: 7px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 20px 0 21px 0; text-indent: 35px; line-height: 22px;">
			Но главная его вина – перед Ней, таинственной<br>
			Незнакомкой. Кто она?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Она – его Сокровище, его Душа, прекрасная,<br>
			романтичная, необыкновенная, одинокая, как и он.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Но почему же у неё <span class="blue tag">шляпа с траурными	перьями</span>? Да<br>
			просто она, его Душа, скорбит! Скорбит об упущенных<br>
			возможностях, о	неизведанных далях, где <span class="blue tag">берег<br>
			очарованный</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Блок применяет <span class="blue bold">омоформы</span> – удивительную<br>
			разновидность омонимов,	совпадающих только в предложном<br>
			падеже:	<span class="blue"><span class="tag">вино</span> и <span class="tag">вина</span></span>, и блистательно обыгрывает их.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Но осознание вины и покаяние, звучащие в конце<br>
			стихотворения – уже путь к искуплению и возрождению, не<br>
			так ли?
		</p>		
	</div>
	<div style="width: 478px; height: 520px; float: right; margin: -40px 11px 0 0;">
		<div class="image-shadow" style="width: 478px; height: 504px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/wineglass.jpg" width="100%" height="100%" alt="Бокал вина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 87px 0 0 0;">
	<span class="tag">Шёпот, робкое дыханье...</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: -1px 0 18px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $stihi_fet; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 50px;"><span class="blue">По стихотворению А.Фета</span></a>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 19px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 22px 0 0 0;">	
	<div style="width: 320px; height: 100px; float: left; padding-left: 26px;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 25px;">
			Родион Власюк,<br>
			11-й класс<br>
			(ныне врач)
		</p>		
	</div>
	<div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 14px 25px;">
			Там шепчутся белые ночи мои<br>
			О чьей-то высокой и тайной любви.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 265px;">
			Анна Ахматова
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 28px 0 24px 51px; text-indent: 65px; line-height: 22px;">
	Стихотворение посвящено свиданию влюблённой пары, которое начинается весенним вечером, когда запевает<br>
	соловей, и заканчивается на утренней заре.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	Стоит поэтическое время года, когда поздняя весна перетекает в раннее лето: ещё не замолкли птицы, но уже<br>
	расцвели розы. Ночи тёплые и короткие, почти как в знаменитых стихах Пушкина:
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 42px 0; line-height: 22px;">
	Одна заря сменить другую<br>
	Спешит, дав ночи полчаса...
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	 Здесь присутствует вся романтика, свойственная любовному свиданию: тут и «ночные тени, тени без конца», и<br>
	 «ряд волшебных изменений милого лица», и, конечно же:
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 42px 0; line-height: 22px;">
	И лобзания, и слёзы,<br>
	И заря, заря!..
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 77px 51px; text-indent: 65px; line-height: 22px;">
	 Читая это стихотворение, я чувствую себя в картинной галерее и вижу, как одно живописное полотно сменяется<br>
	 другим. А.А.Фет пером поэта рисует то, что делает художник кистью и красками.
</p>
<div id="load-video12" class="load-video"  style="padding-top: 1px; height: 373px;">
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 50px 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 В этом стихотворении нет ни одного глагола. Однако каждая строфа здесь излучает движение, всё в нём живёт,<br>
	 меняется и изменяется.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 Основной признак глагола – движение. И в стихотворении <span class="blue">«Шёпот, робкое дыханье»</span> эту роль<br>
	 выполняют отглагольные существительные. Например, вместо фразы <span class="blue">«серебрится и колышется сонный ручей»</span> Фет<br>
	 употребляет <span class="blue">«серебро и колыханье сонного ручья»</span>, вместо <span class="blue">«изменяется милое лицо»</span> поэт пишет <span class="blue">«ряд волшебных<br>
	 изменений милого лица»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 <span class="bold">Афанасий Фет</span> также использует другой приём: переводит прилагательные в существительные, которые потом<br>
	 несут функцию прямого дополнения. Например, вместо <span class="blue">«соловьиные трели»</span> употребляет <span class="blue">«трели соловья»</span>, вместо<br>
	 <span class="blue">«янтарные отблески»</span> – <span class="blue">«отблеск янтаря»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 Всё это стихотворение, состоящее из трёх четверостиший, представляет собой одно восклицательное<br>
	 предложение, что создаёт дополнительный эффект струения, перетекания, изменения – такого же плавного, как в самом<br>
	 стихотворении вечер перетекает в ночь, ночь – в рассвет, рассвет – в зарю.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	 Фет был не единственным русским поэтом, который владел этими приёмами. Вот одно из самых любимых моих<br>
	 стихотворений <span class="bold">Марины Цветаевой</span>:
</p>
<p class="blue size-14 font-verdana" style="margin: 0 0 42px 337px; line-height: 22px;">
	По пескам – жадным и ржавым,<br>
	Под лучом – жгучим и пьющим,<br>
	Сапожком – робким и кротким -<br>
	За плащом – следом и следом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 В этом стихотворении тоже отсутствуют глаголы, но оно также полно движения и динамики.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	 А вот <span class="bold">Константин Бальмонт</span> в стихотворении <span class="blue">«Кто кого»</span>, наоборот, использует одни глаголы, и вы<br>
	 посмотрите, сколько тут движения:
</p>
<div style="position:relative; z-index: 2;">
	<p class="blue size-14 font-verdana" style="margin: 0 0 42px 457px; line-height: 22px;">
		Настигаю.<br>
		<span style="margin: 0 0 0 42px;">Настигаю.</span><br>
		<span style="margin: 0 0 0 84px;">Огибаю.</span><br>
		<span style="margin: 0 0 0 126px;">Обгоню...</span>
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 51px; line-height: 22px;">
		 Конечно, обгонит. Верхом-то на Пегасе!..
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 106px 0 18px 0;">
	Ещё работы учащихся
</p>
<div style="height: 44px;">
	<div style="width: 178px; height: 44px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 178px; height: 44px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka/nupogodi.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="center line-height-23" style="margin: 12px 0 34px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18">Новая серия<br>про приставки</span></a>
</p>
<p style="margin: 0 0 42px 291px; line-height: 39px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 20px 10px 20px;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ МУЛЬТФИЛЬМОВ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 20px 10px 20px;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ИЗЛОЖЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 20px 10px 20px;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 20px 10px 20px;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ СОЧИНЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 20px 20px 20px;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
</p>


