<div style="padding-top: 55px; height: 477px;">
	<div style="width: 492px; height: 477px; margin: 0 auto;">
		<div class="image-shadow" style="width: 488px; height: 461px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/skazka.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 64px 0 22px 41px;">
	Жили-были царь и царица в сказочном царстве с двумя дочками. Это были две красивые<br>
	взрослые девушки. В то лето им исполнилось двадцать лет, причём в один день и в один<br>
	час, потому что царевны были близнецами.
</p>
<div style="padding-top: 20px; height: 465px;">
	<div style="width: 514px; height: 465px; margin: 0 auto;">
		<div class="image-shadow" style="width: 510px; height: 449px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/bashnya.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 10px 0 53px 0;">
	Сказочное царство
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Принцессы были так похожи, что их путали даже папа и мама – наши сказочные царь и<br>
	царица. Если бы не милая маленькая родинка на щеке, которая у Жасмин была с правой<br>
	стороны, а у Лизы с левой, все были бы уверены, что это один человек.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Царевны были весёлые, жизнерадостные и очень умелые: такие искусницы в вышивании,<br>
	что славились на всё свое царство и на соседнее королевство. А стоило им сесть верхом<br>
	на лошадь во время царской охоты – даже умелые наездники склоняли головы перед ними.
</p>
<div style="width: 960px; height: 540px; padding-top: 13px;">	
	<div style="width: 387px; height: 539px; float: left; margin-left: 78px;">
		<div class="image-shadow" style="width: 383px; height: 523px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/princessa.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 376px; height: 540px; float: right; margin: 0 59px 0 0;">
		<div class="image-shadow" style="width: 372px; height: 524px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/princessa1.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 25px 0 53px 0;">
	Принцессы на охоте
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 11px 41px;">
	Всё было бы хорошо, если бы не проклятие, наложенное на царский род несколько<br>
	веков назад обиженным колдуном, который хотел жениться на одной из<br>
	прапрабабушек наших царевен, которая тогда была юной царевной, но получил отказ:<br>
	царевне не нравилось, что колдун весь в бородавках, а ещё он был грубым, жестоким<br>
	и жадным.
</p>
<div style="width: 960px; height: 900px; padding-top: 0;">	
	<div style="width: 369px; height: 600px; float: left; margin: 263px 0 0 7px;">
		<div class="image-shadow" style="width: 365px; height: 437px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/koldun.jpg);">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 53px 0;">
			Влюблённый колдун
		</p>				
	</div>
	<div style="width: 585px; height: 483px; float: right; margin: 0 0 0 -10px;">
		<div class="image-shadow" style="width: 581px; height: 419px; margin: 0 0 0 -30px; position: relative; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/prababushka.jpg);">	
		</div>	
		<div class="image-shadow-right-1" style="margin: 0 30px 0 0;">
		</div>
		<div class="image-shadow-left-1" style="margin: 0 0 0 -30px;">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
			Юная прабабушка
		</p>
	</div>	
	<div style="width: 455px; height: 417px; float: right; margin: 0 74px 0 0;">
		<div class="image-shadow" style="width: 451px; height: 355px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/tree1.jpg);">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
			Злое заклятье
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 26px 0 22px 41px;">
	Заклятье было в том, что царский род закончится, когда появятся на свет царевны-<br>
	близнецы. С принцами, просящими их руку и сердце, будут происходить неприятности и<br>
	беды, и в конце концов царевны останутся одни и не смогут продолжить род.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	А снять проклятие можно было только тем, что царевны должны были, оставив царскую<br>
	гордость, подойти к избранникам и самим объясниться в любви, предложив себя в жёны.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	И во всех царствах и государствах знали о том, что если выйдет замуж хоть одна из<br>
	царевен, то значит, она переступила свою гордость. А какая она после этого царица?!
</p>
<div style="padding-top: 22px; height: 600px;">
	<div style="width: 348px; height: 600px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 348px; height: 584px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/gordost.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 5px 0 76px 0;">
	Царская гордость
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Женихов у наших царевен было во множестве, но ждали женихи, когда царевны сами<br>
	придут и принесут свою любовь.
</p>
<div style="padding-top: 12px; height: 493px;">
	<div style="width: 378px; height: 493px; margin: 0 auto;">
		<div class="image-shadow" style="width: 374px; height: 477px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/jenih.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 6px 0 76px 0;">
	Надменный жених
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	И тогда царевны решили женихов своих попытать: переоделись нищенками и пошли<br>
	пешком в соседнее королевство к первому жениху.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	А пока по дороге шли, всё людей расспрашивали: каков этот жених? И от людей<br>
	слышали, что королевич этот груб, хитёр и наглый.
</p>
<div style="padding-top: 27px; height: 526px;">
	<div style="width: 490px; height: 526px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 490px; height: 510px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/knife.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 5px 0 68px 0;">
	Хитрый жених
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Царевны подумали-подумали, да и пошли к другому жениху.
</p>
<div style="padding-top: 26px; height: 462px;">
	<div style="width: 511px; height: 462px; margin: 0 auto;">
		<div class="image-shadow" style="width: 507px; height: 446px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/road.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 67px 0;">
	Дорога к жениху
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	О другом женихе они не слышали ни плохого, ни хорошего. Пришли царевны к нему во<br>
	дворец. Сидит королевич на троне – высокий, красивый да статный. Увидел он, что царевны<br>
	нищенками одеты, и погнал их прочь от себя. Поняли царевны, что не их любил жених, а<br>
	богатство их, и пошли дальше.
</p>
<div style="padding-top: 30px; height: 379px;">
	<div style="width: 591px; height: 379px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 591px; height: 363px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/jenih1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 8px 0 70px 0;">
	Жадный жених
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Идут, а навстречу им два парня: очень бедно одеты, но глаза умные и добрые. И так<br>
	друг на друга похожи, что не отличить. Удивились царевны наши разумности речей<br>
	странников, и уму, и доброте душевной их. И подумали царевны: <span class="tag">Зачем нам искать<br>
	женихов титулованных, злых да жадных, если есть на свете хорошие, добрые, умные,<br>
	пусть и без титула царского?</span>
</p>
<div style="padding-top: 8px; height: 508px;">
	<div style="width: 388px; height: 508px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 388px; height: 492px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/jenih2.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 65px 0;">
	Хороший жених без титула
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	И поняли наши царевны, что полюбили они странников с первого взгляда, и увидели, что чувства взаимны. Набрались царевны смелости и первыми в любви объяснились, и предложили стать рядом с ними на престоле, чтобы царством править и род продолжить.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Обрадовались странники, сбросили с себя одежду нищенскую, а там одеяния царские. И говорят странники: <span class="tag">Мы царевичи-близнецы. Ищем невест, которые полюбят нас  в нищенском одеянии, ибо таково заклятие, наложенное на наш род злым колдуном много веков назад. Но сегодня заклятие рухнуло.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 41px;">
	Тут и две свадьбы сыграли, и был пир на весь мир, и царский род продолжился.
</p>
<div style="padding-top: 40px; height: 285px;">
	<div style="width: 455px; height: 285px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 455px; height: 269px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/korona.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="center" style="margin: 102px 0 22px 0;">
	<a href="http://verovenko.name/nejrolingvistika#skazka" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue font-verdana size-30">Вернуться</span></a>
</p>