<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]"><span class="yellow">МУЛЬТФИЛЬМ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]"><span class="yellow">ИЗЛОЖЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]"><span class="yellow">СОЧИНЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>СКАЗКИ</span></a></div>
		</div>
	</div>
</div>
<p class="blue size-24 font-verdana bold center" style="margin: 30px 0 39px 0;">
	Дорогие мои!
</p>
<div id="anim-skazka" style="height: 0; width: 900px;">
	<div style="height: 40px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
	<div style="height: 40px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
	<div style="height: 40px; width: 900px; position: relative; background-color: white; margin: 10px 0 0 0;"></div>
</div>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Хорошо пишет тот, кто хорошо думает, не так ли?
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 23px 56px; line-height: 25px;">
	Все эти сочинения, изложения, эссе,	сказки написали мои ученики.
</p>
<p class="light-blue size-20 font-verdana bold" style="margin: 0 0 72px 56px; line-height: 25px;">
	Почитайте. Понравится – приходите. Научу.
</p>
<div id="anim-skazka-dop" style="height: 0; width: 900px;">
	<div style="height: 130px; width: 900px; position: relative; background-color: white; margin: 0 0 0 0;"></div>
</div>
<p class="blue size-18 font-verdana right" style="margin: 0 59px 23px 0; line-height: 23px;">
	<span class="bold">Ольга Веровенко,</span><br>
	член Союза журналистов СССР,<br>
	специальный корреспондент,<br>
	телерадиоведущая с 15-летним стажем,<br>
	профессор, доктор наук.
</p>
<div style="padding-top: 53px; height: 477px;">
	<div style="width: 492px; height: 477px; margin: 0 auto;">
		<div class="image-shadow" style="width: 488px; height: 461px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/skazka.jpg" width="100%" height="100%" alt="Волшебная сказка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 35px 0 22px 52px; line-height: 22px;">
	Жили-были царь и царица в сказочном царстве с двумя дочками. Это были две красивые взрослые девушки. В то лето<br>
	им исполнилось двадцать лет, причём в один день и в один час, потому что царевны были близнецами.
</p>
<div style="padding-top: 45px; height: 465px;">
	<div style="width: 510px; height: 465px; margin: 0 auto;">
		<div class="image-shadow" style="width: 510px; height: 449px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/bashnya.jpg" width="100%" height="100%" alt="Башня">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 10px 0 53px 0;">
	Сказочное царство
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 49px; line-height: 22px;">
	Принцессы были так похожи, что их путали даже папа и мама – наши сказочные царь и царица. Если бы не милая<br>
	маленькая родинка на щеке, которая у Жасмин была с правой стороны, а у Лизы с левой, все были бы уверены, что<br>
	это один человек.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 49px; line-height: 22px;">
	Царевны были весёлые, жизнерадостные и очень умелые: такие искусницы в вышивании, что славились на всё свое<br>
	царство и на соседнее королевство. А стоило им сесть верхом на лошадь во время царской охоты – даже умелые<br>
	наездники склоняли головы перед ними.
</p>
<div style="width: 960px; height: 540px; padding-top: 20px;">	
	<div style="width: 387px; height: 539px; float: left; margin-left: 84px;">
		<div class="image-shadow" style="width: 383px; height: 523px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/princessa.jpg" width="100%" height="100%" alt="Принцесса">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>				
	</div>
	<div style="width: 376px; height: 540px; float: right; margin: 0 53px 0 0;">
		<div class="image-shadow" style="width: 372px; height: 524px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/princessa1.jpg" width="100%" height="100%" alt="Принцесса">	
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 25px 0 53px 0;">
	Принцессы на охоте
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px 65px; line-height: 22px;">
	Всё было бы хорошо, если бы не проклятие, наложенное на царский род несколько веков назад обиженным<br>
	колдуном, который хотел жениться на одной из прапрабабушек наших царевен, которая тогда была юной<br>
	царевной, но получил отказ: царевне не нравилось, что колдун весь в бородавках, а ещё он был грубым,<br>
	жестоким и жадным.
</p>
<div style="width: 960px; height: 900px; padding-top: 23px;">	
	<div style="width: 369px; height: 600px; float: left; margin: 263px 0 0 13px;">
		<div class="image-shadow" style="width: 365px; height: 437px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/koldun.jpg" width="100%" height="100%" alt="Влюблённый колдун">
		</div>	
		<div class="image-shadow-right-1">	
		</div>	
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 16px 0 53px 0;">
			Влюблённый колдун
		</p>				
	</div>
	<div style="width: 585px; height: 483px; float: right; margin: 0 0 0 -10px;">
		<div class="image-shadow" style="width: 581px; height: 419px; margin: 0 0 0 -24px; position: relative;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/prababushka.jpg" width="100%" height="100%" alt="Юная прабабушка">	
		</div>	
		<div class="image-shadow-right-1" style="margin: 0 30px 0 0;">
		</div>
		<div class="image-shadow-left-1" style="margin: 0 0 0 -30px;">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 8px 0 53px 0;">
			Юная прабабушка
		</p>
	</div>	
	<div style="width: 455px; height: 417px; float: right; margin: 0 68px 0 0;">
		<div class="image-shadow" style="width: 451px; height: 355px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/tree1.jpg" width="100%" height="100%" alt="Злое заклятье">		
		</div>	
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">				
		</div>
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
			Злое заклятье
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 26px 0 21px 55px; line-height: 22px;">
	Заклятье было в том, что царский род закончится, когда появятся на свет царевны-близнецы. С принцами,<br>
	просящими их руку и сердце, будут происходить неприятности и беды, и в конце концов царевны останутся одни и<br>
	не смогут продолжить род.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 55px; line-height: 22px;">
	А снять проклятие можно было только тем, что царевны должны были, оставив царскую гордость, подойти к<br>
	избранникам и самим объясниться в любви, предложив себя в жёны.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 55px; line-height: 22px;">
	И во всех царствах и государствах знали о том, что если выйдет замуж хоть одна из царевен, то значит, она<br>
	переступила свою гордость. А какая она после этого царица?!
</p>
<div style="padding-top: 0; height: 487px;">
	<div style="width: 259px; height: 487px; margin: 0 auto;">
		<div style="width: 259px; height: 487px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/gordost.jpg" width="100%" height="100%" alt="Царская гордость">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 64px 0;">
	Царская гордость
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 23px; line-height: 22px;">
	Женихов у наших царевен было во множестве, но ждали женихи, когда царевны сами придут и принесут свою любовь.
</p>
<div style="padding-top: 36px; height: 493px;">
	<div style="width: 378px; height: 493px; margin: 0 auto;">
		<div class="image-shadow" style="width: 374px; height: 477px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/jenih.jpg" width="100%" height="100%" alt="Надменный жених">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 6px 0 49px 0;">
	Надменный жених
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
	И тогда царевны решили женихов своих попытать: переоделись нищенками и пошли пешком в соседнее королевство<br>
	к первому жениху.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 57px; line-height: 22px;">
	А пока по дороге шли, всё людей расспрашивали: каков этот жених? И от людей слышали, что королевич этот груб,<br>
	хитёр и наглый.
</p>
<div style="padding-top: 0; height: 510px;">
	<div style="width: 490px; height: 510px; margin: 0 auto;">
		<div style="width: 490px; height: 510px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/knife.jpg" width="100%" height="100%" alt="Хитрый жених">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 19px 0 53px 30px;">
	Хитрый жених
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 53px; line-height: 22px;">
	Царевны подумали-подумали, да и пошли к другому жениху.
</p>
<div style="padding-top: 28px; height: 462px;">
	<div style="width: 511px; height: 462px; margin: 0 auto;">
		<div class="image-shadow" style="width: 507px; height: 446px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/road.jpg" width="100%" height="100%" alt="Дорога к жениху">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 11px 0 53px 0;">
	Дорога к жениху
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	О другом женихе они не слышали ни плохого, ни хорошего. Пришли царевны к нему во дворец. Сидит королевич на<br>
	троне – высокий, красивый да статный. Увидел он, что царевны нищенками одеты, и погнал их прочь от себя. Поняли<br>
	царевны, что не их любил жених, а богатство их, и пошли дальше.
</p>
<div style="padding-top: 36px; height: 443px;">
	<div style="width: 572px; height: 443px; margin: 0 auto;">
		<div style="width: 572px; height: 443px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/jenih1.jpg" width="100%" height="100%" alt="Жадный жених">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 50px 54px 63px 0;">
	Жадный жених
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 22px;">
	Идут, а навстречу им два парня: очень бедно одеты, но глаза умные и добрые. И так друг на друга похожи, что не<br>
	отличить. Удивились царевны наши разумности речей странников, и уму, и доброте душевной их. И подумали<br>
	царевны: <span class="tag">Зачем нам искать женихов титулованных, злых да жадных, если есть на свете хорошие, добрые, умные,<br>
	пусть и без титула царского?</span>
</p>
<div style="padding-top: 49px; height: 492px;">
	<div style="width: 388px; height: 492px; margin: 0 0 0 145px;;">
		<div style="width: 388px; height: 492px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/jenih2.jpg" width="100%" height="100%" alt="Хороший жених без титула">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 24px 0 54px 0;">
	Хороший жених без титула
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 59px; line-height: 22px;">
	И поняли наши царевны, что полюбили они странников с первого взгляда, и увидели, что чувства взаимны.<br>
	Набрались царевны смелости и первыми в любви объяснились, и предложили стать рядом с ними на престоле,<br>
	чтобы царством править и род продолжить.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 59px; line-height: 22px;">
	Обрадовались странники, сбросили с себя одежду нищенскую, а там одеяния царские. И говорят странники: <span class="tag">Мы<br>
	царевичи-близнецы. Ищем невест, которые полюбят нас  в нищенском одеянии, ибо таково заклятие, наложенное<br>
	на наш род злым колдуном много веков назад. Но сегодня заклятие рухнуло.</span>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 56px 59px; line-height: 22px;">
	Тут и две свадьбы сыграли, и был пир на весь мир, и царский род продолжился.
</p>
<div style="height: 175px;">
	<div style="width: 349px; height: 175px; margin: 0 auto;">
		<div style="width: 349px; height: 175px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/korona.jpg" width="100%" height="100%" alt="Корона">
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 64px 0 35px 0;">
	Итак...
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 60px; line-height: 22px;">
	Понравилось? Приходите! Не боги горшки обжигают.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 47px 60px; line-height: 22px;">
	Есть уникальные авторские методики, которые <span class="bold">молниеносно</span> развивают творческое мышление, язык, стилистику.
</p>
<div style="width: 960px; height: 311px; padding: 0 0 0 0;">	
	<div style="width: 465px; height: 311px; float: left; padding-left: 60px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Можете взять курс <span class="tag">Творчество</span> <span class="lilac">(творческие работы по<br>
			литературе + сочинения, изложения)</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но самый шикарный вариант – комплексный	курс <span class="tag">Чудо<br>
			будет!</span> <span class="lilac">(русский, грамотность + литература + изложения,<br>
			сочинения + чтение + речь + коррекция проблем обучения<br>
			+ поддержка	психолога + развитие личности через<br>
			творчество)</span>.<br>
			Эти спецкурсы веду лично я.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			А вообще-то у нас много чего ещё интересного. Зайдите на<br>
			сайт моей авторской школы-студии (см. <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana">на моей странице</span></a>).
		</p>			
	</div>
	<div style="width: 399px; height: 311px; float: right; margin: 0 33px 0 0;">
		<div class="image-shadow" style="width: 399px; height: 295px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/pencil.jpg" width="100%" height="100%" alt="Ручка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 55px 0 39px 0;">
	Ещё работы учащихся
</p>
<div style="height: 44px;">
	<div style="width: 178px; height: 44px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 178px; height: 44px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi.jpg); box-shadow: 0px 0px 0px 0px;">
		</div>
	</div>
</div>
<p class="center line-height-23" style="margin: 12px 0 34px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18">Новая серия<br>про приставки</span></a>
</p>
<p style="margin: 0 0 42px 311px; line-height: 39px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ МУЛЬТФИЛЬМОВ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ИЗЛОЖЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ СОЧИНЕНИЙ</span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
</p>


