<div style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-image: url(http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/back-slider.jpg); top: 0; left: 0;">
<div class="slider" style="width: 1279px; height: 706px; position: absolute; z-index: 4; overflow: hidden; top: 0px; left: 50%; margin-left: -640px;">	
	<div class="slider-content" style="width: 1279px; height: 706px; margin: 0 0 0 0;">
		<div class="animation-left active" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/1.jpg" width="100%" height="100%" alt="Мальчик">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/8.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/11.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/10.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/9.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/6.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/5.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/7.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-left" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/13.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity animation-opacity-zoom" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/2.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-top" style="width: 1279px; height: 706px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/3.jpg" width="100%" height="100%" alt="Алладин">
		</div>
		<div class="animation-opacity" style="width: 1279px; height: 706px; opacity: 0; position: absolute; top: 0px; left: 0px; overflow: hidden;">
			<img src="http://verovenko.name/wp-content/themes/twentyfourteen/images/slider/12.jpg" width="100%" height="100%" alt="Алладин">
		</div>
	</div>
	<div class="buttons-slider" style="">
		<span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
	</div>
	<div class="title-slider" style="position: absolute; z-index: 100; top: 71px; left: 0px; width: 100%; text-align: center;">
		<span class="font-verdana bold" style="font-size: 48px; color: white;">Чудо будет!</span>
		<span class="size-24 font-verdana tag" style="color: white;">Врождённая грамотность-<span class="bold italic">NL</span></span>
	</div>
	<div class="kurs" style="opacity: 0; position: absolute; z-index: 100; top: 550px; left: 0px; width: 100%; text-align: center;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" style="text-decoration:underline; color: white;"><span class="size-24 font-verdana bold" style="color: white;">Подробности курса</span></a>
	</div>
	<div style="margin: 0 0 0 0;">
		<div class="description active" style="position: absolute; z-index: 3; top: 270px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 235px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Курс вашей мечты</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Метод-новинка от автора <span class="tag">Врождённой<br>
				грамотности</span> профессора О.О.Веровенко. Много<br>
				чудес в рамках единого творчески-игрового курса.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 250px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Романтический курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Навык гениальных сказок, сочинений, изложений.<br>
				Развитие творческих способностей.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 260px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Фантастический курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Русский язык без ошибок. Безупречная<br>
				грамотность. Красивый почерк.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 205px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Сказочный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Неповторимые творческие диктанты. Их любят<br>
				все: взрослые и дети.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 280px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Завораживающий курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Дивной красоты творческие работы по русскому,<br>
				английскому, литературе.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 170px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Дивный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Речь – ваша визитная карточка, не так ли?<br>
				Навыки правильной красивой речи.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 195px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Чудесный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Правильное, интонированное, осмысленное<br>
				чтение. Появляется интерес к литературе.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 175px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Добрый курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Коррекция дислексии, дисграфии, <span class="tag">школьного</span><br>
				невроза. Арт-терапия.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 265px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Восхитительный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Повышается интеллект и способность к лёгкому,<br>
				быстрому обучению ВСЕГДА, ВЕЗДЕ, ВСЕМУ.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 215px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Волшебный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Ничего не надо зубрить. Лёгкость обучения<br>и молниеносный успех за 4-12 сеансов!</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 205px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Радостный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Родители присутствуют на занятиях, играют,<br>
				обучаются и веселятся вместе со своими детьми.</p></div></div>
		<div class="description" style="position: absolute; z-index: 3; top: 720px; left: 200px; overflow: hidden; margin: 0;">
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; width: 195px; margin: 0 0 1px; ">
				<p class="light-blue font-arial" style="font-size:22px; margin: 12px 20px;">Взлётный курс</p></div>
			<div style="background-color: rgba(255, 255, 255, 0.74902); z-index: 1; top: 0px; left: 0px; overflow: hidden; margin: 0;">
				<p class="dark-blue font-arial size-15 line-height-23" style="margin: 12px 20px;">Поддержка психолога (доктор наук). Исчезают<br>
				<span class="tag">шероховатости</span> характера. Воспитание и огранка<br>
				ЛИЧНОСТИ.</p></div></div>
	</div>








</div>
</div>