<p class="blue size-24 font-verdana bold center" style="margin: 23px 0 34px 0;">
	Сочинение по литературе
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 0 0;">
	Дуэль Павла Петровича и Базарова
</p>
<div style="width: 960px; height: 551px; padding: 60px 0 0 0;">	
	<div style="width: 411px; height: 551px; float: left; margin: 0 0 0 47px;">
		<div class="image-shadow-0" style="width: 411px; height: 486px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/almaeva.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center" style="margin: 25px 0 0 0; line-height: 16px;">
			Юля Алмаева, 10 класс<br>
			(ныне студентка МГУ)
		</p>
	</div>
	<div style="width: 448px; height: 551px; float: right;">
		<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 11px 0;">
			Дуэль – крайняя форма проявления разницы во<br>
			взглядах.
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 63px 260px;">
			Игорь Дуэль, писатель
		</p>
		<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 46px 0;">
			Лошадь сказала,<br>
			<span style="margin: 0 0 0 150px">взглянув на</span><br>
			<span style="margin: 0 0 0 240px">верблюда:</span><br>
			«Какая гигантская<br>
			<span style="margin: 0 0 0 150px">лошадь –</span><br>
			<span style="margin: 0 0 0 240px">ублюдок».</span><br>
			<span style="margin: 0 0 0 0">Верблюд же вскричал:</span><br>
			<span style="margin: 0 0 0 150px">«Да лошадь</span><br>
			<span style="margin: 0 0 0 240px">разве ты?!</span><br>
			<span style="margin: 0 0 0 0">Ты просто-напросто –</span><br>
			<span style="margin: 0 0 0 150px">верблюд</span><br>
			<span style="margin: 0 0 0 240px">недоразвитый».</span>
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 0 259px;">
			Владимир Маяковский
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 33px 0 22px 48px; text-indent: 70px;">
	…И стрелялись лошадь с верблюдом, и было смешно, и было дико. Потому что<br>
	каковы дуэлянты – такова и дуэль.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Онегин и Ленский, Пушкин и Дантес… Какой накал страстей, искренних чувств,<br>
	попранной чести! Трагедия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Онегин и Ленский, Пушкин и Дантес…Какой накал страстей, искренних чувств,<br>
	попранной чести! Трагедия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Печорин и Грушницкий, Лермонтов и Мартынов… Злая интрига, печальный конец.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Поручик Ржевский и гусар-девица… Комедия «Гусарская баллада». Фарс.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Базаров и Павел Петрович… Что это, зачем, почему?! Что за нелепица? Ведь они по<br>
	человеческой сути своей – одинаковые! Абсолютное зеркало друг друга.
</p>
<div style="padding-top: 25px; height: 446px;">
	<div style="width: 600px; height: 446px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 600px; height: 430px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/galstuk.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 35px 0 22px 48px; text-indent: 84px;">
	Позиция Базарова: <span class="blue">«Всё, что не понимаю – отрицаю и уничтожаю. Словом и<br>
	поступком»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Позиция Павла Петровича: <span class="blue">«Всех, кого не понимаю – отрицаю и уничтожаю.<br>
	Пистолетом»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Это поединок, в котором реально сошлись лошадь с верблюдом. Поработать бы<br>
	каждому над собой, гармонично сочетая труд внешний и внутренний! Да куда тут!..
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Дуэль проиграли оба. Базаров – когда решился взять в руки пистолет. Неправильно<br>
	выбрал! Его дуэльное оружие – слово, что посильнее пистолета!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Павел Петрович проиграл, когда вызвал Базарова. Да где это видано, чтобы<br>
	стрелялись князь с мужиком, князь с сыном уездного лекаря?!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Именно фактом вызова на дуэль, самим поступком этим признал аристократ Павел<br>
	Петрович – и не усомнился! – в нигилисте Базарове РАВНОГО себе. Тут и проиграл! А<br>
	Базаров ещё и посочувствовал этому <span class="blue">«невольнику чести»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Сцена дуэли является кульминацией спора Базарова с Павлом Петровичем,<br>
	который длится на протяжении всего романа, отображая нам скрытые черты и чувства<br>
	героев, ранее не проглядываемые в произведении.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Их дуэль похожа на революцию: когда один уже не может терпеть поступки второго,<br>
	а второй уже перешел все грани дозволенного поведения. Говоря словами Ленина, <span class="blue">«низы не<br>
	хотят, верхи не могут»</span>.
</p>
<div style="padding-top: 1px; height: 390px;">
	<div style="width: 544px; height: 390px; margin: 0 auto;">
		<div class="image-shadow" style="width: 544px; height: 376px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/matrix.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 49px 0 22px 48px; text-indent: 84px;">
	Что хотел Тургенев показать фактом этой дуэли? Конфликт класса аристократии с<br>
	молодым, нарождающимся классом разночинной интеллигенции? Возможно.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Сам автор описывает дуэль как-то иронично, нелепо, словно соглашаясь с мнением<br>
	Базарова на ее счёт, представляет её как пережиток прошлого, никак не уместного в<br>
	настоящем.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Да вся беда в том, что полыхнула от этого базарного конфликта («Базаров»- не<br>
	даром «говорящая» фамилия; где бы ни появился – везде базар, вокзал, революция) и<br>
	тысяч подобных конфликтов, случившихся в тот момент, как от спускового курка пистолета,<br>
	всем дуэлям ДУЭЛЬ. Полыхнула в полмира и смела и дуэлянтов, и секундантов, и<br>
	соглядатаев.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 70px;">
	…И мечется в огне и дыму гражданской войны <span class="blue">Юрий Живаго</span> (доктор Базаров –<br>
	доктор Живаго – случайное ли совпадение?), пытаясь защитить и спасти любимых, друзей,<br>
	страну… <span class="blue">«Авва Отче! Чашу эту мимо пронеси!»</span>
</p>
<div style="padding-top: 15px; height: 400px;">
	<div style="width: 600px; height: 400px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 600px; height: 338px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/vsadnik.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 25px 0 0 0; line-height: 16px;">
			Всадники Апокалипсиса
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 25px 0 22px 48px; text-indent: 84px;">
	Остановить бы дуэлянтов, но поздно, поздно, поздно… <span class="blue">«И неотвратим конец<br>
	пути»</span>. Стрелялись они – проиграла Россия.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	И какими мелкими и ничтожными кажутся на фоне этой ЛИЧНОСТИ аристократа-<br>
	интеллигента (ВНУКА!) – доктора Живаго – и конфликт <span class="blue">«отцов и детей»</span>, и личности обоих<br>
	горе-дуэлянтов!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Возвращаясь к главным персонажам – Базарову и Павлу Петровичу, – закончить<br>
	хочется опять-таки словами Маяковского:
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 424px;">
	И знал  лишь<br>
	<span style="margin: 0 0 0 86px">бог седобородый,</span><br>
	<span style="margin: 0 0 0 20px">что это –</span><br>
	<span style="margin: 0 0 0 86px">животные</span><br>
	<span style="margin: 0 0 0 120px">разной породы.</span><br>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 48px; text-indent: 84px;">
	Где одно из слов хотелось бы выделить особо.
	<div style="width: 289px; height: 179px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/dinozavr.jpg); float: right; margin: -75px 86px 0 0;">
	</div>	
</p>
<p class="blue size-24 font-verdana bold center" style="margin: 195px 0 44px 0;">
	Сочинения-эссе по литературе
</p>
<p class="blue size-18 font-verdana" style="margin: 80px 0 5px 77px;">
	Афанасий Фет
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Шёпот, робкое дыханье...
</p>
<div style="width: 960px; height: 570px; padding: 21px 0 52px 0;">	
	<div style="width: 320px; height: 570px; float: left; padding-left: 52px;">
		<p class="blue size-18 font-verdana" style="line-height: 37px; margin: 0 0 36px 25px;">
			Шёпот, робкое дыханье,<br>
			Трели соловья,<br>
			Серебро и колыханье<br>
			Сонного ручья.
		</p>
		<p class="blue size-18 font-verdana" style="line-height: 37px; margin: 0 0 36px 25px;">
			Свет ночной, ночные тени,<br>
			Тени без конца,<br>
			Ряд волшебных изменений<br>
			Милого лица,
		</p>
		<p class="blue size-18 font-verdana" style="line-height: 37px; margin: 0 0 0 25px;">
			В дымных тучках пурпур розы,<br>
			Отблеск янтаря,<br>
			И лобзания, и слёзы,<br>
			И заря, заря!..
		</p>		
	</div>
	<div style="width: 367px; height: 570px; float: right; margin: 0 43px 0 0;">
		<div class="image-shadow-0" style="width: 367px; height: 508px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/rodik.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Наши красавцы и умнички<br>
			(фото с урока)
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 18px 0;">
	<span class="tag">Шёпот, робкое дыханье...</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 22px 0 0 0;">	
	<div style="width: 320px; height: 100px; float: left; padding-left: 26px;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 25px;">
			Родион Власюк,<br>
			11-й класс<br>
			(ныне врач)
		</p>		
	</div>
	<div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 14px 25px;">
			Там шепчутся белые ночи мои<br>
			О чьей-то высокой и тайной любви.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 265px;">
			Анна Ахматова
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 25px 0 22px 51px; text-indent: 65px;">
	Стихотворение посвящено свиданию влюблённой пары, которое начинается весенним<br>
	вечером, когда запевает соловей, и заканчивается на утренней заре.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 25px 0 44px 51px; text-indent: 65px;">
	Стоит поэтическое время года, когда поздняя весна перетекает в раннее лето: ещё не<br>
	замолкли  птицы, но уже расцвели розы. Ночи тёплые и короткие, почти как в знаменитых<br>
	стихах Пушкина:
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 44px 0;">
	Одна заря сменить другую<br>
	Спешит, дав ночи полчаса...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 51px; text-indent: 65px;">
	 Здесь присутствует вся романтика, свойственная любовному свиданию: тут и<br>
	 «ночные тени, тени без конца», и «ряд волшебных изменений милого лица», и, конечно же:
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 44px 0;">
	И лобзания, и слёзы,<br>
	И заря, заря!..
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 65px;">
	 Читая это стихотворение, я чувствую себя в картинной галерее и вижу, как одно<br>
	 живописное полотно сменяется другим. А.А.Фет пером поэта рисует то, что делает художник<br>
	 кистью и красками.
</p>
<div style="padding-top: 1px; height: 373px;">
	<div style="width: 480px; height: 373px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 480px; height: 357px;">
	 		<iframe width="480" height="360" src="//www.youtube.com/embed/9vs2qme9dxU?autoplay=1&amp;loop=1&amp;playlist=9vs2qme9dxU&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 65px;">
	 В этом стихотворении нет ни одного глагола. Однако каждая строфа здесь излучает<br>
	 движение, всё в нём живёт, меняется и изменяется.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 65px;">
	 Основной признак глагола – движение. И в стихотворении <span class="blue">«Шёпот, робкое дыханье»</span><br>
	 эту роль выполняют отглагольные существительные. Например, вместо фразы <span class="blue">«серебрится и<br>
	 колышется сонный ручей»</span> Фет употребляет <span class="blue">«серебро и колыханье сонного ручья»</span>, вместо<br>
	 <span class="blue">«изменяется милое лицо»</span> поэт пишет <span class="blue">«ряд волшебных изменений милого лица»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 65px;">
	 <span class="bold">Афанасий Фет</span> также использует другой приём: переводит прилагательные в<br>
	 существительные, которые потом несут функцию прямого дополнения. Например, вместо<br>
	 <span class="blue">«соловьиные трели»</span> употребляет <span class="blue">«трели соловья»</span>, вместо <span class="blue">«янтарные отблески»</span> – <span class="blue">«отблеск<br>
	 янтаря»</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 65px;">
	 Всё это стихотворение, состоящее из трёх четверостиший, представляет собой одно<br>
	 восклицательное предложение, что создаёт дополнительный эффект струения, перетекания,<br>
	 изменения – такого же плавного, как в самом стихотворении вечер перетекает в ночь,<br>
	 ночь – в рассвет, рассвет – в зарю.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 51px; text-indent: 65px;">
	 Фет был не единственным русским поэтом, который владел этими приёмами. Вот одно<br>
	 из самых любимых моих стихотворений <span class="bold">Марины Цветаевой</span>:
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 337px;">
	По пескам – жадным и ржавым,<br>
	Под лучом – жгучим и пьющим,<br>
	Сапожком – робким и кротким -<br>
	За плащом – следом и следом.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 51px; text-indent: 65px;">
	 В этом стихотворении тоже отсутствуют глаголы, но оно также полно движения и<br>
	 динамики.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 51px; text-indent: 65px;">
	 А вот <span class="bold">Константин Бальмонт</span> в стихотворении <span class="blue">«Кто кого»</span>, наоборот, использует одни<br>
	 глаголы, и вы посмотрите, сколько тут движения:
</p>
<div style="position:relative; z-index: 2;">
	<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 44px 430px;">
		Настигаю.<br>
		<span style="margin: 0 0 0 50px;">Настигаю.</span><br>
		<span style="margin: 0 0 0 100px;">Огибаю.</span><br>
		<span style="margin: 0 0 0 150px;">Обгоню...</span>
	</p>
	<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 51px;">
		 Конечно, обгонит. Верхом-то на Пегасе!..
	</p>
</div>
<div style="height: 408px;">
	<div style="width: 633px; height: 408px; margin: 0 auto;">
		<div id="rotateimg1" style="width: 316px; height: 204px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/horse.jpg); opacity: 0;">
		</div>
	</div>
</div>
<div style="position:relative; z-index: 2; padding: 55px 0 0 0;">
	<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 39px 0;">
		Ещё работы учащихся
	</p>
	<div style="height: 44px;">
		<div style="width: 178px; height: 44px; margin: 0 auto;">
			<div class="image-shadow-0" style="width: 178px; height: 44px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi.jpg); box-shadow: 0px 0px 0px 0px;">
			</div>
		</div>
	</div>
	<p class="center line-height-23" style="margin: 12px 0 39px 0;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18">Новая серия<br>про приставки</span></a>
	</p>
	<p style="margin: 0 0 42px 311px; line-height: 29px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ МУЛЬТФИЛЬМОВ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ИЗЛОЖЕНИЙ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> ГЛАВНУЮ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ О.О.ВЕРОВЕНКО</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ОТЗЫВОВ И БЛАГОДАРНОСТЕЙ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
	</p>
</div>









