<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]"><span class="yellow">ИЗЛОЖЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]"><span class="yellow">МУЛЬТФИЛЬМ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]"><span class="yellow">СКАЗКА</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>СОЧИНЕНИЯ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуй<br>
		бесплатно!
	</p>
</div>
<p class="blue size-24 font-verdana bold center" style="margin: 23px 0 34px 0;">
	Сочинение по литературе
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 40px 0 44px 0;">
	Творческие сочинения-эссе по литературе
</p>
<p class="blue size-18 font-verdana" style="margin: 60px 0 11px 20px;">
	Николай Гумилёв
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Крест
</p>
<div style="width: 960px; height: 300px; padding: 22px 0 75px 0;">	
	<div style="width: 400px; height: 300px; float: left; padding-left: 57px;">
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Так долго лгала мне за картою карта,<br>
			Что я уж не мог опьяниться вином.<br>
			Холодные звёзды тревожного марта<br>
			Бледнели одна за другой за окном.
		</p>	
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			В холодном безумьи, в тревожном азарте<br>
			Я чувствовал, будто игра эта – сон.<br>
			«Весь банк, – закричал, – покрываю я в карте!»<br>
			И карта убита, и я побежден.
		</p>
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Я вышел на воздух. Рассветные тени<br>
			Бродили так нежно по нежным снегам.<br>
			Не помню я сам, как я пал на колени,<br>
			Мой крест золотой прижимая к губам.
		</p>	
	</div>
	<div style="width: 400px; height: 300px; float: right; margin: 0 59px 0 0;">
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			– Стать вольным и чистым, как звёздное небо,<br>
			Твой посох принять, о сестра Нищета,<br>
			Бродить по дорогам, выпрашивать хлеба,<br>
			Людей заклиная святыней креста!
		</p>
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Мгновенье… и в зале весёлой и шумной<br>
			Все стихли и встали испуганно с мест,<br>
			Когда я вошёл, воспалённый, безумный,<br>
			И молча на карту поставил мой крест.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 11px 0;">
	<span class="tag">Крест</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 12px 0 0 0;">	
	<div style="width: 188px; height: 100px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 13px; text-align: right;">
			Володя Гранкин,<br>
			10-й класс
		</p>		
	</div>
	<div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 67px;">
			Я обманут моей унылой,<br>
			Переменчивой, злой судьбой.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 74px 0 0; text-align: right; line-height: 17px;">
			Анна Ахматова,<br>
			<span class="tag">Песня последней встречи</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 430px; padding: 22px 0 0 0;">	
	<div style="width: 468px; height: 430px; float: left; padding-left: 0;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; text-indent: 65px; line-height: 22px;">
			Человек и рок, человек и его злая судьба... Можно<br>
			ли как-то обойти её, или сразиться с ней, или, на худой<br>
			конец, обыграть в карты? 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
			Николай Гумилёв использует потрясающей силы и<br>
			выразительности <span class="light-blue bold">омонимы</span>. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 16px; text-indent: 78px; line-height: 22px;">
			Крест – как злая судьба, как страсть к игре в<br>
			карты, терзающая лирического героя. И эту зависимость,<br>
			свою несвободу лирический герой осознаёт, ощущает как<br>
			своё <span class="blue tag">холодное безумье</span>, <span class="blue tag">тревожный азарт</span>.	Ему хотелось<br>
			бы стать <span class="blue tag">вольным и чистым, как звёздное небо</span>, но<br>
			принять <span class="blue tag">посох сестры	Нищеты</span> он, конечно, не может и не<br>
			хочет.
		</p>		
	</div>
	<div style="width: 448px; height: 448px; float: right; margin: 0 43px 0 0;">
		<div class="image-shadow" style="width: 448px; height: 432px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/aaaa.jpg" width="100%" height="100%" alt="Карты">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 550px; padding: 0 0 0 0;">	
	<div style="width: 525px; height: 550px; float: left; margin: -61px 0 0 16px;">
		<div class="image-shadow" style="width: 525px; height: 341px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/krestme.jpg);">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/krest.jpg" width="100%" height="100%" alt="Крест">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 32px 0 0 0; text-indent: 78px; line-height: 22px;">
			Крест – это и нательный <span class="blue tag">крест золотой</span>, который можно<br>
			прижать к губам в самую тяжёлую	минуту глубочайшего отчаяния.<br>
			И этот крест, осознаваемый лирическим героем как <span class="blue tag">святыня</span>,<br>
			всегда был рядом, поддерживая его, как самый верный друг.
		</p>
	</div>
	<div style="width: 324px; height: 520px; float: right; margin: 1px 70px 0 0;">
		<div class="image-shadow" style="width: 324px; height: 491px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/ruletka.jpg" width="100%" height="100%" alt="Рулетка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 538px; padding: 5px 0 0 0;">	
	<div style="width: 486px; height: 538px; float: left; margin: 0 0 0 13px;">
		<div class="image-shadow" style="width: 486px; height: 416px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/mill.jpg" width="100%" height="100%" alt="Мельница">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="blue size-18 font-verdana line-height-23" style="margin: 70px 0 0 28px;">
			Александр Блок
		</p>
	</div>
	<div style="width: 434px; height: 538px; float: right; margin: 0 0 0 0;">
		<p class="dark-blue size-14 font-verdana" style="margin: 10px 0 21px 15px; text-indent: 60px; line-height: 22px;">
			Что же поставил на карту в конце<br>
			стихотворения наш герой: злую судьбу или<br>
			верного друга? Или то и	другое вместе?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 60px; line-height: 22px;">
			Многозначность омонима даёт	возможность<br>
			каждому из нас домыслить это.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 60px; line-height: 22px;">
			Осуждаю ли я лирического героя, брошу<br>
			ли в него камень? Ответить хочется словами<br>
			Иисуса Христа: <span class="blue tag italic">Кто сам без греха, первым брось<br>
			камень</span>.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Незнакомка
</p>
<div style="width: 960px; height: 530px; padding: 22px 0 0 0;">	
	<div style="width: 300px; height: 530px; float: left; padding-left: 169px;">
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			По вечерам над ресторанами<br>
			Горячий воздух дик и глух,<br>
			И правит окриками пьяными<br>
			Весенний и тлетворный дух.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Вдали над пылью переулочной,<br>
			Над скукой загородных дач,<br>
			Чуть золотится крендель булочной,<br>
			И раздается детский плач.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И каждый вечер, за шлагбаумами,<br>
			Заламывая котелки,<br>
			Среди канав гуляют с дамами<br>
			Испытанные остряки.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Над озером скрипят уключины<br>
			И раздается женский визг,<br>
			А в небе, ко всему приученный<br>
			Бессмысленно кривится диск.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И каждый вечер друг единственный<br>
			В моем стакане отражен<br>
			И влагой терпкой и таинственной<br>
			Как я, смирён и оглушён.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			А рядом у соседних столиков<br>
			Лакеи сонные торчат,<br>
			И пьяницы с глазами кроликов<br>
			«In vino veritas!»* кричат.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
			И каждый вечер, в час назначенный<br>
			(Иль это только снится мне?),<br>
			Девичий стан, шелками схваченный,<br>
			В туманном движется окне.
		</p>
	</div>
	<div style="width: 399px; height: 530px; float: right; margin: 0 0 0 0;">
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И медленно, пройдя меж пьяными,<br>
			Всегда без спутников, одна<br>
			Дыша духами и туманами,<br>
			Она садится у окна.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И веют древними поверьями<br>
			Её упругие шелка,<br>
			И шляпа с траурными перьями,<br>
			И в кольцах узкая рука.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И странной близостью закованный,<br>
			Смотрю за тёмную вуаль,<br>
			И вижу берег очарованный<br>
			И очарованную даль.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Глухие тайны мне поручены,<br>
			Мне чьё-то солнце вручено,<br>
			И все души моей излучины<br>
			Пронзило терпкое вино.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И перья страуса склонённые<br>
			В моём качаются мозгу,<br>
			И очи синие бездонные<br>
			Цветут на дальнем берегу.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
			В моей душе лежит сокровище,<br>
			И ключ поручен только мне!<br>
			Ты право, пьяное чудовище!<br>
			Я знаю: истина в вине.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 78px 0 23px 0;">
	<span class="tag">Незнакомка</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 18px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 36px 0 0 0;">	
	<div style="width: 192px; height: 100px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 12px 36px 0; text-align: right;">
			Володя Гранкин,<br>
			10-й класс
		</p>		
	</div>
	<div style="width: 430px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 17px 0;">
			Пей! Чёрт тебя доведёт до конца.<br>
			Йо-хо-хо, и бутылка рому!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 77px 0 0; text-align: right; line-height: 17px;">
			Роберт Стивенсон,<br>
			<span class="tag">Остров сокровищ</span>
		</p>
	</div>
</div>
<div style="width: 960px; height: 447px; padding: 32px 0 0 0;">	
	<div style="width: 568px; height: 447px; float: left; margin: 0 0 0 12px;">
		<div class="image-shadow" style="width: 568px; height: 431px; position: relative;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/eye1.jpg" width="100%" height="100%" alt="Взгляд">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 376px; height: 447px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Он беспредельно виноват, лирический<br>
			герой стихотворения <span class="blue tag">Незнакомка</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Свою вину – перед собой, своей судьбой –<br>
			он прекрасно чувствует и понимает.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 35px; line-height: 22px;">
			Его вина и в том, что у него остался <span class="blue tag">друг<br>
			единственный</span> – его собственное отражение в<br>
			бокале вина.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 15px; text-indent: 35px; line-height: 22px;">
			И в том, что он оказался здесь, <span class="blue tag">над скукой<br>
			загородных дач</span> (прекрасная метафора<br>
			обочины	жизни!).
		</p>
	</div>
</div>
<div style="width: 960px; height: 520px; padding: 0 0 0 0;">	
	<div style="width: 463px; height: 520px; float: left; padding-left: 7px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 20px 0 21px 0; text-indent: 35px; line-height: 22px;">
			Но главная его вина – перед Ней, таинственной<br>
			Незнакомкой. Кто она?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Она – его Сокровище, его Душа, прекрасная,<br>
			романтичная, необыкновенная, одинокая, как и он.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Но почему же у неё <span class="blue tag">шляпа с траурными	перьями</span>? Да<br>
			просто она, его Душа, скорбит! Скорбит об упущенных<br>
			возможностях, о	неизведанных далях, где <span class="blue tag">берег<br>
			очарованный</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Блок применяет <span class="blue bold">омоформы</span> – удивительную<br>
			разновидность омонимов,	совпадающих только в предложном<br>
			падеже:	<span class="blue"><span class="tag">вино</span> и <span class="tag">вина</span></span>, и блистательно обыгрывает их.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; text-indent: 35px; line-height: 22px;">
			Но осознание вины и покаяние, звучащие в конце<br>
			стихотворения – уже путь к искуплению и возрождению, не<br>
			так ли?
		</p>		
	</div>
	<div style="width: 478px; height: 520px; float: right; margin: -40px 11px 0 0;">
		<div class="image-shadow" style="width: 478px; height: 504px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/wineglass.jpg" width="100%" height="100%" alt="Бокал вина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-24 font-verdana bold center" style="margin: 119px 0 24px 0;">
	Сочинения на вольную тему
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 50px 0 9px 0;">
	Петербург Достоевского
</p>
<div style="width: 960px; height: 80px; padding: 60px 0 38px 0;">	
	<div style="width: 300px; height: 80px; float: left;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 0 39px;">
			Юля Алмаева,<br>
			11-й класс,<br>
			(ныне студентка МГУ)
		</p>		
	</div>
	<div style="width: 389px; height: 80px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 16px 0;">
			Узнавай же скорее декабрьский денёк,<br>
			Где к зловещему дёгтю подмешан желток.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 22px 0 0; text-align: right; line-height: 17px;">
			Осип Мандельштам
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 26px 0 21px 39px; text-indent: 70px; line-height: 22px;">
	Петербург Достоевского жёлт.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; text-indent: 70px; line-height: 22px;">
	Нет-нет, это не золотисто-царственный Петербург царей и декабристов, Онегина и Татьяны, высшего<br>
	света, так любимый и воспетый Пушкиным. Не золотисто-искрящийся, как у Игоря Северянина (<span class="blue tag">Ананасы в<br>
	шампанском!</span> – кто не помнит?). Нет! Петербург Достоевского уныло-жёлт, грязно-жёлт, беспросветно жёлт, как<br>
	простыня <span class="tag">жёлтой</span> бульварной газеты, перемалывающей кости и души.
</p>
<div style="padding-top: 21px; height: 440px;">
	<div style="width: 696px; height: 440px; margin: 0 auto;">
		<div class="image-shadow" style="width: 696px; height: 374px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/dali.jpg" width="100%" height="100%" alt="Сальвадор Дали. Окрестности города">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center" style="margin: 23px 0 0 0; line-height: 16px;">
			Сальвадор Дали. <span class="tag">Окрестности города</span>
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 17px 0 21px 39px; text-indent: 75px; line-height: 22px;">
	Мир бесов – раскольниковых и свидригайловых, проституток и убийц, униженных и оскорблённых<br>
	идиотов, да и просто духовно бедных людей – он жёлт отчаянной тоской безумия.
</p>
<div style="padding-top: 54px; height: 520px;">
	<div style="width: 636px; height: 520px; margin: 0 auto;">
		<div class="image-shadow" style="width: 636px; height: 465px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/dali1.jpg" width="100%" height="100%" alt="Сальвадор Дали. Бесы">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center" style="margin: 23px 0 0 0; line-height: 16px;">
			Сальвадор Дали. Бесы.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 35px 0 21px 39px; text-indent: 70px; line-height: 22px;">
	Здесь творятся жестокие преступления без наказания и не менее жестокие наказания за малейшую вину, а<br>
	иногда и вовсе без вины.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; text-indent: 70px; line-height: 22px;">
	Именно этот горячечно-жёлтый мир породил идею о <span class="blue tag">тварях дрожащих и право имеющих</span> –<br>
	вот уж воистину <span class="blue tag">великую</span> идею! Самые кровавые преступления, от которых	содрагался мир, – будь то Холокост<br>
	или Архипелаг Гулаг – всегда прикрывались "великой идеей". И рождаются подобные идеи не в Петербурге, не в<br>
	Германии. Их территория – душа человека. А душе этой – чернее чёрного! – легче и проще убить и отобрать, чем<br>
	проявить хотя бы малый труд этой самой души – внешний или внутренний.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 39px; text-indent: 70px; line-height: 22px;">
	Ни одна "великая идея" не стоит слезинки ребёнка! Именно этому учил великий	гуманист Фёдор<br>
	Михайлович Достоевский. Учил здесь, в Петербурге. Ведь город - это не только величайшее архитектурное<br>
	наследие. Город – это люди, которые существуют в нём, со всеми их проблемами, страданиями, радостями и<br>
	умыслами. Так как же видит Достоевский людей в нём?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 7px 39px; text-indent: 70px; line-height: 22px;">
	Писатель в полной мере изучил внутреннее содержание, скрытое в тени	искрящихся фасадов, познал его<br>
	безумие, похоть, алчность, аморальность и злобу. Петербург Достоевского подобен сумасшедшему дому, где<br>
	достигли крайней точки безумия все, включая лекарей.
</p>
<div style="width: 960px; height: 550px; padding: 116px 0 0 0;">	
	<div style="width: 440px; height: 550px; float: left; padding-left: 24px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 75px 0 21px 15px; text-indent: 70px; line-height: 22px;">
			Уникальны были мысли Гоголя:<br>
			<span class="tag">Санкт-Петербург двулик – под искрящейся<br>
			роскошью томится точно обратный его красоте<br>
			ужас и тлен, разложение, покрытое красивой<br>
			оболочкой</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 15px; text-indent: 70px; line-height: 22px;">
			Такие же мрачные, угрюмые описания<br>
			Петербурга можно отметить и в стихах Бориса<br>
			Пастернака:
		</p>
		<p class="blue size-14 font-verdana italic center" style="margin: 0 43px 62px 0; line-height: 22px;">
			Тучи, как волосы, встали дыбом<br>
			Над дымной, бледной Невой.<br>
			Кто ты? О, кто ты? Кто бы ты ни был,<br>
			Город – вымысел твой. 
		</p>		
	</div>
	<div style="width: 373px; height: 550px; float: right; margin: 0 123px 0 0;">
		<div class="image-shadow" style="width: 373px; height: 506px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/krik.jpg" width="100%" height="100%" alt="Э. Мунк. Крик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center line-height-23" style="margin: 16px 0 22px 0;">
			Э. Мунк. <span class="tag">Крик</span>.
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 109px 0 0 0;">
	Дуэль Павла Петровича и Базарова
</p>
<div style="width: 960px; height: 551px; padding: 60px 0 0 0;">	
	<div style="width: 411px; height: 551px; float: left; margin: 0 0 0 47px;">
		<div class="image-shadow-0" style="width: 411px; height: 486px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/almaeva.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-verdana bold center" style="margin: 25px 0 0 0; line-height: 16px;">
			Юля Алмаева, 10 класс<br>
			(ныне студентка МГУ)
		</p>
	</div>
	<div style="width: 448px; height: 551px; float: right;">
		<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 11px 0;">
			Дуэль – крайняя форма проявления разницы во<br>
			взглядах.
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 63px 260px;">
			Игорь Дуэль, писатель
		</p>
		<p class="blue size-16 font-verdana line-height-23" style="margin: 0 0 46px 0;">
			Лошадь сказала,<br>
			<span style="margin: 0 0 0 150px">взглянув на</span><br>
			<span style="margin: 0 0 0 240px">верблюда:</span><br>
			«Какая гигантская<br>
			<span style="margin: 0 0 0 150px">лошадь –</span><br>
			<span style="margin: 0 0 0 240px">ублюдок».</span><br>
			<span style="margin: 0 0 0 0">Верблюд же вскричал:</span><br>
			<span style="margin: 0 0 0 150px">«Да лошадь</span><br>
			<span style="margin: 0 0 0 240px">разве ты?!</span><br>
			<span style="margin: 0 0 0 0">Ты просто-напросто –</span><br>
			<span style="margin: 0 0 0 150px">верблюд</span><br>
			<span style="margin: 0 0 0 240px">недоразвитый».</span>
		</p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 0 259px;">
			Владимир Маяковский
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 33px 0 55px 82px; line-height: 28px;">
	…И стрелялись лошадь с верблюдом, и было смешно, и было дико. Потому что каковы дуэлянты – такова и дуэль.<br>
	Онегин и Ленский, Пушкин и Дантес… Какой накал страстей, искренних чувств, попранной чести! Трагедия.<br>
	Печорин и Грушницкий, Лермонтов и Мартынов… Злая интрига, печальный конец.<br>
	Поручик Ржевский и гусар-девица… Комедия «Гусарская баллада». Фарс.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 88px; line-height: 28px;">
	Базаров и Павел Петрович… Что это, зачем, почему?! Что за нелепица? Ведь они по	человеческой сути своей<br>
	– одинаковые! Абсолютное зеркало друг друга.
</p>
<div style="padding-top: 0; height: 442px;">
	<div style="width: 596px; height: 442px; margin: 0 auto;">
		<div class="image-shadow" style="width: 596px; height: 426px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/galstuk.jpg" width="100%" height="100%" alt="Дуэль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 41px 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Позиция Базарова: <span class="blue">«Всё, что не понимаю – отрицаю и уничтожаю. Словом и поступком»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Позиция Павла Петровича: <span class="blue">«Всех, кого не понимаю – отрицаю и уничтожаю. Пистолетом»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Это поединок, в котором реально сошлись лошадь с верблюдом. Поработать бы каждому над собой, гармонично<br>
	сочетая труд внешний и внутренний! Да куда тут!..
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Дуэль проиграли оба. Базаров – когда решился взять в руки пистолет. Неправильно	выбрал! Его дуэльное<br>
	оружие – слово, что посильнее пистолета!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Павел Петрович проиграл, когда вызвал Базарова. Да где это видано, чтобы стрелялись князь с мужиком, князь<br>
	с сыном уездного лекаря?!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Именно фактом вызова на дуэль, самим поступком этим признал аристократ Павел Петрович – и не усомнился!<br>
	– в нигилисте Базарове РАВНОГО себе. Тут и проиграл! А Базаров ещё и посочувствовал этому <span class="blue">«невольнику чести»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Сцена дуэли является кульминацией спора Базарова с Павлом Петровичем, который длится на протяжении<br>
	всего романа, отображая нам скрытые черты и чувства	героев, ранее не проглядываемые в произведении.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Их дуэль похожа на революцию: когда один уже не может терпеть поступки второго,	а второй уже перешел все<br>
	грани дозволенного поведения. Говоря словами Ленина, <span class="blue">«низы не хотят, верхи не могут»</span>.
</p>
<div style="padding-top: 59px; height: 390px;">
	<div style="width: 544px; height: 390px; margin: 0 auto;">
		<div class="image-shadow" style="width: 544px; height: 376px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/matrix.jpg" width="100%" height="100%" alt="Дуэль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 49px 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Что хотел Тургенев показать фактом этой дуэли? Конфликт класса аристократии с молодым, нарождающимся<br>классом	разночинной интеллигенции? Возможно.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Сам автор описывает дуэль как-то иронично, нелепо, словно соглашаясь с мнением Базарова на ее счёт,<br>
	представляет её как пережиток прошлого, никак не уместного в настоящем.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Да вся беда в том, что полыхнула от этого базарного конфликта («Базаров»- не даром «говорящая» фамилия;<br>
	где бы ни появился – везде базар, вокзал, революция) и тысяч подобных конфликтов, случившихся в тот момент, как от<br>
	спускового курка пистолета, всем дуэлям ДУЭЛЬ. Полыхнула в полмира и смела и дуэлянтов, и секундантов, и<br>
	соглядатаев.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	…И мечется в огне и дыму гражданской войны <span class="blue">Юрий Живаго</span> (доктор Базаров – доктор Живаго – случайное ли<br>
	совпадение?), пытаясь защитить и спасти любимых, друзей, страну… <span class="blue">«Авва Отче! Чашу эту мимо пронеси!»</span>
</p>
<div style="padding-top: 23px; height: 400px;">
	<div style="width: 596px; height: 400px; margin: 0 auto;">
		<div class="image-shadow" style="width: 596px; height: 334px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/vsadnik.jpg);">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/vsadnik.jpg" width="100%" height="100%" alt="Дуэль">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 25px 0 0 0; line-height: 16px;">
			Всадники Апокалипсиса
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 23px 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Остановить бы дуэлянтов, но поздно, поздно, поздно… <span class="blue">«И неотвратим конец пути»</span>. Стрелялись они –<br>
	проиграла Россия.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	И какими мелкими и ничтожными кажутся на фоне этой ЛИЧНОСТИ аристократа-интеллигента (ВНУКА!) –<br>
	доктора Живаго – и конфликт <span class="blue">«отцов и детей»</span>, и личности обоих	горе-дуэлянтов!
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 15px 47px; text-indent: 70px; line-height: 22px;">
	Возвращаясь к главным персонажам – Базарову и Павлу Петровичу, – закончить хочется опять-таки словами<br>
	Маяковского:
</p>
<p class="blue size-14 font-verdana line-height-23" style="margin: 0 0 30px 447px; line-height: 17px;">
	И знал  лишь<br>
	<span style="margin: 0 0 0 68px">бог седобородый,</span><br>
	<span style="margin: 0 0 0 15px">что это –</span><br>
	<span style="margin: 0 0 0 68px">животные</span><br>
	<span style="margin: 0 0 0 120px">разной породы.</span><br>
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; text-indent: 70px; line-height: 22px;">
	Где одно из слов хотелось бы выделить особо.
	<div style="width: 289px; height: 179px; float: right; margin: -21px 86px 0 0;">
		<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/dinozavr.jpg" width="100%" height="100%" alt="Дуэль">
	</div>	
</p>
<p class="blue size-24 font-verdana bold center" style="margin: 293px 0 44px 0;">
	Сочинения-эссе по литературе
</p>
<p class="blue size-18 font-verdana" style="margin: 61px 0 5px 52px;">
	Афанасий Фет
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Шёпот, робкое дыханье...
</p>
<div style="width: 960px; height: 570px; padding: 21px 0 56px 0;">	
	<div style="width: 320px; height: 570px; float: left; padding-left: 52px;">
		<p class="blue size-14 font-verdana" style="line-height: 28px; margin: -5px 0 36px 25px;">
			Шёпот, робкое дыханье,<br>
			Трели соловья,<br>
			Серебро и колыханье<br>
			Сонного ручья.
		</p>
		<p class="blue size-14 font-verdana" style="line-height: 28px; margin: 0 0 36px 25px;">
			Свет ночной, ночные тени,<br>
			Тени без конца,<br>
			Ряд волшебных изменений<br>
			Милого лица,
		</p>
		<p class="blue size-14 font-verdana" style="line-height: 28px; margin: 0 0 0 25px;">
			В дымных тучках пурпур розы,<br>
			Отблеск янтаря,<br>
			И лобзания, и слёзы,<br>
			И заря, заря!..
		</p>		
	</div>
	<div style="width: 367px; height: 570px; float: right; margin: 0 47px 0 0;">
		<div class="image-shadow" style="width: 367px; height: 508px;">
			<img src="http://verovenko.me/wp-content/themes/twentyfourteen/images/sochinenija/rodik.jpg" width="100%" height="100%" alt="Родик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Наши красавцы и умнички<br>
			(фото с урока)
		</p>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 16px 0;">
	<span class="tag">Шёпот, робкое дыханье...</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 19px 0;">
	Анализ, восприятие, истолкование, оценка
</p>
<div style="width: 960px; height: 100px; padding: 22px 0 0 0;">	
	<div style="width: 320px; height: 100px; float: left; padding-left: 26px;">
		<p class="lilac size-18 font-verdana line-height-23" style="margin: 0 0 36px 25px;">
			Родион Власюк,<br>
			11-й класс<br>
			(ныне врач)
		</p>		
	</div>
	<div style="width: 395px; height: 100px; float: right; margin: 0 0 0 0;">
		<p class="blue size-16 font-verdana" style="line-height: 19px; margin: 0 0 14px 25px;">
			Там шепчутся белые ночи мои<br>
			О чьей-то высокой и тайной любви.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 265px;">
			Анна Ахматова
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 28px 0 24px 51px; text-indent: 65px; line-height: 22px;">
	Стихотворение посвящено свиданию влюблённой пары, которое начинается весенним вечером, когда запевает<br>
	соловей, и заканчивается на утренней заре.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	Стоит поэтическое время года, когда поздняя весна перетекает в раннее лето: ещё не замолкли птицы, но уже<br>
	расцвели розы. Ночи тёплые и короткие, почти как в знаменитых стихах Пушкина:
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 42px 0; line-height: 22px;">
	Одна заря сменить другую<br>
	Спешит, дав ночи полчаса...
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	 Здесь присутствует вся романтика, свойственная любовному свиданию: тут и «ночные тени, тени без конца», и<br>
	 «ряд волшебных изменений милого лица», и, конечно же:
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 42px 0; line-height: 22px;">
	И лобзания, и слёзы,<br>
	И заря, заря!..
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 77px 51px; text-indent: 65px; line-height: 22px;">
	 Читая это стихотворение, я чувствую себя в картинной галерее и вижу, как одно живописное полотно сменяется<br>
	 другим. А.А.Фет пером поэта рисует то, что делает художник кистью и красками.
</p>
<div style="padding-top: 1px; height: 373px;">
	<div style="width: 480px; height: 373px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 480px; height: 357px;">
	 		<iframe width="480" height="360" src="//www.youtube.com/embed/9vs2qme9dxU?autoplay=1&amp;loop=1&amp;playlist=9vs2qme9dxU&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 50px 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 В этом стихотворении нет ни одного глагола. Однако каждая строфа здесь излучает движение, всё в нём живёт,<br>
	 меняется и изменяется.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 Основной признак глагола – движение. И в стихотворении <span class="blue">«Шёпот, робкое дыханье»</span> эту роль<br>
	 выполняют отглагольные существительные. Например, вместо фразы <span class="blue">«серебрится и колышется сонный ручей»</span> Фет<br>
	 употребляет <span class="blue">«серебро и колыханье сонного ручья»</span>, вместо <span class="blue">«изменяется милое лицо»</span> поэт пишет <span class="blue">«ряд волшебных<br>
	 изменений милого лица»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 <span class="bold">Афанасий Фет</span> также использует другой приём: переводит прилагательные в существительные, которые потом<br>
	 несут функцию прямого дополнения. Например, вместо <span class="blue">«соловьиные трели»</span> употребляет <span class="blue">«трели соловья»</span>, вместо<br>
	 <span class="blue">«янтарные отблески»</span> – <span class="blue">«отблеск янтаря»</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 Всё это стихотворение, состоящее из трёх четверостиший, представляет собой одно восклицательное<br>
	 предложение, что создаёт дополнительный эффект струения, перетекания, изменения – такого же плавного, как в самом<br>
	 стихотворении вечер перетекает в ночь, ночь – в рассвет, рассвет – в зарю.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	 Фет был не единственным русским поэтом, который владел этими приёмами. Вот одно из самых любимых моих<br>
	 стихотворений <span class="bold">Марины Цветаевой</span>:
</p>
<p class="blue size-14 font-verdana" style="margin: 0 0 42px 337px; line-height: 22px;">
	По пескам – жадным и ржавым,<br>
	Под лучом – жгучим и пьющим,<br>
	Сапожком – робким и кротким -<br>
	За плащом – следом и следом.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 51px; text-indent: 65px; line-height: 22px;">
	 В этом стихотворении тоже отсутствуют глаголы, но оно также полно движения и динамики.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 51px; text-indent: 65px; line-height: 22px;">
	 А вот <span class="bold">Константин Бальмонт</span> в стихотворении <span class="blue">«Кто кого»</span>, наоборот, использует одни глаголы, и вы<br>
	 посмотрите, сколько тут движения:
</p>
<div style="position:relative; z-index: 2;">
	<p class="blue size-14 font-verdana" style="margin: 0 0 42px 457px; line-height: 22px;">
		Настигаю.<br>
		<span style="margin: 0 0 0 42px;">Настигаю.</span><br>
		<span style="margin: 0 0 0 84px;">Огибаю.</span><br>
		<span style="margin: 0 0 0 126px;">Обгоню...</span>
	</p>
	<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 51px; line-height: 22px;">
		 Конечно, обгонит. Верхом-то на Пегасе!..
	</p>
</div>
<div style="height: 408px; padding: 102px 0 0 0;">
	<div style="width: 633px; height: 408px; margin: 0 auto;">
		<div id="rotateimg1" style="width: 316px; height: 204px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/horse.jpg); opacity: 0;">
		</div>
	</div>
</div>
<div style="position:relative; z-index: 2; padding: 103px 0 0 0;">
	<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 31px 0;">
		Ещё работы учащихся
	</p>
	<div style="height: 44px;">
		<div style="width: 178px; height: 44px; margin: 0 auto;">
			<div class="image-shadow-0" style="width: 178px; height: 44px; background-image: url(http://verovenko.me/wp-content/themes/twentyfourteen/images/nupogodi.jpg); box-shadow: 0px 0px 0px 0px;">
			</div>
		</div>
	</div>
	<p class="center line-height-23" style="margin: 49px 0 20px 0;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18">Новая серия<br>про приставки</span></a>
	</p>
	<p style="margin: 0 0 42px 311px; line-height: 39px;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> ГЛАВНУЮ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ МУЛЬТФИЛЬМОВ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ ИЗЛОЖЕНИЙ</span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ РУССКОГО ЯЗЫКА <span class="tag red">ЧУДО БУДЕТ!</span></span></a><br>
		<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue font-verdana bold size-18"><span class="yellow">НА</span> СТРАНИЦУ УСЛОВИЙ ОБУЧЕНИЯ</span></a>
	</p>
</div>









