<h2 class="heading green size-30">За гранью возможного</h2>
<div style="padding-top: 55px; height: 560px;">
	<div style="width: 600px; height: 560px; margin: 0 auto;">
		<div class="image-shadow" style="width: 596px; height: 544px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/chtenie.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 30px 0;">
	Чтение
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 31px 0 30px 0;">
	Экстернат профессора Ольги Олеговны Веровенко
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Техника чтения, скорость и точность. Повышение концентрации внимания, без чего<br>
	невозможно грамотное письмо.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Длительность: нужен всего один <a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-18 bold tag">Чудо-сеанс</span></a>. Второй вам не потребуется!
</p>
<div style="width: 960px; height: 520px; padding: 58px 0 8px 0;">	
	<div style="width: 540px; height: 520px; float: left; padding-right: 0px">
		<p class="light-blue bold size-24 font-verdana center" style="margin: 90px 0 4px 0;">
			Подробности о ридингфобии
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 50px;">
			(страхе чтения), а также <span class="tag">школьном</span> неврозе,<br>
			дислексии и некоторых других проблемах<br>
			обучения см. в статье
		</p>
		<p class="center" style="margin: 0 0 22px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24 tag">У кого есть глупо дитятко?</span></a>
		</p>	
	</div>
	<div style="width: 339px; height: 520px; float: right; margin: 0 79px 0 0;">
		<div style="width: 339px; height: 466px;">
			<div style="width: 339px; height: 450px;">
				<div id="rotateimg1" class="image-shadow-0" style="margin: 0 auto; opacity: 0; width: 169px; height: 233px; max-width: 339px; max-height: 450px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/goblin.jpg);">
				</div>
			</div>	
			<div class="image-shadow-right-1">			
			</div>
			<div class="image-shadow-left-1">			
			</div>
		</div>	
		<p class="blue size-14 font-arial bold center" style="margin: 8px 0 0 0; line-height: 16px;">
			Ридингфобия<br>
			(страх чтения)
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 42px 0 30px 0;">
	Художественное слово
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 31px 0 30px 0;">
	Спецкурс заслуженной артистки РФ <a href="[exec] include get_template_directory().'/links.php'; echo $individualnoe_obuchenie; [/exec]" style="text-decoration: underline; color: rgb(0, 101, 169);"><span class="blue font-verdana size-18 bold">Натальи Леонидовны Ковалёвой</span></a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Навыки правильного интонированного осмысленного чтения. Осмысление прочитанного.<br>
	Скорость чтения. Повышение концентрации внимания.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Культура речи. Голос. Произношение, дикция, артикуляция.<br>
	Раскрепощение.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Длительность курса: 18-36 ак.часов (6-12 занятий по 3 ак.часа каждое)
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 30px 0;">
	Актёрское мастерство
</p>
<p class="blue bold size-18 font-verdana center" style="margin: 31px 0 30px 0;">
	Спецкурс заслуженной артистки РФ <a href="[exec] include get_template_directory().'/links.php'; echo $individualnoe_obuchenie; [/exec]" style="text-decoration: underline; color: rgb(0, 101, 169);"><span class="blue font-verdana size-18 bold">Натальи Леонидовны Ковалёвой</span></a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Взрослым, школьникам.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Раскрепощение. Исчезают проявления зажатости и закрепощённости в общении.<br>
	Прививается умение легко и непринуждённо держаться, общаться и разговаривать.<br>
	Повышается обаяние и коммуникабельность.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 36px;">
	Длительность курса: 18-36 ак.часов (6-12 занятий по 3 ак.часа каждое)
</p>
<div style="padding-top: 23px; height: 373px;">
	<div style="width: 620px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 620px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/chtenie.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/chtenie.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/YGby6pyfHKw?autoplay=1&amp;loop=1&amp;playlist=YGby6pyfHKw&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 49px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]