<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $izlozhenija; [/exec]"><span class="yellow">ИЗЛОЖЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $multfilm; [/exec]"><span class="yellow">МУЛЬТФИЛЬМ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]"><span class="yellow">СКАЗКА</span></a></div>
			<div style="float: right;margin: 0 0 0 33px;"><a class="first"><span>СТИХИ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуйте<br>
		бесплатно!
	</p>
</div>
<p style="margin: 48px 0 0 0;"><a name="gumilev"></a></p>
<p class="blue size-18 font-verdana" style="margin: 0 0 11px 20px;">
	Николай Гумилёв
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Крест
</p>
<div style="width: 960px; height: 300px; padding: 22px 0 75px 0;">	
	<div style="width: 400px; height: 300px; float: left; padding-left: 57px;">
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Так долго лгала мне за картою карта,<br>
			Что я уж не мог опьяниться вином.<br>
			Холодные звёзды тревожного марта<br>
			Бледнели одна за другой за окном.
		</p>	
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			В холодном безумьи, в тревожном азарте<br>
			Я чувствовал, будто игра эта – сон.<br>
			«Весь банк, – закричал, – покрываю я в карте!»<br>
			И карта убита, и я побежден.
		</p>
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Я вышел на воздух. Рассветные тени<br>
			Бродили так нежно по нежным снегам.<br>
			Не помню я сам, как я пал на колени,<br>
			Мой крест золотой прижимая к губам.
		</p>	
	</div>
	<div style="width: 400px; height: 300px; float: right; margin: 0 59px 0 0;">
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			– Стать вольным и чистым, как звёздное небо,<br>
			Твой посох принять, о сестра Нищета,<br>
			Бродить по дорогам, выпрашивать хлеба,<br>
			Людей заклиная святыней креста!
		</p>
		<p class="dark-blue size-15 font-verdana" style="line-height: 18px; margin: 0 0 30px 0;">
			Мгновенье… и в зале весёлой и шумной<br>
			Все стихли и встали испуганно с мест,<br>
			Когда я вошёл, воспалённый, безумный,<br>
			И молча на карту поставил мой крест.
		</p>
	</div>
</div>
<p style="margin: 17px 0 0 0;"><a name="blok"></a></p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 25px 28px;">
	Александр Блок
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Незнакомка
</p>
<div style="width: 960px; height: 530px; padding: 22px 0 0 0;">	
	<div style="width: 300px; height: 530px; float: left; padding-left: 169px;">
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			По вечерам над ресторанами<br>
			Горячий воздух дик и глух,<br>
			И правит окриками пьяными<br>
			Весенний и тлетворный дух.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Вдали над пылью переулочной,<br>
			Над скукой загородных дач,<br>
			Чуть золотится крендель булочной,<br>
			И раздается детский плач.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И каждый вечер, за шлагбаумами,<br>
			Заламывая котелки,<br>
			Среди канав гуляют с дамами<br>
			Испытанные остряки.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Над озером скрипят уключины<br>
			И раздается женский визг,<br>
			А в небе, ко всему приученный<br>
			Бессмысленно кривится диск.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И каждый вечер друг единственный<br>
			В моем стакане отражен<br>
			И влагой терпкой и таинственной<br>
			Как я, смирён и оглушён.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			А рядом у соседних столиков<br>
			Лакеи сонные торчат,<br>
			И пьяницы с глазами кроликов<br>
			«In vino veritas!»* кричат.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
			И каждый вечер, в час назначенный<br>
			(Иль это только снится мне?),<br>
			Девичий стан, шелками схваченный,<br>
			В туманном движется окне.
		</p>
	</div>
	<div style="width: 399px; height: 530px; float: right; margin: 0 0 0 0;">
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И медленно, пройдя меж пьяными,<br>
			Всегда без спутников, одна<br>
			Дыша духами и туманами,<br>
			Она садится у окна.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И веют древними поверьями<br>
			Её упругие шелка,<br>
			И шляпа с траурными перьями,<br>
			И в кольцах узкая рука.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И странной близостью закованный,<br>
			Смотрю за тёмную вуаль,<br>
			И вижу берег очарованный<br>
			И очарованную даль.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			Глухие тайны мне поручены,<br>
			Мне чьё-то солнце вручено,<br>
			И все души моей излучины<br>
			Пронзило терпкое вино.
		</p>	
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 15px 0;">
			И перья страуса склонённые<br>
			В моём качаются мозгу,<br>
			И очи синие бездонные<br>
			Цветут на дальнем берегу.
		</p>
		<p class="grey size-12 font-verdana" style="line-height: 15px; margin: 0 0 0 0;">
			В моей душе лежит сокровище,<br>
			И ключ поручен только мне!<br>
			Ты право, пьяное чудовище!<br>
			Я знаю: истина в вине.
		</p>
	</div>
</div>
<p style="margin: 159px 0 0 0;"><a name="fet"></a></p>
<p class="blue size-18 font-verdana" style="margin: 0 0 23px 28px;">
	Афанасий Фет
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Шёпот, робкое дыханье...
</p>
<div style="width: 960px; height: 570px; padding: 21px 0 56px 0;">	
	<div style="width: 320px; height: 570px; padding-left: 52px; margin: 0 auto;">
		<p class="dark-blue size-14 font-verdana" style="line-height: 28px; margin: -5px 0 36px 25px;">
			Шёпот, робкое дыханье,<br>
			Трели соловья,<br>
			Серебро и колыханье<br>
			Сонного ручья.
		</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 28px; margin: 0 0 36px 25px;">
			Свет ночной, ночные тени,<br>
			Тени без конца,<br>
			Ряд волшебных изменений<br>
			Милого лица,
		</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 28px; margin: 0 0 0 25px;">
			В дымных тучках пурпур розы,<br>
			Отблеск янтаря,<br>
			И лобзания, и слёзы,<br>
			И заря, заря!..
		</p>		
	</div>
</div>










