<p class="light-blue size-30 font-verdana bold" style="margin: -8px 0 45px 11px;">
	Стоимость обучения
</p>
<a name="vip"></a>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 45px 0; line-height: 30px;">
	Занятия с автором технологий<br>
	профессором О.О.Веровенко
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 10px 17px;">
	<span class="blue bold">Базовая стоимость</span> одного сеанса с проф. О.О.Веровенко <span class="blue bold">1 500 евро.</span>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 17px 17px;">
	<span class="yellow bold">Скидки</span> – <span class="blue bold">обычную</span> <span class="red">до 55%</span> <span class="blue bold">и Рождественскую</span> <span class="red">до 75%</span> – получает только <span class="red bold">Persona Grata.</span>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 64px 17px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_grata; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue bold">Как обрести статус <span class="red bold">Persona Grata.</span></span></a>
</p>
<p class="blue bold size-24 font-verdana center" style="margin: 0 0 0 0;">
	Стоимость
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 22px 0; line-height: 17px;">
	для Persona Grata
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 48px 0;">
	Индивидуальное обучение
</p>
<table class="table2" style="width: 840px; margin: 0 auto;">
	<tr class="table-head2" style="height: 60px;">
		<td style="width: 100px;"><p class="vinous">Скидка от<br>базовой<br>стоимости</p></td>
		<td style="width: 500px;"><p>Стоимость приведена в у.е.<br><span class="normal" style="font-size: 13px;">1 у.е. = 1 евро<br>Оплата в рублях по курсу ЦБ</span></p></td>
		<td style="width: 64px;"><p>За курс</p></td>
		<td style="width: 76px;"><p>За ак.час</p></td>
		<td style="width: 100px;"><p class="vinous">Ваша<br>скидка</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>40%</p></td>
		<td><p class="left-t">За курс из 12 часов (4 сеанса по 3 ак.часа каждый)</p></td>
		<td class="highlight"><p>4 500</p></td>
		<td><p>375</p></td>
		<td class="skidka-r"><p>1 500</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>50%</p></td>
		<td><p class="left-t">При продолжении обучения</p></td>
		<td class="highlight"><p>3 000</p></td>
		<td><p>250</p></td>
		<td class="skidka-r"><p>3 000</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>55%</p></td>
		<td><p class="left-t">При дальнейшем продолжении обучения</p></td>
		<td class="highlight"><p>2 700</p></td>
		<td><p>225</p></td>
		<td class="skidka-r"><p>3 300</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>65%</p></td>
		<td><p class="left-t">Пробный сеанс, включая диагностику и тестирование (3 ак.часа)</p></td>
		<td class="highlight"><p>525</p></td>
		<td><p>167</p></td>
		<td class="skidka-r"><p>1 000</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>60%</p></td>
		<td><p class="left-t">Арт-терапия. Разовый сеанс</p></td>
		<td class="highlight"><p>300</p></td>
		<td><p class="normal">–</p></td>
		<td class="skidka-r"><p>450</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>60%</p></td>
		<td><p class="left-t">Чтение, речь. Разовый сеанс</p></td>
		<td class="highlight"><p>300</p></td>
		<td><p class="normal">–</p></td>
		<td class="skidka-r"><p>450</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>65%</p></td>
		<td><p class="left-t">Психология-<span class="light-blue bold italic size-16">NL</span> (только для взрослых). Разовый сеанс</p></td>
		<td class="highlight"><p>525</p></td>
		<td><p class="normal">–</p></td>
		<td class="skidka-r"><p>1 000</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
</table>
<p class="dark-blue size-14 font-verdana bold" style="margin: 18px 0 0 59px;">
	Цены приведены с учётом стоимости <span class="light-blue italic bold">NL</span>-учебников и <span class="light-blue italic bold">NL</span>-тренажёров.
</p>
<p class="red size-30 font-verdana" style="margin: 15px 0 108px 59px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $rozhdestvenskie_skidki; [/exec]" style="text-decoration: none; border-bottom: 2px solid #ED1C24;"><span class="red bold">Рождественские скидки до 75%</span></a>
</p>
<a name="individualnoe"></a>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 31px 0; line-height: 24px;">
	Занятия с педагогами высшего рейтинга,<br>
	<span class="size-18">преподающими по технологиям проф. О.О.Веровенко</span>
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 44px 0; line-height: 29px;">
	<span class="tag">Врождённая грамотность</span> (русский язык)<br>
	<span class="tag">Вертикальный взлёт</span> (английский язык)
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 21px 22px;">
	<span class="blue bold">Базовая стоимость</span> одного занятия с педагогом высшего рейтинга <span class="blue bold">750 евро</span>.
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 18px 22px;">
	<span class="yellow bold">Скидки</span> – <span class="blue bold">обычную</span> <span class="red">до 55%</span> <span class="blue bold">и Рождественскую</span> <span class="red">до 75%</span> – получает только <span class="red bold">Persona Grata.</span>
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 74px 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_grata; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue bold">Как обрести статус <span class="red bold">Persona Grata.</span></span></a>
</p>
<p style="margin: 0;"><a name="ind_stoimost"></a></p>
<p class="blue bold size-24 font-verdana center" style="margin: 0 0 0 0;">
	Стоимость
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 22px 0; line-height: 17px;">
	для Persona Grata
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 48px 0;">
	Индивидуальное обучение
</p>
<table class="table2" style="width: 840px; margin: 0 auto;">
	<tr class="table-head2" style="height: 60px;">
		<td style="width: 100px;"><p class="vinous">Скидка от<br>базовой<br>стоимости</p></td>
		<td style="width: 500px;"><p>Стоимость приведена в у.е.<br><span class="normal" style="font-size: 13px;">1 у.е. = 1 евро<br>Оплата в рублях по курсу ЦБ</span></p></td>
		<td style="width: 64px;"><p>За курс</p></td>
		<td style="width: 76px;"><p>За ак.час</p></td>
		<td style="width: 100px;"><p class="vinous">Ваша<br>скидка</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>40%</p></td>
		<td><p class="left-t">За курс из 36 часов (12 занятий по 3 ак.каждое). Предоплата 100%</p></td>
		<td class="highlight"><p>5 400</p></td>
		<td><p>150</p></td>
		<td class="skidka-r"><p>3 600</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>50%</p></td>
		<td><p class="left-t">При переходе с курса на курс, с факультета на факультет</p></td>
		<td class="highlight"><p>4 500</p></td>
		<td><p>125</p></td>
		<td class="skidka-r"><p>4 500</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>50%</p></td>
		<td><p class="left-t">Пробный сеанс (включая тестирование) 3 ак.часа</p></td>
		<td class="highlight"><p>300</p></td>
		<td><p>100</p></td>
		<td class="skidka-r"><p>300</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td class="skidka"><p>30%</p></td>
		<td><p class="left-t">За полукурс из 18 часов (6 занятий по 3 ак.часа каждое)</p></td>
		<td class="highlight"><p>3 150</p></td>
		<td><p>175</p></td>
		<td class="skidka-r"><p>1 350</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
</table>
<p class="dark-blue size-14 font-verdana bold" style="margin: 18px 0 0 59px;">
	Цены приведены с учётом стоимости <span class="light-blue italic bold">NL</span>-учебников и <span class="light-blue italic bold">NL</span>-тренажёров.
</p>
<p class="red size-30 font-verdana" style="margin: 15px 0 112px 59px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $rozhdestvenskie_skidki; [/exec]" style="text-decoration: none; border-bottom: 2px solid #ED1C24;"><span class="red bold">Рождественские скидки до 75%</span></a>
</p>
<a name="gruppa"></a>
<p class="blue bold size-24 font-verdana center" style="margin: 0 0 7px 0;">
	Стоимость занятий в группах
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 31px 0; line-height: 24px;">
	с педагогами высшего рейтинга,<br>
	<span class="size-18">преподающими по технологиям проф. О.О.Веровенко</span>
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 36px 0; line-height: 29px;">
	<span class="tag">Врождённая грамотность</span> (русский язык)<br>
	<span class="tag">Вертикальный взлёт</span> (английский язык)
</p>
<p class="red bold size-18 font-verdana center" style="margin: 0 0 23px 0; line-height: 17px;">
	Только для Persona Grata!
</p>
<p class="dark-blue size-15 font-verdana" style="margin: 0 0 57px 50px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_grata; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Как обрести статус <span class="red">Persona Grata.</span></span></a>
</p>
<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 21px 0;">
	Занятия в группах
</p>
<p class="dark-blue bold size-14 font-arial center" style="margin: 0 0 20px 0;">
	За курс из 36 часов (12 занятий по 3 ак.часа каждое)
</p>
<table class="table2" style="width: 950px; margin: 0 auto;">
	<tr class="table-head2" style="height: 60px;">
		<td style="width: 600px;"><p>Стоимость приведена в у.е.<br><span class="normal" style="font-size: 13px;">1 у.е. = 1 евро<br>Оплата в рублях по курсу ЦБ</span></p></td>
		<td style="width: 100px;"><p>Стоимость</p></td>
		<td style="width: 150px;"><p>На человека</p></td>
		<td style="width: 100px;"><p>За ак.час</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td><p class="left-t">В вашей мини-группе из 2-3 чел. (семья, родители с детьми, друзья, коллеги)</p></td>
		<td class="highlight"><p>7 000</p></td>
		<td><p>от 2 333 до 3 500</p></td>
		<td class="highlight"><p>от 65 до 97</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
	<tr class="table-text2">
		<td><p class="left-t">В вашей большой группе до 10 чел. (с учётом надбавки за выезд к вам)</p></td>
		<td class="highlight"><p>10 000</p></td>
		<td><p>от 1 000</p></td>
		<td class="highlight"><p>от 27,7</p></td>
	</tr>
	<tr class="table-separator2">
		<td colspan="5"></td>
	</tr>
</table>
<p class="dark-blue size-14 font-verdana bold" style="margin: 18px 0 0 59px;">
	Цены приведены с учётом стоимости <span class="light-blue italic bold">NL</span>-учебников и <span class="light-blue italic bold">NL</span>-тренажёров.
</p>
<p class="red size-30 font-verdana" style="margin: 53px 0 0 59px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $rozhdestvenskie_skidki; [/exec]" style="text-decoration: none; border-bottom: 2px solid #ED1C24;"><span class="red bold">Рождественские скидки до 75%</span></a>
</p>
<p class="blue size-24 font-verdana center" style="margin: 58px 0 0 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $faq; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="blue font-verdana bold">Ответы на ваши основные вопросы</span></a>
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]" style="text-decoration: underline; color: #ED1C24; margin: 0 0 0 9px;"><span class="red font-verdana bold">телефон</span></a>
</p>