<p class="light-blue size-24 font-verdana bold" style="margin: -12px 0 26px 11px;">
	Стоимость обучения
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 32px 11px; line-height: 17px;">
	Стоимость указана только для <span class="red">Persona Grata</span> с учётом 50% скидки.<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Как получить статус <span class="red">Persona Grata.</span></span></a>
</p>
<p class="grey center size-14 font-verdana" style="margin: 0 0 64px 0; line-height: 17px;">
	1 у.е. = 1 евро<br>
	Оплата в рублях по курсу ЦБ
</p>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 30px 0;">
	<span class="tag">Нейролингвистика</span>. <span class="tag">Литература</span>. <span class="tag">Творчество</span>
</p>
<div style="width: 960px; height: 320px; padding: 24px 0 0 0;">	
	<div style="width: 282px; height: 320px; float: left; margin: 0 0 0 25px; position: relative; z-index: 2;">
		<div style="width: 282px; height: 197px; float: left; margin: 0 0 18px 0;">
			<div style="width: 282px; height: 197px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/butt.jpg" width="100%" height="100%" alt="Ключи к занятиям">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<span class="tag">Нейролингвистика</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
			Практическая грамотность для жизни.<br>
			Уникальное скоростное обучение<br>
			на уровне Подсознания.<br>
			Взрослым, старшеклассникам.
		</p>	
	</div>
	<div style="width: 567px; height: 320px; float: right; margin: 0 0 0 0;">
		<div style="width: 567px; height: 320px; float: right; margin: 0 0 0 0;">
			<div style="width: 199px; height: 320px; float: left; margin: 0 0 0 0;">
				<div style="width: 199px; height: 247px; margin: 0 auto 16px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					Литература
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
					Творческие исследовательские<br>
					работы.
				</p>
			</div>
			<div style="width: 267px; height: 320px; float: right; margin: 0 21px 0 0;">
				<div style="width: 267px; height: 198px; margin: 0 auto 21px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/pen.jpg" width="100%" height="100%" alt="Учебник">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					Творчество
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
					Навык гениальных сочинений,<br>
					изложений, сказок, эссе.
				</p>
			</div>
		</div>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 0 0 31px 0;">
	Каждый из этих спецкурсов рассчитан на 12-20 ак.часов (4 сеанса по 3-5 ак.часов).
</p>
<div style="width: 960px; height: 320px; padding: 0 0 56px 0;">	
	<div style="width: 424px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 174px; height: 71px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana right" style="margin: 0 30px 0 0; padding: 5px 0 0 0; font-size: 12px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 174px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana left" style="margin: 0 0 0 28px; padding: 5px 0 0 0; font-size: 12px;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 44px; float: left; margin: 0 0 48px 0;">	
		<div style="width: 174px; height: 44px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 44px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 44px; float: right; margin: 0 0 48px 0;">	
		<div style="width: 273px; height: 44px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 44px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px;">
		Занятия (сеансы) ведёт автор технологий обучения проф. О.О.Веровенко.
	</p>
</div>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 23px 0;">
	<span class="tag">Чудо будет!</span>. <span class="tag">Творческие диктанты</span>. <span class="tag">Арт-терапия</span>
</p>
<div style="width: 960px; height: 550px; padding: 24px 0 0 0;">	
	<div style="width: 295px; height: 550px; float: left; margin: 0 0 0 48px; position: relative; z-index: 2;">
		<div style="width: 295px; height: 400px; float: left; margin: 0 0 19px 0;">
			<div style="width: 295px; height: 400px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy.jpg" width="100%" height="100%" alt="Ключи к занятиям">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<span class="tag">Чудо будет!</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
			Полностью игровой – от начала до конца! –<br>
			<span class="bold">комплексный</span> курс. Грамотность. Чтение.<br>
			Речь. Сочинения, изложения, сказки.<br>
			Творческие работы. Творческие диктанты.<br>
			Коррекция дислексии, дисграфии, <br>
			<span class="tag">школьного</span> невроза. Арт-терапия.<br>
			Поддержка психолога.
		</p>	
	</div>
	<div style="width: 575px; height: 550px; float: right; margin: 0 0 0 0;">
		<div style="width: 575px; height: 550px; float: right; margin: 0 0 0 0;">
			<div style="width: 270px; height: 550px; float: left; margin: 0 0 0 0;">
				<div style="width: 270px; height: 244px; margin: 0 auto 17px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl1.jpg" width="100%" height="100%" alt="Ключи к занятиям">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					<span class="tag">Арт-терапия</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
					Игровой курс. Коррекция дислексии,<br>
					дисграфии, <span class="tag">школьного</span> невроза.
				</p>
			</div>
			<div style="width: 400px; height: 50px; float: left; margin: 445px 0 0 67px; position: absolute;">
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					Обязательное условие:
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
					родители не только присутствуют на занятих,<br>
					но играют, обучаются и веселятся вместе со своими детьми!
				</p>
			</div>
			<div style="width: 215px; height: 550px; float: right; margin: 0 28px 0 0;">
				<div style="width: 215px; height: 281px; margin: 0 auto 33px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/elephant.jpg" width="100%" height="100%" alt="Учебник">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					Творческие диктанты
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
					Их любят все – взрослые и дети.<br>
					Грамотность. Почерк.<br>
					Фонематический слух (основа<br>
					врождённой грамотности).
				</p>
			</div>
		</div>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 41px 0 58px 0;">
	Каждый из этих спецкурсов рассчитан на 12 ак.часов (4 сеанса по 3 ак.часа).
</p>
<div style="width: 960px; height: 305px; padding: 0 0 0 0;">	
	<div style="width: 434px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 16px;">
						<span class="bold">Индивидуально</span><br>
						(1 ребёнок + 1 из родителей)
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 526px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 16px;">
						<span class="bold">В вашей мини-группе из 2-3 чел</span><br>
						(2 ребёнка + 1 из родителей)
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						4.500 у.е. (от 1.500 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 86px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 434px; height: 44px; float: left; margin: 0 0 48px 0;">	
		<div style="width: 174px; height: 44px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 44px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						2.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 526px; height: 44px; float: right; margin: 0 0 48px 0;">	
		<div style="width: 273px; height: 44px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 44px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.000 у.е. (от 1.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px;">
		Занятия (сеансы) ведёт автор технологий обучения проф. О.О.Веровенко
	</p>
</div>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 30px 0;">
	<span class="tag">Арт-талант</span>. <span class="tag">Чтение</span>. <span class="tag">Речь</span>
</p>
<div style="width: 960px; height: 325px; padding: 24px 0 9px 0;">	
	<div style="width: 262px; height: 325px; float: left; margin: 0 0 0 39px; position: relative; z-index: 2;">
		<div style="width: 262px; height: 172px; float: left; margin: 0 0 28px 0;">
			<div style="width: 262px; height: 172px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/bird.jpg" width="100%" height="100%" alt="Птица">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<span class="tag">Арт-талант</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
			Усидчивость, выносливость,<br>
			работоспособность, внимательность.<br>
			Чтение, речь, письмо, творчество.<br>
			Ликвидация признаков дислексии,<br>
			дисграфии, <span class="tag">школьного</span> невроза.<br>
			Поддержка психолога (доктор наук).<br>
			Для школьников 1-3 классов.
		</p>	
	</div>
	<div style="width: 586px; height: 325px; float: right; margin: 0 0 0 0;">
		<div style="width: 586px; height: 325px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 325px; float: left; margin: 0 0 0 0;">
				<div style="width: 240px; height: 174px; margin: 0 auto 27px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy1.jpg" width="100%" height="100%" alt="Мальчик">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					<span class="tag">Чтение</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px; position: absolute;">
					Навыки правильного, беглого,<br>
					осмысленного, интонированного чтения.
				</p>
			</div>
			<div style="width: 227px; height: 325px; float: right; margin: 0 35px 0 0;">
				<div style="width: 227px; height: 173px; margin: 0 auto 28px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/bird1.jpg" width="100%" height="100%" alt="Птица">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 -24px; line-height: 22px;">
					<span class="tag">Речь</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px -24px; line-height: 15px; font-size: 12px; position: absolute;">
					Речь – наша визитная карточка, не так ли?<br>
					Техника и культура речи с элементами игры и<br>
					актёрского мастерства.
				</p>
			</div>
		</div>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 41px 0 46px 0;">
	Каждый из этих спецкурсов рассчитан на 8 ак.часов (4 сеанса по 2 ак.часа).
</p>
<div style="width: 960px; height: 320px; padding: 0 0 7px 0;">	
	<div style="width: 434px; height: 71px; float: left; margin: 0 0 54px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 16px;">
						<span class="bold">Индивидуально</span><br>
						(1 ребёнок + 1 из родителей)
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						1.200 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 526px; height: 71px; float: right; margin: 0 0 54px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 16px;">
						<span class="bold">В вашей мини-группе из 2-3 чел</span><br>
						(2 ребёнка + 1 из родителей)
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						1.800 у.е. (от 600 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 39px; line-height: 22px;">
		Обязательное условие:
	</p>
	<p class="dark-blue font-verdana" style="margin: -3px 0 44px 39px; line-height: 15px; font-size: 12px;">
		родители не только присутствуют на занятих,<br>
		но играют, обучаются и веселятся вместе со своими детьми!
	</p>
	<p class="blue bold font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px;">
		Занятия (сеансы) ведёт автор технологий обучения проф. О.О.Веровенко
	</p>
</div>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 23px 0;">
	Разовые сеансы
</p>
<div style="width: 960px; height: 325px; padding: 24px 0 9px 0;">	
	<div style="width: 224px; height: 325px; float: left; margin: 0 0 0 25px; position: relative; z-index: 2;">
		<div style="width: 224px; height: 238px; float: left; margin: 0 0 23px 0;">
			<div style="width: 224px; height: 238px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/up.jpg" width="100%" height="100%" alt="Воздушный шар">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			Программа <span class="tag">Вверх!</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
			Тренинг с родителями для<br>
			дальнейших самостоятельных<br>
			занятий с ребёнком английским<br>
			языком.
		</p>	
	</div>
	<div style="width: 664px; height: 325px; float: right; margin: 0 0 0 0;">
		<div style="width: 664px; height: 325px; float: right; margin: 0 0 0 0;">
			<div style="width: 356px; height: 325px; float: left; margin: 0 0 0 0;">
				<div style="width: 356px; height: 238px; margin: 0 auto 23px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/men.jpg" width="100%" height="100%" alt="Мальчик">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 -15px; line-height: 22px; position: absolute;">
					<span class="tag"><span class="light-blue italic">NL</span>-психология – коррекция проблем обучения</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: 19px 0 21px -15px; line-height: 15px; font-size: 12px; position: absolute;">
					Коррекция признаков дислексии, дисграфии за один сеанс.<br>
					Повышение концентрации внимания.
				</p>
			</div>
			<div style="width: 218px; height: 325px; float: right; margin: 0 25px 0 0;">
				<div style="width: 218px; height: 238px; margin: 0 auto 20px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/fly.jpg" width="100%" height="100%" alt="Птица">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 -21px; line-height: 22px; position: absolute;">
					<span class="tag"><span class="light-blue italic">NL</span>-психология для взрослых</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: 19px 0 21px -21px; line-height: 15px; font-size: 12px; position: absolute;">
					Привлечение всей мощи Подсознания<br>
					для решения ваших конкретных<br>
					проблем.
				</p>
			</div>
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana center" style="margin: 20px 0 15px 0;">
	Длительность сеанса 1-2 часа. Стоимость 300 у.е.
</p>
<p class="blue bold font-verdana center" style="margin: 0 0 85px 0; padding: 0 0 0 0; font-size: 12px;">
	Занятия (сеансы) ведёт автор технологий обучения проф. О.О.Веровенко
</p>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 43px 0;">
	<span class="tag">Врождённая грамотность</span>. <span class="tag">Вертикальный взлёт</span>. Программа <span class="tag">Шаттл</span>
</p>
<div style="width: 960px; height: 264px; padding: 24px 0 0 0;">	
	<div style="width: 261px; height: 264px; float: left; margin: 6px 0 0 27px; position: relative; z-index: 2;">
		<div style="width: 261px; height: 180px; float: left; margin: 0 0 24px 0;">
			<div style="width: 261px; height: 180px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl2.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<span class="tag">Врождённая грамотность</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
			Всего 12 занятий - и ошибок нет!
		</p>	
	</div>
	<div style="width: 620px; height: 264px; float: right; margin: 0 0 0 0;">
		<div style="width: 620px; height: 264px; float: right; margin: 0 0 0 0;">
			<div style="width: 281px; height: 264px; float: left; margin: 0 0 0 0;">
				<div style="width: 281px; height: 176px; margin: 0 auto 36px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/kosmonavt.jpg" width="100%" height="100%" alt="Космонавт">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
					<span class="tag">Вертикальный взлёт</span><br>
					Английский язык
				</p>
				<p class="dark-blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px;">
					Сверхскоростное нейролингвистическое<br>
					обучение на уровне Подсознания.
				</p>
			</div>
			<div style="width: 272px; height: 264px; float: right; margin: 0 10px 0 0;">
				<div style="width: 272px; height: 186px; margin: 0 auto 24px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.jpg" width="100%" height="100%" alt="Буран">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					Программа <span class="tag">Шаттл</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
					Занятия в ваших мини-группах из 2-3<br>
					человек.
				</p>
			</div>
		</div>
	</div>
</div>
<p class="blue bold size-14 font-verdana center" style="margin: 41px 0 54px 0;">
	Занятия по технологиям проф. О.О.Веровенко ведут педагоги высшего рейтинга.
</p>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 41px 0 44px 0;">
	За курс из 36 ак. часов (12 занятий по 3 ак.часа).
</p>
<div style="width: 960px; height: 160px; padding: 0 0 0 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						4.500 у.е. (от 1.500 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 86px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 471px; height: 44px; float: left; margin: 0 0 48px 0;">	
		<div style="width: 174px; height: 44px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 44px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						2.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 44px; float: right; margin: 0 0 48px 0;">	
		<div style="width: 273px; height: 44px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 44px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.000 у.е. (от 1.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 74px 0 44px 0;">
	За курс из 18 ак. часов (6 занятий по 3 ак.часа).
</p>
<div style="width: 960px; height: 80px; padding: 0 0 0 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						2.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.000 у.е. (от 1.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 72px 0 44px 0;">
	За курс из 12 ак. часов (4 занятия по 3 ак.часа).
</p>
<div style="width: 960px; height: 80px; padding: 0 0 105px 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						1.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						2.500 у.е. (от 833 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 76px 0;">
	Пробный сеанс
</p>
<div style="width: 960px; height: 384px; margin: 10px 0 0 0;">	
	<div style="width: 256px; height: 384px; float: right; margin: 0 0 0 0; position: relative;">
		<div style="width: 256px; height: 384px; margin: -35px 0 0 -159px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy2.jpg" width="100%" height="100%" alt="Официант">
		</div>
	</div>
	<div style="width: 330px; height: 384px; float: left; margin: 0 0 0 288px; position: relative;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px 0; line-height: 22px;">
			Длительность 2-3 часа. Стоимость 300 у.е.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 109px 0; line-height: 22px;">
			Запишитесь, пожалуйста, заранее!
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Вас примет автор технологий обучения<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p class="red bold size-30 font-verdana center" style="margin: 12px 0 33px 0;">
	Телефон
</p>
<div style="width: 960px; height: 443px;">
	<div style="width: 787px; height: 443px; margin: 0;">	
		<div class="trans" style="width: 787px; height: 443px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
		</div>
	</div>
</div>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
	<span class="light-yellow">+7</span> <span class="lilac">(495)</span> <span class="blue">7</span><span class="light-blue">6</span>5<span class="blue">-</span><span class="green1">2</span><span class="blue">-</span>555
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	с 12:00 до 23:00
</p>
<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">	
	без выходных
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 98px 0;">
	olgaverovenko@gmail.com
</p>
<p class="blue size-24 font-verdana center" style="margin: 95px 0 78px 14px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Вернуться</span></a>
</p>