<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 30px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]"><span class="yellow">ЧТО ПОЧИТАТЬ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 0;"><a class="first"><span>СТОИМОСТЬ</span></a></div>
		</div>
	</div>
</div>
<p id="anim-stoimost" class="yellow size-30 font-verdana center bold" style="margin: 34px 0 0 0; opacity: 0;">
	СКИДКИ
</p>
<div style="margin-top: -5px; height: 496px;">
	<div style="width: 600px; height: 496px; margin:0 auto;">
		<div style="width: 600px; height: 496px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/yagoda.jpg" width="100%" height="100%" alt="Ягоды">
		</div>
	</div>
</div>
<p class="red size-24 font-verdana bold center line-height-23" style="margin: 22px 0 62px 0;">
	Платите за обучение в 2-3 раза меньше!
</p>
<p class="dark-blue size-18 font-verdana bold line-height-23" style="margin: 0 0 21px 11px;">
	Скидка <span class="tag">Конец сезона</span> действует только до 31 мая.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	Вы получите скидку на любой курс обучения <span class="red bold">70-75%</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	До конца мая вам необходимо пройти пробный сеанс, оформиться и приступить к занятиям не<br>
	позднее середны июня.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	Внимание! Скидка распространяется только на тех, кто внимательно изучил все материалы<br>
	сайта и получил статус <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Persona Grata</span></a>.
</p>
<div style="padding-top: 50px; height: 558px;">
	<div style="width: 539px; height: 558px; margin:0 auto;">
		<div class="image-shadow" style="width: 539px; height: 542px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" height="100%" alt="Яблоко">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-30 font-verdana center bold" style="margin: 66px 0 37px 11px;">
	Стоимость обучения
</p>
<p class="blue bold size-14 font-verdana" style="margin: 0 0 32px 11px; line-height: 17px;">
	Стоимость указана только для <span class="red">Persona Grata</span> с учётом 50% скидки. <span class="dark-blue normal">Базовая стоимость вдвое выше.</span><br>
</p>
<div style="width: 350px; margin: -59px 0 6px -23px; cursor: pointer; height: 70px;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'">
	<p class="blue bold size-14 font-verdana center" style="padding: 25px 0 0 0;">
		<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 25px 0 0 0;"><span class="blue">Как получить статус <span class="red">Persona Grata.</span></span></a>
	</p>
</div>
<p class="grey center size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
	1 у.е. = 1 евро<br>
	Оплата в рублях по курсу ЦБ
</p>
<p class="yellow size-30 font-verdana center bold" style="margin: 72px 0 0 11px;">
	VIP-обучение. Занятия с проф. О.О.Веровенко.
</p>
<p class="black center bold size-14 font-verdana" style="margin: 13px 0 88px 0; line-height: 17px;">
	Занятия с квалифицированными педагогами,<br>
	работающими по технологиям проф. О.О.Веровенко, см.ниже.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 56px 0; line-height: 25px;">
	Волшебный сеанс
</p>
<div style="width: 960px; height: 400px;">	
	<div style="width: 447px; height: 400px; float: left; margin: 0 0 0 16px; position: relative;">
		<div class="image-shadow" style="width: 447px; height: 256px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy3.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="blue bold size-14 font-verdana bold center" style="margin: 24px 0 12px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #0065A9; padding: 13px 0 12px 0;"><span class="blue">Коррекция проблем обучения</span></a>
		</p>
		<p class="blue bold size-14 font-verdana bold center" style="margin: 0 0 0 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #0065A9; padding: 7px 0 12px 0;"><span class="blue">Навыки правильного беглого чтения</span></a>
		</p>
	</div>
	<div style="width: 468px; height: 400px; float: right; margin: 0 0 0 0">
		<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 0;  line-height: 31px;">
			<span style="margin: 0 0 0 18px;">Безграмотно пишем?</span><br>
			<span style="margin: 0 0 0 98px;">Плохие чтение, речь?</span><br>
			<span style="margin: 0 0 0 210px;">Он лентяй или болен?!</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Будучи одним-единственным, этот волшебный<br>
			нейролингвистический сеанс избавит вас от множества<br>
			проблем: признаков дислексии и дисграфии, повысит<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">концентрацию внимания</span></a>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Двоек-троек не будет! Помогает этот сеанс и хорошистам,<br>
			которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Гипноз, магия и ремень во время сеанса не применяются!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Стоимость сеанса: 500 у.е. Пробный сеанс не нужен.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			<span class="yellow bold">Весенняя скидка</span> до конца мая – <span class="red">75%</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Стоимость с учётом скидки – <span class="red">125 у.е.</span>
		</p>
	</div>
</div>
<p class="red bold size-16 font-verdana" style="margin: 7px 0 45px 27px;">
	Скидка до 31 мая! Платите за обучение в 4 раза меньше!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 95px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: -2px 0 45px 0;">
	(обучение с применением <span class="light-blue italic">NL</span>-психологии)
</p>
<div style="width: 960px; height: 350px; margin: 0 0 0 0;">	
	<div style="width: 361px; height: 350px; float: right; margin: 0 58px 0 0; position: relative; z-index: 5;">
		<div class="image-shadow" style="width: 361px; height: 334px; margin: 0 0 0 0; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/flygirl.jpg" width="100%" height="100%" alt="Летящая девушка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 450px; height: 350px; float: left; margin: 0 0 0 34px">
		<p class="blue size-14 bold font-verdana" style="margin: 70px 0 21px 0; line-height: 22px;">
			Обязательное условие:
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Родители школьников не только присутствуют на<br>
			занятиях, но играют, обучаются и веселятся вместе со<br>
			своими детьми.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Курс (4-12 сеансов) ведёт автор технологии доктор<br>
			психологических наук проф. <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">О.О.Веровенко.</span></a>.
		</p>
		<p class="dark-blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_izmerenie; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">Подробности.</span></a>
		</p>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 62px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа каждый):
</p>
<div style="width: 960px; height: 181px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 89px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 250px; height: 89px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 250px; height: 50px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 50px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 15px;">
						<span class="bold">Индивидуально</span><br>
						(1 ребёнок + 1 из родителей<br>
						или 1 взрослый)
					</p>
				</div>
			</div>
			<div style="width: 250px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 250px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						7.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 89px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 89px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 50px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 50px; margin: 0 auto;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 15px;">
						<span class="bold">В вашей мини-группе из 2-3 чел.</span><br>
						(2 ребёнка + 1 из родителей<br>
						или 2-3 взрослых)
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						12.000 у.е. (от 4.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						9.000 у.е. (от 3.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-16 bold font-verdana" style="margin: 6px 0 0 32px; padding: 0 0 0 0;">
	Скидка до 31 мая! Платите за обучение в 3 раза меньше!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 113px 0 49px 0;">
	<span class="tag">Нейролингвистика</span>. <span class="tag">Чудо будет!</span>.
</p>
<div style="width: 960px; height: 620px; padding: 0 0 0 0;">	
	<div style="width: 341px; height: 620px; float: left; margin: 0 0 0 25px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'">
		<div style="width: 341px; height: 620px; margin: 0 0 0 0;">
			<div style="width: 341px; height: 238px; margin: 0 auto 21px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/butt.jpg" width="100%" height="100%" alt="Бабочка">
			</div>
			<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
				<a style="text-decoration: underline; color: #4A4A4A;"><span class="blue tag">Нейролингвистика</span></a>
			</p>
			<p class="dark-blue font-verdana" style="margin: -3px 0 12px 0; line-height: 15px; font-size: 12px;">
				Практическая грамотность для жизни.<br>
				Уникальное скоростное обучение<br>
				на уровне Подсознания.<br>
				Взрослым, старшеклассникам.
			</p>
			<p class="blue font-verdana" style="margin: 0 0 41px 0; line-height: 15px; font-size: 12px;">
				Длительность курса: 4-8 сеансов.
			</p>
			<p class="yellow size-14 font-verdana bold" style="margin: 11px 0 0 249px; line-height: 22px; position: absolute;">
				Обязательное условие: 
			</p>
			<p class="dark-blue font-verdana" style="margin: 30px 0 21px 249px; line-height: 15px; font-size: 12px; position: absolute;">
				родители младших школьников не только<br>
				присутствуют на занятих, но играют, обучаются<br>
				и веселятся вместе со своими детьми!
			</p>
		</div>
	</div>
	<div style="width: 295px; height: 620px; float: right; margin: 0 35px 0 0; position: relative; z-index: 2; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]'">
		<div style="width: 295px; height: 400px; float: left; margin: 0 0 19px 0;">
			<div style="width: 295px; height: 400px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<a style="text-decoration: underline; color: #4A4A4A;"><span class="blue tag">Чудо будет!</span></a>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 14px 0; line-height: 15px; font-size: 12px;">
			Полностью игровой – от начала до конца! –<br>
			<span class="bold">комплексный</span> курс. Грамотность. Чтение.<br>
			Речь. Сочинения, изложения, сказки.<br>
			Творческие работы. Творческие диктанты.<br>
			Коррекция дислексии, дисграфии,<br>
			<span class="tag">школьного</span> невроза. Арт-терапия.<br>
			Поддержка психолога.
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px;">
			<span class="blue">Длительность курса 4-12 сеансов</span> в<br>
			зависимость от возраста и ваших пожеланий.
		</p>	
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 19px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 203px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 174px; height: 71px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana right" style="margin: 0 30px 0 0; padding: 5px 0 0 0; font-size: 12px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 174px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana left" style="margin: 0 0 0 28px; padding: 5px 0 0 0; font-size: 12px;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="red size-16 bold font-verdana" style="margin: 16px 0 0 56px; padding: 0 0 0 0;">
		Скидка до 31 мая! Платите за обучение в 3 раза меньше!
	</p>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 103px 0 0 0;">
	ГИА, ЕГЭ на отлично!
</p>
<p class="light-blue size-20 font-verdana bold center" style="margin: 14px 0 7px 0;">
	Экспресс-подготовка к ГИА, ЕГЭ. Сочинения. Изложения. Русский.
</p>
<div style="padding-top: 40px; height: 383px;">
	<div style="width: 519px; height: 383px; margin:0 auto;">
		<div class="image-shadow" style="width: 519px; height: 367px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl4.jpg" width="100%" height="100%" alt="Девочка с учебниками">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 55px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 203px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 174px; height: 71px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana right" style="margin: 0 30px 0 0; padding: 5px 0 0 0; font-size: 12px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 174px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana left" style="margin: 0 0 0 28px; padding: 5px 0 0 0; font-size: 12px;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="red size-16 bold font-verdana" style="margin: 16px 0 0 56px; padding: 0 0 0 0;">
		Скидка до 31 мая! Платите за обучение в 3 раза меньше!
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 102px 0 68px 0;">
	Литература. Творчество. Сочинения.
</p>
<div style="width: 960px; height: 528px; padding: 0 0 0 0;">	
	<div style="width: 279px; height: 528px; float: left; margin: 0 0 0 66px;">
		<div style="width: 279px; height: 528px; margin: 0 0 0 0;">
			<div style="width: 279px; height: 346px; margin: 0 auto 19px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl.jpg" width="100%" height="100%" alt="Девочка">
			</div>
			<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
				Литература
			</p>
			<p class="dark-blue font-verdana" style="margin: -3px 0 14px 0; line-height: 15px; font-size: 12px;">
				Дивной красоты творческие<br>
				исследовательские работы.
			</p>
			<p class="dark-blue font-verdana" style="margin: 0 0 14px 0; line-height: 15px; font-size: 12px;">
				Творческие работы по литературе уже<br>
				включены в курс <span class="tag">Чудо будет!</span>,<br>
				но можете взять их отдельно.
			</p>
			<p class="blue font-verdana" style="margin: 0 0 14px 0; line-height: 15px; font-size: 12px;">
				Длительность курса: 4 сеанса.
			</p>
			<p class="yellow size-14 font-verdana bold" style="margin: -71px 0 0 320px; line-height: 22px; position: absolute;">
				Обязательное условие: 
			</p>
			<p class="dark-blue font-verdana" style="margin: -52px 0 21px 320px; line-height: 15px; font-size: 12px; position: absolute;">
				родители младших школьников не только<br>
				присутствуют на занятих, но играют, обучаются<br>
				и веселятся вместе со своими детьми!
			</p>
		</div>
	</div>
	<div style="width: 357px; height: 528px; float: right; margin: 0 40px 0 0; position: relative; z-index: 2;">
		<div style="width: 357px; height: 265px; float: left; margin: 0 0 18px 0;">
			<div style="width: 357px; height: 265px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/pen.jpg" width="100%" height="100%" alt="Ручка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			Творчество
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 14px 0; line-height: 15px; font-size: 12px;">
			Навык гениальных сочинений,<br>
			изложений, сказок, эссе.
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 14px 0; line-height: 15px; font-size: 12px;">
			Творчество уже включено в курс <span class="tag">Чудо<br>
			будет!</span>, но можете взять его отдельно.
		</p>
		<p class="blue font-verdana" style="margin: 0 0 14px 0; line-height: 15px; font-size: 12px;">
			Длительность курса: 4 сеанса.
		</p>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 51px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 203px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 174px; height: 71px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana right" style="margin: 0 30px 0 0; padding: 5px 0 0 0; font-size: 12px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 174px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana left" style="margin: 0 0 0 28px; padding: 5px 0 0 0; font-size: 12px;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="red size-16 bold font-verdana" style="margin: 16px 0 0 56px; padding: 0 0 0 0;">
		Скидка до 31 мая! Платите за обучение в 3 раза меньше!
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 116px 0 47px 0;">
	Творческие диктанты. Арт-терапия
</p>
<div style="width: 960px; height: 591px; padding: 0 0 0 0;">	
	<div style="width: 295px; height: 591px; float: left; margin: 0 0 0 63px;">
		<div style="width: 295px; height: 591px; margin: 0 0 0 0;">
			<div style="width: 295px; height: 385px; margin: 0 auto 17px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/elephant.jpg" width="100%" height="100%" alt="Слон">
			</div>
			<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
				<span class="tag">Творческие диктанты</span>
			</p>
			<p class="dark-blue font-verdana" style="margin: -3px 0 14px 0; line-height: 15px; font-size: 12px;">
				Их любят все – взрослые и дети. Грамотность.<br>
				Почерк.	Фонематический слух (основа<br>
				врождённой грамотности).
			</p>
			<p class="dark-blue font-verdana" style="margin: 0 0 14px 0; line-height: 15px; font-size: 12px; position: absolute;">
				<span class="tag">Творческие диктанты</span> включены в курс <span class="tag">Чудо<br>
				будет!</span>, но можете взять их отдельно.
			</p>
			<p class="blue font-verdana" style="margin: 44px 0 21px 0; line-height: 15px; font-size: 12px; position: absolute;">
				Длительность курса: 4 сеанса.
			</p>
			<p class="yellow size-14 font-verdana bold" style="margin: 33px 0 0 361px; line-height: 22px; position: absolute;">
				Обязательное условие: 
			</p>
			<p class="dark-blue font-verdana" style="margin: 52px 0 21px 361px; line-height: 15px; font-size: 12px; position: absolute;">
				родители младших школьников не только<br>
				присутствуют на занятих, но играют, обучаются<br>
				и веселятся вместе со своими детьми!
			</p>
		</div>
	</div>
	<div style="width: 361px; height: 591px; float: right; margin: 0 48px 0 0; position: relative; z-index: 2;">
		<div style="width: 361px; height: 326px; float: left; margin: 0 0 17px 0;">
			<div style="width: 361px; height: 326px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl1.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<span class="tag">Арт-терапия</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 14px 0; line-height: 15px; font-size: 12px;">
			Игровой курс. Коррекция дислексии,<br>
			дисграфии, <span class="tag">школьного</span> невроза.
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 14px 0; line-height: 15px; font-size: 12px;">
			<span class="tag">Арт-терапия</span> включена в курс <span class="tag">Чудо<br>
			будет!</span>, но можете взять её отдельно.
		</p>
		<p class="blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px; position: absolute;">
			Длительность курса: 4 сеанса.
		</p>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 51px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 203px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 174px; height: 71px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana right" style="margin: 0 30px 0 0; padding: 5px 0 0 0; font-size: 12px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 174px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana left" style="margin: 0 0 0 28px; padding: 5px 0 0 0; font-size: 12px;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="red size-16 bold font-verdana" style="margin: 16px 0 0 56px; padding: 0 0 0 0;">
		Скидка до 31 мая! Платите за обучение в 3 раза меньше!
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 102px 0 30px 0;">
	<span class="tag">Арт-талант</span>. <span class="tag">Чтение</span>. <span class="tag">Речь</span>
</p>
<div style="width: 960px; height: 361px; padding: 24px 0 9px 0;">	
	<div style="width: 262px; height: 325px; float: left; margin: 0 0 0 39px; position: relative; z-index: 2;">
		<div style="width: 262px; height: 172px; float: left; margin: 0 0 28px 0;">
			<div style="width: 262px; height: 172px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/bird.jpg" width="100%" height="100%" alt="Птица">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
			<span class="tag">Арт-талант</span>
		</p>
		<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px;">
			Усидчивость, выносливость,<br>
			работоспособность, внимательность.<br>
			Чтение, речь, письмо, творчество.<br>
			Ликвидация признаков дислексии,<br>
			дисграфии, <span class="tag">школьного</span> невроза.<br>
			Поддержка психолога (доктор наук).<br>
			Для школьников 1-3 классов.
		</p>	
	</div>
	<div style="width: 586px; height: 325px; float: right; margin: 0 0 0 0;">
		<div style="width: 586px; height: 325px; float: right; margin: 0 0 0 0;">
			<div style="width: 240px; height: 325px; float: left; margin: 0 0 0 0;">
				<div style="width: 240px; height: 174px; margin: 0 auto 27px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy1.jpg" width="100%" height="100%" alt="Мальчик">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					<span class="tag">Чтение</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px 0; line-height: 15px; font-size: 12px; position: absolute;">
					Навыки правильного, беглого,<br>
					осмысленного, интонированного чтения.
				</p>
				<p class="dark-blue font-verdana" style="margin: 81px 0 21px 92px; line-height: 15px; font-size: 12px; position: absolute;">
					<span class="blue bold">Чтение, речь</span> уже включены в курс <span class="tag">Чудо будет!</span>, но можете<br>
					<span style="margin: 0 0 0 142px;">взять их отдельно.</span>
				</p>
			</div>
			<div style="width: 227px; height: 325px; float: right; margin: 0 35px 0 0;">
				<div style="width: 227px; height: 173px; margin: 0 auto 28px; position: relative; z-index: 1;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/bird1.jpg" width="100%" height="100%" alt="Птица">
				</div>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 -24px; line-height: 22px;">
					<span class="tag">Речь</span>
				</p>
				<p class="dark-blue font-verdana" style="margin: -3px 0 21px -24px; line-height: 15px; font-size: 12px; position: absolute;">
					Речь – наша визитная карточка, не так ли?<br>
					Техника и культура речи с элементами игры и<br>
					актёрского мастерства.
				</p>
			</div>
		</div>
	</div>
</div>
<p class="yellow size-14 font-verdana bold" style="margin: 0 0 0 320px; line-height: 22px;">
	Обязательное условие: 
</p>
<p class="dark-blue font-verdana" style="margin: 0 0 21px 320px; line-height: 15px; font-size: 12px;">
	родители не только присутствуют на занятих,<br>
	но играют, обучаются и веселятся вместе со своими детьми!
</p>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 84px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 203px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 174px; height: 71px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana right" style="margin: 0 30px 0 0; padding: 5px 0 0 0; font-size: 12px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 174px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana left" style="margin: 0 0 0 28px; padding: 5px 0 0 0; font-size: 12px;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="red size-16 bold font-verdana" style="margin: 16px 0 0 56px; padding: 0 0 0 0;">
		Скидка до 31 мая! Платите за обучение в 3 раза меньше!
	</p>
</div>
<p class="yellow size-30 font-verdana center bold" style="margin: 98px 0 0 11px;">
	Занятия с квалифицированными педагогами,
</p>
<p class="dark-blue center size-18 font-verdana" style="margin: -4px 0 61px 0;">
	преподающими по технологиям проф. О.О.Веровенко
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 46px 0; line-height: 25px;">
	<span class="tag">Вертикальный взлёт</span>. <span class="tag">Врождённая грамотность</span>.
</p>
<div style="width: 960px; height: 350px; padding: 0 0 0 0;">	
	<div style="width: 323px; height: 350px; float: left; margin: 0 0 0 64px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]'">
		<div style="width: 323px; height: 243px; margin: 0 0 0 0;">
			<div style="width: 323px; height: 243px; margin: 0 auto 16px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.jpg" width="100%" height="100%" alt="Космонавт">
			</div>
			<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
				<span class="tag">Вертикальный взлёт</span><br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Английский язык. ГИА, ЕГЭ.</span></a>
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 15px;">
				Классическая версия
			</p>
		</div>
	</div>
	<div style="width: 328px; height: 350px; float: right; margin: 15px 52px 0 0; position: relative; z-index: 2; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'">
		<div style="width: 328px; height: 226px; float: left; margin: 0 0 18px 0;">
			<div style="width: 328px; height: 226px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl2.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
			<span class="tag">Врождённая грамотность</span>
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Русский язык. ГИА, ЕГЭ.</span></a>
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px;">
			Всего 12 занятий – и ошибок нет!
		</p>	
	</div>
</div>
<p class="blue bold size-14 font-verdana center" style="margin: 32px 0 12px 0;">
	Занятия по технологиям проф. О.О.Веровенко ведут педагоги высшего рейтинга.
</p>
<p class="red size-14 font-verdana center" style="margin: 0 0 74px 0;">
	Занятия с проф. О.О.Веровенко см. выше.
</p>
<p class="dark-blue bold size-14 font-verdana" style="margin: 41px 0 38px 64px;">
	За курс из 36 ак. часов (12 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 160px; padding: 0 0 0 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						7.000 у.е. (от 2.334 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 62px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 471px; height: 44px; float: left; margin: 0 0 29px 0;">	
		<div style="width: 174px; height: 44px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 44px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 44px; float: right; margin: 0 0 29px 0;">	
		<div style="width: 273px; height: 44px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 44px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-16 bold font-verdana center" style="margin: 0 0 46px 64px;">
	Скидка до 31 мая! Платите за обучение в 3 раза меньше! 
</p>
<p class="dark-blue bold size-14 font-verdana" style="margin: 73px 0 34px 72px;">
	За полукурс из 18 ак. часов (6 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 80px; padding: 0 0 13px 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						4.500 у.е. (от 1.500 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-16 bold font-verdana center" style="margin: 0 0 104px 0;">
	Скидка до 31 мая! Платите за обучение в 3 раза меньше! 
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 17px 0;">
	<span class="tag">Вертикальный взлёт-<span class="italic">NL</span></span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 40px 0; line-height: 27px;">
	Нейролингвистическая версия<br>
	Сверхскоростное обучение английскому на уровне Подсознания.
</p>
<p class="red size-16 font-verdana" style="margin: 0 0 35px 32px;">
	Уникально. Максимальный эффект!
</p>
<div id="load-video7" class="load-video" style="padding-top: 0; height: 376px;">
</div>
<p class="dark-blue bold size-14 font-verdana" style="margin: 67px 0 38px 64px;">
	За курс из 36 ак. часов (12 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 160px; padding: 0 0 0 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						7.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						12.000 у.е. (от 4.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 62px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 471px; height: 44px; float: left; margin: 0 0 29px 0;">	
		<div style="width: 174px; height: 44px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 44px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 44px; float: right; margin: 0 0 29px 0;">	
		<div style="width: 273px; height: 44px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 44px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						9.000 у.е. (от 3.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-16 bold font-verdana center" style="margin: 0 0 111px 64px;">
	Скидка до 31 мая! Платите за обучение в 3 раза меньше!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 8px 0;">
	Сафари-парк
</p>
<p class="blue size-14 font-verdana center" style="margin: 0 0 0 0;">
	Обучение + отдых у моря всей семьёй!
</p>
<div style="padding-top: 40px; height: 442px;">
	<div style="width: 632px; height: 442px; margin:0 auto;">
		<div class="image-shadow" style="width: 632px; height: 426px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl3.jpg" width="100%" height="100%" alt="Девочка у моря">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 36px 0 21px 31px; line-height: 17px;">
	Можете выбрать любой курс из имеющихся у нас. <a href="[exec] include get_template_directory().'/links.php'; echo $safari; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Сафари-парк</span></a>.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 104px 0 13px 0;">
	Курс <span class="tag">Искусство видеть мир</span>
</p>
<p class="red size-16 bold font-verdana" style="margin: 0 0 15px 26px;">
	Скидка до 31 мая! Платите за обучение в 3 раза меньше!
</p>
<p class="dark-blue bold size-16 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $isskusstvo; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Подробности.</span></a>
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 111px 0 76px 0;">
	Пробный сеанс
</p>
<div style="width: 960px; height: 494px; margin: 10px 0 0 0;">	
	<div style="width: 256px; height: 494px; float: right; margin: 0 0 0 0; position: relative;">
		<div style="width: 288px; height: 494px; margin: -53px 0 0 -172px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy2.jpg" width="100%" height="100%" alt="Официант">
		</div>
	</div>
	<div style="width: 373px; height: 494px; float: left; margin: 0 0 0 245px; position: relative;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 0; line-height: 22px;">
			Длительность 2-3 часа. Стоимость 500 у.е.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 14px 0; line-height: 22px;">
			Полная диагностика, консультация, <span class="tag">примерка</span><br>
			технологий, занятие (сеанс).
		</p>
		<p class="red size-14 bold font-verdana" style="margin: 0 0 47px 0; line-height: 22px;">
			Весенняя скидка до 31 мая 50%.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
			Вас примет автор технологий обучения<br>
			профессор Ольга Олеговна Веровенко.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 75px 0; line-height: 17px;">
			Запишитесь, пожалуйста, заранее!
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			Технологий обучения много.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Наилучшую для вас мы подберём вместе!
		</p>
	</div>
</div>
<p class="red bold size-30 font-verdana center" style="margin: 15px 0 33px 0;">
	Телефон
</p>
<div style="width: 960px; height: 443px;">
	<div style="width: 787px; height: 443px; margin: 0;">	
		<div class="trans" style="width: 787px; height: 443px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
		</div>
	</div>
</div>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
	<span class="light-yellow">+7</span> <span class="lilac">(495)</span> <span class="blue">7</span><span class="light-blue">6</span>5<span class="blue">-</span><span class="green1">2</span><span class="blue">-</span>555
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	с 12:00 до 23:00
</p>
<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">	
	без выходных
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 0 0;">
	olgaverovenko@gmail.com
</p>
