<p class="light-blue size-30 font-verdana bold" style="margin: -11px 0 33px 0;">
	Стоимость обучения
</p>
<a name="vip"></a>
<p class="yellow bold size-24 font-verdana center" style="margin: 0 0 21px 0; line-height: 30px;">
	Занятия с автором технологий<br>
	профессором О.О.Веровенко
</p>
<p class="blue size-14 font-verdana bold center" style="margin: 0 0 52px 0; line-height: 17px;">
	<span class="tag">Чудо будет!</span><br>
	<span class="tag">Арт-терапия</span><br>
	<span class="tag">Творчество</span><br>
	И любой курс по вашему выбору
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 42px 0;">
	Базовая стоимость
</p>
<p class="dark-blue size-14 bold font-arial center" style="margin: 0 0 28px 0; line-height: 18px;">
	<span class="red size-18 font-verdana">1 у.е. = 1 евро</span><br>
	Оплата в рублях по курсу ЦБ
</p>
<div class="table" style="width: 791px; height: 154px; margin: 0 auto;">
	<div class="table-head">
		<div style="width: 414px;"><p>Стоимость приведена в у.е.</p></div>
		<div style="width: 74px;"><p>За курс</p></div>
		<div style="width: 85px;"><p>За сеанс</p></div>
		<div style="width: 89px;"><p>За ак.час</p></div>
		<div style="width: 123px;"><p>Ваша скидка</p></div>
	</div>
	<div class="table-text">
		<div style="width: 414px;"><p>За курс из 12 часов (4 сеанса по 3 ак.часа каждый)</p></div>
		<div style="width: 74px;"><p>6 000</p></div>
		<div style="width: 85px;"><p>2 000</p></div>
		<div style="width: 89px;"><p>667</p></div>
		<div style="width: 123px;"><p>нет</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 414px;"></div>
		<div style="width: 74px;"></div>
		<div style="width: 85px;"></div>
		<div style="width: 89px;"></div>
		<div style="width: 123px;"></div></div>
	<div class="table-text">
		<div style="width: 414px;"><p>Пробный сеанс (3 ак.часа)</p></div>
		<div style="width: 74px;"></div>
		<div style="width: 85px;"><p>1 000</p></div>
		<div style="width: 89px;"><p>333</p></div>
		<div style="width: 123px;"><p>нет</p></div>
	</div>
	<div class="table-footer">
		<div style="width: 414px;"></div>
		<div style="width: 74px;"></div>
		<div style="width: 85px;"></div>
		<div style="width: 89px;"></div>
		<div style="width: 123px;"></div></div>
</div>
<p class="dark-blue size-16 font-arial center" style="margin: 15px 0 80px 0;">
	Может, всё-таки есть смысл внимательно ознакомиться с сайтом и обрести статус <span class="red bold">Persona Grata</span>? <a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="red font-arial bold">Да!</span></a>
</p>
<p class="red bold size-24 font-verdana center" style="margin: 0 0 46px 0;">
	Скидки для Persona Grata
</p>
<p class="dark-blue size-14 bold font-arial center" style="margin: 0 0 48px 0; line-height: 18px;">
	<span class="red size-18 font-verdana">1 у.е. = 1 евро</span><br>
	Оплата в рублях по курсу ЦБ
</p>
<div class="table" style="width: 935px; height: 253px; margin: 0 auto; border-color: yellow;">
	<div class="table-head">
		<div style="width: 236px;"><p>Скидка от базовой стоимости</p></div>
		<div style="width: 450px;"><p>Стоимость приведена в у.е.</p></div>
		<div style="width: 64px;"><p>За курс</p></div>
		<div style="width: 76px;"><p>За ак.час</p></div>
		<div style="width: 105px;"><p>Ваша скидка</p></div>
	</div>
	<div class="table-text">
		<div style="width: 236px;"><p>40%</p></div>
		<div style="width: 450px;"><p>За курс из 12 часов (4 сеанса по 3 ак.часа каждый)</p></div>
		<div style="width: 64px;"><p>4 500</p></div>
		<div style="width: 76px;"><p>375</p></div>
		<div style="width: 105px;"><p>1 500</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 236px;"></div>
		<div style="width: 450px;"></div>
		<div style="width: 64px;"></div>
		<div style="width: 76px;"></div>
		<div style="width: 105px;"></div></div>
	<div class="table-text">
		<div style="width: 236px;"><p>50%</p></div>
		<div style="width: 450px;"><p>При продолжении обучения</p></div>
		<div style="width: 64px;"><p>3 000</p></div>
		<div style="width: 76px;"><p>250</p></div>
		<div style="width: 105px;"><p>3 000</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 236px;"></div>
		<div style="width: 450px;"></div>
		<div style="width: 64px;"></div>
		<div style="width: 76px;"></div>
		<div style="width: 105px;"></div></div>
	<div class="table-text">
		<div style="width: 236px;"><p>55%</p></div>
		<div style="width: 450px;"><p>При продолжении обучения</p></div>
		<div style="width: 64px;"><p>2 700</p></div>
		<div style="width: 76px;"><p>225</p></div>
		<div style="width: 105px;"><p>3 300</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 236px;"></div>
		<div style="width: 450px;"></div>
		<div style="width: 64px;"></div>
		<div style="width: 76px;"></div>
		<div style="width: 105px;"></div></div>
	<div class="table-text">
		<div style="width: 236px;"><p>50%</p></div>
		<div style="width: 450px;"><p>Пробный сеанс, включая диагностику и тестирование (3 ак.часа)</p></div>
		<div style="width: 64px;"><p>500</p></div>
		<div style="width: 76px;"><p>167</p></div>
		<div style="width: 105px;"><p>500</p></div>
	</div>
	<div class="table-footer">
		<div style="width: 236px;"></div>
		<div style="width: 450px;"></div>
		<div style="width: 64px;"></div>
		<div style="width: 76px;"></div>
		<div style="width: 105px;"></div></div>
</div>
<p class="dark-blue size-14 font-verdana bold" style="margin: 30px 0 14px 32px;">
	Цены приведены с учётом стоимости <span class="light-blue italic bold">NL</span>-учебников и <span class="light-blue italic bold">NL</span>-тренажёров.
</p>
<p class="dark-blue size-16 font-verdana" style="margin: 0px 0 76px 32px; line-height: 20px;">
	Стоимость занятий приведена фактически для двоих, потому что на занятиях с проф. О.О.Веровенко один<br>
	из родителей не только присутствует на занятиях, но играет и обучается вместе со своим ребёнком.<br>
	Заниматься без присутствия родителей могут только старшие школьники и взрослые учащиеся.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 7px 0;">
	Кот и хвост
</p>
<div style="width: 960px; height: 400px; padding: 43px 0 0 0;">	
	<div style="width: 550px; height: 400px; float: left; margin: 0 0 0 41px; position: relative; z-index: 2;">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Дорогие мамы и папы, бабушки и дедушки!
		</p>	
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Корректировать и обучать детей до 12 лет<br>
			относительно легко и просто.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Старше 12 лет – намного труднее.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Приготовьтесь к тому, что у вас уйдёт в 3-5 раз<br>
			больше времени, сил и, естественно, денег.
		</p>
		<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 0;">
			Курс <span class="red tag">Чудо будет!</span> рассчитан на 4-12<br>
			сеансов (длительность зависит от возраста).
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Так что не тяните кота...
		</p>	
	</div>
	<div style="width: 304px; height: 460px; float: right; margin: -81px 58px 0 0;">
		<div id="rotateimg4" style="width: 101px; height: 153px; margin: 0 auto; position: relative; z-index: 1;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/cat2.jpg" width="100%" height="100%" alt="Кот с хвостом">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 42px 0 4px 0;">
	Арт-терапия
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 23px 0;">
	(Повышение способности к обучению)
</p>
<p class="dark-blue size-18 font-verdana center" style="margin: 0 0 19px 0;">
	Уникальный нейролингвистический сеанс повышает способности к обучению и<br>
	усвоению информации.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	<span class="red bold">За один сеанс:</span><br>
	корректируется дислексия, дисграфия, повышается концентрация внимания.<br>
	Прививается навык правильного быстрого чтения.
</p>
<p class="red size-18 font-verdana center" style="margin: 0 0 19px 0;">
	Повторный сеанс вам не потребуется!
</p>
<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Результат: успеваемость по всем предметам повышается на 1-2 балла.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Помогает этот разовый сеанс и хорошистам,<br>
	которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 19px 0;">
	Если же вам хочется коррекции проблем с одновременным обучением (русский,<br>
	грамотность, литература, сочинения, английский + психология),<br>
	возьмите курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="red font-verdana bold tag">Чудо будет!</span></a> (4-12 сеансов).
</p>
<p class="yellow size-18 font-verdana center bold line-height-23" style="margin: 0 0 21px 0;">
	Автор уникальной технологии и ведущая сеанса<br>
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="yellow font-verdana bold">профессор Ольга Олеговна Веровенко</span></a>
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	Длительность сеанса 1 час.
</p>
<p class="red size-18 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
	С учётом скидки 55% стоимость 300 у.е.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 70px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue size-18 font-verdana bold center" style="margin: 0 0 19px 0;">
	(психология-<span class="light-blue italic">NL</span> для взрослых)
</p>
<div style="width: 960px; height: 453px; padding: 42px 0 0 0;">	
	<div style="width: 450px; height: 453px; float: left; margin: 0 0 0 22px; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Привлечение всей мощи вашего Подсознания<br>
			и Сверхсознания для решения ваших<br>
			конкректных проблем. Ликвидация неврозов,<br>
			стрессов, страхов. Молниеносный выход из<br>
			любого <span class="tag">тупика</span> развития и кризисной<br>
			ситуации.
		</p>	
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Длительность сеанса 1 час.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Стоимость 500 у.е.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Конфиденциальность гарантируется.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="light-blue italic bold">NL</span>-психология для взрослых и детей<br>
			включена в любой длительный комплексный<br>
			курс обучения с проф. О.О.Веровенко<br>
			БЕСПЛАТНО.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Но, если хотите, можете взять сеансы <span class="light-blue italic bold">NL</span>-<br>
			психологии отдельно.
		</p>	
	</div>
	<div style="width: 472px; height: 453px; float: right; margin: 0 4px 0 0;">
		<div class="image-shadow-0" style="width: 472px; height: 437px; margin: 0 auto; position: relative; z-index: 1;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/fly-woman.jpg" width="100%" height="100%" alt="Летящяя женщина">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<a name="individualnoe"></a>
<p class="yellow bold size-24 font-verdana center" style="margin: 100px 0 31px 0; line-height: 24px;">
	Занятия с педагогами высшего рейтинга<br>
	<span class="size-18">работающими по технологиям проф. О.О.Веровенко</span>
</p>
<p class="blue size-14 bold font-verdana center line-height-23" style="margin: 0 0 59px 0;">
	<span class="tag">Врождённая грамотность</span> (русский язык)<br>
	<span class="tag">Вертикальный взлёт</span> (английский язык)<br>
	Литература, сочинения, изложения<br>
	Художественное слово, чтение с элементами игры и актёрского мастерства
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 31px 0;">
	Базовая стоимость
</p>
<p class="dark-blue size-14 bold font-arial center" style="margin: 0 0 28px 0; line-height: 18px;">
	<span class="red size-18 font-verdana">1 у.е. = 1 евро</span><br>
	Оплата в рублях по курсу ЦБ
</p>
<div class="table" style="width: 791px; height: 154px; margin: 0 auto;">
	<div class="table-head">
		<div style="width: 415px;"><p>Стоимость приведена в у.е.</p></div>
		<div style="width: 71px;"><p>За курс</p></div>
		<div style="width: 85px;"><p>За ак.час</p></div>
		<div style="width: 99px;"><p>За занятие</p></div>
		<div style="width: 117px;"><p>Ваша скидка</p></div>
	</div>
	<div class="table-text">
		<div style="width: 415px;"><p>За курс из 36 часов (12 занятий по 3 ак.часа каждое).</p></div>
		<div style="width: 71px;"><p>9 000</p></div>
		<div style="width: 85px;"><p>250</p></div>
		<div style="width: 99px;"><p>750</p></div>
		<div style="width: 117px;"><p>нет</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 415px;"></div>
		<div style="width: 71px;"></div>
		<div style="width: 85px;"></div>
		<div style="width: 99px;"></div>
		<div style="width: 117px;"></div></div>
	<div class="table-text">
		<div style="width: 415px;"><p>Пробный сеанс (включая тестирование) 3 ак.часа</p></div>
		<div style="width: 71px;"></div>
		<div style="width: 85px;"><p>200</p></div>
		<div style="width: 99px;"><p>600</p></div>
		<div style="width: 117px;"><p>нет</p></div>
	</div>
	<div class="table-footer">
		<div style="width: 415px;"></div>
		<div style="width: 71px;"></div>
		<div style="width: 85px;"></div>
		<div style="width: 99px;"></div>
		<div style="width: 117px;"></div></div>
</div>
<p class="dark-blue size-16 font-arial center" style="margin: 15px 0 80px 0;">
	Может, всё-таки есть смысл внимательно ознакомиться с сайтом и обрести статус <span class="red bold">Persona Grata</span>? <a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="red font-arial bold">Да!</span></a>
</p>
<p class="red bold size-24 font-verdana center" style="margin: 0 0 0 0;">
	Скидки для Persona Grata
</p>
<p class="blue size-18 font-verdana center" style="margin: 0px 0 33px 0;">
	(индивидуальное обучение)
</p>
<p class="black size-14 bold font-arial center" style="margin: 0 0 28px 0; line-height: 18px;">
	<span class="red size-18 font-verdana">1 у.е. = 1 евро</span><br>
	Оплата в рублях по курсу ЦБ
</p>
<div class="table yellow" style="width: 923px; height: 253px; margin: 0 auto; border-color: yellow;">
	<div class="table-head">
		<div style="width: 229px;"><p>Скидка от базовой стоимости</p></div>
		<div style="width: 454px;"><p>Стоимость приведена в у.е.</p></div>
		<div style="width: 61px;"><p>За курс</p></div>
		<div style="width: 74px;"><p>За ак.час</p></div>
		<div style="width: 101px;"><p>Ваша скидка</p></div>
	</div>
	<div class="table-text">
		<div style="width: 229px;"><p>40%</p></div>
		<div style="width: 454px;"><p>За курс из 36 часов (12 занятий по 3 ак.каждое). Предоплата 100%</p></div>
		<div style="width: 61px;"><p>5 400</p></div>
		<div style="width: 74px;"><p>150</p></div>
		<div style="width: 101px;"><p>3 600</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 229px;"></div>
		<div style="width: 454px;"></div>
		<div style="width: 61px;"></div>
		<div style="width: 74px;"></div>
		<div style="width: 101px;"></div></div>
	<div class="table-text">
		<div style="width: 229px;"><p>50%</p></div>
		<div style="width: 454px;"><p>При переходе с курса на курс, с факультета на факультет.</p></div>
		<div style="width: 61px;"><p>4 500</p></div>
		<div style="width: 74px;"><p>125</p></div>
		<div style="width: 101px;"><p>4 500</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 229px;"></div>
		<div style="width: 454px;"></div>
		<div style="width: 61px;"></div>
		<div style="width: 74px;"></div>
		<div style="width: 101px;"></div></div>
	<div class="table-text">
		<div style="width: 229px;"><p>50%</p></div>
		<div style="width: 454px;"><p>Пробный сеанс (включая тестирование) 3 ак.часа.</p></div>
		<div style="width: 61px;"><p>300</p></div>
		<div style="width: 74px;"><p>100</p></div>
		<div style="width: 101px;"><p>300</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 229px;"></div>
		<div style="width: 454px;"></div>
		<div style="width: 61px;"></div>
		<div style="width: 74px;"></div>
		<div style="width: 101px;"></div></div>
	<div class="table-text">
		<div style="width: 229px;"><p>30%</p></div>
		<div style="width: 454px;"><p>За полукурс из 18 часов (6 занятий по 3 ак.часа каждое).</p></div>
		<div style="width: 61px;"><p>3 150</p></div>
		<div style="width: 74px;"><p>175</p></div>
		<div style="width: 101px;"><p>1 350</p></div>
	</div>
	<div class="table-footer">
		<div style="width: 229px;"></div>
		<div style="width: 454px;"></div>
		<div style="width: 61px;"></div>
		<div style="width: 74px;"></div>
		<div style="width: 101px;"></div></div>
</div>
<p class="dark-blue size-14 font-verdana bold" style="margin: 30px 0 95px 41px;">
	Цены приведены с учётом стоимости <span class="light-blue italic bold">NL</span>-учебников и <span class="light-blue italic bold">NL</span>-тренажёров.
</p>
<a name="gruppa"></a>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 11px 0;">
	Стоимость занятий в группах
</p>
<p class="dark-blue bold size-14 font-arial center" style="margin: 0 0 38px 0;">
	За курс из 36 часов (12 занятий по 3 ак.часа каждое)
</p>
<p class="black size-14 bold font-arial center" style="margin: 0 0 33px 0; line-height: 18px;">
	<span class="red size-18 font-verdana">1 у.е. = 1 евро</span><br>
	Оплата в рублях по курсу ЦБ
</p>
<div class="table yellow" style="width: 859px; height: 203px; margin: 0 auto; border-color: yellow;">
	<div class="table-head">
		<div style="width: 544px;"><p>Стоимость приведена в у.е.</p></div>
		<div style="width: 91px;"><p>Стоимость</p></div>
		<div style="width: 130px;"><p>На человека</p></div>
		<div style="width: 91px;"><p>За ак.час</p></div>
	</div>
	<div class="table-text">
		<div style="width: 544px;"><p>В вашей мини-группе из 2-3 чел. (семья, родители с детьми, друзья, коллеги).</p></div>
		<div style="width: 91px;"><p>7 000</p></div>
		<div style="width: 130px;"><p>от 2 333 до 3 500</p></div>
		<div style="width: 91px;"><p>от 65 до 97</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 544px;"></div>
		<div style="width: 91px;"></div>
		<div style="width: 130px;"></div>
		<div style="width: 91px;"></div></div>
	<div class="table-text">
		<div style="width: 544px;"><p>В мини-группе из 2-3 чел., которую сформировали мы.</p></div>
		<div style="width: 91px;"><p></p></div>
		<div style="width: 130px;"><p>3 800</p></div>
		<div style="width: 91px;"><p>105,5</p></div>
	</div>
	<div class="table-separator">
		<div style="width: 544px;"></div>
		<div style="width: 91px;"></div>
		<div style="width: 130px;"></div>
		<div style="width: 91px;"></div></div>
	<div class="table-text">
		<div style="width: 544px;"><p>В вашей большой группе до 10 чел. (с учётом надбавки за выезд к вам).</p></div>
		<div style="width: 91px;"><p>10 000</p></div>
		<div style="width: 130px;"><p>от 1 000</p></div>
		<div style="width: 91px;"><p>от 27,7</p></div>
	</div>
	<div class="table-footer">
		<div style="width: 544px;"></div>
		<div style="width: 91px;"></div>
		<div style="width: 130px;"></div>
		<div style="width: 91px;"></div></div>
</div>
<p class="dark-blue size-14 font-verdana bold" style="margin: 25px 0 31px 56px;">
	Цены приведены с учётом стоимости <span class="light-blue italic bold">NL</span>-учебников и <span class="light-blue italic bold">NL</span>-тренажёров.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0px 0 64px 56px; line-height: 17px;">
	Вниманию участников групп!<br>
	Пропущенные занятия и их стоимость не компенсируются. Перевод из группы в группу не производится.
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 0 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A; margin: 0 0 0 9px;"><span class="blue font-verdana bold">Условия обучения, графики</span></a>
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_phone; [/exec]" style="text-decoration: underline; color: #ED1C24; margin: 0 0 0 9px;"><span class="red font-verdana bold">телефон</span></a>
</p>