<h2 class="heading green" style="font-size: 24px;">За гранью возможного</h2>
<p class="light-blue bold size-24 font-sans-font center" style="margin: 33px 0 66px 0;">
	РЕЧЬ — ВАША ВИЗИТНАЯ КАРТОЧКА
</p>
<p class="blue bold size-18 font-verdana center" style="margin-bottom: 45px;">
	Которая из них ваша?
</p>
<div style="width: 960px; height: 263px; padding: 28px 0 70px 0;">	
	<div style="width: 451px; height: 263px; float: left; margin: 0 0 0 9px;">
		<div class="image-shadow-0" style="width: 451px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sound1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 500px; height: 263px; float: right; padding-right: 0px">
		<p class="light-blue size-18  bold font-verdana line-height-23" style="margin: 0 0 22px 37px;">
			<span class="tag">Комариный писк</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 37px;">
			Невнятная, зажатая, рваная речь с «затыками»,<br>
			паузами <span class="tag">… типа … ну … это … вот...</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 37px;">
			Голосовые связки почти не задействованы, о<br>
			дикции и артикуляции нет понятия.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 37px;">
			С такой речью даже толковый человек<br>
			производит впечатление не очень умного.
		</p>
	</div>
</div>
<div style="width: 960px; height: 263px; padding: 28px 0 70px 0;">	
	<div style="width: 451px; height: 263px; float: left; margin: 0 0 0 9px;">
		<div class="image-shadow-0" style="width: 451px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sound2.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 500px; height: 263px; float: right; padding-right: 0px">
		<p class="light-blue size-18  bold font-verdana line-height-23" style="margin: 0 0 22px 62px;">
			<span class="tag">Бытовая</span> речь
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 62px;">
			Гладкая, но маловыразительная, без<br>
			особых красот. Связки работают мало,<br>
			голос глухой, шуршит, шелестит, но не<br>
			звенит.<br>
			Достаточно, чтобы спросить:<br>
			- Супу хочешь?<br>
			- Нет...<br>
			Скучно.
		</p>
	</div>
</div>
<div style="width: 960px; height: 263px; padding-top: 28px;">	
	<div style="width: 451px; height: 263px; float: left; margin: 0 0 0 9px;">
		<div class="image-shadow-0" style="width: 451px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sound3.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 500px; height: 263px; float: right; padding-right: 0px">
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 62px;">
			Красивая, правильная речь
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 62px;">
			Над этой речью — богато интонированной,<br>
			мелодированной, выразительной — хорошо<br>
			и правильно поработали. Задействованы<br>
			связки. Прекрасная дикция, артикуляция,<br>
			широкий диапазон голоса.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 62px;">
			С этим человеком интересно говорить. Его<br>
			хочется слушать (и слушаться). Он почему-<br>
			то всегда прав, и карьера его идёт
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 23px 8px; width: 980px;">
	в гору. Ибо понятие <span class="tag">говорить интересно, говорить умно</span> предполагает не только <span class="blue bold">О ЧЁМ</span>, но и <span class="blue bold">КАК</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 8px">
	Приятнейший собеседник, этот человек счастлив в любви и дружбе. Ведь красивые<br>взаимоотношения предполагают красивое общение, не так ли?
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 64px 0">
	С этим не рождаются. Этому учатся.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 41px 0 36px 0; line-height: 34px;">
	Речь
</p>
<p class="yellow size-18 bold font-verdana center" style="margin: 0 0 23px 0">
	Курс <span class="tag">Техника и культура речи с элементами игры и актёрского мастерства</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px">
	Работа с голосом и речью. Артикуляция, дикция, произношение. Речь распрямляется,<br>становится более гладкой, красивой, выразительной. Навыки правильной, чёткой,<br> интонированной речи.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px">
	Раскрепощение. Поддержка психолога.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px">
	Логопедия. Коррекция логоневрозов, заикания (в том числе у взрослых).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px">
	Можете взять этот курс отдельно (с проф. О.О.Веровенко или педагогами высшего рейтинга).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px">
	Но мы настоятельно рекомендуем комплексный курс <span class="yellow bold tag">Особо интересно!</span> (см.ниже).
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 70px 0 36px 0; line-height: 34px;">
	Чтение
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Техника чтения, скорость и точность. Повышение концентрации внимания, без чего<br>
	невозможно грамотное письмо.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Длительность: нужен всего один сеанс <a href="[exec] include get_template_directory().'/links.php'; echo $art_terapija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red size-18 bold tag">Арт-терапии</span></a>. Второй вам не потребуется!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Настоятельно рекомендуем также комплексный курс <span class="yellow bold tag">Особо интересно!</span> (см.ниже).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Подробности о <span class="blue bold">ридингфобии</span> (страхе чтения), а также <span class="tag">школьном</span> неврозе,<br>
	дислексии и других проблемах обучения см. в статье <a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue size-18 tag">У кого есть глупо дитятко?</span></a>
</p>
<p class="yellow bold size-24 font-verdana center" style="margin: 84px 0 22px 0;">
	Особо интересно!
</p>
<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 0 0 0">
	Комплексный курс заслужённой артистки РФ<br>
	Натальи Леонидовны Ковалёвой
</p>
<p class="yellow size-18 bold font-verdana line-height-23" style="margin: 42px 0 0 99px">
	<span class="red">В одном:</span> речь, чтение, литература (<span class="tag">Золотой</span> и <span class="tag">Серебряный</span> век),
</p>
<p class="yellow size-18 bold font-verdana line-height-23" style="margin: 0 0 31px 197px">
	художественное слово с элементами игры и актёрского мастерства,<br>
	творческое развитие, раскрепощение.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 53px">
	Взрослым, школьникам.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 53px">
	Исчезают проявления зажатости и закрепощённости в общении. Прививается умение<br>
	легко и непринуждённо держаться, общаться и разговаривать. Повышается обаяние<br>
	и коммуникабельность.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 53px">
	Чтение. Художественное слово. Исполнительское мастерство. Работа с голосом и речью.<br>
	Навык публичных выступлений (в том числе в школе у доски).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 53px">
	Раскрепощение. Огранка личности.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 53px">
	Длительность курса: 18-36 ак.часов (6-12 занятий по 3 ак.часа каждое).
</p>
<div style="padding-top: 62px; height: 373px;">
	<div style="width: 620px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 620px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/chtenie.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/chtenie.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/YGby6pyfHKw?autoplay=1&amp;loop=1&amp;playlist=YGby6pyfHKw&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="red size-30 bold font-verdana center" style="margin: 63px 0 28px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 26px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 67px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]