<h2 class="heading green size-24">За гранью возможного</h2>
<p class="light-blue bold size-24 font-sans-font center" style="margin: 33px 0 66px 0;">
	РЕЧЬ — ВАША ВИЗИТНАЯ КАРТОЧКА
</p>
<p class="blue bold size-18 font-verdana center" style="margin-bottom: 45px;">
	Которая из них ваша?
</p>
<div style="width: 960px; height: 263px; padding: 28px 0 70px 0;">	
	<div style="width: 451px; height: 263px; float: left; margin: 0 0 0 9px;">
		<div class="image-shadow-0" style="width: 451px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sound1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 500px; height: 263px; float: right; padding-right: 0px">
		<p class="light-blue size-18  bold font-verdana line-height-23" style="margin: 0 0 22px 37px;">
			<span class="tag">Комариный писк</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 37px;">
			Невнятная, зажатая, рваная речь с «затыками»,<br>
			паузами <span class="tag">… типа … ну … это … вот...</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 37px;">
			Голосовые связки почти не задействованы, о<br>
			дикции и артикуляции нет понятия.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 37px;">
			С такой речью даже толковый человек<br>
			производит впечатление не очень умного.
		</p>
	</div>
</div>
<div style="width: 960px; height: 263px; padding: 28px 0 70px 0;">	
	<div style="width: 451px; height: 263px; float: left; margin: 0 0 0 9px;">
		<div class="image-shadow-0" style="width: 451px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sound2.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 500px; height: 263px; float: right; padding-right: 0px">
		<p class="light-blue size-18  bold font-verdana line-height-23" style="margin: 0 0 22px 62px;">
			<span class="tag">Бытовая</span> речь
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 62px;">
			Гладкая, но маловыразительная, без<br>
			особых красот. Связки работают мало,<br>
			голос глухой, шуршит, шелестит, но не<br>
			звенит.<br>
			Достаточно, чтобы спросить:<br>
			- Супу хочешь?<br>
			- Нет...<br>
			Скучно.
		</p>
	</div>
</div>
<div style="width: 960px; height: 263px; padding-top: 28px;">	
	<div style="width: 451px; height: 263px; float: left; margin: 0 0 0 9px;">
		<div class="image-shadow-0" style="width: 451px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sound3.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 500px; height: 263px; float: right; padding-right: 0px">
		<p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 62px;">
			Красивая, правильная речь
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 62px;">
			Над этой речью — богато интонированной,<br>
			мелодированной, выразительной — хорошо<br>
			и правильно поработали. Задействованы<br>
			связки. Прекрасная дикция, артикуляция,<br>
			широкий диапазон голоса.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 62px;">
			С этим человеком интересно говорить. Его<br>
			хочется слушать (и слушаться). Он почему-<br>
			то всегда прав, и карьера его идёт
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 16px 0 23px 8px; width: 980px;">
	в гору. Ибо понятие <span class="tag">говорить интересно, говорить умно</span> предполагает не только <span class="blue bold">О ЧЁМ</span>, но и <span class="blue bold">КАК</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 8px">
	Приятнейший собеседник, этот человек счастлив в любви и дружбе. Ведь красивые<br>взаимоотношения предполагают красивое общение, не так ли?
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 76px 0">
	С этим не рождаются. Этому учатся.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 41px 0 26px 0; line-height: 34px;">
	<span class="tag">Техника и культура речи с элементами игры<br>
	и актёрского мастерства</span>
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 53px 0">
	Экстернат профессора Ольги Олеговны Веровенко
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Работа с голосом и речью. Артикуляция, дикция, произношение. Речь распрямляется,<br>становится более гладкой, красивой, выразительной. Навыки правильной, чёткой,<br> интонированной речи.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Раскрепощение. Поддержка психолога.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 54px">
	Логопедия. Коррекция логоневрозов, заикания (в том числе у взрослых).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 54px">
	Занятия речью также включены в комплексный курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="color: #4A4A4A; text-decoration: underline;"><span class="blue tag">Чудо будет!</span></a>.
</p>
<p class="size-24 font-verdana center" style="margin: -19px 0 22px 0; line-height: 31px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $speckursy; [/exec]" style="color: #4A4A4A; text-decoration: underline;">
		<span class="blue">
			Чтение<br>
			Повышение концентрации внимания<br>
			Художественное слово
		</span>
	</a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 36px 0 22px 0;">
	Актёрское мастерство
</p>
<p class="blue size-18 bold font-verdana center" style="margin: 0 0 53px 0">
	Спецкурс заслуженной артистки РФ <a style="color: rgb(0, 101, 169); text-decoration: underline;" href="[exec] include get_template_directory().'/links.php'; echo $individualnoe_obuchenie; [/exec]">Натальи Леонидовны Ковалёвой</a>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 76px">
	Взрослым, школьникам.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 76px">
	Раскрепощение. Исчезают проявления зажатости и закрепощённости в общении.<br>
	Прививается умение легко и непринуждённо держаться, общаться и разговаривать.<br>
	Повышается обаяние и коммуникабельность.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 76px">
	Огранка личности. Навык публичных выступлений (в том числе в школе у доски).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 76px">
	Длительность курса: 18-36 ак.часов (6-12 занятий по 3 ак.часа каждое).
</p>
<div style="padding-top: 92px; height: 376px;">
	<div style="width: 630px; height: 376px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 360px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="360" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/business.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/business.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/5DxFDP7oYbc?autoplay=1&amp;loop=1&amp;playlist=5DxFDP7oYbc&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 102px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class="red size-24 font-verdana center bold" style="margin: 65px 0 -3px 0;">
	Нам 25 лет!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 font-verdana center bold" style="margin: 7px 0 31px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="blue">Отзывы, благодарности, поздравления.</span></a>
</p>	
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px; margin-top: 45px;">
	О нас писали
</p>
<p class="size-18 font-verdana center line-height-23" style="margin-bottom: 30px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $o_nas_pisali; [/exec]" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="dark-blue">Публикации о нашем опыте<br>в советской, российской и зарубежной прессе</span></a>
</p>
<div style="width: 527px; height: 422px; margin:0 auto;">
	<div class="image-shadow" style="width: 487px; margin-left: 20px; height: 406px; border: 0px solid #717070; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/globe.jpg);">
	</div>
	<div class="image-shadow-right">			
	</div>
	<div class="image-shadow-left">			
	</div>
</div>
<p class=" blue size-24 bold font-verdana center" style="margin-top: 26px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению компаса.<br>
	<span class="red">Счастливого пути!
</span></p>