<h2 class="heading green size-30">За гранью возможного</h2>
<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 19px 570px;">
	Профессор Ольга Веровенко,<br>
	автор метода <span class="tag">Врождённой грамотности</span>
</p>
<p class="light-blue bold size-36 font-verdana center" style="line-height: 49px; margin: 37px 0 43px 0;">
	У кого есть глупо дитятко?<br>
    <span style="margin-left: 226px">У кого их только нет... </span>
</p>
<p class="size-18 font-verdana center line-height-23" style="margin: 41px 0 0 0; color: #A98700;">
	Статья публиковалась в газете "Аргументы и факты"
</p>
<p class="size-18 font-verdana center line-height-23" style="margin: 13px 0 26px 0; color: #A98700;">
	Всё, что написано в этой статье о детях, относится в равной мере к людям взрослым.<br>
	Всё, что написано о русском языке, относится и к английскому.
</p>
<div style="width: 960px; height: 330px; padding: 43px 0 32px 0;">	
	<div style="width: 214px; height: 330px; float: left; margin: 0 0 0 24px;">
		<div class="image-shadow-0" style="width: 214px; height: 291px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1" style="width: 107px; background-position: -210px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 107px;">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 686px; height: 280px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ваш ребёнок – хороший человечек, пятёрочник по физике,<br>
			математике, истории, чему угодно, кроме русского языка. Ну не<br>
			может он писать без ошибок!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Вот с такой проблемой приходят к нам на курсы «Врождённой<br>
			грамотности».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Мы берём за основу существующий в реальной жизни феномен –<br>
			врождённую грамотность.
		</p>
	</div>
</div>
<div style="width: 960px; height: 300px; padding: 0 0 0 0;">	
	<div style="width: 350px; height: 300px; float: left; margin: 0 0 0 24px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Речь идёт о людях, зачастую весьма<br>
			поверхностно знающих правила, но<br>
			тем не менее практически не<br>
			делающих ошибок при письме.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Они обладают врождённой<br>
			грамотностью.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Что же это за феномен такой?
		</p>	
	</div>
	<div style="width: 538px; height: 370px; float: right; margin: -120px 33px 0 0;">
		<div class="image-shadow-0" style="width: 538px; height: 325px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/wall.jpg" width="100%" height="100%" alt="Грамотность. Китайская стена?..">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 13px 0 0 0; line-height: 16px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 16px 0 26px 0; line-height: 34px;">
	Загадочный феномен
</p>
<div style="width: 960px; height: 422px; padding: 22px 0 32px 0;">	
	<div id="hide1" style="width: 351px; height: 422px; float: left; margin: 0 0 0 98px; opacity: 0;">
		<div style="width: 351px; height: 422px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/shadow.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
	</div>
	<div style="width: 432px; height: 280px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 74px 0 22px 0;">
			Стоит подойти к этому явлению с<br>
			точки зрения нейролингвистики, и оно<br>
			сразу теряет свою загадочность.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Каким-то образом мозг человека,<br>
			обладающего врождённой<br>
			грамотностью, «самообучился» писать<br>
			правильно.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ещё раз обратим внимание: вся эта<br>
			работа «мозга-компьютера» идёт<br>
			<span class="bold">помимо изложенных в учебнике<br>
			правил.</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 46px 0 45px 0; line-height: 34px;">
	А как же правила?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 47px;">
	Давайте посмотрим, как нас пытаются научить грамотности в школе. Школьник получает<br>
	задание: решить, как написать слово «кошеный»  –  с одним «н» или двумя? Он лезет в<br>
	учебник и там читает:
</p>
<div class="trans" style="width: 960px; height: 335px; padding: 0 0 32px 0;">	
	<div style="width: 446px; height: 335px; float: left; margin: 0 0 0 47px;">
		<div class="trans1" style="width: 446px; height: 335px; opacity: 0; margin: 0 0 0 700px; position: relative; z-index: 1;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/cat2.jpg" width="100%" height="100%" alt="Кошка">
		</div>
	</div>
	<div style="width: 460px; height: 335px; float: right; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 33px 0 22px 0;">
			«В полных формах страдательных<br>
			причастий прошедшего времени,<br>
			образованных от глаголов совершенного<br>
			вида, как приставочных, так и<br>
			бесприставочных, пишется два «н», а с<br>
			одним «н» в виде исключения пишутся<br>
			полностью утратившие связь с<br>
			причастиями отглагольные,<br>
			образованные от совершенного вида<br>
			прилагательные».
		</p>
	</div>
</div>
<div style="width: 960px; height: 540px; padding: 31px 0 0 0;">	
	<div style="width: 520px; height: 540px; float: left; margin: 0 0 0 47px; position: relative; z-index: 2;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			На языке программирования это называется<br>
			избыточной информацией. Не потому, что её<br>
			много, а потому, что она совершенно не отвечает на<br>
			поставленный вопрос. С таким же успехом на<br>
			простой вопрос о слове «кошеный» можно дать<br>
			ответ: на улице с утра дождик.<br>
		</p>	
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Эта информация называется высокоэнтропийной<br>
			(энтропия – это мера неопределённости в<br>
			информатике), потому что требует оперирования<br>
			одновременно такими понятиями, как:
		</p>
		<p style="margin: 0 0 22px 0;">
			<ul class="grey font-verdana" style="margin: 0 0 44px 25px; font-size: 13px; line-height: 21px;">
				<li><span class="dark-blue size-18">причастие;</span></li>
				<li><span class="dark-blue size-18">полная форма причастия;</span></li>
				<li><span class="dark-blue size-18">прошедшее время;</span></li>
				<li><span class="dark-blue size-18">страдательное причастие;</span></li>
				<li><span class="dark-blue size-18">совершенный вид;</span></li>
				<li><span class="dark-blue size-18">приставочные и бесприставочные причастия;</span></li>
				<li><span class="dark-blue size-18">приставка;</span></li>
				<li><span class="dark-blue size-18">прилагательное;</span></li>
				<li><span class="dark-blue size-18">отглагольные прилагательные;</span></li>
				<li><span class="dark-blue size-18">отглагольные прилагательные, утратившие связь с причастиями.</span></li>
			</ul>
		</p>	
	</div>
	<div style="width: 377px; height: 540px; float: right; margin: 0 9px 0 0;">
		<div id="rotateimg4" style="width: 126px; height: 134px; opacity: 0; margin: 0 auto; position: relative; z-index: 1;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/kolobok.jpg" width="100%" height="100%" alt="Колобок">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 14px 0 22px 47px;">
	Такой объём информации молниеносно (а навык грамотного письма требует<br>
	молниеносности) человеческий мозг обработать не в состоянии. 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	Но главное противоречие вот в чём: школьный курс апеллирует к сознанию ребёнка, а<br>
	грамотность, являясь навыком, лежит в области бессознательного, как и всякий<br>
	автоматический навык. 
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	И, как всякий навык, нуждается в тренировке, а нам этот навык никогда не ставили и не<br>
	тренировали. Ведь, по сути, в школе мы учим теорию языка.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 47px;">
	Вспомните: глаголы бывают возвратные и невозвратные, переходные и непереходные,<br>
	склонения бывают первое, второе и третье – много ли навыков вы почерпнули из этого<br>
	теоретического багажа? 
</p>
<div style="width: 960px; height: 550px; padding: 17px 0 24px 0;">	
	<div style="width: 385px; height: 550px; float: left; margin: 0 0 0 46px;">
		<div class="image-shadow-0" style="width: 385px; height: 496px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy1.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 25px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 520px; height: 550px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 15px;">
			Чтобы не оставлять вопрос о правописании слова<br>
			«кошеный» открытым, забегу несколько вперёд и<br>
			приведу пример из метода «Врождённой<br>
			грамотности». Вот вам табличка:
		</p>
		<div style="width: 260px; float:left; text-align: right;">
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 17px 42px 0;">
				золочёный<br>
				крашеный<br>
				раненый
			</p>
		</div>
		<div style="width: 260px; float:right; text-align: left;">
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 2px;">
				позолоченный<br>
				выкрашенный<br>
				израненный
			</p>
		</div>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 15px;">
			Рассмотрите её внимательно. В какой столбик вам<br>
			хочется отнести слово «кошеный»?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 15px;">
			Доверьтесь своему подсознанию, тому, что вы<br>
			называете интуицией, и ваша рука сама отнесёт его<br>
			в левый ряд. А теперь предложите это задание<br>
			вашему «нерадивому чаду».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 15px;">
			Результат известен заранее – он выполнит задание<br>
			правильно. 
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 24px;">
	Мы с вами автоматически водим машину, ходим (а не контролируем сознательно свою походку:<br>
	поставь ногу так, поставь её этак). Пишем мы тоже автоматически: мы думаем о том, что мы<br>
	пишем, а не о том, как мы это делаем. Как написать – решает наше подсознание. 
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 61px 0 51px 0; line-height: 34px;">
	Любезное подсознание
</p>
<a name="agafonova"></a>
<div style="width: 960px; height: 523px; padding: 0 0 2px 0;">	
	<div style="width: 400px; height: 523px; float: left; margin: 0 0 0 24px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Представьте, что вы отправились в<br>
			далёкую незнакомую страну.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Сойдя с трапа самолёта, вы увидели<br>
			бабочку, дерево, куст совершенно<br>
			необычных, непривычных очертаний.<br>
			Но вы сразу определили, что это<br>
			именно бабочка, дерево, куст, а не что-<br>
			либо другое. Даже если бабочка была<br>
			круглой, дерево квадратным, а куст рос<br>
			корнями вверх.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Вы скажете: ничего удивительного, нам<br>
			приходилось раньше видеть много<br>
			разных бабочек и деревьев, и мы<br>
			можем предположить, что они могут<br>
			быть и такими вот… необычными.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Секундочку! Но ведь эти конкретные<br>
			бабочку, дерево, куст вы видите<br>
			первый раз в жизни. Вам их просто не с<br>
			чем сравнивать!
		</p>	
	</div>
	<div style="width: 498px; height: 523px; float: right; margin: 0 24px 0 0;">
		<div class="image-shadow-0" style="width: 498px; height: 376px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/agafonova.jpg" width="100%" height="100%" alt="Татьяна Ивановна Агафонова">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 24px 0 0 0; line-height: 16px;">
			Обаятельнейшая Татьяна Ивановна Агафонова,<br>
			преподаватель русского языка.<br>
			Грамотность её выпускников безупречна.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	На помощь пришла способность вашего мозга к идентификации, то есть способность узнавать<br>
	привычный образ даже в самых необычных его очертаниях. 
</p>
<div style="padding-top: 14px; height: 560px;">
	<div style="width: 425px; height: 560px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 425px; height: 489px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/street.jpg" width="100%" height="100%" alt="Улица">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 21px 0 0 0; line-height: 16px;">
			Да, действительно, это улица, хотя и необычная.<br>
			Но как вы её распознали? Ведь вы видите её впервые!
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 26px 0 22px 25px;">
	Наше сознание медлительно, подсознание работает молниеносно. Простой пример: вы<br>
	идёте по улице в толпе, но вдруг какой-то внутренний толчок заставляет вас<br>
	остановиться. Ба! Да это же знакомое лицо – человек, которого вы не видели много лет.<br>
	Вы забыли его имя, и ваше сознание сейчас мучительно перебирает «файлы» – кто же<br>
	это, кто? Сознанию требуется несколько секунд, а то и минут, чтобы идентифицировать<br>
	этого человека. 
</p>
<div style="padding-top: 16px; height: 330px;">
	<div style="width: 433px; height: 330px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 433px; height: 272px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/key.jpg" width="100%" height="100%" alt="Улица">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Ключи к грамотности – в подсознании!
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 18px 0 22px 25px;">
	Подсознание же сделало эту работу молниеносно, сообщив вам внутренний толчок,<br>
	после чего вы остановились посреди улицы. Правда, вспомнить имя подсознание не<br>
	может – ему «нечем»: языковая информация (название образов) принадлежит<br>
	сознанию.
</p>
<div style="width: 960px; height: 340px; padding: 29px 0 0 0;">	
	<div style="width: 200px; height: 340px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow-0" style="width: 200px; height: 290px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/girl2.jpg" width="100%" height="100%" alt="Ученица">
		</div>
		<div class="image-shadow-right-1" style="width: 100px; background-position: -215px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 100px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 693px; height: 311px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Ну, а как же срабатывает идентификация на уровне лингвистической<br>
			информации? Читая любые грамотно написанные тексты – книги,<br>
			газеты, журналы – человек усваивает не только содержание, но и<br>
			одновременно информацию о структуре языка, причём происходит<br>
			это на подсознательном уровне. Мозг человека структурирует (или<br>
			кодирует) языковую информацию как бы в отдельной директории, где<br>
			она хранится до нужного момента и при необходимости выплывает<br>
			молниеносно. Но так работает только мозг человека, обладающего<br>
			врождённой грамотностью.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Его восприятие скорее физиологическое, на уровне не передаваемых<br>
			словами ощущений.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 12px 0 22px 25px;">
	Этот человек пишет текст и, дойдя до места, где надо ставить знак препинания, вдруг<br>
	начинает испытывать некие ощущения, похожие на тот самый внутренний толчок, который вы<br>
	испытываете, встретив на улице знакомого. Это сработало подсознание, идентифицировав<br>
	знакомую лингвистическую конструкцию. И человек уверенно ставит запятую, или тире, или<br>
	двоеточие. Объяснить же, почему он ставит этот знак и вообще как эта конструкция<br>
	называется, человек не может, потому что это функция сознания, а в его сознании этой<br>
	информации сроду не было – правил он не учил.
</p>
<div style="width: 960px; height: 485px; padding: 0 0 41px 0;">	
	<div style="width: 500px; height: 485px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
			Можно сказать так: врождённая грамотность –<br>
			это способность мозга к самопрограммированию<br>
			подсознания. На чём же основана такая<br>
			способность? На идентификации.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 7px 0 22px 25px;">
			Любое здоровое существо рождается со<br>
			способностью к идентификации – к сличению и<br>
			распознаванию предметов и образов. Это умеют<br>
			делать люди, рыбы, птицы и даже вирусы. Всё,<br>
			что живёт, обладает способностью к<br>
			идентификации.
		</p>
		<p class="yellow bold size-24 font-verdana center" style="margin: 63px 0 0 15px; line-height: 30px;">
			Ваш ребёнок умничка хотя бы<br>
			потому, что родился с этой<br>
			способностью.
		</p>		
	</div>
	<div style="width: 371px; height: 485px; float: right; margin: 0 36px 0 0;">
		<div class="image-shadow-0" style="width: 371px; height: 438px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy2.jpg" width="100%" height="100%" alt="Ребёнок">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 18px 0 0 0;">
			Ваш ребёнок – умничка от рождения!
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 24px 0 41px 0; line-height: 34px;">
	Мы что, глупее вирусов?
</p>
<div style="width: 960px; height: 440px; padding: 10px 0 8px 0;">	
	<div style="width: 590px; height: 440px; float: left; margin: 0 0 0 20px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			По идее, мы все должны обладать природной, врождённой<br>
			грамотностью. Почему же у некоторых людей она не<br>
			срабатывает, откуда берётся «врождённая<br>
			безграмотность»? Одна из причин – дислексия.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Если ваш ребёнок вместо слова «лицо» пишет «лейдцо»,<br>
			следует подумать о возможности этого заболевания.<br>
			Дислексия поддается коррекции с большим трудом, и<br>
			требуются огромные совместные усилия со стороны не<br>
			только педагогов, но и родителей, и самого учащегося.<br>
			К счастью, дислексия встречается крайне редко. Вы<br>
			спросите: а почему же тогда так много двоечников по<br>
			русскому языку?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Почему у многих людей, обладающих врождённой<br>
			грамотностью, она так себе, на троечку? Дело в том, что у<br>
			этих людей врождённая грамотность находится<br>
			в латентном (скрытом) состоянии и в силу различных<br>
			причин так и не смогла раскрыться.
		</p>		
	</div>
	<div style="width: 325px; height: 440px; float: right; margin: 0 20px 0 0;">
		<div class="image-shadow-0" style="width: 325px; height: 395px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/girl3.jpg" width="100%" height="100%" alt="Девочка в очках">
		</div>
		<div class="image-shadow-right-1" style="width: 139px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 138px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 21px 0 0 0; line-height: 16px;">
			Фото с урока
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 11px 0 22px 20px;">
	Мозг (в определённом смысле) можно сравнить с компьютером. Так вот, задача метода<br>
	«врождённой грамотности» состоит в том, чтобы отладить в этом компьютере программу, которая<br>
	поможет вывести из латентного состояния заложенные в нас самой природой способности.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 81px 0 23px 0; line-height: 34px;">
	Пожалейте Вовочку
</p>
<div style="width: 960px; height: 315px; padding: 17px 0 0 0;">	
	<div style="width: 200px; height: 315px; float: left; margin: 0 0 0 16px;">
		<div class="image-shadow-0" style="width: 200px; height: 253px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy3.jpg" width="100%" height="100%" alt="Мальчик Вовочка">
		</div>
		<div class="image-shadow-right-1" style="width: 100px; background-position: -215px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 100px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 33px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 720px; height: 315px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 0;">
			Чтобы выяснить, как развивается тяжёлый невроз, учёные взяли мышку<br>
			и посадили её в клетку. В пол одного из углов этой клетки была вделана<br>
			металлическая пластина, и если мышка нечаянно наступала на пластину,<br>
			её било током. Довольно быстро мышка соображала, в какой угол ходить<br>
			не следует.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Когда с помощью специальной дощечки мышку начали подталкивать в<br>
			роковой угол, у неё сделался сильнейший нервный припадок, который<br>
			учёные назвали «сшибкой».
		</p>
	</div>
</div>
<div style="width: 960px; height: 184px; padding: 39px 0 0 0;">	
	<div style="width: 400px; height: 184px; float: left; margin: 0 0 0 16px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			А теперь представьте на месте мышки<br>
			вашего любимого Вовочку. Проблемы<br>
			начались, когда ещё он учился читать и<br>
			писать. Чтение и письмо – едва ли не<br>
			самые трудные навыки из всех<br>
			существующих. И когда Вовочка, пыхтя и<br>
			кряхтя, с трудом пытался ими овладеть,<br>
			нетерпеливые взрослые покрикивали: 
		</p>	
	</div>
	<div class="transdiv1" style="width: 480px; height: 300px; float: right; margin: -125px 41px 0 0;">
		<div class="trans6" style="width: 480px; height: 300px; opacity: 0; margin: 0 0 0 500px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/mouse.jpg" width="100%" height="100%" alt="Мышка">
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 16px;">
	«Скорее! Громче! Бездарь! Тупица!» Чем не болезненный электрический укол в лапку мышки?
</p>
<p style="margin: 0 0 0 0;"><a name="nakazanie"></a></p>
<div style="height: 460px;">
	<div style="width: 619px; height: 460px; margin: 0 auto;">
		<div style="width: 619px; height: 408px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/father.jpg" width="100%" height="100%" alt="Злой папа">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 17px 0 0 0;">
			<span class="tag">Сшибка</span>. Отрицательная обратная условная связь.
		</p>
	</div>
</div>
<div style="width: 960px; height: 550px; padding: 70px 0 52px 0;">	
	<div style="width: 600px; height: 550px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 18px;">
			У ребёнка мгновенно вырабатывалась стойкая нелюбовь к<br>
			письму и чтению, которых он и начинал избегать изо всех<br>
			сил. Но тут менялся и характер ругани: «Лентяй!<br>
			Двоечник! Приведи в школу родителей!» Чем не<br>
			подталкивание мышки специальной дощечкой?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 18px;">
			С одной стороны, Вовочка в данной ситуации получал<br>
			совершенно невыполнимую и непосильную задачу: писать<br>
			грамотно на основе вызубренных правил. А почему это<br>
			невозможно, мы подробно разбирали выше. С другой<br>
			стороны, отказаться выполнять эту непосильную работу<br>
			Вовочка не мог. Две противоположные мотивации пришли<br>
			в столкновение. Это «сшибка».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 18px;">
			Так развивается «школьный» невроз, который в<br>
			некоторых случаях перерастает в ридингфобию (страх<br>
			чтения и письма). Этот тяжёлый невроз – случай,<br>
			конечно, крайний. Но вот стойкая нелюбовь к чтению и<br>
			русскому языку у приходящих к нам является поголовной,<br>
			причём как у двоечников, так и у отличников. Снять эту<br>
			нелюбовь куда труднее, чем привить.
		</p>		
	</div>
	<div class="transdiv3" style="width: 312px; height: 550px; float: right; margin: 0 33px 0 0;">
		<div class="image-shadow-0 trans8" style="width: 312px; height: 492px; overflow: visible; padding: 1px 0 0 0">
			<div class="trans8" style="width: 312px; height: 492px; overflow: visible; margin: -500px 0 0 -500px; opacity: 0;">
				<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/badboy.jpg" width="100%" height="100%" alt="Злой мальчик">
			</div>
		</div>
		<div class="image-shadow-right-1" style="width: 139px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 138px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 16px;">
			Отвали!!!
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="stress"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 40px 0;">
	Стресс опасен для вашей грамотности
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
	Стресс-гормоны разрушают организм (врачи бьют в набат: 90% выпускников школ больны).<br>
	Кроме того, стресс-гормоны мгновенно «слизывают» из нашего мозга лингвистическую<br>
	информацию.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 4px 0 22px 26px;">
	Затяжной стресс до такой степени ослабляет идентификационные связи головного мозга, что<br>
	может возникнуть стойкая невозможность усваивать и обрабатывать лингвистическую<br>
	информацию. Резко снижается концентрация внимания.
</p>
<div style="padding-top: 17px; height: 480px;">
	<div style="width: 654px; height: 480px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 654px; height: 438px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/child1.jpg" width="100%" height="100%" alt="Ребёнок">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 16px;">
			Дети над пропастью
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 25px 0 22px 26px;">
	Примерно 20% впервые приходящих к нам школьников не способны концентрировать внимание<br>
	на лингвистической информации дольше 15-20 секунд. Как результат, эти учащиеся 6-11<br>
	классов совершенно не способны читать. Они могут прочитать вслух всего десяток слов, потом<br>
	начинают запинаться, потом читают совсем другие слова, а не те, что написаны.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 4px 0 22px 26px;">
	Добравшись до третьей-четвёртой строки, такой школьник останавливается совсем. Он резко<br>
	бледнеет, у него сильно потеют и дрожат руки, могут начаться судороги или сильная зевота –<br>
	признак крайнего утомления.
</p>
<div style="padding-top: 19px; height: 530px;">
	<div style="width: 579px; height: 472px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 579px; height: 456px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/bird.jpg" width="100%" height="100%" alt="Птичка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 11px 0 0 0; line-height: 15px;">
		<span class="tag">Школьный</span> невроз.<br>
		<span class="tag">Попытайся хотя бы разок без парашюта!</span> – упрашивает одна птица другую.<br>
		А ведь способность летать дана птицам от рождения, как и нам – грамотно писать.
	</p>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 28px 0 23px 25px;">
	Этих детей, прежде чем учить русскому языку, приходится сначала брать на коррекционный <br>
	курс «Арт-терапии» или «Техники речи»: ставить навыки правильного смыслового чтения, без<br>
	чего невозможно грамотное письмо. И, конечно же, в первую очередь убирать страх перед этим <br>
	занятием.
</p>
<p style="margin: 0 0 0 0;"><a name="fobii"></a></p>
<div style="width: 960px; height: 540px; padding: 0 0 39px 0;">	
	<div style="width: 450px; height: 540px; float: left; margin: 0 0 0 27px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 23px 0 22px 0;">
			Если вам, взрослому и сильному,<br>
			совершенно непонятны страхи<br>
			Вовочки перед чтением и письмом,<br>
			вспомните свой страх, вернее, ужас,<br>
			когда вам нечаянно приходилось<br>
			повстречаться на лесной дороге змею<br>
			(мышь, лягушку, разбойника).
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Так вот, у вашего Вовочки на чтение<br>
			и письмо примерно такая же<br>
			реакция.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Убедить Вовочку в том, что занятия<br>
			чтением и русским языком совсем не<br>
			страшные, а даже приятные, так же<br>
			невозможно, как убедить вас в том,<br>
			что змея белая и пушистая.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Здесь не помогут сами по себе ни<br>
			конфеты, ни похвалы, хотя всё это<br>
			мы используем.
		</p>			
	</div>
	<div class="transdiv6" style="width: 409px; height: 540px; float: right; margin: 0 32px 0 0;">
		<div style="width: 409px; height: 497px;">
			<div class="trans11" style="opacity: 0; margin: -1000px 0 0 -1000px;">
				<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/zombie1.jpg" width="100%" height="100%" alt="Зомби">
			</div>	
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 17px 0 0 0;">
			Что, страшно?!.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 14px 0 42px 0;">
	Дай конфетку!..
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 9px 25px;">
	Двоек, как и любых других отметок, у нас не ставят вообще, а за каждый правильный ответ<br>
	делается похвала. Называется это выработкой положительной условной обратной связи.
</p>
<div style="padding-top: 32px; height: 400px;">
	<div style="width: 461px; height: 400px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 461px; height: 357px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/present.jpg" width="100%" height="100%" alt="Девочка с подарком">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 21px 0 0 0; line-height: 15px;">
			Положительная обратная условная связь.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 21px 0 2px 25px;">
	Но тех мотиваций, которых вполне достаточно для здоровых ребят, для больного «школьным»<br>
	неврозом мало. Здесь можно использовать лишь что-то совсем нетривиальное, что ни в коей<br>
	мере не напоминает столь нелюбимое занятие.
</p>
<div style="width: 960px; height: 430px; padding: 75px 0 25px 0;">	
	<div style="width: 444px; height: 430px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow-0" style="width: 444px; height: 389px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy4.jpg" width="100%" height="100%" alt="Маленький принц">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Маленький принц
		</p>
	</div>
	<div style="width: 449px; height: 430px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 0;">
			Например, чтобы научить читать, мы<br>
			используем опыт актёрского мастерства.<br>
			Ребёнок, который в «своей собственной<br>
			роли» не умел прочитать и десяти слов<br>
			подряд, оказавшись в роли Маленького<br>
			Принца, охотно читает длинный и трудный<br>
			текст.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 0;">
			Ведь это делает не он – Вовочка, а это<br>
			делает герой повести Экзюпери, роль<br>
			которого Вовочка всего лишь играет.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 16px 0;">
			А через некоторое время оказывается, что<br>
			Вовочка незаметно для себя свободно читает<br>
			другие тексты, вполне обходясь без роли-<br>
			подпорки. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Чтение оказывается не столь уж страшным<br>
			занятием.
		</p>
	</div>
</div>
<p class="yellow size-18 font-verdana line-height-23" style="margin: 7px 0 22px 25px;">
	На занятиях по русскому языку всё совсем иначе.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 32px 25px;">
	Метод «врождённой грамотности» столь не похож на обычное обучение, что не возникает<br>
	необходимости ни в каких ролях. Эти занятия скорее похожи на детскую игру-раскраску.<br>
	Помните своё детство? Слева нарисована яркая красивая бабочка, а справа – только её контур.<br>
	Контур надо раскрасить точно так же, как раскрашен образец.
</p>
<div style="width: 960px; height: 318px; padding-top: 6px;">	
	<div style="width: 315px; height: 318px; float: left; margin: 0 0 0 82px;">
		<div style="width: 315px; height: 302px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/butterfly1.jpg" width="100%" height="100%" alt="Бабочка">
		</div>		
	</div>	
	<div style="width: 430px; height: 318px; float: right; margin: 0 56px 0 0;">
		<div class="image-shadow-0" style="width: 430px; height: 306px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/butterfly.jpg" width="100%" height="100%" alt="Бабочка над водой">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>	
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 22px 0 32px 25px;">
	Задание совсем не утомительное и не трудное. Разница лишь в том, что на наших занятиях<br>
	раскрашивают не бабочку, а слова или целые предложения, которые лежат справа, в<br>
	соответствии с образцом, который лежит слева. Причём раскрашивать надо в быстром темпе –<br>
	десять предложений за тридцать секунд. Задача – научиться идентифицировать любой<br>
	лингвистический образ: причастный или деепричастный оборот, придаточное или<br>
	сложносочинённое предложение.
</p>
<div style="padding-top: 29px; height: 520px;">
	<div style="width: 412px; height: 520px; margin: 0 auto;">
		<div style="width: 412px; height: 470px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/cat.jpg" width="100%" height="100%" alt="Мальчик у доски">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 15px;">
			Идентификация
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 22px 0 22px 25px;">
	На то, чтобы научить человека правильно распознавать, скажем, деепричастный оборот,<br>
	причём в любом, совершенно незнакомом тексте, требуется в общей сложности минут<br>
	десять такого тренинга. Потом начинается наработка практики. Сколько предложений на<br>
	одно правило можно разобрать за урок в школе? Пять-шесть. Мы «прокручиваем» до ста, а<br>
	то и более, в самых разнообразных вариантах. Знания становятся умениями.
</p>
<div style="width: 960px; height: 520px; padding: 0 0 8px 0;">	
	<div style="width: 520px; height: 520px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Следующая задача – сделать их навыками,<br>
			привычкой. За двенадцать занятий мы проживаем<br>
			большую жизнь, равную пяти-шести годам<br>
			изучения русского языка в школе. Здесь<br>
			необходимо быть чуть-чуть актёром, психологом,<br>
			человеком, который заинтересован в каждом<br>
			конкретном ребёнке.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Итак, за одно только первое занятие Вовочка<br>
			совершенно правильно разберёт штук триста<br>
			разных предложений, заработав полный карман<br>
			конфет, и, весьма удивленный, пойдёт домой<br>
			размышлять, как это у него получилось.  
		</p>	
		<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Победа! 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Упаси нас Бог сейчас делать вывод, что виноваты<br>
			во всём  школьные учителя, которые «заругали,<br>
			забили, забодали» бедного «мышонка» Вовочку,<br>
			довели его до невроза и до «врождённой<br>
			безграмотности». 
		</p>	
	</div>
	<div style="width: 350px; height: 520px; float: right; margin: 0 50px 0 0;">
		<div class="image-shadow-0" style="width: 350px; height: 447px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/verovenko.jpg" width="100%" height="100%" alt="Профессор Ольга Веровенко">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Профессор Ольга Веровенко,<br>
			автор метода <span class="tag">Врождённой грамотности</span>.<br>
			Фото с урока
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 24px 0 10px 0;">
	Учителя-«звери» и другие мифы
</p>
<div class="transdiv7" style="padding-top: 0; height: 505px;">
	<div style="width: 366px; height: 505px; margin: 0 auto;">
		<div style="width: 366px; height: 505px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/yaga.jpg" width="100%" height="100%" alt="Баба-Яга">
		</div>
	</div>
</div>
<div style="height: 0; position:relative; z-index: 1;">
	<div style="width: 366px; height: 0; margin: 0 auto; position:relative; z-index: 1; padding-top: 1px;">
		<div class="trans12" style="width: 366px; height: 505px; margin: -505px 0 0 0; position:relative; z-index: 3; background-color: white; background-size: cover;">
		</div>	
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 15px 0 22px 25px;">
	Можете ли вы представить себе школьного учителя, идущего утром в класс с мыслью: «Объясню-<br>
	ка я сегодня новую тему так, чтобы никто ничего не понял. А потом как начну орать, как начну<br>
	орать…»?
</p>
<div style="width: 960px; height: 423px; padding: 0 0 0 0;">	
	<div style="width: 470px; height: 423px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Думается, что такой учитель в природе<br>
			встречается не чаще, чем Баба-Яга и Кощей.<br>
			И когда на первом собеседовании мы слышим<br>
			жалобы на учителя-«зверя», то относимся к<br>
			этим заявлениям весьма осторожно.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			У любого школьного учителя в классе есть<br>
			отличники и хорошисты, троечники и<br>
			несколько человек с «хронической двойкой».<br>
			Заявления, что «те» – любимчики, а к<br>
			«нашему» просто придираются, легко<br>
			проверить: для этого у нас существует<br>
			тестирование.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			И когда оказывается, что школьник, которому<br>
			«зверь» ставит одни тройки, на самом деле и<br>
			на двойку-то не тянет, мы просим родителей<br>
			проявить объективность.
		</p>	
	</div>
	<div style="width: 459px; height: 423px; float: right; margin: 0 3px 0 0;">
		<div class="image-shadow-0" style="width: 459px; height: 311px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/verovenko1.jpg" width="100%" height="100%" alt="Обсуждение новой методики">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 11px 0 0 0; line-height: 16px;">
			Мы – не звери!<br>
			Актёр МХАТ профессор Борис Николаевич Борисов<br>
			и Ольга Олеговна обсуждают новую методику.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 11px 0 22px 25px;">
	Школьный учитель здесь ни при чём. Данный конкретный школьник испытывает специфические<br>
	трудности в освоении чтения, письма или иностранного языка, каких нет у его одноклассников.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 51px 0 42px 0;">
	Грамотность – это здоровье!
</p>
<div style="width: 960px; height: 466px; padding: 0 0 0 0;">	
	<div style="width: 530px; height: 466px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			«Врождённая грамотность» есть не что иное, как<br>
			способность к идентификации лингвистической<br>
			информации. Подчеркнём этот момент ещё раз:<br>
			любой здоровый человек обладает врождённой<br>
			грамотностью – то есть способностью писать без<br>
			ошибок, имея весьма смутное представление о<br>
			правилах грамматики. Любой здоровый человек<br>
			способен легко и быстро овладеть иностранным<br>
			языком на уровне свободного общения, причём без<br>
			утомительной зубрежки, выписывания карточек со<br>
			словами, без гипноза во сне и т.д. Но подчеркнём<br>
			ещё раз: здоровый. О причинах же нездоровья –<br>
			отсутствии этой самой «врождённой грамотности» –<br>
			мы уже говорили выше.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Какой бы ни была причина заболевания –<br>
			органической (дислексия), приобретённой<br>
			(ридингфобия, «школьный» невроз) – следствие<br>
			одно: повреждения или ослабленность<br>
			идентификационных каналов головного мозга.
		</p>	
	</div>
	<div style="width: 372px; height: 466px; float: right; margin: 0 32px 0 0;">
		<div class="image-shadow-0" style="width: 372px; height: 450px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/girl9.jpg" width="100%" height="100%" alt="Девочка с книжкой">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 67px 0 33px 0;">
	Мы и каналы копать умеем
</p>
<div style="width: 960px; height: 415px; padding: 17px 0 23px 0;">	
	<div style="width: 280px; height: 415px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow-0" style="width: 280px; height: 357px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy5.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1" style="width: 140px; background-position: -175px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 140px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 617px; height: 415px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Итак, речевой центр не получает информацию в полном<br>
			объёме: проводящий канал болен или ослаблен. И тогда слово<br>
			и образ живут как бы отдельно. Называется это<br>
			«ассоциативной слепотой». Человек читает слово «ручей», а<br>
			образ ручья в голове не возникает.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Здоровый человек, читая книгу, как будто смотрит<br>
			стереофильм: он чувствует запахи, слышит звуки, перед ним<br>
			возникает красочный видеоряд. Он получает удовольствие от<br>
			чтения, причём иногда гораздо большее, чем от просмотра<br>
			фильма.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Человек с ослабленной идентификацией удовольствия от<br>
			чтения не получает. Он может механически прочитать газету и<br>
			узнать новости. То есть ему под силу освоить<br>
			информационный пласт текста, но не художественный – тот<br>
			для него пуст.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Что же делать, если идентификационный канал не работает? Копать новый!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Академик Лурия работал во время войны с ранеными, у которых из-за повреждения головного<br>
	мозга идентификация (причём не лингвистическая, а самая обычная – распознавание<br>
	предметов и образов) либо вовсе пропадала, либо притуплялась; ему удавалось найти способы<br>
	заставить повреждённый мозг воспринимать необходимую информацию в обход поражённых<br>
	нейронов с помощью других каналов, которым под силу компенсировать потерю.
</p>
<a name="kovaleva"></a>
<div style="width: 960px; height: 772px; padding: 5px 0 0 0;">	
	<div style="width: 550px; height: 772px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			По какому же каналу можно пропустить<br>
			лингвистическую информацию? Один из таких<br>
			каналов – эмоционально-чувственный.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Повторите быстро: «Шла Саша по шоссе и сосала<br>
			сушку». Не сможете, пока вам не помогут образы.<br>
			Сыграйте эту Сашу, чтоб запомнилась. Пусть с<br>
			переигрыванием. Противная такая, конопатая<br>
			девчонка Саша идет по шоссе в грязном ситцевом<br>
			платье, да ещё причмокивая, пуская слюни, сосёт<br>
			сушку… 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Только представьте это, изобразите – и оно начинает<br>
			читаться и «скороговориться».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Итак, представить и подумать, что же ты читаешь, –<br>
			вот путь к победе над «врождённой<br>
			безграмотностью». Восстановить взаимосвязь между<br>
			словом и образом – это уровень первый, первый шаг.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Второй же уровень – связь между жестом, образом и<br>
			словом.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Вы спросите: какое отношение имеют наши жесты к<br>
			грамотному письму? Самое непосредственное. Наши<br>
			жесты – тоже речь, так называемая невербальная, в<br>
			отличие от устной, вербальной. Невербальная речь<br>
			необыкновенно важна в нашей жизни. Примерно 90%<br>
			информации мы передаем с её помощью – на языке<br>
			жестов, взглядов, даже походки, мимики. И лишь<br>
			10% остается на речь устную. Невербальной речи нас<br>
			никто не учил специально: мы овладели ею ещё в<br>
			раннем детстве с помощью той же идентификации.
		</p>	
	</div>
	<div style="width: 363px; height: 772px; float: right; margin: 0 21px 0 0;">
		<div class="image-shadow-0" style="width: 363px; height: 587px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/kovaleva.jpg" width="100%" height="100%" alt="Наталья Леонидовна Ковалёва">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 33px 0 0 0; line-height: 16px;">
			Заслуженная артистка России<br>
			Наталья Леонидовна Ковалёва –<br>
			бессменная Маргарита с «Таганки».<br>
			Наш педагог по речи и актёрскому мастерству.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 4px 0 22px 25px;">
	Заметьте, эта речь универсальна: практически всё человечество говорит на одном языке. Мы<br>
	одинаково хорошо понимаем выражение удивления или грусти, растерянности или радости на<br>
	лице итальянца и англичанина, немца и турка.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Если нарисовать наш речевой центр в виде пирамиды, то внизу, в широком её основании, будет<br>
	лежать невербальная речь. На неё опирается речь устная. И только самую верхушку, причём<br>
	размером с точку, займёт речь письменная.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	А теперь представьте, что будет, если у этой пирамиды разрушить фундамент… Рухнет всё<br>
	сооружение!
</p>
<div style="padding-top: 9px; height: 550px;">
	<div style="width: 360px; height: 550px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 360px; height: 504px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/pyramid.jpg" width="100%" height="100%" alt="Пирамида">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 15px;">
			Пирамида
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 39px 0 22px 25px;">
	Таким образом, недостаточная развитость невербальной речи ведёт к ущербности в речи устной<br>
	и письменной.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Каким же образом происходит разрушение этого «фундамента»? Вспомните раннее своё детство<br>
	и окрики: «Не вертись! Не бегай! Сиди смирно!». В более старшем возрасте за плохую отметку в<br>
	школе: «Урод! Чучело гороховое! Образина!» Удар, направленный на внешность, бьёт ребёнка<br>
	особенно больно и может привести к дисморфофобии – сильному неврозу, когда человек уверен<br>
	в своей некрасивости, неуклюжести, а следовательно, в том, что недостоин ни любви, ни<br>
	дружбы, ни уважения… Корни – в раннем детстве.
</p>
<div style="width: 960px; height: 381px; padding: 3px 0 0 0;">	
	<div style="width: 450px; height: 381px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Подросток с угнетённой невербальной речью<br>
			как бы «зажат», порой угрюм, замкнут в<br>
			себе, не умеет спокойно доказать свою<br>
			правоту, а только огрызается или плачет,<br>
			часто бывает излишне застенчив, иногда<br>
			болезненно застенчив, у него могут<br>
			возникать проблемы в общении со<br>
			сверстниками.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Грамотность в данном случае невозможно<br>
			поставить до тех пор, пока не будет<br>
			полностью восстановлен «фундамент» –<br>
			лёгкая и непринуждённая манера держаться<br>
			и разговаривать, красивая невербальная<br>
			речь, которая была дана от природы, но<br>
			потом безжалостно исковеркана.
		</p>	
	</div>
	<div style="width: 441px; height: 381px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow" style="width: 441px; height: 365px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/podrostok.jpg" width="100%" height="100%" alt="Подросток с книжкой">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 63px 0 45px 0;">
	Мы все полиглоты
</p>
<a name="kirsh"></a>
<div style="width: 960px; height: 600px; padding: 6px 0 8px 0;">	
	<div style="width: 595px; height: 600px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Здоровый ребёнок лет пяти-шести овладевает<br>
			иностранным языком с необычайной скоростью, причём<br>
			говорит без малейшего акцента. Этот ребёнок не зубрит<br>
			часами новые слова, не выписывает их на карточки, не<br>
			учит грамматических правил. Ему достаточно играть со<br>
			сверстниками – носителями этого языка.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Так работают его идентификационные каналы – заметьте,<br>
			у всякого здорового ребёнка, а не только талантливого.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Почему же с годами эта способность к восприятию<br>
			иностранных языков исчезает у большинства из нас,<br>
			откуда берутся взрослые, «ну совершенно неспособные»<br>
			произнести хоть пару фраз на чужом языке? 
		</p>	
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Очевидно, что идентификационные каналы, ранее<br>
			работавшие «как часы», под влиянием каких-то причин<br>
			закрылись. Не будем подробно разбирать эти причины –<br>
			мы уже в достаточной мере коснулись этой темы ранее.<br>
			Механизм идентификации иностранных языков несколько<br>
			отличается от родного, но основные принципы остаются<br>
			прежними. Так что примем за факт: способность к<br>
			быстрому усвоению иностранных языков у большинства<br>
			взрослых отсутствует. Была – и нет. К счастью, такое<br>
			происходит не со всеми, есть люди, которых мы называем<br>
			полиглотами. 
		</p>	
	</div>
	<div style="width: 325px; height: 600px; float: right; margin: 0 10px 0 0;">
		<div class="image-shadow-0" style="width: 325px; height: 466px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/kirsh.jpg" width="100%" height="100%" alt="Елена Анатольевна Кирш">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Преподаватель английского языка<br>
			Елена Анатольевна Кирш.<br>
			Роскошный педагог.
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 9px 0 22px 25px;">
	Они владеют множеством языков, усваивая новые так же легко и быстро, как в раннем детстве.<br>
	И людей таких немало. Следовательно, исчезновение способностей к языкам не является<br>
	непременным условием взросления.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Если так, то можно ли каким-то образом восстановить нормальную работу идентификационных<br>
	каналов, «заведующих» восприятием иностранных языков?
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Да! Эти способности восстановимы!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 62px 0 31px 0;">
	Родной язык – мыслеформа?
</p>
<a name="karahanov"></a>
<div style="width: 960px; height: 600px; padding: 17px 0 23px 0;">	
	<div style="width: 422px; height: 600px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow-0" style="width: 422px; height: 514px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/karahanov1.jpg" width="100%" height="100%" alt="Павел Гамлетович Караханов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 16px;">
			Наш педагог Павел Гамлетович Караханов<br>
			руководил подготовкой переводчиков-синхронистов<br>
			на Олимпиаде в Сочи.
		</p>
	</div>
	<div style="width: 493px; height: 600px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			На каком языке мы с вами думаем? Ни на каком.<br>
			Мышление идёт на основе мыслеобразов,<br>
			которые вообще не имеют никакой речевой<br>
			формы.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Но ведь мы, думая, себя слышим! Да, и то, что<br>
			мы слышим, называется «внутренней речью». И<br>
			звучит она на том языке, который данный<br>
			человек считает родным или которым владеет в<br>
			совершенстве. Но внутренняя речь – это не<br>
			мыслеобраз. Это всего лишь внешняя<br>
			«оболочка» мысли, её форма. Таким образом,<br>
			можно сказать, что всё человечество думает на<br>
			одном языке – на «языке» мыслеобразов.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Задачу раскрепощения идентификационного<br>
			канала выполнить можно, если сформулировать<br>
			её так: надо научить наш мозг<br>
			идентифицировать готовый, уже имеющийся<br>
			мыслеобраз, сложившийся давным-давно, с<br>
			новым иностранным словом, с его звуком, с его<br>
			начертанием.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Очень быстро наш мозг «самообучается» это<br>
			понимать. Итак, наша задача – сначала научить<br>
			по-английски думать, а потом уже говорить.<br>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 31px 0 21px 0;">
	Кто первым расправит крылья
</p>
<div style="width: 960px; height: 322px; padding: 36px 0 45px 0;">	
	<div style="width: 550px; height: 322px; float: left; margin: 0 0 0 7px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			В этой публикации я старалась объяснить суть и<br>
			принципы действия изобретения под названием<br>
			«Способ идентификации объектов», более известного<br>
			как метод «Врождённой грамотности».
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Но есть ещё главное – то, что не входит, к сожалению,<br>
			в описание формул изобретения, но именно оно<br>
			определяет успех любого дела. То, без чего все самые<br>
			лучшие методики и изобретения мертвы. Это Человек.<br>
			Учитель.
		</p>		
	</div>
	<div style="width: 380px; height: 322px; float: right; margin: 0 23px 0 0;">
		<div class="image-shadow-0" style="width: 380px; height: 282px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/children.jpg" width="100%" height="100%" alt="Дети на уроке">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Фото с урока
		</p>
	</div>
</div>
<a name="kozlov"></a>
<p class="yellow size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 10px;">
	Из дневника Павла Леонидовича Козлова, нашего преподавателя литературы: 
</p>
<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 14px 10px;">
	Только глупцы считают, что детей можно провести. Достаточно единственного промаха, одного<br>
	неверного жеста, невнятного слова – и они уходят в себя, как черепашки под панцирь. После<br>
	этого можно делать что угодно: взрывать петарды, рассыпать конфетти, вытаскивать из карманов<br>
	пиджака белых кроликов...
</p>
<div style="width: 960px; height: 301px; padding: 0 0 34px 0;">	
	<div style="width: 475px; height: 301px; float: left; margin: 0 0 0 10px;">
		<div class="image-shadow-0" style="width: 475px; height: 285px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/boy9.jpg" width="100%" height="100%" alt="Мальчик в поле">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 453px; height: 301px; float: right;">
		<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Всё напрасно.
		</p>
		<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Они будут прилежно выполнять все твои<br>
			предписания, из урока в урок повышать<br>
			грамотность, тщательно проверять свои<br>
			диктанты, словом, будут и впредь соблюдать<br>
			«правила игры», затеянной, как утверждают<br>
			взрослые, для их же блага.
		</p>
		<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Они вырастут, окончат вузы, но ещё раньше<br>
			они постареют. Они всегда будут внимательно<br>
			смотреть себе под ноги, но им не придёт в<br>
			голову взглянуть вверх, на небо.
		</p>
	</div>
</div> 
<p class="yellow size-24 bold center font-verdana line-height-23" style="margin: 0 0 22px 18px;">
	Пусть расправят крылья. Я – тот, кто учит летать...
</p>
<div style="padding-top: 33px; height: 730px;">
	<div style="width: 483px; height: 730px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 483px; height: 636px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/kozlov.jpg" width="100%" height="100%" alt="Павел Леонидович Козлов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="yellow size-18 font-verdana center" style="margin: 23px 0 0 0; line-height: 20px;">
			<span class="bold">Тот, кто учит летать.</span>
			<a href="[exec] include get_template_directory().'/links.php'; echo $safari; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="grey font-arial">Педагог Павел Леонидович Козлов.</span></a>
			<span class="dark-blue size-14 bold font-arial">(С обложки буклета)</span>
		</p>
	</div>
</div>
<p class="yellow bold size-36 font-verdana center" style="margin: 53px 0 66px 0;">
	Приглашаем и Вас!
</p>
<p class="red size-30 bold font-verdana center" style="margin: 43px 0 38px 0;">
	Рождественские скидки до 75%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 27px;">
	Такие скидки получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает ответы на все основные вопросы. Всё подробно и ярко изложено в наших статьях.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 79px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]