		<div id="load-video11" style="width: 356px; height: 200px;">
			<video style="margin: 0 0 0 0;" width="356" height="200" autoplay loop>
		 		<source src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/znak.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/znak.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="356" height="200" src="//www.youtube.com/embed/HBY97SZsiVw?autoplay=1&amp;loop=1&amp;playlist=HBY97SZsiVw&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		  	</video>
		</div>