<h2 class="heading green" style="font-size: 23px; margin: -11px 0 12px 0;">За гранью возможного</h2>
<div class="trans17" style="opacity: 0;">
	<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 19px 570px;">
		Профессор Ольга Веровенко,<br>
		автор метода <span class="tag">Врождённой грамотности</span>
	</p>
</div>
<p class="light-blue bold size-36 font-verdana center" style="line-height: 49px; margin: 37px 0 0 0;">
	У кого есть глупо дитятко?<br>
</p>
<div style="height: 0; margin: 0 auto;">
	<div class="trans14" style="height: 50px; width: 600px; margin: -40px 0 0 200px; z-index: 5; position: relative; background-color: #FFFFFF;">
	</div>
</div>
<div style="padding: 40px 0 35px 0; height: 48px">
	<div class="trans13" style="opacity: 0; margin: -300px -900px 0 0; z-index: 6; position: relative;">
		<p class="light-blue bold size-36 font-verdana center">
    		<span style="margin-left: 395px">У кого их только нет... </span>
		</p>
	</div>
</div>
<p class="size-18 font-verdana center line-height-23" style="margin: 21px 0 100px 0; color: #A98700;">
	Статья публиковалась в газете "Аргументы и факты"
</p>
<div style="height: 0; margin: 0 auto; padding: 0 0 30px 0;">
	<div class="trans15" style="height: 35px; width: 600px; margin: -130px 0 0 200px; z-index: 5; position: relative; background-color: #FFFFFF;">
	</div>
</div>
<div class="trans16" style="opacity: 0;">
	<p class="size-18 font-verdana line-height-23" style="margin: 27px 0 26px 86px; color: #A98700;">
		О дисграфии, дислексии, <span class="tag">школьном</span> неврозе, трудностях обучения, поведения<br>
		и о том, как это всё преодолеть. Полезные советы и реальная помощь.
	</p>
</div>
<div style="width: 960px; height: 330px; padding: 28px 0 32px 0;">	
	<div style="width: 210px; height: 330px; float: left; margin: 0 0 0 24px;">
		<div class="image-shadow" style="width: 210px; height: 288px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/boy.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1" style="width: 105px; background-position: -210px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 105px;">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 0 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 686px; height: 280px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Ваш ребёнок – хороший человечек, пятёрочник по физике, математике, истории, чему<br>
			угодно, кроме русского языка. Ну не	может он писать без ошибок!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Вот с такой проблемой приходят к нам на курсы «Врождённой грамотности».
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Мы берём за основу существующий в реальной жизни феномен – врождённую<br>
			грамотность.
		</p>
	</div>
</div>
<div style="width: 960px; height: 300px; padding: 0 0 0 0;">	
	<div style="width: 360px; height: 300px; float: left; margin: 0 0 0 24px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Речь идёт о людях, зачастую весьма<br>
			поверхностно знающих правила, но тем не<br>
			менее практически не делающих ошибок при<br>
			письме.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Они обладают врождённой	грамотностью.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Что же это за феномен такой?
		</p>	
	</div>
	<div style="width: 534px; height: 370px; float: right; margin: -122px 37px 0 0;">
		<div class="image-shadow" style="width: 534px; height: 321px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/wall.jpg" width="100%" height="100%" alt="Грамотность. Китайская стена?..">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 13px 0 0 0; line-height: 16px;">
			Грамотность. Китайская стена?..
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 14px 0 14px 0; line-height: 34px;">
	Загадочный феномен
</p>
<div style="width: 960px; height: 422px; padding: 0 0 32px 0;">	
	<div id="hide1" style="width: 351px; height: 422px; float: left; margin: 0 0 0 98px; opacity: 0;">
		<div style="width: 351px; height: 422px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/shadow.jpg" width="100%" height="100%" alt="Тень">
		</div>
	</div>
	<div style="width: 419px; height: 422px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 95px 0 21px 0; line-height: 22px;">
			Стоит подойти к этому явлению с	точки зрения<br>
			нейролингвистики, и оно сразу теряет свою<br>
			загадочность.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Каким-то образом мозг человека,	обладающего<br>
			врождённой грамотностью, «самообучился»<br>
			писать правильно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Ещё раз обратим внимание: вся эта работа<br>
			«мозга-компьютера» идёт	<span class="bold">помимо изложенных<br>
			в учебнике правил.</span>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 67px 0 45px 0; line-height: 34px;">
	А как же правила?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 25px 47px; line-height: 22px;">
	Давайте посмотрим, как нас пытаются научить грамотности в школе. Школьник получает задание: решить, как написать<br>
	слово «кошеный»  –  с одним «н» или двумя? Он лезет в учебник и там читает:
</p>
<div class="trans" style="width: 960px; height: 335px; padding: 0 0 32px 0;">	
	<div style="width: 446px; height: 335px; float: left; margin: 0 0 0 47px;">
		<div class="trans1" style="width: 446px; height: 335px; opacity: 0; margin: 0 0 0 700px; position: relative; z-index: 1;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/cat2.jpg" width="100%" height="100%" alt="Кошка">
		</div>
	</div>
	<div style="width: 460px; height: 335px; float: right; position: relative; z-index: 2;">
		<p class="dark-blue size-14 font-verdana" style="margin: 33px 0 21px 0; line-height: 22px;">
			«В полных формах страдательных причастий<br>
			прошедшего времени,	образованных от глаголов<br>
			совершенного вида, как приставочных, так и<br>
			бесприставочных, пишется два «н», а с одним «н» в<br>
			виде исключения пишутся	полностью утратившие<br>
			связь с причастиями отглагольные, образованные от<br>
			совершенного вида прилагательные».
		</p>
	</div>
</div>
<div style="width: 960px; height: 518px; padding: 31px 0 0 0;">	
	<div style="width: 527px; height: 518px; float: left; margin: 0 0 0 47px; position: relative; z-index: 2;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			На языке программирования это называется избыточной<br>
			информацией. Не потому, что её много, а потому, что она совершенно<br>
			не отвечает на поставленный вопрос. С таким же<br>
			успехом на простой вопрос о слове «кошеный» можно дать ответ: на<br>
			улице с утра дождик.<br>
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Эта информация называется высокоэнтропийной	(энтропия – это мера<br>
			неопределённости в информатике), потому что требует оперирования<br>
			одновременно такими понятиями, как:
		</p>
		<p style="margin: 0 0 22px 0;">
			<ul class="grey font-verdana" style="margin: 0 0 44px 25px; font-size: 13px; line-height: 22px;">
				<li><span class="dark-blue size-14">причастие;</span></li>
				<li><span class="dark-blue size-14">полная форма причастия;</span></li>
				<li><span class="dark-blue size-14">прошедшее время;</span></li>
				<li><span class="dark-blue size-14">страдательное причастие;</span></li>
				<li><span class="dark-blue size-14">совершенный вид;</span></li>
				<li><span class="dark-blue size-14">приставочные и бесприставочные причастия;</span></li>
				<li><span class="dark-blue size-14">приставка;</span></li>
				<li><span class="dark-blue size-14">прилагательное;</span></li>
				<li><span class="dark-blue size-14">отглагольные прилагательные;</span></li>
				<li><span class="dark-blue size-14">отглагольные прилагательные, утратившие связь с причастиями.</span></li>
			</ul>
		</p>	
	</div>
	<div style="width: 377px; height: 518px; float: right; margin: 0 9px 0 0;">
		<div id="rotateimg4" style="width: 126px; height: 134px; opacity: 0; margin: 0 auto; position: relative; z-index: 1;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/kolobok.jpg" width="100%" height="100%" alt="Колобок">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	Такой объём информации молниеносно (а навык грамотного письма требует молниеносности) человеческий мозг<br>
	обработать не в состоянии. 
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	Но главное противоречие вот в чём: школьный курс апеллирует к сознанию ребёнка, а грамотность, являясь<br>
	навыком, лежит в области бессознательного, как и всякий	автоматический навык. 
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	И, как всякий навык, нуждается в тренировке, а нам этот навык никогда не ставили и не тренировали. Ведь, по<br>
	сути, в школе мы учим теорию языка.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	Вспомните: глаголы бывают возвратные и невозвратные, переходные и непереходные,	склонения бывают первое,<br>
	второе и третье – много ли навыков вы почерпнули из этого теоретического багажа? 
</p>
<div style="width: 960px; height: 480px; padding: 57px 0 35px 0;">	
	<div style="width: 339px; height: 480px; float: left; margin: 0 0 0 47px;">
		<div class="image-shadow" style="width: 339px; height: 438px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/boy1.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 505px; height: 480px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: -7px 0 42px 0; line-height: 22px;">
			Чтобы не оставлять вопрос о правописании слова «кошеный»<br>
			открытым, забегу несколько вперёд и	приведу пример из метода<br>
			«Врождённой	грамотности». Вот вам табличка:
		</p>
		<div style="width: 249px; float:left; text-align: right;">
			<p class="dark-blue size-14 font-verdana" style="margin: 0 23px 42px 0; line-height: 22px;">
				золочёный<br>
				крашеный<br>
				раненый
			</p>
		</div>
		<div style="width: 256px; float:right; text-align: left;">
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 2px; line-height: 22px;">
				позолоченный<br>
				выкрашенный<br>
				израненный
			</p>
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Рассмотрите её внимательно. В какой столбик вам	хочется отнести<br>
			слово «кошеный»?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Доверьтесь своему подсознанию, тому, что вы	называете<br>
			интуицией, и ваша рука сама отнесёт его	в левый ряд. А теперь<br>
			предложите это задание вашему «нерадивому чаду».
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Результат известен заранее – он выполнит задание правильно. 
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 24px; line-height: 22px;">
	Мы с вами автоматически водим машину, ходим (а не контролируем сознательно свою походку: поставь ногу так, поставь её<br>
	этак). Пишем мы тоже автоматически: мы думаем о том, что мы пишем, а не о том, как мы это делаем. Как написать –<br>
	решает наше подсознание. 
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 68px 0 61px 0; line-height: 34px;">
	Любезное подсознание
</p>
<a name="agafonova"></a>
<div style="width: 960px; height: 523px; padding: 0 0 2px 0;">	
	<div style="width: 410px; height: 523px; float: left; margin: 0 0 0 24px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -6px 0 21px 0; line-height: 22px;">
			Представьте, что вы отправились в далёкую<br>
			незнакомую страну.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Сойдя с трапа самолёта, вы увидели бабочку,<br>
			дерево, куст совершенно необычных, непривычных<br>
			очертаний. Но вы сразу определили, что это именно<br>
			бабочка, дерево, куст, а не что-либо другое. Даже<br>
			если бабочка была круглой, дерево квадратным, а<br>
			куст рос корнями вверх.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Вы скажете: ничего удивительного, нам<br>
			приходилось раньше видеть много	разных бабочек<br>
			и деревьев, и мы можем предположить, что они<br>
			могут быть и такими вот… необычными.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Секундочку! Но ведь эти конкретные бабочку,<br>
			дерево, куст вы видите первый раз в жизни. Вам их<br>
			просто не с	чем сравнивать!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			На помощь пришла способность вашего мозга к<br>
			идентификации, то есть способность узнавать<br>
			привычный образ даже в самых необычных его<br>
			очертаниях.
		</p>	
	</div>
	<div style="width: 494px; height: 523px; float: right; margin: 0 28px 0 0;">
		<div class="image-shadow" style="width: 494px; height: 372px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/agafonova.jpg" width="100%" height="100%" alt="Татьяна Ивановна Агафонова">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Обаятельнейшая Татьяна Ивановна Агафонова,<br>
			преподаватель русского языка.<br>
			Грамотность её выпускников безупречна.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 59px 0 19px 0; line-height: 34px;">
	Ключ к грамотности – в подсознании
</p>
<div style="width: 960px; height: 640px; padding: 29px 0 0 0;">	
	<div style="width: 421px; height: 640px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow" style="width: 421px; height: 485px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/street.jpg" width="100%" height="100%" alt="Улица">
		</div>
		<div class="image-shadow-right-1">
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 21px 0 0 0; line-height: 16px;">
			Да, действительно, это улица, хотя и необычная.<br>
			Но как вы её распознали? Ведь вы видите её впервые!
		</p>
	</div>
	<div style="width: 457px; height: 640px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
			Наше сознание медлительно, подсознание работает<br>
			молниеносно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 21px;">
			Простой пример: вы идёте по улице в толпе, и вдруг<br>
			какой-то внутренний толчок заставляет вас остановиться.<br>
			О! Да это же знакомое лицо – человек, которого вы не<br>
			видели много лет. Вы забыли его имя, и ваше сознание<br>
			сейчас мучительно перебирает «файлы» – кто же это,<br>
			кто?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 21px;">
			Сознанию требуется несколько секунд, а то и минут,<br>
			чтобы идентифицировать этого человека.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Подсознание же сделало эту работу молниеносно,<br>
			сообщив вам внутренний толчок, после чего вы<br>
			остановились посреди улицы.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Правда, вспомнить имя подсознание не может – ему<br>
			«нечем»: языковая информация (название образов)<br>
			принадлежит сознанию.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Ну, а как же срабатывает идентификация на уровне<br>
			лингвистической информации?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Читая любые грамотно написанные тексты – книги,<br>
			газеты, журналы – человек усваивает не только<br>
			содержание, но и одновременно информацию о<br>
			структуре языка, причём происходит это на<br>
			подсознательном уровне.
		</p>
	</div>
</div>
<div style="width: 960px; height: 340px; padding: 22px 0 0 0;">	
	<div style="width: 196px; height: 340px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow" style="width: 196px; height: 286px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/girl2.jpg" width="100%" height="100%" alt="Ученица">
		</div>
		<div class="image-shadow-right-1" style="width: 98px; background-position: -215px 0px;">
		</div>
		<div class="image-shadow-left-1" style="width: 98px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 699px; height: 311px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Мозг человека структурирует (или кодирует) языковую информацию как бы в отдельной<br>
			директории, где она хранится до нужного момента и при необходимости выплывает<br>
			молниеносно. Но так работает только мозг человека, обладающего врождённой<br>
			грамотностью.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Его восприятие скорее физиологическое, на уровне не передаваемых словами ощущений.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Этот человек пишет текст и, дойдя до места, где надо ставить знак препинания, вдруг<br>
			начинает испытывать некие ощущения, похожие на тот самый внутренний толчок, который<br>
			вы испытываете, встретив на улице знакомого.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Это сработало подсознание, идентифицировав знакомую лингвистическую конструкцию. И<br>
			человек уверенно ставит запятую, или тире, или двоеточие.
		</p>
	</div>
</div>
<div style="width: 960px; height: 485px; padding: 28px 0 41px 0;">	
	<div style="width: 520px; height: 485px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -6px 0 21px 0; line-height: 22px;">
			Объяснить же, почему он ставит этот знак и вообще как эта<br>
			конструкция называется, человек не может, потому что это<br>
			функция сознания, а в его сознании этой информации сроду не<br>
			было – правил он не учил.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Можно сказать так: врождённая грамотность – это способность<br>
			мозга к самопрограммированию подсознания. На чём же<br>
			основана такая способность? На идентификации.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Любое здоровое существо рождается со способностью к<br>
			идентификации – к сличению и распознаванию предметов и<br>
			образов. Это умеют делать люди, рыбы, птицы и даже вирусы.<br>
			Всё, что живёт, обладает способностью к идентификации.
		</p>
		<p class="yellow bold size-24 font-verdana center" style="margin: 63px 35px 0 0; line-height: 30px;">
			Ваш ребёнок умничка хотя бы<br>
			потому, что родился с этой<br>
			способностью.
		</p>		
	</div>
	<div style="width: 367px; height: 485px; float: right; margin: 0 40px 0 0;">
		<div class="image-shadow" style="width: 367px; height: 434px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/boy2.jpg" width="100%" height="100%" alt="Ребёнок">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Ваш ребёнок – умничка от рождения!
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 39px 0 51px 0; line-height: 34px;">
	Мы что, глупее вирусов?
</p>
<div style="width: 960px; height: 440px; padding: 10px 0 8px 0;">	
	<div style="width: 590px; height: 440px; float: left; margin: 0 0 0 20px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -6px 0 21px 0; line-height: 22px;">
			По идее, мы все должны обладать природной, врождённой грамотностью.<br>
			Почему же у некоторых людей она не срабатывает, откуда берётся<br>
			«врождённая	безграмотность»? Одна из причин – дислексия.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Если ваш ребёнок вместо слова «лицо» пишет «лейдцо», следует подумать о<br>
			возможности этого заболевания.<br>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Дислексия поддается коррекции с большим трудом, и требуются огромные<br>
			совместные усилия со стороны не	только педагогов, но и родителей, и самого<br>
			учащегося.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			К счастью, дислексия встречается крайне редко. Вы спросите: а почему же<br>
			тогда так много двоечников по русскому языку?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Почему у многих людей, обладающих врождённой грамотностью, она так себе,<br>
			на троечку?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Дело в том, что у этих людей врождённая грамотность находится<br>
			в латентном (скрытом) состоянии и в силу различных причин так и не смогла<br>
			раскрыться.
		</p>		
	</div>
	<div style="width: 321px; height: 440px; float: right; margin: 0 24px 0 0;">
		<div class="image-shadow" style="width: 321px; height: 391px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/girl3.jpg" width="100%" height="100%" alt="Девочка в очках">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 21px 0 0 0; line-height: 16px;">
			Фото с урока
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 4px 0 21px 20px; line-height: 22px;">
	Мозг (в определённом смысле) можно сравнить с компьютером. Так вот, задача метода «врождённой грамотности» состоит<br>
	в том, чтобы отладить в этом компьютере программу, которая поможет вывести из латентного состояния заложенные в нас<br>
	самой природой способности.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 58px 0 26px 0; line-height: 34px;">
	Пожалейте Вовочку
</p>
<div style="width: 960px; height: 315px; padding: 17px 0 0 0;">	
	<div style="width: 196px; height: 315px; float: left; margin: 0 0 0 16px;">
		<div class="image-shadow" style="width: 196px; height: 249px; margin: 40px 0 0 0;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/boy3.jpg" width="100%" height="100%" alt="Мальчик Вовочка">
		</div>
		<div class="image-shadow-right-1" style="width: 98px; background-position: -215px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 98px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 714px; height: 315px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Чтобы выяснить, как развивается тяжёлый невроз, учёные взяли мышку и посадили её в<br>
			клетку.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			В пол одного из углов этой клетки была вделана металлическая пластина, и если мышка<br>
			нечаянно наступала на пластину,	её било током.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Довольно быстро мышка соображала, в какой угол ходить не следует.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Когда с помощью специальной дощечки мышку начали подталкивать в	роковой угол, у неё<br>
			сделался сильнейший нервный припадок, который учёные назвали «сшибкой».
		</p>
	</div>
</div>
<div style="width: 960px; height: 260px; padding: 39px 0 0 0;">	
	<div style="width: 420px; height: 260px; float: left; margin: 0 0 0 16px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 12px 0 21px 0; line-height: 22px;">
			А теперь представьте на месте мышки вашего<br>
			любимого Вовочку. Проблемы начались, когда ещё он<br>
			учился читать и	писать.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Чтение и письмо – едва ли не самые трудные навыки<br>
			из всех	существующих.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			И когда Вовочка, пыхтя и кряхтя, с трудом пытался<br>
			ими овладеть, нетерпеливые взрослые покрикивали:<br>
			«Скорее! Громче! Бездарь! Тупица!» Чем не<br>
			болезненный электрический укол в лапку мышки? 
		</p>	
	</div>
	<div class="transdiv1" style="width: 480px; height: 300px; float: right; margin: -125px 41px 0 0;">
		<div class="trans6" style="width: 480px; height: 300px; opacity: 0; margin: 0 0 0 500px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/mouse.jpg" width="100%" height="100%" alt="Мышка">
		</div>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="nakazanie"></a></p>
<div style="height: 460px;">
	<div style="width: 619px; height: 460px; margin: 0 auto;">
		<div style="width: 619px; height: 408px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/father.jpg" width="100%" height="100%" alt="Злой папа">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 17px 0 0 0;">
			<span class="tag">Сшибка</span>. Отрицательная обратная условная связь.
		</p>
	</div>
</div>
<div style="width: 960px; height: 550px; padding: 28px 0 33px 0;">	
	<div style="width: 620px; height: 550px; float: left; margin: 0 0 0 18px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 24px 0 21px 0; line-height: 22px;">
			У ребёнка мгновенно вырабатывалась стойкая нелюбовь к письму и чтению,<br>
			которых он и начинал избегать изо всех сил.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но тут менялся и характер ругани: «Лентяй! Двоечник! Приведи в школу<br>
			родителей!» Чем не подталкивание мышки специальной дощечкой?
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			С одной стороны, Вовочка в данной ситуации получал совершенно<br>
			невыполнимую и непосильную задачу: писать грамотно на основе<br>
			вызубренных правил. А почему это невозможно, мы подробно разбирали<br>
			выше.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			С другой стороны, отказаться выполнять эту непосильную работу Вовочка<br>
			не мог. Две противоположные мотивации пришли в столкновение. Это<br>
			«сшибка».
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Так развивается «школьный» невроз, который в некоторых случаях<br>
			перерастает в ридингфобию (страх чтения и письма).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Этот тяжёлый невроз – случай, конечно, крайний. Но вот стойкая нелюбовь<br>
			к чтению и русскому языку у приходящих к нам впервые является<br>
			поголовной, причём как у двоечников, так и у отличников. Снять эту<br>
			нелюбовь куда труднее, чем привить.
		</p>		
	</div>
	<div class="transdiv3" style="width: 290px; height: 550px; float: right; margin: 0 24px 0 0;">
		<div class="image-shadow" style="width: 290px; height: 460px; overflow: visible; padding: 0 0 0 0">
			<div class="trans8" style="width: 290px; height: 460px; overflow: visible; margin: -500px 0 0 -500px; opacity: 0;">
				<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/badboy.jpg" width="100%" height="100%" alt="Злой мальчик">
			</div>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Отвали!!!
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="stress"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 40px 0;">
	Стресс опасен для вашей грамотности
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	Стресс-гормоны разрушают организм (врачи бьют в набат: 90% выпускников школ больны). Кроме того, стресс-гормоны<br>
	мгновенно «слизывают» из нашего мозга лингвистическую информацию.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	Затяжной стресс до такой степени ослабляет идентификационные связи головного мозга, что	может возникнуть стойкая<br>
	невозможность усваивать и обрабатывать лингвистическую информацию. Резко снижается концентрация внимания.
</p>
<div style="padding-top: 23px; height: 480px;">
	<div style="width: 650px; height: 480px; margin: 0 auto;">
		<div class="image-shadow" style="width: 650px; height: 434px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/child1.jpg" width="100%" height="100%" alt="Ребёнок">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 16px;">
			Дети над пропастью
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 20px 0 21px 26px; line-height: 22px;">
	Примерно 20% впервые приходящих к нам школьников не способны концентрировать внимание на лингвистической<br>
	информации дольше 15-20 секунд. Как результат, эти учащиеся 6-11 классов совершенно не способны читать. Они могут<br>
	прочитать вслух всего десяток слов, потом начинают запинаться, потом читают совсем другие слова, а не те, что написаны.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 26px; line-height: 22px;">
	Добравшись до третьей-четвёртой строки, такой школьник останавливается совсем. Он резко бледнеет, у него сильно потеют<br>
	и дрожат руки, могут начаться судороги или сильная зевота –	признак крайнего утомления.
</p>
<div style="padding-top: 45px; height: 530px;">
	<div style="width: 575px; height: 468px; margin: 0 auto;">
		<div class="image-shadow" style="width: 575px; height: 452px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/bird.jpg" width="100%" height="100%" alt="Птичка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<p class="dark-blue size-14 font-arial bold center" style="margin: 11px 0 0 0; line-height: 15px;">
		<span class="tag">Школьный</span> невроз.<br>
		<span class="tag">Попытайся хотя бы разок без парашюта!</span> – упрашивает одна птица другую.<br>
		А ведь способность летать дана птицам от рождения, как и нам – грамотно писать.
	</p>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 20px 0 19px 26px; line-height: 22px;">
	Этих детей, прежде чем учить русскому языку, приходится сначала брать на коррекционный курс «Арт-терапии» или<br>
	«Техники речи»: ставить навыки правильного смыслового чтения, без чего невозможно грамотное письмо. И, конечно же, в<br>
	первую очередь убирать страх перед этим занятием.
</p>
<p style="margin: 0 0 0 0;"><a name="fobii"></a></p>
<div style="width: 960px; height: 540px; padding: 0 0 39px 0;">	
	<div style="width: 450px; height: 540px; float: left; margin: 0 0 0 27px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 52px 0 21px 0; line-height: 22px;">
			Если вам, взрослому и сильному,	совершенно<br>
			непонятны страхи Вовочки перед чтением и<br>
			письмом, вспомните свой страх, вернее, ужас,<br>
			когда вам нечаянно приходилось повстречаться<br>
			на лесной дороге змею (мышь, лягушку,<br>
			разбойника).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Так вот, у вашего Вовочки на чтение	и письмо<br>
			примерно такая же реакция.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Убедить Вовочку в том, что занятия чтением и<br>
			русским языком совсем не страшные, а даже<br>
			приятные, так же невозможно, как убедить вас в<br>
			том, что змея белая и пушистая.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Здесь не помогут сами по себе ни конфеты, ни<br>
			похвалы, хотя всё это мы используем.
		</p>			
	</div>
	<div class="transdiv6" style="width: 380px; height: 540px; float: right; margin: 0 62px 0 0;">
		<div style="width: 380px; height: 462px;">
			<div class="trans11" style="opacity: 0; margin: -1000px 0 0 -1000px;">
				<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/zombie1.jpg" width="100%" height="100%" alt="Зомби">
			</div>	
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
			Что, страшно?!.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 12px 0 42px 0;">
	Дай конфетку!..
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 9px 25px; line-height: 22px;">
	Двоек, как и любых других отметок, у нас не ставят вообще, а за каждый правильный ответ делается похвала. Называется<br>
	это выработкой положительной условной обратной связи.
</p>
<div style="padding-top: 34px; height: 400px;">
	<div style="width: 457px; height: 400px; margin: 0 auto;">
		<div class="image-shadow" style="width: 457px; height: 353px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/present.jpg" width="100%" height="100%" alt="Девочка с подарком">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 21px 0 0 0; line-height: 15px;">
			Положительная обратная условная связь.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 19px 0 2px 25px; line-height: 22px;">
	Но тех мотиваций, которых вполне достаточно для здоровых ребят, для больного «школьным» неврозом мало. Здесь<br>
	можно использовать лишь что-то совсем нетривиальное, что ни в коей мере не напоминает столь нелюбимое занятие.
</p>
<div style="width: 960px; height: 430px; padding: 80px 0 39px 0;">	
	<div style="width: 440px; height: 430px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow" style="width: 440px; height: 385px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/boy4.jpg" width="100%" height="100%" alt="Маленький принц">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Маленький принц
		</p>
	</div>
	<div style="width: 441px; height: 430px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Например, чтобы научить читать, мы используем опыт<br>
			актёрского мастерства. Ребёнок, который в «своей<br>
			собственной	роли» не умел прочитать и десяти слов<br>
			подряд, оказавшись в роли Маленького Принца, охотно<br>
			читает длинный и трудный текст.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Ведь это делает не он – Вовочка, а это делает герой<br>
			повести Экзюпери, роль которого Вовочка всего лишь<br>
			играет.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			А через некоторое время оказывается, что Вовочка<br>
			незаметно для себя свободно читает другие тексты,<br>
			вполне обходясь без роли-подпорки. 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Чтение оказывается не столь уж страшным занятием.
		</p>
		<p class="yellow size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			На занятиях по русскому языку всё совсем иначе.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Метод «врождённой грамотности» столь не похож на обычное обучение, что не возникает необходимости ни в каких ролях.<br>
	Эти занятия скорее похожи на детскую игру-раскраску. Помните своё детство? Слева нарисована яркая красивая бабочка, а<br>
	справа – только её контур. Контур надо раскрасить точно так же, как раскрашен образец.
</p>
<div style="width: 960px; height: 318px; padding-top: 24px;">	
	<div style="width: 315px; height: 318px; float: left; margin: 0 0 0 82px;">
		<div style="width: 315px; height: 302px; margin: 7px 0 0 0;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/butterfly1.jpg" width="100%" height="100%" alt="Бабочка">
		</div>		
	</div>	
	<div style="width: 426px; height: 318px; float: right; margin: 0 60px 0 0;">
		<div class="image-shadow" style="width: 426px; height: 302px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/butterfly.jpg" width="100%" height="100%" alt="Бабочка над водой">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>	
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 15px 0 21px 25px; line-height: 22px;">
	Задание совсем не утомительное и не трудное. Разница лишь в том, что на наших занятиях раскрашивают не бабочку, а<br>
	слова или целые предложения, которые лежат справа, в соответствии с образцом, который лежит слева. Причём<br>
	раскрашивать надо в быстром темпе –	десять предложений за тридцать секунд.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Задача – научиться идентифицировать любой лингвистический образ не важно чего: причастного или деепричастного оборота,<br>
	придаточного или сложносочинённого предложения.
</p>
<div style="padding-top: 56px; height: 520px;">
	<div style="width: 412px; height: 520px; margin: 0 auto;">
		<div style="width: 412px; height: 470px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/cat.jpg" width="100%" height="100%" alt="Мальчик у доски">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: -125px 140px 0 0; line-height: 15px;">
			Идентификация
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 32px 0 21px 25px; line-height: 22px;">
	На то, чтобы научить человека правильно распознавать, скажем, деепричастный оборот,	причём в любом, совершенно<br>
	незнакомом тексте, требуется в общей сложности минут десять такого тренинга.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 22px 0 21px 25px; line-height: 22px;">
	Потом начинается наработка практики. Сколько предложений на	одно правило можно разобрать за урок в школе? Пять-<br>
	шесть. Мы «прокручиваем» до ста, а то и более, в самых разнообразных вариантах. Знания становятся умениями.
</p>
<div style="width: 960px; height: 520px; padding: 22px 0 8px 0;">	
	<div style="width: 530px; height: 520px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 6px 0 21px 0; line-height: 22px;">
			Следующая задача – сделать их навыками,	привычкой. За<br>
			двенадцать занятий мы проживаем	большую жизнь, равную пяти-<br>
			шести годам	изучения русского языка в школе.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Здесь необходимо быть чуть-чуть актёром, психологом, человеком,<br>
			который заинтересован в каждом конкретном ребёнке.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Итак, за одно только первое занятие Вовочка	совершенно<br>
			правильно разберёт штук триста разных предложений, заработав<br>
			полный карман конфет, и, весьма удивленный, пойдёт домой<br>
			размышлять, как это у него получилось.  
		</p>	
		<p class="yellow size-14 font-verdana center" style="margin: 0 34px 21px 0; line-height: 22px;">
			Победа! 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Упаси нас Бог сейчас делать вывод, что виноваты	во всём<br>
			школьные учителя, которые «заругали, забили, забодали» бедного<br>
			«мышонка» Вовочку, довели его до невроза и до «врождённой<br>
			безграмотности». 
		</p>	
	</div>
	<div style="width: 346px; height: 520px; float: right; margin: 0 54px 0 0;">
		<div class="image-shadow" style="width: 346px; height: 443px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/verovenko.jpg" width="100%" height="100%" alt="Профессор Ольга Веровенко">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Профессор Ольга Веровенко,<br>
			автор метода <span class="tag">Врождённой грамотности</span>.<br>
			Фото с урока
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 64px 0 10px 0;">
	Учителя-«звери» и другие мифы
</p>
<div class="transdiv7" style="padding-top: 0; height: 505px; perspective: 800px;">
	<div style="width: 366px; height: 505px; margin: 0 auto;">
		<div class="trans12" style="width: 366px; height: 505px; opacity: 0; background-image: url(http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/yaga.jpg);">
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 15px 0 15px 25px; line-height: 22px;">
	Можете ли вы представить себе школьного учителя, идущего утром в класс с мыслью: «Объясню-ка я сегодня новую тему<br>
	так, чтобы никто ничего не понял. А потом как начну орать, как начну орать…»?
</p>
<div style="width: 960px; height: 388px; padding: 0 0 0 0;">	
	<div style="width: 450px; height: 388px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 16px 0 21px 0; line-height: 22px;">
			Думается, что такой учитель в природе встречается не<br>
			чаще, чем Баба-Яга и Кощей.	И когда на первом<br>
			собеседовании мы слышим	жалобы на учителя-«зверя», то<br>
			относимся к	этим заявлениям весьма осторожно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			У любого школьного учителя в классе есть отличники и<br>
			хорошисты, троечники и несколько человек с «хронической<br>
			двойкой». Заявления, что «те» – любимчики, а к «нашему»<br>
			просто придираются, легко проверить: для этого у нас<br>
			существует тестирование.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			И когда оказывается, что школьник, которому	«зверь»<br>
			ставит одни тройки, на самом деле и	на двойку-то не тянет,<br>
			мы просим родителей	проявить объективность.
		</p>	
	</div>
	<div style="width: 455px; height: 388px; float: right; margin: 0 28px 0 0;">
		<div class="image-shadow" style="width: 455px; height: 307px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/verovenko1.jpg" width="100%" height="100%" alt="Обсуждение новой методики">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 11px 0 0 0; line-height: 16px;">
			Мы – не звери!<br>
			Актёр МХАТ профессор Борис Николаевич Борисов<br>
			и Ольга Олеговна обсуждают новую методику.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 11px 0 21px 25px; line-height: 22px;">
	Школьный учитель здесь ни при чём. Данный конкретный школьник испытывает специфические трудности в освоении<br>
	чтения, письма или иностранного языка, каких нет у его одноклассников.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 75px 0 42px 0;">
	Грамотность – это здоровье!
</p>
<div style="width: 960px; height: 466px; padding: 0 0 0 0;">	
	<div style="width: 530px; height: 466px; float: left; margin: 0 0 0 21px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -7px 0 21px 0; line-height: 22px;">
			«Врождённая грамотность» есть не что иное, как способность к<br>
			идентификации лингвистической информации.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Подчеркнём этот момент ещё раз:	любой здоровый человек<br>
			обладает врождённой	грамотностью – то есть способностью писать<br>
			без ошибок, имея весьма смутное представление о	правилах<br>
			грамматики.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Любой здоровый человек способен легко и быстро овладеть<br>
			иностранным языком на уровне свободного общения, причём без<br>
			утомительной зубрежки, выписывания карточек со словами, без<br>
			гипноза во сне и т.д. Но подчеркнём	ещё раз: здоровый.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			О причинах же нездоровья – отсутствии этой самой «врождённой<br>
			грамотности» – мы уже говорили выше.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Какой бы ни была причина заболевания – органической<br>
			(дислексия), приобретённой (ридингфобия, «школьный» невроз) –<br>
			следствие одно: повреждения или ослабленность<br>
			идентификационных каналов головного мозга.
		</p>	
	</div>
	<div style="width: 368px; height: 466px; float: right; margin: 0 36px 0 0;">
		<div class="image-shadow" style="width: 368px; height: 446px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/girl9.jpg" width="100%" height="100%" alt="Девочка с книжкой">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 49px 0 33px 0;">
	Мы и каналы копать умеем
</p>
<div style="width: 960px; height: 415px; padding: 17px 0 12px 0;">	
	<div style="width: 280px; height: 415px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow" style="width: 276px; height: 353px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/boy5.jpg" width="100%" height="100%" alt="Фото с урока">
		</div>
		<div class="image-shadow-right-1" style="width: 138px; background-position: -175px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 138px;">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0;">
			Фото с урока
		</p>
	</div>
	<div style="width: 617px; height: 415px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: -6px 0 21px 0; line-height: 22px;">
			Итак, речевой центр не получает информацию в полном	объёме: проводящий<br>
			канал болен или ослаблен. И тогда слово и образ живут как бы отдельно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Называется это «ассоциативной слепотой». Человек читает слово «ручей», а<br>
			образ ручья в голове не возникает.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Здоровый человек, читая книгу, как будто смотрит стереофильм: он чувствует<br>
			запахи, слышит звуки, перед ним	возникает красочный видеоряд. Он получает<br>
			удовольствие от	чтения, причём иногда гораздо большее, чем от просмотра<br>
			фильма.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Человек с ослабленной идентификацией удовольствия от чтения не получает. Он<br>
			может механически прочитать газету и узнать новости. То есть ему под силу<br>
			освоить	информационный пласт текста, но не художественный – тот	для него<br>
			пуст.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Что же делать, если идентификационный канал не работает? Копать новый!
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Академик Лурия работал во время войны с ранеными, у которых из-за повреждения головного мозга идентификация (причём<br>
	не лингвистическая, а самая обычная – распознавание предметов и образов) либо вовсе пропадала, либо притуплялась; ему<br>
	удавалось найти способы заставить повреждённый мозг воспринимать необходимую информацию в обход поражённых<br>
	нейронов с помощью других каналов, которым под силу компенсировать потерю.
</p>
<a name="kovaleva"></a>
<div style="width: 960px; height: 716px; padding: 0 0 0 0;">	
	<div style="width: 550px; height: 716px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			По какому же каналу можно пропустить лингвистическую<br>
			информацию? Один из таких каналов – эмоционально-чувственный.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Повторите быстро: «Шла Саша по шоссе и сосала сушку». Не сможете,<br>
			пока вам не помогут образы.	Сыграйте эту Сашу, чтоб запомнилась.<br>
			Пусть с	переигрыванием. Противная такая, конопатая девчонка Саша<br>
			идет по шоссе в грязном ситцевом платье, да ещё причмокивая,<br>
			пуская слюни, сосёт	сушку… 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Только представьте это, изобразите – и оно начинает	читаться и<br>
			«скороговориться».
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Итак, представить и подумать, что же ты читаешь, – вот путь к<br>
			победе над «врождённой безграмотностью». Восстановить<br>
			взаимосвязь между словом и образом – это уровень первый, первый<br>
			шаг.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Второй же уровень – связь между жестом, образом и словом.<br>
			Вы спросите: какое отношение имеют наши жесты к<br>
			грамотному письму? Самое непосредственное.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Наши жесты – тоже речь, так называемая невербальная, в отличие от<br>
			устной, вербальной.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Невербальная речь необыкновенно важна в нашей жизни. Примерно<br>
			90%	информации мы передаем с её помощью – на языке жестов,<br>
			взглядов, даже походки, мимики. И лишь 10% остается на речь<br>
			устную.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Невербальной речи нас никто не учил специально: мы овладели ею<br>
			ещё в раннем детстве с помощью той же идентификации.
		</p>	
	</div>
	<div style="width: 360px; height: 716px; float: right; margin: 0 25px 0 0;">
		<div class="image-shadow" style="width: 360px; height: 583px; margin: 9px 0 0 0;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/kovaleva.jpg" width="100%" height="100%" alt="Наталья Леонидовна Ковалёва">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Заслуженная артистка России<br>
			Наталья Леонидовна Ковалёва –<br>
			бессменная Маргарита с «Таганки».<br>
			Наш педагог по речи и актёрскому мастерству.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Заметьте, эта речь универсальна: практически всё человечество говорит на одном языке. Мы одинаково хорошо понимаем<br>
	выражение удивления или грусти, растерянности или радости на лице итальянца и англичанина, немца и турка.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Если нарисовать наш речевой центр в виде пирамиды, то внизу, в широком её основании, будет лежать невербальная речь.<br>
	На неё опирается речь устная. И только самую верхушку, причём размером с точку, займёт речь письменная.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	А теперь представьте, что будет, если у этой пирамиды разрушить фундамент… Рухнет всё сооружение!
</p>
<div style="padding-top: 40px; height: 550px;">
	<div style="width: 356px; height: 550px; margin: 0 auto;">
		<div class="image-shadow" style="width: 356px; height: 500px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/pyramid.jpg" width="100%" height="100%" alt="Пирамида">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 15px;">
			Пирамида
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 39px 0 21px 25px; line-height: 22px;">
	Таким образом, недостаточная развитость невербальной речи ведёт к ущербности в речи устной и письменной.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Каким же образом происходит разрушение этого «фундамента»?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Вспомните раннее своё детство и окрики: «Не вертись! Не бегай! Сиди смирно!». В более старшем возрасте за плохую<br>
	отметку в школе: «Урод! Чучело гороховое! Образина!»
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 25px; line-height: 22px;">
	Удар, направленный на внешность, бьёт ребёнка особенно больно и может привести к дисморфофобии – сильному неврозу,<br>
	когда человек уверен в своей некрасивости, неуклюжести, а следовательно, в том, что недостоин ни любви, ни дружбы, ни<br>
	уважения… Корни – в раннем детстве.
</p>
<div style="width: 960px; height: 324px; padding: 3px 0 0 0;">	
	<div style="width: 490px; height: 324px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 17px 0 21px 0; line-height: 22px;">
			Подросток с угнетённой невербальной речью как бы<br>
			«зажат», порой угрюм, замкнут в	себе, не умеет спокойно<br>
			доказать свою правоту, а только огрызается или плачет,<br>
			часто бывает излишне застенчив, иногда болезненно<br>
			застенчив, у него могут	возникать проблемы в общении со<br>
			сверстниками.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Грамотность в данном случае невозможно поставить до тех<br>
			пор, пока не будет полностью восстановлен «фундамент» –<br>
			лёгкая и непринуждённая манера держаться и<br>
			разговаривать, красивая невербальная речь, которая была<br>
			дана от природы, но	потом безжалостно исковеркана.
		</p>	
	</div>
	<div style="width: 391px; height: 324px; float: right; margin: 0 46px 0 0;">
		<div class="image-shadow" style="width: 391px; height: 324px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/podrostok.jpg" width="100%" height="100%" alt="Подросток с книжкой">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 105px 0 60px 0;">
	Мы все полиглоты
</p>
<a name="kirsh"></a>
<div style="width: 960px; height: 595px; padding: 0 0 0 0;">	
	<div style="width: 595px; height: 595px; float: left; margin: 0 0 0 25px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -7px 0 21px 0; line-height: 22px;">
			Здоровый ребёнок лет пяти-шести овладевает иностранным языком с<br>
			необычайной скоростью, причём говорит без малейшего акцента.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Этот ребёнок не зубрит часами новые слова, не выписывает их на карточки,<br>
			не учит грамматических правил. Ему достаточно играть со	сверстниками –<br>
			носителями этого языка.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Так работают его идентификационные каналы – заметьте, у всякого<br>
			здорового ребёнка, а не только талантливого.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Почему же с годами эта способность к восприятию	иностранных языков<br>
			исчезает у большинства из нас, откуда берутся взрослые, «ну совершенно<br>
			неспособные» произнести хоть пару фраз на чужом языке? 
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Очевидно, что идентификационные каналы, ранее работавшие «как часы»,<br>
			под влиянием каких-то причин закрылись. Не будем подробно разбирать<br>
			эти причины – мы уже в достаточной мере коснулись этой темы ранее.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">			
			Механизм идентификации иностранных языков несколько отличается от<br>
			родного, но основные принципы остаются прежними. Так что примем за<br>
			факт: способность к	быстрому усвоению иностранных языков у<br>
			большинства	взрослых отсутствует. Была – и нет.
		</p>	
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			К счастью, такое происходит не со всеми, есть люди, которых мы называем<br>
			полиглотами. 
		</p>	
	</div>
	<div style="width: 321px; height: 595px; float: right; margin: 0 14px 0 0;">
		<div class="image-shadow" style="width: 321px; height: 461px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/kirsh.jpg" width="100%" height="100%" alt="Елена Анатольевна Кирш">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Преподаватель английского языка<br>
			Елена Анатольевна Кирш.<br>
			Роскошный педагог.
		</p>
	</div>
</div>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Они владеют множеством языков, усваивая новые так же легко и быстро, как в раннем детстве. И людей таких немало.<br>
	Следовательно, исчезновение способностей к языкам не является непременным условием взросления.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Если так, то можно ли каким-то образом восстановить нормальную работу идентификационных каналов, «заведующих»<br>
	восприятием иностранных языков?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 25px; line-height: 22px;">
	Да! Эти способности восстановимы!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 90px 0 62px 0;">
	Родной язык – мыслеформа?
</p>
<a name="karahanov"></a>
<div style="width: 960px; height: 600px; padding: 0 0 23px 0;">	
	<div style="width: 418px; height: 600px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow" style="width: 418px; height: 510px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/karahanov1.jpg" width="100%" height="100%" alt="Павел Гамлетович Караханов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 20px 0 0 0; line-height: 16px;">
			Наш педагог Павел Гамлетович Караханов<br>
			руководил подготовкой переводчиков-синхронистов<br>
			на Олимпиаде в Сочи.
		</p>
	</div>
	<div style="width: 493px; height: 600px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: -6px 0 21px 0; line-height: 22px;">
			На каком языке мы с вами думаем? Ни на каком. Мышление<br>
			идёт на основе мыслеобразов, которые вообще не имеют<br>
			никакой речевой	формы.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но ведь мы, думая, себя слышим!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Да, и то, что мы слышим, называется «внутренней речью». И<br>
			звучит она на том языке, который данный	человек считает<br>
			родным или которым владеет в совершенстве. Но внутренняя<br>
			речь – это не мыслеобраз.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Это всего лишь внешняя «оболочка» мысли, её форма. Таким<br>
			образом, можно сказать, что всё человечество думает на одном<br>
			языке – на «языке» мыслеобразов.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Задачу раскрепощения идентификационного	канала выполнить<br>
			можно, если сформулировать её так: надо научить наш мозг<br>
			идентифицировать готовый, уже имеющийся	мыслеобраз,<br>
			сложившийся давным-давно, с новым иностранным словом, с<br>
			его звуком, с его начертанием.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Главное в наших упражнениях – думать сразу по-английски, ни<br>
			в коем случае не допуская звучания родной внутренней речи.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Очень быстро наш мозг «самообучается» это понимать. Итак,<br>
			наша задача – сначала научить по-английски думать, а потом<br>
			уже говорить.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 59px 0 21px 0;">
	Кто первым расправит крылья
</p>
<div style="width: 960px; height: 322px; padding: 36px 0 8px 0;">	
	<div style="width: 550px; height: 322px; float: left; margin: 0 0 0 7px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			В этой публикации я старалась объяснить суть и принципы действия<br>
			изобретения под названием «Способ идентификации объектов», более<br>
			известного как метод «Врождённой грамотности».
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Но есть ещё главное – то, что не входит, к сожалению, в описание<br>
			формул изобретения, но именно оно определяет успех любого дела.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			То, без чего все самые лучшие методики и изобретения мертвы. Это<br>
			Человек. Учитель.
		</p>		
	</div>
	<div style="width: 376px; height: 322px; float: right; margin: 0 27px 0 0;">
		<div class="image-shadow" style="width: 376px; height: 278px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/children.jpg" width="100%" height="100%" alt="Дети на уроке">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Фото с урока
		</p>
	</div>
</div>
<a name="kozlov"></a>
<p class="yellow size-14 bold font-verdana line-height-23" style="margin: 0 0 21px 10px; line-height: 22px;">
	Из дневника Павла Леонидовича Козлова, нашего преподавателя литературы: 
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 28px 10px; line-height: 22px;">
	Только глупцы считают, что детей можно провести. Достаточно единственного промаха, одного неверного жеста, невнятного<br>
	слова – и они уходят в себя, как черепашки под панцирь. После этого можно делать что угодно: взрывать петарды, рассыпать<br>
	конфетти, вытаскивать из карманов пиджака белых кроликов...
</p>
<div style="width: 960px; height: 598px; padding: 0 0 34px 0;">	
	<div style="width: 441px; height: 598px; float: left; margin: 0 0 0 10px;">
		<div class="image-shadow" style="width: 441px; height: 582px;">
			<img src="http://verovenko.info/wp-content/themes/twentyfourteen/images/dityatko/kozlov.jpg" width="100%" height="100%" alt="Павел Леонидович Козлов">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 453px; height: 598px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 11px 0 21px 0; line-height: 22px;">
			Всё напрасно.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Они будут прилежно выполнять все твои предписания, из<br>
			урока в урок повышать грамотность, тщательно проверять<br>
			свои диктанты, словом, будут и впредь соблюдать	«правила<br>
			игры», затеянной, как утверждают взрослые, для их же<br>
			блага.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 68px 0; line-height: 22px;">
			Они вырастут, окончат вузы, но ещё раньше они постареют.<br>
			Они всегда будут внимательно смотреть себе под ноги, но<br>
			им не придёт в голову взглянуть вверх, на небо.
		</p>
		<p class="yellow size-24 bold center font-verdana" style="margin: 0 0 119px 0; line-height: 30px;">
			Пусть расправят крылья.<br>
			Я – тот, кто учит летать...
		</p>
		<p class="yellow size-18 font-verdana center" style="margin: 23px 0 0 0; line-height: 20px;">
			<span class="bold">Тот, кто учит летать.</span><br>
			<span class="grey font-arial">Педагог Павел Леонидович Козлов.</span><br>
			<span class="dark-blue size-14 bold font-arial">(С обложки буклета)</span>
		</p>
	</div>
</div> 
<p class="yellow bold size-36 font-verdana center" style="margin: 68px 0 66px 0;">
	Приходите учиться к нам!
</p>
<p class="red bold size-24 font-verdana center" style="margin: 78px 0 40px 0;">
	Как получить скидку 50 процентов?
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 47px; line-height: 22px;">
	Скидку 50 процентов и более получает только тот, кто внимательно ознакомился с материалами сайта<br>
	и знает	ответы на все основные вопросы – прежде всего о том, ЧТО мы делаем и КАК у нас это получается.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 67px 47px; line-height: 22px;">
	Это <span class="blue bold">ЭТИЧНО</span>. Вы бережёте наше время, силы, нервы. Мы благодарим вас за это огромными скидками. Всё<br>
	доступно и ярко изложено в статьях. Смотрите Компас!
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 79px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]