<p style="margin: 0;"><a name="nachalo"></a></p>
<p class="red font-verdana size-24 bold center" style="margin: 31px 0 25px;">
	Стоимость и скидки
</p>
<div style="width: 960px; height: 434px; padding: 37px 0 30px 0;">	
	<div style="width: 473px; height: 434px; float: left; margin: 0 0 0 22px;">
		<p class="dark-yellow size-18 bold font-verdana" style="margin: -4px 0 22px 0; line-height: 28px;">
			Как всё уникальное,<br>
			нейролингвистическое обучение –
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			яркое, игровое, молниеносное,<br>
			фантастически эффективное,
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			без зубрёжки правил, без перегрузок<br>
			и почти без домашних заданий,
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			творящее чудеса и заменяющее собой<br>
			годы и десятилетия труда, –<br>
			дешёвым быть не может.
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 35px 0; line-height: 28px;">
			Оно дорогое и, поверьте, того стоит.
		</p>
		<p class="yellow bold center size-18 font-verdana line-height-23" style="margin: 0 44px 22px 0;">
			Постарайтесь получить скидку!
		</p>
		<div id="anim-uslobuch" style="height: 0; width: 430px;">
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -445px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -415px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -370px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -340px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -295px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -265px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -220px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -190px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -160px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -115px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -55px 0 0 0;"></div>
		</div>		
	</div>
	<div style="width: 423px; height: 434px; float: right; margin: 0 22px 0 0; position: relative;">
		<div class="image-shadow" style="width: 423px; height: 414px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/apple-tree1.jpg" width="100%" height="100%" alt="Яблоня">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 16px;">
	Для этого вам необходимо обрести статус <span class="red bold">Persona Grata</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
	<span class="red bold">Persona Grata</span> – это статус <span class="yellow bold">ЛИЧНОСТИ</span>, который присваивается не всем, а только <span class="yellow bold">ИЗБРАННЫМ</span>. Этот статус даёт право<br>
	на скидку 50% и особое отношение с нашей стороны.
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 45px 16px;">
	Для обретения этого статуса вам надо соблюдать все условия, предъявляемые к <span class="red bold">Persona Grata</span>.
</p>
<div class="red bold size-24 font-verdana line-height-23 center" style="width: 600px; margin: 0 auto 1px; cursor: pointer; height: 70px;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_2; [/exec]'">
	<p style="padding: 25px 0 0 0;">
		<span style="border-bottom: 1px solid #4A4A4A;">Persona Grata... Кто это? Может быть, вы?</span>
	</p>
</div>
<p class="grey font-verdana center" style="margin: 0 0 70px 0; font-size: 12px;">
	Кликните, пожалуйста, по ссылке!
</p>






























