<div style="position:relative; z-index: 2;">
<p class="red size-24 bold font-verdana center" style="margin: 56px 0 32px 0;">
	Стоимость и скидки
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 6px 8px;">
	Как всё уникальное, нейролингвистическое обучение - <span class="blue">молниеносное, интересное,<br>
	качественное, с гарантированным НАИВЫСШИМ результатом</span> - дешёвым быть не может. Базовая<br>
	стоимость обучения очень высока.
</p>
</div>
<div style="width: 960px; height: 227px;">	
	<div style="width: 235px; margin: 0 auto; height: 227px;">
		<img class="trans2" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/horseshoe.jpg"  width="235" height="227" alt="" style="opacity:0; margin-top: -700px; margin-left: 600px; position:relative; z-index: 1;">
	</div>
</div>
<div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 9px 0 88px 8px">
	<span class="red bold">Скидки до 50 процентов получают только те,</span> кто самостоятельно и внимательно<br>
	ознакомился с материалами этого сайта - прежде всего с тем, ЧТО мы делаем и КАК у нас это<br>
	получается. 
	<span class="blue">Это этично: вы бережёте наше время, силы, нервы. Мы благодарим вас огромными скидками.</span>
</p>
</div>
<p class="dark-blue size-24 font-verdana center" style="margin-bottom: 0px; line-height: 27px;">
	Базовая стоимость обучения<br>
	<span class="bold size-18">(Persona non Grata)</span>
</p>
<div style="padding-top: 52px; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/bIqF_agcmW0?autoplay=1&amp;loop=1&amp;playlist=bIqF_agcmW0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="size-14 font-arial bold center" style="margin: 15px 0 49px 0; color: #4A4A4A;">
	Persona non Grata
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 51px;">
	Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным,<br>
	пропускать занятия, опаздывать, безбожно врать...
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 19px 51px;">
	Материалы сайта, само собой, можете не читать.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 51px;">
	Стоимость: от 6.000 у.е. до 18.000 у.е. за курс обучения из 4-12 занятий.<br>
	1 у.е. = 1 евро. Оплата в рублях по курсу ЦБ.
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 19px 51px;">
	Впрочем, первый сеанс, скорее всего, окажется и последним.
</p>
<p class="blue font-arial bold" style="font-size: 20px; margin: 0 0 87px 51px;">
	Ведь реальность - зеркало. Ваше зеркало.
</p>
<p class="red font-sans-font center" style="margin-bottom: 0px;">
	Persona Grata
</p>
<div style="width: 960px; height: 600px; padding: 39px 0 8px 0;">	
	<div style="width: 510px; height: 600px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 7px 0 22px 40px;">
			<span class="red bold">Persona Grata</span> — это вы, наши любимые<br>
			ученики. Доброжелательны, приветливы,<br>
			этичны, благодарны. Чистоплотны, очень точны.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			<span class="red bold">Persona Grata</span> учится с видимым старанием,<br>
			рвением, усердием, всё делает охотно и хочет ещё!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			<span class="red bold">Persona Grata</span> учится потому,<br>
			что СОВЕРШЕНСТВУЕТ СЕБЯ.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			<span class="red bold">Persona Grata</span> — ЛИЧНОСТЬ.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			Рядом с вами приятно быть, вас хочется любить и учить хорошо-хорошо...
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 40px;">
			При таком отношении к миру и жизни всё у вас получится. Каким бы низким ни был  начальный уровень — роскошный конечный результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
		</p>
		<p class="blue bold font-verdana" style="margin: 0 0 22px 110px; font-size: 20px; line-height: 27px;">
			Ведь реальность — зеркало.<br>
			<span style="margin-left: 80px;">Ваше зеркало.</span>
		</p>		
	</div>
	<div style="width: 399px; height: 535px; float: right; margin: 0 24px 0 0;">
		<div class="image-shadow-0" style="width: 399px; height: 519px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/grata.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="red size-18 font-arial center" style="margin: 16px 0 0 0;">
			Persona Grata
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 41px 0 26px 0; line-height: 34px;">
	График занятий
</p>
<div style="width: 960px; height: 470px; padding: 17px 0 25px 0;">	
	<div style="width: 449px; height: 470px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow-0" style="width: 449px; height: 421px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/nlo.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0;">
			Прилёт инопланетян
		</p>
	</div>
	<div style="width: 420px; height: 470px; float: right; padding-right: 9px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Согласовав график, Persona Grata строго<br>
			его придерживается.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			В течение одного учебного курса<br>
			допускается только 1 (один) перенос<br>
			занятия по любой причине (падение<br>
			метеорита, баланс, свадьба, прилёт<br>
			инопланетян и т.д.). Опоздание не более<br>
			чем на 15 мин.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Мы можем глубоко вам сочувствовать, но<br>
			всё остальное за ваш счёт. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Альтернатива: занятия по базовой<br>
			стоимости.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 45px 0 26px 0; line-height: 34px;">
	Учебники
</p>
<div style="width: 960px; height: 419px; padding: 29px 0 41px 0;">	
	<div style="width: 420px; height: 419px; float: left; margin: 0 0 0 78px;">
		<div class="image-shadow-0" style="width: 420px; height: 419px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/textbooks.jpg);">
		</div>
	</div>
	<div style="width: 456px; height: 419px; float: right; padding-right: 0px">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 175px 0 22px 29px;">
			Великолепного качества<br>
			учебники и материалы<br>
			включены в стоимость обучения.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 67px 0 26px 0; line-height: 34px;">
	Бронирование места
</p>
<div style="width: 960px; height: 400px; padding: 23px 0 8px 0;">	
	<div style="width: 440px; height: 400px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 174px 0 22px 14px;">
			Место (на определённый день, месяц, час)<br>
			бронируется только после полной оплаты<br>
			вами курса обучения.
		</p>		
	</div>
	<div style="width: 498px; height: 400px; float: right; margin: 0 7px 0 0;">
		<div class="image-shadow-0" style="width: 498px; height: 345px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/armadillo.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0;">
			Броненосец с плодом познания
		</p>
	</div>
</div>
<p><a name="stoimost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 71px 0 14px 0; line-height: 26px;">
	Стоимость обучения для Persona Grata<br>
	<span class="blue size-18 font-verdana normal">Кликните по выбранному варианту:</span>
</p>
<div style="width: 960px; height: 490px; padding: 46px 0 0 0;">	
	<div style="width: 420px; height: 490px; float: left; padding-left: 17px">
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 20px;">
			Самое лучшее<br>
			<a href="http://verovenko.ru/vip-obuchenie/" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">VIP-обучение.</span></a> <a href="http://verovenko.ru/vip-obuchenie/" style="text-decoration: none"><span class="dark-blue normal" style="text-decoration: none;">Занятия с автором<br>
			обучающих <span class="light-blue italic bold">NL</span>-технологий профессором<br>
			Ольгой Олеговной Веровенко.</span></a>
		</p>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 20px;">
			Разумная цена<br>
			<a href="http://verovenko.ru/individualnoe-obuchenie/" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">Индивидуальное обучение.</span></a> <a href="http://verovenko.ru/individualnoe-obuchenie/" style="text-decoration: none"><span class="dark-blue normal" style="text-decoration: none;">Занятия с<br>
			квалифицированными педагогами<br>
			<span class="blue">ВЫСШЕГО РЕЙТИНГА</span>, работающими по<br>
			технологиям проф.О.О.Веровенко.</span></a>
		</p>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 20px;">
			Выгодно<br>
			<a href="http://verovenko.ru/zanjatija-v-gruppah/" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">Занятия в группах.</span></a>
		</p>		
	</div>
	<div style="width: 491px; height: 490px; float: right; margin: 0 21px 0 0;">
		<div class="image-shadow-0" style="width: 491px; height: 474px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/money.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 209px; padding: 0 0 0 0;">	
	<div style="width: 236px; height: 263px; float: left; margin: -143px 0 0 37px;">
		<div class="image-shadow-0" style="width: 236px; height: 247px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/euro.jpg);">
		</div>
		<div class="image-shadow-right-1" style="width: 118px; background-position: -201px 0px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 118px;">			
		</div>
	</div>
	<div style="width: 655px; height: 209px; float: right; padding-right: 6px">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 10px 0 22px 22px;">
			Стоимость приведена в у.е. (1у.е.=1 евро).<br>
			Оплата в рублях по курсу ЦБ.
		</p>
		<p class="green size-18 bold font-verdana line-height-23" style="margin: 0 0 22px 22px;">
			Кликните по выбранному варианту (см. выше).
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 52px 0; line-height: 34px;">
	Телефон
</p>
<p class="size-30 font-verdana center" style="margin: 41px 0 26px 0; color: #A98700;line-height: 13px;">
	+7 (495) 765-2-555<br>	
	<span class="size-18">без выходных</span>
</p>
<div style="padding-top: 33px; width: 960px; height: 336px;">
	<div style="width: 568px; height: 336px; margin: 0 auto;">	
		<div class="image-shadow-0 trans" style="width: 568px; height: 320px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/phone.jpg"  width="568" height="320" alt="lorem" style="opacity:0; margin-left: 600px;">
		</div>
		<div class="image-shadow-right-1 trans1" style="opacity:0; margin-left: 600px;">			
		</div>
		<div class="image-shadow-left-1 trans1" style="opacity:0; margin-left: 600px;">			
		</div>
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 10px 0 26px 0; line-height: 34px;">
	Всегда рады вам!
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 84px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
<div class="compass">	
	<div class="compass-top">
		<div class="compass-p">
			<p class="center">
				<a href="http://verovenko.ru/glavnaja/"><span>Главная</span></a><br>
				<span style="line-height: 28px;">Награды, гарантии качества</span><br>
				<span class="light-blue">Уникальное</span><br>
				<span class="blue font-arial size-14 bold">сверхскоростное обучение</span>
			</p>
		</div>
	</div>
	<div class="compass-middle">
		<div class="compass-left">
			<div class="compass-p" style="margin: -4px 0 0 50px;">
				<p class="left">
					<a href="http://verovenko.ru/chudo-budet/" style="line-height: 28px;"><span class="bold">Чудо будет!</span></a><br>
					<span class="light-blue">Суперкурс-новинка,</span><br>
					<span class="blue font-arial size-14 bold" style="line-height: 10px;">о котором мечтали все!</span><br>
					<span class="size-14 bold">Занятия с проф. О.О.Веровенко</span>
				</p>
			</div>
			<div class="compass-p" style="margin: 110px 0 0 -4px;">
				<p>
					<a href="http://verovenko.ru/programma-gelendzik/" style="line-height: 28px;"><span>Программа "Геленджик"</span></a><br>
					<span class="light-blue">Обучение+отдых на море</span><br>
					<span class="blue font-arial size-14 bold" style="line-height: 10px;">всей семьёй!</span>
				</p>
			</div>
			<div class="compass-p" style="margin: 128px 0 0 62px;">
				<p>
					<a href="http://verovenko.ru/tehnika-i-kultura-rechi/" style="line-height: 28px;"><span>Техника и культура речи</span></a><br>
					<span class="light-blue">С элементами игры</span><br>
					<span class="blue font-arial size-14 bold">и актёрского мастерства</span><br>
					<span>Чтение</span>					
				</p>
			</div>		
		</div>
		<div style="position: relative; width: 500px; margin: 0 auto; height: 496px; float: left; z-index: 2;">
			<div style="width: 500px; margin: 0 auto; height: 496px;">
				<div id="rotateimg" style="width: 250px; margin: 0 auto; height: 248px; margin: 0 auto;">
					<img  id="hide" alt="" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/compass.jpg" style="display: none; width: 100%; height: 100%;">
				</div>
			</div>
		</div>			
		<div class="compass-right">
			<div class="compass-p" style="margin: 20px 0 0 -41px;">
				<p>
					<a href="http://verovenko.ru/russkij-yazik/" style="line-height: 28px;"><span>Русский язык</span></a><br>
					<span class="light-blue tag">Врождённая грамотность</span><br>
					<span class="blue font-arial size-14 bold" style="margin-left: 7px;">12 занятий &#8211; и ошибок нет!</span><br>
					<span class="bold" style="margin-left: 108px;">ГИА, ЕГЭ</span>	
				</p>
			</div>
			<div class="compass-p" style="margin: 83px 0 0 4px;">
				<p>
					<a href="http://verovenko.ru/anglijskij-yazik/" style="line-height: 28px;"><span>Английский язык</span></a><br>
					<span class="light-blue tag">Вертикальный взлёт</span><br>
					<span class="blue font-arial size-14 bold">Безупречный английский</span><br>
					<span class="bold" style="margin-left: 102px;">ГИА, ЕГЭ</span>	
				</p>
			</div>
			<div class="compass-p" style="margin: 124px 0 0 -61px;">
				<p class="center">
					<a href="http://verovenko.ru/u-kogo-est-glupo-ditjatko/" style="line-height: 28px;"><span>У кого есть глупо дитятко?</span></a><br>
					<span class="light-blue font-arial">Статья о некоторых проблемах</span><br>
					<span class="blue font-arial size-14 bold">обучения детей в школе</span>
				</p>
			</div>
		</div>
	</div>
	<div class="compass-bottom">
		<div class="compass-p">
			<p class="center" style="margin-top: 24px;">
					<a href="http://verovenko.ru/usloviya-obucheniya/" style="line-height: 28px;"><span>Условия обучения</span></a><br>
					<span class="light-blue">Стоимость</span><br>
					<span class="blue font-arial size-14 bold">Телефон</span>
			</p>
		</div>
	</div>
</div>
<p class="red size-24 font-verdana center bold" style="margin: 65px 0 -3px 0;">
	Нам 25 лет!
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="size-24 font-verdana center bold" style="margin: 7px 0 31px 0;">
	<a href="http://verovenko.ru/otzivy/" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="blue">Отзывы, благодарности, поздравления.</span></a>
</p>	
<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 32px; margin-top: 45px;">
	О нас писали
</p>
<p class="size-18 font-verdana center line-height-23" style="margin-bottom: 30px;">
	<a href="http://verovenko.ru/o-nas-pisali/" target="_self" style="cursor: pointer; text-decoration:underline; color: #4A4A4A;"><span class="dark-blue">Публикации о нашем опыте<br>в советской, российской и зарубежной прессе</span></a>
</p>
<div style="width: 527px; height: 422px; margin:0 auto;">
	<div class="image-shadow" style="width: 487px; margin-left: 20px; height: 406px; border: 0px solid #717070; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/globe.jpg);">
	</div>
	<div class="image-shadow-right">			
	</div>
	<div class="image-shadow-left">			
	</div>
</div>
<p class=" blue size-24 bold font-verdana center" style="margin-top: 26px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению компаса.<br>
	<span class="red">Счастливого пути!
</span></p>


































