<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]"><span class="yellow">ЧТО ПОЧИТАТЬ</span></a></div>
			<div style="float: right;margin: 0 0 0 0;"><a class="first"><span>УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
		</div>
	</div>
</div>
<p style="margin: 0;"><a name="nachalo"></a></p>
<p class="light-blue size-30 font-verdana bold" style="margin: -3px 0 34px 11px;">
	Условия обучения
</p>
<p id="anim-stoimost" class="yellow size-30 font-verdana center bold" style="margin: 0 0 0 0; opacity: 0;">
	СКИДКИ
</p>
<div style="margin-top: -5px; height: 496px;">
	<div style="width: 600px; height: 496px; margin:0 auto;">
		<div style="width: 600px; height: 496px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/yagoda.jpg" width="100%" height="100%" alt="Ягоды">
		</div>
	</div>
</div>
<p class="yellow size-36 font-verdana bold center line-height-23" style="margin: 16px 0 60px 0;">
	Скидки <span class="tag">Начало сезона</span>
</p>
<p class="blue size-30 font-arial bold center line-height-23" style="margin: 0 0 72px 0;">
	Сентябрь
</p>
<p class="red size-24 font-verdana line-height-23" style="margin: 0 0 57px 24px;">
	С 1 по 15 сентября:
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 24px;">
	<span class="red bold size-24">75%</span> <span class="font-arial">–</span> <span class="tag">Волшебный сеанс</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 24px;">
	<span class="red bold size-24">50%</span> <span class="font-arial">–</span> <span class="tag">Врождённая грамотность</span> (русский язык, ГИА, ЕГЭ).<br>
	<span class="tag" style="margin: 0 0 0 87px;">Вертикальный взлёт</span> (английский язык).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 24px;">
	<span class="red bold size-24">30%</span> <span class="font-arial">–</span> курс <span class="tag">Чудо будет!</span> и <span class="tag">Четвёртое измерение</span>.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 84px 24px;">
	Чтобы получить эти скидки, вам нужно оформиться не позднее 7 сентября<br>
	и приступить к занятиям в течение месяца.
</p>
<p class="red size-24 font-verdana line-height-23" style="margin: 0 0 57px 24px;">
	С 16 по 30 сентября:
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 24px;">
	<span class="red bold size-24">50%</span> <span class="font-arial">–</span> <span class="tag">Волшебный сеанс</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 24px;">
	<span class="red bold size-24">30%</span> <span class="font-arial">–</span> <span class="tag">Врождённая грамотность</span> (русский язык, ГИА, ЕГЭ).<br>
	<span class="tag" style="margin: 0 0 0 87px;">Вертикальный взлёт</span> (английский язык).
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 24px;">
	<span class="red bold size-24">10%</span> <span class="font-arial">–</span> курс <span class="tag">Чудо будет!</span> и <span class="tag">Четвёртое измерение</span>.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 84px 24px;">
	Чтобы получить эти скидки, вам нужно оформиться не позднее 30 сентября<br>
	и приступить к занятиям в течение месяца.
</p>
<p class="blue size-30 font-arial bold center line-height-23" style="margin: 0 0 42px 0;">
	Октябрь
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 84px 24px;">
	<span class="red bold size-24">10%</span> <span class="font-arial">–</span> на любой курс.
</p>
<p class="blue size-30 font-arial bold center line-height-23" style="margin: 0 0 42px 0;">
	Ноябрь
</p>
<p class="dark-blue bold size-18 font-verdana line-height-23" style="margin: 0 0 102px 24px;">
	Скидок нет.
</p>
<p class="red bold size-24 font-verdana center" style="margin: 0 0 43px 0; line-height: 26px;">
	Любые скидки <span class="normal">–</span> только для Persona Grata<br>
	<span class="size-18 normal">(см.ниже)</span>
</p>
<div style="height: 558px;">
	<div style="width: 539px; height: 558px; margin:0 auto;">
		<div style="width: 539px; height: 542px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" height="100%" alt="Яблоко">
		</div>
	</div>
</div>
<p style="margin: 0;"><a name="grata"></a></p>
<p class="red font-verdana size-24 bold center" style="margin: 0 0 7px; padding: 119px 0 0 0;">
	Persona Grata
</p>
<div style="width: 960px; height: 740px; padding: 36px 0 44px 0;">	
	<div style="width: 477px; height: 740px; float: left; margin: 0 0 0 18px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> – это наши любимые ученики.<br>
			Доброжелательны, приветливы,  этичны, благодарны, <br>
			чистоплотны, очень точны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> делает свой выбор <span class="yellow bold">ОСОЗНАННО</span>, поэтому<br>
			основательно и внимательно ознакомилась с материалами<br>
			сайта.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> живо интересуется нашим творчеством и<br>
			трудом и прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это<br>
			получается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> уважает наш труд, заранее нас любит и хочет<br>
			учиться у нас и только у нас!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> <span class="yellow bold">– ЛИЧНОСТЬ.</span><br>
			Учится потому, что СОВЕРШЕНСТВУЕТ СЕБЯ.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> учится с видимым старанием, рвением,<br>
			усердием, всё делает охотно и хочет ещё!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Рядом с вами приятно быть, вас хочется любить и учить<br>
			хорошо-хорошо...
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
			При таком отношении к миру и жизни всё у вас получится.<br>
			Пусть низок начальный уровень – роскошный конечный<br>
			результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
		</p>
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 0 91px; line-height: 28px;">
			Ведь реальность <span class="normal">–</span> зеркало.<br>
			<span style="margin-left: 80px;">Ваше зеркало.</span>
		</p>		
	</div>
	<div style="width: 439px; height: 740px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow" style="width: 439px; height: 571px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="red size-18 font-verdana center" style="margin: 17px 0 0 0;">
			Persona Grata
		</p>
	</div>
</div>
<p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
	Persona non Grata
</p>
<div style="padding-top: 33px; height: 360px;">
	<div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin:0 auto;">
	</div>
</div>
<p class="size-14 font-arial bold center" style="margin: 28px 0 45px 0; color: #4A4A4A;">
	Persona non Grata
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
	Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным, пропускать занятия,<br>
	опаздывать, безбожно врать...
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
	<span class="blue">Обучение для вас только по базовой стоимости, без скидок.</span><br>
	Впрочем, первый сеанс, скорее всего, окажется и последним.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 44px; line-height: 22px;">
	<span class="blue">Материалы сайта, само собой, вы не читали.</span> Но если вам НЕ ИНТЕРЕСНЫ ни наш виртуозный труд, ни проблемы<br>
	вашего собственного ребёнка, то вы нам НЕ ИНТЕРЕСНЫ тоже.
</p>
<p class="blue font-verdana bold center" style="font-size: 20px; margin: 0 0 101px 0; line-height: 25px;">
	Ведь реальность <span class="normal">–</span> зеркало.<br>
	Ваше зеркало.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 44px 0; line-height: 34px;">
	График занятий
</p>
<div style="width: 960px; height: 367px; padding: 17px 0 135px 0;">	
	<div style="width: 375px; height: 367px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow" style="width: 375px; height: 351px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nlo.jpg" width="100%" height="100%" alt="Прилёт инопланетян">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Прилёт инопланетян
		</p>
	</div>
	<div style="width: 439px; height: 367px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Согласовав график, <span class="red bold">Persona Grata</span><br>
			строго его придерживается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			В течение одного учебного курса<br>
			допускается только 1 (один) перенос<br>
			занятия по любой причине (падение<br>
			метеорита, баланс, свадьба, прилёт<br>
			инопланетян и т.д.). Опоздание – не<br>
			более чем на 15 мин.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
			Альтернатива: занятия по базовой<br>
			стоимости, без скидок.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="adres"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 12px 0; line-height: 26px;">
	Где занятия?
</p>
<div style="width: 960px; height: 437px; padding: 46px 0 0 0;">	
	<div style="width: 400px; height: 437px; float: left; padding-left: 29px;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			<span class="blue bold">VIP-обучение.</span> Любой курс с автором<br>
			технологий профессором О.О.Веровенко.<br>
			<span class="lilac bold">м. <span class="tag">Молодёжная</span>.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			<span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
			<span class="lilac bold">м. <span class="tag">Щёлковская</span>.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 39px 0; line-height: 22px;">
			<span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span>.<br>
			<span class="lilac bold">м. <span class="tag">Крылатское</span>.</span>
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
			Иногородние учащиеся могут приехать<br>
			на 1-2 недели и заниматься ежедневно.
		</p>		
	</div>
	<div id="load-video2" class="load-video" style="width: 476px; height: 437px; float: right; margin: 0 23px 0 0;">
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="viezd"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 43px 0;">
	Выезд педагога к вам
</p>
<div style="width: 960px; height: 444px; padding: 0 0 0 0;">	
	<div style="width: 320px; height: 444px; float: left; margin: 0 0 0 33px">
		<p class="grey size-14 font-verdana" style="margin: 88px 0 21px 0; line-height: 22px;">
			<span class="blue bold">В черте Москвы</span><br>
			Надбавка 50%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">За МКАД и в Санкт-Петербург</span><br>
			Надбавка 100%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">По России</span><br>
			Надбавка 200%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Сафари-парк</span><br>
			от 0%
		</p>		
	</div>
	<div style="width: 571px; height: 444px; float: right; margin: 0 27px 0 0;">
		<div class="image-shadow" style="width: 571px; height: 428px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/coach.jpg" width="100%" height="100%" alt="Выезд педагога">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 110px 0 16px 0; line-height: 34px;">
	Учебники
</p>
<div style="width: 960px; height: 440px; padding: 50px 0 76px 0;">	
	<div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
		<div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/textbooks.jpg" width="100%" height="100%" alt="Учебники">
		</div>
		<p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
		<div id="img_container"><img src=""></div>
	</div>
	<div style="width: 449px; height: 440px; float: right; padding-right: 0px">
		<p class="blue size-14 font-verdana" style="margin: 165px 0 22px 16px; line-height: 22px;">
			Великолепного качества<br>
			учебники и материалы<br>
			включены в стоимость обучения.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="bronirovanie"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 31px 0;">
	Бронирование места
</p>
<div style="width: 960px; height: 400px; padding: 21px 0 48px 0;">	
	<div style="width: 440px; height: 400px; float: left; padding-right: 0px">
		<p class="dark-blue size-14 font-verdana center" style="margin: 139px 0 22px 0; line-height: 22px;">
			Место (на определённый день, месяц, час) бронируется<br>
			только после полной оплаты вами курса обучения.
		</p>		
	</div>
	<div style="width: 498px; height: 400px; float: right; margin: 0 11px 0 0;">
		<div style="width: 498px; height: 345px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/armadillo.jpg" width="100%" height="100%" alt="Броненосец с плодом познания">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
			Броненосец с плодом познания
		</p>
	</div>
</div>
<p><a name="stoimost"></a></p>
<p class="light-blue bold size-36 font-verdana center" style="margin: 0 0 119px 0; line-height: 34px;">
	Стоимость обучения
</p>
<div style="width: 960px; height: 460px; padding: 0 0 0 0;">	
	<div style="width: 480px; height: 460px; float: left; margin: 0 0 0 9px; position: relative;">
		<div id="load-video3" class="load-video" style="width: 355px; height: 200px; border-radius: 0; overflow: hidden; margin: 80px 0 0 32px;">
		</div>
		<p class="grey center size-14 font-verdana" style="margin: 62px 0 0 -50px; line-height: 17px;">
			1 у.е. = 1 евро<br>
			Оплата в рублях по курсу ЦБ
		</p>	
	</div>
	<div style="width: 519px; height: 460px; float: right; margin: 0 0 0 -50px;">
		<div style="width: 519px; height: 453px; margin: -47px 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/money.jpg" width="100%" height="100%" alt="Стоимость обучения">
		</div>
	</div>
</div>
<p class="light-blue size-30 font-verdana bold center" style="margin: 100px 0 56px 0; line-height: 25px;">
	Волшебный сеанс
</p>
<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/vip.jpg" width="102" height="76" alt="VIP" style="position: absolute; margin: -102px 0 0 74px;">
<div style="width: 960px; height: 316px;">	
	<div style="width: 447px; height: 316px; float: left; margin: 0 0 0 16px; position: relative;">
		<div class="image-shadow" style="width: 447px; height: 256px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy3.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 468px; height: 316px; float: right; margin: 0 0 0 0">
		<p class="blue size-18 font-verdana bold" style="margin: 91px 0 17px 0;  line-height: 31px;">
			<span style="margin: 0 0 0 18px;">Безграмотно пишем?</span><br>
			<span style="margin: 0 0 0 98px;">Плохие чтение, речь?</span><br>
			<span style="margin: 0 0 0 210px;">Он лентяй или болен?!</span>
		</p>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #003254; padding: 13px 0 12px 0;"><span class="dark-blue">Нейролингвистическая коррекция</span></a> дислексии, дисграфии, других проблем обучения.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	Повышение концентрации внимания, без чего невозможно грамотное письмо.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	Навыки точного, правильного и осмысленного чтения.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	Двоек-троек не будет! Помогает этот сеанс и хорошистам, которые <span class="tag">почему-то</span> никак не могут<br>
	выйти в отличники.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	Успеваемость по всем гуманитарным предметам повышается на 1-2 балла. Сеанс предполагает<br>
	небольшое домашнее задание.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	Стоимость сеанса: <span class="red bold">1.200 у.е.</span>
</p>
<p class="red bold size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	С учётом 75% скидки <span class="normal">–</span> 300 у.е.
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 15px;">
	Сеанс ведёт доктор психологических наук профессор Ольга Олеговна Веровенко.
</p>
<p class="light-blue bold size-30 font-verdana center" style="margin: 126px 0 81px 0;">
	<span class="tag">Чудо будет!</span>
</p>
<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/vip.jpg" width="102" height="76" alt="VIP" style="position: absolute; margin: -119px 0 0 29px;">
<div style="width: 960px; height: 454px; margin: 0 0 0 0;">	
	<div style="width: 335px; height: 454px; float: right; margin: 0 58px 0 0; position: relative; z-index: 5;">
		<div style="width: 335px; height: 454px; margin: 0 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy.jpg" width="100%" height="100%" alt="Счастливый мальчик">
		</div>
	</div>
	<div style="width: 550px; height: 454px; float: left; margin: 0 0 0 9px">
		<p class="blue bold size-18 font-verdana" style="margin: -2px 0 19px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 13px 0 12px 0;"><span class="blue tag">Чудо будет!</span></a>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Полностью игровой <span class="font-arial">–</span> от начала до конца! <span class="font-arial">–</span><br>
			<span class="bold">комплексный</span> курс. Грамотность. Чтение. Речь.<br>
			Сочинения, изложения, сказки. Творческие работы.<br>
			Творческие диктанты. Коррекция дислексии,<br>
			дисграфии, <span class="tag">школьного</span> невроза. Арт-терапия.<br>
			Поддержка психолога.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 29px 0;">
			<span class="blue">Длительность курса 4-12 сеансов</span> в зависимости от<br>
			возраста и ваших пожеланий.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 53px 121px; line-height: 17px;">
			<span class="yellow bold">Обязательное условие:</span>
			родители младших школьников не только<br>
			присутствуют на занятих, но играют, обучаются<br>
			и веселятся вместе со своими детьми!
		</p>
		<p class="red size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Сеансы ведёт доктор психологических наук<br>
			профессор Ольга Олеговна Веровенко.
		</p>
	</div>
</div>
<p class="dark-blue bold size-18 font-verdana center" style="margin: 96px 0 45px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 181px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 89px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 250px; height: 89px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 250px; height: 25px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 25px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold size-18 font-verdana right" style="margin: 0 25px 0 0; padding: 0 0 0 0;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 250px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 250px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 89px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 400px; height: 89px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 25px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 25px; margin: 0 auto;">
					<p class="blue bold size-18 font-verdana left" style="margin: 0 0 0 25px; padding: 0 0 0 0;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 400px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold size-18 font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0;">
		При продолжении обучения
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 400px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-18 bold font-verdana line-height-23" style="margin: 36px 0 0 45px;">
	Смотрите скидки <span class="tag">Начало сезона</span>!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 156px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: -2px 0 51px 0;">
	Обучение с применением <span class="light-blue italic">NL</span>-психологии
</p>
<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/vip.jpg" width="102" height="76" alt="VIP" style="position: absolute; margin: -119px 0 0 45px;">
<div style="width: 960px; height: 458px; margin: 0 0 0 0;">	
	<div style="width: 372px; height: 458px; float: right; margin: 0 29px 0 0; position: relative; z-index: 5;">
		<div class="image-shadow" style="width: 372px; height: 344px; margin: 0 0 0 0; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/flygirl.jpg" width="100%" height="100%" alt="Летящая девушка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 480px; height: 458px; float: left; margin: 0 0 0 46px">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Для школьников:</span> сглаживаются шероховатости<br>
			характера. Исчезают конфликты и раздоры в семье. Дети<br>
			охотно помогают родителям по хозяйству, хорошо и<br>
			вкусно готовят. Помнят дни рождения своих близких и<br>
			делают им подарки.<br>
			<span class="yellow bold">Плюс безупречная грамотность</span>, коррекция проблем<br>
			обучения, творчество и т.д.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Для взрослых:</span> выход из любого тупика развития.<br>
			Карьера, бизнес, семья, взаимоотношения, конфликтные<br>
			ситуации, понятие врага тайного и явного. Ликвидация<br>
			стрессов, неврозов. Гипнотерапия.<br>
			<span class="yellow bold">Плюс безупречная грамотность.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Обязательное условие:</span><br>
			родители школьников не только присутствуют на<br>
			занятиях, но играют, обучаются и веселятся вместе со<br>
			своими детьми!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 47px 0; line-height: 17px;">
			Курс (4-12 сеансов) ведёт доктор психологических наук<br>
			проф. <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">О.О.Веровенко.</span></a>.
		</p>
	</div>
</div>
<p class="dark-blue bold size-18 font-verdana center" style="margin: 86px 0 52px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа каждый):
</p>
<div style="width: 960px; height: 255px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 140px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 300px; height: 140px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 300px; height: 69px; margin: 0 0 0 0;">
				<div style="width: 300px; height: 69px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0; padding: 0 0 0 0;">
						<span class="bold">Индивидуально</span><br>
						(1 ребёнок + 1 из родителей<br>
						или 1 взрослый)
					</p>
				</div>
			</div>
			<div style="width: 300px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 300px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 300px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						7.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 140px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 400px; height: 140px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 69px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 69px; margin: 0 auto;">
					<p class="blue size-18 font-verdana center line-height-23" style="margin: 0 0 0 0; padding: 0 0 0 0;">
						<span class="bold">В вашей мини-группе из 2-3 чел.</span><br>
						(2 ребёнка + 1 из родителей<br>
						или 2-3 взрослых)
					</p>
				</div>
			</div>
			<div style="width: 400px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						12.000 у.е. (от 4.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold size-18 font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 400px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						9.000 у.е. (от 3.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-18 bold font-verdana line-height-23" style="margin: 13px 0 0 45px;">
	Смотрите скидки <span class="tag">Начало сезона</span>!
</p>
<p class="light-blue size-30 font-arial bold center" style="margin: 133px 0 60px 0; line-height: 25px;">
	<span class="tag">Врождённая грамотность</span>.
</p>
<div style="width: 960px; height: 295px; padding: 0 0 0 0;">	
	<div style="width: 323px; height: 295px; float: left; margin: 0 0 0 64px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'">
		<div style="width: 323px; height: 243px; margin: 0 0 0 0;">
			<p class="blue size-18 font-verdana bold line-height-23" style="margin: 106px 0 0 0;">
				<span class="tag">Врождённая грамотность</span>
				<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Русский язык. ГИА, ЕГЭ.</span></a>
			</p>
			<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
				Всего 12 занятий <span class="font-arial">–</span> и ошибок нет!
			</p>
		</div>
	</div>
	<div style="width: 428px; height: 295px; float: right; margin: 0 52px 0 0; position: relative; z-index: 2; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'">
		<div style="width: 428px; height: 295px; float: left; margin: 0 0 23px 0;">
			<div style="width: 428px; height: 295px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl2.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>	
	</div>
</div>
<p class="blue bold size-14 font-verdana center" style="margin: 103px 0 12px 0;">
	Занятия по технологиям проф. О.О.Веровенко ведут педагоги высшего рейтинга.
</p>
<p class="red size-14 font-verdana center" style="margin: 0 0 74px 0;">
	Занятия с проф. О.О.Веровенко см. выше.
</p>
<p class="dark-blue bold size-18 font-verdana center" style="margin: 0 0 45px 0;">
	За курс из 36 ак. часов (12 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 181px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 89px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 250px; height: 89px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 250px; height: 25px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 25px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold size-18 font-verdana right" style="margin: 0 25px 0 0; padding: 0 0 0 0;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 250px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 250px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 89px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 400px; height: 89px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 25px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 25px; margin: 0 auto;">
					<p class="blue bold size-18 font-verdana left" style="margin: 0 0 0 25px; padding: 0 0 0 0;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 400px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						7.000 у.е. (от 2.334 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold size-18 font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0;">
		При продолжении обучения
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 400px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-18 bold font-verdana line-height-23" style="margin: 36px 0 0 45px;">
	Смотрите скидки <span class="tag">Начало сезона</span>!
</p>
<p class="light-blue size-30 font-arial bold center" style="margin: 129px 0 85px 0; line-height: 25px;">
	<span class="tag">Вертикальный взлёт</span>.
</p>
<div style="width: 960px; height: 324px; padding: 0 0 0 0;">	
	<div style="width: 432px; height: 324px; float: left; margin: 0 0 0 25px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]'">
		<div style="width: 432px; height: 324px; margin: 0 0 0 0;">
			<div style="width: 432px; height: 324px; margin: 0 auto 16px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.jpg" width="100%" height="100%" alt="Космонавт">
			</div>
		</div>
	</div>
	<div style="width: 445px; height: 324px; float: right; margin: 0 0 0 0; position: relative; z-index: 2; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]'">
		<p class="blue size-18 font-verdana bold line-height-23" style="margin: 100px 0 21px 0;">
			<span class="tag">Вертикальный взлёт</span><br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Английский язык.</span></a>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Скоростное нейролингвистическое обучение<br>
			без зубрёжки и домашних заданий.
		</p>	
	</div>
</div>
<p class="blue bold size-14 font-verdana center" style="margin: 95px 0 12px 0;">
	Занятия по технологиям проф. О.О.Веровенко ведут педагоги высшего рейтинга.
</p>
<p class="red size-14 font-verdana center" style="margin: 0 0 74px 0;">
	Занятия с проф. О.О.Веровенко см. выше.
</p>
<p class="dark-blue bold size-18 font-verdana center" style="margin: 0 0 45px 0;">
	За курс из 36 ак. часов (12 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 181px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 89px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 250px; height: 89px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 250px; height: 25px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 25px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold size-18 font-verdana right" style="margin: 0 25px 0 0; padding: 0 0 0 0;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 250px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 250px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 89px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 400px; height: 89px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 25px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 25px; margin: 0 auto;">
					<p class="blue bold size-18 font-verdana left" style="margin: 0 0 0 25px; padding: 0 0 0 0;">
						В вашей мини-группе из 2-3 чел.
					</p>
				</div>
			</div>
			<div style="width: 400px; height: 1px; margin: 10px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						7.000 у.е. (от 2.334 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold size-18 font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0;">
		При продолжении обучения
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-18 font-arial right" style="margin: 0 25px 0 0;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 400px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 400px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 400px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-18 font-arial left" style="margin: 0 0 0 25px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-18 bold font-verdana line-height-23" style="margin: 36px 0 0 45px;">
	Смотрите скидки <span class="tag">Начало сезона</span>!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 126px 0 76px 0;">
	Пробный сеанс
</p>
<div style="width: 960px; height: 494px; margin: 10px 0 0 0;">	
	<div style="width: 256px; height: 494px; float: right; margin: 0 0 0 0; position: relative;">
		<div style="width: 288px; height: 433px; margin: -31px 0 0 -172px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/boy4.jpg" width="100%" height="100%" alt="Официант">
		</div>
	</div>
	<div style="width: 373px; height: 494px; float: left; margin: 0 0 0 245px; position: relative;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 0; line-height: 22px;">
			Длительность 2-3 часа. Стоимость 500 у.е.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 0; line-height: 22px;">
			Полная диагностика, консультация, <span class="tag">примерка</span><br>
			технологий, занятие (сеанс).
		</p>
		<p class="red bold size-14 font-verdana" style="margin: 0 0 47px 0; line-height: 22px;">
			Скидка до конца сентября 50%.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
			Вас примет автор технологий обучения<br>
			профессор Ольга Олеговна Веровенко.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 75px 0; line-height: 17px;">
			Запишитесь, пожалуйста, заранее!
		</p>
	</div>
</div>
<p class="red bold size-30 font-verdana center" style="margin: 15px 0 33px 0;">
	Телефон
</p>
<div style="width: 960px; height: 443px;">
	<div style="width: 787px; height: 443px; margin: 0;">	
		<div class="trans" style="width: 787px; height: 443px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
		</div>
	</div>
</div>
<p class="blue size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
	<span class="light-yellow">+7</span> <span class="lilac">(495)</span> <span class="blue">7</span><span class="light-blue">6</span><span class="red">5</span>–<span class="green1">2</span><span class="blue">–</span><span class="red">555</span>
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	с 12:00 до 23:00
</p>
<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">	
	без выходных
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 60px 0;">
	olgaverovenko@gmail.com
</p>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 42px 0 15px 0;">
		Всегда рады вам!
	</p>
</div>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
































