<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]"><span class="yellow">ЧТО ПОЧИТАТЬ</span></a></div>
			<div style="float: right;margin: 0 0 0 0;"><a class="first"><span>УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
		</div>
	</div>
</div>
<p style="margin: 0;"><a name="nachalo"></a></p>
<p class="light-blue size-30 font-verdana bold" style="margin: -3px 0 44px 11px;">
	Условия обучения
</p>
<p id="anim-stoimost" class="yellow size-30 font-verdana center bold" style="margin: 24px 0 0 0; opacity: 0;">
	СКИДКИ
</p>
<div style="margin-top: -5px; height: 496px;">
	<div style="width: 600px; height: 496px; margin:0 auto;">
		<div style="width: 600px; height: 496px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/yagoda.jpg" width="100%" height="100%" alt="Ягоды">
		</div>
	</div>
</div>
<p class="red size-24 font-verdana bold center line-height-23" style="margin: 22px 0 26px 0;">
	Платите за обучение в 2-3 раза меньше!
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 36px 29px;">
	<span class="blue bold">Скидки – не всем!</span> Скидки только тем, кто внимательно изучил все материалы сайта<br>
	и хорошо знает, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается. Читайте статьи:
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 31px 118px;">
	1.  <a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red tag bold">Чудо будет!</span></a> Нейролингвистическое игровое обучение:<br>
	<span style="margin: 0 0 0 175px;">единство Подсознания, Сознания и Сверхсознания.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 118px;">
	2.  <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red tag bold">Он лентяй или болен?</span></a> Проблемы обучения: как от них избавиться?<br>
	<span style="margin: 0 0 0 284px;">Молниеносная нейролингвистическая коррекция.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 77px 118px;">
	3.  <a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red tag bold">У кого есть глупо дитятко?</span></a> Секреты врождённой грамотности, вашей<br>
	<span style="margin: 0 0 0 333px;">интуиции и вашего Подсознания.</span>
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 22px 0 36px 0;">
	Основная скидка. Persona Grata
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 0 0 24px 4px; line-height: 28px;">
	<span class="red">Persona Grata</span> – статус Личности, который даёт право на основную <span class="red">скидку 50%</span> от базовой<br>
	стоимости, на большие скидки при переходе с курса на курс, на дополнительные скидки<br>
	<span class="blue bold">и особое отношение с нашей стороны</span>.
</p>
<p class="black size-18 font-verdana line-height-23" style="margin: 0 0 82px 4px;">
	Остальные платят вдвое дороже (Persona non Grata).
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 22px 0 67px 0;">
	Дополнительные скидки
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 21px 19px;">
	Летние скидки.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 54px 19px;">
	На занятия в июле-августе скидок нет.
</p>
<p class="blue size-18 font-verdana bold line-height-23" style="margin: 0 0 21px 19px;">
	Скидка <span class="tag">Начало сезона</span>.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 10px 19px;">
	Вы получите дополнительную (к основной) скидку на любой курс <span class="red">в сентябре</span>:
</p>
<ul class="grey size-18 font-verdana" style="margin: 0 0 54px 44px; line-height: 44px;">
	<li><span class="dark-blue"><span class="red bold">30%</span> – если оплатите обучение <span class="red">до конца июля</span>;</span></li>
	<li><span class="dark-blue"><span class="red bold">10%</span> – если оплатите обучение <span class="red">в августе</span>.</span></li>
</ul>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 19px;">
	<span class="blue bold">Скидка <span class="tag">Горящее место</span>.</span> Вы заплатите за обучение <span class="red bold">в 2 раза меньше!</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 19px;">
	Английский язык. <span class="tag">Вертикальный взлёт</span>. 1 место для индивидуальных занятий или для вашей<br>
	мини-группы. <span class="blue bold">Занятия с 10-15 августа.</span>
</p>
<p class="red bold size-18 font-verdana line-height-23" style="margin: 0 0 21px 19px;">
	Дополнительная скидка 50%.
</p>
<div style="padding-top: 33px; height: 558px;">
	<div style="width: 539px; height: 558px; margin:0 auto;">
		<div style="width: 539px; height: 542px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" height="100%" alt="Яблоко">
		</div>
	</div>
</div>
<p style="margin: 0;"><a name="grata"></a></p>
<p class="red font-verdana size-24 bold center" style="margin: 0 0 7px; padding: 119px 0 0 0;">
	Persona Grata
</p>
<div style="width: 960px; height: 740px; padding: 36px 0 44px 0;">	
	<div style="width: 477px; height: 740px; float: left; margin: 0 0 0 18px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> – это наши любимые ученики.<br>
			Доброжелательны, приветливы,  этичны, благодарны, <br>
			чистоплотны, очень точны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> делает свой выбор <span class="yellow bold">ОСОЗНАННО</span>, поэтому<br>
			основательно и внимательно ознакомилась с материалами<br>
			сайта.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> живо интересуется нашим творчеством и<br>
			трудом и прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это<br>
			получается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> уважает наш труд, заранее нас любит и хочет<br>
			учиться у нас и только у нас!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> <span class="yellow bold">– ЛИЧНОСТЬ.</span><br>
			Учится потому, что СОВЕРШЕНСТВУЕТ СЕБЯ.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> учится с видимым старанием, рвением,<br>
			усердием, всё делает охотно и хочет ещё!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Рядом с вами приятно быть, вас хочется любить и учить<br>
			хорошо-хорошо...
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
			При таком отношении к миру и жизни всё у вас получится.<br>
			Пусть низок начальный уровень – роскошный конечный<br>
			результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
		</p>
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 0 91px; line-height: 28px;">
			Ведь реальность – зеркало.<br>
			<span style="margin-left: 80px;">Ваше зеркало.</span>
		</p>		
	</div>
	<div style="width: 439px; height: 740px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow" style="width: 439px; height: 571px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="red size-18 font-verdana center" style="margin: 17px 0 0 0;">
			Persona Grata
		</p>
	</div>
</div>
<p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
	Persona non Grata
</p>
<div style="padding-top: 33px; height: 360px;">
	<div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin:0 auto;">
	</div>
</div>
<p class="size-14 font-arial bold center" style="margin: 28px 0 45px 0; color: #4A4A4A;">
	Persona non Grata
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
	Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным, пропускать занятия,<br>
	опаздывать, безбожно врать...
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
	<span class="blue">Обучение для вас только по базовой стоимости, без скидок.</span><br>
	Впрочем, первый сеанс, скорее всего, окажется и последним.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 44px; line-height: 22px;">
	<span class="blue">Материалы сайта, само собой, вы не читали.</span> Но если вам НЕ ИНТЕРЕСНЫ ни наш виртуозный труд, ни проблемы<br>
	вашего собственного ребёнка, то вы нам НЕ ИНТЕРЕСНЫ тоже.
</p>
<p class="blue font-verdana bold center" style="font-size: 20px; margin: 0 0 101px 0; line-height: 25px;">
	Ведь реальность – зеркало.<br>
	Ваше зеркало.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 44px 0; line-height: 34px;">
	График занятий
</p>
<div style="width: 960px; height: 367px; padding: 17px 0 135px 0;">	
	<div style="width: 375px; height: 367px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow" style="width: 375px; height: 351px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nlo.jpg" width="100%" height="100%" alt="Прилёт инопланетян">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Прилёт инопланетян
		</p>
	</div>
	<div style="width: 439px; height: 367px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Согласовав график, <span class="red bold">Persona Grata</span><br>
			строго его придерживается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			В течение одного учебного курса<br>
			допускается только 1 (один) перенос<br>
			занятия по любой причине (падение<br>
			метеорита, баланс, свадьба, прилёт<br>
			инопланетян и т.д.). Опоздание – не<br>
			более чем на 15 мин.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
			Альтернатива: занятия по базовой<br>
			стоимости, без скидок.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="adres"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 12px 0; line-height: 26px;">
	Где занятия?
</p>
<div style="width: 960px; height: 437px; padding: 46px 0 0 0;">	
	<div style="width: 450px; height: 437px; float: left; padding-left: 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 18px; line-height: 22px;">
			<span class="blue bold">VIP-обучение.</span> Любой курс с автором<br>
			технологий профессором О.О.Веровенко.<br>
			<span class="lilac bold">м. <span class="tag">Молодёжная</span>.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 18px; line-height: 22px;">
			<span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
			<span class="lilac bold">м. <span class="tag">Щёлковская</span>.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 39px 18px; line-height: 22px;">
			<span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span>.<br>
			<span class="lilac bold">м. <span class="tag">Крылатское</span>.</span>
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 0 18px; line-height: 17px;">
			Иногородние учащиеся могут приехать<br>
			на 1-2 недели и заниматься ежедневно.
		</p>		
	</div>
	<div id="load-video2" class="load-video" style="width: 476px; height: 437px; float: right; margin: 0 23px 0 0;">
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="viezd"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 43px 0;">
	Выезд педагога к вам
</p>
<div style="width: 960px; height: 444px; padding: 0 0 67px 0;">	
	<div style="width: 320px; height: 444px; float: left; margin: 0 0 0 33px">
		<p class="grey size-14 font-verdana" style="margin: 88px 0 21px 0; line-height: 22px;">
			<span class="blue bold">В черте Москвы</span><br>
			Надбавка 50%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">За МКАД и в Санкт-Петербург</span><br>
			Надбавка 100%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">По России</span><br>
			Надбавка 200%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="blue bold">Сафари-парк</span><br>
			от 0%
		</p>		
	</div>
	<div style="width: 571px; height: 444px; float: right; margin: 0 27px 0 0;">
		<div class="image-shadow" style="width: 571px; height: 428px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/coach.jpg" width="100%" height="100%" alt="Выезд педагога">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 50px 0 53px 0;">
	Сафари-парк
</p>
<div style="width: 960px; height: 443px; margin: 0 0 0 0;">	
	<div style="width: 634px; height: 443px; float: right; margin: 0 10px 0 0; position: relative;">
		<div class="image-shadow" style="width: 634px; height: 427px; margin: 0 0 0 0; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/girl6.jpg" width="100%" height="100%" alt="Девочка у моря">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 310px; height: 395px; float: left; margin: 0 0 0 0">
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 175px 0 23px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $safari; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84);"><span class="blue bold">Обучение + отдых у моря<br>всей семьёй!</span></a>
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 114px 0 16px 0; line-height: 34px;">
	Учебники
</p>
<div style="width: 960px; height: 440px; padding: 50px 0 76px 0;">	
	<div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
		<div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/textbooks.jpg" width="100%" height="100%" alt="Учебники">
		</div>
		<p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
		<div id="img_container"><img src=""></div>
	</div>
	<div style="width: 449px; height: 440px; float: right; padding-right: 0px">
		<p class="blue size-14 font-verdana" style="margin: 165px 0 22px 16px; line-height: 22px;">
			Великолепного качества<br>
			учебники и материалы<br>
			включены в стоимость обучения.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="bronirovanie"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 31px 0;">
	Бронирование места
</p>
<div style="width: 960px; height: 400px; padding: 21px 0 69px 0;">	
	<div style="width: 440px; height: 400px; float: left; padding-right: 0px">
		<p class="dark-blue size-14 font-verdana center" style="margin: 139px 0 22px 0; line-height: 22px;">
			Место (на определённый день, месяц, час) бронируется<br>
			только после полной оплаты вами курса обучения.
		</p>		
	</div>
	<div style="width: 498px; height: 400px; float: right; margin: 0 11px 0 0;">
		<div style="width: 498px; height: 345px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/armadillo.jpg" width="100%" height="100%" alt="Броненосец с плодом познания">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
			Броненосец с плодом познания
		</p>
	</div>
</div>
<p><a name="stoimost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 71px 0; line-height: 34px;">
	Стоимость обучения
</p>
<div style="width: 960px; height: 460px; padding: 0 0 0 0;">	
	<div style="width: 480px; height: 460px; float: left; margin: 0 0 0 9px; position: relative;">
		<div id="load-video3" class="load-video" style="width: 355px; height: 200px; border-radius: 0; overflow: hidden; margin: 117px 0 0 32px;">
		</div>		
	</div>
	<div style="width: 519px; height: 460px; float: right; margin: 0 0 0 -50px;">
		<div style="width: 519px; height: 453px; margin: -47px 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/money.jpg" width="100%" height="100%" alt="Стоимость обучения">
		</div>
	</div>
</div>
<p class="blue bold size-14 center font-verdana" style="margin: 0 0 32px 0; line-height: 17px;">
	Стоимость указана только для <span class="red">Persona Grata</span> с учётом 50% скидки. <span class="dark-blue normal">Базовая стоимость вдвое выше.</span><br>
</p>
<p class="grey center size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
	1 у.е. = 1 евро<br>
	Оплата в рублях по курсу ЦБ
</p>
<p class="yellow size-30 font-verdana center bold" style="margin: 72px 0 0 11px;">
	VIP-обучение. Занятия с проф. О.О.Веровенко.
</p>
<p class="black center bold size-14 font-verdana" style="margin: 13px 0 88px 0; line-height: 17px;">
	Занятия с квалифицированными педагогами,<br>
	работающими по технологиям проф. О.О.Веровенко, см.ниже.
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 56px 0; line-height: 25px;">
	Волшебный сеанс
</p>
<div style="width: 960px; height: 400px;">	
	<div style="width: 447px; height: 400px; float: left; margin: 0 0 0 16px; position: relative;">
		<div class="image-shadow" style="width: 447px; height: 256px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy3.jpg" width="100%" height="100%" alt="Плачущий мальчик">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="blue bold size-14 font-verdana bold center" style="margin: 24px 0 12px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #0065A9; padding: 13px 0 12px 0;"><span class="blue">Коррекция проблем обучения</span></a>
		</p>
		<p class="blue bold size-14 font-verdana bold center" style="margin: 0 0 0 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #0065A9; padding: 7px 0 12px 0;"><span class="blue">Навыки правильного беглого чтения</span></a>
		</p>
	</div>
	<div style="width: 468px; height: 400px; float: right; margin: 0 0 0 0">
		<p class="blue size-18 font-verdana bold" style="margin: 0 0 17px 0;  line-height: 31px;">
			<span style="margin: 0 0 0 18px;">Безграмотно пишем?</span><br>
			<span style="margin: 0 0 0 98px;">Плохие чтение, речь?</span><br>
			<span style="margin: 0 0 0 210px;">Он лентяй или болен?!</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Будучи одним-единственным, этот волшебный<br>
			нейролингвистический сеанс избавит вас от множества<br>
			проблем: признаков дислексии и дисграфии, повысит<br>
			<a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj_koncentracija; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="dark-blue">концентрацию внимания</span></a>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Двоек-троек не будет! Помогает этот сеанс и хорошистам,<br>
			которые <span class="tag">почему-то</span> никак не могут выйти в отличники.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Гипноз, магия и ремень во время сеанса не применяются!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Стоимость сеанса: 500 у.е. Пробный сеанс не нужен.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			<span class="yellow bold">Весенняя скидка</span> до конца мая – <span class="red">75%</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0;  line-height: 17px;">
			Стоимость с учётом скидки – <span class="red">125 у.е.</span>
		</p>
	</div>
</div>
<p class="red bold size-16 font-verdana" style="margin: 7px 0 45px 27px;">
	Скидка до 30 июня! Платите за обучение в 4 раза меньше!
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 108px 0 0 0;">
	<span class="tag">Чудо будет!</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: -2px 0 67px 0;">
	и любой другой курс обучения с проф. О.О.Веровенко
</p>
<div style="width: 960px; height: 400px; margin: 0 0 0 0;">	
	<div style="width: 295px; height: 400px; float: right; margin: 0 53px 0 0; position: relative; z-index: 5;">
		<div style="width: 295px; height: 400px; margin: 0 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy.jpg" width="100%" height="100%" alt="Счастливый мальчик">
		</div>
	</div>
	<div style="width: 570px; height: 400px; float: left; margin: 0 0 0 31px">
		<p class="blue bold size-14 font-verdana" style="margin: 5px 0 12px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 13px 0 12px 0;"><span class="blue tag">Чудо будет!</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Полностью игровой – от начала до конца! – <span class="bold">комплексный</span><br>
			курс. Грамотность. Чтение. Речь. Сочинения, изложения, сказки.<br>
			Творческие работы. Творческие диктанты. Коррекция дислексии,<br>
			дисграфии, <span class="tag">школьного</span> невроза. Арт-терапия. Поддержка<br>
			психолога.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 55px 0; line-height: 17px;">
			<span class="blue">Длительность курса 4-12 сеансов</span> в зависимости от возраста и ваших<br>
			пожеланий.
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 74px 121px; line-height: 15px; font-size: 12px;">
			<span class="yellow size-14 bold">Обязательное условие:</span>
			родители младших школьников не только<br>
			присутствуют на занятих, но играют, обучаются<br>
			и веселятся вместе со своими детьми!
		</p>
		<p class="red size-16 bold font-verdana" style="margin: 6px 0 0 0; padding: 0 0 0 0;">
			Смотрите скидки!
		</p>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 87px 0 43px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
</p>
<div style="width: 960px; height: 181px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 89px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 250px; height: 89px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 250px; height: 50px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 50px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 15px;">
						<span class="bold">Индивидуально</span><br>
						(1 ребёнок + 1 из родителей<br>
						или 1 взрослый)
					</p>
				</div>
			</div>
			<div style="width: 250px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 250px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 89px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 89px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 50px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 50px; margin: 0 auto;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 15px;">
						<span class="bold">В вашей мини-группе из 2-3 чел.</span><br>
						(2 ребёнка + 1 из родителей<br>
						или 2-3 взрослых)
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						3.900 у.е. (от 1.300 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 90px 0 0 0;">
	<span class="tag">Четвёртое измерение</span>
</p>
<p class="blue bold size-18 font-verdana center" style="margin: -2px 0 68px 0;">
	Обучение с применением <span class="light-blue italic">NL</span>-психологии
</p>
<div style="width: 960px; height: 360px; margin: 0 0 0 0;">	
	<div style="width: 372px; height: 360px; float: right; margin: 0 53px 0 0; position: relative; z-index: 5;">
		<div class="image-shadow" style="width: 372px; height: 344px; margin: 0 0 0 0; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/flygirl.jpg" width="100%" height="100%" alt="Летящая девушка">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 480px; height: 360px; float: left; margin: 0 0 0 53px">
		<p class="blue bold size-14 font-verdana" style="margin: -8px 0 12px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_izmerenie; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 13px 0 12px 0;"><span class="blue"><span class="tag">Четвёртое измерение</span>.</span></a>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			<span class="light-blue bold italic">NL</span>-психология + безупречная грамотность.<br>
			Для взрослых и школьников.
		</p>
		<p class="blue size-14 bold font-verdana" style="margin: 43px 0 21px 0; line-height: 22px;">
			Обязательное условие:
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 0; line-height: 22px;">
			Родители школьников не только присутствуют на<br>
			занятиях, но играют, обучаются и веселятся вместе со<br>
			своими детьми.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 47px 0; line-height: 17px;">
			Курс (4-12 сеансов) ведёт автор технологии доктор<br>
			психологических наук проф. <a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">О.О.Веровенко.</span></a>.
		</p>
		<p class="red size-16 bold font-verdana" style="margin: 6px 0 0 0; padding: 0 0 0 0;">
			Смотрите скидки!
		</p>
	</div>
</div>
<p class="dark-blue bold size-14 font-verdana center" style="margin: 86px 0 31px 0;">
	За курс из 12 ак.часов (4 сеанса по 3 ак.часа каждый):
</p>
<div style="width: 960px; height: 181px; padding: 0 0 0 0;">	
	<div style="width: 424px; height: 89px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 250px; height: 89px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 250px; height: 50px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 50px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 15px;">
						<span class="bold">Индивидуально</span><br>
						(1 ребёнок + 1 из родителей<br>
						или 1 взрослый)
					</p>
				</div>
			</div>
			<div style="width: 250px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 250px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 250px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						7.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 89px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 273px; height: 89px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 50px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 50px; margin: 0 auto;">
					<p class="blue font-verdana center" style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 15px;">
						<span class="bold">В вашей мини-группе из 2-3 чел.</span><br>
						(2 ребёнка + 1 из родителей<br>
						или 2-3 взрослых)
					</p>
				</div>
			</div>
			<div style="width: 273px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						12.000 у.е. (от 4.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 110px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 424px; height: 23px; float: left; margin: 0 0 47px 0;">	
		<div style="width: 174px; height: 23px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 23px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 536px; height: 23px; float: right; margin: 0 0 47px 0;">	
		<div style="width: 273px; height: 23px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 23px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						9.000 у.е. (от 3.000 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="yellow size-30 font-verdana center bold" style="margin: 94px 0 0 11px;">
	Занятия с квалифицированными педагогами,
</p>
<p class="dark-blue center size-18 font-verdana" style="margin: -4px 0 61px 0;">
	преподающими по технологиям проф. О.О.Веровенко
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 46px 0; line-height: 25px;">
	<span class="tag">Вертикальный взлёт</span>. <span class="tag">Врождённая грамотность</span>.
</p>
<div style="width: 960px; height: 350px; padding: 0 0 0 0;">	
	<div style="width: 323px; height: 350px; float: left; margin: 0 0 0 64px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]'">
		<div style="width: 323px; height: 243px; margin: 0 0 0 0;">
			<div style="width: 323px; height: 243px; margin: 0 auto 16px; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.jpg" width="100%" height="100%" alt="Космонавт">
			</div>
			<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
				<span class="tag">Вертикальный взлёт</span><br>
				<a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik_2; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Английский язык. ГИА, ЕГЭ.</span></a>
			</p>
			<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 15px;">
				Классическая версия
			</p>
		</div>
	</div>
	<div style="width: 328px; height: 350px; float: right; margin: 15px 52px 0 0; position: relative; z-index: 2; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'">
		<div style="width: 328px; height: 226px; float: left; margin: 0 0 18px 0;">
			<div style="width: 328px; height: 226px; margin: 0 auto; position: relative; z-index: 1;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/girl2.jpg" width="100%" height="100%" alt="Девочка">
			</div>
		</div>
		<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 17px;">
			<span class="tag">Врождённая грамотность</span>
			<a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]" style="text-decoration: underline; color: #0065A9;"><span class="blue">Русский язык. ГИА, ЕГЭ.</span></a>
		</p>
		<p class="dark-blue font-verdana" style="margin: 0 0 21px 0; line-height: 15px; font-size: 12px;">
			Всего 12 занятий – и ошибок нет!
		</p>	
	</div>
</div>
<p class="blue bold size-14 font-verdana center" style="margin: 32px 0 12px 0;">
	Занятия по технологиям проф. О.О.Веровенко ведут педагоги высшего рейтинга.
</p>
<p class="red size-14 font-verdana center" style="margin: 0 0 74px 0;">
	Занятия с проф. О.О.Веровенко см. выше.
</p>
<p class="dark-blue bold size-14 font-verdana" style="margin: 41px 0 38px 64px;">
	За курс из 36 ак. часов (12 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 160px; padding: 0 0 0 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						5.400 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						7.000 у.е. (от 2.334 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
	<p class="blue bold font-verdana center" style="margin: 0 62px 0 0; padding: 0 0 0 0; font-size: 12px;">
		При желании продолжать обучение
	</p>
	<div style="width: 471px; height: 44px; float: left; margin: 0 0 29px 0;">	
		<div style="width: 174px; height: 44px; float: right; margin: 0 0 0 0; position: relative; z-index: 2;">
			<div style="width: 174px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 174px; height: 44px; margin: 12px auto; position: relative; z-index: 1; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						4.500 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 44px; float: right; margin: 0 0 29px 0;">	
		<div style="width: 273px; height: 44px; float: left; margin: 0 0 0 0;">
			<div style="width: 273px; height: 44px; margin: 0 0 0 0;">
				<div style="width: 273px; height: 44px; margin: 12px auto; position: relative; z-index: 1;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						5.400 у.е. (от 1.800 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-16 bold font-verdana center" style="margin: 0 0 46px 0;">
	Смотрите скидки!
</p>
<p class="dark-blue bold size-14 font-verdana" style="margin: 73px 0 34px 72px;">
	За полукурс из 18 ак. часов (6 занятий по 3 ак.часа):
</p>
<div style="width: 960px; height: 80px; padding: 0 0 13px 0;">	
	<div style="width: 471px; height: 71px; float: left; margin: 0 0 13px 0;">	
		<div style="width: 236px; height: 71px; float: right; margin: 0 0 0 0;">
			<div style="width: 236px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 32px; margin: 0 auto; border-right: 1px solid #0099FF;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 24px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						Индивидуально
					</p>
				</div>
			</div>
			<div style="width: 236px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 236px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 236px; height: 23px; margin: 12px auto; border-right: 1px solid #0099FF;">
					<p class="grey size-14 font-arial right" style="margin: 0 24px 0 0; line-height: 16px;">
						3.000 у.е.
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div style="width: 489px; height: 71px; float: right; margin: 0 0 13px 0;">	
		<div style="width: 283px; height: 71px; float: left; margin: 0 0 0 0;">
			<div style="width: 283px; height: 32px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 32px; margin: 0 auto;">
					<p class="blue bold font-verdana center" style="margin: 0 0 0 6px; padding: 6px 0 0 0; font-size: 12px; line-height: 16px;">
						В вашей мини-группе из 2-3 чел
					</p>
				</div>
			</div>
			<div style="width: 283px; height: 1px; margin: 4px 0 0 0; border-bottom: 1px solid #0099FF;"></div>
			<div style="width: 283px; height: 23px; margin: 0 0 0 0;">
				<div style="width: 283px; height: 23px; margin: 12px auto;">
					<p class="grey size-14 font-arial left" style="margin: 0 0 0 27px; line-height: 16px;">
						4.500 у.е. (от 1.500 у.е. на чел.)
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="red size-16 bold font-verdana center" style="margin: 0 0 109px 0;">
	Смотрите скидки!
</p>
<p class="light-blue size-24 font-verdana bold center" style="margin: 120px 0 76px 0;">
	Пробный сеанс
</p>
<div style="width: 960px; height: 494px; margin: 10px 0 0 0;">	
	<div style="width: 256px; height: 494px; float: right; margin: 0 0 0 0; position: relative;">
		<div style="width: 288px; height: 433px; margin: -31px 0 0 -172px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/boy4.jpg" width="100%" height="100%" alt="Официант">
		</div>
	</div>
	<div style="width: 373px; height: 494px; float: left; margin: 0 0 0 245px; position: relative;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 13px 0; line-height: 22px;">
			Длительность 2-3 часа. Стоимость 500 у.е.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 14px 0; line-height: 22px;">
			Полная диагностика, консультация, <span class="tag">примерка</span><br>
			технологий, занятие (сеанс).
		</p>
		<p class="red size-14 bold font-verdana" style="margin: 0 0 47px 0; line-height: 22px;">
			Скидка до конца июля 50%.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
			Вас примет автор технологий обучения<br>
			профессор Ольга Олеговна Веровенко.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 75px 0; line-height: 17px;">
			Запишитесь, пожалуйста, заранее!
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			Технологий обучения много.
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 17px;">
			Мы подберём для вас наилучшую!
		</p>
	</div>
</div>
<p class="red bold size-30 font-verdana center" style="margin: 15px 0 33px 0;">
	Телефон
</p>
<div style="width: 960px; height: 443px;">
	<div style="width: 787px; height: 443px; margin: 0;">	
		<div class="trans" style="width: 787px; height: 443px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
		</div>
	</div>
</div>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
	<span class="light-yellow">+7</span> <span class="lilac">(495)</span> <span class="blue">7</span><span class="light-blue">6</span>5<span class="blue">-</span><span class="green1">2</span><span class="blue">-</span>555
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	с 12:00 до 23:00
</p>
<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">	
	без выходных
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 60px 0;">
	olgaverovenko@gmail.com
</p>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 42px 0 15px 0;">
		Всегда рады вам!
	</p>
</div>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
































