<p style="margin: 0;"><a name="grata"></a></p>
<p class="light-blue size-30 font-verdana bold" style="margin: -11px 0 37px 0;">
	Условия обучения
</p>
<p class="yellow font-verdana size-24 bold center" style="margin-bottom: 25px;">
	Стоимость и скидки
</p>
<div style="width: 960px; height: 434px; padding: 37px 0 54px 0;">	
	<div style="width: 473px; height: 434px; float: left; margin: 0 0 0 22px;">
		<p class="dark-yellow size-18 bold font-verdana" style="margin: -4px 0 22px 0; line-height: 28px;">
			Как всё уникальное,<br>
			нейролингвистическое обучение –
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			яркое, игровое, молниеносное,<br>
			фантастически эффективное,
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			без зубрёжки правил, без перегрузок<br>
			и почти без домашних заданий,
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			творящее чудеса и заменяющее собой<br>
			годы и десятилетия труда, –<br>
			дешёвым быть не может.
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 35px 0; line-height: 28px;">
			Оно дорогое и, поверьте, того стоит.
		</p>
		<p class="red bold center size-18 font-verdana line-height-23" style="margin: 0 96px 22px 0;">
			Попробуйте получить скидку!
		</p>
		<div id="anim-uslobuch" style="height: 0; width: 430px;">
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -445px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -415px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -370px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -340px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -295px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -265px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -220px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -190px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -160px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -115px 0 0 0;"></div>
		</div>		
	</div>
	<div style="width: 427px; height: 434px; float: right; margin: 0 18px 0 0; position: relative;">
		<div class="image-shadow-0" style="width: 427px; height: 418px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/apple-tree1.jpg" width="100%" height="100%" alt="Яблоня">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	Скидки <span class="bold">– обычную до</span> <span class="red bold">55%</span> и <span class="bold">Рождественскую до</span> <span class="red bold">75%</span> <span class="bold">–</span> получает только Persona Grata.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	Для обретения этого статуса вам надо соблюдать все условия, предъявляемые к Persona Grata.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Условие первое:</span> Persona Grata внимательно ознакомилась с материалами сайта<br>
	и условиями обучения и знает ответы на все основные вопросы.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 11px;">
	<span class="bold">Остальные условия</span> см. ниже в разделе Persona Grata. На этой же странице найдёте ссылки на<br>
	стоимость обучения.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 11px;">
	Помните, что статус легко обретается, но так же и теряется. Поддерживайте его постоянно! <br>
	Альтернатива: оплата по базовой стоимости, без скидок. См.также Persona non Grata.
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 94px 11px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Ознакомиться с материалами сайта. Вернуться к навигации. </span></a>
</p>
<p class="red font-verdana size-24 bold center" style="margin-bottom: 7px;">
	Persona Grata
</p>
<div style="width: 960px; height: 680px; padding: 36px 0 61px 0;">	
	<div style="width: 473px; height: 680px; float: left; margin: 0 0 0 22px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: -4px 0 22px 0;">
			<span class="red bold">Persona Grata</span> – это вы, наши любимые<br>
			ученики. Доброжелательны, приветливы,<br>
			этичны, благодарны, чистоплотны, очень точны.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="red bold">Persona Grata</span> <span class="blue bold">самостоятельно и<br>
			внимательно ознакомилась с материалами<br>
			этого сайта и знает ответы на все основные<br>
			вопросы. </span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="red bold">Persona Grata</span> учится с видимым старанием,<br>
			рвением, усердием, всё делает охотно<br>
			и хочет ещё!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="red bold">Persona Grata</span> учится потому,<br>
			что СОВЕРШЕНСТВУЕТ СЕБЯ.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="red bold">Persona Grata</span> <span class="yellow bold">– ЛИЧНОСТЬ</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Рядом с вами приятно быть, вас хочется любить<br>
			и учить хорошо-хорошо...
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 0;">
			При таком отношении к миру и жизни всё у вас<br>
			получится. Каким бы низким ни был начальный<br>
			уровень – роскошный конечный результат мы<br>
			вам <span class="red bold">ГАРАНТИРУЕМ!</span>
		</p>
		<p class="blue bold font-verdana" style="margin: 0 0 0 69px; font-size: 20px; line-height: 27px;">
			Ведь реальность – зеркало.<br>
			<span style="margin-left: 80px;">Ваше зеркало.</span>
		</p>		
	</div>
	<div style="width: 443px; height: 680px; float: right; margin: 0 22px 0 0;">
		<div class="image-shadow-0" style="width: 443px; height: 576px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="red size-18 font-arial center" style="margin: 16px 0 0 0;">
			Persona Grata
		</p>
	</div>
</div>
<p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
	Persona non Grata
</p>
<div style="padding-top: 33px; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<iframe width="640" height="360" src="//www.youtube.com/embed/bIqF_agcmW0?autoplay=1&amp;loop=1&amp;playlist=bIqF_agcmW0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="size-14 font-arial bold center" style="margin: 6px 0 57px 0; color: #4A4A4A;">
	Persona non Grata
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 57px;">
	Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным,<br>
	пропускать занятия, опаздывать, безбожно врать...
</p>
<p class="dark-blue size-18 bold font-arial" style="margin: 0 0 19px 57px;">
	Материалы сайта, само собой, можете не читать.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 57px;">
	<span class="red">Обучение для вас только по базовой стоимости.</span><br>
	Впрочем, первый сеанс, скорее всего, окажется и последним.
</p>
<p class="blue font-arial bold" style="font-size: 20px; margin: 0 0 90px 57px;">
	Ведь реальность – зеркало. Ваше зеркало.
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 21px 0 27px 0; line-height: 34px;">
	График занятий
</p>
<div style="width: 960px; height: 470px; padding: 17px 0 49px 0;">	
	<div style="width: 449px; height: 470px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow-0" style="width: 449px; height: 421px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nlo.jpg" width="100%" height="100%" alt="Прилёт инопланетян">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0;">
			Прилёт инопланетян
		</p>
	</div>
	<div style="width: 447px; height: 470px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: -7px 0 22px 0;">
			Согласовав график, <span class="red bold">Persona Grata</span> строго<br>
			его придерживается.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			В течение одного учебного курса<br>
			допускается только 1 (один) перенос	занятия<br>
			по любой причине (падение метеорита,<br>
			баланс, свадьба, прилёт	инопланетян и т.д.).<br>
			Опоздание – не более чем на 15 мин.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Мы можем глубоко вам сочувствовать, но всё<br>
			остальное за ваш счёт. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Альтернатива: статус <span class="bold">Persona non Grata</span><br>
			и занятия по базовой стоимости, без скидок.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="adres"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 42px 0 12px 0; line-height: 26px;">
	Где занятия?
</p>
<div style="width: 960px; height: 444px; padding: 46px 0 0 0;">	
	<div style="width: 450px; height: 444px; float: left; padding-left: 0">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 18px;">
			<span class="blue bold">VIP-обучение.</span> Занятия с автором<br>
			технологий профессором О.О.Веровенко.<br>
			<span class="lilac bold">м. <span class="tag">Молодёжная</span>.</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 18px;">
			<span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
			<span class="lilac bold">м. <span class="tag">Щёлковская</span>.</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 42px 18px;">
			<span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span>.<br>
			<span class="lilac bold">м. <span class="tag">Крылатское</span>.</span>
		</p>		
	</div>
	<div style="width: 476px; height: 444px; float: right; margin: 0 23px 0 0;">
		<div class="image-shadow-0" style="width: 476px; height: 270px; border-radius: 0;">
	 		<video width="640" height="360" autoplay loop style="margin: -47px 0 0 0;">
	 			<iframe width="640" height="360" src="//www.youtube.com/embed/o1pQ3CgNcOY?autoplay=1&amp;loop=1&amp;playlist=o1pQ3CgNcOY&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/train.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/train.webm" type='video/webm; codecs="vp8, vorbis"'>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="yellow size-18 bold font-verdana center line-height-23" style="margin: 36px 0 17px 20px;">
			Иногородние учащиеся могут приехать<br>
			на 1-2 недели и заниматься ежедневно.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="viezd"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 56px 0;">
	Выезд педагога к вам
</p>
<div style="width: 960px; height: 435px; padding: 0 0 67px 0;">	
	<div style="width: 370px; height: 435px; float: left; padding-right: 0px">
		<p class="grey size-18 font-verdana line-height-23" style="margin: 117px 0 22px 26px;">
			<span class="blue bold">В черте Москвы</span><br>
			Надбавка 50%
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			<span class="blue bold">За МКАД и в Санкт-Петербург</span><br>
			Надбавка 100%
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			<span class="blue bold">По России</span><br>
			Надбавка 200%
		</p>		
	</div>
	<div style="width: 559px; height: 435px; float: right; margin: 0 23px 0 0;">
		<div class="image-shadow-0" style="width: 559px; height: 419px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/coach.jpg" width="100%" height="100%" alt="Выезд педагога">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 15px 0 16px 0; line-height: 34px;">
	Учебники
</p>
<div style="width: 960px; height: 419px; padding: 29px 0 80px 0;">	
	<div style="width: 420px; height: 419px; float: left; margin: 0 0 0 78px;">
		<div class="image-shadow-0 in" style="width: 420px; height: 419px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/textbooks.jpg" width="100%" height="100%" alt="Учебники">
		</div>
		<div id="img_container"><img src=""></div>
	</div>
	<div style="width: 456px; height: 419px; float: right; padding-right: 0px">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 175px 0 22px 16px;">
			Великолепного качества<br>
			учебники и материалы<br>
			включены в стоимость обучения.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="bronirovanie"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 28px 0;">
	Бронирование места
</p>
<div style="width: 960px; height: 400px; padding: 23px 0 57px 0;">	
	<div style="width: 440px; height: 400px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 139px 0 22px 14px;">
			Место (на определённый день, месяц, час)<br>
			бронируется только после полной оплаты<br>
			вами курса обучения.
		</p>		
	</div>
	<div style="width: 498px; height: 400px; float: right; margin: 0 7px 0 0;">
		<div style="width: 498px; height: 345px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/armadillo.jpg" width="100%" height="100%" alt="Броненосец с плодом познания">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0;">
			Броненосец с плодом познания
		</p>
	</div>
</div>
<p><a name="stoimost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 0 0; line-height: 34px;">
	Стоимость обучения
</p>
<div style="width: 960px; height: 482px; padding: 0 0 0 0;">	
	<div style="width: 420px; height: 482px; float: left; margin: 0 0 0 9px;">
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 92px 0 13px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_vip; [/exec]" style="text-decoration: underline; color: #ED1C24;"><span class="red bold">VIP-обучение.</span></a>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_vip; [/exec]" style="text-decoration: none"><span class="dark-blue">Занятия с автором <span class="light-blue italic bold">NL</span>-технологий<br>
			профессором О.О.Веровенко.</span></a>
		</p>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 13px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_individualnoe; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold">Индивидуальное обучение.</span></a>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_individualnoe; [/exec]" style="text-decoration: none"><span class="dark-blue">Занятия с  педагогами <span class="blue">ВЫСШЕГО<br>
			РЕЙТИНГА</span>, работающими по технологиям<br>
			проф.О.О.Веровенко.</span></a>
		</p>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 44px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_gruppa; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red bold">Занятия в группах.</span></a>
		</p>		
	</div>
	<div style="width: 529px; height: 482px; float: right; margin: 0 1px 0 0;">
		<div style="width: 529px; height: 482px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/money.jpg" width="100%" height="100%" alt="Стоимость обучения">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 65px 0 32px 0; line-height: 34px;">
	С чего начать?
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	С записи на пробный сеанс, консультацию, диагностику и тестирование<br>
	к автору технологий обучения профессору Ольге Олеговне Веровенко.
</p>
<p class="red size-30 bold font-verdana center" style="margin: 67px 0 20px 0;">
	Телефон
</p>
<p style="margin: 0;"><a name="phone"></a></p>
<div style="width: 960px; height: 443px;">
	<div style="width: 787px; height: 443px; margin: 0;">	
		<div class="trans" style="width: 787px; height: 443px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 40px 0 21px 0;">
	Телефон
</p>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
	<span class="light-yellow">+7</span> <span class="lilac">(495)</span> <span class="blue">7</span><span class="light-blue">6</span>5<span class="blue">-</span><span class="green1">2</span><span class="blue">-</span>555
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
	с 12:00 до 23:00
</p>
<p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">	
	без выходных
</p>
<p class="blue size-24 font-verdana center" style="margin: 0 0 61px 0;">
	olgaverovenko@gmail.com
</p>
<p class="size-24 font-verdana center" style="margin: 0 0 29px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: none; border-bottom: 1px solid; color: #4A4A4A;"><span class="blue">Узнать подробности о курсах обучения. К навигации.</span></a>
</p>
<p class="size-18 bold font-verdana center" style="margin: 4px 0 30px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $faq; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Ответы на ваши основные вопросы</span></a>
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 26px 0 50px 0;">
		Всегда рады вам!
	</p>
</div>


































