		<div id="load-video11" style="width: 640px; height: 360px; overflow: hidden;">
			<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nongrata.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nongrata.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="365" src="//www.youtube.com/embed/bIqF_agcmW0?autoplay=1&amp;loop=1&amp;playlist=bIqF_agcmW0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div id="load-video22" style="width: 476px; height: 268px; overflow: hidden;">
	 		<video style="margin: -3px 0 0 0;" width="476" height="274" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/metro.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/metro.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe style="margin: 2px 0 0 0;" width="476" height="270" src="//www.youtube.com/embed/o1pQ3CgNcOY?autoplay=1&amp;loop=1&amp;playlist=o1pQ3CgNcOY&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
			<div id="load-video33" style="width: 355px; height: 200px;">
	 			<video style="margin: -2px 0 0 0;" width="355" height="204" autoplay loop>
			 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/price.mp4" type='video/mp4; codecs="avc1, mp4a"'>
					<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/price.webm" type='video/webm; codecs="vp8, vorbis"'>
					<iframe width="355" height="204" src="//www.youtube.com/embed/Oo4Ot9QmAMY?autoplay=1&amp;loop=1&amp;playlist=Oo4Ot9QmAMY&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
			  	</video>
	 		</div>
	 	<div id="load-video44" style="width: 356px; height: 200px;">
			<video style="margin: 0 0 0 0;" width="356" height="200" autoplay loop>
		 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/znak.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/znak.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="356" height="200" src="//www.youtube.com/embed/HBY97SZsiVw?autoplay=1&amp;loop=1&amp;playlist=HBY97SZsiVw&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		  	</video>
		</div>
		<div style="width: 355px; height: 200px;">
			<video style="margin: -2px 0 0 0;" width="355" height="204" autoplay loop>
		 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/wow.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/wow.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="355" height="204" src="//www.youtube.com/embed/C13MsoZe2co?autoplay=1&amp;loop=1&amp;playlist=C13MsoZe2co&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		  	</video>
		</div>
	<div id="load-video66" class="safari" style="width: 640px; height: 360px; overflow: hidden; margin:0 auto;">
 		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/girl.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe style="margin: 0 0 0 0;" width="640" height="360" src="//www.youtube.com/embed/S07ajxX3uaY?autoplay=1&amp;loop=1&amp;playlist=S07ajxX3uaY&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
			<p>not support video</p>
  		</video>
	</div>
	<div id="load-video77" style="width: 640px; height: 376px; margin:0 auto;">
		<div style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div id="load-video88" class="image-shadow-0" style="width: 521px; height: 292px; border-radius: 0; margin: 7px 0 0 0;">
		<video style="margin: -1px 0 0 0;" width="521" height="296" autoplay loop>
	 		<source src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/orel.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.pro/wp-content/themes/twentyfourteen/images/russkij/orel.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe width="521" height="295" src="//www.youtube.com/embed/O1S6lTD6Ges?autoplay=1&amp;loop=1&amp;playlist=O1S6lTD6Ges&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
	<div id="load-video99" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video width="640" height="362" autoplay loop>
	 		<source src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/on-lent/orel.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.pw/wp-content/themes/twentyfourteen/images/on-lent/orel.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe width="640" height="362" src="//www.youtube.com/embed/O1S6lTD6Ges?autoplay=1&amp;loop=1&amp;playlist=O1S6lTD6Ges&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
	<div id="load-video1010" class="image-shadow-0" style="width: 640px; height: 360px; border-radius: 0;">
		<video style="margin: -4px 0 0 0;" width="640" height="368" autoplay loop>
	 		<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/clock.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.org/wp-content/themes/twentyfourteen/images/anglijskij/clock.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe style="margin: 4px 0 0 0;" width="640" height="360" src="//www.youtube.com/embed/TSg6gGqs6Cs?autoplay=1&amp;loop=1&amp;playlist=TSg6gGqs6Cs&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
	<div id="load-video1111" style="width: 640px; height: 376px; margin:0 auto;">
		<div style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="364" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/buran.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/eU7_R2e_Pes?autoplay=1&amp;loop=1&amp;playlist=eU7_R2e_Pes&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div id="load-video1212" style="width: 640px; height: 376px; margin:0 auto;">
		<div class="image-shadow-0" style="width: 640px; height: 360px; overflow: hidden;">
	 		<video width="640" height="360" autoplay loop>
	 			<source src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/rosa.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.me/wp-content/themes/twentyfourteen/images/skazka/rosa.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="480" height="360" src="//www.youtube.com/embed/9vs2qme9dxU?autoplay=1&amp;loop=1&amp;playlist=9vs2qme9dxU&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>