<div style="width: 960px; height: 240px;">	
	<div style="width: 800px; height: 240px; float: left; margin: 0 0 0 0;">
		<p class="red bold size-36 font-verdana center" style="margin: 30px 0 66px 143px;">
			Скидки до 55%
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 31px;">
			<span class="red bold">Скидки до 55%</span> получает только <span class="yellow bold">Persona Grata</span>.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 31px;">
			<span class="yellow bold">Persona Grata</span> <span class="blue">внимательно</span> ознакомилась со всеми материалами нашего сайта.
		</p>		
	</div>
	<div style="width: 167px; float: right; height: 161px; margin: 52px -10px 0 0">
		<img class="trans2" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/horseshoe.png"  width="167" height="161" alt="" style="opacity:0; margin-top: -700px; margin-left: 600px; position:relative; z-index: 1;">
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 31px;">
	<span class="yellow bold">Persona Grata</span> интересуется прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это получается.<br>
	Мы <span class="blue bold">благодарим</span> вас за это огромными скидками.
</p>
<p class="dark-blue size-18 bold font-verdana line-height-23" style="margin: 0 0 56px 31px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Вернёмся к навигации?</span></a>
</p>
<p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
	Persona non Grata
</p>
<div style="padding-top: 49px; height: 373px;">
	<div style="width: 630px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/non-grata.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/bIqF_agcmW0?autoplay=1&amp;loop=1&amp;playlist=bIqF_agcmW0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="size-14 font-arial bold center" style="margin: 6px 0 57px 0; color: #4A4A4A;">
	Persona non Grata
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 57px;">
	Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным,<br>
	пропускать занятия, опаздывать, безбожно врать...
</p>
<p class="dark-blue size-18 font-arial" style="margin: 0 0 19px 57px;">
	Материалы сайта, само собой, можете не читать.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 57px;">
	<span class="red">Надбавка к стоимости обучения для вас от 100 до 300%.</span><br>
	Впрочем, первый сеанс, скорее всего, окажется и последним.
</p>
<p class="blue font-arial bold" style="font-size: 20px; margin: 0 0 60px 57px;">
	Ведь реальность - зеркало. Ваше зеркало.
</p>
<p><a name="grata"></a></p>
<p class="red font-sans-font center" style="margin-bottom: 0px;">
	Persona Grata
</p>
<div style="width: 960px; height: 600px; padding: 39px 0 8px 0;">	
	<div style="width: 510px; height: 600px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 7px 0 22px 40px;">
			<span class="red bold">Persona Grata</span> — это вы, наши любимые<br>
			ученики. Доброжелательны, приветливы,<br>
			этичны, благодарны. Чистоплотны, очень точны.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			<span class="red bold">Persona Grata</span> учится с видимым старанием,<br>
			рвением, усердием, всё делает охотно и хочет ещё!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			<span class="red bold">Persona Grata</span> учится потому,<br>
			что СОВЕРШЕНСТВУЕТ СЕБЯ.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			<span class="red bold">Persona Grata</span> — ЛИЧНОСТЬ.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 40px;">
			Рядом с вами приятно быть, вас хочется любить и учить хорошо-хорошо...
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 19px 40px;">
			При таком отношении к миру и жизни всё у вас получится. Каким бы низким ни был  начальный уровень — роскошный конечный результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
		</p>
		<p class="blue bold font-verdana" style="margin: 0 0 22px 110px; font-size: 20px; line-height: 27px;">
			Ведь реальность — зеркало.<br>
			<span style="margin-left: 80px;">Ваше зеркало.</span>
		</p>		
	</div>
	<div style="width: 399px; height: 535px; float: right; margin: 0 24px 0 0;">
		<div class="image-shadow-0" style="width: 399px; height: 519px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/grata.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="red size-18 font-arial center" style="margin: 16px 0 0 0;">
			Persona Grata
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 21px 0 27px 0; line-height: 34px;">
	График занятий
</p>
<div style="width: 960px; height: 470px; padding: 17px 0 25px 0;">	
	<div style="width: 449px; height: 470px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow-0" style="width: 449px; height: 421px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/nlo.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0;">
			Прилёт инопланетян
		</p>
	</div>
	<div style="width: 447px; height: 470px; float: right;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 53px 0 22px 0;">
			Согласовав график, <span class="red bold">Persona Grata</span> строго<br>
			его придерживается.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			В течение одного учебного курса<br>
			допускается только 1 (один) перенос	занятия<br>
			по любой причине (падение метеорита,<br>
			баланс, свадьба, прилёт	инопланетян и т.д.).<br>
			Опоздание - не более чем на 15 мин.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Мы можем глубоко вам сочувствовать, но всё<br>
			остальное за ваш счёт. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 0 0;">
			Альтернатива: статус <span class="bold">Persona non Grata</span> и<br>
			занятия по повышенной стоимости.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 42px 0 12px 0; line-height: 26px;">
	Где занятия?
</p>
<div style="width: 960px; height: 483px; padding: 46px 0 0 0;">	
	<div style="width: 420px; height: 483px; float: left; padding-left: 6px">
		<p class="dark-blue size-15 font-verdana" style="margin: 0 0 17px 20px; line-height: 19px;">
			<span class="blue bold">VIP-обучение.</span> Занятия с автором методик<br>
			профессором О.О.Веровенко.<br>
			<span class="lilac bold">ст.м. <span class="tag">Молодёжная</span>.</span>
		</p>
		<p class="dark-blue size-15 font-verdana" style="margin: 0 0 17px 20px; line-height: 19px;">
			<span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
			<span class="lilac bold">ст.м. <span class="tag">Щёлковская</span>.</span>
		</p>
		<p class="dark-blue size-15 font-verdana" style="margin: 0 0 17px 20px; line-height: 19px;">
			<span class="blue bold">Английский язык.</span> Уровень виртуозов.<br>
			Синхронный перевод, свободная речь.<br>
			<span class="lilac bold">ст.м. <span class="tag">Белорусская</span>.</span>
		</p>
		<p class="dark-blue size-15 font-verdana" style="margin: 0 0 17px 20px; line-height: 19px;">
			<span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span><br>
			<span class="lilac bold">ст.м. <span class="tag">Крылатское</span>.</span>
		</p>
		<p class="dark-blue size-15 font-verdana" style="margin: 0 0 17px 20px; line-height: 19px;">
			<span class="blue bold">Чтение, речь, актёрское мастерство.</span>
			<span class="lilac bold">ст.м. <span class="tag">Чистые пруды</span>, <span class="tag">Цветной бульвар</span>.</span>
		</p>
		<p class="dark-blue size-15 font-verdana" style="margin: 0 0 0 20px; line-height: 19px;">
			<span class="blue bold"><span class="tag">Сафари-парк</span>.</span>
			Обучение + оздоровление и отдых на море<br>
			всей семьёй.<br>
			<span class="lilac bold">Геленджик, Краснодарский край.</span>
		</p>		
	</div>
	<div style="width: 476px; height: 483px; float: right; margin: 0 23px 0 0;">
		<div class="image-shadow-0" style="width: 476px; height: 357px; border-radius: 0;">
	 		<video width="480" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/train.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/train.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/O3imVTd31GE?autoplay=1&amp;loop=1&amp;playlist=bIqF_agcmW0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="yellow size-18 bold font-verdana center line-height-23" style="margin: 36px 0 17px 20px;">
			Иногородние учащиеся могут приехать<br>
			на 1-2 недели и заниматься ежедневно.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 34px 0; line-height: 34px;">
	Выезд педагога к вам
</p>
<div style="width: 960px; height: 435px; padding: 0 0 67px 0;">	
	<div style="width: 370px; height: 435px; float: left; padding-right: 0px">
		<p class="grey size-18 font-verdana line-height-23" style="margin: 47px 0 22px 26px;">
			<span class="blue bold">Индивидуальное обучение.</span><br>
			Надбавка за выезд к вам 50%.<br>
			За МКАД – 100%.
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			<span class="blue bold">В вашей мини-группе<br>
			из 2-3 человек.</span><br>
			Надбавка за выезд к вам 20%.<br>
			За МКАД – 50%.
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			<span class="blue bold">В вашей большой группе.</span><br>
			Надбавки нет.
		</p>
		<p class="grey size-18 font-verdana line-height-23" style="margin: 0 0 22px 26px;">
			<span class="blue bold"><span class="tag">Сафари-парк</span>.</span> Надбавка от 0%.
		</p>		
	</div>
	<div style="width: 559px; height: 435px; float: right; margin: 0 23px 0 0;">
		<div class="image-shadow-0" style="width: 559px; height: 419px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/coach.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p><a name="stoimost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 0 0; line-height: 34px;">
	Стоимость обучения
</p>
<div style="width: 960px; height: 400px; padding: 59px 0 0 0;">	
	<div style="width: 420px; height: 400px; float: left;">
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 33px 0 13px 20px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_vip; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">VIP-обучение.</span></a>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 20px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_vip; [/exec]" style="text-decoration: none"><span class="dark-blue">Занятия с автором <span class="light-blue italic bold">NL</span>-технологий<br>
			профессором О.О.Веровенко.</span></a>
		</p>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 13px 20px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_individualnoe; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">Индивидуальное обучение.</span></a>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 20px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_individualnoe; [/exec]" style="text-decoration: none"><span class="dark-blue">Занятия с  педагогами <span class="blue">ВЫСШЕГО<br>
			РЕЙТИНГА</span>, работающими по технологиям<br>
			проф.О.О.Веровенко.</span></a>
		</p>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 0 0 22px 20px;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_gruppa; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="light-blue bold">Занятия в группах.</span></a>
		</p>	
		<p class="red size-15 font-verdana line-height-23" style="margin: 0 0 22px 20px;">
			Кликните, пожалуйста, по выбранному варианту.
		</p>	
	</div>
	<div style="width: 455px; height: 387px; float: right; margin: 0 64px 0 0;">
		<div class="image-shadow-0" style="width: 455px; height: 387px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/money.jpg); box-shadow: none;">
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 45px 0 26px 0; line-height: 34px;">
	Учебники
</p>
<div style="width: 960px; height: 419px; padding: 29px 0 41px 0;">	
	<div style="width: 420px; height: 419px; float: left; margin: 0 0 0 78px;">
		<div class="image-shadow-0" style="width: 420px; height: 419px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/textbooks.jpg);">
		</div>
	</div>
	<div style="width: 456px; height: 419px; float: right; padding-right: 0px">
		<p class="blue size-18 font-verdana line-height-23" style="margin: 175px 0 22px 29px;">
			Великолепного качества<br>
			учебники и материалы<br>
			включены в стоимость обучения.
		</p>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 42px 0 26px 0; line-height: 34px;">
	Бронирование места
</p>
<div style="width: 960px; height: 400px; padding: 23px 0 62px 0;">	
	<div style="width: 440px; height: 400px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 139px 0 22px 14px;">
			Место (на определённый день, месяц, час)<br>
			бронируется только после полной оплаты<br>
			вами курса обучения.
		</p>		
	</div>
	<div style="width: 498px; height: 400px; float: right; margin: 0 7px 0 0;">
		<div class="image-shadow-0" style="width: 498px; height: 345px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/armadillo.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0;">
			Броненосец с плодом познания
		</p>
	</div>
</div>
<p class="red size-36 bold font-verdana center" style="margin: 9px 0 32px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 24px;">
	<span class="red bold">Скидки до 55%</span> получает только тот, кто <span class="blue bold">внимательно</span> ознакомился с материалами сайта.<br>
	<span class="yellow bold">Это этично.</span> Вы бережёте наше время, силы, нервы. Мы <span class="blue bold">БЛАГОДАРИМ</span> вас за это<br>
	<span class="red bold">огромными</span> скидками.
</p>
<p class="dark-blue size-18 bold font-verdana line-height-23" style="margin: 0 0 69px 31px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Вернёмся к навигации?</span></a>
</p>
<p><a name="phone"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 52px 0; line-height: 34px;">
	Телефон
</p>
<p class="yellow size-30 font-verdana center" style="margin: 41px 0 26px 0; line-height: 13px;">
	+7 (495) 765-2-555<br>	
	<span class="size-18">без выходных</span>
</p>
<p class="yellow size-24 font-verdana center" style="margin: 31px 0 7px 0;">
	olgaverovenko@gmail.com
</p>
<div style="padding-top: 33px; width: 960px; height: 336px;">
	<div style="width: 568px; height: 336px; margin: 0 auto;">	
		<div class="image-shadow-0 trans" style="width: 568px; height: 320px;">
			<img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/phone.jpg"  width="568" height="320" alt="lorem" style="opacity:0; margin-left: 600px;">
		</div>
		<div class="image-shadow-right-1 trans1" style="opacity:0; margin-left: 600px;">			
		</div>
		<div class="image-shadow-left-1 trans1" style="opacity:0; margin-left: 600px;">			
		</div>
	</div>
</div>
<p class="red bold size-18 font-verdana center" style="margin: 10px 0 26px 0; line-height: 34px;">
	Всегда рады вам!
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 84px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]


































