<p style="margin: 0;"><a name="nachalo"></a></p>
<p class="light-blue size-30 font-verdana bold" style="margin: -11px 0 37px 0;">
	Условия обучения
</p>
<p class="red font-verdana size-24 bold center" style="margin-bottom: 25px;">
	Стоимость и скидки
</p>
<div style="width: 960px; height: 434px; padding: 37px 0 30px 0;">	
	<div style="width: 473px; height: 434px; float: left; margin: 0 0 0 22px;">
		<p class="dark-yellow size-18 bold font-verdana" style="margin: -4px 0 22px 0; line-height: 28px;">
			Как всё уникальное,<br>
			нейролингвистическое обучение –
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			яркое, игровое, молниеносное,<br>
			фантастически эффективное,
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			без зубрёжки правил, без перегрузок<br>
			и почти без домашних заданий,
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 22px 0; line-height: 28px;">
			творящее чудеса и заменяющее собой<br>
			годы и десятилетия труда, –<br>
			дешёвым быть не может.
		</p>
		<p class="dark-yellow size-18 bold font-verdana" style="margin: 0 0 35px 0; line-height: 28px;">
			Оно дорогое и, поверьте, того стоит.
		</p>
		<p class="yellow bold center size-18 font-verdana line-height-23" style="margin: 0 44px 22px 0;">
			Постарайтесь получить скидку!
		</p>
		<div id="anim-uslobuch" style="height: 0; width: 430px;">
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -445px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -415px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -370px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -340px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -295px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -265px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -220px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -190px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -160px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -115px 0 0 0;"></div>
			<div style="height: 40px; width: 430px; position: absolute; background-color: white; margin: -55px 0 0 0;"></div>
		</div>		
	</div>
	<div style="width: 423px; height: 434px; float: right; margin: 0 22px 0 0; position: relative;">
		<div class="image-shadow" style="width: 423px; height: 414px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/apple-tree1.jpg" width="100%" height="100%" alt="Яблоня">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 16px;">
	Для этого вам необходимо обрести статус <span class="red bold">Persona Grata</span>.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
	<span class="red bold">Persona Grata</span> – это статус <span class="yellow bold">ЛИЧНОСТИ</span>, который присваивается не всем, а только <span class="yellow bold">ИЗБРАННЫМ</span>. Этот статус даёт право<br>
	на скидку 50% и особое отношение с нашей стороны.
</p>
<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 88px 16px;">
	Для обретения этого статуса вам надо соблюдать все условия, предъявляемые к <span class="red bold">Persona Grata</span>.
</p>
<p style="margin: 0;"><a name="grata"></a></p>
<p class="red font-verdana size-24 bold center" style="margin-bottom: 7px;">
	Persona Grata
</p>
<div style="width: 960px; height: 740px; padding: 36px 0 21px 0;">	
	<div style="width: 477px; height: 740px; float: left; margin: 0 0 0 18px;">
		<p class="dark-blue size-14 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> – это наши любимые ученики.<br>
			Доброжелательны, приветливы,  этичны, благодарны, <br>
			чистоплотны, очень точны.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> делает свой выбор <span class="yellow bold">ОСОЗНАННО</span>, поэтому<br>
			основательно и внимательно ознакомилась с материалами<br>
			сайта.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> живо интересуется нашим творчеством и<br>
			трудом и прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это<br>
			получается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> уважает наш труд, заранее нас любит и хочет<br>
			учиться у нас и только у нас!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> <span class="yellow bold">– ЛИЧНОСТЬ.</span><br>
			Учится потому, что СОВЕРШЕНСТВУЕТ СЕБЯ.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			<span class="red bold">Persona Grata</span> учится с видимым старанием, рвением,<br>
			усердием, всё делает охотно и хочет ещё!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
			Рядом с вами приятно быть, вас хочется любить и учить<br>
			хорошо-хорошо...
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
			При таком отношении к миру и жизни всё у вас получится.<br>
			Пусть низок начальный уровень – роскошный конечный<br>
			результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
		</p>
		<p class="blue size-18 bold font-verdana" style="margin: 0 0 0 91px; line-height: 28px;">
			Ведь реальность – зеркало.<br>
			<span style="margin-left: 80px;">Ваше зеркало.</span>
		</p>		
	</div>
	<div style="width: 439px; height: 740px; float: right; margin: 0 26px 0 0;">
		<div class="image-shadow" style="width: 439px; height: 571px; border: 2px solid #AAA8A8;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="red size-18 font-verdana center" style="margin: 17px 0 0 0;">
			Persona Grata
		</p>
	</div>
</div>
<p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
	Persona non Grata
</p>
<div style="padding-top: 33px; height: 373px;">
	<div style="width: 630px; height: 357px; margin:0 auto;">
		<div style="width: 626px; height: 357px; border: 2px solid #000000; border-radius: 0;">
			<iframe width="640" height="360" src="//www.youtube.com/embed/bIqF_agcmW0?autoplay=1&amp;loop=1&amp;playlist=bIqF_agcmW0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<p class="size-14 font-arial bold center" style="margin: 6px 0 45px 0; color: #4A4A4A;">
	Persona non Grata
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
	Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным, пропускать занятия,<br>
	опаздывать, безбожно врать...
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
	<span class="blue">Обучение для вас только по базовой стоимости, без скидок.</span><br>
	Впрочем, первый сеанс, скорее всего, окажется и последним.
</p>
<p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 44px; line-height: 22px;">
	<span class="blue">Материалы сайта, само собой, вы не читали.</span> Но если вам НЕ ИНТЕРЕСНЫ ни наш виртуозный труд, ни проблемы<br>
	вашего собственного ребёнка, то вы нам НЕ ИНТЕРЕСНЫ тоже.
</p>
<p class="blue font-verdana bold center" style="font-size: 20px; margin: 0 0 41px 0; line-height: 25px;">
	Ведь реальность – зеркало.<br>
	Ваше зеркало.
</p>
<p class="dark-blue size-14 font-arial line-height-23" style="margin: 0 0 89px 39px;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $navigatsiya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue">Вернёмся к навигации – на всякий-то случай?</span></a>
</p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 21px 0 44px 0; line-height: 34px;">
	График занятий
</p>
<div style="width: 960px; height: 367px; padding: 17px 0 135px 0;">	
	<div style="width: 375px; height: 367px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow" style="width: 375px; height: 351px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nlo.jpg" width="100%" height="100%" alt="Прилёт инопланетян">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
			Прилёт инопланетян
		</p>
	</div>
	<div style="width: 439px; height: 367px; float: right;">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			Согласовав график, <span class="red bold">Persona Grata</span><br>
			строго его придерживается.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
			В течение одного учебного курса<br>
			допускается только 1 (один) перенос<br>
			занятия по любой причине (падение<br>
			метеорита, баланс, свадьба, прилёт<br>
			инопланетян и т.д.). Опоздание – не<br>
			более чем на 15 мин.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
			Альтернатива: занятия по базовой<br>
			стоимости, без скидок.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="adres"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 12px 0; line-height: 26px;">
	Где занятия?
</p>
<div style="width: 960px; height: 437px; padding: 46px 0 0 0;">	
	<div style="width: 450px; height: 437px; float: left; padding-left: 0">
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 18px; line-height: 22px;">
			<span class="blue bold">VIP-обучение.</span> Любой курс с автором<br>
			технологий профессором О.О.Веровенко.<br>
			<span class="lilac bold">м. <span class="tag">Молодёжная</span>.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 18px; line-height: 22px;">
			<span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
			<span class="lilac bold">м. <span class="tag">Щёлковская</span>.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 39px 18px; line-height: 22px;">
			<span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span>.<br>
			<span class="lilac bold">м. <span class="tag">Крылатское</span>.</span>
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 0 18px; line-height: 17px;">
			Иногородние учащиеся могут приехать<br>
			на 1-2 недели и заниматься ежедневно.
		</p>		
	</div>
	<div style="width: 476px; height: 437px; float: right; margin: 0 23px 0 0;">
		<div style="width: 476px; height: 270px; border-radius: 0; overflow: hidden;">
	 		<iframe style="margin: -46px 0 0 0;" width="640" height="360" src="//www.youtube.com/embed/o1pQ3CgNcOY?autoplay=1&amp;loop=1&amp;playlist=o1pQ3CgNcOY&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="viezd"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 43px 0;">
	Выезд педагога к вам
</p>
<div style="width: 960px; height: 444px; padding: 0 0 67px 0;">	
	<div style="width: 360px; height: 444px; float: left; padding-right: 0px">
		<p class="grey size-14 font-verdana" style="margin: 117px 0 21px 43px; line-height: 22px;">
			<span class="blue bold">В черте Москвы</span><br>
			Надбавка 50%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 22px;">
			<span class="blue bold">За МКАД и в Санкт-Петербург</span><br>
			Надбавка 100%
		</p>
		<p class="grey size-14 font-verdana" style="margin: 0 0 21px 43px; line-height: 22px;">
			<span class="blue bold">По России</span><br>
			Надбавка 200%
		</p>		
	</div>
	<div style="width: 571px; height: 444px; float: right; margin: 0 0 0 0;">
		<div class="image-shadow" style="width: 571px; height: 428px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/coach.jpg" width="100%" height="100%" alt="Выезд педагога">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue bold size-24 font-verdana center" style="margin: 25px 0 16px 0; line-height: 34px;">
	Учебники
</p>
<div style="width: 960px; height: 440px; padding: 50px 0 76px 0;">	
	<div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
		<div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/textbooks.jpg" width="100%" height="100%" alt="Учебники">
		</div>
		<p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
		<div id="img_container"><img src=""></div>
	</div>
	<div style="width: 449px; height: 440px; float: right; padding-right: 0px">
		<p class="blue size-14 font-verdana" style="margin: 201px 0 22px 16px; line-height: 22px;">
			Великолепного качества<br>
			учебники и материалы<br>
			включены в стоимость обучения.
		</p>
	</div>
</div>
<p style="margin: 0 0 0 0;"><a name="bronirovanie"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 28px 0;">
	Бронирование места
</p>
<div style="width: 960px; height: 400px; padding: 21px 0 37px 0;">	
	<div style="width: 440px; height: 400px; float: left; padding-right: 0px">
		<p class="dark-blue size-14 font-verdana center" style="margin: 191px 0 22px 0; line-height: 22px;">
			Место (на определённый день, месяц, час) бронируется<br>
			только после полной оплаты вами курса обучения.
		</p>		
	</div>
	<div style="width: 498px; height: 400px; float: right; margin: 0 11px 0 0;">
		<div style="width: 498px; height: 345px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/armadillo.jpg" width="100%" height="100%" alt="Броненосец с плодом познания">
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
			Броненосец с плодом познания
		</p>
	</div>
</div>
<p><a name="stoimost"></a></p>
<p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 0 0; line-height: 34px;">
	Стоимость обучения
</p>
<div style="width: 960px; height: 600px; padding: 0 0 0 0;">	
	<div style="width: 480px; height: 600px; float: left; margin: 0 0 0 9px; position: relative;">
		<div style="width: 355px; height: 200px; border-radius: 0; overflow: hidden; margin: 189px 0 0 32px;">
	 		<iframe style="margin: 0 0 0 0;" width="355" height="200" src="//www.youtube.com/embed/Oo4Ot9QmAMY?autoplay=1&amp;loop=1&amp;playlist=Oo4Ot9QmAMY&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
		</div>
		<p class="blue size-16 font-verdana center" style="margin: 75px 62px 0 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $stoimost_vip; [/exec]" style="text-decoration: underline; color: #717070;"><span class="blue">Кликните, пожалуйста, здесь.</span></a>
		</p>		
	</div>
	<div style="width: 519px; height: 600px; float: right; margin: -3px 0 0 -50px;">
		<div style="width: 519px; height: 677px; margin: -99px 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/money.jpg" width="100%" height="100%" alt="Стоимость обучения">
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 4px 0 147px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class=" blue size-24 bold font-verdana center" style="margin: 42px 0 15px 0;">
	Кликните, пожалуйста, по выбранному направлению компаса.
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 16px 0 28px 0;">
		Всегда рады вам!
	</p>
</div>
<p class="size-18 bold font-verdana center" style="margin: 4px 0 30px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $faq; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Ответы на ваши основные вопросы</span></a>
</p>

































