<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $skazkame; [/exec]"><span class="yellow">СОЧИНЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]"><span class="yellow">АНГЛИЙСКИЙ</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]"><span class="yellow">РУССКИЙ</span></a></div>
		</div>
	</div>
</div>
<div style="width: 126px; height: 400px; position: fixed; z-index: 9999; overflow: hidden; top: 30%; left: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $viktorina; [/exec]'">
	<p class="lilac size-24 font-arial bold center" style="margin: 0 0 25px 0; line-height: 28px;">
		В<br>И<br>К<br>Т<br>О<br>Р<br>И<br>Н<br>А
	</p>
	<p class="red size-14 font-arial bold center" style="margin: 0 0 14px 0; line-height: 17px;">
		Выиграйте<br>
		4.000 евро и<br>
		оплатите<br>
		обучение!
	</p>
	<p class="dark-blue size-14 font-arial center" style="margin: 0 0 21px 0; text-decoration: underline; line-height: 17px;">
		Участвуйте<br>
		бесплатно!
	</p>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 22px 0 5px 0;">
	Профессор Ольга Олеговна Веровенко
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 74px 0;">
	и её <span class="light-blue bold" style="font-style: italic;">NL</span>-технологии скоростного обучения
</p>
<div style="width: 960px; height: 642px; padding: 0 0 0 0;">	
	<div style="width: 368px; height: 642px; float: left; margin: 0 0 0 39px;">
		<div class="image-shadow-0" style="width: 368px; height: 554px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.com/wp-content/themes/twentyfourteen/images/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
			Профессор Ольга Олеговна Веровенко.<br>
			Фото с урока.
		</p>
	</div>
	<div style="width: 505px; height: 642px; float: right; margin: 0 5px 0 0;">
		<p class="light-blue size-16 font-verdana bold center" style="margin: -2px 0 8px 0;">
			Веровенко  Ольга Олеговна
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 0; line-height: 17px;">
			Педагог (Почётный работник образования РФ), врач, <span class="light-blue bold italic">NL</span>-психолог,<br>
			филолог (русский и английский языки), учёный-нейролингвист,<br>
			телерадиоведущая.
			Автор 26 учебников и монографий.<br>
			Является одним из основоположников современной <span class="light-blue bold italic">NL</span>-науки.
		</p>
		<p class="light-blue size-16 font-verdana bold center" style="margin: 0 0 8px 0;">
			Звания и степени
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 32px 0; line-height: 18px;">
			<span class="red" style="font-size: 12px;">Международные:</span> Doctor, Grand Doctor, Professor, Full Professor.<br>
			<span class="red" style="font-size: 12px;">Российские:</span> профессор, доктор психологических наук,<br>
			кандидат филологических наук. 
		</p>
		<p class="light-blue size-16 font-arial bold center" style="margin: 0 0 8px 0;">
			Образование
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 32px 0; line-height: 17px;">
			Четыре высших образования: МГУ (Москва), университет<br>
			Цинциннати (США), аспирантура, докторантура (Бельгия).<br>
			Все защиты по сумме собственных трудов.<br>
			<span class="red" style="font-size: 12px;">Стажировки:</span> США, Франция (дважды).
		</p>
		<p class="light-blue size-16 font-arial bold center" style="margin: 0 0 8px 0;">
			Изобретения
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			<span class="tag">Способы идентификации объектов</span>, более известные как метод<br>
			<span class="tag">Врождённой грамотности</span> и <span class="tag">Вертикальный взлёт</span>
		</p>
		<p class="blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">	
			Международная экспертиза PCT подтвердила, что в области<br>
			нейролингвистики – современной науки об усвоении информации<br>
			человеческим мозгом – эти технологии <span class="red">не имеют аналогов в мире.</span>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
			Эти <span class="light-blue bold italic">NL</span>-технологии <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, быстрее, мощнее</span><br>
			традиционного обучения.
		</p>
	</div>
</div>
<p class="light-blue size-16 font-arial bold center" style="margin: 0 0 31px 0;">
	Автор <span class="bold" style="font-style: italic;">NL</span>-технологий скоростного обучения:
</p>
<ul class="grey font-verdana" style="margin: 0 0 0 55px; line-height: 21px;">
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Врождённая грамотность</span> <span class="dark-blue">(русский язык для школьников и взрослых);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Нейролингвистика</span> <span class="dark-blue">(обучение грамотности на уровне Подсознания);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Вертикальный взлёт</span> <span class="dark-blue">(сверхскоростное обучение английскому на уровене Подсознания);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Чудо будет!</span> <span class="dark-blue">(игровой курс грамотности для школьников и взрослых);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Волшебный сеанс</span> <span class="dark-blue">(ликвидация дислексии, дисграфии за 1 сеанс);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Арт-терапия</span> <span class="dark-blue">(ликвидация <span class="tag">школьного</span> невроза);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Творчество</span> <span class="dark-blue">(навык гениальных сочинений, изложений, сказок; развитие творческого мышления);</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">Техника и культура речи</span>, <span class="tag bold">Чтение.</span></span></li>
	<li class="size-18"><span class="blue size-14"><span class="tag bold">ГИА, ЕГЭ</span> <span class="dark-blue">(комплексный курс подготовки).</span></span></li>
</ul>
<div style="width: 960px; height: 678px; padding: 33px 0 0 0;">	
	<div style="width: 525px; height: 678px; float: left; padding-right: 0px">
		<p class="light-blue size-16 font-verdana bold center" style="margin: 52px 36px 8px 0;">
			Практическая деятельность
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 31px; line-height: 17px;">
			Декан факультета педагогики и психологии, сенатор, член <br>
			учёного совета Международной докторантуры (<span class="blue bold">Бельгия</span>).
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 31px; line-height: 17px;">
			Научный руководитель авторской школы-студии (<span class="blue bold">Россия</span>). 
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 27px 31px; line-height: 17px;">
			Преподаёт, консультирует, создаёт новые <span class="light-blue bold italic">NL</span>-технологии. 
		</p>
		<p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 3px 0;">
			Спорт
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 30px 31px; line-height: 17px;">
			Сёрфинг, яхтинг, горный туризм, альпинизм.
		</p>
		<p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 3px 0;">
			Увлечения
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 31px; line-height: 17px;">
			Играть с детьми, выращивать цветы.
		</p>
		<p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 6px 0;">
			Награды
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 31px; line-height: 17px;">
			Почётный работник общего образования России.<br>
			Диплом мэра Москвы <span class="tag">За вклад в развитие столицы</span>.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 31px; line-height: 17px;">	
			Имя Ольги Веровенко внесено в энциклопедию.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 45px 31px; line-height: 17px;">	
			Именем Ольги Веровенко названа звезда в созвездии Кассиопеи.
		</p>
		<p class="light-blue size-16 font-verdana bold center" style="margin: 0 36px 14px 0;">
			Уникальный ДАР
		</p>
		<p class="yellow bold size-14 font-verdana" style="margin: 0 0 26px 31px; line-height: 17px;">	
			Обладает уникальной благоприятной энергетикой,<br>
			позволяющей молниеносно передавать знания и<br>
			навыки, снимая все проблемы обучения.
		</p>		
	</div>
	<div style="width: 418px; height: 678px; float: right; margin: 0 14px 0 0;">
		<p class="blue size-18 font-arial bold center" style="margin: 0 0 31px 0; line-height: 21px;">
			Звезда Ольга Веровенко<br>
			в созвездии Кассиопеи
		</p>
		<div class="image-shadow-0" style="width: 418px; height: 524px; border: 2px solid rgba(170, 168, 168, 1);">
			<img src="http://verovenko.com/wp-content/themes/twentyfourteen/images/star.jpg" width="100%" height="100%" alt="Звезда Ольга Веровенко в созвездии Кассиопеи">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="blue size-18 font-verdana bold" style="margin: 25px 0 56px 44px;">
	Любимые слова Ольги Веровенко:
</p>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 0 0; line-height: 41px;">
	Ты говоришь: <span class="tag">Как высока та гора!</span><br>
	Нет. Это ты стоишь низко.<br>
	Сделай шаг. Видишь, гора стала ниже?<br>
	Шаг. И ещё шаг...<br>
	Из цепочки шагов сложится<br>
	Самый Блистательный Маршрут.<br>
	Пойдём вместе?
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 60px 0 72px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
[exec] include_once get_template_directory().'/end.php'; [/exec]