<p class="light-blue size-24 font-verdana bold center" style="margin: 22px 0 5px 0;">
	Профессор Ольга Олеговна Веровенко
</p>
<p class="blue size-18 font-verdana center" style="margin: 0 0 40px 0;">
	и её <span class="light-blue bold" style="font-style: italic;">NL</span>-технологии скоростного обучения
</p>
<div style="width: 960px; height: 750px; padding: 0 0 0 0;">	
	<div style="width: 437px; height: 750px; float: left;">
		<div class="image-shadow-0" style="width: 437px; height: 656px; margin: 32px 0 0 0;">
			<img src="http://verovenko.com/wp-content/themes/twentyfourteen/images/verovenko2.jpg" width="100%" height="100%" alt="Профессор Ольга Олеговна Веровенко">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 23px 0 0 0; line-height: 16px;">
			Профессор Ольга Олеговна Веровенко.<br>
			Фото с урока.
		</p>
	</div>
	<div style="width: 520px; height: 750px; float: right; margin: 0 -10px 0 0;">
		<p class="red size-16 font-verdana bold center" style="margin: 0 0 6px 0;">
			Веровенко  Ольга Олеговна
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 31px 0;">
			Учёный-нейролингвист, педагог, психолог, журналист.<br>
			Автор 26 учебников и монографий.<br>
			Является одним из основоположников<br>
			современной <span class="light-blue bold" style="font-style: italic;">NL</span>-науки.
		</p>
		<p class="red size-16 font-verdana bold center" style="margin: 0 0 8px 0;">
			Звания и степени:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 27px 0;">
			Doctor, Grand Doctor, Professor, Full Professor.<br>
			Доктор психологических наук, кандидат<br>
			филологических наук, профессор. 
		</p>
		<p class="red size-16 font-arial bold center" style="margin: 0 0 11px 0;">
			Образование:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Четыре высших образования: МГУ (Москва),<br>
			университет Цинциннати (США), аспирантура,<br>
			докторантура (Бельгия). Все защиты по сумме<br>
			собственных трудов.
		</p>
		<p class="red size-16 font-arial bold center" style="margin: 0 0 4px 0;">
			Стажировки:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23 center" style="margin: 0 0 26px 0;">
			США, Франция (дважды).
		</p>
		<p class="red size-16 font-arial bold center" style="margin: 0 0 8px 0;">
			Изобретения
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			<span class="tag">Способы идентификации объектов</span>, более<br>
			известные как метод <span class="tag">Врождённой грамотности</span><br>
			(русский язык) и <span class="tag">Вертикальный взлёт</span> (английский<br>
			язык).<br>
			<span class="yellow">Международная экспертиза PCT подтвердила, что в<br>
			области нейролингвистики (<span class="light-blue bold" style="font-style: italic;">NL</span>) – современной<br>
			науки об усвоении информации человеческим<br>
			мозгом – эти технологии не имеют аналогов в мире.</span>
		</p>
	</div>
</div>
<p class="red size-16 font-arial bold center" style="margin: 49px 0 31px 0;">
	Автор <span class="light-blue bold" style="font-style: italic;">NL</span>-технологий скоростного обучения:
</p>
<ul class="grey size-18 font-verdana" style="margin: 0 0 0 76px; line-height: 21px;">
	<li><span class="blue"><span class="tag">Врождённая грамотность</span> <span class="dark-blue size-14 font-arial bold">(русский язык, грамотность, ГИА, ЕГЭ);</span></span></li>
	<li><span class="blue"><span class="tag">Вертикальный взлёт</span> <span class="dark-blue size-14 font-arial bold">(молниеносное обучение английскому языку на уровене подсознания);</span></span></li>
	<li><span class="blue"><span class="tag">Чудо будет!</span> <span class="dark-blue size-14 font-arial bold">(коррекция проблем обучения + психология + грамотность, чтение, речь);</span></span></li>
	<li><span class="blue"><span class="tag">Арт-терапия</span> <span class="dark-blue size-14 font-arial bold">(ликвидация дислексии, дисграфии за 1 сеанс);</span></span></li>
	<li><span class="blue"><span class="tag">Творчество</span> <span class="dark-blue size-14 font-arial bold">(навык собственных текстов: сочинений, изложений, сказок. Развитие творческого мышления);</span></span></li>
	<li><span class="blue"><span class="tag">Техника и культура речи</span>, <span class="tag">Чтение</span>.</span></li>
</ul>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 34px 0 22px 44px;">
	Эти <span class="light-blue bold" style="font-style: italic;">NL</span>-технологии <span class="red">в 15-20 раз</span> <span class="blue">эффективнее, мощнее, ярче</span> традиционного обучения.<br>
	Вы достигнете желаемого <span class="red">в 15-20 раз</span> быстрее, легче, проще.
</p>
<div style="width: 960px; height: 678px; padding: 38px 0 8px 0;">	
	<div style="width: 500px; height: 678px; float: left; padding-right: 0px">
		<p class="red size-16 font-verdana bold center" style="margin: 29px 0 8px 0;">
			Практическая деятельность:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 31px;">
			Сенатор, декан факультета педагогики и<br>
			психологии, член учёного совета<br>
			Международной докторантуры (Бельгия). 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 31px;">
			Научный руководитель собственной авторской<br>
			школы-студии (Россия). 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 31px;">
			Преподаёт, консультирует, создаёт новые<br>
			технологии обучения. 
		</p>
		<p class="red size-16 font-verdana bold center" style="margin: 0 0 3px 0;">
			Спорт:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 31px;">
			Сёрфинг, яхтинг, горный туризм, альпинизм.
		</p>
		<p class="red size-16 font-verdana bold center" style="margin: 0 0 3px 0;">
			Увлечения:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23 center" style="margin: 0 0 24px 0;">
			Играть с детьми, выращивать цветы.
		</p>
		<p class="red size-16 font-verdana bold center" style="margin: 0 0 6px 0;">
			Награды:
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 31px;">
			Почётный работник общего образования РФ.<br>
			<span style="letter-spacing: -1px;">Диплом мэра Москвы <span class="tag">За вклад в развитие столицы</span>.</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 31px;">	
			Имя Ольги Веровенко внесено в энциклопедию.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 26px 31px;">	
			Её именем названа звезда в созвездии<br>
			Кассиопеи.
		</p>
		<p class="red size-16 font-verdana bold center" style="margin: 0 0 6px 0;">
			Уникальный ДАР:
		</p>		
	</div>
	<div style="width: 456px; height: 678px; float: right; margin: 0 3px 0 0;">
		<p class="blue size-18 font-arial bold center" style="margin: 0 0 28px 0; line-height: 21px;">
			Звезда Ольга Веровенко<br>
			в созвездии Кассиопеи
		</p>
		<div class="image-shadow-0" style="width: 456px; height: 570px;">
			<img src="http://verovenko.com/wp-content/themes/twentyfourteen/images/star.jpg" width="100%" height="100%" alt="Звезда Ольга Веровенко в созвездии Кассиопеи">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="yellow size-18 font-verdana line-height-23" style="margin: 0 0 0 31px;">
	Обладает уникальной благоприятной энергетикой (эмпатия), позволяющей молниеносно<br>
	обучать, передавать знания и навыки, снимая все проблемы обучения.
</p>
<p class="blue size-18 font-verdana bold" style="margin: 49px 0 42px 44px;">
	Любимые слова Ольги Веровенко:
</p>
<p class="light-blue size-20 font-verdana bold center" style="margin: 0 0 46px 0; line-height: 41px;">
	Ты говоришь: <span class="tag">Как высока та гора!</span><br>
	Нет. Это ты стоишь низко.<br>
	Сделай шаг. Видишь, гора стала ниже?<br>
	Шаг. И ещё шаг...<br>
	Из цепочки шагов сложится<br>
	Самый Блистательный Маршрут.<br>
	Пойдём вместе?
</p>
<div style="padding-top: 2px; height: 469px;">
	<div style="width: 714px; height: 469px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 714px; height: 453px;">
			<img src="http://verovenko.com/wp-content/themes/twentyfourteen/images/invite.jpg" width="100%" height="100%" alt="Приглашение">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 81px 0 50px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas2.php'; [/exec]
<p class="red size-36 bold font-verdana center" style="margin: 21px 0 32px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 24px;">
	<span class="red bold">Скидки до 55%</span> получает только тот, кто <span class="blue bold">внимательно</span> ознакомился с материалами сайта.<br>
	<span class="yellow bold">Это этично.</span> Вы бережёте наше время, силы, нервы. Мы <span class="blue bold">БЛАГОДАРИМ</span> вас за это<br>
	<span class="red bold">огромными</span> скидками.
</p>
<p class="blue size-24 bold font-verdana center" style="margin-top: 58px; line-height: 58px">
	Кликните, пожалуйста, по выбранному направлению.<br>
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="red size-24 bold font-verdana center" style="margin-top: 23px; line-height: 58px">
	Счастливого пути!
</p>