<h2 class="heading green size-30">За гранью возможного</h2>
<div class="poetry blue size-18 bold font-verdana">    
	<p>
		… Вот стоят люди у иконы и молятся.</span><br>
		<span style="margin-left: 90px">Кому машину, кому квартиру.</span><br>
		<span style="margin-left: 180px">Кому должность, кому благополучия.</span><br>
		<span style="margin-left: 270px">Кому белку, кому – свисток…</span>
	</p>
	<p>	
		Икона горестно смотрит и думает:</span><br>
		<span style="margin-left: 90px">“Хоть бы ума кто попросил!</span><br>
		<span class="red" style="margin-left: 180px">Будут мозги</span> – будет вам и белка, будет и свисток.</span><br>
		<span style="margin-left: 250px">И президентство в корпорации, и бассейн с дельфином…”</span>
	</p>
</div>
<p class="center red bold size-30 font-verdana" style="padding-top: 35px; padding-bottom: 11px;">
	Чудо будет!
</p>
<div class="center">
	<img class="image-text" alt="" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/elephant.jpg" style="margin-top: 0px; margin-left: 0px; width: 818px; height: 603px;">
</div>
<p class="light-blue size-24 bold center font-verdana" style="padding-top: 87px; line-height: normal; margin-bottom: 12px;">Нейролингвистика</span>
	<span class="light-blue size-18 font-verdana bold center">(<span class="tag">Врождённая грамотность-<span class="italic">NL</span></span>)</span>
</p>
<div class="blue size-16 bold center font-arial">
	Развитие ваших сверхспособности к молниеносному обучению
</div>
<div style="padding-top: 65px; width: 960px; height: 536px;">
	<div style="width: 559px; height: 536px; float: right;">
		<div style="width: 559px; height: 510px;">
			<img class="image-text image-shadow" alt="" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/zebra.jpg" style="margin-top: 0px; margin-left: 20px; width: 519px; height: 510px;">
		</div>
		<div class="image-shadow-right" style="margin-top: 4px;">			
		</div>
		<div class="image-shadow-left" style="margin-top: 4px;">			
		</div>
	</div>	
	<div style="width: 401px; height: 536px; float: left;">
		<p class="blue size-18 bold font-verdana" style="padding-top: 0px; line-height: normal; margin-bottom: 23px;">
			В рамках единого курса:
		</p>
		<ul class="blue size-18 font-verdana" style="margin-left: 32px; margin-bottom: 21px; line-height: normal; letter-spacing: normal;">
			<li>русский язык,</li>
			<li>базовая грамотность,</li>
			<li>творческие диктанты,</li>
			<li>творческие исследовательские работы (русский и английский языки, литературоведение),</li>
			<li>литература,</li>
			<li>сочинения,</li>
			<li>изложения,</li>
			<li>сказки,</li>
			<li>эссе,</li>
			<li>техника и культура речи,</li>
			<li>чтение,</li>
			<li>логопедия,</li>
			<li>коррекция проблем обучения (дислексия, "школьный" невроз), арт-терапия,</li>
			<li>поддержка психолога,</li>
		</ul>
		<span class="blue size-18 font-verdana" style="padding-top: 0px; line-height: normal;">
			а также:
		</span>
	</div>
</div>
<p class="red size-18 bold font-verdana center" style="line-height: 1.7;">
	творческое, интеллектуальное, психологическое развитие личности<br>
	и ваших сверхспособностей к молниеносному обучению всему на свете.
</p>
<p class="light-blue size-24 font-sans-font center" style="padding-top: 40px; margin-bottom: 23px;">
	Условия приёма
</p>
<p class="blue size-18 bold font-verdana line-height-32" style="margin-bottom: 18px;">
	Взрослым и школьникам. <span class="gray normal">Программа каждый раз строится индивидуально с учетом ваших пожеланий.</span>
</p>
<p class="blue size-18 bold font-verdana line-height-32" style="margin-bottom: 23px;">
	Длительность курса: <span class="dark-blue normal">4-12 сеансов по 3 ак. часа (2 часа 15 мин. + перерывы).</span>
</p>
<p class="blue size-18 bold font-verdana line-height-32" style="margin-bottom: 82px;">
	Обязательное условие: <span class="dark-blue normal">родители младших школьников не только присутствуют на занятиях, но и учатся, играют и веселятся вместе со своими детьми.</span>
</p>
<p class="red size-24 bold font-verdana center" style="margin-bottom: 46px;">
	Внимание!
</p>
<p class="dark-blue size-18 font-verdana" style="padding-left: 23px; margin-bottom: 0px; line-height: 23px">
	Этот курс предназначен для тех, кто ставит себе в жизни высокие цели. Или, на худой<br>
	конец, просто желает выйти в отличники - твёрдо и бесповоротно. Каким бы плачевным ни<br>
	был ваш начальный уровень, блистательный конечный результат обеспечен.
</p>
<div style="padding-top: 50px; height: 495px;">
	<div style="width: 575px; height: 495px; margin:0 auto;">
		<div class="image-shadow" style="width: 535px; margin-left: 20px; height: 479px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/apple-tree.jpg);">
		</div>
		<div class="image-shadow-right">			
		</div>
		<div class="image-shadow-left">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana" style="padding-left: 23px; padding-top: 36px; margin-bottom: 84px; line-height: 23px;">
	Если ваши притязания ниже - удовлетворитесь одним-единственным <a href="http://verovenko.ru/art-terapija/" style="color: #4A4A4A; text-decoration:underline;"><span class="blue font-verdana size-24">Чудо-сеансом</span></a>.<br>
	Двоек-троек не будет!<br>
	Второй сеанс вам не потребуется, как и любые другие репетиторы, врачи, психологи.<br>
	<span class="blue">Успеваемость по всему гуманитарным предметам повысится на 1-2 балла.</span>
</p>
<p class="red size-30 font-verdana center bold" style="margin-bottom: 54px;">
	За чудесами - вперёд!
</p>
<div style="width: 960px; height: 378px;">	
	<div style="width: 525px; margin-left: 18px; height: 378px; float: left; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/miracle.jpg);">
	</div>
	<div style="width: 300px; margin-left: 18px; height: 378px; float: right; padding-right: 64px">
		<p class="red size-30 font-verdana center" style="margin-top: 155px; line-height: 7px; text-align: left;">
			<a href="http://verovenko.ru/nejrolingvistika/" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="light-blue font-verdana font-sans-font">Подробности курса</span></a><br>
			<a rel="nofollow" href="http://verovenko.ru/nejrolingvistika/" target="_self" style="text-decoration:underline; color: #4A4A4A;"><span class="blue font-arial size-14 bold">Кликните, пожалуйста, по ссылке!</span></a>
		</p>	
	</div>
</div>