<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 60px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $russkij_yazik_pochitat; [/exec]"><span class="yellow">ЧТО ПОЧИТАТЬ</span></a></div>
			<div style="float: right;margin: 0 0 0 0;"><a class="first"><span>ВИКТОРИНА</span></a></div>
		</div>
	</div>
</div>
<p class="light-blue size-24 font-verdana bold center" style="margin: 44px 0 4px 0;">
	Викторина
</p>
<div style="width: 960px; height: 200px;">	
	<div style="width: 355px; height: 200px; float: right; margin: 0 24px 0 0; position: relative; overflow: hidden;">
		<video style="margin: -2px 0 0 0;" width="355" height="204" autoplay loop>
	 		<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/vopros.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/vopros.webm" type='video/webm; codecs="vp8, vorbis"'>
			<iframe width="355" height="204" src="//www.youtube.com/embed/lUjiXLo6uek?autoplay=1&amp;loop=1&amp;playlist=lUjiXLo6uek&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;disablekb=1" frameborder="0" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
	  	</video>
	</div>
	<div style="width: 550px; height: 200px; float: left; margin: 0 0 0 0">
		<p class="yellow size-18 bold center font-verdana line-height-23" style="margin: 60px 0 42px 0;">
			Хорошее образование, воспитание и культура –<br>
			<span class="red">ваш КАПИТАЛ.</span>
		</p>
		<p class="blue size-14 bold center font-verdana" style="margin: 0 0 21px 11px;  line-height: 17px;">
			Воспользуйтесь им сегодня!<br>
			Оплачивайте обучение бонусами нашей викторины!
		</p>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 100px 0 50px 0;">
	Вопрос 1
</p>
<div style="width: 960px; height: 800px;">	
	<div style="width: 577px; height: 800px; float: right; margin: 0 7px 0 0; position: relative;">
		<div class="image-shadow" style="width: 446px; height: 296px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/godfather.jpg" width="100%" height="100%" alt="Крестный отец">
		</div>
		<div class="image-shadow" style="width: 577px; height: 387px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/family.jpg" width="100%" height="100%" alt="Семья Корлеоне">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 685px; height: 800px; float: left; margin: 0 -400px 0 8px;">
		<div class="image-shadow" style="width: 685px; height: 547px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/michael.jpg" width="100%" height="100%" alt="Майкл Корлеоне">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p style="margin: 50px 0 0 0"><audio controls><source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/1.mp3" type="audio/mpeg"></audio></p>
		<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 42px 0 13px 105px">
			Саундрек к фильму
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 20px 0 0 0">
			Композитор?
		</p>
		<p class="red size-14 font-verdana line-height-23" style="margin: -3px 0 10px 0">
			Бонус за правильный ответ 500 у.е.
		</p>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 56px 0 55px 0;">
	Вопрос 2
</p>
<div style="width: 960px; height: 709px;">	
	<div style="width: 442px; height: 709px; float: right; margin: 0 2px 0 0; position: relative;">
		<div class="image-shadow" style="width: 442px; height: 332px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/ipolit1.jpg" width="100%" height="100%" alt="Ипполит Матвеевич">
		</div>
		<div class="image-shadow" style="width: 442px; height: 248px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/ipolit2.jpg" width="100%" height="100%" alt="Ипполит Матвеевич">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 622px; height: 709px; float: left; margin: 0 -400px 0 0;">
		<div class="image-shadow" style="width: 622px; height: 444px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/ipolit.jpg" width="100%" height="100%" alt="Ипполит Матвеевич">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 65px 0 0 18px">
			Детское прозвище Ипполита Матвеевича?
		</p>
		<p class="red size-14 font-verdana line-height-23" style="margin: -1px 0 10px 18px">
			Бонус за правильный ответ 500 у.е.
		</p>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 0 0 69px 0;">
	Вопрос 3
</p>
<div style="width: 960px; height: 443px;">	
	<div style="width: 344px; height: 443px; float: right; margin: 0 2px 0 0; position: relative;">
		<div class="image-shadow" style="width: 329px; height: 443px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/margorita2.jpg" width="100%" height="100%" alt="Маргарита">
		</div>
	</div>
	<div style="width: 622px; height: 443px; float: left; margin: 0 -400px 0 14px;">
		<div class="image-shadow" style="width: 596px; height: 410px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/margorita.jpg" width="100%" height="100%" alt="Маргарита">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<div style="width: 960px; height: 341px;">	
	<div style="width: 507px; height: 341px; float: right; margin: 0 2px 0 0; position: relative;">
		<div class="image-shadow" style="width: 492px; height: 347px; margin: -52px 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/margorita1.jpg" width="100%" height="100%" alt="Маргарита">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 622px; height: 341px; float: left; margin: 0 -400px 0 14px;">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 10px 0 21px 0">
			Кот налил Маргарите какой-то прозрачной<br>
			жидкости в лафитовый стакан.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0">
			– Это водка? – слабо спросила Маргарита.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0">
			Кот подпрыгнул на стуле от обиды.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0">
			– Помилуйте, королева, – прохрипел он, –<br>
			разве я позволил бы себе налить даме<br>
			водки?
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0">
			Это _____________!
		</p>
	</div>
</div>
<p class="blue size-18 bold font-verdana line-height-23" style="margin: 0 0 2px 14px">
	Какой напиток предложил кот Маргарите после бала?
</p>
<p class="red size-14 font-verdana line-height-23" style="margin: 0 0 99px 14px">
	Бонус за правильный ответ 500 у.е.
</p>
<p class="red size-24 font-verdana bold center" style="margin: 0 0 61px 0;">
	Вопрос 4
</p>
<div style="width: 960px; height: 466px;">	
	<div style="width: 377px; height: 466px; float: right; margin: 0 70px 0 0; position: relative;">
		<div style="width: 377px; height: 369px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/larina.jpg" width="100%" height="100%" alt="Татьяна Ларина">
			<p class="blue size-18 bold font-verdana line-height-23" style="margin: 54px 0 5px 26px">
				Отчество Татьяны Лариной?
			</p>
			<p class="red size-14 font-verdana line-height-23" style="margin: 0 0 0 26px">
				Бонус за правильный ответ 500 у.е.
			</p>
		</div>
	</div>
	<div style="width: 386px; height: 466px; float: left; margin: 0 -400px 0 40px;">
		<div style="width: 386px; height: 466px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/onegin.jpg" width="100%" height="100%" alt="Евгений Онегин">
		</div>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 119px 0 44px 0;">
	Вопрос 5
</p>
<div style="width: 960px; height: 430px;">	
	<div style="width: 707px; height: 430px; float: right; margin: 0 0 0 0; position: relative;">
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 125px 0 20px 0">
			Имя талантливой девочки, сделавшей эти дивные иллюстрации<br>
			к <span class="tag">Евгению Онегину</span> и <span class="tag">Мастеру и Маргарите</span> (см. вопросы 3,4)?
		</p>
		<p class="red size-14 font-verdana line-height-23" style="margin: 0 0 0 0">
			Бонус за правильный ответ 500 у.е.
		</p>
	</div>
	<div style="width: 202px; height: 430px; float: left; margin: 0 -400px 0 24px;">
		<div style="width: 202px; height: 300px;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/portret.jpg" width="100%" height="100%" alt="Автопортрет">
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 37px;">
			Автопортрет
		</p>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 0 0 44px 0;">
	Вопрос 6
</p>
<p class="dark-blue size-18 font-verdana" style="margin: 10px 0 29px 3px; line-height: 28px;">
	Только глупцы считают, что детей можно провести.  Достаточно единственного промаха, одного<br>
	неверного жеста, невнятного слова – и они уходят в себя, как черепашки под панцирь. После<br>
	этого можно делать что угодно: взрывать петарды, рассыпать конфетти, вытаскивать из карманов<br>
	пиджака белых кроликов...
</p>
<div style="width: 960px; height: 648px;">	
	<div style="width: 441px; height: 648px; float: right; margin: 0 21px 0 0; position: relative;">
		<div class="image-shadow" style="width: 441px; height: 582px; margin: 0 0 0 0;">
			<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/victorina/vrojden.jpg" width="100%" height="100%" alt="Врожденная грамотность">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 470px; height: 648px; float: left; margin: 0 -400px 0 3px;">
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 27px 0; line-height: 28px;">
			Всё напрасно.
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 27px 0; line-height: 28px;">
			Они будут прилежно выполнять все твои<br>
			предписания, из урока в урок повышать<br>
			грамотность, тщательно проверять свои<br>
			диктанты, словом, будут и впредь соблюдать<br>
			«правила игры», затеянной, как утверждают<br>
			взрослые, для их же блага.
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 35px 0; line-height: 28px;">
			Они вырастут, окончат вузы, но ещё раньше<br>
			они постареют. Они всегда будут внимательно<br>
			смотреть себе под ноги, но им не придёт в<br>
			голову взглянуть вверх, на небо.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
			Пусть расправят крылья.<br>
			Я – тот, кто ___________
		</p>
		<p class="blue size-18 bold font-verdana line-height-23" style="margin: 41px 0 21px 0">
			Кто автор этих строк?<br>
			Как заканчивается последняя фраза?
		</p>
		<p class="red size-14 font-verdana" style="margin: 0 0 17px 0; line-height: 21px;">
			Бонус за правильный ответ 500 у.е., при оплате курса<br>
			<span class="tag">Искусство видеть мир</span> бонус увеличивается до 1.500 у.е.
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 21px;">
			Подсказка: легко на этот вопрос может<br>
			ответить только <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="red">Persona Grata</span></a>.
		</p>
	</div>
</div>
<p class="red size-24 font-verdana bold center" style="margin: 97px 0 36px 0;">
	Итак...
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 24px;">
	За каждый правильный ответ даётся бонус – <span class="red">500 у.е.</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 21px 24px;">
	Максимальное количество бонусов – <span class="red">3 000 у.е.</span>, при оплате курса <span class="tag">Искусство видеть мир</span><br>
	количество бонусов увеличивается до <span class="red">4 000 у.е.</span>
</p>
<p class="blue size-18 font-verdana line-height-23" style="margin: 0 0 48px 24px;">
	Вы можете оплатить бонусами любое обучение: своё, вашего ребёнка, друга, родственника<br>
	или обучение в вашей мини-группе.
</p>
<p class="blue bold center size-18 font-verdana line-height-23" style="margin: 0 0 21px 0;">
	Викторина проводится <span class="red">до 10 марта</span>.
</p>
<p class="blue bold center size-18 font-verdana line-height-23" style="margin: 0 0 61px 0;">
	<span class="red">10 марта</span> будет принят последний ответ.
</p>
<p class="blue bold size-18 font-verdana line-height-23" style="margin: 0 0 24px 3px;">
	Вы можете ответить:
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 24px 24px;">
	1. По телефону <span class="blue bold size-24">+7 495 765-2-555</span> с 12:00 до 23:00 без выходных.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 47px 24px;">
	2. На почту <span class="blue bold size-24">olgaverovenko@gmail.com</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 82px 24px;">
	После этого у вас есть две недели на то, чтобы пройти пробное занятие и оформиться.<br>
	И ещё месяц, чтобы приступить к занятиям.
</p>
<div style="position: relative; z-index: 2">
	<p class="blue size-24 font-verdana center bold" style="margin: 100px 0 81px 0;">
		Компас вам в дорогу!
	</p>
</div>
[exec] include_once get_template_directory().'/compas.php'; [/exec]
<p class="blue size-24 bold font-verdana center" style="margin: 40px 0 19px 0;">
	Кликните, пожалуйста, по выбранному направлению компаса.
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="red size-24 bold font-verdana center" style="margin-top: 24px;">
	Счастливого пути!
</p>
