<p class="yellow font-verdana size-30 bold center" style="margin: 40px 0 47px 0;">
	VIP-обучение
</p>
<div style="padding-top: 0; height: 391px;">
	<div style="width: 392px; height: 391px; margin: 0 auto;">
		<div class="image-shadow" style="width: 388px; height: 375px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vip.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue font-verdana size-24 bold center" style="margin: 96px 0 35px 0;">
	Комплексные курсы
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Длительность: 12-36 ак.часов (4-12 сеансов по 3 ак.часа каждый + перерывы)
</p>
<div style="width: 960px; height: 396px; padding: 49px 0 10px 0;">	
	<div style="width: 379px; height: 396px; float: left; margin: 0 0 0 69px;">
		<div class="image-shadow-0" style="width: 379px; height: 380px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/elephant1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 446px; height: 396px; float: right; padding-right: 6px">
		<p class="red size-24 font-verdana bold line-height-23" style="margin: 136px 0 29px 0;">
			Чудо будет!
		</p>
		<p class="dark-blue size-18 font-verdana" style="margin: 0 0 22px 0; line-height: 27px;">
			Суперкурс-новинка! <br>
			<span class="tag size-24">Нейролингвистика</span><br>
			(<span class="tag">Врождённая грамотность-<span class="light-blue italic bold">NL</span></span>)
		</p>
	</div>
</div>
<div style="width: 960px; height: 282px; padding: 91px 0 10px 0;">	
	<div style="width: 380px; height: 282px; float: left; margin: 0 0 0 73px;">
		<div class="image-shadow" style="width: 376px; height: 266px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/books.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 424px; height: 282px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana" style="margin: 97px 0 22px 0; line-height: 25px;">
			<span class="size-24">ГИА, ЕГЭ-комплекс</span><br>
			Безупречная грамотность<br>
			+ блистательные сочинения, изложения
		</p>
	</div>
</div>
<div style="width: 960px; height: 362px; padding: 117px 0 10px 0;">	
	<div style="width: 375px; height: 362px; float: left; margin: 0 0 0 73px;">
		<div class="image-shadow-0" style="width: 375px; height: 346px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/lastik.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 450px; height: 362px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana" style="margin: 111px 0 22px 0; line-height: 25px;">
			<span class="tag size-24">Арт-терапия</span><br>
			Коррекция серьёзных проблем обучения<br>
			(дислексии, дисграфии, <span class="tag">школьного</span><br>
			невроза, дефицита концентрации внимания).<br>
			Поддержка психолога.
		</p>
	</div>
</div>
<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 72px 0 22px 0;">
	Стоимость
</p>
<p class="grey size-18 font-arial line-height-23" style="margin: 0 0 22px 40px;">
	Первые 4 сеанса 4.500 у.е.
</p>
<p class="grey size-18 font-arial line-height-23" style="margin: 0 0 22px 40px;">
	Следующие 4 сеанса<br>
	(при условии подтверждения статуса Persona Grata и желании продолжать обучение без перерыва во<br>
	времени) 3.000 у.е.
</p>
<p class="grey size-18 font-arial line-height-23" style="margin: 0 0 22px 40px;">
	Следующие 4 сеанса 2.000 у.е.
</p>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 80px 0 22px 0;">
	Пробный сеанс
</p>
<div style="width: 960px; height: 392px; padding: 46px 0 8px 0;">	
	<div style="width: 500px; height: 392px; float: left; padding-right: 0px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 5px 0 22px 34px;">
			Полная диагностика проблем обучения,<br>
			тестирование, консультация, рекомендации,<br>
			подбор и <span class="tag">примерка</span> технологий, творческий<br>
			диктатнт. 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 34px;">
			Длительность: 3 ак.часа + перерывы.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 34px;">
			Стоимость 500 у.е.
		</p>		
	</div>
	<div style="width: 389px; height: 299px; float: right; margin: 0 56px 0 0;">
		<div class="image-shadow-0" style="width: 389px; height: 283px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/berry.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 30px 0 0 0;">
	Экстернаты и разовые занятия
</p>
<p class="gray size-18 font-verdana center line-height-23" style="margin: 7px 0 31px 0;">
	(<span class="light-blue italic bold">NL</span><span class="blue">-обучение <span class="tag">по кусочкам</span></span>)
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 34px;">
	Экстернаты и разовые занятия никогда не заменят вам всей роскоши комплексного<br>
	обучения с его чёткой и гармоничной последовательностью действий. Но результат будет!
</p>
<div style="padding-top: 18px; height: 511px;">
	<div style="width: 461px; height: 511px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 461px; height: 413px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/apple.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 31px 0 0 0; line-height: 15px;">
			Кусочек от сладкого яблока тоже сладок, не так ли?
		</p>
	</div>
</div>
<div style="width: 960px; height: 480px; padding: 122px 0 8px 0;">	
	<div style="width: 590px; height: 480px; float: left; padding-right: 0px">
		<p class="blue size-18 center font-verdana line-height-23" style="margin: 0 4px 42px 0;">
			Экстернаты 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 5px 0 22px 46px;">
			Экстернаты отличаются повышенным количеством<br>
			домашних заданий (5-10 часов самостоятельной<br>
			работы после каждого сеанса). 
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
			Они лёгкие, интересные, иногда игровые, иногда<br>
			нагрузочные.<br>
			Выполнение их ОБЯЗАТЕЛЬНО.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
			Дети занимаются под контролем и с участием<br>
			родителей.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 46px;">
			График занятий свободный.
		</p>		
	</div>
	<div style="width: 305px; height: 480px; float: right; margin: 0 53px 0 0;">
		<div class="image-shadow" style="width: 301px; height: 430px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/boots.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
		<p class="dark-blue size-14 font-arial bold center" style="margin: 25px 0 0 0; line-height: 15px;">
			И мы пахали...
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 58px 0 22px 0; line-height: 27px;">
	Чудо-сеанс<br>
	<span class="size-18 blue">(только экстернат)</span>
</p>
<div style="width: 960px; height: 284px; padding: 29px 0 10px 0;">	
	<div style="width: 363px; height: 284px; float: left; margin: 0 0 0 72px;">
		<div class="image-shadow" style="width: 359px; height: 268px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/stick1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 428px; height: 284px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Всего один сеанс - и двоек-троек нет!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Длительность 1 час. 300 у.е.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 91px 0 22px 0;">
	Чтение
</p>
<div style="width: 960px; height: 342px; padding: 35px 0 10px 0;">	
	<div style="width: 377px; height: 342px; float: left; margin: 0 0 0 72px;">
		<div class="image-shadow" style="width: 373px; height: 326px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/boy8.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 428px; height: 342px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 9px 0 22px 0;">
			Залаживание механики чтения.<br>
			Повышение концентрации внимания.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Воспользуйтесь <span class="tag">Чудо-сеансом</span><br>
			(см.выше). Проблем не будет!
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Рекомендуем также курс чтения с<br>
			элементами актёрского мастерства<br>
			(<span class="tag">Художественное слово</span>) с<br>
			педагогом Н.Л.Ковалёвой<br>
			(см.<span class="span tag">Занятия с педагогами</span>).
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 88px 0 22px 0; line-height: 27px;">
	Техника и культура речи<br>
	<span class="size-18 gray normal">с элементами игры и актёрского мастерства</span>
</p>
<div style="width: 960px; height: 384px; padding: 35px 0 10px 0;">	
	<div style="width: 285px; height: 384px; float: left; margin: 0 0 0 38px;">
		<div class="image-shadow-0" style="width: 285px; height: 368px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/man.jpg);">
		</div>
		<div class="image-shadow-right-1" style="width: 142px;">			
		</div>
		<div class="image-shadow-left-1" style="width: 143px;">			
		</div>
	</div>
	<div style="width: 568px; height: 384px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Голос, дикция, произношение. Речь <span class="tag">распрямляется</span>,<br>
			становится интонированной, выразительной, красивой.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Раскрепощение. Поддержка психолога.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Взрослым и детям. Возможны занятия семьёй.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Длительность 1 час. Стоимость 300 у.е.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 65px 0 22px 0; line-height: 27px;">
	Логопедия<br>
	<span class="size-18 blue">(только экстернат)</span>
</p>
<div style="width: 960px; height: 356px; padding: 27px 0 10px 0;">	
	<div style="width: 417px; height: 356px; float: left; margin: 0 0 0 17px;">
		<div class="image-shadow-0" style="width: 417px; height: 340px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/victory.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 490px; height: 356px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Коррекция логоневрозов и заикания (в том числе<br>
			у взрослых).
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Техника речи, психология, психотерапия,<br>
			суггестия (при необходимости).
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Длительность 1 час.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Стоимость 300 у.е.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Потребность: от 10 сеансов.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 71px 0 22px 0; line-height: 27px;">
	<span class="tag">Четвёртое измерение</span><br>
	<span class="size-18 blue">(психология-<span class="italic">NL</span> для взрослых)</span>
</p>
<div style="width: 960px; height: 422px; padding: 29px 0 10px 0;">	
	<div style="width: 463px; height: 422px; float: left; margin: 0 0 0 25px;">
		<div class="image-shadow-0" style="width: 463px; height: 372px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/fly.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 441px; height: 422px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Привлечение всей мощи вашего Подсознания<br>
			и Сверхсознания для решения ваших<br>
			конкретных проблем. Ликвидация неврозов,<br>
			стрессов. Выход из любого <span class="tag">тупика</span><br>
			развития.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Длительность 1-2 ак.часа.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Стоимость 500 у.е.<br>
			Потребность: 4-10 сеансов.<br>
			Конфиденциальность гарантируется.
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			<span class="italic blue bold">NL</span>-психология для взрослых и детей<br>
			включена в любой длительный комплексный<br>
			курс обучения с проф. О.О.Веровенко<br>
			БЕСПЛАТНО.<br>
			Но, если хотите, можете взять сеансы <span class="italic blue bold">NL</span>-<br>
			психологии отдельно.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 84px 0 25px 0;">
	Разовые занятия
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 0;">
	Домашних заданий нет.<br>
	График занятий свободный.
</p>
<div style="width: 960px; height: 349px; padding: 72px 0 10px 0;">	
	<div style="width: 453px; height: 349px; float: left; margin: 0 0 0 40px;">
		<div class="image-shadow-0" style="width: 453px; height: 333px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/train1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 420px; height: 349px; float: right; padding-right: 6px">
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 34px 22px 0;">
			ГИА, ЕГЭ-экспресс<br>
			<span class="size-18 gray normal">(разовые занятия перед экзаменами)</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Блистательные сочинения, изложения<br>
			+ грамотность.<br>
			Длительность 3-4 ак.часа. 500 у.е.
		</p>
	</div>
</div>
<div style="width: 960px; height: 547px; padding: 61px 0 10px 0;">	
	<div style="width: 360px; height: 547px; float: left; margin: 0 0 0 40px;">
		<div class="image-shadow-0" style="width: 360px; height: 531px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/books2.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 502px; height: 547px; float: right; padding-right: 6px">
		<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 0 34px 61px 0;">
			ГИА, ЕГЭ-экспресс<br>
			<span class="size-18 gray normal">(разовые занятия перед экзаменами)</span>
		</p>
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 0;">
			Обзорное занятие по курсу русского языка.<br>
			(<span class="tag">Врождённая грамотность</span>).<br>
			Длительность 3 ак.часа. 300 у.е.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center" style="margin: 57px 0 25px 0; line-height: 34px;">
	<span class="tag">Арт-терапия</span><br>
	<span class="size-18 blue">(разовые занятия)</span>
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 201px;">
	Исчезают страхи и неврозы, в том числе <span class="tag">школьный</span> невроз. <br>
	Прививается интерес и любовь к учёбе.<br>
	Появляется уверенность в себе и своих силах.
</p>
<div style="width: 960px; height: 334px; padding: 45px 0 10px 0;">	
	<div style="width: 356px; height: 334px; float: left; margin: 0 0 0 65px;">
		<div class="image-shadow-0" style="width: 356px; height: 318px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/flower.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 495px; height: 334px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 116px 0 22px 0;">
			<span class="blue bold">Творческие диктанты.</span><br>
			Длительность 2 ак.часа. Стоимость 300 у.е.
		</p>
	</div>
</div>
<div style="width: 960px; height: 359px; padding: 85px 0 10px 0;">	
	<div style="width: 345px; height: 359px; float: left; margin: 0 0 0 69px;">
		<div class="image-shadow-0" style="width: 345px; height: 343px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/flower1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
	<div style="width: 495px; height: 359px; float: right; padding-right: 6px">
		<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 104px 0 22px 0;">
			Дивной красоты <span class="blue bold">творческие работы</span><br>
			(русский язык, английский язык, литература,<br>
			литературоведение).<br>
			Длительность 3-4 ак.часа. Стоимость 500 у.е.
		</p>
	</div>
</div>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 80px 0 51px 0;">
	Кот и хвост
</p>
<div style="padding-top: 0; height: 564px;">
	<div style="width: 362px; height: 564px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 362px; height: 548px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/cat1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 50px 0 22px 23px;">
	Корректировать и обучать детей до 12 лет относительно легко и просто.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 23px;">
	Старше 12 лет - намного труднее.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 23px;">
	Приготовьтесь к тому, что у вас уйдёт в 3-5 раз больше времени, сил и, естественно, денег.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 23px;">
	Так что не тяните кота...
</p>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 69px 0 23px 0;">
	Что выбрать?
</p>
<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 0 0 74px 0;">
	С чего начать?
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 22px 34px;">
	С телефонного звонка Ольге Олеговне.
</p>
<p class="dark-blue size-18 font-verdana center line-height-23" style="margin: 0 0 36px 34px;">
	До встречи!
</p>
<div style="padding-top: 0; height: 424px;">
	<div style="width: 509px; height: 424px; margin: 0 auto;">
		<div class="image-shadow-0" style="width: 509px; height: 408px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/road1.jpg);">
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="center line-height-23" style="margin: 68px 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_stoimost; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24">Вернуться</span></a>
</p>


