<p class="light-blue font-verdana size-30 bold center" style="margin: 30px 0 44px 0;">
	Занятия в группах
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 34px;">
	Кто помнит курсы <span class="tag">Репетитор</span> - у нас там были группы.
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 47px 34px;">
	Сейчас мы сами групп не собираем, но приветствуем, если вы соберётесь своей группой<br>
	(друзья, коллеги, семья, родители с детьми).
</p>
<div style="padding-top: 0; height: 373px;">
	<div style="width: 621px; height: 373px; margin:0 auto;">
		<div class="image-shadow" style="width: 621px; height: 357px; border: 2px solid #000000; border-radius: 0;">
	 		<video width="640" height="357" autoplay loop>
	 			<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/gruppa.mp4" type='video/mp4; codecs="avc1, mp4a"'>
				<source src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/gruppa.webm" type='video/webm; codecs="vp8, vorbis"'>
				<iframe width="640" height="360" src="//www.youtube.com/embed/oDybGOP-7DQ?autoplay=1&amp;loop=1&amp;playlist=oDybGOP-7DQ&controls=0&rel=0&showinfo=0&disablekb=1" frameborder="0" allowfullscreen=""></iframe>
				<p>not support video</p>
	  		</video>
		</div>
		<div class="image-shadow-right-1">			
		</div>
		<div class="image-shadow-left-1">			
		</div>
	</div>
</div>
<p class="dark-blue size-18 center font-verdana line-height-23" style="margin: 69px 0 45px 17px;">
	Стоимость обучения в ваших группах
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 25px;">
	Группа 2-3 чел. – 7.000 у.е.<br>
	Группа более 3 чел. — 10.000 у.е.
</p>
<p class="center line-height-23" style="margin: 66px 0 22px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_stoimost; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue font-verdana size-24">Вернуться</span></a>
</p>