[exec] include_once get_template_directory().'/compas1.php'; [/exec]
<p class="blue size-18 font-verdana bold center" style="margin: 20px 0 22px 0; line-height: 29px;">
	Качество обучения наивысшее.<br>
	Методики уникальны.<br>
	Зубрёжки правил нет.<br>
	Домашние задания минимальны.
</p>
<p class="yellow size-24 font-verdana bold center" style="margin: 33px 0 0 0; line-height: 30px;">
	Если вам всё это интересно,<br>
	давайте познакомимся!
</p>
<p class="light-green size-24 bold font-arial center" style="margin: 0 0 57px 0;">
	<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A;"><span class="blue size-18">Добро пожаловать! Welcome!</span></a>
</p>
<p class="red size-36 bold font-verdana center" style="margin: 0 0 32px 0;">
	Скидки до 55%
</p>
<p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 22px 24px;">
	<span class="red bold">Скидки до 55%</span> получает только тот, кто <span class="blue bold">внимательно</span> ознакомился с материалами сайта.<br>
	<span class="yellow bold">Это этично.</span> Вы бережёте наше время, силы, нервы. Мы <span class="blue bold">БЛАГОДАРИМ</span> вас за это<br>
	<span class="red bold">огромными</span> скидками.
</p>
<p class="blue size-24 bold font-verdana center" style="margin: 27px 0 29px 0;">
	Кликните, пожалуйста, по выбранному направлению.
</p>
<div style="width: 350px; margin: 0 auto; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
</div>
<p class="red size-24 bold font-verdana center" style="margin: 13px 0 0 0;">
	Счастливого пути!
</p>