<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">СКИДКИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ, БЛАГОДАРНОСТИ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper">
	<p class="red bold center size-36 font-verdana">
		2-6 класс
	</p>
	<div class="div-center">
		<div style="margin: 0 0 100px 0;">
			<p>
				<div style="">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24" style="border-bottom: 1px solid;">Чудо будет!</span><br>
						<span style="display: block; margin-top: 5px;">Русский, чтение, речь.<br>
						4-12 сеансов.</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24 tag" style="border-bottom: 1px solid;">Волшебный сеанс</span><br>
						<span style="display: block; margin-top: 5px;">Чтение, повышение концентрации внимания за 1 сеанс.</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24" style="border-bottom: 1px solid;">Коррекция</span><br>
						<span style="display: block; margin-top: 5px;">Дислексии, дисграфии, <span class="tag">школьного</span> невроза + русский.<br>
						4-12 сеансов.</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24 tag" style="border-bottom: 1px solid;">Четвёртое измерение</span><br>
						<span style="display: block; margin-top: 5px;">Коррекция проблем обучения и поведения под гипнозом + русский.<br>
						4-6 сеансов.</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24" style="border-bottom: 1px solid;">Арт-терапия</span><br>
						<span style="display: block; margin-top: 5px;">Коррекция тяжёлых форм <span class="tag">школьного</span> невроза<br>
						Психотерапия + русский + творчество.<br>
						4-6 сеансов.</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24" style="border-bottom: 1px solid;">Чтение, речь</span><br>
						<span style="display: block; margin-top: 5px;">От 4 сеансов.</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24" style="border-bottom: 1px solid;">Диагностика</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="yellow bold size-24" style="border-bottom: 1px solid;">Пробный сеанс</span>
					</a>
				</div>
			</p>
			<p>
				<div style="clear: both;">
					<a class="size-18 font-verdana line-height-23" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]" class="normal" style="color: #0065a9; text-decoration: none; padding: 10px 30px; margin: 0 -30px 0 -30px; position: relative; display: block; float: left;">
						<span class="red bold size-24" style="border-bottom: 1px solid;">Посмотреть всё и сделать выбор</span>
					</a>
				</div>
			</p>
		</div>
	</div>
</div>