[raw]
<div class="nav11" style="width: 860px; height: 40px; position: relative; z-index: 9999; overflow: hidden; margin: 0 auto; border-bottom: 1px solid white;">
    <div style="display: table; width: 100%; margin: 0 auto; line-height: 40px; padding: 0; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <div style="font-family: 'Playfair Display';font-size: 30px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #fff;">Olga Verovenko</a></div>
        <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span style="color:white;">СКИДКИ</span></a></div>
            <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span style="color:white;">СМИ</span></a></div>
            <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span style="color:white;">ОТЗЫВЫ И КОНТАКТЫ</span></a></div>
        </div>
    </div>
</div>
<div class="div-wrapper_padding" style="text-align: center; background-color: #001dcc;">
    <p class="white size-14 bold center font-verdana line-height-23" style="margin: 10px 0; padding: 0 0 0;">Функция <span class="tag">открыть&#8209;закрыть&#8209;выбрать</span>&nbsp;– кликните по&nbsp;картинке и&nbsp;перейдите по&nbsp;ссылке!</p>
    <div class="div-shadow" style="margin: 9px 0 1500px; padding: 10px 0 0;">
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/3-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]' style='top: 84%; left: 32%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/30.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/6-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $russkij_yazik; [/exec]' style='top: 84%; left: 31%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/32.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/7-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $chudo_budet; [/exec]' style='top: 84%; left: 31%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/24.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/8-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]' style='top: 75%; left: 8%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/36.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/9-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]' style='top: 59%; left: 0%; width: 18%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/12.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/10-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $vzroslym; [/exec]' style='top: 83%; left: 30%; width: 38%; height: 15%; display: block; position: absolute;'></a><a href='[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]' style='top: 78%; left: 0%; width: 26%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/37.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/11-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]' style='top: 80%; left: 4%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/18.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/13-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]' style='top: 83%; left: 31%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/38.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/15-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $gia_ege; [/exec]' style='top: 83%; left: 31%; width: 38%; height: 15%; display: block; position: absolute;'></a><a href='[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]' style='top: 70%; left: 62%; width: 38%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/39.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/17-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $galereya; [/exec]' style='top: 72%; left: 50%; width: 38%; height: 19%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/40.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/19-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]' style='top: 83%; left: 0%; width: 24%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/42.jpg" width="100%" height="100%" alt="">
        </div>
        <div class="center" style="width: 200px; margin: 0 10px 20px 10px; display: inline-block;">
            <img class="img-target lazy-ignore" data-imgsrc="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/18-big.jpg" data-imgurl="<a href='[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]' style='top: 84%; left: 0%; width: 24%; height: 15%; display: block; position: absolute;'></a>" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/test4/41.jpg" width="100%" height="100%"  alt="">
        </div>
    </div>
</div>
<div class="img-item" style="position: fixed; height: 100%; width: 100%; text-align: center; z-index: -1; top: 0;left: 0; opacity: 0; display: flex; align-items: center; justify-content: center;">
    <div style="display: inline-block; position: relative;">
        <div class="close font-verdana italic size-20" style="position: absolute; right: 0; top: 0; width: 107px; padding: 10px; background-color: black; z-index: 5; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat; color: black; background-position: 100px 10px; text-align: left; border: 0; cursor: pointer;padding: 0 10px 10px; opacity: 0;">закрыть</div>
        <img class="img-anim lazy-ignore" style="height: auto; max-width: 750px; border: 5px solid #00a5ff; box-shadow: 0 0 129px rgba(0,0,0,0.5);" src="">
        <a href="" style="top: 10%; left: 10%; width: 15%; height: 15%; display: block; position: absolute;"></a>
    </div>
</div>
[/raw]