[raw]
<div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
  <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Врождённая грамотность</span></a>
  </p>
</div>
<div class="div-wrapper_padding size-16 _js-price _js-scale-font-size" style="width: 70em; z-index: 21; position: relative;margin: 1em auto 0;overflow: unset;">
  <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 1em 0 1em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистическое обучение</span><br>
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">экстра&#8209;класса</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Курс <nobr>36 ак. часов:</nobr> <nobr>12&nbsp;занятий по 3 ак. часа каждое</nobr> <span class="normal">(</span>эквивалент <nobr>720 ак. часов</nobr> традиционного обучения<span class="normal">)</span></span>
  </p>
  <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Результаты обучения говорят сами за себя. <a href="[exec] include get_template_directory().'/links.php'; echo $resultat; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Сравните <span class="tag">до</span> и <span class="tag">после</span></span></a></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Базовая стоимость&nbsp;– <nobr>10 800 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
    Persona Grata <span class="normal">(</span>получите статус!<span class="normal">)</span> скидка 50%, стоимость&nbsp;– <nobr>5 400 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Рассрочка: <nobr>2 700 у.е. + 2 700 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Пробный сеанс <span class="normal">(</span>включая тестирование и&nbsp;диагностику проблем<span class="normal">)</span>&nbsp;– <nobr>600 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">
      <span class="tag">Горящее</span> место&nbsp;– скидка&nbsp;75%, стоимость
      <nobr>2 700 у.е.</nobr>
    </span>
  </p>
  <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро</nobr>, оплата в&nbsp;рублях по&nbsp;курсу ЦБ</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Возможны занятия в&nbsp;вашей мини-группе, а&nbsp;также выезд к&nbsp;вам. Надбавка&nbsp;50%</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.6em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Младшие школьники берут курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Чудо будет!</span></a>
  </p>


  <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
  </p>
  <p class="white center" style="font-size: 1em;margin: 0 0 0; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 1.875em 0 -1.875em; position: relative;">
      <span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Подробнее о&nbsp;курсе</span>
    </a>
    <a href="[exec] include get_template_directory().'/links.php'; echo $persona_grata_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;">
      <span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">К&nbsp;навигации</span>
    </a>
  </p>
</div>
<div class="b-video-back _js-price" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]