[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="1.5" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur"  data-redirect-mobile="1" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana _js-disappear-text" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 4em;line-height: 1.5em;margin: 2.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity _anim-no-delay left" data-speed="2">
          <span class="tag" style="opacity:0;">Врождённая грамотность</span>
        </span><br>
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2">
          <span style="opacity:0;">с&nbsp;автором метода</span>
        </span>
      </p>
      <p class="white center" style="font-size: 2em;line-height: 1.5em;margin: 6em 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Смотреть внимательно, читать вдумчиво,</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">колёсиком НЕ ДЫРГАТЬ!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-anim-delay="3" data-early-blur-delay="3" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 0;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/owl.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
  <div class="b-video-back" data-video-name="volshebnica/owl" data-video-id="video-owl" data-video-start="3.30" data-video-start-delay="100" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/owl.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 90;position: relative;">
  <div class="div-wrapper_padding size-16 _js-blur" data-redirect-mobile="1" style="z-index: 12; position: relative;text-shadow: 2px 2px 3px black;width: 100%;">
    <div class="_js-blur-opacity" style="opacity: 0;width: 61.25em;margin: 0 auto;">
      <p class="white center bold font-verdana" style="font-size: 3.5em;margin: 0.85em 0 0.25em;">
        <span class="left" style="display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">Мои дорогие, здравствуйте!</span></span>
      </p>
      <div style="width: 35.25em;margin: 0 auto;">
        <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 0.8em; line-height: 1.567em;">
          <span class="left" style="display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">&#160;Я&nbsp;– НЕ&nbsp;&nbsp;репетитор.&#160;</span></span><br>
          <span class="left" style="margin-left: 2.733em;display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">&#160;НЕ&nbsp;&nbsp;педагог.&#160;</span></span><br>
          <span class="left" style="margin-left: 3.8em;display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">&#160;НЕ&nbsp;&nbsp;психолог.&#160;</span></span><br>
          <span class="left" style="margin-left: 4.8em;display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">&#160;НЕ&nbsp;&nbsp;доктор наук.&#160;</span></span><br>
          <span class="left" style="margin-left: 5.8em;display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">&#160;НЕ&nbsp;&nbsp;профессор.&#160;</span></span>
        </p>
      </div>
      <p class="white font-verdana center" style="font-size: 2em; margin: 0 0 0.2em;text-shadow: 3px 2px 3px black;">
        <span class="left" style="display: inline-block;"><span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;">(Хотя все эти дипломы у&nbsp;меня есть)</span></span>
      </p>
      <p class="volsh-green font-verdana center" style="font-size: 2em; margin: 0 0 2.567em;text-shadow: 3px 2px 3px black;">
        Кстати, пора крутить вниз. Крутите, крутите...
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
        Я&nbsp;– Волшебница. Самая настоящая.<br>Неужели вы в&nbsp;самом деле думаете, что нас, волшебников, нет?!!
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
        Так вот. Я&nbsp;– ЕСТЬ!
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
        Поэтому у&nbsp;нас не&nbsp;будет слёз, зубрёжки, скуки.
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.167em; line-height: 1.5em;">
        А&nbsp;будет&nbsp;так.
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.9em; line-height: 1.5em;">
        У&nbsp;меня есть Волшебная палочка, перевитая голубым и&nbsp;белым. Я&nbsp;прикасаюсь её золотым кончиком к&nbsp;вашей голове и&nbsp;– ГОТОВО! Всё, что надо&nbsp;– <span class="white">русский, чтение, речь</span>&nbsp;– уже там!
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.633em; line-height: 1.5em;">
        Вам надо только загадать желание. Например:
      </p>
      <ul class="volsh-green font-verdana" style="font-size: 2em; margin: 0 0 2em 1em; line-height: normal;text-shadow: 3px 2px 3px black;">
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Хочется безупречную грамотность?&nbsp;<span class="volsh-green">– Запросто!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Красивый почерк?&nbsp;<span class="volsh-green">– Пожалуйста!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Идеально писать диктанты?&nbsp;<span class="volsh-green">– Будет исполнено!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">ГИА, ЕГЭ, ОГЭ на&nbsp;высший балл?&nbsp;<span class="volsh-green">– Выше некуда!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Написать сочинение, изложение, сказку?&nbsp;<span class="volsh-green">– А&nbsp;то!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Точное, осмысленное, беглое чтение?&nbsp;<span class="volsh-green">– Само собой!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Стать внимательнее, собраннее, усидчивее?&nbsp;<span class="volsh-green">– Ещё&nbsp;бы!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Красивую, интонированную речь?&nbsp;<span class="volsh-green">– Легче лёгкого!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Снять всякие страхи?&nbsp;<span class="volsh-green">– А&nbsp;мы их прогоним!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Убрать
            <span class="tag">школьный</span> невроз, дислексию, дисграфию?&nbsp;<span class="volsh-green">– Да&nbsp;на&nbsp;здоровье!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Улучшить характер?&nbsp;<span class="volsh-green">– Не&nbsp;повредит!</span></span>
        </li>
        <li style="margin-bottom: 1.167em;">
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Охотно делать домашние задания?&nbsp;<span class="volsh-green">– Разумеется!</span></span>
        </li>
        <li>
          <span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Учиться в&nbsp;школе на&nbsp;одни пятёрки?&nbsp;<span class="volsh-green">– Чики&#8209;чик, готово!</span></span>
        </li>
      </ul>
      <p class="white bold font-verdana" style="font-size: 2.2em;margin: 0 0 1.633em; line-height: 1.5em;;">
        А&nbsp;что&nbsp;же мы делаем с&nbsp;вами в&nbsp;оставшееся время?
      </p>
      <ul class="volsh-green font-verdana" style="font-size: 2em; margin: 0 0 2em 1em; line-height: normal;text-shadow: 3px 2px 3px black;">
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Пьём чай с&nbsp;конфетами.</span></li>
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Играем в&nbsp;мяч. Вы будете команда&nbsp;– и&nbsp;я&nbsp;команда.<br>Чья команда победит, та и&nbsp;получит приз!</span></li>
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Потом ещё играем в&nbsp;другие игры. Тоже на&nbsp;приз.<br>И&nbsp;все призы&nbsp;– волшебные!</span></li>
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Потом кушаем суши. Или пиццу. Как захочется.</span></li>
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Рисуем. Клеим картинки.</span></li>
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Кормим с&nbsp;руки диких птиц.</span></li>
        <li style="margin-bottom: 1.167em;"><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Смотрим на&nbsp;мою звезду в&nbsp;небе.</span></li>
        <li><span class="volsh-green" style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;">Смеёмся!</span></li>
      </ul>
      <p class="white bold font-verdana" style="font-size: 2.2em; margin: 0 0 2.333em; line-height: 1.5em;">
        И&nbsp;вот так проходят все три часа. Ведь здесь у&nbsp;меня школа юных волшебников!
      </p>
      <p class="white bold font-verdana" style="font-size: 2.2em; margin: 0 0 2em; line-height: 1.5em;">
        Правда&nbsp;ли&nbsp;то, что я&nbsp;обещаю? Конечно.<br>Потому что в&nbsp;мудрой пословице говорится:<br><span class="tag">Кто хвалится&nbsp;– тот с&nbsp;горы свалится!</span><br>А&nbsp;я&nbsp;мастер спорта по&nbsp;альпинизму. Раз ещё не&nbsp;свалилась&nbsp;– значит, говорю правду!
      </p>
      <p class="volsh-green center font-verdana" style="font-size: 2.2em; margin: 0 0 2em; line-height: normal;text-shadow: 3px 2px 3px black;">
        Хочется чуда? Берём!
      </p>
      <p class="white bold center font-verdana" style="font-size: 2.5em;line-height: normal;margin: 0 0 0.3em;">
        <span style="background-color: rgba(64,45,42,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;"><a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nachalo; [/exec]" style="text-decoration: none; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="white" style="border-bottom: 1px solid white;">ЧУДО&nbsp;БУДЕТ!</span></a></span>
      </p>
      <p class="volsh-green center font-verdana" style="font-size: 1.5em; margin: 0 0 2em; line-height: normal;text-shadow: 3px 2px 3px black;">
        Перейдите, пожалуйста, по&nbsp;ссылке!
      </p>
      <p class="white bold center bold font-verdana" style="font-size: 1.875em;margin: 0;line-height: normal">
        До&nbsp;встречи!
      </p>
    </div>
    <p class="white font-verdana" style="font-size: 1.5em; margin: 31.25em 0 0.5em 2em; line-height: normal;text-shadow: 3px 2px 3px black;">
      Конец страницы
    </p>
    <div class="clearfix-hook" style="background-color: white; height: 2px;margin-top: 0em;"></div>
    <div class="clearfix-hook" style="margin-top: 800px;padding: 120px 0 20px; background-color: white;text-shadow: none;">
      <div class="clearfix-hook" style="width: 75em;margin: 0 auto;">
        <div class="clearfix-hook" style="float: left;width: 450px;z-index: 1;position: relative;">
          <p class="red bold center font-arial" style="font-size: 28px;line-height: 32px;margin: 0 0 60px 0;">
            Сайт смотреть брезгуешь? Колёсиком дыргаешь?!<br>Садись-ка на лопату да в печь<br>полезай!
          </p>
          <p class="grey size-20 bold center font-arial" style="line-height: 32px;margin: 0 0 40px 0;">
            Выберите вариант ответа:
          </p>
          <p class="blue size-20 bold center font-arial" style="line-height: normal;margin: 0 0 42px 0;">
            1. Старая карга!<br>Ты бы меня сперва<br>напоила-накормила, спать уложила,<br>а потом смотреть заставляла!<br>
            <a href="http://verovenko.com/volshebnica-otdyh-2" class="normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue size-16 bold" style="border-bottom: 1px solid #0065ab;">Вам сюда</span></a>
          </p>
          <p class="blue size-22 bold center font-arial" style="line-height: normal;margin: 0 0 50px 0;">
            2. Абсолютно поддерживаю<br>первый вариант ответа!<br>
            <a href="http://verovenko.com/volshebnica-otdyh-2" class="normal" style="text-decoration: none; color: white; position: relative; padding: 15px 15px; margin: 0 -15px 0;"><span class="blue size-16 bold" style="border-bottom: 1px solid #0065ab;">Вам сюда</span></a>
          </p>
        </div>
        <div class="clearfix-hook" style="padding: 0; float: right;width: 927px;margin-left: -200px;">
          <div style="margin:0 auto;">
            <div style="">
              <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/yaga.jpg" width="100%" height="100%" alt="Баба-Яга">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_js-blur-back" data-blur-delay="4" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 0;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/girl.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
  <div class="b-video-back" data-video-name="volshebnica/girl" data-video-id="video-girl" data-video-start="0.01" data-video-start-delay="10" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/girl.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>

<style type="text/css">
  .volsh-green {
    color: #aef7e3;
  }
</style>
[/raw]