[raw]
<div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
  <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Врождённая грамотность</span></a>
  </p>
</div>
<div class="div-wrapper_padding size-16 _js-price _js-scale-font-size" style="width: 70em; z-index: 21; position: relative;margin: 1em auto 0;overflow: unset;">
  <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 1em 0 1em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Индивидуальное <span class="italic bold">NL</span>&#8209;обучение</span><br>
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">экстра&#8209;класса</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Курс <nobr>36 ак. часов:</nobr> <nobr>12&nbsp;занятий по 3 ак. часа каждое</nobr> (эквивалент <nobr>720 ак. часов</nobr> традиционного обучения)</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Базовая стоимость&nbsp;– <nobr>10 800 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta.'?link='.'//xn----7sbbfhdn7ceafcjbriwpd4rzb0b.xn--80aswg/vrozhdyonnaya-gramotnost-stoimost#grata';
    [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 15px 30px; margin: 0 -30px 0; position: relative;"><span class="white" style="border-bottom: 1px solid white;">Persona Grata (получите статус!)</span></a> скидка 50%, стоимость&nbsp;– <nobr>5 400 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Рассрочка: <nobr>2 700 у.е. + 2 700 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Стоимость ак.&nbsp;часа&nbsp;– <nobr>150 у.е.</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Пробный сеанс&nbsp;– <nobr>300 у.е.</nobr></span>
  </p>
  <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро</nobr></span>
  </p>
  <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
  </p>

  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.95em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Возможны занятия в&nbsp;вашей мини-группе, а&nbsp;также выезд к&nbsp;вам. Надбавка&nbsp;50%</span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.6em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Младшие школьники берут курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Чудо будет!</span></a>
  </p>


  <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 0.5em; line-height: normal;">
    <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
  </p>
  <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.5em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">К&nbsp;навигации</span></a>
  </p>
</div>
<div class="b-video-back _js-price" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]