[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="5" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur"  data-redirect-mobile="1" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2">
          <span style="opacity:0;">Дорогие выпускники прошлых лет!</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2">
          <span style="opacity:0;">Мы вас помним и&nbsp;любим! Время&#8209;то как быстро летит...</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity _anim-no-delay left" data-speed="2">
          <span style="opacity:0;">Вам, вашим детям и&nbsp;внукам</span>
        </span><br>
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2">
          <span style="opacity:0;">75%&nbsp;скидки на&nbsp;любой курс обучения.</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2">
          <span style="opacity:0;">Эта цена не&nbsp;указана в&nbsp;прайсе. Она только для&nbsp;вас.</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity _anim-no-delay left" data-speed="2">
          <span style="opacity:0;">А&nbsp;сейчас смотрите наш новый сайт&#8209;блокбастер.</span>
        </span><br>
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2">
          <span style="opacity:0;">Приятного просмотра!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-video-name="volshebnica/clock" data-video-id="video-clock" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/clock"
    data-video-start="0.01" data-video-start-delay="100" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/clock.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 90;position: relative;">
  <div class="white size-16" style="position: relative;z-index: 9;">
    <p class="bold" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Olga Verovenko</span></a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16" style="width: 71.25em; z-index: 10; position: relative;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="bold font-verdana center" style="font-size: 3.4em;margin: 0.2em 0 0.4em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Уникальный метод</span></a>
      </p>
      <p class="bold font-verdana center" style="font-size: 4.3em;margin: 0 0 0.567em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><span class="tag">Врождённая грамотность</span></span></a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 3.458em; line-height: normal;text-shadow: 2px 2px 3px black;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">Всего 12&nbsp;занятий&nbsp;<span class="normal">–</span> и&nbsp;ошибок нет!</a>
      </p>
      <div class="clearfix bold center font-verdana" style="font-size: 1.1em; margin: 0 0 6em; line-height: normal;">
        <div class="clearfix" style="margin: 0 auto; display: inline-block;">
          <div style="float: left">
            <p style="margin: 0 2em;text-shadow: 2px 2px 3px black;"><a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">В&nbsp;20&nbsp;раз<br>быстрее</a></p>
          </div>
          <div style="float: left">
            <p style="margin: 0 2em;text-shadow: 2px 2px 3px black;"><a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">В&nbsp;20&nbsp;раз<br>легче</a></p>
          </div>
          <div style="float: left">
            <p style="margin: 0 2em;text-shadow: 2px 2px 3px black;"><a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">В&nbsp;20&nbsp;раз<br>проще</a></p>
          </div>
          <div style="float: left">
            <p style="margin: 0 2em;text-shadow: 2px 2px 3px black;"><a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">В&nbsp;20&nbsp;раз<br>эффективнее</a></p>
          </div>
        </div>
      </div>
      <div>
        <p class="normal center font-verdana" style="font-size: 0.8em; margin: 0 0 0.85em; line-height: 1.5em;text-shadow: 2px 2px 3px black;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">Приоритет подтверждён Международной экспертизой РСТ<br>
          Три Знака Качества Госстандарта РФ</a>
        </p>
        <p class="center" style="font-size: 1.5em;margin: 0 0 0.85em 0"><a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0.3em 1em; margin: 0 1em 0;text-shadow: 2px 2px 3px black;"><span class="white bold" style="border-bottom: 1px solid;">Добро пожаловать!</span></a></p>
        <p class="normal center font-verdana" style="font-size: 0.8em;margin: -0.4em 0 3.8em;line-height: normal;text-shadow: 2px 2px 3px black;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">Кликните, пожалуйста, по&nbsp;клавише!</a>
        </p>
      </div>
    </div>
  </div>
  <div  data-video-name="vrozhdennaya-slider/lion" data-video-id="video-lion" data-video-start="0.01" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/lion" class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/lion.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]