[raw]
<div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
  <div class="gold font-verdana" style="margin: 0 auto;">
    <p class="center bold" style="font-size: 3.4em;margin: 2.5em 0 0.4em; line-height: normal;">
      Базовая стоимость
    </p>
    <p class="center" style="font-size: 1em;margin: 0 0 3em; line-height: normal;">
      1 у.е. = 1 евро<br>
      Оплата в рублях по курсу ЦБ
    </p>
    <div style="margin: 0 auto;">
      <p class="bold" style="font-size: 1.2em;margin: 0 0 1em; line-height: normal;">
        Нейролингвистическое обучение&nbsp;&nbsp; 9&nbsp;000&nbsp;у.е. 12&nbsp;часов.
      </p>
      <p class="bold" style="font-size: 1.2em;margin: 0 0 1em; line-height: normal;">
        Обучение под&nbsp;гипнозом&nbsp;&nbsp; 15&nbsp;000&nbsp;у.е. 12&nbsp;часов.
      </p>
      <p class="bold" style="font-size: 1.2em;margin: 0 0 1em; line-height: normal;">
        <span class="bold italic">NL</span>&#8209;коррекция дислексии, дисграфии, невроза&nbsp;&nbsp; 9&nbsp;000&nbsp;у.е. 12&nbsp;часов.
      </p>
      <p class="bold" style="font-size: 1.2em;margin: 0 0 1em; line-height: normal;">
        <span class="bold italic">NL</span>&#8209;психология <span class="normal" style="font-size: 0.8em;">(без&nbsp;обучения языкам)</span>&nbsp;&nbsp; 7&nbsp;500&nbsp;у.е. 4&nbsp;дистанционных сеанса.<br>
        <span class="normal" style="font-size: 0.8em;">Выход из любого тупика развития, ликвидация стрессов, улучшение Реальности.</span>
      </p>
      <p class="bold" style="font-size: 1.2em;margin: 0 0 1em; line-height: normal;">
        Занятия с&nbsp;педагогами&#8209;ассистентами&nbsp;&nbsp; 10&nbsp;800&nbsp;у.е. 36&nbsp;часов.<br>
        <span class="normal" style="font-size: 0.8em;">Только взрослые и&nbsp;старшеклассники без&nbsp;проблем обучения. Русский или&nbsp;английский.</span>
      </p>
    </div>
    <p class="center bold" style="font-size: 2em;margin: 0 0 0.4em; line-height: normal;">
      Телефон
    </p>
    <p class="center bold" style="font-size: 2em;margin: 0 0 1em; line-height: normal;">
      +7&nbsp;(985)&nbsp;765&#8209;2&#8209;555
    </p>
    <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_klavishi; [/exec]" class="normal" style="text-decoration: none; position: relative;">
      <p class="gold font-verdana center bold" style="font-size: 2em;margin: 0 0 0.4em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_posle_bazovaya; [/exec]" class="normal" style="text-decoration: none; color: #ffe587; position: relative;"><span class="gold font-verdana center bold" style="border-bottom: 1px solid #ffe587">Хочу скидок! Сайт, помоги!!!</span></a>
      </p>
      <p class="gold font-verdana center" style="font-size: 1em;margin: 0 0 3em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_posle_bazovaya; [/exec]" class="normal" style="text-decoration: none; color: #ffe587; position: relative;"><span class="gold font-verdana center bold" style="border-bottom: 1px solid #ffe587">Вам сюда</span></a>
      </p>
    </a>
  </div>
</div>
<div class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]