[raw]
<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='#phone'"><a href="#phone"><span class="yellow">ТЕЛЕФОН</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding">
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="stoimost"></a></p>
  <div class="div-shadow_white" style="margin: 9px 0 35px;">
    <p class="light-blue bold size-22 font-verdana" style="margin: 0 0 30px 10px; line-height: 34px; padding: 10px 0 34px;">
      Стоимость обучения, телефон
    </p>
    <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="free"></a></p>
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 31px 0; padding: 0 0 0 0;">
      ЭКСКЛЮЗИВ
    </p>
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 64px 0;">
      Бесплатное обучение
    </p>
    <div style="width: 980px; height: 323px; margin: 0 0 0 0; padding: 0 0 40px;">
      <div style="width: 548px; height: 323px; float: right; margin: 0 10px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 548px; height: 307px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sherlok.jpg" width="548" height="307" alt="Шерлок и Ватсон">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 323px; float: left; margin: 0 0 0 11px">
        <p class="yellow bold size-24 font-verdana" style="margin: 0 0 23px 0; line-height: 28px;">
          Обучающие тесты-игры<br>для&nbsp;детей и&nbsp;взрослых
        </p>
        <p class="blue bold size-18 font-verdana" style="margin: 0 0 23px 0; line-height: 23px;">
          Русский. Английский.<br>
          <span class="light-blue">Играйте. Наслаждайтесь. Обучайтесь!</span>
        </p>
        <p class="red bold size-18 font-verdana" style="margin: 0 0 28px 0; line-height: 23px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">Вам сюда</span></a>
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="bonus"></a></p>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 0 0; padding: 40px 0 0 0; line-height: 59px;">
      Бесплатные<br>бонусные занятия
    </p>
    <div class="clearfix-hook" style="width: 980px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div class="clearfix-hook" style="width: 300px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow-0">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" alt="Яблоко">
        </div>
      </div>
      <div class="clearfix-hook" style="width: 605px; float: right; margin: 0 10px 0 0">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Если вы оплачиваете <span class="blue bold">одновременно</span> два курса обучения, вам дарится бесплатный сеанс (3&nbsp;ак.часа).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          3&nbsp;курса обучения&nbsp;– 2&nbsp;бесплатных сеанса (6&nbsp;ак.часов).<br>
          4&nbsp;курса обучения&nbsp;– 3&nbsp;бесплатных сеанса (9&nbsp;ак.часов).<br>
          5&nbsp;курсов обучения&nbsp;– 4&nbsp;бесплатных сеанса (12&nbsp;ак.часов).<br>
        </p>
        <p class="bold blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Ого! 12&nbsp;ак.часов&nbsp;– это крутейший бесплатный курс <nobr>с проф. О.О. Веровенко!</nobr>
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 40px 0 0 0;">
      НОВИНКА!
    </p>
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
      <span class="tag">Четвёртое измерение</span>
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      Обучение под гипнозом
    </p>
    <div style="width: 980px; height: 547px; margin: 0 0 0 0; padding: 44px 0 60px;">
      <div style="width: 499px; height: 547px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 499px; height: 531px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl.jpg" width="499" height="531" alt="Летящая девушка">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 425px; height: 547px; float: left; margin: 0 0 0 21px">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Обучение под гипнозом в&nbsp;мировой практике считается максимально эффективным.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          В&nbsp;связке с&nbsp;нашими технологиями это даёт <span class="blue bold">ФЕЕРИЧЕСКИЙ</span> результат, многократно превышающий самые смелые ожидания.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Вы&nbsp;не&nbsp;спите. Наоборот, вы&nbsp; сосредоточены, увлечены и&nbsp;готовы работать не&nbsp;поднимая головы. Оторвать вас от&nbsp;дела трудно, практически невозможно.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Максимально включаются память, интеллект, способность усваивать информацию. Полученные знания и&nbsp;навыки останутся с&nbsp;вами на&nbsp;всю жизнь. Но&nbsp;главное в&nbsp;другом: обучение под гипнозом позволяет преодолеть глубинные негативные установки Подсознания, которые и&nbsp;приводят к&nbsp;плохой, тяжёлой, трудной обучаемости.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Вы&nbsp;получаете&nbsp;то, что просто недостижимо ни&nbsp;при каких других вариантах обучения: легкую обучаемость <span class="blue bold">ВЕЗДЕ</span>, <span class="blue bold">ВСЕГДА</span>, <span class="blue bold">ВСЕМУ</span>.
        </p>
        <p class="red size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
          Длительность сеанса 3 ак. часа<br>
          с проф. О.О.Веровенко.
        </p>
      </div>
    </div>
    <p class="dark-blue bold size-18 font-verdana center" style="margin: 0 0 45px 0;">
      За курс из 12 ак.часов (4 сеанса по 3 ак.часа каждый):
    </p>
    <div class="clearfix" style="width: 980px; margin: 0 0 0 0; padding: 0 0 40px 0;">
      <p class="yellow bold size-24 font-verdana center" style="margin: 0 0 10px 0;">
        Базовая стоимость 15 000 у.е.
      </p>
      <p class="blue bold size-18 font-verdana center" style="margin: 0 0 21px 0;">
        <span class="red">Скидки для Persona Grata</span><br>
        Индивидуальное обучение экстра-класса<br>
        <span class="light-blue size-14 normal" style="margin-top: -2px;display: block;">(включая стоимость шикарных учебников)</span>
      </p>
      <div style="margin: 0 150px;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>7 500 у.е.</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p>
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">Рождественская скидка 75%</span>&nbsp;– до&nbsp;конца декабря.<br>
          <span class="blue">Стоимость с учётом скидки&nbsp;– <nobr>3 750 у.е.</nobr></span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0;">
          <span class="red bold">75%</span>&nbsp;– стоимость <nobr>3 750 у.е.</nobr><br>
          <span class="blue">Это сезонная скидка. Чтобы получить эту скидку, вам необходимо позвонить <span class="bold">в&nbsp;октябре</span>, записаться на&nbsp;пробный сеанс в&nbsp;октябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span>
        </p> -->
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 40px 0 0 0;">
      НОВИНКА!
    </p>
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 0 0 0 0; line-height: 59px;">
      Обучение
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      с применением <span class="light-blue italic">NL</span>-психологии
    </p>
    <div style="width: 980px; height: 598px; margin: 36px 0 0 0; padding: 0 0 0;">
      <div style="width: 499px; height: 598px; float: left; margin: 0 0 0 10px;">
        <div class="image-shadow-0" style="width: 499px; height: 531px; border: 2px solid rgba(170, 168, 168, 1);">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/flygirl1.jpg" width="499" height="531" alt="Летящая девушка">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 435px; height: 598px; float: right; margin: 0 10px 0 0;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Эти сеансы хороши для семейной мини-группы (один ребёнок + один взрослый или двое взрослых).
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Русский язык + <span class="light-blue bold italic">NL</span>-психология + <span class="light-blue bold italic">NL</span>-психотерапия.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Взрослым.</span>  Молниеносный выход из&nbsp;тупика развития. Карьера, бизнес, семья, взаимоотношения. Ликвидация ссор, конфликтов, врагов тайных и&nbsp;явных. Привлечение удачи. Гармонизация жизни. Конфиденциальность.<br>
          <span class="bold yellow">Плюс безупречная грамотность.</span>
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">У&nbsp;детей:</span> сглаживаются шероховатости характера. Исчезают конфликты и&nbsp;раздоры в&nbsp;семье. Дети охотно помогают родителям по&nbsp;хозяйству, хорошо и&nbsp;вкусно готовят. Помнят дни рождения своих близких и&nbsp;делают им&nbsp;подарки.<br>
          <span class="bold yellow">Плюс безупречная грамотность</span>, коррекция проблем обучения, творчество.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="light-blue bold italic">NL</span>-сеансы можно взять без обучения русскому (только для взрослых).
        </p>
        <p class="red size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Длительность сеанса 3 ак. часа<br>
          с проф. О.О.Веровенко.
        </p>
        <!-- <p class="blue size-14 bold font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          По&nbsp;стоимости и&nbsp;скидкам курса <span class="tag red">Четвёртое&nbsp;измерение</span> <span class="size-12 dark-blue">(см. выше)</span>.
        </p> -->
      </div>
    </div>
    <div class="clearfix" style="width: 980px; margin: 0 0 0 0; padding: 0 0 40px 0;">
      <p class="yellow bold size-24 font-verdana center" style="margin: 0 0 10px 0;">
        Базовая стоимость 15 000 у.е.
      </p>
      <p class="blue bold size-18 font-verdana center" style="margin: 0 0 21px 0;">
        <span class="red">Скидки для Persona Grata</span><br>
        Индивидуальное обучение экстра-класса<br>
        <span class="light-blue size-14 normal" style="margin-top: -2px;display: block;">(включая стоимость шикарных учебников)</span>
      </p>
      <div style="margin: 0 150px;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>7 500 у.е.</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p>
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">Рождественская скидка 75%</span>&nbsp;– до&nbsp;конца декабря.<br>
          <span class="blue">Стоимость с учётом скидки&nbsp;– <nobr>3 750 у.е.</nobr></span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">75%</span>&nbsp;– стоимость <nobr>3 750 у.е.</nobr><br>
          <span class="blue">Это сезонная скидка. Чтобы получить эту скидку, вам необходимо позвонить <span class="bold">в&nbsp;октябре</span>, записаться на&nbsp;пробный сеанс в&nbsp;октябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span>
        </p>
        <p class="blue size-14 font-verdana" style="margin: 0 0 0;">
          Только <span class="light-blue italic bold">NL</span>&#8209;психология для&nbsp;взрослых (без&nbsp;обучения) <span class="red bold">75%</span> скидки&nbsp;– стоимость 1&nbsp;900&nbsp;у.е. Скидка действует <span class="bold">до&nbsp;15&nbsp;октября</span>.
        </p> -->
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 76px 0; padding: 40px 0 0;">
      Пробный сеанс
    </p>
    <div class="clearfix-hook" style="width: 960px; margin: 10px 0 0 0; padding: 0 0 40px;">
      <div class="clearfix-hook" style="width: 256px; float: right; margin: 0 0 0 0; position: relative;">
        <div style="width: 288px; height: 433px; margin: -31px 0 0 -200px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/boy4.jpg" width="100%" height="100%" alt="Официант">
        </div>
      </div>
      <div class="clearfix-hook" style="width: 450px; float: left; margin: 0 0 0 245px; position: relative;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
          Длительность 3 ак.часа.
        </p>
        <p class="yellow bold size-14 font-verdana" style="margin: 0 0 11px 0;">
          Базовая стоимость 1&nbsp;200&nbsp;у.е.
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 11px 0;">
          <span class="red">Скидки для Persona Grata:</span>
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>600 у.е.</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p>
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px;">
          <span class="red bold">Рождественская скидка 75%</span>&nbsp;–<br>до&nbsp;конца декабря.<br>
          <span class="blue">Стоимость с учётом скидки&nbsp;– <nobr>300 у.е.</nobr></span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px;">
          <span class="red bold">75%</span>&nbsp;– стоимость <nobr>300 у.е.</nobr><br>
          <span class="blue">Это сезонная скидка. Чтобы получить эту скидку,<br>вам необходимо позвонить <span class="bold">в&nbsp;октябре</span>,<br>записаться на&nbsp;пробный сеанс в&nbsp;октябре<br>и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px;">
          <span class="red bold">85%</span>&nbsp;– стоимость <nobr>180 у.е.</nobr><br>
          <span class="blue">Эта скидка только для отличников<br>и хорошистов.</span>
          <span class="blue">Действует <span class="bold">до&nbsp;31&nbsp;августа</span>.</span>
        </p> -->
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
          Сеанс фактически бесплатен!<br>
          Деньги возвращаются вам при оплате<br>
          курса обучения.
        </p>
        <p class="blue size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
          Вас примет автор технологий обучения<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="red size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
          Как правило, к нам очередь.<br>
          Запишитесь, пожалуйста, заранее!
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="phone"></a></p>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="red bold size-30 font-verdana center" style="margin: 0 0 33px 0; padding: 40px 0 0;">
      Телефон
    </p>
    <div style="width: 960px; height: 443px;">
      <div style="width: 787px; height: 443px; margin: 0;">
        <div class="trans" style="width: 787px; height: 443px;">
          <img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
        </div>
      </div>
    </div>
    <p class="blue size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
      <span class="light-yellow">+7</span> <span class="lilac">(985)</span> <span class="blue">7</span><span class="light-blue">6</span><span class="red">5</span>–<span class="green1">2</span><span class="blue">–</span><span class="red">555</span>
    </p>
    <p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
      до 23:00
    </p>
    <p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">
      без выходных
    </p>
    <p class="blue size-24 font-verdana center" style="margin: 0 0 0 0; padding: 0 0 40px;">
      olgaverovenko@gmail.com
    </p>
  </div>
</div>
<div id="img_container"><img src=""></div>
[/raw]