[raw]
<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='#phone'"><a href="#phone"><span class="yellow">ТЕЛЕФОН</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper_padding">
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="stoimost"></a></p>
  <div class="div-shadow_white" style="margin: 9px 0 35px;">
    <p class="light-blue bold size-22 font-verdana" style="margin: 0 0 30px 10px; line-height: 34px; padding: 10px 0 34px;">
      Стоимость обучения, телефон
    </p>
    <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="free"></a></p>
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 31px 0; padding: 0 0 0 0;">
      ЭКСКЛЮЗИВ
    </p>
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 64px 0;">
      Бесплатное обучение
    </p>
    <div style="width: 980px; height: 323px; margin: 0 0 0 0; padding: 0 0 40px;">
      <div style="width: 548px; height: 323px; float: right; margin: 0 10px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 548px; height: 307px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sherlok.jpg" width="548" height="307" alt="Шерлок и Ватсон">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 323px; float: left; margin: 0 0 0 11px">
        <p class="yellow bold size-24 font-verdana" style="margin: 0 0 23px 0; line-height: 28px;">
          Обучающие тесты-игры<br>для&nbsp;детей и&nbsp;взрослых
        </p>
        <p class="blue bold size-18 font-verdana" style="margin: 0 0 23px 0; line-height: 23px;">
          Русский. Английский.<br>
          <span class="light-blue">Играйте. Наслаждайтесь. Обучайтесь!</span>
        </p>
        <p class="red bold size-18 font-verdana" style="margin: 0 0 28px 0; line-height: 23px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: underline; color: rgb(0, 50, 84); padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="light-blue bold">Вам сюда</span></a>
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="bonus"></a></p>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 0 0; padding: 40px 0 0 0; line-height: 59px;">
      Бесплатные<br>бонусные занятия
    </p>
    <div class="clearfix-hook" style="width: 980px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div class="clearfix-hook" style="width: 300px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow-0">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" alt="Яблоко">
        </div>
      </div>
      <div class="clearfix-hook" style="width: 605px; float: right; margin: 0 10px 0 0">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Если вы оплачиваете <span class="blue bold">одновременно</span> два курса обучения, вам дарится бесплатный сеанс (3&nbsp;ак.часа).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          3&nbsp;курса обучения&nbsp;– 2&nbsp;бесплатных сеанса (6&nbsp;ак.часов).<br>
          4&nbsp;курса обучения&nbsp;– 3&nbsp;бесплатных сеанса (9&nbsp;ак.часов).<br>
          5&nbsp;курсов обучения&nbsp;– 4&nbsp;бесплатных сеанса (12&nbsp;ак.часов).<br>
        </p>
        <p class="bold blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Ого! 12&nbsp;ак.часов&nbsp;– это крутейший бесплатный курс <nobr>с проф. О.О. Веровенко!</nobr>
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 40px 0 0 0; line-height: 59px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      Русский язык
    </p>
    <div style="width: 980px; height: 465px; padding: 43px 0 0 0;">
      <div style="width: 394px; height: 465px; float: left; margin: 0 0 0 11px; position: relative; z-index: 2;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Мы&nbsp;готовим к&nbsp;экзаменам <span class="red bold">НА ОТЛИЧНО</span>.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Берём не&nbsp;только отличников и&nbsp;хорошистов,<br>
          но&nbsp;даже очень-очень слабых ребят.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Критерий подготовки: наш выпускник (даже самый слабый) занимает 1-2 место не&nbsp;только в&nbsp;своём классе, <span class="light-blue bold">но&nbsp;в&nbsp;школе</span>. Троек мы&nbsp;не&nbsp;имеем, четвёрки крайне редки. Только <span class="light-blue bold">пятёрки</span>, только <span class="red bold">ВЫСШИЙ БАЛЛ!</span>
        </p>
        <p class="yellow bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Уникальные технологии обучения.<br>
          Учебники и материалы наивысшего качества.<br>
          Педагоги высшей квалификации.
        </p>
        <ul class="grey size-14 font-verdana" style="margin: 0 0 21px 16px; line-height: 22px;">
          <li><span class="blue">Зубрёжки правил нет.</span></li>
          <li><span class="blue">Домашние задания минимальны.</span></li>
          <li><span class="blue">График любой.</span></li>
        </ul>
      </div>
      <div style="width: 535px; height: 465px; float: right; margin: 0 27px 0 0;">
        <div style="width: 535px; height: 360px; float: right; margin: 0 0 25px 0;">
          <div style="width: 242px; height: 360px; float: left; margin: 0 0 0 0;">
            <div class="in" style="width: 242px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik.jpg" width="100%" height="100%" alt="Ключи к занятиям"></a>
            </div>
          </div>
          <div style="width: 253px; height: 420px; float: right; margin: 0 0 0 0;">
            <div class="in" style="width: 253px; height: 360px; margin: 0 auto; position: relative; z-index: 1; cursor: pointer; box-shadow: 15px 15px 20px 0px #777;">
              <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/uchebnik1.jpg" width="100%" height="100%" alt="Учебник"></a>
            </div>
          </div>
        </div>
        <p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0; line-height: 22px;">
          Уровень 3. Учебник и ключи к занятиям.<br>
          <span class="blue">Для увеличения кликните по картинке.</span>
        </p>
      </div>
    </div>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 11px; line-height: 22px;">
      <span class="size-12 red bold">Русский язык.</span> Безупречная грамотность + сочинения, изложения + русский язык + теория + билеты.
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="light-blue bold">Фундаментальная подготовка.</span> 24-36 занятий по 3&nbsp;ак.&nbsp;часа (72-108&nbsp;ак.&nbsp;часов).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="light-blue bold">Базовая подготовка.</span> 12-24 занятия по 3&nbsp;ак.&nbsp;часа (36-72&nbsp;ак.&nbsp;часа).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      <span class="light-blue bold">Экспресс-подготовка (только для отличников!).</span> 6-12 занятий по 3&nbsp;ак.&nbsp;часа (18-36&nbsp;ак.&nbsp;часов).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px;">
      Занятия <span class="light-blue bold">индивидуальные</span> или в&nbsp;<span class="light-blue bold">вашей</span> мини-группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
    </p>
    <p class="dark-blue size-14 font-verdana" style="margin: 0 11px 21px; line-height: 22px; padding: 0 0 39px;">
      См. также <span class="red tag bold">ЭКСКЛЮЗИВ. ГИА, ЕГЭ, ОГЭ <span class="normal">–</span> экспресс</span>
    </p>
    <p class="dark-blue bold size-18 font-verdana center" style="margin: 20px 0 45px 0;">
      За курс из 36 ак. часов (12 занятий по 3 ак.часа):
    </p>
    <div class="clearfix" style="width: 980px; margin: 0 0 0 0; padding: 0 0 40px 0;">
      <p class="yellow bold size-24 font-verdana center" style="margin: 0 0 10px 0;">
        Базовая стоимость 10&nbsp;800&nbsp;у.е.
      </p>
      <p class="blue bold size-18 font-verdana center" style="margin: 0 0 21px 0;">
        <span class="red">Скидки для Persona Grata</span><br>
        Индивидуальное обучение экстра-класса<br>
        <span class="light-blue size-14 normal" style="margin-top: -2px;display: block;">(включая стоимость шикарных учебников)</span>
      </p>
      <div style="margin: 0 150px;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>5&nbsp;400 у.е.</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p>
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>5&nbsp;400 у.е.</nobr> <nobr>(Рассрочка: 2&nbsp;700 у.е.&nbsp;+ 2&nbsp;700&nbsp;у.е.)</nobr><br>
          Стоимость ак.часа 150&nbsp;у.е.<br>
          Дополнительная скидка при переходе с курса на курс&nbsp;– <nobr>900 у.е.</nobr> <nobr>(Рассрочка: 2&nbsp;250 у.е.&nbsp;+ 2&nbsp;250 у.е.)</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">Рождественская скидка 75%</span>&nbsp;– до&nbsp;конца декабря.<br>
          <span class="blue">Стоимость с учётом скидки&nbsp;– <nobr>2 700 у.е.</nobr></span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">75%</span>&nbsp;– стоимость <nobr>2&nbsp;700 у.е.</nobr> <nobr>(Рассрочка: 1&nbsp;350&nbsp;у.е.&nbsp;+ 1&nbsp;350&nbsp;у.е.)</nobr><br>
          Стоимость ак.часа 75&nbsp;у.е.<br>
          <span class="blue">Это сезонная скидка. Чтобы получить эту скидку, вам необходимо позвонить <span class="bold">в&nbsp;октябре</span>, записаться на&nbsp;пробный сеанс в&nbsp;октябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">85%</span>&nbsp;– стоимость <nobr>1 620 у.е.</nobr> <nobr>(Рассрочка: 810 у.е. + 810 у.е.)</nobr><br>
          Стоимость ак.часа 45&nbsp;у.е.
          <span class="blue">Это особая сезонная скидка для&nbsp;одарённых учащихся (не&nbsp;ниже твёрдой четвёрки по&nbsp;предмету). Чтобы получить эту скидку, вам надо оформиться <span class="bold">до&nbsp;31&nbsp;августа</span> и&nbsp;приступить к&nbsp;занятиям не&nbsp;позднее конца сентября.</span>
        </p> -->
        <p class="blue size-14 font-verdana" style="margin: 0 0 0;">
          <span class="red bold">Обучение в&nbsp;вашей мини&#8209;группе</span> (2-3 чел). Каждый следующий участник группы оплачивает только <span class="red bold">50%</span>. Стоимость резко снижается (примерно на&nbsp;<span class="red bold">25%</span>). Свою мини&#8209;группу вы собираете сами (семья, друзья, коллеги, одноклассники).
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 40px 0 0 0; line-height: 59px;">
      Сочинения, изложения
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 30px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/book.jpg" width="530" height="331" alt="Книга">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="size-12 red bold">Сочинения, изложения.</span> Стилистика русского языка + литературное редактирование текста + умение раскрыть тему + развитие творческих способностей.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          4-6 сеансов по 3 ак. часа (12-18 ак. часов)<br>
          с проф. О.О.Веровенко.<br>
          По стоимости курса <span class="tag red bold">Чудо&nbsp;будет!</span>
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $galereya; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 10px 30px 20px; margin: 0 -30px; position: relative;"><span class="light-blue bold">Сочинения, изложения. Подробнее</span></a>
        </p>
      </div>
    </div>
    <p class="dark-blue bold size-18 font-verdana center" style="margin: 35px 0 45px 0;">
      За курс из 12 ак.часов (4 сеанса по 3 ак.часа):
    </p>
    <div class="clearfix" style="width: 980px; margin: 0 0 0 0; padding: 0 0 40px 0;">
      <p class="yellow bold size-24 font-verdana center" style="margin: 0 0 10px 0;">
        Базовая стоимость 9 000 у.е.
      </p>
      <p class="blue bold size-18 font-verdana center" style="margin: 0 0 21px 0;">
        <span class="red">Скидки для Persona Grata</span><br>
        Индивидуальное обучение экстра-класса<br>
        <span class="light-blue size-14 normal" style="margin-top: -2px;display: block;">(включая стоимость шикарных учебников)</span>
      </p>
      <div style="margin: 0 150px;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>4 500 у.е.</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p>
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">Рождественская скидка 75%</span>&nbsp;– до&nbsp;конца декабря.<br>
          <span class="blue">Стоимость с учётом скидки&nbsp;– <nobr>2 250 у.е.</nobr></span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px;">
          <span class="red bold">75%</span>&nbsp;– стоимость <nobr>2 250 у.е.</nobr><br>
          <span class="blue">Это сезонная скидка. Чтобы получить эту скидку, вам необходимо позвонить <span class="bold">в&nbsp;октябре</span>, записаться на&nbsp;пробный сеанс в&nbsp;октябре и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0;">
          <span class="red bold">85%</span>&nbsp;– стоимость <nobr>1 350 у.е.</nobr><br>
          <span class="blue">Это особая сезонная скидка для&nbsp;одарённых учащихся (не&nbsp;ниже твёрдой четвёрки по&nbsp;русскому языку).<br><span class="bold size-12">Внимание! Информация легко проверяется.</span><br>Чтобы получить эту скидку, вам надо оформиться <span class="bold">до&nbsp;31&nbsp;августа</span> и&nbsp;приступить к&nbsp;занятиям не&nbsp;позднее конца сентября.</span>
        </p> -->
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 40px 0 0 0; line-height: 59px;">
      Английский язык
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 347px; margin: 0 0 0 0; padding: 44px 0 55px;">
      <div style="width: 530px; height: 347px; float: left; margin: 0 0 0 11px; position: relative;">
        <div class="image-shadow" style="width: 530px; height: 331px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/english.jpg" width="530" height="331" alt="Английский">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 405px; height: 347px; float: right; margin: 0 10px 0 0">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="size-12 red bold">Английский язык. Академический курс.</span> Безупречная грамматика в полном объеме + много лексики + практика + теория + билеты.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Фундаментальная подготовка.</span> 24-36 занятий по 3&nbsp;ак.&nbsp;часа (72-108&nbsp;ак.&nbsp;часов).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Базовая подготовка.</span> 12-24 занятия по 3&nbsp;ак.&nbsp;часа (36-72&nbsp;ак.&nbsp;часа).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          <span class="blue bold">Экспресс-подготовка (только для отличников!).</span> 6-12 занятий по 3&nbsp;ак.&nbsp;часа (18-36&nbsp;ак.&nbsp;часов).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Занятия <span class="blue bold">индивидуальные</span> или в&nbsp;<span class="blue bold">вашей</span> мини-группе (при условии, что участники идеально подходят друг другу по&nbsp;уровню подготовки).
        </p>
      </div>
    </div>
    <p class="dark-blue bold size-18 font-verdana center" style="margin: 7px 0 45px 0;">
      За курс из 36 ак. часов (12 занятий по 3 ак.часа):
    </p>
    <p class="blue size-18 font-verdana center" style="margin: 20px 0 0; padding: 0 0 45px;">
      По&nbsp;стоимости курса <span class="tag red bold">Врождённая&nbsp;грамотность</span> (см.&nbsp;выше)
    </p>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="red bold size-48 font-verdana center" style="margin: 0 0 21px 0; padding: 40px 0 0 0;">
      ЭКСКЛЮЗИВ
    </p>
    <p class="light-blue bold size-36 font-verdana center" style="margin: 0 0 51px 0;">
      ГИА, ЕГЭ, ОГЭ <span class="normal size-30">–</span> экспресс
    </p>
    <div style="width: 980px; height: 344px; margin: 0 0 0 0; padding: 0 0 40px;">
      <div style="width: 600px; height: 344px; float: left; margin: 0 0 0 11px; position: relative;">
        <div style="width: 600px; height: 344px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/express.jpg" width="600" height="344" alt="Экспресс">
        </div>
      </div>
      <div style="width: 355px; height: 344px; float: right; margin: 0 0 0 0">
        <p class="red size-16 font-verdana bold" style="margin: 7px 0 14px 0; line-height: 20px;">
          Сверхскоростное<br>нейролингвистическое обучение
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Сочинения, изложения + грамотность.<br>
          При необходимости применяется гипноз.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Длительно обучения:<br>
          4-6 сеансов по 3 ак. часа (12-18 ак. часов).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
          <span class="blue bold">Условия приёма:</span><br>
          Не более 50 ошибок во вступительном тесте,<br>
          <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">концентрация внимания от 120</span></a><br>
          (подробнее – см. <a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 15px 20px; margin: 0 -20px 0; position: relative;"><span class="dark-blue">здесь</span></a>).
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 17px;">
          Автор технологии обучения и ваш педагог –<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
          По стоимости курса <span class="tag red bold">Чудо&nbsp;будет!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue bold size-48 font-verdana center" style="margin: 0 0 9px 0; padding: 40px 0 0 0; line-height: 59px;">
      Обзорные занятия
    </p>
    <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
      ГИА, ЕГЭ, ОГЭ
    </p>
    <div style="width: 980px; height: 414px; margin: 0 0 0 0; padding: 44px 0 40px;">
      <div style="width: 530px; height: 414px; float: right; margin: 0 18px 0 0; position: relative; z-index: 5;">
        <div class="image-shadow" style="width: 530px; height: 398px; margin: 0 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/alladin.jpg" width="530" height="398" alt="Алладин на ковре-самолете">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
      <div style="width: 395px; height: 414px; float: left; margin: 0 0 0 21px">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Единичные обзорные занятия по&nbsp;всему курсу русского или английского языков <span class="blue bold">либо</span> по&nbsp;самым сложным темам на&nbsp;ваш выбор.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Длительность: 3&nbsp;ак.&nbsp;часа.
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          Индивидуально или в&nbsp;вашей мини-группе.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С&nbsp;проф. О.О.Веровенко&nbsp;– по&nbsp;стоимости одного сеанса <span class="tag red bold">Чудо&nbsp;будет!</span>.
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
          С&nbsp;педагогом высшей квалификации&nbsp;– по&nbsp;стоимости одного занятия курсов <span class="tag red bold">Врождённая&nbsp;грамотность</span> или <span class="tag red bold">Вертикальный&nbsp;взлёт</span>.
        </p>
      </div>
    </div>
  </div>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 76px 0; padding: 40px 0 0;">
      Пробный сеанс
    </p>
    <div class="clearfix-hook" style="width: 960px; margin: 10px 0 0 0; padding: 0 0 40px;">
      <div class="clearfix-hook" style="width: 256px; float: right; margin: 0 0 0 0; position: relative;">
        <div style="width: 288px; height: 433px; margin: -31px 0 0 -200px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/boy4.jpg" width="100%" height="100%" alt="Официант">
        </div>
      </div>
      <div class="clearfix-hook" style="width: 450px; float: left; margin: 0 0 0 245px; position: relative;">
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
          Длительность 3 ак.часа.
        </p>
        <p class="yellow bold size-14 font-verdana" style="margin: 0 0 11px 0;">
          Базовая стоимость 1&nbsp;200&nbsp;у.е.
        </p>
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 11px 0;">
          <span class="red">Скидки для Persona Grata:</span>
        </p>
        <p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px;">
          <span class="red bold">50%</span>&nbsp;– стоимость <nobr>600 у.е.</nobr><br>
          <span class="blue">Эта скидка действует <span class="bold">круглый год</span>.</span>
        </p>
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px;">
          <span class="red bold">Рождественская скидка 75%</span>&nbsp;–<br>до&nbsp;конца декабря.<br>
          <span class="blue">Стоимость с учётом скидки&nbsp;– <nobr>300 у.е.</nobr></span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 11px;">
          <span class="red bold">75%</span>&nbsp;– стоимость <nobr>300 у.е.</nobr><br>
          <span class="blue">Это сезонная скидка. Чтобы получить эту скидку,<br>вам необходимо позвонить <span class="bold">в&nbsp;октябре</span>,<br>записаться на&nbsp;пробный сеанс в&nbsp;октябре<br>и&nbsp;приступить к&nbsp;занятиям до&nbsp;конца года.</span>
        </p> -->
        <!-- <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px;">
          <span class="red bold">85%</span>&nbsp;– стоимость <nobr>180 у.е.</nobr><br>
          <span class="blue">Эта скидка только для отличников<br>и хорошистов.</span>
          <span class="blue">Действует <span class="bold">до&nbsp;31&nbsp;августа</span>.</span>
        </p> -->
        <p class="blue bold size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
          Сеанс фактически бесплатен!<br>
          Деньги возвращаются вам при оплате<br>
          курса обучения.
        </p>
        <p class="blue size-14 font-verdana" style="margin: 0 0 22px 0; line-height: 22px;">
          Вас примет автор технологий обучения<br>
          профессор Ольга Олеговна Веровенко.
        </p>
        <p class="red size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
          Как правило, к нам очередь.<br>
          Запишитесь, пожалуйста, заранее!
        </p>
      </div>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="phone"></a></p>
  <div class="div-shadow_white" style="margin: 0 0 35px;">
    <p class="red bold size-30 font-verdana center" style="margin: 0 0 33px 0; padding: 40px 0 0;">
      Телефон
    </p>
    <div style="width: 960px; height: 443px;">
      <div style="width: 787px; height: 443px; margin: 0;">
        <div class="trans" style="width: 787px; height: 443px;">
          <img class="trans1" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/phone.jpg"  width="100%" height="100%" alt="Телефон" style="opacity:0; margin-left: 600px;">
        </div>
      </div>
    </div>
    <p class="blue size-36 bold font-verdana center" style="margin: 0 0 13px 0;">
      <span class="light-yellow">+7</span> <span class="lilac">(985)</span> <span class="blue">7</span><span class="light-blue">6</span><span class="red">5</span>–<span class="green1">2</span><span class="blue">–</span><span class="red">555</span>
    </p>
    <p class="blue size-18 font-verdana center" style="margin: 0 0 11px 0;">
      до 23:00
    </p>
    <p class="red size-18 bold font-verdana center" style="margin: 0 0 33px 0;">
      без выходных
    </p>
    <p class="blue size-24 font-verdana center" style="margin: 0 0 0 0; padding: 0 0 40px;">
      olgaverovenko@gmail.com
    </p>
  </div>
</div>
<div id="img_container"><img src=""></div>
[/raw]