[raw]
<div class="nav" style="width: 100%; height: 86px; position: relative; z-index: 9999; overflow: hidden; background-color: #fff; top: 0; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;"><a class="_js-nav-url" href="//veroven.ru/chudo-budet-vybor"><span class="yellow">К НАВИГАЦИИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;"><a class="_js-main-url" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nachalo; [/exec]"><span class="yellow">ГЛАВНАЯ</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;"><a class="_js-main-url" href="[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper _js-callback-link">
  <p class="light-blue size-24 font-verdana bold line-height-23" style="margin: 0 0 50px 18px; position: relative;">
    Условия обучения
  </p>
  <p id="anim-stoimost" class="yellow size-30 font-verdana center bold" style="margin: 0px 0 10px 0; opacity: 0;">
    СКИДКИ
  </p>
  <div style="margin-top: 0; height: 496px;">
    <div style="width: 600px; height: 496px; margin:0 auto;">
      <div style="width: 600px; height: 496px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/yagoda.jpg" width="100%" height="100%" alt="Ягоды">
      </div>
    </div>
  </div>
  <p class="yellow size-30 font-verdana center bold" style="margin: 0px 0 40px 0;">
    Тарифы и скидки
  </p>
  <p class="dark-blue size-18 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    <span class="blue bold">Базовый</span>&nbsp;– недёшево. Рекомендуем выбрать другой тариф!
  </p>
  <p class="dark-blue size-18 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    <span class="blue bold">Persona Grata</span>&nbsp;– скидка <span class="bold red">50%</span> на любой курс обучения плюс особое отношение с нашей стороны.
  </p>
  <p class="dark-blue size-18 font-verdana" style="margin: 0 10px 100px 25px; line-height: 22px;">
    <span class="blue bold">Persona non Grata</span>&nbsp;– надбавка 100%. Совсем плохой выбор...
  </p>
  <p style="margin: 0;">
    <a style="display: block; padding-top: 86px; margin-top: -86px;" name="grata"></a>
  </p>
  <p class="red font-verdana size-30 bold center" style="margin: 0 0 7px;">
    Persona Grata
  </p>
  <div class="clearfix-hook" style="width: 960px; padding: 36px 0 100px 0;">
    <div class="clearfix-hook" style="width: 448px; float: left; margin: 0 20px 0 40px;">
      <p class="dark-blue size-16 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span>&nbsp;– это вы, наши любимые ученики. Доброжелательны, приветливы, этичны, благодарны, чистоплотны, очень точны.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> учится с&nbsp;видимым старанием, рвением, усердием, всё делает охотно и&nbsp;хочет ещё!
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> внимательно ознакомилась с&nbsp;материалами сайта, особенно со&nbsp;статьями, и&nbsp;отчётливо представляет,<span class="blue bold">ЧТО</span> мы делаем и&nbsp;<span class="blue bold">КАК</span> у&nbsp;нас это получается.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span>&nbsp;<span class="yellow bold">– ЛИЧНОСТЬ.</span><br>
        Учится потому, что СОВЕРШЕНСТВУЕТ СЕБЯ.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Рядом с&nbsp;вами приятно быть, вас хочется любить и&nbsp;учить хорошо-хорошо...
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
        При&nbsp;таком отношении к&nbsp;миру и&nbsp;жизни всё у&nbsp;вас получится.<br>
        Пусть низок начальный уровень – роскошный конечный результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
      </p>
      <p class="blue size-18 bold font-verdana center" style="margin: 0; line-height: 28px;">
        Ведь реальность <span class="normal">–</span> зеркало.<br>
        Ваше зеркало.
      </p>
    </div>
    <div class="clearfix-hook" style="width: 436px; float: right; margin: 0 0 0 0;">
      <div class="image-shadow" style="border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="red size-18 font-verdana center" style="margin: 17px 0 0 0;">
        Persona Grata
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="nongrata"></a></p>
  <p class="dark-blue size-30 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
    Persona non Grata
  </p>
  <div style="padding-top: 33px; height: 360px;">
    <div style="width: 400px; height: 360px; margin:0 auto; overflow: hidden;">
      <div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin: 0 0 0 -207px;">
        <div class="image-shadow-0" style="width: 640px; height: 360px;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nongrata.jpg" width="100%" height="100%" alt="Persona Grata">
        </div>
      </div>
    </div>
  </div>
  <p class="size-14 font-arial bold center" style="margin: 28px 0 45px 0; color: #4A4A4A;">
    Persona non Grata
  </p>
  <p class="dark-blue size-16 font-verdana" style="margin: 0 10px 21px 44px; line-height: 22px;">
    Вам можно всё: бить баклуши, иметь семь пятниц на&nbsp;неделе, ходить немытым-нечёсаным, пропускать занятия, опаздывать, безбожно врать... Материалы сайта, само собой, вы не&nbsp;читали.
  </p>
  <p class="dark-blue size-16 font-verdana" style="margin: 0 20px 31px 44px; line-height: 22px;">
    <span class="blue">Обучение для вас только с надбавкой 100%.</span> Впрочем, первый сеанс, скорее всего, окажется и&nbsp;последним.
  </p>
  <p class="blue font-verdana bold center" style="font-size: 20px; margin: 0 0 101px 0; line-height: 25px;">
    Ведь реальность <span class="normal">–</span> зеркало.<br>
    Ваше зеркало.
  </p>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 0 0 44px 0; line-height: 34px;">
    График занятий
  </p>
  <div style="width: 960px; height: 367px; padding: 17px 0 135px 0;">
    <div style="width: 375px; height: 367px; float: left; margin: 0 0 0 38px;">
      <div class="image-shadow" style="width: 375px; height: 351px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nlo.jpg" width="100%" height="100%" alt="Прилёт инопланетян">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
        Прилёт инопланетян
      </p>
    </div>
    <div style="width: 439px; height: 367px; float: right;">
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        Согласовав график, <span class="red bold">Persona Grata</span><br>
        строго его придерживается.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        В течение одного учебного курса<br>
        допускается только 1 (один) перенос<br>
        занятия по любой причине (падение<br>
        метеорита, баланс, свадьба, прилёт<br>
        инопланетян и т.д.). Опоздание – не<br>
        более чем на 15 мин.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
        <span class="blue bold">Альтернатива</span> – занятия по базовой<br>
        стоимости, без скидок.
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="adres"></a></p>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 0 0 12px 0; line-height: 26px;">
    Где занятия?
  </p>
  <div style="width: 960px; height: 437px; padding: 46px 0 0 0;">
    <div style="width: 400px; height: 437px; float: left; padding-left: 29px;">
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        <span class="blue bold">VIP-обучение.</span> Любой курс с автором<br>
        технологий профессором О.О.Веровенко.<br>
        <span class="lilac bold">м. <span class="tag">Молодёжная</span></span>
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        <span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
        <span class="lilac bold">м. <span class="tag">Щёлковская</span></span>
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 0 39px 0; line-height: 22px;">
        <span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span>.<br>
        <span class="lilac bold">м. <span class="tag">Крылатское</span></span>
      </p>
      <p class="blue size-16 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
        Иногородние учащиеся могут приехать<br>
        на 1-2 недели и заниматься ежедневно.
      </p>
    </div>
    <div id="load-video2" class="load-video" style="width: 476px; height: 437px; float: right; margin: 0 23px 0 0;">
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="viezd"></a></p>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 0 0 43px 0;">
    Выезд педагога к вам
  </p>
  <div style="width: 960px; height: 444px; padding: 0 0 0 0;">
    <div style="width: 335px; height: 444px; float: left; margin: 0 0 0 33px">
      <p class="grey size-16 font-verdana" style="margin: 88px 0 21px 0; line-height: 22px;">
        <span class="blue bold">В черте Москвы</span><br>
        Надбавка 50%
      </p>
      <p class="grey size-16 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="blue bold">За МКАД и в Санкт-Петербург</span><br>
        Надбавка 100%
      </p>
      <p class="grey size-16 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="blue bold">По России</span><br>
        Надбавка 200%
      </p>
      <p class="blue size-16 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
        Иногородние учащиеся могут приехать на&nbsp;1&#8209;2 недели и&nbsp;заниматься ежедневно.
      </p>
    </div>
    <div style="width: 571px; height: 444px; float: right; margin: 0 0 0 0;">
      <div class="image-shadow" style="width: 571px; height: 428px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/coach.jpg" width="100%" height="100%" alt="Выезд педагога">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 110px 0 16px 0; line-height: 34px;">
    Учебники
  </p>
  <div style="width: 960px; height: 440px; padding: 50px 0 76px 0;">
    <div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
      <div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/textbooks.jpg" width="100%" height="100%" alt="Учебники">
      </div>
      <p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
      <div id="img_container"><img src=""></div>
    </div>
    <div style="width: 449px; height: 440px; float: right; padding-right: 0px">
      <p class="blue size-16 font-verdana" style="margin: 165px 0 22px 16px; line-height: 22px;">
        Великолепного качества<br>
        учебники и материалы<br>
        включены в стоимость обучения
      </p>
    </div>
  </div>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 30px 0 16px 0; line-height: 34px;">
    Статьи
  </p>
  <div class="clearfix-hook" style="padding: 0 0 100px 0;">
    <div class="clearfix-hook" style="width: 420px; float: left; margin: 0 0 0;">
      <img   src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/dog.jpg" width="100%" height="100%" alt="Прилёт инопланетян" style="margin: -50px 0 0;">
    </div>
    <div class="clearfix-hook" style="width: 550px; float: right;">
      <p class="dark-blue size-16 font-verdana" style="margin: 50px 10px 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> <span class="blue bold">внимательно</span> читала наши <a href="[exec] include get_template_directory().'/links.php'; echo $stati_planeta; [/exec]" class="normal" style="text-decoration: underline; color: #0065a9; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="blue bold" style="">статьи</span></a> и&nbsp;отчётливо представляет, <span class="blue bold">ЧТО</span> мы&nbsp;делаем и&nbsp;<span class="blue bold">КАК</span> у&nbsp;нас это получается.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 10px 21px 0; line-height: 22px;">
        Это <span class="blue bold">этично</span>. Вы бережёте наше время, силы, нервы&nbsp;– мы благодарим вас за&nbsp;это огромными скидками.
      </p>
      <p class="dark-blue size-16 font-verdana" style="margin: 0 10px 21px 0; line-height: 22px;">
        В этих статьях вы найдете <span class="blue bold">всю</span> необходимую информацию.
      </p>
      <p class="dark-blue size-16 font-verdana center" style="margin: 0 10px 0 0; line-height: 22px;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $stati_planeta; [/exec]" class="normal" style="text-decoration: none; color: #0065a9; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="blue bold" style="border-bottom: 1px solid #0065a9;">Читать статьи</span><br><span class="size-14 light-blue" style="border-bottom: 1px solid #09f;">Вам сюда</span></a>
      </p>
    </div>
  </div>
  <p class="red size-30 font-verdana bold center" style="margin: 0 0 3px 0; padding-top: 0px;">
    Отзывы, благодарности, награды
  </p>
  <div style="width: 960px; height: 180px; padding: 50px 0 0; margin: 0 10px;">
    <div style="width: 320px; height: 180px; float: left; margin: 0;">
      <div class="image-shadow" style="width: 236px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/sobyanin.jpg" width="236" height="180" alt="Собянин">
      </div>
    </div>
    <div style="width: 320px; height: 180px; float: left; padding-right: 0px">
      <div class="image-shadow" style="width: 300px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); margin: 0 auto;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/luzhkov.jpg" width="300" height="180" alt="Лужков">
      </div>
    </div>
    <div style="width: 320px; height: 180px; float: right; padding-right: 0px">
      <div class="image-shadow in" style="width: 201px; height: 180px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer; margin: 0 auto;">
        <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom-big.jpg">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/diplom.jpg" width="201" height="180" alt="Диплом">
        </a>
      </div>
    </div>
  </div>
  <p class="red size-18 font-verdana bold center" style="margin: 0 0 3px 0; padding: 40px 0 100px;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="yellow bold" style="border-bottom: 1px solid #4A4A4A;">Перейти на страницу отзывов</span></a>
  </p>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="bronirovanie"></a></p>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 0 0 31px 0;">
    Бронирование места
  </p>
  <div style="width: 960px; height: 400px; padding: 21px 0 48px 20px;">
    <div style="width: 440px; height: 400px; float: left; padding-right: 0px">
      <p class="dark-blue size-16 font-verdana" style="margin: 139px 0 22px 0; line-height: 22px;">
        Место (на&nbsp;определённый день, месяц, час) бронируется только после полной оплаты вами курса обучения.
      </p>
    </div>
    <div style="width: 498px; height: 400px; float: right; margin: 0 11px 0 0;">
      <div style="width: 498px; height: 345px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/armadillo.jpg" width="100%" height="100%" alt="Броненосец с плодом познания">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
        Броненосец с&nbsp;плодом познания
      </p>
    </div>
  </div>
  <p class="light-blue size-30 font-verdana bold center line-height-23" style="margin: 0 0 58px 0; position: relative;">
    Рассрочка платежа
  </p>
  <div class="clearfix-hook">
    <div class="clearfix-hook" style="padding: 0 0 82px; float: left; margin: 0 0 0 80px;">
      <div style="margin: 0 auto; width: 430px;">
        <div>
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" height="100%" alt="Яблоко">
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
      </div>
    </div>
    <div class="clearfix-hook" style="float: right;width: 465px;">
      <p class="dark-blue size-16 font-verdana center" style="margin: 170px 50px 43px 0; line-height: 22px;">
        Возможна рассрочка платежа<br>(только для <span class="red bold">Persona Grata</span>)<br><span class="yellow bold">Без процентов!</span>
      </p>
    </div>
  </div>
  <p class="light-blue size-30 font-verdana bold center line-height-23" style="margin: 0 0 0; position: relative;">
    <span class="tag">Горящее</span> место
  </p>
  <div class="clearfix-hook">
    <div class="clearfix-hook" style="padding: 0 0 82px; float: left; margin: 0 0 0 10px;">
      <div style="margin: 0 auto; width: 450px;">
        <div>
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/fire.jpg" width="100%" height="100%" alt="Яблоко">
        </div>
      </div>
    </div>
    <div class="clearfix-hook" style="float: right;width: 480px;">
      <p class="dark-blue size-16 font-verdana" style="margin: 145px 0 43px 0; line-height: 22px;">
        <span class="tag">Горящее</span> место&nbsp;– скидка <span class="red bold">75%</span> от&nbsp;базовой стоимости.
        <br> Эта скидка только для&nbsp;<span class="red bold">Persona&nbsp;Grata</span>.
        <br> Позвоните, поинтересуйтесь.
        <br> Телефон найдёте далее, на&nbsp;странице стоимости.
      </p>
    </div>
  </div>
  <p style="margin: 0; "><a style="display: block; padding-top: 86px; margin-top: -86px;" name="stoimost"></a></p>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 0 0 119px 0; line-height: 34px;">
    Сколько стоит?
  </p>
  <div class="clearfix-hook" style="padding: 0;">
    <div class="clearfix-hook" style="width: 650px; margin: 0 auto;">
      <div style="margin: -80px 0 0 0;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/money.jpg" width="100%" height="100%" alt="Стоимость обучения">
      </div>
    </div>
  </div>
  <p class="size-30 center" style="line-height: 36px; margin: 20px 0 20px;"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_volsh_tarif; [/exec]" class="b-button _mix-green-yellow normal _oldjs-choice-url" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold">Стоимость</span></a></p>
  <p class="red size-14 font-verdana center" style="margin: 0 0 119px 0; line-height: 22px;">
    Кликните, пожалуйста, по клавише!
  </p>
</div>
<!-- <div class="b-banner">
  <div class="b-banner__content">
    <p class="yellow center bold size-48 font-verdana" style="margin: 30px 0 21px 0;">
      СКИДКА<br>
      <span class="red">75%</span>
    </p>
    <p class="dark-blue size-30 font-verdana" style="margin: 0 0 21px 0;">
      Эта скидка даётся только тем, кто внимательно прочитал материалы сайта и&nbsp;хорошо понимает, <span class="blue bold">ЧТО</span> мы&nbsp;делаем и&nbsp;<span class="blue bold">КАК</span> творится чудо.
    </p>
    <p class="dark-blue size-30 font-verdana" style="margin: 0 0 21px 0;">
      Это <span class="blue bold">этично</span>. Вы&nbsp;бережёте наше время, силы, нервы. Мы&nbsp;благодарим вас за&nbsp;это <span class="blue bold">огромными</span> скидками.
    </p>
    <div style="padding: 20px 0; overflow: auto;">
      <div style="width: 50%; float: left; margin: 0 0 0 0;">
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
          <a class="b-banner__link_active" href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_nongrata; [/exec]" style="cursor: pointer; text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="dark-blue bold">Нет,<br>мы&nbsp;не&nbsp;хотим тратить время<br>на&nbsp;чтение ваших статей</span></a>
        </p>
      </div>
      <div style="width: 50%; float: right; margin: 0 0 0 0;">
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
          <a class="b-banner__link" href="" style="cursor: pointer; text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold">Да,<br>условия принимаются</span></a>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div id="img_container"><img src=""></div>
[/raw]
































