[raw]
<div class="div-wrapper_padding size-16" style="width: 58.75em; z-index: 10; position: relative;">
  <div class="white font-verdana" style="margin: 0 auto;">
    <p class="bold" style="font-size: 2.5em;margin: 1.8em 0 0.85em; line-height: normal;">
      Стоимость обучения
    </p>
    <p style="font-size: 1.875em;margin: 0 0 1em; line-height: 1.35em;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_page_chudo; [/exec]" style="text-decoration: none; padding: 0.333em 1em 0; margin: 0 -1em;position: relative;"><span class="white bold" style="border-bottom: 1px solid white;">1. Чудо будет!</span></a> <span>Индивидуальное обучение экстра&#8209;класса <nobr>с проф. О.О. Веровенко.</nobr></span><br>
      <span style="font-size: 0.6em; margin-top: -0.111em; display: block;">Взрослым и&nbsp;школьникам, отличникам и&nbsp;отстающим&nbsp;– всем без&nbsp;исключения!</span>
    </p>
    <p style="font-size: 1.875em;margin: 0 0 1em; line-height: 1.35em;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_bonus; [/exec]" style="text-decoration: none; padding: 0.333em 1em 0; margin: 0 -1em; position: relative;"><span class="white bold" style="border-bottom: 1px solid white;">2. Бюджетное.</span></a> <span>Занятия с&nbsp;педагогами&#8209;ассистентами высшей квалификации по&nbsp;технологиям <nobr>проф. О.О. Веровенко.</nobr></span><br>
      <span style="font-size: 0.6em; margin-top: -0.111em; display: block;">Только взрослым и старшеклассникам.</span>
    </p>
    <p style="font-size: 1.875em;margin: 0 0 1em; line-height: 1.35em;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_page_exotica; [/exec]" style="text-decoration: none; padding: 0.333em 1em 0; margin: 0 -1em; position: relative;"><span class="white bold" style="border-bottom: 1px solid white;">3. Экзотика. VIP&#8209;обучение</span></a> <span class="white">Под&nbsp;гипнозом&nbsp;+ <span class="italic bold">NL</span>&#8209;психология.</span><br>
      <span style="font-size: 0.6em; margin-top: -0.111em; display: block;">Сеансы максимальной эффективности <nobr>с проф. О.О. Веровенко.</nobr></span>
    </p>
    <p style="font-size: 1.875em;margin: 0 0 1em; line-height: 1.35em;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_page_gia; [/exec]" style="text-decoration: none; padding: 0.333em 1em 0; margin: 0 -1em; position: relative;"><span class="white bold" style="border-bottom: 1px solid white;">4. ГИА, ЕГЭ, ОГЭ</span></a>
    </p>
    <p style="font-size: 1.875em;margin: 0 0 1em; line-height: 1.35em;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_bonus; [/exec]" style="text-decoration: none; padding: 0.333em 1em 0; margin: 0 -1em; position: relative;"><span class="white bold" style="border-bottom: 1px solid white;">5. Самое разное.</span></a> <span>Тут много интересного!</span> <span style="font-size: 0.6em;">Сравнить и&nbsp;выбрать.</span>
    </p>
    <p style="font-size: 1.875em;margin: 0 0 1em; line-height: 1.35em;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_2; [/exec]" style="text-decoration: none; padding: 0.333em 1em 0; margin: 0 -1em; position: relative;"><span class="white bold" style="border-bottom: 1px solid white;">6. Бесплатное обучение.</span></a> <span style="font-size: 0.8em;">Тесты-игры.</span>
    </p>
    <p class="white center hidden-hint" style="opacity: 0;">
      <span style="font-size: 1em;margin: 0; display: inline-block; background-color:#f96920; padding: 0.625em 1.25em; border-radius: 1.875em; color: white;">Перейдите, пожалуйста, по ссылке!</span>
    </p>
    <p class="white normal center" style="font-size: 1.875em;margin: 6em 0 0; line-height: normal;">
      Люди,<br>
      которые пишут грамотно,<br>
      ОЧАРОВАТЕЛЬНЫ!!!
    </p>
  </div>
</div>
<div class="b-video-back" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]