<div class="nav" style="width: 100%; height: 86px; position: relative; z-index: 9999; overflow: hidden; background-color: #fff; top: 0; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='#stoimost'"><a href="#stoimost"><span class="yellow">СТОИМОСТЬ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper">
  <p class="light-blue size-24 font-verdana bold line-height-23" style="margin: 0 0 30px 18px; position: relative;">
    Условия обучения
  </p>
  <!-- <p id="anim-stoimost" class="yellow size-30 font-verdana center bold" style="margin: 0px 0 10px 0; opacity: 0;">
    СКИДКИ
  </p>
  <div style="margin-top: 0; height: 496px;">
    <div style="width: 600px; height: 496px; margin:0 auto;">
      <div style="width: 600px; height: 496px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/yagoda.jpg" width="100%" height="100%" alt="Ягоды">
      </div>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    Скидки вам даёт наш <span class="blue bold">Сайт</span>.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    Обладая искуственным интеллектом, он&nbsp;оценивает множество параметров поведения каждого нашего гостя.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    В&nbsp;результате каждый из&nbsp;вас видит совсем разные скидки и&nbsp;цены. <span class="yellow bold">Стоимость обучения может отличаться в&nbsp;разы!</span>
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    Больше всего скидок получат самые доброжелательные и&nbsp;заинтересованные, кто <span class="blue bold">внимательно</span> ознакомился со&nbsp;статьями и&nbsp;отчётливо представляет, <span class="blue bold">ЧТО</span> мы&nbsp;делаем и&nbsp;<span class="blue bold">КАК</span> это у&nbsp;нас получается.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    Особенно это касается учащихся с&nbsp;проблемами обучения.
  </p>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="skidki-klavishi"></a></p>
  <p class="light-blue bold size-12 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    Кликните по выбранной клавише:
  </p>
  <p class="light-blue center size-14 font-verdana" style="margin: 0 10px 21px 25px; line-height: 22px;">
    Нужные вам статьи <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_pered_stati; [/exec]" class="normal" style="text-decoration: underline; color: #0096fa; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="light-blue bold" style="">здесь</span></a>
  </p>
  <p class="size-30 center" style="line-height: 36px; margin: 0 0 21px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_pered_stati; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="white bold" style="">Да, я охотно почитаю ваши статьи</span></a></p>
  <p class="size-30 center" style="line-height: 36px; margin: 0 0 21px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $specskidka; [/exec]" class="b-button _mix-orange-yellow _fix-width normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="white bold" style="">У&nbsp;нас нет проблем с&nbsp;обучением</span></a></p>
  <p class="size-30 center" style="line-height: 36px; margin: 0 0 100px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica_yaga; [/exec]" class="b-button _mix-purple-orange normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0; width: 645px;"><span class="white bold" style="">Не&nbsp;хочу&nbsp;– не&nbsp;буду, не&nbsp;буду&nbsp;– не&nbsp;хочу!</span></a></p>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="grata"></a></p> -->
  <p class="red font-verdana size-24 bold center" style="margin: 0 0 7px;">
    Persona Grata
  </p>
  <div style="width: 960px; height: 740px; padding: 36px 0 44px 0;">
    <div style="width: 477px; height: 740px; float: left; margin: 0 0 0 18px;">
      <p class="dark-blue size-14 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> – это наши любимые ученики.<br>
        Доброжелательны, приветливы,  этичны, благодарны, <br>
        чистоплотны, очень точны.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> делает свой выбор <span class="yellow bold">ОСОЗНАННО</span>, поэтому<br>
        основательно и внимательно ознакомилась с материалами<br>
        сайта.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> живо интересуется нашим творчеством и<br>
        трудом и прежде всего тем, <span class="blue bold">ЧТО</span> мы делаем и <span class="blue bold">КАК</span> у нас это<br>
        получается.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> уважает наш труд, заранее нас любит и хочет<br>
        учиться у нас и только у нас!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> <span class="yellow bold">– ЛИЧНОСТЬ.</span><br>
        Учится потому, что СОВЕРШЕНСТВУЕТ СЕБЯ.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="red bold">Persona Grata</span> учится с видимым старанием, рвением,<br>
        усердием, всё делает охотно и хочет ещё!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Рядом с вами приятно быть, вас хочется любить и учить<br>
        хорошо-хорошо...
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 41px 0; line-height: 22px;">
        При таком отношении к миру и жизни всё у вас получится.<br>
        Пусть низок начальный уровень – роскошный конечный<br>
        результат мы вам <span class="red bold">ГАРАНТИРУЕМ!</span>
      </p>
      <p class="blue size-18 bold font-verdana" style="margin: 0 0 0 91px; line-height: 28px;">
        Ведь реальность <span class="normal">–</span> зеркало.<br>
        <span style="margin-left: 80px;">Ваше зеркало.</span>
      </p>
    </div>
    <div style="width: 439px; height: 740px; float: right; margin: 0 26px 0 0;">
      <div class="image-shadow" style="width: 439px; height: 571px; border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/grata.jpg" width="100%" height="100%" alt="Persona Grata">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="red size-18 font-verdana center" style="margin: 17px 0 0 0;">
        Persona Grata
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="nongrata"></a></p>
  <p class="dark-blue size-24 font-verdana bold center" style="margin-bottom: 0px; line-height: 27px;">
    Persona non Grata
  </p>
  <div style="padding-top: 33px; height: 360px;">
    <div id="load-video1" class="load-video" style="width: 640px; height: 360px; margin:0 auto;">
      <div class="image-shadow-0" style="width: 640px; height: 360px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nongrata.jpg" width="100%" height="100%" alt="Persona Grata">
      </div>
    </div>
  </div>
  <p class="size-14 font-arial bold center" style="margin: 28px 0 45px 0; color: #4A4A4A;">
    Persona non Grata
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    Вам можно всё: бить баклуши, иметь семь пятниц на неделе, ходить немытым-нечёсаным, пропускать занятия,<br>
    опаздывать, безбожно врать...
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    <span class="blue">Обучение для вас только по базовой стоимости, без скидок.</span><br>
    Впрочем, первый сеанс, скорее всего, окажется и последним.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 44px; line-height: 22px;">
    <span class="blue">Материалы сайта, само собой, вы не читали.</span> Но если вам НЕ ИНТЕРЕСНЫ ни наш виртуозный труд, ни проблемы<br>
    вашего собственного ребёнка, то вы нам НЕ ИНТЕРЕСНЫ тоже.
  </p>
  <p class="blue font-verdana bold center" style="font-size: 20px; margin: 0 0 101px 0; line-height: 25px;">
    Ведь реальность <span class="normal">–</span> зеркало.<br>
    Ваше зеркало.
  </p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 44px 0; line-height: 34px;">
    График занятий
  </p>
  <div style="width: 960px; height: 367px; padding: 17px 0 135px 0;">
    <div style="width: 375px; height: 367px; float: left; margin: 0 0 0 38px;">
      <div class="image-shadow" style="width: 375px; height: 351px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/nlo.jpg" width="100%" height="100%" alt="Прилёт инопланетян">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0;">
        Прилёт инопланетян
      </p>
    </div>
    <div style="width: 439px; height: 367px; float: right;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        Согласовав график, <span class="red bold">Persona Grata</span><br>
        строго его придерживается.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        В течение одного учебного курса<br>
        допускается только 1 (один) перенос<br>
        занятия по любой причине (падение<br>
        метеорита, баланс, свадьба, прилёт<br>
        инопланетян и т.д.). Опоздание – не<br>
        более чем на 15 мин.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
        Альтернатива: занятия по базовой<br>
        стоимости, без скидок.
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="adres"></a></p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 12px 0; line-height: 26px;">
    Где занятия?
  </p>
  <div style="width: 960px; height: 437px; padding: 46px 0 0 0;">
    <div style="width: 400px; height: 437px; float: left; padding-left: 29px;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        <span class="blue bold">VIP-обучение.</span> Любой курс с автором<br>
        технологий профессором О.О.Веровенко.<br>
        <span class="lilac bold">м. <span class="tag">Молодёжная</span>.</span>
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
        <span class="blue bold">Английский язык.</span> <span class="tag">Вертикальный взлёт</span>.<br>
        <span class="lilac bold">м. <span class="tag">Щёлковская</span>.</span>
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 39px 0; line-height: 22px;">
        <span class="blue bold">Русский язык.</span> <span class="tag">Врождённая грамотность</span>.<br>
        <span class="lilac bold">м. <span class="tag">Крылатское</span>.</span>
      </p>
      <p class="blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 17px;">
        Иногородние учащиеся могут приехать<br>
        на 1-2 недели и заниматься ежедневно.
      </p>
    </div>
    <div id="load-video2" class="load-video" style="width: 476px; height: 437px; float: right; margin: 0 23px 0 0;">
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="viezd"></a></p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 43px 0;">
    Выезд педагога к вам
  </p>
  <div style="width: 960px; height: 444px; padding: 0 0 0 0;">
    <div style="width: 320px; height: 444px; float: left; margin: 0 0 0 33px">
      <p class="grey size-14 font-verdana" style="margin: 88px 0 21px 0; line-height: 22px;">
        <span class="blue bold">В черте Москвы</span><br>
        Надбавка 50%
      </p>
      <p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="blue bold">За МКАД и в Санкт-Петербург</span><br>
        Надбавка 100%
      </p>
      <p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="blue bold">По России</span><br>
        Надбавка 200%
      </p>
      <p class="grey size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="blue bold">Сафари-парк</span><br>
        от 0%
      </p>
    </div>
    <div style="width: 571px; height: 444px; float: right; margin: 0 27px 0 0;">
      <div class="image-shadow" style="width: 571px; height: 428px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/coach.jpg" width="100%" height="100%" alt="Выезд педагога">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 110px 0 16px 0; line-height: 34px;">
    Учебники
  </p>
  <div style="width: 960px; height: 440px; padding: 50px 0 76px 0;">
    <div style="width: 399px; height: 440px; float: left; margin: 0 0 0 79px;">
      <div class="image-shadow-0 in" style="width: 399px; height: 398px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5); cursor: pointer;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/textbooks.jpg" width="100%" height="100%" alt="Учебники">
      </div>
      <p class="blue bold size-14 font-arial center" style="margin: 6px 0 0 0">Для увеличения кликните по картинке!</p>
      <div id="img_container"><img src=""></div>
    </div>
    <div style="width: 449px; height: 440px; float: right; padding-right: 0px">
      <p class="blue size-14 font-verdana" style="margin: 165px 0 22px 16px; line-height: 22px;">
        Великолепного качества<br>
        учебники и материалы<br>
        включены в стоимость обучения.
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="bronirovanie"></a></p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 31px 0;">
    Бронирование места
  </p>
  <div style="width: 960px; height: 400px; padding: 21px 0 48px 0;">
    <div style="width: 440px; height: 400px; float: left; padding-right: 0px">
      <p class="dark-blue size-14 font-verdana center" style="margin: 139px 0 22px 0; line-height: 22px;">
        Место (на определённый день, месяц, час) бронируется<br>
        только после полной оплаты вами курса обучения.
      </p>
    </div>
    <div style="width: 498px; height: 400px; float: right; margin: 0 11px 0 0;">
      <div style="width: 498px; height: 345px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/armadillo.jpg" width="100%" height="100%" alt="Броненосец с плодом познания">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 22px 0 0 0;">
        Броненосец с плодом познания
      </p>
    </div>
  </div>
  <p class="light-blue size-36 font-verdana bold center line-height-23" style="margin: 0 0 58px 0; position: relative;">
    Рассрочка платежа
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 51px 0 43px 25px; line-height: 22px;">
    Возможна рассрочка платежа (только для <span class="red bold">Persona Grata</span>). <span class="yellow bold">Без процентов.</span>
  </p>
  <div class="clearfix-hook" style="padding: 0 0 82px;">
    <div style="width: 300px;margin:0 auto;">
      <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/apple.jpg" width="100%" height="100%" alt="Яблоко">
    </div>
  </div>
  <p style="margin: 0; "><a style="display: block; padding-top: 86px; margin-top: -86px;" name="stoimost"></a></p>
  <p class="light-blue bold size-36 font-verdana center" style="margin: 0 0 119px 0; line-height: 34px;">
    Стоимость обучения
  </p>
  <div style="width: 960px; height: 460px; padding: 0 0 0 0;">
    <a class="_js-vibor-ceni" href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_page_vibor; [/exec]">
      <div style="width: 480px; height: 460px; float: left; margin: 0 0 0 9px; position: relative;">
        <div id="load-video3" class="load-video" style="width: 355px; height: 200px; border-radius: 0; overflow: hidden; margin: 80px 0 0 32px;">
        </div>
        <p class="grey center size-18 bold font-verdana" style="margin: 62px 0 0 -50px; line-height: 22px;">
          1 у.е. = 1 евро<br>
          Оплата в рублях по курсу ЦБ
        </p>
      </div>
    </a>
    <div style="width: 519px; height: 460px; float: right; margin: 0 0 0 -50px;">
      <div style="width: 519px; height: 453px; margin: -47px 0 0 0;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/uslovija-obuchenija/money.jpg" width="100%" height="100%" alt="Стоимость обучения">
      </div>
    </div>
  </div>
  <p class="size-30 center" style="line-height: 36px; margin: 0 0 20px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_stoimost_volsh; [/exec]" class="b-button _mix-green-yellow normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Стоимость</span></a></p>
  <p class="dark-blue size-24 font-verdana center" style="margin: 20px 0 20px 0; line-height: 34px;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_stoimost_volsh; [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 15px 30px; margin: 0 -30px 0; position: relative;"><span class="red" style="border-bottom: 1px solid #ed1c24;">Вам сюда!</span></a>
  </p>
  <p class="red size-14 font-verdana center" style="margin: 0 0 119px 0; line-height: 22px;">
    Перейдите, пожалуйста, по ссылке
  </p>
</div>
<!-- <div class="b-banner">
  <div class="b-banner__content">
    <p class="yellow center bold size-48 font-verdana" style="margin: 30px 0 21px 0;">
      СКИДКА<br>
      <span class="red">75%</span>
    </p>
    <p class="dark-blue size-30 font-verdana" style="margin: 0 0 21px 0;">
      Эта скидка даётся только тем, кто внимательно прочитал материалы сайта и&nbsp;хорошо понимает, <span class="blue bold">ЧТО</span> мы&nbsp;делаем и&nbsp;<span class="blue bold">КАК</span> творится чудо.
    </p>
    <p class="dark-blue size-30 font-verdana" style="margin: 0 0 21px 0;">
      Это <span class="blue bold">этично</span>. Вы&nbsp;бережёте наше время, силы, нервы. Мы&nbsp;благодарим вас за&nbsp;это <span class="blue bold">огромными</span> скидками.
    </p>
    <div style="padding: 20px 0; overflow: auto;">
      <div style="width: 50%; float: left; margin: 0 0 0 0;">
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
          <a class="b-banner__link_active" href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_nongrata; [/exec]" style="cursor: pointer; text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="dark-blue bold">Нет,<br>мы&nbsp;не&nbsp;хотим тратить время<br>на&nbsp;чтение ваших статей</span></a>
        </p>
      </div>
      <div style="width: 50%; float: right; margin: 0 0 0 0;">
        <p class="dark-blue size-18 font-verdana center" style="margin: 0px 0 21px 0;">
          <a class="b-banner__link" href="" style="cursor: pointer; text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red bold">Да,<br>условия принимаются</span></a>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div id="img_container"><img src=""></div>

































