[raw]
<div class="_js-multi" data-disappear="false" style="z-index: 80;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta; [/exec]" data-redirect-delay="5" style="width: 61.25em; z-index: 11; position: relative;">
    <div class="white font-verdana" style="margin: 0 auto;text-shadow: 2px 2px 3px black;">
      <p class="white center bold" style="font-size: 2.85em;line-height: 1.75em;margin: 1.75em 0 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Условия обучения</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Скидки</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Стоимость</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Телефон</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-video-name="chudo-budet/beam" data-video-id="video-beam" data-video-start="0.01" data-video-start-delay="10"
    style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/beam.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]