[raw]
<div class="white size-16" style="position: relative;z-index: 11;">
  <p class="bold" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
    <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Olga Verovenko</span></a>
  </p>
</div>
<div class="div-wrapper_padding size-16 _js-choice _js-scale-font-size" style="width: 61.25em; z-index: 11; position: relative;margin: 4.5em auto 0;overflow: unset;">
  <div class="clearfix-hook">
    <div class="white font-verdana" style="margin: 0;width: 50%;float: left;padding-right: 4.1em; box-sizing: border-box;">
      <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Тесты-игры</span>
        </a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Играйте, наслаждайтесь,</span>
        </a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $vibor_testa; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">обучайтесь!!!</span>
        </a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Дислексия, брысь!!!</a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Коррекция дислексии, дисграфии,</span>
        </a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">
            <span class="tag">школьного</span> невроза</span>
        </a>
      </p>
    </div>
    <div class="white font-verdana" style="margin: 0;width: 50%;float: right;padding-left: 4.1em; box-sizing: border-box;">
      <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_psihologiya; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">
            <span class="italic">NL</span>&#8209;психология</span>
          </span>
        </a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_psihologiya; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Четвёртое измерение</span>
        </a>
      </p>
      <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_psihologiya; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">для&nbsp;взролых</span>
        </a>
      </p>
      <div>
        <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
          <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta; [/exec]"
            style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Стоимость, скидки</span>
          </a>
        </p>
        <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta.'?link=//veroven.ru/chudo-budet-stoimost'; [/exec]"
            style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Чудо будет!</span>
          </a>
        </p>
        <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta.'?link=//veroven.ru/chudo-budet-stoimost'; [/exec]"
            style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Информация, телефон</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="clearfix-hook">
    <p class="bold font-verdana center" style="font-size: 1.8em;margin: 0 0 0.2em; line-height: normal;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Нейролингвистика</a>
    </p>
    <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Это что?</span>
      </a>
    </p>
    <p class="bold font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">С&nbsp;юмором о&nbsp;главном</span>
      </a>
    </p>
  </div> -->
</div>
<div class="b-video-back _js-choice" data-video-name="anglijskij-yazyk/earth" data-video-id="video-earth" data-video-start="0.01" data-video-start-delay="300" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  <div class="white center size-16 _js-ignore-z-index" style="position: absolute;z-index: 9999; bottom: 3em; left: 3em;">
    <p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="" style="font-size: 1.5em; border-bottom: 1px solid white;">&copy; "Король Казимир"</span></a><br>
      <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span>Нейролингвистические сайты Premium</span></a><br>
      <a class="_js-next-module" href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Вам сюда</span></a>
    </p>
  </div>
</div>
[/raw]