[raw]
<div data-disappear="false" style="z-index: 105;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 75em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white bold font-verdana center" style="font-size: 2.25em;margin: 2em 0 1em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Persona non Grata</span>
      </p>
      <p class="white bold font-verdana center" style="font-size: 1.25em;margin: 0 0 1.5em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Курс <nobr>12 ак. часов:</nobr> <nobr>4&nbsp;сеанса по 3 ак. часа каждый</nobr></span>
      </p>
      <p class="white bold font-verdana center" style="font-size: 1.25em;margin: 0 0 0.5em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">
          Надбавка 100%, стоимость <nobr>18 000 у.е.</nobr>
        </span>
      </p>
      <p class="white bold font-verdana center" style="font-size: 1.25em;margin: 0 0 1.5em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Пробный сеанс&nbsp;– <nobr>2 400 у.е.</nobr></span>
      </p>
      <p class="white font-verdana center" style="font-size: 1.25em;margin: 0 0 0.5em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро</nobr></span>
      </p>
      <p class="white font-verdana center" style="font-size: 1.25em;margin: 0 0 1.6em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
      </p>
      <p class="white bold font-verdana center" style="font-size: 2.25em;margin: 0 -1em 1em 0; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Занятия ведёт Баба-Яга...</span>
      </p>
      <p class="white center" style="font-size: 1em;margin: 0 0 1em; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
        <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.5em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Другие тарифы</span></a>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-anim-delay="1" data-video-name="anglijskij-yazyk/earth-black" data-video-id="video-earth-black" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth-black"
    data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth-black.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]