[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="4" style="z-index: 100;position: fixed; width: 100%;">
  <div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
    <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Чудо будет!</span></a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 61.25em; z-index: 11; position: relative;">
    <div class="white font-verdana" style="margin: 0 auto;text-shadow: 2px 2px 3px black;">
      <p class="white center bold" style="font-size: 2.85em;line-height: 1.5em;margin: 6.75em 0 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Занятия с Волшебницей</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">В игре!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-video-name="chudo-budet/flower" data-video-id="video-flower" data-video-start="0.01" data-video-start-delay="100"
    style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/flower.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 90;position: fixed; width: 100%;">
  <div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
    <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Чудо будет!</span></a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16 _js-price _js-scale-font-size" style="width: 70em; z-index: 21; position: relative;margin: 0 auto 0;overflow: unset;text-shadow: 2px 2px 3px black;">
    <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 1em 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистическое обучение</span><br>
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">экстра&#8209;класса</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Курс <nobr>12 ак. часов:</nobr> <nobr>4&nbsp;сеанса по 3 ак. часа каждый</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Базовая стоимость&nbsp;– <nobr>9 000 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Persona Grata <span class="normal">(</span>получите статус!<span class="normal">)</span> скидка 50%, стоимость&nbsp;– <nobr>4 500 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Пробный сеанс <span class="normal">(</span>включая тестирование и&nbsp;диагностику проблем<span class="normal">)</span>&nbsp;– <nobr>600 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 3em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">
        <span class="tag">Горящее</span> место&nbsp;– скидка&nbsp;75%, стоимость
        <nobr>2 250 у.е.</nobr>
      </span>
    </p>
    <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 3.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро.</nobr> Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
    </p>  
    <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 1em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
    </p>
    <p class="white center" style="font-size: 1em;margin: 0 0 0; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebnica; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 1.875em 0 -1.875em; position: relative;"><span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Подробнее о&nbsp;курсе</span></a>
      <a href="[exec] include get_template_directory().'/links.php'; echo $persona_grata_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">К&nbsp;навигации</span></a>
    </p>
  </div>
  <div class="b-video-back _js-price" data-video-name="volshebnica/ray" data-video-id="video-ray" data-video-start="0.01" data-video-start-delay="10" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]