[raw]
<div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya; [/exec]" data-redirect-delay="5" style="width: 71.25em; z-index: 10; position: relative;text-shadow: 2px 2px 3px black;">
  <div class="white font-verdana" style="margin: 0 auto;">
    <p class="white center bold" style="font-size: 4.5em;line-height: normal;margin: 1.75em 0 0; text-transform: uppercase;">
      <span class="_js-span-anim-roll _anim-scale left" data-speed="0.7" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
        <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;">Дислексия,</span>
      </span>
    </p>
    <p class="white center bold" style="font-size: 12em;line-height: normal;margin: 0.8em 0 0 0.25em; text-transform: uppercase;">
      <span class="_js-span-anim-roll _anim-scale left" data-speed="0.5" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
        <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;">брысь!</span>
      </span>
    </p>
    <!-- <div class="clearfix-hook" style="margin-top: 30px;">
      <div class="clearfix-hook" style="margin: 0 auto;">
        <p class="white bold center size-20" style="line-height: normal;margin: 0 0 40px 0;">
          Спасение&nbsp;–
          <span class="white" style="border-bottom: 1px solid white;">Вам сюда</span>
          <br> Смотреть с интересом, читать вдумчиво!
        </p>
      </div>
    </div> -->
  </div>
</div>
<div class="b-video-back" data-anim-delay="3" data-video-name="volshebnica/cat-video" data-video-id="video-cat-video" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/cat-video"
  data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/cat-video.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]