[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="1.25" style="z-index: 100;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 10; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 4.5em;line-height: normal;margin: 1.75em 0 0; text-transform: uppercase;">
        <span class="_js-span-anim-roll _anim-scale left" data-speed="0.7" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;">Дислексия,</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 12em;line-height: normal;margin: 0.8em 0 0 0.25em; text-transform: uppercase;">
        <span class="_js-span-anim-roll _anim-scale left" data-speed="0.5" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;">брысь!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-anim-delay="2" data-video-name="volshebnica/cat-video" data-video-id="video-cat-video" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/cat-video"
    data-video-start="0.01" data-video-start-delay="100" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/cat-video.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 90;position: relative;">
  <div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
    <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><span class="italic bold">NL</span>&#8209;коррекция</span></a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16 _js-blur _js-price _js-scale-font-size" style="width: 70em; z-index: 21; position: relative;margin: 1em auto 0;overflow: unset;">
    <!-- <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 0.5em 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;font-size: 1.5em;">Дислексия, брысь!!!</span><br>
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;font-size: 0.8em;">Коррекция дислексии, дисграфии,</span><br>
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;font-size: 0.8em;"><span class="tag">школьного</span> невроза</span>
    </p> -->
    <p class="white bold font-verdana center" style="font-size: 2.8em;margin: 1em 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Волшебный сеанс</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
       Коррекция ЛЁГКИХ и&nbsp;СРЕДНИХ проблем обучения <nobr>за 1 (ОДИН!) сеанс</nobr>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      Повышение концентрации внимания, навыки чтения
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      Уникальная технология
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
       В&nbsp;любом случае начните с&nbsp;этого!
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 3em; line-height: normal;text-shadow: 2px 2px 3px black;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_slider; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span  style="border-bottom: 1px solid white;">Вам сюда!</span></a>
    </p>
    <p class="white bold font-verdana center" style="font-size: 2.8em;margin: 0 0 0.5em; line-height: normal;">
      <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Дислексия, брысь!</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Коррекция ОЧЕНЬ ТЯЖЁЛЫХ проблем обучения и&nbsp;поведения:</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">дислексии, дисграфии, <span class="tag">школьного</span> невроза и&nbsp;других ПОД&nbsp;ГИПНОЗОМ</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      Уникальная технология
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Длительность&nbsp;– <nobr>от 8 сеансов</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;">
        <span style="border-bottom: 1px solid white;">Вам сюда!</span>
      </a>
    </p>
  </div>
  <div class="b-video-back _js-price" data-video-name="volshebnica/ray" data-video-id="video-ray" data-video-start="0.01" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/ray.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>

[/raw]