[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="2" style="z-index: 105;position: fixed; width: 100%;">
  <div class="white size-16" style="position: relative;z-index: 11;">
    <p class="bold" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Olga Verovenko</span>
      </a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 75em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 2.5em;line-height: 1.75em;margin: 3.5em 0 0;">
        <span class="_js-span-anim-roll left" style="font-size: 1.8em; display: inline-block;line-height: 1.25em;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Нейролингвистика</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="margin: -0.2em 0 0;display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Это что?</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="font-size: 1.4em; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">С&nbsp;юмором о&nbsp;главном</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back _js-choice" data-anim-delay="1" data-video-name="chudo-budet/blink" data-video-id="video-blink" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/blink" data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/blink.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 75em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 2.5em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Вот стоят люди у&nbsp;иконы и&nbsp;молятся.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Кому машину, кому квартиру.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Кому должность, кому благополучие.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Кому белку, кому&nbsp;– свисток…</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2.5em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Икона горестно смотрит и&nbsp;думает:</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">“Хоть&nbsp;бы
            <span class="red" style="color: #c34f00;">ума</span> кто попросил!</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">
            <span class="red" style="color: #c34f00;">Будут мозги</span>&nbsp;– будет вам&nbsp;и белка, будет и&nbsp;свисток.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block; margin-left: -9em;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">И&nbsp;президентство в&nbsp;корпорации,</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block; margin-right: -13em;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">и&nbsp;бассейн с&nbsp;дельфином…”</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="4" data-anim-delay="4" style="background-color: #f7f3f3;width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11;opacity: 0;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/icon.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
  <div class="b-video-back" data-video-name="neiro/icon" data-video-id="video-icon" data-video-start-delay="100" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/icon"
    data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/icon-start.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 95;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="0.3" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">
            Нейролингвистика:</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.75em 0 0.5em;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Мы подарим вам новые мозги&nbsp;–</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 7em;line-height: normal;margin: 0 0 0; text-transform: uppercase;">
        <span class="_js-span-anim-roll _anim-scale left" data-speed="0.7" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">Квантовые</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.425em 0 0;">
        <span class="_js-span-anim-roll left" data-speed="1" style="display: inline-block;" data-elem-anim-delay="0.5">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Пользуйтесь на здоровье!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-anim-delay="2" data-video-name="vrozhdennaya-slider/script" data-video-id="video-script"
    data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script" data-video-start="0.001" data-video-stop="4"
    data-video-start-delay="10" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 94;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: 1.5em;margin: 2em 0 1em 0;">
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Нейролингвистика</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="margin: 0.15em 0 0; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">приводит структуры вашего мозга</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale _anim-no-delay left" data-speed="1" style="font-size: 1.5em; margin:0.35em 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">В ИДЕАЛЬНОЕ</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="font-size: 2.5em; margin:0.2em 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">СОСТОЯНИЕ</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script2.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 93;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: 1.5em;margin: 2.25em 0 1em 0;">
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Вы становитесь способны</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="margin: 0.15em 0 0; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">к лёгкому, молниеносному обучению</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="font-size: 1.5em; margin:0.35em 10.75em 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">ВСЕМУ</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="font-size: 1.5em; margin: -0.35em 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">ВСЕГДА</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="font-size: 1.5em; margin: -0.35em 0 0 10.75em; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">ВЕЗДЕ</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script2.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 92;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: 1.5;margin: 3.25em 0 1em 0;">
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Вы становитесь</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="margin:0.15em 0 0; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">умнее и сообразительнее</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="font-size: 1.6em; margin:0.05em 0 0; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">ВО ВСЕХ СФЕРАХ ЖИЗНИ</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script2.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 91;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: 1.5em;margin: 3em 0 1em 0;">
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Скорость</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="margin:0.15em 0 0; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">работы вашего мозга</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left _anim-no-delay" data-speed="1" style="font-size: 1.5em; margin: -0.1em 0 0;display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1.5em;">возрастает</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="font-size: 2em; margin: -0.4em 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1.5em;">в несколько раз</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script2.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" data-disappear="true" style="z-index: 90;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: 1.5em;margin: 3.25em 0 1em 0;">
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Отныне равных вам нет!</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="margin:0.15em 0 0; display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Ваши способности сохранятся</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="font-size: 2em; margin: -0.23em 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1.5em;">навсегда</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script2.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index:89;position: absolute; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_zombie; [/exec]"
    data-redirect-delay="30000" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 4em;line-height: 1.5em;margin: 2.25em 0 0.5em 0;">
        <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Не зомбирование ли это?</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 1.5em;line-height: 1.5em;">
        <a class="_js-mediator-link" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_zombie; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;">
          <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
            <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
              <span style="text-shadow: 2px 2px 3px black;">Ответ на самый популярный ваш вопрос</span>
            </span>
          </span>
          <br>
          <!--<span class="_js-span-anim-roll left" data-speed-coef="1.5" style="font-size: 0.7em; margin: -0.5em 0 0; display: inline-block;">
            <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Cлабонервным не ходить!)))</span>
          </span>-->
        </a>
      </p>
      <p class="white center bold" style="font-size: 1.5em;line-height: 1.5em;">
        <a class="_js-mediator-link" href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_zombie; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;">
          <!-- <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
            <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">
              <span style="text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Ой, боюсь, боюсь, боюсь!</span>
            </span>
          </span> -->
          
          <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="font-size: 0.7em; margin: -0.5em 0 0; display: inline-block;">
            <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;border-bottom: 1px solid white;">Вам сюда</span>
          </span>
        </a>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="0.001" data-anim-delay="1" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 1;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script2.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]