[raw]
<div class="_js-multi" data-disappear="true" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" style="width: 75em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 2.5em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Вот стоят люди у&nbsp;иконы и&nbsp;молятся.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Кому машину, кому квартиру.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Кому должность, кому благополучия.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Кому белку, кому&nbsp;– свисток…</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 2.5em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Икона горестно смотрит и&nbsp;думает:</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">“Хоть&nbsp;бы
            <span class="red" style="color: #c34f00;">ума</span> кто попросил!</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">
            <span class="red" style="color: #c34f00;">Будут мозги</span>&nbsp;– будет вам&nbsp;и белка, будет и&nbsp;свисток.</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block; margin-left: -9em;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">И&nbsp;президентство в&nbsp;корпорации,</span>
        </span>
        <br>
        <span class="_js-span-anim-roll left" style="display: inline-block; margin-right: -13em;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">и&nbsp;бассейн с&nbsp;дельфином…”</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-early-blur-delay="4" data-anim-delay="4" style="background-color: #f7f3f3;width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11;opacity: 0;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/icon.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
  <div class="b-video-back" data-video-name="neiro/icon" data-video-id="video-icon" data-video-start-delay="100" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/icon"
    data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/icon-start.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 95;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" data-redirect-back="true" data-redirect-delay="12.5" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.5em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">
            Нейролингвистика:</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.75em 0 0.5em; text-transform: uppercase;">
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Мы подарим вам новые мозги&nbsp;–</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 7em;line-height: normal;margin: 0 0 0; text-transform: uppercase;">
        <span class="_js-span-anim-roll _anim-scale left" data-speed="0.7" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 1em;">Квантовые</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 3em;line-height: normal;margin: 1.425em 0 0; text-transform: uppercase;">
        <span class="_js-span-anim-roll left" data-speed="1" style="display: inline-block;" data-elem-anim-delay="0.5">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Пользуйтесь на здоровье!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-anim-delay="5.5" data-video-name="vrozhdennaya-slider/script" data-video-id="video-script"
    data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script" data-video-start="0.001"
    data-video-start-delay="10" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/vrozhdennaya-slider/script.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]