[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="1.5" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur"  data-redirect-mobile="1" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana _js-disappear-text" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 7em;line-height: 1.5em;margin: 1em 0 0;">
        <span class="_js-span-anim-roll _anim-scale _anim-no-delay left" data-speed="1" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;font-size: 0.8em;">Обучение</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;font-size: 1.1em;">под&nbsp;гипнозом</span>
        </span>
      </p>
    </div>
  </div>
  <div class="_js-blur-back" data-anim-delay="2.9" data-early-blur-delay="2.9" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 0;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/owl.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
  <div class="b-video-back" data-video-name="volshebnica/owl" data-video-id="video-owl" data-video-start="3.30" data-video-start-delay="300" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/owl.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 90;position: relative;">
  <div class="div-wrapper_padding size-16 font-verdana _js-blur _js-price _js-scale-font-size" style="width: 61.25em; z-index: 21; position: relative;margin: 0 auto 0;overflow: unset;text-shadow: 2px 2px 3px black;">
    <p class="white center bold" style="font-size: 3.5em;line-height: 1.5em;margin: 1.285em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Обучение под&nbsp;гипнозом</span>
      </span>
    </p>
    <p class="white center" style="font-size: 1.9em;line-height: 1.5em;margin: -0.2em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Вот это приключение!</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 2.1em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Любой предмет: математика, физика, история... Какой хотите, хоть японский язык. Любимого педагога возьмите с&nbsp;собой. Он преподаёт&nbsp;– гипноз наш.</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Русский язык, надеемся, вы возьмёте у&nbsp;нас. Английский тоже. Впрочем, выбор за&nbsp;вами.</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Обучение под&nbsp;гипнозом даёт ФЕЕРИЧЕСКИЙ результат, превышающий самые смелые ожидания. Оно в&nbsp;десятки, сотни раз эффективнее!</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Вы не&nbsp;спите. Наоборот, вы сосредоточены, увлечены и&nbsp;готовы работать не&nbsp;поднимая головы. Оторвать вас от&nbsp;дела трудно, практически невозможно.</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Откуда только берутся таланты и&nbsp;способности, которых раньше не&nbsp;было?!</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Максимально включаются память, интеллект, способность усваивать информацию.</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Появляется страстный интерес и&nbsp;любовь к&nbsp;учёбе.</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.6em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Полученные знания и&nbsp;навыки останутся с&nbsp;вами на&nbsp;всю жизнь.</span>
      </span>
    </p>
    <p class="white left bold" style="font-size: 2.2em;line-height: 1.5em;margin: 1.167em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Вы получаете то, что просто недостижимо ни&nbsp;при&nbsp;каких других вариантах обучения: лёгкую обучаемость ВЕЗДЕ, ВСЕГДА, ВСЕМУ.</span>
      </span>
    </p>
    <p class="white left" style="font-size: 1.9em;line-height: 1.5em;margin: 3.35em 0 0;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;">Длительность сеанса 3&nbsp;ак.&nbsp;часа<br>с&nbsp;проф. О.О.Веровенко</span>
      </span>
    </p>
    <p class="white center" style="font-size: 2.2em;line-height: 1.5em;margin: 1.38em 0 3em;">
      <span class="_js-span-anim-roll _anim-opacity left" data-speed="1" style="display: inline-block;">
        <span class="left" style="overflow: hidden; display: inline-block;opacity: 0;"><a href="[exec] include get_template_directory().'/links.php'; echo $obuchenie_gipnozom_ceni; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="border-bottom: 1px solid white;">Стоимость</span></a></span>
      </span>
    </p>
  </div>
  <div class="b-video-back _js-price" data-video-name="chudo-budet/sphere" data-video-id="video-sphere" data-video-start="0.01" data-video-start-delay="100" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/sphere" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/sphere.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]