[raw]
<div class="_js-multi" data-disappear="true" data-disappear-delay="1.5" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur"  data-redirect-mobile="1" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana _js-disappear-text" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 7em;line-height: 1.5em;margin: 1em 0 0;">
        <span class="_js-span-anim-roll _anim-scale _anim-no-delay left" data-speed="1" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;font-size: 0.8em;">Обучение</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;font-size: 1.1em;">под&nbsp;гипнозом</span>
        </span>
      </p>
      <!-- <p class="white center" style="font-size: 2.2em;line-height: 1.5em;margin: 1em 0 0;">
        <span class="_js-span-anim-roll _anim-opacity _anim-no-delay left"  data-speed="2" style="display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Смотреть&nbsp;– внимательно, читать&nbsp;– вдумчиво,</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-opacity left" data-speed="2" style="display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">колёсиком&nbsp;– НЕ&nbsp;ДЫРГАТЬ!</span>
        </span>
      </p> -->
    </div>
  </div>
  <div class="_js-blur-back" data-anim-delay="2.9" data-early-blur-delay="2.9" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11; opacity: 0;background-color: #6b584b;">
    <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/owl.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
  <div class="b-video-back" data-video-name="volshebnica/owl" data-video-id="video-owl" data-video-start="3.30" data-video-start-delay="300" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/owl.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
<div class="_js-multi" style="z-index: 90;position: relative;">
  <div class="white size-16 _js-blur _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
    <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $obuchenie_gipnozom; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Обучение под гипнозом</span></a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16 _js-price _js-scale-font-size" style="width: 70em; z-index: 21; position: relative;margin: 0 auto 0;overflow: unset;text-shadow: 2px 2px 3px black;">
    <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 2em 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистическое обучение</span><br>
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">экстра&#8209;класса</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Курс <nobr>12 ак. часов:</nobr> <nobr>4&nbsp;сеанса по 3 ак. часа каждый</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Базовая стоимость&nbsp;– <nobr>15 000 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Persona Grata <span class="normal">(</span>получите статус!<span class="normal">)</span> скидка 50%, стоимость&nbsp;– <nobr>7 500 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Пробный сеанс <span class="normal">(</span>включая тестирование и диагностику проблем<span class="normal">)</span>&nbsp;– <nobr>600 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">
        <span class="tag">Горящее</span> место&nbsp;– скидка&nbsp;75%, стоимость
        <nobr>3 750 у.е.</nobr> <span class="normal">(</span>Рассрочка: <nobr>1 875 у.е. + 1 875 у.е.</nobr><span class="normal">)</span>
      </span>
    </p>
    <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 2.6em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро.</nobr> Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
    </p>
    <p class="white center" style="font-size: 1em;margin: 0 0 0; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $obuchenie_gipnozom; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 1.875em 0 -1.875em; position: relative;">
        <span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Подробнее о&nbsp;курсе</span>
      </a>
      <a href="[exec] include get_template_directory().'/links.php'; echo $persona_grata_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">К&nbsp;навигации</span></a>
    </p>
  </div>
  <div class="b-video-back _js-price" data-video-name="chudo-budet/sphere" data-video-id="video-sphere" data-video-start="0.01" data-video-start-delay="100" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/sphere" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/chudo-budet/sphere.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]