[raw]
<div class="_js-link _js-speed _js-settings" data-delay-before-each="2" data-speed="1.3" data-link="//ольга-веровенко.сайт/test3" style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
  <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
    <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/1.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/2.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/3.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/8.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/7.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/6.jpg);background-size: cover; background-position: 50% 100%;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/5.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/9.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/10.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/4.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/11.jpg);background-size: cover;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/12.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/13.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/15.jpg);background-size: cover; background-position: 50% 100%;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/16.jpg);background-size: cover; background-position: 50% 100%;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/17.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/18.jpg);background-size: cover; background-position: center;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/14.jpg);background-size: cover; background-position: 50% 100%;"></div>
    </div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;">
      <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/19.jpg);background-size: cover; background-position: center;"></div>
    </div>
  </div>
  <div class="buttons-slider" style="opacity: 0;">
    <span class="button-slider active">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
    <span class="button-slider">•</span>
  </div>
  <div style="margin: 0 0 0 0;">
    <div class="description active animate" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden; margin: 0; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Ошеломительно</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -40px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">радостный</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 10px 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Незабываемо</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -50px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">яркий</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Фантастически</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:120px; line-height: 112px; margin: -40px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">результативный</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Нейролингвистический</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">сеанс</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -40px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">экстра-класса</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Диагностика</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale anime-non-delay" data-speed="1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;font-size: 125px;line-height: 145px;text-shadow: 2px 2px 3px black;">проблем</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -40px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">обучения</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Коррекция</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -40px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">дислексии</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:75px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Повышение</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -40px 0 5px 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale anime-non-delay" data-speed="1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 120px;font-size:100px;text-shadow: 2px 2px 3px black;">концентрации</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:-30px 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">внимания,</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:50px; line-height: 60px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 60px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">без чего невозможно грамотное письмо</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Навыки точного,</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">правильного,</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:140px; line-height: 112px; margin: -20px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale anime-non-delay" data-speed="1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 170px;text-shadow: 2px 2px 3px black;">осмысленного</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 170px;text-shadow: 2px 2px 3px black;">чтения</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold" style="font-size:150px; line-height: 190px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 190px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Результат&nbsp;–</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;font-size:120px;text-shadow: 2px 2px 3px black;">Двоек-троек</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:-20px 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">не будет!</span>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold" style="font-size:60px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Успеваемость по всем предметам</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -50px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="font-size:120px;line-height: 190px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">повысится</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:-20px 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">на 1-2 балла</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Домашние задания</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">будут делаться</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:135px; line-height: 112px; margin: -20px 0 0 0;">
            <span class="animate-desc-parent left" style="margin: 0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">легко и быстро</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold" style="font-size:65px; line-height: 80px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 80px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Поможет этот сеанс</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:110px; line-height: 130px; margin: -20px 0 0 0;">
            <span class="animate-desc-parent left" style="margin: 0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 130px;text-shadow: 2px 2px 3px black;">как двоечникам,</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin: -20px 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 130px;text-shadow: 2px 2px 3px black;">так и хорошистам</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold" style="font-size:70px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Сеанс полностью игровой&nbsp;–</span>
            </span>
          </p>
          <p class="white font-verdana bold" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin: 0 500px 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">сюрпризы,</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin: 0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">подарки,</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin: 0 0 0 650px; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">призы</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 230px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:75px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Аналогов сеансу</span>
            </span>
          </p>
          <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -40px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">в мире нет!</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 0px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:40px; line-height: 60px; margin: 30px 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 56px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Приоритет подтверждён&#160;</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 56px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Международной экспертизой PCT&#160;</span>
            </span>
          </p>
          <div class="description__hide-block" data-delay="4" data-speed="3" style="width: 1000px; height: 400px; margin: 100px auto 0; opacity: 0;">
            <div style="display: inline-block; width: 254px; height: 376px; float: left; margin: 0 0 7px 0;">
              <div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;box-shadow: 2px 2px 3px black;">
                <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1-big.jpg">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1.jpg" width="100%"
                    height="100%" alt="Патент Германия">
                </a>
              </div>
              <div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
              </div>
              <div class="image-shadow-left-1" style="width: 127px;">
              </div>
            </div>
            <div style="display: inline-block; margin: 0 0 0;">
              <p class="white size-24 font-arial bold center" style="margin: 270px 0 0 0; line-height: 27px;">
                <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                  <span class="animate-desc" style="line-height: 27px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Российский</span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                  <span class="animate-desc" style="line-height: 27px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">и международный патенты</span>
                </span>
                <br>
                <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
                  <span class="animate-desc" style="line-height: 27px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">на изобретение</span>
                </span>
              </p>
            </div>
            <div style="display: inline-block; width: 254px; height: 376px; float: right; margin: 0 0 7px 0;">
              <div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;box-shadow: 2px 2px 3px black;">
                <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2-big.jpg">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2.jpg" width="100%"
                    height="100%" alt="Патент Россия">
                </a>
              </div>
              <div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
              </div>
              <div class="image-shadow-left-1" style="width: 127px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 0px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold left animate-desc-parent" style="font-size:60px; line-height: 60px; margin: 20px 0 0 0;">
            <span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">
              <span style="line-height: 56px; display: inherit;text-shadow: 2px 2px 3px black;">Качество НАИВЫСШЕЕ</span>
            </span>
          </p>
          <p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 60px; margin: 30px 0 0 0;">
            <span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">
              <span style="line-height: 56px; display: inherit;text-shadow: 2px 2px 3px black;">Три Знака Качества Госстандарта РФ</span>
            </span>
          </p>
          <div class="description__hide-block" data-delay="3" data-speed="3" style="width: 1000px; height: 360px; margin: 50px auto 0; opacity: 0;">
            <div style="position: absolute;">
              <p class="white size-14 font-arial bold center" style="margin: 0 0 6px; line-height: 16px;text-shadow: 2px 2px 3px black;">
                Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ
                <br> с категорией
                <span class="tag">Качество наивысшее</span>.
              </p>
              <p class="white size-14 font-arial bold center" style="margin: 0; line-height: 16px;text-shadow: 2px 2px 3px black;">
                У нас таких три!
              </p>
            </div>
            <div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 9px;">
              <div class="image-shadow in" style="width: 413px; height: 285px; cursor: pointer;box-shadow: 2px 2px 3px black;">
                <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1-big.jpg">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1.jpg" width="100%"
                    height="100%" alt="Сертификат">
                </a>
              </div>
              <div class="image-shadow-right-1">
              </div>
              <div class="image-shadow-left-1">
              </div>
            </div>
            <div style="width: 246px; height: 344px; float: right; margin: 0 50px 10px 0;">
              <div class="image-shadow in" style="width: 246px; height: 344px; cursor: pointer;box-shadow: 2px 2px 3px black;">
                <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2-big.jpg">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2.jpg" width="100%"
                    height="100%" alt="Сертификат">
                </a>
              </div>
              <div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
              </div>
              <div class="image-shadow-left-1" style="width: 123px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold" style="font-size:80px; line-height: 112px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Длительность сеанса</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">2-3 часа</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="description" style="position: absolute; z-index: 3; top: 100px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;">
        <div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
          <p class="white font-verdana bold center" style="font-size:60px; line-height: 80px; margin: 0 0 0 0;">
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="font-size: 80px;line-height: 112px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Сеанс ведёт автор&nbsp;–</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="font-size: 50px;margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 70px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">доктор психологических наук</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="font-size: 50px;margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc" style="line-height: 70px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">профессор</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale anime-non-delay" data-speed="1" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;font-size: 80px;line-height: 112px;text-shadow: 2px 2px 3px black;">Ольга Олеговна</span>
            </span>
            <br>
            <span class="animate-desc-parent left" style="margin:-50px 0 0 0; white-space: nowrap; display: inline-block;">
              <span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;font-size: 150px;line-height: 190px;text-shadow: 2px 2px 3px black;">Веровенко</span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- <div style="position: absolute;width: 100%;">
  <div class="_js-choice _js-scale-font-size white size-16" data-active-module="_js-choice" style="position: relative;z-index: 11; opacity: 0; display: none;">
    <p class="bold" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Olga Verovenko</span></a>
    </p>
  </div>
  <div style="position: relative; float: right; right: 50%">
    <div style="position: relative; float: left; left: 50%;">
      <div class="div-wrapper_padding size-16 _js-choice _js-scale-font-size" style="width: 70em; z-index: 11; position: relative;margin: 4.5em auto 0;overflow: unset; opacity: 0; display: none;">
        <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 1em 0 1em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Индивидуальное <span class="italic bold">NL</span>&#8209;обучение</span><br>
          <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">экстра&#8209;класса</span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Курс <nobr>36 ак. часов:</nobr> <nobr>12&nbsp;занятий по 3 ак. часа каждое</nobr> (эквивалент <nobr>720 ак. часов</nobr> традиционного обучения)</span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Сеанс предполагает небольшое домашнее задание&#8209;игру <span class="tag">Спортсмен и&nbsp;тренер</span> общей длительностью <nobr>2-3 часа.</nobr></span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Детям эта игра БЕЗУМНО нравится.</span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Базовая стоимость&nbsp;– <nobr>10 800 у.е.</nobr></span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_volsh; [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 15px 30px; margin: 0 -30px 0; position: relative;"><span class="white" style="border-bottom: 1px solid white;">Persona Grata (получите статус!)</span></a> скидка 50%, стоимость&nbsp;– <nobr>5 400 у.е.</nobr></span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Рассрочка: <nobr>2 700 у.е. + 2 700 у.е.</nobr></span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Стоимость ак.&nbsp;часа&nbsp;– <nobr>150 у.е.</nobr></span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Пробный сеанс&nbsp;– <nobr>300 у.е.</nobr></span>
        </p>
        <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро</nobr></span>
        </p>
        <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
        </p>

        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.95em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Возможны занятия в&nbsp;вашей мини-группе, а&nbsp;также выезд к&nbsp;вам. Надбавка&nbsp;50%</span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.6em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Младшие школьники берут курс <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_distinct; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="tag" style="text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Чудо будет!</span></a>
        </p>


        <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 0.5em; line-height: normal;">
          <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
        </p>
        <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.5em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">К&nbsp;навигации</span></a>
        </p>
      </div>
      <div class="b-video-back _js-choice" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10; opacity: 0; display: none;">
        <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/earth.jpg);background-size: cover; background-position: center; position: fixed;"></div>
        <div class="white center size-16 _js-ignore-z-index" style="position: absolute;z-index: 9999; bottom: 3em; left: 3em;">
          <p class="" style="text-shadow: 2px 2px 3px black;margin: 3em 0 0;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
            <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="" style="font-size: 1.5em; border-bottom: 1px solid white;">&copy; "Король Казимир"</span></a><br>
            <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span>Нейролингвистические сайты Premium</span></a><br>
            <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;"><span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Вам сюда</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
[/raw]