[raw]
<div class="_js-multi" data-disappear="false" data-disappear-delay="1" style="z-index: 100;position: fixed; width: 100%;">
  <div class="div-wrapper_padding size-16 _js-blur" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_slider_ceni; [/exec]" data-redirect-delay="5" data-redirect-mobile="1" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
    <div class="white font-verdana" style="margin: 0 auto;">
      <p class="white center bold" style="font-size: 7em;line-height: normal;margin: 1em 0 0;">
        <span class="_js-span-anim-roll _anim-scale _anim-no-delay left" data-speed="1" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">"Волшебный</span>
        </span>
        <br>
        <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="margin:-0.5em 0 0 0; white-space: nowrap; display: inline-block;">
          <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;">сеанс"</span>
        </span>
      </p>
      <p class="white center bold" style="font-size: 5em;line-height: normal;margin: 1em 0 0;">
        <span class="_js-span-anim-roll left" data-delay="0.5" data-speed-coef="1.5" style="display: inline-block;">
          <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;">Начните с&nbsp;этого!</span>
        </span>
      </p>
    </div>
  </div>
  <div class="b-video-back" data-anim-delay="1" data-video-name="volshebniy-seans/flower" data-video-id="video-flower" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/flower"
    data-video-start="0.01" data-video-start-delay="100" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/flower.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]