[raw]
<div class="rx-slider-wrapper" data-settings data-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro; [/exec]">
  <div class="rx-slider slider">
    <div class="rx-slider__buttons">
      <span class="rx-slider__button _active">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <span class="rx-slider__button">•</span>
      <!-- <span class="rx-slider__button">•</span> -->
    </div>
    <div class="rx-slider__content">
      <div class="rx-slider__description _active">
        <div class="rx-description" style="margin-top: 6em;/* margin-top: 7.8em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-delay="-1" data-animation="scale-appear" style="font-size: 7.794em;line-height: normal;margin: 0 0.325em 0 0;">"Волшебный</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: -0.15em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size: 7.794em;line-height: normal;">сеанс"</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 7.1em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" data-delay="0.5" data-speed="1.5" style="font-size: 5.567em;line-height: normal;">Начните с&nbsp;этого!</span>
              </span>
            </p>
          </div>
        </div>
        <!-- <div class="rx-description__fade-background-wrap">
          <div class="rx-description__fade-background" data-fade data-delay="10" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/2.jpg);"></div>
        </div> -->
        <div class="rx-description__background-wrap _no-scale" data-video-url="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/flower"
          data-video-id="video-flower">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/flower.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15.9em;/* margin-top: 18.9em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Ошеломительно</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -1.2em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">радостный</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/1.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15.9em;/* margin-top: 18.9em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Незабываемо</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -1.2em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">яркий</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/2.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15.9em;/* margin-top: 18.9em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Фантастически</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 0.275em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:7.5em;line-height: 1.167em;">результативный</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/3.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 12.9em;/* margin-top: 18.9em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Нейролингвистический</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.2em 0 0;">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">сеанс</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -1.2em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">экстра-класса</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/8.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 10.9em;/* margin-top: 15.15em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Диагностика</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 1.25em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" data-delay="-1" style="font-size:7.813em;line-height: 1.16em;">проблем</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: -1.25em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">обучения</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/7.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15.9em;/* margin-top: 18.9em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Коррекция</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -1.2em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">дислексии</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/6.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 4.5em;/* margin-top: 7.5em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:4.688em; line-height: 1.493em;">Повышение</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -1.4em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" data-delay="-1" style="font-size:6.25em;line-height: 1.4em;">концентрации</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: -2.55em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">внимания</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 0.2em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:3.125em; line-height: 1.2em;">без&nbsp;чего невозможно грамотное письмо</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/5.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 4.5em;/* margin-top: 7.5em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Навыки точного,</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.2em 0 0;">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">правильного,</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 0.45em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" data-delay="-1" style="font-size:8.75em;line-height: 1.143em;">осмысленного</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 0.45em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:8.75em;line-height: 1.143em;">чтения</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/9.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 2.8em;/* margin-top: 7.8em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:9.375em; line-height: 1.267em;">Результат&nbsp;–</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/10.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 8.9em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:7.5em;line-height: 1.25em;">Двоек&#8209;троeк</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: -0.05em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">не&nbsp;будет!</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/4.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 7.5em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center" style="margin: 1.05em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:3.75em; line-height: 1.333em;">Успеваемость по&nbsp;всем предметам</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 1.55em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:7.5em;line-height: 1.167em;">повысится</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 0.2em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">на&nbsp;1&#8209;2&nbsp;балла</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/11.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 7.5em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">Домашние задания</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.2em 0 0;">
                <span class="rx-animation-unit" style="font-size:5.625em; line-height: 1.244em;">будут делаться</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 1.1em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:8.438em;line-height: 1.148em;">легко и&nbsp;быстро</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/12.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:4.063em; line-height: 1.308em;">Поможет этот сеанс</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -0.45em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:6.875em;line-height: 1.182em;">как двоечникам,</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:6.875em;line-height: 1.182em;">так и&nbsp;хорошистам</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/13.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 8.25em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:4.375em; line-height: 1.286em;">Сеанс полностью игровой&nbsp;–</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 2.45em 0 0;">
              <span class="rx-animation-unit-wrap left" style="margin: 0 31.25em 0 0;">
                <span class="rx-animation-unit" style="font-size:5.625em;line-height: 1.244em;">сюрпризы,</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.2em 0 0;">
                <span class="rx-animation-unit" style="font-size:5.625em;line-height: 1.244em;">подарки,</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.2em 0 0 42.3em;">
                <span class="rx-animation-unit" style="font-size:5.625em;line-height: 1.244em;">призы</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/15.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15.85em;/* margin-top: 17.85em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:4.688em; line-height: 1.267em;">Аналогов сеансу</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: -0.25em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">в&nbsp;мире нет!</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/16.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 1.9em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:2.5em; line-height: 1.5em;">Приоритет подтверждён</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 0.5em 0 0;">
                <span class="rx-animation-unit" style="font-size:2.5em; line-height: 1.5em;">Международной экспертизой PCT</span>
              </span>
            </p>
            <div class="clearfix-hook center" data-fade data-delay="1" data-speed="3" style="width: 62.5em;margin: 6.85em 0 0; opacity: 0;">
              <div style="float: left;">
                <div class="image-shadow" style="width: 15.875em; height: 22.35em;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1.jpg" width="100%" height="100%" alt="Патент Германия">
                </div>
              </div>
              <div style="display: inline-block;">
                <p class="white font-arial bold center" style="margin: 16.75em 0 0;">
                  <span class="rx-animation-unit-wrap left">
                    <span class="rx-animation-unit" style="font-size:1.5em; line-height: 1.275em;">Российский</span>
                  </span>
                  <br>
                  <span class="rx-animation-unit-wrap left">
                    <span class="rx-animation-unit" style="font-size:1.5em; line-height: 1.275em;">и&nbsp;международный патенты</span>
                  </span>
                  <br>
                  <span class="rx-animation-unit-wrap left">
                    <span class="rx-animation-unit" style="font-size:1.5em; line-height: 1.275em;">на&nbsp;изобретение</span>
                  </span>
                </p>
              </div>
              <div style="float: right;">
                <div class="image-shadow" style="width: 15.875em; height: 22.35em;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2.jpg" width="100%" height="100%" alt="Патент Россия">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/17.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 0.6em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold left">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:3.75em; line-height: 1.333em;">Качество НАИВЫСШЕЕ</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.8em 0 0;">
                <span class="rx-animation-unit" style="font-size:3em; line-height: 1.25em;">Три Знака Качества Госстандарта РФ</span>
              </span>
            </p>
            <div class="clearfix-hook center" data-fade data-delay="1" data-speed="3" style="width: 59.5em;margin: 3.6em auto 0; opacity: 0;">
              <div style="float: left;">
                <p class="white font-arial bold center" style="font-size:0.875em;margin: 0 0 0.429em; line-height: 1.143em;">
                  Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ<br>
                  с категорией <span class="tag">Качество наивысшее</span>.
                </p>
                <p class="white font-arial bold center" style="font-size:0.875em;line-height: 1.143em;">
                  У нас таких три!
                </p>
                <div class="image-shadow" style="width: 25.813em; height: 17.813em;margin:0.35em auto 0;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1.jpg" width="100%" height="100%" alt="Сертификат">
                </div>
              </div>
              <div style="float: right;">
                <div class="image-shadow" style="width: 15.375em; height: 21.5em;">
                  <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2.jpg" width="100%" height="100%" alt="Сертификат">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/18.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 15.5em;">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size:5em; line-height: 1.25em;">Длительность сеанса</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 2.25em 0 0;">
                <span class="rx-animation-unit" style="font-size:5em;line-height: 1.25em;">2&#8209;3&nbsp;часа</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/14.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 3.95em;/* margin-top: 7.95em; */">
          <div class="rx-description__content">
            <p class="white font-verdana bold center">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit" style="font-size: 5em; line-height: 1.25em;">Сеанс ведёт автор&nbsp;–</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.45em 0 0;">
                <span class="rx-animation-unit" style="font-size: 3.125em; line-height: 1.4em;">доктор психологических наук</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: 1.1em 0 0;">
                <span class="rx-animation-unit" style="font-size: 3.125em; line-height: 1.4em;">профессор</span>
              </span>
            </p>
            <p class="white font-verdana bold center" style="margin: 1.55em 0 0;">
              <span class="rx-animation-unit-wrap left">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" data-delay="-1" style="font-size:5em;line-height: 1.25em;">Ольга Олеговна</span>
              </span>
              <br>
              <span class="rx-animation-unit-wrap left" style="margin: -1.7em 0 0;">
                <span class="rx-animation-unit _scale" data-animation="scale-appear" style="font-size:9.375em;line-height: 1.267em;">Веровенко</span>
              </span>
            </p>
          </div>
        </div>
        <div class="rx-description__background-wrap">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/19.jpg);"></div>
        </div>
      </div>
      <div class="rx-slider__description">
        <div class="rx-description" style="margin-top: 0;">
          <div class="rx-description__content">
            
            <div class="white size-16" style="position: relative; z-index: 21;">
              <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
                <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_nachalo; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
                  <span class="tag">Волшебный сеанс</span>
                </a>
              </p>
            </div>
            <div class="size-16" style="width: 70em; position: relative;margin: 1em auto 0;">
              <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 1em 0 1em; line-height: normal;">
                Индивидуальное <span class="italic bold">NL</span>&#8209;обучение</span><br>
                экстра&#8209;класса
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
                Коррекция ЛЁГКИХ и&nbsp;СРЕДНИХ проблем обучения
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
                Длительность сеанса <nobr>2-3 часа</nobr>
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
                Базовая стоимость <nobr>1 200 у.е.</nobr>
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
                Школьникам младших классов <nobr>(1-3 кл.)</nobr> скидка&nbsp;75%. Стоимость <nobr>с учётом скидки – 300 у.е.</nobr>
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
                Школьникам <nobr>4-7 кл.</nobr> скидка&nbsp;50%. Стоимость <nobr>с учётом скидки – 600 у.е.</nobr>
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
                Старшеклассники&nbsp;– по базовой стоимости.
              </p>
              <p class="white font-verdana center" style="font-size: 1em;margin: 1.5em 0 0.5em; line-height: normal;">
                <nobr>1 у.е. = 1 евро</nobr>
              </p>
              <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
                Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
                Сеанс предполагает небольшое домашнее задание&#8209;игру <span class="tag">Спортсмен и тренер</span> общей длительностью <nobr>2-3 часа.</nobr>
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
                Детям эта игра БЕЗУМНО нравится.
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 1.5em 0 2.6em; line-height: normal;">
                Сеанс ведёт автор&nbsp;– професcор <a href="[exec] include get_template_directory().'/links.php'; echo $obshchee_predsavlenie; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="border-bottom: 1px solid white;">Ольга Олеговна Веровенко</span></a>
              </p>
              <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 0.5em; line-height: normal;">
                <nobr>+7 (985) 765-2-555</nobr>
              </p>
              <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1em; line-height: normal;">
                <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.5em;border-bottom: 1px solid white;">К&nbsp;навигации</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="rx-description__background-wrap _no-scale" data-video-url="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/balloon"
          data-video-id="video-balloon">
          <div class="rx-description__background" style="background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/balloon.jpg);"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  p {
    margin: 0;
  }

  .b-volshebnica__full-screen-video {
    z-index: 201;
  }

  .rx-slider-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    overflow: hidden;
    background-color: white;
    top: 0;
    left: 0;
    font-size: 16px;
  }

  .rx-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    top: 0;
  }

  .rx-slider__description {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: block;
    z-index: 1;
  }

  .rx-slider__description._active {
    z-index: 2;
  }

  .rx-slider__content {
    margin: 0;
    height: 100%;
    text-shadow: 0.125em 0.125em 0.188em black;
  }

  .rx-animation-unit-wrap {
    margin: 0;
    white-space: nowrap;
    display: inline-block;
  }

  .rx-animation-unit {
    display: inherit;
    opacity: 0;
    overflow: hidden;
  }

  .rx-animation-unit._scale {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    transform: scale(0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: translate3d(0,0,0);
    transition: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition-property: font-size;
    transition-property: opacity,transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  .rx-description__background-wrap,
  .rx-description__fade-background-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    z-index: 1;
  }

  .rx-description__fade-background-wrap {
    z-index: 101;
  }

  .rx-description__background,
  .rx-description__fade-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .rx-description__background {
    z-index: 1;
  }

  .rx-description__fade-background {
    opacity: 0;
  }

  .rx-description__fade-background._active {
    opacity: 1;
  }

  .rx-description {
    z-index: 301;
    position: relative;
    float: right;
    right: 50%;
  }

  .rx-description__content {
    overflow: hidden;
    margin: 0;
    position: relative;
    float: left;
    left: 50%;
  }

  .rx-slider__buttons {
    opacity: 0;
    position: absolute;
    bottom: 2.063em;
    z-index: 500;
    width: 100%;
    text-align: center;
  }

  .rx-slider__button {
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    width: 0.393em;
    height: 0.393em;
    line-height: 0.429em;
    font-size: 1.75em;
    margin-right: 0.179em;
  }

  .rx-slider__button._active {
    color: #09f;
  }
</style>
[/raw]