[raw]
<div class="_js-multi clearfix-hook" data-disappear="false" data-disappear-delay="1" style="z-index: 100;position: relative; width: 100%;">
  <div class="white size-16 _js-price _js-scale-font-size" style="position: relative; z-index: 21;">
    <p class="" style="font-size:2em;margin: 0.5em 0 0 0.5em;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_slider; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
        <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Волшебный сеанс</span>
      </a>
    </p>
  </div>
  <div class="div-wrapper_padding size-16 _js-blur _js-price _js-scale-font-size" style="width: 70em; z-index: 21; position: relative;margin: 1em auto 0;overflow: unset;">
    <p class="white bold font-verdana center" style="font-size: 1.8em;margin: 1em 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистическая коррекция</span>
      <br>
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">экстра&#8209;класса</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Коррекция ЛЁГКИХ и&nbsp;СРЕДНИХ проблем обучения за&nbsp;1&nbsp;<span class="normal">(</span>ОДИН!<span class="normal">)</span> сеанс</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;text-shadow: 2px 2px 3px black;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Уникальная технология</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Длительность сеанса <span class="normal">(</span>включая диагностику проблем, тестирование и коррекцию<span class="normal">)</span>&nbsp;– <nobr>2-3 часа</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Базовая стоимость&nbsp;– <nobr>1 200 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Persona Grata&nbsp;– скидка&nbsp;50%, стоимость <nobr>600 у.е.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><span class="tag">Горящее</span> место&nbsp;– скидка&nbsp;75%, стоимость <nobr>300 у.е.</nobr></span>
    </p>
    <p class="white font-verdana center" style="font-size: 1em;margin: 0 0 1.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>1 у.е. = 1 евро.</nobr> Оплата в&nbsp;рублях по&nbsp;курсу&nbsp;ЦБ</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Сеанс предполагает небольшое домашнее задание&#8209;игру <span class="tag">Спортсмен и тренер</span> общей длительностью <nobr>2-3 часа.</nobr></span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 1em;margin: 0 0 2.6em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Детям эта игра БЕЗУМНО нравится.</span>
    </p>
    <p class="white bold font-verdana center" style="font-size: 2.5em;margin: 0 0 0.5em; line-height: normal;">
      <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;"><nobr>+7 (985) 765-2-555</nobr></span>
    </p>
    <p class="white center" style="font-size: 1em;margin: 0 0 1em; line-height: normal;font-family: 'Playfair Display';letter-spacing: 0.063em;font-weight: 400;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_slider; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 1.875em 0 -1.875em; position: relative;"><span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">Подробнее о&nbsp;курсе</span></a>
      <a href="[exec] include get_template_directory().'/links.php'; echo $persona_grata_vibor; [/exec]" style="text-decoration: none; color: white; padding: 1.25em 1.875em; margin: 0 -1.875em; position: relative;"><span style="font-size: 1.35em;text-shadow: 2px 2px 3px black;border-bottom: 1px solid white;">К&nbsp;навигации</span></a>
    </p>
  </div>
  <div class="b-video-back _js-price" data-video-name="volshebniy-seans/balloon" data-video-id="video-balloon" data-video-start="0.01" data-video-start-delay="300"
    data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/balloon" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 20;">
    <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebniy-seans/balloon.jpg);background-size: cover; background-position: center; position: fixed;"></div>
  </div>
</div>
[/raw]