[raw]
<div class="div-wrapper_padding size-16 _js-blur" data-redirect-target="true" data-redirect-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_vibor; [/exec]"
  data-redirect-delay="7" style="width: 71.25em; z-index: 12; position: relative;text-shadow: 2px 2px 3px black;">
  <div class="white font-verdana" style="margin: 0 auto;">
    <p class="white center bold" style="font-size: 3.5em;line-height: normal;margin: 4.25em 0 0.41em 0;">
      <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">Зомбирование, магия и ремень</span>
      </span>
    </p>
    <p class="white center bold" style="font-size: 3.5em;line-height: normal;margin: 0;">
      <span class="_js-span-anim-roll left" data-speed-coef="1.5" style="display: inline-block;">
        <span class="left" style="white-space: nowrap; overflow: hidden; display: inline-block; opacity: 0;">в обучении</span>
      </span>
    </p>
    <p class="white center bold" style="font-size: 6.5em;line-height: normal;margin: 0;">
      <span class="_js-span-anim-roll _anim-scale left" data-speed="1" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;">
        <span style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: normal;">не применяются!</span>
      </span>
    </p>
  </div>
</div>
<div class="_js-blur-back" data-early-blur-delay="1.5" style="background-color: #f7f3f3;width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 11;opacity: 0;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/zombie1.jpg);filter:blur(10px);background-size: cover; background-position: center; position: fixed;"></div>
</div>
<div class="b-video-back" data-anim-delay="2" data-video-name="volshebnica/zombie1" data-video-id="video-zombie1" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/zombie1"
  data-video-start="0.01" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 1;">
  <div style="width: 100%; height: 100%; background-image: url(//verovenko.ru/wp-content/themes/twentyfourteen/images/volshebnica/zombie1.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]