<div class="div-wrapper_padding" id="parallax" style="width: 500px; z-index: 10; position: relative;">
  <p class="red bold center size-20 font-verdana" style="margin: 10px 0 0 0; line-height: 22px;">
    Нейролингвистика
  </p>
  <p class="blue bold center size-20 font-verdana" style="margin: 10px 0 21px 0; line-height: 22px;">
    Сделаем вас умнее!
  </p>
  <div class="clearfix" style="padding: 0 0 0 0;">
    <div style="margin: 0 0 0 10px;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        1. Уберём болячки, мешающие вам и&nbsp;вашим детям быть умными&nbsp;– дислексию, дисграфию, <span class="tag">школьный</span> невроз.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        2. Снимем любые проблемы обучения и поведения.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        3. Повысим интеллект, скорость усвоения информации, концентрацию внимания, ментальную выносливость и работоспособность.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        4. Раскроем и разовьем таланты.
      </p>
    </div>
  </div>
  <p class="blue bold center size-20 font-verdana" style="margin: 51px 0 21px 0; line-height: 22px;">
    Подарим
  </p>
  <div class="clearfix" style="padding: 0 0 0 0;">
    <div style="margin: 0 0 0 10px;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        <span class="blue bold">Детям.</span> Лёгкую обучаемость ВСЕГДА, ВЕЗДЕ, ВСЕМУ. Привьем интерес и&nbsp;любовь к&nbsp;учёбе.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        <span class="blue bold">Взрослым.</span> <span class="blue bold italic">NL</span>&#8209;психология. Выход из&nbsp;тупика развития. Карьера. Бизнес. Семья. Взаимоотношения. Избавление от&nbsp;ссор, конфликтов, врагов тайных и&nbsp;явных. Улучшение Реальности. Миссия. Успех.
      </p>
    </div>
  </div>
  <p class="blue bold center size-20 font-verdana" style="margin: 51px 0 21px 0; line-height: 22px;">
    Бесплатно приложим
  </p>
  <div class="clearfix" style="padding: 0 0 0 0;">
    <div style="margin: 0 0 0 10px;">
      <ul class="grey size-18 font-verdana" style="margin: 0px 20px 22px 45px; line-height: 40px;">
        <li><span class="blue">индивидуальное обучение экстра-класса;</span></li>
        <li><span class="blue">русский, безупречную грамотность;</span></li>
        <li><span class="blue">великолепный английский;</span></li>
        <li><span class="blue">чтение, речь. раскрепощение;</span></li>
        <li><span class="blue">сочинения, изложения, ГИА, ЕГЭ;</span></li>
      </ul>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        Наши технологии обучения уникальны. Они запатентованы как изобретения и&nbsp;не&nbsp;имеют равных в&nbsp;мире.
      </p>
      <div class="clearfix">
        <div style="float: left;">
          <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
            Это будет
          </p>
        </div>
        <div style="float: left; margin-left: 6px;">
          <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
            <span class="blue bold">БЫСТРО</span> (1-12 сеансов)<br>
            <span class="blue bold">ИНТЕРЕСНО</span> (о да!)<br>
            <span class="blue bold">ЯРКО</span> (ещё бы!)
          </p>
        </div>
      </div>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        Ваш мастер&nbsp;– профессор Ольга Олеговна Веровенко.
        Педагог, нейропсихолог, лингвист. Кандидат филологических наук, доктор психологических наук.<br>
        Doctor, Grand Doctor, Professor, Full Professor.<br>
        Декан факультета педагогики и&nbsp;психологии Международной докторантуры, сенатор WUDSES (Брюссель).<br>
        Руководитель авторской школы-студии (Москва). Почётный работник общего образования России.<br>
        Входит в топ-10 лучших специалистов Европы.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 20px 21px 0; line-height: 22px;">
        Блистательный конечный результат мы вам гарантируем!
      </p>
    </div>
  </div>
</div>
<div style="position: absolute; background-image: url(https://re-space.ru/wp-content/uploads/2014/04/clas-02-3.jpg); background-size: cover; top: 0; z-index: 1; height: 100%; width: 100%; padding-bottom: 150px; overflow: hidden; opacity: 0.8" id="content1" data-stellar-background-ratio="0.3">
  <div style="position: absolute; top: 0; z-index: 1; height: 100%; width: 100%; left: 0; right: 0; margin: 0 auto; background-image: url(http://www.stickpng.com/assets/images/580b585b2edbce24c47b2738.png); background-size: cover; opacity: 0.4" id="content2"  data-stellar-background-ratio="0.6">
    <!-- <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 100px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 0px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 200px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 100px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 200px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 400px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 300px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 500px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 400px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 500px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 700px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 600px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 800px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 700px; left: 1000px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 800px; left: 200px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1000px; left: 400px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 900px; left: 600px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1100px; left: 800px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="0.7" alt="" style="opacity: 0.3; height: 50px; width: 50px; position:absolute;
    top: 1000px; left: 1000px;">

    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 0px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 100px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 0px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 200px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 400px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 300px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 500px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 400px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 600px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 800px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 700px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 900px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 800px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1000px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1200px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1100px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1300px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1200px; left: 900px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1400px; left: 100px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1600px; left: 300px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-red.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1500px; left: 500px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-blue.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1700px; left: 700px;">
    <img class="lazy-ignore" src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro-new/balloon-green.png" data-stellar-ratio="1.3" alt="" style="opacity: 0.7; height: 70px; width: 70px; position:absolute;
    top: 1600px; left: 900px;"> -->
  </div>
</div>
