[raw]
<div class="nav" style="width: 100%; height: 86px; position: absolute; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
  <div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
    <div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="history.back()"><a href="#"><span class="yellow">К ДРУГИМ СТАТЬЯМ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_planeta; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
      <div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta_smi; [/exec]"><span class="yellow">СМИ О НАС</span></a></div>
      <div style="float: right;margin: 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_planeta; [/exec]"><span class="yellow">ОТЗЫВЫ</span></a></div>
    </div>
  </div>
</div>
<div class="div-wrapper" style="margin-top: 2px; padding-top: 0;">
  <p class="center red bold size-36 font-verdana" style="margin: 30px 0 15px 0;">
    Чудо будет!
  </p>
  <div class="clearfix-hook" style="padding-top: 22px;">
    <div class="clearfix-hook" style="width: 633px; margin: 0 auto;">
      <div class="image-shadow-0" style="width: 633px; height: 440px; border: 2px solid rgba(170, 168, 168, 1);">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/butterfly2.jpg" width="100%" height="100%" alt="Бабочка">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="dark-blue size-18 font-verdana center" style="margin: 36px 0 67px 0;">
    Сознание, Подсознание, Сверхсознание – триединство, дарующее Полёт
  </p>
  <p class="light-blue bold size-30 font-verdana center" style="margin: 0 0 5px 0;">
    Не<span class="red">й</span>ролингвистика –
  </p>
  <p class="blue size-18 font-verdana bold center" style="margin: 0 0 0 0;">
    наука, <span class="tag">прибавляющая ума</span>
  </p>
  <p class="blue font-verdana size-12 center" style="margin: 0 0 60px 0;">
    Пожалуйста, не путайте нейролингвистику с NLP<br>(нейролингвистическим программированием)!
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 109px; line-height: 22px;">
    Детей нельзя учить, как взрослых. С детьми можно только играть. В том числе в русский, английский,<br>
    чтение. Они будут делать это самозабвенно, забывая всё на свете.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 109px; line-height: 22px;">
    <span class="tag">Гм, – сказали взрослые, серьёзные и умные, – мы тоже не прочь... так сказать... поиграть... м-да!</span>
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 67px 109px; line-height: 22px;">
    Так оформились (на базе <span class="tag">Врождённой грамотности</span>) технологии <span class="light-blue bold italic">NL</span>-обучения – яркие, интересные,<br>
    игровые, необычайно результативные.
  </p>
  <p class="bold size-24 font-verdana center" style="margin: 0 0 13px 0; color: rgb(57, 207, 39);">
    Не<span class="red">й</span>ролингвистика – что это?
  </p>
  <p class="size-18 font-verdana bold center" style="margin: 0 0 60px 0; color: rgb(84, 67, 0);">
    Это когда всё понятно – и ни одного слова из <span class="tag">правил</span>.
  </p>
  <div style="width: 960px; height: 700px; padding: 0 0 0 0;">
    <div style="width: 350px; height: 700px; float: left; margin: 0 0 0 97px;">
      <p class="blue size-14 font-verdana" style="margin: 61px 0 21px 0; line-height: 22px;">
        С., подполковник полиции (были<br>
        некоторые проблемы с грамотностью).
      </p>
      <p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        А вот творческий <span class="light-blue bold italic">NL</span>-диктант без<br>
        единой ошибки.
      </p>
      <p class="blue size-14 font-verdana" style="margin: 0 0 0 0; line-height: 22px;">
        В аспирантуру грамотного<br>
        подполковника-красавицу внесли на<br>
        руках (в буквальном смысле).
      </p>
    </div>
    <div style="width: 415px; height: 700px; float: right; margin: 0 77px 0 0;">
      <p class="size-20 font-verdana bold center" style="margin: 0 0 27px 0; color: rgb(238, 167, 14);">
        <span class="tag">Мадагаскар</span>
      </p>
      <div class="image-shadow" style="width: 415px; height: 577px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/africa.jpg" width="100%" height="100%" alt="Мадагаскар">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="blue size-14 font-verdana center" style="margin: 42px 0 0 0; line-height: 22px;">
    Н., педагог. Блистательная <span style="font-style: italic;">NL</span>-работа на <span class="tag">ЖИ-ШИ</span>.<br>
    Два листочка цветной бумаги и несколько штрихов фломастером
  </p>
  <div style="padding-top: 19px; height: 503px;">
    <div style="width: 693px; height: 503px; margin: 0 auto;">
      <div class="image-shadow" style="width: 693px; height: 487px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/shishka.jpg" width="100%" height="100%" alt="Шишка">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 113px 0 34px 0;">
    Верный друг
  </p>
  <div style="width: 960px; height: 391px; padding: 17px 0 0 0;">
    <div style="width: 336px; height: 391px; float: left; margin: 0 0 0 129px;">
      <div class="image-shadow" style="width: 336px; height: 308px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/boy7.jpg" width="100%" height="100%" alt="Фото с урока">
      </div>
      <div class="image-shadow-right-1" style="width: 140px; background-position: -175px 0px;">
      </div>
      <div class="image-shadow-left-1" style="width: 140px;">
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 16px 0 0 0;">
        Фото с урока
      </p>
    </div>
    <div style="width: 400px; height: 391px; float: right; margin: 0 13px 0 0;">
      <p class="dark-blue size-14 font-verdana" style="margin: -6px 0 21px 0; line-height: 22px;">
        Третий класс. Талантливые глаза.<br>
        Немногословен.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Загадочно спрашиваю:<br>
        – Как объяснить правило малышу, чтобы он<br>
        понял?<br>
        – Совсем маленькому?<br>
        – Лет пяти. А потом я тебя с ним познакомлю.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Три секунды размышлений, и – озарение в<br>
        глазах.<br>
        – На-ри-со-вать!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Он не сказал «написать». Рисунок, картинка –<br>
        вот язык малыша!
      </p>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px;">
    И мы нарисовали, <span class="size-18"><span class="light-blue bold">коне<span class="red">чн</span>о</span>, <span class="light-blue bold">кала<span class="red">нч</span>у</span>, <span class="light-blue bold">бара<span class="red">нч</span>ика </span> и <span class="light-blue bold">коле<span class="red">чк</span>о</span>.</span> Рассматриваем.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    – Твой вывод?<br>
    – Понял! В сочетаниях <span class="light-blue bold">чн</span>, <span class="light-blue bold">нч</span>, <span class="light-blue bold">чк</span> нету мягкого знака! Теперь не забуду! А где малыш?
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    – Внутри тебя, деточка. Это твоё <span class="light-blue bold">Подсознание</span>. Великий и могущественный малыш... Самая древняя форма разума<br>
    на Земле. Без его ведома и волос с головы не упадёт! Он руководит твоим сердцебиением, дыханием, сужением и<br>
    расширением зрачков... Много чем. Ведь ты всё это не можешь делать своей волей?<br>
    – Нет... <br>
    – А он может. Ты идёшь и не задумываешься, как согласовать тысячи микродвижений мышц – а он согласует.<br>
    Представляешь, какой там «компьютер»?
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    – А научить меня писать без ошибок он может?<br>
    – Безусловно. Он ведь этим заведует. И грамотностью, и любым обучением.<br>
    – И он – мой?<br>
    – Конечно! Вот тебе друг – самый верный, самый надёжный.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 44px; line-height: 22px;">
    – А как с ним общаться?<br>
    – Я тебя научу. Ты уже знаешь, что он любит красивые картинки...
  </p>
  <p class="yellow bold size-18 font-verdana center" style="margin: 51px 0 64px 0;">
    Девиз <span class="light-blue italic">NL</span>:<br>
    Лучше один раз увидеть, чем сто раз услышать
  </p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 27px 0;">
    Подражание
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 30px; line-height: 22px;">
    Подражание – мощнейший природный инстинкт. Всё, что делаете с удовольствием вы – пишете, читаете, рисуете,<br>
    учитесь – с удовольствием и легко будет делать ваш ребёнок.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 30px; line-height: 22px;">
    Так легко и естественно идёт обучение в природе – среди птиц, животных и нас, людей. Этой <span class="tag">методике</span> много миллионов<br>
    лет. Естественный путь – самый правильный.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 30px; line-height: 22px;">
    Вот почему на <span class="light-blue bold italic">NL</span>-сеансах мы просим родителей творить вместе с детьми. Включается инстинкт.
  </p>
  <div style="width: 960px; height: 571px; padding-top: 36px;">
    <div style="width: 378px; height: 571px; float: left; margin-left: 3px;">
      <div class="image-shadow" style="width: 378px; height: 555px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 492px; height: 604px; float: right; margin: 0 40px 0 0;">
      <div class="image-shadow" style="width: 492px; height: 339px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo1.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="blue size-14 font-verdana" style="margin: 53px 0 16px 0; line-height: 22px;">
        Ася и Даня, мама и сын. Ни одной ошибки!
      </p>
      <p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        В Данечкиной семье у меня учились все – мама, папа, тётя, дядя,<br>
        двоюродный брат. В разные годы, конечно. Воспоминания о них<br>
        самые приятные.
      </p>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 102px 0 35px 0;">
    Творческие диктанты
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 33px;">
    Их любят все: взрослые и дети. В творческом диктанте можно всё: писать справа, слева, хоть по кругу.
  </p>
  <p class="blue size-14 font-verdana" style="margin: 0 0 0 33px; line-height: 17px;">
    Эти диктанты творил Гошан. Гошенька... Он вместо <span class="tag">всё равно</span> писал <span class="tag">сявно</span>.<br>
    Через месяц у нас была <span class="tag">почти пятёрка</span> в годовой контрольной.
  </p>
  <div style="width: 960px; height: 574px; padding-top: 37px;">
    <div style="width: 390px; height: 574px; float: left; margin-left: 33px;">
      <div class="image-shadow" style="width: 390px; height: 553px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo2.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 391px; height: 574px; float: right; margin: 0 51px 0 0;">
      <div class="image-shadow" style="width: 391px; height: 558px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo3.jpg" width="100%" height="100%" alt="Плачущий мальчик">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="blue size-14 font-verdana center" style="margin: 104px 0 22px 0; line-height: 16px;">
    Павлик Павликов. 6 класс. Творческий диктант
  </p>
  <div style="padding-top: 0; height: 580px;">
    <div style="width: 796px; height: 580px; margin: 0 auto;">
      <div class="image-shadow" style="width: 796px; height: 564px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo4.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 98px 0 30px 0;">
    Идентификация
  </p>
  <div style="width: 960px; height: 372px; padding: 0 0 8px 0;">
    <div style="width: 620px; height: 372px; float: left; padding-right: 0px">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 60px; line-height: 22px;">
        Оборотил царь своих дочерей голубицами и говорит:<br>
        – Ну, Иван-царевич, сумеешь различить среди них свою Марью-царевну –<br>
        быть свадьбе; не сумеешь – голову с плеч!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 60px; line-height: 22px;">
        Смотрит Иван-царевич: сидят на жёрдочке тридцать три голубицы – цвет<br>
        в цвет, перо к перу, хвост к хвосту... Не различить! А душа так и рвётся к<br>
        одной из них, только к одной...
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 60px; line-height: 22px;">
        – Вот она, моя суженая, сердцем чую!<br>
        – Молодец, Иван-царевич, умеешь невест выбирать, – говорит царь.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 60px;">
        Тут и свадебку сладили, и жили они долго и счастливо.
      </p>
    </div>
    <div style="width: 279px; height: 372px; float: right; margin: 0 37px 0 0;">
      <div class="image-shadow" style="width: 275px; height: 346px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/woman.jpg" width="100%" height="100%" alt="Парящая женщина">
      </div>
      <div class="image-shadow-right-1" style="width: 139px; background-position: -176px 0px;">
      </div>
      <div class="image-shadow-left-1" style="width: 140px;">
      </div>
    </div>
  </div>
  <div style="width: 960px; height: 314px; padding: 20px 0 0 0;">
    <div style="width: 429px; height: 382px; float: left; margin: -79px 0 0 60px;">
      <div class="image-shadow" style="width: 429px; height: 302px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/eye.jpg" width="100%" height="100%" alt="Идентификация">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 8px 0 0 0;">
        Идентификация
      </p>
    </div>
    <div style="width: 447px; height: 314px; float: right; padding-right: 0">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="light-blue bold">Идентификация</span> – способность сличать и различать <span class="light-blue bold">на<br>
        уровне Подсознания</span> (<span class="tag">сердцем чую!</span>), а не на уровне<br>
        размышления (ментального процесса).
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 8px 0; line-height: 22px;">
        У Ивана-царевича способность<br>
        к идентификации, видимо, особо хороша была.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        В обучении языкам как <span class="light-blue bold">НАВЫКАМ</span> идентификация, на<br>
        наш взгляд, играет главную роль.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
        Именно на ней основаны наши технологии – <span class="tag">Врождённая<br>
        грамотность</span> и <span class="tag">Вертикальный взлёт</span> (английский язык).
      </p>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 25px 72px; line-height: 22px;">
    Хорошо поданная идентификация позволяет сразу пройти (на уровне подсознания) на <span class="light-blue bold">МЫСЛЕОБРАЗ</span>,<br>
    на <span class="light-blue bold">ПОНЯТИЙНЫЙ УРОВЕНЬ</span>, где слов и формулировок нет, но есть понятие самой сути.
  </p>
  <p class="blue size-18 bold font-verdana center" style="margin: 0 0 95px 0;">
    А там, где есть понятие сути – всё усвоено раз и навсегда!
  </p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 6px 0;">
    Визуализация
  </p>
  <p class="blue size-18 font-verdana center" style="margin: 0 0 42px 0;">
    (<span class="light-blue bold italic">NL</span>-психология)
  </p>
  <p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 13px 17px; line-height: 22px;">
    А теперь я достаю свою волшебную палочку (я же Волшебница! Настоящая!) и прикасаюсь к вашему красивому<br>
    диктанту или <span class="light-blue italic bold">NL</span>-работе. Как там надо говорить... кажется, так:<br>
    – Крибле, крабле, бумс!
  </p>
  <div style="padding-top: 34px; height: 308px;">
    <div id="hide1" style="opacity: 0; width: 535px; height: 308px; margin: 0 auto;">
      <div class="image-shadow" style="width: 535px; height: 292px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/stick.jpg" width="100%" height="100%" alt="Вольшебная палочка">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 18px 0 21px 17px; line-height: 22px;">
    Ваш творческий диктант, желательно в рамочке, вы повесите дома на стену. И почаще будете на него смотреть, всем<br>
    показывать, радоваться и гордиться.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 17px; line-height: 22px;">
    И теперь – о, что будет! – пятёрки по всем предметам так и начнут прыгать в детский дневник. Одна за другой!<br>
    Притягиваются, знаете ли, на волшебную палочку...
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 90px 17px; line-height: 22px;">
    Сила <span class="blue">ВИЗУАЛИЗАЦИИ</span> огромна. А вот механизм... Говорю же: волшебная палочка действует!
  </p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 6px 0;">
    Левой-правой
  </p>
  <p class="dark-blue size-14 font-verdana line-height-23" style="margin: 30px 0 21px 17px; line-height: 22px;">
    Представьте себе: вас заставили попрыгать на одной левой ножке стометровку. А назад на одной правой ножке.<br>
    Ну и каково – еле дышите и всё болит?
  </p>
  <p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 17px; line-height: 22px;">
    А если попробовать ту же стометровочку двумя ногами? Левой-правой, левой-правой...<br>
    Говорите, что легко хоть километр?
  </p>
  <p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 21px 17px; line-height: 22px;">
    Так вот: языками заведует левое полушарие головного мозга, рисунком, творчеством, пространственным<br>
    воображением и связью со Сверхсознанием – правое. Левым-правым, левым-правым – за одно занятие мы <span class="tag">скачем</span><br>
    <span class="blue bold">раз в 15-20</span> дольше и дальше. И никто не устаёт!
  </p>
  <p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 22px 17px; line-height: 22px;">
    Вот почему наши <span class="light-blue bold italic">NL</span>-технологии <span class="blue bold">в 15-20 раз эффективнее, мощнее, ярче всего того, к чему вы привыкли.</span> Вы<br>
    достигнете желаемого <span class="blue bold">в 15-20 раз</span> быстрее, легче, проще.
  </p>
  <div style="padding-top: 14px; height: 386px;">
    <div style="width: 354px; height: 386px; margin: 0 auto;">
      <div style="width: 354px; height: 386px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/brain.jpg" width="100%" height="100%" alt="Мозг">
      </div>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 19px 0 21px 17px; line-height: 22px;">
    Кстати, вы замечали, что на скучных совещаниях, планёрках люди что-то чертят и рисуют? Особенность мозга у нас<br>
    такая – мы не выносим долгого напряжения на одну ногу – простите, полушарие...
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 88px 17px; line-height: 22px;">
    К тому же никто не отменял особенностей мощнейшего восприятия периферийным и ассоциативным зрением, что<br>
    проявляется именно в момент рисования и раскрашивания наших учебников.
  </p>
  <p class="blue size-14 font-verdana center" style="margin: 0 0 0 0;">
    Павлик Павликов, 6 класс. Рабочая тетрадь по русскому языку
  </p>
  <div style="width: 960px; height: 612px; padding-top: 22px;">
    <div style="width: 420px; height: 612px; float: left; margin-left: 36px;">
      <div class="image-shadow" style="width: 420px; height: 596px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo5.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 420px; height: 612px; float: right; margin: 0 45px 0 0;">
      <div class="image-shadow" style="width: 420px; height: 596px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo6.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 92px 0 6px 0;">
    Чудеса без решета
  </p>
  <p class="blue size-18 font-verdana center" style="margin: 0 0 46px 0;">
    (<span class="light-blue bold italic">NL</span>-психология, суггестия)
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
    Реальность можно изменить. Реальность нужно изменить!<br>
    В лучшую сторону, конечно.<br>
    Надо сказать, что к приёмам <span class="light-blue italic bold">NL</span>-психологии я прибегаю крайне редко, но тут...
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
    Шурик был дислексиком. Хроническим, неисправимым. Один сеанс, другой – и никаких подвижек!<br>
    – Давай улучшим будущее, Шурик!<br>
    – А разве будущее существует?<br>
    – Согласно Эйнштейну – да. Но оно многовариантно.<br>
    – И можно выбирать?<br>
    – Конечно. Выбери самый лучший, самый счастливый вариант твоего будущего, а в этом будущем – самый<br>счастливый год и день!<br>
    (Тут подробности того, как мы выбирали, я опускаю).<br>
    – А теперь позволь мне поговорить с тобой... то есть, с ним... с тем человеком, кем ты будешь.<br>
    – Как?<br>
    – Мысленно отступи внутри себя в сторонку, на полшага, позволь мне пройти и поговорить с ним.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
    Подробности снова опускаю. Обычная моя работа как <span class="light-blue bold italic">NL</span>-психолога. Но тут! Иногда такое сотворишь, что самой себе<br>
    чудом кажется!
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 57px; line-height: 22px;">
    Я вздрогнула – Шурика не было. Передо мной сидел молодой красивый мужчина, подтянутый, с талантливыми и<br>
    какими-то удивительно лучистыми глазами, спокойным чувством собственного достоинства.
  </p>
  <div style="width: 960px; height: 400px; padding-top: 22px;">
    <div style="height: 400px; float: left; margin-left: 57px;">
      <p class="blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
        Я.<br>
        Он.<br>
      </p>
    </div>
    <div style="width: 873px; height: 400px; float: right; margin: 0 0 0 0;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        З-здравствуйте... Как вас зовут?<br>
        Александр.<br>
        Александр? Не Шурик?<br>
        Александр. Шуриком меня звали в детстве. Никогда не любил это имя – Шурик... Я – Александр.<br>
        Сколько вам сейчас лет?<br>
        Сорок два.<br>
        Кто вы по профессии?<br>
        Художник-дизайнер. Мне кажется, я состоялся – как человек, как личность, как профессионал.<br>
        Вы всемирно известны?<br>
        Ну... Я бы так не сказал. Но в России – да, очень известен. Есть выставки, награды, книги, альбомы.<br>
        А в личном?<br>
        Счастливо женат. Двое детей. Загородный коттедж. Квартира в Москве. Объездил полмира.<br>
        А мама?<br>
        Со мной! Горестных потерь не было.<br>
        Скажите, есть ли у вас проблемы с грамотностью?<br>
        Никаких! Я очень грамотно пишу.<br>
        Прошу вас, Александр... Помогите Шурику без ошибок написать диктант! И всегда помогайте. Всегда и во всём.<br>
        Нет проблем!
      </p>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 17px 0 21px 57px;">
    Дальше я закрепила за Шуриком его <span class="light-blue bold">СЧАСТЛИВУЮ СУДЬБУ</span>.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 56px 57px;">
    И вот что получилось.
  </p>
  <p class="blue size-14 font-verdana center" style="margin: 0 0 0 0; line-height: 18px;">
    Слева – типичный диктант Шурика до сеанса <span class="light-blue bold italic">NL</span>-психологии, справа – минут через 30 после сеанса. Очень<br>
    талантливым оказался этот... Александр!
  </p>
  <div style="width: 960px; height: 510px; padding-top: 19px;">
    <div style="width: 454px; height: 510px; float: left; margin-left: 10px;">
      <div class="image-shadow" style="width: 454px; height: 494px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo7.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 458px; height: 510px; float: right; margin: 0 7px 0 0;">
      <div class="image-shadow" style="width: 458px; height: 492px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/pismo8.jpg" width="100%" height="100%" alt="Письмо">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 102px 0 50px 0;">
    Продолжение истории
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
    Через пару месяцев позвонила мама Шурика-Александра.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
    – У него изменился почерк! Он пишет без ошибок! Его хвалят в школе!
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
    – Прекрасно!
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
    – Да не это! Не это! Меня вызвала педагог по живописи и показала его работы последних двух месяцев – они сейчас на<br>
    серьёзных выставках! Она говорит, что это словно другой человек рисовал – взрослый, опытный. Рука, совсем другая<br>
    рука, понимаете?! Она стала талантливой, гениальной! Его рука – вот что главное!
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
    – А... что ещё удивительного?
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 21px; line-height: 22px;">
    – Ну... Он совсем не откликается на имя <span class="tag">Шурик</span>. Как не слышит. Уверяет всех, что он Александр.
  </p>
  <p class="light-blue size-24 font-sans-font bold center" style="margin: 104px 0 6px 0;">
    Творчество
  </p>
  <div style="width: 960px; height: 450px; padding: 34px 0 42px 0;">
    <div style="width: 258px; height: 450px; float: left; margin: 0 0 0 53px;">
      <div style="width: 258px; height: 397px; float: right; margin: 0 0 15px 0;">
        <div class="image-shadow" style="width: 258px; height: 381px; margin: 9px 0 0 0;">
          <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/girl7.jpg" width="100%" height="100%" alt="Наши принцы и принцессы">
        </div>
        <div class="image-shadow-right-1" style="width: 129px; background-position: -195px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 129px;">
        </div>
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 25px 0 0 0; line-height: 16px;">
        Наши принцы и принцессы.<br>
        Фото с урока
      </p>
    </div>
    <div style="width: 589px; height: 450px; float: right; margin: 0 0 0 0;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 54px 0; line-height: 22px;">
        – Ну, детка, что мы сегодня будем творить: сочинение, изложение,<br>
        контрольную?<br>
        – Ох!.. Ну...<br>
        – Может, сказку?<br>
        – Сказку?! Я не умею...<br>
        – А мы попробуем. Помнишь, как сказки начинаются?<br>
        – Жили-были...<br>
        – Кто?<br>
        – Допустим, царь с царицей...<br>
        – Вот так и пиши. А где они жили?<br>
        – В сказочном царстве с двумя дочками. Это были две красивые взрослые<br>
        девушки.<br>
        – Отлично! Здорово! Ты пиши, пиши!<br>
        – Да пишу, пишу... В то лето им исполнилось двадцать лет, причём в один<br>
        день и в один час... а вот тут запятая перед «причём», я так думаю...<br>
        потому что царевны были близнецами...<br>
        И вот какая волшебная сказка про принцесс у нас получилась.
      </p>
      <p class="red font-verdana size-18" style="margin: 0 0 0 52px;">
        Волшебная сказка. Почитайте – не пожалеете!
      </p>
    </div>
  </div>
  <p class="blue size-14 font-verdana" style="margin: 0 0 21px 34px; line-height: 22px;">
    (Ссылку на страницу <span class="tag">Творчество</span> найдёте на Компасе-навигаторе).
  </p>
  <p class="blue size-14 font-verdana" style="margin: 0 0 21px 34px; line-height: 22px;">
    Вообще-то там вы найдёте целый вернисаж детских работ: сочинений, изложений, эссе, сказок и даже киносценарий.
  </p>
  <p class="blue size-14 font-verdana" style="margin: 0 0 94px 34px; line-height: 22px;">
    Особенности стиля и синтаксиса сохранены.
  </p>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="zombie"></a></p>
  <div style="position:relative; z-index: 3; margin: 0;">
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 0 0; position: relative; z-index: 5;">
    <span class="tag">Зомби</span>
  </p>
  </div>
  <div style="width: 960px; height: 496px; padding: 0 0 0 0; margin: -28px 0 0 0;">
    <div style="width: 379px; height: 496px; float: left; margin: 0 0 0 30px;">
      <div style="width: 379px; height: 444px; margin: 0 0 0 0;">
        <div style="padding-top: 0px; width: 379px; height: 444px; ">
          <div class="trans" style="width: 379px; height: 443px; margin: 0 auto; padding-top: 1px;">
            <div class="trans3" style="width: 379px; height: 443px; opacity: 0; margin: 0 0 0 0; z-index: 4; position: absolute; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/zombie.jpg);"></div>
          </div>
        </div>
      </div>
      <p class="blue size-14 font-verdana center" style="margin: -5px 84px 0 0; line-height: 16px; position: relative; z-index: 5;">
        Я – зомби!
      </p>
    </div>
    <div style="width: 550px; height: 496px; float: right; margin: 0 0 0 0;">
      <div style="position:relative; z-index: 3; margin: 75px 0 52px 0;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Позвонил очень сердитый человек:
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – По какому праву людей зомбируете?<br>
        – ?!<br>
        – Зомбируете! Все знают, что нейролингвистика – это зомбирование!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – А давайте откроем словарь...<br>
        – Какой ещё словарь?!<br>
        – Да любой, лучше толковый. Вот написано: <span class="tag">Нейролингвистика –<br>
        раздел нейрофизиологии...</span>
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – Нейрофизиологии, значит... – стушевался человек. – А люди такое<br>
        говорят... Вот ведь врать горазды!
      </div>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Дорогие читатели! Чтобы в дальнейшем у вас не возникало<br>
        вопросов и сомнений, лучше давайте вместе разберёмся.
      </p>
    </div>
  </div>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="chto-eto"></a></p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 50px; line-height: 22px;">
    <span class="light-blue bold">Нейролингвистика</span> – новая современная наука об усвоении информации человеческим мозгом. В недавнем<br>
    прошлом она была разделом классической нейрофизиологии.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 29px 50px; line-height: 22px;">
    Ныне <span class="light-blue bold italic">NL</span> – вполне самостоятельная дисциплина на стыке четырёх наук: педагогики, психологии,<br>
    нейрофизиологии и лингвистики.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 35px 50px; line-height: 22px;">
    <span class="light-blue bold">Нейролингвистика</span> опирается на вложенные в нас самой природой способности к  молниеносному обучению.
  </p>
  <p class="light-blue size-18 bold font-verdana line-height-23" style="margin: 0px 0 44px 328px;">
    <span style="color: rgb(18, 184, 13);">Цвет,</span><br>
    <span class="red" style="margin-left: 56px;">свет,</span><br>
    <span style="margin-left: 107px;">игра –</span><br>
    <span style="color: rgb(163, 26, 163); margin-left: 177px;">вот её суть!</span>
  </p>
  <p class="blue size-14 font-verdana center" style="margin: 0 0 78px 0; line-height: 34px;">
    <span class="red bold">Дорогие мои!</span> Настраивайте себя на добро и счастье!<br>
    Почаще говорите себе: <span class="tag">Я могу! Я хочу! Я буду!</span>.<br>
    Почаще хвалите себя и своего ребёнка.<br>
    Почаще говорите: <span class="tag">Ты можешь! Молодец! Ты талантлив!</span><br>
    Так творится будущее и Реальность.<br>
    Ведь в самом начале тоже было только <span class="red bold">СЛОВО</span>.
  </p>
  <p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="istorija"></a></p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 28px 0;">
    О нас
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 58px; line-height: 22px;">
    Самая первая обучающая <span class="light-blue bold italic">NL</span>-технология, получившая мировое признание и запатентованная как изобретение в России<br>
    и за рубежом  –  <span class="tag">Врождённая грамотность</span> (автор – проф. О.О.Веровенко). Вот тут мы реально оказались <span class="tag">поперёд<br>
    планеты всей</span>, что и подтвердила международная экспертиза РСТ: ничего подобного в мире не было и нет.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 58px; line-height: 22px;">
    С этого момента, пожалуй, и можно вести отсчёт <span class="light-blue bold italic">NL</span> как самостоятельной науки, когда она вдруг оперилась<br>
    и буквально ворвалась в реальность – живая, действующая, нужная и полезная людям.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 58px; line-height: 22px;">
    Вот что даёт <span class="light-blue bold italic">NL</span>: <span class="blue bold">вместо десятилетий обучения нужны единичные занятия, от силы 4-12!</span><br>
    И автор заслуженно и с гордостью относит себя к основоположникам этой самой <span class="light-blue bold italic">NL</span>.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 58px; line-height: 22px;">
    Оглушительная слава <span class="tag">Врождённой грамотности</span> началась, пожалуй, с первой сенсационной публикации о нас в<br>
    газете <span class="blue bold tag">Правда</span> – главной газете тех лет. И тут же последовала лавина других публикаций – наших и зарубежных.<br>
    О <span class="tag">русском чуде</span> начал писать весь мир –  <span class="blue bold">Canton News, Chicago Tribune, Los Angeles Times</span>, телевидение и радио.<br>
    На нашем добром счету более ста тысяч (население целого города!) учеников.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 58px; line-height: 22px;">
    <span class="light-blue bold italic">NL</span> –  это технология обучения, где нет неудач. Лёгкое, естественное, опирающееся на дарованные каждому<br>
    человеку самой природой способности обучаться молниеносно, без зубрёжки правил, без затрат сил и времени.
  </p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 68px 0 35px 0;">
    Почему мы не учим правила из учебника
  </p>
  <p class="dark-blue size-14 font-verdana italic" style="margin: 0 0 20px 75px; line-height: 22px;">
    «В полных формах страдательных причастий прошедшего времени, образованных от глаголов совершенного вида,<br>
    как приставочных, так и бесприставочных, пишется два «н», а с одним «н» в виде исключения пишутся полностью<br>
    утратившие связь с причастиями отглагольные, образованные от совершенного вида прилагательные».
  </p>
  <p class="blue size-14 font-arial line-height-23" style="margin: 0 26px 40px 0; text-align: right;">
    Школьный учебник
  </p>
  <p class="blue size-14 font-verdana" style="margin: 0 0 22px 75px; line-height: 22px;">
    Когда будете защищать докторскую диссертацию по русскому языку, вы это правило ещё, возможно, оцените.<br>
    А пока воспользуйтесь нашим <span class="tag">переводом</span> на язык <span class="light-blue bold italic">NL</span>:
  </p>
  <p class="red bold size-18 font-verdana center" style="margin: 64px 0 42px 0;">
    Правило гостя
  </p>
  <div style="width: 960px; height: 143px; padding-top: 0;">
    <div style="width: 150px; height: 143px; float: left; margin-left: 248px;">
      <p class="blue size-18 font-verdana center" style="margin: 0 0 0 0;">
        Хороший гость
      </p>
      <p class="green size-18 font-verdana center" style="margin: 40px 0 0 0;">
        ЖЕЛАННЫЙ
      </p>
    </div>
    <div style="width: 150px; height: 143px; float: right; margin: 0 269px 0 0;">
      <p class="blue size-18 font-verdana center" style="margin: 0 0 0 0;">
        Плохой гость
      </p>
      <p class="green size-18 font-verdana center" style="margin: 30px 0 0 0;">
        НЕЗВАНЫЙ<br>
        НЕПРОШЕНЫЙ
      </p>
    </div>
  </div>
  <p class="yellow bold size-18 font-verdana center" style="margin: 5px 0 41px 0;">
    Наше правило: плохой гость больше одной <span class="tag">н</span> не заслуживает!
  </p>
  <p class="blue size-14 font-verdana" style="margin: 82px 0 0 55px; line-height: 22px;">
    Кирилл Касаткин. Творческая <span class="light-blue italic bold">NL</span>-работа <span class="tag">Собезьянничать</span>.<br>
    Очень трудное слово: два <span class="tag">Н</span> и два мягких знака. Но все почему-то пишут твёрдый. Но ведь обезьяна же?..
  </p>
  <div style="padding-top: 28px; height: 495px;">
    <div style="width: 752px; height: 495px; margin: 0 auto;">
      <div style="width: 752px; height: 495px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/train.jpg" width="100%" height="100%" alt="Трамвай">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 56px 0 32px 0;">
    Правило бухгалтера
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 24px 203px;">
    В одном числительном <span class="blue bold">один</span> мягкий знак. Где поставить? Произнесите громко:
  </p>
  <p class="dark-blue size-18 font-verdana line-height-23" style="margin: 0 0 34px 203px;">
    ВОСЕМ<span class="red bold">Ь</span>ДЕСЯТ<br>
    ВОСЕМДЕСЯТ<span class="red bold">Ь</span>
  </p>
  <p class="yellow bold size-18 font-verdana line-height-23" style="margin: 0 0 22px 238px;">
    Правило: хороший бухгалтер говорит без акцента!
  </p>
  <p class="blue size-14 font-verdana" style="margin: 75px 0 0 123px; line-height: 17px;">
    Кирилл Касаткин. Творческая <span class="light-blue italic bold">NL</span>-работа <span class="tag">Длинношеее</span>.<br>
    Ну в каком ещё слове на конце три <span class="tag">е</span> подряд?..
  </p>
  <div style="padding-top: 12px; height: 530px;">
    <div style="width: 715px; height: 530px; margin: 0 auto;">
      <div style="width: 715px; height: 530px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/giraffe.jpg" width="100%" height="100%" alt="Жираф">
      </div>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 104px 0 41px 0;">
    А как же освоить теорию?
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 68px; line-height: 22px;">
    Теорию языка – и русского, и английского – тоже проще осваивать в виде сказок и творческих <span class="light-blue bold italic">NL</span>-работ.
  </p>
  <p class="light-blue size-14 font-verdana bold" style="margin: 0 0 14px 68px; line-height: 22px;">
    Когда шестиклассник Павлик Павликов написал эту сказку-книжку про приставки, мы с его мамой<br>
    хором воскликнули: <span class="tag">Улёт!!!</span></p>
  <p class="blue size-14 font-verdana bold" style="margin: 0 0 22px 68px; line-height: 22px;">
    Взгляните – порадуйтесь!
  </p>
  <div style="padding-top: 1px; height: 425px;">
    <div id="rotator" class="image-shadow-0" style="width: 580px; height: 425px; margin: 0 auto;">
      <ul style="margin: 0 0 0 0;">
          <li class="show"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/001.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/002.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/01.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/02.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/03.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/04.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/05.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/06.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/07.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/09.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/10.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/11.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/12.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/13.jpg" width="580" height="425"  alt="" /></li>
          <li><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/Puh/14.jpg" width="580" height="425"  alt="" /></li>
        </ul>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 95px 0 37px 0;">
    Зеркало реальности
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 81px; line-height: 22px;">
    Мозг одного человека биоэнергетически и телепатически связан с мозгом другого человека. Сравнительно<br>
    недавнее открытие <span class="blue">зеркальных нейронов</span> мозга подтвердило эту догадку.
  </p>
  <div style="width: 960px; height: 440px; padding: 4px 0 0 0;">
    <div style="width: 314px; height: 440px; float: left; margin: 0 0 0 76px;">
      <div class="image-shadow" style="width: 314px; height: 391px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/neuron.jpg" width="100%" height="100%" alt="Нейроны">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 16px 0 0 0;">
        Зеркальный нейрон
      </p>
    </div>
    <div style="width: 485px; height: 440px; float: right; padding-right: 0">
      <p class="dark-blue size-14 font-verdana" style="margin: -3px 0 21px 0; line-height: 22px;">
        <span class="light-blue bold">Зеркальные нейроны</span> отвечают за <span class="blue">эмпатию</span> – очень сложный<br>
        механизм, позволяющий обучаться навыкам (а язык – навык)<br>
        непосредственно, т.е. на уровне Подсознания. <span class="blue">Сознание и воля<br>
        в этом совсем не участвуют!</span>
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 23px 0; line-height: 22px;">
        <span class="blue">Эмпатия</span>, будучи <span class="blue">особым образом тренированной у педагога</span>,<br>
        даёт возможность передачи навыков на уровне Подсознания<br>
        <span class="light-blue bold">молниеносно</span>.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Другими словами, мне не нужно специально обучать вас или<br>
        вашего ребёнка грамотности. Просто присутствуя рядом, играя<br>
        и творя <span class="light-blue bold">вместе</span> со мной, и ребёнок, и вы обучитесь всему.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Вы не будете знать, «откуда вы знаете», но делать всё будете<br>
        верно.
      </p>
    </div>
  </div>
  <div style="width: 960px; height: 319px; padding: 31px 0 8px 0;">
    <div style="width: 447px; height: 319px; float: left; padding-right: 0px">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 55px; line-height: 22px;">
        Механизм эмпатии: <span class="blue">Доброта, Любовь, Милосердие,<br>
        Сострадание, внутренняя Тишина и Покой.</span>
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 55px; line-height: 22px;">
        Как вы уже поняли, главным «инструментом» здесь<br>
        является не методика, не учебник, а психика –<br>
        точно, правильно, безупречно настроенная психика.<br>
        Несущим энергополем будет мощнейшая энергетика<br>
        творчества, симпатии, увлечённости, игры.
      </p>
      <p class="blue size-14 font-verdana bold" style="margin: 0 0 21px 55px; line-height: 22px;">
        Напрямую – из мозга в мозг, из души в душу.
      </p>
    </div>
    <div style="width: 503px; height: 319px; float: right; margin: 0 10px 0 0;">
      <div style="width: 503px; height: 310px; margin: -135px 0 0 0;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/heart.jpg" width="100%" height="100%" alt="Дружба сердца и мозга">
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 0 0 0 0;">
        Эмпатия. Нерушимая связь
      </p>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 0 0 60px 0;">
    <span class="tag">Ошибка</span> Эйнштейна
  </p>
  <div style="width: 960px; height: 500px; padding: 0 0 8px 0;">
    <div style="width: 530px; height: 500px; float: left; margin: 0 0 0 55px">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – Пап, а пап... я построю такой пребольшущий звездолёт и<br>
        разгонюсь сильно-пресильно, быстрее света! Я полечу к<br>
        звёздам!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – Эйнштейна почитай! Я тебе авторитетно говорю: ни одно<br>
        тело, обладающее массой, не может двигаться быстрее<br>
        света. Никто и ни что!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Детские глаза печально взглянули на меня. Говорю папе:
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – Вот как раз <span class="tag">НИЧТО</span>, наверное, может. Там ведь нет<br>
        массы?
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – Нет массы... значит... может, – ошарашенно отвечает<br>
        отец.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        – Вот видишь, пап! Ошибся твой Эйнштейн! Местоимения<br>
        движутся быстрее света!
      </p>
    </div>
    <div style="width: 326px; height: 500px; float: right; margin: 0 44px 0 0;">
      <div class="image-shadow" style="width: 326px; height: 445px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/einshtein.jpg" width="100%" height="100%" alt="Эйнштейн">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 16px 0 0 0;">
        Ошибка гения?
      </p>
    </div>
  </div>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 55px 0 38px 0;">
    Любовь и радость
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 77px; line-height: 22px;">
    Когда они маленькие и любят вас, они дарят красивые цветы. Иногда – деревья. С корнями!
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 77px; line-height: 22px;">
    Когда вырастают, дарят радость. Не проходит нескольких дней, чтобы не раздался телефонный звонок: «Ольга<br>
    Олеговна! А я уже пишу кандидатскую! По филологии!»<br>
    «А я уже снимаю свой первый (пятый-десятый) фильм!»<br>
    «А я уже журналист (дизайнер, врач)... Спасибо за всё!»
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 77px; line-height: 22px;">
    Бывший двоечник Сашка сбежал ко мне. За ним – его девочка. Родители настаивали на поступлении в какой-то<br>
    технический вуз. Сашка шумел: «Буду педагогом, как Ольга Олеговна!»
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 77px; line-height: 22px;">
    Таки он им стал. Причём роскошным, от Бога. Но очень хочет, чтобы его детей (да-да, время летит, у них уже<br>
    дети!) учила я и только я.
  </p>
  <p class="light-blue bold size-24 font-verdana center" style="margin: 59px 0 30px 0;">
    Выбор
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 68px; line-height: 22px;">
    Я никогда не считала своё дело работой и никогда не относилась к своему занятию как к работе. Для меня это<br>
    Радость, Созидание, Творчество.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 68px; line-height: 22px;">
    Наш язык очень хорошо отражает  разницу этих слов. Сравните: <span class="bold">раб</span>ота, за<span class="bold">раб</span>оток, <span class="bold">раб</span>очий – от слова «<span class="bold">раб</span>».<br>
    Однокоренные слова.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 68px; line-height: 22px;">
    Творчество – от слова «<span class="light-blue bold">Творец</span>». Со<span class="blue">твор</span>ить ЧЕЛОВЕКА... Между <span class="light-blue bold">ТВОРЦОМ</span> и <span class="bold">рабом</span> – какой тут ещё может быть<br>
    выбор?
  </p>
  <div style="padding-top: 15px; height: 500px;">
    <div style="width: 625px; height: 500px; margin: 0 auto;">
      <div class="image-shadow" style="width: 625px; height: 444px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/neiro/bird1.jpg" width="100%" height="100%" alt="Птичка">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="blue size-14 font-verdana center" style="margin: 16px 0 0 0;">
        Алисия, дошкольница. <span class="tag">Птичка на песке</span>
      </p>
    </div>
  </div>
  <div class="center" style="width: 625px; margin: 0 auto;padding-left: 120px;">
    <p class="light-blue left font-verdana bold" style="margin: 37px 0 48px 0; line-height: 56px; font-size: 26px;">
    Провожая ребёнка в жизнь,<br>
    Что дадите ему в дорогу:<br>
    <span style="margin: 0 0 0 3em;">Квартиру?</span><br>
    <span style="margin: 0 0 0 8em;">Машину?</span><br>
    <span style="margin: 0 0 0 12.5em;">Деньги?</span><br>
    Дайте детям хорошее образование –<br>
    И они добьются всего сами!
    </p>
    <p class="blue size-14 font-verdana" style="margin: 0 -200px 0 0; line-height: 21px;">
      <span class="size-18 blue bold">Ольга Веровенко,</span><br>
      <span style="margin-left: 106px;">ваш друг,</span><br>
      <span style="margin-left: 146px;">ваш педагог,</span><br>
      <span style="margin-left: 155px;">ваш Мастер</span>
    </p>
    <p class="blue size-14 font-verdana" style="margin: 5px -200px 0 0; line-height: 21px;">
      <a href="[exec] include get_template_directory().'/links.php'; echo $obshchee_predsavlenie; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px; margin-left: 40px; position: relative;"><span class="size-18 light-blue bold">Давайте познакомимся?</span></a>
    </p>
  </div>
  <div style="width: 350px; margin: 80px auto 50px; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
  </div>
  <p class="dark-blue font-verdana size-24 center line-height-23" style="margin: 83px 0 50px 0; padding-bottom: 100px;">
    <a onClick="history.back()" href="#" style="text-decoration: none; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;">
      <span class="blue bold" style="border-bottom: 1px solid #4A4A4A;">К другим статьям</span>
    </a>
  </p>
</div>
[/raw]
