[raw]
<div class="_js-link _js-speed _js-settings" data-delay-before-each="2" data-speed="1.3" data-link="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_nejro.'?target=english'; [/exec]" style="width: 100%; height: 100%; position: fixed; z-index: 4; overflow: hidden; background-color: white; top: 0; left: 0;">
<div class="slider" style="width: 100%; height: 100%; position: absolute; z-index: 4; overflow: hidden; top: 0px;">
  <div class="slider-content" style="width: 100%; height: 100%; margin: 0 0 0 0;">
    <div class="animation-opacity active" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 3; opacity: 1;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/cosmocentr.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sputnik.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/moon.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sky.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/cosmoship.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/mountain.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sputnik2.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/stars.gif);background-size: cover; background-position: 50% 100%;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/upiter.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/spaceman.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/gate.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/darkness.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/planet.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/starssky.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/road.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/avatar.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/dart.jpg);background-size: cover;background-position-x: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sunshine2.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/castle.jpg);background-size: cover; background-position: center;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sunshine.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/moonman.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/pandora.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/jupiter.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/daimond.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/spaceman1.jpg);background-size: cover; background-position: 50% 100%;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sword.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/door.jpg);background-size: cover;"></div></div>
    <div class="animation-opacity _next" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden;"><div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/pegas.jpg);background-size: cover;"></div></div>
  </div>
  <div class="buttons-slider" style="opacity: 0;">
    <span class="button-slider active">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span><span class="button-slider">•</span>
  </div>
  <div style="margin: 0 0 0 0;">
    <div class="description active animate" style="position: absolute; z-index: 3; top: 150px; width: 100%; overflow: hidden; margin: 0; opacity: 1;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(92,133,169, 0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;<span class="italic">NL</span>-обучение&#160;</span></span></p>
      <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(92,133,169, 0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;максимальной&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(92,133,169, 0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;результативности&#160;</span></span></p>
      </div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 150px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Ультрасовременный&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;мегакурс&#160;</span></span></p>
      <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -50px 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">экстра-класса</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 50px 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Метод-новинка&#160;</span></span></p>
      <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale tag" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 112px;text-shadow: 2px 2px 3px black;">ВЕРТИКАЛЬНЫЙ ВЗЛЁТ</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 88px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Космические скорости&nbsp;<span class="normal">–</span>&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 7px white;text-shadow: 2px 2px 3px black;">&#160;фантастический результат!&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold left" style="font-size:90px; line-height: 60px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;В 20 раз&#160;</span></span></p>
      <p class="white font-verdana bold left" style="font-size:90px; line-height: 60px; margin: -20px 0 0 450px;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;быстрее&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold left" style="font-size:90px; line-height: 60px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;В 20 раз&#160;</span></span></p>
        <p class="white font-verdana bold left" style="font-size:90px; line-height: 60px; margin: -20px 0 0 450px;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;легче&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:90px; line-height: 112px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 112px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;В 20 раз&#160;</span></span></p>
      <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -50px 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">эффективнее</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 88px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Академический курс&nbsp;<span class="normal">–</span>&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;font-size:150px;">молниеносно!</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Результат устойчив&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:105px; line-height: 136px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 136px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;text-transform: initial;">&#160;Лучшего в мире нет!&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 0px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:40px; line-height: 60px; margin: 30px 0 0 0;">
      <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 56px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Приоритет подтверждён&#160;</span></span><br>
      <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 56px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Международной экспертизой PCT&#160;</span></span></p>
      <div class="description__hide-block" data-speed="3" style="width: 1000px; height: 400px; margin: 100px auto 0; opacity: 0;">
        <div style="display: inline-block; width: 254px; height: 376px; float: left; margin: 0 0 7px 0;">
        <div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;box-shadow: 2px 2px 3px black;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1.jpg" width="100%" height="100%" alt="Патент Германия"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 127px;">
        </div>
        </div>
        <div style="display: inline-block; margin: 0 0 0;">
        <p class="white size-24 font-arial bold center" style="margin: 270px 0 0 0; line-height: 27px;">
          <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 27px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">Российский</span></span><br>
          <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 27px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">и международный патенты</span></span><br>
          <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 27px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">на изобретение</span></span>
        </p>
        </div>
        <div style="display: inline-block; width: 254px; height: 376px; float: right; margin: 0 0 7px 0;">
        <div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;box-shadow: 2px 2px 3px black;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2.jpg" width="100%" height="100%" alt="Патент Россия"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 127px;">
        </div>
        </div>
      </div></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 0px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold left animate-desc-parent" style="font-size:60px; line-height: 60px; margin: 20px 0 0 0;">
      <span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="line-height: 56px; display: inherit;text-shadow: 2px 2px 3px black;">Качество НАИВЫСШЕЕ</span></span></p>
      <p class="white font-verdana bold left animate-desc-parent" style="font-size:48px; line-height: 60px; margin: 30px 0 0 0;">
      <span class="animate-desc" style="margin:0 0 0 0; white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;"><span style="line-height: 56px; display: inherit;text-shadow: 2px 2px 3px black;">Три Знака Качества Госстандарта РФ</span></span></p>
      <div class="description__hide-block" data-speed="3" style="width: 750px; height: 360px; margin: 50px auto 0; opacity: 0;">
        <div style="position: absolute;">
        <p class="white size-14 font-arial bold center" style="margin: 0 0 6px; line-height: 16px;text-shadow: 2px 2px 3px black;">
          Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ<br>
          с категорией <span class="tag">Качество наивысшее</span>.
        </p>
        <p class="white size-14 font-arial bold center" style="margin: 0; line-height: 16px;text-shadow: 2px 2px 3px black;">
          У нас таких три!
        </p>
        </div>
        <div style="width: 413px; height: 285px; float: left; margin: 58px 0 10px 9px;">
        <div class="image-shadow in" style="width: 413px; height: 285px; cursor: pointer;box-shadow: 2px 2px 3px black;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1.jpg" width="100%" height="100%" alt="Сертификат"></a>
        </div>
        <div class="image-shadow-right-1">
        </div>
        <div class="image-shadow-left-1">
        </div>
        </div>
        <div style="width: 246px; height: 344px; float: right; margin: 0 0 10px 0;">
        <div class="image-shadow in" style="width: 246px; height: 344px; cursor: pointer;box-shadow: 2px 2px 3px black;">
          <a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2.jpg" width="100%" height="100%" alt="Сертификат"></a>
        </div>
        <div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
        </div>
        <div class="image-shadow-left-1" style="width: 123px;">
        </div>
        </div>
      </div></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 170px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Безупречная грамматика&#160;</span></span></p>
      <p class="white font-verdana bold center" style="font-size:130px; line-height: 112px; margin: 0px 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">в полном объёме</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:110px; line-height: 112px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 190px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Много лексики&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Чтение, речь, перевод&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 220px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Навыки общения&#160;</span></span></p>
      <p class="white font-verdana bold center" style="font-size:100px; line-height: 112px; margin: -30px 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 190px;text-shadow: 2px 2px 3px black;">на английском языке</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 350px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Зубрёжки правил нет&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Домашние задания минимальны&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 280px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Нагрузки посильны&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Элитное обучение экстра-класса&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 280px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Взрослым и школьникам&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 280px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Начинающим и продвинутым&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Идеально для ГИА, ЕГЭ, ОГЭ&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Программа для каждого из вас&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;строится индивидуально&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;<span class="italic">NL</span>&#8209;обучение&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Вместо долгих лет труда&nbsp;<span class="normal">–</span>&#160;</span></span><br>
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;всего несколько занятий!&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 250px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:60px; line-height: 68px; margin: 0 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc" style="line-height: 68px; background-color: rgba(0,101,169,0); border-radius: 30px; display: inherit; opacity: 0; overflow: hidden;text-shadow: 2px 2px 3px black;">&#160;Шикарные учебники в подарок!&#160;</span></span></p></div></div></div>
    <div class="description" style="position: absolute; z-index: 3; top: 200px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;">
      <p class="white font-verdana bold center" style="font-size:150px; line-height: 112px; margin: -50px 0 0 0;">
        <span class="animate-desc-parent left" style="margin:0 0 0 0; white-space: nowrap; display: inline-block;"><span class="animate-desc anim-scale" data-speed="0.85" style="white-space: nowrap; overflow: hidden; display: inline-block;opacity: 0;transform: scale(0.3);-webkit-backface-visibility: hidden;-webkit-transition: translate3d(0,0,0);-webkit-transform-style: preserve-3d;-webkit-perspective: 1000;-webkit-transition-property: font-size;transition-property: opacity,transform;-webkit-transition-duration: 0.85s;transition-duration: 0.85s;-webkit-transition-timing-function: ease-in;transition-timing-function: ease-in;line-height: 215px;text-shadow: 2px 2px 3px black;">ПОЕХАЛИ!..</span></span></p></div></div></div>
    <div class="description" data-delay-click="24" data-delay-click-mobile="3" style="position: absolute; z-index: 3; top: 0px; width: 100%; overflow: hidden;">
      <div class="div-scale-parent" style="position: relative; float: right; right: 50%;"><div class="center div-scale" style="z-index: 1; overflow: hidden; margin: 0 0 1px; position: relative; float: left; left: 50%;"></div></div></div>


  </div>
</div>
</div>
[/raw]