<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #001dcc; top: -86px; left: 0; right: 0; border-bottom: 1px solid white;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;height: 86px; overflow: hidden;width: 30%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: white;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 70%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span style="color:white;">СКИДКИ</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi_smi; [/exec]"><span style="color:white;">СМИ</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $otzivi; [/exec]"><span style="color:white;">ОТЗЫВЫ И КОНТАКТЫ</span></a></div>
		</div>
	</div>
</div>
<div class="first-picture" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/stars.gif); background-size: cover;">
	<div class="div-center" style="margin: 86px 0 0;">
		<div>
			<p class="white font-arial size-36 bold" style="line-height: 47px; margin: 0;">
				Авторская школа-студия<br>
				<span style="margin: 0 0 0 255px;">профессора</span><br>
				<span style="margin: 0 0 0 367px;">Ольги Олеговны Веровенко</span>
			</p>
			<div style="float: left; margin: 131px 0 0 56px;">
				<p class="white font-verdana bold" style="font-size: 60px; margin: 0;">English</p>
			</div>
			<div style="float: right; margin: 137px 30px 0 0;">
				<p class="white font-arial size-36 bold" style="margin: 0;"><span class="italic">NL</span>-обучение</p>
			</div>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/cosmocentr.jpg); background-size: cover;">
	<div class="div-center" style="margin: 100px 0 0;">
		<div style="width: 950px;">
			<p class="white font-verdana size-24" style="line-height: 38px; margin: 0 0 0 0;">
				Уникальный метод-новинка<br>
				<span class="tag size-36">Вертикальный взлёт</span>
			</p>
			<p class="white font-arial size-36" style="margin: 400px 0 0;">
				Ультрасовременный мегакурс экстра-класса
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sky.jpg); background-size: cover;">
	<div class="div-center" style="margin: 14px 0 0;">
		<div>
			<p class="white font-arial size-36" style="margin: 0 0 41px;">
				Космические скорости. Фантастический результат!
			</p>
			<p class="white font-verdana size-20" style="margin: 0; line-height: 27px;">
				<span class="tag">Вертикальный взлёт</span> в 15–20 раз эффективнее,<br>
				мощнее, ярче всего того, к чему вы привыкли.<br>
				Вы достигнете желаемого в 15–20 раз быстрее, легче, проще.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sputnik.jpg); background-size: cover;">
	<div class="div-center" style="margin: 13px 0 0; width: 1144px;">
		<div>
			<p class="white font-arial size-36" style="margin: 0 0 19px;">
				Уникальное изобретение
			</p>
			<p class="white font-verdana size-20" style="margin: 0 0 23px; line-height: 25px;">
				<span class="tag">Вертикальный взлёт</span> <span class="font-arial">–</span> уникальная новинка,<br>
				запатентованная в России и за рубежом.
			</p>
			<p class="white font-verdana size-20" style="margin: 0; line-height: 25px;">
				В области нейролингвистики – современной<br>
				науки об усвоении информации<br>
				человеческим мозгом – это изобретение<br>
				первое и пока единственное в мире.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/gate.jpg); background-size: cover;">
	<div class="div-center" style="margin: 15px 0 0;">
		<div>
			<p class="white font-verdana size-24 center" style="margin: 0 0 230px; line-height: 30px;">
				Международная экспертиза PCT в Женеве<br>
				подтвердила: ничего подобного в мире нет!
			</p>
			<div style="width: 944px; height: 400px;">
				<div style="width: 254px; height: 376px; float: left; margin: 0 0 7px 0;">
					<div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent1.jpg" width="100%" height="100%" alt="Патент Германия"></a>
					</div>
					<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
					</div>
					<div class="image-shadow-left-1" style="width: 127px;">
					</div>
				</div>
				<div style="float: left; margin: 0 0 0 37px;">
					<p class="white size-18 font-arial bold center" style="margin: 310px 0 0 0; line-height: 27px;">
						Российский и международный патенты<br>
						на изобретения.
					</p>
				</div>
				<div style="width: 254px; height: 376px; float: right; margin: 0 0 7px 0;">
					<div class="image-shadow in" style="width: 254px; height: 360px; cursor: pointer;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/patent2.jpg" width="100%" height="100%" alt="Патент Россия"></a>
					</div>
					<div class="image-shadow-right-1" style="width: 127px; background-position: -183px 0px;">
					</div>
					<div class="image-shadow-left-1" style="width: 127px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/moon.jpg); background-size: cover;">
	<div class="div-center" style="margin: 2px 0 0; width: 836px;">
		<div>
			<p class="white font-arial size-36" style="margin: 0 0 15px;">
				Английский быстро
			</p>
			<p class="white font-verdana size-20" style="margin: 0 0 0; line-height: 25px;">
				Курс <span class="tag">Вертикальный взлёт</span> из 12 занятий (по 3 ак.часа каждое)<br>
				заменяет 600–700 часов традиционного обучения –<br>
				два года ежедневных занятий по часу в день!
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/cosmoship.jpg); background-size: cover;">
	<div class="div-center" style="margin: 34px 0 0;">
		<div>
			<p class="white font-verdana size-30 center" style="margin: 0 0 520px;">
				Безупречный английский
			</p>
			<p class="white font-verdana size-20 center" style="margin: 0 0 0; line-height: 25px;">
				Английский даётся в полном объёме: безупречная грамматика, много лексики, чтение,<br>
				<span style="margin: 0 0 0 399px;">речь, произношение, перевод, синхронирование.</span>
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/mountain.jpg); background-size: cover;">
	<div class="div-center" style="margin: 37px 0 0;">
		<div style="width: 900px;">
			<div style="float: right; margin: 0 0 127px;">
				<p class="white font-arial size-36 right" style="margin: 0 0 10px; width: 600px;">
					Английская грамматика
				</p>
				<p class="white font-verdana size-20" style="margin: 0 0 0; line-height: 25px;">
					Специально разработанные на основе нейролингвистики<br>
					грамматические синхроны позволят вам безупречно<br>
					овладеть английской грамматикой без зубрёжки.
				</p>
			</div>
			<div class="clearfix"></div>
			<p class="white font-verdana size-20 center" style="margin: 0 458px 0 0; line-height: 25px;">
				Качественная подготовка<br>
				к ЕГЭ, ГИА.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sputnik2.jpg); background-size: cover;">
	<div class="div-center" style="margin: 14px 0 0; width: 1144px;">
		<div>
			<p class="white font-arial size-36" style="margin: 0 0 24px;">
				Английская речь
			</p>
			<p class="white font-verdana size-20" style="margin: 0 0 23px; line-height: 25px;">
				<span class="bold">Система нейролингвистических<br>
				синхронов</span> позволяет обрести навык<br>
				беглой, безупречно правильной<br>
				английской речи на уровне НАВЫКА,<br>
				РЕФЛЕКСА, АВТОМАТИЗМА – НА УРОВНЕ<br>
				ПОДСОЗНАНИЯ.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/upiter.jpg); background-size: cover;">
	<div class="div-center" style="margin: 17px 0 0; width: 1024px;">
		<div style="float: right;">
			<div style="margin: 0 0 0;">
				<p class="white font-verdana size-30" style="margin: 0 0 24px;">
					Английские слова
				</p>
				<p class="white font-verdana size-20" style="margin: 0 0 23px; line-height: 25px;">
					Нейролингвистическая подача и<br>
					особая система лексических синхронов<br>
					позволят вам освоить огромное<br>
					количество английских слов.
				</p>
				<p class="white font-verdana size-20" style="margin: 0 0 23px; line-height: 25px;">
					Причём усваивать слова вы<br>
					будете молниеносно – практически<br>
					с первого предъявления.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/spaceman.jpg); background-size: cover;">
	<div class="div-center bg-center" style="margin: 105px 0 0; width: 750px;">
		<div>
			<p class="white font-verdana size-20" style="margin: 0 0 23px; line-height: 31px; background-color: rgba(92,133,169, 0.6); border-radius: 15px; padding: 10px;">
				Система <span class="italic">NL</span>-синхронов<br>
				<span class="bold">многократно</span> улучшает<br>
				и тренирует память.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/planet.jpg); background-size: cover;">
	<div class="div-center" style="margin: 26px 0 0; width: 916px;">
		<div>
			<p class="white font-arial size-30" style="margin: 0 0 33px;">
				Коррекция проблем
			</p>
			<p class="white font-verdana size-20" style="margin: 0 0 57px; line-height: 25px;">
				Нейролингвистические синхроны<br>
				позволяют одновременно, без потерь<br>
				времени и сил, обучать английскому<br>
				и корректировать любые проблемы,<br>
				связанные с плохим восприятием<br>
				иностранных языков (дислексия,<br>
				дисграфия, <span class="tag">школьный</span> невроз,<br>
				низкая концентрация внимания).
			</p>
			<p class="white font-verdana size-20 bold" style="margin: 0 0 23px; line-height: 31px;">
				Изучение любых языков<br>
				становится для вас лёгким,<br>
				молниеносным.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/starssky.jpg); background-size: cover;">
	<div class="div-center" style="margin: 51px 0 0;">
		<div>
			<p class="white font-verdana size-24 bold center" style="margin: 0 0 74px; line-height: 30px;">
				Зубрёжки правил нет.<br>
				Домашних заданий нет.<br>
				Перегрузок нет.<br>
				Ограничений в приёме нет.
			</p>
			<p class="white font-verdana size-20 center" style="margin: 0 0 23px; line-height: 25px;">
				График любой.<br>
				Английский индивидуально<br>
				или в вашей мини-группе (семья, друзья, коллеги).<br>
				Возможен выезд к вам.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/dart.jpg); background-size: cover;">
	<div class="div-center bg-center" style="margin: 78px 0 0;">
		<div style="width: 850px">
			<div style="float: left;">
				<p class="white font-verdana size-20" style="margin: 0 0 0; line-height: 25px;">
					Магия, зомбирование<br>
					и ремень в обучении<br>
					не применяются!
				</p>
			</div>
			<div style="float: right;">
				<p class="white font-arial italic" style="margin: 0 40px 0 0; font-size: 48px;">
					NO!
				</p>
			</div>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/flower.jpg); background-size: cover;">
	<div class="div-center" style="margin: 25px 0 0;">
		<div style="width: 1144px;">
			<p class="white font-verdana size-36 bold" style="margin: 0 0 7px;">
				Persona Grata...
			</p>
			<p class="white font-verdana size-20 bold" style="margin: 0 0 0; line-height: 25px;">
				Кто это? Может быть, Вы?<br>
				Смотрите внимательно сайт!
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sunshine1.jpg); background-size: cover;">
	<div class="div-center" style="margin: 11px 0;">
		<div style="width: 942px;">
			<p class="white font-arial size-36" style="margin: 0 0 20px;">
				Качество НАИВЫСШЕЕ
			</p>
			<p class="white font-verdana size-24" style="margin: 0 0 0; line-height: 30px;">
				Это подтверждено тремя Знаками Качества, экспертизами<br>
				и Сертификатами Качества Госстандарта РФ.
			</p>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/moonman.jpg); background-size: cover;">
	<div class="div-center" style="margin: 11px 0 0;">
		<div>
			<div style="height: 360px; margin: -215px 0 0 0;">
				<div style="position: absolute;">
					<p class="white size-14 font-arial bold center" style="margin: 0 0 6px; line-height: 16px;">
						Знак Качества, Сертификат и Акт экспертизы Госстандарта РФ<br>
						с категорией <span class="tag">Качество наивысшее</span>.
					</p>
					<p class="white size-14 font-arial bold center" style="margin: 0; line-height: 16px;">
						У нас таких три!
					</p>
				</div>
				<div style="width: 413px; height: 285px; float: left; margin: 58px 20px 10px 0;">
					<div class="image-shadow in" style="width: 413px; height: 285px; cursor: pointer;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate1.jpg" width="100%" height="100%" alt="Сертификат"></a>
					</div>
					<div class="image-shadow-right-1">
					</div>
					<div class="image-shadow-left-1">
					</div>
				</div>
				<div style="width: 246px; height: 344px; float: right; margin: 0 0 10px 20px;">
					<div class="image-shadow in" style="width: 246px; height: 344px; cursor: pointer;">
						<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/certificate2.jpg" width="100%" height="100%" alt="Сертификат"></a>
					</div>
					<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
					</div>
					<div class="image-shadow-left-1" style="width: 123px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 707px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/sunshine2.jpg); background-size: cover;">
	<div class="div-center" style="margin: 41px 0;">
		<div>
			<p class="white font-verdana size-30 center" style="margin: 0 0 0; line-height: 37px;">
				Все наши награды, патенты, сертификаты,<br>
				Знаки Качества и акты международных экспертиз<br>
				вы сможете увидеть на пробном сеансе.
			</p>
		</div>
	</div>
</div>
<div style="height: 505px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/starssky1.png); background-size: cover;">
	<div class="div-center" style="margin: 23px 0;">
		<div>
			<p class="white font-arial size-36 center" style="margin: 0 0 0;">
				Автор метода
			</p>
		</div>
	</div>
</div>
<div style="height: 505px; background-color: white;">
	<div class="div-center" style="margin: 41px 0;">
		<div>
			<div style="width: 916px; height: 860px; margin: -440px 0 0 0;">
				<div style="float: left; margin: 0 0 0 0;">
					<div style="width: 385px; height: 600px; margin: 0 0 0 0;">
						<div class="image-shadow" style="width: 385px; height: 580px; border: 2px solid rgba(170, 168, 168, 1);">
							<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/verovenko.jpg" width="100%" height="100%" alt="Ольга Олеговна Веровенко">
						</div>
						<div class="image-shadow-right-1">
						</div>
						<div class="image-shadow-left-1">
						</div>
						<p class="dark-blue center size-16 font-verdana" style="margin: 20px 0 9px; line-height: 20px;">
							Профессор<br>
							Ольга Олеговна Веровенко.
						</p>
						<p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
							Доктор психологических наук, кандидат филологических наук.
						</p>
						<p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
							Doctor, Grand Doctor, Professor, Full Professor.
						</p>
						<p class="dark-blue size-16 font-verdana" style="margin: 0 0 9px; line-height: 20px;">
							Декан факультета психологии и&nbsp;спедагогики, сенатор, член учёного совета WUDSES (Брюссель).
						</p>
						<p class="red size-16 font-arial center" style="margin: 18px 0 0 0; line-height: 20px;">
							<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko_new; [/exec]" style="text-decoration: underline; color: red; padding: 20px 30px; margin: 0 -30px; position: relative;"><span class="red">Подробнее</span></a>
						</p>
					</div>
				</div>
				<div style="float: right; margin: 0 0 0 0;">
					<p class="white size-16 font-verdana bold center" style="margin: 0 0 16px; line-height: 21px; color: #7FCCFF;">
						Именем Ольги Веровенко названа<br>
						звезда в созвездии Кассиопеи.
					</p>
					<div style="width: 418px; height: 544px; margin: 0 0 0 0;">
						<div class="image-shadow" style="width: 418px; height: 524px; border: 2px solid rgba(170, 168, 168, 1);">
							<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/verovenkostar.jpg" width="100%" height="100%" alt="Звезда Веровенко">
						</div>
						<div class="image-shadow-right-1" style="width: 123px; background-position: -191px 0px;">
						</div>
						<div class="image-shadow-left-1" style="width: 123px;">
						</div>
					</div>
					<p class="blue size-18 font-arial bold center" style="margin: 0 0 0; line-height: 21px;">
						Звезда Ольга Веровенко<br>
						в созвездии Кассиопеи
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="other-pictures" style="height: 800px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/anglijskij-yazyk/road.jpg); background-size: cover;">
	<div class="div-center" style="margin: 0 0 0;">
		<div style="width: 888px;">
			<div style="margin: 0 0 40px;">
				<p class="white font-verdana size-20 bold center" style="margin: 0 0 0; line-height: 41px; color: #7FCCFF;">
					Ты говоришь: <span class="tag">Как высока та гора!</span><br>
					Нет. Это ты стоишь низко.<br>
					Сделай шаг. Видишь, гора стала ниже?<br>
					Шаг. И ещё шаг...<br>
					Из цепочки шагов сложится<br>
					Самый Блистательный Маршрут.<br>
					Пойдём вместе?
				</p>
			</div>
			<div class="clearfix"></div>
			<p class="white font-verdana size-20 right" style="margin: 0 200px 100px 0; line-height: 41px; color: #7FCCFF;">
				Ольга Веровенко,<br>
				ваш друг, ваш педагог, ваш Мастер
			</p>
			<div style="position: relative; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'">
				<p class="size-30 font-verdana center" style="margin: 0 0 12px 0; line-height: 37px;">
					<a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" style="text-decoration: none; color: #4A4A4A; padding: 50px 0 15px; background-size: auto 88%; background-image: linear-gradient(to top, rgba(191, 191, 191, 1) 0px, rgba(0, 0, 0, 0) 3px, transparent 3px, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0) 59px);"><span class="white">Вход<br>в гиперпространственный портал</span><br><span class="size-20 white" style="display: block;">Условия обучения, стоимость, телефон</span></a><br>
				</p>
				<a class="right carousel-control" style="position: absolute; top: 33px; left: 768px; width: 60px; height: 60px; margin-top: -20px; font-size: 80px; font-weight: 100; line-height: 38px; color: #ffffff; text-align: center; border: 3px solid #ffffff; -webkit-border-radius: 23px; -moz-border-radius: 23px; border-radius: 33px; text-decoration: none;">›</a>
			</div>
			<p class="size-24 center" style="line-height: 30px; margin: 0 0 0 0;"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]" class="b-button _dark-blue normal" style="text-decoration: none; color: #EE1C24; position: relative; padding: 3px 15px; margin: 0 -15px 0;"><span class="white bold" style="">Вам сюда</span></a></p>
		</div>
	</div>
</div>
<div id="img_container"><img src=""></div>