[raw]
<div class="div-wrapper">
  <p class="red bold center size-36 font-verdana" style="margin: 10px 0 5px 0; line-height: 42px;">
    Чудо будет!
  </p>
  <p class="light-blue bold center size-18 font-verdana" style="margin: 0 0 51px 0;">
    Подробности <span class="red italic">NL</span>&#8209;обучения
  </p>
  <div style="width: 960px; height: 394px; padding: 0 0 0 0;">
    <div style="width: 360px; height: 394px; float: left; margin: 0 0 0 10px;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Детей нельзя учить, как взрослых. С&nbsp;детьми можно только играть. В&nbsp;том числе в&nbsp;русский, английский, чтение. Они будут делать это самозабвенно, забывая всё на&nbsp;свете.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        <span class="tag">Гм,&nbsp;– сказали взрослые, серьёзные и&nbsp;умные,&nbsp;– мы&nbsp;тоже не&nbsp;прочь... так сказать... поиграть... м&#8209;да!</span>
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Так оформились (на&nbsp;базе <span class="tag">Врождённой грамотности</span>) технологии нейролингвистического обучения&nbsp;– яркие, интересные, игровые, необычайно результативные.
      </p>
      <p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Пожалуйста, не&nbsp;путайте нейролингвистику с&nbsp;NLP (нейролингвистическим программированием)!
      </p>
    </div>
    <div style="width: 534px; height: 394px; float: right; margin: 0 37px 0 0;">
      <div class="image-shadow" style="width: 534px; height: 321px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/butterfly2.jpg" width="534" height="321" alt="Бабочка">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
  </div>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 21px 0"><a href="[exec] include get_template_directory().'/links.php'; echo $nejrolingvistika; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="lilac center size-14 font-verdana" style="margin: 0;">
    Вам сюда<br>
    Кликните, пожалуйста, по клавише!
  </p>
  <p class="yellow bold center size-14 font-verdana" style="margin: 30px 0 0;">
    Другие статьи&nbsp;– крутите вниз!
  </p>
  <p class="blue bold center size-36 font-verdana" style="margin: 68px 0 5px 0; line-height: 42px;">
    Он лентяй или болен?
  </p>
  <p class="dark-blue center size-18 font-verdana" style="margin: 0 0 51px 0;">
    Коррекция проблем обучения
  </p>
  <div style="width: 980px; height: 315px;">
    <div style="width: 522px; height: 315px; float: left; margin: 0 0 0 1px; position: relative;">
      <div class="image-shadow" style="width: 522px; height: 299px; border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/boy-lent.jpg" width="522" height="299" alt="Плачущий мальчик">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 410px; height: 315px; float: right; margin: 0 30px 0 0">
      <p class="yellow size-20 center font-verdana bold" style="margin: 70px 0 21px 0; line-height: 31px;">
        О дислексии,<br>
        дисграфии,<br>
        <span class="tag">школьном</span> неврозе,<br>
        низкой концентрации внимания<br>
        и других проблемах<br>
        обучения
      </p>
    </div>
  </div>
  <p class="dark-blue size-14 font-verdana" style="margin: 55px 0 24px 8px; line-height: 17px;">
    <span class="yellow size-20 bold tag">Мой меч – твоя голова с плеч!</span> – этот подход в данном случае неприемлем.
  </p>
  <p class="dark-blue size-14 font-verdana" style="margin: 12px 0 26px 8px; line-height: 17px;">
    Давайте разберёмся в проблеме, после чего наилучший способ её решения сам <span class="tag">прыгнет</span> вам в руки – в виде какой-либо<br>
    из наших технологий обучения.
  </p>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 21px;"><a href="[exec] include get_template_directory().'/links.php'; echo $on_lentjaj; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="lilac center size-14 font-verdana" style="margin: 0;">
    Вам сюда<br>
    Кликните, пожалуйста, по клавише!
  </p>
  <p class="blue bold center size-36 font-verdana" style="margin: 68px 0 51px 0; line-height: 42px;">
    У кого есть глупо дитятко?<br>
    У кого их только нет...
  </p>
  <div style="width: 960px; height: 415px; padding: 0 0 0 0;">
    <div style="width: 360px; height: 415px; float: left; margin: 0 0 0 10px;">
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Ваш ребёнок&nbsp;– хороший человечек, пятёрочник по&nbsp;физике, математике, истории, чему угодно, кроме русского языка. Ну&nbsp;не может он&nbsp;писать без ошибок!
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Вот с&nbsp;такой проблемой приходят к&nbsp;нам на&nbsp;курсы &laquo;Врождённой грамотности&raquo;.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Мы&nbsp;берём за&nbsp;основу существующий в&nbsp;реальной жизни феномен&nbsp;– врождённую грамотность.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Речь идёт о&nbsp;людях, зачастую весьма поверхностно знающих правила, но&nbsp;тем не    менее практически не&nbsp;делающих ошибок при письме. Они обладают <span class="blue bold">врождённой грамотностью</span>.
      </p>
      <p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
        Что же это за феномен такой?
      </p>
    </div>
    <div style="width: 534px; height: 415px; float: right; margin: 0 37px 0 0;">
      <div class="image-shadow" style="width: 534px; height: 321px;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/stoimost/wall.jpg" width="534" height="321" alt="Грамотность. Китайская стена?..">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
      <p class="dark-blue size-14 font-arial bold center" style="margin: 13px 0 0 0; line-height: 16px;">
        Грамотность. Китайская стена?..
      </p>
    </div>
  </div>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 21px;"><a href="[exec] include get_template_directory().'/links.php'; echo $glupo_ditjatko; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="lilac center size-14 font-verdana" style="margin: 0;">
    Вам сюда<br>
    Кликните, пожалуйста, по клавише!
  </p>
  <p class="light-blue bold size-36 font-verdana center" style="margin: 60px 0 0 0; padding: 0 0 0 0; line-height: 52px;">
    Безупречный английский
  </p>
  <p class="blue size-18 bold font-verdana center" style="margin: 0 0 0 0; line-height: 26px;">
    Космические скорости <span class="normal">–</span> фантастический результат!
  </p>
  <div style="width: 980px; height: 523px; margin: 0 0 0 0; padding: 44px 0 40px;">
    <div style="width: 521px; height: 523px; float: left; margin: 0 0 0 10px; position: relative;">
      <div class="image-shadow" style="width: 521px; height: 390px; border: 2px solid #AAA8A8;">
        <img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/russkij-yazyk/buran.jpg" width="521" height="390" alt="Космический корабль">
      </div>
      <div class="image-shadow-right-1">
      </div>
      <div class="image-shadow-left-1">
      </div>
    </div>
    <div style="width: 423px; height: 523px; float: right; margin: 0 0 0 0">
      <p class="red size-26 font-arial bold" style="margin: 0 0 21px 0; line-height: 36px;">
        Ультрасовременный<br>мегакурс экстра-класса
      </p>
      <p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
        Взрослым, школьникам. Начинающим и продвинутым.
      </p>
      <p class="blue bold size-14 font-arial" style="margin: 0 0 21px 0;  line-height: 22px;">
        Академическая версия <span class="light-blue bold">МОЛНИЕНОСНО</span>. Безупречная<br>
        грамматика. Много лексики. Богатая практика.
      </p>
      <p class="blue bold size-14 font-arial" style="margin: 0 0 0 0; line-height: 22px;">
        <span class="dark-blue normal">Вот что вы&nbsp;сможете уже на&nbsp;первом занятии:</span>
      </p>
      <ul class="grey size-14 font-arial" style="margin: 0px 20px 22px; line-height: 21px;">
        <li><span class="blue">Обработать до&nbsp;30&nbsp;страниц компьютерного текста. Перевести его с&nbsp;русского на&nbsp;английский и&nbsp;обратно <span class="bold">без словаря со&nbsp;скоростью беглой речи</span>.</span></li>
        <li><span class="blue">Поговорить. Построить самостоятельно множество разговорных фраз на&nbsp;английском языке.</span></li>
        <li><span class="blue">Грамотное письмо, чтение, произношение.</span></li>
        <li><span class="blue">Много новых слов&nbsp;– более 150&nbsp;на первом&nbsp;же занятии.</span></li>
      </ul>
      <p class="light-blue bold size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
        Зубрёжки правил нет. Домашние задания минимальны.
      </p>
      <p class="dark-blue size-14 font-arial" style="margin: 0 0 21px 0; line-height: 22px;">
        Очень хорошо идут занятия в&nbsp;семейной мини-группе. Слабые участники быстро подтягиваются за&nbsp;более сильными.<br>
        Длительность обучения:<br>
        <span class="blue bold">12-36 занятий по 3 ак. часа (36-108 ак. часов)</span>.
      </p>
    </div>
  </div>
  <p class="size-18 center" style="line-height: 30px; margin: 0 0 21px;"><a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazik; [/exec]" class="b-button _mix-purple-orange" style="text-decoration: none; color: #EE1C24; position: relative; padding: 0 10px; margin: 0;"><span class="white bold" style="">Читать далее</span></a></p>
  <p class="lilac center size-14 font-verdana" style="margin: 0 0 37px;">
    Вам сюда<br>Кликните, пожалуйста, по клавише!
  </p>
</div>
[/raw]