<div class="nav" style="width: 100%; height: 86px; position: fixed; z-index: 9999; overflow: hidden; background-color: #fff; top: -86px; left: 0; right: 0;">
	<div style="display: table; width: 100%; margin: 0 auto; line-height: 86px; padding: 0 40px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
		<div style="font-family: 'Playfair Display';font-size: 36px;text-transform: none;text-decoration: none;letter-spacing: 1px;font-weight: 400;font-style: normal;margin: 0;padding: 0;display: table-cell;height: 86px; overflow: hidden;width: 25%;vertical-align: middle;line-height: 1em;z-index: 8002;position: relative;"><a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: none; color: #ff6947;">Olga Verovenko</a></div>
		<div class="art-nav" style="display: table-cell;width: 75%;text-align: right;vertical-align: middle;">
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_page_vibor; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya_page_vibor; [/exec]"><span class="yellow">СТОИМОСТЬ, ТЕЛЕФОН</span></a></div>
			<div style="float: right;margin: 0 0 0 33px; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $usloviya_obucheniya; [/exec]"><span class="yellow">УСЛОВИЯ ОБУЧЕНИЯ</span></a></div>
			<div style="float: right;margin: 0 0 0 0; cursor: pointer;" onclick="location.href='[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]'"><a href="[exec] include get_template_directory().'/links.php'; echo $zastavka; [/exec]"><span class="yellow">К НАВИГАЦИИ</span></a></div>
		</div>
	</div>
</div>
<div class="div-wrapper_padding">
	<div class="div-shadow_white" style="margin: 9px 0 35px;">
		<p class="blue size-24 font-verdana bold" style="margin: 0 0 30px 15px; padding: 5px 0 0;">
			Поздравления, отзывы, благодарности
		</p>
		<p class="yellow bold size-18 font-verdana center" style="margin: 0 0 11px 0;">
			Авторской школе профессора Ольги Олеговны Веровенко
		</p>
		<p class="red bold size-30 font-verdana center" style="margin: 0 0 0 0;">
			25 лет!
		</p>
		<div style="width: 960px; height: 424px; padding: 59px 0 50px 0;">
			<div style="width: 536px; height: 424px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 536px; height: 408px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/sobyanin.jpg" width="100%" height="100%" alt="Сергей Собянин">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 400px; height: 424px; float: right; margin: 0 -8px 0 0;">
				<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 0 0 42px 0;">
					Уважаемая Ольга Олеговна!
				</p>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Сердечно поздравляю Вас!
				</p>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Спасибо за участие в развитии городской<br>
					образовательной среды.
				</p>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Для меня лично важно Ваше активное участие<br>
					в жизни нашего любимого города.
				</p>
				<p class="blue bold size-14 font-verdana" style="margin: 0 0 83px 0; line-height: 22px;">
					Желаю Вам, Вашим родным и близким<br>
					здоровья, счастья и благополучия.
				</p>
				<p class="yellow size-16 center font-verdana bold" style="margin: 0 0 0 0; line-height: 25px;">
					Ваш Мэр<br>
					Сергей Собянин
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0 0;">
			Мы любим Вас, дорогая Ольга Олеговна!
		</p>
		<div style="width: 960px; height: 652px; padding: 0 0 25px 0;">
			<div style="width: 453px; height: 652px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 453px; height: 338px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/elena-pavlikova.jpg" width="100%" height="100%" alt="Елена Павликов">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="blue bold size-14 font-arial center" style="margin: 16px 0 0 0">Елена Васильевна Павликова</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 57px 0 21px 0; line-height: 22px;">
					Спасибо за радость и любовь, которые Вы	дарите каждую<br>
					минуту, и за тот неиссякаемый источник вдохновения,<br>
					которым Вы делитесь	с нами.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вы наполнили нашу жизнь счастьем и научили нас творить<br>
					это счастье каждую минуту.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 19px 0; line-height: 22px;">
					Подобно тому как Вы зажгли звёздочки в наших душах, мы<br>
					научились оставлять свет в душах других людей.
				</p>
			</div>
			<div style="width: 475px; height: 652px; float: right;">
				<div class="image-shadow" style="width: 475px; height: 338px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/pavlik-pavlikov.jpg" width="475" height="338" alt="Елена Павликов">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="blue bold size-14 font-arial center" style="margin: 16px 0 0 0">Павлик Павликов</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 57px 0 21px 8px; line-height: 22px;">
					Огромное Вам спасибо, Ольга Олеговна!<br>
					За Ваше человеческое отношение, доброту, любовь,<br>
					помощь и понимание.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 8px; line-height: 22px;">
					Вы помогли мне посмотреть на мир новыми глазами.<br>
					После Ваших занятий у меня повысилась успеваемость,<br>
					теперь у меня одни пятёрки!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 64px 8px; line-height: 22px;">
					Вы делаете людей счастливыми даже своим<br>
					присутствием. Наша страна гордится Вами!
				</p>
			</div>
		</div>
		<p class="red bold size-14 font-verdana italic" style="line-height: 22px; margin: 0 15px 21px 15px; padding: 0 0 50px;">Елена Васильевна Павликова, Москва<br>8-916-583-08-93 Звоните мне, дам отзыв!</p>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="red bold size-14 font-verdana italic right" style="line-height: 22px; margin: 0 15px 21px 15px; padding: 40px 0 0;">Елена Васильевна Павликова, Москва<br>8-916-583-08-93 Звоните мне, дам отзыв!</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 15px 21px 15px;">Я&nbsp;мама шестиклассника, который вместо <span class="tag">съехал</span> писал <span class="tag">здыхал</span>. Зеркалил буквы, пропускал слоги, читал еле-еле, с&nbsp;трудом собирая буквы в&nbsp;кучку и&nbsp;безбожно перевирая...</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 15px 21px 15px;">У&nbsp;каких только репетиторов, психологов и&nbsp;специалистов мы&nbsp;не&nbsp;побывали! Нам рекомендовали пить витамины, делать дыхательную гимнастику, заставляли пролезать под стулом (при этом глаза надо направить в&nbsp;одну сторону, а&nbsp;высунутый язык&nbsp;- в&nbsp;другую). Один дядечка рассмеялся и&nbsp;говорит: &laquo;Что&nbsp;вы, мамаша, так переживаете, к&nbsp;сорока годам у&nbsp;него это само пройдет!&raquo;</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 15px 21px 15px;">Я&nbsp;зарыдала и&nbsp;спрашиваю: &laquo;А&nbsp;сейчас-то нам как быть? Как в&nbsp;школе учиться?!&raquo;</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 15px 21px 15px;">И&nbsp;вот попали к&nbsp;Ольге Олеговне на&nbsp;&laquo;Волшебный сеанс&raquo;. Само общение с ней было волшебным. А&nbsp;потом мы ещё взяли нейролингвистический курс &laquo;Чудо будет!&raquo; и&nbsp;английский язык.</p>
		<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 15px 51px 15px;">Сейчас мой Пашка победитель всех городских олимпиад: по&nbsp;русскому, математике, химии, биологии&nbsp;&mdash; всех! И&nbsp;даже второе место во&nbsp;Всероссийской олимпиаде по&nbsp;истории. Учится только на&nbsp;пять и&nbsp;пять с&nbsp;плюсом. Пятерок с&nbsp;минусом у&nbsp;нас не&nbsp;бывает!</p>
		<div style="width: 960px; height: 266px; padding: 0 0 50px 0;">
			<div style="width: 453px; height: 266px; float: left; margin: 0 0 0 5px;">
				<div style="width: 378px; height: 266px; padding: 0 0 0 32px;">
					<div class="image-shadow" style="width: 378px; height: 250px;">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/cvety.jpg" width="378" height="250" alt="Цветы">
					</div>
					<div class="image-shadow-right-1">
					</div>
					<div class="image-shadow-left-1">
					</div>
				</div>
			</div>
			<div style="width: 475px; height: 266px; float: right;">
				<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 5px 33px 42px 0;">
					Вы для нас больше, чем просто учитель!<br>
					Мы любим Вас!
				</p>
				<p class="yellow size-18 font-verdana bold center" style="margin: 0 14px 0 0; line-height: 22px;">
					Елена Васильевна и Павлик Павликовы
				</p>
				<p class="blue size-14 font-arial bold" style="margin: 99px 0 0 -43px; line-height: 16px;">
					Этот цветочек с бабочками мы сфотографировали сами.<br>
					Это наш Вам подарок!
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0;">
			Спасибо, ненаглядная Ольга Олеговна!
		</p>
		<div style="width: 980px; height: 629px; padding: 0 0 50px 0;">
			<div style="width: 411px; height: 629px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow-0" style="width: 411px; height: 486px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/sochinenija/almaeva.jpg);">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="blue size-14 font-arial bold center" style="margin: 25px 0 0 0; line-height: 16px;">
					Юля Алмаева, 10 класс<br>
					(ныне студентка МГУ)
				</p>
				<p class="red size-14 font-arial bold center" style="margin: 25px 0 0 0; line-height: 16px;">
					<a href="[exec] include get_template_directory().'/links.php'; echo $sochinenija; [/exec]" class="normal" style="text-decoration: none; color: #EE1C24; padding: 20px 30px; margin: 0 -30px 0; position: relative;"><span class="yellow" style="border-bottom: 1px solid #4A4A4A;">Работы Юли</span></a>
				</p>
			</div>
			<div style="width: 515px; height: 629px; float: right; margin: 0 15px 0 0;">
				<p class="red bold font-verdana size-14 italic" style="line-height: 22px; margin: 0 0 21px 0;">Галина Ивановна Алмаева, г. Королёв<br>8-915-406-88-91 Звоните мне, дам отзыв!</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;">Мы&nbsp;с&nbsp;мужем люди небогатые, а&nbsp;дочка упёрлась: "Хочу поступать в&nbsp;ИСАА на&nbsp;японистику!"</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;">Какой там ИСАА&nbsp;<span class="normal">–</span> в&nbsp;школе одни трояки с&nbsp;минусом, репетиторы семь дней в&nbsp;неделю, все деньги туда уходят, а&nbsp;результат ноль! Вот такая японистика...</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;">Нашла в&nbsp;интернете информацию о&nbsp;нейролингвисте О.&nbsp;Веровенко. "Поедем, детка, обследуемся, может, с&nbsp;тобой что&nbsp;не&nbsp;так?"</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;">И&nbsp;верно. Оказалась у&nbsp;нас оптическая афазия, дефицит концентрации внимания. Не&nbsp;видит, не&nbsp;воспринимает мозг девочки информацию в&nbsp;полном объеме.</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;">Я&nbsp;заплакала, спрашиваю: "Лечится?"&nbsp;<span class="normal">–</span> "Таблетками не&nbsp;лечится, но&nbsp;откорректировать можно".</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;">Откорректировали! От дюжины репетиторов сразу&nbsp;же отказались за&nbsp;ненадобностью. А&nbsp;через три месяца дочка (уже круглая отличница!) перевелась в&nbsp;прекрасную элитную гимназию, где&nbsp;её, такую умницу, приняли с&nbsp;распростертыми объятиями.</p>
				<p class="dark-blue size-14 font-verdana" style="line-height: 22px; margin: 0 0 21px 0;;">Сейчас дочка учится в&nbsp;МГУ на&nbsp;международном отделении. Побывала не&nbsp;только в&nbsp;Японии, но&nbsp;и&nbsp;поучилась в&nbsp;Америке, Англии по&nbsp;студенческому обмену. Счастливое будущее вот оно, открылось! А&nbsp;не&nbsp;встреть мы Ольгу Олеговну? Страшно подумать!</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0;">
			Это телепатия!
		</p>
		<div style="width: 980px; height: 412px; padding: 0 0 30px 0;">
			<div style="width: 596px; height: 412px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 596px; height: 396px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/sedih.jpg" width="100%" height="100%" alt="Гена Седых">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 296px; margin: 0 31px 0 0; height: 412px; float: right;">
				<div class="image-shadow" style="width: 296px; height: 396px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/sedih1.jpg" width="100%" height="100%" alt="Геннадий Альбертович Седых">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="blue size-18 font-verdana bold center line-height-23" style="margin: 12px 0 42px 0;">
			Дорогая Ольга Олеговна!
		</p>
		<div style="width: 980px; height: 353px; padding: 0 0 0 0;">
			<div style="width: 570px; height: 300px; float: left; margin: 0 0 0 15px;">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 0; line-height: 22px;">
					Я верю в&nbsp;то, что Ольга Олеговна действительно владеет телепатией&nbsp;– передает мысли на&nbsp;расстоянии.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 0; line-height: 22px;">
					Она правил никогда не&nbsp;объясняет. Говорит: "Делай". Начинаешь делать&nbsp;– и&nbsp;почему-то так быстро и&nbsp;легко всё получается, словно само, а&nbsp;необходимые знания, навыки, информация уже внутри тебя!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 0; line-height: 22px;">
					Причём знаешь то, чего сроду не&nbsp;знал, и&nbsp;знания эти остаются в&nbsp;голове навсегда.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 0; line-height: 22px;">
					Мы на&nbsp;занятия ходили вместе с&nbsp;папой. Оба внимательно смотрели: как у&nbsp;неё это получается. Если это не&nbsp;телепатия, а,&nbsp;как она говорит, <span class="tag">подача информации невербальным путем</span>, то&nbsp;она в&nbsp;своей профессии Дэвид Копперфильд!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 0; line-height: 22px;">
					Вот так я&nbsp;сдал ЕГЭ и&nbsp;поступил в&nbsp;институт, где сейчас учусь.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 0; line-height: 22px;">
					Спасибо, Ольга Олеговна, общение с&nbsp;Вами было захватывающим, как приключение!
				</p>
			</div>
			<div style="width: 325px; height: 300px; float: right;">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Как говорится, всё гениальное просто.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вы чудесным образом преподносите<br>
					и вкладываете свои знания, которые<br>
					легко воспринимаются и легко<br>
					применяются на практике.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Искренне рад знакомству с Вами<br>
					и благодарю за подготовку к экзамену сына.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вам всех благ, достойных учеников и<br>
					дальнейших творческих успехов!
				</p>
			</div>
		</div>
		<div style="width: 980px; height: 42px; padding: 0 0 50px 0;">
			<div style="width: 570px; height: 42px; float: left; margin: 0 0 0 15px;">
				<p class="red font-verdana right bold size-14 italic" style="line-height: 22px; margin: 0 40px 21px 0;">Гена (сын) Седых, Москва<br>8-925-202-41-01 Звоните мне, дам отзыв!</p>
			</div>
			<div style="width: 325px; height: 42px; float: right;">
				<p class="red font-verdana right bold size-14 italic" style="line-height: 22px; margin: 0 20px 21px -50px;">Геннадий (папа) Седых, Москва<br>8-926-448-76-31 Звоните мне, дам отзыв!</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0;">
			Вы – настоящая добрая волшебница!
		</p>
		<div style="width: 980px; height: 450px; padding: 0 0 50px 0;">
			<div style="width: 444px; height: 450px; float: left; margin: 0 0 0 15px;">
				<p class="dark-blue size-14 font-verdana center" style="margin: 0 20px 21px 0; line-height: 22px;">
					Дорогая Ольга Олеговна!<br>
					Вы – настоящая добрая волшебница!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Ваши работы по <span class="tag">Четвёртому измерению</span> (психология-<span class="light-blue bold italic">NL</span>)<br>
					запустили во мне сильнейшие преобразования:<br>
					захотелось очистить от ненужных накоплений свою<br>
					квартиру, своё тело и свою душу. Это помогает всей<br>
					моей семье: у сына отступила смертельно опасная<br>
					болезнь.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Измени Реальность вокруг себя – и эта волна докатится<br>
					до окружающих. Будь на волне! Лови Поток! Это<br>
					внушает большие надежды и вдохновляет на новые<br>
					свершения.
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Резко возросла производительность радостного труда,<br>
					как интеллектуального, так и физического.
				</p>
				<p class="blue size-14 font-verdana line-height-23" style="margin: 0 0 22px 0;">
					Благодарю! Благодарю! Благодарю!
				</p>
			</div>
			<div style="width: 464px; height: 450px; float: right; margin: 0 31px 0 0;">
				<div class="image-shadow" style="width: 464px; height: 348px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/nesterenko.jpg" width="100%" height="100%" alt="Ольга Нестеренко, выпускница МГУТУ имени К.Г.Разумовского, педагог-психолог">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="yellow size-14 font-verdana bold" style="margin: 34px 0 0 0; text-align: right; line-height: 22px;">
					Ольга Нестеренко,<br>
					выпускница МГУТУ имени К.Г.Разумовского,<br>
					педагог-психолог
				</p>
			</div>
		</div>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0;">
			Это называется Талант
		</p>
		<p class="red font-verdana right bold size-14 italic" style="line-height: 22px; margin: 0 20px 21px 15px;">Владимир Николаевич Григорьев, Москва<br>кандидат экономических наук<br>8-985-764-31-77 Звоните мне, дам отзыв!</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">Когда мы познакомились с&nbsp;Ольгой Олеговной, у&nbsp;моего девятилетнего сына были большие трудности с&nbsp;концентрацией внимания. Это создавало проблемы с&nbsp;учёбой в&nbsp;школе, как следствие&nbsp;– страх, за&nbsp;страхом&nbsp;– неверие в&nbsp;себя и&nbsp;уход от&nbsp;реальности.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">Несколько занятий с&nbsp;Ольгой Олеговной не&nbsp;просто вылечили, а&nbsp;преобразили моего мальчика. У&nbsp;него исчез страх, значительно вырос уровень концентрации внимания, он стал лучше учиться, уверено себя чувствовать и&nbsp;проявлять тягу к&nbsp;знаниям.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">Ольга Олеговна помогла не&nbsp;только моему сыну, но&nbsp;и&nbsp;мне. В&nbsp;это&nbsp;же время у&nbsp;меня были свои проблемы: сильная депрессия и&nbsp;потеря личности, ощутимая почти физически утрата собственного <span class="tag">Я</span>.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">Благодаря Ольге Олеговне я&nbsp;полностью восстановился как личность, внутри меня появился прочный стержень, и&nbsp;это сразу&nbsp;же почувствовали и&nbsp;окружающие, и&nbsp;я&nbsp;сам. Я&nbsp;стал жить легче и&nbsp;лучше.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 0 15px; padding: 0 0 50px;">Спасибо Вам, дорогая Ольга Олеговна, за&nbsp;возвращенную нам радость бытия!</p>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 bold font-verdana center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0;">
			БЛАГОСЛОВИ ВАС ГОСПОДЬ И ВСЕ ВАШИ ТРУДЫ!
		</p>
		<div style="width: 960px; height: 487px; padding: 0 0 67px 0;">
			<div style="width: 803px; height: 487px; margin: 0 auto;">
				<div class="image-shadow-0" style="width: 803px; height: 487px;">
					<iframe width="803" height="487" src="//www.youtube.com/embed/U8JLxtuE8bE?showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<p class="blue size-18 font-verdana bold center" style="margin: 0 0 22px 0; line-height: 27px;">
			Глубокоуважаемая<br>
			Ольга Олеговна!
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 54px; text-indent: 63px; line-height: 22px;">
			Спасибо Вам огромное и всем	вашим педагогам не только за уроки грамотности, правильного русского<br>
			и английского языков, но и за доброту, свет, любовь и радость, которые Вы дарите людям.
		</p>
		<p class="red size-14 font-verdana bold center" style="margin: 0 0 42px 0; line-height: 22px;">
			БЛАГОСЛОВИ ВАС ГОСПОДЬ<br>
			И ВСЕ ВАШИ ТРУДЫ!
		</p>
		<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 18px 21px 0; text-align: right; line-height: 22px;">
			Даниил Загребаев, 14 лет
		</p>
		<p class="yellow size-14 font-verdana" style="margin: 0 20px 0 0; text-align: right; line-height: 22px; padding: 0 0 50px;">
			<span class="bold">Чемпион России</span> и Москвы по большому теннису;<br>
			<span class="bold">Чемпион Москвы</span> по настольному теннису среди школьных команд;<br>
			<span class="bold">Чемпион Москвы</span> по волейболу и баскетболу среди школьных команд;<br>
			<span class="bold">Чемпион Москвы</span> по забегу на 3 км среди школьных команд;<br>
			<span class="bold">Чемпион Пресненского района</span> по мини-футболу;<br>
			<span class="bold">Капитан сборной</span> команды школы по волейболу;<br>
			<span class="bold">Звонарь и алтарник</span> храма Рождества Пресвятой Богородицы.
		</p>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 0 0 59px 0; padding: 40px 0 0;">
			Спасибо за <span class="tag">Волшебный сеанс</span>!
		</p>
		<p class="red font-verdana right bold size-14 italic" style="line-height: 22px; margin: 0 20px 21px 15px;">Алла Александровна Лейфа, Геленджик<br>8-928-330-95-38 Звоните мне, дам отзыв!</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;"><span class="tag">Волшебный&nbsp;сеанс</span> сэкономил нам самое главное: время, силы, нервы.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">Мой ребёнок не&nbsp;бегает теперь после школы по&nbsp;репетиторам, не&nbsp;сидит до&nbsp;ночи за&nbsp;домашними заданиями.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">Теперь после школы у&nbsp;нас моделирование, плавание, танцы. Общение с&nbsp;друзьями. Компьютер? Да&nbsp;сколько угодно! Учёба даётся легко, буквально играючи.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">А&nbsp;главное&nbsp;<span class="normal">–</span> ребёнок больше не&nbsp;горбится, как&nbsp;старушка, после очередной двойки. Она&nbsp;распрямилась, её голова гордо поднята.</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 21px 15px;">А&nbsp;разве чувство собственного достоинства, уверенность в&nbsp;себе, здоровье, радость детства&nbsp;<span class="normal">–</span> не стоят того?!</p>
		<p class="dark-blue font-verdana size-14" style="line-height: 22px; margin: 0 20px 0 15px; padding: 0 0 50px;">Благодарю Вас, Ольга Олеговна!</p>
	</div>
	<div class="div-shadow_white" style="margin: 0 0 35px;">
		<div style="padding: 40px 0 0; height: 160px;">
			<div style="width: 768px; height: 160px; margin: 0 0 0 28px;">
				<div style="width: 768px; height: 160px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/muradyan.jpg" width="100%" height="100%" alt="Тигран Мурадян">
				</div>
			</div>
		</div>
		<div style="width: 960px; height: 441px; padding: 0 0 25px 0;">
			<div style="width: 290px; height: 441px; float: left; margin: 0 0 0 28px;">
				<div class="image-shadow" style="width: 290px; height: 425px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/muradyan1.jpg" width="100%" height="100%" alt="Тигран Мурадян">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 467px; height: 441px; float: right; margin: 0 164px 0 0;">
				<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 71px 0 24px 0;">
					Дорогая Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0; line-height: 22px;">
					Желаем Вам счастья и процветания<br>
					Вашему благородному Делу!
				</p>
				<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 102px 0; line-height: 22px;">
					Добро, посеянное Вами,<br>
					даёт благодатные всходы!<br>
					Обнимаем Вас,
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 0 0 0; text-align: right; line-height: 22px;">
					Тигран Мурадян, обладатель титула<br>
					<span class="tag">Музыкант Мира</span> ЮНЕСКО (виолончель),<br>
					и Роза Сергеевна, его мама.
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 99px 0 21px 0;">
			Ольге Олеговне Веровенко – по случаю...
		</p>
		<div style="width: 960px; height: 633px; padding: 49px 0 8px 0;">
			<div style="width: 526px; height: 633px; float: left; padding-right: 0px">
				<p class="blue size-14 font-verdana" style="margin: 0 0 42px 0; text-align: right; line-height: 22px;">
					Не всякая страна достойна человека.<br>
					Не всякий человек подходит для страны.<br>
					И ищем мы душой свою святую Мекку,<br>
					Где не живём, но жить заслуженно должны.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 28px; line-height: 22px;">
					Когда у женщины величественна стать,<br>
					А мудростью она – соперница Платону,<br>
					Велит тогда сам Бог ей королевой стать<br>
					И с гордостью носить английскую корону...<br>
					И даже если ей корону не достать,<br>
					И жить приходится в стране с чужим укладом,<br>
					Никто не запретит об Англии мечтать:<br>
					Бродить, как по аллеям собственного сада.<br>
					Слова: <span class="tag">Глаза в глаза глаза не увидать,<br>
					Большое видится на расстоянии</span> –<br>
					Звук не пустой, и верно: можно обладать<br>
					Страной, вкусив заочное о ней познание.<br>
					К тому же, если где-то рядом ходит Некто,<br>
					Кто давней дружбе верен и всегда<br>
					Готов принять участие в любом проекте,<br>
					Он ей подарит горы, реки, города<br>
					Страны, в которую она мечтой стремится,<br>
					Страны, в которой райский её сад.<br>
					И всё пре-всё, о чём мечтается, случится.<br>
					И Некто будет этому безмерно рад.
				</p>
				<p class="yellow size-14 font-verdana center bold" style="margin: 0 0 0 0; line-height: 22px;">
					Борис Николаевич Борисов,<br>
					актер МХАТ.
				</p>
			</div>
			<div style="width: 402px; height: 633px; float: right; margin: 0 0 0 0;">
				<div class="image-shadow" style="width: 402px; height: 617px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/borisov.jpg" width="100%" height="100%" alt="Борис Николаевич Борисов">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<div style="width: 960px; height: 1129px; padding-top: 128px;">
			<div style="width: 486px; height: 1129px; float: left; margin-left: 17px;">
				<div style="width: 486px; height: 629px;">
					<div class="image-shadow-0" style="width: 486px; height: 613px;">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/klokov.jpg" width="100%" height="100%" alt="Вадим Клоков">
					</div>
				</div>
				<div style="width: 420px; height: 315px; margin: 20px 0 0 39px;">
					<div class="image-shadow-0" style="width: 420px; height: 315px;">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/pfJ-ZZTe1Vk?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div style="width: 431px; height: 1129px; float: right; margin: 0 0 0 0;">
				<div style="width: 307px; height: 514px; margin: 0 0 0 58px;">
					<div class="image-shadow" style="width: 307px; height: 498px;">
						<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/borisova.jpg" width="100%" height="100%" alt="Анна Борисова">
					</div>
					<div class="image-shadow-right-1">
					</div>
					<div class="image-shadow-left-1">
					</div>
				</div>
				<p class="light-blue size-18 font-verdana bold center line-height-23" style="margin: 39px 0 24px 0;">
					Эффект Моцарта
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 17px; line-height: 22px;">
					Огромное спасибо за психологические	экзерсисы,<br>
					которые, как моцартовский эффект – секрет<br>
					целительной энергии – восстановили внутреннюю<br>
					гармонию!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 13px 72px 0; text-align: right; line-height: 22px;">
					Анна Борисова,<br>
					музыкант
				</p>
				<p class="red size-14 font-verdana bold center line-height-23" style="margin: 0 65px 21px 0;">
					Подарок от Art Verum Duo
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 10px 38px; line-height: 22px;">
					Для всех выпускников, учеников и педагогов<br>
					школы-студии звучит
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 22px 38px; line-height: 22px;">
					A. Vivaldi – Bassoon Concerto in<br>
					C Minor RV 480, <span class="yellow">ART VERUM DUO</span>
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 0 0 21px 0;">
			Человек – это возможность, а жизнь – это творчество!
		</p>
		<div style="width: 960px; height: 452px; padding: 14px 0 8px 0;">
			<div style="width: 720px; height: 452px; float: left; margin: 0 0 0 15px;">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Милая, нежная, умная и прекрасная, эмоциональная и, самое главное,<br>
					интеллигентная Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Как хорошо звучит Ваше имя: Ольга! Да ещё и Олеговна!!<br>
					Русь!!!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вашей школе – четверть века. Я в три раза старше. Ещё четверть века – и могу отмечать<br>
					100 лет. А вы – полувековой юбилей. И вы будете молоды (вы же сохраните задор<br>
					юности)!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Как там говорил мой знаменитый тёзка Владимир Владимирович?<br>
					«Лет до ста расти нам без старости. Год от года расти нашей	бодрости».
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Я знаю Вас очень давно. Студентка. Я казался Вам старым. А совсем недавно Вы мне<br>
					звонили – и мы выяснили с Вами, что мы оба молоды.<br>
					Так держать!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 35px 0 0; text-align: right; line-height: 22px;">
					Владимир Владимирович Шахиджанян,<br>
					Преподаватель МГУ им. Ломоносова,<br>
					<a class="yellow" href="http://nabiraem.ru/" style="text-decoration: underline; color: rgb(169, 135, 0); padding: 20px 30px; margin: 0 -30px;"><span class="yellow font-verdana size-14 bold">nabiraem.ru</span></a>
				</p>
			</div>
			<div style="width: 207px; height: 452px; float: right; margin: 0 14px 0 0;">
				<div class="image-shadow" style="width: 207px; height: 308px; margin: 12px 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/shahidjanyan.jpg" width="100%" height="100%" alt="Владимир Владимирович Шахиджанян">
				</div>
				<div class="image-shadow-right-1" style="width: 103px; background-position: -211px 0px;">
				</div>
				<div class="image-shadow-left-1" style="width: 104px;">
				</div>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 51px 0 21px 0;">
			Желаем здоровья!
		</p>
		<div style="width: 960px; height: 468px; padding: 43px 0 8px 0;">
			<div style="width: 470px; height: 468px; float: left; padding-right: 0px">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 17px; line-height: 22px;">
					Глубокоуважаемая  Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 17px; line-height: 22px;">
					Большое Вам спасибо за помощь, поддержку и понимание!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 17px; line-height: 22px;">
					Желаем дальнейшего процветания Школе, а Вам лично –<br>
					успехов  и здоровья!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 106px 13px 22px 0; text-align: right; line-height: 22px;">
					С уважением,<br>
					Реваз Мукерия, врач-кардиолог,<br>
					и Анна Феликсовна, его мама,<br>
					врач-онколог, доктор медицинских наук.
				</p>
			</div>
			<div style="width: 459px; height: 468px; float: right; margin: 0 16px 0 0;">
				<div class="image-shadow" style="width: 455px; height: 374px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/mukeria.jpg" width="100%" height="100%" alt="Реваз Мукерия">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="dark-blue size-14 font-arial bold center" style="margin: 24px 0 0 0; line-height: 16px;">
					Реваз Мукерия (справа) рядом с академиком Лео Бокерия,<br>
					директором института им. Бакулева.<br>
					<span class="blue">19-й Всероссийский конгресс кардиологов, декабрь 2013.</span>
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center line-height-23" style="margin: 82px 0 21px 0;">
			От дислексии к нейролингвистике
		</p>
		<div style="width: 960px; height: 615px; padding: 47px 0 9px 0;">
			<div style="width: 415px; height: 615px; float: left; margin: 0 0 0 27px;">
				<div class="image-shadow" style="width: 415px; height: 544px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/duel.jpg" width="100%" height="100%" alt="Игорь Дуэль">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 484px; height: 615px; float: right;">
				<p class="dark-blue size-14 font-verdana" style="margin: -4px 0 21px 0; line-height: 22px;">
					Лет 20 назад выяснилось, что мой младший сын страдает<br>
					хронической безграмотностью. Тут узнали про Веровенко.<br>
					Первые её объяснения своего метода показались мне<br>
					неубедительными.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Но вскоре сын стал писать почти стопроцентно грамотно. Кто<br>
					был прав в нашей полемике, сомнений не осталось. Тогда же –<br>
					именно от Ольги Олеговны – узнал я слово «дислексия».
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					А года два назад обнаружилось, что мой старший внук вполне<br>
					может написать слово «собака» с буквой «а» в первом слоге.<br>
					Да ещё почему-то щека у красивого отрока дёргается от<br>
					нервного тика. Мы эти неурядицы не связывали. А Ольга<br>
					Олеговна связала. Так я узнал ещё одно новое слово –<br>
					«нейролингвистика».
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Какие результаты получились – понятно. Если б Веровенко не<br>
					справилась, с какой стати стал бы я это писать в Юбилейном<br>
					панегирике?!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					С четвертьвековым юбилеем Вас, Ольга Олеговна! Новых Вам<br>
					удач и новых слов, вбирающих в себя незнакомые прежде<br>
					словесникам понятия.
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 27px 0 0; text-align: right; line-height: 22px;">
					Член Союза писателей Москвы<br>
					Игорь Дуэль,<br>
					осчастливленный Вами отец и дед
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 50px 0 42px 0;">
			Привет из Америки!
		</p>
		<div style="width: 960px; height: 473px; padding: 16px 0 8px 0;">
			<div style="width: 421px; height: 473px; float: left; padding-right: 0px">
				<p class="dark-blue size-14 font-verdana center" style="margin: 83px 0 21px 0; line-height: 22px;">
					Я занимался с Ольгой Олеговной – и сдал<br>
					экзамен на отлично!
				</p>
				<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 21px 0; line-height: 22px;">
					Спасибо огромное! Самые искренние<br>
					поздравления Школе в связи с Юбилеем!
				</p>
				<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 43px 0; line-height: 22px;">
					Сейчас учусь в Академии в городе Керри (штат<br>
					Северная Каролина).	Приеду в Россию –<br>
					увидимся!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 32px 0 0; text-align: right; line-height: 22px;">
					Ваня Аставин, 15 лет,<br>
					США
				</p>
			</div>
			<div style="width: 428px; height: 473px; float: right; margin: 0 31px 0 0;">
				<div class="image-shadow" style="width: 428px; height: 443px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/astavin.jpg" width="100%" height="100%" alt="Ваня Аставин">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 101px 0 36px 0;">
			Примите пожелания счастья!
		</p>
		<div style="width: 960px; height: 369px; padding: 0 0 8px 0;">
			<div style="width: 588px; height: 369px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 588px; height: 353px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/luzhkov.jpg" width="100%" height="100%" alt="Юрий Лужков">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 342px; height: 369px; float: right; margin: 0px">
				<p class="blue size-18 bold font-verdana center line-height-23" style="margin: 94px 0 48px 0;">
					Примите<br>
					пожелания счастья, здоровья,<br>
					мира и благополучия!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 0 0 0; text-align: right; line-height: 22px;">
					Юрий Михайлович Лужков<br>
					экс-мэр Москвы
				</p>
			</div>
		</div>
		<p class="light-blue bold size-24 font-verdana center" style="margin: 105px 0 0 0;">
			Диплом Правительства Москвы
		</p>
		<p class="blue bold size-18 font-verdana center" style="margin: -5px 0 0 0;">
			<span class="tag">За вклад в развитие столицы России</span>
		</p>
		<div style="width: 960px; height: 534px; padding: 58px 0 8px 0;">
			<div style="width: 310px; height: 534px; float: left; padding-right: 0px">
				<p class="yellow size-14 font-verdana bold center" style="margin: 185px 0 0 0; line-height: 22px;">
					<span class="tag">ИСКРЕННЕ БЛАГОДАРИМ ВАС<br>
					ЗА ВАШЕ ВНИМАНИЕ К МОСКВЕ<br>
					И ВАШ ВКЛАД В РАЗВИТИЕ<br>
					СТОЛИЦЫ	РОССИИ.</span>
				</p>
			</div>
			<div style="width: 579px; height: 534px; float: right; margin: 0 47px 0 0;">
				<div class="image-shadow in" style="width: 579px; height: 518px; cursor: pointer;">
					<a href="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/diplom-big.jpg"><img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/diplom.jpg" width="100%" height="100%" alt="Диплом"></a>
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 104px 0 54px 0;">
			Вы открыли мне путь в науку!
		</p>
		<div style="width: 960px; height: 459px; padding: 15px 0 25px 0;">
			<div style="width: 432px; height: 459px; float: left; margin: 0 0 0 33px;">
				<div class="image-shadow" style="width: 432px; height: 443px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/fomina.jpg" width="100%" height="100%" alt="Ольга Фомина">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 473px; height: 459px; float: right;">
				<p class="dark-blue size-14 font-verdana center line-height-23" style="margin: 0 0 21px 0;">
					Бесценная Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Занятия в Вашей школе по методу «Врождённая	грамотность»<br>
					открыли мне путь в науку. Благодаря Вашей системе обучения<br>
					я смогла сдать экзамен по литературе и поступить в<br>
					университет им.М.В.Ломоносова на исторический факультет!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					На протяжении всего обучения в университете и при<br>
					написании диссертации на соискание учёной степени<br>
					кандидата исторических наук я всегда с благодарностью<br>
					вспоминала занятия в Вашей школе.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Считаю, что Ваше открытие новой системы	обучения<br>
					грамотности – настоящая сенсация! Уверена, что ещё много<br>
					поколений детей, попав в Вашу школу, смогут избавиться от<br>
					комплекса неудачника, поверить в себя и кардинально<br>
					изменить свою жизнь.
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 0 0 0; text-align: right; line-height: 22px;">
					Всегда Ваша,<br>
					Ольга Фомина, кандидат исторических наук,<br>
					Экскурсовод Музеев Московского Кремля
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 102px 0 49px 0;">
			Школа радости моей...
		</p>
		<div style="width: 960px; height: 527px; padding: 0 0 8px 0;">
			<div style="width: 493px; height: 527px; float: left; padding-left: 40px;">
				<p class="dark-blue size-14 font-verdana center line-height-23" style="margin: 0 58px 42px 0;">
					Дорогая Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Поздравляю Вас и всех Ваших соратников с замечательным<br>
					Юбилеем Вашей Школы.
				</p>
				<p class="light-blue size-14 font-verdana bold" style="margin: 0 0 21px 0; line-height: 22px;">
					Такой хороший Юбилей<br>
					У школы Радости моей!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Вы в жизнь открыли дверь и дали Путь – и дочери, и внуку.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 42px 0; line-height: 22px;">
					От всей семьи желаю  творческих	достижений, успехов,<br>
					удачи в претворении	задуманного и отличного здоровья!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 51px 0 0; text-align: right; line-height: 22px;">
					С низким поклоном и благодарностью,<br>
					Ваша<br>
					Светлана Фроловна,<br>
					(на фото в центре), врач
				</p>
			</div>
			<div style="width: 419px; height: 527px; float: right; margin: 0 7px 0 0;">
				<div class="image-shadow" style="width: 415px; height: 511px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/frolovna.jpg" width="100%" height="100%" alt="Ольга Фомина">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 102px 0 52px 0;">
			Спасибо за чудеса!
		</p>
		<div style="width: 960px; height: 520px; padding: 0 0 25px 0;">
			<div style="width: 478px; height: 520px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 474px; height: 424px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/bedina.jpg" width="100%" height="100%" alt="Христина Бедина">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 449px; height: 474px; float: right;">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					На курсы <span class="tag">Репетитор</span> меня привела подружка. Мы тогда<br>
					заканчивали школу. Впереди было поступление в институт,<br>
					а моя грамотность не просто хромала – она ездила на<br>
					инвалидной коляске. Появилась стойкая ненависть к<br>
					учебному процессу, к учебникам русского языка, к<br>
					Розенталю.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					И вдруг эти курсы!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Туда мы просто летели –	никакой	зубрежки, нескучный<br>
					учитель как-то так все объяснял, что русский язык перестал<br>
					быть вражеским.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					На вступительный диктант в ИнЯз Мориса Тореза я шла с<br>
					полной уверенностью, что все смогу. Теперь у меня за<br>
					плечами почти двадцать лет переводческой работы.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Я бесконечно благодарна Вам за тот счастливый билет,<br>
					который я вытащила в далеком 90 году. Спасибо за чудеса,<br>
					которые	вы творите!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 7px 21px 0; text-align: right; line-height: 22px;">
					С уважением,<br>
					Христина Бедина, переводчик.
				</p>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					Педагогом Христины был Олег Анатольевич <br>
					Корионов (см.ниже). Вот и свиделись!
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 93px 0 64px 0;">
			Первая четверть – на ура!
		</p>
		<div style="width: 960px; height: 493px; padding: 0 0 8px 0;">
			<div style="width: 454px; height: 494px; float: left; padding-left: 28px;">
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Как же классно и весело было делать первые шаги с<br>
					<span class="tag">Врождённой грамотностью</span>!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Всё просто: тест – на входе, тест – на выходе. Никакой<br>
					зауми: ни для учеников, ни для преподавателей. Методика –<br>
					как хорошая	машина: сел и поехал.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					... Цифра 25 состоит из двойки и пятёрки. Символично:<br>
					тысячи и тысячи школяров благодаря методике Ольги<br>
					Веровенко превратились за эти годы из двоечников в<br>
					отличников!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 84px 0; line-height: 22px;">
					Первая четверть – на ура! Вторая только начинается.
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 10px 42px 0; text-align: right; line-height: 22px;">
					Олег Корионов,<br>
					педагог курсов <span class="tag">Репетитор</span> первого состава,<br>
					а ныне писатель и драматург.
				</p>
				<p class="blue size-14 font-verdana bold" style="margin: 0 0 0 0; line-height: 22px;">
					P.S. Христина, я тебя узнал. Какая ты стала красивая!
				</p>
			</div>
			<div style="width: 413px; height: 493px; float: right; margin: 0 35px 0 0;">
				<div class="image-shadow" style="width: 413px; height: 477px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/korionov.jpg" width="100%" height="100%" alt="Олег Корионов">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 106px 0 55px 0;">
			Спортсмены желают успеха!
		</p>
		<div style="width: 960px; height: 413px; padding: 0 0 25px 0;">
			<div style="width: 462px; height: 413px; float: left; margin: 0 0 0 27px;">
				<div class="image-shadow" style="width: 462px; height: 397px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/tatjanchenko.jpg" width="100%" height="100%" alt="Сергей Татьянченко">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 423px; height: 413px; float: right;">
				<p class="dark-blue size-14 font-verdana" style="margin: 21px 0 62px 0; line-height: 22px;">
					Я и мои воспитанники от всей души поздравляем Ольгу<br>
					Олеговну с юбилеем курсов <span class="tag">Репетитор</span>, желаем<br>
					дальнейшего процветания, творческих успехов!
				</p>
				<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 13px 21px 0; text-align: right;">
					С уважением,
				</p>
				<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 13px 21px 0; text-align: right;">
					Старший тренер СДЮШОР плавания<br>
					и прыжков в	воду ЦСКА,<br>
					Судья международной категории
				</p>
				<p class="yellow size-14 font-verdana bold line-height-23" style="margin: 0 13px 0 0; text-align: right;">
					Сергей Татьянченко
				</p>
				<p class="blue size-14 font-verdana" style="margin: 63px 0 0 0; line-height: 22px;">
					На фото: Сборная Олимпийского резерва по плаванию<br>
					во главе с тренером.
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 66px 0 54px 0;">
			Памятник нужно поставить Вам, Ольга Олеговна!
		</p>
		<div style="width: 960px; height: 389px; padding: 0 0 25px 0;">
			<div style="width: 380px; height: 389px; float: left; margin: 0 0 0 19px;">
				<p class="dark-blue size-14 font-verdana" style="margin: 12px 0 21px 0; line-height: 22px;">
					Я училась на курсах <span class="tag">Репетитор</span> по методу<br>
					<span class="tag">Врожденная грамотность</span> в 95-96 гг.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					После Ваших чудо-курсов я приобрела<br>
					уверенность в своих силах, поверила	в себя.<br>
					Результат был уникальный! На всю жизнь<br>
					запомнилась фраза школьного учителя по<br>
					русскому языку: <span class="tag">Тебе нужно поставить памятник.<br>
					Это первый случай в моей 40-летней практике.</span>
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 63px 0; line-height: 22px;">
					Она-то не знала, что памятник нужно поставить<br>
					Вам, Ольга Олеговна!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 9px 0 0; text-align: right; line-height: 22px;">
					Анастасия Вишнякова,<br>
					юрист
				</p>
			</div>
			<div style="width: 518px; height: 389px; float: right; margin: 0 16px 0 0;">
				<div class="image-shadow" style="width: 518px; height: 373px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/vishnyakova.jpg" width="100%" height="100%" alt="Анастасия Вишнякова, юрист">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 89px 0 53px 0;">
			Фантастические результаты!
		</p>
		<div style="width: 960px; height: 400px; padding: 0 0 25px 0;">
			<div style="width: 463px; height: 400px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 463px; height: 346px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/children.jpg" width="100%" height="100%" alt="Дети Антона Борисовича">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="blue size-14 font-arial bold center" style="margin: 16px 0 21px 0; line-height: 22px;">
					На фото: дети Антона Борисовича
				</p>
			</div>
			<div style="width: 459px; height: 400px; float: right;">
				<p class="dark-blue size-14 font-verdana center" style="margin: 0 0 16px 0; line-height: 22px;">
					Дорогая Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
					Так сложилось, что я узнал о ваших курсах 20 лет назад,<br>
					когда сам поступал в институт, но тогда обошёлся без вашей<br>
					помощи, однако сейчас, воспитывая собственных детей,<br>
					вспомнил и обратился к Вам.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 16px 0; line-height: 22px;">
					Невероятно благодарен вам за труд и фантастичесие<br>
					результаты, достигнутые детьми. После ваших занятий дети<br>
					обрели уверенность в себе и своих силах, подтянули русский<br>
					до высшего уровня, и остальные предметы также стали<br>
					даваться им значительно легче.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 43px 0; line-height: 22px;">
					Еще раз огромное спасибо Вам за Ваш труд.
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 7px 0 0; text-align: right; line-height: 22px;">
					Антон Борисович Польняков,<br>
					художник-дизайнер ювелирных изделий
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 52px 0 47px 0;">
			Низкий Вам поклон!
		</p>
		<div style="width: 960px; height: 482px; padding: 0 0 25px 0;">
			<div style="width: 359px; height: 482px; float: left; margin: 0 0 0 32px;">
				<div class="image-shadow" style="width: 359px; height: 466px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/kudryavcev.jpg" width="100%" height="100%" alt="Алексей Кудрявцев">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 523px; height: 482px; float: right;">
				<p class="dark-blue size-14 font-verdana" style="margin: 29px 0 21px 0; line-height: 22px;">
					Помню, как мне трудно было улучшить свой уровень русского<br>
					языка в школе по стандартным программам. Много методик<br>
					было перепробовано, со многими преподавателями усердно<br>
					занимался, но ожидаемого результата не было.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Спасибо Ольге Олеговне за её собственную методику, которая<br>
					позволила буквально за две недели существенно улучшить мою<br>
					грамотность и правописание, а через два месяца стать лучшим<br>
					в гимназии!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					До сих пор с радостью вспоминаю наши интересные и<br>
					увлекательные занятия!
				</p>
				<p class="blue size-14 font-verdana" style="margin: 0 0 63px 0; line-height: 22px;">
					Спасибо Вам и низкий поклон, Ольга Олеговна!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 46px 0 0; text-align: right; line-height: 22px;">
					Алексей Кудрявцев
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 92px 0 61px 0;">
			Посвящается Ольге Олеговне Веровенко
		</p>
		<div style="width: 960px; height: 418px; padding: 0 0 25px 0;">
			<div style="width: 366px; height: 418px; float: left; margin: 0 0 0 32px;">
				<div class="image-shadow" style="width: 366px; height: 364px;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/friend.jpg" width="100%" height="100%" alt="Собака - друг человека">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
				<p class="dark-blue size-14 font-arial bold center" style="margin: 16px 0 0 0; line-height: 16px;">
					Пусть всегда твои друзья<br>
					Будут верными, как я!
				</p>
			</div>
			<div style="width: 483px; height: 418px; float: right;">
				<p class="dark-blue size-14 font-verdana" style="margin: 64px 0 21px 0; line-height: 22px;">
					Все в мире вертится, и рано или поздно<br>
					Всему однажды предстоит забыться.<br>
					Нетленными останутся лишь Звезды,<br>
					И это значит, нужно к ним стремиться!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 63px 0; line-height: 22px;">
					Ведь жизнь сложна одной закономерностью –<br>
					С теченьем лет она все сгладит без следа...<br>
					И чтобы не граничить с безызвестностью,<br>
					Должна у избранных быть личная звезда!!!
				</p>
				<p class="yellow size-14 font-verdana bold" style="margin: 0 148px 0 0; text-align: right; line-height: 22px;">
					Антоша Мартынов,<br>
					8-й класс.
				</p>
			</div>
		</div>
		<p class="light-blue size-24 font-verdana bold center" style="margin: 75px 0 64px 0;">
			Привет с Олимпиады!
		</p>
		<div style="width: 960px; height: 649px; padding: 0 0 0 0;">
			<div style="width: 417px; height: 649px; float: left; margin: 0 0 0 15px;">
				<div class="image-shadow" style="width: 417px; height: 606px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/karahanov.jpg" width="100%" height="100%" alt="Караханов Павел">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
			<div style="width: 490px; height: 649px; float: right;">
				<p class="dark-blue size-14 font-verdana center" style="margin: 2px 0 21px 0; line-height: 22px;">
					Дорогая Ольга Олеговна!
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					<span style="margin: 0 0 0 4px;">Я горжусь тем, что стоял бок о бок с Вами в период становления</span><br>
					и развития курсов и	проработал под Вашим умелым<br>
					руководством больше 10 лет – с 1989 по 2000 годы. Я помню,<br>
					как много было у нас смелых и творческих решений,<br>
					незабываемых встреч с учениками из России и США, помню, как<br>
					по Вашему распоряжению я прошёл стажировку в штате<br>
					Коннектикут, что дало мне неоценимую помощь в моей<br>
					дальнейшей карьере.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Я и моя семья никогда не забудем Вашу моральную поддержку в<br>
					трудные годы перестройки в нашей стране, когда Вы делали всё<br>
					возможное, чтобы мои знания и умения проявились в полную<br>
					силу, направляя меня преподавать в самые разные по уровню<br>
					знанийгруппы, которые были организованы	как в школе, так и в<br>
					различных офисах и компаниях, а весь наш дружный коллектив<br>
					с большой энергией работал под руководством такого<br>
					замечательного человека, как Вы, человека, в котором<br>
					прекрасные организаторские способности и талант<br>
					преподавателя сочетались таким образом,	что курсы <span class="tag">Репетитор</span><br>
					в России были и остаются в лидерах, не сходят со страниц газет<br>
					и журналов и всегда на устах многих тысяч учеников.
				</p>
				<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 0; line-height: 22px;">
					Последние 8 лет я работаю в оргкомитете по подготовке Зимних<br>
					Олимпийских игр в Сочи в качестве специалиста по иностранным<br>
					языкам в функции <span class="tag">Language services</span>, где тоже начинал с<br>
					истоков, ещё с заявочного комитета, когда мы готовились<br>
					представить Сочи как претендента на право проведения игр в<br>
					2014 году и победили в 2007 в далёкой Гватемале.
				</p>
			</div>
		</div>
		<p class="dark-blue size-14 font-verdana" style="margin: 13px 0 21px 24px; line-height: 22px;">
			За это время мне удалось познакомиться со многими известными людьми, выдающимися спортсменами и их наставниками,<br>
			поработать на Зимних Олимпийских играх в Ванкувере в 2010 году.<br>
			И вот теперь Зимние Олимпийские игры в Сочи. Это на сегодняшний день один из самых крупных проектов страны. И в<br>
			том, что я причастен к этому, есть немалая Ваша заслуга, дорогая Ольга Олеговна.<br>
		</p>
		<p class="dark-blue size-14 font-verdana" style="margin: 0 0 21px 24px; line-height: 22px;">
			Ещё раз от всей души поздравляю Вас и весь Ваш коллектив с юбилеем и желаю, чтобы перед вами открылись новые,<br>
			поистине олимпийские возможности и сбылись самые заветные мечты!
		</p>
		<p class="yellow size-14 font-verdana bold" style="margin: 0 30px 84px 0; text-align: right; line-height: 22px;">
			С уважением,<br>
			Караханов Павел<br>
			Руководитель проекта по лингвистике<br>
			Оргкомитет «Сочи-2014»
		</p>
		<p style="margin: 0;"><a style="display: block; padding-top: 86px; margin-top: -86px;" name="smi"></a></p>
		<p class="light-blue size-24 font-verdana center bold" style="margin-bottom: 44px;">
			СМИ о нас
		</p>
		<div style="width: 504px; height: 419px; margin:0 auto;">
			<div class="image-shadow" style="width: 504px; height: 403px;">
				<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/globe2.jpg" width="100%" height="100%" alt="Пресса">
			</div>
			<div class="image-shadow-right-1">
			</div>
			<div class="image-shadow-left-1">
			</div>
		</div>
		<p class="red size-18 font-verdana bold line-height-23" style="margin: 93px 20px 33px 18px;">
			Публикации в советской и российской прессе
		</p>
		<ol class="grey size-14 font-verdana" style="margin: 1px 0 0 61px; line-height: 24px;">
			<li><span class="blue bold">«Правда»</span><span class="dark-blue size-14 font-verdana">, газета, 9 апреля 1989.</span></li>
			<li><span class="blue bold">«Труд»</span><span class="dark-blue size-14 font-verdana">, газета, 8 декабря 1989.</span></li>
			<li><span class="blue bold">«Московский комсомолец»</span><span class="dark-blue size-14 font-verdana">, газета, 6 ноября 1989.</span></li>
			<li><span class="blue bold">«Московская правда»</span><span class="dark-blue size-14 font-verdana">, газета,13 января 1990.</span></li>
			<li><span class="blue bold">«Московский комсомолец»</span><span class="dark-blue size-14 font-verdana">, газета, 27 февраля 1990.</span></li>
			<li><span class="blue bold">«Неделя»</span><span class="dark-blue size-14 font-verdana">, газета, № 18, 1990.</span></li>
			<li><span class="blue bold">«Голос Родины»</span><span class="dark-blue size-14 font-verdana">, газета, № 10, 1990.</span></li>
			<li><span class="blue bold">«Коммерсантъ»</span><span class="dark-blue size-14 font-verdana">, газета, № 31, 1991.</span></li>
			<li><span class="blue bold">«Собеседник»</span><span class="dark-blue size-14 font-verdana">, еженедельник, № 41, 1991.</span></li>
			<li><span class="blue bold">«Литературная газета»</span><span class="dark-blue size-14 font-verdana">, № 24, 1992..</span></li>
			<li><span class="blue bold">«Юность»</span><span class="dark-blue size-14 font-verdana">, журнал, 1992.</span></li>
			<li><span class="blue bold">«Собеседник»</span><span class="dark-blue size-14 font-verdana">, еженедельник, № 44, 1993.</span></li>
			<li><span class="blue bold">«Учительская газета»</span><span class="dark-blue size-14 font-verdana">, 23 января 1996.</span></li>
			<li><span class="blue bold">«Учительская газета»</span><span class="dark-blue size-14 font-verdana">, № 18, 1997.</span></li>
			<li><span class="blue bold">«Изобретатель и рационализатор»</span><span class="dark-blue size-14 font-verdana">, журнал, № 1, 1997.</span></li>
			<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 40, 1998.</span></li>
			<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 41, 1998.</span></li>
			<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 42, 1998.</span></li>
			<li><span class="lilac bold" style="text-decoration: underline">«Аргументы и факты»</span><span class="dark-blue size-14 font-verdana">, газета, № 43, 1998.</span></li>
			<li><span class="blue bold">«Семейный совет»</span><span class="dark-blue size-14 font-verdana">, газета, № 1, 1999.</span></li>
			<li><span class="blue bold">«Лики возрождения»</span><span class="dark-blue size-14 font-verdana">, энциклопедия, том II, М., Витязь-пресс, 1999.</span></li>
			<li><span class="blue bold">«Элитное образование»</span><span class="dark-blue size-14 font-verdana">, журнал, М., № 12, 2001.</span></li>
			<li><span class="blue bold">«Элитное образование»</span><span class="dark-blue size-14 font-verdana">, журнал, М., № 2, 2002.</span></li>
		</ol>
		<div style="width: 960px; height: 252px; padding: 49px 0 43px 0;">
			<div style="width: 470px; height: 252px; float: left; padding-right: 0px">
				<p class="red size-14 font-verdana bold line-height-23" style="margin: 0 0 22px 30px;">
					Публикации в зарубежной прессе:
				</p>
				<ol class="grey size-14 font-verdana" style="margin: 1px 0 0 61px; line-height: 24px;">
					<li><span class="blue bold">Canton news</span><span class="dark-blue size-14 font-verdana">, October 18, 1990.</span></li>
					<li><span class="blue bold">Chicago Tribune</span><span class="dark-blue size-14 font-verdana">, August 20, 1991</span></li>
				</ol>
				<p class="red size-14 font-verdana bold line-height-23" style="margin: 40px 0 20px 30px;">
					Научные публикации:
				</p>
				<p class="dark-blue size-14 font-verdana line-height-23" style="margin: 0 0 22px 30px;">
					<span class="blue bold">Бородюк Н.Р.</span> Биоэнергетические механизмы<br>
					приспособительных реакций. Монография.<br>
					М., Эльф-М, 2000, глава 8.2.
				</p>
			</div>
			<div style="width: 343px; height: 252px; float: right; margin: 0 143px 0 0;">
				<div class="image-shadow" style="width: 343px; height: 195px; margin: 0 0 0 0;">
					<img src="http://verovenko.ru/wp-content/themes/twentyfourteen/images/otzivi/news.jpg" width="100%" height="100%" alt="Новости">
				</div>
				<div class="image-shadow-right-1">
				</div>
				<div class="image-shadow-left-1">
				</div>
			</div>
		</div>
		<p class="dark-blue font-verdana size-18 center line-height-23" style="margin: 83px 0 50px 0;">
			<a href="[exec] include get_template_directory().'/links.php'; echo $verovenko; [/exec]" style="text-decoration: underline; color: #4A4A4A; padding: 20px 30px; margin: 0 -30px;"><span class="yellow bold font-verdana size-18">Профессор Ольга Олеговна Веровенко</span></a>
		</p>
		<div class="compass-wrapper" style="padding: 0 0 50px;">
			[exec] include_once get_template_directory().'/compas/compas-all.php'; [/exec]
			<div style="width: 350px; margin: 0 auto 0; height: 60px; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/butterflies.gif);">
			</div>
		</div>
	</div>
</div>
<div id="img_container"><img src=""></div>