[raw]
<div class="div-wrapper_padding size-16 _js-choice _js-scale-font-size _js-blur" style="width: 70em; z-index: 11; position: relative;margin: 4.5em auto 0;overflow: unset;">
  <div class="clearfix-hook">
    <div class="white font-verdana" style="margin: 0;width: 35%;float: left; box-sizing: border-box;">
      <div style="margin: 0 -10em 5.5em 0;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Чудо будет!</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_stoimost; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Русский язык с&nbsp;Волшебницей</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">В&nbsp;игре!</span>
          </a>
        </p>
      </div>
      <div style="margin: 0 0 5.5em;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Дислексия, брысь!</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Коррекция тяжёлых проблем</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">обучения и поведения</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_korrekciya_vibor; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">под гипнозом</span>
          </a>
        </p>
      </div>
      <div style="margin: 0 0 5.5em;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_vstuplenie; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Волшебный сеанс</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_vstuplenie; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Коррекция небольших и средних проблем</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $volshebniy_seans_vstuplenie; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">обучения за один сеанс</span>
          </a>
        </p>
      </div>
      <div style="margin: 0 -5em 0 0;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_stoimost_prishelec; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Английский язык</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_stoimost_prishelec; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Уникальная нейролингвистическая</span>
          </a>
        </p>
        <p class="font-verdana italic center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $anglijskij_yazyk_stoimost_prishelec; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">технология обучения</span>
          </a>
        </p>
      </div>
    </div>
    <div class="white font-verdana" style="margin: 0;width: 30%;float: left; box-sizing: border-box;">
      <p class="bold font-verdana center" style="font-size: 1.6em;margin: 9em 0 0.2em; line-height: normal;">
        <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Скидки</span><br>
        <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">для</span><br>
        <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Persona Grata</span>
      </p>
    </div>
    <div class="white font-verdana" style="margin: 0;width: 35%;float: right; box-sizing: border-box;">
      <div style="margin: 0 0 5.5em -10em;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Король Казимир</span>
          </a>
        </p>
        <p class="italic font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Нейролингвистические</span>
          </a>
        </p>
        <p class="italic font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $nl_studio; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">сайты Premium</span>
          </a>
        </p>
      </div>
      <div style="margin: 0 0 7.9em;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_psihologiya; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Четвёртое измерение</span>
          </a>
        </p>
        <p class="italic font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $chudo_budet_psihologiya; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">NL-психология для взрослых</span>
          </a>
        </p>
      </div>
      <div style="margin: 0 0 5.5em;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $obuchenie_gipnozom_ceni; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Обучение под гипнозом</span>
          </a>
        </p>
        <p class="italic font-verdana center" style="font-size: 1em;margin: 0 0 0; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $obuchenie_gipnozom_ceni; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Любой предмет&nbsp;– математика,</span>
          </a>
        </p>
        <p class="italic font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $obuchenie_gipnozom_ceni; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">физика, химия, русский и т.д.</span>
          </a>
        </p>
      </div>
      <div style="margin: 0 0 0 -5em;">
        <p class="bold font-verdana center" style="font-size: 1.5em;margin: 0 0 0.2em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_pavlin; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span style="background-color: rgba(67,119,51,0); word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black; border-bottom: 1px solid white;">Врождённая грамотность</span>
          </a>
        </p>
        <p class="italic font-verdana center" style="font-size: 1em;margin: 0 0 4em; line-height: normal;">
          <a href="[exec] include get_template_directory().'/links.php'; echo $vrozhdenka_pavlin; [/exec]" style="text-decoration: none; color: white; padding: 20px 30px; margin: 0 -30px; position: relative;">
            <span class="tag" style="background-color: rgba(67,119,51,0); border-radius: 1em;padding: 0 0.4em;word-break: break-word;-webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone;text-shadow: 2px 2px 3px black;">Всего 12 занятий&nbsp;– и ошибок нет!</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="b-video-back _js-choice" data-video-name="persona-grata/ring" data-video-id="video-ring" data-video-start="0.01" data-video-start-delay="100" data-video="//verovenko.ru/wp-content/themes/twentyfourteen/images/persona-grata/ring" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; overflow: hidden; margin: 0; z-index: 10;">
  <div style="width: 100%; height: 100%; background-image: url(http://verovenko.ru/wp-content/themes/twentyfourteen/images/persona-grata/ring.jpg);background-size: cover; background-position: center; position: fixed;"></div>
</div>
[/raw]